Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @daviwil, @sadasant, @richardpark-msft, @xingwu1, @matthchr, @bgklein, @southpolesteve, @ramya0820, @jonathandturner, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @qiaozha, @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

update lock file
  common/config/rush/pnpm-lock.yaml
Owners: @bterlson

[samples] Moved run-samples to common/scripts
  common/scripts/prep-samples.js
  common/scripts/run-samples.js
  sdk/storage/storage-file-share/samples/javascript/run.js
  sdk/storage/storage-file-share/samples/typescript/src/run.ts
Owners: @mikeharder, @KarishmaGhiya, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

Rename DocumentStatistics
  sdk/textanalytics/cognitiveservices-textanalytics/review/cognitiveservices-textanalytics.api.md
  sdk/textanalytics/cognitiveservices-textanalytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/detectLanguageResult.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/extractKeyPhrasesResult.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/extractLinkedEntitiesResult.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/generated/models/index.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/generated/models/mappers.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/index.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/recognizeEntitiesResult.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/textAnalyticsResult.ts
  sdk/textanalytics/cognitiveservices-textanalytics/swagger/README.md
Owners: @bterlson, @ramya-rao-a

Rename RequestStatistics
  sdk/textanalytics/cognitiveservices-textanalytics/review/cognitiveservices-textanalytics.api.md
  sdk/textanalytics/cognitiveservices-textanalytics/src/analyzeSentimentResultCollection.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/detectLanguageResultCollection.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/extractKeyPhrasesResultCollection.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/extractLinkedEntitiesResultCollection.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/generated/models/index.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/generated/models/mappers.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/index.ts
  sdk/textanalytics/cognitiveservices-textanalytics/src/recognizeEntitiesResultCollection.ts
  sdk/textanalytics/cognitiveservices-textanalytics/swagger/README.md
Owners: @bterlson, @ramya-rao-a

Rename input parameter
  sdk/textanalytics/cognitiveservices-textanalytics/review/cognitiveservices-textanalytics.api.md
  sdk/textanalytics/cognitiveservices-textanalytics/src/textAnalyticsClient.ts
Owners: @bterlson, @ramya-rao-a

[storage-file-share] Changed proxyAuth samples to exit if proxy information is not provided.
  common/scripts/run-samples.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/samples/javascript/proxyAuth.js
  sdk/storage/storage-file-share/samples/typescript/src/proxyAuth.ts
Owners: @mikeharder, @KarishmaGhiya, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

[event-hubs](2.x) adds tests to validate unique receiver names
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Owners: @ramya-rao-a, @chradek

[storage-file-share] changed iterators-handles to exit if share/directory information is not provided with a nice error
  sdk/storage/storage-file-share/samples/javascript/iterators-handles.js
  sdk/storage/storage-file-share/samples/typescript/src/iterators-handles.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

[event-hubs](2.x) appends a unique id to user-provided receive name
  sdk/eventhub/event-hubs/src/linkEntity.ts
Owners: @ramya-rao-a, @chradek

[event-hubs](2.x) updates changelog
  sdk/eventhub/event-hubs/changelog.md
Owners: @ramya-rao-a, @chradek

[run-samples] Error handling
  common/scripts/run-samples.js
Owners: @mikeharder, @KarishmaGhiya

[event-hubs](2.x) update package version to 2.1.5
  sdk/eventhub/event-hubs/package.json
Owners: @ramya-rao-a, @chradek

[Storage] remove BreakingChanges.md files (#6489)
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-file-datalake/BreakingChanges.md
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-queue/BreakingChanges.md
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

[storage-file-share] Fixed sample errors due to prep-samples tree contamination
  sdk/storage/storage-file-share/samples/typescript/src/iterators-handles.ts
  sdk/storage/storage-file-share/samples/typescript/src/proxyAuth.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

[storage-file-share] Changed from exceptions to a simple return in cases that should not halt CI
  sdk/storage/storage-file-share/samples/javascript/iterators-handles.js
  sdk/storage/storage-file-share/samples/javascript/proxyAuth.js
  sdk/storage/storage-file-share/samples/typescript/src/iterators-handles.ts
  sdk/storage/storage-file-share/samples/typescript/src/proxyAuth.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

[event-hubs] update core-amqp dependency
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/package.json
Owners: @ramya-rao-a, @chradek

[run-samples] Fixed an ignore bug
  common/scripts/run-samples.js
Owners: @mikeharder, @KarishmaGhiya

[storage-file-share] Removed scripts and references to execute:all
  sdk/storage/storage-file-share/samples/javascript/README.md
  sdk/storage/storage-file-share/samples/javascript/package.json
  sdk/storage/storage-file-share/samples/typescript/README.md
  sdk/storage/storage-file-share/samples/typescript/package.json
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan

[service-bus] update amqp-common dependency
  sdk/servicebus/service-bus/changelog.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Owners: @ramya-rao-a, @chradek, @ramya0820

update pnpm-lock file
  common/config/rush/pnpm-lock.yaml
Owners: @bterlson

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson
/sdk/core/core-amqp/ @ramya-rao-a @chradek
/sdk/core/core-auth/ @daviwil @xirzec @bterlson
/sdk/core/core-http/ @daviwil @xirzec @bterlson
/sdk/core/core-lro/ @sadasant @xirzec @bterlson
/sdk/core/core-paging/ @daviwil @xirzec @bterlson
/sdk/core/core-tracing/ @xirzec @bterlson
/sdk/core/logger @xirzec @bterlson

# Service teams
/sdk/appconfiguration/ @richardpark-msft

/sdk/batch/ @xingwu1 @matthchr @bgklein
/sdk/cosmosdb/ @southpolesteve

/sdk/eventhub/ @ramya-rao-a @chradek
/sdk/servicebus/ @ramya-rao-a @chradek @ramya0820

/sdk/identity/ @daviwil @jonathandturner
/sdk/keyvault/ @jonathandturner @sadasant
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan

/sdk/test-utils/ @HarshaNalluru

# API review files
/sdk/**/review/*api.md @bterlson

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson
