Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @bterlson, @chradek, @daviwil, @xirzec, @xingwu1, @matthchr, @bgklein, @southpolesteve, @ramya0820, @jonathandturner, @sadasant, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @qiaozha, @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Rename to name since it really wants to be call that.
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
Owners: @ramya-rao-a, @chradek

Regenerate @azure/keyvault with autorest.typescript 4.2.3
  packages/@azure/keyvault/LICENSE.txt
  packages/@azure/keyvault/README.md
  packages/@azure/keyvault/lib/keyVaultClient.ts
  packages/@azure/keyvault/lib/keyVaultClientContext.ts
  packages/@azure/keyvault/lib/models/index.ts
  packages/@azure/keyvault/lib/models/mappers.ts
  packages/@azure/keyvault/package.json
Owners: none

Bump version to 0.2.0
  packages/@azure/keyvault/lib/keyVaultClientContext.ts
  packages/@azure/keyvault/package.json
Owners: none

README and a sample for core-lro
  sdk/core/core-lro/README.md
  sdk/core/core-lro/samples/typescript/samplesClient.ts
Owners: @ramya-rao-a

Removing the EventProcessorBatchOptions and EventProcessorOptions interfaces from this earth.
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
Owners: @ramya-rao-a, @chradek

Fix build break
  sdk/core/core-tracing/lib/utils/global.browser.ts
Owners: @xirzec

Update to use SpanOptions rather than defining our equivalent (with ParentSpanOptions)
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/test/hubruntime.spec.ts
Owners: @ramya-rao-a, @chradek

Feedback by Jeff
  sdk/core/core-lro/README.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/samples/typescript/samplesClient.ts
  sdk/core/core-lro/tsconfig.samples.json
Owners: @ramya-rao-a

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# API review files
/sdk/**/review/*api.md @bterlson

# Core
/sdk/core/abort-controller/ @chradek
/sdk/core/core-amqp/ @ramya-rao-a @chradek
/sdk/core/core-auth/ @daviwil
/sdk/core/core-http/ @daviwil
/sdk/core/core-paging/ @daviwil
/sdk/core/core-tracing/ @xirzec
/sdk/core/logger @xirzec

# Service teams
/sdk/batch/ @xingwu1 @matthchr @bgklein
/sdk/cosmosdb/ @southpolesteve

/sdk/eventhub/ @ramya-rao-a @chradek
/sdk/servicebus/ @ramya-rao-a @chradek @ramya0820

/sdk/identity/ @daviwil @jonathandturner
/sdk/keyvault/ @jonathandturner @sadasant
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson
