Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @richardpark-msft, @HarshaNalluru, @daviwil, @jeremymeng, @sadasant, @xingwu1, @matthchr, @bgklein, @deyaaeldeen, @southpolesteve, @zfoster, @schaabs, @jonathandturner, @XiaoningLiu, @vinjiang, @jiacfan, @ljian3377, @mahdiva, @joheredi, @Azure/azure-sdk-eng, @willmtemple, @sarangan12, @bingisbestest, @nerajput1607, @qiaozha, @markwolff, @applicationinsights-js-owners, @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
# PRLabel: %Azure.Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson

# PRLabel: %Azure.Core
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Core
/sdk/core/core-auth/ @daviwil @xirzec @bterlson

# PRLabel: %Azure.Core
/sdk/core/core-http/ @daviwil @xirzec @bterlson @chradek @jeremymeng

# PRLabel: %Azure.Core
/sdk/core/core-lro/ @sadasant @xirzec @bterlson

# PRLabel: %Azure.Core
/sdk/core/core-paging/ @daviwil @xirzec @bterlson

# PRLabel: %Azure.Core
/sdk/core/core-tracing/ @xirzec @bterlson @chradek

# PRLabel: %Azure.Core
/sdk/core/logger @xirzec @bterlson @chradek

# Service teams
# PRLabel: %AzConfig
/sdk/appconfiguration/ @richardpark-msft @chradek

# PRLabel: %Batch
/sdk/batch/ @xingwu1 @matthchr @bgklein @deyaaeldeen

# PRLabel: %Cosmos
/sdk/cosmosdb/ @southpolesteve @zfoster

# PRLabel: %Event Hubs
/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Service Bus
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Identity
/sdk/identity/ @schaabs @daviwil @jonathandturner @sadasant

# PRLabel: %KeyVault
/sdk/keyvault/ @jonathandturner @sadasant

# PRLabel: %Storage
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377

# PRLabel: %Tables
/sdk/tables/ @mahdiva @joheredi

# PRLabel: %EngSys
/sdk/template/ @Azure/azure-sdk-eng

/sdk/test-utils/ @HarshaNalluru @sadasant

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/ @deyaaeldeen @xirzec @willmtemple

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/ @jeremymeng @willmtemple

# PRLabel: %Search
/sdk/search/ @xirzec @sarangan12

/sdk/cognitiveservices/cognitiveservices-qnamaker-runtime/ @bingisbestest @nerajput1607
/sdk/cognitiveservices/cognitiveservices-qnamaker/ @bingisbestest @nerajput1607

# Smoke Tests
/common/smoke-test/ @ramya-rao-a @chradek @jonathandturner @sadasant @jeremymeng @southpolesteve

# API review files
/sdk/**/review/*api.md @bterlson @xirzec

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

# PRLabel: %Monitor
/sdk/monitor/ @markwolff @xirzec @applicationinsights-js-owners

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya @deyaaeldeen
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/common/git-hooks/ @deyaaeldeen
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson

Skip this test for now in the live tests. Some infrastructure needs to be provisioned to run them as part of CI.
  sdk/eventhub/eventhubs-checkpointstore-blob/test/snippets.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

use latest monitor exporter name
  dataplane.code-workspace
Owners: none

[service-bus] changelog update (#11021)
  sdk/servicebus/service-bus/CHANGELOG.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

[Monitor] add monitor to dataplane workspace (#10914)
  dataplane.code-workspace
Owners: none

adding PHI to samples
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizePii.ts
Owners: @deyaaeldeen, @xirzec, @willmtemple

Update link to admin sample in readme
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Updating casing mistakes in samples
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

[event-hubs, eventhubs-checkpointstore-blob] Fixing samples and readme (#11018)
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/snippets.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

[Text Analysis] Add a link to opinion mining sample to README (#11022)
  sdk/textanalytics/ai-text-analytics/README.md
Owners: @deyaaeldeen, @xirzec, @willmtemple

[Service Bus] Throw err when entitypath from connection string does not match
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Formatting
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

[Service Bus] Rename ServiceBusManagementClient to ServiceBusAdministrationClient (#11023)
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru, @bterlson, @xirzec, @qiaozha

[Event Grid] Update CHANGELOG.md
  sdk/eventgrid/eventgrid/CHANGELOG.md
Owners: @ramya-rao-a

[Service Bus] Add ServiceBus prefix to ReceivedMessage
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/misc.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Owners: @bterlson, @xirzec, @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Sync eng/common directory with azure-sdk-tools repository for Tools PR 926
  eng/common/Update-Change-Log.ps1
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Generated from a155255d1165f48169f8549ef614f628a1868397
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from a155255d1165f48169f8549ef614f628a1868397
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from a155255d1165f48169f8549ef614f628a1868397
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from a155255d1165f48169f8549ef614f628a1868397
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from a155255d1165f48169f8549ef614f628a1868397
  sdk/policy/arm-policy/src/models/index.ts
  sdk/policy/arm-policy/src/models/mappers.ts
  sdk/policy/arm-policy/src/models/parameters.ts
  sdk/policy/arm-policy/src/models/policyAssignmentsMappers.ts
  sdk/policy/arm-policy/src/models/policyExemptionsMappers.ts
  sdk/policy/arm-policy/src/models/policySetDefinitionsMappers.ts
  sdk/policy/arm-policy/src/operations/index.ts
  sdk/policy/arm-policy/src/operations/policyAssignments.ts
  sdk/policy/arm-policy/src/operations/policyDefinitions.ts
  sdk/policy/arm-policy/src/operations/policyExemptions.ts
  sdk/policy/arm-policy/src/operations/policySetDefinitions.ts
  sdk/policy/arm-policy/src/policyClient.ts
  sdk/policy/arm-policy/src/policyClientContext.ts
Owners: @qiaozha

[storage-file-datalake]Upload stream fix (#11005)
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/tsconfig.json
  sdk/storage/storage-common/src/BufferScheduler.browser.ts
  sdk/storage/storage-common/src/BufferScheduler.ts
  sdk/storage/storage-common/src/BuffersStream.ts
  sdk/storage/storage-common/src/PooledBuffer.ts
  sdk/storage/storage-common/src/index.browser.ts
  sdk/storage/storage-common/src/index.ts
  sdk/storage/storage-file-datalake/api-extractor.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/tsconfig.json
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @bterlson

address PR comments
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-internal-avro/src/AvroParser.ts
Owners: @bterlson, @xirzec, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377

make credential in newPipeline's parameters optional (#10868)
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
Owners: @bterlson, @xirzec, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377

add tier option for upload (#10867)
  sdk/storage/storage-blob/recordings/browsers/highlevel/recording_set_tier_while_upload.json
  sdk/storage/storage-blob/recordings/node/highlevel/recording_set_tier_while_upload.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @bterlson, @xirzec

[storage] Quick query follow-up (#10854)
  sdk/storage/storage-blob-changefeed/samples/README.md
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_not_work_with_access_conditions_ifmodifiedsince.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_not_work_with_access_conditions_leaseid.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_aborter.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_access_conditions.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_blob_properties.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_csv_input_and_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_empty_results.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_fatal_error_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_json_input_and_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_large_file.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_non_fatal_error_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_progress_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_snapshot.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_where_conditionals.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/BlobQuickQueryStream.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_nodejs_only/recording_quick_query_should_work.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-internal-avro/src/AvroParser.ts
  sdk/storage/storage-internal-avro/src/AvroReadableFromStream.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @bterlson, @xirzec

Generated from 8393a913e08a11da6efb71b5abe32ee6d59dc53e
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute/src/models/containerServicesMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostsMappers.ts
  sdk/compute/arm-compute/src/models/diskAccessesMappers.ts
  sdk/compute/arm-compute/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute/src/models/disksMappers.ts
  sdk/compute/arm-compute/src/models/galleriesMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImageVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImagesMappers.ts
  sdk/compute/arm-compute/src/models/imagesMappers.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute/src/models/sshPublicKeysMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute/src/operations/dedicatedHostGroups.ts
  sdk/compute/arm-compute/src/operations/diskAccesses.ts
  sdk/compute/arm-compute/src/operations/diskEncryptionSets.ts
  sdk/compute/arm-compute/src/operations/index.ts
  sdk/compute/arm-compute/src/operations/sshPublicKeys.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSetVMs.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSets.ts
  sdk/compute/arm-compute/src/operations/virtualMachines.ts
Owners: @qiaozha

Update sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Update sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Generated from 631958280b32f87926d278c22a1e7f09c3bb0247
  sdk/commerce/arm-commerce/LICENSE.txt
  sdk/commerce/arm-commerce/README.md
  sdk/commerce/arm-commerce/package.json
  sdk/commerce/arm-commerce/rollup.config.js
  sdk/commerce/arm-commerce/src/models/index.ts
  sdk/commerce/arm-commerce/src/models/mappers.ts
  sdk/commerce/arm-commerce/src/models/rateCardMappers.ts
  sdk/commerce/arm-commerce/src/models/usageAggregatesMappers.ts
  sdk/commerce/arm-commerce/tsconfig.json
Owners: @qiaozha, @bterlson

rename ifTags to tagConditons
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
Owners: @bterlson, @xirzec, @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377

Release sdk 696 (#10720)
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClientContext.ts
  sdk/containerservice/arm-containerservice/src/models/index.ts
  sdk/containerservice/arm-containerservice/src/models/mappers.ts
  sdk/containerservice/arm-containerservice/src/models/parameters.ts
  sdk/containerservice/arm-containerservice/src/operations/managedClusters.ts
Owners: @qiaozha

Generated from a1a12739ee1728f37c41d4310d6f67e5bdf83d72
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/LICENSE.txt
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/README.md
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/package.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/rollup.config.js
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/iotDpsClientContext.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/models/dpsCertificateMappers.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/models/index.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/models/iotDpsResourceMappers.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/models/mappers.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/models/operationsMappers.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/models/parameters.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/operations/dpsCertificate.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/operations/iotDpsResource.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/tsconfig.json
Owners: @qiaozha, @bterlson
