Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @jeremymeng, @deyaaeldeen, @richardpark-msft, @HarshaNalluru, @sadasant, @joheredi, @LarryOsterman, @dpwatrous, @paterasMSFT, @zfengms, @DominikMe, @0rland0Wats0n, @ankitarorabit, @Azure/azure-sdk-communication-code-reviewers, @southpolesteve, @zfoster, @vishnureddy17, @ellismg, @witemple-msft, @schaabs, @maorleger, @XiaoningLiu, @vinjiang, @jiacfan, @ljian3377, @EmmaZhu, @jonathandturner, @mahdiva, @Azure/azure-sdk-eng, @KarishmaGhiya, @sarangan12, @divyajay, @geneh, @alongafni, @bingisbestest, @nerajput1607, @qiaozha, @hectorhdzg, @applicationinsights-js-owners, @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
# PRLabel: %Azure.Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Core
/sdk/core/core-asynciterator-polyfill/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-auth/ @sadasant @xirzec @bterlson @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-client/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-crypto/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-http/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-rest-pipeline/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-lro/ @sadasant @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-paging/ @xirzec @bterlson @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-rest/ @xirzec @bterlson @chradek @joheredi @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-tracing/ @xirzec @bterlson @chradek @richardpark-msft

# PRLabel: %Azure.Core
/sdk/core/core-xml/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/logger @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# Service teams
# PRLabel: %App Configuration
/sdk/appconfiguration/ @richardpark-msft @chradek @HarshaNalluru

# PRLabel: %Attestation
/sdk/attestation/ @LarryOsterman @deyaaeldeen

# PRLabel: %Batch
/sdk/batch/ @dpwatrous @paterasMSFT @zfengms @deyaaeldeen

# PRLabel: %Communication
/sdk/communication/ @DominikMe @0rland0Wats0n @ankitarorabit @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Container Registry
/sdk/containerregistry/ @jeremymeng

# PRLabel: %Cosmos
/sdk/cosmosdb/ @southpolesteve @zfoster

# PRLabel: %Digital Twins
/sdk/digitaltwins/ @vishnureddy17

# PRLabel: %Event Grid
/sdk/eventgrid/ @ramya-rao-a @ellismg

# PRLabel: %Event Hubs
/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Service Bus
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Identity
/sdk/identity/ @sadasant @witemple-msft @schaabs

# PRLabel: %KeyVault
/sdk/keyvault/ @maorleger @sadasant 

# PRLabel: %Storage
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377 @EmmaZhu

# PRLabel: %Synapse
/sdk/synapse/ @jonathandturner

# PRLabel: %Tables
/sdk/tables/ @mahdiva @joheredi

# PRLabel: %EngSys
/sdk/template/ @Azure/azure-sdk-eng

/sdk/test-utils/ @HarshaNalluru @sadasant

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/ @deyaaeldeen @xirzec @witemple-msft

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/ @jeremymeng @witemple-msft

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/ @jeremymeng @KarishmaGhiya

# PRLabel: %Search
/sdk/search/ @xirzec @sarangan12

/sdk/applicationinsights/applicationinsights-query/ @divyajay @geneh @alongafni
/sdk/operationalinsights/loganalytics/ @divyajay @geneh @alongafni

/sdk/cognitiveservices/cognitiveservices-qnamaker-runtime/ @bingisbestest @nerajput1607
/sdk/cognitiveservices/cognitiveservices-qnamaker/ @bingisbestest @nerajput1607

# Smoke Tests
/common/smoke-test/ @ramya-rao-a @chradek @jonathandturner @sadasant @jeremymeng @southpolesteve

# API review files
/sdk/**/review/*api.md @bterlson @xirzec @chradek

# Management Plane
# PRLabel: %Mgmt
/sdk/**/arm-*/ @qiaozha

# PRLabel: %Monitor
/sdk/monitor/ @hectorhdzg @applicationinsights-js-owners @richardpark-msft
/sdk/monitor/monitor-query @richardpark-msft @maorleger

###########
# Tools
###########

# PRLabel: %dev-tool
/common/tools/dev-tool/ @witemple-msft

###########
# Eng Sys
###########
/eng/   @weshaggard @praveenkuttappan @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @benbp
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @praveenkuttappan @deyaaeldeen
/common/ @mikeharder @praveenkuttappan
/common/config/rush/pnpm-lock.yaml @bterlson
/common/git-hooks/ @deyaaeldeen
/rush.json @mikeharder @praveenkuttappan
/tsconfig.json @mikeharder @praveenkuttappan
/**/tsconfig.json @bterlson

Disable the browser tests until I figure out the rollup issue
  sdk/monitor/monitor-query/package.json
Owners: @richardpark-msft, @maorleger

Update package.json
  sdk/web-pubsub/web-pubsub/package.json
Owners: @ramya-rao-a

add the steps to locally run min-max testing (#15335)
  eng/tools/dependency-testing/README.md
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

Update CHANGELOG.md
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
Owners: @ramya-rao-a

Changelog Modification for core-client and core-rest-pipeline (#15334)
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
Owners: @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen

arm-network-release
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/models/index.ts
  sdk/network/arm-network/src/models/mappers.ts
  sdk/network/arm-network/src/networkManagementClientContext.ts
Owners: @qiaozha

arm-network-release
  sdk/network/arm-network/src/models/index.ts
  sdk/network/arm-network/src/models/mappers.ts
  sdk/network/arm-network/src/networkManagementClientContext.ts
Owners: @qiaozha

fix api
  sdk/iot/modelsrepository/review/iot-modelsrepository.api.md
  sdk/iot/modelsrepository/src/exceptions.ts
Owners: @bterlson, @xirzec, @chradek, @ramya-rao-a

Upgrade core v2 dep to ^1.0.3 (#15318)
  common/config/rush/common-versions.json
  sdk/core/core-client/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob/package.json
  sdk/tables/data-tables/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Owners: @mikeharder, @praveenkuttappan, @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen, @southpolesteve, @zfoster, @ramya-rao-a, @ellismg, @XiaoningLiu, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @EmmaZhu, @mahdiva, @joheredi, @witemple-msft

remove en
  sdk/iot/modelsrepository/README.md
Owners: @ramya-rao-a

normalize
  sdk/iot/modelsrepository/src/modelsRepositoryClient.ts
  sdk/iot/modelsrepository/src/utils/absolutePath.ts
  sdk/iot/modelsrepository/src/utils/fetcherFilesystem.browser.ts
  sdk/iot/modelsrepository/src/utils/normalize.browser.ts
  sdk/iot/modelsrepository/src/utils/normalize.ts
Owners: @ramya-rao-a

fix
  sdk/iot/modelsrepository/package.json
Owners: @ramya-rao-a

rush update --full
  common/config/rush/pnpm-lock.yaml
Owners: @bterlson

remove circular dependencies and fix mappings
  sdk/iot/modelsrepository/package.json
  sdk/iot/modelsrepository/src/dtmiResolver.ts
  sdk/iot/modelsrepository/src/fetcherAbstract.ts
  sdk/iot/modelsrepository/src/fetcherFilesystem.ts
  sdk/iot/modelsrepository/src/index.ts
  sdk/iot/modelsrepository/src/interfaces/getModelsOptions.ts
  sdk/iot/modelsrepository/src/interfaces/modelsRepositoryClientOptions.ts
  sdk/iot/modelsrepository/src/internal.ts
  sdk/iot/modelsrepository/src/modelsRepositoryClient.ts
  sdk/iot/modelsrepository/src/modelsRepositoryServiceClient.ts
  sdk/iot/modelsrepository/src/utils/absolutePath.browser.ts
Owners: @ramya-rao-a

Remove external URL dependency (#15300)
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/dom.d.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/parseConnectionString.ts
  sdk/web-pubsub/web-pubsub/src/util/url.browser.ts
  sdk/web-pubsub/web-pubsub/src/util/url.ts
Owners: @ramya-rao-a, @bterlson, @xirzec, @chradek

fix dependency
  sdk/iot/modelsrepository/package.json
Owners: @ramya-rao-a

Fixing some spots with `template` in them
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/tests.yml
  sdk/monitor/monitor-query/tsconfig.json
Owners: @richardpark-msft, @maorleger, @benbp, @bterlson

[web-pubsub][test] verify just the prefix of ERROR_INVALID_URL message
  sdk/web-pubsub/web-pubsub-express/test/ctor.spec.ts
Owners: @ramya-rao-a

Starting the work of writing the readme
  sdk/monitor/monitor-query/README.md
Owners: @richardpark-msft, @maorleger

remove example readme
  sdk/monitor/monitor-query/README-EXAMPLE.md
Owners: @richardpark-msft, @maorleger

[web-pubsub][test] verify just the prefix of ERR_INVALID_URL message (#15339)
  sdk/web-pubsub/web-pubsub-express/test/ctor.spec.ts
Owners: @ramya-rao-a

Updating the main package readme to actually be useful.
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
Owners: @richardpark-msft, @maorleger

adding ci file
  sdk/videoanalyzer/ci.yml
Owners: @mitchdenny

Updating typescript samples
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
Owners: @richardpark-msft, @maorleger

JS samples, auto generated using dev-tool
  sdk/monitor/monitor-query/samples/javascript/v1/logsQuery.js
  sdk/monitor/monitor-query/samples/javascript/v1/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/javascript/v1/metricsQuery.js
Owners: @richardpark-msft, @maorleger

Update analyze step to use common publish artifact with retry
  eng/pipelines/templates/steps/analyze.yml
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

fix browser tst
  sdk/iot/modelsrepository/test/browser/browserTest.spec.ts
Owners: @ramya-rao-a

Getting samples into the new layout (samples-dev is the source, samples is just auto-generated)
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples-dev/metricsQuery.ts
  sdk/monitor/monitor-query/samples/v1/javascript/README.md
  sdk/monitor/monitor-query/samples/v1/javascript/logsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/v1/javascript/metricsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/package.json
  sdk/monitor/monitor-query/samples/v1/javascript/queryLogs.js
  sdk/monitor/monitor-query/samples/v1/javascript/sample.env
  sdk/monitor/monitor-query/samples/v1/typescript/README.md
  sdk/monitor/monitor-query/samples/v1/typescript/package.json
  sdk/monitor/monitor-query/samples/v1/typescript/sample.env
  sdk/monitor/monitor-query/samples/v1/typescript/tsconfig.json
Owners: @richardpark-msft, @maorleger, @bterlson

Eliminating some more 'template' detritus.
  sdk/monitor/monitor-query/review/template.api.md
  sdk/monitor/monitor-query/src/logger.ts
Owners: @richardpark-msft, @maorleger

Updating package.json description to mention the actual thing, and not template.
  sdk/monitor/monitor-query/package.json
Owners: @richardpark-msft, @maorleger

- Scrub out en-us from links in readme - Missed another spot in package.json where we were referencing appconfiguration. - Sync test.env and sample.env (which are the same at this moment at least)
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/sample.env
  sdk/monitor/monitor-query/samples/v1/javascript/sample.env
  sdk/monitor/monitor-query/samples/v1/typescript/sample.env
  sdk/monitor/monitor-query/test.env
Owners: @richardpark-msft, @maorleger

[Dev tool] Clean doc for artifact-path (#15336)
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
  common/tools/dev-tool/src/util/findSamplesDir.ts
Owners: @mikeharder, @praveenkuttappan

- Fix sample logic to throw before we create the client or credential type - Regenerate all samples
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/javascript/README.md
  sdk/monitor/monitor-query/samples/v1/javascript/logsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/v1/javascript/metricsQuery.js
  sdk/monitor/monitor-query/samples/v1/typescript/README.md
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
Owners: @richardpark-msft, @maorleger

Use a falsy check for args in formatPreferHeader
  sdk/monitor/monitor-query/src/internal/util.ts
Owners: @richardpark-msft, @maorleger

Fixed live test failure; re-ran recordings
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestopenenclaveaad.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestopenenclaveisolated.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestopenenclaveshared.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestsgxaad.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestsgxisolated.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestsgxshared.json
  sdk/attestation/attestation/recordings/browsers/policygetsettests_/recording_getpolicyaad.json
  sdk/attestation/attestation/recordings/browsers/policygetsettests_/recording_getpolicyisolated.json
  sdk/attestation/attestation/recordings/browsers/policygetsettests_/recording_getpolicyshared.json
  sdk/attestation/attestation/recordings/browsers/policymanagementtests_/recording_getpolicyisolated.json
  sdk/attestation/attestation/recordings/browsers/policymanagementtests_/recording_getpolicymanagementcertificatesaad.json
  sdk/attestation/attestation/recordings/browsers/policymanagementtests_/recording_getpolicyshared.json
  sdk/attestation/attestation/recordings/browsers/tokencerttests/recording_getcertificatesaad.json
  sdk/attestation/attestation/recordings/browsers/tokencerttests/recording_getcertificatesisolated.json
  sdk/attestation/attestation/recordings/browsers/tokencerttests/recording_getcertificatesshared.json
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestopenenclaveaad.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestopenenclaveisolated.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestopenenclaveshared.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestsgxaad.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestsgxisolated.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestsgxshared.js
  sdk/attestation/attestation/recordings/node/policygetsettests_/recording_getpolicyaad.js
  sdk/attestation/attestation/recordings/node/policygetsettests_/recording_getpolicyisolated.js
  sdk/attestation/attestation/recordings/node/policygetsettests_/recording_getpolicyshared.js
  sdk/attestation/attestation/recordings/node/policymanagementtests_/recording_getpolicyisolated.js
  sdk/attestation/attestation/recordings/node/policymanagementtests_/recording_getpolicymanagementcertificatesaad.js
  sdk/attestation/attestation/recordings/node/policymanagementtests_/recording_getpolicyshared.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificates.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificatesaad.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificatesisolated.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificatesshared.js
  sdk/attestation/attestation/test/public/attestationTests.spec.ts
Owners: @LarryOsterman, @deyaaeldeen

Rename set*Properties to update*Properties
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/src/containerRepository.ts
  sdk/containerregistry/container-registry/src/index.ts
  sdk/containerregistry/container-registry/src/registryArtifact.ts
  sdk/containerregistry/container-registry/test/public/repositoryAndArtifact.spec.ts
Owners: @bterlson, @xirzec, @chradek, @jeremymeng

Fixed live test failure; re-ran recordings (#15341)
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestopenenclaveaad.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestopenenclaveisolated.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestopenenclaveshared.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestsgxaad.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestsgxisolated.json
  sdk/attestation/attestation/recordings/browsers/aad_attestation_client/recording_attestsgxshared.json
  sdk/attestation/attestation/recordings/browsers/policygetsettests_/recording_getpolicyaad.json
  sdk/attestation/attestation/recordings/browsers/policygetsettests_/recording_getpolicyisolated.json
  sdk/attestation/attestation/recordings/browsers/policygetsettests_/recording_getpolicyshared.json
  sdk/attestation/attestation/recordings/browsers/policymanagementtests_/recording_getpolicyisolated.json
  sdk/attestation/attestation/recordings/browsers/policymanagementtests_/recording_getpolicymanagementcertificatesaad.json
  sdk/attestation/attestation/recordings/browsers/policymanagementtests_/recording_getpolicyshared.json
  sdk/attestation/attestation/recordings/browsers/tokencerttests/recording_getcertificatesaad.json
  sdk/attestation/attestation/recordings/browsers/tokencerttests/recording_getcertificatesisolated.json
  sdk/attestation/attestation/recordings/browsers/tokencerttests/recording_getcertificatesshared.json
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestopenenclaveaad.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestopenenclaveisolated.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestopenenclaveshared.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestsgxaad.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestsgxisolated.js
  sdk/attestation/attestation/recordings/node/aad_attestation_client/recording_attestsgxshared.js
  sdk/attestation/attestation/recordings/node/policygetsettests_/recording_getpolicyaad.js
  sdk/attestation/attestation/recordings/node/policygetsettests_/recording_getpolicyisolated.js
  sdk/attestation/attestation/recordings/node/policygetsettests_/recording_getpolicyshared.js
  sdk/attestation/attestation/recordings/node/policymanagementtests_/recording_getpolicyisolated.js
  sdk/attestation/attestation/recordings/node/policymanagementtests_/recording_getpolicymanagementcertificatesaad.js
  sdk/attestation/attestation/recordings/node/policymanagementtests_/recording_getpolicyshared.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificates.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificatesaad.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificatesisolated.js
  sdk/attestation/attestation/recordings/node/tokencerttests/recording_getcertificatesshared.js
  sdk/attestation/attestation/test/public/attestationTests.spec.ts
Owners: @LarryOsterman, @deyaaeldeen

recent feedback by Will
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/src/util/tokenCycler.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
Owners: @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen
