Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @richardpark-msft, @HarshaNalluru, @daviwil, @jeremymeng, @sadasant, @xingwu1, @matthchr, @bgklein, @southpolesteve, @zfoster, @schaabs, @jonathandturner, @XiaoningLiu, @vinjiang, @jiacfan, @ljian3377, @mahdiva, @joheredi, @willmtemple, @sarangan12, @qiaozha, @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru
/sdk/core/core-auth/ @daviwil @xirzec @bterlson
/sdk/core/core-http/ @daviwil @xirzec @bterlson @chradek @jeremymeng
/sdk/core/core-lro/ @sadasant @xirzec @bterlson
/sdk/core/core-paging/ @daviwil @xirzec @bterlson
/sdk/core/core-tracing/ @xirzec @bterlson @chradek
/sdk/core/logger @xirzec @bterlson @chradek

# Service teams
/sdk/appconfiguration/ @richardpark-msft @chradek

/sdk/batch/ @xingwu1 @matthchr @bgklein
/sdk/cosmosdb/ @southpolesteve @zfoster

/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

/sdk/identity/ @schaabs @daviwil @jonathandturner @sadasant
/sdk/keyvault/ @jonathandturner @sadasant
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377

/sdk/tables/ @mahdiva @joheredi

/sdk/test-utils/ @HarshaNalluru @sadasant
/sdk/textanalytics/ @xirzec @willmtemple
/sdk/formrecognizer/ @jeremymeng @willmtemple

/sdk/search/ @xirzec @sarangan12

# Smoke Tests
/common/smoke-test/ @ramya-rao-a @chradek @jonathandturner @sadasant @jeremymeng @southpolesteve

# API review files
/sdk/**/review/*api.md @bterlson @xirzec

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson

Update sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/CHANGELOG.md
Owners: @HarshaNalluru, @sadasant

Generated from 7f423cfec1a7f14d825201deb3b03ad3f10240fc
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 7f423cfec1a7f14d825201deb3b03ad3f10240fc
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 7f423cfec1a7f14d825201deb3b03ad3f10240fc
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 7f423cfec1a7f14d825201deb3b03ad3f10240fc
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 7f423cfec1a7f14d825201deb3b03ad3f10240fc
  sdk/resources/arm-resources/src/models/deploymentOperationsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
Owners: @qiaozha

lock file
  common/config/rush/pnpm-lock.yaml
Owners: @bterlson

Generated from 413f9f8dbb9cbac43991df4d15ee20827f272866
  sdk/policyinsights/arm-policyinsights/src/models/index.ts
  sdk/policyinsights/arm-policyinsights/src/models/mappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/parameters.ts
  sdk/policyinsights/arm-policyinsights/src/models/policyEventsMappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/policyStatesMappers.ts
  sdk/policyinsights/arm-policyinsights/src/operations/operations.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyEvents.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyMetadataOperations.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyStates.ts
Owners: @qiaozha

[Service Bus] Tracing expired sessions is not needed
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Generated from 5838bff3a562838a5209ccba20351154d566cec3
  sdk/machinelearningservices/arm-machinelearningservices/LICENSE.txt
  sdk/machinelearningservices/arm-machinelearningservices/README.md
  sdk/machinelearningservices/arm-machinelearningservices/package.json
  sdk/machinelearningservices/arm-machinelearningservices/rollup.config.js
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/azureMachineLearningWorkspacesContext.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/mappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/notebooksMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/parameters.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/privateEndpointConnectionsMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/privateLinkResourcesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/quotasMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspaceFeaturesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/models/workspacesMappers.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/index.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/machineLearningCompute.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/notebooks.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/privateEndpointConnections.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/privateLinkResources.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/quotas.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaceFeatures.ts
  sdk/machinelearningservices/arm-machinelearningservices/src/operations/workspaces.ts
  sdk/machinelearningservices/arm-machinelearningservices/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 67a85f845beb6c3ae92bc608ec90e861671ea2bb
  sdk/containerinstance/arm-containerinstance/LICENSE.txt
  sdk/containerinstance/arm-containerinstance/README.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/rollup.config.js
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerGroupUsageMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerGroupsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/containersMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/index.ts
  sdk/containerinstance/arm-containerinstance/src/models/locationMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/mappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/parameters.ts
  sdk/containerinstance/arm-containerinstance/src/models/serviceAssociationLinkMappers.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerGroupUsage.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerGroups.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containers.ts
  sdk/containerinstance/arm-containerinstance/src/operations/index.ts
  sdk/containerinstance/arm-containerinstance/src/operations/location.ts
  sdk/containerinstance/arm-containerinstance/src/operations/operations.ts
  sdk/containerinstance/arm-containerinstance/src/operations/serviceAssociationLink.ts
  sdk/containerinstance/arm-containerinstance/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 731e0f172a862f27f5ee240291aa54406ac20801
  sdk/iotcentral/arm-iotcentral/src/models/index.ts
  sdk/iotcentral/arm-iotcentral/src/models/mappers.ts
Owners: @qiaozha

Generated from fbfd3585d22af6d9511e1101382e6f18d324f0bd
  sdk/hdinsight/arm-hdinsight/src/models/applicationsMappers.ts
  sdk/hdinsight/arm-hdinsight/src/models/clustersMappers.ts
  sdk/hdinsight/arm-hdinsight/src/models/index.ts
  sdk/hdinsight/arm-hdinsight/src/models/mappers.ts
Owners: @qiaozha

[Service Bus] Remove check for session exists when creating session receiver
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

Address Jeff's feedback
  sdk/test-utils/recorder/src/utils.node.ts
Owners: @HarshaNalluru, @sadasant

recordings for certificates
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_delete_a_certificate_with_requestoptions_timeout.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_get_a_certificate_with_requestoptions_timeout.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_update_certificate_with_requestoptions_timeout.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__lro__recoverdelete/recording_can_recover_a_deleted_certificate_with_requestoptions_timeout.js
Owners: @jonathandturner, @sadasant

No session gives different errors
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru

fix operOptions for createSubscription
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Owners: @qiaozha

export { OperationOptions } from "@azure/core-http";
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft, @HarshaNalluru, @qiaozha

API Report
  sdk/servicebus/service-bus/review/service-bus.api.md
Owners: @bterlson, @xirzec

release for arm digitaltwins (#9681)
  sdk/digitaltwins/arm-digitaltwins/LICENSE.txt
  sdk/digitaltwins/arm-digitaltwins/README.md
  sdk/digitaltwins/arm-digitaltwins/package.json
  sdk/digitaltwins/arm-digitaltwins/rollup.config.js
  sdk/digitaltwins/arm-digitaltwins/src/azureDigitalTwinsManagementClient.ts
  sdk/digitaltwins/arm-digitaltwins/src/azureDigitalTwinsManagementClientContext.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/digitalTwinsEndpointMappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/digitalTwinsMappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/index.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/mappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/operationsMappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/parameters.ts
  sdk/digitaltwins/arm-digitaltwins/src/operations/digitalTwins.ts
  sdk/digitaltwins/arm-digitaltwins/src/operations/digitalTwinsEndpoint.ts
  sdk/digitaltwins/arm-digitaltwins/src/operations/index.ts
  sdk/digitaltwins/arm-digitaltwins/src/operations/operations.ts
  sdk/digitaltwins/arm-digitaltwins/tsconfig.json
Owners: @qiaozha, @bterlson

fix typo
  sdk/storage/storage-file-share/recordings/browsers/shareclient/recording_deleteifexists.json
  sdk/storage/storage-file-share/recordings/node/shareclient/recording_deleteifexists.js
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377

change sdk path
  containerinstance/arm-containerinstance/LICENSE.txt
  containerinstance/arm-containerinstance/README.md
  containerinstance/arm-containerinstance/package.json
  containerinstance/arm-containerinstance/rollup.config.js
  containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
  containerinstance/arm-containerinstance/src/models/containerGroupsMappers.ts
  containerinstance/arm-containerinstance/src/models/index.ts
  containerinstance/arm-containerinstance/src/models/mappers.ts
  containerinstance/arm-containerinstance/src/models/operationsMappers.ts
  containerinstance/arm-containerinstance/src/models/parameters.ts
  containerinstance/arm-containerinstance/src/operations/containerGroups.ts
  containerinstance/arm-containerinstance/src/operations/index.ts
  containerinstance/arm-containerinstance/src/operations/operations.ts
  containerinstance/arm-containerinstance/tsconfig.json
  sdk/containerinstance/arm-containerinstance/LICENSE.txt
  sdk/containerinstance/arm-containerinstance/README.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/rollup.config.js
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerGroupUsageMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerGroupsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerOperationsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/containersMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/index.ts
  sdk/containerinstance/arm-containerinstance/src/models/locationMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/mappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/operationsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/parameters.ts
  sdk/containerinstance/arm-containerinstance/src/models/serviceAssociationLinkMappers.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerGroupUsage.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerGroups.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerOperations.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containers.ts
  sdk/containerinstance/arm-containerinstance/src/operations/index.ts
  sdk/containerinstance/arm-containerinstance/src/operations/location.ts
  sdk/containerinstance/arm-containerinstance/src/operations/operations.ts
  sdk/containerinstance/arm-containerinstance/src/operations/serviceAssociationLink.ts
  sdk/containerinstance/arm-containerinstance/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from 26e10fdf6dd53c10883de3fa638d82e833ef1143
  containerinstance/arm-containerinstance/LICENSE.txt
  containerinstance/arm-containerinstance/README.md
  containerinstance/arm-containerinstance/package.json
  containerinstance/arm-containerinstance/rollup.config.js
  containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
  containerinstance/arm-containerinstance/src/models/containerGroupsMappers.ts
  containerinstance/arm-containerinstance/src/models/containersMappers.ts
  containerinstance/arm-containerinstance/src/models/index.ts
  containerinstance/arm-containerinstance/src/models/locationMappers.ts
  containerinstance/arm-containerinstance/src/models/mappers.ts
  containerinstance/arm-containerinstance/src/models/operationsMappers.ts
  containerinstance/arm-containerinstance/src/models/parameters.ts
  containerinstance/arm-containerinstance/src/operations/containerGroups.ts
  containerinstance/arm-containerinstance/src/operations/containers.ts
  containerinstance/arm-containerinstance/src/operations/index.ts
  containerinstance/arm-containerinstance/src/operations/location.ts
  containerinstance/arm-containerinstance/src/operations/operations.ts
  containerinstance/arm-containerinstance/tsconfig.json
Owners: @qiaozha, @bterlson

fix
  sdk/containerinstance/arm-containerinstance/README.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
Owners: @qiaozha

update version
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
Owners: @qiaozha
