Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @jeremymeng, @deyaaeldeen, @richardpark-msft, @HarshaNalluru, @sadasant, @joheredi, @LarryOsterman, @dpwatrous, @paterasMSFT, @zfengms, @DominikMe, @0rland0Wats0n, @ankitarorabit, @Azure/azure-sdk-communication-code-reviewers, @southpolesteve, @zfoster, @vishnureddy17, @ellismg, @witemple-msft, @schaabs, @maorleger, @XiaoningLiu, @vinjiang, @jiacfan, @ljian3377, @EmmaZhu, @jonathandturner, @mahdiva, @Azure/azure-sdk-eng, @KarishmaGhiya, @sarangan12, @divyajay, @geneh, @alongafni, @bingisbestest, @nerajput1607, @qiaozha, @hectorhdzg, @applicationinsights-js-owners, @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek, @benbp

clean update from master + my local changes for rush.json
  common/config/rush/pnpm-lock.yaml
Owners: @bterlson

[Tables] Fix core-ci <=> skip int64 tests in node 8 (#15323)
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/internal/utils.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
  sdk/test-utils/test-utils/src/index.ts
  sdk/test-utils/test-utils/src/utils.ts
Owners: @mahdiva, @joheredi, @HarshaNalluru, @sadasant

[Dev tool]Add node-version argument that could be multiple
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

[Dev tool] Hide docker pull output
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

[Dev tool] Support artifact URL
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

[Text Analytics] Upgrade core v2 dep to ^1.0.3
  common/config/rush/common-versions.json
  sdk/textanalytics/ai-text-analytics/package.json
Owners: @mikeharder, @praveenkuttappan, @deyaaeldeen, @xirzec, @witemple-msft

update code
  sdk/iot/modelsrepository/package.json
  sdk/iot/modelsrepository/src/constants.ts
  sdk/iot/modelsrepository/src/fetcherFilesystem.ts
  sdk/iot/modelsrepository/src/fetcherHTTP.ts
  sdk/iot/modelsrepository/src/index.ts
  sdk/iot/modelsrepository/src/modelsRepositoryClient.ts
  sdk/iot/modelsrepository/src/modelsRepositoryServiceClient.ts
  sdk/iot/modelsrepository/src/psuedoParser.ts
  sdk/iot/modelsrepository/src/utils/aboslutePath.browser.ts
  sdk/iot/modelsrepository/src/utils/absolutePath.ts
  sdk/iot/modelsrepository/src/utils/fetcherFilesystem.browser.ts
Owners: @ramya-rao-a

Increment package version after release of azure-ai-text-analytics
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
Owners: @deyaaeldeen, @xirzec, @witemple-msft

feedback
  sdk/appconfiguration/app-configuration/sample-react/src/components/Page.tsx
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
Owners: @richardpark-msft, @chradek, @HarshaNalluru

Changelog Mod for Client and Pipeline
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
Owners: @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen

Jeff's suggestion
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/models.ts
Owners: @bterlson, @xirzec, @chradek, @richardpark-msft, @HarshaNalluru

- Removing unneeded things now that I'm using the recorder
  sdk/monitor/monitor-query/karma.conf.js
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/test/internal/unit/util.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
Owners: @richardpark-msft, @maorleger

Fixing formatting (and thus fixing lint breakages!)
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/test/internal/unit/util.unittest.spec.ts
Owners: @richardpark-msft, @maorleger

changes
  sdk/iot/modelsrepository/src/DTDL.ts
  sdk/iot/modelsrepository/src/dependencyResolutionType.ts
  sdk/iot/modelsrepository/src/dtmiConventions.ts
  sdk/iot/modelsrepository/src/dtmiResolver.ts
  sdk/iot/modelsrepository/src/fetcherAbstract.ts
  sdk/iot/modelsrepository/src/fetcherFilesystem.ts
  sdk/iot/modelsrepository/src/fetcherHTTP.ts
Owners: @ramya-rao-a

[Key Vault Admin] API Alignment (#15279)
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/samples-dev/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples-dev/backupSelectiveRestore.ts
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupRestoreHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupSelectiveRestore.js
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupSelectiveRestore.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/mappings.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Owners: @maorleger, @sadasant, @bterlson, @xirzec, @chradek

Update sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
Owners: @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen

Update sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
Owners: @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen

fromConfigurationSetting -> parse methods
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/secretReference.ts
Owners: @bterlson, @xirzec, @chradek, @richardpark-msft, @HarshaNalluru

[Dev tool] Support artifact URL (#15331)
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

[Dev tool] Hide docker pull output (#15330)
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

[identity] Unpin msal-common and msal-browser dependencies
  sdk/identity/identity/package.json
Owners: @sadasant, @witemple-msft, @schaabs

[Dev tool]Add node-version argument that could be multiple (#15332)
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

Sync eng/common directory with azure-sdk-tools for PR 1585 (#15327)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

[Dev tool] Support samples v2 directory structure in check node versions command
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

address feedback
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

address feedback
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

edit
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

pr comments
  sdk/videoanalyzer/video-analyzer-edge/CHANGELOG.md
  sdk/videoanalyzer/video-analyzer-edge/README.md
  sdk/videoanalyzer/video-analyzer-edge/review/video-analyzer-edge.api.md
  sdk/videoanalyzer/video-analyzer-edge/samples/javascript/README.md
  sdk/videoanalyzer/video-analyzer-edge/samples/javascript/lvaInvokeModule.js
  sdk/videoanalyzer/video-analyzer-edge/samples/typescript/README.md
  sdk/videoanalyzer/video-analyzer-edge/samples/typescript/src/lvaInvokeModuleSample.ts
  sdk/videoanalyzer/video-analyzer-edge/src/index.ts
Owners: @ramya-rao-a, @bterlson, @xirzec, @chradek

add the steps to locally run min-max testing
  eng/tools/dependency-testing/README.md
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

update all other packages
  sdk/core/core-client/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob/package.json
  sdk/tables/data-tables/package.json
Owners: @xirzec, @bterlson, @chradek, @jeremymeng, @deyaaeldeen, @southpolesteve, @zfoster, @ramya-rao-a, @ellismg, @XiaoningLiu, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @EmmaZhu, @mahdiva, @joheredi

[App Config] FeatureFlag (and SecretReference) redesign - version 8.1 (#15193)
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_get_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_update_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_list_and_update_multiple_featureflags.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_and_update_secretreference.js
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/sample-react/src/components/Page.tsx
  sdk/appconfiguration/app-configuration/sample-react/src/utils/index.ts
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/jsonModels.ts
  sdk/appconfiguration/app-configuration/src/keyvaultReference.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/secretReference.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
Owners: @mikeharder, @praveenkuttappan, @bterlson, @richardpark-msft, @chradek, @HarshaNalluru, @xirzec

Update README.md
  eng/tools/dependency-testing/README.md
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

format
  eng/tools/dependency-testing/README.md
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

remove exception
  common/config/rush/common-versions.json
Owners: @mikeharder, @praveenkuttappan

[Dev tool] Support samples v2 directory structure in check node versions command (#15328)
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Owners: @mikeharder, @praveenkuttappan

Create README.md
  eng/tools/dependency-testing/README.md
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

[Dev tool] Clean doc for artifact-path
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
  common/tools/dev-tool/src/util/findSamplesDir.ts
Owners: @mikeharder, @praveenkuttappan

lock file
  common/config/rush/pnpm-lock.yaml
Owners: @bterlson

update the steps
  eng/tools/dependency-testing/README.md
Owners: @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek

Trying to get some consistent live testing in place
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/rollup.config.js
  sdk/monitor/monitor-query/sample.env
  sdk/monitor/monitor-query/test/internal/unit/utils.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsClient.spec.ts
  sdk/monitor/monitor-query/test/setupOpenTelemetry.ts
Owners: @bterlson, @richardpark-msft, @maorleger

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
# PRLabel: %Azure.Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Core
/sdk/core/core-asynciterator-polyfill/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-auth/ @sadasant @xirzec @bterlson @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-client/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-crypto/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-http/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-rest-pipeline/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-lro/ @sadasant @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-paging/ @xirzec @bterlson @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-rest/ @xirzec @bterlson @chradek @joheredi @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-tracing/ @xirzec @bterlson @chradek @richardpark-msft

# PRLabel: %Azure.Core
/sdk/core/core-xml/ @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/logger @xirzec @bterlson @chradek @jeremymeng @deyaaeldeen

# Service teams
# PRLabel: %App Configuration
/sdk/appconfiguration/ @richardpark-msft @chradek @HarshaNalluru

# PRLabel: %Attestation
/sdk/attestation/ @LarryOsterman @deyaaeldeen

# PRLabel: %Batch
/sdk/batch/ @dpwatrous @paterasMSFT @zfengms @deyaaeldeen

# PRLabel: %Communication
/sdk/communication/ @DominikMe @0rland0Wats0n @ankitarorabit @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Container Registry
/sdk/containerregistry/ @jeremymeng

# PRLabel: %Cosmos
/sdk/cosmosdb/ @southpolesteve @zfoster

# PRLabel: %Digital Twins
/sdk/digitaltwins/ @vishnureddy17

# PRLabel: %Event Grid
/sdk/eventgrid/ @ramya-rao-a @ellismg

# PRLabel: %Event Hubs
/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Service Bus
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Identity
/sdk/identity/ @sadasant @witemple-msft @schaabs

# PRLabel: %KeyVault
/sdk/keyvault/ @maorleger @sadasant 

# PRLabel: %Storage
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377 @EmmaZhu

# PRLabel: %Synapse
/sdk/synapse/ @jonathandturner

# PRLabel: %Tables
/sdk/tables/ @mahdiva @joheredi

# PRLabel: %EngSys
/sdk/template/ @Azure/azure-sdk-eng

/sdk/test-utils/ @HarshaNalluru @sadasant

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/ @deyaaeldeen @xirzec @witemple-msft

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/ @jeremymeng @witemple-msft

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/ @jeremymeng @KarishmaGhiya

# PRLabel: %Search
/sdk/search/ @xirzec @sarangan12

/sdk/applicationinsights/applicationinsights-query/ @divyajay @geneh @alongafni
/sdk/operationalinsights/loganalytics/ @divyajay @geneh @alongafni

/sdk/cognitiveservices/cognitiveservices-qnamaker-runtime/ @bingisbestest @nerajput1607
/sdk/cognitiveservices/cognitiveservices-qnamaker/ @bingisbestest @nerajput1607

# Smoke Tests
/common/smoke-test/ @ramya-rao-a @chradek @jonathandturner @sadasant @jeremymeng @southpolesteve

# API review files
/sdk/**/review/*api.md @bterlson @xirzec @chradek

# Management Plane
# PRLabel: %Mgmt
/sdk/**/arm-*/ @qiaozha

# PRLabel: %Monitor
/sdk/monitor/ @hectorhdzg @applicationinsights-js-owners @richardpark-msft
/sdk/monitor/monitor-query @richardpark-msft @maorleger

###########
# Tools
###########

# PRLabel: %dev-tool
/common/tools/dev-tool/ @witemple-msft

###########
# Eng Sys
###########
/eng/   @weshaggard @praveenkuttappan @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @benbp
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @praveenkuttappan @deyaaeldeen
/common/ @mikeharder @praveenkuttappan
/common/config/rush/pnpm-lock.yaml @bterlson
/common/git-hooks/ @deyaaeldeen
/rush.json @mikeharder @praveenkuttappan
/tsconfig.json @mikeharder @praveenkuttappan
/**/tsconfig.json @bterlson
