Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @richardpark-msft, @daviwil, @jeremymeng, @sadasant, @xingwu1, @matthchr, @bgklein, @southpolesteve, @schaabs, @jonathandturner, @XiaoningLiu, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @willmtemple, @qiaozha, @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

1000 iterations to bubble up the flakeyness
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Add https
  sdk/identity/identity/src/constants.ts
Owners: @schaabs, @daviwil, @jonathandturner

Revert using OT noop
  sdk/core/core-http/rollup.base.config.js
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-lro/rollup.base.config.js
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/rollup.base.config.js
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/tracerProxy.ts
  sdk/core/core-tracing/src/tracers/noop/noOpSpan.ts
  sdk/core/core-tracing/src/tracers/noop/noOpTracer.ts
  sdk/core/core-tracing/src/tracers/test/testSpan.ts
  sdk/core/core-tracing/src/tracers/test/testTracer.ts
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/identity/identity/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/search/search/rollup.base.config.js
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/template/template/rollup.base.config.js
  sdk/test-utils/recorder/rollup.base.config.js
  sdk/textanalytics/ai-text-analytics/rollup.base.config.js
Owners: @daviwil, @xirzec, @bterlson, @chradek, @jeremymeng, @sadasant, @ramya-rao-a, @richardpark-msft, @schaabs, @jonathandturner, @XiaoningLiu, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @willmtemple

Address feedback
  sdk/identity/identity/src/credentials/vscodeCredential.ts
  sdk/identity/identity/src/index.ts
Owners: @schaabs, @daviwil, @jonathandturner

Sync eng/common directory with azure-sdk-tools repository (#8024)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

[Identity] Add known authority hosts (#7829)
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/index.ts
Owners: @schaabs, @daviwil, @jonathandturner

fix build break
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Formatting the paragraph a little nicer so it looks decent if you're just reading the markdown directly.
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Increment package version after release of azure-service-bus
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

fixup! [ai-text-analytics] Update samples to remove PII methods
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Owners: @bterlson, @xirzec, @willmtemple

Changelog
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Owners: @xirzec, @willmtemple

Add in a little note so users can follow from master and find the right readmes for v1.1.x
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples/README.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Increase maxWaitTime when receiving messages from sessions
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

change number of iterations to 100
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Address feedback
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/vscodeCredential.ts
Owners: @bterlson, @schaabs, @daviwil, @jonathandturner

Move tool into js Repo
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/tools/publish-to-npm.ps1
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Bump Template
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Owners: @ramya-rao-a

Update samples so they provide a little breadcrumb for users looking for the 1.1.x samples.
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/package.json
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Update to version 5!
  sdk/servicebus/service-bus/package.json
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Sync eng/common directory with azure-sdk-tools repository
  eng/common/TestResources/New-TestResources.ps1
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

[ai-text-analytics] Remove PII Methods (#8021)
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_mixedlanguage_textdocumentinput.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_a_language_specified.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_no_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_correctly_reports_recognition_of_piilike_pattern.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_throws_on_empty_list.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_service_errors_on_unsupported_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient/recording_recognizepiientities.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_mixedlanguage_textdocumentinput.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_a_language_specified.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_no_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_correctly_reports_recognition_of_piilike_pattern.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_throws_on_empty_list.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_service_errors_on_unsupported_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient/recording_recognizepiientities.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResultCollection.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Owners: @xirzec, @willmtemple, @bterlson

moved _init of all the send calls to trySend
  sdk/servicebus/service-bus/src/core/messageSender.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

remove the TO DO comment to move to trySend
  sdk/servicebus/service-bus/src/core/messageSender.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[Identity] Add VSCodeCredential (#7994)
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/vscodeCredential.browser.ts
  sdk/identity/identity/src/credentials/vscodeCredential.ts
Owners: @bterlson, @schaabs, @daviwil, @jonathandturner

Improvements to AzureKeyCredential API permissiveness
  sdk/core/core-auth/src/azureKeyCredential.ts
  sdk/core/core-auth/test/index.spec.ts
Owners: @daviwil, @xirzec, @bterlson

getRetryAttemptTimeoutInMs from core-amqp
  sdk/core/core-amqp/src/retry.ts
  sdk/servicebus/service-bus/src/util/retries.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Updating links to point to the github.io locations for documentation.
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[ai-text-analytics] Updated README to use AzureKeyCredential
  sdk/textanalytics/ai-text-analytics/README.md
Owners: @xirzec, @willmtemple

add getRetryAttemptTimeoutInMs in core-amqp index.ts
  sdk/core/core-amqp/src/index.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Sync eng/common directory with azure-sdk-tools repository (#8029)
  eng/common/TestResources/New-TestResources.ps1
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Import getRetryAttemptTimeoutInMs from core-amqp
  sdk/servicebus/service-bus/src/core/managementClient.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

import getRetryAttemptTimeoutInMs from core-amqp
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/util/retries.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Reference @next so we get the preview version
  sdk/servicebus/service-bus/samples/javascript/package.json
  sdk/servicebus/service-bus/samples/typescript/package.json
Owners: @ramya-rao-a, @chradek, @richardpark-msft

un-unwrap sendRequestOptions
  sdk/servicebus/service-bus/src/core/managementClient.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft
/sdk/core/core-auth/ @daviwil @xirzec @bterlson
/sdk/core/core-http/ @daviwil @xirzec @bterlson @chradek @jeremymeng
/sdk/core/core-lro/ @sadasant @xirzec @bterlson
/sdk/core/core-paging/ @daviwil @xirzec @bterlson
/sdk/core/core-tracing/ @xirzec @bterlson @chradek
/sdk/core/logger @xirzec @bterlson @chradek

# Service teams
/sdk/appconfiguration/ @richardpark-msft @chradek

/sdk/batch/ @xingwu1 @matthchr @bgklein
/sdk/cosmosdb/ @southpolesteve

/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft

/sdk/identity/ @schaabs @daviwil @jonathandturner
/sdk/keyvault/ @jonathandturner @sadasant
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377

/sdk/test-utils/ @HarshaNalluru @sadasant
/sdk/textanalytics/ @xirzec @willmtemple

/sdk/search/ @xirzec

# API review files
/sdk/**/review/*api.md @bterlson

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson
