Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @xirzec, @chradek, @jeremymeng, @deyaaeldeen, @richardpark-msft, @HarshaNalluru, @sadasant, @joheredi, @maorleger, @LarryOsterman, @dpwatrous, @paterasMSFT, @zfengms, @DominikMe, @0rland0Wats0n, @ankitarorabit, @Azure/azure-sdk-communication-code-reviewers, @southpolesteve, @zfoster, @vishnureddy17, @ellismg, @witemple-msft, @schaabs, @YoDaMa, @XiaoningLiu, @vinjiang, @jiacfan, @ljian3377, @EmmaZhu, @Azure/azure-sdk-eng, @KarishmaGhiya, @sarangan12, @divyajay, @geneh, @alongafni, @bingisbestest, @nerajput1607, @jonathandturner, @bterlson, @qiaozha, @dw511214992, @hectorhdzg, @applicationinsights-js-owners, @weshaggard, @praveenkuttappan, @mikeharder, @mitchdenny, @danieljurek, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# PRLabel: %Azure.Core
/sdk/core/ @xirzec @chradek @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-amqp/ @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Core
/sdk/core/core-auth/ @sadasant @xirzec @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-client-rest/ @xirzec @chradek @joheredi @jeremymeng @deyaaeldeen

# PRLabel: %Azure.Core
/sdk/core/core-tracing/ @xirzec @chradek @richardpark-msft @maorleger

# Service teams
# PRLabel: %App Configuration
/sdk/appconfiguration/ @richardpark-msft @chradek @HarshaNalluru

# PRLabel: %Attestation
/sdk/attestation/ @LarryOsterman @deyaaeldeen

# PRLabel: %Batch
/sdk/batch/ @dpwatrous @paterasMSFT @zfengms @deyaaeldeen

# PRLabel: %Communication
/sdk/communication/ @DominikMe @0rland0Wats0n @ankitarorabit @Azure/azure-sdk-communication-code-reviewers

# PRLabel: %Container Registry
/sdk/containerregistry/ @jeremymeng

# PRLabel: %Cosmos
/sdk/cosmosdb/ @southpolesteve @zfoster

# PRLabel: %Digital Twins
/sdk/digitaltwins/ @vishnureddy17

# PRLabel: %Event Grid
/sdk/eventgrid/ @xirzec @ellismg

# PRLabel: %Event Hubs
/sdk/eventhub/ @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Azure.Identity
/sdk/identity/ @sadasant @witemple-msft @schaabs

# PRLabel: %Iot
/sdk/iot/ @YoDaMa @xirzec

# PRLabel: %KeyVault
/sdk/keyvault/ @maorleger @sadasant 

# PRLabel: %Service Bus
/sdk/servicebus/ @chradek @richardpark-msft @HarshaNalluru

# PRLabel: %Storage
/sdk/storage/ @XiaoningLiu @jeremymeng @vinjiang @jiacfan @ljian3377 @EmmaZhu

# PRLabel: %Synapse
/sdk/synapse/ @joheredi

# PRLabel: %Tables
/sdk/tables/ @joheredi

# PRLabel: %EngSys
/sdk/template/ @Azure/azure-sdk-eng

/sdk/test-utils/ @HarshaNalluru @sadasant

# PRLabel: %Cognitive - Text Analytics
/sdk/textanalytics/ @deyaaeldeen @witemple-msft

# PRLabel: %Cognitive - Form Recognizer
/sdk/formrecognizer/ @jeremymeng @witemple-msft

# PRLabel: %Cognitive - Metrics Advisor
/sdk/metricsadvisor/ @jeremymeng @KarishmaGhiya

# PRLabel: %Search
/sdk/search/ @xirzec @sarangan12

/sdk/applicationinsights/applicationinsights-query/ @divyajay @geneh @alongafni
/sdk/operationalinsights/loganalytics/ @divyajay @geneh @alongafni

/sdk/cognitiveservices/cognitiveservices-qnamaker-runtime/ @bingisbestest @nerajput1607
/sdk/cognitiveservices/cognitiveservices-qnamaker/ @bingisbestest @nerajput1607

# Smoke Tests
/common/smoke-test/ @ramya-rao-a @chradek @jonathandturner @sadasant @jeremymeng @southpolesteve

# API review files
/sdk/**/review/*api.md @bterlson @xirzec @chradek

# Management Plane
# PRLabel: %Mgmt
/sdk/**/arm-*/ @qiaozha @dw511214992

# PRLabel: %Monitor
/sdk/monitor/ @hectorhdzg @applicationinsights-js-owners @richardpark-msft
/sdk/monitor/monitor-query @richardpark-msft @maorleger

###########
# Tools
###########

# PRLabel: %dev-tool
/common/tools/dev-tool/ @witemple-msft

###########
# Eng Sys
###########
/eng/   @weshaggard @praveenkuttappan @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @benbp
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @praveenkuttappan @deyaaeldeen
/common/ @mikeharder @praveenkuttappan @witemple-msft @deyaaeldeen
/common/smoke-test @mikeharder @praveenkuttappan @witemple-msft @deyaaeldeen @benbp

/rush.json @mikeharder @praveenkuttappan
/tsconfig.json @mikeharder @praveenkuttappan @witemple-msft @deyaaeldeen
/**/tsconfig.json @witemple-msft @deyaaeldeen
/.scripts/ @mikeharder @praveenkuttappan @KarishmaGhiya

[core] Copy existing properties when flattening array in deserialization (#15655)
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/test/serializer.spec.ts
  sdk/core/core-client/test/testMappers.ts
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/test/data/TestClient/src/models/mappers.ts
  sdk/core/core-http/test/serializationTests.ts
Owners: @xirzec, @chradek, @jeremymeng, @deyaaeldeen

Increment package version after release of azure-cosmos
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Owners: @southpolesteve, @zfoster

Increment package version after release of azure-cosmos (#15677)
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Owners: @southpolesteve, @zfoster

[core-rest-pipeline] Add a simple sample (#15187)
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/sample.env
  sdk/core/core-rest-pipeline/samples-dev/.gitkeep
  sdk/core/core-rest-pipeline/samples-dev/node-sample.ts
  sdk/core/core-rest-pipeline/samples/v1/javascript/README.md
  sdk/core/core-rest-pipeline/samples/v1/javascript/node-sample.js
  sdk/core/core-rest-pipeline/samples/v1/javascript/package.json
  sdk/core/core-rest-pipeline/samples/v1/typescript/README.md
  sdk/core/core-rest-pipeline/samples/v1/typescript/package.json
  sdk/core/core-rest-pipeline/samples/v1/typescript/src/node-sample.ts
  sdk/core/core-rest-pipeline/samples/v1/typescript/tsconfig.json
  sdk/core/core-rest-pipeline/tsconfig.json
Owners: @xirzec, @chradek, @jeremymeng, @deyaaeldeen, @witemple-msft

[Identity] ManagedIdentityCredential also supports app registration client IDs (#15518)
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
Owners: @sadasant, @witemple-msft, @schaabs

update identity version
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1/typescript/package.json
Owners: @jeremymeng

addressing the core-auth install instructions
  sdk/identity/identity/samples/AzureIdentityExamples.md
Owners: @sadasant, @witemple-msft, @schaabs

Adds REQUEST_SEND_ERROR exception from core-rest to codes
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
Owners: @southpolesteve, @zfoster

removed unnecessary async
  sdk/identity/identity/samples/AzureIdentityExamples.md
Owners: @sadasant, @witemple-msft, @schaabs

Adds REQUEST_SEND_ERROR exception from core-rest to codes (#15681)
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
Owners: @southpolesteve, @zfoster

Adds another changelog condition
  sdk/cosmosdb/cosmos/CHANGELOG.md
Owners: @southpolesteve, @zfoster

update version
  sdk/eventhub/event-hubs/samples/browserSample/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
Owners: @chradek, @richardpark-msft, @HarshaNalluru

Adds another changelog condition (#15682)
  sdk/cosmosdb/cosmos/CHANGELOG.md
Owners: @southpolesteve, @zfoster

update identity versions for internal tests
  sdk/identity/identity/test/manual-integration/AzureArc/package.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/package.json
  sdk/identity/identity/test/manual-integration/AzureVM/package.json
  sdk/identity/identity/test/manual-integration/Cloudshell/package.json
  sdk/identity/identity/test/manual-integration/Kubernetes/package.json
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/package.json
  sdk/identity/identity/test/manual/package.json
Owners: @sadasant, @witemple-msft, @schaabs

Increment package version after release of azure-cosmos
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Owners: @southpolesteve, @zfoster

Increment package version after release of azure-cosmos (#15683)
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Owners: @southpolesteve, @zfoster
