Repository Azure/azure-sdk-for-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ramya-rao-a, @chradek, @xirzec, @bterlson, @richardpark-msft, @daviwil, @jeremymeng, @sadasant, @xingwu1, @matthchr, @bgklein, @southpolesteve, @schaabs, @jonathandturner, @XiaoningLiu, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377, @willmtemple, @qiaozha, @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft
/sdk/core/core-auth/ @daviwil @xirzec @bterlson
/sdk/core/core-http/ @daviwil @xirzec @bterlson @chradek @jeremymeng
/sdk/core/core-lro/ @sadasant @xirzec @bterlson
/sdk/core/core-paging/ @daviwil @xirzec @bterlson
/sdk/core/core-tracing/ @xirzec @bterlson @chradek
/sdk/core/logger @xirzec @bterlson @chradek

# Service teams
/sdk/appconfiguration/ @richardpark-msft @chradek

/sdk/batch/ @xingwu1 @matthchr @bgklein
/sdk/cosmosdb/ @southpolesteve

/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft

/sdk/identity/ @schaabs @daviwil @jonathandturner
/sdk/keyvault/ @jonathandturner @sadasant
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377

/sdk/test-utils/ @HarshaNalluru @sadasant
/sdk/textanalytics/ @xirzec @willmtemple

/sdk/search/ @xirzec

# API review files
/sdk/**/review/*api.md @bterlson

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson

Reference different branch for template
  sdk/template/ci.yml
Owners: @mitchdenny

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/features/arm-features/LICENSE.txt
  sdk/features/arm-features/README.md
  sdk/features/arm-features/package.json
  sdk/features/arm-features/rollup.config.js
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/links/arm-links/LICENSE.txt
  sdk/links/arm-links/README.md
  sdk/links/arm-links/package.json
  sdk/links/arm-links/rollup.config.js
  sdk/links/arm-links/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/locks/arm-locks/LICENSE.txt
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/rollup.config.js
  sdk/locks/arm-locks/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/managedapplications/arm-managedapplications/LICENSE.txt
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/rollup.config.js
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/managedApplicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationDefinitionsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/applicationsMappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/models/parameters.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applianceDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/appliances.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operations/index.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Owners: @qiaozha, @bterlson

Generated from d7aec541537099657f4bd9c2f6ecf50347189c69
  sdk/resources/arm-resources/LICENSE.txt
  sdk/resources/arm-resources/README.md
  sdk/resources/arm-resources/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/models/providersMappers.ts
  sdk/resources/arm-resources/src/models/resourceGroupsMappers.ts
  sdk/resources/arm-resources/src/models/resourcesMappers.ts
  sdk/resources/arm-resources/src/models/tagsOperationsMappers.ts
  sdk/resources/arm-resources/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/operations/index.ts
  sdk/resources/arm-resources/src/operations/resourceGroups.ts
  sdk/resources/arm-resources/src/operations/tagsOperations.ts
  sdk/resources/arm-resources/src/resourceManagementClient.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
Owners: @qiaozha

revise version
  sdk/advisor/arm-advisor/package.json
Owners: @qiaozha

Increment package version after release of azure-template
  sdk/template/template/package.json
Owners: @ramya-rao-a

Reference different branch for template
  sdk/template/ci.yml
Owners: @mitchdenny

Bump Azure template version
  sdk/template/template/package.json
Owners: @ramya-rao-a

Add Initial release stage configuration
  eng/pipelines/templates/stages/archetype-js-release.yml
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Add changelog to azure-template
  sdk/template/template/CHANGELOG.md
Owners: @ramya-rao-a

Switch JS Release to run from the JS repo
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Bump up Azure Template
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Owners: @ramya-rao-a

Run formatter on core-tracing
  sdk/core/core-tracing/rollup.test.config.js
  sdk/core/core-tracing/src/tracers/noop/noOpBinaryFormat.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusSpanWrapper.ts
Owners: @xirzec, @bterlson, @chradek

Run formatter on identity
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.browser.ts
  sdk/identity/identity/test/identityClient.spec.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/index.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/run_test.ts
  sdk/identity/identity/test/mockAzureCliCredentialClient.ts
  sdk/identity/identity/test/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/node/managedIdentityCredential.spec.ts
Owners: @schaabs, @daviwil, @jonathandturner

Run formatter for file-share
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileSystemAttributes.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
  sdk/storage/storage-file-share/test/node/utils.spec.ts
  sdk/storage/storage-file-share/test/utils/MockPolicy.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Owners: @XiaoningLiu, @jeremymeng, @HarshaNalluru, @vinjiang, @jiacfan, @ljian3377

refactor _acquireLockAndSendRequest
  sdk/servicebus/service-bus/src/core/managementClient.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

update scheduleMessageOperationPromise to the same format
  sdk/servicebus/service-bus/src/core/managementClient.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Release arm cognitiveservices (#8004)
  sdk/cognitiveservices/arm-cognitiveservices/LICENSE.txt
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClientContext.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/accountsMappers.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/mappers.ts
Owners: @qiaozha

Generated from b4f472143b7f675703b2a469b8050cdf0bee3dfa
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute/src/models/containerServicesMappers.ts
  sdk/compute/arm-compute/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute/src/models/disksMappers.ts
  sdk/compute/arm-compute/src/models/galleriesMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryApplicationsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImageVersionsMappers.ts
  sdk/compute/arm-compute/src/models/galleryImagesMappers.ts
  sdk/compute/arm-compute/src/models/imagesMappers.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
  sdk/compute/arm-compute/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute/src/models/sshPublicKeysMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute/src/operations/containerServices.ts
  sdk/compute/arm-compute/src/operations/galleries.ts
  sdk/compute/arm-compute/src/operations/galleryApplicationVersions.ts
  sdk/compute/arm-compute/src/operations/galleryApplications.ts
  sdk/compute/arm-compute/src/operations/galleryImageVersions.ts
  sdk/compute/arm-compute/src/operations/galleryImages.ts
  sdk/compute/arm-compute/src/operations/index.ts
  sdk/compute/arm-compute/src/operations/sshPublicKeys.ts
  sdk/compute/arm-compute/src/operations/virtualMachineScaleSets.ts
Owners: @qiaozha

Generated from 7e3a5fd44d7fbb1f7f5d3ad72861846234b7ccd6
  sdk/monitor/arm-monitor/LICENSE.txt
  sdk/monitor/arm-monitor/README.md
  sdk/monitor/arm-monitor/src/models/index.ts
  sdk/monitor/arm-monitor/src/models/mappers.ts
  sdk/monitor/arm-monitor/src/monitorManagementClientContext.ts
  sdk/monitor/arm-monitor/src/operations/alertRules.ts
Owners: @qiaozha

Adjust path to versioning tool
  eng/pipelines/templates/stages/archetype-js-release.yml
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek

Bump up Azure Template Version
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Owners: @ramya-rao-a

[event-hubs] set known amqp props on systemProperties (#7973)
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[event-hubs] add method to transform iothub connection string
  sdk/eventhub/event-hubs/src/util/iothubConnectionString.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

adds iothub connection string conversion as sample
  sdk/eventhub/event-hubs/samples/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/src/util/iothubConnectionString.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

address feedback
  sdk/eventhub/event-hubs/samples/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/typescript/src/iothubConnectionString.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[Service Bus] Test utils improvement - Swap [`actual`,`expected`] fields in should.equal
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[event-hubs] add samples to transform iothub connection string (#7060)
  sdk/eventhub/event-hubs/samples/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/typescript/src/iothubConnectionString.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[Service Bus] Test utils improvement - Swap [`actual`,`expected`] fields in should.equal (#8020)
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

[ai-text-analytics] Remove Pii Methods
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_mixedlanguage_textdocumentinput.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_a_language_specified.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_no_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_correctly_reports_recognition_of_piilike_pattern.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_client_throws_on_empty_list.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_service_errors_on_unsupported_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient/recording_recognizepiientities.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_mixedlanguage_textdocumentinput.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_a_language_specified.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_accepts_string_with_no_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_correctly_reports_recognition_of_piilike_pattern.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_client_throws_on_empty_list.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_service_errors_on_unsupported_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient/recording_recognizepiientities.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResultCollection.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Owners: @xirzec, @willmtemple, @bterlson

[ai-text-analytics] Update samples to remove PII methods
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizePii.ts
Owners: @xirzec, @willmtemple

comma
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
Owners: @ramya-rao-a, @chradek, @richardpark-msft

we don't have client objects man!
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

What's in a name?
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Update wording - it's not a "single call" anymore, but it is a single send.
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

function => method
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

'Use the subscribe method'
  sdk/servicebus/service-bus/README.md
Owners: @ramya-rao-a, @chradek, @richardpark-msft

Update macOS.10.13 to macOS.10.15 (#7662)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/eventhub/event-processor-host/tests.yml
Owners: @weshaggard, @KarishmaGhiya, @mikeharder, @mitchdenny, @danieljurek
