Repository Azure/azure-sdk-for-js, pull requests merged in 2019-08, with the labels that each got.

#4434 [CryptographyClient] Initial Implementation
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/samples/cryptography.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
Labels: Client

#4502 [Storage] Imports `@azure/abort-controller` - storage-blob
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/browsers/aborter/recording_should_set_value_and_get_value_successfully.json
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_abort_after_father_aborter_timeout.js
  sdk/storage/storage-blob/recordings/node/aborter/recording_should_set_value_and_get_value_successfully.js
  sdk/storage/storage-blob/src/Aborter.ts
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/LeaseClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/utils/RetriableReadableStream.ts
  sdk/storage/storage-blob/test/aborter.spec.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Labels: Client, Storage

#4372 [Storage] Support SAS Connection String - storage-queue
  sdk/storage/sample.env
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-queue/karma.conf.js
  sdk/storage/storage-queue/recordings/browsers/messageidclient/recording_update_and_delete_message_with_all_parameters__test_sas_connection_string_messageidclient_constructor.json
  sdk/storage/storage-queue/recordings/browsers/messagesclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name.json
  sdk/storage/storage-queue/recordings/browsers/messagesclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name_and_an_option_bag.json
  sdk/storage/storage-queue/recordings/browsers/messagesclient/recording_throws_error_if_constructor_queuename_parameter_is_empty.json
  sdk/storage/storage-queue/recordings/browsers/queueclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name.json
  sdk/storage/storage-queue/recordings/browsers/queueclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name_and_an_option_bag.json
  sdk/storage/storage-queue/recordings/browsers/queueclient/recording_throws_error_if_constructor_queuename_parameter_is_empty.json
  sdk/storage/storage-queue/recordings/browsers/queueserviceclient/recording_can_be_created_from_a_sas_connection_string.json
  sdk/storage/storage-queue/recordings/node/messageidclient/recording_update_and_delete_message_with_all_parameters__test_sas_connection_string_messageidclient_constructor.js
  sdk/storage/storage-queue/recordings/node/messagesclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name.js
  sdk/storage/storage-queue/recordings/node/messagesclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name_and_an_option_bag.js
  sdk/storage/storage-queue/recordings/node/messagesclient/recording_throws_error_if_constructor_queuename_parameter_is_empty.js
  sdk/storage/storage-queue/recordings/node/queueclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name.js
  sdk/storage/storage-queue/recordings/node/queueclient/recording_can_be_created_with_a_sas_connection_string_and_a_queue_name_and_an_option_bag.js
  sdk/storage/storage-queue/recordings/node/queueclient/recording_throws_error_if_constructor_queuename_parameter_is_empty.js
  sdk/storage/storage-queue/recordings/node/queueserviceclient/recording_can_be_created_from_a_sas_connection_string.js
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/node/utils.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/utils/index.browser.ts
  sdk/storage/storage-queue/test/utils/index.ts
Labels: Client, Storage

#4359 [Storage] Imports `@azure/abort-controller` - storage-queue
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/recordings/browsers/aborter/recording_should_set_value_and_get_value_successfully.json
  sdk/storage/storage-queue/recordings/node/aborter/recording_should_abort_after_parent_aborter_timeout.js
  sdk/storage/storage-queue/recordings/node/aborter/recording_should_set_value_and_get_value_successfully.js
  sdk/storage/storage-queue/src/Aborter.ts
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/test/aborter.spec.ts
Labels: Client, Storage

#4621 [Event Hubs] Add test to receive events from the checkpoint and update EPH sample
  sdk/eventhub/event-hubs/samples/eventProcessor.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Labels: Event Hubs

#4632 [Storage] Support SAS Connection String - storage-blob
  sdk/storage/storage-blob/recordings/browsers/appendblobclient/recording_can_be_created_with_a_sas_connection_string.json
  sdk/storage/storage-blob/recordings/browsers/appendblobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/appendblobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_can_be_created_with_a_sas_connection_string.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_can_be_created_from_a_sas_connection_string.json
  sdk/storage/storage-blob/recordings/browsers/blockblobclient/recording_can_be_created_with_a_sas_connection_string.json
  sdk/storage/storage-blob/recordings/browsers/blockblobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/blockblobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_can_be_created_with_a_sas_connection_string.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_can_be_created_with_a_sas_connection_string_and_a_container_name_and_an_option_bag.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_throws_error_if_constructor_containername_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_can_be_created_with_a_sas_connection_string.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.json
  sdk/storage/storage-blob/recordings/node/appendblobclient/recording_can_be_created_with_a_sas_connection_string.js
  sdk/storage/storage-blob/recordings/node/appendblobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/appendblobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_can_be_created_with_a_sas_connection_string.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_can_be_created_from_a_sas_connection_string.js
  sdk/storage/storage-blob/recordings/node/blockblobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/blockblobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_can_be_created_with_a_sas_connection_string.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_can_be_created_with_a_sas_connection_string_and_a_container_name_and_an_option_bag.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_throws_error_if_constructor_containername_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_can_be_created_with_a_sas_connection_string.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_throws_error_if_constructor_blobname_parameter_is_empty.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_throws_error_if_constructor_containername_parameter_is_empty.js
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
Labels: Client, Storage

#4605 [Storage] Support SAS Connection String - storage-file
  sdk/storage/storage-file/recordings/browsers/fileserviceclient/recording_can_be_created_from_a_sas_connection_string.json
  sdk/storage/storage-file/recordings/browsers/fileserviceclient/recording_can_be_created_from_a_sas_connection_string_and_an_option_bag.json
  sdk/storage/storage-file/recordings/browsers/shareclient/recording_can_be_created_with_a_sas_connection_string_and_a_share_name.json
  sdk/storage/storage-file/recordings/browsers/shareclient/recording_can_be_created_with_a_sas_connection_string_and_a_share_name_and_an_option_bag.json
  sdk/storage/storage-file/recordings/browsers/shareclient/recording_throws_error_if_constructor_sharename_parameter_is_empty.json
  sdk/storage/storage-file/recordings/node/fileserviceclient/recording_can_be_created_from_a_sas_connection_string.js
  sdk/storage/storage-file/recordings/node/fileserviceclient/recording_can_be_created_from_a_sas_connection_string_and_an_option_bag.js
  sdk/storage/storage-file/recordings/node/shareclient/recording_can_be_created_with_a_sas_connection_string_and_a_share_name.js
  sdk/storage/storage-file/recordings/node/shareclient/recording_can_be_created_with_a_sas_connection_string_and_a_share_name_and_an_option_bag.js
  sdk/storage/storage-file/recordings/node/shareclient/recording_throws_error_if_constructor_sharename_parameter_is_empty.js
  sdk/storage/storage-file/src/FileServiceClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-file/src/utils/utils.common.ts
  sdk/storage/storage-file/test/fileserviceclient.spec.ts
  sdk/storage/storage-file/test/node/shareclient.spec.ts
  sdk/storage/storage-file/test/node/utils.spec.ts
  sdk/storage/storage-file/test/shareclient.spec.ts
  sdk/storage/storage-file/test/utils/index.browser.ts
  sdk/storage/storage-file/test/utils/index.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
Labels: Client, Storage

#4412 [EPH] Set the values of leaseDuration and leaseRenewInterval after validation
  sdk/eventhub/event-processor-host/changelog.md
  sdk/eventhub/event-processor-host/src/hostContext.ts
  sdk/eventhub/event-processor-host/src/modelTypes.ts
Labels: Event Hubs

#4663 [Storage] Update Changelog, Readme, samples
  sdk/storage/README.md
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/javascript/withConnString.js
  sdk/storage/storage-blob/samples/typescript/withConnString.ts
  sdk/storage/storage-file/BreakingChanges.md
  sdk/storage/storage-file/ChangeLog.md
  sdk/storage/storage-file/README.md
  sdk/storage/storage-file/samples/javascript/withConnString.js
  sdk/storage/storage-file/samples/typescript/withConnString.ts
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/samples/javascript/withConnString.js
  sdk/storage/storage-queue/samples/typescript/withConnString.ts
Labels: Client, Storage

#4683 [Storage] Update samples with preview 2 changes
  sdk/storage/storage-blob/samples/javascript/advanced.js
  sdk/storage/storage-blob/samples/typescript/advanced.ts
  sdk/storage/storage-file/samples/javascript/advanced.js
  sdk/storage/storage-file/samples/typescript/advanced.ts
  sdk/storage/storage-queue/samples/typescript/basic.ts
Labels: Client, Storage

#4681 [Storage] update new releases in root readme to point to feature/storage branch
  README.md
Labels: Client, Storage

#4685 [KeyVault] 4.0.0-preview.3 CHANGELOG.md update
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: Client, KeyVault

#4688 [KeyVault] Fix flaky tests around the getDeleted* tests
  sdk/keyvault/keyvault-keys/tests/list.test.ts
  sdk/keyvault/keyvault-secrets/tests/list.test.ts
Labels: Client, KeyVault

#4699 Concurrency supported in Smoke Tests for JS
  samples/SmokeTest/BlobStorage.ts
  samples/SmokeTest/CosmosDB.ts
  samples/SmokeTest/EventHub.ts
  samples/SmokeTest/KeyVault.ts
  samples/SmokeTest/app.ts
  samples/SmokeTest/package.json
Labels: EngSys

#4722 [KeyVault-Secrets] Added missing types to the current release
  sdk/keyvault/keyvault-secrets/package.json
Labels: Client, KeyVault

#4729 [KeyVault-Secrets] 4.0.0-preview.4's CHANGELOG
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: Client, KeyVault

#4724 [KeyVault-Keys] Cleaned up published types
  sdk/keyvault/keyvault-keys/package.json
Labels: Client, KeyVault

#4740 [Storage] Updating preview versions in the install step - readme in samples folder
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-file/samples/README.md
  sdk/storage/storage-queue/samples/README.md
Labels: Client, Storage

#4747 [KeyVault-Keys] Fixes to recent feedback
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/package.json
Labels: Client, KeyVault

#4751 JS Smoke Test Pipeline
  eng/pipelines/smoke-tests.yml
  samples/SmokeTest/app.ts
Labels: EngSys

#4757 [Cosmos] Updating `rush.json` and `pnpm-lock` files after removing cosmos
  common/config/rush/pnpm-lock.yaml
  rush.json
Labels: Cosmos

#4749 [KeyVault-Certificates] Rollup and test utils
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete_operations/recording_can_create_a_certificate.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete_operations/recording_can_create_a_certificate.js
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/rollup.config.js
  sdk/keyvault/keyvault-certificates/rollup.test.config.js
  sdk/keyvault/keyvault-certificates/tests/CRUD.test.ts
  sdk/keyvault/keyvault-certificates/tests/utils/index.browser.ts
  sdk/keyvault/keyvault-certificates/tests/utils/recorder.ts
  sdk/keyvault/keyvault-certificates/tests/utils/retry.test.ts
  sdk/keyvault/keyvault-certificates/tests/utils/retry.ts
  sdk/keyvault/keyvault-certificates/tests/utils/testAuthentication.ts
  sdk/keyvault/keyvault-certificates/tests/utils/testClient.ts
  sdk/keyvault/keyvault-certificates/tests/utils/utils.common.ts
  sdk/keyvault/keyvault-certificates/tsconfig.json
Labels: Client, KeyVault

#4798 [Cosmos] Update .docsettings.yml to ignore cosmos/test/readme missing headers
  .docsettings.yml
Labels: Cosmos, EngSys

#4801 [KeyVault-Certificates] README update
  sdk/keyvault/keyvault-certificates/README.md
Labels: Client, KeyVault

#4281 Record and Playback - refactoring
  .docsettings.yml
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/test-utils/recorder/GUIDELINES.md
  sdk/test-utils/recorder/LICENSE
  sdk/test-utils/recorder/README.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/rollup.base.config.js
  sdk/test-utils/recorder/rollup.config.js
  sdk/test-utils/recorder/rollup.test.config.js
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/customConsoleLog.ts
  sdk/test-utils/recorder/src/index.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/utils.ts
  sdk/test-utils/recorder/test/index.ts
  sdk/test-utils/recorder/tsconfig.json
Labels: Client

#4828 [Cosmos] Onboard Cosmos to Rush
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/cosmosdb/cosmos/.gitattributes
  sdk/cosmosdb/cosmos/.npmignore
  sdk/cosmosdb/cosmos/.prettierrc.json
  sdk/cosmosdb/cosmos/LICENSE
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/api-extractor.json
  sdk/cosmosdb/cosmos/package-lock.json
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/package.json
  sdk/cosmosdb/cosmos/test/tsconfig.json
Labels: Client, Cosmos

#4886 [Record and Playback] Update lint step in the test-utils-recorder
  sdk/test-utils/recorder/package.json
Labels: Client

#4924 [Storage] Typo - `compete` -> `complete`
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file/README.md
  sdk/storage/storage-queue/README.md
Labels: Client, Storage

#4936 [KeyVault] Added the browser folder to the package files
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Labels: Client, KeyVault

#4839 [Event Hubs] Partition load balancer implementation in Event Processor
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/inMemoryPartitionManager.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Labels: Client, Event Hubs

#4881 [Cosmos] Pipelines for cosmos sdk
  CONTRIBUTING.md
  common/config/rush/command-line.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/steps/cosmos-additional-steps.yml
  eng/pipelines/templates/steps/cosmos-integration-public.yml
  eng/pipelines/templates/steps/integration-npm.yml
  eng/pipelines/templates/steps/integration-rush.yml
  sdk/cosmosdb/ci.yml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples/package.json
Labels: Client, Cosmos

#4948 [Cosmos] Migrate latest commits from azure-cosmos-js repo
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/azure-pipelines.yml
  sdk/cosmosdb/cosmos/changelog.md
  sdk/cosmosdb/cosmos/consumer-test.js
  sdk/cosmosdb/cosmos/dev.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/BulkUpdateWithSproc.ts
  sdk/cosmosdb/cosmos/samples/QueryThroughput/queryThroughput.js
  sdk/cosmosdb/cosmos/samples/package.json
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/common/logger.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/MinAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/defaultQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/orderByDocumentProducerComparator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/test/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
  sdk/cosmosdb/cosmos/test/functional/databaseaccount.spec.ts
  sdk/cosmosdb/cosmos/test/functional/globalEndpointManager.spec.ts
  sdk/cosmosdb/cosmos/test/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/test/unit/defaultQueryExecutionContext.spec.ts
  sdk/cosmosdb/cosmos/test/unit/helper.spec.ts
Labels: Cosmos, EngSys
