Repository Azure/azure-sdk-for-js, pull requests merged in 2019-11, with the labels that each got.

#5988 [Common Recorder] Import recordings only in playback mode
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-queue/karma.conf.js
  sdk/test-utils/recorder/GUIDELINES.md
Labels: Client

#5992 [EngSys] check for existing service name
  eng/tools/generate-static-index/index.js
  eng/tools/generate-static-index/service-mapper.json
Labels: EngSys

#6061 [Cosmos] Remove unused current() APIs
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByValueEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OffsetLimitEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OrderByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OrderedDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/UnorderedDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/ExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/defaultQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
Labels: Cosmos

#6028 [storage] GA follow-up items
  sdk/storage/storage-blob/ThirdPartyNotices.txt
  sdk/storage/storage-blob/gulpfile.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/ThirdPartyNotices.txt
  sdk/storage/storage-file-share/gulpfile.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/ThirdPartyNotices.txt
  sdk/storage/storage-queue/gulpfile.js
  sdk/storage/storage-queue/package.json
Labels: Client, Storage

#5780 [storage] Fix spans that were not waiting for child subspans
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: Client, Storage

#5962 [Storage] remove browser bundle references in file-share package
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/samples/README.md
  sdk/storage/storage-file-share/samples/browserSample.html
  sdk/storage/storage-queue/samples/README.md
Labels: Client, Storage

#5986 [Storage Queue] Update new helper methods with tracing
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: Client, Storage

#5993 [Storage Blob] Remove leftover circular dependencies
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/pollers/BlobStartCopyFromUrlPoller.ts
  sdk/storage/storage-blob/test/aborter.spec.ts
Labels: Client, Storage

#6035 [Common Recorder] Update the Skip method with a `reason` optional parameter
  sdk/test-utils/recorder/src/recorder.ts
Labels: Client, test-utils-recorder

#6018 Update rush and pnpm
  common/config/rush/pnpm-lock.yaml
  common/scripts/install-run.js
  rush.json
Labels: EngSys

#5774 Move smoke tests to common
  common/smoke-test/.gitignore
  common/smoke-test/BlobStorage.ts
  common/smoke-test/CosmosDB.ts
  common/smoke-test/EventHub.ts
  common/smoke-test/KeyVault.ts
  common/smoke-test/README.md
  common/smoke-test/app.ts
  common/smoke-test/package-lock.json
  common/smoke-test/package.json
  common/smoke-test/tsconfig.json
  eng/pipelines/smoke-tests.yml
Labels: EngSys

#6007 bump package versions
  common/config/rush/pnpm-lock.yaml
  eng/tools/versioning/VersionUtils.js
  eng/tools/versioning/increment.js
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/lib/util/constants.ts
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/lib/util/constants.ts
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/core/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/core/utils/constants.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/core/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/core/utils/constants.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/core/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/core/utils/constants.ts
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Client, EngSys

#5975 [storage-file-share] Doc fixes, links, and README check for file-share
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/src/AccountSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileDownloadResponse.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/credentials/AnonymousCredential.ts
  sdk/storage/storage-file-share/src/credentials/StorageSharedKeyCredential.ts
  sdk/storage/storage-file-share/src/policies/CredentialPolicy.ts
  sdk/storage/storage-file-share/src/policies/StorageSharedKeyCredentialPolicy.ts
Labels: Client, Storage

#6032 [storage-file-share] consistency around naming of expiresOn and startsOn
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/AccountSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/SASQueryParameters.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-file-share/test/node/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Labels: Client, Storage

#6156 Remove deprecated option for prettier
  .vscode/settings.json
  package.json
Labels: Client

#6142 [storage] Use @azure/logger in storage README
  sdk/storage/README.md
Labels: Client, Storage

#6135 [storage-file-share] shareName/name fields for Share clients
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_verify_directoryclient_name_matches_file_name.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_verify_fileclient_name_matches_file_name.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_verify_directoryclient_name_matches_file_name.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_verify_fileclient_name_matches_file_name.js
  sdk/storage/storage-file-share/recordings/node/shareclient/recording_throws_error_if_constructor_sharename_parameter_is_empty.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
Labels: Client, Storage

#6188 Update README.md
  README.md
Labels: Client, Docs

#6185 [Event Hubs] fix flaky live test
  sdk/eventhub/event-hubs/test/utils/receivedMessagesTester.ts
Labels: Client, Event Hubs

#6186 [Storage Blob] Fix - Build warning "Import declaration conflicts"
  sdk/storage/storage-blob/src/Clients.ts
Labels: Client, Storage

#6194 Typo in code example in storage
  sdk/storage/README.md
Labels: Client, Storage

#6183 [storage-file-share] naming consistency around content bodies
  sdk/storage/storage-file-share/samples/javascript/basic.js
  sdk/storage/storage-file-share/samples/typescript/basic.ts
  sdk/storage/storage-file-share/src/FileDownloadResponse.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Client, Storage

#6086 [Storage File Share] Update the error check of a (previously) flaky error
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Client, Storage

#5998 [Storage] Throw errors if circular references are present
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-queue/rollup.base.config.js
Labels: Client, Storage

#6084 [storage-file-share] overload downloadToBuffer with internal buffer option
  sdk/storage/storage-file-share/recordings/node/highlevel_nodejs_only/recording_downloadtobuffer_should_throw_an_error_if_the_count_size_in_bytes_is_too_large.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/utils/recorder.ts
Labels: Client, Storage

#6206 [core-tracing] Add sources to package
  sdk/core/core-tracing/package.json
Labels: Azure.Core, Client

#6216 [event hubs] forward detached errors to user error handler (2.x)
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
Labels: Client, Event Hubs

#6203 [Storage Queue] Import common recorder in the tests
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/recordings/browsers/aborter/recording_should_abort_after_aborter_timeout.json
  sdk/storage/storage-queue/recordings/browsers/aborter/recording_should_abort_after_parent_aborter_calls_abort.json
  sdk/storage/storage-queue/recordings/browsers/aborter/recording_should_abort_when_calling_abort_before_request_finishes.json
  sdk/storage/storage-queue/test/aborter.spec.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/node/messageidclient.spec.ts
  sdk/storage/storage-queue/test/node/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/node/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/node/utils.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueclientmessages.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/retrypolicy.spec.ts
  sdk/storage/storage-queue/test/utils.spec.ts
  sdk/storage/storage-queue/test/utils/index.ts
  sdk/storage/storage-queue/test/utils/recorder.ts
  sdk/storage/storage-queue/test/utils/testutils.common.ts
  sdk/test-utils/recorder/src/recorder.ts
Labels: Client, Storage

#6230 [event hubs] set audience for MSITokenCredentials (2.x)
  sdk/eventhub/event-hubs/src/eventHubClient.ts
Labels: Client, Event Hubs

#6110 Update names in cosmos for consistency
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/ChangeFeed.ts
  sdk/cosmosdb/cosmos/src/ChangeFeedIterator.ts
  sdk/cosmosdb/cosmos/src/ChangeFeedResponse.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/client/StoredProcedure/StoredProcedure.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/documents/DatabaseAccount.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/defaultQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/FeedResponse.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/src/retry/RetryPolicy.ts
  sdk/cosmosdb/cosmos/src/retry/defaultRetryPolicy.ts
  sdk/cosmosdb/cosmos/src/retry/endpointDiscoveryRetryPolicy.ts
  sdk/cosmosdb/cosmos/src/retry/resourceThrottleRetryPolicy.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/src/retry/sessionRetryPolicy.ts
  sdk/cosmosdb/cosmos/test/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/integration/incrementalFeed.spec.ts
Labels: Client, Cosmos

#6169 Pipe through logic to disable unit tests.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/eventhub/ci.yml
Labels: EngSys

#6242 [cosmos] Update typings file that was missed in #6110
  sdk/cosmosdb/cosmos/review/cosmos.api.md
Labels: Client, Cosmos

#6013 Clean-up unified pipelines.
  eng/pipelines/client.yml
  sdk/core/ci.yml
Labels: EngSys

#6247 [event hubs] fix typings for 2.x
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
Labels: Client, Event Hubs

#6267 [KeyVault-Certificates] Remove unused core-arm depedency
  sdk/keyvault/keyvault-certificates/package.json
Labels: Client, KeyVault

#5320 Inherit core-tracing tsconfig.json from root
  sdk/core/core-tracing/lib/tracers/opencensus/openCensusSpanWrapper.ts
  sdk/core/core-tracing/lib/tracers/opencensus/openCensusTraceStateWrapper.ts
  sdk/core/core-tracing/lib/tracers/opencensus/openCensusTracerWrapper.ts
  sdk/core/core-tracing/lib/tracers/test/testTracer.ts
  sdk/core/core-tracing/lib/utils/browser.d.ts
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/tsconfig.json
  tsconfig.json
  tsconfig.package.json
Labels: Client

#6264 Update changelogs for `@azure/core-tracing` update
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/core/core-auth/Changelog.md
  sdk/core/core-http/Changelog.md
  sdk/eventhub/event-hubs/changelog.md
  sdk/identity/identity/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-queue/ChangeLog.md
Labels: Client

#5980 [Storage File Share] Move to the unified swagger
  sdk/storage/storage-file-share/recordings/browsers/shareclient/recording_create_and_get_permission.json
  sdk/storage/storage-file-share/recordings/node/shareclient/recording_create_and_get_permission.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/models/shareMappers.ts
  sdk/storage/storage-file-share/src/generated/src/operations/directory.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Client, Storage

#6287 [storage] Add warning about limits of Node.js buffer sizes to documentation
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
Labels: Client, Storage

#6285 Update tsconfig for core packages
  sdk/core/abort-controller/src/AbortSignal.ts
  sdk/core/abort-controller/tsconfig.json
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/shims.d.ts
  sdk/core/core-amqp/tsconfig.json
  sdk/core/core-arm/.gitignore
  sdk/core/core-arm/lib/shims.d.ts
  sdk/core/core-arm/tsconfig.json
  sdk/core/core-asynciterator-polyfill/tsconfig.json
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-auth/test/index.spec.ts
  sdk/core/core-auth/tsconfig.json
  sdk/core/core-http/tsconfig.json
  sdk/core/core-lro/.gitignore
  sdk/core/core-lro/src/shims.d.ts
  sdk/core/core-lro/tsconfig.json
  sdk/core/core-paging/tsconfig.json
  sdk/core/logger/test/logger.spec.ts
  sdk/core/logger/tsconfig.json
  tsconfig.package.json
Labels: Azure.Core, Client

#6060 [Storage File Share] `uploadBrowserData` -> `uploadData` (with Node buffer as input)
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_uploaddata.json
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_uploaddata.js
  sdk/storage/storage-file-share/recordings/node/fileclient_nodejs_only/recording_uploaddata__large_buffer_as_data.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
Labels: Client, Storage

#6301 Update core-tracing changelog
  sdk/core/core-tracing/Changelog.md
Labels: Azure.Core, Client

#6275 [storage] removed @example from all doc comments
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: Storage

#6294 [Event Hubs] Optimizes load-balancing to reduce excessive partition stealing
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
Labels: Client, Event Hubs

#6001 [Storage] Bug Fix - Bad `listBlobsByHierarchy` request when `prefix` attribute is ""
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_listcontainers_with_default_parameters__null_prefix_shouldnt_throw_error.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsbyhierarchy_with_default_parameters__null_prefix_shouldnt_throw_error.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsflat_with_default_parameters__null_prefix_shouldnt_throw_error.json
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_listcontainers_with_default_parameters__null_prefix_shouldnt_throw_error.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsbyhierarchy_with_default_parameters__null_prefix_shouldnt_throw_error.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsflat_with_default_parameters__null_prefix_shouldnt_throw_error.js
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_listfilesanddirectories__empty_prefix_should_not_cause_an_error.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_listshares_with_default_parameters__empty_prefix_should_not_cause_an_error.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_listfilesanddirectories__empty_prefix_should_not_cause_an_error.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_listshares_with_default_parameters__empty_prefix_should_not_cause_an_error.js
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/recordings/browsers/queueserviceclient/recording_listqueues_with_default_parameters__empty_prefix_should_not_cause_an_error.json
  sdk/storage/storage-queue/recordings/node/queueserviceclient/recording_listqueues_with_default_parameters__empty_prefix_should_not_cause_an_error.js
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Labels: Client, Storage

#6312 [storage-file-share] update changelog
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
Labels: Client, Storage

#6208 [storage-file-share] README files for samples directories
  .docsettings.yml
  common/scripts/prep-samples.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/samples/javascript/README.md
  sdk/storage/storage-file-share/samples/javascript/advanced.js
  sdk/storage/storage-file-share/samples/javascript/anonymousCred.js
  sdk/storage/storage-file-share/samples/javascript/basic.js
  sdk/storage/storage-file-share/samples/javascript/customPipeline.js
  sdk/storage/storage-file-share/samples/javascript/iterators-files-and-directories.js
  sdk/storage/storage-file-share/samples/javascript/iterators-handles.js
  sdk/storage/storage-file-share/samples/javascript/iterators-shares.js
  sdk/storage/storage-file-share/samples/javascript/package.json
  sdk/storage/storage-file-share/samples/javascript/proxyAuth.js
  sdk/storage/storage-file-share/samples/javascript/sharedKeyCred.js
  sdk/storage/storage-file-share/samples/javascript/withConnString.js
  sdk/storage/storage-file-share/samples/tsconfig.json
  sdk/storage/storage-file-share/samples/typescript/README.md
  sdk/storage/storage-file-share/samples/typescript/advanced.ts
  sdk/storage/storage-file-share/samples/typescript/anonymousCred.ts
  sdk/storage/storage-file-share/samples/typescript/basic.ts
  sdk/storage/storage-file-share/samples/typescript/customPipeline.ts
  sdk/storage/storage-file-share/samples/typescript/iterators-files-and-directories.ts
  sdk/storage/storage-file-share/samples/typescript/iterators-handles.ts
  sdk/storage/storage-file-share/samples/typescript/iterators-shares.ts
  sdk/storage/storage-file-share/samples/typescript/package.json
  sdk/storage/storage-file-share/samples/typescript/proxyAuth.ts
  sdk/storage/storage-file-share/samples/typescript/sharedKeyCred.ts
  sdk/storage/storage-file-share/samples/typescript/tsconfig.json
  sdk/storage/storage-file-share/samples/typescript/withConnString.ts
Labels: Client, Docs, Storage

#6335 [amqp-common] treat ETIMEOUT error from dns.resolve as network disconnected
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/abort-controller/package.json
  sdk/core/amqp-common/changelog.md
  sdk/core/amqp-common/package.json
  sdk/core/amqp-common/src/retry.ts
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/testhub/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-datalake/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Labels: Azure.Core, Client

#6328 [storage] log changes to documentation
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-queue/ChangeLog.md
Labels: Client, Storage

#6340 Replace azure.github.io links with docs.microsoft.com
  sdk/identity/identity/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-queue/README.md
Labels: Azure.Identity, Client, KeyVault, Storage
