Repository Azure/azure-sdk-for-js, pull requests merged in 2019-10, with the labels that each got.

#5225 [KeyVault] README fixes
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Labels: Client, KeyVault

#5327 [Storage] Fix test failure caused by the differences in node and browser
  sdk/storage/storage-file/test/fileclient.spec.ts
Labels: Client, Storage

#5296 Adding in support for set/clearReadOnly methods for values
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
Labels: AzConfig, Client

#5316 [Storage] Add name properties on clients - storage-blob
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
Labels: Client, Storage

#5351 [Common Recorder] getUniqueName() - Update the description when same label is used more than once
  sdk/test-utils/recorder/GUIDELINES.md
Labels: Client

#5330 [Storage] Rename ConnString interface to ConnectionString
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-file/src/utils/utils.common.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Labels: Client, Storage

#5349 [Cosmos] Use rushx instead of rush in the CI steps specific to Cosmos
  eng/pipelines/templates/steps/cosmos-additional-steps.yml
Labels: Cosmos, EngSys

#5201 [Cosmos] Moving copyright headers to the top of the file
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/ConflictWorker.ts
  sdk/cosmosdb/cosmos/src/ChangeFeedIterator.ts
  sdk/cosmosdb/cosmos/src/ChangeFeedOptions.ts
  sdk/cosmosdb/cosmos/src/LocationInfo.ts
  sdk/cosmosdb/cosmos/src/client/Container/PartitionKeyRange.ts
  sdk/cosmosdb/cosmos/src/client/Container/UniqueKeyPolicy.ts
  sdk/cosmosdb/cosmos/src/common/statusCodes.ts
  sdk/cosmosdb/cosmos/src/documents/ConnectionMode.ts
  sdk/cosmosdb/cosmos/src/documents/ConsistencyLevel.ts
  sdk/cosmosdb/cosmos/src/documents/DataType.ts
  sdk/cosmosdb/cosmos/src/documents/IndexKind.ts
  sdk/cosmosdb/cosmos/src/documents/IndexingMode.ts
  sdk/cosmosdb/cosmos/src/documents/PermissionMode.ts
  sdk/cosmosdb/cosmos/src/documents/TriggerOperation.ts
  sdk/cosmosdb/cosmos/src/documents/TriggerType.ts
  sdk/cosmosdb/cosmos/src/documents/UserDefinedFunctionType.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/FetchResult.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/SqlQuerySpec.ts
  sdk/cosmosdb/cosmos/src/request/LocationRouting.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/request/StatusCodes.ts
  sdk/cosmosdb/cosmos/src/request/TimeoutError.ts
  sdk/cosmosdb/cosmos/src/retry/retryOptions.ts
  sdk/cosmosdb/cosmos/src/session/VectorSessionToken.ts
  sdk/cosmosdb/cosmos/test/common/MockQueryIterator.ts
  sdk/cosmosdb/cosmos/test/common/TestData.ts
  sdk/cosmosdb/cosmos/test/common/_testConfig.ts
Labels: Client, Cosmos

#5331 [Storage] Removing left over console.log
  sdk/storage/storage-blob/test/aborter.spec.ts
Labels: Client, Storage

#5208 bump versions after September preview release
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file/package.json
  sdk/storage/storage-queue/package.json
Labels: Client, Storage

#5311 [Event Hubs] remove createFromIotHubConnectionString method
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/samples/useWithIotHub.ts
  sdk/eventhub/event-hubs/src/eventHubClient.ts
  sdk/eventhub/event-hubs/src/iothub/iothubClient.ts
  sdk/eventhub/event-hubs/test/iothub.spec.ts
Labels: Client, Event Hubs

#5335 [Cosmos] replace node-abort-controller with @azure/abort-controller
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/rollup.config.js
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
Labels: Client, Cosmos

#5352 [app-configuration] Handle ETags and ifMatch/ifNoneMatch conditionals
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/samples/index.ts
  sdk/appconfiguration/app-configuration/samples/setReadOnlySample.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/responseBodyNotFoundError.ts
  sdk/appconfiguration/app-configuration/test/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
  sdk/appconfiguration/app-configuration/test/throwOrNotThrow.spec.ts
Labels: AzConfig, Client

#5376 [core-http] fixes traceparent header generation
  sdk/core/core-http/lib/policies/tracingPolicy.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
Labels: Azure.Core

#5380 Add TracingPolicy to IdentityClient
  sdk/identity/identity/src/client/identityClient.ts
Labels: Azure.Identity, Client

#5361 [Storage] Add name properties on clients - storage-queue
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Labels: Client, Storage

#5357 Add tracing for storage-blob
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_download_with_default_parameters_and_tracing.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_uploadblockblob_and_deleteblob_with_tracing.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_download_with_default_parameters_and_tracing.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_uploadblockblob_and_deleteblob_with_tracing.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BatchRequest.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/LeaseClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/utils/tracing.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
Labels: Client, Storage

#5363 Add tracing to storage-file
  sdk/storage/storage-file/package.json
  sdk/storage/storage-file/recordings/browsers/directoryclient/recording_createfile_and_deletefile_with_tracing.json
  sdk/storage/storage-file/recordings/browsers/fileclient/recording_create_with_tracing.json
  sdk/storage/storage-file/recordings/node/directoryclient/recording_createfile_and_deletefile_with_tracing.js
  sdk/storage/storage-file/recordings/node/fileclient/recording_create_with_tracing.js
  sdk/storage/storage-file/rollup.base.config.js
  sdk/storage/storage-file/src/DirectoryClient.ts
  sdk/storage/storage-file/src/FileClient.ts
  sdk/storage/storage-file/src/FileServiceClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-file/src/StorageClient.ts
  sdk/storage/storage-file/src/utils/tracing.ts
  sdk/storage/storage-file/test/directoryclient.spec.ts
  sdk/storage/storage-file/test/fileclient.spec.ts
Labels: Client, Storage

#5385 Add tracing to storage-queue
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/recordings/browsers/queueclient/recording_getproperties_with_tracing.json
  sdk/storage/storage-queue/recordings/node/queueclient/recording_getproperties_with_tracing.js
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/utils/tracing.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Client, Storage

#5389 Fix core-tracing duplication
  sdk/core/core-http/lib/coreHttp.ts
  sdk/core/core-http/rollup.config.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/node/environmentCredential.spec.ts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/index.ts
Labels: Azure.Core, Client

#5393 [logging] adds core logging package
  .docsettings.yml
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/logger/.vscode/settings.json
  sdk/core/logger/LICENSE
  sdk/core/logger/README.md
  sdk/core/logger/api-extractor.json
  sdk/core/logger/karma.conf.js
  sdk/core/logger/package.json
  sdk/core/logger/review/logger.api.md
  sdk/core/logger/rollup.base.config.js
  sdk/core/logger/rollup.config.js
  sdk/core/logger/rollup.test.config.js
  sdk/core/logger/src/logger.ts
  sdk/core/logger/test/logger.spec.ts
  sdk/core/logger/tsconfig.json
Labels: Azure.Core

#5400 [Storage] Fix build failures - storage-file
  sdk/storage/storage-file/src/FileServiceClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
Labels: Client, Storage

#5387 [Storage] Script to run all the samples in one go - storage-blob
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/execute-samples.js
  sdk/storage/storage-blob/package.json
Labels: Client, Storage

#5388 [Storage] Name props on clients queue - Provide better error messages and some tests
  sdk/storage/storage-queue/recordings/browsers/messageidclient/recording_verify_messageid_and_queuename_passed_to_the_client.json
  sdk/storage/storage-queue/recordings/browsers/messagesclient/recording_verify_queuename_passed_to_the_client.json
  sdk/storage/storage-queue/recordings/browsers/queueclient/recording_verify_accountname_and_queuename_passed_to_the_client.json
  sdk/storage/storage-queue/recordings/node/messageidclient/recording_verify_messageid_and_queuename_passed_to_the_client.js
  sdk/storage/storage-queue/recordings/node/messagesclient/recording_verify_queuename_passed_to_the_client.js
  sdk/storage/storage-queue/recordings/node/queueclient/recording_verify_accountname_and_queuename_passed_to_the_client.js
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/messageidclient.spec.ts
  sdk/storage/storage-queue/test/node/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Client, Storage

#5359 [Storage] Name properties on clients - storage-file
  sdk/storage/storage-file/recordings/browsers/directoryclient/recording_verify_sharename_and_dirpath_passed_to_the_client.json
  sdk/storage/storage-file/recordings/browsers/fileclient/recording_verify_sharename_and_filepath_passed_to_the_client.json
  sdk/storage/storage-file/recordings/browsers/shareclient/recording_verify_accountname_and_sharename_passed_to_the_client.json
  sdk/storage/storage-file/recordings/node/directoryclient/recording_verify_sharename_and_dirpath_passed_to_the_client.js
  sdk/storage/storage-file/recordings/node/fileclient/recording_verify_sharename_and_filepath_passed_to_the_client.js
  sdk/storage/storage-file/recordings/node/shareclient/recording_verify_accountname_and_sharename_passed_to_the_client.js
  sdk/storage/storage-file/src/DirectoryClient.ts
  sdk/storage/storage-file/src/FileClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-file/src/StorageClient.ts
  sdk/storage/storage-file/src/utils/utils.common.ts
  sdk/storage/storage-file/test/directoryclient.spec.ts
  sdk/storage/storage-file/test/fileclient.spec.ts
  sdk/storage/storage-file/test/node/sas.spec.ts
  sdk/storage/storage-file/test/shareclient.spec.ts
Labels: Client, Storage

#5408 [Storage] Fix build failures - generate pnpm-lock file
  common/config/rush/pnpm-lock.yaml
Labels: Client, Storage

#5410 Update open census wrapper
  sdk/core/core-tracing/lib/tracers/opencensus/openCensusSpanWrapper.ts
  sdk/core/core-tracing/lib/tracers/opencensus/openCensusTracerWrapper.ts
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/rollup.base.config.js
Labels: Azure.Core, Client

#5415 [Storage] Changelog for name properties on clients
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file/ChangeLog.md
  sdk/storage/storage-queue/ChangeLog.md
Labels: Client, Storage

#5265 [Storage] Updates to readme with AAD setup and DefaultAzureCredential info
  sdk/storage/storage-blob/README.md
Labels: Client, Storage

#5425 [Cosmos] Fix lint report filename
  sdk/cosmosdb/cosmos/package.json
Labels: Client, Cosmos

#5426 Trace storage http requests
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file/src/Pipeline.ts
  sdk/storage/storage-file/test/directoryclient.spec.ts
  sdk/storage/storage-file/test/fileclient.spec.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Client, Storage

#5405 [Storage] Name props on clients blob - Provide better error messages and some tests
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_verify_blobname_and_containername_passed_to_the_client.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_verify_containername_passed_to_the_client.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_verify_blobname_and_containername_passed_to_the_client.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_verify_containername_passed_to_the_client.js
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
Labels: Client, Storage

#5429 [Cosmos] Retain the old lint step temporarily
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/tslint.json
Labels: Client, Cosmos

#5443 [Storage] decodeURIComponent to get the decoded version of the contents like container name/ directory name
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-file/src/utils/utils.common.ts
Labels: Client, Storage

#5442 [Storage] Client Constructors - Bug fixes - encode names in connection string constructors
  sdk/storage/storage-blob/recordings/node/containerclient_nodejs_only/recording_can_be_created_with_a_connection_string.js
  sdk/storage/storage-blob/recordings/node/containerclient_nodejs_only/recording_can_be_created_with_a_connection_string_and_a_container_name_and_an_option_bag.js
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-queue/src/MessageIdClient.ts
  sdk/storage/storage-queue/src/MessagesClient.ts
  sdk/storage/storage-queue/src/QueueClient.ts
Labels: Client, Storage

#5447 [KeyVault] Addressed feedback on samples
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/samples/backupAndRestore.ts
  sdk/keyvault/keyvault-certificates/samples/contacts.ts
  sdk/keyvault/keyvault-certificates/samples/helloWorld.ts
  sdk/keyvault/keyvault-certificates/samples/issuers.ts
  sdk/keyvault/keyvault-certificates/samples/operations.ts
  sdk/keyvault/keyvault-certificates/tsconfig.samples.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/samples/helloWorld.ts
  sdk/keyvault/keyvault-keys/tsconfig.samples.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/samples/backupAndRestore.ts
  sdk/keyvault/keyvault-secrets/samples/challenge.ts
  sdk/keyvault/keyvault-secrets/samples/helloWorld.ts
  sdk/keyvault/keyvault-secrets/tsconfig.samples.json
Labels: Client, KeyVault

#5461 [Storage] Fix build failures - missed renames
  sdk/storage/storage-file/src/DirectoryClient.ts
  sdk/storage/storage-file/src/FileClient.ts
Labels: Client, Storage

#5472 Remove logging from core-tracing
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-http/package.json
  sdk/core/core-tracing/lib/utils/log.ts
  sdk/core/core-tracing/lib/utils/traceParentHeader.ts
  sdk/core/core-tracing/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/template/template/package.json
Labels: Azure.Core, Client

#5482 Make identity tests run 230x faster
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/util/delay.ts
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, Client

#5537 [KeyVault] Remove IV, auth data and auth tag
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
Labels: Client, KeyVault

#5492 [core-tracing] Store Tracer globally instead of in module scope
  sdk/core/core-tracing/lib/tracerProxy.ts
  sdk/core/core-tracing/lib/utils/cache.ts
  sdk/core/core-tracing/lib/utils/global.browser.ts
  sdk/core/core-tracing/lib/utils/global.ts
  sdk/core/core-tracing/package.json
Labels: Azure.Core, Client

#5427 Pass SpanOptions to getToken
  sdk/core/core-auth/package.json
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-http/lib/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
Labels: Azure.Core, Client

#5557 [Storage] Name properties on clients - Emulator support
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/node/emulator-tests.spec.ts
Labels: Client, Storage

#5589 Migrate away from `debug` dependency to internal logger
  sdk/core/logger/package.json
  sdk/core/logger/review/logger.api.md
  sdk/core/logger/rollup.base.config.js
  sdk/core/logger/src/debug.ts
  sdk/core/logger/src/log.browser.ts
  sdk/core/logger/src/log.ts
  sdk/core/logger/src/logger.ts
  sdk/core/logger/test/debug.spec.ts
  sdk/core/logger/tsconfig.json
Labels: Azure.Core, Client

#5630 [Storage][Blob] renames leftovers
  sdk/storage/storage-blob/samples/typescript/iterators-blobs.ts
  sdk/storage/storage-blob/samples/typescript/iterators-containers.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/container.ts
  sdk/storage/storage-blob/src/generated/src/operations/service.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
Labels: Client, Storage

#5624 [Storage] Update downloadToBuffer to return buffer
  sdk/storage/storage-blob/src/BlobClient.ts
Labels: Client, Storage

#5629 [Storage][Queue] renames from API review
  sdk/storage/storage-queue/samples/javascript/iterators.js
  sdk/storage/storage-queue/samples/typescript/iterators.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/SASQueryParameters.ts
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/operations/messageId.ts
  sdk/storage/storage-queue/src/generated/src/operations/messages.ts
  sdk/storage/storage-queue/src/generated/src/operations/queue.ts
  sdk/storage/storage-queue/src/generated/src/operations/service.ts
  sdk/storage/storage-queue/src/policies/LoggingPolicy.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/emulator-tests.spec.ts
  sdk/storage/storage-queue/test/node/messageidclient.spec.ts
  sdk/storage/storage-queue/test/node/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/utils/index.ts
Labels: Client, Storage

#5650 [Storage] Rename options types to be consistent
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-file/src/FileClient.ts
Labels: Client, Storage

#5626 [Storage] BlobSASSignatureValues could use BlobSASPermissions type for `permissions` instead of string
  sdk/storage/storage-blob/src/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-file/src/AccountSASSignatureValues.ts
  sdk/storage/storage-file/src/FileSASSignatureValues.ts
  sdk/storage/storage-file/test/node/fileclient.spec.ts
  sdk/storage/storage-file/test/node/sas.spec.ts
  sdk/storage/storage-file/test/utils/index.ts
  sdk/storage/storage-queue/src/AccountSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/utils/index.ts
Labels: Client, Storage

#5632 [Storage][Blob] Consolidate PageRange and ClearRange using Range
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/PageBlobRangeResponse.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
Labels: Client, Storage

#5644 [app-configuration] Fixing inconsistencies found during peer review
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/samples/getSettingOnlyIfChanged.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
  sdk/appconfiguration/app-configuration/test/throwOrNotThrow.spec.ts
Labels: AzConfig, Client

#5534 [Storage][Queue] re-export models used in public api surface ex…
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/generatedModels.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
Labels: Client, Storage

#5532 [Storage][File] Explicitly re-export model types
  sdk/storage/storage-file/review/storage-file.api.md
  sdk/storage/storage-file/src/DirectoryClient.ts
  sdk/storage/storage-file/src/FileClient.ts
  sdk/storage/storage-file/src/FileDownloadResponse.ts
  sdk/storage/storage-file/src/FileServiceClient.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-file/src/generatedModels.ts
  sdk/storage/storage-file/src/index.browser.ts
  sdk/storage/storage-file/src/index.ts
Labels: Client, Storage

#5661 [Storage][Queue] Rename the queue message operation result types
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/test/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
Labels: Client, Storage

#5567 [Storage][Blob] explicitly re-export individual model types
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/samples/typescript/basic.ts
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BatchRequest.ts
  sdk/storage/storage-blob/src/BatchResponseParser.ts
  sdk/storage/storage-blob/src/BatchUtils.browser.ts
  sdk/storage/storage-blob/src/BatchUtils.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/LeaseClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
Labels: Client, Storage

#5672 [Storage][Blob] Flatten and simplify access conditions
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/LeaseClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Labels: Client, Storage

#5634 [storage][blob] Create BlobBatchClient based on API review feedback
  sdk/storage/storage-blob/recordings/browsers/blobbatch/recording_blobbatch_should_report_error_when_mixing_differnt_request_types_in_one_batch.json
  sdk/storage/storage-blob/recordings/browsers/blobbatch/recording_deleteblobs_should_work_for_batch_delete.json
  sdk/storage/storage-blob/recordings/browsers/blobbatch/recording_setblobsaccesstier_should_work_for_batch_set_tier.json
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_blobbatch_should_report_error_when_mixing_differnt_request_types_in_one_batch.js
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_deleteblobs_should_work_for_batch_delete.js
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_setblobsaccesstier_should_work_for_batch_set_tier.js
  sdk/storage/storage-blob/samples/javascript/customizedClientHeaders.js
  sdk/storage/storage-blob/samples/typescript/customizedClientHeaders.ts
  sdk/storage/storage-blob/src/BatchResponse.ts
  sdk/storage/storage-blob/src/BatchResponseParser.ts
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
Labels: Client, Storage

#5613 [Storage] Standardize name and path usage in clients
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file/src/DirectoryClient.ts
  sdk/storage/storage-file/src/FileClient.ts
  sdk/storage/storage-file/test/directoryclient.spec.ts
  sdk/storage/storage-file/test/fileclient.spec.ts
  sdk/storage/storage-file/test/node/sas.spec.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/messagesclient.spec.ts
  sdk/storage/storage-queue/test/node/messageidclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Client, Storage

#5640 [Storage] Update versions to 12.0.0-preview.5
  sdk/storage/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file/README.md
  sdk/storage/storage-file/samples/README.md
  sdk/storage/storage-file/src/utils/constants.ts
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/samples/README.md
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Client, Storage

#5701 [Storage] Fix build failures caused by the left over old references after #5613
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-queue/test/node/emulator-tests.spec.ts
Labels: Client, Storage

#5691 [core-lro] Change PollerOperationState to prefix boolean states with `is`
  sdk/core/core-lro/src/pollOperation.ts
  sdk/core/core-lro/src/poller.ts
  sdk/core/core-lro/test/testClient.test.ts
  sdk/core/core-lro/test/utils/testOperation.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/test/lro.delete.test.ts
  sdk/keyvault/keyvault-keys/test/lro.recoverDelete.test.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/test/lro.delete.test.ts
  sdk/keyvault/keyvault-secrets/test/lro.recover.test.ts
Labels: Azure.Core, Client

#5674 [Storage] Rename eTag to etag
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/LeaseClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file/src/FileClient.ts
  sdk/storage/storage-file/src/FileDownloadResponse.ts
  sdk/storage/storage-file/src/ShareClient.ts
  sdk/storage/storage-file/src/generated/src/models/index.ts
  sdk/storage/storage-file/src/generated/src/models/mappers.ts
  sdk/storage/storage-file/swagger/README.md
  sdk/storage/storage-file/test/directoryclient.spec.ts
  sdk/storage/storage-file/test/node/directoryclient.spec.ts
  sdk/storage/storage-file/test/node/fileclient.spec.ts
  sdk/storage/storage-file/test/node/shareclient.spec.ts
  sdk/storage/storage-file/test/shareclient.spec.ts
Labels: Client, Storage

#5722 [Storage] Fix samples
  sdk/storage/storage-file/samples/javascript/iterators-files-and-directories.js
  sdk/storage/storage-file/samples/javascript/iterators-handles.js
  sdk/storage/storage-file/samples/javascript/iterators-shares.js
  sdk/storage/storage-file/samples/typescript/iterators-files-and-directories.ts
  sdk/storage/storage-file/samples/typescript/iterators-handles.ts
  sdk/storage/storage-file/samples/typescript/iterators-shares.ts
  sdk/storage/storage-queue/samples/javascript/basic.js
  sdk/storage/storage-queue/samples/typescript/basic.ts
Labels: Client, Storage

#5707 [Storage] Changelog for preview.5
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file/ChangeLog.md
  sdk/storage/storage-queue/ChangeLog.md
Labels: Client, Storage

#5673 [keyvault-keys] API changes
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/samples/javascript/cryptography.js
  sdk/keyvault/keyvault-keys/samples/javascript/helloWorld.js
  sdk/keyvault/keyvault-keys/samples/typescript/cryptography.ts
  sdk/keyvault/keyvault-keys/samples/typescript/helloWorld.ts
  sdk/keyvault/keyvault-keys/src/core/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/poller.ts
  sdk/keyvault/keyvault-keys/test/CRUD.test.ts
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
  sdk/keyvault/keyvault-keys/test/list.test.ts
  sdk/keyvault/keyvault-keys/test/lro.delete.test.ts
  sdk/keyvault/keyvault-keys/test/lro.recoverDelete.test.ts
  sdk/keyvault/keyvault-keys/test/recoverBackupRestore.test.ts
Labels: Client, KeyVault

#5729 [Storage] Copy breaking changes from changelog
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-file/BreakingChanges.md
  sdk/storage/storage-file/ChangeLog.md
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
Labels: Client, Storage

#5571 Update crypto imports
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/keyvault/keyvault-keys/samples/typescript/cryptography.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
  sdk/storage/storage-blob/src/credentials/SharedKeyCredential.ts
  sdk/storage/storage-blob/src/credentials/UserDelegationKeyCredential.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-file/src/credentials/SharedKeyCredential.ts
  sdk/storage/storage-file/test/utils/index.ts
  sdk/storage/storage-queue/src/credentials/SharedKeyCredential.ts
Labels: Client

#5719 [Storage][Blob] Rename LeaseClient -> BlobLeaseClient
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
Labels: Client, Storage

#5726 [KeyVault] Doc updates
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
Labels: Client, KeyVault

#5699 [storage][blob] Fix BlobBatchClient constructor to use public types
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
Labels: Client, Storage

#5520 [event hubs] catch errors thrown from user-handlers
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/changelog.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
Labels: Client, Event Hubs

#5751 Fix log issue in core-http
  sdk/core/core-http/lib/coreHttp.ts
  sdk/core/core-http/lib/pipelineOptions.ts
  sdk/core/core-http/lib/policies/logPolicy.ts
  sdk/core/core-http/lib/serviceClient.ts
  sdk/core/core-http/test/logFilterTests.ts
Labels: Azure.Core, Client

#5636 [Storage] Replace LoggingPolicy with @azure/logger and logPolicy
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/LoggingPolicyFactory.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/log.ts
  sdk/storage/storage-blob/src/policies/LoggingPolicy.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file/package.json
  sdk/storage/storage-file/review/storage-file.api.md
  sdk/storage/storage-file/src/LoggingPolicyFactory.ts
  sdk/storage/storage-file/src/Pipeline.ts
  sdk/storage/storage-file/src/index.browser.ts
  sdk/storage/storage-file/src/index.ts
  sdk/storage/storage-file/src/log.ts
  sdk/storage/storage-file/src/policies/LoggingPolicy.ts
  sdk/storage/storage-file/src/utils/constants.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/LoggingPolicyFactory.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/log.ts
  sdk/storage/storage-queue/src/policies/LoggingPolicy.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Client, Storage

#5763 [storage] fix logging policy
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-file/src/Pipeline.ts
  sdk/storage/storage-queue/src/Pipeline.ts
Labels: Client, Storage

#5750 [Storage][Blob] Containeritems empty
  sdk/storage/storage-blob/src/BlobServiceClient.ts
Labels: Client, Storage

#5742 [Storage][Blob] Fix comment on BlobGetPropertiesHeaders.contentLength
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/swagger/README.md
Labels: Client, Storage

#5671 [Storage] DownloadToBuffer overload to not pass the buffer
  sdk/storage/storage-blob/recordings/node/highlevel/recording_downloadtobuffer_should_throw_error_if_the_countsize_provided_in_bytes_is_too_large.js
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
Labels: Client, Storage

#5762 [Storage] `fs.stat` works only in node environment
  sdk/storage/storage-blob/src/utils/utils.node.ts
  sdk/storage/storage-file/ChangeLog.md
  sdk/storage/storage-file/src/utils/utils.node.ts
Labels: Client, Storage

#5646 [storage-blob] adds beginCopyFromURL poller
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_abortcopyfromclient_should_failed_for_a_completed_copy_operation.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_abortcopyfromclient_should_failed_for_a_completed_copy_operation.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_begincopyfromurl_with_rehydrate_priority.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl/recording_supports_automatic_polling_via_polluntildone.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl/recording_supports_cancellation_of_the_copy.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl/recording_supports_manual_polling_via_poll.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl_poller/recording_supports_automatic_polling_via_polluntildone.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl_poller/recording_supports_cancellation_of_the_copy.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl_poller/recording_supports_manual_polling_via_poll.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl_poller/recording_supports_restoring_poller_state_from_another_poller.js
  sdk/storage/storage-blob/recordings/node/blobclient_begincopyfromurl_poller/recording_supports_updating_on_progress_events.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_abortcopyfromclient_should_failed_for_a_completed_copy_operation.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/pollers/BlobStartCopyFromUrlPoller.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobclientpollers.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/utils/recorder.ts
Labels: Client, Storage

#5791 [Storage] Make JSDOC more consistent and fixes
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/ContainerSASPermissions.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/policies/KeepAlivePolicy.ts
  sdk/storage/storage-blob/src/policies/RetryPolicy.ts
  sdk/storage/storage-blob/src/policies/TelemetryPolicy.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/src/AccountSASSignatureValues.ts
  sdk/storage/storage-queue/src/KeepAlivePolicyFactory.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/SASQueryParameters.ts
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/policies/RetryPolicy.ts
  sdk/storage/storage-queue/src/policies/TelemetryPolicy.ts
  sdk/storage/storage-queue/src/utils/tracing.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Labels: Client, Docs, Storage

#5813 [Storage] Remove outdated instruction to download bundle
  sdk/storage/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/README.md
Labels: Client, Storage

#5856 [Storage File] Add note on package rename in readme
  sdk/storage/storage-file-share/README.md
Labels: Client, Storage

#5767 [Storage] Remove circular dependencies - storage-blob
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/src/AppendBlobClient.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/BlockBlobClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/internal.ts
  sdk/storage/storage-blob/test/specialnaming.spec.ts
  sdk/storage/storage-blob/test/utils/assert.ts
  sdk/storage/storage-file-share/ChangeLog.md
Labels: Client, Storage

#5831 [Storage Queue] Pipeline alignment with core-http & storage-blob
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/samples/javascript/advanced.js
  sdk/storage/storage-blob/samples/javascript/customPipeline.js
  sdk/storage/storage-blob/samples/typescript/advanced.ts
  sdk/storage/storage-blob/samples/typescript/customPipeline.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/samples/javascript/customPipeline.js
  sdk/storage/storage-queue/samples/typescript/customPipeline.ts
  sdk/storage/storage-queue/src/KeepAlivePolicyFactory.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-queue/src/UniqueRequestIDPolicyFactory.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/policies/KeepAlivePolicy.ts
  sdk/storage/storage-queue/src/policies/UniqueRequestIDPolicy.ts
  sdk/storage/storage-queue/test/utils/testutils.common.ts
Labels: Client, Storage

#5866 [Storage] [Blob] add fs: false to storage-blob package.json browser mapping
  sdk/storage/storage-blob/package.json
Labels: Client, Storage

#5851 [Storage File] Pipeline alignment with core-http & storage-blob
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/samples/typescript/advanced.ts
  sdk/storage/storage-file-share/samples/typescript/customPipeline.ts
  sdk/storage/storage-file-share/src/KeepAlivePolicyFactory.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/UniqueRequestIDPolicyFactory.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-file-share/src/policies/KeepAlivePolicy.ts
  sdk/storage/storage-file-share/src/policies/UniqueRequestIDPolicy.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Labels: Client, Storage

#5869 [Cosmos] Remove universal-user-agent
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/rollup.config.js
  sdk/cosmosdb/cosmos/src/common/platform.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.browser.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.ts
Labels: Cosmos

#5867 [Cosmos] 3.4.0
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#5875 [Storage] Changelog for file shares
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
Labels: Client, Storage

#5868 [Storage] Update changelog for blob
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
Labels: Client, Storage

#5862 [storage] Storage policy renames
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BrowserPolicyFactory.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-blob/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/BreakingChanges.md
  sdk/storage/storage-file-share/ChangeLog.md
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/BrowserPolicyFactory.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-file-share/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-file-share/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/BrowserPolicyFactory.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-queue/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-queue/src/policies/StorageRetryPolicy.ts
Labels: Client, Storage

#5857 [storage-blob] add missing jsdocs & export types that were missed out
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BatchResponse.ts
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobRangeResponse.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/utils/constants.ts
Labels: Client, Storage

#5861 [storage-queue] add missing jsdocs & export types that were missed out
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/generatedModels.ts
  sdk/storage/storage-queue/src/models.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Client, Storage

#5888 Bring back missed changes to after moving BlobClients to BlobClient.ts
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobClient.ts
Labels: Client, Storage

#5897 CODEOWNERS: Add `xirzec` to tracing and logger
  .github/CODEOWNERS
Labels: Azure.Core, Client

#5891 [keyvault] Rename exported key types to be consistent
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
Labels: Client, KeyVault

#5865 Remove browser bundles from storage packages
  sdk/storage/README.md
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-blob/samples/browserSamples/basic.html
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.html
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.js
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/samples/README.md
  sdk/storage/storage-queue/samples/browserSample.html
Labels: Client, Storage

#5877 Setting core and identity packages to 1.0.0 for GA!
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitiveservices/cognitiveservices-inkrecognizer/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Labels: EngSys

#5904 Added eng to core ci build for coverage.
  sdk/core/ci.yml
Labels: EngSys

#5881 [Storage] Add `fs` : false to storage-file-share package.json browser mapping
  sdk/storage/storage-file-share/package.json
Labels: Client, Storage

#5864 [Storage] Unified swagger for blob
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/operations/blockBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/pageBlob.ts
  sdk/storage/storage-blob/swagger/README.md
Labels: Client, Storage

#5895 [Storage] [Queue & Blob] Consistency on startsOn and expiresOn
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/SASQueryParameters.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/AccountSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
  sdk/storage/storage-queue/src/SASQueryParameters.ts
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
  sdk/storage/storage-queue/swagger/README.md
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/utils/index.ts
Labels: Client, Storage, blocking-release

#5913 [core] update changelogs for GA
  sdk/core/abort-controller/changelog.md
  sdk/core/core-amqp/changelog.md
  sdk/core/core-arm/Changelog.md
  sdk/core/core-asynciterator-polyfill/changelog.md
  sdk/core/core-auth/Changelog.md
  sdk/core/core-http/Changelog.md
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-paging/changelog.md
  sdk/core/logger/Changelog.md
Labels: Azure.Core, Client

#5915 storage: Small copy editing to README.md's
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/README.md
Labels: Client, Storage

#5890 [Storage] Unified swagger for queue
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Client, Storage

#5896 [keyvault] Update code snippets, improve js docs
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/core/keyVaultBase.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/test/CRUD.test.ts
  sdk/keyvault/keyvault-keys/test/list.test.ts
  sdk/keyvault/keyvault-keys/test/lro.recoverDelete.test.ts
  sdk/keyvault/keyvault-keys/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/core/keyVaultBase.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/test/CRUD.test.ts
  sdk/keyvault/keyvault-secrets/test/list.test.ts
  sdk/keyvault/keyvault-secrets/test/lro.delete.test.ts
  sdk/keyvault/keyvault-secrets/test/lro.recover.test.ts
  sdk/keyvault/keyvault-secrets/test/recoverBackupRestore.test.ts
Labels: Client, KeyVault

#5921 [Storage] fix samples in storage packages
  sdk/storage/storage-blob/samples/javascript/advanced.js
  sdk/storage/storage-blob/samples/javascript/anonymousCred.js
  sdk/storage/storage-blob/samples/javascript/proxyAuth.js
  sdk/storage/storage-blob/samples/typescript/anonymousCred.ts
  sdk/storage/storage-blob/samples/typescript/proxyAuth.ts
  sdk/storage/storage-file-share/samples/javascript/advanced.js
  sdk/storage/storage-file-share/samples/javascript/anonymousCred.js
  sdk/storage/storage-file-share/samples/javascript/customPipeline.js
  sdk/storage/storage-file-share/samples/javascript/proxyAuth.js
  sdk/storage/storage-file-share/samples/typescript/anonymousCred.ts
  sdk/storage/storage-file-share/samples/typescript/proxyAuth.ts
  sdk/storage/storage-queue/samples/javascript/anonymousCred.js
  sdk/storage/storage-queue/samples/javascript/proxyAuth.js
  sdk/storage/storage-queue/samples/typescript/anonymousCred.ts
  sdk/storage/storage-queue/samples/typescript/proxyAuth.ts
Labels: Client, Storage

#5938 [Storage] Remove @member tag as the description next to it doesnt get rendered
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: Client, Storage

#5929 [KeyVault] Last API cleanups for Keys and Secrets
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
Labels: Client, KeyVault

#5932 [Storage] Improve code snippets in JS Docs
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: Client, Storage

#5931 [storage-queue] Links, examples, and some doc fixes
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/StorageBrowserPolicyFactory.ts
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-queue/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-queue/src/credentials/AnonymousCredential.ts
  sdk/storage/storage-queue/src/credentials/StorageSharedKeyCredential.ts
  sdk/storage/storage-queue/src/policies/CredentialPolicy.ts
  sdk/storage/storage-queue/src/policies/StorageSharedKeyCredentialPolicy.ts
Labels: Client, Storage

#5924 [storage-blob] Links, examples, and some doc fixes
  sdk/storage/storage-blob/src/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobRangeResponse.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-blob/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-blob/src/credentials/AnonymousCredential.ts
  sdk/storage/storage-blob/src/policies/CredentialPolicy.ts
  sdk/storage/storage-blob/src/pollers/BlobStartCopyFromUrlPoller.ts
Labels: Client, Storage

#5945 [KeyVault] TokenCredential parameter documentation fixed
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
Labels: Client, KeyVault

#5955 [core-tracing] Update README to have some basic examples
  sdk/core/core-tracing/README.md
  sdk/core/logger/README.md
Labels: Azure.Core, Client

#5954 version update for storage and event hubs
  sdk/eventhub/event-hubs/changelog.md
  sdk/storage/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/samples/README.md
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/samples/README.md
Labels: Client, Storage

#5948 [Storage] Fix token credential docs related to @azure/identity in storage packages
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: Client, Storage

#5953 Add docs and samples about bundling for browsers
  .docsettings.yml
  documentation/Bundling.md
  samples/Bundling/parcel/js/index.js
  samples/Bundling/parcel/js/package.json
  samples/Bundling/parcel/js/storage.html
  samples/Bundling/parcel/ts/index.ts
  samples/Bundling/parcel/ts/package.json
  samples/Bundling/parcel/ts/storage.html
  samples/Bundling/parcel/ts/tsconfig.json
  samples/Bundling/rollup/js/package.json
  samples/Bundling/rollup/js/rollup.config.js
  samples/Bundling/rollup/js/src/index.js
  samples/Bundling/rollup/js/storage.html
  samples/Bundling/rollup/ts/package.json
  samples/Bundling/rollup/ts/rollup.config.js
  samples/Bundling/rollup/ts/src/index.ts
  samples/Bundling/rollup/ts/storage.html
  samples/Bundling/rollup/ts/tsconfig.json
  samples/Bundling/webpack/js/package.json
  samples/Bundling/webpack/js/src/index.js
  samples/Bundling/webpack/js/storage.html
  samples/Bundling/webpack/ts/package.json
  samples/Bundling/webpack/ts/src/index.ts
  samples/Bundling/webpack/ts/storage.html
  samples/Bundling/webpack/ts/tsconfig.json
  samples/Bundling/webpack/ts/webpack.config.js
  sdk/storage/storage-blob/BreakingChanges.md
  sdk/storage/storage-blob/ChangeLog.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/BreakingChanges.md
  sdk/storage/storage-queue/ChangeLog.md
  sdk/storage/storage-queue/README.md
Labels: Client, Docs

#5936 [storage-queue] style check for README.md
  sdk/storage/storage-queue/README.md
Labels: Client, Storage

#5957 [storage-blob] README style check
  sdk/storage/storage-blob/README.md
Labels: Client, Storage
