Repository Azure/azure-sdk-for-js, pull requests merged in 2020-04, with the labels that each got.

#8129 [core-auth] hotfix to provide downleveled types
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/api-extractor.json
  sdk/core/core-auth/package.json
  sdk/textanalytics/ai-text-analytics/test/tracing.spec.ts
Labels: Azure.Core, Client, TextAnalytics

#8132 [search] Create continuation token.
  sdk/search/search/CHANGELOG.md
  sdk/search/search/package.json
  sdk/search/search/review/search.api.md
  sdk/search/search/src/base64.browser.ts
  sdk/search/search/src/base64.ts
  sdk/search/search/src/indexModels.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/src/shims.d.ts
  sdk/search/search/test/base64.spec.ts
Labels: Client, Search

#8147 [KeyVault] Tests should not get silently stuck
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete/recording_can_delete_a_certificate.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__restore_certificates_and_recover_backups/recording_can_restore_a_certificate.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_delete_a_certificate.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__restore_certificates_and_recover_backups/recording_can_restore_a_certificate.js
  sdk/keyvault/keyvault-certificates/test/CRUD.test.ts
  sdk/keyvault/keyvault-certificates/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-certificates/test/utils/recorderUtils.ts
  sdk/keyvault/keyvault-certificates/test/utils/retry.test.ts
  sdk/keyvault/keyvault-certificates/test/utils/retry.ts
  sdk/keyvault/keyvault-certificates/test/utils/testClient.ts
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__restore_keys_and_recover_backups/recording_can_restore_a_key_with_a_given_backup.js
  sdk/keyvault/keyvault-keys/test/list.test.ts
  sdk/keyvault/keyvault-keys/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-keys/test/utils/recorderUtils.ts
  sdk/keyvault/keyvault-keys/test/utils/retry.test.ts
  sdk/keyvault/keyvault-keys/test/utils/retry.ts
  sdk/keyvault/keyvault-keys/test/utils/testClient.ts
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__restore_secrets_and_recover_backups/recording_can_restore_a_secret.js
  sdk/keyvault/keyvault-secrets/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-secrets/test/utils/recorderUtils.ts
  sdk/keyvault/keyvault-secrets/test/utils/retry.test.ts
  sdk/keyvault/keyvault-secrets/test/utils/retry.ts
  sdk/keyvault/keyvault-secrets/test/utils/testClient.ts
Labels: KeyVault

#8136 [Service Bus] Add retry logic to `receiveBatch` methods
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
Labels: Client, Service Bus

#8076 Smoke tests use dynamic test resources
  common/smoke-test/KeyVault.ts
  common/smoke-test/smoke-tests.yml
  common/smoke-test/test-resources.json
Labels: EngSys

#8178 rush update --full
  common/config/rush/pnpm-lock.yaml
Labels: EngSys

#7174 [Storage] Fix api-extractor related issues
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-file-datalake/api-extractor.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/index.browser.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
Labels: Client, Storage

#8177 [search] Update README for preview 2
  sdk/search/search/README.md
Labels: Client, Search

#8221 [KeyVault] Restore backup tests cannot be trusted to run live
  sdk/keyvault/keyvault-certificates/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-keys/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-secrets/test/recoverBackupRestore.test.ts
Labels: KeyVault

#8223 [search] Update changelog for release
  sdk/search/ci.yml
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchServiceClient.ts
Labels: Client, Search

#8227 [ai-text-analytics] Throw an Error when documents is empty
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Labels: Client, TextAnalytics

#8245 [core-http] Remove mocha-chrome dependency
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/package.json
Labels: Azure.Core, Client

#8244 [KeyVault] Forcing the purge tests to run only on record
  sdk/keyvault/keyvault-certificates/test/list.test.ts
  sdk/keyvault/keyvault-keys/test/list.test.ts
  sdk/keyvault/keyvault-secrets/test/list.test.ts
Labels: KeyVault

#8259 [search] Create pipeline for live tests
  sdk/search/search-documents/tests.yml
  sdk/search/test-resources.json
Labels: Client, Search

#8265 Change China smoke testing region
  common/smoke-test/smoke-tests.yml
Labels: EngSys

#8300 [ai-form-recognizer] Use AzureKeyCredential
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getLabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/listModels.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeLabeledForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeLabeledFormFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModelWithLabels.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/listModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledFormFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainModelWithLabels.ts
  sdk/formrecognizer/ai-form-recognizer/src/azureKeyCredentialPolicy.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerApiKeyCredential.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
Labels: Client, FormRecognizer

#8308 Temporarily disable Cosmos DB smoke testing
  common/smoke-test/app.ts
  common/smoke-test/smoke-tests.yml
  common/smoke-test/test-resources.json
Labels: EngSys

#8321 [Service Bus] Custom props on deadLetter() for non-deferred messages
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/test/deadLetter.spec.ts
Labels: Client, Service Bus

#8329 [service-bus] Allow users to call `open()` on a Sender and initialize the connection
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
Labels: Service Bus

#8317 [FormRecognizer] refactor to align with preview.1 api design
  sdk/formrecognizer/ai-form-recognizer/.vscode/launch.json
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/rollup.base.config.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getLabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeLabeledForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeLabeledFormFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainModelWithLabels.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeLabeledFormFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainModelWithLabels.ts
  sdk/formrecognizer/ai-form-recognizer/src/azureKeyCredentialPolicy.ts
  sdk/formrecognizer/ai-form-recognizer/src/common.ts
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/src/utils/utils.node.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/node/utils.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Labels: Client, FormRecognizer

#8365 [search] Unblock live test CI and add initial test
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/search/search-documents/.nycrc
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/karma.conf.js
  sdk/search/search-documents/package.json
  sdk/search/search-documents/recordings/node/searchindexclient_count/recording_returns_the_correct_document_count.js
  sdk/search/search-documents/rollup.base.config.js
  sdk/search/search-documents/src/geographyPoint.ts
  sdk/search/search-documents/test/geographyPoint.spec.ts
  sdk/search/search-documents/test/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/utils/interfaces.ts
  sdk/search/search-documents/test/utils/recordedClient.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Labels: Client, Search

#8389 Use OperationTracingOptions from core-tracing
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-http/src/operationOptions.ts
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/util/operationOptions.ts
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/identity/identity/src/util/tracing.ts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/utils/tracing.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/StorageClient.ts
  sdk/storage/storage-file-datalake/src/index.browser.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/utils/tracing.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/StorageClient.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-file-share/src/utils/tracing.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/StorageClient.ts
  sdk/storage/storage-queue/src/index.browser.ts
  sdk/storage/storage-queue/src/index.ts
  sdk/storage/storage-queue/src/utils/tracing.ts
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Azure.Core, Client

#8422 [ai-form-recognizer] Live testing hooks and ARM template
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/forms/Form_1.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/forms/Invoice_1.pdf
  sdk/formrecognizer/ai-form-recognizer/test-assets/forms/Invoice_1.tiff
  sdk/formrecognizer/ai-form-recognizer/test-assets/receipt/contoso-allinone.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/receipt/contoso-receipt.png
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_1.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_1.jpg.labels.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_1.jpg.ocr.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_2.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_2.jpg.labels.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_2.jpg.ocr.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_3.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_3.jpg.labels.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_3.jpg.ocr.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_4.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_4.jpg.labels.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_4.jpg.ocr.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_5.jpg
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_5.jpg.labels.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/Form_5.jpg.ocr.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/fields.json
  sdk/formrecognizer/ai-form-recognizer/test-assets/training/subfolder/Form_6.jpg
  sdk/formrecognizer/ai-form-recognizer/test/node/setup.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/util/trainingContainer.ts
  sdk/formrecognizer/ai-form-recognizer/tests.yml
  sdk/formrecognizer/test-resources.json
Labels: Client, FormRecognizer

#8443 rushx instead of rush --to
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/tools/eng-package-utils/getPackagePath.js
Labels: EngSys

#8460 [ai-form-recognizer] enable browser integration tests
  sdk/formrecognizer/ai-form-recognizer/package.json
Labels: Client, FormRecognizer

#8464 [FormRecognizer] more doc/sample improvements
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/customModelManagement.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/iteratorModels.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/sample.env
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainLabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainUnlabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/iteratorModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/sample.env
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainUnlabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
Labels: Client, FormRecognizer

#8068 [PerfStress] Initial implementation
  common/config/rush/pnpm-lock.yaml
  eng/.docsettings.yml
  rush.json
  sdk/test-utils/perfstress/.dockerignore
  sdk/test-utils/perfstress/.eslintrc.json
  sdk/test-utils/perfstress/CHANGELOG.md
  sdk/test-utils/perfstress/Dockerfile
  sdk/test-utils/perfstress/LICENSE
  sdk/test-utils/perfstress/README.md
  sdk/test-utils/perfstress/build.ps1
  sdk/test-utils/perfstress/karma.conf.js
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/perfstress/run.ps1
  sdk/test-utils/perfstress/runAllTests.sh
  sdk/test-utils/perfstress/src/index.ts
  sdk/test-utils/perfstress/src/options.ts
  sdk/test-utils/perfstress/src/parallel.ts
  sdk/test-utils/perfstress/src/policy.ts
  sdk/test-utils/perfstress/src/program.ts
  sdk/test-utils/perfstress/src/tests.ts
  sdk/test-utils/perfstress/test/delay.spec.ts
  sdk/test-utils/perfstress/test/exception.spec.ts
  sdk/test-utils/perfstress/test/index.spec.ts
  sdk/test-utils/perfstress/test/noop.spec.ts
  sdk/test-utils/perfstress/test/options.spec.ts
  sdk/test-utils/perfstress/test/perfStressPolicy.spec.ts
  sdk/test-utils/perfstress/test/setupCleanup.spec.ts
  sdk/test-utils/perfstress/tsconfig.json
Labels: EngSys, PerfStress

#8249 Increment version for identity releases
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-queue/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: EngSys

#8519 [search] Fix odata metadata policy
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/base64.browser.ts
  sdk/search/search-documents/src/base64.ts
  sdk/search/search-documents/src/odataMetadataPolicy.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchServiceClient.ts
  sdk/search/search-documents/src/serviceUtils.ts
Labels: Client, Search

#8489 Add node-fetch and sleep tests
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/perfstress/test/index.spec.ts
  sdk/test-utils/perfstress/test/nodeFetch.spec.ts
  sdk/test-utils/perfstress/test/sleep.spec.ts
Labels: Client, EngSys, PerfStress

#8507 Update all Linux images to ubuntu-18.04
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/variables/globals.yml
  sdk/appconfiguration/app-configuration/tests.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/keyvault/keyvault-certificates/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
  sdk/search/search-documents/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/archetype-sdk-tests-storage.yml
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
  sdk/textanalytics/ai-text-analytics/tests.yml
Labels: Client, EngSys

#8486 Update contributing sections to link to CONTRIBUTING.md
  common/smoke-test/README.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/core/abort-controller/README.md
  sdk/core/core-asynciterator-polyfill/README.md
  sdk/core/core-auth/README.md
  sdk/core/core-http/README.md
  sdk/core/core-lro/README.md
  sdk/core/core-paging/README.md
  sdk/core/core-tracing/README.md
  sdk/core/logger/README.md
  sdk/cosmosdb/cosmos/README.md
  sdk/eventhub/CONTRIBUTING.md
  sdk/eventhub/contribute.md
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-processor-host/CONTRIBUTING.md
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/identity/identity/README.md
  sdk/keyvault/README.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/search/search-documents/README.md
  sdk/storage/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-datalake/README.md
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/README.md
  sdk/test-utils/perfstress/README.md
  sdk/test-utils/recorder/README.md
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Client, Storage

#8560 [core] Update release date for core packages
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-tracing/CHANGELOG.md
Labels: Azure.Core, Client

#8478 [ai-text-analytics] Move to new ESLint plugin
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/textanalytics/ai-text-analytics/.eslintrc.json
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/azureKeyCredentialPolicy.ts
  sdk/textanalytics/ai-text-analytics/src/extractKeyPhrasesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeLinkedEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Labels: Client, TextAnalytics

#8541 [KeyVault-Secrets] Eslint should be good now
  sdk/keyvault/keyvault-secrets/.eslintrc.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/test/list.test.ts
  sdk/keyvault/keyvault-secrets/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-secrets/test/utils/recorderUtils.ts
  sdk/keyvault/keyvault-secrets/test/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/test/utils/testClient.ts
  sdk/keyvault/keyvault-secrets/test/utils/utils.common.ts
Labels: Client, KeyVault

#8539 [KeyVault-Certificates] Bad eslint should break CI
  sdk/keyvault/keyvault-certificates/package.json
Labels: Client, KeyVault

#8589 [ai-text-analytics] Updated README logging section
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Client, TextAnalytics

#8490 [service-bus] Session manager sample preview.1
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/package.json
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/package.json
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deadLetter.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Client, Service Bus

#8597 Add ServiceDirectory parameter to usages of remove-tests-resources.yml
  common/smoke-test/smoke-tests.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Labels: EngSys

#8622 [event-hubs] update sendBatch to accept lists of events
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
Labels: Client, Event Hubs

#8631 [FormRecognizer] Update README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
Labels: Client, FormRecognizer

#8611 [recorder] afterEach is now always executed
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/recorder.ts
Labels: test-utils-recorder
