Repository Azure/azure-sdk-for-js, pull requests merged in 2020-10, with the labels that each got.

#11577 Increment version for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
Labels: Azure.Core

#11584 [Text Analytics] Adding breaking tag to changelog
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#11583 [Text Analytics] Fix README.md
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#11579 [Tables] Enable live tests
  sdk/tables/data-tables/karma.conf.js
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_boolean.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_date.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_datetime.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_guid.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_int32.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_int64.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_only_primitives.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_primitive_int_and_float.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_boolean.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_date.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_datetime.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_guid.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_int32.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_int64.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_only_primitives.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_primitive_int_and_float.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_binary_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_create_and_get_table/recording_should_create_new_table.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_create_get_table_and_delete/recording_should_create_new_table_then_delete.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_boolean.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_date.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_datetime.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_guid.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_int32.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_int64.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_only_primitives.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_primitive_int_and_float.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_boolean.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_date.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_datetime.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_guid.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_int32.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_int64.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_only_primitives.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_primitive_int_and_float.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_binary_with_filter.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_by_page.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_with_filter.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_create_and_get_table/recording_should_create_new_table.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_create_get_table_and_delete/recording_should_create_new_table_then_delete.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_by_page.js
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
  sdk/tables/data-tables/test/integration/tableserviceclient.spec.ts
  sdk/tables/data-tables/tests.yml
  sdk/tables/test-resources.json
Labels: Client, Tables

#11362 Sync eng/common directory with azure-sdk-tools for PR 1031
  eng/common/scripts/New-ReleaseAsset.ps1
Labels: Central-EngSys, EngSys

#11565 [service-bus] Moving autolockrenewal into a class independent of MessageReceiver/StreamingReceiver
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/autoLockRenewer.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
Labels: Service Bus

#11588 [Service Bus] Fix test failure in the canary region
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Labels: Service Bus, auto-merge

#11477 [Key Vault] All of the Key Vault changelog entries for the upcoming release
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Labels: KeyVault

#11597 [Service Bus] Fix test failures in the canary region - part 2
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Labels: Service Bus, auto-merge

#11576 [Service Bus] Run live tests in the canary region
  sdk/servicebus/service-bus/tests.yml
Labels: Service Bus, auto-merge

#11544 Initial Commit for Advanced Batching
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
  sdk/search/search-documents/samples/typescript/src/utils/interfaces.ts
  sdk/search/search-documents/samples/typescript/src/utils/setup.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
Labels: Search

#11599 [Key Vault Admin] Fixed bad reference in the readme
  sdk/keyvault/keyvault-admin/README.md
Labels: KeyVault

#11600 [Key Vault Certificates] Fixed bad reference in the README
  sdk/keyvault/keyvault-certificates/README.md
Labels: KeyVault

#11601 [Key Vault Keys] Fixed wrong method in a readme sample
  sdk/keyvault/keyvault-keys/README.md
Labels: KeyVault

#11426 [Identity] Align managed identity errors with .NET
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
Labels: Azure.Identity

#11607 [Cosmos] Old ESLint cleanup
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#11612 [Tables] Setup Storage CORS in post-deployment script
  sdk/tables/data-tables/karma.conf.js
  sdk/tables/test-resources-post.ps1
  sdk/tables/test-resources.json
Labels: Tables

#11598 [Identity] Support for multiple clouds on VisualStudioCodeCredential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Labels: Azure.Identity, auto-merge

#11606 Azure Event Hub Readme Issue
  sdk/eventhub/event-hubs/README.md
Labels: Event Hubs, customer-reported

#11611 [Digital Twins] Adding a code owner
  .github/CODEOWNERS
Labels: Digital Twins

#11610 [Digital Twins] Old ESLint cleanup
  sdk/digitaltwins/digital-twins/.eslintrc.json
  sdk/digitaltwins/digital-twins/package.json
Labels: Digital Twins

#11596 [schema registry] Minor follow-up
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry/README.md
Labels: Schema Registry

#11618 October release changes
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#11554 [Key Vault] Cleaned up the generated folders for Keys, Secrets and Certificates
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/clientOptions.ts
  sdk/keyvault/keyvault-certificates/src/generated/index.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultBase.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-certificates/src/identifier.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-common/src/index.ts
  sdk/keyvault/keyvault-common/src/parseKeyvaultIdentifier.ts
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/generated/index.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultBase.ts
  sdk/keyvault/keyvault-keys/src/generated/utils.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/index.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultBase.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/src/identifier.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Labels: KeyVault, auto-merge

#11591 add adfs support in Identity SDK.
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/identityTokenEndpoint.ts
Labels: Azure.Identity, Client, blocking-release, feature-request

#11453 Identity project noUnusedParameters, noImplicitReturns and noUnusedLocals tsconfig fixes
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.browser.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.browser.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/mockAzureCliCredentialClient.ts
  sdk/identity/identity/tsconfig.json
Labels: Azure.Identity, customer-reported

#11624 [Communication] Update CodeOwners
  .github/CODEOWNERS
Labels: auto-merge

#11551 [Tables] Tables batch
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_handle_sub_request_error.js
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_a_set_of_create_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_a_set_of_delete_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_a_set_of_update_batch_operations.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/samples/typescript/src/batchOperations.ts
  sdk/tables/data-tables/src/TableBatch.ts
  sdk/tables/data-tables/src/TableBatchPolicies.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/src/utils/uuid.ts
  sdk/tables/data-tables/test/integration/batch.spec.ts
Labels: Tables

#11608 [Storage] Old ESLint cleanup
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
Labels: Storage

#11654 [Identity] Ensure that we only ping once
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
Labels: Azure.Identity

#11646 [Identity] Changelog updates before releasing
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#11632 Fix typos in README.md and Javascript samples for Azure Tables
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/samples/javascript/src/createAndDeleteEntities.js
  sdk/tables/data-tables/samples/javascript/src/createAndDeleteTable.js
  sdk/tables/data-tables/samples/javascript/src/queryEntities.js
  sdk/tables/data-tables/samples/javascript/src/queryTables.js
  sdk/tables/data-tables/samples/javascript/src/updateAndUpsertEntities.js
  sdk/tables/data-tables/samples/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/typescript/src/updateAndUpsertEntities.ts
Labels: Tables, auto-merge, customer-reported

#11668 [Text Analytics] Update release date
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#11613 [Monitor] Old ESLint cleanup
  sdk/monitor/monitor-opentelemetry-exporter/.eslintrc.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
Labels: Monitor

#11676 Increment version for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
Labels: Cognitive - Text Analytics, auto-merge

#11650 [schema registry] Update to latest swagger
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_by_id_when_given_invalid_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_by_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_registers_schema.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_by_id_when_given_invalid_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_by_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_registers_schema.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.js
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/src/generated/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/schemaRegistry.spec.ts
Labels: Client, Schema Registry

#11677 [Key Vault Keys] Changelog release date
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Labels: KeyVault

#11658 [service-bus] Automatically renew message locks when using receiveMessages or getMessageIterator
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/autoLockRenewer.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#11689 Add release date, re-order features in changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#11626 Sync eng/common directory with azure-sdk-tools for PR 1052
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Labels: Central-EngSys, EngSys

#11683 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables

#11673 [Monitor] use nyc isntead of c8
  sdk/monitor/monitor-opentelemetry-exporter/package.json
Labels: Monitor

#11693 [service-bus] Minor updates to prep for preview.7 release
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
Labels: Service Bus

#11694 [service-bus] Sample fixes (stale usage of API and use the proper env variable name)
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
Labels: Service Bus

#11697 [service-bus] Make samples exit with a non-zero exit code if they fail.
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
Labels: Service Bus

#11702 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#11711 [Service Bus] Simplify options for subscribe()
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus

#11716 Continuation Token wrapped with Error when Recursive Acl call is inte…
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/index.browser.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/utils/DataLakeAclChangeFailedError.ts
Labels: Storage

#11696 Sync eng/common directory with azure-sdk-tools for PR 1066
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#11685 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#11692 Sync eng/common directory with azure-sdk-tools for PR 1077
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#11651 [Service Bus] Tracing for send API
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/diagnostics/messageSpan.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/messageSpan.spec.ts
  sdk/servicebus/service-bus/test/internal/utils.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/utils/misc.ts
Labels: Service Bus

#11721 Add tests.yml for schema-registry
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry/tests.yml
Labels: Schema Registry

#11280 [Monitor][Codegen] Use generated TelemetryItem (as Envelope)
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/Envelope.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/exporter.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/mappers.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/functional/trace.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/export.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/eventhub.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
Labels: Monitor

#11735 [storage][stg74] set file tier
  sdk/storage/storage-file-datalake/src/sas/SASQueryParameters.ts
  sdk/storage/storage-file-datalake/src/transforms.ts
  sdk/storage/storage-file-share/recordings/browsers/shareclient/recording_create_share_specifying_accesstier_and_listshare.json
  sdk/storage/storage-file-share/recordings/browsers/shareclient/recording_setaccesstier.json
  sdk/storage/storage-file-share/recordings/node/shareclient/recording_create_share_specifying_accesstier_and_listshare.js
  sdk/storage/storage-file-share/recordings/node/shareclient/recording_setaccesstier.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/models/shareMappers.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
Labels: Storage

#11737 [storage] temporary fix for issue #11505
  sdk/storage/storage-file-share/recordings/node/shareclient_nodejs_only/recording_setaccesspolicy_and_getaccesspolicy_with_empty_signedidentifier.js
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/node/shareclient.spec.ts
Labels: Storage

#11739 [storage][stg74] changelog
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Event Hubs, Storage

#11726 [service-bus] Updating logging to use our latest logging convention
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/receiverHelper.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
Labels: Service Bus

#11729 Sync eng/common directory with azure-sdk-tools for PR 1083
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#11742 [Monitor][Codegen] migrate to generated tags interfaces
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/Base.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/ContextTagKeys.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/Data.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/Domain.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/context/context.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
Labels: Monitor

#11744 [Monitor][Codegen] update codegen to use date-time timestamps
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/mappers.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/export.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
Labels: Monitor

#11752 [storage][stg74] fix ci
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_agentobjectid_preauthorizedagentobjectid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_correlationid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_could_calculate_directory_depth.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_file_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_filesystem_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_setproperties.json
  sdk/storage/storage-file-share/recordings/browsers/leaseclient_for_share/recording_acquirelease_for_snapshot.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_setproperties.js
  sdk/storage/storage-file-share/recordings/node/leaseclient_for_share/recording_acquirelease_for_snapshot.js
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Labels: Event Hubs, Storage

#11754 [storage][stg74] support include-leased for x-ms-delete-snapshots
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_conditional_tags.js
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-share/recordings/browsers/leaseclient_for_share/recording_acquirelease_for_snapshot.json
  sdk/storage/storage-file-share/recordings/node/leaseclient_for_share/recording_acquirelease_for_snapshot.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Labels: Event Hubs, Storage

#11756 Resolve CRI failure
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/utils/DataLakeAclChangeFailedError.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
Labels: Storage

#11765 Record RecAcl
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_removeaccesscontrolrecursive_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_aborter__resume_.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_options__batchsize.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_options__maxbatches.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_setaccesscontrolrecursive_should_work_with_progress_failures.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_setaccesscontrolrecursive_nodejs_only/recording_updateaccesscontrolrecursive_should_work.js
Labels: Storage

#11549 [KeyVault Keys] Fixed the rollup warnings
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/algorithms.browser.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/algorithms.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/hash.browser.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/hash.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/models.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/runOperation.ts
  sdk/keyvault/keyvault-keys/src/localCryptographyClient.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
Labels: KeyVault

#11728 [schema registry] live tests
  sdk/schemaregistry/schema-registry-avro/karma.conf.js
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/rollup.base.config.js
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
  sdk/schemaregistry/test-resources.json
Labels: Schema Registry

#11746 [Monitor][Release] Update changelog for preview.6 release
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor

#11785 Make BufferedSender an interface and Hide the Constructor
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/searchIndexingBufferedSenderImpl.ts
Labels: Search

#11783 Increment version for monitor releases
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
Labels: Monitor

#11781 [Key Vault Admin] Samples README format fix
  sdk/keyvault/keyvault-admin/samples/javascript/README.md
  sdk/keyvault/keyvault-admin/samples/typescript/README.md
Labels: KeyVault

#11755 ServiceBus remove InternalReceiveMode usage
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus, customer-reported

#11788 Sync eng/common directory with azure-sdk-tools for PR 1081
  eng/common/README.md
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys, auto-merge

#11775 Sdk automation/@azure arm azurestackhci
  sdk/azurestackhci/arm-azurestackhci/LICENSE.txt
  sdk/azurestackhci/arm-azurestackhci/README.md
  sdk/azurestackhci/arm-azurestackhci/package.json
  sdk/azurestackhci/arm-azurestackhci/rollup.config.js
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClientContext.ts
  sdk/azurestackhci/arm-azurestackhci/src/models/clustersMappers.ts
  sdk/azurestackhci/arm-azurestackhci/src/models/index.ts
  sdk/azurestackhci/arm-azurestackhci/src/models/mappers.ts
  sdk/azurestackhci/arm-azurestackhci/src/models/operationsMappers.ts
  sdk/azurestackhci/arm-azurestackhci/src/models/parameters.ts
  sdk/azurestackhci/arm-azurestackhci/src/operations/clusters.ts
  sdk/azurestackhci/arm-azurestackhci/src/operations/index.ts
  sdk/azurestackhci/arm-azurestackhci/src/operations/operations.ts
  sdk/azurestackhci/arm-azurestackhci/tsconfig.json
Labels: Mgmt

#11757 [storage][stg74] test coverage improvement
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_lastaccessed_returned.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_blob_version_delete.js
  sdk/storage/storage-blob/sample.env
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/blobversioning.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_for_directory_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_agentobjectid_preauthorizedagentobjectid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_delegation_sas/recording_generateuserdelegationsas_should_work_with_correlationid.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_generatedatalakesasqueryparameters_for_file_should_work_for_permissions_m_e_o_p.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_file_for_20191212.js
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
  sdk/storage/storage-file-datalake/tests.yml
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
Labels: Event Hubs, Storage

#11799 Increment version for storage file share release
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
Labels: Storage

#11648 Increment version for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#11786 [schema registry] Omit extra record methods from deserialization
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
Labels: Schema Registry

#11791 added missing global varrible names
  sdk/cosmosdb/cosmos/rollup.config.js
Labels: Cosmos, customer-reported

#11814 Sync eng/common directory with azure-sdk-tools for PR 1088
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys, auto-merge

#11816 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Labels: Storage

#11810 [service-bus] Adding in tracing for receive operations
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
Labels: Service Bus

#11556 Fix ADT relationship paging (#11555)
  sdk/digitaltwins/digital-twins/src/digitalTwinsClient.ts
Labels: Digital Twins, customer-reported

#11836 [Batch] update tests
  sdk/batch/batch/package.json
  sdk/batch/batch/test/batchClient.spec.ts
  sdk/batch/batch/test/sample.env
Labels: Batch

#11863 [core-http] Redirect pipeline
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/fetchHttpClient.ts
  sdk/core/core-http/src/policies/redirectPolicy.ts
  sdk/core/core-http/test/policies/redirectPolicy.spec.ts
  sdk/core/core-https/src/policies/redirectPolicy.ts
  sdk/core/core-https/test/redirectPolicy.spec.ts
Labels: Azure.Core, auto-merge

#11782 servicebus project changes for #11701
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/utils.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Labels: Service Bus, customer-reported

#11888 Revert the formatting changes.
  README.md
  common/smoke-test/README.md
  sdk/billing/arm-billing/README.md
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/test/README.md
  sdk/identity/identity/README.md
  sdk/keyvault/keyvault-certificates/test/README.md
  sdk/keyvault/keyvault-secrets/test/README.md
  sdk/servicebus/service-bus/test/README.md
Labels: Azure.Identity, Event Hubs, KeyVault, Service Bus

#11873 Sync eng/common directory with azure-sdk-tools for PR 1091
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: Central-EngSys, EngSys

#11885 Initial Codespaces configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/docker-debian.sh
  .devcontainer/library-scripts/git-lfs-debian.sh
Labels: Central-EngSys, EngSys

#11887 [Service Bus] "message" word added to "createBatch", "CreateBatchOptions" and "tryAdd"
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Labels: Service Bus, customer-reported

#11841 [core-http] Allow defining multiple error responses for Operations
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/deserializationPolicy.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/operationResponse.ts
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-http/test/policies/deserializationPolicyTests.ts
Labels: Azure.Core

#11864 [Identity] Formatting and one lint fix
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
Labels: Azure.Identity

#11896 Sync eng/common directory with azure-sdk-tools for PR 1103
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#11862 Update exclude list with current client packages
  eng/pipelines/mgmt-ci.yml
  eng/pipelines/mgmt-pr.yml
Labels: auto-merge

#11916 Sync eng/common directory with azure-sdk-tools for PR 1019
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: Central-EngSys, EngSys

#11747 [Cosmos] Fixes falsy value partitionKey values in Bulk operations
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Labels: Cosmos

#11918 Sync eng/common directory with azure-sdk-tools for PR 1106
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#11710 Samples readme metadata
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/README.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/README.md
Labels: Cognitive - Metrics Advisor

#11923 [Cosmos] Adds release date for 3.9.3
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#11925 Sync eng/common directory with azure-sdk-tools for PR 968
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#11738 [Service Bus] Fix MaxListenersExceeded for management client
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
Labels: Service Bus

#11820 Sdk automation/@azure arm digitaltwins
  sdk/digitaltwins/arm-digitaltwins/package.json
  sdk/digitaltwins/arm-digitaltwins/src/azureDigitalTwinsManagementClientContext.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/digitalTwinsEndpointMappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/digitalTwinsMappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/index.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/mappers.ts
  sdk/digitaltwins/arm-digitaltwins/src/models/parameters.ts
  sdk/digitaltwins/arm-digitaltwins/src/operations/digitalTwins.ts
  sdk/digitaltwins/arm-digitaltwins/src/operations/digitalTwinsEndpoint.ts
Labels: Mgmt

#11948 Sync eng/common directory with azure-sdk-tools for PR 1102
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#11929 [core-https] Fix some issues with streams in `NodeHttpsClient`
  sdk/core/core-https/src/nodeHttpsClient.ts
Labels: Azure.Core, Client

#11958 Sync eng/common directory with azure-sdk-tools for PR 1128
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Labels: Central-EngSys, EngSys

#11880 Generated from 94c5cf6ac0eb36a4a844f6c1fdcd3a01cec5a8f7
  sdk/communication/arm-communication/LICENSE.txt
  sdk/communication/arm-communication/README.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/rollup.config.js
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
  sdk/communication/arm-communication/src/communicationServiceManagementClientContext.ts
  sdk/communication/arm-communication/src/models/communicationServiceMappers.ts
  sdk/communication/arm-communication/src/models/index.ts
  sdk/communication/arm-communication/src/models/mappers.ts
  sdk/communication/arm-communication/src/models/operationStatusesMappers.ts
  sdk/communication/arm-communication/src/models/operationsMappers.ts
  sdk/communication/arm-communication/src/models/parameters.ts
  sdk/communication/arm-communication/src/operations/communicationService.ts
  sdk/communication/arm-communication/src/operations/index.ts
  sdk/communication/arm-communication/src/operations/operationStatuses.ts
  sdk/communication/arm-communication/src/operations/operations.ts
  sdk/communication/arm-communication/tsconfig.json
Labels: Mgmt

#11961 Sync eng/common directory with azure-sdk-tools for PR 1104
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#11950 [storage-file-datalake] encode move source
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_nodejs_only/recording_move_should_encode_source.js
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
Labels: Storage

#11965 Sync eng/common directory with azure-sdk-tools for PR 1129
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#11823 Sdk automation/@azure arm datafactory
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClientContext.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowDebugSessionMappers.ts
  sdk/datafactory/arm-datafactory/src/models/dataFlowsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/datasetsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/factoriesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/integrationRuntimesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/linkedServicesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/managedPrivateEndpointsMappers.ts
  sdk/datafactory/arm-datafactory/src/models/managedVirtualNetworksMappers.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/src/models/pipelinesMappers.ts
  sdk/datafactory/arm-datafactory/src/models/triggersMappers.ts
Labels: Mgmt

#11927 [service-bus] Pass in ProcessErrorArgs to subscribe({ processError }) for extra diagnostics
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Labels: Service Bus

#11949 [ServiceBus] Helper function to parse connection string
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/util/connectionStringUtils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
  sdk/servicebus/service-bus/test/internal/connectionString.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus

#11974 [Service Bus] Updating readme to match latest APIs
  sdk/servicebus/service-bus/README.md
Labels: Service Bus

#11967 Add prepare pipelines configuration.
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#11868 fix eslint errors for search packages
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/searchIndexingBufferedSenderImpl.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
Labels: Search, customer-reported

#11983 Sync eng/common directory with azure-sdk-tools for PR 1132
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#11990 Sync eng/common directory with azure-sdk-tools for PR 1133
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#11996 Allow auto publish for batch libraries
  sdk/batch/arm-batch/package.json
  sdk/batch/batch/package.json
Labels: Batch

#11994 [servicebus]scheduleMessages method swap enqueuedTime and messages order
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Labels: Service Bus, customer-reported

#11962 [Service Bus] Move settlement & renewLock methods from message to receiver
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/connectionStringUtils.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#11997 Run link verification step at CI/Manual
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#11995 fix(service-bus): removing namespaceType from NamespaceProperties
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus, auto-merge, customer-reported

#11971 Sync eng/common directory with azure-sdk-tools for PR 1127
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#12001 Sync eng/common directory with azure-sdk-tools for PR 1131
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys

#11986 Switch from Testpipeline variable to parameter
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/steps/build.yml
  sdk/template/ci.yml
Labels: EngSys

#10491 [Service Bus] Generic types for `Response`s for a cleaner API surface
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Labels: Service Bus, auto-merge

#11993 [servicebus] CreateReceiverOptions, AcceptSessionOptions renamed
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus, customer-reported

#12014 Remove receiver overloads meant to hide settlement methods when using ReceiveAndDelete mode
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus, auto-merge

#12002 [digital-twins-core] Update date in changelog
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
Labels: Client, Digital Twins, auto-merge

#12028 Sync eng/common directory with azure-sdk-tools for PR 1109
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#12040 Sync eng/common directory with azure-sdk-tools for PR 1136
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#12039 Sync eng/common directory with azure-sdk-tools for PR 1135
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#12043 Sync eng/common directory with azure-sdk-tools for PR 1130
  eng/common/README.md
Labels: Central-EngSys, EngSys

#11952 Fixing typo in sample.env
  sdk/search/search-documents/samples/javascript/sample.env
Labels: Search

#12011 Acataldi/10779 fix schema registry lint errors
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/test/schemaRegistry.spec.ts
Labels: customer-reported

#12026 Servicebus remove viapartitionkey
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
Labels: Service Bus, customer-reported

#12042 Sync eng/common directory with azure-sdk-tools for PR 1137
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Labels: Central-EngSys, EngSys

#12005 [Service Bus] Minor logging updates to connection reconnect
  sdk/servicebus/service-bus/src/connectionContext.ts
Labels: Service Bus

#12092 Sync eng/common directory with azure-sdk-tools for PR 1144
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#9420 Allow passing Location parameter to test resource deployment
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Labels: Central-EngSys

#12093 [Service Bus] Remove userId on the top level message
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Labels: Service Bus

#12062 [Recorder] Fixing the missed await for `recorder.stop()` in the tests in all the packages 📝
  sdk/eventgrid/eventgrid/test/eventGridClient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/hookTests.spec.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/GUIDELINES.md
  sdk/test-utils/recorder/README.md
Labels: Cognitive - Form Recognizer, KeyVault, Storage

#12015 [Service Bus] Update _response with a smaller `HTTPResponse` object than the complete `HTTPOperationResponse` 🎡
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Labels: Service Bus

#12096 Add Check Enforcer timeout message.
  eng/CHECKENFORCER
Labels: Central-EngSys, EngSys

#11838 Sdk automation/@azure arm hdinsight
  sdk/hdinsight/arm-hdinsight/package.json
  sdk/hdinsight/arm-hdinsight/src/hDInsightManagementClientContext.ts
  sdk/hdinsight/arm-hdinsight/src/models/applicationsMappers.ts
  sdk/hdinsight/arm-hdinsight/src/models/clustersMappers.ts
  sdk/hdinsight/arm-hdinsight/src/models/index.ts
  sdk/hdinsight/arm-hdinsight/src/models/mappers.ts
Labels: Mgmt

#12024 [Service Bus] More comments in the streaming receiver sample - V1 ✏
  sdk/servicebus/service-bus/samples-v1/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesStreaming.ts
Labels: Service Bus, auto-merge

#12013 [Service Bus] ATOM API - Update `update` methods with better param names/types and rephrased docs 👓
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Labels: Service Bus, auto-merge

#12105 [storage-file] fix file/directory deleteIfExist for ParentNotFound
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_datalakepathclientdeleteifexists_when_parent_not_exists.json
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_datalakepathclientdeleteifexists_when_parent_not_exists.js
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/recordings/browsers/directoryclient/recording_deleteifexists_when_parent_not_exists_.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_deleteifexists_when_parent_not_exists.json
  sdk/storage/storage-file-share/recordings/node/directoryclient/recording_deleteifexists_when_parent_not_exists_.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_deleteifexists_when_parent_not_exists.js
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Storage

#12086 [storage][stg74GA] hide share lease
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
Labels: APIChange, Storage

#12125 [Core AMQP] Final V1 release - set the date
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core, auto-merge
