Repository Azure/azure-sdk-for-js, pull requests merged in 2020-12, with the labels that each got.

#12482 Sdk automation/@azure arm policyinsights
  sdk/policyinsights/arm-policyinsights/README.md
  sdk/policyinsights/arm-policyinsights/package.json
  sdk/policyinsights/arm-policyinsights/rollup.config.js
  sdk/policyinsights/arm-policyinsights/src/models/index.ts
  sdk/policyinsights/arm-policyinsights/src/models/mappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/operationsMappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/parameters.ts
  sdk/policyinsights/arm-policyinsights/src/models/policyEventsMappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/policyMetadataOperationsMappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/policyStatesMappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/policyTrackedResourcesMappers.ts
  sdk/policyinsights/arm-policyinsights/src/models/remediationsMappers.ts
  sdk/policyinsights/arm-policyinsights/src/operations/index.ts
  sdk/policyinsights/arm-policyinsights/src/operations/operations.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyEvents.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyMetadataOperations.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyStates.ts
  sdk/policyinsights/arm-policyinsights/src/operations/policyTrackedResources.ts
  sdk/policyinsights/arm-policyinsights/src/operations/remediations.ts
  sdk/policyinsights/arm-policyinsights/src/policyInsightsClient.ts
  sdk/policyinsights/arm-policyinsights/src/policyInsightsClientContext.ts
Labels: Mgmt

#12683 [core-tracing] beta version
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
Labels: Azure.Core, auto-merge

#12725 [Text Analytics] adding @azure/core-asynciterator-polyfill as a dep
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics

#12734 [Text Analytics] Edit CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics, auto-merge

#12686 [Key Vault] dist-browser removal changelog entry
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#12662 [Perf Tests] Updates to perf test framework
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/perfstress/src/options.ts
  sdk/test-utils/perfstress/src/program.ts
  sdk/test-utils/perfstress/src/tests.ts
  sdk/test-utils/perfstress/test/delay.spec.ts
  sdk/test-utils/perfstress/test/exception.spec.ts
  sdk/test-utils/perfstress/test/nodeFetch.spec.ts
  sdk/test-utils/perfstress/test/noop.spec.ts
  sdk/test-utils/perfstress/test/options.spec.ts
  sdk/test-utils/perfstress/test/perfStressPolicy.spec.ts
  sdk/test-utils/perfstress/test/setupCleanup.spec.ts
  sdk/test-utils/perfstress/test/sleep.spec.ts
Labels: Storage, auto-merge

#12717 [core-http] enable no-prototype-builtins
  sdk/core/core-http/package.json
  sdk/core/core-http/src/fetchHttpClient.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/src/policies/proxyPolicy.ts
  sdk/core/core-http/src/util/serializer.common.ts
  sdk/core/core-http/src/xhrHttpClient.ts
  sdk/core/core-http/test/mockHttp.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
Labels: Azure.Core, Cognitive - Form Recognizer

#12409 azure-arm-servicefabric
  sdk/servicefabric/arm-servicefabric/LICENSE.txt
  sdk/servicefabric/arm-servicefabric/README.md
  sdk/servicefabric/arm-servicefabric/package.json
  sdk/servicefabric/arm-servicefabric/rollup.config.js
  sdk/servicefabric/arm-servicefabric/src/models/applicationTypeVersionsMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/applicationTypesMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/applicationsMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/clusterVersionsMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/clustersMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/index.ts
  sdk/servicefabric/arm-servicefabric/src/models/managedClusterVersionsMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/managedClustersMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/mappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/nodeTypesMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/operationsMappers.ts
  sdk/servicefabric/arm-servicefabric/src/models/parameters.ts
  sdk/servicefabric/arm-servicefabric/src/models/servicesMappers.ts
  sdk/servicefabric/arm-servicefabric/src/operations/applicationTypeVersions.ts
  sdk/servicefabric/arm-servicefabric/src/operations/applicationTypes.ts
  sdk/servicefabric/arm-servicefabric/src/operations/applications.ts
  sdk/servicefabric/arm-servicefabric/src/operations/clusterVersions.ts
  sdk/servicefabric/arm-servicefabric/src/operations/clusters.ts
  sdk/servicefabric/arm-servicefabric/src/operations/index.ts
  sdk/servicefabric/arm-servicefabric/src/operations/managedClusterVersions.ts
  sdk/servicefabric/arm-servicefabric/src/operations/managedClusters.ts
  sdk/servicefabric/arm-servicefabric/src/operations/nodeTypes.ts
  sdk/servicefabric/arm-servicefabric/src/operations/operations.ts
  sdk/servicefabric/arm-servicefabric/src/operations/services.ts
  sdk/servicefabric/arm-servicefabric/src/serviceFabricManagementClient.ts
  sdk/servicefabric/arm-servicefabric/src/serviceFabricManagementClientContext.ts
  sdk/servicefabric/arm-servicefabric/tsconfig.json
Labels: Mgmt

#12505 arm-subscriptions-profile-hybrid-2020-09-01
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/README.md
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/package.json
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/rollup.config.js
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/models/subscriptionsMappers.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/models/tenantsMappers.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/operations/subscriptions.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/operations/tenants.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/subscriptionClient.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/subscriptionClientContext.ts
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12504 arm-locks-profile-hybrid-2020-09-01
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/README.md
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/package.json
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/rollup.config.js
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/managementLockClient.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/managementLockClientContext.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/models/authorizationOperationsMappers.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/models/managementLocksMappers.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/operations/authorizationOperations.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/operations/managementLocks.ts
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12439 arm-dns-profile-2020-09-01-hybrid
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/README.md
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/package.json
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/rollup.config.js
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/dnsManagementClient.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/dnsManagementClientContext.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/models/recordSetsMappers.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/models/zonesMappers.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/operations/recordSets.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/src/operations/zones.ts
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12271 arm-appservice-profile-2020-09-01-hybrid
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/README.md
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/package.json
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/rollup.config.js
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/appServicePlansMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/certificatesMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/providerMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/recommendationsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/models/webAppsMappers.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/appServicePlans.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/certificates.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/provider.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/recommendations.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/operations/webApps.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/webSiteManagementClient.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/src/webSiteManagementClientContext.ts
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12270 arm-storage-profile-2020-09-01-hybrid
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/README.md
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/package.json
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/rollup.config.js
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/managementPoliciesMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/objectReplicationPoliciesOperationsMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/skusMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/models/usagesMappers.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/encryptionScopes.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/managementPolicies.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/objectReplicationPoliciesOperations.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/privateEndpointConnections.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/privateLinkResources.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/skus.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/storageAccounts.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/operations/usages.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/storageManagementClient.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/storageManagementClientContext.ts
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/tsconfig.json
Labels: Storage

#12252 arm-authorization-profile-2020-09-01-hybrid
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/README.md
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/package.json
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/rollup.config.js
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/authorizationManagementClient.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/authorizationManagementClientContext.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/globalAdministratorMappers.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/permissionsMappers.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/providerOperationsMetadataOperationsMappers.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/roleAssignmentsMappers.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/models/roleDefinitionsMappers.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/operations/globalAdministrator.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/operations/permissions.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/operations/providerOperationsMetadataOperations.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/operations/roleAssignments.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/operations/roleDefinitions.ts
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12251 arm-resources-profile-hybrid-2020-09-01
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/README.md
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/package.json
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/rollup.config.js
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/deploymentOperationsMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/deploymentsMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/providersMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/resourceGroupsMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/resourcesMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/models/tagsOperationsMappers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/deployments.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/providers.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/resourceGroups.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/resources.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/operations/tagsOperations.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/resourceManagementClient.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/resourceManagementClientContext.ts
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12184 arm-keyvault-profile-2020-09-01-hybrid
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/README.md
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/package.json
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/rollup.config.js
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/keyVaultManagementClient.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/keyVaultManagementClientContext.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/privateEndpointConnectionsMappers.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/privateLinkResourcesMappers.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/secretsMappers.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/models/vaultsMappers.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/operations/privateEndpointConnections.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/operations/privateLinkResources.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/operations/secrets.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/src/operations/vaults.ts
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/tsconfig.json
Labels: KeyVault

#12183 arm-monitor-profile-2020-09-01-hybrid
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/README.md
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/package.json
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/rollup.config.js
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/diagnosticSettingsCategoryOperationsMappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/diagnosticSettingsOperationsMappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/eventCategoriesMappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/metricDefinitionsMappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/metricsMappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/monitorManagementClient.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/monitorManagementClientContext.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/diagnosticSettingsCategoryOperations.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/diagnosticSettingsOperations.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/eventCategories.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/metricDefinitions.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/metrics.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/tsconfig.json
Labels: Monitor

#12182 arm-eventhub-profile-2020-09-01-hybrid
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/README.md
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/package.json
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/rollup.config.js
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/eventHubManagementClient.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/eventHubManagementClientContext.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/clustersMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/consumerGroupsMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/disasterRecoveryConfigsMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/eventHubsMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/namespacesMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/privateEndpointConnectionsMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/privateLinkResourcesMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/models/regionsMappers.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/clusters.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/consumerGroups.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/disasterRecoveryConfigs.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/eventHubs.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/namespaces.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/privateEndpointConnections.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/privateLinkResources.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/operations/regions.ts
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/tsconfig.json
Labels: Event Hubs

#12181 arm-iothub-profile-2020-09-01-hybrid
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/README.md
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/package.json
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/rollup.config.js
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/iotHubClient.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/iotHubClientContext.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/certificatesMappers.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/iotHubMappers.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/iotHubResourceMappers.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/models/resourceProviderCommonMappers.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/operations/certificates.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/operations/iotHub.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/operations/iotHubResource.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/operations/resourceProviderCommon.ts
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12148 arm-databoxedge-profile-2020-09-01-hybrid
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/README.md
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/package.json
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/rollup.config.js
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/dataBoxEdgeManagementClient.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/dataBoxEdgeManagementClientContext.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/alertsMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/bandwidthSchedulesMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/containersMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/devicesMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/jobsMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/nodesMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/operationsStatusMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/ordersMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/rolesMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/sharesMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/skusMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/storageAccountCredentialsMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/storageAccountsMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/triggersMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/models/usersMappers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/alerts.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/bandwidthSchedules.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/containers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/devices.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/jobs.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/nodes.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/operationsStatus.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/orders.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/roles.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/shares.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/skus.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/storageAccountCredentials.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/storageAccounts.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/triggers.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/src/operations/users.ts
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12103 arm-compute-profile-2020-09-01-hybrid
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/README.md
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/package.json
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/rollup.config.js
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/computeManagementClient.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/computeManagementClientContext.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/availabilitySetsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/dedicatedHostGroupsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/dedicatedHostsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/diskEncryptionSetsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/disksMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/imagesMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/logAnalyticsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/operationsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/proximityPlacementGroupsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/snapshotsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/sshPublicKeysMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/usageOperationsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineExtensionImagesMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineExtensionsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineImagesMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineScaleSetExtensionsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineScaleSetRollingUpgradesMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineScaleSetVMExtensionsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineScaleSetVMsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineScaleSetsMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachineSizesMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/models/virtualMachinesMappers.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/availabilitySets.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/dedicatedHostGroups.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/dedicatedHosts.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/diskEncryptionSets.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/disks.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/images.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/logAnalytics.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/operations.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/proximityPlacementGroups.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/snapshots.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/sshPublicKeys.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/usageOperations.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineExtensionImages.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineExtensions.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineImages.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineScaleSetExtensions.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineScaleSetRollingUpgrades.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineScaleSetVMExtensions.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineScaleSetVMs.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineScaleSets.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachineSizes.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/operations/virtualMachines.ts
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12084 arm-commerce-profile-hybrid-2020-09-01
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/README.md
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/package.json
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/rollup.config.js
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/models/rateCardMappers.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/models/usageAggregatesMappers.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/operations/rateCard.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/operations/usageAggregates.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/usageManagementClient.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/usageManagementClientContext.ts
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12503 arm-policy-profile-hybrid-2020-09-01
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/LICENSE.txt
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/README.md
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/package.json
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/rollup.config.js
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/models/index.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/models/mappers.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/models/parameters.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/models/policyAssignmentsMappers.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/models/policyDefinitionsMappers.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/operations/index.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/operations/policyAssignments.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/operations/policyDefinitions.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/policyClient.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/policyClientContext.ts
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/tsconfig.json
Labels: Mgmt

#12718 [service-bus] Readme updates for dead letter queues, point to proper docs
  sdk/servicebus/service-bus/README.md
Labels: Service Bus

#12624 enable min max for form recognizer
  eng/tools/dependency-testing/index.js
  eng/tools/dependency-testing/templates/package.json
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Labels: Cognitive - Form Recognizer

#12747 [Text Analytics] Import async iterator polyfill
  sdk/textanalytics/ai-text-analytics/src/index.ts
Labels: Cognitive - Text Analytics, auto-merge

#12698 [core-amqp] bugfix: updates retry function to return immediately once attempts are exhausted
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/test/retry.spec.ts
Labels: Azure.Core, auto-merge

#12751 [Cosmos] Fix strictness issues in utils/hashing
  sdk/cosmosdb/cosmos/src/tsconfig.strict.json
  sdk/cosmosdb/cosmos/src/utils/hashing/v1.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v2.ts
Labels: Cosmos

#12694 [App Config] Separate app config tests into public and internal to enable min-max tests
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/package.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/throttlingRetryPolicyTests.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/tracingHelpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/throwOrNotThrow.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
  sdk/appconfiguration/app-configuration/tests.yml
Labels: App Configuration

#12750 [Cosmos] Fix strictness issues in VectorSessionToken
  sdk/cosmosdb/cosmos/src/session/VectorSessionToken.ts
  sdk/cosmosdb/cosmos/src/tsconfig.strict.json
Labels: Cosmos, auto-merge

#12763 Update createChatThread, addParticipants - swagger updates
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_threads.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_threads.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/generated/src/operations/index.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
Labels: Communication

#12766 Sync eng/common directory with azure-sdk-tools for PR 1233
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#12752 [core-http] Support custom auth scopes
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-http/package.json
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/rollup.base.config.js
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/url.ts
  sdk/core/core-http/src/util/url.browser.ts
  sdk/core/core-http/src/util/url.ts
  sdk/core/core-http/test/serviceClientTests.ts
Labels: Azure.Core, auto-merge

#12714 [event-hubs][service-bus] updates (EventData|ServiceBusMessage).body documentation
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Event Hubs

#12723 [storage] sort batch sub response according to Content-ID
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/BatchResponseParser.ts
Labels: Storage

#12212 Support batch request with token auth
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/browsers/blobbatch_token_auth/recording_should_work_when_passing_in_blobclient.json
  sdk/storage/storage-blob/recordings/browsers/blobbatch_token_auth/recording_should_work_when_passing_in_url_and_credential.json
  sdk/storage/storage-blob/recordings/node/blobbatch_token_auth/recording_should_work_when_passing_in_blobclient.js
  sdk/storage/storage-blob/recordings/node/blobbatch_token_auth/recording_should_work_when_passing_in_url_and_credential.js
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-datalake/src/StorageClient.ts
  sdk/storage/storage-file-share/src/StorageClient.ts
  sdk/storage/storage-queue/src/StorageClient.ts
Labels: Storage

#12722 [storage] Add "x-ms-is-hns-enabled" to ServiceGetAccountInfoResponse
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_getaccountinfo.json
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_getaccountinfo.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
Labels: APIChange, Storage

#12724 [storage] minor break: no longer remove the first space in userAgentPrefix
  sdk/storage/storage-blob-changefeed/src/BlobChangeFeedClient.ts
  sdk/storage/storage-blob-changefeed/test/blobchangefeedclient.spec.ts
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/src/TelemetryPolicyFactory.ts
Labels: Storage

#12784 Update generated code with maxpagesize fix
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
Labels: Communication

#12697 [Key Vault] Using the spread operator less
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/test/internal/logger.spec.ts
  sdk/keyvault/keyvault-admin/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/transformations.ts
  sdk/keyvault/keyvault-certificates/test/internal/logger.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/keyVaultKeyPoller.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
  sdk/keyvault/keyvault-keys/test/internal/logger.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/transformations.ts
  sdk/keyvault/keyvault-secrets/test/internal/logger.spec.ts
Labels: KeyVault

#12736 Fix code block - incorrect ending backtick
  sdk/storage/storage-blob/src/Clients.ts
Labels: Storage

#12773 [ai-metrics-advisor] Segregate test folders into public and internal to enable min-max tests
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/metricsadvisor/ai-metrics-advisor/test/browser/sampleBrowser.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/internal/transforms.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/node/sample.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
  sdk/metricsadvisor/ai-metrics-advisor/tests.yml
Labels: Cognitive - Metrics Advisor

#12702 [storage] generate sas url from storage clients
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_for_blob.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_for_blob_snapshot.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_for_blob_version.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_for_blob_with_special_namings.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_containerclientgeneratesasurl.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasurl.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_datalakedirectoryclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/sas_generation_nodejs_only_for_directory_sas/recording_datalakefileclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakefilesystemclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakeserviceclientgenerateaccountsasurl_should_work_with_all_parameters_set.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakeserviceclientgenerateaccountsasurl_should_work_with_default_parameters.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DirectorySASPermissions.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_sharecleintgeneratesasurl_should_work.js
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_sharefileclientgeneratesasurl_should_work.js
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_shareserviceclientgenerateaccountsasurl_should_work.js
  sdk/storage/storage-file-share/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_shareserviceclientgenerateaccountsasurl_should_work_with_default_parameters.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_queueclientgeneratesasurl_should_work.js
  sdk/storage/storage-queue/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_queueserviceclientgenerateaccountsasurl_should_work.js
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
Labels: APIChange, Storage

#12785 Align "trigger" with "pr" in core ci.yml
  sdk/core/ci.yml
Labels: auto-merge

#12791 Add empty build:samples scripts to all packages missing them.
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/core/logger/package.json
  sdk/eventhub/testhub/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/test-utils/perfstress/package.json
Labels: Azure.Core, Event Hubs, Monitor

#12792 Add export to sample main functions where missing
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_change_point.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_entire_series_anomaly.ts
  sdk/anomalydetector/ai-anomaly-detector/samples/typescript/src/sample_detect_last_point_anomaly.ts
  sdk/core/core-lro/samples/typescript/samplesClient.ts
  sdk/eventgrid/eventgrid/samples/typescript/src/sendCloudEvent.ts
  sdk/eventgrid/eventgrid/samples/typescript/src/sendEventGridEvent.ts
  sdk/eventhub/event-processor-host/samples/iothubEph.ts
  sdk/eventhub/event-processor-host/samples/multiEph.ts
  sdk/eventhub/event-processor-host/samples/sendBatch.ts
  sdk/eventhub/event-processor-host/samples/singleEph.ts
  sdk/eventhub/event-processor-host/samples/websockets.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/tables/data-tables/samples/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/typescript/src/updateAndUpsertEntities.ts
Labels: Azure.Core, Event Grid, Event Hubs, Tables

#12772 [service-bus] Fix issue on drain where `onDrain` and `onMessage` might sequence incorrectly.
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
Labels: Service Bus

#12688 [Key Vault] AAD Access Policies
  sdk/keyvault/keyvault-admin/test/README.md
  sdk/keyvault/keyvault-certificates/test/README.md
  sdk/keyvault/keyvault-keys/test/README.md
  sdk/keyvault/keyvault-secrets/test/README.md
Labels: KeyVault

#12795 [Identity] Fix the identity build
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/msalClient.ts
Labels: Azure.Identity

#12799 [service-bus] The time for v2 has come. Stop advertising the v1 samples!
  sdk/servicebus/service-bus/samples-v1/README.md
  sdk/servicebus/service-bus/samples-v1/browserSample.html
  sdk/servicebus/service-bus/samples-v1/javascript/README.md
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples-v1/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/interactiveLogin.js
  sdk/servicebus/service-bus/samples-v1/javascript/package.json
  sdk/servicebus/service-bus/samples-v1/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples-v1/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples-v1/javascript/sample.env
  sdk/servicebus/service-bus/samples-v1/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples-v1/javascript/session.js
  sdk/servicebus/service-bus/samples-v1/javascript/useProxy.js
  sdk/servicebus/service-bus/samples-v1/tsconfig.json
  sdk/servicebus/service-bus/samples-v1/typescript/README.md
  sdk/servicebus/service-bus/samples-v1/typescript/package.json
  sdk/servicebus/service-bus/samples-v1/typescript/sample.env
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/interactiveLogin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/session.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples-v1/typescript/tsconfig.json
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
Labels: Service Bus, auto-merge

#12794 [Identity] Feedback after #10337 (2)
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/public/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
Labels: Azure.Identity

#12814 Sync eng/common directory with azure-sdk-tools for PR 1257
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#12816 [core-http] Update changelog for December release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core, auto-merge

#12789 [storage] Dec release preparation
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#12830 [storage] add polyfill for Number.isInteger
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/karma.conf.js
Labels: Storage

#12831 [core-http] Remove unused URLSearchParams
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/url.ts
  sdk/core/core-http/src/util/url.browser.ts
  sdk/core/core-http/src/util/url.ts
Labels: Azure.Core

#12817 Added build:samples support to rush-runner.js
  eng/tools/rush-runner.js
Labels: Central-EngSys

#12802 [core-https][core-client] Move serialization into pipeline policy
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serializationPolicy.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serializationPolicy.spec.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/test/pipeline.spec.ts
Labels: Azure.Core, Client

#12834 [Monitor] Fix incorrect log message when connection string is valid
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/connectionStringParser.ts
Labels: Client, Monitor

#12754 Sync eng/common directory with azure-sdk-tools for PR 1243
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
Labels: Central-EngSys, EngSys

#12735 Add pagination for chat participants & read receipts
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/models/options.ts
Labels: Communication

#12833 [Attestation] Adding minimal testing infrastructure
  sdk/attestation/attestation/api-extractor.json
  sdk/attestation/attestation/karma.conf.js
  sdk/attestation/attestation/package.json
  sdk/attestation/attestation/rollup.config.js
  sdk/attestation/attestation/test/public/AttestationTests.spec.ts
  sdk/attestation/attestation/test/public/PolicyGetSetTests.spec.ts
  sdk/attestation/attestation/test/public/TokenCertTests.spec.ts
  sdk/attestation/attestation/test/utils/base64.browser.ts
  sdk/attestation/attestation/test/utils/base64.ts
  sdk/attestation/attestation/test/utils/recordedClient.ts
  sdk/attestation/ci.yml
  sdk/attestation/test-resources.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics

#12846 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#12796 [test-utils-recorder] Refactor to separate node/browser codepaths
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
  sdk/template/template/package.json
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/rollup.base.config.js
  sdk/test-utils/recorder/rollup.config.js
  sdk/test-utils/recorder/rollup.test.config.js
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/basekarma.conf.browser.ts
  sdk/test-utils/recorder/src/createRecorder.browser.ts
  sdk/test-utils/recorder/src/createRecorder.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/src/utils/recordingPath.ts
  sdk/test-utils/recorder/src/utils/recordings.browser.ts
  sdk/test-utils/recorder/src/utils/recordings.ts
  sdk/test-utils/recorder/src/utils/windowLens.ts
  sdk/test-utils/recorder/test/browser/recorder.spec.ts
  sdk/test-utils/recorder/test/browser/utils.spec.ts
  sdk/test-utils/recorder/test/node/recorder.spec.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
  sdk/test-utils/recorder/test/utils.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, EngSys

#12765 [Cosmos] Fix a strictness issues in utils/encode
  sdk/cosmosdb/cosmos/src/tsconfig.strict.json
  sdk/cosmosdb/cosmos/src/utils/encode.ts
Labels: Cosmos, auto-merge

#12852 Sync eng/common directory with azure-sdk-tools for PR 1266
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#12843 [monitor] Change package namespace back to @azure
  rush.json
  sdk/monitor/ci.yml
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/review/opentelemetry-exporter-azure-monitor.api.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/tracing.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/src/tracing.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/index.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/tracer.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/tracer.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/swagger/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/tests.yml
Labels: Client, Monitor

#12863 [communication-administration] fix option passing for LROs and slow playback tests
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/lro.purchase.spec.ts
  sdk/communication/communication-administration/test/lro.release.spec.ts
  sdk/communication/communication-administration/test/lro.reserve.spec.ts
  sdk/communication/communication-administration/test/utils/recordedClient.ts
Labels: Communication

#12849 update invalid sample products
  sdk/communication/communication-administration/samples/javascript/README.md
  sdk/communication/communication-administration/samples/typescript/README.md
  sdk/communication/communication-sms/samples/javascript/README.md
  sdk/communication/communication-sms/samples/typescript/README.md
  sdk/eventgrid/eventgrid/samples/javascript/README.md
  sdk/eventgrid/eventgrid/samples/typescript/README.md
  sdk/tables/data-tables/samples/javascript/readme.md
  sdk/tables/data-tables/samples/typescript/readme.md
Labels: Communication, Event Grid, Tables

#12818 [MQ: build reliability] Export the SERVICE_BUS_ENDPOINT output value for usingAadAuth.js
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeBusinessCard.js
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/sample.env
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/package.json
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/sample.env
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/package.json
  sdk/servicebus/service-bus/samples/typescript/sample.env
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
  sdk/servicebus/service-bus/test/perf/azure-sb-package/receive.ts
  sdk/servicebus/service-bus/test/perf/azure-sb-package/send.ts
  sdk/servicebus/service-bus/test/perf/rhea-promise/receive.ts
  sdk/servicebus/service-bus/test/perf/rhea-promise/send.ts
  sdk/servicebus/service-bus/test/perf/service-bus/receive.ts
  sdk/servicebus/service-bus/test/perf/service-bus/send.ts
  sdk/servicebus/test-resources.json
Labels: Service Bus

#12867 Sync eng/common directory with azure-sdk-tools for PR 1270
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#12866 Sync eng/common directory with azure-sdk-tools for PR 1274
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#12871 Sync eng/common directory with azure-sdk-tools for PR 1273
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#12870 [synapse] Added 'clean' commands.
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
Labels: Client, Synapse, auto-merge

#12879 [service-bus] Addressing some incorrect samples and missing migrationguide.md section
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
Labels: Service Bus, auto-merge

#12810 [communication] update samples
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/samples/javascript/README.md
  sdk/communication/communication-administration/samples/javascript/issueToken.js
  sdk/communication/communication-administration/samples/javascript/purchasePhoneNumber.js
  sdk/communication/communication-administration/samples/javascript/releasePhoneNumbers.js
  sdk/communication/communication-administration/samples/javascript/revokeTokens.js
  sdk/communication/communication-administration/samples/typescript/README.md
  sdk/communication/communication-administration/samples/typescript/src/issueToken.ts
  sdk/communication/communication-administration/samples/typescript/src/purchasePhoneNumber.ts
  sdk/communication/communication-administration/samples/typescript/src/releasePhoneNumbers.ts
  sdk/communication/communication-administration/samples/typescript/src/revokeTokens.ts
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples/tsconfig.json
Labels: Communication

#12894 Upgrade ESLint version to 7.15.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Cosmos, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Tables, auto-merge

#12893 OpenTelemetry Exporter using Resources API to get service properties
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/context/context.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/applicationinsights.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/spanUtils.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/spanUtils.test.ts
Labels: Monitor

#12920 [communication-sms] enable live tests using pipeline variables
  sdk/communication/communication-sms/karma.conf.js
  sdk/communication/communication-sms/recordings/browsers/smsclient/recording_sends_a_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient/recording_sends_a_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient/recording_sends_an_sms_message.js
  sdk/communication/communication-sms/sample.env
  sdk/communication/communication-sms/test/README.md
  sdk/communication/communication-sms/test/smsClient.spec.ts
  sdk/communication/communication-sms/tests.yml
Labels: Communication

#12921 Sync eng/common directory with azure-sdk-tools for PR 1285
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#12908 [service-bus] batching receiver was removing event listeners too early
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Labels: Service Bus

#12927 [Event Hubs] Remove @constructor tags
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
Labels: Event Hubs

#12930 Update Communication Chat README
  sdk/communication/communication-chat/README.md
Labels: Communication

#12872 [cosmos] modify package.json with the test scripts
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hashing/v1.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hashing/v2.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/platform.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregates/groupBy.spec.ts
Labels: Cosmos

#12246 add express sample for event hub
  sdk/eventhub/event-hubs/samples/expressSample/package.json
  sdk/eventhub/event-hubs/samples/expressSample/src/README.md
  sdk/eventhub/event-hubs/samples/expressSample/src/asyncBatchingProducer.ts
  sdk/eventhub/event-hubs/samples/expressSample/src/index.ts
  sdk/eventhub/event-hubs/samples/expressSample/tsconfig.json
Labels: Event Hubs

#12940 [Synapse] Remove duplicate clean command
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
Labels: Synapse

#12946 Sync eng/common directory with azure-sdk-tools for PR 1287
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#12941 [Docs] Adding docs npm script
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Cosmos, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Synapse, Tables, auto-merge

#12858 [Identity] Manual test fix
  sdk/identity/identity/test/manual/README.md
  sdk/identity/identity/test/manual/package.json
  sdk/identity/identity/test/manual/src/index.tsx
Labels: Azure.Identity

#12943 Remove @param and @returns tags if they have no description
  sdk/core/abort-controller/src/AbortSignal.ts
  sdk/core/core-http/src/credentials/accessTokenRefresher.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/src/policies/ndJsonPolicy.ts
  sdk/core/core-http/test/data/TestClient/src/testClient.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/keyvault/keyvault-certificates/src/utils.ts
  sdk/keyvault/keyvault-keys/src/localCryptography/algorithms.ts
  sdk/servicebus/service-bus/src/util/crypto.browser.ts
  sdk/servicebus/service-bus/src/util/parseUrl.browser.ts
  sdk/servicebus/service-bus/src/util/parseUrl.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-datalake/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/src/ShareSASPermissions.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/tables/data-tables/src/TableBatch.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.browser.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/basekarma.conf.ts
  sdk/test-utils/recorder/src/utils/index.ts
Labels: Azure.Core, Cognitive - Form Recognizer, Tables, auto-merge

#12800 [Identity] More standard samples
  common/config/rush/pnpm-lock.yaml
  documentation/using-azure-identity.md
  sdk/identity/identity/.gitignore
  sdk/identity/identity/package.json
  sdk/identity/identity/samples/.gitkeep
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
  sdk/identity/identity/samples/javascript/README.md
  sdk/identity/identity/samples/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/javascript/defaultAzureCredential.js
  sdk/identity/identity/samples/javascript/environmentCredential.js
  sdk/identity/identity/samples/javascript/package.json
  sdk/identity/identity/samples/javascript/sample.env
  sdk/identity/identity/samples/manual/authorizationCodeSample.ts
  sdk/identity/identity/samples/sample.env
  sdk/identity/identity/samples/tsconfig.json
  sdk/identity/identity/samples/typescript/README.md
  sdk/identity/identity/samples/typescript/package.json
  sdk/identity/identity/samples/typescript/sample.env
  sdk/identity/identity/samples/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/typescript/src/defaultAzureCredential.ts
  sdk/identity/identity/samples/typescript/src/environmentCredential.ts
  sdk/identity/identity/samples/typescript/tsconfig.json
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
Labels: Azure.Identity

#12909 [core-amqp][event-hubs] support specifying a custom endpoint
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/src/util/parseEndpoint.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/config.spec.ts
  sdk/eventhub/event-hubs/test/impl/parseEndpoint.spec.ts
  sdk/servicebus/service-bus/package.json
Labels: Azure.Core, Event Hubs, Service Bus, auto-merge

#12977 [keyvault] MQ docs: minor fixes to the readmes for samples
  sdk/keyvault/keyvault-keys/samples/javascript/README.md
  sdk/keyvault/keyvault-keys/samples/typescript/README.md
  sdk/keyvault/keyvault-secrets/samples/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/typescript/README.md
Labels: KeyVault, auto-merge

#12978 [Key Vault Keys] Migration guide
  sdk/keyvault/keyvault-keys/migration-guide.md
Labels: KeyVault

#12980 [Key Vault Secrets] Migration guide
  sdk/keyvault/keyvault-secrets/migration-guide.md
Labels: KeyVault

#12981 [Key Vault Certificates] Migration guide
  sdk/keyvault/keyvault-certificates/migration-guide.md
Labels: KeyVault

#12782 Sdk auto/@azure arm recoveryservices
  sdk/recoveryservices/arm-recoveryservices/README.md
  sdk/recoveryservices/arm-recoveryservices/package.json
  sdk/recoveryservices/arm-recoveryservices/rollup.config.js
  sdk/recoveryservices/arm-recoveryservices/src/models/index.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/mappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/operationsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/parameters.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/privateLinkResourcesOperationsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/recoveryServicesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/registeredIdentitiesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/replicationUsagesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/usagesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/vaultCertificatesMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/vaultExtendedInfoOperationsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/vaultsMappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/index.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/operations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/privateLinkResourcesOperations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/recoveryServices.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/registeredIdentities.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/replicationUsages.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/usages.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaultCertificates.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaultExtendedInfoOperations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaults.ts
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClient.ts
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClientContext.ts
Labels: Mgmt

#12985 [@azure/service-bus] Fix invalid check for Node
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus, customer-reported

#12989 [Service Bus] Update changelog for 7.0.1
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus, auto-merge

#12982 Use npm link instead of github for readme
  sdk/keyvault/keyvault-certificates/migration-guide.md
  sdk/keyvault/keyvault-keys/migration-guide.md
  sdk/keyvault/keyvault-secrets/migration-guide.md
Labels: KeyVault, auto-merge

#12992 [Communication] - Common - Renaming CommunicationUserCredential to CommunicationTokenCredential
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/credential/communicationTokenCredentialPolicy.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.browser.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.ts
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/README.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/autoRefreshTokenCredential.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/src/staticTokenCredential.ts
  sdk/communication/communication-common/test/communicationTokenCredential.spec.ts
Labels: Communication

#12991 [Text Analytics] Tests read env vars only after they were read by the recorder
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/env.browser.ts
  sdk/textanalytics/ai-text-analytics/test/utils/env.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
Labels: Cognitive - Text Analytics, auto-merge

#12995 [Service Bus] Update migration guide to follow template
  sdk/servicebus/service-bus/migrationguide.md
Labels: Service Bus, auto-merge

#13004 [Communication] - Common - Rename RefreshOptions to CommunicationTokenRefreshOptions
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/autoRefreshTokenCredential.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/index.ts
Labels: Communication

#13002 Communication common add Microsoft Teams user identifier, rename types with Identifier suffix
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/communicationIdentity/communicationIdentityClient.ts
  sdk/communication/communication-administration/src/communicationIdentity/models.ts
  sdk/communication/communication-administration/test/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-administration/test/communicationIdentityClient.spec.ts
  sdk/communication/communication-administration/test/utils/testCommunicationIdentityClient.ts
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/identifierModels.spec.ts
Labels: Communication

#13003 [event-hubs] Update migration guide to follow template
  sdk/eventhub/event-hubs/migrationguide.md
Labels: Event Hubs, auto-merge

#13008 [Service Bus] Delete v1 stress tests and move track 2 tests to "stress" folder
  eng/.docsettings.yml
  sdk/servicebus/service-bus/test/stress-test-track-2/tsconfig.json
  sdk/servicebus/service-bus/test/stress/SetupAndGuide.md
  sdk/servicebus/service-bus/test/stress/package.json
  sdk/servicebus/service-bus/test/stress/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress/scenarioPeekMessages.ts
  sdk/servicebus/service-bus/test/stress/scenarioRenewMessageLock.ts
  sdk/servicebus/service-bus/test/stress/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress/scenarioSend.ts
  sdk/servicebus/service-bus/test/stress/scenarioStreamingReceive.ts
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
  sdk/servicebus/service-bus/test/stress/stress_fixedNumberOfClientsMultipleQueues.ts
  sdk/servicebus/service-bus/test/stress/stress_fixedNumberOfClientsSingleQueue.ts
  sdk/servicebus/service-bus/test/stress/stress_messageAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_messageLockRenewalBatchingThenStreaming.ts
  sdk/servicebus/service-bus/test/stress/stress_messageManualLockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_messageRandomDisposition.ts
  sdk/servicebus/service-bus/test/stress/stress_messageRandomDispositionOnSession.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionManualLockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionState.ts
  sdk/servicebus/service-bus/test/stress/stress_singleClient.ts
  sdk/servicebus/service-bus/test/stress/stress_singleMessageComplete.ts
  sdk/servicebus/service-bus/test/stress/tsconfig.json
  sdk/servicebus/service-bus/test/stress/utils.ts
Labels: Service Bus, auto-merge

#13011 [Synapse] Remove old synapse
  sdk/synapse/synapse/LICENSE.txt
  sdk/synapse/synapse/README.md
  sdk/synapse/synapse/package.json
  sdk/synapse/synapse/rollup.config.js
  sdk/synapse/synapse/src/models/index.ts
  sdk/synapse/synapse/src/models/mappers.ts
  sdk/synapse/synapse/src/models/monitoringMappers.ts
  sdk/synapse/synapse/src/models/parameters.ts
  sdk/synapse/synapse/src/models/sparkBatchMappers.ts
  sdk/synapse/synapse/src/models/sparkSessionMappers.ts
  sdk/synapse/synapse/src/models/workspaceAclMappers.ts
  sdk/synapse/synapse/src/operations/index.ts
  sdk/synapse/synapse/src/operations/monitoring.ts
  sdk/synapse/synapse/src/operations/sparkBatch.ts
  sdk/synapse/synapse/src/operations/sparkSession.ts
  sdk/synapse/synapse/src/operations/workspaceAcl.ts
  sdk/synapse/synapse/src/synapseClient.ts
  sdk/synapse/synapse/src/synapseClientContext.ts
  sdk/synapse/synapse/tsconfig.json
Labels: Synapse

#11854 [Service Bus] Perf tests for track 2 and update track 1 ones to latest
  eng/.docsettings.yml
  sdk/servicebus/service-bus/test/perf/service-bus-v1/package.json
  sdk/servicebus/service-bus/test/perf/service-bus-v1/receive.ts
  sdk/servicebus/service-bus/test/perf/service-bus-v1/receiveBatch.ts
  sdk/servicebus/service-bus/test/perf/service-bus-v1/send.ts
  sdk/servicebus/service-bus/test/perf/service-bus-v7/package.json
  sdk/servicebus/service-bus/test/perf/service-bus-v7/receive.ts
  sdk/servicebus/service-bus/test/perf/service-bus-v7/receiveBatch.ts
  sdk/servicebus/service-bus/test/perf/service-bus-v7/send.ts
Labels: Service Bus, auto-merge

#13012 [Perf Tests] Helper methods from perf framework
  sdk/test-utils/perfstress/src/index.ts
  sdk/test-utils/perfstress/src/parallel.ts
  sdk/test-utils/perfstress/src/utils.ts
Labels: auto-merge

#12987 [Docs] Add --excludeExternals to rushx docs command
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Synapse, Tables

#13017 Add a note for EPH on EH service level readme
  sdk/eventhub/README.md
Labels: Event Hubs, auto-merge

#13018 Add note on admin client features in SB service level readme
  sdk/servicebus/README.md
Labels: Service Bus, auto-merge

#13016 [event-hubs] add checkkpointing to migration guide sample
  sdk/eventhub/event-hubs/migrationguide.md
Labels: Event Hubs, auto-merge

#13020 Callout that the admin package is still in preview
  sdk/keyvault/README.md
Labels: KeyVault, auto-merge

#13014 [Perf Tests] streamToBuffer helper method
  sdk/test-utils/perfstress/src/index.ts
  sdk/test-utils/perfstress/src/utils.ts
Labels: auto-merge

#12976 [tables] Code coverage tables
  sdk/tables/data-tables/.nycrc
  sdk/tables/data-tables/package.json
Labels: Tables

#13015 [Text Analytics] Diagnose issue with test resources
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/test-resources.json
Labels: Cognitive - Text Analytics
