Repository Azure/azure-sdk-for-js, pull requests merged in 2020-08, with the labels that each got.

#10361 [ESLint] Stop linting tsconfig.json files inside packages
  sdk/core/core-client/package.json
  sdk/core/core-https/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/tables/azure-tables/package.json
  sdk/template/template/package.json
Labels: Azure.Core, Client, Cognitive - Form Recognizer, Storage

#10370 Changes Array JSONArray type to ArrayLike
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/queryExecutionContext/SqlQuerySpec.ts
Labels: Cosmos

#9857 [Keyvault] Fix warning on unresolved dependencies
  sdk/keyvault/keyvault-keys/rollup.base.config.js
Labels: KeyVault

#10387 [core-http, amqp] Update CHANGELOG for august 2020 release
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#10420 Increment version for eventhub releases
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Labels: Event Hubs

#10423 examples folder is not present and gives bad link
  sdk/monitor/opentelemetry-exporter/README.md
Labels: EngSys

#10421 [Service Bus] Skip the flaky schedule test until we find the fix
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
Labels: Service Bus

#10386 [ai-form-recognizer] Final GA consistency changes
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/authenticationMethods.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/copyModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/customModelManagement.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/iteratorModels.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainLabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainUnlabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/customModelManagement.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/iteratorModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainUnlabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/parameters.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Labels: Client, Cognitive - Form Recognizer

#10419 [Identity] Renamed the VSCodeCredential to VisualStudioCodeCredential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.browser.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/index.ts
Labels: Azure.Identity

#10049 [Service Bus] `CreateEntityOptions` and restricted `EntityResponse`
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Service Bus

#10424 [eventhubs-checkpointstore-blob] update api-specific storage-blob sample
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/apiSpecificContainerClient.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/createCustomPipeline.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/apiSpecificContainerClient.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/createCustomPipeline.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsWithApiSpecificStorage.ts
Labels: Client, Event Hubs

#10412 [Cosmos] Fix API documentation in code
  sdk/cosmosdb/cosmos/src/retry/resourceThrottleRetryPolicy.ts
Labels: Cosmos, customer-reported

#10389 [EventHubs][DistributedTracing] add destination and peer.address attributes
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/diagnostics/messageSpan.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/test/diagnostics/messageSpan.spec.ts
Labels: Event Hubs

#10416 Standardize prettier configurations across the repo
  .prettierignore
  .prettierrc.json
  eng/.prettierrc.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/.prettierignore
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/.prettierignore
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/.prettierignore
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/.prettierignore
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/.prettierignore
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/azure-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client, Storage

#10425 [core-amqp] remove stream-browserify dependency
  sdk/core/core-amqp/package.json
Labels: Azure.Core, Client

#10231 [Service Bus] ATOM API: Retain the status code in the response from the service for MessageEntityNotFoundError
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus

#10447 [core-auth] Update changelog for August release
  sdk/core/core-auth/CHANGELOG.md
Labels: Azure.Core

#10445 Fix parented tracing span in search API
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/searchClient.ts
Labels: Search

#10452 [Service Bus] Clarify when a connection is made to the service
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Labels: Service Bus

#10451 [Service Bus] Improve err msg when failing to senders and receivers
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus

#10396 [Service Bus] Better errors for settling deferred msg in ReceiveAndDelete mode
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
Labels: Service Bus

#10338 [Identity] Removed stream-browserify
  sdk/identity/identity/package.json
Labels: Azure.Identity

#10236 [Identity] Loading the tenant from the VSCode settings file
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Labels: Azure.Identity

#10102 [Service Bus] Hiding receiveMode in the Options for `createReceiver` and `createSessionReceiver` methods
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#10461 Increment version for core releases
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
Labels: Azure.Core

#10417 [Tables] Add delete method to TableClient
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
Labels: Client, Tables

#10468 [ai-form-recognizer] Switch to 2.0 endpoint and set versions for GA
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_browser_only/recording_recognizes_content_from_a_url.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_browser_only/recording_recognizes_receipt_from_a_blob.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_browser_only/recording_recognizes_receipt_from_a_url.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_custom_form_recognition_browser_only/recording_recognizes_form_blob_unlabeled_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_custom_form_recognition_browser_only/recording_recognizes_form_url_unlabeled_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_deletemodels_removes_a_model_from_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_getmodel_returns_a_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_listmodels_allows_getting_next_model_info.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_listmodels_iterates_models_in_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_labels.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_no_labels.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_no_labels_including_sub_folders.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_no_labels_specifying_prefix_.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formtrainingclient_nodejs_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_handles_missing_fields.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_jpeg_labeled_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_jpeg_labeled_model_no_content_type.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_jpeg_unlabeled_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_url_unlabeled_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_jpeg_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream_without_passing_content_type.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_png_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_tiff_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_multipage_receipt_with_blank_page.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_jpeg_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_png_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_copies_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_deletemodels_removes_a_model_from_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_getmodel_returns_a_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_listmodels_allows_getting_next_model_info.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_listmodels_iterates_models_in_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_labels.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels_including_sub_folders.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels_specifying_prefix_.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/util/recordedClients.ts
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Labels: Client, Cognitive - Form Recognizer

#10478 Only fetch query plan for item queries
  sdk/cosmosdb/cosmos/src/queryIterator.ts
Labels: Cosmos

#10479 [ai-text-analytics] Lower-case azure keyword in package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client, Cognitive - Text Analytics

#10465 [Service Bus] Bug Fix: Properties in the correlation filter are not parsed correctly when a single property is present
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus

#10369 [Key Vault Keys] Testing RSA-HSM operations
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_encrypt__decrypt_with_an_rsahsm_key_and_the_rsa1_5_algorithm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_encrypt__decrypt_with_an_rsahsm_key_and_the_rsaoaep_algorithm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_encrypt__decrypt_with_rsahsm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_sign_and_verify_with_rs256_through_an_rsahrm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_sign_and_verify_with_rs384_through_an_rsahrm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_wrap_and_unwrap_with_rsa1_5_on_a_rsahsm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_wrap_and_unwrap_with_rsaoaep_on_a_rsahsm_key.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely_working_with_hsm_keys/recording_encrypt__decrypt_with_rsahsm.js
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely_working_with_hsm_keys/recording_wrap_and_unwrap_with_rsaoaep_on_a_rsahsm_key.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
  sdk/keyvault/test-resources.json
Labels: KeyVault

#10448 [service-bus] Allow users to subscribe() if they've closed the active subscription.
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/receiverHelper.spec.ts
  sdk/servicebus/service-bus/test/internal/receiverInit.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus

#10464 Revert core auth changelog
  sdk/core/core-auth/CHANGELOG.md
Labels: Azure.Core

#10483 [Key Vault] apiVersion parameter to serviceVersion
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/test/internal/serviceVersionParameter.spec.ts
Labels: KeyVault

#10440 Increment version for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#10466 [EventHub][Monitor] set peer.address attribute to FQNS
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/test/node/client.spec.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
Labels: Event Hubs

#10454 Increment version for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#10169 [core-https] core 2.0 background/writeup
  sdk/core/core-https/documentation/core2.md
Labels: Azure.Core, Client

#10487 Bump core-http dependency version to v 1.1.6
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-lro/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/azure-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client, Storage

#10517 [Identity] managedIdentityClientId optional parameter on the DAC options
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#10507 [Identity] Fixed typo on the CHANGELOG.md
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#10476 [Identity] Bump to version 1.1 GA
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Azure.Identity, blocking-release

#10433 Modify changefeed README.md and typescript sample resume.ts
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob-changefeed/samples/typescript/resume.ts
Labels: Storage

#10488 [search-documents] Fix ISO8601 date regex
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/test/serialization.spec.ts
Labels: Search

#10429 Modify formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
Labels: Cognitive - Form Recognizer

#10510 [Service Bus] Changelog date + version number updates
  eng/ignore-links.txt
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
Labels: Service Bus

#10509 Set docModel to true in api-extractor.json config
  sdk/appconfiguration/app-configuration/api-extractor.json
  sdk/core/abort-controller/api-extractor.json
  sdk/core/core-amqp/api-extractor.json
  sdk/core/core-auth/api-extractor.json
  sdk/core/core-client/api-extractor.json
  sdk/core/core-http/api-extractor.json
  sdk/core/core-https/api-extractor.json
  sdk/core/core-lro/api-extractor.json
  sdk/core/core-tracing/api-extractor.json
  sdk/core/core-xml/api-extractor.json
  sdk/core/logger/api-extractor.json
  sdk/cosmosdb/cosmos/api-extractor.json
  sdk/eventhub/event-hubs/api-extractor.json
  sdk/eventhub/event-processor-host/api-extractor.json
  sdk/eventhub/eventhubs-checkpointstore-blob/api-extractor.json
  sdk/formrecognizer/ai-form-recognizer/api-extractor.json
  sdk/identity/identity/api-extractor.json
  sdk/keyvault/keyvault-certificates/api-extractor.json
  sdk/keyvault/keyvault-keys/api-extractor.json
  sdk/keyvault/keyvault-secrets/api-extractor.json
  sdk/schemaregistry/schema-registry/api-extractor.json
  sdk/search/search-documents/api-extractor.json
  sdk/servicebus/service-bus/api-extractor.json
  sdk/storage/storage-blob-changefeed/api-extractor.json
  sdk/storage/storage-blob/api-extractor.json
  sdk/storage/storage-file-datalake/api-extractor.json
  sdk/storage/storage-file-share/api-extractor.json
  sdk/storage/storage-queue/api-extractor.json
  sdk/tables/azure-tables/api-extractor.json
  sdk/template/template/api-extractor.json
  sdk/textanalytics/ai-text-analytics/api-extractor.json
Labels: Client, Storage

#10533 [Cosmos] Bump version to 3.8
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#10537 [Service Bus] Fix outdated samples
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
Labels: Service Bus

#10506 [Identity] Readme changes
  sdk/identity/identity/README.md
  sdk/identity/identity/images/AzureCliLogin.png
  sdk/identity/identity/images/AzureCliLoginDeviceCode.png
  sdk/identity/identity/images/DefaultAzureCredentialAuthenticationFlow.png
  sdk/identity/identity/images/VsCodeLoginCommand.png
Labels: Azure.Identity

#10538 [ai-form-recognizer] Final changes for 3.0.0-preview.1
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Client, Cognitive - Form Recognizer

#10530 Added Test cases for Search Client
  sdk/search/search-documents/package.json
  sdk/search/search-documents/recordings/node/searchclient_autocomplete/recording_returns_the_correct_autocomplete_result.js
  sdk/search/search-documents/recordings/node/searchclient_autocomplete/recording_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient_count/recording_returns_the_correct_document_count.js
  sdk/search/search-documents/recordings/node/searchclient_deletedocuments/recording_delete_a_document_by_documents.js
  sdk/search/search-documents/recordings/node/searchclient_deletedocuments/recording_delete_a_document_by_keykeynames.js
  sdk/search/search-documents/recordings/node/searchclient_getdocument/recording_returns_the_correct_document_result.js
  sdk/search/search-documents/recordings/node/searchclient_getdocument/recording_throws_error_for_invalid_getdocument_value.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_deletes_existing_documents.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_merges_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_mergeupload_documents.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_upload_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient_mergedocuments/recording_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_mergeoruploaddocuments/recording_merge_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient_mergeoruploaddocuments/recording_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_search/recording_returns_the_correct_search_result.js
  sdk/search/search-documents/recordings/node/searchclient_search/recording_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient_suggest/recording_returns_the_correct_suggestions.js
  sdk/search/search-documents/recordings/node/searchclient_suggest/recording_returns_zero_suggestions_for_invalid_input.js
  sdk/search/search-documents/recordings/node/searchclient_uploaddocuments/recording_upload_a_set_of_documents.js
  sdk/search/search-documents/test/node/searchIndexClient.spec.ts
Labels: Search

#10542 [Cosmos] Fix changelog entry for 3.8.0
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#10541 [Service Bus] @internal @ignore tags for the methods/interfaces that aren't exported
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/concurrentExpiringMap.ts
  sdk/servicebus/service-bus/src/util/crypto.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/runtimeInfo.browser.ts
  sdk/servicebus/service-bus/src/util/semaphore.ts
  sdk/servicebus/service-bus/src/util/tracing.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Labels: Service Bus

#10545 [Cosmos] fix dates in changelog to be 2 digits
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#10477 [Key Vault] 4.1.0 CHANGELOG.md and version updates
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
Labels: KeyVault

#10544 [Identity] Add some additional changelog lines for 'since 1.0'
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#10549 [Service Bus] Left over constants/functions in the docs that aren't exported
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
Labels: Service Bus

#10561 [Text Analytics] Update Opinion Mining samples links
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
Labels: Cognitive - Text Analytics

#10145 Verifying VS Code debugger with default configuration works on tests in our SDKs
  CONTRIBUTING.md
  sdk/core/core-amqp/.vscode/launch.json
  sdk/core/core-arm/package.json
  sdk/core/core-auth/.vscode/launch.json
  sdk/core/core-auth/.vscode/tasks.json
  sdk/core/core-client/.vscode/launch.json
  sdk/core/core-client/.vscode/tasks.json
  sdk/core/core-http/.vscode/launch.json
  sdk/core/core-http/package.json
  sdk/core/core-https/.vscode/launch.json
  sdk/core/core-https/.vscode/tasks.json
  sdk/cosmosdb/cosmos/.vscode/launch.json
  sdk/cosmosdb/cosmos/.vscode/settings.json
  sdk/cosmosdb/cosmos/.vscode/tasks.json
  sdk/eventhub/event-hubs/.vscode/launch.json
  sdk/eventhub/event-processor-host/.vscode/launch.json
  sdk/eventhub/eventhubs-checkpointstore-blob/.vscode/launch.json
  sdk/formrecognizer/ai-form-recognizer/.vscode/launch.json
  sdk/identity/identity/.vscode/launch.json
  sdk/identity/identity/.vscode/tasks.json
  sdk/search/search-documents/.vscode/launch.json
  sdk/search/search-documents/.vscode/tasks.json
  sdk/servicebus/service-bus/.vscode/launch.json
  sdk/storage/storage-blob-changefeed/.vscode/extensions.json
  sdk/storage/storage-blob-changefeed/.vscode/launch.json
  sdk/storage/storage-blob-changefeed/.vscode/settings.json
  sdk/storage/storage-blob/.vscode/extensions.json
  sdk/storage/storage-blob/.vscode/launch.json
  sdk/storage/storage-blob/.vscode/settings.json
  sdk/storage/storage-file-datalake/.vscode/extensions.json
  sdk/storage/storage-file-datalake/.vscode/launch.json
  sdk/storage/storage-file-datalake/.vscode/settings.json
  sdk/storage/storage-file-share/.vscode/extensions.json
  sdk/storage/storage-file-share/.vscode/launch.json
  sdk/storage/storage-file-share/.vscode/settings.json
  sdk/storage/storage-internal-avro/.vscode/extensions.json
  sdk/storage/storage-internal-avro/.vscode/launch.json
  sdk/storage/storage-internal-avro/.vscode/settings.json
  sdk/storage/storage-queue/.vscode/extensions.json
  sdk/storage/storage-queue/.vscode/launch.json
  sdk/storage/storage-queue/.vscode/settings.json
  sdk/tables/azure-tables/.vscode/launch.json
  sdk/tables/azure-tables/.vscode/tasks.json
Labels: Client, Storage

#10432 Modify storage-file-share/README.md
  sdk/storage/storage-file-share/README.md
Labels: Storage

#10430 Modify storage-blob/README.md
  sdk/storage/storage-blob/README.md
Labels: Storage

#10431 Modify storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/README.md
Labels: Storage

#10563 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#10570 [ai-form-recognizer] Fix strongly typed model sample
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
Labels: Client, Cognitive - Form Recognizer

#10572 [Key Vault] Spotted a remaining reference to 7.1-preview and apiVersion on the READMEs
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Labels: KeyVault

#10574 [Cosmos] Wraps URL with checkURL function for browser
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/utils/url.browser.ts
  sdk/cosmosdb/cosmos/src/utils/url.ts
Labels: Cosmos

#10576 [Key Vault] Fixing bad dist-esm folders on the resulting artifacts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Labels: KeyVault

#10557 [search] Add live tests for indexer client
  sdk/search/search-documents/recordings/node/searchclient_autocomplete/recording_returns_the_correct_autocomplete_result.js
  sdk/search/search-documents/recordings/node/searchclient_autocomplete/recording_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient_count/recording_returns_the_correct_document_count.js
  sdk/search/search-documents/recordings/node/searchclient_deletedocuments/recording_delete_a_document_by_documents.js
  sdk/search/search-documents/recordings/node/searchclient_deletedocuments/recording_delete_a_document_by_keykeynames.js
  sdk/search/search-documents/recordings/node/searchclient_getdocument/recording_returns_the_correct_document_result.js
  sdk/search/search-documents/recordings/node/searchclient_getdocument/recording_throws_error_for_invalid_getdocument_value.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_deletes_existing_documents.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_merges_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_mergeupload_documents.js
  sdk/search/search-documents/recordings/node/searchclient_indexdocuments/recording_upload_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient_mergedocuments/recording_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_mergeoruploaddocuments/recording_merge_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient_mergeoruploaddocuments/recording_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_search/recording_returns_the_correct_search_result.js
  sdk/search/search-documents/recordings/node/searchclient_search/recording_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient_suggest/recording_returns_the_correct_suggestions.js
  sdk/search/search-documents/recordings/node/searchclient_suggest/recording_returns_zero_suggestions_for_invalid_input.js
  sdk/search/search-documents/recordings/node/searchclient_uploaddocuments/recording_upload_a_set_of_documents.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_creates_the_datasourceconnection_object_using_createorupdatedatasourceconnection.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_correct_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_list_of_datasourceconnection_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_list_of_datasourceconnections.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_modify_and_updates_the_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_throws_error_for_invalid_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_creates_the_indexer_object_using_createorupdateindexer.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_correct_indexer_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_list_of_indexer_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_list_of_indexers.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_status_of_the_indexer.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_modify_and_updates_the_indexer_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_throws_error_for_invalid_indexer_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_creates_the_skillset_object_using_createorupdateskillset.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_gets_the_correct_skillset_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_gets_the_list_of_skillset_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_gets_the_list_of_skillsets.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_modify_and_updates_the_skillsets_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_throws_error_for_invalid_skillset_object.js
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Labels: Search

#10579 [Key Vault] Release date to 2020-08-12
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#10207 [Tables] Add Entity Serialization/Deserialization & Generics
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generated/generatedClient.ts
  sdk/tables/azure-tables/src/generated/generatedClientContext.ts
  sdk/tables/azure-tables/src/generated/models/index.ts
  sdk/tables/azure-tables/src/generated/models/mappers.ts
  sdk/tables/azure-tables/src/generated/operations/service.ts
  sdk/tables/azure-tables/src/generated/operations/table.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/models.ts
  sdk/tables/azure-tables/src/serialization.ts
  sdk/tables/azure-tables/src/utils/bufferSerializer.browser.ts
  sdk/tables/azure-tables/src/utils/bufferSerializer.ts
  sdk/tables/azure-tables/swagger/README.md
  sdk/tables/azure-tables/test/serialization.spec.ts
  sdk/tables/azure-tables/test/utils.spec.ts
Labels: Client, Tables

#10587 [Key Vault] Build fixes
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Labels: KeyVault

#10590 [Cosmos] Adds 3.8.1 changelog and version bump
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#10593 Rename setupIndex to setup
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/utils/setup.ts
Labels: Search

#10595 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#10598 add relative link conversion to git tags back
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#10502 [Tables] Add Replace and Merge Update Modes
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/models.ts
Labels: Client, Tables

#10600 Fix Check URL for Node 8
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/utils/url.ts
Labels: Cosmos

#10500 bump typedoc version
  eng/tools/generate-doc/index.js
  eng/tools/generate-doc/package.json
Labels: EngSys

#10575 [Monitor] Add eventhub span processing
  sdk/monitor/opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/opentelemetry-exporter/src/utils/constants/span/azAttributes.ts
  sdk/monitor/opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/opentelemetry-exporter/test/utils/eventhub.test.ts
  sdk/monitor/opentelemetry-exporter/test/utils/spanUtils.test.ts
Labels: Monitor

#8837 [Cosmos] Adds autoscale header support
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/QueryThroughput/alterQueryThroughput.ts
  sdk/cosmosdb/cosmos/src/client/Container/ContainerRequest.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/DatabaseRequest.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/client/Offer/OfferDefinition.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/offers.ts
  sdk/cosmosdb/cosmos/test/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/unit/utils/offer.spec.ts
Labels: Cosmos

#10499 [Tables] Helper functions for Query options
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/src/models.ts
  sdk/tables/azure-tables/src/odata.ts
  sdk/tables/azure-tables/test/odata.spec.ts
Labels: Client, Tables

#9710 [Service Bus] Remove ClientEntityContext
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus

#10617 [Cosmos] Push to 3.9.0
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#10623 Cosmosdb release
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClientContext.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/databaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/gremlinResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mongoDBResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/notebookWorkspacesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateEndpointConnectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateLinkResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/sqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/tableResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/cassandraResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/databaseAccounts.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/gremlinResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/mongoDBResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/sqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/tableResources.ts
Labels: Cosmos

#10618 [Tables] Move all optional parameters to options bag
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/models.ts
Labels: Tables

#10625 [Service Bus] API Review Feedback
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/stress/stress_messageAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_messageLockRenewalBatchingThenStreaming.ts
  sdk/servicebus/service-bus/test/stress/stress_messageManualLockRenewal.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#10085 [Identity] [core-http] Concept PR for the token refresher update
  sdk/core/core-http/src/credentials/accessTokenRefresher.ts
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_url.js
Labels: Azure.Core

#10635 [Tables] Flatten responses
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/samples/typescript/src/connectionString.ts
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/models.ts
Labels: Tables

#10578 [service-bus] init() refactor to propagate abortSignal support.
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
Labels: Service Bus

#10657 [Text Analytics] Update links to PII samples
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
Labels: Cognitive - Text Analytics

#10662 [amqp-common] Remove the mgmt link listener only when it matches or the Promise rejects
  .azure-pipelines/client.yml
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/use-node-version.yml
  eng/pipelines/templates/variables/globals.yml
  rush.json
  sdk/core/amqp-common/README.md
  sdk/core/amqp-common/changelog.md
  sdk/core/amqp-common/package.json
  sdk/core/amqp-common/src/requestResponseLink.ts
  sdk/core/amqp-common/test/requestResponse.spec.ts
Labels: Service Bus

#10139 [Identity] Creating a sample.env on the samples folder
  sdk/identity/identity/samples/sample.env
Labels: Azure.Identity

#10674 [Service Bus] Add LinkEntity.close()
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
Labels: Service Bus

#10640 [Service Bus] Combine batching and streaming receiver cache
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus

#10685 [ai-form-recognizer] Some QA changes before GA
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_browser_only/recording_recognizes_content_from_a_url.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_browser_only/recording_recognizes_receipt_from_a_blob.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_browser_only/recording_recognizes_receipt_from_a_url.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_custom_form_recognition_browser_only/recording_recognizes_form_blob_unlabeled_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formrecognizerclient_custom_form_recognition_browser_only/recording_recognizes_form_url_unlabeled_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_deletemodels_removes_a_model_from_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_getmodel_returns_a_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_listmodels_allows_getting_next_model_info.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_listmodels_iterates_models_in_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_labels.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_no_labels.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_no_labels_including_sub_folders.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_trains_model_with_forms_and_no_labels_specifying_prefix_.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formtrainingclient_nodejs_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_handles_missing_fields.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_jpeg_labeled_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_jpeg_labeled_model_no_content_type.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_jpeg_unlabeled_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_form_recognition_nodejs/recording_recognizes_form_url_unlabeled_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_jpeg_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream_without_passing_content_type.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_png_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_tiff_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_multipage_receipt_with_blank_page.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_jpeg_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_png_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_copies_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_deletemodels_removes_a_model_from_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_getmodel_returns_a_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_listmodels_allows_getting_next_model_info.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_listmodels_iterates_models_in_this_account.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_labels.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels_including_sub_folders.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels_specifying_prefix_.js
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/util/recordedClients.ts
Labels: Client, Cognitive - Form Recognizer

#10691 [ai-form-recognizer] Change version number for GA, minor README changes
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Client, Cognitive - Form Recognizer

#10688 [service-bus] Update to amqp-common 1.0.0-preview.16
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#10663 [Tables] Re generate tables library with latest Autorest
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/generated/generatedClient.ts
  sdk/tables/azure-tables/src/generated/index.ts
  sdk/tables/azure-tables/src/generated/models/index.ts
  sdk/tables/azure-tables/src/generated/models/mappers.ts
  sdk/tables/azure-tables/src/generated/models/parameters.ts
  sdk/tables/azure-tables/src/generated/operations/service.ts
  sdk/tables/azure-tables/src/generated/operations/table.ts
  sdk/tables/azure-tables/swagger/README.md
Labels: Tables

#10607 Adjust CI YAML headers
  sdk/appconfiguration/ci.yml
  sdk/core/ci.yml
  sdk/cosmosdb/ci.yml
  sdk/eventhub/ci.yml
  sdk/formrecognizer/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/ci.yml
  sdk/schemaregistry/ci.yml
  sdk/search/ci.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.yml
  sdk/tables/ci.yml
  sdk/template/ci.yml
  sdk/test-utils/ci.yml
  sdk/textanalytics/ci.yml
Labels: EngSys

#10646 [Service Bus] Remove en-us from links
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples-v1/README.md
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples-v1/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples-v1/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples-v1/javascript/session.js
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/javascript/advanced/managementClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/managementClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/README.md
Labels: Service Bus

#10714 [ai-form-recognizer] Final docs changes pre-GA
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
Labels: Client, Cognitive - Form Recognizer

#10653 [Text Analytics] Addressing arch board feedback on Opinion mining
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#10735 [service-bus] Fixing service bus samples for track 1 and track 2
  sdk/servicebus/service-bus/samples-v1/javascript/README.md
  sdk/servicebus/service-bus/samples-v1/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples-v1/javascript/package.json
  sdk/servicebus/service-bus/samples-v1/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples-v1/typescript/README.md
  sdk/servicebus/service-bus/samples-v1/typescript/package.json
  sdk/servicebus/service-bus/samples-v1/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples-v1/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples-v1/typescript/tsconfig.json
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
Labels: Service Bus

#10602 First pass on Schema Registry convenience layer
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/karma.conf.js
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_by_id_when_given_invalid_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_by_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_registers_schema.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_sets_endpoint_and_adjusts_user_agent_prefix_in_constructor.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_by_id_when_given_invalid_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_by_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_registers_schema.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_sets_endpoint_and_adjusts_user_agent_prefix_in_constructor.js
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/rollup.base.config.js
  sdk/schemaregistry/schema-registry/rollup.config.js
  sdk/schemaregistry/schema-registry/src/constants.ts
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/index.ts
  sdk/schemaregistry/schema-registry/src/logger.ts
  sdk/schemaregistry/schema-registry/src/models.ts
  sdk/schemaregistry/schema-registry/src/pipeline.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/browser/schemaRegistry.browser.spec.ts
  sdk/schemaregistry/schema-registry/test/node/schemaRegistry.node.spec.ts
  sdk/schemaregistry/schema-registry/test/schemaRegistry.spec.ts
  sdk/schemaregistry/schema-registry/test/utils/recordedClient.ts
Labels: Schema Registry

#10719 Release sdk 692
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClientContext.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/index.ts
  sdk/appconfiguration/arm-appconfiguration/src/models/mappers.ts
Labels: AzConfig

#10731 [Identity] Linting
  sdk/identity/identity/package.json
Labels: Azure.Identity

#10730 [Form Recognizer] Linting
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/formtrainingclient_browser_only/recording_listmodels_iterates_models_in_this_account.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_listmodels_iterates_models_in_this_account.js
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/utils/utils.browser.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/utils.spec.ts
Labels: Cognitive - Form Recognizer

#10729 [Key Vault] Linting
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Labels: KeyVault

#10772 Fix readme for form recognizer
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
Labels: Cognitive - Form Recognizer

#10727 Increment version for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Cognitive - Form Recognizer

#10763 [Service Bus] Remove requestResponseLockedMessages
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/concurrentExpiringMap.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
Labels: Service Bus

#10792 [Storage] Add support for share soft delete.
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_listshares_with_deleted_share.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_negative.json
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient/recording_undelete_share_positive.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_listshares_with_deleted_share.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_negative.js
  sdk/storage/storage-file-share/recordings/node/fileserviceclient/recording_undelete_share_positive.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/sample.env
  sdk/storage/storage-file-share/src/ShareClientInternal.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Labels: Client, Storage

#10771 [Storage] Custom domain support.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_verify_custom_endpoint_without_valid_accountname.js
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/utils.spec.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/test/utils.spec.ts
  sdk/storage/storage-file-share/recordings/browsers/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_custom_domain.json
  sdk/storage/storage-file-share/recordings/browsers/utility_helpers/recording_isipendpointstyle.json
  sdk/storage/storage-file-share/recordings/node/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_custom_domain.js
  sdk/storage/storage-file-share/recordings/node/utility_helpers/recording_isipendpointstyle.js
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils.spec.ts
  sdk/storage/storage-queue/recordings/browsers/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_custom_domain.json
  sdk/storage/storage-queue/recordings/browsers/utility_helpers/recording_isipendpointstyle.json
  sdk/storage/storage-queue/recordings/node/queueserviceclient/recording_verify_custom_endpoint_without_valid_accountname.js
  sdk/storage/storage-queue/recordings/node/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_custom_domain.js
  sdk/storage/storage-queue/recordings/node/utility_helpers/recording_isipendpointstyle.js
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/utils.spec.ts
Labels: Client, Storage

#10761 updated service bus samples regarding PR #10625
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
Labels: Service Bus

#10829 Quick Fix: Typos
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
Labels: Cosmos

#10784 [Cosmos] Adds BulkOperationType enum and autogens ID for create ops
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/murmurHash.ts
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
  sdk/cosmosdb/cosmos/test/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/unit/hashing/v1.spec.ts
  sdk/cosmosdb/cosmos/test/unit/hashing/v2.spec.ts
Labels: Cosmos

#10837 [service-bus] Adding some simple abortSignal tests for iterators
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
Labels: Service Bus

#9925 [storage][stg73] added ORS
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/recordings/browsers/blobclient__object_replication/recording_destination_blob_get_properties.json
  sdk/storage/storage-blob/recordings/browsers/blobclient__object_replication/recording_download_blob.json
  sdk/storage/storage-blob/recordings/browsers/blobclient__object_replication/recording_download_to_file.json
  sdk/storage/storage-blob/recordings/browsers/blobclient__object_replication/recording_listblob.json
  sdk/storage/storage-blob/recordings/browsers/blobclient__object_replication/recording_source_blob_get_properties.json
  sdk/storage/storage-blob/recordings/node/blobclient__object_replication/recording_destination_blob_get_properties.js
  sdk/storage/storage-blob/recordings/node/blobclient__object_replication/recording_download_blob.js
  sdk/storage/storage-blob/recordings/node/blobclient__object_replication/recording_download_to_file.js
  sdk/storage/storage-blob/recordings/node/blobclient__object_replication/recording_listblob.js
  sdk/storage/storage-blob/recordings/node/blobclient__object_replication/recording_source_blob_get_properties.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
Labels: APIChange

#10840 [Service Bus] Add @ignore tag for a const that showed up in the docs generated with typedoc
  sdk/servicebus/service-bus/src/log.ts
Labels: Service Bus

#10838 [Cosmos] Delete databases after bulk tests
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Labels: Cosmos

#10795 [Storage] Append Blob Seal
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/browsers/appendblobclient/recording_copy_seal_blob.json
  sdk/storage/storage-blob/recordings/browsers/appendblobclient/recording_seal_append_blob.json
  sdk/storage/storage-blob/recordings/node/appendblobclient/recording_copy_seal_blob.js
  sdk/storage/storage-blob/recordings/node/appendblobclient/recording_seal_append_blob.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/operations/pageBlob.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
Labels: APIChange, Client, Storage

#10856 [Identity] Remove linting from build
  sdk/identity/identity/package.json
Labels: Azure.Identity

#10859 [Text Analytics] Remove linting from build
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics

#10858 [Form Recognizer] Remove linting from build
  sdk/formrecognizer/ai-form-recognizer/package.json
Labels: Cognitive - Form Recognizer

#10857 [Key Vault] Remove linting from build
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Labels: KeyVault

#10599 [core-paging] Update the return type for "next" method in PagedAsyncIterableIterator
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-paging/types/3.1/corePaging.d.ts
  sdk/core/core-paging/types/latest/corePaging.d.ts
Labels: Azure.Core

#10870 [storage-blob] service properties's static website add a new field defaultIndexDocumentPath
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_setproperties_for_static_website.json
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_setproperties_for_static_website.js
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
Labels: Storage

#10862 Sync eng/common directory with azure-sdk-tools for PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys

#10869 [Storage] Validate set access tier on blob snapshot and versioning.
  sdk/storage/storage-blob/recordings/browsers/blobbatch/recording_submitbatch_should_work_for_batch_set_tier_with_snapshot.json
  sdk/storage/storage-blob/recordings/browsers/blobbatch/recording_submitbatch_should_work_for_batch_set_tier_with_versioning.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_setaccesstier_with_snapshot.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_setaccesstier_with_versioning.json
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_submitbatch_should_work_for_batch_set_tier_with_snapshot.js
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_submitbatch_should_work_for_batch_set_tier_with_versioning.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_setaccesstier_with_snapshot.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_setaccesstier_with_versioning.js
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
Labels: Client, Storage

#10806 [ai-form-recognizer] Fix sample file to reflect our CI training data set
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/assets/Form_1.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/assets/Invoice_6.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/authenticationMethods.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/Form_1.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/Invoice_6.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/authenticationMethods.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
Labels: Client, Cognitive - Form Recognizer

#10861 [Cosmos] Adds single partition delete spec and makes OperationInput more rigid
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Labels: Cosmos

#10891 [Service Bus] Remove requiresPreprocessing, compatibilityLevel
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus

#10910 [Storage] Optimize error semantic when using listBlobsByHierarchy wit…
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsbyhierarchy_with_empty_delimiter_should_throw_error.json
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsbyhierarchy_with_empty_delimiter_should_throw_error.js
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
Labels: Storage

#10912 [Cosmos] Fixes release date
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#10913 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#10807 [service-bus] Allow initLink() and closeLink() to lock, preventing reentrancy/concurrency issues
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/utils/misc.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#10884 [Tables] Implement PagableAsyncIterators for listEnitites and listTables operations
  sdk/tables/data-tables/api-extractor.json
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_boolean.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_date.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_datetime.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_guid.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_int32.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_int64.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_only_primitives.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_binary_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_create_and_get_table/recording_should_create_new_table.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_boolean.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_date.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_datetime.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_guid.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_int32.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_int64.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_only_primitives.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_binary_with_filter.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_by_page.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_with_filter.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_create_and_get_table/recording_should_create_new_table.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_by_page.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/rollup.base.config.js
  sdk/tables/data-tables/samples/javascript/src/connectionString.js
  sdk/tables/data-tables/samples/javascript/src/sasToken.js
  sdk/tables/data-tables/samples/javascript/src/sharedKey.js
  sdk/tables/data-tables/samples/typescript/src/connectionString.ts
  sdk/tables/data-tables/samples/typescript/src/sasToken.ts
  sdk/tables/data-tables/samples/typescript/src/sharedKey.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.browser.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/data-tables/src/generatedModels.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/src/utils/fromAccountConnectionString.browser.ts
  sdk/tables/data-tables/src/utils/fromAccountConnectionString.ts
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
  sdk/tables/data-tables/test/integration/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/unit/utils.spec.ts
  sdk/tables/data-tables/tsconfig.json
Labels: Tables

#10919 [Service Bus] Values for props on the message only supports some types
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Labels: Service Bus
