Repository Azure/azure-sdk-for-js, pull requests merged in 2020-06, with the labels that each got.

#9012 Update to TypeScript 3.9
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  dataplane.code-workspace
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/utils.common.ts
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/utils.ts
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Azure.Core, Client, Storage

#9082 [core-https] Implement `HttpsClient` interface for node and browser
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-https/package.json
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/rollup.base.config.js
  sdk/core/core-https/rollup.test.config.js
  sdk/core/core-https/src/defaultHttpsClient.browser.ts
  sdk/core/core-https/src/defaultHttpsClient.ts
  sdk/core/core-https/src/httpHeaders.ts
  sdk/core/core-https/src/index.ts
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/nodeHttpsClient.ts
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/src/pipelineRequest.ts
  sdk/core/core-https/src/restError.ts
  sdk/core/core-https/src/util/inspect.browser.ts
  sdk/core/core-https/src/util/inspect.ts
  sdk/core/core-https/src/util/sanitizer.ts
  sdk/core/core-https/src/util/url.browser.ts
  sdk/core/core-https/src/util/url.ts
  sdk/core/core-https/src/xhrHttpsClient.ts
  sdk/core/core-https/test/browser/xhrHttpsClient.spec.ts
  sdk/core/core-https/test/node/nodeHttpsClient.spec.ts
  sdk/core/core-https/test/node/restError.spec.ts
  sdk/core/core-https/test/pipeline.spec.ts
Labels: Azure.Core, Client

#9217 [search-documents] Make listIndexes and listIndexesNames pageable.
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/serviceModels.ts
Labels: Client, Search

#8933 [FormRecognizer] return the recognized pages/receipts/forms directly
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/internalModels.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/contentPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/customFormPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/receiptPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/copy/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Labels: Client, FormRecognizer

#9186 [storage-file-datalake] Remove unused dev dependency "nise"
  sdk/storage/storage-file-datalake/package.json
Labels: Client, Storage

#9188 [storage-file-datalake] Remove unused dev dependency "nock"
  sdk/storage/storage-file-datalake/package.json
Labels: Client, Storage

#9286 Remove Batch, AI, and Cog Services pipeline config.
  sdk/applicationinsights/ci.yml
  sdk/batch/ci.yml
  sdk/cognitiveservices/ci.yml
Labels: EngSys

#9277 Remove azure-core-https from the artifact list.
  sdk/core/ci.yml
Labels: EngSys

#9165 [identity] Update runtime dependency "jws"
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
Labels: EngSys

#9187 [test-utils-recorder] Update dependency "nise"
  common/config/rush/pnpm-lock.yaml
  sdk/test-utils/recorder/package.json
Labels: EngSys

#9255 Update dependency "nock"
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/test-utils/recorder/package.json
Labels: EngSys

#9273 [core-amqp] Update runtime dependency "stream-browserify"
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
Labels: EngSys

#9309 [core-http] Remove unused dev dependency "ts-loader"
  sdk/core/core-http/package.json
Labels: Client, EngSys

#9271 [service-bus] Remove unused dev dependency "@types/async-lock"
  sdk/servicebus/service-bus/package.json
Labels: EngSys

#9285 Make @azure/template a client library so it participates in dev versioning
  rush.json
Labels: EngSys

#9246 [FormRecognizer] Remove US receipts
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/internalModels.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/contentPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/customFormPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/receiptPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Labels: Client, FormRecognizer

#9149 [FormRecognizer] whitelist header names and query parameters for logging
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
Labels: Client, FormRecognizer

#9117 [FormRecognizer] Update CHANGELOG for preview.3
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Client, FormRecognizer

#9333 [ai-text-analytics] Various documentation-related changes
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/detectLanguageResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/extractKeyPhrasesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeCategorizedEntitiesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeLinkedEntitiesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/collections.spec.ts
Labels: Client, TextAnalytics

#9334 Remove pipeline config for some track 1 libraries.
  sdk/eventgrid/ci.yml
  sdk/graphrbac/ci.yml
  sdk/operationalinsights/ci.yml
  sdk/servicefabric/ci.yml
Labels: EngSys

#9112 [Storage] Dec19 - Quickquery
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_not_work_with_access_conditions_ifmodifiedsince.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_not_work_with_access_conditions_leaseid.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_aborter.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_access_conditions.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_blob_properties.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_csv_input_and_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_empty_results.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_fatal_error_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_json_input_and_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_large_file.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_non_fatal_error_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_progress_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_snapshot.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_where_conditionals.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobQueryResponse.browser.ts
  sdk/storage/storage-blob/src/BlobQueryResponse.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/utils/BlobQuickQueryStream.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-internal-avro/package.json
Labels: APIChange, Client, Storage

#9454 Update default Node version from 10 to 12
  eng/pipelines/templates/variables/globals.yml
Labels: Client, EngSys

#9322 Update runtime dependency "tslib"
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client, EngSys

#9328 Update dev dependency "puppeteer"
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Labels: Client, EngSys

#9381 [service-bus] Throw an error if the user tries to just send a string (sender.send(string))
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
Labels: Client, Service Bus

#9463 rush update --full
  common/config/rush/pnpm-lock.yaml
Labels: Client, EngSys

#9484 [Storage] QuickQuery - Make BlobQueryCsvTextConfiguration properties …
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
Labels: APIChange, Client, Storage

#9151 [storage] added change feed
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/storage/storage-blob-changefeed/.vscode/extensions.json
  sdk/storage/storage-blob-changefeed/.vscode/launch.json
  sdk/storage/storage-blob-changefeed/.vscode/settings.json
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/LICENSE
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob-changefeed/api-extractor.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/review/storage-blob-changefeed.api.md
  sdk/storage/storage-blob-changefeed/rollup.base.config.js
  sdk/storage/storage-blob-changefeed/rollup.config.js
  sdk/storage/storage-blob-changefeed/rollup.test.config.js
  sdk/storage/storage-blob-changefeed/samples/tsconfig.json
  sdk/storage/storage-blob-changefeed/samples/typscript/basic.ts
  sdk/storage/storage-blob-changefeed/samples/typscript/package.json
  sdk/storage/storage-blob-changefeed/samples/typscript/resume.ts
  sdk/storage/storage-blob-changefeed/samples/typscript/sample.env
  sdk/storage/storage-blob-changefeed/src/AvroReaderFactory.ts
  sdk/storage/storage-blob-changefeed/src/BlobChangeFeedClient.ts
  sdk/storage/storage-blob-changefeed/src/ChangeFeed.ts
  sdk/storage/storage-blob-changefeed/src/ChangeFeedFactory.ts
  sdk/storage/storage-blob-changefeed/src/Chunk.ts
  sdk/storage/storage-blob-changefeed/src/ChunkFactory.ts
  sdk/storage/storage-blob-changefeed/src/Segment.ts
  sdk/storage/storage-blob-changefeed/src/SegmentFactory.ts
  sdk/storage/storage-blob-changefeed/src/Shard.ts
  sdk/storage/storage-blob-changefeed/src/ShardFactory.ts
  sdk/storage/storage-blob-changefeed/src/index.ts
  sdk/storage/storage-blob-changefeed/src/log.ts
  sdk/storage/storage-blob-changefeed/src/models/BlobChangeFeedEvent.ts
  sdk/storage/storage-blob-changefeed/src/models/ChangeFeedCursor.ts
  sdk/storage/storage-blob-changefeed/src/utils/constants.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.browser.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.common.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.node.ts
  sdk/storage/storage-blob-changefeed/test/blobchangefeedclient.spec.ts
  sdk/storage/storage-blob-changefeed/test/changefeed.spec.ts
  sdk/storage/storage-blob-changefeed/test/chunk.spec.ts
  sdk/storage/storage-blob-changefeed/test/resources/ChangeFeedManifest.json
  sdk/storage/storage-blob-changefeed/test/resources/SegmentManifest.json
  sdk/storage/storage-blob-changefeed/test/segment.spec.ts
  sdk/storage/storage-blob-changefeed/test/shard.spec.ts
  sdk/storage/storage-blob-changefeed/tsconfig.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-internal-avro/src/AvroParser.ts
  sdk/storage/storage-internal-avro/src/AvroReadableFromStream.ts
Labels: APIChange

#9440 [Storage] Support blob tags (recording will be added later)
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/BlobSASPermissions.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerSASPermissions.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
Labels: APIChange, Client, Storage

#9498 Verify node version after install
  common/smoke-test/smoke-tests.yml
  eng/pipelines/templates/steps/common.yml
  eng/pipelines/templates/steps/use-node-test-version.yml
  eng/pipelines/templates/steps/use-node-version.yml
Labels: Client, EngSys

#9306 private feed publish
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/tools/publish-to-npm.ps1
Labels: EngSys

#9468 [core-https] Port request policies to new pipeline model
  sdk/core/core-https/api-extractor.json
  sdk/core/core-https/package.json
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/rollup.base.config.js
  sdk/core/core-https/src/constants.ts
  sdk/core/core-https/src/index.ts
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/log.ts
  sdk/core/core-https/src/nodeHttpsClient.ts
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/src/pipelineRequest.ts
  sdk/core/core-https/src/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-https/src/policies/disableResponseDecompressionPolicy.ts
  sdk/core/core-https/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-https/src/policies/formDataPolicy.browser.ts
  sdk/core/core-https/src/policies/formDataPolicy.ts
  sdk/core/core-https/src/policies/keepAlivePolicy.ts
  sdk/core/core-https/src/policies/logPolicy.ts
  sdk/core/core-https/src/policies/proxyPolicy.browser.ts
  sdk/core/core-https/src/policies/proxyPolicy.ts
  sdk/core/core-https/src/policies/redirectPolicy.ts
  sdk/core/core-https/src/policies/setClientRequestIdPolicy.ts
  sdk/core/core-https/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-https/src/policies/throttlingRetryPolicy.ts
  sdk/core/core-https/src/policies/tracingPolicy.ts
  sdk/core/core-https/src/policies/userAgentPolicy.ts
  sdk/core/core-https/src/util/helpers.ts
  sdk/core/core-https/src/util/sanitizer.ts
  sdk/core/core-https/src/util/userAgent.ts
  sdk/core/core-https/src/util/userAgentPlatform.browser.ts
  sdk/core/core-https/src/util/userAgentPlatform.ts
  sdk/core/core-https/src/util/uuid.ts
  sdk/core/core-https/src/xhrHttpsClient.ts
  sdk/core/core-https/test/browser/disableResponseDecompressionPolicy.spec.ts
  sdk/core/core-https/test/browser/proxyPolicy.spec.ts
  sdk/core/core-https/test/node/disableResponseDecompressionPolicy.spec.ts
  sdk/core/core-https/test/node/proxyPolicy.spec.ts
  sdk/core/core-https/test/pipeline.spec.ts
  sdk/core/core-https/test/systemErrorRetryPolicy.spec.ts
  sdk/core/core-https/test/throttlingRetryPolicy.spec.ts
  sdk/core/core-https/test/tracingPolicy.spec.ts
Labels: Azure.Core, Client

#9460 [FormRecognizer] fix JavaScript copy model sample
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/copyModel.js
Labels: Client, FormRecognizer

#9488 [FormRecognizer] Simplify the samples to get poller results
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/copyModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainLabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/trainUnlabeledModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainUnlabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Labels: Client, FormRecognizer

#9631 [core-http] Run formatter
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.ts
  sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.node.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-http/test/policies/systemErrorRetryPolicyTests.spec.ts
  sdk/core/core-http/test/utilsTests.ts
  sdk/core/core-http/test/xmlTests.ts
Labels: Azure.Core

#9610 Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys

#9065 Remove unneeded awaits for PagedAsyncIterableIterators
  sdk/appconfiguration/app-configuration/samples/javascript/getSettingOnlyIfChanged.js
  sdk/appconfiguration/app-configuration/samples/javascript/helloworld.js
  sdk/appconfiguration/app-configuration/samples/javascript/helloworldWithLabels.js
  sdk/appconfiguration/app-configuration/samples/javascript/listRevisions.js
  sdk/appconfiguration/app-configuration/samples/javascript/optimisticConcurrencyViaEtag.js
  sdk/appconfiguration/app-configuration/samples/javascript/setReadOnlySample.js
  sdk/appconfiguration/app-configuration/samples/typescript/src/getSettingOnlyIfChanged.ts
  sdk/appconfiguration/app-configuration/samples/typescript/src/helloworld.ts
  sdk/appconfiguration/app-configuration/samples/typescript/src/helloworldWithLabels.ts
  sdk/appconfiguration/app-configuration/samples/typescript/src/listRevisions.ts
  sdk/appconfiguration/app-configuration/samples/typescript/src/optimisticConcurrencyViaEtag.ts
  sdk/appconfiguration/app-configuration/samples/typescript/src/setReadOnlySample.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/test/index.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/iteratorModels.js
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/javascript/iterators-blobs-hierarchy.js
  sdk/storage/storage-blob/samples/javascript/iterators-blobs.js
  sdk/storage/storage-blob/samples/javascript/iterators-containers.js
  sdk/storage/storage-blob/samples/typescript/src/iterators-blobs-hierarchy.ts
  sdk/storage/storage-blob/samples/typescript/src/iterators-blobs.ts
  sdk/storage/storage-blob/samples/typescript/src/iterators-containers.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/samples/javascript/iterators-files-and-directories.js
  sdk/storage/storage-file-share/samples/javascript/iterators-handles.js
  sdk/storage/storage-file-share/samples/javascript/iterators-shares.js
  sdk/storage/storage-file-share/samples/typescript/src/iterators-files-and-directories.ts
  sdk/storage/storage-file-share/samples/typescript/src/iterators-handles.ts
  sdk/storage/storage-file-share/samples/typescript/src/iterators-shares.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Labels: App Configuration, Client, Event Hubs, Storage

#9600 [Event Hub] Update Processor & Pump to not use EventHubClient
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/impl/eventHubClient.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/src/receiver.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/node/disconnects.spec.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Labels: Event Hubs

#9490 [core-http] change browser telemetry header key to x-ms-useragent
  sdk/core/core-http/src/policies/msRestUserAgentPolicy.browser.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.browser.ts
  sdk/core/core-http/test/serviceClientTests.ts
Labels: Azure.Core

#9503 [Service Bus] Bug Fix - Same seq number returned for parallel schedule requests
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
Labels: Service Bus

#9620 [core-client] Create package for AutoRest specific code
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/core/core-client/.eslintrc.json
  sdk/core/core-client/.vscode/launch.json
  sdk/core/core-client/.vscode/tasks.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/LICENSE
  sdk/core/core-client/README.md
  sdk/core/core-client/api-extractor.json
  sdk/core/core-client/karma.conf.js
  sdk/core/core-client/package.json
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/rollup.base.config.js
  sdk/core/core-client/rollup.config.js
  sdk/core/core-client/rollup.test.config.js
  sdk/core/core-client/samples/.gitkeep
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/test/helloWorld.spec.ts
  sdk/core/core-client/tsconfig.json
Labels: Azure.Core, Client

#9672 [search-documents] Add sentinel value to connection string
  sdk/search/search-documents/src/searchIndexerClient.ts
Labels: Client, Search

#9586 [Service Bus] Fix "disconnect" tests in browser with rhea's bug-fix update
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus

#9565 [Tables] Add the initial files for the track 2 Tables library
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/tables/azure-tables/.eslintrc.json
  sdk/tables/azure-tables/.vscode/launch.json
  sdk/tables/azure-tables/.vscode/tasks.json
  sdk/tables/azure-tables/CHANGELOG.md
  sdk/tables/azure-tables/LICENSE
  sdk/tables/azure-tables/README.md
  sdk/tables/azure-tables/api-extractor.json
  sdk/tables/azure-tables/karma.conf.js
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/rollup.base.config.js
  sdk/tables/azure-tables/rollup.config.js
  sdk/tables/azure-tables/rollup.test.config.js
  sdk/tables/azure-tables/samples/.gitkeep
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/test/browser/sampleBrowser.spec.ts
  sdk/tables/azure-tables/test/node/index.spec.ts
  sdk/tables/azure-tables/tsconfig.json
  sdk/tables/ci.yml
Labels: Client, Tables

#9678 [Service Bus] Renames to use the messages suffix and remove singular alternatives
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples-v1/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#9623 [Event Hubs] Remove the middle layer of EventHubConsumer
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/receiver.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Labels: Event Hubs

#9705 add docs/rules back for eslint-plugin
  common/tools/eslint-plugin-azure-sdk/docs/rules/github-source-headers.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-apisurface-standardized-verbs.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-apisurface-supportcancellation.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-allowsyntheticdefaultimports.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-declaration.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-esmoduleinterop.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-exclude.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-forceconsistentcasinginfilenames.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-importhelpers.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-lib.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-module.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-moduleresolution.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-no-experimentaldecorators.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-sourcemap.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-strict.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-target.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-doc-internal.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-error-handling.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-modules-only-named.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-naming-drop-noun.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-naming-options.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-naming-subclients.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-no-const-enums.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-no-namespaces.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-author.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-bugs.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-engine-is-present.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-files-required.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-homepage.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-keywords.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-license.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-main-is-cjs.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-module.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-name.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-repo.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-required-scripts.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-sideeffects.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-types.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-pagination-list.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-use-interface-parameters.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-use-promises.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-versioning-semver.md
Labels: EngSys

#9534 [appconfig] Use core-http userAgentPolicy()
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
Labels: App Configuration

#9739 [keyvault-common,table] bump core-http dep version to 1.1.4
  sdk/keyvault/keyvault-common/package.json
  sdk/tables/azure-tables/package.json
  sdk/tables/ci.yml
Labels: KeyVault

#9750 [event-hubs][service-bus] update core-amqp to 1.1.4
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Labels: Event Hubs, Service Bus

#9752 [FormRecognizer] Add test coverage for Azure AD credential
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_pdf_file_stream.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_content_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only/recording_recognizes_receipt_from_a_url.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formtrainingclient_nodejs_only/recording_getaccountproperties_gets_model_count_and_limit_for_this_account.js
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/util/recordedClients.ts
Labels: Client, Cognitive - Form Recognizer

#9647 [KeyVault-Keys] The CryptographyClient indeed works with a KeyVaultKey
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_all_decrypts_happen_remotely/recording_the_cryptographyclient_can_be_created_from_a_full_keyvaultkey_object.js
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/samples/javascript/cryptography.js
  sdk/keyvault/keyvault-keys/samples/typescript/src/cryptography.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
Labels: KeyVault

#9668 [KeyVault Admin] Generated client
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/keyvault/keyvault-admin/.eslintrc.json
  sdk/keyvault/keyvault-admin/.prettierignore
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/LICENSE
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/rollup.base.config.js
  sdk/keyvault/keyvault-admin/rollup.config.js
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
  sdk/keyvault/keyvault-admin/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-admin/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/index.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/roleAssignments.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/roleDefinitions.ts
  sdk/keyvault/keyvault-admin/src/index.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/tests.yml
  sdk/keyvault/keyvault-admin/tsconfig.json
  sdk/keyvault/keyvault-admin/typedoc.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Labels: KeyVault

#9716 [KeyVault] Documenting the lack of browser support
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Labels: KeyVault

#9751 [Service Bus] Update relevant Docs for the update methods and and remove internal get calls
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus

#9749 [FormRecognizer] Enable copy model test
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_copies_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_labels.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels_including_sub_folders.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/formtrainingclient_nodejs_only/recording_trains_model_with_forms_and_no_labels_specifying_prefix_.js
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/util/recordedClients.ts
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive - Form Recognizer

#7902 reverting incorrect version in PR #6856
  sdk/cognitiveservices/cognitiveservices-textanalytics/package.json
Labels: Cognitive Services

#9720 Sync eng/common directory with azure-sdk-tools repository
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/common-manifest.psd1
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#9721 Update SECURITY.md
  SECURITY.md
Labels: Docs

#9735 Generate id before extracting partition key
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Labels: Cosmos

#9667 [core-http] Share common code for exponential backoff
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-http/src/util/exponentialBackoffStrategy.ts
  sdk/core/core-http/test/policies/systemErrorRetryPolicyTests.spec.ts
Labels: Azure.Core, Client

#9673 [FormRecognizer] address issues/feedbacks from UX study
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
Labels: Client, Cognitive - Form Recognizer

#8687 [core-http] Upgrade to @azure/eslint-plugin-azure-sdk@^3.0.0
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/core/core-http/.eslintrc.json
  sdk/core/core-http/package.json
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/rollup.base.config.js
  sdk/core/core-http/src/browserFetchHttpClient.ts
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/credentials/basicAuthenticationCredentials.ts
  sdk/core/core-http/src/fetchHttpClient.ts
  sdk/core/core-http/src/httpHeaders.ts
  sdk/core/core-http/src/httpOperationResponse.ts
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.ts
  sdk/core/core-http/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-http/src/policies/keepAlivePolicy.ts
  sdk/core/core-http/src/policies/logPolicy.ts
  sdk/core/core-http/src/policies/rpRegistrationPolicy.ts
  sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-http/src/policies/userAgentPolicy.ts
  sdk/core/core-http/src/proxyAgent.ts
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/url.ts
  sdk/core/core-http/src/util/sanitizer.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-http/src/util/xml.ts
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-http/src/xhrHttpClient.ts
  sdk/core/core-http/test/credentialTests.ts
  sdk/core/core-http/test/data/TestClient/src/testClient.ts
  sdk/core/core-http/test/defaultHttpClientTests.browser.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/defaultHttpClientTests.ts
  sdk/core/core-http/test/expiringAccessTokenCacheTests.ts
  sdk/core/core-http/test/logFilterTests.ts
  sdk/core/core-http/test/mockHttp.ts
  sdk/core/core-http/test/msAssert.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.browser.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.node.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.browser.ts
  sdk/core/core-http/test/policies/systemErrorRetryPolicyTests.spec.ts
  sdk/core/core-http/test/policies/throttlingRetryPolicyTests.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-http/test/proxyAgent.node.ts
  sdk/core/core-http/test/resources/httpbin-index.html
  sdk/core/core-http/test/serializationTests.ts
  sdk/core/core-http/test/serviceClientTests.ts
  sdk/core/core-http/test/utilsTests.ts
Labels: Azure.Core

#9560 [storage] added set Expiry
  common/config/rush/common-versions.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__absolute.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__neverexpire.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__override.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__relativetocreation.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__relativetonow.json
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__absolute.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__neverexpire.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__override.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__relativetocreation.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__relativetonow.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/StorageClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/pathOperations.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: APIChange, Client, Storage

#9235 [FormRecognizer] Support passing in continuation token for next page
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/mocked.spec.ts
Labels: Client, Cognitive - Form Recognizer

#9518 [FormRecognizer] Fix broken ref docs about supported content types
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
Labels: Cognitive - Form Recognizer

#9766 Service Bus] Remove check for session exists when creating session receiver
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
Labels: Service Bus

#9765 [Service Bus] Tracking expired sessions is not needed
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus

#9798 [Service Bus] peekMessages to have maxMessageCount mandatory
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#9708 [Service Bus] Add isServiceBusMessage checks to all methods that take messages
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
Labels: Service Bus

#9827 [ai-form-recognizer] Fix a merge conflict related to requestedOn -> trainingStartedOn
  sdk/formrecognizer/ai-form-recognizer/test/mocked.spec.ts
Labels: Client, Cognitive - Form Recognizer
