Repository Azure/azure-sdk-for-js, pull requests merged in 2020-07, with the labels that each got.

#9794 [Service Bus] Bug Fix: userProperties aren't populated while using createRule() from ATOM API
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomXml.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
Labels: Service Bus

#9654 [Service Bus] Support for OperationOptions in management operations
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/subscriptionRuleManager.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/test/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
Labels: Service Bus

#9861 [Cosmos] Fail build on lint errors
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#9706 [event-hubs] adds loadBalancingOptions and greedy load balancing strategy
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/balancedStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/greedyStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/loadBalancingStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/unbalancedStrategy.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/partitionLoadBalancer.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/loadBalancer.spec.ts
  sdk/eventhub/event-hubs/test/loadBalancingStrategy.spec.ts
Labels: Client, Event Hubs

#9882 [ai-form-recognizer] Anticipating support for non-text field elements
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/differentiateLabeledUnlabeled.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/differentiateLabeledUnlabeled.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Labels: Client, Cognitive - Form Recognizer

#9876 [ai-form-recognizer] Use Date intead of number for expiresOn
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formtrainingclient.spec.ts
Labels: Client, Cognitive - Form Recognizer

#9891 Use subscription configuration template pattern that .NET and Java use
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Labels: EngSys

#9911 [event-hubs] prepare for 5.3.0-preview.1 release
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Labels: Client, Event Hubs

#9853 [ai-form-recognizer] Remove RecognizedReceipt type
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceipt.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeReceiptFromUrl.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceiptFromUrl.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/common.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/internalModels.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/contentPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/customFormPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/receiptPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/browser/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/util/recordedClients.ts
Labels: Client, Cognitive - Form Recognizer

#9877 [Storage] avoid importing fs directly in exporting modules
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.browser.ts
  sdk/storage/storage-blob/src/utils/utils.node.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/utils/utils.browser.ts
  sdk/storage/storage-file-datalake/src/utils/utils.node.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/utils/utils.browser.ts
  sdk/storage/storage-file-share/src/utils/utils.node.ts
Labels: Client, Storage

#9936 [ai-form-recognizer] Final preview.4 changes
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/authenticationMethods.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/package.json
Labels: Client, Cognitive - Form Recognizer

#9737 [Storage] Revert the exception made for storage when bumping core-http dep version
  common/config/rush/common-versions.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Labels: Client, Storage

#9941 [servicebus] docs: fix type in doc comment
  sdk/servicebus/service-bus/src/receivers/receiver.ts
Labels: Service Bus

#9946 [Service Bus] atomXml.spec.ts has internal tests
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
Labels: Service Bus

#9940 Fix issue when debugging storage recorded tests
  sdk/storage/storage-blob-changefeed/.vscode/launch.json
  sdk/storage/storage-blob/.vscode/launch.json
  sdk/storage/storage-file-datalake/.vscode/launch.json
  sdk/storage/storage-file-share/.vscode/launch.json
  sdk/storage/storage-internal-avro/.vscode/launch.json
  sdk/storage/storage-queue/.vscode/launch.json
Labels: Client, Storage

#9952 [Service Bus] Clean up SubscriptionRuleManager
  sdk/servicebus/service-bus/src/receivers/subscriptionRuleManager.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
Labels: Service Bus

#9967 fixing the logic to add to the common-versions.json
  eng/tools/dependency-testing/index.js
Labels: EngSys

#9957 [storage] fix an unstable test case
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_create_page_blob_should_work_with_tags.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_create_page_blob_should_work_with_tags.js
  sdk/storage/storage-blob/test/blobclient.spec.ts
Labels: Storage

#9978 update readme of keyvault
  sdk/keyvault/README.md
  sdk/keyvault/keyvault-admin/README.md
Labels: KeyVault

#9972 [Identity] Remove exporting the DAC credentials list
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#9990 [Service Bus] Remove unused helper methods
  sdk/servicebus/service-bus/src/util/errors.ts
Labels: Service Bus

#9943 [Service Bus] Avoid using Dictionary
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/connectionContext.ts
Labels: Service Bus

#9998 [core-amqp] close session after sender and receiver in requestResponseLink
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
Labels: Azure.Core, Client, Event Hubs

#9948 Preventing dev feed for private package on script level and with artifact parameter option in pipeline
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/tools/versioning/set-dev.js
  sdk/tables/ci.yml
Labels: EngSys

#10003 [Service Bus] Renaming `userProperties` to `properties` - Both ServiceBusMessage and ATOM API
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Labels: Service Bus

#10017 Increment version identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#9216 verification of links pipelines
  CONTRIBUTING.md
  common/tools/eslint-plugin-azure-sdk/README.md
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/ignore-links.txt
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/core-lro/samples/README.md
  sdk/cosmosdb/cosmos/dev.md
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-processor-host/CHANGELOG.md
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/samples/javascript/README.md
  sdk/keyvault/keyvault-certificates/samples/typescript/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/samples/javascript/README.md
  sdk/keyvault/keyvault-keys/samples/typescript/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/samples/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/typescript/README.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/samples/javascript/README.md
  sdk/search/search-documents/samples/typescript/README.md
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/storage/README.md
  sdk/storage/storage-blob-changefeed/samples/typescript/basic.ts
  sdk/storage/storage-blob-changefeed/samples/typescript/package.json
  sdk/storage/storage-blob-changefeed/samples/typescript/resume.ts
  sdk/storage/storage-blob-changefeed/samples/typescript/sample.env
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/README.md
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/README.md
Labels: EngSys

#10019 fix eventhub link
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#10031 [Key Vault Certificates] Test timeout need to be increased since now we wait for all pollers
  eng/tools/dependency-testing/templates/package.json
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
Labels: KeyVault

#9947 [Service Bus] Refactor Invalid param test file
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
Labels: Service Bus

#9950 [Service Bus] Pick TestClientType randomly
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#10054 [service-bus] Add in receiver restart into the standard sample for .registerMessageHandler
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
Labels: Service Bus

#10046 [service-bus][1.x] fix uncaught TypeError
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/eventhub/testhub/package.json
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Client, Service Bus

#10058 [service-bus] Fixing sample to only recover when .retryable is true (ie, "escaped" errors)
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
Labels: Service Bus

#9198 release "@azure/arm-netapp"
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClientContext.ts
  sdk/netapp/arm-netapp/src/models/accountsMappers.ts
  sdk/netapp/arm-netapp/src/models/index.ts
  sdk/netapp/arm-netapp/src/models/mappers.ts
  sdk/netapp/arm-netapp/src/models/poolsMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotsMappers.ts
  sdk/netapp/arm-netapp/src/models/volumesMappers.ts
Labels: Mgmt

#10056 Link fixes
  sdk/eventhub/event-hubs/test/README.md
  sdk/identity/identity/README.md
Labels: Event Hubs

#10057 [service-bus] prepare for 1.1.8 release
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
Labels: Client, Service Bus

#10080 [service-bus] Copy over the exact sample for receiveMessagesStreaming.js/ts from 1.1.8
  sdk/servicebus/service-bus/samples-v1/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples-v1/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/managementClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/managementClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
Labels: Service Bus

#8849 [Service Bus] Do not create a new one if the message session doesn't exist before performing the session related operations
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
Labels: Service Bus

#9968 [service-bus] (non-sessions) Modify receive algorithm to match .NET.
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/receiverInit.spec.ts
Labels: Service Bus

#9951 [Service Bus] ATOM API: PagedAsyncIterableIterator for listing methods
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
Labels: Service Bus

#10083 [Service Bus] RuntimeInfo -> RuntimeProperties
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/javascript/advanced/managementClient.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Service Bus

#10105 [Service Bus] Paged Async iterable iterators followup - Adding links since they now exist
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
Labels: Service Bus

#10121 Recover content-length header which is previously removed for Axios.
  sdk/storage/storage-blob/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-file-datalake/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-file-share/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-queue/src/policies/StorageSharedKeyCredentialPolicy.ts
Labels: Storage

#9959 [storage][[stg73] rehydrate priority
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_getproperties_and_listblob_rehydratepriority_eq_high.json
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_getproperties_and_listblob_rehydratepriority_eq_standard.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_getproperties_and_listblob_rehydratepriority_eq_high.js
  sdk/storage/storage-blob/recordings/node/blobclient/recording_getproperties_and_listblob_rehydratepriority_eq_standard.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobclient.spec.ts
Labels: APIChange, Storage

#9987 [Service Bus] Tracing support for the ATOM Management API
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/tracing.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
Labels: Service Bus

#10106 [Service Bus] Exposing `deadLetterErrorDescription` and `deadLetterReason` on the `ReceivedMessage`
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
Labels: Service Bus

#10114 [Service Bus] Description -> Properties
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Service Bus

#9938 Increment version for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Cognitive - Form Recognizer

#9916 [Tables] Create the Autorest generated layer
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generated/generatedClient.ts
  sdk/tables/azure-tables/src/generated/generatedClientContext.ts
  sdk/tables/azure-tables/src/generated/models/index.ts
  sdk/tables/azure-tables/src/generated/models/mappers.ts
  sdk/tables/azure-tables/src/generated/models/parameters.ts
  sdk/tables/azure-tables/src/generated/operations/index.ts
  sdk/tables/azure-tables/src/generated/operations/service.ts
  sdk/tables/azure-tables/src/generated/operations/table.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/src/models.ts
  sdk/tables/azure-tables/swagger/README.md
  sdk/tables/azure-tables/test/browser/sampleBrowser.spec.ts
  sdk/tables/azure-tables/test/node/index.spec.ts
  sdk/tables/azure-tables/test/tableserviceclient.spec.ts
Labels: Client, Tables

#10127 [ai-form-recognizer] Clean up API surface
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/stronglyTypingRecognizedForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainLabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/trainUnlabeledModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/receiptPoller.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/tsconfig.json
Labels: Client, Cognitive - Form Recognizer

#10107 [service-bus] Change MessageSession over to using the .NET receiveMessages algorithm
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
Labels: Service Bus

#10108 [Identity] Rename argument to AggregateAuthenticationError
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/errors.ts
Labels: Azure.Identity

#10142 [Identity] Make keytar an optional dependency
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/vscodeCredential.ts
Labels: Azure.Identity, Client, blocking-release, bug

#10143 [Tables] Disable test step
  sdk/tables/azure-tables/package.json
Labels: Tables

#10146 Pass in the correct continuation token for search documents
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/src/searchClient.ts
Labels: Search

#10136 [storage] [datalake] adding parameter location for PathSetAccessControlRecursiveMode
  sdk/storage/storage-file-datalake/src/generated/src/operations/pathOperations.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Labels: Storage

#10051 [service-bus] fix uncaught TypeError
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Client, Service Bus

#9970 [Identity] Credential logging
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.browser.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.browser.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/vscodeCredential.browser.ts
  sdk/identity/identity/src/credentials/vscodeCredential.ts
  sdk/identity/identity/src/util/logging.ts
  sdk/identity/identity/test/identityClient.spec.ts
  sdk/identity/identity/test/node/logger.spec.ts
Labels: Azure.Identity

#10150 [Event Hubs] Remove workaround for bug 8598 in test
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Labels: Event Hubs

#10181 [Service Bus] Flatten MessageCountDetails
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Service Bus

#10189 [Identity] Just a typo I found
  sdk/identity/identity/src/credentials/vscodeCredential.ts
Labels: Azure.Identity

#10195 delete unused pipeline yml file
  sdk/cosmosdb/cosmos/azure-pipelines.yml
Labels: Cosmos

#10133 [Tables] Create the TableClient
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/generatedModels.ts
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/src/models.ts
Labels: Client, Tables

#10104 [Monitor] add OpenTelemetry Exporter
  sdk/monitor/opentelemetry-exporter/.eslintignore
  sdk/monitor/opentelemetry-exporter/.eslintrc.js
  sdk/monitor/opentelemetry-exporter/README.md
  sdk/monitor/opentelemetry-exporter/package.json
  sdk/monitor/opentelemetry-exporter/src/Declarations/Constants.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Constants.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/Base.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/ContextTagKeys.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/Data.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/Domain.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/Envelope.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/RemoteDependencyData.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/RequestData.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/Generated/index.ts
  sdk/monitor/opentelemetry-exporter/src/Declarations/Contracts/index.ts
  sdk/monitor/opentelemetry-exporter/src/config.ts
  sdk/monitor/opentelemetry-exporter/src/export/exporter.ts
  sdk/monitor/opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter/src/index.ts
  sdk/monitor/opentelemetry-exporter/src/platform/index.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/constants.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/context/context.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/context/index.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/index.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/persist/fileSystemHelpers.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/persist/index.ts
  sdk/monitor/opentelemetry-exporter/src/platform/nodejs/utils/httpUtils.ts
  sdk/monitor/opentelemetry-exporter/src/platform/types.ts
  sdk/monitor/opentelemetry-exporter/src/types.ts
  sdk/monitor/opentelemetry-exporter/src/utils/breezeUtils.ts
  sdk/monitor/opentelemetry-exporter/src/utils/connectionStringParser.ts
  sdk/monitor/opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/opentelemetry-exporter/src/utils/constants/span/dbAttributes.ts
  sdk/monitor/opentelemetry-exporter/src/utils/constants/span/grpcAttributes.ts
  sdk/monitor/opentelemetry-exporter/src/utils/constants/span/httpAttributes.ts
  sdk/monitor/opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/opentelemetry-exporter/test/breezeTestUtils.ts
  sdk/monitor/opentelemetry-exporter/test/export/export.test.ts
  sdk/monitor/opentelemetry-exporter/test/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter/test/platform/nodejs/persist/fileSystemPersist.test.ts
  sdk/monitor/opentelemetry-exporter/test/utils/connectionStringParser.test.ts
  sdk/monitor/opentelemetry-exporter/test/utils/spanUtils.test.ts
  sdk/monitor/opentelemetry-exporter/tsconfig.json
Labels: Monitor - ApplicationInsights

#10206 [Service Bus] Fix broken code in readme and samples
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/managementClient.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/managementClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
Labels: Service Bus

#10230 [eventhubs-checkpointstore-blob] add live tests job
  sdk/eventhub/eventhubs-checkpointstore-blob/tests.yml
Labels: Event Hubs

#10228 [event-hubs] cleanup rollup config
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/test/client.spec.ts
Labels: Event Hubs

#10203 [event-hubs] fixes receiveBatch error handling to preserve received events
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
Labels: Client, Event Hubs

#10220 [ai-form-recognizer] Revert table rows -> cells only
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/authenticationMethods.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/getBoundingBoxes.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/authenticationMethods.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/getBoundingBoxes.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/transforms.spec.ts
Labels: Client, Cognitive - Form Recognizer

#10197 [KeyVault] apiVersion parameter tests
  sdk/keyvault/keyvault-certificates/test/internal/apiVersionParameter.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/apiVersionParameter.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/apiVersionParameter.spec.ts
Labels: KeyVault

#10242 [eventhubs-checkpointstore-blob] fix listCheckpoints performance with versioned containers
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
Labels: Client, Event Hubs

#10227 [Cosmos] Throws when connection endpoint is invalid in client init
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/test/functional/client.spec.ts
Labels: Cosmos

#10223 [Service Bus] ATOM API - Rename the listing APIs from "get" to "list"
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
Labels: Service Bus

#10092 [Service Bus] Fix userAgent string in the browsers and pass it in the ATOM Mgmt Client
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/runtimeInfo.browser.ts
  sdk/servicebus/service-bus/src/util/runtimeInfo.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Labels: Service Bus

#10201 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#10148 Increment version for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#10283 [app-configuration] Fixing issue with readme snippet for getConfiguration()
  sdk/appconfiguration/app-configuration/README.md
Labels: AzConfig

#10194 [Text Analytics] Regenerating the SDK using the new code generator
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#10263 [Service Bus] formatting
  sdk/servicebus/service-bus/samples/javascript/advanced/managementClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/managementClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Service Bus

#10264 [Search] formatting
  sdk/search/search-documents/karma.conf.js
  sdk/search/search-documents/src/searchClient.ts
Labels: Search

#10266 [Identity] formatting
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/vscodeCredential.ts
  sdk/identity/identity/src/index.ts
Labels: Azure.Identity

#10270 [App Configuration] formatting
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
Labels: AzConfig

#10273 [Text Analytics] formatting
  sdk/textanalytics/ai-text-analytics/karma.conf.js
  sdk/textanalytics/ai-text-analytics/src/detectLanguageResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeLinkedEntitiesResultArray.ts
Labels: Cognitive - Text Analytics

#10272 [Tables] formatting
  sdk/tables/azure-tables/package.json
Labels: Tables

#10190 Upgrading to karma 5.1.0
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/azure-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client

#9854 [core-client] Updated ServiceClient implementation to work with core-https
  sdk/core/core-client/package.json
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/rollup.base.config.js
  sdk/core/core-client/rollup.test.config.js
  sdk/core/core-client/src/base64.browser.ts
  sdk/core/core-client/src/base64.ts
  sdk/core/core-client/src/deserializationPolicy.ts
  sdk/core/core-client/src/dom.d.ts
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/interfaceHelpers.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/operationHelpers.ts
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/src/url.browser.ts
  sdk/core/core-client/src/url.ts
  sdk/core/core-client/src/urlHelpers.ts
  sdk/core/core-client/src/utils.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-client/test/helloWorld.spec.ts
  sdk/core/core-client/test/serializer.spec.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-client/test/testMappers.ts
  sdk/core/core-https/package.json
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/src/accessTokenCache.ts
  sdk/core/core-https/src/index.ts
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/pipelineRequest.ts
  sdk/core/core-https/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-https/test/bearerTokenAuthenticationPolicy.spec.ts
Labels: Azure.Core, Client

#10280 [Key Vault] Renamed the core folder as generated
  sdk/keyvault/keyvault-certificates/.eslintignore
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/generated/clientOptions.ts
  sdk/keyvault/keyvault-certificates/src/generated/index.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultBase.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/typedoc.json
  sdk/keyvault/keyvault-keys/.eslintignore
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/generated/index.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultBase.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-keys/src/generated/utils.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/typedoc.json
  sdk/keyvault/keyvault-secrets/.eslintignore
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/generated/index.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultBase.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/index.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/typedoc.json
Labels: KeyVault

#10302 [Text Analytics] bump version number to 5.0.0
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#10168 [Cosmos] Bulk/Batch APIs with v1/v2 hashing in JS
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/number.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/prefix.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/string.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/murmurHash.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v1.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v2.ts
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/unit/hashing/v1.spec.ts
  sdk/cosmosdb/cosmos/test/unit/hashing/v2.spec.ts
  sdk/cosmosdb/cosmos/tslint.json
Labels: Cosmos

#10250 [Service Bus] Move scheduledMessageCount to TopicRuntimeProps from SubscriptionRuntimeProps
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus

#10257 [Identity] Enforcing ESLint
  sdk/identity/identity/.eslintignore
  sdk/identity/identity/.eslintrc.json
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.browser.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.browser.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.browser.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/vscodeCredential.browser.ts
  sdk/identity/identity/src/credentials/vscodeCredential.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/util/authHostEnv.browser.ts
  sdk/identity/identity/src/util/authHostEnv.ts
  sdk/identity/identity/src/util/delay.ts
  sdk/identity/identity/src/util/logging.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/clientSecretCredential.spec.ts
  sdk/identity/identity/test/errors.spec.ts
  sdk/identity/identity/test/identityClient.spec.ts
  sdk/identity/identity/test/mockAzureCliCredentialClient.ts
  sdk/identity/identity/test/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/node/environmentCredential.spec.ts
  sdk/identity/identity/test/node/logger.spec.ts
  sdk/identity/identity/test/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/usernamePasswordCredential.spec.ts
  sdk/identity/identity/tsconfig.json
Labels: Azure.Identity

#10262 [Storage] formatting
  sdk/storage/storage-blob-changefeed/src/models/BlobChangeFeedEvent.ts
  sdk/storage/storage-blob-changefeed/test/shard.spec.ts
  sdk/storage/storage-blob/api-extractor.json
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-blob/tsconfig.json
  sdk/storage/storage-file-datalake/src/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-internal-avro/src/utils/utils.common.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
Labels: Client, Storage

#10265 [Key Vault] formatting
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/public/list.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
Labels: KeyVault

#10297 [Text Analytics] bump version number to 5.0.0
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#10295 [Text Analytics] Regenerating the SDK using the most recent and fixed version of swagger v3.0
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#10277 [service-bus] Receiver unification pt1 - BatchingReceiver
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
Labels: Service Bus

#10294 Release ServiceBus ARM package
  sdk/servicebus/arm-servicebus/LICENSE.txt
  sdk/servicebus/arm-servicebus/README.md
  sdk/servicebus/arm-servicebus/package.json
  sdk/servicebus/arm-servicebus/rollup.config.js
  sdk/servicebus/arm-servicebus/src/models/index.ts
  sdk/servicebus/arm-servicebus/src/models/mappers.ts
  sdk/servicebus/arm-servicebus/src/models/namespacesMappers.ts
  sdk/servicebus/arm-servicebus/src/operations/namespaces.ts
  sdk/servicebus/arm-servicebus/src/serviceBusManagementClientContext.ts
  sdk/servicebus/arm-servicebus/tsconfig.json
Labels: Mgmt, Service Bus

#10323 Use the common Cosmos DB template to start the emulator.
  eng/pipelines/templates/steps/cosmos-integration-public.yml
Labels: EngSys

#10325 [service-bus] Fix issue with live tests failing on session-based tests
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/internal/receiverInit.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Labels: Service Bus

#10322 [service-bus] Track 2 - push down methods of MessageReceiver that are only used for StreamingReceiver
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/receiverInit.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Service Bus

#10332 [Text Analytics] Linting
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/test/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/util.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/resultHelper.ts
Labels: Cognitive - Text Analytics

#10357 [Cosmos] Attempts to add correct undefined check for header merge
  sdk/cosmosdb/cosmos/src/queryExecutionContext/headerUtils.ts
Labels: Cosmos

#10292 [Tables] Create clients from connectionString
  sdk/tables/azure-tables/package.json
  sdk/tables/azure-tables/review/tables.api.md
  sdk/tables/azure-tables/rollup.base.config.js
  sdk/tables/azure-tables/samples/javascript/package.json
  sdk/tables/azure-tables/samples/javascript/src/connectionString.js
  sdk/tables/azure-tables/samples/javascript/src/sasToken.js
  sdk/tables/azure-tables/samples/javascript/src/sharedKey.js
  sdk/tables/azure-tables/samples/javascript/test.env
  sdk/tables/azure-tables/samples/typescript/package.json
  sdk/tables/azure-tables/samples/typescript/src/connectionString.ts
  sdk/tables/azure-tables/samples/typescript/src/sasToken.ts
  sdk/tables/azure-tables/samples/typescript/src/sharedKey.ts
  sdk/tables/azure-tables/samples/typescript/test.env
  sdk/tables/azure-tables/samples/typescript/tsconfig.json
  sdk/tables/azure-tables/src/TableClient.ts
  sdk/tables/azure-tables/src/TableServiceClient.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredential.browser.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/azure-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/azure-tables/src/index.ts
  sdk/tables/azure-tables/src/utils/connectionString.ts
  sdk/tables/azure-tables/src/utils/constants.ts
  sdk/tables/azure-tables/src/utils/fromAccountConnectionString.browser.ts
  sdk/tables/azure-tables/src/utils/fromAccountConnectionString.ts
  sdk/tables/azure-tables/src/utils/url.browser.ts
  sdk/tables/azure-tables/src/utils/url.ts
  sdk/tables/azure-tables/test/utils.spec.ts
  sdk/tables/azure-tables/tsconfig.json
  sdk/tables/ci.yml
Labels: Tables

#10373 [eventhubs-checkpointstore-blob] prepare for 1.0.1 release
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Labels: Event Hubs

#10371 Fixed CustomVision Training sample to use ApiKeyCredentials
  sdk/cognitiveservices/cognitiveservices-customvision-training/README.md
  sdk/cognitiveservices/cognitiveservices-customvision-training/package.json
  sdk/cognitiveservices/cognitiveservices-customvision-training/src/trainingAPIClientContext.ts
Labels: Cognitive - Custom Vision, customer-reported

#10372 Fix CustomVision Prediction Example to use ApiKeyCredentials
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/README.md
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/package.json
  sdk/cognitiveservices/cognitiveservices-customvision-prediction/src/predictionAPIClientContext.ts
Labels: Cognitive - Custom Vision

#10383 Fixed Search Readme
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
Labels: Search
