Repository Azure/azure-sdk-for-js, pull requests merged in 2020-02, with the labels that each got.

#7195 add script to set CORS rules for storage queue testing
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  sdk/storage/storage-queue/tests.yml
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
Labels: EngSys

#7215 Remove unnecessary dependency on yarn
  sdk/core/core-arm/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
Labels: Client

#7216 Add request/response back to deserialization error
  sdk/core/core-http/lib/policies/deserializationPolicy.ts
Labels: Azure.Core, Client

#7159 [core-http] Fix the error inconsistency of requestOptions.timeout - node vs browser
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/lib/webResource.ts
  sdk/core/core-http/lib/xhrHttpClient.ts
Labels: Azure.Core, Client

#7219 [Keyvault] Import Recorder type in the keyvault tests
  sdk/keyvault/keyvault-certificates/test/CRUD.test.ts
  sdk/keyvault/keyvault-certificates/test/list.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.create.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.delete.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.operation.test.ts
  sdk/keyvault/keyvault-certificates/test/lro.recover.test.ts
  sdk/keyvault/keyvault-certificates/test/mergeAndImport.test.ts
  sdk/keyvault/keyvault-certificates/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
  sdk/keyvault/keyvault-keys/test/import.test.ts
  sdk/keyvault/keyvault-keys/test/list.test.ts
  sdk/keyvault/keyvault-keys/test/lro.delete.test.ts
  sdk/keyvault/keyvault-keys/test/lro.recoverDelete.test.ts
  sdk/keyvault/keyvault-keys/test/recoverBackupRestore.test.ts
  sdk/keyvault/keyvault-secrets/test/CRUD.test.ts
  sdk/keyvault/keyvault-secrets/test/list.test.ts
  sdk/keyvault/keyvault-secrets/test/lro.delete.test.ts
  sdk/keyvault/keyvault-secrets/test/lro.recover.test.ts
  sdk/keyvault/keyvault-secrets/test/recoverBackupRestore.test.ts
Labels: Client, KeyVault

#7238 [Storage] Remove unnecessary recordings from util tests
  sdk/storage/storage-blob/recordings/node/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_queue_and_file_endpoints.js
  sdk/storage/storage-blob/recordings/node/utility_helpers/recording_extractconnectionstringparts_parses_sas_connection_string_with_queue_endpoint.js
  sdk/storage/storage-blob/recordings/node/utility_helpers/recording_sanitizeheaders_redacts_sas_token.js
  sdk/storage/storage-blob/recordings/node/utility_helpers/recording_sanitizeurl_redacts_sas_token.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_parses_connection_string_with_an_endpoint_suffix.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_parses_connection_string_with_an_explicit_endpoint.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_parses_connection_string_with_complete_service_endpoint_for_each_service.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_throws_error_when_passed_an_invalid_connection_string_with_typo.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_throws_error_when_passed_an_invalid_protocol_in_the_connection_string.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_throws_error_with_empty_accountkey_in_the_connection_string.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_throws_error_with_empty_accountname_in_the_connection_string.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_throws_error_with_empty_defaultendpointsprotocol_in_the_connection_string.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only/recording_extractconnectionstringparts_throws_error_with_empty_endpointsuffix_in_the_connection_string.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only_readstreamtolocalfile/recording_rejects_when_the_filepath_is_a_directory.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only_readstreamtolocalfile/recording_rejects_when_the_readstream_emits_an_error.js
  sdk/storage/storage-blob/recordings/node/utility_helpers_nodejs_only_readstreamtolocalfile/recording_writes_a_readable_stream_into_a_file.js
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-blob/test/utils.spec.ts
Labels: Client, Storage

#7237 Remove webpack from cosmos
  sdk/cosmosdb/cosmos/karma.config.js
  sdk/cosmosdb/cosmos/package.json
Labels: Client, Cosmos

#7247 Remove webpack from core-http
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/karma.conf.ts
  sdk/core/core-http/package.json
  sdk/core/core-http/rollup.base.config.js
  sdk/core/core-http/rollup.config.js
  sdk/core/core-http/rollup.config.ts
  sdk/core/core-http/rollup.test.config.js
  sdk/core/core-http/test/defaultHttpClientTests.browser.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/defaultHttpClientTests.ts
  sdk/core/core-http/test/mocha.opts
  sdk/core/core-http/test/msAssert.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.browser.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.node.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.browser.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-http/test/serializationTests.node.ts
  sdk/core/core-http/test/serializationTests.ts
  sdk/core/core-http/webpack.testconfig.ts
Labels: Azure.Core, Client

#7210 Migrate to TypeScript 3.7
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/api-extractor.json
  sdk/cosmosdb/cosmos/consumer-test.js
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/prep-samples.js
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/event-processor-host/review/event-processor-host.api.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/testhub/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client

#7204 [Recorder] Filter the hostname if a URI/ENDPOINT is provided in the env vars
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/rollup.base.config.js
  sdk/test-utils/recorder/src/utils.ts
  sdk/test-utils/recorder/test/utils.spec.ts
Labels: Client, test-utils-recorder

#7264 [Recorder] Fix case 2 of requestOptions timeout issue - for node record/playback
  sdk/keyvault/keyvault-certificates/test/CRUD.test.ts
  sdk/keyvault/keyvault-certificates/test/list.test.ts
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/recorder.ts
Labels: Client, test-utils-recorder

#7276 [ai-text-analytics] Unify TA error model
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_analyzesentiment/recording_service_returns_an_error_for_an_empty_document.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_analyzesentiment/recording_service_returns_error_for_invalid_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_detectlanguage/recording_service_errors_on_invalid_country_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_extractkeyphrases/recording_service_errors_on_unsupported_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizeentities/recording_service_errors_on_unsupported_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizelinkedentities/recording_service_errors_on_unsupported_language.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_recognizepiientities/recording_service_errors_on_unsupported_language.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_analyzesentiment/recording_service_returns_an_error_for_an_empty_document.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_analyzesentiment/recording_service_returns_error_for_invalid_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_detectlanguage/recording_service_errors_on_invalid_country_hint.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_extractkeyphrases/recording_service_errors_on_unsupported_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizeentities/recording_service_errors_on_unsupported_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizelinkedentities/recording_service_errors_on_unsupported_language.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_recognizepiientities/recording_service_errors_on_unsupported_language.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/detectLanguageResult.ts
  sdk/textanalytics/ai-text-analytics/src/extractKeyPhrasesResult.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeCategorizedEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeLinkedEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsResult.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/error.spec.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Labels: Client, TextAnalytics

#7298 [Storage] Add the missing mapping for src/utils/utils.node.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/utils.browser.ts
  sdk/storage/storage-blob/src/utils/utils.node.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/utils/utils.browser.ts
  sdk/storage/storage-file-share/src/utils/utils.node.ts
Labels: Client, Storage

#7283 Genericize PageSettings in PagedAsyncIterableIterator
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-paging/types/corePaging.d.ts
Labels: Azure.Core, Client

#7316 Fix small issue in PR #7283
  sdk/core/core-paging/types/corePaging.d.ts
Labels: Azure.Core, Client

#7297 [ai-text-analytics] repo docs update for preview 2
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/src/constants.ts
Labels: Client, TextAnalytics

#7213 [Recorder] soft-record
  .gitignore
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-queue/karma.conf.js
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/GUIDELINES.md
  sdk/test-utils/recorder/README.md
  sdk/test-utils/recorder/karma.conf.js
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/index.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/utils.ts
  sdk/test-utils/recorder/test/browser/utils.spec.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
  sdk/test-utils/recorder/test/utils.spec.ts
  sdk/textanalytics/ai-text-analytics/karma.conf.js
Labels: Client, test-utils-recorder

#7211 [core-http] support username and password in proxy url string
  sdk/core/core-http/lib/policies/proxyPolicy.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
Labels: Azure.Core, Client

#7350 [storage] Fix typings support for TypeScript 3.1
  sdk/storage/storage-blob/api-extractor.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/tsconfig.json
  sdk/storage/storage-file-datalake/api-extractor.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/tsconfig.json
  sdk/storage/storage-file-share/api-extractor.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/tsconfig.json
  sdk/storage/storage-queue/api-extractor.json
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/tsconfig.json
Labels: Client, Storage

#7312 [Service Bus] Merge feature/service-bus-track-2 into master
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/karma.conf.js
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/clientEntityContext.ts
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/session/sessionManager.ts
  sdk/servicebus/service-bus/src/util/concurrentExpiringMap.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/README.md
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/perf/service-bus/receive.ts
  sdk/servicebus/service-bus/test/perf/service-bus/send.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/stress/stress_fixedNumberOfClientsMultipleQueues.ts
  sdk/servicebus/service-bus/test/stress/stress_fixedNumberOfClientsSingleQueue.ts
  sdk/servicebus/service-bus/test/stress/stress_messageAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_messageLockRenewalBatchingThenStreaming.ts
  sdk/servicebus/service-bus/test/stress/stress_messageManualLockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_messageRandomDisposition.ts
  sdk/servicebus/service-bus/test/stress/stress_messageRandomDispositionOnSession.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionAutolockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionManualLockRenewal.ts
  sdk/servicebus/service-bus/test/stress/stress_sessionState.ts
  sdk/servicebus/service-bus/test/stress/stress_singleClient.ts
  sdk/servicebus/service-bus/test/stress/stress_singleMessageComplete.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
  sdk/servicebus/service-bus/test/utils/aadUtils.browser.ts
  sdk/servicebus/service-bus/test/utils/aadUtils.ts
  sdk/servicebus/service-bus/test/utils/envVarUtils.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/tests.yml
Labels: Client, Service Bus

#7346 [ai-text-analytics] fixed constants and added constant metadata for preview 3
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/textAnalyticsClientContext.ts
Labels: Client, TextAnalytics

#7082 [Storage] Share a cached DefaultHttpClient in newPipeline()
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/utils/cache.ts
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/utils/cache.ts
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/utils/cache.ts
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/utils/cache.ts
Labels: Client, Storage

#7349 `browser` folder moved to `dist-browser`
  .gitignore
  sdk/core/abort-controller/package.json
  sdk/core/abort-controller/rollup.base.config.js
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/rollup.base.config.js
  sdk/core/core-auth/rollup.base.config.js
  sdk/core/core-http/rollup.base.config.js
  sdk/core/core-tracing/rollup.base.config.js
  sdk/core/logger/package.json
  sdk/core/logger/rollup.base.config.js
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.base.config.js
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/servicebus/service-bus/browser/ThirdPartyNotices.txt
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/template/template/package.json
  sdk/template/template/rollup.base.config.js
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/rollup.base.config.js
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/rollup.base.config.js
Labels: Client

#7383 [KeyVault] Seems like this line isn't needed
  .gitignore
Labels: Client, KeyVault

#7360 Increment version for releases
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Labels: Client, Storage

#7359 Increment version for releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Client, Storage

#7372 [Service Bus] Encoding the message.body in the scheduleMessages method
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/sender.ts
Labels: Client, Service Bus

#7400 [KeyVault] Formatting the karma.conf.js files
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
Labels: Client, KeyVault

#7254 [Recorder] First full recording and playback tests
  sdk/test-utils/recorder/.gitignore
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/recordings/.gitkeep
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/index.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/utils.ts
  sdk/test-utils/recorder/test/browser/recorder.spec.ts
  sdk/test-utils/recorder/test/browser/utils.spec.ts
  sdk/test-utils/recorder/test/node/recorder.spec.ts
Labels: test-utils-recorder

#7236 [Storage] Fix logic bugs in streamToBuffer2()
  sdk/storage/storage-blob/src/utils/utils.node.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-file-datalake/src/utils/utils.node.ts
Labels: Client, Storage

#7368 [Service Bus] [Event Hubs] Update websocket options shape
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
Labels: Client, Event Hubs, Service Bus

#7369 [Service Bus] Use AwaitableSender from rhea-promise to send messages
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
Labels: Client, Service Bus

#7397 Fix logic for generating a blob SAS using a stored policy.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_for_blob_with_blob_sas_using_access_policy.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_for_blob_with_container_sas_using_access_policy.js
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
Labels: Client, Storage

#7427 Plumb ServiceDirectory parameter variable through release pipelines
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: EngSys

#7450 [KeyVault] Fixing the .env path
  sdk/keyvault/keyvault-certificates/test/utils/recorderUtils.ts
  sdk/keyvault/keyvault-keys/test/utils/recorderUtils.ts
  sdk/keyvault/keyvault-secrets/test/utils/recorderUtils.ts
Labels: Client, KeyVault

#7444 [KeyVault] Live test browser fixes
  sdk/keyvault/keyvault-certificates/test/mergeAndImport.test.ts
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
Labels: Client, KeyVault

#7496 Fixing browser Code Coverage for all the SDKs
  sdk/core/abort-controller/karma.conf.js
  sdk/core/abort-controller/package.json
  sdk/core/core-lro/karma.conf.js
  sdk/core/core-lro/package.json
  sdk/core/logger/karma.conf.js
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/karma.conf.js
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/karma.conf.js
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-queue/karma.conf.js
  sdk/template/template/karma.conf.js
  sdk/template/template/package.json
  sdk/test-utils/recorder/karma.conf.js
  sdk/textanalytics/ai-text-analytics/karma.conf.js
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client

#7293 [storage][test] fetch next page until non-empty result array
  sdk/storage/storage-blob/recordings/browsers/blobclient/recording_undelete.json
  sdk/storage/storage-blob/recordings/node/blobclient/recording_undelete.js
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
Labels: Client, Storage

#7429 require core-http version of ^1.0.3
  common/config/rush/common-versions.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Labels: Client, Storage

#7454 Improve RestError output in Node
  sdk/core/core-http/lib/restError.ts
  sdk/core/core-http/lib/util/sanitizer.ts
Labels: Azure.Core, Client

#7523 [Event Hubs] Code coverage in browsers - leftovers
  sdk/eventhub/event-hubs/karma.conf.js
Labels: Client, Event Hubs

#7520 [Storage] Optimize appendBlock's example.
  sdk/storage/storage-blob/src/Clients.ts
Labels: Client, Storage

#7571 Create new workspace for data-plane packages
  dataplane.code-workspace
Labels: Client

#7592 [core-lro] Setting a release date for version 1.0.1
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core
