Repository Azure/azure-sdk-for-js, pull requests merged in 2020-11, with the labels that each got.

#11780 [Identity] VSCode credential default cloud and authority hosts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Labels: Azure.Identity, auto-merge

#12187 Servicebus logs atom api
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Labels: Service Bus, customer-reported

#12208 [Core AMQP] Remove userId until its type is fixed in rhea
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/messageProperties.ts
  sdk/core/core-amqp/test/message.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
Labels: Azure.Core, auto-merge

#12207 [Service Bus] Empty array validation
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
Labels: Service Bus, auto-merge

#12223 [Service Bus] subQueue -> subQueueType
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#12216 [Service Bus] Move settlement method impl out of message
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
Labels: Service Bus

#12210 Core AMQP cleanup for v2
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/auth/iotSas.ts
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/connectionConfig/iothubConnectionConfig.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/diagnostics/messageSpan.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/eventhubSharedKeyCredential.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/test/auth.spec.ts
  sdk/eventhub/event-hubs/test/config.spec.ts
  sdk/eventhub/event-hubs/test/diagnostics/messageSpan.spec.ts
  sdk/eventhub/event-hubs/test/sharedKeyCredential.spec.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/servicebusSharedKeyCredential.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
  sdk/servicebus/service-bus/test/internal/sharedKeyCredential.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
Labels: Azure.Core, Event Hubs, Service Bus

#12227 [Service Bus] Update changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus, auto-merge

#12228 [MetricsAdvisor] Support datetime strings for date parameters
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisoradministrationclient_ingestion/recording_lists_ingestion_status_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_list_enriched_data_for_a_detection_configuration_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_list_metric_enrichment_status_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_listdimensionvaluesfordetectionconfiguration_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_listmetricseriesdefinitions_with_datetime_string.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_lists_alerts_for_alert_configuration_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_lists_anomalies_for_alert_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_lists_series_data_for_a_metric_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient_feedback/recording_lists_anomaly_feedbacks_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_ingestion/recording_lists_ingestion_status_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_list_enriched_data_for_a_detection_configuration_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_list_metric_enrichment_status_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_listdimensionvaluesfordetectionconfiguration_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_listmetricseriesdefinitions_with_datetime_string.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_lists_alerts_for_alert_configuration_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_lists_series_data_for_a_metric_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient_feedback/recording_lists_anomaly_feedbacks_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/advisorclient.spec.ts
Labels: Cognitive - Metrics Advisor

#12090 [core-http] Do not serialize empty multi collection param
  sdk/core/core-client/src/urlHelpers.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/serviceClientTests.ts
Labels: Azure.Core

#12234 [service-bus] Removing the 'export' keyword that should have never been there.
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
Labels: Service Bus, auto-merge

#12167 Address feedbacks: Improve readme, fix documentation
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/review/digital-twins-core.api.md
  sdk/digitaltwins/digital-twins-core/samples/Readme.md
  sdk/digitaltwins/digital-twins-core/samples/javascript/package.json
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/generated/azureDigitalTwinsAPIContext.ts
  sdk/digitaltwins/digital-twins-core/src/generated/models/index.ts
  sdk/digitaltwins/digital-twins-core/src/generated/models/parameters.ts
  sdk/digitaltwins/digital-twins-core/src/generated/operations/digitalTwinModels.ts
  sdk/digitaltwins/digital-twins-core/src/generated/operations/digitalTwins.ts
  sdk/digitaltwins/digital-twins-core/src/generated/operations/eventRoutes.ts
  sdk/digitaltwins/digital-twins-core/src/generated/operations/query.ts
  sdk/digitaltwins/digital-twins-core/src/index.ts
  sdk/digitaltwins/digital-twins-core/src/tracing.ts
  sdk/digitaltwins/digital-twins-core/swagger/README.md
  sdk/digitaltwins/digital-twins-core/test/unit/digitalTwinsClient.spec.ts
Labels: Client, Digital Twins, auto-merge

#12225 [Core AMQP] satusDescription -> statusDescription
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/cbs.ts
Labels: Azure.Core, auto-merge

#12236 Sync eng/common directory with azure-sdk-tools for PR 1160
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#12249 Update constant link for keyvault
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/package.json
Labels: KeyVault

#11857 [MetricsAdvisor] Change *PageResponse types to extend Array
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/dataFeed.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/hooks.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/ingestionStatus.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/metricFeedback.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/metricQueries.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/quickstart.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/seriesData.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/hooks.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/ingestionStatus.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/metricFeedback.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/metricQueries.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/seriesData.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/hookTests.spec.ts
Labels: Cognitive - Metrics Advisor

#12256 fix broken link
  sdk/metricsadvisor/ai-metrics-advisor/README.md
Labels: auto-merge

#12110 `rush update --full` 🛠
  common/config/rush/pnpm-lock.yaml
Labels: auto-merge

#12257 [Core AMQP] Update Changelog date and @internal @ignore for non-exports
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/util/runtimeInfo.browser.ts
  sdk/core/core-amqp/src/util/utils.ts
Labels: Azure.Core, auto-merge

#12150 [core-http] de-serialize before checking internalError
  sdk/core/core-client/src/deserializationPolicy.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/test/policies/deserializationPolicyTests.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
Labels: Azure.Core

#12237 [service-bus] Use ServiceBusError when reporting errors to the user
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/index.ts
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
Labels: Azure.Core, Service Bus

#11866 [MetricsAdvisor] Use PerMinute and PerSecond in granularity type
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/transforms.spec.ts
Labels: Cognitive - Metrics Advisor

#12265 [Service Bus] Preview 8 prep in changelog
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus, auto-merge

#12267 Increment version for core-amqp v2
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
Labels: Azure.Core, auto-merge

#12189 fix the description of visibilityTimeout in MessagesEnqueueOptionalPa…
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#12211 Add the Code -> code mapping for StorageError
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#12185 [storage] parallel upload refactor
  sdk/storage/storage-blob-changefeed/src/utils/utils.browser.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.node.ts
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/recordings/browsers/highlevel/recording_before_all_hook.json
  sdk/storage/storage-blob/recordings/browsers/highlevel/recording_uploaddata_should_work_with_blob_arraybuffer_and_arraybufferview.json
  sdk/storage/storage-blob/recordings/node/highlevel/recording_after_all_hook.js
  sdk/storage/storage-blob/recordings/node/highlevel/recording_before_all_hook.js
  sdk/storage/storage-blob/recordings/node/highlevel/recording_uploaddata_should_work_with_buffer_arraybuffer_and_arraybufferview.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/recordings/browsers/highlevel_browser_only/recording_before_all_hook.json
  sdk/storage/storage-file-datalake/recordings/browsers/highlevel_browser_only/recording_upload_should_work_with_blob_arraybuffer_and_arraybufferview.json
  sdk/storage/storage-file-datalake/recordings/node/highlevel_nodejs_only/recording_after_all_hook.js
  sdk/storage/storage-file-datalake/recordings/node/highlevel_nodejs_only/recording_before_all_hook.js
  sdk/storage/storage-file-datalake/recordings/node/highlevel_nodejs_only/recording_upload_arraybuffer_and_arraybufferview_should_succeed.js
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.browser.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_uploaddata_should_work_with_arraybuffer_and_arraybufferview.json
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_uploaddata_should_work_with_arraybuffer_and_arraybufferview.js
  sdk/storage/storage-file-share/recordings/node/highlevel_nodejs_only/recording_uploaddata_should_work_with_buffer_arraybuffer_and_arraybufferview.js
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-queue/test/utils/index.browser.ts
Labels: APIChange, Storage

#12275 [Data plane][Azure Cognitive Search] Add encryptionKey property to indexer, datasource and skillset metadata
  sdk/search/search-documents/recordings/node/searchclient/recording_autocomplete_returns_the_correct_autocomplete_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_autocomplete_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient/recording_count_returns_the_correct_document_count.js
  sdk/search/search-documents/recordings/node/searchclient/recording_deletedocuments_delete_a_document_by_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_deletedocuments_delete_a_document_by_keykeynames.js
  sdk/search/search-documents/recordings/node/searchclient/recording_getdocument_returns_the_correct_document_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_getdocument_throws_error_for_invalid_getdocument_value.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_deletes_existing_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_merges_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_mergeupload_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_upload_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergedocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergeoruploaddocuments_merge_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergeoruploaddocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_returns_the_correct_search_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient/recording_suggest_returns_the_correct_suggestions.js
  sdk/search/search-documents/recordings/node/searchclient/recording_suggest_returns_zero_suggestions_for_invalid_input.js
  sdk/search/search-documents/recordings/node/searchclient/recording_uploaddocuments_upload_a_set_of_documents.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_creates_the_index_object_using_createorupdateindex.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_correct_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_modify_and_updates_the_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_throws_error_for_invalid_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_creates_the_synonymmap_object_using_createorupdatesynonymmap.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_correct_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_modify_and_updates_the_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_throws_error_for_invalid_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_creates_the_datasourceconnection_object_using_createorupdatedatasourceconnection.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_correct_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_list_of_datasourceconnection_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_list_of_datasourceconnections.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_modify_and_updates_the_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_throws_error_for_invalid_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_creates_the_indexer_object_using_createorupdateindexer.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_correct_indexer_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_list_of_indexer_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_list_of_indexers.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_gets_the_status_of_the_indexer.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_modify_and_updates_the_indexer_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_indexers/recording_throws_error_for_invalid_indexer_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_creates_the_skillset_object_using_createorupdateskillset.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_gets_the_correct_skillset_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_gets_the_list_of_skillset_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_gets_the_list_of_skillsets.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_modify_and_updates_the_skillsets_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_skillsets/recording_throws_error_for_invalid_skillset_object.js
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/generated/service/models/dataSourcesMappers.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/indexersMappers.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/models/skillsetsMappers.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
Labels: Search

#11759 [core-http] fix An exception thrown on Safari 5.0
  sdk/core/core-http/src/serializer.ts
Labels: Azure.Core, customer-reported

#12282 [Service Bus] Fix readme and typedoc for preview.8 ⚓
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
Labels: Service Bus, auto-merge

#12162 [MetricsAdvisor] change timestamps type from Date to number
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
Labels: Cognitive - Metrics Advisor

#11976 [Identity] Azure Arc, Fabric and ManagedIdentityCredential refactoring
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, auto-merge

#12285 [Service Bus] Pick older core-http for service-bus preview.8 🏁
  common/config/rush/common-versions.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, auto-merge

#12065 [core-http] Support overriding xml parser char key via options
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/util/serializer.common.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-http/src/util/xml.ts
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-http/test/policies/deserializationPolicyTests.ts
  sdk/core/core-http/test/serviceClientTests.ts
  sdk/core/core-http/test/xmlTests.ts
Labels: Azure.Core

#12290 Sync eng/common directory with azure-sdk-tools for PR 1167
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#12097 Sdk automation/@azure arm netapp
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/azureNetAppFilesManagementClientContext.ts
  sdk/netapp/arm-netapp/src/models/accountBackupsMappers.ts
  sdk/netapp/arm-netapp/src/models/accountsMappers.ts
  sdk/netapp/arm-netapp/src/models/backupPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/backupsMappers.ts
  sdk/netapp/arm-netapp/src/models/index.ts
  sdk/netapp/arm-netapp/src/models/mappers.ts
  sdk/netapp/arm-netapp/src/models/parameters.ts
  sdk/netapp/arm-netapp/src/models/poolsMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotPoliciesMappers.ts
  sdk/netapp/arm-netapp/src/models/snapshotsMappers.ts
  sdk/netapp/arm-netapp/src/models/vaultsMappers.ts
  sdk/netapp/arm-netapp/src/models/volumesMappers.ts
Labels: Mgmt

#12292 [Service Bus] Revert core-http pin 1.1.9 and core-amqp pin 2.0.0-beta.1 👋
  common/config/rush/common-versions.json
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#12289 [Service Bus] Fix samples
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
Labels: Service Bus

#12314 [Service Bus] This test is doesn't test anything
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus, auto-merge

#12202 [MetricsAdvisor] Add an alias type for createDateFeed feed parameter
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/quickstart.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/alertingConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
Labels: Cognitive - Metrics Advisor

#12258 [core-http] Update CHANGELOG for Nov 2020 release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#12280 [event-hubs] fixes issue where processEvents ignores maxWaitTime after retryable disconnect event
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/test/node/disconnects.spec.ts
Labels: Client, Event Hubs, auto-merge

#12310 [Identity] Readme updates
  sdk/identity/identity/README.md
Labels: Azure.Identity

#11777 Added default customDomainHttpsParameters value
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/src/cdnManagementClientContext.ts
  sdk/cdn/arm-cdn/src/operations/customDomains.ts
Labels: Mgmt, Network - CDN, customer-reported

#12336 [event-hubs] prepare 5.3.1 release
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/typescript/src/receiveEvents.ts
Labels: Client, Event Hubs

#12325 Sync eng/common directory with azure-sdk-tools for PR 1175
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#12316 Handle listing of new data feed source types
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_unknown_data_feed.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_an_unknown_data_source_type.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/metricsadvisorclient/recording_lists_alerts_for_alert_configuration_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_unknown_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_a_different_data_source_type.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisoradministrationclient_datafeed_datafeed/recording_updates_data_feed_to_have_an_unknown_data_source_type.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/metricsadvisorclient/recording_lists_alerts_for_alert_configuration_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/transforms.spec.ts
Labels: Cognitive - Metrics Advisor

#12297 Open up Buffered Sender Configurations
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchIndexingBufferedSenderImpl.ts
  sdk/search/search-documents/src/serviceUtils.ts
Labels: Search

#12259 [MetricsAdvisor] rename createTime property to createdOn
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/metricFeedback.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/metricFeedback.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/transforms.spec.ts
Labels: Cognitive - Metrics Advisor, auto-merge

#12342 November release changes
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushSizeBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/autoFlushTimerBased.ts
  sdk/search/search-documents/samples/typescript/src/bufferedSender/uploadDocuments/manualFlush.ts
Labels: Search

#12263 [MetricsAdvisor] Flatten DataFeedOptions in data feed
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/dataFeed.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/quickstart.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/datafeed.spec.ts
Labels: Cognitive - Metrics Advisor, auto-merge

#12351 [MetricsAdvisor] Fix missed rename updates and typo
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/dataFeed.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/quickstart.ts
Labels: Cognitive - Metrics Advisor, auto-merge

#12350 Update Service Bus migration guide with more pointers, and use similar general text in Event Hubs
  sdk/eventhub/event-hubs/migrationguide.md
  sdk/servicebus/service-bus/migrationguide.md
Labels: Event Hubs, Service Bus, auto-merge

#12323 Increment version for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: Azure.Core

#12398 [Service Bus] Remove Connection Context from ServiceBusMessage
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
Labels: Service Bus, auto-merge

#12412 Fix for atob not loading in React Native
  sdk/cosmosdb/cosmos/src/utils/atob.browser.ts
  sdk/cosmosdb/cosmos/src/utils/atob.native.ts
Labels: Cosmos, auto-merge

#12321 [Core AMQP] Do not stringify entityPath for `undefined`
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Labels: Azure.Core, Service Bus, auto-merge

#11807 [Identity] Success logging (Both in Interactive and in DeviceCode)
  sdk/identity/identity/src/credentials/authorizationCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.browser.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.browser.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.browser.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/util/checkTenantId.ts
  sdk/identity/identity/src/util/logging.ts
  sdk/identity/identity/test/internal/logger.spec.ts
Labels: Azure.Identity, auto-merge

#12347 [Identity] Cleanups after end-to-end testing and meetings
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, blocking-release

#12346 Sync eng/common directory with azure-sdk-tools for PR 1163
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#12415 [core-amqp][event-hubs][service-bus] move DataTransformer from core-amqp to client packages
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/test/dataTransformer.spec.ts
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/dataTransformer.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
Labels: Azure.Core, Client, Event Hubs, Service Bus, auto-merge

#12423 Sync eng/common directory with azure-sdk-tools for PR 1178
  eng/common/README.md
Labels: Central-EngSys, EngSys

#12438 [storage][stg75] version bump up
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Event Hubs, Storage

#12341 [Service Bus] Mention "CORS not supported" in readme
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, auto-merge

#12447 Sync eng/common directory with azure-sdk-tools for PR 1185
  eng/common/README.md
Labels: Central-EngSys, EngSys

#12404 [Service Bus] Update client side validation for settling msg, renewing locks
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Labels: Service Bus

#12449 [core-amqp] prepare for 2.0.0 release
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core

#12322 [Service Bus] Fix log message at `actionAfterWaitTimeout`
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Labels: Service Bus

#12452 [Identity] Client side authentication Markdown sample
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
Labels: Azure.Identity

#12454 [core-amqp] remove v1 samples and snippets from README
  eng/.docsettings.yml
  sdk/core/core-amqp/README.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/samples/cbsAuthUsingAad.ts
  sdk/core/core-amqp/samples/cbsAuthUsingSas.ts
  sdk/core/core-amqp/samples/receive.ts
  sdk/core/core-amqp/samples/send.ts
  sdk/core/core-amqp/samples/tsconfig.json
Labels: Azure.Core, auto-merge

#12451 [Identity] Change version to 1.2.0 and update changelog
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/rollup.base.config.js
Labels: Azure.Identity

#12440 [storage][doc] remove Special bundling notes for IE11
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/README.md
Labels: Storage

#12460 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#12453 [Service Bus] maxMessageCount validation updates
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
Labels: Service Bus

#12229 [Service Bus] Stress Tests - followup PR
  sdk/servicebus/service-bus/test/stress-test-track-2/package.json
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioPeekMessages.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewMessageLock.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioSend.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/scenarioStreamingReceive.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/stressTestsBase.ts
  sdk/servicebus/service-bus/test/stress-test-track-2/utils.ts
Labels: Azure.Core, Service Bus, auto-merge

#12349 [Service Bus] ATOM API: Correlation Filter - `int` and `double` as values under properties
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus, auto-merge

#12491 Sync eng/common directory with azure-sdk-tools for PR 1188
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#12492 Sync eng/common directory with azure-sdk-tools for PR 1190
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#12490 [Service Bus] Throw when partitionKey is not same as sessionId
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/internal/sender.spec.ts
Labels: Service Bus

#12496 [ai-form-recognizer] Remove optional chaining operators from JS samples
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeBusinessCard.js
Labels: Cognitive - Form Recognizer

#12220 arm-databoxedge
  sdk/databoxedge/arm-databoxedge/LICENSE.txt
  sdk/databoxedge/arm-databoxedge/README.md
  sdk/databoxedge/arm-databoxedge/package.json
  sdk/databoxedge/arm-databoxedge/rollup.config.js
  sdk/databoxedge/arm-databoxedge/src/dataBoxEdgeManagementClient.ts
  sdk/databoxedge/arm-databoxedge/src/dataBoxEdgeManagementClientContext.ts
  sdk/databoxedge/arm-databoxedge/src/models/alertsMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/bandwidthSchedulesMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/containersMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/devicesMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/index.ts
  sdk/databoxedge/arm-databoxedge/src/models/jobsMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/mappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/nodesMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/operationsMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/operationsStatusMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/ordersMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/parameters.ts
  sdk/databoxedge/arm-databoxedge/src/models/rolesMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/sharesMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/skusMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/storageAccountCredentialsMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/storageAccountsMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/triggersMappers.ts
  sdk/databoxedge/arm-databoxedge/src/models/usersMappers.ts
  sdk/databoxedge/arm-databoxedge/src/operations/alerts.ts
  sdk/databoxedge/arm-databoxedge/src/operations/bandwidthSchedules.ts
  sdk/databoxedge/arm-databoxedge/src/operations/containers.ts
  sdk/databoxedge/arm-databoxedge/src/operations/devices.ts
  sdk/databoxedge/arm-databoxedge/src/operations/index.ts
  sdk/databoxedge/arm-databoxedge/src/operations/jobs.ts
  sdk/databoxedge/arm-databoxedge/src/operations/nodes.ts
  sdk/databoxedge/arm-databoxedge/src/operations/operations.ts
  sdk/databoxedge/arm-databoxedge/src/operations/operationsStatus.ts
  sdk/databoxedge/arm-databoxedge/src/operations/orders.ts
  sdk/databoxedge/arm-databoxedge/src/operations/roles.ts
  sdk/databoxedge/arm-databoxedge/src/operations/shares.ts
  sdk/databoxedge/arm-databoxedge/src/operations/skus.ts
  sdk/databoxedge/arm-databoxedge/src/operations/storageAccountCredentials.ts
  sdk/databoxedge/arm-databoxedge/src/operations/storageAccounts.ts
  sdk/databoxedge/arm-databoxedge/src/operations/triggers.ts
  sdk/databoxedge/arm-databoxedge/src/operations/users.ts
  sdk/databoxedge/arm-databoxedge/tsconfig.json
Labels: Mgmt

#12339 Sync eng/common directory with azure-sdk-tools for PR 1170
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Labels: Central-EngSys, EngSys

#12493 [service-bus] loosens parameter type in isServiceBusError type guard
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusError.ts
Labels: Client, Service Bus

#12489 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#12506 [service-bus] Small README.md update for sessions
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, auto-merge

#12499 [core-amqp][service-bus] Prunes core-amqp public API and move ServiceBusError.reason to ServiceBusError.code
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/index.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
Labels: Azure.Core, Service Bus, auto-merge

#12520 Increment version for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core, auto-merge

#12283 Sync eng/common directory with azure-sdk-tools for PR 1161
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#12524 [event-hubs] update changelog date
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Client, Event Hubs, auto-merge

#12523 Sync eng/common directory with azure-sdk-tools for PR 1199
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#12522 [Tables] Update changelog
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#12525 [core-http] Add createSpan helper
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/createSpan.ts
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/test/createSpan.spec.ts
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/createSpan.ts
  sdk/core/core-http/test/createSpan.spec.ts
Labels: Azure.Core, auto-merge

#12529 Sync eng/common directory with azure-sdk-tools for PR 1202
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#12528 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables, auto-merge

#12443 [storage]fix CI
  sdk/storage/storage-blob-changefeed/test/blobchangefeedclient.spec.ts
  sdk/storage/storage-blob/recordings/node/appendblobclient_nodejs_only/recording_appendblockfromurl.js
  sdk/storage/storage-blob/recordings/node/appendblobclient_nodejs_only/recording_conditional_tags_for_appendblockfromurls_destination_blob.js
  sdk/storage/storage-blob/recordings/node/appendblobclient_nodejs_only/recording_create_appendblock_appendblockfromurl_and_download_with_cpk.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_synccopyfromurl.js
  sdk/storage/storage-blob/recordings/node/pageblobclient_nodejs_only/recording_create_uploadpages_uploadpagesfromurl_download_clearpages_and_resize_with_cpk.js
  sdk/storage/storage-blob/recordings/node/pageblobclient_nodejs_only/recording_uploadpagesfromurl.js
  sdk/storage/storage-blob/recordings/node/pageblobclient_nodejs_only_conditional_tags/recording_uploadpagesfromurl_with_conditional_tags_for_destination_blob.js
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/leaseclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Storage

#12527 Increment version for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#12544 Sync eng/common directory with azure-sdk-tools for PR 1153
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#12531 [communication] Update changelogs for Nov 2020 release
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-sms/CHANGELOG.md
Labels: Communication

#12546 [communication] Fix SDK_VERSION value
  sdk/communication/communication-administration/src/communicationIdentity/constants.ts
  sdk/communication/communication-administration/src/phoneNumber/constants.ts
  sdk/communication/communication-administration/test/phoneNumberAdministrationClient.mocked.spec.ts
  sdk/communication/communication-chat/src/constants.ts
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-sms/src/constants.ts
  sdk/communication/communication-sms/test/smsClient.mocked.spec.ts
Labels: Communication

#12554 Add node.js support matrix in readme
  sdk/core/core-amqp/README.md
Labels: Azure.Core, auto-merge

#12557 [Service Bus] Remove ReceiveMode from public API surface
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Labels: Service Bus

#12540 [ai-form-recognizer] Selection mark and other new output fields in 2.1-preview.1
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/karma.conf.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_content_analysis/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_content_analysis/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/assets/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeContent.js
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/recognizeCustomForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/assets/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeContent.ts
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/recognizeCustomForm.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test-assets/forms/selection_mark_form.pdf
  sdk/formrecognizer/ai-form-recognizer/test/internal/transforms.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
  sdk/formrecognizer/test-resources.json
Labels: Client, Cognitive - Form Recognizer

#12562 [app-configuration] Fix URL that was pointing to outdated documentation for AAD roles
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration, Client, auto-merge

#12545 Sync eng/common directory with azure-sdk-tools for PR 1210
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#12564 [ai-form-recognizer] Support creating composed models
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/aad_formtrainingclient/recording_compose_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/browsers/api_key_formtrainingclient/recording_compose_model.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_formtrainingclient/recording_compose_model.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formrecognizerclient_nodejs_only_custom_forms/recording_with_selection_marks.js
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_formtrainingclient/recording_compose_model.js
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/javascript/createComposedModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/README.md
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/sample.env
  sdk/formrecognizer/ai-form-recognizer/samples/typescript/src/createComposedModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/train/poller.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/recordedClients.ts
Labels: Client, Cognitive - Form Recognizer

#12508 [Service Bus] Link messageSpanContexts while sending - for array of messages
  sdk/servicebus/service-bus/src/sender.ts
Labels: Service Bus, auto-merge

#12569 [service-bus] Documentation Review for version 7
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/servicebusSharedKeyCredential.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Labels: Service Bus, auto-merge

#12558 [Service Bus] autoComplete -> autoCompleteMessages
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Labels: Service Bus

#12571 [service-bus] Rename ServiceBusErrorCode Unauthorized to UnauthorizedAccess
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusError.ts
Labels: Service Bus, auto-merge

#12495 [Service Bus] ATOM API: Allow configuring the rule with createSubscription
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus, auto-merge

#12437 azure-arm_attestation
  sdk/attestation/arm-attestation/LICENSE.txt
  sdk/attestation/arm-attestation/README.md
  sdk/attestation/arm-attestation/package.json
  sdk/attestation/arm-attestation/rollup.config.js
  sdk/attestation/arm-attestation/src/attestationManagementClient.ts
  sdk/attestation/arm-attestation/src/attestationManagementClientContext.ts
  sdk/attestation/arm-attestation/src/models/attestationProvidersMappers.ts
  sdk/attestation/arm-attestation/src/models/index.ts
  sdk/attestation/arm-attestation/src/models/mappers.ts
  sdk/attestation/arm-attestation/src/models/operationsMappers.ts
  sdk/attestation/arm-attestation/src/models/parameters.ts
  sdk/attestation/arm-attestation/src/operations/attestationProviders.ts
  sdk/attestation/arm-attestation/src/operations/index.ts
  sdk/attestation/arm-attestation/src/operations/operations.ts
  sdk/attestation/arm-attestation/tsconfig.json
Labels: Mgmt

#12578 Fix rush clean command
  sdk/core/core-paging/package.json
  sdk/keyvault/keyvault-common/package.json
Labels: Azure.Core, KeyVault

#12581 Fix rush lint
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-files-required.ts
  sdk/cosmosdb/cosmos/package.json
  sdk/keyvault/keyvault-common/.eslintrc.json
  sdk/keyvault/keyvault-common/package.json
Labels: Cosmos, KeyVault

#12547 [core-client] Bugfixes for unblocking data-tables
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/src/urlHelpers.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-client/test/urlHelpers.spec.ts
Labels: Azure.Core, Client

#12585 [service-bus] Remove public usages of MessagingError and improve ServiceBusError GeneralError messages
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/serviceBusError.spec.ts
Labels: Service Bus, auto-merge

#11717 [Key Vault Keys] LRO refactoring
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-keys/src/lro/keyVaultKeyPoller.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/poller.ts
  sdk/keyvault/keyvault-keys/src/tracing.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
Labels: KeyVault

#12417 [opentelemetry-exporter-azure-monitor] Rename monitor package
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/monitor/ci.yml
  sdk/monitor/opentelemetry-exporter-azure-monitor/.eslintignore
  sdk/monitor/opentelemetry-exporter-azure-monitor/.eslintrc.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Constants.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Contracts/Constants.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Contracts/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/config.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/exporter.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/applicationInsightsClient.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/models/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/models/mappers.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/models/parameters.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/constants.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/context/context.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/context/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemHelpers.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/types.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/breezeUtils.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/connectionStringParser.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/applicationinsights.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/span/azAttributes.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/span/dbAttributes.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/span/grpcAttributes.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/span/httpAttributes.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/eventhub.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/spanUtils.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/swagger/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/test-opentelemetry-versions.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/assert.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/flushSpanProcessor.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/scenario/basic.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/scenario/types.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/functional/trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/breezeTestUtils.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/export.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/connectionStringParser.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/eventhub.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/spanUtils.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/tests.yml
  sdk/monitor/opentelemetry-exporter-azure-monitor/tsconfig.json
Labels: Client, Monitor

#12594 [opentelemetry-exporter-azure-monitor] Changes for beta.1 of new package name
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/api-extractor.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/review/opentelemetry-exporter-azure-monitor.api.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/config.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/exporter.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/types.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/scenario/basic.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/export.test.ts
Labels: Client, Monitor

#12604 [service-bus] remove unnecessary wrapper in streaming receiver
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
Labels: Service Bus, auto-merge

#12618 Sync eng/common directory with azure-sdk-tools for PR 1203
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#12608 [Service Bus] Final round of API feedback before GA
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
Labels: Service Bus, auto-merge

#12563 [Monitor] harden async try/catch
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
Labels: Monitor

#12634 Revert "[ESLint plugin] Deprecate support for preview and dev versions"
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-versioning-semver.md
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-versioning-semver.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-versioning-semver.ts
Labels: auto-merge

#12625 Sync eng/common directory with azure-sdk-tools for PR 1222
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys, auto-merge

#12636 Add common to core ci.yml
  sdk/core/ci.yml
Labels: auto-merge

#12635 [Service Bus] _amqpAnnotatedMessage -> _rawAmqpMessage
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/internal/utils.spec.ts
Labels: Service Bus

#12599 Service level readmes for Service Bus, Event Hubs and Key Vault
  eng/.docsettings.yml
  sdk/eventhub/README.md
  sdk/keyvault/README.md
  sdk/servicebus/README.md
Labels: Event Hubs, KeyVault, Service Bus

#12615 [Service Bus] Improve docs
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
Labels: Service Bus

#12629 [Service Bus] Update migration guide with perf improvements and coming up features
  sdk/servicebus/service-bus/migrationguide.md
Labels: Service Bus

#12640 Sync eng/common directory with azure-sdk-tools for PR 1219
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/assets/logo.svg
  eng/common/docgeneration/docfx.json
  eng/common/docgeneration/templates/matthews/partials/affix.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/enum.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/namespace.tmpl.partial
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
  eng/common/pipelines/templates/steps/docindex.yml
Labels: Central-EngSys, EngSys

#12621 Segregate text analytics test folders to enable min-max tests
  sdk/textanalytics/ai-text-analytics/test/internal/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/error.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/tracing.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/util.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
  sdk/textanalytics/ai-text-analytics/test/utils/resultHelper.ts
  sdk/textanalytics/ai-text-analytics/tests.yml
Labels: Cognitive - Text Analytics

#12645 [service-bus] prepare for 7.0.0 release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus, auto-merge

#12418 [Core xml/client] Port PR #12065 Support overriding xml parser char key
  sdk/core/core-client/package.json
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/deserializationPolicy.ts
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/review/core-xml.api.md
  sdk/core/core-xml/src/index.ts
  sdk/core/core-xml/src/xml.browser.ts
  sdk/core/core-xml/src/xml.common.ts
  sdk/core/core-xml/src/xml.ts
  sdk/core/core-xml/test/xml.spec.ts
Labels: Azure.Core

#12650 [Tables] Don't deserialize DateTime to avoid losing precision
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_date.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_datetime.json
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_date.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_getentity_and_delete/recording_should_createentity_with_datetime.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
  sdk/tables/data-tables/test/unit/serialization.spec.ts
Labels: Tables, auto-merge

#12663 [Text Analytics] Update changelog for 5.1.0-beta.3 release
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
Labels: Cognitive - Text Analytics

#10218 [Monitor]: add OpenTelemetry samples
  sdk/monitor/opentelemetry-exporter-azure-monitor/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/images/storage.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/basic.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/sample.env
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/javascript/tracing.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/.gitignore
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/sample.env
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/src/basic.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/src/tracing.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/@azure/storage-blob/typescript/tsconfig.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/images/jaeger-ui-detail.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/images/jaeger-ui-list.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/images/zipkin-ui-detail.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/images/zipkin-ui-list.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/index.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/basic-tracer-node/sample.env
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/client.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/helloworld_grpc_pb.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/helloworld_pb.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/images/jaeger.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/images/zipkin.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/sample.env
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/server.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/grpc/tracer.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/client.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/images/jaeger-ui.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/images/zipkin-ui.png
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/sample.env
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/server.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/samples/https/tracer.js
Labels: Monitor

#12664 [service-bus] remove Preview from service-bus
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#12668 [Service Bus] Samples and Readme updates for GA
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples/README.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesStreaming.js
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/javascript/useProxy.js
  sdk/servicebus/service-bus/samples/javascript/usingAadAuth.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/typescript/src/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/src/usingAadAuth.ts
Labels: Service Bus, auto-merge

#12670 [Service Bus] Minor sample update
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
Labels: Service Bus, auto-merge

#12673 [ai-form-recognizer] Set 3.1.0-beta.1 release date
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#12651 Sync eng/common directory with azure-sdk-tools for PR 1226
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/docindex.yml
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#12674 Sync eng/common directory with azure-sdk-tools for PR 1229
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#12680 [ai-form-recognizer] Fixed a broken link in the README.
  sdk/formrecognizer/ai-form-recognizer/README.md
Labels: Client, Cognitive - Form Recognizer

#12655 [Key Vault] Excluding dist-browser from the artifacts
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/rollup.config.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.config.js
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.config.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.config.js
Labels: KeyVault

#12643 Segregate search documents test folders to enable min-max tests
  sdk/search/search-documents/package.json
  sdk/search/search-documents/rollup.base.config.js
  sdk/search/search-documents/test/internal/base64.spec.ts
  sdk/search/search-documents/test/internal/geographyPoint.spec.ts
  sdk/search/search-documents/test/internal/serialization.spec.ts
  sdk/search/search-documents/test/internal/tracing.spec.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/public/odata.spec.ts
  sdk/search/search-documents/test/public/utils/interfaces.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/test/public/utils/setup.ts
  sdk/search/search-documents/tests.yml
Labels: Search

#12666 [Core AMQP] - Fix debug log output for Retries
  sdk/core/core-amqp/src/retry.ts
Labels: Azure.Core, auto-merge, customer-reported

#12046 Sdk automation/@azure arm containerservice
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
  sdk/containerservice/arm-containerservice/src/containerServiceClientContext.ts
  sdk/containerservice/arm-containerservice/src/models/agentPoolsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/containerServicesMappers.ts
  sdk/containerservice/arm-containerservice/src/models/index.ts
  sdk/containerservice/arm-containerservice/src/models/managedClustersMappers.ts
  sdk/containerservice/arm-containerservice/src/models/mappers.ts
  sdk/containerservice/arm-containerservice/src/models/openShiftManagedClustersMappers.ts
  sdk/containerservice/arm-containerservice/src/models/parameters.ts
  sdk/containerservice/arm-containerservice/src/models/privateEndpointConnectionsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/privateLinkResourcesMappers.ts
  sdk/containerservice/arm-containerservice/src/models/resolvePrivateLinkServiceIdMappers.ts
  sdk/containerservice/arm-containerservice/src/operations/agentPools.ts
  sdk/containerservice/arm-containerservice/src/operations/index.ts
  sdk/containerservice/arm-containerservice/src/operations/managedClusters.ts
  sdk/containerservice/arm-containerservice/src/operations/privateLinkResources.ts
  sdk/containerservice/arm-containerservice/src/operations/resolvePrivateLinkServiceId.ts
Labels: Mgmt

#12567 Increment version for communication releases
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/package.json
Labels: Communication

#12716 [Cosmos] Adding tsconfig.strict.json
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/tsconfig.strict.json
Labels: Cosmos

#12647 Sync eng/common directory with azure-sdk-tools for PR 1220
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Labels: Central-EngSys, EngSys
