Repository Azure/azure-sdk-for-js, pull requests merged in 2020-09, with the labels that each got.

#10956 Update Blob SAS generation sample documents. Fixed #7676
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/DataLakeSASSignatureValues.ts
Labels: Client, Storage

#10941 [Tables] Add tracing pipelines
  sdk/tables/ci.yml
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_binary_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_with_filter.json
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_binary_with_filter.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_by_page.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_with_filter.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/rollup.base.config.js
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/generatedModels.ts
  sdk/tables/data-tables/src/logger.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/src/utils/fromAccountConnectionString.ts
  sdk/tables/data-tables/src/utils/tracing.ts
Labels: Tables

#10942 [Identity] Sovereign Clouds don't support the VSCode credential
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Labels: Azure.Identity

#10947 [Monitor] Release 1.0.0-preview.5
  sdk/monitor/opentelemetry-exporter/CHANGELOG.md
Labels: Monitor

#10964 [Tables] Update README
  sdk/tables/data-tables/README.md
Labels: Tables

#10926 Sync eng/common directory with azure-sdk-tools for PR 935
  eng/common/scripts/SemVer.ps1
Labels: EngSys

#10881 Sync eng/common directory with azure-sdk-tools for PR 916
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys

#10591 Increment version for keyvault releases
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
Labels: KeyVault

#10889 Sync eng/common directory with azure-sdk-tools for PR 930
  eng/common/README.md
Labels: EngSys

#10765 [Service Bus] API Review Feedback Part 2
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
Labels: Service Bus

#10759 [Service Bus] Followup: Changelog for #10625
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
Labels: Service Bus

#10766 [Service Bus] Use subQueue for deadLetterReceiver
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/advanced/processMessageFromDLQ.js
  sdk/servicebus/service-bus/samples/typescript/src/advanced/processMessageFromDLQ.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#10700 [Service Bus] Avoid using dotnet links for status codes
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Labels: Service Bus

#10961 [Event Hubs] Note that on retryable errors, processClose will not be called
  sdk/eventhub/event-hubs/README.md
Labels: Event Hubs

#10736 [Key Vault] Identifier parser feedback after 9642
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/src/identifier.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/src/identifier.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/public/identifier.spec.ts
Labels: KeyVault

#10997 Sync eng/common directory with azure-sdk-tools for PR 946
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#10999 Increment version for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
Labels: Azure.Core

#10650 [storage-blob] fix uploadStream to support 4GB blockSize
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/node/highlevel/recording_after_all_hook.js
  sdk/storage/storage-blob/recordings/node/highlevel/recording_before_all_hook.js
  sdk/storage/storage-blob/recordings/node/highlevel/recording_uploadstream_should_work_when_blocksize_eq_block_blob_max_stage_block_bytes.js
  sdk/storage/storage-blob/recordings/node/highlevel/recording_uploadstream_should_work_with_empty_data.js
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/BufferScheduler.browser.ts
  sdk/storage/storage-blob/src/utils/BufferScheduler.ts
  sdk/storage/storage-blob/src/utils/BuffersStream.ts
  sdk/storage/storage-blob/src/utils/PooledBuffer.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Labels: Client, Storage

#11008 [Key Vault Admin] No LROs on the generated code for now
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
Labels: KeyVault

#10957 [Service Bus] Add AMQPAnnotatedMessage to the ReceivedMessage
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
Labels: Service Bus

#10996 [Event Hubs] Prep for 5.3.0 release
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#10808 [Identity] Subject name/issuer (SNI) auth for identity
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/azure-identity-chain-test.crt
  sdk/identity/identity/test/public/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#10661 [Identity] App Services MSI API version upgrade
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#11019 Sync eng/common directory with azure-sdk-tools for PR 955
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#11021 [service-bus] changelog update - adding in SharedAccessSignature
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#11018 [event-hubs, eventhubs-checkpointstore-blob] Fixing samples and readme
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/snippets.spec.ts
Labels: Event Hubs

#11022 [Text Analysis] Add a link to opinion mining sample to README
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#11023 [Service Bus] Rename ServiceBusManagementClient to ServiceBusAdministrationClient
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/administrationClient.js
  sdk/servicebus/service-bus/samples/javascript/advanced/listingEntities.js
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/administrationClient.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/listingEntities.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Service Bus

#11005 [storage-file-datalake]Upload stream fix
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/tsconfig.json
  sdk/storage/storage-common/src/BufferScheduler.browser.ts
  sdk/storage/storage-common/src/BufferScheduler.ts
  sdk/storage/storage-common/src/BuffersStream.ts
  sdk/storage/storage-common/src/PooledBuffer.ts
  sdk/storage/storage-common/src/index.browser.ts
  sdk/storage/storage-common/src/index.ts
  sdk/storage/storage-file-datalake/api-extractor.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/tsconfig.json
Labels: Storage

#10868 [storage] make credential in newPipeline's parameters optional
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/Pipeline.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
Labels: APIChange, Client, Storage

#10867 [storage-blob] add tier option for highlevel upload
  sdk/storage/storage-blob/recordings/browsers/highlevel/recording_set_tier_while_upload.json
  sdk/storage/storage-blob/recordings/node/highlevel/recording_set_tier_while_upload.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Labels: APIChange, Storage

#10854 [storage] Quick query follow-up
  sdk/storage/storage-blob-changefeed/samples/README.md
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_not_work_with_access_conditions_ifmodifiedsince.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_not_work_with_access_conditions_leaseid.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_aborter.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_access_conditions.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_blob_properties.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_csv_input_and_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_empty_results.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_fatal_error_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_json_input_and_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_large_file.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_non_fatal_error_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_progress_event.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_snapshot.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_where_conditionals.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/utils/BlobQuickQueryStream.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_nodejs_only/recording_quick_query_should_work.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-internal-avro/src/AvroParser.ts
  sdk/storage/storage-internal-avro/src/AvroReadableFromStream.ts
Labels: APIChange, Storage

#10988 [Tables] Fix Shared Key auth and update Readme
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/karma.conf.js
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.browser.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredential.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/data-tables/src/index.ts
  sdk/tables/data-tables/src/utils/accountConnectionString.browser.ts
  sdk/tables/data-tables/src/utils/accountConnectionString.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/src/utils/fromAccountConnectionString.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/test/integration/utils/recordedClient.ts
  sdk/tables/data-tables/test/unit/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/unit/utils.spec.ts
Labels: Tables

#11042 [Key Vault Admin] Recordings
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultaccesscontrolclients_requests/recording_can_abort_createroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultaccesscontrolclients_requests/recording_can_abort_deleteroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultaccesscontrolclients_requests/recording_can_abort_getroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultaccesscontrolclients_requests/recording_can_abort_listroledefinitions.js
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultbackupclients_requests/recording_can_abort_beginbackup.js
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultbackupclients_requests/recording_can_abort_beginrestore.js
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultbackupclients_requests/recording_can_abort_beginselectiverestore.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_createroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_createroleassignment_and_deleteroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_createroleassignment_getroleassignment_and_deleteroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_deleteroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_getroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_listroledefinitions.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient/recording_beginbackup.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient/recording_beginbackup_then_beginrestore.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient/recording_beginbackup_then_beginselectiverestore.js
Labels: KeyVault

#10815 [Key Vault Admin] Convenience layer - KeyVaultAccessControlClient
  sdk/keyvault/keyvault-admin/api-extractor.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/rollup.base.config.js
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/index.ts
  sdk/keyvault/keyvault-admin/src/log.ts
  sdk/keyvault/keyvault-admin/src/mappings.ts
  sdk/keyvault/keyvault-admin/src/tracing.ts
  sdk/keyvault/keyvault-admin/tsconfig.json
Labels: KeyVault

#10902 Sync eng/common directory with azure-sdk-tools for PR 823
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/common.ps1
Labels: EngSys

#11020 [core-http] Treat '=' in query parameter values as valid
  sdk/core/core-http/src/url.ts
  sdk/core/core-http/test/urlTests.ts
Labels: Azure.Core

#11047 [Tables] Change prerelease tag
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
Labels: Tables

#10990 [Tables] make PartitionKey and RowKey camel case
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/samples/typescript/src/connectionString.ts
  sdk/tables/data-tables/samples/typescript/src/sasToken.ts
  sdk/tables/data-tables/samples/typescript/src/sharedKey.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/generated/models/index.ts
  sdk/tables/data-tables/src/generated/models/mappers.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/swagger/README.md
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
  sdk/tables/data-tables/test/unit/serialization.spec.ts
Labels: Tables

#11054 Sync eng/common directory with azure-sdk-tools repository
  eng/common/Update-Change-Log.ps1
Labels: EngSys

#11052 [Tables] Tables serialization fixes
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/test/unit/serialization.spec.ts
Labels: Tables

#11055 Sync eng/common directory with azure-sdk-tools for PR 969
  eng/common/README.md
Labels: EngSys

#11006 [storage][STG73] prepare for release
  common/config/rush/common-versions.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/src/utils/constants.ts
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-internal-avro/CHANGELOG.md
  sdk/storage/storage-internal-avro/LICENSE
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Storage

#10166 StreamToString() does not corrupt images anymore.
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/samples/javascript/basic.js
  sdk/storage/storage-blob/samples/javascript/errorsAndResponses.js
  sdk/storage/storage-blob/samples/javascript/readingSnapshot.js
  sdk/storage/storage-blob/samples/typescript/src/basic.ts
  sdk/storage/storage-blob/samples/typescript/src/errorsAndResponses.ts
  sdk/storage/storage-blob/samples/typescript/src/readingSnapshot.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/samples/javascript/basic.js
  sdk/storage/storage-file-datalake/samples/typescript/basic.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/samples/javascript/basic.js
  sdk/storage/storage-file-share/samples/typescript/src/basic.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
Labels: Storage

#11026 [Service Bus] Add ServiceBus prefix to ReceivedMessage
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/auth.spec.ts
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/receiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/managementClient.spec.ts
  sdk/servicebus/service-bus/test/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/retries.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/smoketest.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/misc.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#10769 [Event Hubs] Add examples in jsdocs
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
Labels: Event Hubs

#11049 Bump the template version for JS
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
Labels: EngSys

#11092 [Event Hub] Prettying
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/test/diagnostics/messageSpan.spec.ts
Labels: Event Hubs

#11106 [event-hubs/core-amqp] Updating changelogs for release date
  sdk/core/core-amqp/CHANGELOG.md
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Azure.Core, Event Hubs

#11104 [Tables] prettying
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/utils/accountConnectionString.browser.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/test/unit/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/unit/utils.spec.ts
Labels: Tables

#11099 [core-http] Update changelog for 1.1.8 release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#11112 [event-hubs] reference latest version of core-amqp that has SAS support
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Labels: Event Hubs

#11098 [Service Bus] Prettying
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/operationOptionsForATOM.spec.ts
Labels: Service Bus

#11111 [Tables] Update changelog
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#11025 [Service Bus] Throw error when entityPath in connection string does not match input to client methods
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Labels: Service Bus

#11119 Increment version for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#11116 [schema registry] set release date and update README
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/README.md
Labels: Schema Registry

#11122 [Service Bus] Fix integration test failure on master
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
Labels: Service Bus

#11125 [Tables] Add release date
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables, auto-merge

#11085 [App Configuration] Prettying
  sdk/appconfiguration/app-configuration/test/testHelpers.ts
Labels: AzConfig

#11079 [Text Analytics] Prettying
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizePiiEntitiesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Labels: Cognitive - Text Analytics

#11096 [Search] Prettying
  sdk/search/search-documents/test/node/searchClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/node/searchIndexerClient.spec.ts
  sdk/search/search-documents/test/utils/setup.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Labels: Search

#11082 [Identity] Prettying
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/test/public/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#10984 Added EnableExpress property
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
Labels: Service Bus

#11144 [Service Bus] Test fix - Followup of entityPath update
  sdk/servicebus/service-bus/src/constructorHelpers.ts
Labels: Service Bus

#11130 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
Labels: Tables

#11058 [service-bus] Logging updates
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
  sdk/servicebus/service-bus/test/internal/linkentity.unittest.spec.ts
Labels: Service Bus

#11151 [Tables] Fix readme, version and useragent
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables

#11153 [Service Bus] Fix browser test failures - New logging tests
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
Labels: Service Bus

#11009 [Key Vault Admin] Convenience layer - KeyVaultBackupClient
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/index.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
Labels: KeyVault

#11137 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#11139 Increment version for storage releases
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/src/utils/constants.ts
Labels: Storage

#11121 Increment version for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: Azure.Core

#11120 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#11160 [Service Bus] Browser bundling
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples-v1/README.md
  sdk/servicebus/service-bus/samples/README.md
Labels: Service Bus

#11143 [Storage] Fix file datalake build warning.
  sdk/storage/storage-file-datalake/src/utils/utils.node.ts
Labels: Storage

#11165 [storage][blob] fix README.md
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-datalake/README.md
Labels: Storage

#11107 Improve the precommit hook
  .prettierignore
  common/autoinstallers/rush-prettier/package.json
  common/autoinstallers/rush-prettier/pnpm-lock.yaml
  common/config/rush/command-line.json
  common/config/rush/common-versions.json
  common/git-hooks/pre-commit
Labels: Prettier config

#11088 [CosmosDB] Prettying
  sdk/cosmosdb/cosmos/test/functional/item.spec.ts
Labels: Cosmos

#11101 [Storage] Prettying
  sdk/storage/storage-blob-changefeed/src/LazyLoadingBlobStreamFactory.ts
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/utils.spec.ts
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-datalake/src/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-share/src/ShareClientInternal.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils.spec.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
  sdk/storage/storage-internal-avro/karma.conf.js
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/src/utils/utils.common.ts
Labels: Storage

#11175 [Service Bus] Fix MaxListenersExceededWarning by avoiding adding too many listeners
  sdk/servicebus/service-bus/src/core/managementClient.ts
Labels: Service Bus

#11176 [Service Bus] Release prep for service-bus preview.6
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/migrationguide.md
Labels: Service Bus

#11167 Sync eng/common directory with azure-sdk-tools for PR 982
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys

#11184 [Service Bus] Migration guide link to point preview-6
  sdk/servicebus/service-bus/README.md
Labels: Service Bus

#11158 Enable master link replacement feature for js
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: EngSys

#11188 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#11044 Sync eng/common directory with azure-sdk-tools for PR 965
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys

#11199 [Key Vault] September release PR
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
Labels: KeyVault

#11208 Added keyvault-admin into artifact list
  sdk/keyvault/ci.yml
Labels: KeyVault

#11126 Sync eng/common directory with azure-sdk-tools for PR 973
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#11057 [Tables] Add samples
  sdk/tables/data-tables/samples/javascript/package.json
  sdk/tables/data-tables/samples/javascript/readme.md
  sdk/tables/data-tables/samples/javascript/sample.env
  sdk/tables/data-tables/samples/javascript/src/authenticationMethods.js
  sdk/tables/data-tables/samples/javascript/src/connectionString.js
  sdk/tables/data-tables/samples/javascript/src/createAndDeleteEntities.js
  sdk/tables/data-tables/samples/javascript/src/createAndDeleteTable.js
  sdk/tables/data-tables/samples/javascript/src/queryEntities.js
  sdk/tables/data-tables/samples/javascript/src/queryTables.js
  sdk/tables/data-tables/samples/javascript/src/sasToken.js
  sdk/tables/data-tables/samples/javascript/src/sharedKey.js
  sdk/tables/data-tables/samples/javascript/src/updateAndUpsertEntities.js
  sdk/tables/data-tables/samples/typescript/package.json
  sdk/tables/data-tables/samples/typescript/readme.md
  sdk/tables/data-tables/samples/typescript/sample.env
  sdk/tables/data-tables/samples/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/typescript/src/connectionString.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/typescript/src/sasToken.ts
  sdk/tables/data-tables/samples/typescript/src/sharedKey.ts
  sdk/tables/data-tables/samples/typescript/src/updateAndUpsertEntities.ts
  sdk/tables/data-tables/samples/typescript/tsconfig.json
Labels: Tables

#11217 [service-bus] Track 1 - updating amqp-common@1.0.0-preview.17 to fix .address undefined errors
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/README.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/javascript/advanced/deferral.js
  sdk/servicebus/service-bus/samples/javascript/advanced/movingMessagesToDLQ.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/javascript/advanced/sessionState.js
  sdk/servicebus/service-bus/samples/javascript/advanced/topicFilters.js
  sdk/servicebus/service-bus/samples/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/javascript/package.json
  sdk/servicebus/service-bus/samples/javascript/scheduledMessages.js
  sdk/servicebus/service-bus/samples/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/javascript/servicePrincipalLogin.js
  sdk/servicebus/service-bus/samples/javascript/session.js
  sdk/servicebus/service-bus/samples/tsconfig.json
  sdk/servicebus/service-bus/samples/typescript/README.md
  sdk/servicebus/service-bus/samples/typescript/package.json
  sdk/servicebus/service-bus/samples/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/movingMessagesToDLQ.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/sessionState.ts
  sdk/servicebus/service-bus/samples/typescript/src/advanced/topicFilters.ts
  sdk/servicebus/service-bus/samples/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/scheduledMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/typescript/src/servicePrincipalLogin.ts
  sdk/servicebus/service-bus/samples/typescript/src/session.ts
  sdk/servicebus/service-bus/samples/typescript/src/useProxy.ts
  sdk/servicebus/service-bus/samples/typescript/tsconfig.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#11212 [Monitor] add autorest config
  sdk/monitor/monitor-opentelemetry-exporter/.eslintignore
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/mappers.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/parameters.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
Labels: Monitor

#11159 Update CODEOWNERS
  .github/CODEOWNERS
Labels: auto-merge

#11218 Allow skip publish DocMS or Github IO for each artifact
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: EngSys

#11171 [storage][stg74] swagger update
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/README.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generated/src/models/blobMappers.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/pathOperations.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/models/serviceMappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/shareMappers.ts
  sdk/storage/storage-file-share/src/generated/src/operations/directory.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/operations/messageId.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: APIChange, Storage

#11215 Increment version for keyvault releases
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/utils/constants.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/utils/constants.ts
Labels: KeyVault

#11169 enable no-duplicate-imports eslint rule. Fixed no-duplicate issues in service-bus project
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#11266 [App Configuration] Use the eslint plugin
  .eslintrc.json
  sdk/appconfiguration/app-configuration/package.json
Labels: App Configuration

#11241 [Monitor][Codegen] Use RequestData/RemoteDependency interfaces
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/RemoteDependencyData.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/RequestData.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Contracts/Generated/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
Labels: Monitor

#11264 Sync eng/common directory with azure-sdk-tools for PR 999
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#11265 Sync eng/common directory with azure-sdk-tools for PR 1000
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/replace-relative-links.yml
Labels: EngSys

#11195 [storage] uploadStream bug-fix
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-common/src/BuffersStream.ts
  sdk/storage/storage-common/src/PooledBuffer.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/node/highlevel_nodejs_only/recording_uploadstream_should_success_for_tiny_buffers.js
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
Labels: Storage

#11295 [storage][test] fix an unstable case
  sdk/storage/storage-blob/recordings/node/blobclient/recording_create_append_blob_should_work_with_tags.js
  sdk/storage/storage-blob/test/blobclient.spec.ts
Labels: Storage

#11281 [service-bus] Check abortSignal in SessionReceiver.subscribe()
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/abortSignal.spec.ts
Labels: Service Bus

#11129 Sync eng/common directory with azure-sdk-tools for PR 974
  eng/common/scripts/common.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys

#11300 [service-bus] readme update - we reference the latest stable service bus package and it should be 1.1.10
  sdk/servicebus/service-bus/README.md
Labels: Service Bus

#11298 [Monitor] remove unnecessary returns
  sdk/monitor/monitor-opentelemetry-exporter/test/common/assert.ts
Labels: Monitor

#11250 [Service Bus] Bug Fix: Incorrect connection-config in the token credential path
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Labels: Service Bus

#11299 [Cosmos] Switches back to universal-user-agent
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/rollup.config.js
  sdk/cosmosdb/cosmos/src/common/platform.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.browser.ts
  sdk/cosmosdb/cosmos/src/utils/user-agent.ts
Labels: Cosmos

#11311 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#11313 [Text Analytics] Update release date
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#11226 [core-http] Move challenge based auth to core-http
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  eng/.docsettings.yml
  rush.json
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/policies/challengeBasedAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/challengeBasedAuthenticationPolicyTests.ts
  sdk/keyvault/keyvault-admin/api-extractor.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/rollup.base.config.js
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-admin/tsconfig.json
  sdk/keyvault/keyvault-certificates/api-extractor.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/tsconfig.json
  sdk/keyvault/keyvault-common/index.ts
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-common/src/index.ts
  sdk/keyvault/keyvault-common/tsconfig.json
  sdk/keyvault/keyvault-keys/api-extractor.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/tsconfig.json
  sdk/keyvault/keyvault-secrets/api-extractor.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/tsconfig.json
Labels: Azure.Core, KeyVault

#11330 Enable the link check on aggregate-report
  eng/pipelines/aggregate-reports.yml
Labels: EngSys

#11315 Increment version for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
Labels: Cognitive - Text Analytics

#11238 [Tables] Enable recorded tests in CI
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_boolean.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_date.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_datetime.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_guid.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_int32.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_int64.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_only_primitives.json
  sdk/tables/data-tables/recordings/browsers/tableclient_createentity_and_getentity/recording_should_createentity_with_primitive_int_and_float.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_binary_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_list_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_create_and_get_table/recording_should_create_new_table.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_all.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_by_page.json
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_boolean.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_date.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_datetime.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_guid.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_int32.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_int64.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_only_primitives.js
  sdk/tables/data-tables/recordings/node/tableclient_createentity_and_getentity/recording_should_createentity_with_primitive_int_and_float.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_binary_with_filter.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_by_page.js
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_list_with_filter.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_create_and_get_table/recording_should_create_new_table.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_all.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_by_page.js
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/test/integration/utils/recordedClient.ts
Labels: Tables

#11201 [Core-http] Support xml namespaces
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-client/test/testMappers.ts
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/test/serviceClientTests.ts
  sdk/core/core-http/test/testMappers.ts
Labels: Azure.Core

#11321 Add testcases for handling odata
  sdk/search/search-documents/src/odata.ts
  sdk/search/search-documents/test/odata.spec.ts
Labels: Search

#11354 [Identity] Fix broken eslint in the builds
  sdk/identity/identity/.eslintignore
  sdk/identity/identity/.eslintrc.json
  sdk/identity/identity/test/public/clientCertificateCredential.spec.ts
  sdk/identity/identity/tsconfig.json
Labels: Azure.Identity

#11269 [Abort Controller] Update linting and fix linting errors
  sdk/core/abort-controller/.eslintrc.json
  sdk/core/abort-controller/api-extractor.json
  sdk/core/abort-controller/package.json
  sdk/core/abort-controller/review/abort-controller.api.md
  sdk/core/abort-controller/rollup.base.config.js
  sdk/core/abort-controller/shims-public.d.ts
  sdk/core/abort-controller/src/AbortController.ts
  sdk/core/abort-controller/src/AbortSignal.ts
  sdk/core/abort-controller/src/index.ts
  sdk/core/abort-controller/test/aborter.spec.ts
Labels: Azure.Core

#11355 [Identity] Idea for the Device Code Credential Use Console Feature
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
Labels: Azure.Identity

#11370 [Key Vault] Use the swagger generated from the service 7.2-preview
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#11372 Smoke test failure due to rollup peer dependency error
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#11216 Increment version for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
Labels: KeyVault

#11347 Sync eng/common directory with azure-sdk-tools for PR 1022
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys

#11406 Disable smoke test for storage-blob-changefeed
  sdk/storage/storage-blob-changefeed/package.json
Labels: Storage

#11274 [Core paging] Update linting scripts and auto linting
  sdk/core/core-paging/.eslintrc.json
  sdk/core/core-paging/package.json
  sdk/core/core-paging/src/index.ts
  sdk/core/core-paging/types/3.1/core-paging.d.ts
  sdk/core/core-paging/types/latest/core-paging.d.ts
Labels: Azure.Core

#11178 [storage][stg74] SMB Multi-Channel
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient_premium/recording_smb_multichannel.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient_premium/recording_smb_multichannel.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/sample.env
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Labels: Storage

#11221 [Service Bus] Remove stream-browserify dependency
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#11410 [service-bus] Fixing broken option - we renamed maxWaitTimeInSeconds to maxWaitTimeInMs
  sdk/servicebus/service-bus/samples/javascript/receiveMessagesLoop.js
Labels: Service Bus

#11325 [core-http] Add NDJSON support
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/pipelineOptions.ts
  sdk/core/core-http/src/policies/ndJsonPolicy.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/policies/ndJsonPolicyTests.ts
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/src/index.ts
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/src/policies/ndJsonPolicy.ts
  sdk/core/core-https/test/ndJsonPolicy.spec.ts
Labels: Azure.Core, Client

#11214 Sync eng/common directory with azure-sdk-tools for PR 989
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
Labels: EngSys

#11449 [Cosmos] Adding missing copyright headers
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/number.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/prefix.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/string.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v1.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v2.ts
  sdk/cosmosdb/cosmos/src/utils/offers.ts
  sdk/cosmosdb/cosmos/test/unit/hashing/v1.spec.ts
  sdk/cosmosdb/cosmos/test/unit/hashing/v2.spec.ts
Labels: Cosmos

#11427 Type docs fix
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/errors.ts
Labels: Service Bus, customer-reported

#11457 [storage][stg74] container restore
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/generatedModels.ts
Labels: Storage

#11455 [storage][stg74] get file range diff
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_getrangelist_with_share_snapshot.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_getrangelistdiff.json
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_getrangelistdiff_with_share_snapshot.json
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_getrangelist_with_share_snapshot.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_getrangelistdiff.js
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_getrangelistdiff_with_share_snapshot.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/generated/src/models/fileMappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/index.browser.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-file-share/test/specialnaming.spec.ts
Labels: Storage

#11423 [storage][stg74] quick query new output format "arrow"
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_arrow_output_configurations.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/src/utils/utils.node.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_nodejs_only/recording_quick_query_should_work_with_arrow_output_configuration.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
Labels: Storage

#11395 [storage][stg74] Delegation SAS v2 and Directory SAS
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASResourceTypes.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASServices.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DirectorySASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/FileSystemSASPermissions.ts
  sdk/storage/storage-file-datalake/src/sas/SASQueryParameters.ts
  sdk/storage/storage-file-datalake/src/sas/SasIPRange.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
Labels: Storage

#11258 [storage][stg74] queue improvement
  sdk/storage/storage-queue/recordings/browsers/queueclient_messageid_methods/recording_update_visibility_timeout_only_preserve_content.json
  sdk/storage/storage-queue/recordings/node/queueclient_messageid_methods/recording_update_visibility_timeout_only_preserve_content.js
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
Labels: Storage

#11177 [storage][stg74] 4TB file for standard account
  sdk/storage/storage-file-share/recordings/browsers/fileclient/recording_create_largest_file.json
  sdk/storage/storage-file-share/recordings/node/fileclient/recording_create_largest_file.js
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Storage

#11461 [storage][stg74] set expiry
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__absolute.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__neverexpire.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__override.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__relativetocreation.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_set_expiry__relativetonow.json
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__absolute.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__neverexpire.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__override.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__relativetocreation.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_set_expiry__relativetonow.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/StorageClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Storage

#11433 [Identity] Testing now cleans
  sdk/identity/identity/package.json
Labels: Azure.Identity

#11454 Sync eng/common directory with azure-sdk-tools for PR 1041
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
Labels: EngSys

#11424 Extend tsconfig in cosmos, identity from base config
  sdk/cosmosdb/cosmos/tsconfig.json
  sdk/identity/identity/tsconfig.json
Labels: Azure.Identity, Cosmos

#11443 [Service Bus] Run lint:fix script
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/tracing.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/errors.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
Labels: Service Bus

#11447 [Form Recognizer] lint script does not need exit 0
  sdk/formrecognizer/ai-form-recognizer/package.json
Labels: Cognitive - Form Recognizer

#11462 Update README.md
  sdk/search/search-documents/README.md
Labels: Search, customer-reported

#11432 [core] Mark core 2.0 packages as publishable
  sdk/core/ci.yml
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-https/CHANGELOG.md
  sdk/core/core-https/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core, Client

#11445 [Search] Run lint:fix script
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/test/odata.spec.ts
  sdk/search/search-documents/test/utils/setup.ts
  sdk/search/search-documents/test/utils/setupIndex.ts
Labels: Search

#11380 [Key Vault Keys] Add new algorithms
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault
