Repository Azure/azure-sdk-for-js, pull requests merged in 2020-03, with the labels that each got.

#7600 [Storage] Fix unstable access policy SAS cases.
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-share/src/ShareClient.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
Labels: Client, Storage

#7636 [ai-text-analytics] API changes for Preview 3
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_detectlanguage/recording_client_accepts_none_country_hint_with_detectlanguageinput_input.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_detectlanguage/recording_client_accepts_none_country_hint_with_string_input.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_detectlanguage/recording_client_accepts_none_country_hint_with_detectlanguageinput_input.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_detectlanguage/recording_client_accepts_none_country_hint_with_string_input.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/textAnalyticsClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/textAnalyticsClient.spec.ts
Labels: Client, TextAnalytics

#7635 [KeyVault] per-test-case timeout to 180000ms
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/keyvault/keyvault-secrets/package.json
Labels: Client, KeyVault

#7432 [KeyVault] How to fill the form of the Deploy button (second attempt)
  sdk/keyvault/TEST_RESOURCES_README.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault

#7663 [ai-text-analytics] Rename type for SentimentConfidenceScores
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Client, TextAnalytics

#7650 [KeyVault-Certificates] can get the certificate secret in PKCS12 and PEM format
  sdk/keyvault/keyvault-certificates/.gitignore
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_get_a_certificates_secret_in_pem_format.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_get_a_certificates_secret_in_pkcs_12_format.js
  sdk/keyvault/keyvault-certificates/test/CRUD.test.ts
Labels: Client, KeyVault

#7649 [core][search] log additional headers on requests
  sdk/core/core-http/src/util/sanitizer.ts
  sdk/search/search/src/searchIndexClient.ts
Labels: Azure.Core, Client, Search

#6924 Fixed unexpected hang issue when uploading empty body, fixed #6904
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/utils/Batch.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/recordings/node/fileclient_nodejs_only/recording_uploaddata_with_empty_buffer.js
  sdk/storage/storage-file-share/src/utils/Batch.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Labels: Client, Storage

#7688 [ai-text-analytics] characterCount -> graphemeCount
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Client, TextAnalytics

#7693 Remove webpack dependency from root
  package.json
Labels: EngSys, Mgmt

#7697 [ai-text-analytics] Repo Documentation Fixes for Preview 3
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Client, TextAnalytics

#7641 [search] Updates for preview 1
  .github/CODEOWNERS
  dataplane.code-workspace
  sdk/search/search/CHANGELOG.md
  sdk/search/search/README.md
  sdk/search/search/package.json
  sdk/search/search/review/search.api.md
  sdk/search/search/samples/javascript/README.md
  sdk/search/search/samples/javascript/package.json
  sdk/search/search/samples/javascript/readonlyQuery.js
  sdk/search/search/samples/javascript/sample.env
  sdk/search/search/samples/tsconfig.json
  sdk/search/search/samples/typescript/README.md
  sdk/search/search/samples/typescript/package.json
  sdk/search/search/samples/typescript/sample.env
  sdk/search/search/samples/typescript/src/readonlyQuery.ts
  sdk/search/search/samples/typescript/tsconfig.json
  sdk/search/search/src/constants.ts
  sdk/search/search/src/generated/data/models/index.ts
  sdk/search/search/src/generated/data/models/mappers.ts
  sdk/search/search/src/generated/data/models/parameters.ts
  sdk/search/search/src/generated/data/operations/documents.ts
  sdk/search/search/src/generated/data/searchIndexClient.ts
  sdk/search/search/src/generated/data/searchIndexClientContext.ts
  sdk/search/search/src/index.ts
  sdk/search/search/src/models.ts
  sdk/search/search/src/odataMetadataPolicy.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/swagger/Data.md
Labels: Client, Search

#7719 Set release date for search
  sdk/search/search/CHANGELOG.md
  sdk/search/search/README.md
Labels: Client, Search

#7725 Increment version for search releases
  sdk/search/search/CHANGELOG.md
  sdk/search/search/package.json
  sdk/search/search/src/constants.ts
  sdk/search/search/src/generated/data/searchIndexClientContext.ts
Labels: Client, Search

#7723 [KeyVault] Inline sample fixes
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/src/index.ts
Labels: Client, KeyVault

#7626 [Service Bus] Track 2 API complete implementation(2-client version) and test updates
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/internalReceivers.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/old/oldServiceBusReceiverClient.ts
  sdk/servicebus/service-bus/src/old/queueClient.ts
  sdk/servicebus/service-bus/src/old/serviceBusClient.ts
  sdk/servicebus/service-bus/src/old/subscriptionClient.ts
  sdk/servicebus/service-bus/src/old/topicClient.ts
  sdk/servicebus/service-bus/src/serviceBusReceiverClient.ts
  sdk/servicebus/service-bus/src/serviceBusSenderClient.ts
  sdk/servicebus/service-bus/src/track2/samples.ts
  sdk/servicebus/service-bus/src/track2/serviceBusReceiverClient.ts
  sdk/servicebus/service-bus/src/track2/utils.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sendSchedule.spec.ts
  sdk/servicebus/service-bus/test/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
  sdk/servicebus/service-bus/test/track2.samples.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/tsconfig.json
Labels: Client, Service Bus

#7728 Remove unused dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
Labels: Client

#7729 [eslint-plugin-azure-sdk] remove markdownlint-cli build dependency
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#7736 [Cosmos] Rollup - throw errors if circular dependencies are present
  sdk/cosmosdb/cosmos/rollup.config.js
Labels: Client, Cosmos

#7732 [Cosmos] remove package-lock file in cosmos/samples
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/package-lock.json
Labels: Client, Cosmos

#7664 [KeyVault] README improvements
  sdk/keyvault/README.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/samples/javascript/README.md
  sdk/keyvault/keyvault-certificates/samples/typescript/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/samples/javascript/README.md
  sdk/keyvault/keyvault-keys/samples/typescript/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/samples/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/typescript/README.md
Labels: Client, Docs, KeyVault

#7750 [KeyVault] Defined a release date for 4.1.0-preview.1
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: Client, KeyVault

#7751 [search] Regenerate from service swagger
  sdk/search/search/src/generated/service/models/dataSourcesMappers.ts
  sdk/search/search/src/generated/service/models/index.ts
  sdk/search/search/src/generated/service/models/indexersMappers.ts
  sdk/search/search/src/generated/service/models/indexesMappers.ts
  sdk/search/search/src/generated/service/models/mappers.ts
  sdk/search/search/src/generated/service/models/parameters.ts
  sdk/search/search/src/generated/service/models/skillsetsMappers.ts
  sdk/search/search/src/generated/service/models/synonymMapsMappers.ts
  sdk/search/search/src/generated/service/operations/dataSources.ts
  sdk/search/search/src/generated/service/operations/indexers.ts
  sdk/search/search/src/generated/service/operations/indexes.ts
  sdk/search/search/src/generated/service/operations/skillsets.ts
  sdk/search/search/src/generated/service/operations/synonymMaps.ts
  sdk/search/search/src/generated/service/searchServiceClient.ts
  sdk/search/search/src/generated/service/searchServiceClientContext.ts
  sdk/search/search/swagger/Service.md
Labels: Client, Search

#7787 [Service Bus] Settlement methods should throw error in receiveAndDelete mode
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
Labels: Client, Service Bus

#7803 [service-bus] Implementing the top level `ServiceBusClient` design
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/internalReceivers.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusReceiverClient.ts
  sdk/servicebus/service-bus/src/serviceBusSenderClient.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/sendSchedule.spec.ts
  sdk/servicebus/service-bus/test/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/topicFilters.spec.ts
  sdk/servicebus/service-bus/test/track2.samples.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Client, Service Bus

#7795 Smoke Test: use configurable authority host
  common/smoke-test/BlobStorage.ts
  common/smoke-test/KeyVault.ts
  common/smoke-test/package.json
  common/smoke-test/smoke-tests.yml
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Labels: EngSys

#7822 [amqp-common] Increase timeout from 10s to 60s to avoid `"$cbs" timeout`s
  sdk/core/amqp-common/changelog.md
  sdk/core/amqp-common/package.json
  sdk/core/amqp-common/src/requestResponseLink.ts
Labels: Azure.Core, Client, Service Bus

#7823 [Service Bus] [Track 1] Update service-bus with the amqp-common latest
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Client, Service Bus

#7824 [service-bus] Remove samples frontmatter and reference old version in README
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/samples/javascript/README.md
  sdk/servicebus/service-bus/samples/typescript/README.md
Labels: Client, Service Bus

#7862 [Service Bus] Update test scripts with `clean command` for consistence and convenience
  sdk/servicebus/service-bus/package.json
Labels: Client, Service Bus

#7865 [Service Bus] Merge 'hotfix/service-bus-1.1.4-increase-timeout' into master
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Client, Service Bus

#7804 Add instructions for running live tests to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: EngSys

#7527 [Service Bus] sendBatch() for service-bus
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/invalidParameters.spec.ts
  sdk/servicebus/service-bus/test/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Client, Service Bus

#7906 [Service Bus] Remove entityType param everywhere
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/sessionManager.ts
Labels: Client, Service Bus

#7758 [search] Add SearchServiceClient with index-related methods
  sdk/search/search/review/search.api.md
  sdk/search/search/src/generated/service/models/index.ts
  sdk/search/search/src/generated/service/models/mappers.ts
  sdk/search/search/src/generated/service/models/parameters.ts
  sdk/search/search/src/generated/service/operations/dataSources.ts
  sdk/search/search/src/generated/service/operations/indexers.ts
  sdk/search/search/src/generated/service/operations/indexes.ts
  sdk/search/search/src/generated/service/operations/skillsets.ts
  sdk/search/search/src/generated/service/operations/synonymMaps.ts
  sdk/search/search/src/index.ts
  sdk/search/search/src/indexModels.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/src/searchServiceClient.ts
  sdk/search/search/src/serviceModels.ts
  sdk/search/search/swagger/Service.md
Labels: Client, Search

#7873 Convert core-http to use interfaces for requests
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/browserFetchHttpClient.ts
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/credentials/apiKeyCredentials.ts
  sdk/core/core-http/src/credentials/basicAuthenticationCredentials.ts
  sdk/core/core-http/src/credentials/serviceClientCredentials.ts
  sdk/core/core-http/src/fetchHttpClient.ts
  sdk/core/core-http/src/httpHeaders.ts
  sdk/core/core-http/src/httpOperationResponse.ts
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-http/src/policies/generateClientRequestIdPolicy.ts
  sdk/core/core-http/src/policies/keepAlivePolicy.ts
  sdk/core/core-http/src/policies/logPolicy.ts
  sdk/core/core-http/src/policies/proxyPolicy.browser.ts
  sdk/core/core-http/src/policies/proxyPolicy.ts
  sdk/core/core-http/src/policies/redirectPolicy.ts
  sdk/core/core-http/src/policies/requestPolicy.ts
  sdk/core/core-http/src/policies/rpRegistrationPolicy.ts
  sdk/core/core-http/src/policies/signingPolicy.ts
  sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-http/src/policies/throttlingRetryPolicy.ts
  sdk/core/core-http/src/policies/tracingPolicy.ts
  sdk/core/core-http/src/policies/userAgentPolicy.ts
  sdk/core/core-http/src/proxyAgent.ts
  sdk/core/core-http/src/restError.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-http/src/xhrHttpClient.ts
Labels: Azure.Core, Client

#7965 [core-http] Fix default deserialization policy
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/src/searchServiceClient.ts
Labels: Azure.Core, Client

#7931 Alternative custom reporter to mocha-multi
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/mocha-multi-reporter.js
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-arm/test/mocha.opts
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-http/test/mocha.opts
  sdk/core/core-lro/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Client

#7988 [core-http] Support dashes in parameter names
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-http/test/webResourceTests.ts
Labels: Azure.Core, Client

#7992 [Service Bus] Remove atomManagementApi references in 1.x
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/samples/javascript/atomManagementApi.js
  sdk/servicebus/service-bus/samples/typescript/src/atomManagementApi.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
Labels: Client, Service Bus

#7973 [event-hubs] set known amqp props on systemProperties
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
Labels: Client, Event Hubs

#8020 [Service Bus] Test utils improvement - Swap [`actual`,`expected`] fields for should.equal
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Client, Service Bus

#8022 [ai-text-analytics] Rename inputs -> documents
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Labels: Client, TextAnalytics

#8015 Run formatter on storage blob, queue, datalake
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-blob/src/pollers/BlobStartCopyFromUrlPoller.ts
  sdk/storage/storage-blob/src/utils/Mutex.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-datalake/execute-samples.js
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/StorageClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-file-datalake/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-datalake/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-file-datalake/src/transforms.ts
  sdk/storage/storage-file-datalake/src/utils/utils.browser.ts
  sdk/storage/storage-file-datalake/src/utils/utils.node.ts
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/transforms.spec.ts
  sdk/storage/storage-file-datalake/test/utils.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileSystemAttributes.ts
  sdk/storage/storage-file-share/src/ShareDirectoryClient.ts
  sdk/storage/storage-file-share/src/ShareFileClient.ts
  sdk/storage/storage-file-share/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
  sdk/storage/storage-file-share/test/node/utils.spec.ts
  sdk/storage/storage-file-share/test/utils/MockPolicy.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/utils/assert.ts
Labels: Client, Storage

#8025 [Service Bus] Fix sendBatch test's cleanup failure for sessions
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Client, Service Bus

#7961 [search] Add batch helper object
  sdk/search/search/CHANGELOG.md
  sdk/search/search/README.md
  sdk/search/search/review/search.api.md
  sdk/search/search/src/generated/data/models/index.ts
  sdk/search/search/src/generated/data/models/mappers.ts
  sdk/search/search/src/index.ts
  sdk/search/search/src/indexDocumentsBatch.ts
  sdk/search/search/src/indexModels.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/swagger/Data.md
Labels: Client, Search

#8071 remove .exe, better exception handling for version update scripts
  eng/tools/versioning/VersionUtils.js
  eng/tools/versioning/increment.js
  eng/tools/versioning/set-dev.js
  eng/tools/versioning/set-version.js
Labels: EngSys

#8073 [app-configuration] Fixing some test suite timeouts from too many parallel requests
  sdk/appconfiguration/app-configuration/test/index.spec.ts
Labels: App Configuration, Client

#8091 [identity] Fix browser bundle issue
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/defaultAzureCredential.browser.ts
Labels: Azure.Identity, Client

#7927 [core-auth][ai-text-analytics] AzureKeyCredential
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/README.md
  sdk/core/core-auth/package.json
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/azureKeyCredential.ts
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/test/index.spec.ts
  sdk/core/core-http/package.json
  sdk/servicebus/service-bus/package.json
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/analyzeSentiment.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/detectLanguage.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/extractKeyPhrases.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeEntities.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizeLinkedEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-text-analytics/src/azureKeyCredentialPolicy.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsApiKeyCredential.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/pipelineOptions.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/recordedClient.ts
  sdk/textanalytics/ai-text-analytics/tsconfig.json
Labels: Azure.Core, Client, TextAnalytics

#7993 [Storage] disable decompression of response when downloading
  common/config/rush/common-versions.json
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/node/blockblobclient_nodejs_only/recording_should_not_decompress_during_downloading.js
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/recordings/node/fileclient_nodejs_only/recording_should_not_decompress_during_downloading.js
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
Labels: Client, Storage

#8096 [identity] Fix build:test break
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
Labels: Azure.Identity, Client

#8069 Identity update versions in repo to point to new preview
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-lro/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity/test/manual-integration/AzureVM/package.json
  sdk/identity/identity/test/manual-integration/Cloudshell/package.json
  sdk/identity/identity/test/manual-integration/Kubernetes/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/samples/package.json
  sdk/storage/storage-queue/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: EngSys

#8098 [Service Bus] Update Ref Docs to docs.microsoft.com
  sdk/servicebus/service-bus/README.md
Labels: Client, Service Bus

#8106 [Service Bus] Removing `dataTransformer` from the ClientOptions
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Client, Service Bus

#8094 [search] Migrate to AzureKeyCredential
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/policies/requestPolicy.ts
  sdk/search/search/CHANGELOG.md
  sdk/search/search/README.md
  sdk/search/search/package.json
  sdk/search/search/review/search.api.md
  sdk/search/search/samples/javascript/readonlyQuery.js
  sdk/search/search/samples/typescript/src/readonlyQuery.ts
  sdk/search/search/src/index.ts
  sdk/search/search/src/searchApiKeyCredential.ts
  sdk/search/search/src/searchApiKeyCredentialPolicy.ts
  sdk/search/search/src/searchIndexClient.ts
  sdk/search/search/src/searchServiceClient.ts
Labels: Client, Search

#8108 Update to mocha 7
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/test/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/throwOrNotThrow.spec.ts
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-arm/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-tracing/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/crypto.test.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/search/search/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobclientpollers.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Azure.Core, Client

#7963 [core-http] Support text/plain request endpoints
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/serviceClientTests.ts
Labels: Azure.Core
