Repository Azure/azure-sdk-for-js, pull requests merged in 2021-03, with the labels that each got.

#13040 [Cosmos] Fix linting issues in tests
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/inMemoryCollectionRoutingMap.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/platform.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/smartRoutingMapProvider.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/MockClientContext.ts
  sdk/cosmosdb/cosmos/test/public/common/MockQueryIterator.ts
  sdk/cosmosdb/cosmos/test/public/common/TestData.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/common/setup.ts
  sdk/cosmosdb/cosmos/test/public/functional/authorization.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/globalEndpointManager.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/offer.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/permission.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/plugin.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/spatial.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/sproc.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/ttl.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/user.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/encoding.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/failover.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/multiregion.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/proxy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/queryMetrics.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/split.spec.ts
Labels: Cosmos

#14018 [Cosmos] Remove tslint usage
  sdk/cosmosdb/cosmos/.eslintrc.json
  sdk/cosmosdb/cosmos/dev.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples/.eslintrc.json
  sdk/cosmosdb/cosmos/samples/DatabaseManagement.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/ConflictWorker.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/Worker.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/app.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/config.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/src/queryMetrics/runtimeExecutionTimes.ts
  sdk/cosmosdb/cosmos/src/queryMetrics/timeSpan.ts
  sdk/cosmosdb/cosmos/src/request/defaultAgent.ts
  sdk/cosmosdb/cosmos/src/routing/QueryRange.ts
  sdk/cosmosdb/cosmos/src/utils/globalCrypto.native.ts
  sdk/cosmosdb/cosmos/test/.eslintrc.json
  sdk/cosmosdb/cosmos/test/public/functional/sproc.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/trigger.spec.ts
  sdk/cosmosdb/cosmos/tslint.json
Labels: Cosmos

#13932 [Storage] Fix the self vs window rule in storage packages
  sdk/storage/storage-blob-changefeed/test/utils/testutils.common.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-datalake/test/utils/index.browser.ts
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
  sdk/storage/storage-queue/test/node/emulator-tests.spec.ts
  sdk/storage/storage-queue/test/utils/index.browser.ts
  sdk/storage/storage-queue/test/utils/testutils.common.ts
Labels: Client, Storage

#14022 [template] Make README Logging section consistent
  sdk/anomalydetector/ai-anomaly-detector/README.md
  sdk/attestation/attestation/README.md
  sdk/core/core-amqp/README.md
  sdk/core/core-lro/README.md
  sdk/digitaltwins/digital-twins-core/README.md
  sdk/eventgrid/eventgrid/README.md
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/README.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/mixedreality/mixedreality-authentication/README.md
  sdk/search/search-documents/README.md
  sdk/servicebus/service-bus/README.md
  sdk/template/template/README.md
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor, EngSys

#14034 [Text Analytics] Regenerate using an updated swagger for StringIndexType
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#13949 [keyvault] Change over to using core-tracing
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/tracing.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-certificates/src/tracing.ts
  sdk/keyvault/keyvault-common/src/index.ts
  sdk/keyvault/keyvault-common/src/tracing.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keyVaultCryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/src/tracing.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/src/tracing.ts
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Search, Service Bus, Storage, Synapse, Tables

#13736 [core-http] Token refresher fix
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/karma.conf.ts
  sdk/core/core-http/src/credentials/accessTokenRefresher.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
Labels: Azure.Core, auto-merge

#14040 [service-bus] Don't create unneeded empty spans when linking in message batches.
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/unit/tracing.spec.ts
Labels: Azure.Core, Event Hubs, Service Bus

#13886 Update live test yaml to use cloud and matrix configuration
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/appconfiguration/app-configuration/tests.yml
  sdk/attestation/attestation/tests.yml
  sdk/attestation/platform-matrix.json
  sdk/communication/communication-administration/tests.yml
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-sms/tests.yml
  sdk/digitaltwins/digital-twins-core/tests.yml
  sdk/eventgrid/eventgrid/tests.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/eventhub/eventhubs-checkpointstore-blob/tests.yml
  sdk/formrecognizer/ai-form-recognizer/tests.yml
  sdk/keyvault/keyvault-admin/platform-matrix.json
  sdk/keyvault/keyvault-admin/tests.yml
  sdk/keyvault/keyvault-certificates/tests.yml
  sdk/keyvault/keyvault-keys/platform-matrix.json
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
  sdk/metricsadvisor/ai-metrics-advisor/tests.yml
  sdk/mixedreality/mixedreality-authentication/tests.yml
  sdk/monitor/monitor-opentelemetry-exporter/tests.yml
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry/tests.yml
  sdk/search/search-documents/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/storage-blob/platform-matrix.json
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/tests.yml
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
  sdk/tables/data-tables/tests.yml
  sdk/template/template/tests.yml
  sdk/textanalytics/ai-text-analytics/tests.yml
Labels: App Configuration, Central-EngSys, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Tables

#14038 [Text Analytics] Expose healthcare relationships
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_input_strings.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeHealthcareEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14045 [Text Analytics] add normalizedText to healthcare entities
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeHealthcareEntitiesResult.ts
Labels: Cognitive - Text Analytics, auto-merge

#14027 Update Storage File Data Lake Readme
  sdk/storage/storage-file-datalake/README.md
Labels: Storage

#14048 [Text Analytics] Remove relatedEntities property from healthcare entities
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeHealthcareEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14037 [service-bus][test] extract key values into constants
  sdk/servicebus/service-bus/test/internal/unit/atomXml.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/testConstants.ts
Labels: Service Bus

#14052 Fix broken live test configurations
  sdk/attestation/attestation/tests.yml
  sdk/containerregistry/container-registry/tests.yml
  sdk/eventgrid/eventgrid/tests.yml
  sdk/eventhub/event-processor-host/tests.yml
  sdk/mixedreality/mixedreality-authentication/tests.yml
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry/tests.yml
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/tests.yml
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
Labels: Central-EngSys, Event Grid, Event Hubs, Storage

#14041 [MetrisAdvisor][Test] use simple values in key rotation unit tests
  sdk/metricsadvisor/ai-metrics-advisor/test/public/keyRotation.spec.ts
Labels: Cognitive - Metrics Advisor

#14043 [Text Analytics] Add piiCategories to recognizePiiEntities
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_fast_tests_recognizepiientities/recording_accepts_pii_categories.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_fast_tests_recognizepiientities/recording_output_pii_categories_are_accepted_as_input.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_fast_tests_recognizepiientities/recording_accepts_pii_categories.js
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_fast_tests_recognizepiientities/recording_output_pii_categories_are_accepted_as_input.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#14055 [Text Analytics] Tiny edits
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeHealthcareEntitiesResult.ts
Labels: Cognitive - Text Analytics, auto-merge

#14008 Use internal tag for private methods and fields
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
Labels: Cognitive - Metrics Advisor

#14056 Exclude min/max testing for communication-administration live tests
  sdk/communication/communication-administration/tests.yml
Labels: Communication

#13715 [Text Analytics] Migrating to core v2
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/azureKeyCredentialPolicy.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/poller.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsOperationOptions.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/internal/tracing.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
Labels: Cognitive - Text Analytics

#14028 Update Metrics Advisor Readme
  sdk/metricsadvisor/ai-metrics-advisor/README.md
Labels: Cognitive - Metrics Advisor

#14046 [communication-common] Add options bag for getToken function, mark @hidden where applicable
  sdk/communication/communication-chat/src/credential/communicationTokenCredentialPolicy.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.browser.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/autoRefreshTokenCredential.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/credential/clientArguments.ts
  sdk/communication/communication-common/src/credential/communicationAccessKeyCredentialPolicy.ts
  sdk/communication/communication-common/src/credential/communicationAuthPolicy.ts
  sdk/communication/communication-common/src/credential/connectionString.ts
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/test/communicationTokenCredential.spec.ts
  sdk/communication/communication-common/test/identifierModelSerializer.spec.ts
  sdk/communication/communication-common/tsdoc.json
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-identity/review/communication-identity.api.md
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
Labels: Communication

#14061 [Key Vault] Re-recorded a test that was failing on playback
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete/recording_can_create_read_and_delete_a_certificate_issuer.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_create_read_and_delete_a_certificate_issuer.js
Labels: KeyVault

#14065 [Communication]: Fix communication test pipeline after build script change
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-sms/tests.yml
Labels: Communication

#14058 Update JS samples: issueToken() is now getToken()
  sdk/communication/communication-identity/samples/javascript/issueToken.js
  sdk/communication/communication-identity/samples/javascript/revokeTokens.js
Labels: Communication, auto-merge

#14062 [core-util] Create `@azure/core-util`
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/LICENSE
  sdk/core/core-util/README.md
  sdk/core/core-util/api-extractor.json
  sdk/core/core-util/karma.conf.js
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/rollup.config.js
  sdk/core/core-util/samples/.gitkeep
  sdk/core/core-util/src/delay.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/src/isNode.browser.ts
  sdk/core/core-util/src/isNode.ts
  sdk/core/core-util/test/browser/isNode.spec.ts
  sdk/core/core-util/test/delay.spec.ts
  sdk/core/core-util/test/node/isNode.spec.ts
  sdk/core/core-util/tsconfig.json
Labels: Azure.Core, Client, auto-merge

#14024 [Perf Tests][Storage Blob] Fixes to tsconfigs/package.json and adds NoOp test
  sdk/storage/perf-tests/storage-blob-track-1/package.json
  sdk/storage/perf-tests/storage-blob-track-1/tsconfig.json
  sdk/storage/perf-tests/storage-blob/package.json
Labels: Storage, auto-merge

#13936 Fixing inconsistencies in package.json scripts
  sdk/appconfiguration/app-configuration/rollup.base.config.js
  sdk/core/abort-controller/package.json
  sdk/core/core-lro/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
Labels: App Configuration, Azure.Core

#14020 [Text Analytics] Adding performance testing for language detection
  common/config/rush/pnpm-lock.yaml
  eng/.docsettings.yml
  rush.json
  sdk/textanalytics/perf-tests/text-analytics/README.md
  sdk/textanalytics/perf-tests/text-analytics/package.json
  sdk/textanalytics/perf-tests/text-analytics/sample.env
  sdk/textanalytics/perf-tests/text-analytics/test/detectLanguage.spec.ts
  sdk/textanalytics/perf-tests/text-analytics/test/index.spec.ts
  sdk/textanalytics/perf-tests/text-analytics/tsconfig.json
Labels: Cognitive - Text Analytics, auto-merge

#14072 Remove Samples and Readme References with apiKeys
  sdk/search/search-documents/README.md
  sdk/search/search-documents/samples/javascript/README.md
  sdk/search/search-documents/samples/javascript/src/readonlyQuery.js
  sdk/search/search-documents/samples/typescript/README.md
  sdk/search/search-documents/samples/typescript/src/readonlyQuery.ts
Labels: Search

#14073 [Perf] Rename perfstress-test to perf-test
  sdk/storage/storage-blob/package.json
  sdk/test-utils/perfstress/README.md
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/perfstress/runAllTests.sh
Labels: Storage

#14070 [Text Analytics] Better names for assertions
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
Labels: Cognitive - Text Analytics

#14078 [communication-identity] Rename createUserWithToken to createUserAndToken
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-identity/review/communication-identity.api.md
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
  sdk/communication/communication-identity/test/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/utils/mockHttpClients.ts
  sdk/communication/communication-identity/test/utils/testCommunicationIdentityClient.ts
Labels: Communication

#14083 Sync eng/common directory with azure-sdk-tools for PR 1456
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#14085 [Text Analytics] Rename assertion types to not use the healthcare prefix
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/index.ts
Labels: Cognitive - Text Analytics

#14081 [Text Analytics] Fix bugs for entity linking actions
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_single_entities_linking_action.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_single_entities_linking_action.js
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#14080 [EventGrid] Fill in link in MIGRATION.md
  sdk/eventgrid/eventgrid/MIGRATION.md
Labels: Event Grid

#14086 [Text Analytics] Increase discoverability for OM
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Labels: Cognitive - Text Analytics, auto-merge

#14082 [core-tracing] In-place change of the version for core-tracing from -beta to -preview and compatible type change
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-sms/package.json
  sdk/containerregistry/container-registry/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-tracing/.eslintrc.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/interfaces.ts
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/mixedreality/mixedreality-authentication/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Search, Service Bus, Storage, Synapse, Tables

#14089 [abort-controller] prepare for 1.0.4 release
  sdk/core/abort-controller/CHANGELOG.md
Labels: Azure.Core

#14090 [Text Analytics] Fix a compiler option in perf test
  sdk/textanalytics/perf-tests/text-analytics/test/detectLanguage.spec.ts
  sdk/textanalytics/perf-tests/text-analytics/tsconfig.json
Labels: Cognitive - Text Analytics, auto-merge

#13955 [Tables] Fix and enable Batch browser tests
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_handle_sub_request_error.json
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_a_set_of_create_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_a_set_of_delete_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_a_set_of_update_batch_operations.json
  sdk/tables/data-tables/src/TableBatch.ts
  sdk/tables/data-tables/src/utils/baseBatchHeaders.ts
  sdk/tables/data-tables/src/utils/batchHeaders.browser.ts
  sdk/tables/data-tables/src/utils/batchHeaders.ts
  sdk/tables/data-tables/test/integration/batch.spec.ts
Labels: Tables

#14096 Update communicationIdentityClient.ts
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
Labels: Communication

#14067 Fix enums that were gone after moving to V6 SDK code generator
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/index.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/mappers.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/parameters.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/swagger/README.md
Labels: Cognitive - Metrics Advisor

#13984 [Cosmos] Benchmark readme
  sdk/cosmosdb/cosmos/benchmarking/INSTRUCTIONS.md
  sdk/cosmosdb/cosmos/benchmarking/items.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
Labels: Cosmos

#14093 [core-rest-pipeline] Flip keepAlive boolean
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpsClient.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/storage/perf-tests/storage-blob/test/core-rest-pipeline.spec.ts
Labels: Azure.Core, Client, auto-merge

#14095 [ai-form-recognizer] Bugfix for error codes not being shown correctly.
  sdk/formrecognizer/ai-form-recognizer/src/internalModels.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze/recognitionPoller.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
Labels: Client, Cognitive - Form Recognizer

#14091 [EventGrid] Add Performance Test
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/eventgrid/perf-tests/eventgrid/README.md
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/eventgrid/perf-tests/eventgrid/sample.env
  sdk/eventgrid/perf-tests/eventgrid/test/index.spec.ts
  sdk/eventgrid/perf-tests/eventgrid/test/sendCloudEvents.spec.ts
  sdk/eventgrid/perf-tests/eventgrid/tsconfig.json
Labels: Event Grid

#14094 [tracing] Moving spanOptions to `tracingOptions` in PipelineRequest
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/core-tracing/src/createSpan.ts
  sdk/core/core-tracing/test/createSpan.spec.ts
  sdk/tables/data-tables/src/TableBatch.ts
Labels: Azure.Core, Tables

#14107 [Text Analytics] Update tests for new healthcare model
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_all_documents_have_errors.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_all_inputs_with_errors.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_cancelled.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_document_warnings.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_documents_with_duplicate_ids.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_family_emoji_wit_skin_tone_modifier_with_unicodecodepoint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_family_emoji_wit_skin_tone_modifier_with_utf16codeunit.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_input_documents.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_input_strings.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_invalid_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_invalid_language_hint_in_doc.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_operation_metadata.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_output_has_the_same_order_as_input.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_output_has_the_same_order_as_input_with_out_of_order_ids.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_payload_too_large.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_show_stats_and_model_version.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_some_inputs_with_errors.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_too_many_documents.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_whole_batch_empty_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_whole_batch_empty_language_hint_per_doc.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_whole_batch_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_whole_batch_with_multiple_languages.json
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_all_documents_have_errors.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_all_inputs_with_errors.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_cancelled.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_document_warnings.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_documents_with_duplicate_ids.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_family_emoji_wit_skin_tone_modifier_with_unicodecodepoint.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_family_emoji_wit_skin_tone_modifier_with_utf16codeunit.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_input_documents.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_input_strings.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_invalid_language_hint.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_invalid_language_hint_in_doc.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_operation_metadata.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_output_has_the_same_order_as_input.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_output_has_the_same_order_as_input_with_out_of_order_ids.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_payload_too_large.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_show_stats_and_model_version.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_some_inputs_with_errors.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_too_many_documents.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_whole_batch_empty_language_hint.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_whole_batch_empty_language_hint_per_doc.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_whole_batch_language_hint.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_whole_batch_with_multiple_languages.js
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14103 [logger] Split up logging in the browser
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/rollup.base.config.js
  sdk/core/logger/src/log.browser.ts
  sdk/core/logger/test/browser/logger.spec.ts
Labels: Azure.Core, Client, auto-merge

#14105 update version for @azure/data-tables
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables

#14112 [logger] Put release date in logger package
  sdk/core/logger/CHANGELOG.md
Labels: Azure.Core, Client, auto-merge

#14115 [Perf] Remove debug logging from listBlobs
  sdk/storage/perf-tests/storage-blob-track-1/test/listBlobs.spec.ts
  sdk/storage/perf-tests/storage-blob/test/listBlobs.spec.ts
Labels: Storage

#13991 Update Communication Chat to Preview 4 Version
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/src/models/requests.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
Labels: Communication

#14119 Sync eng/common directory with azure-sdk-tools for PR 1459
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#14122 Sync eng/common directory with azure-sdk-tools for PR 1467
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#14121 Sync eng/common directory with azure-sdk-tools for PR 1465
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: Central-EngSys, EngSys

#14101 Sync eng/common directory with azure-sdk-tools for PR 1448
  eng/common/scripts/Create-APIReview.ps1
Labels: Central-EngSys, EngSys

#14118 Increment version for core releases
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#13924 [KeyVault] Replace KEYVAULT_NAME with KEYVAULT_URI in docs
  sdk/keyvault/keyvault-admin/sample.env
  sdk/keyvault/keyvault-admin/samples/javascript/README.md
  sdk/keyvault/keyvault-admin/samples/javascript/sample.env
  sdk/keyvault/keyvault-admin/samples/typescript/README.md
  sdk/keyvault/keyvault-admin/samples/typescript/sample.env
  sdk/keyvault/keyvault-admin/test/README.md
  sdk/keyvault/keyvault-certificates/test/README.md
  sdk/keyvault/keyvault-keys/samples/javascript/README.md
  sdk/keyvault/keyvault-keys/samples/typescript/README.md
  sdk/keyvault/keyvault-keys/test/README.md
  sdk/keyvault/keyvault-secrets/samples/typescript/README.md
  sdk/keyvault/keyvault-secrets/test/README.md
  sdk/test-utils/recorder/README.md
Labels: KeyVault

#14113 [eventhubs,service-bus]: re-add legacy tracing options
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/diagnostics/tracing.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
Labels: Event Hubs, Service Bus

#14127 [Service Bus] Fix mocha glob pattern to pick tests correctly
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, auto-merge

#14130 Sync eng/common directory with azure-sdk-tools for PR 1461
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: Central-EngSys, EngSys

#14137 Sync eng/common directory with azure-sdk-tools for PR 1470
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#14142 [core-rest-pipeline][core-client] Replace "HTTPS" with "HTTP" in interface names
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/httpClientCache.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/README.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/defaultHttpClient.browser.ts
  sdk/core/core-rest-pipeline/src/defaultHttpClient.ts
  sdk/core/core-rest-pipeline/src/defaultHttpsClient.browser.ts
  sdk/core/core-rest-pipeline/src/defaultHttpsClient.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipeline.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
  sdk/storage/perf-tests/storage-blob/test/core-rest-pipeline.spec.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/pipelineOptions.spec.ts
Labels: Azure.Core, Client, Cognitive - Text Analytics, auto-merge

#14143 [Text Analytics] Fix a bug for returning stats for analyze
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_statistics.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_statistics.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeBatchActions.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14145 Sync eng/common directory with azure-sdk-tools for PR 1472
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: Central-EngSys, EngSys

#14123 [Identity] Hotfix 1.2.4
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#14148 [Text Analytics] Disable pii categories for analyze
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Labels: Cognitive - Text Analytics, auto-merge

#14162 [Text Analytics] Add displayName back for analyzeBatchActions
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_operation_metadata.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_operation_metadata.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/poller.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14166 Fixing the small typo in issue 14163.
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
Labels: Cosmos

#14104 Increment version for core releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
Labels: Azure.Core

#14164 [Text Analytics] Add a testcase for healthcare entity assertions
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_entity_assertions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_entity_assertions.js
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14147 [Text Analytics] Fix the poller for healthcare
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#14168 [KeyVault] - Use status field for LRO error conditions
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient_role_definitions_upsertroledefinition/recording_errors_when_name_is_not_a_valid_guid.js
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Labels: KeyVault

#14154 Revert "[core-http] Token refresher fix"
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/karma.conf.ts
  sdk/core/core-http/src/credentials/accessTokenRefresher.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
Labels: Azure.Core

#14152 Add back notification tests + more events tests
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.spec.ts
Labels: Communication

#14174 [KeyVault] - Update changelog dates for KeyVault Keys and Secrets
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#14170 [core v2] prepare for GA release
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob/package.json
  sdk/tables/data-tables/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics, Event Grid, Storage, Tables

#14183 [event-hubs] prepare for 5.5.0-beta.1 release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#14181 [Communication] Update karma to not use karma-map-istanbul
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-phone-numbers/package.json
Labels: Communication, auto-merge

#14185 Perf projects should depend on the versions present in master branch
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: Cognitive - Text Analytics, Event Grid, auto-merge

#14178 Map the create thread result
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
Labels: Communication

#14125 [Communication] SMS 1:N Messages - Update Samples
  sdk/communication/communication-sms/README.md
  sdk/communication/communication-sms/samples/javascript/package.json
  sdk/communication/communication-sms/samples/javascript/sample.env
  sdk/communication/communication-sms/samples/javascript/sendSms.js
  sdk/communication/communication-sms/samples/typescript/package.json
  sdk/communication/communication-sms/samples/typescript/sample.env
  sdk/communication/communication-sms/samples/typescript/src/sendSms.ts
Labels: Communication

#14179 Sync eng/common directory with azure-sdk-tools for PR 1452
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Labels: Central-EngSys, EngSys

#14194 [Communication] remove dist-browser and update bundle instructions
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-common/README.md
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/README.md
Labels: Communication

#13533 arm-operationalinsights-release
  sdk/operationalinsights/arm-operationalinsights/LICENSE.txt
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/operationalinsights/arm-operationalinsights/src/models/index.ts
  sdk/operationalinsights/arm-operationalinsights/src/models/mappers.ts
  sdk/operationalinsights/arm-operationalinsights/src/operationalInsightsManagementClientContext.ts
Labels: Mgmt

#14120 Preparing storage packages GA release for STG 76 features
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/pathOperations.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/generatedModels.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#14141 [Synapse] Update synapse-artifacts to consume latest swagger
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/index.ts
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/constants.ts
  sdk/synapse/synapse-artifacts/src/lro/index.ts
  sdk/synapse/synapse-artifacts/src/lro/locationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPoller.ts
  sdk/synapse/synapse-artifacts/src/lro/models.ts
  sdk/synapse/synapse-artifacts/src/lro/operation.ts
  sdk/synapse/synapse-artifacts/src/lro/passthroughStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/requestUtils.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/operations/index.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRun.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScript.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRun.ts
  sdk/synapse/synapse-artifacts/src/operations/workspace.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/tracing.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#14088 [Communication] SMS 1:N Messages - update tests - new test cases, refactor tests
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_can_send_a_sms_when_url_and_token_credential_are_provided.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_sends_a_sms_when_url_and_token_credential_are_provided.js
  sdk/communication/communication-sms/test/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/smsClient.spec.ts
  sdk/communication/communication-sms/test/smsClientWithToken.spec.ts
Labels: Communication

#14206 Increment version for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#14200 Increment version for keyvault releases
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
Labels: KeyVault, auto-merge

#14197 [Tables] Update changelog
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#14192 Sync eng/common directory with azure-sdk-tools for PR 1475
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#14203 Update Communication-Chat Readme && Changelog
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/README.md
Labels: Communication

#14199 [communication] activate phone number live tests
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_by_page.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_skip_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_finds_phone_number_to_purchase.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_purchases_the_phone_number_from_the_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_gets_a_phone_number_to_release.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_releases_the_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_cancel_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_cancel_an_update.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_an_acquired_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_by_page.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_skip_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_finds_phone_number_to_purchase.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_purchases_the_phone_number_from_the_search.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_gets_a_phone_number_to_release.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_releases_the_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_cancel_search.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_multiple_available_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_cancel_an_update.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/utils/index.ts
  sdk/communication/communication-phone-numbers/src/utils/mappers.ts
  sdk/communication/communication-phone-numbers/test/get.spec.ts
  sdk/communication/communication-phone-numbers/test/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/list.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.release.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/tests.yml
Labels: Communication

#14215 [communication-phone-numbers] Fix tests.yml to match new schema
  sdk/communication/communication-phone-numbers/tests.yml
Labels: Communication

#14217 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#14220 [communication] use correct connection string env var
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-phone-numbers/sample.env
  sdk/communication/communication-phone-numbers/test/utils/recordedClient.ts
Labels: Communication

#14218 [core-rest-pipeline] Fix serialization of body of false
  sdk/core/core-client/src/serializationPolicy.ts
Labels: auto-merge

#14128 [Cosmos] Adds sample for simple Bulk request
  sdk/cosmosdb/cosmos/samples/Bulk.ts
  sdk/cosmosdb/cosmos/samples/BulkUpdateWithSproc.ts
  sdk/cosmosdb/cosmos/samples/Shared/handleError.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
Labels: Cosmos

#14221 Sync eng/common directory with azure-sdk-tools for PR 1479
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#14188 [Core v2] Revert GA version bump and release another preview
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob/package.json
  sdk/tables/data-tables/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics, Event Grid, Storage, Tables

#14216 Increment version for communication releases
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/package.json
Labels: Communication

#14227 [cosmos] release 3.10.1
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#14228 update swagger: move get chat thread to chat thread client
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
Labels: Communication

#14237 Cosmos: project depends on azure/identity
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos, customer-reported

#14241 [Cosmos] Release 3.10.2
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#14247 [Text Analytics] Prepare for 5.1.0-beta.5 release
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics, auto-merge

#14246 [Text Analytics] Use camel case in assertion response strings
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
Labels: Cognitive - Text Analytics, auto-merge

#14238 upgrade karma from ^5.1.0 to ^6.2.0
  common/config/rush/pnpm-lock.yaml
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/attestation/attestation/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/containerregistry/container-registry/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-client/package.json
  sdk/core/core-crypto/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/mixedreality/mixedreality-authentication/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/multi-version/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Search, Service Bus, Storage, Tables

#14235 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables

#14230 Increment version for core releases
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: auto-merge

#14245 [cosmos] use TokenCredential from core-auth instead of identity
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
Labels: Cosmos

#14252 Update Changelog && Readme for beta6
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
Labels: Communication

#14256 Increment version for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
Labels: Cognitive - Text Analytics, auto-merge

#14255 [Text Analytics] Fix samples
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/package.json
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/samples/typescript/tsconfig.json
Labels: Cognitive - Text Analytics, auto-merge

#14257 Use ChatError Instead of CommunicationError
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/requests.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
Labels: Communication

#13935 [Service Bus] Linting error fixes
  sdk/servicebus/service-bus/.eslintrc.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/crypto.browser.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/runtimeInfo.browser.ts
  sdk/servicebus/service-bus/src/util/typeGuards.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/public/utils/envVarUtils.ts
Labels: Service Bus

#14259 Sync eng/common directory with azure-sdk-tools for PR 1485
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#14249 [Communication] - autorest - Follow up to automatic version incrementer
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/constants.ts
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/src/constants.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClientContext.ts
  sdk/communication/communication-identity/src/generated/src/models/index.ts
  sdk/communication/communication-identity/src/generated/src/operations/communicationIdentity.ts
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/src/constants.ts
  sdk/communication/communication-sms/src/generated/src/models/index.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClient.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClientContext.ts
Labels: Communication

#14264 [Cosmos] 3.10.3 release without @azure/identity
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#14205 [Communication] Replace fake phone numbers with faker number
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_a_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_a_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_can_send_a_sms_when_url_and_token_credential_are_provided.js
  sdk/communication/communication-sms/test/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/smsClient.spec.ts
  sdk/communication/communication-sms/test/utils/recordedClient.ts
Labels: Communication

#14261 [core-client] Add a test case for serializing a false body
  sdk/core/core-client/test/serializationPolicy.spec.ts
Labels: auto-merge

#14268 [core-client] set custom headers after serializing headers
  sdk/core/core-client/src/serializationPolicy.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serializationPolicy.spec.ts
Labels: Azure.Core

#14222 [DO NOT MERGE][Communication] Communication Chat Preview 5
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/src/models/requests.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
Labels: Communication

#14277 [Cosmos] Adds option for Bulk to continue on error
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
Labels: Cosmos

#14213 Sync eng/common directory with azure-sdk-tools for PR 1458
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#14195 Update Key Vault Keys Readme And Sample
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/samples/javascript/purgeAllKeys.js
Labels: KeyVault

#14209 Setting dev version is failing for Keyvault packages
  eng/tools/versioning/set-dev.js
Labels: Central-EngSys

#14289 Sync eng/common directory with azure-sdk-tools for PR 1490
  eng/common/pipelines/templates/steps/publish-artifact.yml
Labels: Central-EngSys, EngSys

#14047 Sync eng/common directory with azure-sdk-tools for PR 1418
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#14244 [communication] remove unsupported lro options
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/lroModels.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/test/lro.purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.release.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
Labels: Communication

#14136 [EventGrid] Add Additional ACS Events, Address Arch-Board Feedback for GA
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_cloudevent_schema/recording_enriches_events_with_distributed_tracing_information.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_cloudevent_schema/recording_sends_a_single_event.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_cloudevent_schema/recording_sends_multiple_events.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_custom_event_schema/recording_sends_a_single_event.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_custom_event_schema/recording_sends_multiple_events.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_error_cases_cloudevent_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_error_cases_custom_event_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_error_cases_eventgrid_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_eventgrid_schema/recording_sends_a_single_event.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_eventgrid_schema/recording_sends_multiple_events.json
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_cloudevent_schema/recording_enriches_events_with_distributed_tracing_information.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_cloudevent_schema/recording_sends_a_single_event.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_cloudevent_schema/recording_sends_multiple_events.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_custom_event_schema/recording_sends_a_single_event.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_custom_event_schema/recording_sends_multiple_events.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_error_cases_cloudevent_schema/recording_does_not_append_apievents.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_error_cases_custom_event_schema/recording_does_not_append_apievents.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_error_cases_eventgrid_schema/recording_does_not_append_apievents.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_eventgrid_schema/recording_sends_a_single_event.js
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_eventgrid_schema/recording_sends_multiple_events.js
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/consumer.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/systemEventDecoders.ts
  sdk/eventgrid/eventgrid/swagger/README.md
  sdk/eventgrid/eventgrid/test/consumer.spec.ts
  sdk/eventgrid/eventgrid/test/eventGridClient.spec.ts
  sdk/eventgrid/eventgrid/test/utils/testData.ts
Labels: Event Grid

#13982 [Git precommit hook] Deleted
  CONTRIBUTING.md
  common/git-hooks/pre-commit
Labels: auto-merge

#14313 Sync eng/common directory with azure-sdk-tools for PR 1496
  eng/common/scripts/Package-Properties.ps1
Labels: Central-EngSys, EngSys

#14315 Sync eng/common directory with azure-sdk-tools for PR 1463
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Labels: Central-EngSys, EngSys

#14317 [communication] link to sms event quickstart
  sdk/communication/communication-sms/README.md
  sdk/communication/communication-sms/samples/javascript/README.md
  sdk/communication/communication-sms/samples/typescript/README.md
Labels: Communication

#14323 Run format for SB, EH and Core AMQP
  sdk/core/core-amqp/src/errors.ts
  sdk/eventhub/event-hubs/test/internal/node/packageInfo.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/receivedMessagesTester.ts
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/test/internal/smoketest.spec.ts
  sdk/servicebus/service-bus/test/stress/scenarioLongRunning.ts
  sdk/servicebus/service-bus/test/stress/scenarioPeekMessages.ts
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
  sdk/servicebus/service-bus/test/stress/utils.ts
  sdk/servicebus/service-bus/tsconfig.json
Labels: Azure.Core, Event Hubs, Service Bus

#14325 Skip format scripts for auto generated pkgs
  sdk/attestation/attestation/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
Labels: Monitor, Synapse

#14326 [AppConfig, EventGrid, KeyVault, Tables] Run format
  sdk/appconfiguration/app-configuration/test/internal/tracingHelpers.spec.ts
  sdk/eventgrid/eventgrid/src/cloudEventDistrubtedTracingEnricherPolicy.ts
  sdk/eventgrid/eventgrid/src/eventGridAuthenticationPolicy.ts
  sdk/eventgrid/eventgrid/test/cloudEventDistributedTracingEnricherPolicy.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
Labels: App Configuration, Event Grid, KeyVault, Tables

#14263 [Mgmt identity script] Detect operation name
  common/tools/add-identity-mgmt-lib.js
Labels: auto-merge

#14328 [Communication] Use the standard format script
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
Labels: Communication

#14327 Fix failing format commands
  common/tools/dev-tool/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: Cognitive - Text Analytics, Digital Twins, Event Grid, Storage

#14324 Last set of formatting changes
  sdk/core/abort-controller/karma.conf.js
  sdk/core/core-auth/src/tracing.ts
  sdk/textanalytics/perf-tests/text-analytics/tsconfig.json
Labels: Azure.Core, auto-merge

#14316 [core-rest-pipeline] Add opt-in HTTP support
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
Labels: Azure.Core, Client

#13983 adding a check-format step in CI
  eng/pipelines/templates/steps/analyze.yml
  eng/tools/rush-runner.js
Labels: auto-merge

#14322 Fix linting
  common/tools/dev-tool/.eslintrc.json
  common/tools/dev-tool/package.json
  sdk/.eslintrc.internal.json
  sdk/containerregistry/container-registry/src/repositoryClient.ts
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/eventgrid/perf-tests/eventgrid/test/sendCloudEvents.spec.ts
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-blob/test/listBlobs.spec.ts
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/test-utils/multi-version/package.json
  sdk/test-utils/multi-version/test/multiVersion.spec.ts
  sdk/test-utils/perfstress/.eslintrc.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/.eslintrc.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
  sdk/textanalytics/perf-tests/text-analytics/test/detectLanguage.spec.ts
Labels: Cognitive - Text Analytics, Event Grid, Storage, auto-merge
