Repository Azure/azure-sdk-for-js, pull requests merged in 2021-01, with the labels that each got.

#12934 Add the environment variable
  sdk/tables/data-tables/samples/javascript/sample.env
  sdk/tables/data-tables/samples/typescript/sample.env
Labels: Tables

#13045 Add richardpark-msft as CODEOWNER for monitor and core-tracing
  .github/CODEOWNERS
Labels: auto-merge

#12966 [core-http(s)] Reuse DefaultHttpClient between ServiceClient instances
  sdk/core/core-client/src/httpClientCache.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/httpClientCache.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/test/serviceClientTests.ts
Labels: Azure.Core, Client, auto-merge

#13030 [schema registry] Facilitate live test runs on arbitrary endpoint
  sdk/schemaregistry/schema-registry/karma.conf.js
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_by_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_registers_schema.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_sets_endpoint_and_adjusts_user_agent_prefix_in_constructor.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_by_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_registers_schema.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_sets_endpoint_and_adjusts_user_agent_prefix_in_constructor.js
  sdk/schemaregistry/schema-registry/sample.env
  sdk/schemaregistry/schema-registry/test/schemaRegistry.spec.ts
  sdk/schemaregistry/schema-registry/test/utils/recordedClient.ts
Labels: Schema Registry

#13055 [app-configuration] Fixing some lint issues
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/cryptoHelpers.browser.ts
  sdk/appconfiguration/app-configuration/src/internal/cryptoHelpers.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/synctokenpolicy.ts
  sdk/appconfiguration/app-configuration/src/internal/tracingHelpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/policies/throttlingRetryPolicy.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/package.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/throttlingRetryPolicyTests.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/tracingHelpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/throwOrNotThrow.spec.ts
  sdk/appconfiguration/app-configuration/tsdoc.json
Labels: App Configuration, auto-merge

#13067 Update migrationguide.md
  sdk/servicebus/service-bus/migrationguide.md
Labels: Service Bus, auto-merge

#12719 Add support to test multi service API version
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  eng/.docsettings.yml
  rush.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/public/list.spec.ts
  sdk/keyvault/keyvault-keys/test/utils/testAuthentication.ts
  sdk/test-utils/multi-version/README.md
  sdk/test-utils/multi-version/package.json
  sdk/test-utils/multi-version/rollup.config.js
  sdk/test-utils/multi-version/src/global.browser.ts
  sdk/test-utils/multi-version/src/global.ts
  sdk/test-utils/multi-version/src/index.ts
  sdk/test-utils/multi-version/src/multiVersion.ts
  sdk/test-utils/multi-version/test/multiVersion.spec.ts
  sdk/test-utils/multi-version/tsconfig.json
Labels: Client, test-utils-multi-version

#13058 Sync eng/common directory with azure-sdk-tools for PR 1299
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#13057 [EventGrid] Make `build:samples" work
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/samples/javascript/package.json
  sdk/eventgrid/eventgrid/samples/javascript/src/consumeEventsFromServiceBusQueue.js
  sdk/eventgrid/eventgrid/samples/tsconfig.json
  sdk/eventgrid/eventgrid/samples/typescript/package.json
  sdk/eventgrid/eventgrid/samples/typescript/src/consumeEventsFromServiceBusQueue.ts
Labels: Event Grid

#13074 Sync eng/common directory with azure-sdk-tools for PR 1278
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#13075 [core-auth] remove core-tracing dependency
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-auth/src/tracing.ts
Labels: Azure.Core

#12269 Fix datalake Readme issue
  sdk/storage/storage-file-datalake/README.md
Labels: Storage, auto-merge

#12850 Storage/sas improvement
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_sas_permission_parse_from_raw_object_should_work.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/sas/AccountSASPermissions.ts
  sdk/storage/storage-blob/src/sas/BlobSASPermissions.ts
  sdk/storage/storage-blob/src/sas/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/sas/ContainerSASPermissions.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
Labels: APIChange, Storage

#13071 Sync eng/common directory with azure-sdk-tools for PR 1298
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#13037 Regenerate Chat SDK
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_threads.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_threads.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
Labels: Communication

#13072 [Tables] Fix typos in samples
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/samples/javascript/src/batchOperations.js
  sdk/tables/data-tables/samples/javascript/src/queryEntities.js
  sdk/tables/data-tables/samples/javascript/src/updateAndUpsertEntities.js
  sdk/tables/data-tables/samples/typescript/src/batchOperations.ts
  sdk/tables/data-tables/samples/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/typescript/src/updateAndUpsertEntities.ts
Labels: Tables, auto-merge

#13090 [Identity] upgrade axios version
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
Labels: Azure.Identity

#13073 [service-bus] Making BatchingReceiver properly cleanup after an abort
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/internal/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
Labels: Service Bus

#13069 [Service Bus] Bug Fix: Correlation Rule Filter with the "label" doesn't filter the messages
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/atomRuleFilters.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus, auto-merge

#13026 arm-containerservice-release
  sdk/containerservice/arm-containerservice/LICENSE.txt
  sdk/containerservice/arm-containerservice/README.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/rollup.config.js
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
  sdk/containerservice/arm-containerservice/src/containerServiceClientContext.ts
  sdk/containerservice/arm-containerservice/src/models/agentPoolsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/containerServicesMappers.ts
  sdk/containerservice/arm-containerservice/src/models/index.ts
  sdk/containerservice/arm-containerservice/src/models/maintenanceConfigurationsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/managedClustersMappers.ts
  sdk/containerservice/arm-containerservice/src/models/mappers.ts
  sdk/containerservice/arm-containerservice/src/models/operationsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/parameters.ts
  sdk/containerservice/arm-containerservice/src/models/privateEndpointConnectionsMappers.ts
  sdk/containerservice/arm-containerservice/src/models/privateLinkResourcesMappers.ts
  sdk/containerservice/arm-containerservice/src/models/resolvePrivateLinkServiceIdMappers.ts
  sdk/containerservice/arm-containerservice/src/operations/agentPools.ts
  sdk/containerservice/arm-containerservice/src/operations/containerServices.ts
  sdk/containerservice/arm-containerservice/src/operations/index.ts
  sdk/containerservice/arm-containerservice/src/operations/maintenanceConfigurations.ts
  sdk/containerservice/arm-containerservice/src/operations/managedClusters.ts
  sdk/containerservice/arm-containerservice/src/operations/openShiftManagedClusters.ts
  sdk/containerservice/arm-containerservice/src/operations/operations.ts
  sdk/containerservice/arm-containerservice/src/operations/privateEndpointConnections.ts
  sdk/containerservice/arm-containerservice/src/operations/privateLinkResources.ts
  sdk/containerservice/arm-containerservice/src/operations/resolvePrivateLinkServiceId.ts
Labels: Mgmt

#13098 Sync eng/common directory with azure-sdk-tools for PR 1302
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#13096 [core-amqp] Revert 2.1.0 changes and prep for 2.0.1 release
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/src/util/parseEndpoint.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/config.spec.ts
  sdk/eventhub/event-hubs/test/impl/parseEndpoint.spec.ts
  sdk/servicebus/service-bus/package.json
Labels: Azure.Core, Event Hubs, Service Bus

#13070 10597 fix package.json linting errors
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-engine-is-present.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-homepage.md
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-engine-is-present.ts
  common/tools/eslint-plugin-azure-sdk/src/utils/metadata.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-engine-is-present.ts
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/.eslintrc.json
  sdk/core/core-xml/package.json
  sdk/cosmosdb/cosmos/.eslintrc.json
  sdk/cosmosdb/cosmos/package.json
  sdk/digitaltwins/digital-twins-core/api-extractor.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/.eslintrc.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/README.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/api-extractor.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/.eslintrc.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/.eslintrc.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/.eslintrc.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/api-extractor.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-internal-avro/tsconfig.json
  sdk/storage/storage-queue/package.json
  sdk/test-utils/perfstress/.eslintrc.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/recorder/.eslintrc.json
  sdk/test-utils/recorder/package.json
Labels: App Configuration, Cognitive - Form Recognizer, Communication, Cosmos, Digital Twins, EngSys, Event Hubs, Monitor, Search, Service Bus, Storage, Tables

#13097 Sync eng/common directory with azure-sdk-tools for PR 1301
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#12905 OT Exporter retry when there are network issues
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
Labels: Monitor

#13106 [eph] Skip EPH samples from smoke-test runs
  sdk/eventhub/event-processor-host/package.json
Labels: Event Hubs

#13104 [core] prepare for January 2021 release
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/logger/CHANGELOG.md
Labels: Azure.Core, auto-merge

#13110 Increment version for core releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#13112 Changelog entry for Identity 1.2.1
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#13060 [Search] Fix the Linter Errors
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/base64.browser.ts
  sdk/search/search-documents/src/base64.ts
  sdk/search/search-documents/src/geographyPoint.ts
  sdk/search/search-documents/src/indexDocumentsBatch.ts
  sdk/search/search-documents/src/logger.ts
  sdk/search/search-documents/src/odata.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/searchIndexingBufferedSenderImpl.ts
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/tracing.ts
Labels: Search

#13114 Treat any new lint regression as hard failure in CI
  sdk/search/search-documents/package.json
Labels: Search

#13113 Remove outdated list of packages that support identity package
  sdk/identity/identity/README.md
Labels: Azure.Identity, auto-merge

#12885 Storage/stg75 GA API fix
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_setproperties.json
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_setproperties.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
Labels: APIChange, Storage

#13127 Sync eng/common directory with azure-sdk-tools for PR 1306
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#13131 [Service Bus] Remove message count check - flaky rule filter test
  sdk/servicebus/service-bus/test/atomRuleFilters.spec.ts
Labels: Service Bus, auto-merge

#13130 Sync eng/common directory with azure-sdk-tools for PR 1308
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#13031 [Text Analytics] [3.1-preview.3 design] Exposing job's metadata as part of the poller state for LROs
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_job_metadata.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_job_metadata.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_job_metadata.js
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_job_metadata.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyze.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeResult.ts
  sdk/textanalytics/ai-text-analytics/src/healthResult.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/poller.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#13115 [Keys] Revert change that introduced enum for API version that had only the latest API version value
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/internal/serviceVersionParameter.spec.ts
Labels: KeyVault

#13111 Getting the smoke testing pipeline green again
  sdk/communication/communication-administration/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
Labels: Cognitive - Form Recognizer, Communication

#13032 [Text Analytics] Organize healthcare entities as nodes in a graph
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeSentimentResult.ts
  sdk/textanalytics/ai-text-analytics/src/healthResult.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics

#13140 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#13144 [Service Bus] 7.0.1 release prep
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, auto-merge

#13108 [Tables] Increase timeout for list all test
  sdk/tables/data-tables/test/integration/tableclient.spec.ts
Labels: Tables

#13148 [eventhub] Remove old uglify dependency
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/event-processor-host/rollup.base.config.js
Labels: Event Hubs, auto-merge

#13091 [core-auth] Add AzureSasCredential
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/azureSASCredential.ts
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/test/index.spec.ts
Labels: Azure.Core

#13154 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#13145 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#13153 Update rush and pnpm
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  rush.json
Labels: Client

#13087 [storage] doc fix
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.js
  sdk/storage/storage-blob/samples/javascript/advanced.js
  sdk/storage/storage-blob/samples/javascript/azureAdAuth.js
  sdk/storage/storage-blob/samples/javascript/basic.js
  sdk/storage/storage-blob/samples/typescript/src/advanced.ts
  sdk/storage/storage-blob/samples/typescript/src/azureAdAuth.ts
  sdk/storage/storage-blob/samples/typescript/src/basic.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-datalake/samples/javascript/basic.js
  sdk/storage/storage-file-datalake/samples/typescript/src/basic.ts
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-queue/samples/javascript/azureAdAuth.js
  sdk/storage/storage-queue/samples/javascript/basic.js
  sdk/storage/storage-queue/samples/typescript/src/azureAdAuth.ts
  sdk/storage/storage-queue/samples/typescript/src/basic.ts
Labels: Storage

#13151 [Cosmos] Update README to use non deprecated method
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#13160 [storage] stg75/ga/release prepare
  common/config/rush/common-versions.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/BlobQuickQueryStream.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Event Hubs, Storage

#13157 [Communication] - ALL - Adding PowerShell Docs to README
  sdk/communication/communication-administration/README.md
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-common/README.md
  sdk/communication/communication-sms/README.md
Labels: Communication

#13171 [monitor] Fix monitor CI script
  eng/pipelines/templates/steps/monitor-additional-steps.yml
Labels: Monitor, auto-merge

#13143 [Cosmos] Defaults partitionKeyValue to '[{}]' when missing in Read/Delete bulk operations
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
Labels: Cosmos

#13182 [monitor] Add rollup build
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/rollup.config.js
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/tsconfig.json
Labels: Client, Monitor, auto-merge

#13179 [Identity] Bump msal-node dep
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/msalClient.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
Labels: Azure.Identity

#13177 Sync eng/common directory with azure-sdk-tools for PR 1314
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#13132 [core-client] Switch _response property for callback.
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
Labels: Azure.Core, Client

#13183 Adding hidden tag to generated clients
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault

#13180 [event-hubs] Update browser sample with AAD troubleshooting tip
  sdk/eventhub/event-hubs/samples/browserSample/README.md
Labels: Event Hubs

#13165 [Tables] Support Emulator and Azurite
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
Labels: Tables

#12821 Key vault secrets migration
  sdk/keyvault/keyvault-secrets/recordings/browsers/challenge_based_authentication_tests/recording_authentication_should_work_for_parallel_requests.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/challenge_based_authentication_tests/recording_once_authenticated_new_requests_should_not_authenticate_again.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/challenge_based_authentication_tests_parsewwwauthenticate_tests/recording_should_skip_unexpected_properties_on_the_wwwauthenticate_header.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/challenge_based_authentication_tests_parsewwwauthenticate_tests/recording_should_work_for_known_shapes_of_the_wwwauthenticate_header.json
  sdk/keyvault/keyvault-secrets/recordings/node/challenge_based_authentication_tests/recording_authentication_should_work_for_parallel_requests.js
  sdk/keyvault/keyvault-secrets/recordings/node/challenge_based_authentication_tests/recording_once_authenticated_new_requests_should_not_authenticate_again.js
  sdk/keyvault/keyvault-secrets/recordings/node/challenge_based_authentication_tests_parsewwwauthenticate_tests/recording_should_skip_unexpected_properties_on_the_wwwauthenticate_header.js
  sdk/keyvault/keyvault-secrets/recordings/node/challenge_based_authentication_tests_parsewwwauthenticate_tests/recording_should_work_for_known_shapes_of_the_wwwauthenticate_header.js
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/generated/index.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/index.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/keyvault-secrets/test/internal/challengeBasedAuthenticationPolicy.spec.ts
Labels: KeyVault

#13169 [Text Analytics] Address feedback from the arch board meeting 11/1
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeHealthcare.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeResult.ts
  sdk/textanalytics/ai-text-analytics/src/healthResult.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
Labels: Cognitive - Text Analytics

#13147 [communication] update release phone numbers sample
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/samples/javascript/README.md
  sdk/communication/communication-administration/samples/javascript/releasePhoneNumbers.js
  sdk/communication/communication-administration/samples/typescript/README.md
  sdk/communication/communication-administration/samples/typescript/src/releasePhoneNumbers.ts
Labels: Communication

#13178 [Service Bus] Bug Fix: Sessions - Receive messages beyond 2048 in "receiveAndDelete" mode
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus, auto-merge

#13193 Updating OpenTelemetry version for Azure Exporter
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/review/opentelemetry-exporter-azure-monitor.api.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/types.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/spanUtils.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/flushSpanProcessor.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/scenario/basic.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/functional/trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/export/trace.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/eventhub.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/spanUtils.test.ts
Labels: Monitor

#13198 [communication] skip purchase phone number sample when smoke testing
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/samples/javascript/purchasePhoneNumber.js
  sdk/communication/communication-administration/samples/typescript/src/purchasePhoneNumber.ts
Labels: Communication

#13195 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables

#13203 [Service Bus] Release prep - 7.0.2
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus, auto-merge

#12906 [Communication] - Identity - Auth with Token Credential
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/README.md
  sdk/communication/communication-administration/karma.conf.js
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-administration/recordings/browsers/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-administration/recordings/browsers/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_single_scope.json
  sdk/communication/communication-administration/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_single_scope.js
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/communicationIdentity/communicationIdentityClient.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/communicationIdentityClientWithToken.spec.ts
  sdk/communication/communication-administration/test/utils/recordedClient.ts
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/credential/clientArguments.ts
  sdk/communication/communication-common/src/credential/communicationAuthPolicy.ts
  sdk/communication/communication-common/src/credential/index.ts
  sdk/communication/communication-sms/src/smsClient.ts
Labels: Communication

#13205 OpenTelemetry exporter use correct error code when there is a network issue
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
Labels: Monitor

#13208 [monitor] Set changelog release date
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
Labels: Client, Monitor, auto-merge

#13206 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#13162 [Attestation] Adds missing npm scripts and adds tsdoc.json
  sdk/attestation/attestation/CHANGELOG.md
  sdk/attestation/attestation/package.json
  sdk/attestation/attestation/test/public/attestationTests.spec.ts
  sdk/attestation/attestation/test/public/policyGetSetTests.spec.ts
  sdk/attestation/attestation/test/public/policyManagementGetSetTests.spec.ts
  sdk/attestation/attestation/test/public/tokenCertTests.spec.ts
  sdk/attestation/attestation/test/utils/base64url.browser.ts
  sdk/attestation/attestation/test/utils/base64url.ts
  sdk/attestation/attestation/test/utils/decodeJWT.ts
  sdk/attestation/attestation/tsdoc.json
Labels: auto-merge

#13175 Use conditional logic for setting TestPipeline parameter to true
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/template/ci.yml
Labels: EngSys

#13163 [Cosmos] Throws better continuation token error when it's malformed
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v2.ts
  sdk/cosmosdb/cosmos/test/public/functional/npcontainer.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
Labels: Cosmos

#13213 [Attestation] Adds sdk-type to package.json
  sdk/attestation/attestation/package.json
Labels: auto-merge

#13201 Increment version for digitaltwins releases
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/package.json
Labels: Digital Twins

#13222 [Digital Twins] Fix types shipping
  sdk/digitaltwins/digital-twins-core/package.json
Labels: Digital Twins, auto-merge

#13095 App configuration migration
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
  sdk/appconfiguration/app-configuration/src/generated/src/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/mappers.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#13225 Update CHANGELOG for digital-twins-core
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/generated/azureDigitalTwinsAPIContext.ts
Labels: Digital Twins, auto-merge

#13188 rush update --full
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/utils/verifiers.ts
Labels: Client, auto-merge

#13190 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#13199 Removing npm clean step from build samples and run step before pack
  eng/pipelines/templates/steps/build.yml
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Labels: Storage

#13249 [Digital Twins] Include the correct type declaration file
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/package.json
Labels: Digital Twins

#13252 [Digital Twins] bump version
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/generated/azureDigitalTwinsAPIContext.ts
Labels: Digital Twins, auto-merge

#13233 [core-http][core-client] Eliminate default content-type on empty requests
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-http/src/serviceClient.ts
Labels: Azure.Core, Client

#13256 [Attestation] Set release date
  sdk/attestation/attestation/CHANGELOG.md
Labels: auto-merge

#13250 [Docs] Upgrade typedoc to v0.15.2 to match that used by docs team
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/attestation/attestation/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Cosmos, Digital Twins, EngSys, Event Grid, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Synapse, Tables

#13262 [Cosmos] 3.9.5 release
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#13089 [core] Add documentation for core-https, core-client, and an overview README
  eng/.docsettings.yml
  sdk/core/README.md
  sdk/core/core-client/README.md
  sdk/core/core-https/README.md
Labels: Azure.Core, Client, auto-merge

#13261 Mark @azure/event-processor-host as deprecated
  sdk/eventhub/event-processor-host/README.md
  sdk/eventhub/event-processor-host/samples/javascript/iothubEph.js
  sdk/eventhub/event-processor-host/samples/javascript/multiEph.js
  sdk/eventhub/event-processor-host/samples/javascript/sendBatch.js
  sdk/eventhub/event-processor-host/samples/javascript/singleEph.js
  sdk/eventhub/event-processor-host/samples/javascript/websockets.js
  sdk/eventhub/event-processor-host/samples/typescript/src/iothubEph.ts
  sdk/eventhub/event-processor-host/samples/typescript/src/multiEph.ts
  sdk/eventhub/event-processor-host/samples/typescript/src/sendBatch.ts
  sdk/eventhub/event-processor-host/samples/typescript/src/singleEph.ts
  sdk/eventhub/event-processor-host/samples/typescript/src/websockets.ts
Labels: Event Hubs

#13269 [Cosmos] Fix release date
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#13220 [communication] switch to bearerTokenAuthenticationPolicy
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/credential/communicationTokenCredentialPolicy.ts
Labels: Communication

#13248 [communication-common] Add serializer for communication identifiers
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/test/identifierModelSerializer.spec.ts
Labels: Communication

#13187 [Communication] ACS Chat: API Updates 2021.1
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_threads.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_threads.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/index.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
Labels: Communication

#13260 [Communication] - Authentication - SmsClient auth using token credential
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/README.md
  sdk/communication/communication-sms/karma.conf.js
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/recordings/browsers/smsclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user.json
  sdk/communication/communication-sms/recordings/node/smsclient/recording_sends_a_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user.js
  sdk/communication/communication-sms/review/communication-sms.api.md
  sdk/communication/communication-sms/src/smsClient.ts
  sdk/communication/communication-sms/test/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/utils/recordedClient.ts
Labels: Communication

#13287 [event-hubs] re-add support for custom endpoint address
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/src/util/parseEndpoint.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/config.spec.ts
  sdk/eventhub/event-hubs/test/impl/parseEndpoint.spec.ts
  sdk/servicebus/service-bus/package.json
Labels: Azure.Core, Event Hubs, Service Bus, auto-merge

#13229 [Service Bus] Bug Fix: getSubscriptionRuntimeProperties returns activeMessageCount as zero
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/atomE2ETests.spec.ts
  sdk/servicebus/service-bus/test/internal/atomXml.spec.ts
Labels: Service Bus, auto-merge

#13266 [core-https][core-client] Core v2 cleanup work
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/deserializationPolicy.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/operationHelpers.ts
  sdk/core/core-client/src/serializationPolicy.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-https/package.json
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/src/httpHeaders.ts
  sdk/core/core-https/src/index.ts
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/nodeHttpsClient.ts
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/src/pipelineRequest.ts
  sdk/core/core-https/src/policies/decompressResponsePolicy.browser.ts
  sdk/core/core-https/src/policies/decompressResponsePolicy.ts
  sdk/core/core-https/src/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-https/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-https/src/policies/keepAlivePolicy.ts
  sdk/core/core-https/src/policies/ndJsonPolicy.ts
  sdk/core/core-https/src/policies/proxyPolicy.browser.ts
  sdk/core/core-https/src/policies/redirectPolicy.ts
  sdk/core/core-https/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-https/src/policies/throttlingRetryPolicy.ts
  sdk/core/core-https/test/browser/decompressResponsePolicy.ts
  sdk/core/core-https/test/browser/disableResponseDecompressionPolicy.spec.ts
  sdk/core/core-https/test/node/decompressResponsePolicy.ts
  sdk/core/core-https/test/pipeline.spec.ts
Labels: Azure.Core, Client

#13286 Sync eng/common directory with azure-sdk-tools for PR 1318
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#13216 Enable 1ES pools for live tests.
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
Labels: Central-EngSys, EngSys

#13253 Increment version for digitaltwins releases
  sdk/digitaltwins/digital-twins-core/package.json
Labels: Digital Twins

#13296 [Text Analytics] Address additional feedback
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchTasksResult.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/poller.ts
Labels: Cognitive - Text Analytics

#13299 [Monitor] Ship type declarations
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/api-extractor.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/applicationinsights.ts
Labels: Monitor

#12038 [core-http] Clean up event listener when streaming is done
  sdk/core/core-http/src/fetchHttpClient.ts
  sdk/core/core-https/src/nodeHttpsClient.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Azure.Core, Client, Storage

#13302 [event-hubs] fixes flaky service communication error tests
  sdk/eventhub/event-hubs/test/client.spec.ts
Labels: Event Hubs, auto-merge

#13284 [communication] add COMMUNICATION_ENDPOINT_STRING to test-resources.json
  sdk/communication/communication-administration/recordings/browsers/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-administration/recordings/browsers/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_single_scope.json
  sdk/communication/communication-administration/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_single_scope.js
  sdk/communication/test-resources.json
Labels: Communication

#13305 Sync eng/common directory with azure-sdk-tools for PR 1317
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Labels: Central-EngSys, EngSys

#13288 [Communication] - Auth - SMS live test authentication
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/credential/connectionString.ts
  sdk/communication/communication-common/src/credential/index.ts
  sdk/communication/communication-sms/karma.conf.js
  sdk/communication/communication-sms/recordings/node/smsclient/recording_sends_a_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user.js
  sdk/communication/communication-sms/test/smsClientWithToken.spec.ts
  sdk/communication/communication-sms/test/utils/recordedClient.ts
Labels: Communication

#12561 [Service Bus] Minor updates to stress tests
  sdk/servicebus/service-bus/test/stress/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
  sdk/servicebus/service-bus/test/stress/utils.ts
Labels: Service Bus, auto-merge

#13311 [Service Bus] Flaky Test - Report a meaningful error
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
Labels: Service Bus

#13312 Sync eng/common directory with azure-sdk-tools for PR 1327
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#12737 [Perf Tests] Storage blob perf tests - track 1 and track 2
  eng/.docsettings.yml
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/test/perfstress/track-1/README.md
  sdk/storage/storage-blob/test/perfstress/track-1/download.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-1/index.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-1/listBlobs.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-1/package.json
  sdk/storage/storage-blob/test/perfstress/track-1/storageTest.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-1/tsconfig.json
  sdk/storage/storage-blob/test/perfstress/track-1/upload.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/README.md
  sdk/storage/storage-blob/test/perfstress/track-2/core-http.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/core-https.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/dowloadWithSAS.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/download.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/index.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/listBlobs.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/node-fetch.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/storageTest.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/upload.spec.ts
  sdk/storage/storage-blob/test/perfstress/track-2/uploadFromFile.spec.ts
  sdk/storage/storage-blob/tsconfig.json
Labels: Storage, auto-merge

#13285 [event-hubs] fix eslint errors (round 1)
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/impl/partitionGate.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/util/delayWithoutThrow.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/src/util/retries.ts
  sdk/eventhub/event-hubs/src/util/typeGuards.ts
  sdk/eventhub/event-hubs/test/client.spec.ts
  sdk/eventhub/event-hubs/test/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/eventdata.spec.ts
  sdk/eventhub/event-hubs/test/loadBalancingStrategy.spec.ts
  sdk/eventhub/event-hubs/test/misc.spec.ts
  sdk/eventhub/event-hubs/test/partitionPump.spec.ts
  sdk/eventhub/event-hubs/test/receiver.spec.ts
  sdk/eventhub/event-hubs/test/sender.spec.ts
  sdk/eventhub/event-hubs/test/utils/fakeSubscriptionEventHandlers.ts
  sdk/eventhub/event-hubs/test/utils/logHelpers.ts
  sdk/eventhub/event-hubs/test/utils/receivedMessagesTester.ts
  sdk/eventhub/event-hubs/test/utils/subscriptionHandlerForTests.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
Labels: Event Hubs, auto-merge

#13139 [Key Vault] Add sample for working with Key Vault in web app
  samples/cors/arm-template.json
  samples/cors/ts/.gitignore
  samples/cors/ts/README.md
  samples/cors/ts/client/index.html
  samples/cors/ts/client/index.ts
  samples/cors/ts/client/package.json
  samples/cors/ts/client/sample.env
  samples/cors/ts/client/tsconfig.json
  samples/cors/ts/package.json
  samples/cors/ts/server/package.json
  samples/cors/ts/server/sample.env
  samples/cors/ts/server/server.ts
  samples/cors/ts/server/tsconfig.json
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Labels: KeyVault

#13291 [Key Vault] - Restore pending tests
  sdk/keyvault/keyvault-admin/recordings/node/challenge_based_authentication_tests/recording_authentication_should_be_idempotent.js
  sdk/keyvault/keyvault-admin/recordings/node/challenge_based_authentication_tests/recording_once_authenticated_new_requests_should_not_authenticate_again.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_createroleassignment_getroleassignment_and_deleteroleassignment.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_listroleassignments.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_listroledefinitions.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginbackup/recording_returns_the_correct_backup_result_when_fails_to_authenticate.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginbackup/recording_returns_the_correct_backup_result_when_successful.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_contains_an_error_when_fails_to_authenticate.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_full_restore_completes_successfully.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_selectiverestore_completes_successfully.js
  sdk/keyvault/keyvault-admin/sample.env
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
  sdk/keyvault/keyvault-admin/test/utils/authentication.ts
  sdk/keyvault/keyvault-admin/test/utils/common.ts
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.json
Labels: KeyVault

#13326 Fix build failure on master
  sdk/storage/storage-blob/test/perfstress/track-2/core-https.spec.ts
Labels: Storage, auto-merge

#13306 [communication-common] Add cloud property and optional full id to identfiers, lowercase kind
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/identifierModelSerializer.spec.ts
  sdk/communication/communication-common/test/identifierModels.spec.ts
Labels: Communication

#13330 [Service Bus] Flaky test - Add delay to make sure the expiry time upon renewlock gets updated
  sdk/servicebus/service-bus/test/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
Labels: Service Bus, auto-merge

#13328 Sync eng/common directory with azure-sdk-tools for PR 1251
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#13310 Update dependencies for analyze-deps tool
  eng/tools/analyze-deps/index.js
  eng/tools/analyze-deps/package-lock.json
  eng/tools/analyze-deps/package.json
Labels: EngSys

#13271 [Communication] - Authentication - PhoneNumberAdministrationClient auth using token credential
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/README.md
  sdk/communication/communication-administration/karma.conf.js
  sdk/communication/communication-administration/recordings/browsers/phonenumberadministrationclientwithtoken_playbacklive/recording_successfully_gets_phoneplangroupid.json
  sdk/communication/communication-administration/recordings/node/communicationidentityclient_playbacklive/recording_successfully_creates_a_user.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclient_playbacklive/recording_successfully_deletes_a_user.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclient_playbacklive/recording_successfully_issues_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclient_playbacklive/recording_successfully_issues_a_token_for_a_user_single_scope.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclient_playbacklive/recording_successfully_revokes_tokens_issued_for_a_user.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-administration/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_issues_a_token_for_a_user_single_scope.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_playbacklive/recording_can_get_area_codes.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_playbacklive/recording_can_get_location_options.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclient_playbacklive/recording_can_get_phoneplangroupid_and_phoneplanid_for_other_tests.js
  sdk/communication/communication-administration/recordings/node/phonenumberadministrationclientwithtoken_playbacklive/recording_successfully_gets_phoneplangroupid.js
  sdk/communication/communication-administration/review/communication-administration.api.md
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-administration/test/phoneNumberAdministrationClientWithToken.spec.ts
  sdk/communication/communication-administration/test/utils/recordedClient.ts
  sdk/communication/communication-administration/tests.yml
Labels: Communication

#13348 [Service Bus] Fix DEBUG variable
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, auto-merge

#13345 Azure Quantum SDK for Azure SDK for JS
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/quantum/quantum/LICENSE.txt
  sdk/quantum/quantum/README.md
  sdk/quantum/quantum/api-extractor.json
  sdk/quantum/quantum/package.json
  sdk/quantum/quantum/review/quantum.api.md
  sdk/quantum/quantum/rollup.config.js
  sdk/quantum/quantum/src/index.ts
  sdk/quantum/quantum/src/models/index.ts
  sdk/quantum/quantum/src/models/mappers.ts
  sdk/quantum/quantum/src/models/parameters.ts
  sdk/quantum/quantum/src/operations/index.ts
  sdk/quantum/quantum/src/operations/jobs.ts
  sdk/quantum/quantum/src/operations/providers.ts
  sdk/quantum/quantum/src/operations/quotas.ts
  sdk/quantum/quantum/src/operations/storage.ts
  sdk/quantum/quantum/src/quantumClient.ts
  sdk/quantum/quantum/src/quantumClientContext.ts
  sdk/quantum/quantum/swagger/readme.md
  sdk/quantum/quantum/tsconfig.json
Labels: auto-merge

#12798 [Event hubs] Separate event hubs tests into public and internal and enable min-max tests
  eng/tools/dependency-testing/index.js
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/config.spec.ts
  sdk/eventhub/event-hubs/test/internal/dataTransformer.spec.ts
  sdk/eventhub/event-hubs/test/internal/diagnostics/messageSpan.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventHubConsumerClientUnitTests.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventPosition.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventdata.spec.ts
  sdk/eventhub/event-hubs/test/internal/impl/partitionGate.spec.ts
  sdk/eventhub/event-hubs/test/internal/loadBalancingStrategy.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/packageInfo.spec.ts
  sdk/eventhub/event-hubs/test/internal/partitionPump.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/event-hubs/test/internal/sharedKeyCredential.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/public/node/client.spec.ts
  sdk/eventhub/event-hubs/test/public/node/disconnects.spec.ts
  sdk/eventhub/event-hubs/test/public/receiver.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/fakeSubscriptionEventHandlers.ts
  sdk/eventhub/event-hubs/test/public/utils/logHelpers.ts
  sdk/eventhub/event-hubs/test/public/utils/receivedMessagesTester.ts
  sdk/eventhub/event-hubs/test/public/utils/subscriptionHandlerForTests.ts
  sdk/eventhub/event-hubs/test/public/utils/testInMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/test/public/utils/testUtils.ts
  sdk/eventhub/event-hubs/tests.yml
Labels: Event Hubs

#13356 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#13357 Increment version for storage releases
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#13362 Upgrade V6 SDK Generator Version for Tables
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/generated/generatedClient.ts
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/generated/models/index.ts
  sdk/tables/data-tables/src/generated/models/mappers.ts
  sdk/tables/data-tables/src/generated/models/parameters.ts
  sdk/tables/data-tables/src/generated/operations/service.ts
  sdk/tables/data-tables/src/generated/operations/table.ts
  sdk/tables/data-tables/src/generatedModels.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables

#13359 Upgrade V6 SDK Generator Version for Text Analytics
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#13360 Upgrade V6 SDK Generator Version for Form Recognizer
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Labels: Cognitive - Form Recognizer

#13355 Increment version for monitor releases
  sdk/monitor/opentelemetry-exporter-azure-monitor/CHANGELOG.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/constants/applicationinsights.ts
Labels: Monitor

#13358 Sync eng/common directory with azure-sdk-tools for PR 1335
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#13378 [core-crypto] Remove karma-remap-istanbul dependency
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  sdk/core/core-crypto/karma.conf.js
  sdk/core/core-crypto/package.json
Labels: Azure.Core, Client, auto-merge

#13353 Rename package name to @azure/quantum-jobs and client name to QuantumJobClient
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/quantum/quantum-jobs/LICENSE.txt
  sdk/quantum/quantum-jobs/README.md
  sdk/quantum/quantum-jobs/api-extractor.json
  sdk/quantum/quantum-jobs/package.json
  sdk/quantum/quantum-jobs/review/quantum-jobs.api.md
  sdk/quantum/quantum-jobs/rollup.config.js
  sdk/quantum/quantum-jobs/src/index.ts
  sdk/quantum/quantum-jobs/src/models/index.ts
  sdk/quantum/quantum-jobs/src/models/mappers.ts
  sdk/quantum/quantum-jobs/src/models/parameters.ts
  sdk/quantum/quantum-jobs/src/operations/index.ts
  sdk/quantum/quantum-jobs/src/operations/jobs.ts
  sdk/quantum/quantum-jobs/src/operations/providers.ts
  sdk/quantum/quantum-jobs/src/operations/quotas.ts
  sdk/quantum/quantum-jobs/src/operations/storage.ts
  sdk/quantum/quantum-jobs/src/quantumJobClient.ts
  sdk/quantum/quantum-jobs/src/quantumJobClientContext.ts
  sdk/quantum/quantum-jobs/swagger/readme.md
  sdk/quantum/quantum-jobs/tsconfig.json
Labels: auto-merge

#13346 [Service Bus] Fix flaky test - Peek until we get the message
  sdk/servicebus/service-bus/test/renewLock.spec.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
Labels: Service Bus, auto-merge

#13384 rush update --full
  common/config/rush/pnpm-lock.yaml
Labels: Client, auto-merge

#13332 [Service Bus] Remove hidden tag for an interface to test the effects on docs.microsoft.com
  sdk/servicebus/service-bus/src/core/shared.ts
Labels: Service Bus

#13363 Upgrade V6 SDK Generator Version of Metrics Advisor
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/generatedClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/generatedClientContext.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/index.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/index.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/mappers.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/parameters.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/swagger/README.md
Labels: Cognitive - Metrics Advisor

#13389 [communication] Prepare common and administration for beta.4 release
  sdk/communication/communication-administration/CHANGELOG.md
  sdk/communication/communication-administration/src/communicationIdentity/constants.ts
  sdk/communication/communication-administration/src/phoneNumber/constants.ts
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication

#13374 [Service Bus] Bug fix: batching receiver upon a disconnect
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Labels: Service Bus, auto-merge

#13264 [Service Bus] Bug Fix: Uncaught error thrown from setTimeout callback
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/test/internal/managementClient.spec.ts
Labels: Service Bus, auto-merge

#13334 [Service Bus] Release Prep - 7.0.3
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus, auto-merge

#12793 [Cosmos] Adds AAD client auth option
  sdk/core/abort-controller/package.json
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/consumer-test.js
  sdk/cosmosdb/cosmos/consumer-test/test.ts
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/auth.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Labels: Cosmos

#12421 [Storage-Blob] Fix error listing blobs with "_" metadata key name
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_can_list_blobs_with_underscore_metadata_key_name.json
  sdk/storage/storage-blob/recordings/node/containerclient/recording_can_list_blobs_with_underscore_metadata_key_name.js
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
Labels: Client, Storage

#13400 Sync eng/common directory with azure-sdk-tools for PR 1343
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/docfx.json
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#13361 Upgrade V6 SDK Generator Version for Event Grid
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClient.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/generated/models/parameters.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#13401 [Service Bus] Revert core-amqp to 2.0.0
  common/config/rush/common-versions.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, auto-merge

#13402 [Quantum Jobs] Missing "types" in the files included
  sdk/quantum/quantum-jobs/package.json
Labels: auto-merge

#13404 [Service Bus] Stress tests - Migrate to 7.0.0
  sdk/servicebus/service-bus/test/stress/package.json
  sdk/servicebus/service-bus/test/stress/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
Labels: Service Bus, auto-merge
