Repository Azure/azure-sdk-for-js, pull requests merged in 2021-08, with the labels that each got.

#16554 [Storage] Updates in main branch to reflect changes from hotfix branch
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#16696 Update changelog to add release date.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Storage

#16672 Fixing relative link
  documentation/next-generation-quickstart.md
Labels: auto-merge

#16692 Fix Web Pubsub Sample Issue
  sdk/web-pubsub/web-pubsub/samples-dev/directMessage.ts
  sdk/web-pubsub/web-pubsub/samples/v1/javascript/directMessage.js
  sdk/web-pubsub/web-pubsub/samples/v1/typescript/src/directMessage.ts
Labels: WebPubSub, auto-merge

#16700 [Cred Scan] Generate fake key instead of putting directly in the test file
  sdk/eventgrid/eventgrid/test/public/generateSharedAccessSignature.spec.ts
Labels: Event Grid

#16707 Enable nightly dev releases for iot-modelsrepository
  rush.json
Labels: auto-merge

#16709 Tables perf test
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/tables/perf-tests/data-tables/README.md
  sdk/tables/perf-tests/data-tables/package.json
  sdk/tables/perf-tests/data-tables/sample.env
  sdk/tables/perf-tests/data-tables/test/createComplexEntity.spec.ts
  sdk/tables/perf-tests/data-tables/test/createComplexEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/createSimpleEntity.spec.ts
  sdk/tables/perf-tests/data-tables/test/createSimpleEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/index.spec.ts
  sdk/tables/perf-tests/data-tables/test/listComplexEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/listSimpleEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/tables.spec.ts
  sdk/tables/perf-tests/data-tables/test/utils/createBaseEntity.ts
  sdk/tables/perf-tests/data-tables/tsconfig.json
Labels: Tables

#16708 Aug release changelog updates for core packages
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: auto-merge

#16735 increment monitor-query version
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/constants.ts
Labels: Monitor

#16732 [core-paging] Use api extractor
  sdk/core/core-paging/api-extractor.json
  sdk/core/core-paging/package.json
  sdk/core/core-paging/review/core-paging.api.md
  sdk/core/core-paging/rollup.config.js
  sdk/core/core-paging/src/index.ts
  sdk/core/core-paging/src/models.ts
  sdk/core/core-paging/tsconfig.es.json
  sdk/core/core-paging/tsconfig.json
  sdk/core/core-paging/types/3.1/core-paging.d.ts
Labels: Azure.Core

#16723 [EventGrid] Fix Test Compilation Errors
  sdk/eventgrid/eventgrid/test/public/generateSharedAccessSignature.spec.ts
Labels: Event Grid

#16569 arm-batch-release
  sdk/batch/arm-batch/LICENSE.txt
  sdk/batch/arm-batch/README.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/rollup.config.js
  sdk/batch/arm-batch/src/batchManagementClient.ts
  sdk/batch/arm-batch/src/batchManagementClientContext.ts
  sdk/batch/arm-batch/src/models/applicationOperationsMappers.ts
  sdk/batch/arm-batch/src/models/applicationPackageOperationsMappers.ts
  sdk/batch/arm-batch/src/models/batchAccountOperationsMappers.ts
  sdk/batch/arm-batch/src/models/certificateOperationsMappers.ts
  sdk/batch/arm-batch/src/models/index.ts
  sdk/batch/arm-batch/src/models/locationMappers.ts
  sdk/batch/arm-batch/src/models/mappers.ts
  sdk/batch/arm-batch/src/models/operationsMappers.ts
  sdk/batch/arm-batch/src/models/parameters.ts
  sdk/batch/arm-batch/src/models/poolOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateEndpointConnectionOperationsMappers.ts
  sdk/batch/arm-batch/src/models/privateLinkResourceOperationsMappers.ts
  sdk/batch/arm-batch/src/operations/applicationOperations.ts
  sdk/batch/arm-batch/src/operations/applicationPackageOperations.ts
  sdk/batch/arm-batch/src/operations/batchAccountOperations.ts
  sdk/batch/arm-batch/src/operations/certificateOperations.ts
  sdk/batch/arm-batch/src/operations/index.ts
  sdk/batch/arm-batch/src/operations/location.ts
  sdk/batch/arm-batch/src/operations/operations.ts
  sdk/batch/arm-batch/src/operations/poolOperations.ts
  sdk/batch/arm-batch/src/operations/privateEndpointConnectionOperations.ts
  sdk/batch/arm-batch/src/operations/privateLinkResourceOperations.ts
  sdk/batch/arm-batch/test/batchManagementClient.spec.ts
  sdk/batch/arm-batch/test/sample.env
Labels: Batch

#16738 [core-lro] Prepare for release on August 5th
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/compute/arm-compute/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/network/arm-network/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/resources/arm-resources/package.json
  sdk/storage/arm-storage/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Azure.Core, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, KeyVault, Storage, Synapse

#16737 Remove false changelog entry for core-amqp
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core

#16758 [core-client] Fix Serializer issue where File didn't count as a Blob
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/test/browser/serializer.spec.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core, Client

#16759 [Text Analytics] Edit changelog to remove unused sections
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#16736 [Tables] Infer EDM types for properties with no Type metadata
  sdk/tables/data-tables/recordings/browsers/tableclient_sasconnectionstring_createentity_getentity_and_delete/recording_should_createentity_with_primitive_int_and_float_without_automatic_type_conversion.json
  sdk/tables/data-tables/recordings/browsers/tableclient_tokencredential_createentity_getentity_and_delete/recording_should_createentity_with_primitive_int_and_float_without_automatic_type_conversion.json
  sdk/tables/data-tables/recordings/node/tableclient_sasconnectionstring_createentity_getentity_and_delete/recording_should_createentity_with_primitive_int_and_float_without_automatic_type_conversion.js
  sdk/tables/data-tables/recordings/node/tableclient_tokencredential_createentity_getentity_and_delete/recording_should_createentity_with_primitive_int_and_float_without_automatic_type_conversion.js
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
Labels: Tables, auto-merge

#16769 [core-rest-pipeline] Remove empty changelog sections
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core, Client

#16768 Add missing changelog entries for tracing and ES2017 updates
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/search/search-documents/CHANGELOG.md
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/tables/data-tables/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Form Recognizer, Cognitive - Text Analytics, Communication, Digital Twins, Event Grid, Event Hubs, Search, Service Bus, Tables, auto-merge

#16772 Increment version for core releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: auto-merge

#16773 Version update for Azure Batch package
  sdk/batch/batch/package.json
  sdk/batch/batch/src/batchServiceClientContext.ts
Labels: Batch

#16681 Sync eng/common directory with azure-sdk-tools for PR 1852
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#16767 [Communication] Update changelog release date
  sdk/communication/communication-chat/CHANGELOG.md
Labels: Communication

#16781 Update vm image for track1 pipeline job
  eng/pipelines/dataplane-pr.yml
  sdk/graphrbac/graph/package.json
  sdk/graphrbac/graph/src/graphRbacManagementClientContext.ts
Labels: Central-EngSys

#16779 Fix Azure Keyvault Certificate Readme Issue
  sdk/keyvault/keyvault-certificates/README.md
Labels: KeyVault

#16782 [KeyVault] - Increase timeout for KeyVault certificates and secrets
  eng/tools/dependency-testing/templates/package.json
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/list.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.create.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.operation.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/list.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/recoverBackupRestore.spec.ts
Labels: KeyVault

#16788 [core-lro] edit changelog
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#16760 Monitor query align the request bodies
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
  sdk/monitor/monitor-query/test/internal/unit/modelConverters.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
Labels: Monitor

#16658 Update the LRO section in the migration guide for Track 2 management-…
  documentation/MIGRATION-guide-for-next-generation-management-libraries.md
Labels: Mgmt, Docs

#16785 Skip all non arm packages when packing packages from feature/v4
  .scripts/common.ts
Labels: Central-EngSys

#16514 [Identity] Migrated to core-rest-pipeline
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/interactive-browser-credential.md
  sdk/identity/identity/karma.conf.js
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.browser.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.browser.ts
  sdk/identity/identity/src/credentials/deviceCodeCredentialOptions.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.browser.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/httpRequests.browser.ts
  sdk/identity/identity/test/httpRequests.ts
  sdk/identity/identity/test/httpRequestsCommon.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/logger.spec.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
  sdk/identity/identity/test/internal/node/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/environmentCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/internal/utils.spec.ts
  sdk/identity/identity/test/manual-integration/AzureArc/INSTRUCTIONS.md
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/identity/identity/test/public/browser/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/browser/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/public/errors.spec.ts
  sdk/identity/identity/test/public/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/identity/identity/test/public/node/extensions.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/storage/storage-file-datalake/rollup.base.config.js
Labels: Azure.Identity, auto-merge

#16771 [KeyVault] - Add changelog entries for keys and admin for August
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault

#16800 [Identity] README: Identity can be used with more than Azure SDKs
  sdk/identity/identity/README.md
Labels: Azure.Identity

#16789 [Text Analytics] Edit readme
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#16730 [Tables] Use generated useragent
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/generated/models/index.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables

#16790 Increment version for core releases
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client-paging-rest/CHANGELOG.md
  sdk/core/core-client-paging-rest/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core, auto-merge

#16802 [KeyVault] - Extend Karma timeout for Key Vault Secrets
  sdk/keyvault/keyvault-secrets/karma.conf.js
Labels: KeyVault

#16683 [Identity] Exposing the selected credential on ChainedTokenCredential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
Labels: Azure.Identity, auto-merge

#16801 [storage] - Remove unnecessarily extending CommonOptions
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobBatchClient.ts
Labels: Storage

#16816 Prepare Tables for August release
  sdk/core/core-client/package.json
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/perf-tests/data-tables/package.json
  sdk/tables/perf-tests/data-tables/test/createComplexEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/createSimpleEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/listComplexEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/listSimpleEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/utils/createBaseEntity.ts
  sdk/tables/perf-tests/data-tables/tsconfig.json
Labels: Tables

#16787 Identity application credential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/applicationcredential/recording_authenticates_with_a_client_secret_on_the_environment_variables.js
  sdk/identity/identity/recordings/node/applicationcredential/recording_supports_tracing_with_environment_client_secret.js
  sdk/identity/identity/recordings/node/applicationcredential/recording_throws_an_aggregateauthenticationerror_when_gettoken_is_called_and_no_credential_was_configured.js
  sdk/identity/identity/recordings/node/applicationcredential/recording_throws_an_authenticationerror_when_gettoken_is_called_and_applicationcredential_authentication_failed.js
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/applicationCredential.browser.ts
  sdk/identity/identity/src/credentials/applicationCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/test/internal/node/applicationCredential.spec.ts
  sdk/identity/identity/test/public/node/applicationCredential.spec.ts
Labels: Azure.Identity

#16805 [EventGrid] Add new ContainerService system event
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#16682 [Identity] Renamed AZURE_POD_IDENTITY_TOKEN_URL -> AZURE_POD_IDENTITY_AUTHORITY_HOST
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#16820 [Text Analytics] Update changelog
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#15390 [Identity] Enabling CP1 client capabilities
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_cancelling_the_authentication.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_setting_disableautomaticauthentication.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_and_allows_the_customization_of_the_prompt_callback.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_default_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_provided_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_specific_permissions.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_supports_tracing.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal/recording_authenticates_silently_after_the_initial_request.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_accepts_tokencachepersistenceoptions.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_authenticates_silently_with_tokencachepersistenceoptions.js
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
Labels: Azure.Identity, auto-merge

#16784 [storage-file-datalake][storage-blob] Allow storage-blob to accept Pipeline instances from other storage packages
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/Pipeline.ts
Labels: Storage

#16822 Increment version for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics, auto-merge

#16821 [Identity] Test improvements
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, auto-merge

#16825 Add samples link for multiple workspaces
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/README.md
Labels: Client, Monitor, Docs

#16837 Increment version for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault, auto-merge

#16698 add Identity samples
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/typescript/package.json
Labels: Azure.Identity

#16849 [Tables] Fix changelog
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables, auto-merge

#16774 [core-paging] Add getPagedAsyncIterator
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/karma.conf.js
  sdk/core/core-paging/package.json
  sdk/core/core-paging/review/core-paging.api.md
  sdk/core/core-paging/src/getPagedAsyncIterator.ts
  sdk/core/core-paging/src/index.ts
  sdk/core/core-paging/src/models.ts
  sdk/core/core-paging/test/getPagedAsyncIterator.spec.ts
  sdk/core/core-paging/tsconfig.json
  sdk/textanalytics/ai-text-analytics/src/analyzeLro.ts
  sdk/textanalytics/ai-text-analytics/src/healthLro.ts
  sdk/textanalytics/ai-text-analytics/src/paging.ts
Labels: Azure.Core

#16853 [Identity] Removed empty changelog section
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#16685 Implementation and tests for TableCheckpointStore
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/review/eventhubs-checkpointstore-table.api.md
  sdk/eventhub/eventhubs-checkpointstore-table/sample.env
  sdk/eventhub/eventhubs-checkpointstore-table/src/tableCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/tables-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/tables-checkpointstorespec.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/utils/testUtils.ts
  sdk/eventhub/test-resources.json
Labels: customer-reported, Event Hubs

#16845 [Batch] Fix build
  sdk/batch/batch/package.json
  sdk/batch/batch/rollup.config.js
  sdk/batch/batch/test/batchClient.spec.ts
  sdk/batch/batch/test/utils/env.browser.ts
  sdk/batch/batch/test/utils/env.ts
  sdk/batch/batch/test/utils/recordedClient.ts
Labels: Batch

#16847 Sync eng/common directory with azure-sdk-tools for PR 1866
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#16705 Include perf tests in rush jobs like lint and foramt
  eng/tools/rush-runner.js
Labels: Central-EngSys

#16867 [Text Analytics] bump core-paging dep version
  common/config/rush/common-versions.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics

#16868 [formrecognizer] Fix CHANGELOG
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#16864 Upgrade puppeteer dep to ^10.2.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core

#16518 [Perf framework] Use Proxy tool to mock/replay the requests
  common/config/rush/pnpm-lock.yaml
  sdk/storage/perf-tests/storage-blob/test/storageTest.spec.ts
  sdk/storage/perf-tests/storage-blob/tsconfig.json
  sdk/tables/perf-tests/data-tables/README.md
  sdk/tables/perf-tests/data-tables/test/tables.spec.ts
  sdk/test-utils/perfstress/CHANGELOG.md
  sdk/test-utils/perfstress/GettingStarted.md
  sdk/test-utils/perfstress/README.md
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/perfstress/src/options.ts
  sdk/test-utils/perfstress/src/program.ts
  sdk/test-utils/perfstress/src/testProxyHttpClient.ts
  sdk/test-utils/perfstress/src/tests.ts
  sdk/test-utils/perfstress/src/utils.ts
  sdk/test-utils/perfstress/tsconfig.json
Labels: Storage

#16865 Increment version for search releases
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search, auto-merge

#16874 [Batch] Include types in shipped package
  sdk/batch/batch/package.json
Labels: Batch

#16870 [Batch] Rollback the support for TokenCredential
  sdk/batch/batch/README.md
  sdk/batch/batch/package.json
  sdk/batch/batch/src/batchServiceClient.ts
  sdk/batch/batch/src/batchServiceClientContext.ts
  sdk/batch/batch/test/utils/recordedClient.ts
Labels: Batch

#16886 Clarify support policy in Identity readme
  sdk/identity/identity/README.md
Labels: Azure.Identity, auto-merge

#16844 [Identity] cert.pem to fake-cert.pem
  sdk/identity/identity-cache-persistence/.gitignore
  sdk/identity/identity-cache-persistence/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/.gitignore
  sdk/identity/identity/assets/fake-cert.pem
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity, auto-merge

#16878 [Identity] Hotfix 1.5.1: IMDS ping fixes
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#16888 Update synapse versions
  sdk/synapse/synapse-access-control/CHANGELOG.md
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-access-control/src/accessControlClientContext.ts
  sdk/synapse/synapse-access-control/swagger/README.md
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
  sdk/synapse/synapse-managed-private-endpoints/CHANGELOG.md
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClientContext.ts
  sdk/synapse/synapse-managed-private-endpoints/swagger/README.md
  sdk/synapse/synapse-spark/CHANGELOG.md
  sdk/synapse/synapse-spark/package.json
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
  sdk/synapse/synapse-spark/swagger/README.md
Labels: Synapse

#16896 Sync eng/common directory with azure-sdk-tools for PR 1894
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  sdk/keyvault/remove-test-resources-pre.ps1
Labels: EngSys, Central-EngSys

#16894 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#16866 [Cosmos] Adds reporter to cosmos tests
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#16689 Refactor service bus stress tests to use stress test package format
  sdk/servicebus/service-bus/test/stress/.helmignore
  sdk/servicebus/service-bus/test/stress/Chart.lock
  sdk/servicebus/service-bus/test/stress/Chart.yaml
  sdk/servicebus/service-bus/test/stress/Dockerfile
  sdk/servicebus/service-bus/test/stress/SetupAndGuide.md
  sdk/servicebus/service-bus/test/stress/app/package.json
  sdk/servicebus/service-bus/test/stress/app/sample.env
  sdk/servicebus/service-bus/test/stress/app/src/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioLongRunning.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioPeekMessages.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioRenewMessageLock.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioSend.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioShortLivedReceivers.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioStreamingReceive.ts
  sdk/servicebus/service-bus/test/stress/app/src/serviceBusStressTester.ts
  sdk/servicebus/service-bus/test/stress/app/src/utils.ts
  sdk/servicebus/service-bus/test/stress/app/tsconfig.json
  sdk/servicebus/service-bus/test/stress/parameters.json
  sdk/servicebus/service-bus/test/stress/pod.yaml
  sdk/servicebus/service-bus/test/stress/runContainer.js
  sdk/servicebus/service-bus/test/stress/sample.env
  sdk/servicebus/service-bus/test/stress/secrets.yaml
  sdk/servicebus/service-bus/test/stress/templates/testjob.yaml
  sdk/servicebus/service-bus/test/stress/test-resources.json
  sdk/servicebus/service-bus/test/stress/testAll.sh
  sdk/servicebus/service-bus/test/stress/testBuild.sh
  sdk/servicebus/service-bus/test/stress/testRun.sh
  sdk/servicebus/service-bus/test/stress/values.yaml
Labels: Service Bus

#16838 [Cosmos] Adds transactional batch
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
Labels: Cosmos

#16909 [Cosmos] Adds changelog entry for bulk bugfix
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#16910 [stress testing] Improve dockerfile and ARM template for service bus
  sdk/servicebus/service-bus/test/stress/Dockerfile
  sdk/servicebus/service-bus/test/stress/test-resources.bicep
  sdk/servicebus/service-bus/test/stress/test-resources.json
Labels: Service Bus, Central-EngSys

#16893 Sync eng/common directory with azure-sdk-tools for PR 1876
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#16903 Increment version for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
Labels: auto-merge

#16914 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos, auto-merge

#16921 Sync eng/common directory with azure-sdk-tools for PR 1884
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#16848 [KeyVault] - Deploy attestation service as a test resource
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_can_create_an_exportable_key_and_release_it.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_can_import_an_exportable_key_and_release_it.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_can_update_a_keys_release_policy.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_errors_when_a_key_has_a_release_policy_but_is_not_exportable.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_errors_when_key_is_exportable_without_a_release_policy.json
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_can_create_an_exportable_key_and_release_it.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_can_import_an_exportable_key_and_release_it.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_can_update_a_keys_release_policy.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_errors_when_a_key_has_a_release_policy_but_is_not_exportable.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_for_managed_hsm_releasekey/recording_errors_when_key_is_exportable_without_a_release_policy.js
  sdk/keyvault/keyvault-keys/test/public/keyClient.hsm.spec.ts
  sdk/keyvault/keyvault-keys/test/utils/base64url.browser.ts
  sdk/keyvault/keyvault-keys/test/utils/base64url.ts
  sdk/keyvault/keyvault-keys/test/utils/testAuthentication.ts
  sdk/keyvault/test-resources.json
Labels: KeyVault

#16920 Sync eng/common directory with azure-sdk-tools for PR 1902
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#16917 [core-paging] make the page link type generic
  sdk/core/core-paging/review/core-paging.api.md
  sdk/core/core-paging/src/getPagedAsyncIterator.ts
  sdk/core/core-paging/src/models.ts
  sdk/core/core-paging/test/getPagedAsyncIterator.spec.ts
Labels: Azure.Core

#16927 [Perf Tests] Update perf test projects to use the "perf-test" sdk-type
  common/tools/dev-tool/src/commands/index.ts
  common/tools/dev-tool/src/commands/samples/publish.ts
  common/tools/dev-tool/test/resolveProject.spec.ts
  sdk/appconfiguration/perf-tests/app-configuration/package.json
  sdk/appconfiguration/perf-tests/app-configuration/test/listSettings.spec.ts
  sdk/appconfiguration/perf-tests/app-configuration/tsconfig.json
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
  sdk/identity/perf-tests/identity/package.json
  sdk/keyvault/perf-tests/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-keys/package.json
  sdk/keyvault/perf-tests/keyvault-secrets/package.json
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/perf-tests/search-documents/test/core/documentsGenerator.ts
  sdk/search/perf-tests/search-documents/test/core/hotel.ts
  sdk/search/perf-tests/search-documents/test/core/searchDocumentsBase.spec.ts
  sdk/search/perf-tests/search-documents/test/index.spec.ts
  sdk/search/perf-tests/search-documents/test/indexDocumentsTest.spec.ts
  sdk/search/perf-tests/search-documents/test/suggestTest.spec.ts
  sdk/search/perf-tests/search-documents/tsconfig.json
  sdk/storage/perf-tests/storage-blob-track-1/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-blob/test/storageTest.spec.ts
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share-track-1/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/tables/perf-tests/data-tables/package.json
  sdk/tables/perf-tests/data-tables/test/tables.spec.ts
  sdk/test-utils/perfstress/GettingStarted.md
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: Storage, KeyVault, Azure.Identity, Event Grid, Search, Tables, App Configuration, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#16621 Update samples after a package release
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/tools/eng-package-utils/update-samples.js
Labels: Central-EngSys

#16084 Update version dependency for dev
  eng/tools/versioning/set-dev.js
Labels: Central-EngSys

#16918 Sync eng/common directory with azure-sdk-tools for PR 1887
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#16904 Fix Azure Core LRO Sample Issues
  sdk/core/core-lro/samples/typescript/samplesClient.ts
Labels: Azure.Core

#16911 Sync eng/common directory with azure-sdk-tools for PR 1901
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#16933 Pin @azure/arm-appservice
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#16934 [stress testing] Update stress-test-addons chart version
  sdk/servicebus/service-bus/test/stress/Chart.lock
  sdk/servicebus/service-bus/test/stress/Chart.yaml
Labels: Service Bus

#16889 Add C++ toolchain requirement to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: EngSys

#16939 Sync eng/common directory with azure-sdk-tools for PR 1909
  eng/common/scripts/common.ps1
  eng/common/scripts/trust-proxy-certificate.ps1
  eng/common/testproxy/apply-dev-cert.sh
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/localhost.conf
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#16881 Fix ESLint errors in storage-blob package.
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/BatchResponseParser.ts
  sdk/storage/storage-blob/src/BatchUtils.browser.ts
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/Range.ts
  sdk/storage/storage-blob/src/credentials/Credential.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/policies/AnonymousCredentialPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageBrowserPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-blob/src/sas/ContainerSASPermissions.ts
  sdk/storage/storage-blob/src/sas/SASQueryParameters.ts
  sdk/storage/storage-blob/src/utils/BlobQuickQueryStream.ts
  sdk/storage/storage-blob/src/utils/RetriableReadableStream.ts
  sdk/storage/storage-blob/src/utils/utils.browser.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/aborter.spec.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobclientpollers.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/blobversioning.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/retrypolicy.spec.ts
  sdk/storage/storage-blob/test/specialnaming.spec.ts
  sdk/storage/storage-blob/test/utils/assert.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-blob/test/utils/index.ts
Labels: Storage

#16952 Sync eng/common directory with azure-sdk-tools for PR 1913
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#16946 [service-bus] update long running stress test to use single sender
  sdk/servicebus/service-bus/test/stress/app/src/scenarioLongRunning.ts
Labels: Service Bus

#16929 [event-hubs] fix flaky consumer tests
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
Labels: Event Hubs

#16941 Update temp work around for dev exception
  common/config/rush/common-versions.json
Labels: Central-EngSys

#16963 [Text Analytics] Rename sortby to orderby
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/index.ts
Labels: Cognitive - Text Analytics

#16962 Sync eng/common directory with azure-sdk-tools for PR 1919
  eng/common/scripts/FilterPoliCheckResults.ps1
Labels: EngSys, Central-EngSys

#16593 [KeyVault] - Add support for Key Rotation
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_getkeyrotationpolicy_returns_undefined_if_there_is_no_rotation_policy.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_getkeyrotationpolicy_supports_tracing.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_rotating_a_key.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_tracing.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_throws_when_attempting_to_fetch_a_policy_of_a_nonexistent_key.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_creating_a_new_rotation_policy_and_fetching_it.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_tracing.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_updating_an_existing_policy.json
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_getkeyrotationpolicy_returns_undefined_if_there_is_no_rotation_policy.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_getkeyrotationpolicy_supports_tracing.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_rotating_a_key.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_tracing.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_throws_when_attempting_to_fetch_a_policy_of_a_nonexistent_key.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_creating_a_new_rotation_policy_and_fetching_it.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_tracing.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_updating_an_existing_policy.js
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/internal/transformations.spec.ts
  sdk/keyvault/keyvault-keys/test/public/keyClient.spec.ts
  sdk/keyvault/test-resources.json
Labels: KeyVault

#16961 Post release automated changes for schemaregistry releases
  package.json
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/README.md
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/README.md
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/package.json
Labels: auto-merge

#16967 [KeyVault] - Regenerate KeyVault Admin using 7.3-preview
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-certificates/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/serviceVersionParameter.spec.ts
Labels: KeyVault

#16972 Sync eng/common directory with azure-sdk-tools for PR 1912
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#16978 Sync eng/common directory with azure-sdk-tools for PR 1924
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#16981 [CredScan] replace password value with a replacement value
  documentation/next-generation-quickstart.md
  sdk/identity/identity/test/public/browser/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#16965 Update `typings` to `types` in clean NPM scripts
  sdk/appconfiguration/perf-tests/app-configuration/package.json
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/identity/perf-tests/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-keys/package.json
  sdk/keyvault/perf-tests/keyvault-secrets/package.json
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
  sdk/search/perf-tests/search-documents/package.json
  sdk/storage/perf-tests/storage-blob-track-1/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share-track-1/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/tables/perf-tests/data-tables/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/perfstress/tsconfig.json
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/tsconfig.json
  sdk/test-utils/test-utils/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: Storage, KeyVault, Azure.Identity, Event Grid, Search, Tables, App Configuration, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#16959 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Client, Container Registry, auto-merge

#16977 [KeyVault] - Add Key Rotation sample
  sdk/keyvault/keyvault-keys/samples-dev/keyRotation.ts
Labels: KeyVault

#16993 Sync eng/common directory with azure-sdk-tools for PR 1926
  eng/common/Update-Change-Log.ps1
Labels: EngSys, Central-EngSys

#16846 [Identity] Throwing if required parameters are not provided
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.js
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.js
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/keyvault/keyvault-admin/test/internal/serviceVersionParameter.spec.ts
Labels: Azure.Identity, auto-merge

#16925 [App Config] Skip live testing for byPage to avoid throttling in the CI
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
Labels: App Configuration

#16755 Increment version for features releases
  sdk/features/arm-features/CHANGELOG.md
  sdk/features/arm-features/package.json
Labels: auto-merge

#16839 Increment version for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/constants.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: auto-merge, Communication

#16873 Increment version for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Labels: Cognitive - Form Recognizer, auto-merge

#16840 Increment version for monitor releases
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/monitorManagementClientContext.ts
Labels: Monitor, auto-merge

#16902 Increment version for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
Labels: auto-merge

#15851 [Identity] Migrate AuthorizationCodeCredential to use MSAL
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/samples/manual/README.md
  sdk/identity/identity/samples/manual/authorizationCodeSample.ts
  sdk/identity/identity/samples/manual/package.json
  sdk/identity/identity/samples/manual/sample.env
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalAuthorizationCode.ts
  sdk/identity/identity/test/public/node/authorizationCodeCredential.spec.ts
Labels: Azure.Identity

#17022 [core][client] Stop importing URL from url
  sdk/core/core-client/package.json
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/src/url.browser.ts
  sdk/core/core-client/src/url.ts
  sdk/core/core-client/src/urlHelpers.ts
Labels: customer-reported

#17034 [Cosmos] Fix retry handling for Session Not Found errors
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/retry/RetryContext.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/src/retry/sessionRetryPolicy.ts
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
Labels: Cosmos

#17036 [Cosmos] 3.13.1 Adds date to changelog
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#17039 [Cosmos] 3.13.1
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#17038 [Cosmos] remove deprecated @types/fast-json-stable-stringify dependency
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#16945 [event-hubs] fix IoT Connection string sample
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionString.ts
Labels: Event Hubs

#16589 [event-hubs] adds IoT Hub connection string conversion with websockets sample
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionStringWebsockets.ts
Labels: Event Hubs, auto-merge

#17056 [KeyVault] - Update region for MHSM deployment
  sdk/keyvault/test-resources.json
Labels: KeyVault

#17061 Update CODEOWNERS for every mgmt package in feature/v4 branch
  .github/CODEOWNERS
Labels: auto-merge

#16957 [service-bus] fix getMessageIterator docs
  sdk/servicebus/service-bus/src/receivers/receiver.ts
Labels: Service Bus

#17037 Remove usage of deprecated rollup-plugin-node-resolve
  common/config/rush/pnpm-lock.yaml
  sdk/attestation/attestation/package.json
  sdk/deviceupdate/iot-device-update/package.json
Labels: Synapse

#16994 [Cosmos] Adds pipeline to requestContext for AAD auth reuse
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/request/RequestContext.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
Labels: Cosmos

#17008 New pipeline to run weekly JS automation
  eng/pipelines/aggregate-reports.yml
  eng/pipelines/weekly_automation.yml
Labels: Central-EngSys

#16976 Sync eng/common directory with azure-sdk-tools for PR 1918
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#17072 [Identity] Fix broken link
  sdk/identity/identity/samples/manual/README.md
Labels: Azure.Identity, auto-merge

#16984 [core] - Remove SpanOptions from the public API
  common/tools/dev-tool/package.json
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-auth/src/tracing.ts
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/operationOptions.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/src/policies/tracingPolicy.ts
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/webResource.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/createSpan.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/test/createSpan.spec.ts
  sdk/core/core-tracing/test/interfaces.spec.ts
  sdk/core/core-tracing/test/util/testSpan.ts
  sdk/core/core-tracing/test/util/testTracer.ts
  sdk/eventhub/event-hubs/src/diagnostics/tracing.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.browser.ts
  sdk/keyvault/keyvault-keys/test/internal/crypto.spec.ts
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/storage/storage-blob/src/utils/tracing.ts
  sdk/storage/storage-file-datalake/src/utils/tracing.ts
  sdk/storage/storage-file-share/src/utils/tracing.ts
  sdk/storage/storage-queue/src/utils/tracing.ts
  sdk/test-utils/test-utils/src/tracing/testSpan.ts
  sdk/test-utils/test-utils/src/tracing/testTracer.ts
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core

#17059 [core] - return early if span is not recording
  sdk/core/core-http/src/policies/tracingPolicy.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
Labels: Azure.Core

#16926 Increment version for attestation releases
  sdk/attestation/attestation/CHANGELOG.md
  sdk/attestation/attestation/package.json
  sdk/attestation/attestation/src/generated/generatedClientContext.ts
  sdk/attestation/attestation/swagger/README.md
Labels: auto-merge

#17060 Update CODEOWNERS for every mgmt package
  .github/CODEOWNERS
Labels: auto-merge

#17026 [Text Analytics] Regenerate using v3.2-preview.2 swagger
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#17319 Sync eng/common directory with azure-sdk-tools for PR 1943
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#17329 Update signaling client, release date, version
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/constants.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication

#17327 Update signaling client, release date, version
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/constants.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
Labels: Communication

#17336 [core] - Ignore spanOptions in core-tracing tests
  sdk/core/core-tracing/test/interfaces.spec.ts
Labels: Azure.Core

#17320 Update version of execa being used
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/storage/storage-file-datalake/execute-samples.js
  sdk/storage/storage-file-datalake/package.json
Labels: Storage, Cosmos, Monitor, auto-merge

#17340 [core-paging] update changelog
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
Labels: Azure.Core

#17328 remove qs dependency from identity
  sdk/identity/identity/package.json
  sdk/identity/identity/samples/manual/authorizationCodeSample.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.browser.ts
Labels: Azure.Identity

#17356 Clarify LogsQueryClient query parameter description
  sdk/monitor/monitor-query/src/logsQueryClient.ts
Labels: Monitor

#17351 Sync eng/common directory with azure-sdk-tools for PR 1952
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#17355 Sync eng/common directory with azure-sdk-tools for PR 1953
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#17118 Resolve API review comments: Not expose ListFilesIncludeType which is only internal used.
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
Labels: Storage

#17349 Remove rush update recheck automation
  eng/pipelines/aggregate-reports.yml
Labels: Central-EngSys
