Repository Azure/azure-sdk-for-js, pull requests merged in 2021-06, with the labels that each got.

#15486 [KeyVault] - Update broken links for Key Vault Secrets
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/migration-guide.md
Labels: KeyVault

#15481 Remove msal-node dependency
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/test/public/node/exchangeTeamsToken.node.spec.ts
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
Labels: Communication, auto-merge

#15438 [Identity] Removed unnecessary protected method from the public API
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/mockAzureCliCredentialClient.ts
  sdk/identity/identity/test/public/node/azureCliCredential.spec.ts
Labels: Azure.Identity

#15418 Sync eng/common directory with azure-sdk-tools for PR 1611
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#15489 [KeyVault] - Bump Keys timeout to 90 minutes
  sdk/keyvault/keyvault-keys/tests.yml
Labels: KeyVault

#15500 [KeyVault] - Use error object for LRO errors
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginbackup/recording_returns_the_correct_backup_result_when_fails_to_authenticate.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginbackup/recording_throws_when_polling_errors.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_throws_when_polling_errors.js
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Labels: KeyVault

#15496 Prepare @azure/search-documents for June 2021 GA Release
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/recordings/node/searchclient/recording_autocomplete_returns_the_correct_autocomplete_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_autocomplete_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient/recording_count_returns_the_correct_document_count.js
  sdk/search/search-documents/recordings/node/searchclient/recording_deletedocuments_delete_a_document_by_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_deletedocuments_delete_a_document_by_keykeynames.js
  sdk/search/search-documents/recordings/node/searchclient/recording_getdocument_returns_the_correct_document_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_getdocument_throws_error_for_invalid_getdocument_value.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_deletes_existing_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_merges_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_mergeupload_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_upload_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergedocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergeoruploaddocuments_merge_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergeoruploaddocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_returns_the_correct_search_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_with_speller.js
  sdk/search/search-documents/recordings/node/searchclient/recording_suggest_returns_the_correct_suggestions.js
  sdk/search/search-documents/recordings/node/searchclient/recording_suggest_returns_zero_suggestions_for_invalid_input.js
  sdk/search/search-documents/recordings/node/searchclient/recording_uploaddocuments_upload_a_set_of_documents.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_creates_the_index_object_using_createorupdateindex.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_correct_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_modify_and_updates_the_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_throws_error_for_invalid_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_creates_the_synonymmap_object_using_createorupdatesynonymmap.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_correct_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_modify_and_updates_the_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_throws_error_for_invalid_synonymmap_object.js
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: Search

#15490 [communication][phone-numbers] update to identity v2
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_isnt_owned.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_isnt_owned.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_isnt_owned.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_isnt_owned.js
Labels: Communication

#15503 [Communication] - Identity - Update identity to v2
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_creates_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_token.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_deletes_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_single_scope.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive/recording_successfully_revokes_tokens_issued_for_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive/recording_successfully_exchanges_a_teams_token_for_an_acs_token.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive/recording_throws_an_error_when_attempting_to_exchange_an_invalid_teams_token.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive_aad/recording_successfully_exchanges_a_teams_token_for_an_acs_token.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive_aad/recording_throws_an_error_when_attempting_to_exchange_an_invalid_teams_token.js
Labels: Communication

#15456 update sms to use azure identity v2
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
Labels: Communication

#15497 [Identity] InteractiveBrowserCredential for Node now waits for the listener to start listening
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
Labels: Azure.Identity

#15493 Refactor SubmitTransaction to fix multiple send issue
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_multiple_transactions_with_the_same_partition_key.json
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_multiple_transactions_with_the_same_partition_key.js
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablePolicies.ts
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/src/utils/transactionHelpers.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
Labels: Tables

#15523 [core-rest-pipeline] 1.1.0-beta.3 release date
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: auto-merge

#15524 [KeyVault] - Rename upsertRoleDefinition to setRoleDefinition
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient_role_definitions_setroledefinition/recording_errors_when_name_is_not_a_valid_guid.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient_role_definitions_setroledefinition/recording_errors_when_updating_a_builtin_role_definition.js
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/samples-dev/accessControlHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-admin/samples/v4/javascript/accessControlHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/accessControlHelloWorld.ts
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
Labels: KeyVault

#15535 [tables] fix CI failure Node v8
  sdk/tables/data-tables/src/TablePolicies.ts
Labels: Tables

#15521 [core-http] Update CHANGELOG for 2021 June release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#15543 Sync eng/common directory with azure-sdk-tools for PR 1658
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#15546 [monitor-query] Prepping monitor-query for first beta release.
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/metricsDefinitionsClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/metricsNamespacesClientContext.ts
Labels: Monitor

#15547 [Identity] Attempting to fix an issue with CI testing
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, auto-merge

#15552 [Communication]: Increase timeout for update capabilities test from 90s to 120s
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
Labels: Communication

#15508 Fix Ai Text Analytics Readme Issue
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#15484 Update package versions for STG77 GA
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#15373 [App Config] Updates to the serializer based on the consistency review
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_serializeasconfigurationsettingparam/recording_unexpected_value__as_feature_flag_value.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_serializeasconfigurationsettingparam/recording_unexpected_value_hello_world_as_feature_flag_value.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_serializeasconfigurationsettingparam/recording_unexpected_value__as_secret_reference_value.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_serializeasconfigurationsettingparam/recording_unexpected_value_hello_world_as_secret_reference_value.js
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
Labels: App Configuration, auto-merge

#15568 [KeyVault] - Avoid `const enum` for extensible enums
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
Labels: KeyVault

#6762 Add Gitter community channel
  README.md
Labels: Client, Docs

#15567 [Text Analytics] Makes LROs state properties required
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/operation.ts
  sdk/textanalytics/ai-text-analytics/src/lro/health/poller.ts
  sdk/textanalytics/ai-text-analytics/src/lro/poller.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#15501 Sync eng/common directory with azure-sdk-tools for PR 1645
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#15570 Sync eng/common directory with azure-sdk-tools for PR 1654
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#15425 Increment version for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Cognitive - Form Recognizer

#15396 Increment version for communication releases
  sdk/communication/communication-network-traversal/CHANGELOG.md
  sdk/communication/communication-network-traversal/package.json
Labels: Communication, auto-merge

#15572 [App Config] 1.2.0-beta.2 release
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
Labels: App Configuration, auto-merge

#15574 Use engines not engine in package.json files
  eng/tools/dependency-testing/templates/package.json
  sdk/core/abort-controller/package.json
  sdk/core/logger/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/test-utils/perfstress/package.json
  sdk/test-utils/test-utils/package.json
Labels: Azure.Core, Azure.Identity, KeyVault, Synapse, auto-merge

#15571 [Identity] Different approach for testing the Arc feature, instead of mock-fs
  sdk/identity/identity/package.json
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, auto-merge

#15527 [EventGrid] Updates to System Event Mappings
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/README.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/constants.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#15554 [Text Analytics] Regenerate with service v3.1 swagger
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeHealthcareEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/parameters.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsAction.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#15146 Clean up entries in docsettings.yml
  eng/.docsettings.yml
Labels: auto-merge

#15578 [monitor-query] Addressing last bits of feedback for 1.0.0-beta.1
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples-dev/metricsQuery.ts
  sdk/monitor/monitor-query/samples/v1/javascript/logsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/v1/javascript/metricsQuery.js
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
  sdk/monitor/monitor-query/src/index.ts
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/metricsQueryClient.ts
  sdk/monitor/monitor-query/src/models/constants.ts
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
  sdk/monitor/monitor-query/src/models/publicMetricsModels.ts
  sdk/monitor/monitor-query/test/internal/unit/modelConverters.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsClient.spec.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
Labels: Monitor

#15592 [Text Analytics] Fix live tests
  sdk/textanalytics/ai-text-analytics/recordings/browsers/api_key_textanalyticsclient_lros_health/recording_entity_assertions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/api_key_textanalyticsclient_lros_health/recording_entity_assertions.js
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#15601 [Metrics-advisor] update changelog date and samples
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
  sdk/metricsadvisor/ai-metrics-advisor/karma.conf.js
  sdk/metricsadvisor/ai-metrics-advisor/sample.env
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/alertingConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/dataSourceCredential.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/detectionConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/hooks.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/alertingConfig.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/dataFeed.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/dataSourceCredential.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/detectionConfig.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/hooks.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/package.json
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/package.json
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/alertingConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/dataSourceCredential.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/detectionConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/hooks.ts
Labels: Cognitive - Metrics Advisor

#15603 [storage]Preparing for STG77 GA
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Storage

#15598 [Text Analytics] add categoriesFilter to RecognizePiiEntitiesAction
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#15612 [EventGrid] Prepare for Release
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#15610 Sync eng/common directory with azure-sdk-tools for PR 1633
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#15620 Increment version for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/constants.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#15604 [storage-file-share]Fixed bug where ShareFileClient.download may corrupt data when source is changing.
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/Clients.ts
Labels: Storage

#15349 [service-bus] pass abortSignal to link initialization and awaitableSender
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/cbs.spec.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/unittestUtils.ts
  sdk/servicebus/service-bus/test/internal/utils/misc.ts
Labels: Service Bus, auto-merge

#15637 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
Labels: Storage

#15630 Update Version in Search Documents SDK
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#15613 [KeyVault] - Update KeyVault Admin samples
  sdk/keyvault/keyvault-admin/samples-dev/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples-dev/backupSelectiveKeyRestore.ts
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupRestoreHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupSelectiveKeyRestore.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupSelectiveKeyRestore.ts
Labels: KeyVault

#15555 Increment version for core releases
  common/config/rush/common-versions.json
  sdk/containerregistry/container-registry/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/perf-tests/core-rest-pipeline/package.json
Labels: Azure.Core

#15628 Remove or upgrade identity dependencies on packages
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-queue/package.json
Labels: Storage

#15548 [service-bus] Updating changelog with proper date and features for 7.2.0 GA release
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#15649 [Text Analytics] Regenerate with the updated swagger for v3.1
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClient.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#15652 [event-hubs] prepare for 5.5.2 release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs, auto-merge

#15651 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables

#15650 Increment version for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core, auto-merge

#15632 update version of identity for perf tests and samples of service-bus
  common/config/rush/pnpm-lock.yaml
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
  sdk/identity/perf-tests/identity/package.json
  sdk/keyvault/perf-tests/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-keys/package.json
  sdk/keyvault/perf-tests/keyvault-secrets/package.json
  sdk/search/perf-tests/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: Azure.Identity, Cognitive - Form Recognizer, Cognitive - Text Analytics, KeyVault, Search, Service Bus

#15657 Sync eng/common directory with azure-sdk-tools for PR 1685
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#15658 [service-bus] Fix autoCompleteMessages help to indicate that it'll both completeMessage() and abandonMessage()
  sdk/servicebus/service-bus/src/models.ts
Labels: Service Bus

#15665 Increment version for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#15673 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#15676 [Identity] Properly supporting the AZURE_AUTHORITY_HOST environment variable
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/util/authHostEnv.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
Labels: Azure.Identity, auto-merge

#15677 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#15591 [Communication][Test] Update client secret replacement to common one
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_gets_a_token_for_a_user_multiple_scopes.js
  sdk/communication/communication-identity/recordings/node/communicationidentityclientwithtoken_playbacklive/recording_successfully_gets_a_token_for_a_user_single_scope.js
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_using_token_based_authentication_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
Labels: Communication

#15187 [core-rest-pipeline] Add a simple sample
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/sample.env
  sdk/core/core-rest-pipeline/samples-dev/.gitkeep
  sdk/core/core-rest-pipeline/samples-dev/node-sample.ts
  sdk/core/core-rest-pipeline/samples/v1/javascript/README.md
  sdk/core/core-rest-pipeline/samples/v1/javascript/node-sample.js
  sdk/core/core-rest-pipeline/samples/v1/javascript/package.json
  sdk/core/core-rest-pipeline/samples/v1/typescript/README.md
  sdk/core/core-rest-pipeline/samples/v1/typescript/package.json
  sdk/core/core-rest-pipeline/samples/v1/typescript/src/node-sample.ts
  sdk/core/core-rest-pipeline/samples/v1/typescript/tsconfig.json
  sdk/core/core-rest-pipeline/tsconfig.json
Labels: Azure.Core, Client

#15518 [Identity] ManagedIdentityCredential also supports app registration client IDs
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
Labels: Azure.Identity

#15681 [Cosmos] Adds REQUEST_SEND_ERROR exception to failover codes
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
Labels: Cosmos

#15682 [Cosmos] Adds changelog for 3.11.5
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#15683 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#15687 Update @azure/identity version to 2.0.0-beta.4
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential.js
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential.js
  sdk/communication/communication-network-traversal/test/public/utils/recordedClient.ts
Labels: Communication

#15694 allow setting auth host in nodeCommon via envVars
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
Labels: Azure.Identity

#15693 keyvault support identity
  sdk/keyvault/arm-keyvault/README.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClientContext.ts
Labels: KeyVault

#15692 eventhub support identity
  sdk/eventhub/arm-eventhub/README.md
  sdk/eventhub/arm-eventhub/package.json
  sdk/eventhub/arm-eventhub/src/eventHubManagementClient.ts
  sdk/eventhub/arm-eventhub/src/eventHubManagementClientContext.ts
Labels: Event Hubs

#15686 [communication] update to identity 2.0.0-beta.4
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
Labels: Communication

#15698 Fixes #15664
  sdk/tables/data-tables/src/TableTransaction.ts
Labels: Tables, customer-reported

#15684 [Text Analytics] Use test matrix to enable AAD and APIKey in one test suite
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/test/public/apiKey.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#15685 Standardize constantPaths for updating package version in automated PRs
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/swagger/README.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/swagger/README.md
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/swagger/README.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/metricsadvisor/ai-metrics-advisor/swagger/README.md
  sdk/mixedreality/mixedreality-authentication/package.json
  sdk/mixedreality/mixedreality-authentication/swagger/README.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/swagger/README.md
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Cognitive - Metrics Advisor, Communication, Digital Twins, KeyVault, Monitor, Storage, Synapse

#15704 [Synapse Artifacts] Update identity version ad re do recordings
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/recordings/browsers/bigdatapools/recording_should_get_a_bigdatapool_by_name.json
  sdk/synapse/synapse-artifacts/recordings/browsers/bigdatapools/recording_should_list_bigdatapools.json
  sdk/synapse/synapse-artifacts/recordings/browsers/dataflow/recording_should_create_dataflow.json
  sdk/synapse/synapse-artifacts/recordings/browsers/dataflow/recording_should_delete_dataflow.json
  sdk/synapse/synapse-artifacts/recordings/browsers/dataflow/recording_should_get_dataflow.json
  sdk/synapse/synapse-artifacts/recordings/browsers/dataflow/recording_should_list_dataflows.json
  sdk/synapse/synapse-artifacts/recordings/browsers/dataflow/recording_should_rename_dataflow.json
  sdk/synapse/synapse-artifacts/recordings/browsers/integrationruntimes/recording_should_get_integrationruntimes.json
  sdk/synapse/synapse-artifacts/recordings/browsers/integrationruntimes/recording_should_list_integrationruntimes.json
  sdk/synapse/synapse-artifacts/recordings/browsers/library/recording_should_create_library.json
  sdk/synapse/synapse-artifacts/recordings/browsers/library/recording_should_delete_library.json
  sdk/synapse/synapse-artifacts/recordings/browsers/library/recording_should_get_library.json
  sdk/synapse/synapse-artifacts/recordings/browsers/library/recording_should_list_library.json
  sdk/synapse/synapse-artifacts/recordings/node/bigdatapools/recording_should_get_a_bigdatapool_by_name.js
  sdk/synapse/synapse-artifacts/recordings/node/bigdatapools/recording_should_list_bigdatapools.js
  sdk/synapse/synapse-artifacts/recordings/node/dataflow/recording_should_create_dataflow.js
  sdk/synapse/synapse-artifacts/recordings/node/dataflow/recording_should_delete_dataflow.js
  sdk/synapse/synapse-artifacts/recordings/node/dataflow/recording_should_get_dataflow.js
  sdk/synapse/synapse-artifacts/recordings/node/dataflow/recording_should_list_dataflows.js
  sdk/synapse/synapse-artifacts/recordings/node/dataflow/recording_should_rename_dataflow.js
  sdk/synapse/synapse-artifacts/recordings/node/integrationruntimes/recording_should_get_integrationruntimes.js
  sdk/synapse/synapse-artifacts/recordings/node/integrationruntimes/recording_should_list_integrationruntimes.js
  sdk/synapse/synapse-artifacts/recordings/node/library/recording_should_create_library.js
  sdk/synapse/synapse-artifacts/recordings/node/library/recording_should_delete_library.js
  sdk/synapse/synapse-artifacts/recordings/node/library/recording_should_get_library.js
  sdk/synapse/synapse-artifacts/recordings/node/library/recording_should_list_library.js
Labels: Synapse

#15654 Updating identity v2 beta versions for identity tests and reverting to GA version v1 for samples
  common/config/rush/pnpm-lock.yaml
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_deletes_repository_of_given_name.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories_by_pages_with_continuationtoken.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_deletes_a_given_tag.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_manifest_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_repository_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_tag_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages_with_continuationtoken.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags_by_pages_with_continuationtoken.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_tag_properties.json
  sdk/containerregistry/container-registry/recordings/node/anonymous_access_tests/recording_should_list_repositories_with_anonymous_access.js
  sdk/containerregistry/container-registry/recordings/node/anonymous_access_tests/recording_should_throw_error_setting_properties_with_anonymous_access.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_deletes_repository_of_given_name.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories_by_pages_with_continuationtoken.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_deletes_a_given_tag.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_manifest_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_repository_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_tag_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages_with_continuationtoken.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags_by_pages_with_continuationtoken.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_tag_properties.js
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1/typescript/package.json
  sdk/containerregistry/container-registry/test/public/utils.ts
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity/test/manual-integration/AzureArc/package.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/package.json
  sdk/identity/identity/test/manual-integration/AzureVM/package.json
  sdk/identity/identity/test/manual-integration/Cloudshell/package.json
  sdk/identity/identity/test/manual-integration/Kubernetes/package.json
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/package.json
  sdk/identity/identity/test/manual/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
Labels: Event Hubs

#15715 update identity version to 2.0.0-beta.4 for iot-device-update
  sdk/deviceupdate/iot-device-update/package.json
Labels: Azure.Identity

#15716 [service-bus] Flaky test fix - un-awaited abandonMessage() calls cause unrelated tests to fail
  sdk/servicebus/service-bus/test/internal/atomE2ETests.spec.ts
Labels: Service Bus

#15703 Use string union instead of string in Chat message type
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication

#15058 template identity version updated
  sdk/template/template/package.json
  sdk/template/template/recordings/browsers/aad_configurationclient_functional_tests/recording_predetermined_setting_has_expected_value.json
  sdk/template/template/recordings/node/aad_configurationclient_functional_tests/recording_predetermined_setting_has_expected_value.js
  sdk/template/template/test/public/configurationClient.spec.ts
Labels: Azure.Identity, EngSys

#15551 [KeyVault] - Prepare KeyVault libraries for release
  sdk/keyvault/README.md
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
Labels: KeyVault

#15707 [core-http] Prepare for v1.2.6 release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#15705 [monitor-query] Allowing for passing a custom endpoint and custom authorization scopes.
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts
Labels: Monitor

#15718 [monitor-query] Work around the double-JSON encoding bug
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
Labels: Monitor

#15733 Increment version for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: Azure.Core

#15482 ARM Cosmosdb
  sdk/cosmosdb/arm-cosmosdb/README.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClientContext.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraClustersMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraDataCentersMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/databaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/gremlinResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mongoDBResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/notebookWorkspacesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/parameters.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateEndpointConnectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateLinkResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableDatabaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbCollectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbDatabasesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlContainersMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlDatabasesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/serviceMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/sqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/tableResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/cassandraClusters.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/cassandraDataCenters.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableDatabaseAccounts.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbCollections.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbDatabases.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlContainers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlDatabases.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/service.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/sqlResources.ts
Labels: Cosmos

#15719 [Identity] Fixed wrong log on Node.js
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/utils.ts
Labels: Azure.Identity, auto-merge

#15735 [KeyVault] - Fix JavaScript samples and poller circular references
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/poller.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/poller.ts
  sdk/keyvault/keyvault-secrets/samples-dev/backupAndRestore.ts
  sdk/keyvault/keyvault-secrets/samples-dev/deleteAndRecover.ts
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/backupAndRestore.js
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/deleteAndRecover.js
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/src/backupAndRestore.ts
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/src/deleteAndRecover.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/poller.ts
Labels: KeyVault

#15734 [core] Fix missing readme headers
  eng/.docsettings.yml
  sdk/core/abort-controller/README.md
  sdk/core/core-amqp/README.md
  sdk/core/core-auth/README.md
  sdk/core/logger/README.md
Labels: Azure.Core, auto-merge

#15388 Add Tag and addtional tag automatically
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/scripts/cleanup-npm-next-tag.ps1
  eng/scripts/get-npm-tags.ps1
  eng/scripts/helpers/npm-helpers.ps1
  eng/tools/publish-to-npm.ps1
Labels: Central-EngSys

#15738 [core] Allow password-less proxySettings
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/proxyAgent.ts
  sdk/core/core-http/test/proxyAgent.node.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/proxyPolicy.ts
  sdk/core/core-rest-pipeline/test/node/proxyPolicy.spec.ts
Labels: Azure.Core

#15737 [monitor-query] Adding live tests for monitor-query and update changelog for release
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/karma.conf.js
  sdk/monitor/monitor-query/sample.env
  sdk/monitor/monitor-query/samples-dev/metricsQuery.ts
  sdk/monitor/monitor-query/samples/v1/javascript/metricsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/package.json
  sdk/monitor/monitor-query/samples/v1/javascript/sample.env
  sdk/monitor/monitor-query/samples/v1/typescript/package.json
  sdk/monitor/monitor-query/samples/v1/typescript/sample.env
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
  sdk/monitor/monitor-query/test.env
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
  sdk/monitor/test-resources.json
Labels: Monitor

#15744 [Core] Use ES2017
  sdk/core/abort-controller/tsconfig.json
  sdk/core/core-asynciterator-polyfill/tsconfig.json
  sdk/core/core-auth/tsconfig.json
  sdk/core/core-paging/tsconfig.json
  sdk/core/core-tracing/tsconfig.json
  sdk/core/logger/tsconfig.json
Labels: Azure.Core

#15752 Test utils is an internal package, need not follow readme template
  eng/.docsettings.yml
Labels: auto-merge

#15751 [KeyVault] - Fix incorrect paths to keyvault-common
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault

#15750 Increment version for monitor releases
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/metricsDefinitionsClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/metricsNamespacesClientContext.ts
Labels: Monitor

#15756 [monitor-query] Fixing issues in the readme and samples
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/javascript/logsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
Labels: Monitor

#15754 Sync eng/common directory with azure-sdk-tools for PR 1688
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#15757 [KeyVault] - Update package versions after release
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/core/core-lro/package.json
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/perf-tests/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-keys/package.json
  sdk/keyvault/perf-tests/keyvault-secrets/package.json
Labels: App Configuration, Azure.Core, KeyVault

#15773 [perf-ai-metrics-advisor] fix config file paths in format commands
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
Labels: Cognitive - Metrics Advisor

#15624 Increment version for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
Labels: App Configuration

#15760 Remove IE related doc and tests
  sdk/appconfiguration/app-configuration/karma.conf.js
  sdk/communication/communication-chat/karma.conf.js
  sdk/communication/communication-common/karma.conf.js
  sdk/communication/communication-identity/karma.conf.js
  sdk/communication/communication-network-traversal/karma.conf.js
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-sms/karma.conf.js
  sdk/core/core-client-rest/karma.conf.js
  sdk/core/core-client/karma.conf.js
  sdk/core/core-crypto/karma.conf.js
  sdk/core/core-lro/karma.conf.js
  sdk/core/core-rest-pipeline/karma.conf.js
  sdk/core/core-util/karma.conf.js
  sdk/core/core-xml/karma.conf.js
  sdk/digitaltwins/digital-twins-core/karma.conf.js
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/identity/identity/karma.conf.js
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-keys/karma.conf.js
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/quantum/quantum-jobs/karma.conf.js
  sdk/servicebus/service-bus/karma.conf.js
  sdk/storage/storage-blob-changefeed/src/Segment.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.common.ts
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.browser.ts
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-internal-avro/karma.conf.js
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/karma.conf.js
  sdk/storage/storage-queue/test/utils/index.browser.ts
  sdk/tables/data-tables/karma.conf.js
  sdk/test-utils/perfstress/karma.conf.js
  sdk/test-utils/recorder/karma.conf.js
Labels: App Configuration, Azure.Core, Azure.Identity, Communication, Digital Twins, Event Hubs, KeyVault, Service Bus, Storage, Tables

#15770 [Core] - Update readme, fix test paths, and remove OpenCensus wrappers
  eng/.docsettings.yml
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/README.md
  sdk/core/core-tracing/karma.conf.js
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/rollup.base.config.js
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusSpanWrapper.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusTraceStateWrapper.ts
  sdk/core/core-tracing/src/tracers/opencensus/openCensusTracerWrapper.ts
Labels: Azure.Core

#15728 Fix up changelogs for Storage packages
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Storage, auto-merge

#15784 [KeyVault] - Add README for keyvault-common
  eng/.docsettings.yml
  sdk/keyvault/keyvault-common/README.md
Labels: KeyVault

#15721 [App Config] Handle throttling - do not hang - should honor abort signal
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/policies/throttlingRetryPolicy.ts
  sdk/appconfiguration/app-configuration/test/internal/throttlingRetryPolicyTests.spec.ts
Labels: App Configuration, auto-merge

#15785 [core] bearerTokenAuthenticationPolicy shouldn't sign HTTP URLs
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/test/policies/bearerTokenAuthenticationPolicyTests.ts
  sdk/core/core-http/test/serviceClientTests.ts
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts
Labels: Azure.Core, auto-merge

#15779 [Identity] Adding one test to confirm that specifying permissions works
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_specific_permissions.js
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
Labels: Azure.Identity

#15782 [Storage] - Add information about web worker compatibility
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-queue/README.md
Labels: Client, Storage

#15778 [Identity] Adding regional STS support
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal/recording_supports_specifying_the_regional_authority.js
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_supports_specifying_the_regional_authority.js
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_supports_specifying_the_regional_authority.js
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientCertificateCredentialOptions.ts
  sdk/identity/identity/src/credentials/clientSecretCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientSecret.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/regionalAuthority.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
Labels: Azure.Identity, auto-merge

#15840 Change default branch name to main
  eng/pipelines/mgmt-ci.yml
  eng/pipelines/templates/jobs/ci.yml
  sdk/storage/test-resources-post.ps1
  sdk/tables/test-resources-post.ps1
Labels: Storage, Tables

#15843 Sync eng/common directory with azure-sdk-tools for PR 1711
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#15807 [Communication]: Always use x-ms-date for Hmac
  sdk/communication/communication-common/src/credential/communicationAccessKeyCredentialPolicy.ts
  sdk/communication/communication-identity/test/public/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_isnt_owned.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_isnt_owned.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_isnt_owned.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_isnt_owned.js
  sdk/communication/communication-phone-numbers/test/internal/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
Labels: Communication

#15830 [KeyVault] - Add networkAcls to MHSM ARM template
  sdk/keyvault/keyvault-keys/recordings/browsers/challenge_based_authentication_tests/recording_authentication_should_work_for_parallel_requests.json
  sdk/keyvault/keyvault-keys/recordings/browsers/challenge_based_authentication_tests/recording_once_authenticated_new_requests_should_not_authenticate_again.json
  sdk/keyvault/keyvault-keys/recordings/browsers/challenge_based_authentication_tests_parsewwwauthenticate_tests/recording_should_skip_unexpected_properties_on_the_wwwauthenticate_header.json
  sdk/keyvault/keyvault-keys/recordings/browsers/challenge_based_authentication_tests_parsewwwauthenticate_tests/recording_should_work_for_known_shapes_of_the_wwwauthenticate_header.json
  sdk/keyvault/keyvault-keys/recordings/node/challenge_based_authentication_tests/recording_authentication_should_work_for_parallel_requests.js
  sdk/keyvault/keyvault-keys/recordings/node/challenge_based_authentication_tests/recording_once_authenticated_new_requests_should_not_authenticate_again.js
  sdk/keyvault/keyvault-keys/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.json
Labels: KeyVault

#15850 [AzureMonitorExporter] Adding support for temporary redirect
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/trace.test.ts
Labels: Monitor

#15761 [service-bus] Closing some open areas where we could mask errors, and fixing flaky tests to be more reliable.
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/internal/backupMessageSettlement.spec.ts
  sdk/servicebus/service-bus/test/internal/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/utils/misc.ts
Labels: Service Bus

#15876 Sync eng/common directory with azure-sdk-tools for PR 1716
  eng/common/README.md
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#15885 Sync eng/common directory with azure-sdk-tools for PR 1719
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#15884 [core] Remove `core-lro` runtime dependency on `core-http`
  sdk/core/core-lro/package.json
  sdk/core/core-lro/rollup.base.config.js
Labels: Azure.Core, Client

#15783 [Identity] Comment improvements. Identity generally doesn't return null anymore
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
Labels: Azure.Identity, auto-merge

#15897 [Identity] README.md: Bigger title for Extensions and a markdown fix
  sdk/identity/identity/README.md
Labels: Azure.Identity

#15883 [core] Update @azure/core-tracing to use @opentelemetry/api@1.0.0
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/test/cache.spec.ts
  sdk/monitor/monitor-query/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Communication, Digital Twins, EngSys, Event Hubs, KeyVault, Monitor, Search, Service Bus, Storage, Synapse

#15901 [App Config] Add display_name to FeatureFlag
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_get_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_update_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_list_and_update_multiple_featureflags.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_serializeasconfigurationsettingparam/recording_unexpected_value__as_feature_flag_value.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_serializeasconfigurationsettingparam/recording_unexpected_value_hello_world_as_feature_flag_value.js
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/internal/jsonModels.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
Labels: App Configuration, auto-merge

#15900 [identity] Add publication metadata for extension pacakges
  sdk/identity/ci.yml
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity-vscode/test/public/node/visualStudioCodeCredential.spec.ts
Labels: Azure.Identity, auto-merge

#15902 [core] - added changelog entries for recent changes
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-tracing/CHANGELOG.md
Labels: Azure.Core

#15789 Arm cosmosdb release
  sdk/cosmosdb/arm-cosmosdb/README.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClientContext.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/databaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/gremlinResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mongoDBResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/notebookWorkspacesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/parameters.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateEndpointConnectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateLinkResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableDatabaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbCollectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbDatabasesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlContainersMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlDatabasesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/sqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/tableResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/cassandraResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/gremlinResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/mongoDBResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableDatabaseAccounts.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbCollections.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbDatabases.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlContainers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlDatabases.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/sqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/tableResources.ts
Labels: Cosmos

#15881 [KeyVault] - Migrate Key Vault Admin package to Core V2
  common/config/rush/common-versions.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/challengeAuthenticationCallbacks.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/azureAsyncOperationStrategy.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/bodyPollingStrategy.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/index.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/locationStrategy.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/lroPolicy.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/lroPoller.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/models.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/operation.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/passthroughStrategy.ts
  sdk/keyvault/keyvault-admin/src/generated/lro/requestUtils.ts
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
  sdk/keyvault/keyvault-admin/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-admin/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/roleAssignments.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/roleDefinitions.ts
  sdk/keyvault/keyvault-admin/src/generated/operationsInterfaces/roleAssignments.ts
  sdk/keyvault/keyvault-admin/src/generated/operationsInterfaces/roleDefinitions.ts
  sdk/keyvault/keyvault-admin/src/index.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/keyVaultAdminPoller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/tracingHelpers.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-admin/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-admin/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-admin/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
  sdk/keyvault/keyvault-admin/test/utils/authentication.ts
  sdk/keyvault/keyvault-admin/test/utils/recorder.ts
  sdk/keyvault/keyvault-admin/test/utils/supportsTracing.ts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: KeyVault

#15907 Skip rush update when running using pull request
  eng/pipelines/aggregate-reports.yml
Labels: Central-EngSys

#15908 Move to @azure/msal-node-extensions 1.0.0-alpha.7
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
Labels: Azure.Identity

#15731 [Communication]Feature: add sender display name within send typing notifications
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
Labels: Communication

#15926 Default live test timeout to 60 minutes
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#15904 [core-rest-pipeline] Fix handling of typed arrays in request bodies
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
Labels: Azure.Core, Client

#15857 [Tables] Migration Guide
  sdk/tables/data-tables/MigrationGuide.md
Labels: Tables

#12938 Diberry/1217 blob storage file upload content type 2
  sdk/storage/storage-blob/samples/browserSamples/largeFileUploads.js
  sdk/storage/storage-blob/src/Clients.ts
Labels: Client, Storage

#15929 [service-bus] Fixing issue where links were not removed from our internal cache
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
Labels: Service Bus

#15791 arm-eventgrid-release
  sdk/eventgrid/arm-eventgrid/README.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClientContext.ts
  sdk/eventgrid/arm-eventgrid/src/models/domainTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/domainsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/eventChannelsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/eventSubscriptionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/extensionTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/index.ts
  sdk/eventgrid/arm-eventgrid/src/models/mappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerNamespacesMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerRegistrationsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerTopicEventSubscriptionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/privateEndpointConnectionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/systemTopicEventSubscriptionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/systemTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/topicTypesMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/topicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/operations/domainTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operations/domains.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerRegistrations.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateEndpointConnections.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateLinkResources.ts
Labels: Event Grid

#15849 Bump up version for storage packages
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#15934 [Azure Monitor Exporter] Updating OpenTelemetry API to 1.0.0
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/span/dbAttributes.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/span/grpcAttributes.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/span/httpAttributes.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/common/scenario/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/trace.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/utils/spanUtils.test.ts
  sdk/monitor/monitor-query/package.json
Labels: Monitor

#15944 [Tables] Add missing browser mappings
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/utils/computeHMACSHA256.browser.ts
  sdk/tables/data-tables/src/utils/isCosmosEndpoint.ts
Labels: Tables

#15835 [Storage] Use ES2017
  common/tools/dev-tool/src/commands/samples/prep.ts
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/tsconfig.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/tsconfig.json
  sdk/quantum/quantum-jobs/tsconfig.json
  sdk/storage/storage-blob-changefeed/tsconfig.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/tsconfig.json
  sdk/storage/storage-datalake/tsconfig.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/tsconfig.json
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/tsconfig.json
  sdk/storage/storage-internal-avro/tsconfig.json
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
  sdk/storage/storage-queue/tsconfig.json
Labels: Azure.Core, Client, Storage

#15938 [Tables] Expose client option allowInsecureConnection
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/src/utils/connectionString.ts
Labels: Tables, auto-merge

#15927 Sync eng/common directory with azure-sdk-tools for PR 1729
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#15925 [core] - Bump core-http to 2.0.0 and core-lro to 2.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/deviceupdate/iot-device-update/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/mixedreality/mixedreality-authentication/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-query/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/videoanalyzer/video-analyzer-edge/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: App Configuration, Azure.Core, Azure.Identity, Client, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Communication, Digital Twins, EngSys, KeyVault, Monitor, Search, Service Bus, Storage, Synapse

#15031 [Identity] Samples aligned with other languages (v1 compatible)
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, auto-merge

#15956 Tweak workspace settings for VS Code startup perf
  dataplane.code-workspace
Labels: Client, auto-merge

#15951 Sync eng/common directory with azure-sdk-tools for PR 1736
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#15748 [MetricsAdvisor] Generated code and latest swagger
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_eventhubs_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_datafeed_datafeed/recording_deletes_eventhubs_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_eventhubs_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_datafeed_datafeed/recording_deletes_eventhubs_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/alertingConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/dataSourceCredential.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/detectionConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/hooks.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/metricFeedback.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples-dev/seriesData.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/alertingConfig.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/dataFeed.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/dataSourceCredential.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/detectionConfig.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/hooks.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/metricFeedback.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/package.json
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/quickstart.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/sample.env
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/javascript/seriesData.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/package.json
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/sample.env
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/alertingConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/dataSourceCredential.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/detectionConfig.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/hooks.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/metricFeedback.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/v1/typescript/src/seriesData.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/index.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/mappers.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/parameters.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/swagger/README.md
  sdk/metricsadvisor/ai-metrics-advisor/test/internal/transforms.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/dataSourceCred.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
Labels: Cognitive - Metrics Advisor
