Repository Azure/azure-sdk-for-js, pull requests merged in 2021-05, with the labels that each got.

#15069 Sync eng/common directory with azure-sdk-tools for PR 1579
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#15096 Sync eng/common directory with azure-sdk-tools for PR 1524
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#14598 [EventGrid] Document Distributed Tracing extension
  sdk/eventgrid/eventgrid/README.md
Labels: Event Grid

#14659 [core-rest-pipeline] WWW-Authenticate challenge perf-stress test
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/perf-tests/core-rest-pipeline/CHANGELOG.md
  sdk/core/perf-tests/core-rest-pipeline/README.md
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/core/perf-tests/core-rest-pipeline/sample.env
  sdk/core/perf-tests/core-rest-pipeline/test/bearerTokenChallengeAuthenticationPolicy/wwwChallenge.spec.ts
  sdk/core/perf-tests/core-rest-pipeline/test/index.spec.ts
  sdk/core/perf-tests/core-rest-pipeline/tsconfig.json
Labels: auto-merge

#14880 [core] delay loading of NO_PROXY
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/policies/proxyPolicy.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/proxyPolicy.ts
Labels: Azure.Core, Client

#15126 Revert "Pin identity dev dependency to avoid re-recording"
  common/config/rush/common-versions.json
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/attestation/attestation/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/storage/storage-blob/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/template/template/package.json
Labels: Cognitive - Metrics Advisor, Communication, Digital Twins, EngSys, KeyVault, Storage, Synapse

#15105 [Communication] - Testing - Introduce CloudConfig into test.yml
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-phone-numbers/tests.yml
  sdk/communication/communication-sms/tests.yml
  sdk/communication/test-resources.json
Labels: Communication

#15091 [Communication] - Contribution - Introducing contribution guide
  sdk/communication/CONTRIBUTING.md
Labels: Communication

#15005 [core-client] wrap response body for more mapper types
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/src/utils.ts
  sdk/core/core-client/test/serviceClient.spec.ts
Labels: Azure.Core

#15136 [App Config] Add the prefix if not present for feature flags
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
Labels: App Configuration, auto-merge

#15134 [core-rest-pipeline] make CAE policy options' `credential` optional
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/policies/bearerTokenChallengeAuthenticationPolicy.ts
Labels: Azure.Core, Client

#15141 [Communication] - Samples - fixing samples to point to proper env var
  sdk/communication/communication-chat/samples/javascript/messageOperations.js
  sdk/communication/communication-chat/samples/javascript/participantsOperations.js
  sdk/communication/communication-chat/samples/javascript/threadOperations.js
  sdk/communication/communication-chat/samples/typescript/src/messageOperations.ts
  sdk/communication/communication-chat/samples/typescript/src/participantsOperations.ts
  sdk/communication/communication-chat/samples/typescript/src/threadOperations.ts
Labels: Communication

#15139 [Identity] Add note on Node.js support
  sdk/identity/identity/README.md
Labels: Azure.Identity

#13840 (SAS) Grant access to CosmosDB resources using shared access signatures (experimental)
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/SasToken/SasTokenAuth.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/PermissionScopeValues.ts
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenProperties.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/tsconfig.strict.json
  sdk/cosmosdb/cosmos/src/utils/SasToken.ts
  sdk/cosmosdb/cosmos/src/utils/headers.ts
  sdk/cosmosdb/cosmos/test/internal/unit/sasToken.spec.ts
Labels: Cosmos

#15144 [core] prepare CHANGELOG files for 2021 May releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Core

#15151 Version Update Change for search-documents May 21
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#15159 [Cosmos] Import URL from browser/node shim rather than builtin
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
Labels: Cosmos

#15166 Sync eng/common directory with azure-sdk-tools for PR 1596
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#15160 Renaming to standard static EV
  sdk/communication/CONTRIBUTING.md
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-phone-numbers/test.env
  sdk/communication/communication-phone-numbers/test/README.md
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
  sdk/communication/communication-sms/karma.conf.js
  sdk/communication/communication-sms/test.env
  sdk/communication/communication-sms/test/README.md
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
Labels: Communication

#15153 Extend Check Enforcer timeout
  eng/CHECKENFORCER
Labels: Central-EngSys, EngSys

#15179 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#15149 [schema registry] Return undefined for not found
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/README.md
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/tsconfig.json
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
  sdk/schemaregistry/schema-registry/README.md
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/samples-dev/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry/samples/v1/javascript/schemaRegistrySample.js
  sdk/schemaregistry/schema-registry/samples/v1/typescript/README.md
  sdk/schemaregistry/schema-registry/samples/v1/typescript/package.json
  sdk/schemaregistry/schema-registry/samples/v1/typescript/src/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/samples/v1/typescript/tsconfig.json
  sdk/schemaregistry/schema-registry/src/models.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/test/schemaRegistry.spec.ts
Labels: Schema Registry

#15098 [service-bus] Reliability improvements and testing updates
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/internal/node/packageInfo.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverHelper.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusReceiverUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/unittestUtils.ts
  sdk/servicebus/service-bus/test/internal/utils/testUtils.ts
  sdk/servicebus/service-bus/test/public/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testUtils.ts
Labels: Service Bus

#15192 Sync eng/common directory with azure-sdk-tools for PR 1597
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#15061 [core] - Ensure Tracing Spans have the correct status
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/policies/tracingPolicy.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
Labels: Azure.Core, Client

#15029 [ContainerRegistry] Cache the ACR refresh token
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_deletes_repository_of_given_name.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_deletes_a_given_tag.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_manifest_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_repository_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_tag_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_tag_properties.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_deletes_repository_of_given_name.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_deletes_a_given_tag.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_manifest_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_repository_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_tag_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_tag_properties.js
  sdk/containerregistry/container-registry/src/containerRegistryChallengeHandler.ts
  sdk/containerregistry/container-registry/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/src/containerRegistryTokenCredential.ts
  sdk/containerregistry/container-registry/src/tokenCycler.ts
  sdk/containerregistry/container-registry/test/public/repositoryAndArtifact.spec.ts
Labels: Client, Container Registry

#15207 [service-bus] Update for release of 7.1.0
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#15033 E2E identity tests with Azure functions
  sdk/identity/identity/test/manual-integration/AzureFunctions/INSTRUCTIONS.md
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/.funcignore
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/.gitignore
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/.vscode/extensions.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/KeyvaultAuthentication/function.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/KeyvaultAuthentication/index.ts
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/host.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/package.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/tsconfig.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/arm-template.json
Labels: Azure.Identity

#15121 [EventGrid] Add Storage and PolicyInsight events
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/constants.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#15170 [IN PROGRESS] Renaming EV for Chat and Identity
  sdk/communication/CONTRIBUTING.md
  sdk/communication/communication-chat/karma.conf.js
  sdk/communication/communication-chat/test/README.md
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
  sdk/communication/communication-identity/karma.conf.js
  sdk/communication/communication-identity/test.env
  sdk/communication/communication-identity/test/README.md
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/test-resources.json
Labels: Communication

#15226 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#15224 [identity] Rework AzurePowerShellCredential fallback sequence
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#15228 Increment version for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/constants.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#14956 [Tables] Add createIfNotExists and deleteIfExists
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/karma.conf.js
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/rollup.base.config.js
  sdk/tables/data-tables/rollup.config.js
  sdk/tables/data-tables/rollup.test.config.js
  sdk/tables/data-tables/samples-dev/batchOperations.ts
  sdk/tables/data-tables/samples-dev/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples-dev/createAndDeleteTable.ts
  sdk/tables/data-tables/samples-dev/queryEntities.ts
  sdk/tables/data-tables/samples-dev/queryTables.ts
  sdk/tables/data-tables/samples-dev/updateAndUpsertEntities.ts
  sdk/tables/data-tables/samples/v12/javascript/batchOperations.js
  sdk/tables/data-tables/samples/v12/javascript/createAndDeleteEntities.js
  sdk/tables/data-tables/samples/v12/javascript/createAndDeleteTable.js
  sdk/tables/data-tables/samples/v12/javascript/queryEntities.js
  sdk/tables/data-tables/samples/v12/javascript/queryTables.js
  sdk/tables/data-tables/samples/v12/javascript/updateAndUpsertEntities.js
  sdk/tables/data-tables/samples/v12/typescript/src/batchOperations.ts
  sdk/tables/data-tables/samples/v12/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/v12/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/v12/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/v12/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/v12/typescript/src/updateAndUpsertEntities.ts
  sdk/tables/data-tables/src/TableBatch.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/generated/models/index.ts
  sdk/tables/data-tables/src/generated/models/mappers.ts
  sdk/tables/data-tables/src/generatedModels.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/swagger/README.md
  sdk/tables/data-tables/test/internal/odata.spec.ts
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/internal/utils.spec.ts
  sdk/tables/data-tables/test/public/batch.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/public/utils/env.browser.ts
  sdk/tables/data-tables/test/public/utils/env.ts
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
Labels: Tables

#15236 Increment version for confidentialledger releases
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/swagger/README.md
Labels: auto-merge

#15197 [storage] Add support for soft delete in storage-file-datalake package
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_and_listpaths_with_recreating_file_after_deletion.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_all_parameters_configured_and_bypage_with_continuationtoken.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_default_parameters.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_default_parameters__empty_path_shouldnt_throw_error.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_recreating_and_deletion_again.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory__recreate_and_delete_path_and_undelete_the_path_twice.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory__recreate_and_delete_path_and_undelete_the_path_with_first_deletionid.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory_special_char.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory_with_deleteifexists.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiterator_for_listdeletedpaths.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiteratorbypage__continuationtoken_for_listdeletedpaths.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiteratorbypage_for_listdeletedpaths.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiteratorgenerator_next_syntax_for_listdeletedpaths.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_setproperties_and_getproperties.json
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_and_listpaths_with_recreating_file_after_deletion.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_all_parameters_configured_and_bypage_with_continuationtoken.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_default_parameters.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_default_parameters__empty_path_shouldnt_throw_error.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_listdeletedpaths_with_recreating_and_deletion_again.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory__recreate_and_delete_path_and_undelete_the_path_twice.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory__recreate_and_delete_path_and_undelete_the_path_with_first_deletionid.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory_special_char.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_undelete_file_and_directory_with_deleteifexists.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiterator_for_listdeletedpaths.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiteratorbypage__continuationtoken_for_listdeletedpaths.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiteratorbypage_for_listdeletedpaths.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient_with_soft_delete/recording_verify_pagedasynciterableiteratorgenerator_next_syntax_for_listdeletedpaths.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_setproperties_and_getproperties.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/fileSystem.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/path.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/utils/PathClientInternal.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
Labels: Storage

#15122 [Key Vault] Fixed pollers that wouldn't bubble up unknown errors to end users
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-certificates/test/internal/lroUnexpectedErrors.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-keys/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-keys/test/internal/lroUnexpectedErrors.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/test/internal/lroUnexpectedErrors.spec.ts
Labels: KeyVault

#15065 [storage-blob][test] upgrade @azure/identity dev dependency to v2
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/node/generation_for_user_delegation_sas_nodejs_only/recording_saoid_and_scid_should_work.js
  sdk/storage/storage-blob/recordings/node/generation_for_user_delegation_sas_nodejs_only/recording_sas_permission_m_e_for_blob_should_work.js
  sdk/storage/storage-blob/recordings/node/generation_for_user_delegation_sas_nodejs_only/recording_sas_permission_m_e_for_container_should_work.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_blob.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_blob_snapshot.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_blob_version_delete.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_container_with_all_configurations.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_container_with_minimum_parameters.js
Labels: Client, Storage

#14993 Rush Update Full
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/createRecorder.ts
  sdk/test-utils/recorder/src/index.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/src/utils/msalAuth.node.ts
  sdk/test-utils/recorder/src/utils/requestBodyTransform.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
Labels: auto-merge

#15247 [communication][phone-numbers] increase test timeouts
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-phone-numbers/test/public/list.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
Labels: Communication

#15201 Sync eng/common directory with azure-sdk-tools for PR 1594
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#15241 [identity] Update AzurePowerShellCredential and add samples
  sdk/identity/identity/README.md
  sdk/identity/identity/images/AzurePowerShellLogin.png
  sdk/identity/identity/images/VsCodeLoginCommand.png
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#15251 [Identity] This changelog entry should not be here
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#15222 Increment version for search releases
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
Labels: Search

#15169 [Identity] InteractiveBrowserCredential redirect URI clarifications
  sdk/identity/identity/interactive-browser-credential.md
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
Labels: Azure.Identity, auto-merge

#15249 remove locale from support.md
  SUPPORT.md
Labels: auto-merge

#15240 Fix a test issue in environment where buffer supports 4GB at largest.
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
Labels: Storage

#15266 [storage-blob]Support version 2020-08-04 in storage-blob package.
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
Labels: Storage

#15216 [communication] phonenumbers - fix false positive purchase/release test, harden exception tests
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
Labels: Communication

#15117 add new test-utils package
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/test/public/communicationIdentityClient.spec.ts
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-phone-numbers/test/public/list.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/matrix.ts
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/utils/matrix.ts
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/test/public/formtrainingclient.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-keys/test/utils/utils.common.ts
  sdk/test-utils/test-utils/README.md
  sdk/test-utils/test-utils/package.json
  sdk/test-utils/test-utils/rollup.config.js
  sdk/test-utils/test-utils/src/global.browser.ts
  sdk/test-utils/test-utils/src/global.ts
  sdk/test-utils/test-utils/src/index.ts
  sdk/test-utils/test-utils/src/matrix.ts
  sdk/test-utils/test-utils/src/multiVersion.ts
  sdk/test-utils/test-utils/test/matrix.spec.ts
  sdk/test-utils/test-utils/test/multiVersion.spec.ts
  sdk/test-utils/test-utils/tsconfig.json
Labels: Cognitive - Form Recognizer, Communication

#15250 [Tables] Refactor Tables transaction
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_a_set_of_create_actions_when_using_tabletransaction_helper.json
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_a_set_of_create_actions_when_using_tabletransaction_helper.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/samples-dev/transactionOperations.ts
  sdk/tables/data-tables/samples-dev/transactionWithHelper.ts
  sdk/tables/data-tables/samples/v12/javascript/README.md
  sdk/tables/data-tables/samples/v12/javascript/transactionOperations.js
  sdk/tables/data-tables/samples/v12/javascript/transactionWithHelper.js
  sdk/tables/data-tables/samples/v12/typescript/README.md
  sdk/tables/data-tables/samples/v12/typescript/src/transactionOperations.ts
  sdk/tables/data-tables/samples/v12/typescript/src/transactionWithHelper.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablePolicies.ts
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/src/index.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/utils/baseTransactionHeaders.ts
  sdk/tables/data-tables/src/utils/batchHeaders.browser.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/src/utils/transactionHeaders.browser.ts
  sdk/tables/data-tables/src/utils/transactionHeaders.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
Labels: Tables

#15269 [communication] tests - add repeatability result check
  sdk/communication/communication-sms/test/public/utils/assertHelpers.ts
Labels: Communication

#15259 Increment version for identity releases
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity, auto-merge

#15271 [service-bus] Re-enabling the AMQP body type encoding feature.
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/internal/amqp.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/amqpUnitTests.spec.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
Labels: Service Bus

#15246 [KeyVault] - Admin and Keys API unification
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.hsm.spec.ts
Labels: KeyVault

#15220 Rename Properties to Metadata in Message Model
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/chatThreadClient.spec.ts
Labels: Communication

#15265 [storage-blob][storage-file-datalake]Deprecate destination...Name in the restore operations.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
Labels: Storage

#15267 Support version 2020-08-04 in storage-blob and storage-file-datalake package.
  common/config/rush/pnpm-lock.yaml
  sdk/quantum/quantum-jobs/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Labels: Storage

#15282 Add test resource config
  sdk/storage/test-resources.json
Labels: Storage

#15283 Skip test cases for unsupported features.
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
Labels: Storage

#15284 Sync eng/common directory with azure-sdk-tools for PR 1598
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#15275 [Tables] Support bigint
  sdk/tables/ci.yml
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/samples-dev/workingWithBigInt.ts
  sdk/tables/data-tables/samples-dev/workingWithInt64.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
Labels: Tables

#15252 [Text Analytics] Update JS samples
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeActions.js
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/beginAnalyzeActions.ts
Labels: Cognitive - Text Analytics, auto-merge

#15295 [service-bus] Final work to expose AMQP body type encoding publicly
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/amqp.spec.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testutils2.ts
Labels: Service Bus

#15307 [Tables] Skip Node8 for Live Test Validation
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/tests.yml
Labels: Tables, auto-merge

#15094 [event-hubs] add tests for cancellation
  sdk/eventhub/event-hubs/src/util/timeoutAbortSignalUtils.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/event-hubs/test/internal/utils.spec.ts
  sdk/eventhub/event-hubs/test/public/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/receivedMessagesTester.ts
Labels: Event Hubs

#15290 [core] allow logging of Accept-Encoding header value
  sdk/core/core-http/src/util/sanitizer.ts
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
Labels: Azure.Core

#15286 [core] Fix core-http and core-asynciterator-polyfill packaging issue
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-http/package.json
  sdk/core/core-http/rollup.base.config.js
  sdk/core/core-http/tsconfig.es.json
Labels: Azure.Core, Client

#15125 Metrics updates
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_alert_configurations_one_by_one_and_by_pages.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_alert_configurations_one_by_one_and_by_pages.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_a_detection_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_an_alert_configuration.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_alert_configurations_one_by_one_and_by_pages.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_creates_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_deletes_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_alert_configurations_one_by_one_and_by_pages.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_lists_detection_configurations_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_retrieves_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_a_detection_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_detection_and_alert_configs_crud_operations/recording_updates_an_alert_configuration.js
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/index.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/generated/models/mappers.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/swagger/README.md
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
Labels: Cognitive - Metrics Advisor

#15323 [Tables] Fix core-ci <=> skip int64 tests in node 8
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/internal/utils.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
  sdk/test-utils/test-utils/src/index.ts
  sdk/test-utils/test-utils/src/utils.ts
Labels: Tables, auto-merge

#15279 [Key Vault Admin] API Alignment
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/samples-dev/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples-dev/backupSelectiveRestore.ts
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupRestoreHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupSelectiveRestore.js
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupRestoreHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupSelectiveRestore.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/mappings.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Labels: KeyVault, auto-merge

#15330 [Dev tool] Hide docker pull output
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Labels: auto-merge

#15327 Sync eng/common directory with azure-sdk-tools for PR 1585
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#15193 [App Config] FeatureFlag (and SecretReference) redesign - version 8.1
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_get_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_update_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_list_and_update_multiple_featureflags.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_and_update_secretreference.js
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/sample-react/src/components/Page.tsx
  sdk/appconfiguration/app-configuration/sample-react/src/utils/index.ts
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/jsonModels.ts
  sdk/appconfiguration/app-configuration/src/keyvaultReference.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/secretReference.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
Labels: App Configuration, auto-merge

#15328 [Dev tool] Support samples v2 directory structure in check node versions command
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Labels: auto-merge

#15318 Upgrade core v2 dep to ^1.0.3
  common/config/rush/common-versions.json
  sdk/core/core-client/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob/package.json
  sdk/tables/data-tables/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics

#15336 [Dev tool] Clean doc for artifact-path
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
  common/tools/dev-tool/src/util/findSamplesDir.ts
Labels: dev-tool

#15333 Increment version for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
Labels: Cognitive - Text Analytics, auto-merge

#15322 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#15338 [identity] Unpin msal-common and msal-browser dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
Labels: Azure.Identity, auto-merge

#15348 Update add-identity-mgmt-lib script to rely more on AzureIdentityExamples.md
  common/tools/add-identity-mgmt-lib.js
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, auto-merge

#15342 [Key Vault Admin] Updates to the upsertRoleDefinition method and options
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient_role_definitions/recording_can_create_update_and_delete_a_role_definition_happy_path.js
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/samples-dev/accessControlHelloWorld.ts
  sdk/keyvault/keyvault-admin/samples/v4/javascript/accessControlHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/accessControlHelloWorld.ts
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
Labels: KeyVault, auto-merge

#15346 Sync eng/common directory with azure-sdk-tools for PR 1615
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/pipelines/docindex.yml
Labels: Central-EngSys, EngSys

#15292 [ContainerRegistry] Minor fix after beta.2
  sdk/containerregistry/container-registry/README.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/test/public/containerRegistryClient.spec.ts
  sdk/containerregistry/container-registry/test/public/repositoryAndArtifact.spec.ts
Labels: Client, Container Registry

#15345 [communication][sms] run sms samples in pipeline
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/sample.env
  sdk/communication/communication-sms/samples-dev/sendSms.ts
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
  sdk/communication/communication-sms/samples/v1/javascript/README.md
  sdk/communication/communication-sms/samples/v1/javascript/package.json
  sdk/communication/communication-sms/samples/v1/javascript/sample.env
  sdk/communication/communication-sms/samples/v1/javascript/sendSms.js
  sdk/communication/communication-sms/samples/v1/javascript/sendSmsWithOptions.js
  sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1/typescript/README.md
  sdk/communication/communication-sms/samples/v1/typescript/package.json
  sdk/communication/communication-sms/samples/v1/typescript/sample.env
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSms.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples/v1/typescript/src/usingAadAuth.ts
Labels: Communication

#15350 [Communication] - Swagger - update the swagger require path
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-sms/src/generated/src/smsApiClientContext.ts
  sdk/communication/communication-sms/swagger/README.md
Labels: Communication

#15352 [Key Vault] Update READMEs with links to RBAC
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Labels: KeyVault

#15354 [Key Vault Admin] Selective Restore to Selective Key Restore
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/recordings/node/aborting_keyvaultbackupclients_requests/recording_can_abort_beginselectivekeyrestore.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_selectivekeyrestore_completes_successfully.js
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/samples-dev/backupSelectiveKeyRestore.ts
  sdk/keyvault/keyvault-admin/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupSelectiveKeyRestore.js
  sdk/keyvault/keyvault-admin/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/backupSelectiveKeyRestore.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/poller.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Labels: KeyVault, auto-merge

#15301 [Communication] - Azure.Communication.NetworkTraversal - Adding the ACS NetworkTraversal SDK
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/communication/communication-network-traversal/.gitignore
  sdk/communication/communication-network-traversal/.nycrc
  sdk/communication/communication-network-traversal/.vscode/launch.json
  sdk/communication/communication-network-traversal/CHANGELOG.md
  sdk/communication/communication-network-traversal/LICENSE
  sdk/communication/communication-network-traversal/README.md
  sdk/communication/communication-network-traversal/api-extractor.json
  sdk/communication/communication-network-traversal/karma.conf.js
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential.js
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential.js
  sdk/communication/communication-network-traversal/review/communication-network-traversal.api.md
  sdk/communication/communication-network-traversal/rollup.base.config.js
  sdk/communication/communication-network-traversal/rollup.config.js
  sdk/communication/communication-network-traversal/rollup.test.config.js
  sdk/communication/communication-network-traversal/sample.env
  sdk/communication/communication-network-traversal/samples-dev/getRelayConfiguration.ts
  sdk/communication/communication-network-traversal/samples/v1/javascript/README.md
  sdk/communication/communication-network-traversal/samples/v1/javascript/getRelayConfiguration.js
  sdk/communication/communication-network-traversal/samples/v1/javascript/package.json
  sdk/communication/communication-network-traversal/samples/v1/javascript/sample.env
  sdk/communication/communication-network-traversal/samples/v1/typescript/README.md
  sdk/communication/communication-network-traversal/samples/v1/typescript/package.json
  sdk/communication/communication-network-traversal/samples/v1/typescript/sample.env
  sdk/communication/communication-network-traversal/samples/v1/typescript/src/getRelayConfiguration.ts
  sdk/communication/communication-network-traversal/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-network-traversal/src/common/logger.ts
  sdk/communication/communication-network-traversal/src/common/tracing.ts
  sdk/communication/communication-network-traversal/src/communicationRelayClient.ts
  sdk/communication/communication-network-traversal/src/constants.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/communicationNetworkTraversalMappers.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/index.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/mappers.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/parameters.ts
  sdk/communication/communication-network-traversal/src/generated/src/networkRelayRestClient.ts
  sdk/communication/communication-network-traversal/src/generated/src/networkRelayRestClientContext.ts
  sdk/communication/communication-network-traversal/src/generated/src/operations/communicationNetworkTraversal.ts
  sdk/communication/communication-network-traversal/src/generated/src/operations/index.ts
  sdk/communication/communication-network-traversal/src/index.ts
  sdk/communication/communication-network-traversal/src/models.ts
  sdk/communication/communication-network-traversal/swagger/README.md
  sdk/communication/communication-network-traversal/test.env
  sdk/communication/communication-network-traversal/test/README.md
  sdk/communication/communication-network-traversal/test/public/communicationNetworkTraversalClient.spec.ts
  sdk/communication/communication-network-traversal/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-network-traversal/test/public/utils/recordedClient.ts
  sdk/communication/communication-network-traversal/tests.yml
  sdk/communication/communication-network-traversal/tsconfig.json
Labels: Communication

#15375 [communication-network-traversal] Add to ci.yml and leverage swagger model rename
  sdk/communication/ci.yml
  sdk/communication/communication-network-traversal/src/communicationRelayClient.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/communicationNetworkTraversalMappers.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/index.ts
  sdk/communication/communication-network-traversal/src/generated/src/models/mappers.ts
  sdk/communication/communication-network-traversal/src/generated/src/operations/communicationNetworkTraversal.ts
  sdk/communication/communication-network-traversal/src/index.ts
  sdk/communication/communication-network-traversal/src/models.ts
  sdk/communication/communication-network-traversal/swagger/README.md
Labels: Communication

#15374 [Cosmos] Sanitizes AAD dataplane RBAC URL
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/auth.ts
  sdk/cosmosdb/cosmos/src/utils/checkURL.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/checkURL.spec.ts
Labels: Cosmos

#15340 Update analyze step to use common publish artifact with retry
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#15376 Increment version for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#15360 [Key Vault Keys] Fixed bad references.
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
  sdk/keyvault/keyvault-keys/test/internal/transformations.spec.ts
Labels: KeyVault, auto-merge

#15395 Updating Network Traversal change in CHANGELOG
  sdk/communication/communication-network-traversal/CHANGELOG.md
Labels: Communication

#15406 [service-bus] Remove dead code in MessageSender.sendMessages
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
Labels: Service Bus

#15377 Sacheu/int live test
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-phone-numbers/test.env
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/tests.yml
  sdk/communication/communication-sms/karma.conf.js
  sdk/communication/communication-sms/test.env
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
  sdk/communication/communication-sms/tests.yml
  sdk/communication/test-resources.json
Labels: Communication

#15407 Sync eng/common directory with azure-sdk-tools for PR 1627
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#15391 [Key Vault] Exposing the Identifier parsers, and aligning the names
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/identifier.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/transformations.ts
  sdk/keyvault/keyvault-certificates/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
  sdk/keyvault/keyvault-keys/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/identifier.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/transformations.ts
  sdk/keyvault/keyvault-secrets/test/public/identifier.spec.ts
Labels: KeyVault

#15411 [data-tables] Fixing a typo in the doc comment
  sdk/tables/data-tables/src/models.ts
Labels: Tables

#15408 Sync eng/common directory with azure-sdk-tools for PR 1629
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#15409 [service-bus] getMaxMessages needs to retry if link doesn't initialize
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSender.spec.ts
Labels: Service Bus

#14954 CredScan Reports - clearing noise related to "scope" in request bodies
  common/config/rush/pnpm-lock.yaml
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/createRecorder.browser.ts
  sdk/test-utils/recorder/src/createRecorder.ts
  sdk/test-utils/recorder/src/defaultCustomizations.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/src/utils/requestBodyTransform.ts
  sdk/test-utils/recorder/test/browser/utils.spec.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_fast_tests_detectlanguage/recording_client_accepts_no_countryhint.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_fast_tests_detectlanguage/recording_client_accepts_no_countryhint.js
Labels: Client, auto-merge, test-utils-recorder

#15317 Chat Samples v2 Migration
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/sample.env
  sdk/communication/communication-chat/samples-dev/messageOperations.ts
  sdk/communication/communication-chat/samples-dev/participantsOperations.ts
  sdk/communication/communication-chat/samples-dev/threadOperations.ts
  sdk/communication/communication-chat/samples/javascript/README.md
  sdk/communication/communication-chat/samples/javascript/package.json
  sdk/communication/communication-chat/samples/tsconfig.json
  sdk/communication/communication-chat/samples/typescript/README.md
  sdk/communication/communication-chat/samples/typescript/package.json
  sdk/communication/communication-chat/samples/v1/javascript/README.md
  sdk/communication/communication-chat/samples/v1/javascript/messageOperations.js
  sdk/communication/communication-chat/samples/v1/javascript/package.json
  sdk/communication/communication-chat/samples/v1/javascript/participantsOperations.js
  sdk/communication/communication-chat/samples/v1/javascript/sample.env
  sdk/communication/communication-chat/samples/v1/javascript/threadOperations.js
  sdk/communication/communication-chat/samples/v1/typescript/README.md
  sdk/communication/communication-chat/samples/v1/typescript/package.json
  sdk/communication/communication-chat/samples/v1/typescript/sample.env
  sdk/communication/communication-chat/samples/v1/typescript/src/messageOperations.ts
  sdk/communication/communication-chat/samples/v1/typescript/src/participantsOperations.ts
  sdk/communication/communication-chat/samples/v1/typescript/src/threadOperations.ts
  sdk/communication/communication-chat/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-chat/test.env
  sdk/communication/communication-chat/tsconfig.json
Labels: Communication

#15427 Sync eng/common directory with azure-sdk-tools for PR 1635
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#15426 [core] Improve the sanitizer to handle recursive objects
  sdk/core/core-http/src/util/sanitizer.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/test/sanitizerTests.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
  sdk/core/core-rest-pipeline/test/sanitizer.spec.ts
Labels: Azure.Core, Client

#15434 [Text Analytics] Rename PiiEntityDomainType to PiiEntityDomain
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#15439 [core-rest-pipeline] Cherry-pick PR #15426 to hotfix branch
  sdk/core/core-http/src/util/sanitizer.ts
  sdk/core/core-http/src/util/utils.ts
  sdk/core/core-http/test/sanitizerTests.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
  sdk/core/core-rest-pipeline/test/sanitizer.spec.ts
Labels: Azure.Core, Client

#15430 [service-bus] Updating samples to fix a few issues:
  sdk/servicebus/service-bus/samples-dev/browseMessages.ts
  sdk/servicebus/service-bus/samples-dev/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples-dev/sendMessages.ts
  sdk/servicebus/service-bus/samples-dev/session.ts
  sdk/servicebus/service-bus/samples/v7/javascript/browseMessages.js
  sdk/servicebus/service-bus/samples/v7/javascript/receiveMessagesLoop.js
  sdk/servicebus/service-bus/samples/v7/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/v7/javascript/session.js
  sdk/servicebus/service-bus/samples/v7/typescript/src/browseMessages.ts
  sdk/servicebus/service-bus/samples/v7/typescript/src/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples/v7/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/samples/v7/typescript/src/session.ts
Labels: Service Bus

#15422 Update test results titles to include service directory and cloud names
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#15449 [Communication]: Add SDK operation to exchange access token
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive/recording_successfully_exchanges_a_teams_token_for_an_acs_token.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive/recording_throws_an_error_when_attempting_to_exchange_an_invalid_teams_token.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive_aad/recording_successfully_exchanges_a_teams_token_for_an_acs_token.js
  sdk/communication/communication-identity/recordings/node/exchange_teams_token_for_acs_token_playbacklive_aad/recording_throws_an_error_when_attempting_to_exchange_an_invalid_teams_token.js
  sdk/communication/communication-identity/review/communication-identity.api.md
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
  sdk/communication/communication-identity/src/constants.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClientContext.ts
  sdk/communication/communication-identity/src/generated/src/models/index.ts
  sdk/communication/communication-identity/src/generated/src/models/mappers.ts
  sdk/communication/communication-identity/src/generated/src/models/parameters.ts
  sdk/communication/communication-identity/src/generated/src/operations/communicationIdentity.ts
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-identity/test/public/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-identity/test/public/node/exchangeTeamsToken.node.spec.ts
  sdk/communication/communication-identity/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/communication-identity/test/public/utils/testCommunicationIdentityClient.ts
Labels: Communication, auto-merge

#15453 Fix some duplicated url fragments to unblock sample publication.
  sdk/keyvault/keyvault-secrets/samples/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/javascript/backupAndRestore.js
  sdk/keyvault/keyvault-secrets/samples/javascript/deleteAndRecover.js
  sdk/keyvault/keyvault-secrets/samples/javascript/helloWorld.js
  sdk/keyvault/keyvault-secrets/samples/javascript/listOperations.js
  sdk/keyvault/keyvault-secrets/samples/javascript/package.json
  sdk/keyvault/keyvault-secrets/samples/javascript/purgeAllSecrets.js
  sdk/keyvault/keyvault-secrets/samples/javascript/sample.env
  sdk/keyvault/keyvault-secrets/samples/tsconfig.json
  sdk/keyvault/keyvault-secrets/samples/typescript/README.md
  sdk/keyvault/keyvault-secrets/samples/typescript/package.json
  sdk/keyvault/keyvault-secrets/samples/typescript/sample.env
  sdk/keyvault/keyvault-secrets/samples/typescript/src/backupAndRestore.ts
  sdk/keyvault/keyvault-secrets/samples/typescript/src/deleteAndRecover.ts
  sdk/keyvault/keyvault-secrets/samples/typescript/src/helloWorld.ts
  sdk/keyvault/keyvault-secrets/samples/typescript/src/listOperations.ts
  sdk/keyvault/keyvault-secrets/samples/typescript/src/purgeAllSecrets.ts
  sdk/keyvault/keyvault-secrets/samples/typescript/tsconfig.json
Labels: KeyVault, auto-merge

#15467 fix sms samples breaking livetest pipeline
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples-dev/usingAadAuth.ts
  sdk/communication/communication-sms/samples/v1/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1/typescript/src/usingAadAuth.ts
Labels: Communication
