Repository Azure/azure-sdk-for-js, pull requests merged in 2021-09, with the labels that each got.

#17389 [KeyVault] - Regenerate secrets and certificates using 7.3-preview
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/index.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#15190 Fix spelling errors in ConnectionMode.ts
  sdk/cosmosdb/cosmos/src/documents/ConnectionMode.ts
Labels: customer-reported, Cosmos

#17362 [Identity] Arc MSI fix
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#15263 fix spelling error in AccountSASPermissions.ts
  sdk/storage/storage-blob/src/sas/AccountSASPermissions.ts
Labels: customer-reported, Storage

#17289 [Cosmos] Adds challengeCallbacks to bearerTokenAuthPolicy
  common/config/rush/common-versions.json
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/auth.ts
Labels: Cosmos

#17401 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/Shared/handleError.ts
Labels: Cosmos, auto-merge

#17402 [Text Analytics] Make project and deployment names required
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsAction.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#17404 [KeyVault] - Prepare release for keyvault certificates and secrets
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#16522 Increment version for communication releases
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication

#17405 [Identity] Hotfix 1.5.2 - Updated the user agent
  sdk/identity/identity/src/client/identityClient.ts
Labels: Azure.Identity, auto-merge

#16479 Increment version for communication releases
  sdk/communication/communication-network-traversal/CHANGELOG.md
  sdk/communication/communication-network-traversal/package.json
Labels: Communication

#16630 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage

#16270 Increment version for monitor releases
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
Labels: Monitor, auto-merge

#17403 [core] Prepare release for core-http and core-rest-pipeline
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core

#17411 [Identity] Simplest possible credential sample
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, auto-merge

#17414 upgrade buffer to v6
  common/config/rush/pnpm-lock.yaml
  sdk/attestation/attestation/package.json
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, Event Hubs, Azure.Core

#17417 [core] - fix core-http release date
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#17418 Sync eng/common directory with azure-sdk-tools for PR 1967
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: EngSys, Central-EngSys

#17394 [Identity] Update after Hotfix 1.5.2: Enabling insecure connection requests on the Arc MSI
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#17426 [Cosmos] Bump core-rest-pipeline version
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#17420 Sync eng/common directory with azure-sdk-tools for PR 1972
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#17427 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos, auto-merge

#17399 Improve Monitor Query npm package description
  sdk/monitor/monitor-query/package.json
Labels: Monitor

#17395 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/package.json
Labels: auto-merge

#17431 Remove unused dependency on proxy-agent
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#17430 Increment version after release of core-http
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: Azure.Core

#17433 Update code owners for cosmos
  .github/CODEOWNERS
Labels: auto-merge

#17428 [Text Analytics] Upgrade api-extractor
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
Labels: Cognitive - Text Analytics

#17440 [Schema Registry & Event Hubs] Upgrade api-extractor to v7.18
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry/package.json
Labels: Event Hubs

#17346 [core] - core-tracing compatibility matrix and README updates
  sdk/core/core-tracing/README.md
Labels: Azure.Core

#17393 [Search] - Update search-documents to the latest core packages
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/tsconfig.json
Labels: Search

#17450 Rewrite typo libraies -> libraries in README.md
  README.md
Labels: customer-reported

#17456 [Batch] fix npm packing
  sdk/batch/batch/package.json
  sdk/batch/batch/src/batchServiceClientContext.ts
Labels: Batch

#17412 Code Changes for Search-Documents SDK for September Release (V: 11.3.0-beta.3)
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/recordings/node/searchclient/recording_autocomplete_returns_the_correct_autocomplete_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_autocomplete_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient/recording_count_returns_the_correct_document_count.js
  sdk/search/search-documents/recordings/node/searchclient/recording_deletedocuments_delete_a_document_by_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_deletedocuments_delete_a_document_by_keykeynames.js
  sdk/search/search-documents/recordings/node/searchclient/recording_getdocument_returns_the_correct_document_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_getdocument_throws_error_for_invalid_getdocument_value.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_deletes_existing_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_merges_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_mergeupload_documents.js
  sdk/search/search-documents/recordings/node/searchclient/recording_indexdocuments_upload_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergedocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergeoruploaddocuments_merge_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_mergeoruploaddocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_returns_the_correct_search_result.js
  sdk/search/search-documents/recordings/node/searchclient/recording_search_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient/recording_suggest_returns_the_correct_suggestions.js
  sdk/search/search-documents/recordings/node/searchclient/recording_suggest_returns_zero_suggestions_for_invalid_input.js
  sdk/search/search-documents/recordings/node/searchclient/recording_uploaddocuments_upload_a_set_of_documents.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_creates_the_index_object_using_createorupdateindex.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_correct_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_modify_and_updates_the_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_throws_error_for_invalid_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_creates_the_synonymmap_object_using_createorupdatesynonymmap.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_correct_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_modify_and_updates_the_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_throws_error_for_invalid_synonymmap_object.js
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#17454 Skip updating samples if samples-dev is not present
  eng/tools/eng-package-utils/update-samples.js
Labels: Central-EngSys

#17457 Fix Broken Links in Hotfix Branch of search-documents SDK
  sdk/search/search-documents/samples/javascript/README.md
  sdk/search/search-documents/samples/typescript/README.md
Labels: Search

#17458 Update chat swagger
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.js
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication

#17491 [Identity] Better DAC graph
  sdk/identity/identity/images/DefaultAzureCredentialAuthenticationFlow.png
Labels: auto-merge

#17441 [Synapse] Re-generate Managed Private Endpoints
  sdk/synapse/synapse-managed-private-endpoints/CHANGELOG.md
  sdk/synapse/synapse-managed-private-endpoints/recordings/browsers/synapse_managed_private_endpoints/recording_should_list_endpoints.json
  sdk/synapse/synapse-managed-private-endpoints/recordings/node/synapse_managed_private_endpoints/recording_should_list_endpoints.js
  sdk/synapse/synapse-managed-private-endpoints/review/synapse-managed-private-endpoints.api.md
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClientContext.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/index.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/mappers.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/parameters.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operations/managedPrivateEndpoints.ts
  sdk/synapse/synapse-managed-private-endpoints/swagger/README.md
Labels: Synapse, auto-merge

#17501 Sync eng/common directory with azure-sdk-tools for PR 1986
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#17488 Post release automated changes for eventhub releases
  sdk/eventhub/arm-eventhub/CHANGELOG.md
  sdk/eventhub/arm-eventhub/package.json
Labels: auto-merge

#17487 Post release automated changes for features releases
  sdk/features/arm-features/CHANGELOG.md
  sdk/features/arm-features/package.json
Labels: auto-merge

#17480 Post release automated changes for storage releases
  sdk/storage/arm-storage/CHANGELOG.md
  sdk/storage/arm-storage/package.json
Labels: auto-merge

#17396 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
Labels: auto-merge

#17479 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
Labels: auto-merge

#17476 Post release automated changes for managedapplications releases
  sdk/managedapplications/arm-managedapplications/CHANGELOG.md
  sdk/managedapplications/arm-managedapplications/package.json
Labels: auto-merge

#17478 Post release automated changes for resources releases
  sdk/resources/arm-resources/CHANGELOG.md
  sdk/resources/arm-resources/package.json
Labels: auto-merge

#17472 Post release automated changes for policy releases
  sdk/policy/arm-policy/CHANGELOG.md
  sdk/policy/arm-policy/package.json
Labels: auto-merge

#17474 Post release automated changes for links releases
  sdk/links/arm-links/CHANGELOG.md
  sdk/links/arm-links/package.json
Labels: auto-merge

#17475 Post release automated changes for locks releases
  sdk/locks/arm-locks/CHANGELOG.md
  sdk/locks/arm-locks/package.json
Labels: auto-merge

#16688 [Identity] Support exchanging k8s token to AAD token
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/tokenExchangeMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/test/httpRequests.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/public/node/applicationCredential.spec.ts
Labels: Azure.Identity, auto-merge

#17519 Sync eng/common directory with azure-sdk-tools for PR 1982
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: EngSys, Central-EngSys

#17473 Post release automated changes for keyvault releases
  sdk/keyvault/arm-keyvault/CHANGELOG.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: auto-merge

#17531 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: auto-merge

#17137 [Identity] Simple OnBehalfOfCredential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/onBehalfOfCredential.browser.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientSecret.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOnBehalfOf.ts
  sdk/identity/identity/test/httpRequests.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/onBehalfOfCredential.spec.ts
Labels: Azure.Identity

#17533 [Identity] 2.0.0-beta.6 release date
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#17515 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
Labels: auto-merge

#17538 Post release automated changes for servicebus releases
  sdk/servicebus/arm-servicebus/CHANGELOG.md
  sdk/servicebus/arm-servicebus/package.json
Labels: Service Bus, auto-merge

#17537 Sync eng/common directory with azure-sdk-tools for PR 1977
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#17534 Sync eng/common directory with azure-sdk-tools for PR 1995
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#17466 [identity] User study feedback and renames
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/README.md
  sdk/identity/identity-cache-persistence/review/identity-cache-persistence.api.md
  sdk/identity/identity-cache-persistence/samples-dev/extension.ts
  sdk/identity/identity-cache-persistence/src/index.ts
  sdk/identity/identity-cache-persistence/src/platforms.ts
  sdk/identity/identity-cache-persistence/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/setup.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity-vscode/CHANGELOG.md
  sdk/identity/identity-vscode/README.md
  sdk/identity/identity-vscode/review/identity-vscode.api.md
  sdk/identity/identity-vscode/samples-dev/extension.ts
  sdk/identity/identity-vscode/samples-dev/nodeEnv.ts
  sdk/identity/identity-vscode/src/index.ts
  sdk/identity/identity-vscode/test/public/node/setup.spec.ts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/src/credentials/applicationCredential.ts
  sdk/identity/identity/src/credentials/credentialPersistenceOptions.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.browser.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredentialPlugin.ts
  sdk/identity/identity/src/extensions/consumer.browser.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/tokenCachePersistenceOptions.ts
  sdk/identity/identity/src/plugins/consumer.browser.ts
  sdk/identity/identity/src/plugins/consumer.ts
  sdk/identity/identity/src/plugins/provider.ts
  sdk/identity/identity/test/manual/nodeTestSilent.js
  sdk/identity/identity/test/public/node/extensions.spec.ts
  sdk/identity/perf-tests/identity/test/ClientSecretCredential/persistence.spec.ts
Labels: Azure.Identity, auto-merge

#17392 Updating OT Exporter to align with latest mappings spec
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/basicTracerNode.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Constants.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/context/context.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/span/dbAttributes.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/span/grpcAttributes.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/span/httpAttributes.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#17459 Monitor query updates
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryMultipleWorkspaces.ts
  sdk/monitor/monitor-query/samples-dev/metricsQuery.ts
  sdk/monitor/monitor-query/samples/v1/javascript/logsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryMultipleWorkspaces.js
  sdk/monitor/monitor-query/samples/v1/javascript/metricsQuery.js
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryMultipleWorkspaces.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/models/index.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/models/mappers.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/operations/metadata.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/operations/query.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/operations/metrics.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/operations/metricDefinitions.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/operations/metricNamespaces.ts
  sdk/monitor/monitor-query/src/index.ts
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/metricsQueryClient.ts
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
  sdk/monitor/monitor-query/src/models/publicMetricsModels.ts
  sdk/monitor/monitor-query/src/timespanConversion.ts
  sdk/monitor/monitor-query/swagger/logquery.md
  sdk/monitor/monitor-query/swagger/metric-definitions.md
  sdk/monitor/monitor-query/swagger/metric-namespaces.md
  sdk/monitor/monitor-query/swagger/metrics.md
  sdk/monitor/monitor-query/test/internal/unit/modelConverters.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
Labels: Monitor

#17553 [Recorder v1] Fixed edge case double replacements
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/test/utils.spec.ts
Labels: auto-merge

#17564 Prepare for stg78 GA
  common/config/rush/common-versions.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#17569 Update changelog for storage-queue
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Storage

#17572 [Identity] Removed duplicated changelog line
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#17570 Post release automated changes for storage releases
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage, auto-merge

#17560 Post release automated changes for purview releases
  sdk/purview/arm-purview/CHANGELOG.md
  sdk/purview/arm-purview/package.json
Labels: auto-merge

#17508 Post release automated changes for synapse releases
  sdk/synapse/synapse-managed-private-endpoints/CHANGELOG.md
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClientContext.ts
  sdk/synapse/synapse-managed-private-endpoints/swagger/README.md
Labels: Synapse, auto-merge

#17383 [Perf Tests] Migrate the older perf test projects to new model - event based SDKs
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/eventhub/event-hubs/test/perf/track-1/README.md
  sdk/eventhub/event-hubs/test/perf/track-1/package.json
  sdk/eventhub/event-hubs/test/perf/track-1/tsconfig.json
  sdk/eventhub/event-hubs/test/perf/track-2/README.md
  sdk/eventhub/perf-tests/event-hubs-track-1/README.md
  sdk/eventhub/perf-tests/event-hubs-track-1/package.json
  sdk/eventhub/perf-tests/event-hubs-track-1/sample.env
  sdk/eventhub/perf-tests/event-hubs-track-1/test/index.spec.ts
  sdk/eventhub/perf-tests/event-hubs-track-1/test/receive.spec.ts
  sdk/eventhub/perf-tests/event-hubs-track-1/test/send.spec.ts
  sdk/eventhub/perf-tests/event-hubs-track-1/tsconfig.json
  sdk/eventhub/perf-tests/event-hubs/README.md
  sdk/eventhub/perf-tests/event-hubs/package.json
  sdk/eventhub/perf-tests/event-hubs/sample.env
  sdk/eventhub/perf-tests/event-hubs/test/index.spec.ts
  sdk/eventhub/perf-tests/event-hubs/test/receive.spec.ts
  sdk/eventhub/perf-tests/event-hubs/test/send.spec.ts
  sdk/eventhub/perf-tests/event-hubs/tsconfig.json
  sdk/servicebus/perf-tests/service-bus-track-1/README.md
  sdk/servicebus/perf-tests/service-bus-track-1/package.json
  sdk/servicebus/perf-tests/service-bus-track-1/sample.env
  sdk/servicebus/perf-tests/service-bus-track-1/test/index.spec.ts
  sdk/servicebus/perf-tests/service-bus-track-1/test/sbBase.spec.ts
  sdk/servicebus/perf-tests/service-bus-track-1/test/sendBatch.spec.ts
  sdk/servicebus/perf-tests/service-bus-track-1/tsconfig.json
  sdk/servicebus/perf-tests/service-bus/README.md
  sdk/servicebus/perf-tests/service-bus/package.json
  sdk/servicebus/perf-tests/service-bus/sample.env
  sdk/servicebus/perf-tests/service-bus/test/index.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/sbBase.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/sendBatch.spec.ts
  sdk/servicebus/perf-tests/service-bus/tsconfig.json
  sdk/servicebus/service-bus/test/perf/track-1/README.md
  sdk/servicebus/service-bus/test/perf/track-1/package.json
  sdk/servicebus/service-bus/test/perf/track-1/tsconfig.json
  sdk/servicebus/service-bus/test/perf/track-2/README.md
  sdk/test-utils/perfstress/package.json
Labels: Service Bus, Event Hubs, Event Grid

#17443 Update search to enable live testing in sovereign clouds for multiple services
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/tests.yml
  sdk/search/test-resources.json
Labels: Search

#17573 [core-lro] Check for string type before calling toLowerCase()
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/lroEngine/azureAsyncPolling.ts
  sdk/core/core-lro/src/lroEngine/bodyPolling.ts
  sdk/core/core-lro/test/utils/router/routesProcesses.ts
Labels: Azure.Core

#17567 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage, auto-merge

#17323 Upgrade dev dependency ts-node to ^10.0.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/perf-tests/app-configuration/package.json
  sdk/attestation/attestation/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-lro/package.json
  sdk/core/logger/package.json
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/perf-tests/event-hubs/package.json
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
  sdk/identity/perf-tests/identity/package.json
  sdk/iot/iot-modelsrepository/package.json
  sdk/keyvault/perf-tests/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-keys/package.json
  sdk/keyvault/perf-tests/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/perf-tests/service-bus/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/tables/data-tables/package.json
  sdk/tables/perf-tests/data-tables/package.json
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: Service Bus, Event Hubs, Storage, Cosmos, KeyVault, Azure.Identity, Azure.Core, Event Grid, Monitor, Search, Tables, App Configuration, Synapse, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#17542 Sync eng/common directory with azure-sdk-tools for PR 1983
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#17557 Monitor query test optimization
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
Labels: Monitor

#17582 Sync eng/common directory with azure-sdk-tools for PR 1946
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#17588 Sync eng/common directory with azure-sdk-tools for PR 2006
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#17589 Sync eng/common directory with azure-sdk-tools for PR 1979
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#17546 [core] fix incorrect caching of proxy agents
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
Labels: Azure.Core

#17595 OpenTelemetry Exporter Fix issue loading SDK version
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/context/context.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
Labels: Monitor

#17605 Update communication signaling
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication

#17591 Final consistency review of Monitor Query README
  sdk/monitor/monitor-query/README.md
Labels: Monitor

#17505 [Engsys] Suppress credscan reported issues for test constants
  eng/CredScanSuppression.json
  sdk/cosmosdb/cosmos/samples/src/Bulk.ts
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/sasToken.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/common/_fakeTestSecrets.ts
  sdk/cosmosdb/cosmos/test/public/common/_testConfig.ts
  sdk/cosmosdb/cosmos/test/public/functional/authorization.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/databaseaccount.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/globalEndpointManager.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/npcontainer.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/offer.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/failover.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/multiregion.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/proxy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/split.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/timeout.spec.ts
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_creates_the_datasourceconnection_object_using_createorupdatedatasourceconnection.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_correct_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_list_of_datasourceconnection_names.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_gets_the_list_of_datasourceconnections.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_modify_and_updates_the_datasourceconnection_object.js
  sdk/search/search-documents/recordings/node/searchindexerclient_datasourceconnections/recording_throws_error_for_invalid_datasourceconnection_object.js
  sdk/servicebus/service-bus/test/internal/unit/atomXml.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/fakeTestSecrets.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/fakeTestSecrets.ts
  sdk/tables/data-tables/test/internal/fakeTestSecrets.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
Labels: Client, Storage, Cosmos, Search

#17529 [KeyVault] - Add getCryptographyClient method to KeyClient
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/samples-dev/cryptography.ts
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/internal/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
Labels: KeyVault

#17611 [KeyVault] - Add provisioner OID to initial MHSM admins
  sdk/keyvault/test-resources.json
Labels: KeyVault

#17613 Sync eng/common directory with azure-sdk-tools for PR 2008
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#17612 [Identity] Version changes after the releases
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/CHANGELOG.md
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/monitor/monitor-query/package.json
Labels: KeyVault, Azure.Identity, Monitor, auto-merge

#17609 [credscan] add placeholder for blob batch test secrets
  eng/CredScanSuppression.json
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_deleteblobs_should_work_for_batch_delete.js
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_setblobsaccesstier_should_work_for_batch_set_tier.js
  sdk/storage/storage-blob/test/utils/testutils.common.ts
Labels: Client, Storage

#17017 Bump pnpm version to 6.14.2
  common/config/rush/.pnpmfile.cjs
  common/tools/dev-tool/src/config/rollup.base.config.ts
  eng/pipelines/templates/steps/use-node-test-version.yml
  rush.json
Labels: EngSys, Client

#17596 Sync eng/common directory with azure-sdk-tools for PR 2009
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Labels: EngSys, Central-EngSys

#17705 [Azure Monitor Exporter] Fix issue with dependency type in DB Spans
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
Labels: Monitor

#17614 improvements to identity samples
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity

#17709 open dependency update
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/package.json
Labels: Azure.Identity

#17583 [App Config] Fix live tests in UsGov and China clouds
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/tests.yml
  sdk/appconfiguration/test-resources.json
Labels: App Configuration

#17701 Sync eng/common directory with azure-sdk-tools for PR 2016
  eng/common/pipelines/templates/steps/verify-changelog.yml
Labels: EngSys, Central-EngSys

#17708 Update communication signaling client
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication

#17593 [credscan] replace KV certificates in recordings with placeholder
  eng/CredScanSuppression.json
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_base64_secret_value.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_non_base64_secret_value.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_get_a_certificates_secret_in_pkcs_12_format.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_base64_secret_value.js
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_non_base64_secret_value.js
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/utils/testAuthentication.ts
Labels: KeyVault

#17711 [App Config] Add AZURE_AUTHORITY_HOST in the readme
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration

#17703 Remove references to specific Node.js versions in readmes
  sdk/applicationinsights/applicationinsights-query/README.md
  sdk/eventhub/mock-hub/samples/typescript/readme.md
  sdk/operationalinsights/loganalytics/README.md
  sdk/servicefabric/servicefabric/README.md
  sdk/template/template/README-EXAMPLE.md
Labels: EngSys, Event Hubs, auto-merge

#17716 Update signaling package version
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication

#17698 Sync eng/common directory with azure-sdk-tools for PR 2011
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#16590 Use default branch when queueing build in docindex
  eng/pipelines/docindex.yml
Labels: Central-EngSys

#17712 [credscan] unify passwords into a single place holder.
  eng/CredScanSuppression.json
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/logFilterTests.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.browser.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-http/test/proxyAgent.node.ts
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_influxdb_data_feed.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient_hooks/recording_lists_hooks.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient_hooks/recording_updates_web_hook.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_influxdb_data_feed.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient_hooks/recording_lists_hooks.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient_hooks/recording_updates_web_hook.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_influxdb_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient_hooks/recording_lists_hooks.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient_hooks/recording_updates_web_hook.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisoradministrationclient_datafeed_datafeed/recording_creates_influxdb_data_feed.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient_hooks/recording_lists_hooks.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient_hooks/recording_updates_web_hook.js
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
Labels: EngSys, Azure.Core, Cognitive - Metrics Advisor

#17555 Post release automated changes for monitor releases
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/monitorManagementClientContext.ts
Labels: Monitor, auto-merge

#17725 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
Labels: auto-merge

#17492 [event-hubs] Enable unit-test for node.js in CI
  sdk/eventhub/ci.yml
  sdk/eventhub/event-hubs/karma.conf.js
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/scripts/generateCerts.js
  sdk/eventhub/event-hubs/test/internal/amqp.spec.ts
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/config.spec.ts
  sdk/eventhub/event-hubs/test/internal/dataTransformer.spec.ts
  sdk/eventhub/event-hubs/test/internal/diagnostics/messageSpan.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventHubConsumerClientUnitTests.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventPosition.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventdata.spec.ts
  sdk/eventhub/event-hubs/test/internal/impl/partitionGate.spec.ts
  sdk/eventhub/event-hubs/test/internal/loadBalancingStrategy.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/packageInfo.spec.ts
  sdk/eventhub/event-hubs/test/internal/partitionPump.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/event-hubs/test/public/amqpAnnotatedMessage.spec.ts
  sdk/eventhub/event-hubs/test/public/auth.spec.ts
  sdk/eventhub/event-hubs/test/public/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/public/eventData.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/public/node/client.spec.ts
  sdk/eventhub/event-hubs/test/public/node/disconnects.spec.ts
  sdk/eventhub/event-hubs/test/public/receiver.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/mockService.browser.ts
  sdk/eventhub/event-hubs/test/public/utils/mockService.ts
  sdk/eventhub/event-hubs/test/public/utils/testUtils.ts
  sdk/eventhub/event-hubs/test/public/utils/testWithServiceTypes.ts
  sdk/eventhub/mock-hub/samples/javascript/src/ehSample.js
  sdk/eventhub/mock-hub/samples/typescript/src/ehSample.ts
  sdk/eventhub/mock-hub/src/index.ts
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
  sdk/eventhub/mock-hub/src/server/mockServer.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
Labels: Event Hubs, auto-merge

#17718 Sync eng/common directory with azure-sdk-tools for PR 2010
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#17562 [monitor-query] fix what is publicly exported and make only one copy of function
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/src/index.ts
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
  sdk/monitor/monitor-query/src/models/publicMetricsModels.ts
Labels: Monitor

#17305 remove delay devDependency
  sdk/core/abort-controller/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/perf-js-libs/azure-sb-package/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/azure-sb-package/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/rhea-promise/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/rhea-promise/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/receiveBatch.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/receiveBatch.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/send.ts
Labels: Service Bus, Azure.Core, auto-merge

#17753 Prepare Mixed Reality Authentication for initial beta release
  sdk/mixedreality/mixed-reality-authentication/CHANGELOG.md
  sdk/mixedreality/mixed-reality-authentication/src/generated/mixedRealityStsRestClientContext.ts
Labels: auto-merge

#17733 [KeyVault] - Put Key Rotation back in for 7.3
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_getkeyrotationpolicy_supports_tracing.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_rotating_a_key.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_tracing.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_throws_when_attempting_to_fetch_a_policy_of_a_nonexistent_key.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_creating_a_new_rotation_policy_and_fetching_it.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_tracing.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_updating_an_existing_policy.json
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_getkeyrotationpolicy_supports_tracing.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_rotating_a_key.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_rotatekey_supports_tracing.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_throws_when_attempting_to_fetch_a_policy_of_a_nonexistent_key.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_creating_a_new_rotation_policy_and_fetching_it.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_tracing.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_key_rotation/recording_updatekeyrotationpolicy_supports_updating_an_existing_policy.js
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/samples-dev/keyRotation.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/internal/transformations.spec.ts
  sdk/keyvault/keyvault-keys/test/public/keyClient.spec.ts
  sdk/keyvault/test-resources.json
Labels: KeyVault

#17755 [Identity] Removing null from the AzurePowerShellCredential getToken
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
Labels: Azure.Identity

#17754 Link to Log Analytics throttling guidance from Monitor Query README
  sdk/monitor/monitor-query/README.md
Labels: Monitor

#17757 [KeyVault] - Retry flaky test
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete/recording_can_read_cancel_and_delete_a_certificates_operation.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_read_cancel_and_delete_a_certificates_operation.js
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
Labels: KeyVault

#17752 Update OT Exporter to latest spec changes
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
Labels: Monitor

#17747 Prepare for an initial release of Azure Remote Rendering beta package
  .github/CODEOWNERS
  sdk/remoterendering/mixed-reality-remote-rendering/CHANGELOG.md
Labels: auto-merge

#17774 Sync eng/common directory with azure-sdk-tools for PR 2025
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#17756 [Text Analytics] Add tests for Custom Text
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#17789 [Key Vault] - Add Key Rotation quickstart section
  sdk/keyvault/keyvault-keys/README.md
Labels: KeyVault

#17794 [Text Analytics] Refine proposed API View
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/analyzeActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/classifyDocumentMultiCategoriesResult.ts
  sdk/textanalytics/ai-text-analytics/src/classifyDocumentMultiCategoriesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/classifyDocumentSingleCategoryResult.ts
  sdk/textanalytics/ai-text-analytics/src/classifyDocumentSingleCategoryResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeCustomEntitiesResult.ts
  sdk/textanalytics/ai-text-analytics/src/recognizeCustomEntitiesResultArray.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#17820 Use global prettier config/ignore for all check and check-format scripts
  .prettierignore
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/containerregistry/perf-tests/container-registry/package.json
  sdk/identity/identity/test/manual/package.json
  sdk/identity/identity/test/manual/src/index.tsx
  sdk/test-utils/testing-recorder-new/rollup.base.config.js
Labels: customer-reported, Azure.Identity

#17838 Sync eng/common directory with azure-sdk-tools for PR 2035
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#17855 Sync eng/common directory with azure-sdk-tools for PR 2031
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#17832 [Perf Framework] No cached proxy clients.
  sdk/keyvault/perf-tests/keyvault-secrets/test/secretTest.ts
  sdk/test-utils/perfstress/CHANGELOG.md
  sdk/test-utils/perfstress/src/program.ts
  sdk/test-utils/perfstress/src/tests.ts
  sdk/test-utils/perfstress/src/utils.ts
Labels: KeyVault

#17868 Post release automated changes for apimanagement releases
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
Labels: auto-merge

#17795 Sync eng/common directory with azure-sdk-tools for PR 2027
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#17851 Sync eng/common directory with azure-sdk-tools for PR 2039
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#17903 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
Labels: auto-merge

#17865 datafactory-track1
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClientContext.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
Labels: Mgmt

#17866 containerinstance-track1
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerGroupsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/index.ts
  sdk/containerinstance/arm-containerinstance/src/models/mappers.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerGroups.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containers.ts
Labels: Mgmt

#17873 Api Consistency Review feedback
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryMultipleWorkspaces.ts
  sdk/monitor/monitor-query/samples-dev/metricsQuery.ts
  sdk/monitor/monitor-query/src/index.ts
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/metricsQueryClient.ts
  sdk/monitor/monitor-query/src/models/constants.ts
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
  sdk/monitor/monitor-query/src/models/publicMetricsModels.ts
  sdk/monitor/monitor-query/src/models/timeInterval.ts
  sdk/monitor/monitor-query/src/timespanConversion.ts
  sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/modelConverters.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
Labels: Monitor

#17911 Sync eng/common directory with azure-sdk-tools for PR 2046
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#17783 Unblock react native support when using corev2 packages
  sdk/core/core-client-paging-rest/CHANGELOG.md
  sdk/core/core-client-paging-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-crypto/package.json
  sdk/core/core-crypto/src/sha256.browser.ts
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform.native.ts
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core, auto-merge

#17957 [core] prepare core packages for release
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/logger/CHANGELOG.md
Labels: auto-merge

#17956 [core-rest-pipeline] Fix race condition in request
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
Labels: Client, Azure.Core

#17974 Post release automated changes for core releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/samples/v1/javascript/README.md
  sdk/core/core-rest-pipeline/samples/v1/javascript/package.json
  sdk/core/core-rest-pipeline/samples/v1/javascript/sample.env
  sdk/core/core-rest-pipeline/samples/v1/typescript/README.md
  sdk/core/core-rest-pipeline/samples/v1/typescript/package.json
  sdk/core/core-rest-pipeline/samples/v1/typescript/sample.env
  sdk/core/core-rest-pipeline/samples/v1/typescript/tsconfig.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: auto-merge
