Repository Azure/azure-sdk-for-js, pull requests merged in 2021-04, with the labels that each got.

#14628 [Identity] Reverting #14561
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity, auto-merge

#14651 [Identity] - Remove `await` from README
  sdk/identity/identity/README.md
Labels: Azure.Identity, auto-merge

#14642 Increment version for servicebus releases
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#14587 [KeyVault] - Add multi-version tests for KeyVault Keys
  eng/pipelines/templates/jobs/archetype-sdk-integration.yml
  eng/pipelines/templates/variables/globals.yml
  sdk/keyvault/keyvault-keys/platform-matrix.json
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/internal/aesCryptography.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-keys/test/public/CRUD.hsm.spec.ts
  sdk/keyvault/keyvault-keys/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.hsm.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/public/import.spec.ts
  sdk/keyvault/keyvault-keys/test/public/list.spec.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
  sdk/keyvault/keyvault-keys/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-keys/test/public/lro.recoverDelete.spec.ts
  sdk/keyvault/keyvault-keys/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-keys/test/utils/testAuthentication.ts
  sdk/keyvault/keyvault-keys/test/utils/utils.common.ts
Labels: KeyVault

#14554 [core-rest-pipeline] Token refresher update, based on the latest design by Will
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/src/util/tokenCycler.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
Labels: auto-merge

#14658 [service-bus] add support for NamedKeyCredential and SASCredential
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/servicebusSharedKeyCredential.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/src/util/typeGuards.ts
  sdk/servicebus/service-bus/test/internal/auth.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/sharedKeyCredential.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Labels: Service Bus

#14643 Sync eng/common directory with azure-sdk-tools for PR 1525
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/Update-TestResources.cmd
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#14155 [Cosmos] Uses AAD auth in client initialization sample
  sdk/cosmosdb/cosmos/samples/AADAuth.ts
Labels: Cosmos

#14660 [samples] Fix issues identitfied by docs team
  sdk/deviceupdate/iot-device-update/samples/javascript/README.md
  sdk/deviceupdate/iot-device-update/samples/typescript/README.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/@azure/storage-blob/javascript/README.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/@azure/storage-blob/typescript/README.md
Labels: EngSys, Monitor, auto-merge

#14634 [Identity] Performance tests
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/identity/perf-tests/identity/CHANGELOG.md
  sdk/identity/perf-tests/identity/README.md
  sdk/identity/perf-tests/identity/package.json
  sdk/identity/perf-tests/identity/sample.env
  sdk/identity/perf-tests/identity/test/ClientSecretCredential/persistence.spec.ts
  sdk/identity/perf-tests/identity/test/index.spec.ts
  sdk/identity/perf-tests/identity/tsconfig.json
Labels: Azure.Identity, auto-merge

#14666 [KeyVault] - Ensure we restore the request body correctly
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-secrets/test/utils/testAuthentication.ts
Labels: KeyVault

#14624 [KeyVault] - Update release date for all packages
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault, auto-merge

#14665 [dev-tool] Allow relative-path imports in sample files.
  common/tools/dev-tool/src/commands/samples/publish.ts
  common/tools/dev-tool/src/util/sampleGenerationInfo.ts
Labels: EngSys, dev-tool

#14676 [KeyVault] - Remove LocalSupportedAlgorithmName
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptography/models.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
Labels: KeyVault

#14677 [eventhubs-checkpointstore-blob] fixes eslint errors
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/src/log.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/util/error.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/utils/testUtils.ts
Labels: Event Hubs, auto-merge

#14678 Remove testhub utility package
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  eng/.docsettings.yml
  rush.json
  sdk/eventhub/.vscode/launch.json
  sdk/eventhub/testhub/LICENSE
  sdk/eventhub/testhub/README.md
  sdk/eventhub/testhub/cli.ts
  sdk/eventhub/testhub/commands/eph.ts
  sdk/eventhub/testhub/commands/receive.ts
  sdk/eventhub/testhub/commands/send.ts
  sdk/eventhub/testhub/commands/sendReceive.ts
  sdk/eventhub/testhub/package.json
  sdk/eventhub/testhub/tsconfig.json
  sdk/eventhub/testhub/utils/util.ts
Labels: Event Hubs

#14595 [ContainerRegistry] add AAD support and remove Basic Auth support
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/src/bearerTokenChanllengeAuthenticationPolicy.ts
  sdk/containerregistry/container-registry/src/containerRegistryChallengeHandler.ts
  sdk/containerregistry/container-registry/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/src/containerRegistryUserCredentialPolicy.ts
  sdk/containerregistry/container-registry/src/containerRepositoryClient.ts
  sdk/containerregistry/container-registry/src/index.ts
  sdk/containerregistry/container-registry/src/tokenCycler.ts
Labels: Client, Container Registry

#14682 [identity] 1.3.0 hotfix: Update to core-tracing 1.0.0-preview.11 #14649
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/eslint-plugin-azure-sdk/package.json
  eng/pipelines/mgmt-ci.yml
  eng/pipelines/mgmt-pr.yml
  eng/tools/rush-runner.js
  rush.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/public/node/authorizationCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/test-utils/recorder/package.json
Labels: Azure.Identity

#14681 Remove and ignore tsdoc-metadata.json
  .gitignore
  sdk/core/core-rest-pipeline/tsdoc-metadata.json
Labels: Azure.Core, EngSys

#14646 [Identity] - Add examples doc and update README
  samples/frameworks/react/ts/src/utils/auth.ts
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
Labels: Azure.Identity

#14620 Search Code Changes for April Release
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/public/node/searchIndexerClient.spec.ts
Labels: Search

#14687 [Identity] Port Identity doc improvements to v1
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/ClientSideUserAuthentication.md
Labels: Azure.Identity, auto-merge

#14688 [Identity] Add pointer to examples upfront
  sdk/identity/identity/README.md
Labels: Azure.Identity, auto-merge

#14342 [App Config] FeatureFlag and SecretReference support
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_get_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_and_update_featureflag.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__featureflag_featureflag_configuration_setting/recording_can_add_list_and_update_multiple_featureflags.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_and_get_secretreference.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_and_update_secretreference.js
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient__secretreference_secretreference_configuration_setting/recording_can_add_list_and_update_multiple_secretreferences.js
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/sample.env
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/jsonModels.ts
  sdk/appconfiguration/app-configuration/src/internal/typeguards.ts
  sdk/appconfiguration/app-configuration/src/keyvaultReference.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
Labels: App Configuration, auto-merge

#14288 Perf tests metrics advisor
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/README.md
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/sample.env
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/index.spec.ts
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/listAnomalies.spec.ts
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/listIncidents.spec.ts
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/metricsAdvisor.spec.ts
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/rootCauses.spec.ts
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/tsconfig.json
  sdk/test-utils/perfstress/src/program.ts
Labels: Cognitive - Metrics Advisor

#14694 Update Version value in Search SDK
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
Labels: Search

#14691 [Identity] Removed PersistentCredentialOptions
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientCertificateCredentialOptions.ts
  sdk/identity/identity/src/credentials/clientSecretCredentialOptions.ts
  sdk/identity/identity/src/credentials/interactiveCredentialOptions.ts
  sdk/identity/identity/src/credentials/persistentCredentialOptions.ts
  sdk/identity/identity/src/index.ts
Labels: Azure.Identity, auto-merge

#14630 [Identity] AuthenticationRecord API alignment
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/browserFlows/browserCommon.ts
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientSecret.ts
  sdk/identity/identity/src/msal/nodeFlows/msalDeviceCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/msalUsernamePassword.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/msal/types.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#14647 Use base platform matrix for CI tests
  common/smoke-test/smoke-tests.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
Labels: Central-EngSys

#14667 Sync eng/common directory with azure-sdk-tools for PR 1535
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Labels: Central-EngSys, EngSys

#14709 [Digital Twins Core] add nycrc to enable code coverage in live test pipeline
  sdk/digitaltwins/digital-twins-core/.nycrc.json
Labels: Digital Twins, auto-merge

#14683 [Communication Chat] Fix missing return type linter errs
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
  sdk/communication/communication-chat/test/utils/recordedClient.ts
Labels: Communication, auto-merge

#14685 [Communication] Fix errs from linter rule no-useless-escape
  sdk/communication/communication-chat/test/utils/recordedClient.ts
  sdk/communication/communication-identity/test/utils/recordedClient.ts
Labels: Communication, auto-merge

#14692 [service-bus] AdminClient: ForwardTo wasn't applying on update due to bad property ordering in XML
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Labels: Service Bus, auto-merge

#14720 [Service Bus] Porting 14692 to the patch version
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Labels: Service Bus, auto-merge

#14696 Updating OpenTelemetry dependencies for Azure Monitor Exporter
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
Labels: Monitor

#14722 [Communication] - autorest - update swagger to point to readme
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-identity/src/generated/src/models/index.ts
  sdk/communication/communication-identity/src/generated/src/models/mappers.ts
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClientContext.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-sms/swagger/README.md
Labels: Communication

#14719 [KeyVault] - remote calls in hybrid mode if local crypto errors
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/crypto.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/poller.ts
Labels: KeyVault

#14730 [event-hubs] prepare for 5.5.0 release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#14608 [communication][phone-numbers] combine purchase and release tests
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/recordings/.gitkeep
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_purchase/recording_finds_phone_number_to_purchase.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_purchase/recording_purchases_the_phone_number_from_the_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_release/recording_releases_the_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_finds_phone_number_to_purchase.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_purchases_the_phone_number_from_the_search.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_gets_a_phone_number_to_release.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_releases_the_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_purchase/recording_finds_phone_number_to_purchase.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_purchase/recording_purchases_the_phone_number_from_the_search.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_release/recording_releases_the_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_finds_phone_number_to_purchase.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_successfully_purchases_a_phone_number/recording_purchases_the_phone_number_from_the_search.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_gets_a_phone_number_to_release.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__release_successfully_releases_a_phone_number/recording_releases_the_phone_number.js
  sdk/communication/communication-phone-numbers/test/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.release.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/utils/mockHttpClients.ts
Labels: Communication

#14721 [ai-form-recognizer] Improvements to Documentation
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/formrecognizerclient.spec.ts
Labels: Cognitive - Form Recognizer

#14706 Code changes to add muli api support
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#14663 [Text Analytics] Improve README.md
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#14748 Increment version for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#14736 [ContainerRegistry] README and CHANGELOG for beta.1
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/README.md
Labels: Client, Container Registry

#14717 Update readme.md to use @azure/identity for authentication
  sdk/digitaltwins/digital-twins-core/README.md
Labels: Digital Twins, auto-merge

#14712 [Tables] Update changelog for April 2021 release
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#14746 Increment version for keyvault releases
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
Labels: KeyVault

#14690 [Identity] Error name alignment
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/errors.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/browserFlows/browserCommon.ts
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/errors.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/src/tokenCache/TokenCachePersistence.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity, auto-merge

#14734 [Identity] 2.0.0-beta.2 release date
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#14754 Increment package version after release of azure-keyvault-admin
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
Labels: KeyVault

#14743 [KeyVault] - Update setup script to include additional role assignments for MHSM
  sdk/keyvault/keyvault-keys/recordings/node/cryptographyclient_for_managed_hsm_skipped_if_mhsm_is_not_deployed_with_aes_crypto_algorithms/recording_encrypts_and_decrypts_using_aescbc.js
  sdk/keyvault/keyvault-keys/test/public/crypto.hsm.spec.ts
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault

#14762 Increment version for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#14774 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity, auto-merge

#14703 [service-bus] Add support for sending AmqpAnnotatedMessage (and control destination section of body)
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/amqpAnnotatedMessage.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/internal/amqp.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/amqpUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/dataTransformer.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/sender.spec.ts
Labels: Azure.Core, Service Bus, auto-merge

#14759 Adding permanent redirect support for Azure Monitor OT Exporter
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/trace.test.ts
Labels: Monitor

#14782 [Identity] 1.3.0 changelog entry sync
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#14779 [KeyVault ] - Fix Managed HSM access control live test
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultaccesscontrolclient/recording_createroleassignment_getroleassignment_and_deleteroleassignment.js
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
Labels: KeyVault

#14763 [Identity] Getting rid of instanceof
  sdk/identity/identity/src/msal/utils.ts
Labels: Azure.Identity

#14769 [Metrics- advisor] Fix dependencies and dev-dependencies for perf tests
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
Labels: Cognitive - Metrics Advisor

#14785 Temporarily replace macOS CI tests with ubuntu CI tests
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys

#14644 rush update --full
  common/config/rush/pnpm-lock.yaml
Labels: auto-merge

#14740 [Identity] Update the keytar dependency
  sdk/identity/identity/package.json
Labels: Azure.Identity, customer-reported

#14698 [Cosmos] Upgrade "proxy-agent" to v4 from v3
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos, auto-merge

#14795 Revert "Update CODEOWNERS (#13809)"
  .github/CODEOWNERS
Labels: auto-merge

#14776 Regenerated Computer Vision SDK 3.2
  sdk/cognitiveservices/cognitiveservices-computervision/LICENSE.txt
  sdk/cognitiveservices/cognitiveservices-computervision/package.json
  sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClient.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/computerVisionClientContext.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/index.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/mappers.ts
  sdk/cognitiveservices/cognitiveservices-computervision/src/models/parameters.ts
Labels: Do Not Merge

#14793 [Recorder] Mask access_token from browser recordings - relaxing for non json parsable content
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/test/browser/utils.spec.ts
Labels: auto-merge

#14775 [Identity] Decoupling CredentialUnavailableError from AuthenticationRequiredError
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/msal/errors.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
Labels: Azure.Identity, auto-merge

#14724 [Digital Twins Core] address linter errors
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/test/public/testComponents.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testDigitalTwins.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testEventRoutes.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testRelationships.spec.ts
Labels: Digital Twins, auto-merge

#14747 [communication] address lint errors
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.spec.ts
  sdk/communication/communication-chat/test/utils/mockClient.ts
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/test/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-identity/test/utils/mockHttpClients.ts
Labels: Communication

#14710 [communication][phone-numbers] migrate to samples v2
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/samples-dev/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples-dev/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/updatePhoneNumberCapabilities.ts
  sdk/communication/communication-phone-numbers/samples/.gitignore
  sdk/communication/communication-phone-numbers/samples/javascript/README.md
  sdk/communication/communication-phone-numbers/samples/javascript/getPurchasedPhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/javascript/sample.env
  sdk/communication/communication-phone-numbers/samples/tsconfig.json
  sdk/communication/communication-phone-numbers/samples/typescript/README.md
  sdk/communication/communication-phone-numbers/samples/typescript/sample.env
  sdk/communication/communication-phone-numbers/samples/typescript/src/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/typescript/src/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples/typescript/src/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/javascript/README.md
  sdk/communication/communication-phone-numbers/samples/v1/javascript/getPurchasedPhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/getPurchasedPhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/package.json
  sdk/communication/communication-phone-numbers/samples/v1/javascript/purchasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/releasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/sample.env
  sdk/communication/communication-phone-numbers/samples/v1/javascript/updatePhoneNumberCapabilities.js
  sdk/communication/communication-phone-numbers/samples/v1/typescript/README.md
  sdk/communication/communication-phone-numbers/samples/v1/typescript/package.json
  sdk/communication/communication-phone-numbers/samples/v1/typescript/sample.env
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/updatePhoneNumberCapabilities.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-phone-numbers/test.env
  sdk/communication/communication-phone-numbers/tsconfig.json
Labels: Communication

#14812 [core-lro/keyvault] Removed non-functional tsconfig.samples.json
  sdk/core/core-lro/package.json
  sdk/core/core-lro/tsconfig.samples.json
  sdk/keyvault/keyvault-certificates/samples/tsconfig.json
  sdk/keyvault/keyvault-certificates/tsconfig.samples.json
  sdk/keyvault/keyvault-keys/samples/tsconfig.json
  sdk/keyvault/keyvault-keys/tsconfig.samples.json
  sdk/keyvault/keyvault-secrets/samples/tsconfig.json
  sdk/keyvault/keyvault-secrets/tsconfig.samples.json
Labels: Azure.Core, KeyVault

#14702 [Identity] Re-enabling Node 15
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal_persistent_tests/recording_allows_working_with_an_authenticationrecord_that_is_serialized.js
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal_persistent_tests/recording_persistence_throws_on_node_15_as_expected.js
  sdk/identity/identity/src/tokenCache/TokenCachePersistence.ts
  sdk/identity/identity/src/tokenCache/nodeVersion.ts
  sdk/identity/identity/src/tokenCache/persistencePlatforms.ts
  sdk/identity/identity/src/tokenCache/requireMsalNodeExtensions.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity, auto-merge

#14815 Sync eng/common directory with azure-sdk-tools for PR 1546
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: Central-EngSys, EngSys

#14816 [Core Lro] Release 1.0.5
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core, auto-merge

#14823 [communication-chat] add missing communication-identity dependency in JS sample
  sdk/communication/communication-chat/samples/javascript/package.json
Labels: Communication

#14822 Sync eng/common directory with azure-sdk-tools for PR 1548
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: Central-EngSys, EngSys

#14811 Sync eng/common directory with azure-sdk-tools for PR 1515
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: Central-EngSys, EngSys

#14007 arm-communication-release
  sdk/communication/arm-communication/LICENSE.txt
  sdk/communication/arm-communication/README.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/rollup.config.js
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
  sdk/communication/arm-communication/src/communicationServiceManagementClientContext.ts
  sdk/communication/arm-communication/src/models/communicationServiceMappers.ts
  sdk/communication/arm-communication/src/models/index.ts
  sdk/communication/arm-communication/src/models/mappers.ts
  sdk/communication/arm-communication/src/models/operationStatusesMappers.ts
  sdk/communication/arm-communication/src/models/operationsMappers.ts
  sdk/communication/arm-communication/src/models/parameters.ts
  sdk/communication/arm-communication/src/operations/communicationService.ts
  sdk/communication/arm-communication/src/operations/index.ts
  sdk/communication/arm-communication/src/operations/operationStatuses.ts
  sdk/communication/arm-communication/src/operations/operations.ts
Labels: Communication

#14819 [Communication]Fix chat readme
  sdk/communication/communication-chat/README.md
Labels: Communication

#14826 [communication] change test expected error code
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_an_sms_message.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_an_sms_message_to_multiple_recipients.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_can_send_an_sms_message_with_options_passed_in.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_sends_a_new_message_each_time_send_is_called.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbacklive/recording_throws_an_exception_when_sending_from_an_invalid_number.js
  sdk/communication/communication-sms/recordings/node/smsclientwithtoken_playbacklive/recording_can_send_an_sms_when_url_and_token_credential_are_provided.js
  sdk/communication/communication-sms/test/smsClient.spec.ts
Labels: Communication

#14838 [Identity] Reducing DeviceCodeCredential intervals
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_setting_disableautomaticauthentication.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_and_allows_the_customization_of_the_prompt_callback.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_default_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_provided_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_supports_tracing.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal/recording_authenticates_silently_after_the_initial_request.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_accepts_tokencachepersistenceoptions.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_authenticates_silently_with_tokencachepersistenceoptions.js
  sdk/identity/identity/test/msalTestUtils.ts
Labels: Azure.Identity, auto-merge

#14840 [Attestation] Address feedback
  sdk/attestation/attestation/LICENSE
  sdk/attestation/attestation/test/utils/helpers.ts
Labels: auto-merge

#14843 Sync eng/common directory with azure-sdk-tools for PR 1534
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#14846 Sync eng/common directory with azure-sdk-tools for PR 1551
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#14849 Sync eng/common directory with azure-sdk-tools for PR 1504
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#14829 Retain runs that release.
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys, EngSys

#14854 Quick fix to retain-runs path.
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys, EngSys

#14855 Sync eng/common directory with azure-sdk-tools for PR 1553
  eng/common/pipelines/templates/steps/retain-run.yml
Labels: Central-EngSys, EngSys

#14856 Revert retain.
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys, EngSys

#14847 [Identity] ChainedTokenCredential logging fix
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/util/logging.ts
  sdk/identity/identity/test/internal/node/chainedTokenCredential.spec.ts
Labels: Azure.Identity, auto-merge

#14839 Kick off all CI jobs in parallel instead of waiting on build
  eng/pipelines/templates/jobs/ci.yml
Labels: Central-EngSys

#14859 Sync eng/common directory with azure-sdk-tools for PR 1552
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#14861 [Communication] temporarily disable sms error code assertion for unauthorized phone number
  sdk/communication/communication-sms/test/smsClient.spec.ts
Labels: Communication

#14827 [Identity] Simplest possible exponential retry for IMDS's 404
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#14851 Revise stage condition.
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys, EngSys

#14799 Add upsert operation to BatchClient and upgrade samples
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_a_set_of_upsert_batch_operations.json
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_a_set_of_upsert_batch_operations.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/sample.env
  sdk/tables/data-tables/samples-dev/authenticationMethods.ts
  sdk/tables/data-tables/samples-dev/batchOperations.ts
  sdk/tables/data-tables/samples-dev/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples-dev/createAndDeleteTable.ts
  sdk/tables/data-tables/samples-dev/queryEntities.ts
  sdk/tables/data-tables/samples-dev/queryTables.ts
  sdk/tables/data-tables/samples-dev/updateAndUpsertEntities.ts
  sdk/tables/data-tables/samples/javascript/package.json
  sdk/tables/data-tables/samples/javascript/readme.md
  sdk/tables/data-tables/samples/typescript/package.json
  sdk/tables/data-tables/samples/typescript/readme.md
  sdk/tables/data-tables/samples/v12/javascript/README.md
  sdk/tables/data-tables/samples/v12/javascript/authenticationMethods.js
  sdk/tables/data-tables/samples/v12/javascript/batchOperations.js
  sdk/tables/data-tables/samples/v12/javascript/createAndDeleteEntities.js
  sdk/tables/data-tables/samples/v12/javascript/createAndDeleteTable.js
  sdk/tables/data-tables/samples/v12/javascript/package.json
  sdk/tables/data-tables/samples/v12/javascript/queryEntities.js
  sdk/tables/data-tables/samples/v12/javascript/queryTables.js
  sdk/tables/data-tables/samples/v12/javascript/sample.env
  sdk/tables/data-tables/samples/v12/javascript/updateAndUpsertEntities.js
  sdk/tables/data-tables/samples/v12/typescript/README.md
  sdk/tables/data-tables/samples/v12/typescript/package.json
  sdk/tables/data-tables/samples/v12/typescript/sample.env
  sdk/tables/data-tables/samples/v12/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/v12/typescript/src/batchOperations.ts
  sdk/tables/data-tables/samples/v12/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/v12/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/v12/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/v12/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/v12/typescript/src/updateAndUpsertEntities.ts
  sdk/tables/data-tables/samples/v12/typescript/tsconfig.json
  sdk/tables/data-tables/src/TableBatch.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablesSharedKeyCredentialPolicy.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/test/integration/batch.spec.ts
  sdk/tables/data-tables/tsconfig.json
Labels: Tables

#14830 Storage release
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/models/blobContainersMappers.ts
  sdk/storage/arm-storage/src/models/blobInventoryPoliciesMappers.ts
  sdk/storage/arm-storage/src/models/blobServicesMappers.ts
  sdk/storage/arm-storage/src/models/deletedAccountsMappers.ts
  sdk/storage/arm-storage/src/models/encryptionScopesMappers.ts
  sdk/storage/arm-storage/src/models/fileServicesMappers.ts
  sdk/storage/arm-storage/src/models/fileSharesMappers.ts
  sdk/storage/arm-storage/src/models/index.ts
  sdk/storage/arm-storage/src/models/managementPoliciesMappers.ts
  sdk/storage/arm-storage/src/models/mappers.ts
  sdk/storage/arm-storage/src/models/objectReplicationPoliciesOperationsMappers.ts
  sdk/storage/arm-storage/src/models/parameters.ts
  sdk/storage/arm-storage/src/models/privateEndpointConnectionsMappers.ts
  sdk/storage/arm-storage/src/models/privateLinkResourcesMappers.ts
  sdk/storage/arm-storage/src/models/queueMappers.ts
  sdk/storage/arm-storage/src/models/queueServicesMappers.ts
  sdk/storage/arm-storage/src/models/storageAccountsMappers.ts
  sdk/storage/arm-storage/src/models/tableOperationsMappers.ts
  sdk/storage/arm-storage/src/models/tableServicesMappers.ts
  sdk/storage/arm-storage/src/operations/fileShares.ts
  sdk/storage/arm-storage/src/storageManagementClientContext.ts
Labels: Storage

#14875 [Cosmos] Adds partition Key parameter to conflict delete
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/ConflictWorker.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/MultiRegionWriteScenario.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/logger.ts
  sdk/cosmosdb/cosmos/samples/MultiRegionWrite/package.json
  sdk/cosmosdb/cosmos/src/client/Conflict/Conflict.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
Labels: Cosmos

#14867 [service-bus] Retries implemented for settling messages on the receiver link.
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/retry.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testUtils.ts
Labels: Service Bus

#14868 [communication][phone-numbers] run tests in matrix
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_cancel_search_polling.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_cancel_update_polling.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_cancel_search_polling.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_can_cancel_search_polling.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_cancel_update_polling.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_cancel_update_polling.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/test/get.aad.spec.ts
  sdk/communication/communication-phone-numbers/test/get.spec.ts
  sdk/communication/communication-phone-numbers/test/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/list.aad.spec.ts
  sdk/communication/communication-phone-numbers/test/list.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.purchaseAndRelease.aad.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.aad.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.aad.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/utils/index.ts
  sdk/communication/communication-phone-numbers/test/utils/matrix.ts
  sdk/communication/communication-phone-numbers/test/utils/recordedClient.ts
Labels: Communication

#13543 [Service Bus] Bug Fix: Unexpected `expiresAtUtc: Invalid Date` in the receivedMessage
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/unit/receivedMessageProps.spec.ts
Labels: Service Bus, auto-merge

#14882 Sync eng/common directory with azure-sdk-tools for PR 1557
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Labels: Central-EngSys, EngSys

#14883 Sync eng/common directory with azure-sdk-tools for PR 1555
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys, EngSys

#14888 [Identity] Increase the interval from 0.1 to 1 seconds for playback
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_setting_disableautomaticauthentication.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_and_allows_the_customization_of_the_prompt_callback.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_default_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_provided_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_supports_tracing.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal/recording_authenticates_silently_after_the_initial_request.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_accepts_tokencachepersistenceoptions.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_authenticates_silently_with_tokencachepersistenceoptions.js
  sdk/identity/identity/test/msalTestUtils.ts
Labels: Azure.Identity, auto-merge

#14786 [Service Bus] Filling the gaps for AmqpAnnotatedMessage
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/amqpAnnotatedMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testUtils.ts
Labels: Azure.Core, Service Bus, auto-merge

#14892 Disable verify samples until issue can be resolved.
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys, EngSys

#14891 Sync eng/common directory with azure-sdk-tools for PR 1559
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: Central-EngSys, EngSys

#14814 [communication][phone-numbers] enable samples
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/sample.env
  sdk/communication/communication-phone-numbers/samples-dev/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples-dev/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples-dev/updatePhoneNumberCapabilities.ts
  sdk/communication/communication-phone-numbers/samples/v1/javascript/README.md
  sdk/communication/communication-phone-numbers/samples/v1/javascript/getPurchasedPhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/getPurchasedPhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/purchasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/releasePhoneNumber.js
  sdk/communication/communication-phone-numbers/samples/v1/javascript/sample.env
  sdk/communication/communication-phone-numbers/samples/v1/javascript/updatePhoneNumberCapabilities.js
  sdk/communication/communication-phone-numbers/samples/v1/typescript/README.md
  sdk/communication/communication-phone-numbers/samples/v1/typescript/sample.env
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/getPurchasedPhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/getPurchasedPhoneNumbers.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/purchasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/releasePhoneNumber.ts
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/updatePhoneNumberCapabilities.ts
  sdk/communication/communication-phone-numbers/test/get.spec.ts
  sdk/communication/communication-phone-numbers/test/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/tests.yml
Labels: Communication

#14872 [service-bus] Fixing session peeking test that was failing randomly.
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/public/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/public/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testutils2.ts
Labels: Service Bus

#14870 [core-http] Add a custom HttpClient sample
  sdk/core/core-http/docs/architectureOverview.md
  sdk/core/core-http/samples/gotHttpClient.ts
  sdk/core/core-http/tsconfig.json
Labels: Azure.Core

#14903 [service-bus] Fixing some issues I introduced in an early merge
  sdk/servicebus/service-bus/test/public/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/public/sessionsRequiredCleanEntityTests.spec.ts
Labels: Service Bus

#14910 [Identity] Reverting ClientSecretCredential and UsernamePasswordCredential to v1 only for browsers, and fixing Karma browser bundles
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.browser.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.browser.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/public/browser/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/browser/usernamePasswordCredential.spec.ts
Labels: Azure.Identity, auto-merge

#14902 [Communication] communication-identity test separation for min/max testing
  sdk/communication/communication-identity/.vscode/launch.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/rollup.base.config.js
  sdk/communication/communication-identity/test/public/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-identity/test/public/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/public/communicationIdentityClientWithToken.spec.ts
  sdk/communication/communication-identity/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/communication-identity/test/public/utils/testCommunicationIdentityClient.ts
Labels: Communication

#14916 [service-bus] Converting `parallel receive` live tests to unit tests
  sdk/servicebus/service-bus/test/internal/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusReceiverUnitTests.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testUtils.ts
Labels: Service Bus

#14836 [Identity] UsernamePasswordCredential API alignment
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredentialOptions.ts
Labels: Azure.Identity

#14911 Sync eng/common directory with azure-sdk-tools for PR 1560
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys, EngSys

#14927 [KeyVault] - Update README with role assignment recommendations
  sdk/keyvault/keyvault-admin/README.md
Labels: KeyVault

#14881 [Identity] Updating msal-node, and re-enabling the DeviceCodeCredential cancel() test
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_cancelling_the_authentication.js
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
Labels: Azure.Identity, auto-merge

#14924 [communication][phone-numbers] enable min-max testing
  sdk/communication/communication-phone-numbers/.vscode/launch.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/rollup.base.config.js
  sdk/communication/communication-phone-numbers/test/internal/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/public/ctor.spec.ts
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-phone-numbers/test/public/list.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/tests.yml
Labels: Communication

#14932 Sync eng/common directory with azure-sdk-tools for PR 1563
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys, EngSys

#14844 [core-amqp][event-hubs] Fix "too much pending tasks" by making acquire lock calls cancellable
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/util/lock.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/cbs.spec.ts
  sdk/core/core-amqp/test/lock.spec.ts
  sdk/core/core-amqp/test/utils/utils.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/test/public/receiver.spec.ts
  sdk/servicebus/service-bus/package.json
Labels: Azure.Core

#14937 [communication] add workaround for SMS min testing
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
Labels: Communication

#14935 Adding cleanup process for older temp files
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/export/trace.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/persist/fileSystemPersist.test.ts
Labels: Monitor

#14897 [Recorder] Filtering request bodies
  common/config/rush/common-versions.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/recordings/node/authentication/recording_invalid_connection_string_gives_a_decent_error_message.js
  sdk/appconfiguration/app-configuration/recordings/node/authentication/recording_token_authentication_works.js
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/createRecorder.browser.ts
  sdk/test-utils/recorder/src/createRecorder.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/src/utils/requestBodyTransform.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
Labels: App Configuration, auto-merge

#14945 Sync eng/common directory with azure-sdk-tools for PR 1564
  eng/common/scripts/Package-Properties.ps1
Labels: Central-EngSys, EngSys

#14949 Sync eng/common directory with azure-sdk-tools for PR 1558
  eng/common/pipelines/templates/steps/set-default-branch.yml
Labels: Central-EngSys, EngSys

#14939 Sync eng/common directory with azure-sdk-tools for PR 1565
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
Labels: Central-EngSys, EngSys

#14809 Add sample for using storage-blob in web workers
  samples/web-workers/.gitignore
  samples/web-workers/README.md
  samples/web-workers/arm-template.json
  samples/web-workers/js/index.html
  samples/web-workers/js/index.js
  samples/web-workers/js/package.json
  samples/web-workers/js/polyfill.worker.js
  samples/web-workers/js/sample.env
  samples/web-workers/js/worker.js
  samples/web-workers/ts/index.html
  samples/web-workers/ts/index.ts
  samples/web-workers/ts/package.json
  samples/web-workers/ts/polyfill.worker.ts
  samples/web-workers/ts/sample.env
  samples/web-workers/ts/tsconfig.json
  samples/web-workers/ts/worker.ts
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-xml/src/xml.browser.ts
Labels: Azure.Core

#14341 [Cosmos] Switch to core-rest-pipeline
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/database.spec.ts
Labels: Cosmos

#14952 [communication] identity enable min-max testing
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/communication-identity/tests.yml
Labels: Communication

#14964 [KeyVault] - Regenerate from 7.2 stable
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/transformations.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/internal/transformations.spec.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#14942 [Communication][Chat] Changes required for min-max testing
  sdk/communication/communication-chat/.vscode/launch.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/rollup.base.config.js
  sdk/communication/communication-chat/test/internal/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/chatClient.spec.ts
  sdk/communication/communication-chat/test/public/chatThreadClient.spec.ts
  sdk/communication/communication-chat/test/public/utils/connectionUtils.ts
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
Labels: Communication

#14963 Revert "Revise stage condition. (#14851)"
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys, EngSys

#14960 Enable retained runs.
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys, EngSys

#14920 Add credential decision matrix in AzureIdentityExamples.md
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, auto-merge

#14971 [service-bus] Improvements to stress testers, retarget to kubernetes
  sdk/servicebus/service-bus/test/stress/.gitignore
  sdk/servicebus/service-bus/test/stress/Dockerfile
  sdk/servicebus/service-bus/test/stress/pod.yaml
  sdk/servicebus/service-bus/test/stress/sample.env
  sdk/servicebus/service-bus/test/stress/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress/scenarioLongRunning.ts
  sdk/servicebus/service-bus/test/stress/scenarioPeekMessages.ts
  sdk/servicebus/service-bus/test/stress/scenarioRenewMessageLock.ts
  sdk/servicebus/service-bus/test/stress/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress/scenarioSend.ts
  sdk/servicebus/service-bus/test/stress/scenarioStreamingReceive.ts
  sdk/servicebus/service-bus/test/stress/secrets.yaml
  sdk/servicebus/service-bus/test/stress/serviceBusStressTester.ts
  sdk/servicebus/service-bus/test/stress/testAll.sh
  sdk/servicebus/service-bus/test/stress/testBuild.sh
  sdk/servicebus/service-bus/test/stress/testRun.sh
  sdk/servicebus/service-bus/test/stress/utils.ts
Labels: Service Bus

#14981 Sync eng/common directory with azure-sdk-tools for PR 1562
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#14972 Add karma --no-sandbox config
  sdk/communication/communication-common/karma.conf.js
  sdk/communication/communication-identity/karma.conf.js
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-sms/karma.conf.js
Labels: Communication, auto-merge

#14764 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables

#14958 [communication] move utils into public, add min workaround
  sdk/communication/communication-phone-numbers/.vscode/launch.json
  sdk/communication/communication-phone-numbers/test/internal/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-phone-numbers/test/public/list.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/matrix.ts
  sdk/communication/communication-phone-numbers/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
Labels: Communication

#14986 [identity 2.0] Move identity to using the shared settings.
  sdk/identity/identity/.gitignore
  sdk/identity/identity/assets/cert.pem
  sdk/identity/identity/package.json
  sdk/identity/identity/rollup.base.config.js
  sdk/identity/identity/rollup.config.js
  sdk/identity/identity/rollup.test.config.js
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity, Client

#14968 [Identity] Added the PowerShell credential
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.browser.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/util/processUtils.ts
  sdk/identity/identity/src/util/scopeUtils.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#15003 [Identity] Improving logging in the ManagedIdentityCredential
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
Labels: Azure.Identity, auto-merge

#15004 Use 1es hosted pools for smoke tests
  eng/pipelines/templates/jobs/smoke.tests.yml
Labels: Central-EngSys

#15006 [Identity] - Add instructions for running Identity test in Azure Arc
  sdk/identity/identity/test/manual-integration/AzureArc/INSTRUCTIONS.md
  sdk/identity/identity/test/manual-integration/AzureArc/index.ts
  sdk/identity/identity/test/manual-integration/AzureArc/package.json
  sdk/identity/identity/test/manual-integration/AzureArc/tsconfig.json
Labels: Azure.Identity

#15010 [communication] communication-identity - enable aad browser tests
  sdk/communication/communication-identity/karma.conf.js
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/test/public/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
Labels: Communication

#14834 Increment version for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#15022 [Communication] - TESTS - removing unused value in test.yml
  sdk/communication/communication-phone-numbers/tests.yml
  sdk/communication/communication-sms/tests.yml
Labels: Communication

#15012 [communication] SMS - re-enable error code check in live test
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.js
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
Labels: Communication
