Repository Azure/azure-sdk-for-js, pull requests merged in 2021-02, with the labels that each got.

#11751 Supends -> Suspends
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/src/analysisServicesManagementClientContext.ts
  sdk/analysisservices/arm-analysisservices/src/operations/servers.ts
Labels: customer-reported

#12806 [Perf tests] Storage File Datalake - track 2
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/test/perfstress/track-2/README.md
  sdk/storage/storage-file-datalake/test/perfstress/track-2/append.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/index.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/read.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/storageTest.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/upload.spec.ts
  sdk/storage/storage-file-datalake/test/perfstress/track-2/uploadFromFile.spec.ts
Labels: Storage, auto-merge

#13507 Sync eng/common directory with azure-sdk-tools for PR 1351
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#13508 [ai-form-recognizer] 3.1-beta.2 Renames
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/models.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Labels: Client, Cognitive - Form Recognizer

#12929 Run smoke test samples after package release
  common/smoke-test/Initialize-SmokeTests.ps1
  common/smoke-test/smoke-tests.yml
  eng/pipelines/templates/jobs/smoke-tests.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
Labels: Central-EngSys

#13486 [metrics advisor] updated method name for listDimensionValuesForDetectionConfig()
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/aad_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient/recording_listanomalydimensionvalues.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/aad_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient/recording_listanomalydimensionvalues.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_by_page.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient/recording_listanomalydimensionvalues_with_datetime_strings.js
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/incidentsAndAlerts.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/incidentsAndAlerts.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
Labels: Cognitive - Metrics Advisor

#13494 [Recorder] Single quotes in the url-path - careful revert of the reverted "workaround"
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/baseRecorder.ts
  sdk/test-utils/recorder/src/utils/index.ts
  sdk/test-utils/recorder/test/node/utils.spec.ts
Labels: auto-merge

#13509 [Cosmos] Fixes AAD auth header missing error
  sdk/cosmosdb/cosmos/src/auth.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Labels: Cosmos

#13517 Sync eng/common directory with azure-sdk-tools for PR 1361
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#13525 Sync eng/common directory with azure-sdk-tools for PR 1353
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#13535 synapse-release-v2
  sdk/synapse/arm-synapse/src/models/workspaceManagedSqlServerRecoverableSqlPoolsMappers.ts
  sdk/synapse/arm-synapse/src/operations/workspaceManagedSqlServerRecoverableSqlPools.ts
Labels: Synapse

#13513 [Cosmos] Adds 400 or 401 check to nativeAPI test
  sdk/cosmosdb/cosmos/test/public/functional/offer.spec.ts
Labels: Cosmos

#13516 Add CORS and Bundling sections to README-TEMPLATE
  sdk/template/template/README-TEMPLATE.md
Labels: EngSys

#13524 [KeyVault] - Address KeyVault feedback
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/identifier.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/identifier.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/public/identifier.spec.ts
Labels: KeyVault

#13522 Add a createOctKey convenience method and relevant options.
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations/recording_can_create_an_oct_key_with_options.json
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations/recording_can_create_an_oct_key_with_options.js
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/test/public/CRUD.spec.ts
Labels: KeyVault

#13538 [Cosmos] Remove only
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Labels: Cosmos

#13511 [Identity] InteractiveBrowserCredential - Fix Azure Stack support
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
Labels: Azure.Identity

#13521 [service-bus] Hit low-hanging fruit with linting errors
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/receivers/shared.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/servicebusSharedKeyCredential.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/connectionStringUtils.ts
  sdk/servicebus/service-bus/src/util/crypto.browser.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/parseUrl.browser.ts
  sdk/servicebus/service-bus/src/util/parseUrl.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/src/util/semaphore.ts
  sdk/servicebus/service-bus/src/util/tracing.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/shared.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unittestUtils.ts
  sdk/servicebus/service-bus/test/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
  sdk/servicebus/service-bus/test/utils/envVarUtils.ts
  sdk/servicebus/service-bus/test/utils/managementUtils.ts
  sdk/servicebus/service-bus/test/utils/testUtils.ts
  sdk/servicebus/service-bus/test/utils/testutils2.ts
Labels: Service Bus

#13550 Communications - VS Code debug fixes
  sdk/communication/communication-administration/.vscode/launch.json
  sdk/communication/communication-chat/.vscode/launch.json
  sdk/communication/communication-identity/.vscode/launch.json
  sdk/communication/communication-sms/.vscode/launch.json
Labels: Communication

#13056 [Perf Tests] Event Hubs perf tests - track 1 and track 2
  eng/.docsettings.yml
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/test/perf/track-1/README.md
  sdk/eventhub/event-hubs/test/perf/track-1/index.spec.ts
  sdk/eventhub/event-hubs/test/perf/track-1/package.json
  sdk/eventhub/event-hubs/test/perf/track-1/receive.spec.ts
  sdk/eventhub/event-hubs/test/perf/track-1/send.spec.ts
  sdk/eventhub/event-hubs/test/perf/track-1/tsconfig.json
  sdk/eventhub/event-hubs/test/perf/track-2/README.md
  sdk/eventhub/event-hubs/test/perf/track-2/index.spec.ts
  sdk/eventhub/event-hubs/test/perf/track-2/receive.spec.ts
  sdk/eventhub/event-hubs/test/perf/track-2/send.spec.ts
  sdk/eventhub/event-hubs/tsconfig.json
Labels: Event Hubs, auto-merge

#13553 [Storage] Update version for storage blob/file 12.4.1 and datalake/queue 12.3.1 release
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
Labels: Storage

#13490 [Metrics Advisor] Api Key rotation
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorKeyCredentialPolicy.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/keyRotation.spec.ts
Labels: Cognitive - Metrics Advisor

#13556 [identity] Updated pnpm-lock and added plugin-json to identity browser config
  common/config/rush/pnpm-lock.yaml
  sdk/anomalydetector/ai-anomaly-detector/rollup.base.config.js
  sdk/communication/communication-administration/rollup.base.config.js
  sdk/communication/communication-chat/rollup.base.config.js
  sdk/communication/communication-identity/rollup.base.config.js
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/identity/identity/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/rollup.base.config.js
  sdk/schemaregistry/schema-registry/rollup.base.config.js
Labels: Azure.Identity, Client

#13541 add ms-cv to list of visible headers
  sdk/core/core-http/src/util/sanitizer.ts
  sdk/core/core-https/src/util/sanitizer.ts
Labels: Azure.Core

#13382 [core-http] delay loading of DOM parser error namespace
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-http/test/xmlTests.ts
  sdk/core/core-xml/src/xml.browser.ts
Labels: Azure.Core

#13544 Update transitive dependency
  common/config/rush/pnpm-lock.yaml
  common/config/rush/pnpmfile.js
Labels: Client, auto-merge

#13329 [core-http] reduce memory usage of proxy policy cache
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/policies/proxyPolicy.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-https/src/policies/proxyPolicy.ts
  sdk/core/core-https/test/node/proxyPolicy.spec.ts
Labels: Azure.Core, Client

#13558 Sync eng/common directory with azure-sdk-tools for PR 1364
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#13563 Sync eng/common directory with azure-sdk-tools for PR 1365
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Labels: Central-EngSys, EngSys

#13562 [core-http] add changelog
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-https/CHANGELOG.md
Labels: Azure.Core

#13515 [dev-tool][smoke-tests] Use same configuration for skippable samples in live environments
  common/smoke-test/README.md
  common/smoke-test/run.js
  common/tools/dev-tool/src/commands/samples/run.ts
  common/tools/dev-tool/src/util/findMatchingFiles.ts
  common/tools/dev-tool/src/util/shouldSkip.ts
  common/tools/dev-tool/test/samples/skips.spec.ts
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-sms/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, Digital Twins, EngSys, Event Hubs, KeyVault, Service Bus, Storage, dev-tool

#13548 Update Identity readme
  sdk/identity/identity/README.md
Labels: Azure.Identity, auto-merge

#13564 [Identity] Update the keytar dependency
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity, auto-merge

#13546 [event-hubs] clean up afterEach for client close tests
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
Labels: Event Hubs, auto-merge

#13549 [Service Bus] Fix test command to pick non-perf/stress files only (** -> *)
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#13574 Revert "[Service Bus] Revert core-amqp to 2.0.0 (#13401)"
  common/config/rush/common-versions.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, auto-merge

#13565 Sync eng/common directory with azure-sdk-tools for PR 1366
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: Central-EngSys, EngSys

#13575 [KeyVault] - SelectiveRestore should return a RestoreResult
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginbackup/recording_returns_the_correct_backup_result_when_fails_to_authenticate.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_contains_an_error_when_fails_to_authenticate.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_selectiverestore_completes_successfully.js
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveRestore/poller.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
  sdk/keyvault/keyvault-admin/test/utils/authentication.ts
Labels: KeyVault

#13579 [communication-common] Rewrote identifier serializer to match new schema
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/identifierModelSerializer.spec.ts
  sdk/communication/communication-common/test/identifierModels.spec.ts
Labels: Communication

#13571 [core-http] prepare for Feburary 2021 release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#13592 [core-https][core-xml][core-client] Add release notes for February
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-https/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
Labels: Azure.Core, Client, auto-merge

#13597 Add back tests
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_adds_members.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_members.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_lists_threads.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_remove_a_member.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_intializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_adds_members.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_creates_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_deletes_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_members.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_lists_threads.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_remove_a_member.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_retrieves_a_thread_client.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_intializes_chatthreadclient.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.js
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.js
  sdk/communication/communication-chat/test/chatClient.spec.ts
  sdk/communication/communication-chat/test/chatThreadClient.spec.ts
Labels: Communication

#13467 [template] Replace existing template package with tutorial client
  common/config/rush/pnpm-lock.yaml
  sdk/template/template/CHANGELOG.md
  sdk/template/template/README-EXAMPLE.md
  sdk/template/template/README-TEMPLATE.md
  sdk/template/template/README.md
  sdk/template/template/karma.conf.js
  sdk/template/template/package.json
  sdk/template/template/recordings/browsers/aad_configurationclient_functional_tests/recording_predetermined_setting_has_expected_value.json
  sdk/template/template/recordings/node/aad_configurationclient_functional_tests/recording_predetermined_setting_has_expected_value.js
  sdk/template/template/review/template.api.md
  sdk/template/template/sample.env
  sdk/template/template/samples/javascript/README.md
  sdk/template/template/samples/javascript/getConfigurationSetting.js
  sdk/template/template/samples/javascript/package.json
  sdk/template/template/samples/javascript/sample.env
  sdk/template/template/samples/javascript/sampleTemplate.js
  sdk/template/template/samples/tsconfig.json
  sdk/template/template/samples/typescript/README.md
  sdk/template/template/samples/typescript/package.json
  sdk/template/template/samples/typescript/sample.env
  sdk/template/template/samples/typescript/src/getConfigurationSetting.ts
  sdk/template/template/samples/typescript/src/sampleTemplate.ts
  sdk/template/template/samples/typescript/tsconfig.json
  sdk/template/template/src/configurationClient.ts
  sdk/template/template/src/constants.ts
  sdk/template/template/src/generated/generatedClient.ts
  sdk/template/template/src/generated/generatedClientContext.ts
  sdk/template/template/src/generated/index.ts
  sdk/template/template/src/generated/models/index.ts
  sdk/template/template/src/generated/models/mappers.ts
  sdk/template/template/src/generated/models/parameters.ts
  sdk/template/template/src/index.ts
  sdk/template/template/src/logger.ts
  sdk/template/template/src/print.browser.ts
  sdk/template/template/src/tracing.ts
  sdk/template/template/src/util.ts
  sdk/template/template/swagger/README.md
  sdk/template/template/swagger/appconfiguration.json
  sdk/template/template/test/browser/sampleBrowser.spec.ts
  sdk/template/template/test/internal/basic.spec.ts
  sdk/template/template/test/node/index.spec.ts
  sdk/template/template/test/public/configurationClient.spec.ts
  sdk/template/template/tests.yml
  sdk/template/test-resources.json
Labels: EngSys

#13605 [core-https] Fix decoding of gzip responses
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/src/constants.ts
  sdk/core/core-https/src/nodeHttpsClient.ts
  sdk/core/core-https/src/pipelineRequest.ts
Labels: Azure.Core, Client, auto-merge

#13607 Use the right pkg name in tests.yml
  sdk/digitaltwins/digital-twins-core/tests.yml
Labels: Digital Twins

#13570 [core-amqp] improve error message on TypeError: sendRequest of undefined
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/test/cbs.spec.ts
Labels: Azure.Core

#13606 Increment version for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: Azure.Core

#13610 [core-amqp] prep for 2.1.0 release
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core, auto-merge

#13613 Clean up after digital twins pkg rename
  eng/pipelines/mgmt-ci.yml
  eng/pipelines/mgmt-pr.yml
  sdk/digitaltwins/digital-twins/tsdoc.json
Labels: Digital Twins, auto-merge

#13596 OpenTelemetry Azure exporter dependency update
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/connectionStringParser.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/scenario/basic.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/eventhub.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/spanUtils.test.ts
Labels: Monitor

#13618 [Event Grid] Fix Live Test Pipeline
  sdk/eventgrid/eventgrid/tests.yml
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#13567 Revert "[Metrics Advisor] Create functions modified to return id with…
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/metricFeedback.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/javascript/quickstart.js
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/dataFeed.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/metricFeedback.ts
  sdk/metricsadvisor/ai-metrics-advisor/samples/typescript/src/quickstart.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
Labels: Cognitive - Metrics Advisor

#13630 Increment version for quantum releases
  sdk/quantum/quantum-jobs/CHANGELOG.md
  sdk/quantum/quantum-jobs/package.json
Labels: auto-merge

#13629 [core-amqp] update changelog for release
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core, auto-merge

#13614 [KeyVault] - Include missing properties when reading SecretBundle
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/src/transformations.ts
  sdk/keyvault/keyvault-secrets/test/internal/transformations.spec.ts
Labels: KeyVault

#13547 [service-bus] Add in long-running stress/perf test
  sdk/servicebus/service-bus/test/stress/package.json
  sdk/servicebus/service-bus/test/stress/runContainer.js
  sdk/servicebus/service-bus/test/stress/sample.env
  sdk/servicebus/service-bus/test/stress/scenarioBatchReceive.ts
  sdk/servicebus/service-bus/test/stress/scenarioCloseOpen.ts
  sdk/servicebus/service-bus/test/stress/scenarioLongRunning.ts
  sdk/servicebus/service-bus/test/stress/scenarioPeekMessages.ts
  sdk/servicebus/service-bus/test/stress/scenarioRenewMessageLock.ts
  sdk/servicebus/service-bus/test/stress/scenarioRenewSessionLock.ts
  sdk/servicebus/service-bus/test/stress/scenarioSend.ts
  sdk/servicebus/service-bus/test/stress/scenarioStreamingReceive.ts
  sdk/servicebus/service-bus/test/stress/stressTestsBase.ts
  sdk/servicebus/service-bus/test/stress/tsconfig.json
  sdk/servicebus/service-bus/test/stress/utils.ts
Labels: Service Bus

#13601 OpenTelemetry exporter adding serviceApiVersion config
  sdk/monitor/opentelemetry-exporter-azure-monitor/review/opentelemetry-exporter-azure-monitor.api.md
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Constants.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/config.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/export/trace.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/httpSender.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/utils/connectionStringParser.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/platform/nodejs/httpSender.test.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/unit/utils/connectionStringParser.test.ts
Labels: Monitor

#13568 [Text Analytics] Integrating action failures and successes into one array
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_analyze/recording_action_failures_are_returned.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_analyze/recording_action_failures_are_returned.js
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples/javascript/beginAnalyzeBatchActions.js
  sdk/textanalytics/ai-text-analytics/samples/typescript/src/beginAnalyzeBatchActions.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeBatchActionsResult.ts
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/src/lro/analyze/operation.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsResult.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/internal/collections.spec.ts
  sdk/textanalytics/ai-text-analytics/test/internal/util.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics, auto-merge

#13637 [Event Hubs] Remove use of @property tag in docs
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/eventhubSharedKeyCredential.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/receiveHandler.ts
Labels: Event Hubs, auto-merge

#13638 [Event Hubs] Remove invalid tsdoc tags
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/diagnostics/instrumentEventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/eventhubSharedKeyCredential.ts
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/loadBalancingStrategy.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/src/receiveHandler.ts
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/src/util/parseEndpoint.ts
  sdk/eventhub/event-hubs/src/util/runtimeInfo.browser.ts
  sdk/eventhub/event-hubs/src/util/runtimeInfo.ts
  sdk/eventhub/event-hubs/test/public/utils/testInMemoryCheckpointStore.ts
Labels: Event Hubs, auto-merge

#13420 [storage] add fromConnectString to DataLakeServiceClient
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_can_be_created_from_sasconnstring.json
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_can_be_created_from_accountconnstring.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_can_be_created_from_sasconnstring.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/test/node/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.browser.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
  sdk/storage/storage-file-share/README.md
Labels: APIChange, Storage, cross-language alignment

#13581 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
Labels: Storage

#13246 [storage blob & datalake] Stg76
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/browsers/blobbatch/recording_container_scoped_submitbatch_should_work_for_batch_delete.json
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_rename_container.json
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_rename_container_should_work_with_source_lease.json
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_restore_container.json
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_restore_container_to_a_new_name.json
  sdk/storage/storage-blob/recordings/node/blobbatch/recording_container_scoped_submitbatch_should_work_for_batch_delete.js
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_rename_container.js
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_rename_container_should_work_with_source_lease.js
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_restore_container.js
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_restore_container_to_a_new_name.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_batch_operation_should_work_with_container_sas.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/generated/src/models/containerMappers.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/appendBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/operations/blockBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/container.ts
  sdk/storage/storage-blob/src/generated/src/operations/pageBlob.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/index.browser.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_renamefilesystem_should_work.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_renamefilesystem_should_work_with_source_lease.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_undelete_and_list_deleted_file_system_should_work.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_undelete_file_system_to_a_new_name.json
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_renamefilesystem_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_renamefilesystem_should_work_with_source_lease.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_undelete_and_list_deleted_file_system_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_undelete_file_system_to_a_new_name.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/transforms.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/test-resources.json
Labels: APIChange, Storage

#13655 [storage] add DFS_STORAGE_CONNECTION_STRING to test-resource.json output
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_undelete_and_list_deleted_file_system_should_work.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_undelete_file_system_to_a_new_name.json
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_undelete_and_list_deleted_file_system_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_undelete_file_system_to_a_new_name.js
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
  sdk/storage/test-resources.json
Labels: Storage

#13640 [Event Hubs] Fix param and return tags to follow TSDoc
  sdk/eventhub/event-hubs/samples/expressSample/src/asyncBatchingProducer.ts
  sdk/eventhub/event-hubs/samples/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/src/diagnostics/instrumentEventData.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/eventhubSharedKeyCredential.ts
  sdk/eventhub/event-hubs/src/impl/partitionGate.ts
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/balancedStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/greedyStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/loadBalancingStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/unbalancedStrategy.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/src/receiveHandler.ts
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/src/util/delayWithoutThrow.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/src/util/parseEndpoint.ts
  sdk/eventhub/event-hubs/src/util/typeGuards.ts
  sdk/eventhub/event-hubs/test/public/utils/receivedMessagesTester.ts
  sdk/eventhub/event-hubs/test/public/utils/testInMemoryCheckpointStore.ts
Labels: Event Hubs, auto-merge

#13660 [KeyVault] - Update changelog for release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/samples/javascript/README.md
  sdk/keyvault/keyvault-admin/samples/typescript/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/samples/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/typescript/README.md
Labels: KeyVault

#13643 Fix linting errors in new core pkgs
  sdk/core/core-client/src/base64.browser.ts
  sdk/core/core-client/src/base64.ts
  sdk/core/core-client/src/createSpan.ts
  sdk/core/core-client/src/interfaceHelpers.ts
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/operationHelpers.ts
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/src/utils.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-https/src/accessTokenCache.ts
  sdk/core/core-https/src/httpHeaders.ts
  sdk/core/core-https/src/interfaces.ts
  sdk/core/core-https/src/nodeHttpsClient.ts
  sdk/core/core-https/src/pipeline.ts
  sdk/core/core-https/src/pipelineRequest.ts
  sdk/core/core-https/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-https/src/policies/logPolicy.ts
  sdk/core/core-https/src/policies/proxyPolicy.ts
  sdk/core/core-https/src/policies/redirectPolicy.ts
  sdk/core/core-https/src/policies/setClientRequestIdPolicy.ts
  sdk/core/core-https/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-https/src/policies/throttlingRetryPolicy.ts
  sdk/core/core-https/src/policies/tracingPolicy.ts
  sdk/core/core-https/src/policies/userAgentPolicy.ts
  sdk/core/core-https/src/util/helpers.ts
  sdk/core/core-https/src/util/uuid.ts
  sdk/core/core-https/src/xhrHttpsClient.ts
  sdk/core/core-xml/src/xml.common.ts
  sdk/core/core-xml/src/xml.ts
Labels: auto-merge

#13631 Update new template with CORS instructions
  samples/cors/ts/README.md
  sdk/cosmosdb/cosmos/README.md
  sdk/template/template/README.md
Labels: Cosmos, EngSys

#13650 [Synapse] Enable the use of eslint plugin
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/bodyPollingStrategy.ts
  sdk/synapse/synapse-artifacts/src/lro/lroPolicy.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/synapse/synapse-spark/review/synapse-spark.api.md
  sdk/synapse/synapse-spark/src/models/index.ts
Labels: Synapse

#13644 [Core AMQP] Fix tsdoc linting errors
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/amqpAnnotatedMessage.ts
  sdk/core/core-amqp/src/auth/token.ts
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/log.ts
  sdk/core/core-amqp/src/messageHeader.ts
  sdk/core/core-amqp/src/messageProperties.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/src/util/runtimeInfo.browser.ts
  sdk/core/core-amqp/src/util/utils.ts
Labels: Azure.Core

#13616 [Digital Twins] Run lint:fix and fix tsdoc lint errors
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/logger.ts
  sdk/digitaltwins/digital-twins-core/src/tracing.ts
  sdk/digitaltwins/digital-twins-core/test/public/testComponents.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testDigitalTwins.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testRelationships.spec.ts
Labels: Digital Twins

#13653 [Monitor] Enable and run lint:fix, resolve tsdoc errors
  sdk/monitor/opentelemetry-exporter-azure-monitor/package.json
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Constants.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Contracts/Constants.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/Declarations/Contracts/index.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/src/platform/nodejs/context/context.ts
  sdk/monitor/opentelemetry-exporter-azure-monitor/test/common/assert.ts
Labels: Monitor

#13663 Increment version for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core, auto-merge

#13661 Sync eng/common directory with azure-sdk-tools for PR 1376
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#13666 [event-hubs] prepare for 5.4.0 release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#13641 [App Config] Simple linting error fixes
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/synctokenpolicy.ts
  sdk/appconfiguration/app-configuration/src/internal/tracingHelpers.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
Labels: App Configuration, auto-merge

#13673 [Service Bus] Fix `integration-test` command
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, auto-merge

#13672 Update change log
  sdk/communication/communication-chat/CHANGELOG.md
Labels: Communication

#13639 [Synapse] Use mysynapse instead of personal resource name
  sdk/synapse/synapse-access-control/README.md
Labels: Synapse, auto-merge

#13674 [core-auth] 1.2.0 release date
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
Labels: Azure.Core, auto-merge

#13676 [Communication] Register thread level notifications to chat client
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/README.md
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/models/requests.ts
Labels: Communication

#13623 arm-iotcentral-relaese
  sdk/iotcentral/arm-iotcentral/package.json
  sdk/iotcentral/arm-iotcentral/src/iotCentralClientContext.ts
  sdk/iotcentral/arm-iotcentral/src/models/appsMappers.ts
  sdk/iotcentral/arm-iotcentral/src/models/index.ts
  sdk/iotcentral/arm-iotcentral/src/models/mappers.ts
  sdk/iotcentral/arm-iotcentral/src/operations/apps.ts
Labels: Mgmt

#13532 arm-cosmosdb-release
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClientContext.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/cassandraResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/databaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/gremlinResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/mongoDBResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/notebookWorkspacesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/parameters.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateEndpointConnectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/privateLinkResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableDatabaseAccountsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbCollectionsMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbDatabasesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableMongodbResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlContainersMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlDatabasesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/restorableSqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/sqlResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/models/tableResourcesMappers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/cassandraResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/gremlinResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/index.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/mongoDBResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableDatabaseAccounts.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbCollections.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbDatabases.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableMongodbResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlContainers.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlDatabases.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/restorableSqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/sqlResources.ts
  sdk/cosmosdb/arm-cosmosdb/src/operations/tableResources.ts
Labels: Cosmos, Mgmt

#13537 arm-mixedrelity-release
  sdk/mixedreality/arm-mixedreality/LICENSE.txt
  sdk/mixedreality/arm-mixedreality/README.md
  sdk/mixedreality/arm-mixedreality/package.json
  sdk/mixedreality/arm-mixedreality/rollup.config.js
  sdk/mixedreality/arm-mixedreality/src/mixedRealityClient.ts
  sdk/mixedreality/arm-mixedreality/src/mixedRealityClientContext.ts
  sdk/mixedreality/arm-mixedreality/src/models/index.ts
  sdk/mixedreality/arm-mixedreality/src/models/mappers.ts
  sdk/mixedreality/arm-mixedreality/src/models/operationsMappers.ts
  sdk/mixedreality/arm-mixedreality/src/models/parameters.ts
  sdk/mixedreality/arm-mixedreality/src/models/remoteRenderingAccountsMappers.ts
  sdk/mixedreality/arm-mixedreality/src/models/spatialAnchorsAccountsMappers.ts
  sdk/mixedreality/arm-mixedreality/src/operations/index.ts
  sdk/mixedreality/arm-mixedreality/src/operations/operations.ts
  sdk/mixedreality/arm-mixedreality/src/operations/remoteRenderingAccounts.ts
  sdk/mixedreality/arm-mixedreality/src/operations/spatialAnchorsAccounts.ts
Labels: Mgmt

#13677 Use TokenCredential from core-auth than identity
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/review/ai-metrics-advisor.api.md
  sdk/metricsadvisor/ai-metrics-advisor/src/createClientPipeline.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
Labels: Cognitive - Form Recognizer, Cognitive - Metrics Advisor, auto-merge

#13659 [communication] update sms readme and samples
  sdk/communication/communication-sms/README.md
  sdk/communication/communication-sms/samples/javascript/sendSms.js
  sdk/communication/communication-sms/samples/typescript/src/sendSms.ts
Labels: Communication

#13679 [Communication] Update CHANGELOG
  sdk/communication/communication-chat/CHANGELOG.md
Labels: Communication

#13649 [Communication] Update @param tag usage to follow tsdoc
  sdk/communication/communication-administration/src/common/tracing.ts
  sdk/communication/communication-administration/src/phoneNumber/generated/src/operations/phoneNumberAdministration.ts
  sdk/communication/communication-administration/src/phoneNumber/generated/src/phoneNumberRestClient.ts
  sdk/communication/communication-administration/src/phoneNumber/generated/src/phoneNumberRestClientContext.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/phoneNumberPollerBase.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/purchase/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/purchase/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/release/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/release/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/reserve/operation.ts
  sdk/communication/communication-administration/src/phoneNumber/lro/reserve/poller.ts
  sdk/communication/communication-administration/src/phoneNumber/phoneNumberAdministrationClient.ts
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/credential/communicationTokenCredentialPolicy.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/tracing.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/credential/clientArguments.ts
  sdk/communication/communication-common/src/credential/communicationAccessKeyCredentialPolicy.ts
  sdk/communication/communication-common/src/credential/communicationAuthPolicy.ts
  sdk/communication/communication-common/src/credential/connectionString.ts
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-identity/src/common/tracing.ts
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClient.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClientContext.ts
  sdk/communication/communication-identity/src/generated/src/operations/communicationIdentity.ts
  sdk/communication/communication-sms/src/generated/src/operations/sms.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClient.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClientContext.ts
  sdk/communication/communication-sms/src/smsClient.ts
  sdk/communication/communication-sms/src/tracing.ts
Labels: Communication, auto-merge

#13685 [ESLint Plugin] no require imports
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity, auto-merge

#13584 arm-kubernetesconfiguration-release
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/LICENSE.txt
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/README.md
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/package.json
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/rollup.config.js
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/models/index.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/models/mappers.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/models/operationsMappers.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/models/parameters.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/models/sourceControlConfigurationsMappers.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/operations/index.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/operations/operations.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/operations/sourceControlConfigurations.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/sourceControlConfigurationClient.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/sourceControlConfigurationClientContext.ts
Labels: Mgmt

#13692 Increment version for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Labels: Storage

#13687 [App Config] Fix linting errs on missing return types
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/throttlingRetryPolicyTests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration, auto-merge

#13642 [Form Recognizer] hidden tag not needed when internal is present
  sdk/formrecognizer/ai-form-recognizer/src/formRecognizerClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/formTrainingClient.ts
Labels: Cognitive - Form Recognizer, auto-merge

#13651 [Synapse] Updates usage of @param tag to follow TSDoc
  sdk/synapse/synapse-access-control/src/accessControlClient.ts
  sdk/synapse/synapse-access-control/src/accessControlClientContext.ts
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/lro/azureAsyncOperationStrategy.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlow.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataset.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedService.ts
  sdk/synapse/synapse-artifacts/src/operations/notebook.ts
  sdk/synapse/synapse-artifacts/src/operations/pipeline.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRun.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinition.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScript.ts
  sdk/synapse/synapse-artifacts/src/operations/trigger.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRun.ts
  sdk/synapse/synapse-artifacts/src/operations/workspace.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClient.ts
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClientContext.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operations/managedPrivateEndpoints.ts
  sdk/synapse/synapse-monitoring/src/monitoringClient.ts
  sdk/synapse/synapse-monitoring/src/monitoringClientContext.ts
  sdk/synapse/synapse-monitoring/src/operations/monitoring.ts
  sdk/synapse/synapse-spark/src/operations/sparkBatch.ts
  sdk/synapse/synapse-spark/src/operations/sparkSession.ts
  sdk/synapse/synapse-spark/src/sparkClient.ts
  sdk/synapse/synapse-spark/src/sparkClientContext.ts
Labels: Synapse, auto-merge

#13689 [Communication]Set the sender as undefined instead of empty when sender id not populated
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/test/chatThreadClient.mocked.spec.ts
Labels: Communication

#13695 [ai-form-recognizer] Added changelog release date
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer, auto-merge

#13694 [Text Analytics] Prepare for release of v5.1.0-beta.4
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics, auto-merge

#13696 [ai-form-recognizer] Fixed the release date, again.
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#13681 Increment version for core releases
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
Labels: Azure.Core

#13704 [Synapse] Update changelog, remove Library
  sdk/synapse/synapse-access-control/CHANGELOG.md
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/index.ts
  sdk/synapse/synapse-managed-private-endpoints/CHANGELOG.md
  sdk/synapse/synapse-monitoring/CHANGELOG.md
  sdk/synapse/synapse-spark/CHANGELOG.md
Labels: Synapse

#13699 [core-client] Clean up serviceClient.ts by moving code
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/src/pipeline.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/src/utils.ts
Labels: Azure.Core, Client, auto-merge

#13706 [Tables] Update release notes for beta.5
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#13686 [communication] Prepare release for common, chat, identity
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-sms/package.json
Labels: Communication

#13708 Increment version for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#13683 [Core AMQP] Update to rhea promise 1.1.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Labels: Azure.Core, Event Hubs, Service Bus, auto-merge

#13705 [Identity] 1.2.3 release and msal-node Axios update
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity, auto-merge

#13702 [Core AMQP] Fix a few more linter errors
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
Labels: Azure.Core

#13701 [core-xml] fix lint issues
  sdk/core/core-xml/package.json
  sdk/core/core-xml/review/core-xml.api.md
  sdk/core/core-xml/src/xml.browser.ts
  sdk/core/core-xml/src/xml.ts
  sdk/core/core-xml/test/xml.spec.ts
Labels: Azure.Core, Client, auto-merge

#13593 [Metrics Advisor] update changelog
  sdk/metricsadvisor/ai-metrics-advisor/CHANGELOG.md
Labels: Cognitive - Metrics Advisor

#13714 [EventGrid] Prepare for v3.0.0-beta.4 Release
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/communication/communication-administration/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http/package.json
  sdk/core/core-https/package.json
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/search/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Azure.Core, Cognitive - Form Recognizer, Cognitive - Metrics Advisor, Cognitive - Text Analytics, Communication, EngSys, Event Grid, Event Hubs, Search, Service Bus

#13725 Increment version for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/constants.ts
Labels: Event Grid

#13711 Increment version for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Cognitive - Form Recognizer

#13720 [KeyVault] Bump KeyVault versions after release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
Labels: KeyVault

#13684 Remove keySize override from createRsaKeyOptions
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/keysModels.ts
Labels: KeyVault

#13670 [ESLint Plugin] No extraneous dependencies in imports
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-keys/package.json
Labels: Azure.Identity, KeyVault, auto-merge

#13730 Increment version for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/constants.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
Labels: Cognitive - Text Analytics

#13729 [monitor] Small changes so we can release the exporter
  sdk/monitor/ci.yml
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor

#13734 Sync eng/common directory with azure-sdk-tools for PR 1393
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: Central-EngSys, EngSys

#13727 Revert search documents & Update Version and Changelog
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/typescript/src/indexes/analyzeText.ts
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#13735 OpenTelemetry exporter exposing service api version config matching swagger version
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Constants.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/config.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/unit/platform/nodejs/httpSender.test.ts
Labels: Monitor

#13742 Modified change log for search documents
  sdk/search/search-documents/CHANGELOG.md
Labels: Search

#13741 Increment version for monitor releases
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
Labels: Monitor

#13712 Increment version for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity, auto-merge

#13744 Sync eng/common directory with azure-sdk-tools for PR 1303
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#13747 Sync eng/common directory with azure-sdk-tools for PR 1358
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: Central-EngSys, EngSys

#13745 [Service Bus] Add missing return types
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/crypto.browser.ts
  sdk/servicebus/service-bus/src/util/crypto.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/tracing.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/atomE2ETests.spec.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/internal/retries.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/unittestUtils.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/propsToModify.spec.ts
  sdk/servicebus/service-bus/test/public/renewLockSessions.spec.ts
  sdk/servicebus/service-bus/test/public/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/public/sessionsRequiredCleanEntityTests.spec.ts
  sdk/servicebus/service-bus/test/public/utils/abortSignalTestUtils.ts
  sdk/servicebus/service-bus/test/public/utils/managementUtils.ts
  sdk/servicebus/service-bus/test/public/utils/testutils2.ts
Labels: Service Bus

#13743 Update OpenTelemetry exporter samples
  sdk/monitor/monitor-opentelemetry-exporter/samples/grpc/server.js
  sdk/monitor/monitor-opentelemetry-exporter/samples/https/client.js
  sdk/monitor/monitor-opentelemetry-exporter/samples/https/server.js
Labels: Monitor

#13732 [Digital Twins] Fix linting errors in test files
  sdk/digitaltwins/digital-twins-core/test/public/testComponents.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testDigitalTwins.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testRelationships.spec.ts
  sdk/digitaltwins/digital-twins-core/test/utils/testAuthentication.ts
Labels: Digital Twins

#13750 Sync eng/common directory with azure-sdk-tools for PR 1386
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#13738 [core-https] Remove unused parameter
  sdk/core/core-https/review/core-https.api.md
  sdk/core/core-https/src/pipeline.ts
Labels: Azure.Core, Client

#13746 [Event Hubs] Fix remaining TSDoc linting errors
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
Labels: Event Hubs, auto-merge

#13737 [mock-hub] Initial mock event hubs package
  common/config/rush/pnpm-lock.yaml
  eng/.docsettings.yml
  rush.json
  sdk/core/core-amqp/package.json
  sdk/eventhub/mock-hub/License
  sdk/eventhub/mock-hub/README.md
  sdk/eventhub/mock-hub/design/architecture.md
  sdk/eventhub/mock-hub/design/features.md
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/samples/javascript/package.json
  sdk/eventhub/mock-hub/samples/javascript/readme.md
  sdk/eventhub/mock-hub/samples/javascript/sample.env
  sdk/eventhub/mock-hub/samples/javascript/src/ehSample.js
  sdk/eventhub/mock-hub/samples/tsconfig.json
  sdk/eventhub/mock-hub/samples/typescript/package.json
  sdk/eventhub/mock-hub/samples/typescript/readme.md
  sdk/eventhub/mock-hub/samples/typescript/sampe.env
  sdk/eventhub/mock-hub/samples/typescript/src/ehSample.ts
  sdk/eventhub/mock-hub/samples/typescript/tsconfig.json
  sdk/eventhub/mock-hub/src/index.ts
  sdk/eventhub/mock-hub/src/messages/cbs/cbsAccepted.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/partitionInfo.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/runtimeInfo.ts
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
  sdk/eventhub/mock-hub/src/server/mockServer.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
  sdk/eventhub/mock-hub/src/storage/messageStore.ts
  sdk/eventhub/mock-hub/src/storage/queue.ts
  sdk/eventhub/mock-hub/src/utils/convertBufferToMessage.ts
  sdk/eventhub/mock-hub/src/utils/eventPosition.ts
  sdk/eventhub/mock-hub/tsconfig.json
  sdk/eventhub/testhub/package.json
Labels: Azure.Core, Client, Event Hubs

#13756 Sync eng/common directory with azure-sdk-tools for PR 1307
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#13754 Added @azure/template to its own samples' dependencies.
  sdk/template/template/samples/javascript/package.json
  sdk/template/template/samples/typescript/package.json
Labels: EngSys

#13569 [Identity] Issue reference in the Azure Stack entry
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity, auto-merge

#13748 [CheckpointStore] Fix linter errors
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/index.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/log.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/util/error.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/snippets.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/utils/testUtils.ts
Labels: Event Hubs

#13757 [Service Bus] Fix no shadow, redundant await linter errors
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/atomE2ETests.spec.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/internal/renewLock.spec.ts
  sdk/servicebus/service-bus/test/internal/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/autoLockRenewer.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/renewLockSessions.spec.ts
Labels: Service Bus

#13755 [Service Bus] Fix return tag to follow TSDoc
  sdk/servicebus/service-bus/src/connectionContext.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/crypto.browser.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/public/utils/managementUtils.ts
Labels: Service Bus, auto-merge

#13764 Modify Changelog of Search Documents SDK
  sdk/search/search-documents/CHANGELOG.md
Labels: Search

#13758 Remove canary check for OpenTelemetry versions
  sdk/monitor/monitor-opentelemetry-exporter/test-opentelemetry-versions.js
Labels: Monitor

#13717 Increment version for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/utils/constants.ts
Labels: Tables, auto-merge

#13762 Sync eng/common directory with azure-sdk-tools for PR 1401
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: Central-EngSys, EngSys

#13768 Sync eng/common directory with azure-sdk-tools for PR 1405
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#13763 [Service Bus] Fix remaining TSDoc errors
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/connectionStringUtils.ts
Labels: Service Bus, auto-merge

#13263 [Identity] InteractiveBrowserCredential to use MSAL Browser 2.0
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/interactive-browser-credential.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/src/credentials/msalBrowser/msalAuthCode.ts
  sdk/identity/identity/src/credentials/msalBrowser/msalCommon.ts
  sdk/identity/identity/src/credentials/msalBrowser/msalImplicit.ts
  sdk/identity/identity/src/index.ts
Labels: Azure.Identity

#13308 [Identity] Using service-bus for manual test with MSAL 2.0
  sdk/identity/identity/test/manual/README.md
  sdk/identity/identity/test/manual/package.json
  sdk/identity/identity/test/manual/src/index.tsx
Labels: Azure.Identity

#13775 [Identity] 1.2.4-beta.1 release date
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/interactive-browser-credential.md
Labels: Azure.Identity, auto-merge

#13776 Sync eng/common directory with azure-sdk-tools for PR 1408
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#13680 Sync eng/common directory with azure-sdk-tools for PR 1371
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: Central-EngSys, EngSys

#13583 arm-resourcemover-release
  sdk/resourcemover/arm-resourcemover/LICENSE.txt
  sdk/resourcemover/arm-resourcemover/README.md
  sdk/resourcemover/arm-resourcemover/package.json
  sdk/resourcemover/arm-resourcemover/rollup.config.js
  sdk/resourcemover/arm-resourcemover/src/models/index.ts
  sdk/resourcemover/arm-resourcemover/src/models/mappers.ts
  sdk/resourcemover/arm-resourcemover/src/models/moveCollectionsMappers.ts
  sdk/resourcemover/arm-resourcemover/src/models/moveResourcesMappers.ts
  sdk/resourcemover/arm-resourcemover/src/models/operationsDiscoveryOperationsMappers.ts
  sdk/resourcemover/arm-resourcemover/src/models/parameters.ts
  sdk/resourcemover/arm-resourcemover/src/models/unresolvedDependenciesMappers.ts
  sdk/resourcemover/arm-resourcemover/src/operations/index.ts
  sdk/resourcemover/arm-resourcemover/src/operations/moveCollections.ts
  sdk/resourcemover/arm-resourcemover/src/operations/moveResources.ts
  sdk/resourcemover/arm-resourcemover/src/operations/operationsDiscoveryOperations.ts
  sdk/resourcemover/arm-resourcemover/src/operations/unresolvedDependencies.ts
  sdk/resourcemover/arm-resourcemover/src/resourceMoverServiceAPI.ts
  sdk/resourcemover/arm-resourcemover/src/resourceMoverServiceAPIContext.ts
  sdk/resourcemover/arm-resourcemover/tsconfig.json
Labels: Mgmt
