Repository Azure/azure-sdk-for-js, pull requests merged in 2021-12, with the labels that each got.

#18772 [Perf Framework] Unit tests for perf framework
  common/config/rush/pnpm-lock.yaml
  sdk/test-utils/perf/package.json
  sdk/test-utils/perf/runAllTests.sh
  sdk/test-utils/perf/runAllTests.ts
  sdk/test-utils/perf/test/declareTests.ts
  sdk/test-utils/perf/test/index.spec.ts
  sdk/test-utils/perf/test/options.spec.ts
Labels: pillar-performance

#18863 [core-http] Remove the FetchHttpClient
  sdk/core/core-http/package.json
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/fetchHttpClient.browser.ts
  sdk/core/core-http/src/fetchHttpClient.ts
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/defaultHttpClientTests.ts
Labels: Azure.Core

#18819 [Issue 17826] Fix ES Lint errors in common\tools\dev\tool
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/index.ts
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
  common/tools/dev-tool/src/commands/samples/prep.ts
  common/tools/dev-tool/src/commands/samples/publish.ts
  common/tools/dev-tool/src/commands/samples/run.ts
  common/tools/dev-tool/src/commands/samples/tsToJs.ts
  common/tools/dev-tool/src/commands/test-proxy/start.ts
  common/tools/dev-tool/src/commands/test-proxy/waitForProxyEndpoint.ts
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/dev-tool/src/framework/CommandModule.ts
  common/tools/dev-tool/src/templates/sampleReadme.md.ts
  common/tools/dev-tool/src/util/checkWithTimeout.ts
  common/tools/dev-tool/src/util/findMatchingFiles.ts
  common/tools/dev-tool/src/util/sampleConfiguration.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/dev-tool/src/util/testUtils.ts
  common/tools/dev-tool/test/framework.spec.ts
  common/tools/dev-tool/test/samples/skips.spec.ts
Labels: customer-reported, dev-tool, Impact++

#18900 Fix Azure Text Analytics Readme Issue
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#18849 fix integration tests - v3.15.0
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples-dev/ChangeFeed.ts
  sdk/cosmosdb/cosmos/samples-dev/ItemManagement.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
  sdk/cosmosdb/cosmos/writeSDKVersion.js
Labels: Cosmos, auto-merge

#18901 Fix Web Pubsub Express Readme Issue
  sdk/web-pubsub/web-pubsub-express/samples/v1/typescript/README.md
Labels: WebPubSub

#18739 Sync eng/common directory with azure-sdk-tools for PR 2248
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#18856 [core-client] Prepare release for v1.3.3 out of a hotfix branch
  eng/pipelines/templates/steps/use-node-test-version.yml
  sdk/core/core-client-lro-rest/README.md
  sdk/core/core-client-paging-rest/README.md
  sdk/core/core-client-rest/README.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/README.md
  sdk/core/core-client/package.json
  sdk/core/core-client/src/urlHelpers.ts
  sdk/core/core-rest-pipeline/README.md
  sdk/core/core-xml/README.md
Labels: Azure.Core

#18861 [core-lro] prepare release
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#18911 [Stress Tests] error as Error - Fix build failure
  sdk/servicebus/service-bus/test/stress/app/src/serviceBusStressTester.ts
Labels: Service Bus

#18747 Add support for listing system containers and listing blobs with encoded name
  sdk/storage/storage-blob/recordings/browsers/blobserviceclient/recording_listcontainers_including_system_containers.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsbyhierarchy_with_default_parameters.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsbyhierarchy_with_special_chars.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsflat_with_default_parameters.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsflat_with_special_chars.json
  sdk/storage/storage-blob/recordings/node/blobserviceclient/recording_listcontainers_including_system_containers.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsbyhierarchy_with_default_parameters.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsbyhierarchy_with_special_chars.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsflat_with_default_parameters.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsflat_with_special_chars.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
Labels: Storage

#18831 Premium File - Updated for new bandwidth limits
  sdk/storage/storage-file-share/recordings/browsers/fileserviceclient_premium/recording_premium_share_getproperties.json
  sdk/storage/storage-file-share/recordings/node/fileserviceclient_premium/recording_premium_share_getproperties.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
Labels: Storage

#18905 Fix readme issues
  sdk/web-pubsub/web-pubsub/README.md
Labels: auto-merge, WebPubSub

#18909 Sync eng/common directory with azure-sdk-tools for PR 2352
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#18922 fix partitionKeyValueRanges type in SasTokenProperties.ts
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/SasToken/SasTokenProperties.ts
Labels: Cosmos

#18925 [core-client] merging the hotfix branch for v1.3.3
  sdk/core/core-client/CHANGELOG.md
Labels: Azure.Core

#18927 Sync eng/common directory with azure-sdk-tools for PR 2372
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#18926 [core] - Ensure package information is provided for traces
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/instrumenter.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/src/tracingClient.ts
  sdk/core/core-tracing/test/instrumenter.spec.ts
  sdk/core/core-tracing/test/tracingClient.spec.ts
  sdk/core/core-tracing/test/tracingContext.spec.ts
  sdk/instrumentation/instrumentation-opentelemetry/src/instrumenter.ts
  sdk/instrumentation/instrumentation-opentelemetry/src/transformations.ts
  sdk/instrumentation/instrumentation-opentelemetry/test/public/instrumenter.spec.ts
Labels: Azure.Core

#18929 [stress, servicebus] Update dependency version. Remove/rename old deployment files
  sdk/servicebus/service-bus/test/stress/Chart.lock
  sdk/servicebus/service-bus/test/stress/Chart.yaml
  sdk/servicebus/service-bus/test/stress/parameters.json
  sdk/servicebus/service-bus/test/stress/stress-test-resources.bicep
  sdk/servicebus/service-bus/test/stress/templates/testjob.yaml
  sdk/servicebus/service-bus/test/stress/test-resources.json
Labels: Service Bus, Central-EngSys, Stress

#18928 Samples: Adds JSON Patch API to samples
  sdk/cosmosdb/cosmos/samples-dev/Bulk.ts
  sdk/cosmosdb/cosmos/samples-dev/ItemManagement.ts
  sdk/cosmosdb/cosmos/samples/v3/javascript/Bulk.js
  sdk/cosmosdb/cosmos/samples/v3/javascript/ItemManagement.js
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/Bulk.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ItemManagement.ts
Labels: Cosmos

#18917 [storage] Update change logs for STG80 storage features
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
Labels: Storage

#18940 Sync eng/common directory with azure-sdk-tools for PR 2380
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#18932 Remove assert dev dependency from Event Hubs
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
Labels: Event Hubs

#18935 Remove assert dev dependency from Service Bus
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#18937 Remove assert dev dependency from Web-pubsub
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: WebPubSub

#18933 Remove assert dev dependency from Identity
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
Labels: Azure.Identity

#18930 Remove assert dev dependency from App Configuration
  sdk/appconfiguration/app-configuration/package.json
Labels: App Configuration

#18931 Remove assert dev dependency from Communication
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-sms/package.json
Labels: Communication

#18914 [Tables] Call onResponse when handling TalbeAlreadyExists response
  sdk/tables/data-tables/README.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablePolicies.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/src/logger.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/sas/accountSasSignatureValues.ts
  sdk/tables/data-tables/src/sas/generateAccountSas.ts
  sdk/tables/data-tables/src/sas/generateTableSas.ts
  sdk/tables/data-tables/src/sas/sasQueryParameters.ts
  sdk/tables/data-tables/src/sas/tableSasSignatureValues.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/src/tablesNamedCredentialPolicy.ts
  sdk/tables/data-tables/src/tablesSASTokenPolicy.ts
  sdk/tables/data-tables/src/utils/continuationToken.ts
  sdk/tables/data-tables/src/utils/errorHelpers.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/src/utils/isCredential.ts
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/internal/utils.spec.ts
  sdk/tables/data-tables/test/public/accessPolicy.spec.ts
  sdk/tables/data-tables/test/public/createTable.spec.ts
  sdk/tables/data-tables/test/public/specialCharacters.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
Labels: Tables

#18913 [core-client] Aligning the serializer comments based on core-http
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-http/src/serializer.ts
Labels: Azure.Core

#18392 streamanalytics-track1
  sdk/streamanalytics/arm-streamanalytics/README.md
  sdk/streamanalytics/arm-streamanalytics/package.json
  sdk/streamanalytics/arm-streamanalytics/src/models/clustersMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/functionsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/inputsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/mappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/operationsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/outputsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/privateEndpointsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/streamingJobsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/subscriptionsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/transformationsMappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/functions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/inputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/operations.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/outputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/streamingJobs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/subscriptions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/transformations.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClientContext.ts
Labels: Mgmt

#18869 Track2 documentation for ga
  documentation/Changelog-for-next-generation.md
  documentation/MIGRATION-guide-for-next-generation-management-libraries.md
  documentation/next-generation-quickstart.md
Labels: Mgmt

#18899 new-generator-for-resources-track2
  common/config/rush/pnpm-lock.yaml
  sdk/resources/arm-resources/CHANGELOG.md
  sdk/resources/arm-resources/README.md
  sdk/resources/arm-resources/_meta.json
  sdk/resources/arm-resources/api-extractor.json
  sdk/resources/arm-resources/package.json
  sdk/resources/arm-resources/recordings/node/resources_test/recording_resourcegroups_create_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_resourcegroups_delete_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_resourcegroups_get_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_resourcegroups_list_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_resourcegroups_update_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_tagsoperations_create_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_tagsoperations_delete_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_tagsoperations_get_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_tagsoperations_list_test.js
  sdk/resources/arm-resources/recordings/node/resources_test/recording_tagsoperations_update_test.js
  sdk/resources/arm-resources/review/arm-resources.api.md
  sdk/resources/arm-resources/src/coreClientLro.ts
  sdk/resources/arm-resources/src/index.ts
  sdk/resources/arm-resources/src/lro/azureAsyncPolling.ts
  sdk/resources/arm-resources/src/lro/bodyPolling.ts
  sdk/resources/arm-resources/src/lro/index.ts
  sdk/resources/arm-resources/src/lro/locationPolling.ts
  sdk/resources/arm-resources/src/lro/lroEngine.ts
  sdk/resources/arm-resources/src/lro/models.ts
  sdk/resources/arm-resources/src/lro/operation.ts
  sdk/resources/arm-resources/src/lro/passthrough.ts
  sdk/resources/arm-resources/src/lro/requestUtils.ts
  sdk/resources/arm-resources/src/lro/stateMachine.ts
  sdk/resources/arm-resources/src/lroImpl.ts
  sdk/resources/arm-resources/src/models/index.ts
  sdk/resources/arm-resources/src/models/mappers.ts
  sdk/resources/arm-resources/src/operations/deploymentOperations.ts
  sdk/resources/arm-resources/src/operations/deployments.ts
  sdk/resources/arm-resources/src/operations/operations.ts
  sdk/resources/arm-resources/src/operations/providerResourceTypes.ts
  sdk/resources/arm-resources/src/operations/providers.ts
  sdk/resources/arm-resources/src/operations/resourceGroups.ts
  sdk/resources/arm-resources/src/operations/resources.ts
  sdk/resources/arm-resources/src/operations/tagsOperations.ts
  sdk/resources/arm-resources/src/operationsInterfaces/deploymentOperations.ts
  sdk/resources/arm-resources/src/operationsInterfaces/deployments.ts
  sdk/resources/arm-resources/src/operationsInterfaces/operations.ts
  sdk/resources/arm-resources/src/operationsInterfaces/providers.ts
  sdk/resources/arm-resources/src/operationsInterfaces/resourceGroups.ts
  sdk/resources/arm-resources/src/operationsInterfaces/resources.ts
  sdk/resources/arm-resources/src/operationsInterfaces/tagsOperations.ts
  sdk/resources/arm-resources/src/resourceManagementClient.ts
  sdk/resources/arm-resources/src/resourceManagementClientContext.ts
  sdk/resources/arm-resources/test/resources_examples.ts
  sdk/resources/arm-resources/tsconfig.json
Labels: Mgmt

#18947 [KeyVault] - Clarify certificate version properties
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
Labels: KeyVault

#18959 Sync eng/common directory with azure-sdk-tools for PR 2327
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#18977 [core-client] Fix Core client nightly
  sdk/core/core-client/package.json
Labels: Azure.Core

#18811 [Perf Framework] BatchPerfTest & Service Bus Receive Batch perf test
  sdk/servicebus/perf-tests/service-bus/README.md
  sdk/servicebus/perf-tests/service-bus/test/index.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/receiveBatch.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/sbBase.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/sendBatch.spec.ts
  sdk/storage/perf-tests/storage-blob/test/dowloadWithSAS.spec.ts
  sdk/storage/perf-tests/storage-blob/test/download.spec.ts
  sdk/test-utils/perf/CHANGELOG.md
  sdk/test-utils/perf/README.md
  sdk/test-utils/perf/src/batchPerfTest.ts
  sdk/test-utils/perf/src/eventPerfTest.ts
  sdk/test-utils/perf/src/index.ts
  sdk/test-utils/perf/src/options.ts
  sdk/test-utils/perf/src/perfTest.ts
  sdk/test-utils/perf/src/perfTestBase.ts
  sdk/test-utils/perf/src/program.ts
  sdk/test-utils/perf/src/tests.ts
  sdk/test-utils/perf/test/batch/mockReceiverTest.spec.ts
  sdk/test-utils/perf/test/nodeFetch.spec.ts
  sdk/test-utils/perf/test/serviceClientGet.spec.ts
Labels: Service Bus, Storage

#18979 [Identity] Fixing wrong expiration date on the tokenExchangeMsi
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/tokenExchangeMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#18938 [ServiceBus] add `state` property to `ServiceBusReceivedMessage`
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/util/constants.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/utils.spec.ts
  sdk/servicebus/service-bus/test/public/deferredMessage.spec.ts
  sdk/servicebus/service-bus/test/public/sendAndSchedule.spec.ts
Labels: Service Bus, Azure.Core

#18958 Update AzureIdentityExamples.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, auto-merge

#18984 Key Vault Certificates - hello world sample
  sdk/keyvault/keyvault-certificates/samples-dev/helloWorld.ts
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/helloWorld.js
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/helloWorld.ts
Labels: KeyVault

#18988 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
Labels: Mgmt, auto-merge

#18991 feature-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/features/arm-features/CHANGELOG.md
  sdk/features/arm-features/README.md
  sdk/features/arm-features/_meta.json
  sdk/features/arm-features/api-extractor.json
  sdk/features/arm-features/package.json
  sdk/features/arm-features/recordings/node/features_test/recording_features_get_test.js
  sdk/features/arm-features/recordings/node/features_test/recording_features_list_test.js
  sdk/features/arm-features/recordings/node/features_test/recording_features_listall_test.js
  sdk/features/arm-features/review/arm-features.api.md
  sdk/features/arm-features/src/featureClient.ts
  sdk/features/arm-features/src/featureClientContext.ts
  sdk/features/arm-features/src/index.ts
  sdk/features/arm-features/src/models/index.ts
  sdk/features/arm-features/src/models/mappers.ts
  sdk/features/arm-features/src/operations/features.ts
  sdk/features/arm-features/src/operations/subscriptionFeatureRegistrations.ts
  sdk/features/arm-features/src/operationsInterfaces/features.ts
  sdk/features/arm-features/src/operationsInterfaces/subscriptionFeatureRegistrations.ts
  sdk/features/arm-features/test/sampleTest.ts
  sdk/features/arm-features/tsconfig.json
Labels: Mgmt

#18997 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
Labels: Mgmt, auto-merge

#18994 Post release automated changes for features releases
  sdk/features/arm-features/CHANGELOG.md
  sdk/features/arm-features/package.json
Labels: Mgmt, auto-merge

#18993 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
Labels: Mgmt, auto-merge

#18990 Post release automated changes for resources releases
  sdk/resources/arm-resources/CHANGELOG.md
  sdk/resources/arm-resources/package.json
Labels: Mgmt, auto-merge

#18996 locks-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/locks/arm-locks/CHANGELOG.md
  sdk/locks/arm-locks/README.md
  sdk/locks/arm-locks/_meta.json
  sdk/locks/arm-locks/api-extractor.json
  sdk/locks/arm-locks/package.json
  sdk/locks/arm-locks/recordings/node/locks_test/recording_managementlocks_create_test.js
  sdk/locks/arm-locks/recordings/node/locks_test/recording_managementlocks_delete_test.js
  sdk/locks/arm-locks/recordings/node/locks_test/recording_managementlocks_get_test.js
  sdk/locks/arm-locks/recordings/node/locks_test/recording_managementlocks_list_test.js
  sdk/locks/arm-locks/review/arm-locks.api.md
  sdk/locks/arm-locks/src/index.ts
  sdk/locks/arm-locks/src/managementLockClient.ts
  sdk/locks/arm-locks/src/managementLockClientContext.ts
  sdk/locks/arm-locks/src/models/index.ts
  sdk/locks/arm-locks/src/operations/authorizationOperations.ts
  sdk/locks/arm-locks/src/operations/managementLocks.ts
  sdk/locks/arm-locks/src/operationsInterfaces/authorizationOperations.ts
  sdk/locks/arm-locks/src/operationsInterfaces/managementLocks.ts
  sdk/locks/arm-locks/test/locks_examples.ts
  sdk/locks/arm-locks/tsconfig.json
Labels: Mgmt

#18998 managedapplications-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/managedapplications/arm-managedapplications/CHANGELOG.md
  sdk/managedapplications/arm-managedapplications/README.md
  sdk/managedapplications/arm-managedapplications/_meta.json
  sdk/managedapplications/arm-managedapplications/api-extractor.json
  sdk/managedapplications/arm-managedapplications/package.json
  sdk/managedapplications/arm-managedapplications/recordings/node/my_test/recording_sample_test.js
  sdk/managedapplications/arm-managedapplications/review/arm-managedapplications.api.md
  sdk/managedapplications/arm-managedapplications/src/applicationClient.ts
  sdk/managedapplications/arm-managedapplications/src/applicationClientContext.ts
  sdk/managedapplications/arm-managedapplications/src/coreClientLro.ts
  sdk/managedapplications/arm-managedapplications/src/index.ts
  sdk/managedapplications/arm-managedapplications/src/lro/azureAsyncPolling.ts
  sdk/managedapplications/arm-managedapplications/src/lro/bodyPolling.ts
  sdk/managedapplications/arm-managedapplications/src/lro/index.ts
  sdk/managedapplications/arm-managedapplications/src/lro/locationPolling.ts
  sdk/managedapplications/arm-managedapplications/src/lro/lroEngine.ts
  sdk/managedapplications/arm-managedapplications/src/lro/models.ts
  sdk/managedapplications/arm-managedapplications/src/lro/operation.ts
  sdk/managedapplications/arm-managedapplications/src/lro/passthrough.ts
  sdk/managedapplications/arm-managedapplications/src/lro/requestUtils.ts
  sdk/managedapplications/arm-managedapplications/src/lro/stateMachine.ts
  sdk/managedapplications/arm-managedapplications/src/lroImpl.ts
  sdk/managedapplications/arm-managedapplications/src/models/index.ts
  sdk/managedapplications/arm-managedapplications/src/models/mappers.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operations/applications.ts
  sdk/managedapplications/arm-managedapplications/src/operationsInterfaces/applicationDefinitions.ts
  sdk/managedapplications/arm-managedapplications/src/operationsInterfaces/applications.ts
  sdk/managedapplications/arm-managedapplications/test/sampleTest.ts
  sdk/managedapplications/arm-managedapplications/tsconfig.json
Labels: Mgmt

#18995 links-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/links/arm-links/CHANGELOG.md
  sdk/links/arm-links/README.md
  sdk/links/arm-links/_meta.json
  sdk/links/arm-links/api-extractor.json
  sdk/links/arm-links/package.json
  sdk/links/arm-links/recordings/node/links_test/recording_resourcelinks_create_test.js
  sdk/links/arm-links/recordings/node/links_test/recording_resourcelinks_delete_test.js
  sdk/links/arm-links/recordings/node/links_test/recording_resourcelinks_get_test.js
  sdk/links/arm-links/recordings/node/links_test/recording_resourcelinks_list_test.js
  sdk/links/arm-links/review/arm-links.api.md
  sdk/links/arm-links/src/index.ts
  sdk/links/arm-links/src/managementLinkClient.ts
  sdk/links/arm-links/src/managementLinkClientContext.ts
  sdk/links/arm-links/src/models/index.ts
  sdk/links/arm-links/src/operations/operations.ts
  sdk/links/arm-links/src/operations/resourceLinks.ts
  sdk/links/arm-links/src/operationsInterfaces/operations.ts
  sdk/links/arm-links/src/operationsInterfaces/resourceLinks.ts
  sdk/links/arm-links/test/links_examples.ts
  sdk/links/arm-links/tsconfig.json
Labels: Mgmt

#19003 Post release automated changes for managedapplications releases
  sdk/managedapplications/arm-managedapplications/CHANGELOG.md
  sdk/managedapplications/arm-managedapplications/package.json
Labels: Mgmt, auto-merge

#19002 Post release automated changes for policy releases
  sdk/policy/arm-policy/CHANGELOG.md
  sdk/policy/arm-policy/package.json
Labels: Mgmt, auto-merge

#19001 Post release automated changes for locks releases
  sdk/locks/arm-locks/CHANGELOG.md
  sdk/locks/arm-locks/package.json
Labels: Mgmt, auto-merge

#19000 Post release automated changes for links releases
  sdk/links/arm-links/CHANGELOG.md
  sdk/links/arm-links/package.json
Labels: Mgmt, auto-merge

#18919 Post release automated changes for devtestlabs releases
  sdk/devtestlabs/arm-devtestlabs/CHANGELOG.md
  sdk/devtestlabs/arm-devtestlabs/package.json
Labels: Mgmt, auto-merge

#18916 Post release automated changes for sqlvirtualmachine releases
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/CHANGELOG.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
Labels: Mgmt, auto-merge

#18986 Sync eng/common directory with azure-sdk-tools for PR 2381
  eng/common/pipelines/templates/steps/write-filesystemmetrics.yml
  eng/common/scripts/Write-FileSystemMetrics.ps1
Labels: EngSys, Central-EngSys

#18960 Sync eng/common directory with azure-sdk-tools for PR 2363
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#18816 [Mixed Reality Auth] Fix Issue 17941 linter errors
  sdk/mixedreality/mixed-reality-authentication/package.json
  sdk/mixedreality/mixed-reality-authentication/src/logger.ts
  sdk/mixedreality/mixed-reality-authentication/src/mixedRealityStsClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/auth.ts
  sdk/mixedreality/mixed-reality-authentication/src/util/authenticationEndpoint.ts
  sdk/mixedreality/mixed-reality-authentication/src/util/base64.ts
  sdk/mixedreality/mixed-reality-authentication/src/util/jwt.ts
  sdk/mixedreality/mixed-reality-authentication/test/utils/recordedClient.ts
  sdk/mixedreality/mixed-reality-authentication/test/utils/tokenCredentialHelper.ts
Labels: customer-reported, Client, Mixed Reality, Impact++

#19025 Sync eng/common directory with azure-sdk-tools for PR 2393
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#19015 Minor corrections in metricadvisor readme.
  sdk/metricsadvisor/ai-metrics-advisor/README.md
Labels: Cognitive - Metrics Advisor, Docs Bug Bash

#19039 CODEOWNERS: Updating Cosmos Contacts
  .github/CODEOWNERS
Labels: EngSys, Client

#19034 [sort-imports] update ```core-amqp``` with respect to ```sort-imports``` rule
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/auth/tokenProvider.ts
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/cbs.spec.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/core/core-amqp/test/errors.spec.ts
  sdk/core/core-amqp/test/lock.spec.ts
  sdk/core/core-amqp/test/message.spec.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
  sdk/core/core-amqp/test/retry.spec.ts
  sdk/core/core-amqp/test/tokenProvider.spec.ts
  sdk/core/core-amqp/test/utils/createConnectionStub.ts
Labels: customer-reported, Azure.Core, Impact++

#19038 [sort-imports] update ```core-lro``` with respect to ```sort-imports``` rule
  sdk/core/core-lro/src/lroEngine/azureAsyncPolling.ts
  sdk/core/core-lro/src/lroEngine/bodyPolling.ts
  sdk/core/core-lro/src/lroEngine/lroEngine.ts
  sdk/core/core-lro/src/lroEngine/operation.ts
  sdk/core/core-lro/src/lroEngine/stateMachine.ts
  sdk/core/core-lro/test/abort.spec.ts
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/testClient.spec.ts
  sdk/core/core-lro/test/utils/coreRestPipelineLro.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/router/paramRoutes.ts
  sdk/core/core-lro/test/utils/router/routesProcesses.ts
  sdk/core/core-lro/test/utils/router/routesTable.ts
  sdk/core/core-lro/test/utils/router/utils.ts
  sdk/core/core-lro/test/utils/testClient.ts
  sdk/core/core-lro/test/utils/testNonCancellablePoller.ts
  sdk/core/core-lro/test/utils/testOperation.ts
  sdk/core/core-lro/test/utils/testPoller.ts
  sdk/core/core-lro/test/utils/testServiceClient.ts
  sdk/core/core-lro/test/utils/testTokenCredential.ts
  sdk/core/core-lro/test/utils/testWebResource.ts
Labels: customer-reported, Azure.Core, Impact++

#19036 [sort-imports] update ```core-crypto``` with respect to ```sort-imports``` rule
  sdk/core/core-crypto/test/internal/browser/base64.spec.ts
  sdk/core/core-crypto/test/public/browser/webworker-runner.spec.ts
  sdk/core/core-crypto/test/public/sha256.spec.ts
Labels: customer-reported, Azure.Core, Impact++

#19035 [sort-imports] update ```core-auth``` with respect to ```sort-imports``` rule
  sdk/core/core-auth/test/index.spec.ts
Labels: customer-reported, Azure.Core, Impact++

#19033 [sort-imports] update ```core-tracing``` with respect to ```sort-imports``` rule
  sdk/core/core-tracing/src/createSpan.ts
  sdk/core/core-tracing/test/createSpan.spec.ts
  sdk/core/core-tracing/test/interfaces.spec.ts
  sdk/core/core-tracing/test/traceParentHeader.spec.ts
  sdk/core/core-tracing/test/util/testSpan.ts
  sdk/core/core-tracing/test/util/testTracer.ts
Labels: customer-reported, Azure.Core, Impact++

#19040 Sync eng/common directory with azure-sdk-tools for PR 2402
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#18719 Fix a typo in next-generation-quickstart.md
  documentation/next-generation-quickstart.md
Labels: customer-reported

#19046 [sort-imports] update ```core-paging``` with respect to ```sort-imports``` rule
  sdk/core/core-paging/src/getPagedAsyncIterator.ts
Labels: customer-reported, Azure.Core, Impact++

#19047 [sort-imports] update ```core-util``` with respect to ```sort-imports``` rule
  sdk/core/core-util/test/browser/isNode.spec.ts
  sdk/core/core-util/test/delay.spec.ts
  sdk/core/core-util/test/node/isNode.spec.ts
Labels: customer-reported, Azure.Core, Impact++

#19044 Sync eng/common directory with azure-sdk-tools for PR 2408
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#18824 new-generator-for-containerservice-track2
  common/config/rush/pnpm-lock.yaml
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/README.md
  sdk/containerservice/arm-containerservice/_meta.json
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/recordings/node/containerservice_test/recording_managedclusters_create_test.js
  sdk/containerservice/arm-containerservice/recordings/node/containerservice_test/recording_managedclusters_delete_test.js
  sdk/containerservice/arm-containerservice/recordings/node/containerservice_test/recording_managedclusters_get_test.js
  sdk/containerservice/arm-containerservice/recordings/node/containerservice_test/recording_managedclusters_getupgradeprofile_test.js
  sdk/containerservice/arm-containerservice/recordings/node/containerservice_test/recording_managedclusters_list_test.js
  sdk/containerservice/arm-containerservice/recordings/node/containerservice_test/recording_managedclusters_update_test.js
  sdk/containerservice/arm-containerservice/review/arm-containerservice.api.md
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
  sdk/containerservice/arm-containerservice/src/containerServiceClientContext.ts
  sdk/containerservice/arm-containerservice/src/index.ts
  sdk/containerservice/arm-containerservice/src/models/index.ts
  sdk/containerservice/arm-containerservice/src/models/mappers.ts
  sdk/containerservice/arm-containerservice/src/models/parameters.ts
  sdk/containerservice/arm-containerservice/src/operations/agentPools.ts
  sdk/containerservice/arm-containerservice/src/operations/maintenanceConfigurations.ts
  sdk/containerservice/arm-containerservice/src/operations/managedClusters.ts
  sdk/containerservice/arm-containerservice/src/operations/operations.ts
  sdk/containerservice/arm-containerservice/src/operations/privateEndpointConnections.ts
  sdk/containerservice/arm-containerservice/src/operations/privateLinkResources.ts
  sdk/containerservice/arm-containerservice/src/operations/resolvePrivateLinkServiceId.ts
  sdk/containerservice/arm-containerservice/src/operations/snapshots.ts
Labels: Mgmt

#19058 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
Labels: Mgmt, auto-merge

#19057 Post release automated changes for loadtestservice releases
  sdk/loadtestservice/arm-loadtestservice/CHANGELOG.md
  sdk/loadtestservice/arm-loadtestservice/package.json
Labels: auto-merge

#19012 [rollup] - Fix bug in circular dependency warning suppression
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/anomalydetector/ai-anomaly-detector/rollup.base.config.js
  sdk/anomalydetector/ai-anomaly-detector/rollup.config.js
  sdk/anomalydetector/ai-anomaly-detector/rollup.test.config.js
  sdk/anomalydetector/ai-anomaly-detector/test/utils/recordedClients.ts
  sdk/appconfiguration/app-configuration/rollup.base.config.js
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
  sdk/communication/communication-chat/rollup.base.config.js
  sdk/communication/communication-common/rollup.base.config.js
  sdk/communication/communication-identity/rollup.base.config.js
  sdk/communication/communication-network-traversal/rollup.base.config.js
  sdk/communication/communication-phone-numbers/rollup.base.config.js
  sdk/communication/communication-short-codes/rollup.base.config.js
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/rollup.base.config.js
  sdk/digitaltwins/digital-twins-core/rollup.config.js
  sdk/digitaltwins/digital-twins-core/rollup.test.config.js
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/rollup.base.config.js
  sdk/eventgrid/eventgrid/rollup.config.js
  sdk/eventgrid/eventgrid/rollup.test.config.js
  sdk/eventgrid/eventgrid/test/public/utils/recordedClient.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/rollup.base.config.js
  sdk/eventhub/event-hubs/rollup.config.js
  sdk/eventhub/event-hubs/rollup.test.config.js
  sdk/eventhub/event-processor-host/package.json
  sdk/eventhub/event-processor-host/rollup.base.config.js
  sdk/eventhub/event-processor-host/rollup.config.js
  sdk/eventhub/event-processor-host/rollup.test.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.config.js
  sdk/eventhub/eventhubs-checkpointstore-blob/rollup.test.config.js
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/rollup.base.config.js
  sdk/eventhub/eventhubs-checkpointstore-table/rollup.config.js
  sdk/eventhub/eventhubs-checkpointstore-table/rollup.test.config.js
  sdk/quantum/quantum-jobs/package.json
  sdk/quantum/quantum-jobs/rollup.base.config.js
  sdk/quantum/quantum-jobs/rollup.config.js
  sdk/quantum/quantum-jobs/rollup.test.config.js
  sdk/search/search-documents/package.json
  sdk/search/search-documents/rollup.base.config.js
  sdk/search/search-documents/rollup.config.js
  sdk/search/search-documents/rollup.test.config.js
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.base.config.js
  sdk/servicebus/service-bus/rollup.config.js
  sdk/servicebus/service-bus/rollup.test.config.js
Labels: Service Bus, Event Hubs, Event Grid, Search, App Configuration, Digital Twins, dev-tool, Communication

#19079 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples-dev/SasTokenAuth.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/SasTokenAuth.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/tsconfig.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos, auto-merge

#19082 Sync eng/common directory with azure-sdk-tools for PR 2412
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#19055 [sort-imports] update ```data-tables``` with respect to ```sort-imports``` rule
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablePolicies.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/src/sas/accountSasSignatureValues.ts
  sdk/tables/data-tables/src/sas/generateAccountSas.ts
  sdk/tables/data-tables/src/sas/generateTableSas.ts
  sdk/tables/data-tables/src/sas/sasQueryParameters.ts
  sdk/tables/data-tables/src/sas/tableSasSignatureValues.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/src/tablesNamedCredentialPolicy.ts
  sdk/tables/data-tables/src/tablesSASTokenPolicy.ts
  sdk/tables/data-tables/src/utils/accountConnectionString.browser.ts
  sdk/tables/data-tables/src/utils/accountConnectionString.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/src/utils/errorHelpers.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/test/internal/odata.spec.ts
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/internal/tableTransaction.spec.ts
  sdk/tables/data-tables/test/internal/utils.spec.ts
  sdk/tables/data-tables/test/public/accessPolicy.spec.ts
  sdk/tables/data-tables/test/public/createTable.spec.ts
  sdk/tables/data-tables/test/public/specialCharacters.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
Labels: customer-reported, Tables, Impact++

#19087 [Text Analytics] Add a sample for model versions
  sdk/textanalytics/ai-text-analytics/samples-dev/modelVersion.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/modelVersion.js
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/modelVersion.ts
Labels: Cognitive - Text Analytics

#19088 Sync eng/common directory with azure-sdk-tools for PR 2415
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#19093 Sync eng/common directory with azure-sdk-tools for PR 2417
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#18832 new-generator-for-eventhub-track2
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/arm-eventhub/CHANGELOG.md
  sdk/eventhub/arm-eventhub/README.md
  sdk/eventhub/arm-eventhub/_meta.json
  sdk/eventhub/arm-eventhub/package.json
  sdk/eventhub/arm-eventhub/recordings/node/eventhub_test/recording_eventhubs_create_test.js
  sdk/eventhub/arm-eventhub/recordings/node/eventhub_test/recording_eventhubs_delete_test.js
  sdk/eventhub/arm-eventhub/recordings/node/eventhub_test/recording_eventhubs_get_test.js
  sdk/eventhub/arm-eventhub/recordings/node/eventhub_test/recording_eventhubs_listbynamespace_test.js
  sdk/eventhub/arm-eventhub/recordings/node/eventhub_test/recording_namespaces_create_test.js
  sdk/eventhub/arm-eventhub/recordings/node/eventhub_test/recording_namespaces_delete_test.js
  sdk/eventhub/arm-eventhub/recordings/node/my_test/recording_sample_test.js
  sdk/eventhub/arm-eventhub/review/arm-eventhub.api.md
  sdk/eventhub/arm-eventhub/src/eventHubManagementClient.ts
  sdk/eventhub/arm-eventhub/src/eventHubManagementClientContext.ts
  sdk/eventhub/arm-eventhub/src/index.ts
  sdk/eventhub/arm-eventhub/src/models/index.ts
  sdk/eventhub/arm-eventhub/src/models/mappers.ts
  sdk/eventhub/arm-eventhub/src/models/parameters.ts
  sdk/eventhub/arm-eventhub/src/operations/clusters.ts
  sdk/eventhub/arm-eventhub/src/operations/configuration.ts
  sdk/eventhub/arm-eventhub/src/operations/consumerGroups.ts
  sdk/eventhub/arm-eventhub/src/operations/disasterRecoveryConfigs.ts
  sdk/eventhub/arm-eventhub/src/operations/eventHubs.ts
  sdk/eventhub/arm-eventhub/src/operations/index.ts
  sdk/eventhub/arm-eventhub/src/operations/namespaces.ts
  sdk/eventhub/arm-eventhub/src/operations/operations.ts
  sdk/eventhub/arm-eventhub/src/operations/privateEndpointConnections.ts
  sdk/eventhub/arm-eventhub/src/operations/privateLinkResources.ts
  sdk/eventhub/arm-eventhub/src/operations/schemaRegistry.ts
  sdk/eventhub/arm-eventhub/src/operationsInterfaces/index.ts
  sdk/eventhub/arm-eventhub/src/operationsInterfaces/namespaces.ts
  sdk/eventhub/arm-eventhub/src/operationsInterfaces/schemaRegistry.ts
Labels: Mgmt, Event Hubs

#18833 new-generator-for-eventgrid-track2
  common/config/rush/pnpm-lock.yaml
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/README.md
  sdk/eventgrid/arm-eventgrid/_meta.json
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_create_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_delete_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_get_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_listbyresourcegroup_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_update_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_topics_create_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_topics_delete_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_topics_listbyresourcegroup_test.js
  sdk/eventgrid/arm-eventgrid/review/arm-eventgrid.api.md
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClientContext.ts
  sdk/eventgrid/arm-eventgrid/src/index.ts
  sdk/eventgrid/arm-eventgrid/src/models/index.ts
  sdk/eventgrid/arm-eventgrid/src/models/mappers.ts
  sdk/eventgrid/arm-eventgrid/src/operations/domainTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operations/domains.ts
  sdk/eventgrid/arm-eventgrid/src/operations/eventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operations/extensionTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operations/operations.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateEndpointConnections.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateLinkResources.ts
  sdk/eventgrid/arm-eventgrid/src/operations/systemTopicEventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operations/systemTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operations/topicTypes.ts
  sdk/eventgrid/arm-eventgrid/src/operations/topics.ts
Labels: Mgmt, Event Grid

#19081 Avoid pointing to docs that are misleading about API deprecation
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
Labels: Service Bus

#19123 redis-track2-GA
  common/config/rush/pnpm-lock.yaml
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/LICENSE.txt
  sdk/redis/arm-rediscache/README.md
  sdk/redis/arm-rediscache/_meta.json
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_patchschedules_create_for_redis_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_patchschedules_delete_for_redis_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_patchschedules_listbyredisresource_for_redis_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_create_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_delete_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_get_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_listbyresourcegroup_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_update_test.js
  sdk/redis/arm-rediscache/review/arm-rediscache.api.md
  sdk/redis/arm-rediscache/src/index.ts
  sdk/redis/arm-rediscache/src/models/index.ts
  sdk/redis/arm-rediscache/src/models/mappers.ts
  sdk/redis/arm-rediscache/src/operations/firewallRules.ts
  sdk/redis/arm-rediscache/src/operations/linkedServer.ts
  sdk/redis/arm-rediscache/src/operations/operations.ts
  sdk/redis/arm-rediscache/src/operations/patchSchedules.ts
  sdk/redis/arm-rediscache/src/operations/privateEndpointConnections.ts
  sdk/redis/arm-rediscache/src/operations/privateLinkResources.ts
  sdk/redis/arm-rediscache/src/operations/redis.ts
  sdk/redis/arm-rediscache/src/redisManagementClient.ts
  sdk/redis/arm-rediscache/src/redisManagementClientContext.ts
Labels: Mgmt

#19118 Post release automated changes for eventhub releases
  sdk/eventhub/arm-eventhub/CHANGELOG.md
  sdk/eventhub/arm-eventhub/package.json
Labels: Mgmt, Event Hubs, auto-merge

#19097 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
Labels: Mgmt, Event Grid, auto-merge

#19124 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
Labels: Mgmt, auto-merge

#19127 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
Labels: Mgmt, Cosmos, auto-merge

#18692 [ServiceBus] Add optional boolean `skipParsingBodyAsJson` option
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/node/samples.spec.ts
  sdk/servicebus/service-bus/test/internal/retries.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/amqpUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/dataTransformer.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receivedMessageProps.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusReceiverUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/unittestUtils.ts
Labels: Service Bus

#19135 [sort-imports] update ```logger``` with respect to ```sort-imports``` rule
  sdk/core/logger/src/log.ts
  sdk/core/logger/test/debug.spec.ts
Labels: customer-reported, Azure.Core, Impact++

#19041 [Tables] Honor expiresOn and permissions optionality
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/sas/generateTableSas.ts
  sdk/tables/data-tables/src/sas/tableSasSignatureValues.ts
  sdk/tables/data-tables/test/internal/browser/generateSas.browser.spec.ts
  sdk/tables/data-tables/test/internal/node/generateSas.spec.ts
Labels: Tables

#19137 [sort-imports] update ```mixed-reality-authentication``` with respect to ```sort-imports``` rule
  sdk/mixedreality/mixed-reality-authentication/src/mixedRealityStsClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/auth.ts
  sdk/mixedreality/mixed-reality-authentication/test/mixedRealityStsClient.spec.ts
  sdk/mixedreality/mixed-reality-authentication/test/utils/recordedClient.ts
Labels: customer-reported, Mixed Reality, Impact++

#19128 [sort-imports] update ```keyvault-admin``` with respect to ```sort-imports``` rule
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/challengeAuthenticationCallbacks.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/keyVaultAdminPoller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/poller.ts
  sdk/keyvault/keyvault-admin/src/mappings.ts
  sdk/keyvault/keyvault-admin/src/tracingHelpers.ts
Labels: customer-reported, KeyVault, Impact++

#19091 [KeyVault] - Use shared rollup config
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/rollup.base.config.js
  sdk/keyvault/keyvault-admin/rollup.config.js
  sdk/keyvault/keyvault-admin/rollup.test.config.js
  sdk/keyvault/keyvault-admin/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/rollup.base.config.js
  sdk/keyvault/keyvault-certificates/rollup.config.js
  sdk/keyvault/keyvault-certificates/rollup.test.config.js
  sdk/keyvault/keyvault-certificates/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/list.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.create.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.operation.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-certificates/test/utils/utils.common.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/rollup.base.config.js
  sdk/keyvault/keyvault-keys/rollup.config.js
  sdk/keyvault/keyvault-keys/rollup.test.config.js
  sdk/keyvault/keyvault-keys/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-keys/test/public/import.spec.ts
  sdk/keyvault/keyvault-keys/test/public/list.spec.ts
  sdk/keyvault/keyvault-keys/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-keys/test/public/lro.recoverDelete.spec.ts
  sdk/keyvault/keyvault-keys/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-keys/test/utils/utils.common.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/rollup.base.config.js
  sdk/keyvault/keyvault-secrets/rollup.config.js
  sdk/keyvault/keyvault-secrets/rollup.test.config.js
  sdk/keyvault/keyvault-secrets/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/list.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-secrets/test/utils/utils.common.ts
  sdk/schemaregistry/schema-registry-avro/rollup.patched.config.js
Labels: KeyVault, dev-tool

#19212 [sort-imports] update ```abort-controller``` with respect to ```sort-imports``` rule
  sdk/core/abort-controller/src/AbortController.ts
  sdk/core/abort-controller/test/aborter.spec.ts
Labels: customer-reported, Azure.Core, Impact++

#18509 [credscan] fix warnings by using place holder
  eng/CredScanSuppression.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_gets_a_token_in_a_single_request.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_creates_a_user_and_token.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_deletes_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_multiple_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_gets_a_token_for_a_user_single_scope.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad/recording_successfully_revokes_tokens_issued_for_a_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_delete_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_for_an_invalid_user.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_issue_a_token_without_any_scopes.json
  sdk/communication/communication-identity/recordings/browsers/communicationidentityclient_playbacklive_aad_error_cases_/recording_throws_an_error_when_attempting_to_revoke_a_token_from_an_invalid_user.json
  sdk/communication/communication-identity/recordings/node/get_token_for_teams_user_playbacklive/recording_successfully_exchanges_a_teams_user_aad_token_for_a_communication_access_token.js
  sdk/communication/communication-identity/recordings/node/get_token_for_teams_user_playbacklive_aad/recording_successfully_exchanges_a_teams_user_aad_token_for_a_communication_access_token.js
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_identity_and_routetype_any.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_identity_routetype_nearest.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_user_identity.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_without_providing_a_user_identity.json
  sdk/compute/arm-compute/recordings/node/compute_test/recording_virtualmachines_create_test.js
  sdk/compute/arm-compute/test/compute_examples.ts
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_create_test.js
Labels: Mgmt, Communication

#19247 Update node-abort-controller version
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Labels: Cosmos

#18305 [storage] Add migration guide for storage packages
  sdk/storage/storage-blob/MigrationGuide.md
  sdk/storage/storage-file-share/MigrationGuide.md
  sdk/storage/storage-queue/MigrationGuide.md
Labels: Storage

#19244 [service-bus / eventhubs] - Fix browser tests
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/rollup.test.config.js
  sdk/eventhub/event-hubs/test/internal/dataTransformer.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/mapPartitionKeyToId.spec.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.test.config.js
  sdk/servicebus/service-bus/test/internal/unit/dataTransformer.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSender.spec.ts
Labels: Service Bus

#18838 new-generator-for-recoveryservices-track2
  common/config/rush/pnpm-lock.yaml
  sdk/recoveryservices/arm-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/arm-recoveryservices/README.md
  sdk/recoveryservices/arm-recoveryservices/_meta.json
  sdk/recoveryservices/arm-recoveryservices/package.json
  sdk/recoveryservices/arm-recoveryservices/recordings/node/recoveryservices_test/recording_vaultextendedinfo_create_test.js
  sdk/recoveryservices/arm-recoveryservices/recordings/node/recoveryservices_test/recording_vaultextendedinfo_get_test.js
  sdk/recoveryservices/arm-recoveryservices/recordings/node/recoveryservices_test/recording_vaults_create_test.js
  sdk/recoveryservices/arm-recoveryservices/recordings/node/recoveryservices_test/recording_vaults_delete_test.js
  sdk/recoveryservices/arm-recoveryservices/recordings/node/recoveryservices_test/recording_vaults_get_test.js
  sdk/recoveryservices/arm-recoveryservices/recordings/node/recoveryservices_test/recording_vaults_list_test.js
  sdk/recoveryservices/arm-recoveryservices/review/arm-recoveryservices.api.md
  sdk/recoveryservices/arm-recoveryservices/src/index.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/index.ts
  sdk/recoveryservices/arm-recoveryservices/src/models/mappers.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/operations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/privateLinkResourcesOperations.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/recoveryServices.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/registeredIdentities.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/replicationUsages.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/usages.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaultCertificates.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaultExtendedInfo.ts
  sdk/recoveryservices/arm-recoveryservices/src/operations/vaults.ts
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClient.ts
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClientContext.ts
Labels: Mgmt

#19133 streamanalytics-track2
  common/config/rush/pnpm-lock.yaml
  sdk/streamanalytics/arm-streamanalytics/CHANGELOG.md
  sdk/streamanalytics/arm-streamanalytics/README.md
  sdk/streamanalytics/arm-streamanalytics/_meta.json
  sdk/streamanalytics/arm-streamanalytics/package.json
  sdk/streamanalytics/arm-streamanalytics/review/arm-streamanalytics.api.md
  sdk/streamanalytics/arm-streamanalytics/src/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/mappers.ts
  sdk/streamanalytics/arm-streamanalytics/src/models/parameters.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/clusters.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/functions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/inputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/operations.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/outputs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/privateEndpoints.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/streamingJobs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/subscriptions.ts
  sdk/streamanalytics/arm-streamanalytics/src/operations/transformations.ts
  sdk/streamanalytics/arm-streamanalytics/src/operationsInterfaces/index.ts
  sdk/streamanalytics/arm-streamanalytics/src/operationsInterfaces/streamingJobs.ts
  sdk/streamanalytics/arm-streamanalytics/src/operationsInterfaces/subscriptions.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClient.ts
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClientContext.ts
Labels: Mgmt

#19253 Post release automated changes for streamanalytics releases
  sdk/streamanalytics/arm-streamanalytics/CHANGELOG.md
  sdk/streamanalytics/arm-streamanalytics/package.json
Labels: Mgmt, auto-merge

#19255 mediaservice-tack2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/README.md
  sdk/mediaservices/arm-mediaservices/_meta.json
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/recordings/node/mediaservices_test/recording_mediaservices_create_test.js
  sdk/mediaservices/arm-mediaservices/recordings/node/mediaservices_test/recording_mediaservices_delete_test.js
  sdk/mediaservices/arm-mediaservices/recordings/node/mediaservices_test/recording_mediaservices_get_test.js
  sdk/mediaservices/arm-mediaservices/recordings/node/mediaservices_test/recording_mediaservices_list_test.js
  sdk/mediaservices/arm-mediaservices/review/arm-mediaservices.api.md
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
  sdk/mediaservices/arm-mediaservices/src/azureMediaServicesContext.ts
  sdk/mediaservices/arm-mediaservices/src/index.ts
  sdk/mediaservices/arm-mediaservices/src/models/index.ts
  sdk/mediaservices/arm-mediaservices/src/models/mappers.ts
  sdk/mediaservices/arm-mediaservices/src/operations/accountFilters.ts
  sdk/mediaservices/arm-mediaservices/src/operations/assetFilters.ts
  sdk/mediaservices/arm-mediaservices/src/operations/assets.ts
  sdk/mediaservices/arm-mediaservices/src/operations/contentKeyPolicies.ts
  sdk/mediaservices/arm-mediaservices/src/operations/jobs.ts
  sdk/mediaservices/arm-mediaservices/src/operations/liveEvents.ts
  sdk/mediaservices/arm-mediaservices/src/operations/liveOutputs.ts
  sdk/mediaservices/arm-mediaservices/src/operations/locations.ts
  sdk/mediaservices/arm-mediaservices/src/operations/mediaservices.ts
  sdk/mediaservices/arm-mediaservices/src/operations/operations.ts
  sdk/mediaservices/arm-mediaservices/src/operations/privateEndpointConnections.ts
  sdk/mediaservices/arm-mediaservices/src/operations/privateLinkResources.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingEndpoints.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingLocators.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingPolicies.ts
  sdk/mediaservices/arm-mediaservices/src/operations/transforms.ts
  sdk/mediaservices/arm-mediaservices/test/mediaservice_examples.ts
Labels: Mgmt

#19256 Post release automated changes for mediaservices releases
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/package.json
Labels: Mgmt, auto-merge

#18839 new-generator-for-appplatform-track2
  common/config/rush/pnpm-lock.yaml
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/_meta.json
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_create_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_delete_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_get_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_list_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_create_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_delete_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_get_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_list_test.js
  sdk/appplatform/arm-appplatform/review/arm-appplatform.api.md
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClientContext.ts
  sdk/appplatform/arm-appplatform/src/index.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/bindings.ts
  sdk/appplatform/arm-appplatform/src/operations/certificates.ts
  sdk/appplatform/arm-appplatform/src/operations/configServers.ts
  sdk/appplatform/arm-appplatform/src/operations/customDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/monitoringSettings.ts
  sdk/appplatform/arm-appplatform/src/operations/operations.ts
  sdk/appplatform/arm-appplatform/src/operations/runtimeVersions.ts
  sdk/appplatform/arm-appplatform/src/operations/services.ts
  sdk/appplatform/arm-appplatform/src/operations/skus.ts
  sdk/appplatform/arm-appplatform/src/operations/storages.ts
Labels: Mgmt

#19259 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
Labels: Mgmt, auto-merge

#19260 Post release automated changes for apimanagement releases
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
Labels: Mgmt, auto-merge

#19261 web-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/README.md
  sdk/appservice/arm-appservice/_meta.json
  sdk/appservice/arm-appservice/api-extractor.json
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_create_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_delete_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_get_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_list_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_sample_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_create_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_delete_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_get_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_list_test.js
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_update_test.js
  sdk/appservice/arm-appservice/review/arm-appservice.api.md
  sdk/appservice/arm-appservice/src/index.ts
  sdk/appservice/arm-appservice/src/models/index.ts
  sdk/appservice/arm-appservice/src/models/mappers.ts
  sdk/appservice/arm-appservice/src/models/parameters.ts
  sdk/appservice/arm-appservice/src/operations/appServiceCertificateOrders.ts
  sdk/appservice/arm-appservice/src/operations/appServiceEnvironments.ts
  sdk/appservice/arm-appservice/src/operations/appServicePlans.ts
  sdk/appservice/arm-appservice/src/operations/certificateOrdersDiagnostics.ts
  sdk/appservice/arm-appservice/src/operations/certificateRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/certificates.ts
  sdk/appservice/arm-appservice/src/operations/deletedWebApps.ts
  sdk/appservice/arm-appservice/src/operations/diagnostics.ts
  sdk/appservice/arm-appservice/src/operations/domainRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operations/domains.ts
  sdk/appservice/arm-appservice/src/operations/global.ts
  sdk/appservice/arm-appservice/src/operations/kubeEnvironments.ts
  sdk/appservice/arm-appservice/src/operations/provider.ts
  sdk/appservice/arm-appservice/src/operations/recommendations.ts
  sdk/appservice/arm-appservice/src/operations/resourceHealthMetadataOperations.ts
  sdk/appservice/arm-appservice/src/operations/staticSites.ts
  sdk/appservice/arm-appservice/src/operations/topLevelDomains.ts
  sdk/appservice/arm-appservice/src/operations/webApps.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/appServiceCertificateOrders.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/appServiceEnvironments.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/appServicePlans.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/certificateOrdersDiagnostics.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/certificateRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/certificates.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/deletedWebApps.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/diagnostics.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/domainRegistrationProvider.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/domains.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/kubeEnvironments.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/provider.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/recommendations.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/resourceHealthMetadataOperations.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/staticSites.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/topLevelDomains.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/webApps.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClientContext.ts
  sdk/appservice/arm-appservice/test/web_examples.ts
  sdk/appservice/arm-appservice/tsconfig.json
Labels: Mgmt

#19076 Automate filing issues for any external package dependency
  eng/pipelines/weekly_automation.yml
  eng/scripts/check-external-dependency.ps1
Labels: Central-EngSys

#19250 Remove event-processor-host from rush.json
  common/config/rush/pnpm-lock.yaml
  rush.json
Labels: Event Hubs

#19296 Updating main based on master
  sdk/core/abort-controller/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, Azure.Core

#19084 Remove canary from default weekly live testing clouds
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Service Bus, Central-EngSys

#19085 [Identity] Migrated to samples v2
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/README.md
  sdk/identity/identity/package.json
  sdk/identity/identity/sample.env
  sdk/identity/identity/samples-dev/clientSecretCredential.ts
  sdk/identity/identity/samples-dev/defaultAzureCredential.ts
  sdk/identity/identity/samples-dev/environmentCredential.ts
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/javascript/README.md
  sdk/identity/identity/samples/javascript/package.json
  sdk/identity/identity/samples/tsconfig.json
  sdk/identity/identity/samples/typescript/README.md
  sdk/identity/identity/samples/typescript/package.json
  sdk/identity/identity/samples/v2/javascript/README.md
  sdk/identity/identity/samples/v2/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/v2/javascript/defaultAzureCredential.js
  sdk/identity/identity/samples/v2/javascript/environmentCredential.js
  sdk/identity/identity/samples/v2/javascript/package.json
  sdk/identity/identity/samples/v2/javascript/sample.env
  sdk/identity/identity/samples/v2/typescript/README.md
  sdk/identity/identity/samples/v2/typescript/package.json
  sdk/identity/identity/samples/v2/typescript/sample.env
  sdk/identity/identity/samples/v2/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/v2/typescript/src/defaultAzureCredential.ts
  sdk/identity/identity/samples/v2/typescript/src/environmentCredential.ts
  sdk/identity/identity/samples/v2/typescript/tsconfig.json
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/tsconfig.json
Labels: Azure.Identity

#19295 Remove event-processor-host from ci.yml and the sdk-type
  sdk/eventhub/ci.yml
  sdk/eventhub/event-processor-host/package.json
Labels: Event Hubs

#19302 Clients can retry sending TNs at most once in an 8s timeframe
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/chatThreadClient.ts
Labels: auto-merge, Communication

#18860 [Unified recorder] Implement support for setMatcher
  sdk/test-utils/recorder-new/.gitignore
  sdk/test-utils/recorder-new/CHANGELOG.md
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool/recording_sample_response.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool/recording_sample_response_with_random_string_in_path.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_other_methods/recording_transformsinfo.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_bodykeysanitizer.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_bodyregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_generalregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_headerregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_removeheadersanitizer.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_uriregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/browsers/proxy_tool_sanitizers/recording_urisubscriptionidsanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool/recording_sample_response.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool/recording_sample_response_with_random_string_in_path.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_other_methods/recording_transformsinfo.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_bodykeysanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_bodyregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_generalregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_headerregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_removeheadersanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_resetsanitizer_uses_bodyregexsanitizer_as_example.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_uriregexsanitizer.json
  sdk/test-utils/recorder-new/recordings/node/proxy_tool_sanitizers/recording_urisubscriptionidsanitizer.json
  sdk/test-utils/recorder-new/src/core-v2-recorder.ts
  sdk/test-utils/recorder-new/src/matcher.ts
  sdk/test-utils/recorder-new/src/utils/paths.ts
  sdk/test-utils/recorder-new/test/testProxyTests.spec.ts
Labels: test-utils-recorder

#19245 Replace assert imports with chai in AppConfiguration
  sdk/appconfiguration/app-configuration/rollup.base.config.js
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/package.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/tracingHelpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/throwOrNotThrow.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration

#19310 Unpin api-extractor dependency
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/databricks/arm-databricks/package.json
  sdk/extendedlocation/arm-extendedlocation/package.json
  sdk/logic/arm-logic/package.json
  sdk/logic/arm-logic/review/arm-logic.api.md
  sdk/notificationhubs/arm-notificationhubs/package.json
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/operationsmanagement/arm-operations/package.json
  sdk/postgresql/arm-postgresql/package.json
  sdk/quota/arm-quota/package.json
  sdk/security/arm-security/package.json
  sdk/videoanalyzer/arm-videoanalyzer/package.json
Labels: Mgmt

#19318 Fix bizarre indentation
  documentation/using-azure-identity.md
Labels: customer-reported

#19304 [dev-tool] Add minimist configuration for extra args
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/framework/parseOptions.ts
  common/tools/dev-tool/test/argParsing.spec.ts
  common/tools/dev-tool/test/framework.spec.ts
  common/tools/dev-tool/test/samples/tsToJs.spec.ts
  common/tools/dev-tool/test/util.ts
Labels: dev-tool

#19130 [sort-imports] update ```keyvault-common``` with respect to ```sort-imports``` rule
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-common/src/tracingHelpers.ts
Labels: customer-reported, KeyVault, Impact++

#19265 Automatic rush update --full
  common/config/rush/pnpm-lock.yaml
Labels: auto-merge

#19297 [test-utils][web-pubsub] - Migrate over to shared rollup config
  sdk/test-utils/testing-recorder-new/package.json
  sdk/test-utils/testing-recorder-new/rollup.base.config.js
  sdk/test-utils/testing-recorder-new/rollup.config.js
  sdk/test-utils/testing-recorder-new/rollup.test.config.js
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub-express/rollup.base.config.js
  sdk/web-pubsub/web-pubsub-express/rollup.config.js
  sdk/web-pubsub/web-pubsub-express/rollup.test.config.js
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/rollup.base.config.js
  sdk/web-pubsub/web-pubsub/rollup.config.js
  sdk/web-pubsub/web-pubsub/rollup.test.config.js
  sdk/web-pubsub/web-pubsub/tsconfig.json
Labels: WebPubSub

#19301 Fix ESLint errors in Mock Hub
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/src/messages/event-hubs/partitionInfo.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/runtimeInfo.ts
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
  sdk/eventhub/mock-hub/src/server/mockServer.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
  sdk/eventhub/mock-hub/src/storage/messageStore.ts
  sdk/eventhub/mock-hub/src/storage/queue.ts
Labels: Event Hubs

#19351 Update Identity dependency to v2 from v2 beta
  sdk/communication/communication-short-codes/package.json
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/mysql/arm-mysql/package.json
  sdk/synapse/synapse-access-control-rest/samples/v1/javascript/package.json
  sdk/synapse/synapse-access-control-rest/samples/v1/typescript/package.json
Labels: Mgmt, Container Registry, Synapse, auto-merge

#19326 [App Config] Changelog for 1.3.1
  sdk/appconfiguration/app-configuration/CHANGELOG.md
Labels: App Configuration

#19298 [core-http] bump `node-fetch` dependency version to ^2.6.6
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob/package.json
  sdk/test-utils/perf/package.json
Labels: Storage, Azure.Core

#19359 Add unit test for sending typing notification within 8 secs
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
Labels: auto-merge

#19354 [KeyVault] - Enable multi-version tests for KV secrets
  sdk/keyvault/keyvault-secrets/platform-matrix.json
  sdk/keyvault/keyvault-secrets/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/list.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-secrets/test/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/test/utils/utils.common.ts
  sdk/keyvault/keyvault-secrets/tests.yml
Labels: KeyVault

#19249 [Text Analytics] Fix rate limit reached issue
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/policies/throttlingRetryPolicy.ts
  sdk/core/core-rest-pipeline/test/throttlingRetryPolicy.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Azure.Core, Cognitive - Text Analytics

#19358 Sync eng/common directory with azure-sdk-tools for PR 2442
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#19262 purview-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/purview/arm-purview/CHANGELOG.md
  sdk/purview/arm-purview/README.md
  sdk/purview/arm-purview/_meta.json
  sdk/purview/arm-purview/api-extractor.json
  sdk/purview/arm-purview/package.json
  sdk/purview/arm-purview/recordings/node/my_test/recording_sample_test.js
  sdk/purview/arm-purview/review/arm-purview.api.md
  sdk/purview/arm-purview/src/index.ts
  sdk/purview/arm-purview/src/models/index.ts
  sdk/purview/arm-purview/src/models/mappers.ts
  sdk/purview/arm-purview/src/operations/accounts.ts
  sdk/purview/arm-purview/src/operations/defaultAccounts.ts
  sdk/purview/arm-purview/src/operations/operations.ts
  sdk/purview/arm-purview/src/operations/privateEndpointConnections.ts
  sdk/purview/arm-purview/src/operations/privateLinkResources.ts
  sdk/purview/arm-purview/src/operationsInterfaces/accounts.ts
  sdk/purview/arm-purview/src/operationsInterfaces/operations.ts
  sdk/purview/arm-purview/src/operationsInterfaces/privateEndpointConnections.ts
  sdk/purview/arm-purview/src/operationsInterfaces/privateLinkResources.ts
  sdk/purview/arm-purview/src/purviewManagementClient.ts
  sdk/purview/arm-purview/src/purviewManagementClientContext.ts
  sdk/purview/arm-purview/test/sampleTest.ts
  sdk/purview/arm-purview/tsconfig.json
Labels: Purview

#19264 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
Labels: Mgmt, auto-merge

#19252 Post release automated changes for recoveryservices releases
  sdk/recoveryservices/arm-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/arm-recoveryservices/package.json
Labels: Mgmt, auto-merge

#19126 Post release automated changes for relay releases
  sdk/relay/arm-relay/CHANGELOG.md
  sdk/relay/arm-relay/package.json
Labels: Mgmt, auto-merge

#18643 Post release automated changes for cdn releases
  sdk/cdn/arm-cdn/CHANGELOG.md
  sdk/cdn/arm-cdn/package.json
Labels: Mgmt, auto-merge

#18848 Post release automated changes for search releases
  sdk/search/arm-search/CHANGELOG.md
  sdk/search/arm-search/package.json
Labels: Mgmt, Search, auto-merge

#18808 Post release automated changes for resourcehealth releases
  sdk/resourcehealth/arm-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/arm-resourcehealth/package.json
Labels: Mgmt, auto-merge

#18786 Post release automated changes for managementgroups releases
  sdk/managementgroups/arm-managementgroups/CHANGELOG.md
  sdk/managementgroups/arm-managementgroups/package.json
Labels: Mgmt, auto-merge

#18765 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
Labels: Mgmt, Batch, auto-merge

#18547 Post release automated changes for servicefabric releases
  sdk/servicefabric/arm-servicefabric/CHANGELOG.md
  sdk/servicefabric/arm-servicefabric/package.json
Labels: Mgmt, auto-merge

#18594 Post release automated changes for mysql releases
  sdk/mysql/arm-mysql/CHANGELOG.md
  sdk/mysql/arm-mysql/package.json
Labels: Mgmt, auto-merge

#18551 Post release automated changes for containerregistry releases
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/package.json
Labels: Mgmt, Container Registry, auto-merge

#19316 servicebus-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/arm-servicebus/CHANGELOG.md
  sdk/servicebus/arm-servicebus/README.md
  sdk/servicebus/arm-servicebus/_meta.json
  sdk/servicebus/arm-servicebus/api-extractor.json
  sdk/servicebus/arm-servicebus/package.json
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_namespaces_create_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_namespaces_delete_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_queues_create_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_queues_delete_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_queues_get_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_queues_list_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_topics_create_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_topics_delete_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_topics_get_test.js
  sdk/servicebus/arm-servicebus/recordings/node/servicebus_test/recording_topics_list_test.js
  sdk/servicebus/arm-servicebus/review/arm-servicebus.api.md
  sdk/servicebus/arm-servicebus/src/index.ts
  sdk/servicebus/arm-servicebus/src/models/index.ts
  sdk/servicebus/arm-servicebus/src/models/mappers.ts
  sdk/servicebus/arm-servicebus/src/models/parameters.ts
  sdk/servicebus/arm-servicebus/src/operations/disasterRecoveryConfigs.ts
  sdk/servicebus/arm-servicebus/src/operations/eventHubs.ts
  sdk/servicebus/arm-servicebus/src/operations/index.ts
  sdk/servicebus/arm-servicebus/src/operations/migrationConfigs.ts
  sdk/servicebus/arm-servicebus/src/operations/namespaces.ts
  sdk/servicebus/arm-servicebus/src/operations/operations.ts
  sdk/servicebus/arm-servicebus/src/operations/premiumMessagingRegionsOperations.ts
  sdk/servicebus/arm-servicebus/src/operations/privateEndpointConnections.ts
  sdk/servicebus/arm-servicebus/src/operations/privateLinkResources.ts
  sdk/servicebus/arm-servicebus/src/operations/queues.ts
  sdk/servicebus/arm-servicebus/src/operations/regions.ts
  sdk/servicebus/arm-servicebus/src/operations/rules.ts
  sdk/servicebus/arm-servicebus/src/operations/subscriptions.ts
  sdk/servicebus/arm-servicebus/src/operations/topics.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/disasterRecoveryConfigs.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/eventHubs.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/index.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/migrationConfigs.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/namespaces.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/operations.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/premiumMessagingRegionsOperations.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/privateEndpointConnections.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/queues.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/regions.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/rules.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/subscriptions.ts
  sdk/servicebus/arm-servicebus/src/operationsInterfaces/topics.ts
  sdk/servicebus/arm-servicebus/src/serviceBusManagementClient.ts
  sdk/servicebus/arm-servicebus/src/serviceBusManagementClientContext.ts
  sdk/servicebus/arm-servicebus/test/sampleTest.ts
  sdk/servicebus/arm-servicebus/tsconfig.json
Labels: Mgmt, Service Bus

#19317 postgresql-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/postgresql/arm-postgresql/CHANGELOG.md
  sdk/postgresql/arm-postgresql/README.md
  sdk/postgresql/arm-postgresql/_meta.json
  sdk/postgresql/arm-postgresql/package.json
  sdk/postgresql/arm-postgresql/review/arm-postgresql.api.md
  sdk/postgresql/arm-postgresql/src/index.ts
  sdk/postgresql/arm-postgresql/src/models/index.ts
  sdk/postgresql/arm-postgresql/src/models/mappers.ts
  sdk/postgresql/arm-postgresql/src/operations/checkNameAvailability.ts
  sdk/postgresql/arm-postgresql/src/operations/configurations.ts
  sdk/postgresql/arm-postgresql/src/operations/databases.ts
  sdk/postgresql/arm-postgresql/src/operations/firewallRules.ts
  sdk/postgresql/arm-postgresql/src/operations/locationBasedPerformanceTier.ts
  sdk/postgresql/arm-postgresql/src/operations/logFiles.ts
  sdk/postgresql/arm-postgresql/src/operations/operations.ts
  sdk/postgresql/arm-postgresql/src/operations/privateEndpointConnections.ts
  sdk/postgresql/arm-postgresql/src/operations/privateLinkResources.ts
  sdk/postgresql/arm-postgresql/src/operations/recoverableServers.ts
  sdk/postgresql/arm-postgresql/src/operations/replicas.ts
  sdk/postgresql/arm-postgresql/src/operations/serverAdministrators.ts
  sdk/postgresql/arm-postgresql/src/operations/serverBasedPerformanceTier.ts
  sdk/postgresql/arm-postgresql/src/operations/serverKeys.ts
  sdk/postgresql/arm-postgresql/src/operations/serverParameters.ts
  sdk/postgresql/arm-postgresql/src/operations/serverSecurityAlertPolicies.ts
  sdk/postgresql/arm-postgresql/src/operations/servers.ts
  sdk/postgresql/arm-postgresql/src/operations/virtualNetworkRules.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClient.ts
  sdk/postgresql/arm-postgresql/src/postgreSQLManagementClientContext.ts
Labels: Mgmt

#19321 videoanalyzer-track2-ga
  common/config/rush/pnpm-lock.yaml
  sdk/videoanalyzer/arm-videoanalyzer/CHANGELOG.md
  sdk/videoanalyzer/arm-videoanalyzer/README.md
  sdk/videoanalyzer/arm-videoanalyzer/_meta.json
  sdk/videoanalyzer/arm-videoanalyzer/package.json
  sdk/videoanalyzer/arm-videoanalyzer/review/arm-videoanalyzer.api.md
  sdk/videoanalyzer/arm-videoanalyzer/src/index.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/models/index.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/models/mappers.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/accessPolicies.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/edgeModules.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/livePipelineOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/livePipelines.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/locations.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/operationResults.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/operationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/operations.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/pipelineJobOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/pipelineJobs.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/pipelineTopologies.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/privateEndpointConnections.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/privateLinkResources.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videoAnalyzerOperationResults.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videoAnalyzerOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videoAnalyzers.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videos.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/videoAnalyzerContext.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/videoAnalyzerManagementClient.ts
Labels: Mgmt

#19376 Post release automated changes for security releases
  sdk/security/arm-security/CHANGELOG.md
  sdk/security/arm-security/package.json
Labels: Mgmt, auto-merge

#19378 [EPH] Clean up logs that use >>>>
  sdk/eventhub/event-processor-host/test/eph.spec.ts
  sdk/eventhub/event-processor-host/test/iothub.spec.ts
  sdk/eventhub/event-processor-host/test/negative.spec.ts
Labels: Event Hubs, auto-merge
