Repository Azure/azure-sdk-for-js, pull requests merged in 2021-11, with the labels that each got.

#18391 videoanalyzer-track2
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/videoanalyzer/arm-videoanalyzer/CHANGELOG.md
  sdk/videoanalyzer/arm-videoanalyzer/LICENSE
  sdk/videoanalyzer/arm-videoanalyzer/README.md
  sdk/videoanalyzer/arm-videoanalyzer/_meta.json
  sdk/videoanalyzer/arm-videoanalyzer/api-extractor.json
  sdk/videoanalyzer/arm-videoanalyzer/package.json
  sdk/videoanalyzer/arm-videoanalyzer/recordings/node/my_test/recording_sample_test.js
  sdk/videoanalyzer/arm-videoanalyzer/review/arm-videoanalyzer.api.md
  sdk/videoanalyzer/arm-videoanalyzer/rollup.config.js
  sdk/videoanalyzer/arm-videoanalyzer/src/index.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/lroImpl.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/models/index.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/models/mappers.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/models/parameters.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/accessPolicies.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/edgeModules.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/index.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/livePipelineOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/livePipelines.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/locations.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/operationResults.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/operationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/operations.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/pipelineJobOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/pipelineJobs.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/pipelineTopologies.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/privateEndpointConnections.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/privateLinkResources.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videoAnalyzerOperationResults.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videoAnalyzerOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videoAnalyzers.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operations/videos.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/accessPolicies.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/edgeModules.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/index.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/livePipelineOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/livePipelines.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/locations.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/operationResults.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/operationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/operations.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/pipelineJobOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/pipelineJobs.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/pipelineTopologies.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/privateEndpointConnections.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/privateLinkResources.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/videoAnalyzerOperationResults.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/videoAnalyzerOperationStatuses.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/videoAnalyzers.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/operationsInterfaces/videos.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/videoAnalyzer.ts
  sdk/videoanalyzer/arm-videoanalyzer/src/videoAnalyzerContext.ts
  sdk/videoanalyzer/arm-videoanalyzer/test/sampleTest.ts
  sdk/videoanalyzer/arm-videoanalyzer/tsconfig.json
  sdk/videoanalyzer/ci.yml
Labels: Mgmt

#18452 Post release automated changes for databricks releases
  sdk/databricks/arm-databricks/CHANGELOG.md
  sdk/databricks/arm-databricks/package.json
Labels: Mgmt, auto-merge

#18454 Post release automated changes for videoanalyzer releases
  sdk/videoanalyzer/arm-videoanalyzer/CHANGELOG.md
  sdk/videoanalyzer/arm-videoanalyzer/package.json
Labels: auto-merge

#18457 Post release automated changes for notificationhubs releases
  sdk/notificationhubs/arm-notificationhubs/CHANGELOG.md
  sdk/notificationhubs/arm-notificationhubs/package.json
Labels: Mgmt, auto-merge

#18446 Add entry for video-analyzer-edge in code owners file
  .github/CODEOWNERS
Labels: auto-merge

#18450 Post release automated changes for videoanalyzer releases
  sdk/videoanalyzer/video-analyzer-edge/CHANGELOG.md
  sdk/videoanalyzer/video-analyzer-edge/package.json
Labels: auto-merge

#18398 Standardize autorest command
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/attestation/attestation/package.json
  sdk/batch/batch/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-network-traversal/swagger/README.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/swagger/README.md
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/containerregistry/container-registry/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/swagger/README.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/mixedreality/mixed-reality-authentication/package.json
  sdk/mixedreality/mixed-reality-authentication/swagger/README.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/purview/purview-account-rest/package.json
  sdk/purview/purview-administration-rest/package.json
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
Labels: EngSys, Storage, KeyVault, Batch, Container Registry, Event Grid, Monitor, Tables, App Configuration, Cognitive - Translator, Attestation, Communication, Cognitive - Metrics Advisor, Purview, AgriFood, Confidential Ledger, Mixed Reality, Remote Rendering

#18330 [Identity] OBO sample improvement
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity, auto-merge

#18464 Sync eng/common directory with azure-sdk-tools for PR 2177
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#18469 [Batch] Export all types
  sdk/batch/batch/package.json
  sdk/batch/batch/rollup.config.js
  sdk/batch/batch/src/batchServiceClientContext.ts
  sdk/batch/batch/src/index.ts
Labels: Batch

#18463 Update all samples to use Identity v2
  samples/cors/ts/server/package.json
  samples/frameworks/electron/ts/package.json
  samples/frameworks/react/ts/package.json
  sdk/agrifood/agrifood-farming-rest/samples/v1/javascript/package.json
  sdk/agrifood/agrifood-farming-rest/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/communication/communication-identity/samples/v1/javascript/package.json
  sdk/communication/communication-identity/samples/v1/typescript/package.json
  sdk/communication/communication-sms/samples/v1/javascript/package.json
  sdk/communication/communication-sms/samples/v1/typescript/package.json
  sdk/confidentialledger/confidential-ledger-rest/samples/v1/javascript/package.json
  sdk/confidentialledger/confidential-ledger-rest/samples/v1/typescript/package.json
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1/typescript/package.json
  sdk/cosmosdb/cosmos/samples/v3/javascript/package.json
  sdk/cosmosdb/cosmos/samples/v3/typescript/package.json
  sdk/deviceupdate/iot-device-update/samples/v1/javascript/package.json
  sdk/deviceupdate/iot-device-update/samples/v1/typescript/package.json
  sdk/digitaltwins/digital-twins-core/samples/v1/javascript/package.json
  sdk/digitaltwins/digital-twins-core/samples/v1/typescript/package.json
  sdk/eventhub/event-hubs/samples-browser/package.json
  sdk/eventhub/event-hubs/samples/v5/browser/package.json
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/formrecognizer/ai-form-recognizer/samples/v3/javascript/package.json
  sdk/formrecognizer/ai-form-recognizer/samples/v3/typescript/package.json
  sdk/identity/identity/samples/typescript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-keys/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-keys/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/package.json
  sdk/purview/purview-account-rest/samples/v1/javascript/package.json
  sdk/purview/purview-account-rest/samples/v1/typescript/package.json
  sdk/purview/purview-administration-rest/samples/v1/javascript/package.json
  sdk/purview/purview-administration-rest/samples/v1/typescript/package.json
  sdk/purview/purview-catalog-rest/samples/v1/javascript/package.json
  sdk/purview/purview-catalog-rest/samples/v1/typescript/package.json
  sdk/purview/purview-scanning-rest/samples/v1/javascript/package.json
  sdk/purview/purview-scanning-rest/samples/v1/typescript/package.json
  sdk/quantum/quantum-jobs/samples/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/package.json
  sdk/schemaregistry/schema-registry/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry/samples/v1/typescript/package.json
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
  sdk/storage/storage-blob/samples/javascript/package.json
  sdk/tables/data-tables/samples/v12/javascript/package.json
  sdk/tables/data-tables/samples/v12/typescript/package.json
  sdk/template/template/samples/v1/javascript/package.json
  sdk/template/template/samples/v1/typescript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/package.json
Labels: EngSys, Service Bus, Event Hubs, Storage, Cosmos, KeyVault, Azure.Identity, Container Registry, Tables, App Configuration, Cognitive - Text Analytics, Cognitive - Form Recognizer, Digital Twins, Schema Registry, Communication, Purview, AgriFood, Confidential Ledger

#18470 Move Identity dependency from v2 beta to v2 GA
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/attestation/attestation/package.json
  sdk/batch/batch/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/containerregistry/container-registry/package.json
  sdk/deviceupdate/iot-device-update/package.json
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
  sdk/identity/identity/test/manual-integration/AzureArc/package.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/package.json
  sdk/identity/identity/test/manual-integration/AzureVM/package.json
  sdk/identity/identity/test/manual-integration/Cloudshell/package.json
  sdk/identity/identity/test/manual-integration/Kubernetes/package.json
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/package.json
  sdk/identity/identity/test/manual/package.json
  sdk/keyvault/perf-tests/keyvault-certificates/package.json
  sdk/keyvault/perf-tests/keyvault-keys/package.json
  sdk/keyvault/perf-tests/keyvault-secrets/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/package.json
  sdk/search/perf-tests/search-documents/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-spark/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/perf-tests/text-analytics/package.json
Labels: EngSys, Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Batch, Container Registry, Search, Tables, App Configuration, Synapse, Cognitive - Text Analytics, Cognitive - Form Recognizer, Attestation, Digital Twins, Schema Registry, Communication

#18473 Remove generate:client script
  sdk/batch/batch/package.json
Labels: Batch

#18474 Remove dependency overrides for Identity
  sdk/containerregistry/container-registry/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, Event Hubs, Container Registry, auto-merge

#18475 Sync eng/common directory with azure-sdk-tools for PR 2203
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#18461 Fix group interface missing closeAllConnections issue
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/groupClient.ts
Labels: auto-merge, WebPubSub

#18479 Sync eng/common directory with azure-sdk-tools for PR 2179
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#18485 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
Labels: Mgmt, auto-merge

#18489 [Text Analytics] Prepare v5.2.0-beta.2 release
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#18417 Preparing for beta.4 release
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/README.md
  sdk/web-pubsub/web-pubsub-express/samples/v1/typescript/src/server.ts
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
Labels: WebPubSub

#18491 [core-http] prepare CHANGELOG for 2021 November release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#18494 Post release automated changes for textanalytics releases
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/customText.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/customText.ts
  sdk/textanalytics/ai-text-analytics/src/generated/generatedClientContext.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics, auto-merge

#18495 [ai-form-recognizer] Improve handling of LROs.
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeReceiptByModelId.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentAnalysisClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/training.ts
  sdk/formrecognizer/ai-form-recognizer/src/util.ts
Labels: Client, Cognitive - Form Recognizer

#18459 Update readme to include more examples
  sdk/web-pubsub/web-pubsub/README.md
  sdk/web-pubsub/web-pubsub/samples/v1/javascript/README.md
  sdk/web-pubsub/web-pubsub/samples/v1/typescript/README.md
  sdk/web-pubsub/web-pubsub/{
Labels: auto-merge, WebPubSub

#18490 Fix issue that the preflight response should hide server detail
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/test/validate.spec.ts
Labels: WebPubSub

#18497 Fix broken links
  documentation/Bundling.md
  sdk/iot/iot-modelsrepository/README.md
  sdk/monitor/monitor-opentelemetry-exporter/README.md
Labels: IoT, Monitor, auto-merge

#18501 Sync eng/common directory with azure-sdk-tools for PR 2053
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#18381 Make core rest client work with null and encoding
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/pathClientTypes.ts
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/urlHelpers.spec.ts
Labels: Azure.Core

#18482 update-identity-for-track2
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/appplatform/arm-appplatform/package.json
  sdk/compute/arm-compute/package.json
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerservice/arm-containerservice/package.json
  sdk/databricks/arm-databricks/package.json
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventhub/arm-eventhub/package.json
  sdk/extendedlocation/arm-extendedlocation/package.json
  sdk/logic/arm-logic/package.json
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/notificationhubs/arm-notificationhubs/package.json
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/operationsmanagement/arm-operations/package.json
  sdk/policy/arm-policy/package.json
  sdk/postgresql/arm-postgresql/package.json
  sdk/quota/arm-quota/package.json
  sdk/recoveryservices/arm-recoveryservices/package.json
  sdk/redis/arm-rediscache/package.json
  sdk/security/arm-security/package.json
  sdk/videoanalyzer/arm-videoanalyzer/package.json
Labels: Mgmt, Event Hubs, Container Registry, Event Grid

#18431 Update key vault keys to enable live testing in sovereign clouds for multiple services
  sdk/keyvault/keyvault-keys/tests.yml
Labels: KeyVault

#18508 [KeyVault] - Update duration sample and doc comments
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/samples-dev/keyRotation.ts
  sdk/keyvault/keyvault-keys/src/index.ts
Labels: KeyVault

#18492 [core-rest-pipeline] Allow specifying any status response to get stream
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
Labels: Azure.Core

#18478 [core-client-rest] Addressing feedback from ArchBoard
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/src/index.ts
  sdk/core/core-client-rest/src/pathClientTypes.ts
  sdk/core/core-client-rest/src/restError.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core, Confidential Ledger

#18510 [KeyVault] - Update changelog for release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#18472 Update remaining beta dependencies on identity
  sdk/identity/identity/test/manual/package.json
  sdk/identity/perf-tests/identity/package.json
Labels: Azure.Identity, auto-merge

#18513 Sync eng/common directory with azure-sdk-tools for PR 2199
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#18512 Use working region/subscription for search deployments
  sdk/search/search-documents/tests.yml
Labels: Search, Central-EngSys

#18519 Post release automated changes for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: Azure.Core, auto-merge

#18331 [Buffered Event Hubs Producer] Implements Parition Key to Partition ID mapping
  sdk/eventhub/event-hubs/src/impl/partitionAssigner.ts
  sdk/eventhub/event-hubs/src/impl/patitionKeyToIdMapper.ts
  sdk/eventhub/event-hubs/test/internal/impl/mapPartitionKeyToId.spec.ts
  sdk/eventhub/event-hubs/tsconfig.json
Labels: Event Hubs

#18277 [Tables] Expose continuation token on TableServiceClient.listTables
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_sasconnectionstring_listtables/recording_should_list_a_specific_page_with_continuationtoken.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_tokencredential_listtables/recording_should_list_a_specific_page_with_continuationtoken.json
  sdk/tables/data-tables/recordings/node/tableserviceclient_sasconnectionstring_listtables/recording_should_list_a_specific_page_with_continuationtoken.js
  sdk/tables/data-tables/recordings/node/tableserviceclient_tokencredential_listtables/recording_should_list_a_specific_page_with_continuationtoken.js
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
Labels: Tables

#18522 Sync eng/common directory with azure-sdk-tools for PR 2202
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#18511 [dev-tool] Added support for deep imports in samples
  common/tools/dev-tool/src/commands/samples/publish.ts
Labels: dev-tool

#18533 [core-client-rest] Prepare beta.8 release
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#18536 Update @azure/identity dependency on REST Clients to v2
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/agrifood/agrifood-farming-rest/recordings/node/farmer_operations/recording_should_create_a_boundary.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/farmer_operations/recording_should_create_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/farmer_operations/recording_should_create_a_satelite_job.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/farmer_operations/recording_should_get_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/farmer_operations/recording_should_get_corresponding_scenes.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/list_farmers/recording_should_create_a_boundary.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/list_farmers/recording_should_create_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/list_farmers/recording_should_delete_a_boundary.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/list_farmers/recording_should_delete_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/list_farmers/recording_should_list_all_farmers.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/satelite_flow/recording_should_create_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/satelite_flow/recording_should_delete_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/satelite_flow/recording_should_get_a_farmer.js
  sdk/agrifood/agrifood-farming-rest/recordings/node/satelite_flow/recording_should_update_a_farmer.js
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/list_document_formats/recording_should_list_all_available_document_formats.js
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/documenttranslator/ai-document-translator-rest/recordings/node/list_document_formats/recording_should_list_all_available_document_formats.js
  sdk/documenttranslator/ai-document-translator-rest/test/public/listFormats.spec.ts
  sdk/purview/purview-account-rest/package.json
  sdk/purview/purview-account-rest/recordings/node/get_account_info/recording_should_get_the_account_info.js
  sdk/purview/purview-account-rest/recordings/node/list_collections/recording_should_list_all_available_collections.js
  sdk/purview/purview-account-rest/test/public/account.spec.ts
  sdk/purview/purview-account-rest/test/public/collections.spec.ts
  sdk/purview/purview-administration-rest/package.json
  sdk/purview/purview-administration-rest/recordings/browsers/get_account_info/recording_should_get_the_account_info.json
  sdk/purview/purview-administration-rest/recordings/browsers/list_collections/recording_should_list_all_available_collections.json
  sdk/purview/purview-administration-rest/recordings/browsers/list_metadata/recording_should_list_all_available_metdatapolicies.json
  sdk/purview/purview-administration-rest/recordings/node/get_account_info/recording_should_get_the_account_info.js
  sdk/purview/purview-administration-rest/recordings/node/list_collections/recording_should_list_all_available_collections.js
  sdk/purview/purview-administration-rest/recordings/node/list_metadata/recording_should_list_all_available_metdatapolicies.js
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-catalog-rest/recordings/node/purview_catalog_test/recording_should_list_all_available_typedefs_sources.js
  sdk/purview/purview-scanning-rest/package.json
  sdk/purview/purview-scanning-rest/recordings/node/list_data_sources/recording_should_list_all_available_data_sources.js
Labels: Cognitive - Translator, Purview, AgriFood, Confidential Ledger

#18538 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
Labels: Azure.Core, auto-merge

#18539 Make identity dependencies consistent across RLCs
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/synapse/synapse-access-control-rest/package.json
Labels: Synapse, Cognitive - Translator, auto-merge, Purview, AgriFood, Confidential Ledger

#18540 [core-rest-pipeline] Fix Changelog date
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core, auto-merge

#18541 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/samples/v1/typescript/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core, auto-merge

#18530 November Release Changes
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#18502 Update Web PubSub readme to include architecture diagram
  sdk/web-pubsub/web-pubsub-express/README.md
  sdk/web-pubsub/web-pubsub/README.md
  sdk/web-pubsub/web-pubsub/{
Labels: WebPubSub

#18526 Add option check incase the code is not updated for breaking changes
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
Labels: WebPubSub

#18518 Identity v2 update - remaining packages
  sdk/appconfiguration/app-configuration/sample-react/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/package.json
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/samples/v1/javascript/package.json
  sdk/monitor/monitor-query/samples/v1/typescript/package.json
  sdk/monitor/perf-tests/monitor-query/package.json
  sdk/network/arm-network/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: Monitor, App Configuration, WebPubSub

#18371 [ServiceBus] Use `Promise.all()` when closing connection context.
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/connectionContext.ts
Labels: Service Bus

#18507 containerregistry-track2
  common/config/rush/pnpm-lock.yaml
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/_meta.json
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_exportpipelines_create_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_exportpipelines_delete_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_exportpipelines_get_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_exportpipelines_list_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_importpipelines_create_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_importpipelines_delete_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_importpipelines_get_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_importpipelines_list_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_registries_create_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_registries_delete_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_tasks_create_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_tasks_delete_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_tasks_get_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_tasks_list_test.js
  sdk/containerregistry/arm-containerregistry/recordings/node/containerregistry_test/recording_tasks_update_test.js
  sdk/containerregistry/arm-containerregistry/review/arm-containerregistry.api.md
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClientContext.ts
  sdk/containerregistry/arm-containerregistry/src/models/index.ts
  sdk/containerregistry/arm-containerregistry/src/models/mappers.ts
  sdk/containerregistry/arm-containerregistry/src/models/parameters.ts
  sdk/containerregistry/arm-containerregistry/src/operations/connectedRegistries.ts
  sdk/containerregistry/arm-containerregistry/src/operations/exportPipelines.ts
  sdk/containerregistry/arm-containerregistry/src/operations/importPipelines.ts
  sdk/containerregistry/arm-containerregistry/src/operations/pipelineRuns.ts
  sdk/containerregistry/arm-containerregistry/src/operations/privateEndpointConnections.ts
  sdk/containerregistry/arm-containerregistry/src/operations/registries.ts
  sdk/containerregistry/arm-containerregistry/src/operations/replications.ts
  sdk/containerregistry/arm-containerregistry/src/operations/scopeMaps.ts
  sdk/containerregistry/arm-containerregistry/src/operations/tokens.ts
  sdk/containerregistry/arm-containerregistry/src/operations/webhooks.ts
  sdk/containerregistry/arm-containerregistry/src/operationsInterfaces/registries.ts
Labels: Mgmt, Container Registry

#18132 Implement for STG79 storage features
  common/config/rush/pnpm-lock.yaml
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_synccopyfromurl__destination_encryption_scope.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_for_blob_snapshot_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_for_blob_version_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_with_encryption_scope_for_blob.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_blobclientgeneratesasurl_should_work_with_permanentdelete_permission_for_blob.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_containerclientgeneratesasurl_with_encryption_scope.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasqueryparameters_should_work_for_blob_version_delete_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasqueryparameters_should_work_with_encryption_scope.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasqueryparameters_should_work_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasurl_with_encryption_scope.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasurl_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_for_blob_snapshot_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_for_blob_version_delete_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_for_blob_with_permanentdelete_permission.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_with_encryption_scope_for_blob.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_with_encryption_scope_for_container.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateblobsasqueryparameters_should_work_with_encryptionscope_for_container.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_for_blob_with_permanentdelete_permssion.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_with_encryption_scope_for_blob.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_with_permanentdelete_permission_for_blob_snapshot.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateuserdelegationsas_should_work_with_permanentdelete_permission_for_blob_version_delete.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/sas/AccountSASPermissions.ts
  sdk/storage/storage-blob/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/sas/BlobSASPermissions.ts
  sdk/storage/storage-blob/src/sas/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/sas/ContainerSASPermissions.ts
  sdk/storage/storage-blob/src/sas/SASQueryParameters.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Labels: Client, Storage

#18531 Adding the skeleton for live test
  common/config/rush/pnpm-lock.yaml
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
Labels: WebPubSub

#18542 [azure-search] Serialization fails due to Cannot map a recusive structure
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/test/internal/serialization.spec.ts
Labels: Search

#18445 [Identity] Ensuring the claims get sent through the getToken requests.
  sdk/identity/identity-cache-persistence/recordings/node/devicecodecredential_internal/recording_accepts_tokencachepersistenceoptions.js
  sdk/identity/identity-cache-persistence/recordings/node/devicecodecredential_internal/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity-cache-persistence/recordings/node/devicecodecredential_internal/recording_authenticates_silently_with_tokencachepersistenceoptions.js
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/cae/recording_devicecodecredential.js
  sdk/identity/identity/recordings/node/cae/recording_usernamepasswordcredential.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_cancelling_the_authentication.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_setting_disableautomaticauthentication.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_and_allows_the_customization_of_the_prompt_callback.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_default_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_provided_values.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_specific_permissions.js
  sdk/identity/identity/recordings/node/devicecodecredential/recording_supports_tracing.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal/recording_authenticates_silently_after_the_initial_request.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_accepts_tokencachepersistenceoptions.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_allows_passing_an_authenticationrecord_to_avoid_further_manual_authentications.js
  sdk/identity/identity/recordings/node/devicecodecredential_internal_persistent_tests/recording_authenticates_silently_with_tokencachepersistenceoptions.js
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/credentials.ts
  sdk/identity/identity/src/msal/nodeFlows/msalAuthorizationCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientSecret.ts
  sdk/identity/identity/src/msal/nodeFlows/msalDeviceCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOnBehalfOf.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/msalUsernamePassword.ts
  sdk/identity/identity/src/msal/nodeFlows/nodeCommon.ts
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/identity/identity/test/public/node/caeARM.spec.ts
Labels: Azure.Identity

#18444 [ai-form-recognizer] Lazy iterator for words of a line
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/extractLayout.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/LayoutResult.ts
  sdk/formrecognizer/ai-form-recognizer/test/private/getChildren.spec.ts
Labels: Client, Cognitive - Form Recognizer

#18557 Sync eng/common directory with azure-sdk-tools for PR 2219
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-docker.yml
Labels: EngSys, Central-EngSys

#18568 Update connect event logic
  sdk/web-pubsub/web-pubsub-express/README.md
  sdk/web-pubsub/web-pubsub-express/samples/v1/javascript/server.js
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/test/connect.spec.ts
Labels: auto-merge, WebPubSub

#18564 [Identity] The CAE test should only run in playback mode for now
  sdk/identity/identity/test/public/node/caeARM.spec.ts
Labels: Azure.Identity

#18561 [core-http] preserve header key casing
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/httpHeaders.ts
  sdk/core/core-http/test/httpHeadersTests.ts
  sdk/core/core-http/test/proxyAgent.node.ts
Labels: Azure.Core

#18562 Post release automated changes for communication releases
  sdk/communication/communication-short-codes/CHANGELOG.md
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-short-codes/samples/v1/javascript/README.md
  sdk/communication/communication-short-codes/samples/v1/typescript/README.md
  sdk/communication/communication-short-codes/samples/v1/typescript/src/createAndDeleteProgramBrief.ts
  sdk/communication/communication-short-codes/samples/v1/typescript/src/getAndUpdateProgramBrief.ts
Labels: auto-merge

#18545 [Schema Registry] Regenerate using latest swagger
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_by_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_registers_schema.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_schema_with_whitespace.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_by_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_registers_schema.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_schema_with_whitespace.js
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/index.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schemaGroupsOperations.ts
  sdk/schemaregistry/schema-registry/src/generated/operationsInterfaces/index.ts
  sdk/schemaregistry/schema-registry/src/generated/operationsInterfaces/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/operationsInterfaces/schemaGroupsOperations.ts
  sdk/schemaregistry/schema-registry/src/getSchemaDefinition.browser.ts
  sdk/schemaregistry/schema-registry/src/getSchemaDefinition.ts
  sdk/schemaregistry/schema-registry/src/index.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/utils.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
  sdk/schemaregistry/schema-registry/tsconfig.json
Labels: Schema Registry

#18578 Sync eng/common directory with azure-sdk-tools for PR 2223
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#18520 [Tables] Fix quote encoding for Filter expressions in the URL
  common/config/rush/pnpm-lock.yaml
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/odata.ts
  sdk/tables/data-tables/swagger/README.md
  sdk/tables/data-tables/test/public/specialCharacters.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
Labels: Tables

#18574 [KeyVault] - Clean up sample key deletion
  sdk/keyvault/keyvault-keys/samples-dev/cryptography.ts
  sdk/keyvault/keyvault-keys/samples-dev/helloWorld.ts
  sdk/keyvault/keyvault-keys/samples-dev/keyRotation.ts
  sdk/keyvault/keyvault-keys/samples-dev/purgeAllKeys.ts
Labels: KeyVault

#18498 [ContainerRegistry] Prepare for 2021 November release
  sdk/containerregistry/container-registry/CHANGELOG.md
Labels: Container Registry

#18436 Update key vault secrets to enable live testing in sovereign clouds for multiple services
  sdk/keyvault/keyvault-secrets/tests.yml
Labels: KeyVault

#18583 Release 11.3.0-beta.5 of search-documents SDK
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#18586 [Tabes] Allow empty strings as partition and row keys
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_support_empty_partition_and_row_keys.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_support_empty_partition_and_row_keys.json
  sdk/tables/data-tables/recordings/browsers/tableclient_sasconnectionstring_createentity_getentity_and_delete/recording_should_createentity_empty_partition_and_row_keys.json
  sdk/tables/data-tables/recordings/browsers/tableclient_tokencredential_createentity_getentity_and_delete/recording_should_createentity_empty_partition_and_row_keys.json
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_support_empty_partition_and_row_keys.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_support_empty_partition_and_row_keys.js
  sdk/tables/data-tables/recordings/node/tableclient_sasconnectionstring_createentity_getentity_and_delete/recording_should_createentity_empty_partition_and_row_keys.js
  sdk/tables/data-tables/recordings/node/tableclient_tokencredential_createentity_getentity_and_delete/recording_should_createentity_empty_partition_and_row_keys.js
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
Labels: Tables

#18577 [Service Bus] Releasing 7.4.0
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#18604 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry, auto-merge

#18600 [ai-form-recognizer] Updated CHANGELOG for release
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#18587 [Schema Registry] Align public API with other languages
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/samples-dev/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedSerializer.ts
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/README.md
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/samples-dev/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/models.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/utils.ts
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
Labels: Schema Registry

#18606 [ai-form-recognizer] Remove/update direct references to beta.1
  sdk/formrecognizer/ai-form-recognizer/MIGRATION-v3_v4.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClientContext.ts
Labels: Cognitive - Form Recognizer

#18605 Sync eng/common directory with azure-sdk-tools for PR 2240
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#18607 Sync eng/common directory with azure-sdk-tools for PR 2242
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#18613 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#18610 [Web-Pubsub] Update WPS changelog for beta 4.
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
Labels: WebPubSub

#18517 [core-rest-pipeline] Preserve header casing
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/httpHeaders.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/httpHeaders.spec.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_handle_sub_request_error.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_send_a_set_of_create_actions_when_using_tabletransaction_helper.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_send_a_set_of_create_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_send_a_set_of_delete_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_send_a_set_of_update_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_send_a_set_of_upsert_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_send_multiple_transactions_with_the_same_partition_key.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_sasconnectionstring/recording_should_support_empty_partition_and_row_keys.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_handle_sub_request_error.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_send_a_set_of_create_actions_when_using_tabletransaction_helper.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_send_a_set_of_create_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_send_a_set_of_delete_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_send_a_set_of_update_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_send_a_set_of_upsert_batch_operations.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_send_multiple_transactions_with_the_same_partition_key.json
  sdk/tables/data-tables/recordings/browsers/batch_operations_tokencredential/recording_should_support_empty_partition_and_row_keys.json
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_handle_sub_request_error.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_send_a_set_of_create_actions_when_using_tabletransaction_helper.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_send_a_set_of_create_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_send_a_set_of_delete_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_send_a_set_of_update_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_send_a_set_of_upsert_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_send_multiple_transactions_with_the_same_partition_key.js
  sdk/tables/data-tables/recordings/node/batch_operations_sasconnectionstring/recording_should_support_empty_partition_and_row_keys.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_handle_sub_request_error.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_send_a_set_of_create_actions_when_using_tabletransaction_helper.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_send_a_set_of_create_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_send_a_set_of_delete_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_send_a_set_of_update_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_send_a_set_of_upsert_batch_operations.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_send_multiple_transactions_with_the_same_partition_key.js
  sdk/tables/data-tables/recordings/node/batch_operations_tokencredential/recording_should_support_empty_partition_and_row_keys.js
Labels: Client, Azure.Core

#18597 [Linter] Update linter rule to check if sdk-type exists in package.json
  common/tools/eslint-plugin-azure-sdk/README.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-package-json-sdktype.md
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-sdktype.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-sdktype.ts
  sdk/keyvault/keyvault-common/package.json
Labels: customer-reported, KeyVault, eslint plugin

#18591 [Synapse] Regenerate Synapse Artifacts
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/datasetOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedServiceOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperationResult.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkConfigurationOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinitionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceOperations.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#18615 Prepare beta-4 release
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
Labels: auto-merge, WebPubSub

#18595 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage, auto-merge

#18612 [Schema Registry] Allow any schema format
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_by_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_gets_schema_id.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_registers_schema.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.json
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_schema_with_whitespace.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_given_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_id_when_no_matching_schema_exists.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_fails_to_get_schema_when_no_schema_exists_with_given_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_by_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_gets_schema_id.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_registers_schema.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_rejects_schema_registration_with_invalid_args.js
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_schema_with_whitespace.js
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/operationsInterfaces/schema.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
Labels: Schema Registry

#18617 Post release automated changes for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/samples/v4/javascript/analyzeReceiptByModelId.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4/javascript/buildModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4/javascript/composeModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4/javascript/copyModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4/javascript/extractLayout.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4/typescript/src/analyzeReceiptByModelId.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4/typescript/src/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4/typescript/src/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4/typescript/src/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4/typescript/src/extractLayout.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Labels: Cognitive - Form Recognizer, auto-merge

#18575 [EventGrid] Fix link in README.md
  sdk/eventgrid/eventgrid/README.md
Labels: Event Grid

#18629 [Schema Registry] Regenerate with improved swagger
  sdk/schemaregistry/schema-registry/samples-dev/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schemaGroupsOperations.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
Labels: Schema Registry

#18631 [Schema Registry] Fix release date
  sdk/schemaregistry/schema-registry/CHANGELOG.md
Labels: Schema Registry

#18636 Sync eng/common directory with azure-sdk-tools for PR 2249
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#18609 [Web-Pubsub] Prepare wps for 1.0
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/src/generated/generatedClientContext.ts
  sdk/web-pubsub/web-pubsub/swagger/README.md
Labels: WebPubSub

#18638 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
Labels: Mgmt, auto-merge

#18231 eventgrid-track1
  sdk/eventgrid/arm-eventgrid/README.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClientContext.ts
  sdk/eventgrid/arm-eventgrid/src/models/domainTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/domainsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/eventChannelsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/eventSubscriptionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/extensionTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/index.ts
  sdk/eventgrid/arm-eventgrid/src/models/mappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/parameters.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerNamespacesMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerRegistrationsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerTopicEventSubscriptionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/partnerTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/privateEndpointConnectionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/systemTopicEventSubscriptionsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/systemTopicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/topicTypesMappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/topicsMappers.ts
  sdk/eventgrid/arm-eventgrid/src/operations/eventChannels.ts
  sdk/eventgrid/arm-eventgrid/src/operations/index.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerNamespaces.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerRegistrations.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerTopicEventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateEndpointConnections.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateLinkResources.ts
  sdk/eventgrid/arm-eventgrid/src/operations/topics.ts
Labels: Mgmt

#18616 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse, auto-merge

#18656 [Schema Registry Avro] Prepare release
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
Labels: Schema Registry

#18657 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/schemaRegistryAvroSample.js
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/src/schemaRegistryAvroSample.ts
Labels: Schema Registry, auto-merge

#18635 [tables] Add RestError export
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/index.ts
Labels: customer-reported, Tables

#18621 Check is value is undefined in appendQueryParams
  sdk/core/core-client/src/urlHelpers.ts
Labels: Azure.Core

#18647 [Tables] Update changelog date
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#18663 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/samples/v13/javascript/README.md
  sdk/tables/data-tables/samples/v13/javascript/authenticationMethods.js
  sdk/tables/data-tables/samples/v13/javascript/createAndDeleteEntities.js
  sdk/tables/data-tables/samples/v13/javascript/createAndDeleteTable.js
  sdk/tables/data-tables/samples/v13/javascript/generateTableSAS.js
  sdk/tables/data-tables/samples/v13/javascript/package.json
  sdk/tables/data-tables/samples/v13/javascript/queryEntities.js
  sdk/tables/data-tables/samples/v13/javascript/queryTables.js
  sdk/tables/data-tables/samples/v13/javascript/sample.env
  sdk/tables/data-tables/samples/v13/javascript/transactionOperations.js
  sdk/tables/data-tables/samples/v13/javascript/transactionWithHelper.js
  sdk/tables/data-tables/samples/v13/javascript/updateAndUpsertEntities.js
  sdk/tables/data-tables/samples/v13/javascript/usingContinuationToken.js
  sdk/tables/data-tables/samples/v13/javascript/workingWithBigInt.js
  sdk/tables/data-tables/samples/v13/javascript/workingWithInt64.js
  sdk/tables/data-tables/samples/v13/typescript/README.md
  sdk/tables/data-tables/samples/v13/typescript/package.json
  sdk/tables/data-tables/samples/v13/typescript/sample.env
  sdk/tables/data-tables/samples/v13/typescript/src/authenticationMethods.ts
  sdk/tables/data-tables/samples/v13/typescript/src/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples/v13/typescript/src/createAndDeleteTable.ts
  sdk/tables/data-tables/samples/v13/typescript/src/generateTableSAS.ts
  sdk/tables/data-tables/samples/v13/typescript/src/queryEntities.ts
  sdk/tables/data-tables/samples/v13/typescript/src/queryTables.ts
  sdk/tables/data-tables/samples/v13/typescript/src/transactionOperations.ts
  sdk/tables/data-tables/samples/v13/typescript/src/transactionWithHelper.ts
  sdk/tables/data-tables/samples/v13/typescript/src/updateAndUpsertEntities.ts
  sdk/tables/data-tables/samples/v13/typescript/src/usingContinuationToken.ts
  sdk/tables/data-tables/samples/v13/typescript/src/workingWithBigInt.ts
  sdk/tables/data-tables/samples/v13/typescript/src/workingWithInt64.ts
  sdk/tables/data-tables/samples/v13/typescript/tsconfig.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#18560 [core-rest-pipeline] handle `x-www-form-urlencoded` form data
  sdk/containerregistry/container-registry/recordings/browsers/anonymous_access_tests/recording_should_list_repositories_with_anonymous_access.json
  sdk/containerregistry/container-registry/recordings/browsers/anonymous_access_tests/recording_should_throw_error_setting_properties_with_anonymous_access.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_deletes_repository_of_given_name.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/containerregistryclient_tests/recording_should_list_repositories_by_pages_with_continuationtoken.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_deletes_a_given_tag.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_manifest_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_repository_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_sets_tag_properties.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages_with_continuationtoken.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags_by_pages.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_list_tags_by_pages_with_continuationtoken.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.json
  sdk/containerregistry/container-registry/recordings/browsers/repository_and_artifact_tests/recording_should_retrive_tag_properties.json
  sdk/containerregistry/container-registry/recordings/node/anonymous_access_tests/recording_should_list_repositories_with_anonymous_access.js
  sdk/containerregistry/container-registry/recordings/node/anonymous_access_tests/recording_should_throw_error_setting_properties_with_anonymous_access.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_deletes_repository_of_given_name.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/containerregistryclient_tests/recording_should_list_repositories_by_pages_with_continuationtoken.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_deletes_a_given_tag.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_manifest_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_repository_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_sets_tag_properties.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_registry_manifests_by_pages_with_continuationtoken.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags_by_pages.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_list_tags_by_pages_with_continuationtoken.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_digest.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_registry_artifact_properties_for_a_tag.js
  sdk/containerregistry/container-registry/recordings/node/repository_and_artifact_tests/recording_should_retrive_tag_properties.js
  sdk/containerregistry/container-registry/src/containerRegistryTokenCredential.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.browser.ts
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts
  sdk/core/core-rest-pipeline/test/browser/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
Labels: Azure.Core, Container Registry

#18633 [Schema Registry] Post-release stuff
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry/samples/v1/javascript/schemaRegistrySample.js
  sdk/schemaregistry/schema-registry/samples/v1/typescript/package.json
  sdk/schemaregistry/schema-registry/samples/v1/typescript/src/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClientContext.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
Labels: Schema Registry

#18666 [Schema Registry] Fix schema name validation
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/recordings/browsers/schemaregistryclient/recording_allows_schema_names_with_dots_in_them.json
  sdk/schemaregistry/schema-registry/recordings/node/schemaregistryclient/recording_allows_schema_names_with_dots_in_them.js
  sdk/schemaregistry/schema-registry/samples-dev/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/src/generated/models/index.ts
  sdk/schemaregistry/schema-registry/src/generated/models/mappers.ts
  sdk/schemaregistry/schema-registry/src/generated/models/parameters.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schemaGroupsOperations.ts
  sdk/schemaregistry/schema-registry/src/generated/operationsInterfaces/schema.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
Labels: Schema Registry

#18664 [KeyVault] - Move MHSM to resource group location
  sdk/keyvault/test-resources.json
Labels: KeyVault

#18653 Sync eng/common directory with azure-sdk-tools for PR 2247
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/clouds/AzureChinaCloud.json
  eng/common/TestResources/clouds/AzureCloud.json
  eng/common/TestResources/clouds/AzureUSGovernment.json
Labels: EngSys, Central-EngSys

#18665 Sync eng/common directory with azure-sdk-tools for PR 2259
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#18590 [Event Hubs] Merge feature branch for buffered producer
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/batchingPartitionChannel.ts
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/impl/awaitableQueue.ts
  sdk/eventhub/event-hubs/src/impl/partitionAssigner.ts
  sdk/eventhub/event-hubs/src/impl/patitionKeyToIdMapper.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/util/getPromiseParts.ts
  sdk/eventhub/event-hubs/test/internal/impl/awaitableQueue.spec.ts
  sdk/eventhub/event-hubs/test/internal/impl/mapPartitionKeyToId.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubBufferedProducerClient.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
  sdk/eventhub/event-hubs/tsconfig.json
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
Labels: Event Hubs

#18672 [Event Hubs] Prepare release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#18496 Node doesn't support some samples for smoke test
  sdk/search/search-documents/package.json
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples-dev/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples-dev/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples-dev/indexOperations.ts
  sdk/search/search-documents/samples-dev/indexerOperations.ts
  sdk/search/search-documents/samples-dev/interfaces.ts
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples-dev/skillSetOperations.ts
  sdk/search/search-documents/samples-dev/synonymMapOperations.ts
  sdk/search/search-documents/samples/v11/javascript/README.md
  sdk/search/search-documents/samples/v11/javascript/bufferedSenderAutoFlushSize.js
  sdk/search/search-documents/samples/v11/javascript/bufferedSenderAutoFlushTimer.js
  sdk/search/search-documents/samples/v11/javascript/bufferedSenderManualFlush.js
  sdk/search/search-documents/samples/v11/javascript/dataSourceConnectionOperations.js
  sdk/search/search-documents/samples/v11/javascript/indexOperations.js
  sdk/search/search-documents/samples/v11/javascript/indexerOperations.js
  sdk/search/search-documents/samples/v11/javascript/interfaces.js
  sdk/search/search-documents/samples/v11/javascript/package.json
  sdk/search/search-documents/samples/v11/javascript/setup.js
  sdk/search/search-documents/samples/v11/javascript/skillSetOperations.js
  sdk/search/search-documents/samples/v11/javascript/synonymMapOperations.js
  sdk/search/search-documents/samples/v11/typescript/README.md
  sdk/search/search-documents/samples/v11/typescript/package.json
  sdk/search/search-documents/samples/v11/typescript/src/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples/v11/typescript/src/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples/v11/typescript/src/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples/v11/typescript/src/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples/v11/typescript/src/indexOperations.ts
  sdk/search/search-documents/samples/v11/typescript/src/indexerOperations.ts
  sdk/search/search-documents/samples/v11/typescript/src/interfaces.ts
  sdk/search/search-documents/samples/v11/typescript/src/setup.ts
  sdk/search/search-documents/samples/v11/typescript/src/skillSetOperations.ts
  sdk/search/search-documents/samples/v11/typescript/src/synonymMapOperations.ts
Labels: Search

#18683 Sync eng/common directory with azure-sdk-tools for PR 2265
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#18686 Build and test predefined set of packages only in identity pipelines
  eng/tools/rush-runner.js
Labels: Central-EngSys

#18659 Create new pipeline for cosmos mgmt package
  sdk/cosmosdb/ci.mgmt.yml
  sdk/cosmosdb/ci.yml
Labels: Cosmos, Central-EngSys

#18648 Update ARR samples to depend on Azure Identity 2.0.1
  common/config/rush/pnpm-lock.yaml
  sdk/remoterendering/mixed-reality-remote-rendering/CHANGELOG.md
  sdk/remoterendering/mixed-reality-remote-rendering/README.md
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/samples-dev/moreComplexConversion.ts
Labels: Remote Rendering

#18697 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
Labels: Mgmt, Cosmos, auto-merge

#18698 Post release automated changes for consumption releases
  sdk/consumption/arm-consumption/CHANGELOG.md
  sdk/consumption/arm-consumption/package.json
Labels: Mgmt, auto-merge

#18505 eventgrid-track2
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/_meta.json
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_create_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_delete_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_get_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_listbyresourcegroup_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_domains_update_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_topics_create_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_topics_delete_test.js
  sdk/eventgrid/arm-eventgrid/recordings/node/eventgrid_test/recording_topics_listbyresourcegroup_test.js
  sdk/eventgrid/arm-eventgrid/review/arm-eventgrid.api.md
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClientContext.ts
  sdk/eventgrid/arm-eventgrid/src/models/index.ts
  sdk/eventgrid/arm-eventgrid/src/models/mappers.ts
  sdk/eventgrid/arm-eventgrid/src/models/parameters.ts
  sdk/eventgrid/arm-eventgrid/src/operations/eventChannels.ts
  sdk/eventgrid/arm-eventgrid/src/operations/index.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerNamespaces.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerRegistrations.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerTopicEventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operations/partnerTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateEndpointConnections.ts
  sdk/eventgrid/arm-eventgrid/src/operations/privateLinkResources.ts
  sdk/eventgrid/arm-eventgrid/src/operations/topics.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/eventChannels.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/index.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/partnerNamespaces.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/partnerRegistrations.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/partnerTopicEventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/partnerTopics.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/privateEndpointConnections.ts
  sdk/eventgrid/arm-eventgrid/src/operationsInterfaces/privateLinkResources.ts
  sdk/eventgrid/arm-eventgrid/test/eventgrid_examples.ts
Labels: Mgmt, Event Grid

#18625 We now recommend 2s as a polling period for standard sessions
  sdk/remoterendering/mixed-reality-remote-rendering/CHANGELOG.md
  sdk/remoterendering/mixed-reality-remote-rendering/src/lro/renderingSessionPoller.ts
Labels: auto-merge, Remote Rendering

#18702 [cosmosdb] Restore damaged ci.yml
  sdk/cosmosdb/ci.yml
Labels: Cosmos

#18690 Sync eng/common directory with azure-sdk-tools for PR 2276
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: EngSys, Central-EngSys

#18699 update readme for monitor query with sample fix
  sdk/monitor/monitor-query/README.md
Labels: Monitor

#18641 Fix a typo in MIGRATION-guide-for-next-generation-management-librarie…
  documentation/MIGRATION-guide-for-next-generation-management-libraries.md
Labels: customer-reported

#18705 Sync eng/common directory with azure-sdk-tools for PR 2267
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#18706 Sync eng/common directory with azure-sdk-tools for PR 2272
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#18570 network-track1
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/models/index.ts
  sdk/network/arm-network/src/models/mappers.ts
  sdk/network/arm-network/src/networkManagementClientContext.ts
Labels: Mgmt

#18700 change-playback-mode-for-track2
  sdk/apimanagement/arm-apimanagement/test/apimanagement_examples.ts
  sdk/appplatform/arm-appplatform/test/appplatform_examples.ts
  sdk/compute/arm-compute/test/compute_examples.ts
  sdk/containerregistry/arm-containerregistry/test/containerregistry_examples.ts
  sdk/containerservice/arm-containerservice/test/containerservice_examples.ts
  sdk/databricks/arm-databricks/test/databricks_examples.ts
  sdk/eventhub/arm-eventhub/test/eventhub_examples.ts
  sdk/logic/arm-logic/test/logic_examples.ts
  sdk/mediaservices/arm-mediaservices/test/mediaservice_examples.ts
  sdk/network/arm-network/test/network_examples.ts
  sdk/notificationhubs/arm-notificationhubs/test/notificationhubs_examples.ts
  sdk/policy/arm-policy/test/policy_examples.ts
  sdk/recoveryservices/arm-recoveryservices/test/recoveryservices_examples.ts
  sdk/redis/arm-rediscache/test/redis_examples.ts
  sdk/servicefabric/arm-servicefabric/test/servicefabric.ts
Labels: Mgmt, Event Hubs

#18713 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
Labels: Mgmt, Event Grid, auto-merge

#18722 [Schema Registry] Prepare patch release
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry/CHANGELOG.md
Labels: Schema Registry

#18710 Sync eng/common directory with azure-sdk-tools for PR 2290
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#18675 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples/v5/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#18727 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/package.json
Labels: Schema Registry, auto-merge

#18731 datalake-analytics-track2
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/datalake-analytics/arm-datalake-analytics/CHANGELOG.md
  sdk/datalake-analytics/arm-datalake-analytics/LICENSE
  sdk/datalake-analytics/arm-datalake-analytics/README.md
  sdk/datalake-analytics/arm-datalake-analytics/_meta.json
  sdk/datalake-analytics/arm-datalake-analytics/api-extractor.json
  sdk/datalake-analytics/arm-datalake-analytics/package.json
  sdk/datalake-analytics/arm-datalake-analytics/recordings/node/datalakeanalytics_test/recording_accounts_create_test.js
  sdk/datalake-analytics/arm-datalake-analytics/recordings/node/datalakeanalytics_test/recording_accounts_delete_test.js
  sdk/datalake-analytics/arm-datalake-analytics/recordings/node/datalakeanalytics_test/recording_accounts_get_test.js
  sdk/datalake-analytics/arm-datalake-analytics/review/arm-datalake-analytics.api.md
  sdk/datalake-analytics/arm-datalake-analytics/rollup.config.js
  sdk/datalake-analytics/arm-datalake-analytics/src/dataLakeAnalyticsAccountManagementClient.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/dataLakeAnalyticsAccountManagementClientContext.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/index.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/lroImpl.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/accountsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/computePoliciesMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/dataLakeStoreAccountsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/firewallRulesMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/index.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/mappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/operationsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/parameters.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/models/storageAccountsMappers.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/accounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/computePolicies.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/dataLakeStoreAccounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/firewallRules.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/index.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/locations.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/operations.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operations/storageAccounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/accounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/computePolicies.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/dataLakeStoreAccounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/firewallRules.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/index.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/locations.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/operations.ts
  sdk/datalake-analytics/arm-datalake-analytics/src/operationsInterfaces/storageAccounts.ts
  sdk/datalake-analytics/arm-datalake-analytics/test/sampleTest.ts
  sdk/datalake-analytics/arm-datalake-analytics/tsconfig.json
  sdk/datalake-analytics/ci.yml
Labels: Mgmt

#18735 Post release automated changes for datalake-analytics releases
  sdk/datalake-analytics/arm-datalake-analytics/CHANGELOG.md
  sdk/datalake-analytics/arm-datalake-analytics/package.json
Labels: Mgmt, auto-merge

#18634 [dev-tool] drop node10 support in samples run
  common/tools/dev-tool/src/commands/samples/checkNodeVersions.ts
Labels: dev-tool

#18632 [ESLint Plugin] Add a ts-config-include rule #18514
  common/tools/eslint-plugin-azure-sdk/README.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-config-include.md
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-config-include.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-config-include.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-engine-is-present.ts
Labels: customer-reported, eslint plugin

#18701 [ai-form-recognizer] Update test region.
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Labels: Cognitive - Form Recognizer

#18396 configured service version using serviceVersion in clientOptions
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: customer-reported, Search

#18347 [Perf Framework] Add template perf-tests project
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/template/perf-tests/template/README.md
  sdk/template/perf-tests/template/package.json
  sdk/template/perf-tests/template/sample.env
  sdk/template/perf-tests/template/test/getConfigurationSetting.spec.ts
  sdk/template/perf-tests/template/test/index.spec.ts
  sdk/template/perf-tests/template/test/templateBase.spec.ts
  sdk/template/perf-tests/template/tsconfig.json
  sdk/test-utils/perf/GettingStarted.md
Labels: EngSys

#18745 Sync eng/common directory with azure-sdk-tools for PR 2321
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#18751 Sync eng/common directory with azure-sdk-tools for PR 2306
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#18752 [KeyVault] - Use RBAC for permissions
  sdk/keyvault/test-resources.json
Labels: KeyVault

#18720 [ai-form-recognizer] Use CommonClientOptions
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/options/FormRecognizerClientOptions.ts
Labels: Cognitive - Form Recognizer

#18769 Fix dependabot alert for json-schema
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: auto-merge

#18771 [eslint] - fix plugin rule list
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
Labels: eslint plugin

#18676 [eslint-plugin-azure-sdk] Replaced redundant custom rule ts-no-namespaces with typescript-eslint/no-namespace
  common/tools/eslint-plugin-azure-sdk/README.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-no-namespaces.md
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-no-namespaces.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-no-namespaces.ts
  sdk/attestation/attestation/src/jsrsasign.d.ts
  sdk/containerregistry/container-registry/src/utils/base64.browser.ts
  sdk/core/core-client/src/base64.browser.ts
  sdk/core/core-http/src/httpOperationResponse.ts
  sdk/core/core-lro/test/utils/router/paramRoutes.ts
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
Labels: customer-reported, Event Hubs, Azure.Identity, Azure.Core, Container Registry, eslint plugin, Attestation

#18730 [Linter] Added ```sort-imports``` rule with "warning"
  common/tools/eslint-plugin-azure-sdk/.eslintrc.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/monitor/monitor-query/package.json
Labels: customer-reported, eslint plugin

#18779 [ESLint Plugin] Fix list of rules
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
Labels: eslint plugin

#18775 [App Config] Secret reference sample update
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
Labels: App Configuration

#18773 Remove the word experimental in readmes
  sdk/core/core-client-lro-rest/README.md
  sdk/core/core-client-paging-rest/README.md
  sdk/core/core-client-rest/README.md
  sdk/core/core-client/README.md
  sdk/core/core-rest-pipeline/README.md
  sdk/core/core-xml/README.md
Labels: Azure.Core, auto-merge
