Repository Azure/azure-sdk-for-js, pull requests merged in 2022-04, with the labels that each got.

#21143 Post release automated changes for advisor releases
  sdk/advisor/arm-advisor/CHANGELOG.md
  sdk/advisor/arm-advisor/package.json
  sdk/advisor/arm-advisor/src/advisorManagementClient.ts
Labels: Mgmt, auto-merge

#21144 Post release automated changes for security releases
  sdk/security/arm-security/CHANGELOG.md
  sdk/security/arm-security/package.json
  sdk/security/arm-security/src/securityCenter.ts
Labels: Mgmt, auto-merge

#21146 Post release automated changes for storage releases
  sdk/storage/arm-storage/CHANGELOG.md
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/storageManagementClient.ts
Labels: Mgmt, Storage, auto-merge

#21148 Post release automated changes for signalr releases
  sdk/signalr/arm-signalr/CHANGELOG.md
  sdk/signalr/arm-signalr/package.json
  sdk/signalr/arm-signalr/src/signalRManagementClient.ts
Labels: Mgmt, auto-merge

#21121 [Schema Registry Avro] Add schemaId to AvroSerializationError
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/models.ts
  sdk/schemaregistry/schema-registry-avro/test/public/errors.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/utils/assertAvroError.ts
  sdk/schemaregistry/schema-registry-avro/test/public/withMessagingClients.spec.ts
Labels: Schema Registry

#21154 Update utils CI to add all artifacts
  sdk/test-utils/ci.yml
  sdk/test-utils/test-utils/CHANGELOG.md
  sdk/test-utils/testing-recorder-new/CHANGELOG.md
Labels: Central-EngSys

#21165 @azure/monitor-opentelemetry-exporter 1.0.0-beta.7 release
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor

#21169 Sync eng/common directory with azure-sdk-tools for PR 2967
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#21135 Updating documents for max page size
  sdk/communication/communication-chat/src/generated/src/models/index.ts
Labels: auto-merge, Communication

#21170 Sync eng/common directory with azure-sdk-tools for PR 2966
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#20529 Container registry/blob push pull support
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_blob.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_oci_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_oci_manifest_from_stream.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_oci_manifest_stream_with_tag.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_oci_manifest_with_tag.json
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/index.ts
  sdk/containerregistry/container-registry/src/blob/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/blob/index.ts
  sdk/containerregistry/container-registry/src/blob/models.ts
  sdk/containerregistry/container-registry/src/generated/generatedClient.ts
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/src/generated/index.ts
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/src/generated/models/parameters.ts
  sdk/containerregistry/container-registry/src/generated/operations/authentication.ts
  sdk/containerregistry/container-registry/src/generated/operations/containerRegistry.ts
  sdk/containerregistry/container-registry/src/generated/operations/containerRegistryBlob.ts
  sdk/containerregistry/container-registry/src/generated/operationsInterfaces/containerRegistry.ts
  sdk/containerregistry/container-registry/src/generated/operationsInterfaces/containerRegistryBlob.ts
  sdk/containerregistry/container-registry/src/index.ts
  sdk/containerregistry/container-registry/src/utils/digest.ts
  sdk/containerregistry/container-registry/src/utils/helpers.ts
  sdk/containerregistry/container-registry/src/utils/wwwAuthenticateParser.ts
  sdk/containerregistry/container-registry/swagger/README.md
  sdk/containerregistry/container-registry/test/data/oci-artifact/654b93f61054e4ce90ed203bb8d556a6200d5f906cf3eca0620738d6dc18cbed
  sdk/containerregistry/container-registry/test/data/oci-artifact/config.json
  sdk/containerregistry/container-registry/test/data/oci-artifact/manifest.json
  sdk/containerregistry/container-registry/test/internal/basic.spec.ts
  sdk/containerregistry/container-registry/test/public/containerRegistryBlobClient.spec.ts
  sdk/containerregistry/container-registry/test/utils/utils.ts
  sdk/containerregistry/perf-tests/container-registry/package.json
Labels: Container Registry

#21164 Feature/schema registry avro stable
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventDataAdapter.ts
  sdk/schemaregistry/perf-tests/schema-registry-avro/test/serialize.spec.ts
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/samples-dev/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/models.ts
  sdk/schemaregistry/schema-registry-avro/src/utility.ts
  sdk/schemaregistry/schema-registry-avro/test/internal/messageAdapter.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/errors.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/withMessagingClients.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/utils.ts
Labels: Event Hubs, Schema Registry

#21176 [Schema Registry Avro] Fix nightly test
  sdk/schemaregistry/schema-registry-avro/test/public/errors.spec.ts
Labels: Schema Registry

#21183 Post release automated changes for digitaltwins releases
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/generated/azureDigitalTwinsAPIContext.ts
  sdk/digitaltwins/digital-twins-core/swagger/README.md
Labels: Digital Twins, auto-merge

#21180 [KeyVault] - Fix versioning for KV Keys
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault

#21173 [Tables] Fix query filter in listTables by page
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_by_page_with_filter.json
  sdk/tables/data-tables/recordings/browsers/tableserviceclient_listtables/recording_should_list_with_filter.json
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_by_page_with_filter.json
  sdk/tables/data-tables/recordings/node/tableserviceclient_listtables/recording_should_list_with_filter.json
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
Labels: Tables

#21189 [KeyVault] - Fix user-agent tests in KeyVault Admin
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/tracing.ts
  sdk/keyvault/keyvault-admin/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
Labels: KeyVault

#21200 Updating DigitalTwins README for #21105
  sdk/digitaltwins/dtdl-parser/README.md
Labels: Digital Twins

#21201 [Identity] update troubleshooting guide for invalid tenant id scenario
  sdk/identity/identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#21211 [Container Registry] Delete 1.0.1 changelog sections
  sdk/containerregistry/container-registry/CHANGELOG.md
Labels: Container Registry

#21198 [Event Hubs] Prepare release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#21214 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry, auto-merge

#21185 [Event Hubs] Fix sending Uint8Array
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsBufferedProducerClient.ts
Labels: Event Hubs, Schema Registry

#21215 [Schema Registry Avro] Prepare release
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
Labels: Schema Registry

#21217 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry, auto-merge

#21213 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: auto-merge, Communication

#21220 datafactory-track2-release
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/src/operations/dataFlowDebugSession.ts
  sdk/datafactory/arm-datafactory/src/operations/integrationRuntimeObjectMetadata.ts
  sdk/datafactory/arm-datafactory/src/operations/integrationRuntimes.ts
  sdk/datafactory/arm-datafactory/src/operations/triggers.ts
  sdk/datafactory/ci.mgmt.yml
Labels: Mgmt

#21231 Post release automated changes for containerinstance releases
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
Labels: Mgmt, auto-merge

#21230 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#21232 Added a missing space in Azure Communication READMEs
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-network-traversal/README.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-short-codes/README.md
Labels: Communication

#21207 Post release automated changes for communication releases
  sdk/communication/communication-identity/package.json
Labels: auto-merge, Communication

#21233 Post release automated changes for cognitiveservices releases
  sdk/cognitiveservices/arm-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
Labels: Mgmt, auto-merge

#21238 Post release automated changes for policyinsights releases
  sdk/policyinsights/arm-policyinsights/CHANGELOG.md
  sdk/policyinsights/arm-policyinsights/package.json
  sdk/policyinsights/arm-policyinsights/src/policyInsightsClient.ts
Labels: Mgmt, auto-merge

#18544 ParallelQueryExecutionContextBase breaks use of abortSignal
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
Labels: Cosmos

#21218 Azure Monitor Exporter Update unavailable and deprecated dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/README.md
  sdk/monitor/monitor-opentelemetry-exporter/README.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/basicTracerNode.ts
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/httpSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/src/httpSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/eventhub.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/flushSpanProcessor.ts
Labels: Monitor

#21242 [Event Hubs] Prepare release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#21251 [Schema Registry Avro] Publish samples
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/javascript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/javascript/schemaRegistryAvroSample.js
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/javascript/withEventHubsBufferedProducerClient.js
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/javascript/withEventHubsConsumerClient.js
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/javascript/withEventHubsProducerClient.js
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/typescript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/typescript/src/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/typescript/src/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/typescript/src/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1-beta/typescript/src/withEventHubsProducerClient.ts
Labels: Schema Registry

#21243 Post release automated changes for monitor releases
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
Labels: Monitor, auto-merge

#21255 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#20646 [ai-form-recognizer] Add tracing spans and tests
  sdk/formrecognizer/ai-form-recognizer/src/documentAnalysisClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/private/tracing.spec.ts
Labels: Cognitive - Form Recognizer

#21256 [Schema Registry] Use tracing
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/src/constants.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
Labels: Schema Registry

#21265 [Schema Registry Avro] Add perf test for deserialize
  sdk/schemaregistry/perf-tests/schema-registry-avro/README.md
  sdk/schemaregistry/perf-tests/schema-registry-avro/test/deserialize.spec.ts
  sdk/schemaregistry/perf-tests/schema-registry-avro/test/index.spec.ts
Labels: Schema Registry

#21273 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration, auto-merge

#21271 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#21274 Post release automated changes for apimanagement releases
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
Labels: Mgmt, auto-merge

#21276 Post release automated changes for kubernetesconfiguration releases
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/CHANGELOG.md
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/package.json
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/sourceControlConfigurationClient.ts
Labels: Mgmt, auto-merge

#21102 update Consistency level request change
  sdk/cosmosdb/cosmos/src/documents/DatabaseAccount.ts
Labels: Cosmos

#21167 [storage/blob,file-datalake] Fix browser mappings for BufferScheduler.js
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
Labels: Client, Storage

#21263 Sync eng/common directory with azure-sdk-tools for PR 3067
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#21289 [Schema Registry Avro] Update EH dep version
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry

#21253 [phone numbers sdk] Release 1.2.0-beta3
  sdk/communication/communication-phone-numbers/CHANGELOG.md
Labels: Communication, Communication - Phone Numbers

#21286 Prepare for release
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/purview/purview-catalog-rest/CHANGELOG.md
  sdk/tables/data-tables/CHANGELOG.md
Labels: Azure.Core, Tables, Purview

#21204 [web-pubsub] - Update to core-tracing 1.0
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_trace_through_the_various_options.json
  sdk/web-pubsub/web-pubsub/src/generated/generatedClientContext.ts
  sdk/web-pubsub/web-pubsub/src/groupClient.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/tracing.ts
  sdk/web-pubsub/web-pubsub/swagger/README.md
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
Labels: WebPubSub

#20766 [App Config] Migrate to core-v2
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfigurationContext.ts
  sdk/appconfiguration/app-configuration/src/generated/src/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/mappers.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/synctokenpolicy.ts
  sdk/appconfiguration/app-configuration/src/internal/tracingHelpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/policies/throttlingRetryPolicy.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/throttlingRetryPolicy.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/throttlingRetryPolicyTests.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/tracingHelpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
  sdk/appconfiguration/app-configuration/test/public/throwOrNotThrow.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-http-compat/review/core-http-compat.api.md
  sdk/core/core-http-compat/src/extendedClient.ts
  sdk/core/core-http-compat/src/index.ts
Labels: Azure.Core, App Configuration

#21283 Use a commit hash url when referencing the spec file
  sdk/communication/communication-short-codes/swagger/README.md
Labels: Communication

#21295 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#21141 [EventGrid] Update System Events and Prepare for Release
  .vscode/cspell.json
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#21298 [Schema Registry] Include name and groupName in SchemaProperties
  sdk/schemaregistry/schema-registry-avro/test/public/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/src/constants.ts
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/generated/index.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schema.ts
  sdk/schemaregistry/schema-registry/src/generated/operations/schemaGroupsOperations.ts
  sdk/schemaregistry/schema-registry/src/models.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
Labels: Schema Registry

#21279 update-meta-for-appconfiguration
  sdk/appconfiguration/arm-appconfiguration/_meta.json
Labels: Mgmt, App Configuration

#19890 Post release automated changes for machinelearningcompute releases
  sdk/machinelearningcompute/arm-machinelearningcompute/CHANGELOG.md
  sdk/machinelearningcompute/arm-machinelearningcompute/package.json
Labels: Mgmt, no-recent-activity, auto-merge

#21300 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid, auto-merge

#21319 [Core] Release 1.3.0 core-http-compat
  sdk/core/core-http-compat/CHANGELOG.md
Labels: Azure.Core

#21259 [Min-max] Script updates to refine regex and remove allowAlternativeVersions step
  eng/tools/dependency-testing/index.js
Labels: EngSys

#21310 [core] - Upgrade core-client and core-lro to core-tracing 1.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#21322 [Schema Registry Avro] Fix min/max testing
  sdk/schemaregistry/schema-registry-avro/test/public/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-avro/test/public/utils/mockedSerializer.ts
Labels: Schema Registry

#21324 Sync eng/common directory with azure-sdk-tools for PR 2963
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#21301 Post release automated changes for purview releases
  sdk/purview/purview-catalog-rest/CHANGELOG.md
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-catalog-rest/swagger/README.md
Labels: auto-merge, Purview

#21342 Sync eng/common directory with azure-sdk-tools for PR 2942
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#21290 [core] Remove @azure/core-asynciterator-polyfill usage
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-sdktype.ts
  dataplane.code-workspace
  eng/scripts/Language-Settings.ps1
  rush.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/core/ci.yml
  sdk/core/core-asynciterator-polyfill/.eslintrc.json
  sdk/core/core-asynciterator-polyfill/CHANGELOG.md
  sdk/core/core-asynciterator-polyfill/LICENSE
  sdk/core/core-asynciterator-polyfill/README.md
  sdk/core/core-asynciterator-polyfill/package.json
  sdk/core/core-asynciterator-polyfill/src/index.ts
  sdk/core/core-asynciterator-polyfill/tsconfig.json
  sdk/core/core-client/package.json
  sdk/core/core-client/src/index.ts
  sdk/core/core-http/package.json
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-paging/package.json
  sdk/core/core-paging/src/index.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/test/internal/partitionKeyHashMap.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/src/storage/messageStore.ts
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-keys/src/tracing.ts
  sdk/keyvault/keyvault-secrets/src/tracing.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
Labels: Service Bus, Event Hubs, Azure.Core, App Configuration, eslint plugin, dev-tool

#21264 [core-rest-pipeline] Update to core-tracing 1.0.0 GA
  dataplane.code-workspace
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/src/restError.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/src/tracingClient.ts
  sdk/core/core-tracing/src/tracingContext.ts
  sdk/core/core-tracing/test/tracingClient.spec.ts
  sdk/core/core-tracing/test/tracingContext.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.browser.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumenter.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/instrumenter.spec.ts
Labels: Client, Azure.Core

#21216 [ACR] Remove accidental samples-dev/index.ts
  sdk/containerregistry/container-registry/samples-dev/index.ts
Labels: Container Registry

#21254 [App Config] Tracing updates
  .vscode/settings.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/recordings/node/supports_tracing/recording_can_trace_through_the_various_options.js
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/tracing.ts
  sdk/appconfiguration/app-configuration/src/internal/tracingHelpers.ts
  sdk/appconfiguration/app-configuration/test/internal/tracingHelpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/tracing.spec.ts
Labels: App Configuration

#21349 Sync eng/common directory with azure-sdk-tools for PR 3123
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#21348 Sync eng/common directory with azure-sdk-tools for PR 3124
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#21354 [App Config] Tracing changes followup - update changelog
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/core/core-http-compat/CHANGELOG.md
Labels: App Configuration

#21261 [Identity] Upgrade to core-tracing 1.0
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_supports_tracing.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.browser.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.browser.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/util/tracing.ts
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/identity/identity/test/public/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#21370 [eventhubs] - Update mocks to return TracingContext
  sdk/eventhub/event-hubs/test/internal/diagnostics/tracing.spec.ts
  sdk/test-utils/test-utils/src/index.ts
  sdk/test-utils/test-utils/src/tracing/mockContext.ts
Labels: Event Hubs

#21374 [core-tracing] Fix linter errors
  sdk/core/core-tracing/test/tracingClient.spec.ts
Labels: Azure.Core

#20753 try fix string body
  sdk/core/core-client-rest/src/sendRequest.ts
Labels: Azure.Core

#21375 [core,appconfig] Fix linter errors
  sdk/appconfiguration/app-configuration/test/public/tracing.spec.ts
  sdk/core/core-rest-pipeline/src/restError.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
Labels: Azure.Core, App Configuration

#21277 Syanpse April release
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/datasetOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/index.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/kqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/kqlScripts.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkConnectionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedServiceOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/metastore.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperationResult.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkConfigurationOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinitionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/index.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/linkConnectionOperations.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Azure.Core, Synapse

#21376 update-meta.json
  sdk/appplatform/arm-appplatform/_meta.json
  sdk/appservice/arm-appservice/_meta.json
Labels: Mgmt

#21372 [EngSys] fix rush format
  common/tools/dev-tool/src/commands/run/index.ts
  common/tools/eslint-plugin-azure-sdk/README.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-doc-internal-private-member.md
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-doc-internal-private-member.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-doc-internal-private-member.ts
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-crypto/package.json
  sdk/core/core-http/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
Labels: Azure.Core, eslint plugin, dev-tool

#21345 Fix up issues related to CHANGELOG.md and Versions
  sdk/communication/communication-sms/package.json
Labels: Azure.Core, Communication

#21352 [core-util] GA library and adopt in core-rest-pipeline
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-identity/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/src/restError.ts
  sdk/core/core-rest-pipeline/src/retryStrategies/exponentialRetryStrategy.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/error.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/src/object.ts
  sdk/core/core-util/src/random.ts
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/servicebus/service-bus/package.json
  sdk/test-utils/recorder/package.json
Labels: Client, Service Bus, KeyVault, Azure.Identity, Azure.Core, Communication, AgriFood, Remote Rendering

#21092 Sync eng/common directory with azure-sdk-tools for PR 3000
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#21270 Add support for change feed schema V3, V4 and V5
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v1_test.js
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v3_test.js
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v4_test.js
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v5_test.js
  sdk/storage/storage-blob-changefeed/review/storage-blob-changefeed.api.md
  sdk/storage/storage-blob-changefeed/src/Chunk.ts
  sdk/storage/storage-blob-changefeed/src/models/BlobChangeFeedEvent.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.common.ts
  sdk/storage/storage-blob-changefeed/test/blobchangefeedclient.spec.ts
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV1.json
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV3.json
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV4.json
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV5.json
  sdk/storage/storage-blob-changefeed/test/utils/testutils.common.ts
Labels: Storage

#21391 [engsys] fix core-util linter errors
  sdk/core/core-util/src/error.ts
  sdk/core/core-util/src/random.ts
Labels: Azure.Core

#21396 mediaservice-track2
  common/config/rush/pnpm-lock.yaml
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/LICENSE
  sdk/mediaservices/arm-mediaservices/README.md
  sdk/mediaservices/arm-mediaservices/_meta.json
  sdk/mediaservices/arm-mediaservices/api-extractor.json
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/review/arm-mediaservices.api.md
  sdk/mediaservices/arm-mediaservices/rollup.config.js
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
  sdk/mediaservices/arm-mediaservices/src/models/index.ts
  sdk/mediaservices/arm-mediaservices/src/models/mappers.ts
  sdk/mediaservices/arm-mediaservices/src/models/parameters.ts
  sdk/mediaservices/arm-mediaservices/src/operations/accountFilters.ts
  sdk/mediaservices/arm-mediaservices/src/operations/contentKeyPolicies.ts
  sdk/mediaservices/arm-mediaservices/src/operations/index.ts
  sdk/mediaservices/arm-mediaservices/src/operations/jobs.ts
  sdk/mediaservices/arm-mediaservices/src/operations/liveEvents.ts
  sdk/mediaservices/arm-mediaservices/src/operations/liveOutputs.ts
  sdk/mediaservices/arm-mediaservices/src/operations/locations.ts
  sdk/mediaservices/arm-mediaservices/src/operations/mediaservices.ts
  sdk/mediaservices/arm-mediaservices/src/operations/operationResults.ts
  sdk/mediaservices/arm-mediaservices/src/operations/operationStatuses.ts
  sdk/mediaservices/arm-mediaservices/src/operations/operations.ts
  sdk/mediaservices/arm-mediaservices/src/operations/privateEndpointConnections.ts
  sdk/mediaservices/arm-mediaservices/src/operations/privateLinkResources.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingEndpoints.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingLocators.ts
  sdk/mediaservices/arm-mediaservices/src/operations/streamingPolicies.ts
  sdk/mediaservices/arm-mediaservices/src/operations/tracks.ts
  sdk/mediaservices/arm-mediaservices/src/operations/transforms.ts
  sdk/mediaservices/arm-mediaservices/src/operationsInterfaces/index.ts
  sdk/mediaservices/arm-mediaservices/src/operationsInterfaces/operationResults.ts
  sdk/mediaservices/arm-mediaservices/src/operationsInterfaces/operationStatuses.ts
  sdk/mediaservices/arm-mediaservices/src/operationsInterfaces/streamingEndpoints.ts
  sdk/mediaservices/arm-mediaservices/src/operationsInterfaces/tracks.ts
  sdk/mediaservices/arm-mediaservices/tsconfig.json
  sdk/mediaservices/ci.mgmt.yml
Labels: Mgmt

#21399 Post release automated changes for mediaservices releases
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
Labels: Mgmt, auto-merge

#21401 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt, auto-merge

#21400 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#21365 Post release automated changes for test-utils releases
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
Labels: auto-merge

#21205 Updating AppConfig README with Troubleshooting Section
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration

#21355 [Recorder] Ensure redirected requests are passed to the recorder in Node
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/test/testProxyClient.spec.ts
  sdk/test-utils/recorder/test/testProxyTests.spec.ts
  sdk/test-utils/recorder/test/utils/server.ts
Labels: test-utils-recorder

#21408 Fix error handling in deleteTable
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/test/internal/errorHandling.spec.ts
Labels: Tables

#21409 [core-rest-pipeline] - Bump core-tracing min-version to 1.0.1
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/package.json
Labels: Azure.Core

#21412 [core-http] fix xml and user agent policy for react-native
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/policies/msRestUserAgentPolicy.browser.ts
  sdk/core/core-http/src/policies/msRestUserAgentPolicy.native.ts
Labels: Azure.Core

#21413 Sync eng/common directory with azure-sdk-tools for PR 3145
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#21394 [Identity] authorization code credential bug fixes
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalAuthorizationCode.ts
Labels: Client, Azure.Identity

#21136 [Monitor query] Troubleshooting guide for Support
  sdk/monitor/monitor-query/TROUBLESHOOTING.md
Labels: Monitor

#21414 [Tables] Pin api-view version
  common/config/rush/pnpm-lock.yaml
  sdk/tables/data-tables/package.json
Labels: Tables, auto-merge

#21325 [core-client-rest] Support working with streams in Rest Clients
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/clientHelpers.ts
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/src/helpers/isReadableStream.browser.ts
  sdk/core/core-client-rest/src/helpers/isReadableStream.ts
  sdk/core/core-client-rest/src/restError.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/browser/streams.spec.ts
  sdk/core/core-client-rest/test/getClient.spec.ts
  sdk/core/core-client-rest/test/mocks/encodedPng.ts
  sdk/core/core-client-rest/test/node/streams.spec.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core, auto-merge, Purview

#21418 Post release automated changes for billing releases
  sdk/billing/arm-billing/CHANGELOG.md
  sdk/billing/arm-billing/package.json
  sdk/billing/arm-billing/src/billingManagementClient.ts
Labels: Mgmt, auto-merge

#21419 Post release automated changes for botservice releases
  sdk/botservice/arm-botservice/CHANGELOG.md
  sdk/botservice/arm-botservice/package.json
  sdk/botservice/arm-botservice/src/azureBotService.ts
Labels: Mgmt, auto-merge

#21421 Post release automated changes for commerce releases
  sdk/commerce/arm-commerce/CHANGELOG.md
  sdk/commerce/arm-commerce/package.json
  sdk/commerce/arm-commerce/src/usageManagementClient.ts
Labels: Mgmt, auto-merge

#21420 Post release automated changes for changeanalysis releases
  sdk/changeanalysis/arm-changeanalysis/CHANGELOG.md
  sdk/changeanalysis/arm-changeanalysis/package.json
  sdk/changeanalysis/arm-changeanalysis/src/azureChangeAnalysisManagementClient.ts
Labels: Mgmt, auto-merge

#21403 appconfiguration-release
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/_meta.json
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/README.md
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresCreateSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresDeleteSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresGetDeletedSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresGetSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresListByResourceGroupSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresListDeletedSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresListKeysSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresListSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresPurgeDeletedSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresRegenerateKeySample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/configurationStoresUpdateSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/keyValuesCreateOrUpdateSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/keyValuesDeleteSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/keyValuesGetSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/keyValuesListByConfigurationStoreSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/operationsCheckNameAvailabilitySample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/operationsRegionalCheckNameAvailabilitySample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/package.json
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/privateEndpointConnectionsCreateOrUpdateSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/privateEndpointConnectionsDeleteSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/privateEndpointConnectionsGetSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/privateEndpointConnectionsListByConfigurationStoreSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/privateLinkResourcesGetSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/privateLinkResourcesListByConfigurationStoreSample.js
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/javascript/sample.env
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/README.md
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/package.json
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/sample.env
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresCreateSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresDeleteSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresGetDeletedSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresGetSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresListByResourceGroupSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresListDeletedSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresListKeysSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresListSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresPurgeDeletedSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresRegenerateKeySample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/configurationStoresUpdateSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/keyValuesCreateOrUpdateSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/keyValuesDeleteSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/keyValuesGetSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/keyValuesListByConfigurationStoreSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/operationsCheckNameAvailabilitySample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/operationsRegionalCheckNameAvailabilitySample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/privateEndpointConnectionsCreateOrUpdateSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/privateEndpointConnectionsDeleteSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/privateEndpointConnectionsGetSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/privateEndpointConnectionsListByConfigurationStoreSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/privateLinkResourcesGetSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/src/privateLinkResourcesListByConfigurationStoreSample.ts
  sdk/appconfiguration/arm-appconfiguration/samples/v3-beta/typescript/tsconfig.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration

#20972 Support the skipUrlEncoding option at query parameter
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/urlHelpers.spec.ts
Labels: Azure.Core

#21424 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/src/batchManagementClient.ts
Labels: Mgmt, Batch, auto-merge

#21426 Post release automated changes for azurestack releases
  sdk/azurestack/arm-azurestack/CHANGELOG.md
  sdk/azurestack/arm-azurestack/package.json
  sdk/azurestack/arm-azurestack/src/azureStackManagementClient.ts
Labels: Mgmt, auto-merge

#21425 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration, auto-merge

#21433 Post release automated changes for containerregistry releases
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
Labels: Mgmt, Container Registry, auto-merge

#21436 Post release automated changes for communication releases
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
Labels: Mgmt, auto-merge, Communication

#21435 Post release automated changes for confluent releases
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/package.json
  sdk/confluent/arm-confluent/src/confluentManagementClient.ts
Labels: Mgmt, auto-merge

#21434 Post release automated changes for consumption releases
  sdk/consumption/arm-consumption/CHANGELOG.md
  sdk/consumption/arm-consumption/package.json
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
Labels: Mgmt, auto-merge

#21407 [App Config] Erase circular references - fix build failure
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/src/internal/tracing.ts
  sdk/appconfiguration/app-configuration/test/internal/node/package.spec.ts
Labels: App Configuration

#21357 [Docs][EventHub,ServiceBus] add information about browser polyfills
  sdk/eventhub/event-hubs/README.md
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, Event Hubs

#21411 [EventGrid] Support Channel Names for Partner Topics
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/swagger/README.md
  sdk/eventgrid/perf-tests/eventgrid/package.json
Labels: Event Grid

#21423 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#21437 Sync eng/common directory with azure-sdk-tools for PR 3153
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#21209 [Identity] [AzureCliCredential] Fixed bug when the Azure CLI reports a warning
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
Labels: Azure.Identity

#21438 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid, auto-merge

#21440 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse, auto-merge

#21415 [Storage] add `react-native` mapping to ESM entry point
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
Labels: Client, Storage

#21280 Add support for contination token in getting page ranges.
  sdk/storage/storage-blob/recordings/browsers/blobclient_conditional_tags/recording_pageblobclientlistpageranges.json
  sdk/storage/storage-blob/recordings/browsers/blobclient_conditional_tags/recording_pageblobclientlistpagerangesdiff.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_listpageranges.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_listpagerangesdiff.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiterator_for_listpageranges.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiterator_for_listpagerangesdiff.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiteratorbypage__continuationtoken_for_listpageranges.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiteratorbypage__continuationtoken_for_listpagerangesdiff.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiteratorbypage_for_listpageranges.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiteratorbypage_for_listpagerangesdiff.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiteratorgenerator_next_syntax_for_listpageranges.json
  sdk/storage/storage-blob/recordings/browsers/pageblobclient/recording_verify_pagedasynciterableiteratorgenerator_next_syntax_for_listpagerangesdiff.json
  sdk/storage/storage-blob/recordings/node/blobclient_conditional_tags/recording_pageblobclientlistpageranges.js
  sdk/storage/storage-blob/recordings/node/blobclient_conditional_tags/recording_pageblobclientlistpagerangesdiff.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_query_should_work_with_arrow_output_configurations.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_synccopyfromurl__with_copy_tags.js
  sdk/storage/storage-blob/recordings/node/blobclient_nodejs_only/recording_synccopyfromurl__with_replace_tags.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_listpageranges.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_listpagerangesdiff.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiterator_for_listpageranges.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiterator_for_listpagerangesdiff.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiteratorbypage__continuationtoken_for_listpageranges.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiteratorbypage__continuationtoken_for_listpagerangesdiff.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiteratorbypage_for_listpageranges.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiteratorbypage_for_listpagerangesdiff.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiteratorgenerator_next_syntax_for_listpageranges.js
  sdk/storage/storage-blob/recordings/node/pageblobclient/recording_verify_pagedasynciterableiteratorgenerator_next_syntax_for_listpagerangesdiff.js
  sdk/storage/storage-blob/recordings/node/syncuploadfromurl/recording_syncuploadfromurl__with_copy_tags.js
  sdk/storage/storage-blob/recordings/node/syncuploadfromurl/recording_syncuploadfromurl__with_replace_tags.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/PageBlobRangeResponse.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/operations/blockBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/pageBlob.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
Labels: Storage

#21444 Post release automated changes for customer-insights releases
  sdk/customer-insights/arm-customerinsights/CHANGELOG.md
  sdk/customer-insights/arm-customerinsights/package.json
  sdk/customer-insights/arm-customerinsights/src/customerInsightsManagementClient.ts
Labels: Mgmt, auto-merge

#21443 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, Cosmos, auto-merge

#21445 Post release automated changes for databox releases
  sdk/databox/arm-databox/CHANGELOG.md
  sdk/databox/arm-databox/package.json
  sdk/databox/arm-databox/src/dataBoxManagementClient.ts
Labels: Mgmt, auto-merge

#21447 Post release automated changes for databricks releases
  sdk/databricks/arm-databricks/CHANGELOG.md
  sdk/databricks/arm-databricks/package.json
  sdk/databricks/arm-databricks/src/azureDatabricksManagementClient.ts
Labels: Mgmt, auto-merge

#21446 Post release automated changes for databoxedge releases
  sdk/databoxedge/arm-databoxedge/CHANGELOG.md
  sdk/databoxedge/arm-databoxedge/package.json
  sdk/databoxedge/arm-databoxedge/src/dataBoxEdgeManagementClient.ts
Labels: Mgmt, auto-merge

#21208 Updating Service-Bus dependency long from 4 to 5.2
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/internal/receiveAndDeleteMode.spec.ts
  sdk/servicebus/service-bus/test/public/deferredMessage.spec.ts
Labels: Service Bus

#21459 [engsys] fixing linter errors
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
  sdk/storage/storage-blob-changefeed/src/utils/utils.common.ts
  sdk/storage/storage-blob-changefeed/test/utils/testutils.common.ts
Labels: Storage, Azure.Core, Event Grid

#21442 Change to parse wasSoftDeleted from a string in change feed.
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/quantum/quantum-jobs/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/src/utils/utils.common.ts
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV3.json
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV4.json
  sdk/storage/storage-blob-changefeed/test/resources/EventSchemaV5.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Storage

#21471 datacatalog-release
  common/config/rush/pnpm-lock.yaml
  sdk/datacatalog/arm-datacatalog/CHANGELOG.md
  sdk/datacatalog/arm-datacatalog/LICENSE.txt
  sdk/datacatalog/arm-datacatalog/README.md
  sdk/datacatalog/arm-datacatalog/_meta.json
  sdk/datacatalog/arm-datacatalog/api-extractor.json
  sdk/datacatalog/arm-datacatalog/package.json
  sdk/datacatalog/arm-datacatalog/review/arm-datacatalog.api.md
  sdk/datacatalog/arm-datacatalog/rollup.config.js
  sdk/datacatalog/arm-datacatalog/sample.env
  sdk/datacatalog/arm-datacatalog/samples-dev/adcCatalogsCreateOrUpdateSample.ts
  sdk/datacatalog/arm-datacatalog/samples-dev/adcCatalogsDeleteSample.ts
  sdk/datacatalog/arm-datacatalog/samples-dev/adcCatalogsGetSample.ts
  sdk/datacatalog/arm-datacatalog/samples-dev/adcCatalogsListtByResourceGroupSample.ts
  sdk/datacatalog/arm-datacatalog/samples-dev/adcCatalogsUpdateSample.ts
  sdk/datacatalog/arm-datacatalog/samples-dev/adcOperationsListSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/README.md
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/adcCatalogsCreateOrUpdateSample.js
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/adcCatalogsDeleteSample.js
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/adcCatalogsGetSample.js
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/adcCatalogsListtByResourceGroupSample.js
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/adcCatalogsUpdateSample.js
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/adcOperationsListSample.js
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/package.json
  sdk/datacatalog/arm-datacatalog/samples/v4/javascript/sample.env
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/README.md
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/package.json
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/sample.env
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/src/adcCatalogsCreateOrUpdateSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/src/adcCatalogsDeleteSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/src/adcCatalogsGetSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/src/adcCatalogsListtByResourceGroupSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/src/adcCatalogsUpdateSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/src/adcOperationsListSample.ts
  sdk/datacatalog/arm-datacatalog/samples/v4/typescript/tsconfig.json
  sdk/datacatalog/arm-datacatalog/src/dataCatalogRestClient.ts
  sdk/datacatalog/arm-datacatalog/src/operations/aDCCatalogs.ts
  sdk/datacatalog/arm-datacatalog/src/operationsInterfaces/aDCCatalogs.ts
  sdk/datacatalog/arm-datacatalog/tsconfig.json
  sdk/datacatalog/ci.mgmt.yml
Labels: Mgmt

#21404 Fix failing live tests pipeline
  sdk/communication/communication-identity/test/public/utils/mockHttpClients.ts
Labels: Communication

#21460 [Identity] Documenting the Azure Identity's account identifier logging feature
  sdk/identity/identity/README.md
Labels: Azure.Identity

#21343 [Communication] - short-codes - fixing live tests for communication-short-codes
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_get_update_list_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_us_program_brief_using_upsert/recording_can_create_get_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__updates_us_program_brief_using_upsert/recording_can_create_and_update_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_get_update_list_and_delete_a_us_program_brief.js
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_us_program_brief_using_upsert/recording_can_create_get_and_delete_a_us_program_brief.js
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.js
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__updates_us_program_brief_using_upsert/recording_can_create_and_update_a_us_program_brief.js
  sdk/communication/communication-short-codes/test/public/manageUSProgramBriefs.spec.ts
Labels: Communication

#21482 Sync eng/common directory with azure-sdk-tools for PR 3160
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#21386 [engsys] enable @typescript-eslint/no-implicit-any-catch rule
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
Labels: eslint plugin

#21481 [core] upgrade `typescript` dev dependency from 4.2 to 4.6
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-crypto/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-http/package.json
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/perf-tests/core-rest-pipeline/package.json
Labels: Azure.Core

#21480 Add mermaid.js diagram for DefaultAzureCredential
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#21488 Post release automated changes for datamigration releases
  sdk/datamigration/arm-datamigration/CHANGELOG.md
  sdk/datamigration/arm-datamigration/package.json
  sdk/datamigration/arm-datamigration/src/dataMigrationManagementClient.ts
Labels: Mgmt, auto-merge

#21487 Post release automated changes for devtestlabs releases
  sdk/devtestlabs/arm-devtestlabs/CHANGELOG.md
  sdk/devtestlabs/arm-devtestlabs/package.json
  sdk/devtestlabs/arm-devtestlabs/src/devTestLabsClient.ts
Labels: Mgmt, auto-merge

#21489 Post release automated changes for datalake-analytics releases
  sdk/datalake-analytics/arm-datalake-analytics/CHANGELOG.md
  sdk/datalake-analytics/arm-datalake-analytics/package.json
  sdk/datalake-analytics/arm-datalake-analytics/src/dataLakeAnalyticsAccountManagementClient.ts
Labels: Mgmt, auto-merge

#21492 Post release automated changes for deviceprovisioningservices releases
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/package.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/iotDpsClient.ts
Labels: Mgmt, auto-merge

#21491 Post release automated changes for desktopvirtualization releases
  sdk/desktopvirtualization/arm-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/arm-desktopvirtualization/package.json
  sdk/desktopvirtualization/arm-desktopvirtualization/src/desktopVirtualizationAPIClient.ts
Labels: auto-merge

#21490 Post release automated changes for deploymentmanager releases
  sdk/deploymentmanager/arm-deploymentmanager/CHANGELOG.md
  sdk/deploymentmanager/arm-deploymentmanager/package.json
  sdk/deploymentmanager/arm-deploymentmanager/src/azureDeploymentManager.ts
Labels: Mgmt, auto-merge

#21486 Replace DefaultAzureCredential auth flow diagram
  sdk/identity/identity/README.md
  sdk/identity/identity/images/DefaultAzureCredentialAuthenticationFlow.png
Labels: Azure.Identity

#21503 Post release automated changes for iotcentral releases
  sdk/iotcentral/arm-iotcentral/CHANGELOG.md
  sdk/iotcentral/arm-iotcentral/package.json
  sdk/iotcentral/arm-iotcentral/src/iotCentralClient.ts
Labels: Mgmt, auto-merge
