Repository Azure/azure-sdk-for-js, pull requests merged in 2022-07, with the labels that each got.

#22413 refresh managementpartner package
  common/config/rush/pnpm-lock.yaml
  sdk/managementpartner/arm-managementpartner/CHANGELOG.md
  sdk/managementpartner/arm-managementpartner/README.md
  sdk/managementpartner/arm-managementpartner/_meta.json
  sdk/managementpartner/arm-managementpartner/package.json
  sdk/managementpartner/arm-managementpartner/recordings/node/my_test/recording_sample_test.js
  sdk/managementpartner/arm-managementpartner/recordings/node/my_test/recording_sample_test.json
  sdk/managementpartner/arm-managementpartner/review/arm-managementpartner.api.md
  sdk/managementpartner/arm-managementpartner/samples-dev/deletePartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples-dev/getOperations.ts
  sdk/managementpartner/arm-managementpartner/samples-dev/getPartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples-dev/patchPartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples-dev/putPartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples/v2/javascript/README.md
  sdk/managementpartner/arm-managementpartner/samples/v2/javascript/deletePartnerDetails.js
  sdk/managementpartner/arm-managementpartner/samples/v2/javascript/getOperations.js
  sdk/managementpartner/arm-managementpartner/samples/v2/javascript/getPartnerDetails.js
  sdk/managementpartner/arm-managementpartner/samples/v2/javascript/patchPartnerDetails.js
  sdk/managementpartner/arm-managementpartner/samples/v2/javascript/putPartnerDetails.js
  sdk/managementpartner/arm-managementpartner/samples/v2/typescript/README.md
  sdk/managementpartner/arm-managementpartner/samples/v2/typescript/src/deletePartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples/v2/typescript/src/getOperations.ts
  sdk/managementpartner/arm-managementpartner/samples/v2/typescript/src/getPartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples/v2/typescript/src/patchPartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples/v2/typescript/src/putPartnerDetails.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/README.md
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/operationListSample.js
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/package.json
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/partnerCreateSample.js
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/partnerDeleteSample.js
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/partnerGetSample.js
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/partnerUpdateSample.js
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/partnersGetSample.js
  sdk/managementpartner/arm-managementpartner/samples/v3/javascript/sample.env
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/README.md
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/package.json
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/sample.env
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/src/operationListSample.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/src/partnerCreateSample.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/src/partnerDeleteSample.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/src/partnerGetSample.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/src/partnerUpdateSample.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/src/partnersGetSample.ts
  sdk/managementpartner/arm-managementpartner/samples/v3/typescript/tsconfig.json
  sdk/managementpartner/arm-managementpartner/src/aCEProvisioningManagementPartnerAPI.ts
  sdk/managementpartner/arm-managementpartner/src/models/index.ts
  sdk/managementpartner/arm-managementpartner/src/models/mappers.ts
  sdk/managementpartner/arm-managementpartner/test/sampleTest.ts
Labels: Mgmt

#22426 Post release automated changes for managementpartner releases
  sdk/managementpartner/arm-managementpartner/CHANGELOG.md
  sdk/managementpartner/arm-managementpartner/package.json
  sdk/managementpartner/arm-managementpartner/src/aCEProvisioningManagementPartnerAPI.ts
Labels: Mgmt, auto-merge

#22438 Post release automated changes for migrate releases
  sdk/migrate/arm-migrate/CHANGELOG.md
  sdk/migrate/arm-migrate/package.json
  sdk/migrate/arm-migrate/src/azureMigrateV2.ts
Labels: Mgmt, auto-merge

#22437 refresh storageimportexport package
  common/config/rush/pnpm-lock.yaml
  sdk/storageimportexport/arm-storageimportexport/CHANGELOG.md
  sdk/storageimportexport/arm-storageimportexport/README.md
  sdk/storageimportexport/arm-storageimportexport/_meta.json
  sdk/storageimportexport/arm-storageimportexport/package.json
  sdk/storageimportexport/arm-storageimportexport/recordings/node/my_test/recording_sample_test.js
  sdk/storageimportexport/arm-storageimportexport/recordings/node/my_test/recording_sample_test.json
  sdk/storageimportexport/arm-storageimportexport/review/arm-storageimportexport.api.md
  sdk/storageimportexport/arm-storageimportexport/src/models/index.ts
  sdk/storageimportexport/arm-storageimportexport/src/storageImportExport.ts
  sdk/storageimportexport/arm-storageimportexport/test/sampleTest.ts
Labels: Mgmt

#22440 Post release automated changes for policy releases
  sdk/policy/arm-policy/CHANGELOG.md
  sdk/policy/arm-policy/package.json
  sdk/policy/arm-policy/src/policyClient.ts
Labels: Mgmt, auto-merge

#22432 Sync eng/common directory with azure-sdk-tools for PR 3563
  eng/common/pipelines/templates/steps/verify-samples.yml
Labels: EngSys, Central-EngSys

#22446 [KeyVault] Changelog for keyvault-admin release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
Labels: KeyVault

#22453 Sync eng/common directory with azure-sdk-tools for PR 3428
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#22447 [KeyVault] Fix keyvault-admin live tests
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginbackup/recording_throws_when_polling_errors.js
  sdk/keyvault/keyvault-admin/recordings/node/keyvaultbackupclient_beginrestore/recording_throws_when_polling_errors.js
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Labels: KeyVault

#22452 [KeyVault] Prepare-release changes for keyvault-admin
  sdk/keyvault/keyvault-admin/CHANGELOG.md
Labels: KeyVault

#22448 [engsys] Upgrade dependency @typescript-eslint/* to ~5.30.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#22456 [Azure Monitor Exporter] Add unref to avoid server to block samples execution
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/httpSample.ts
Labels: Monitor

#22458 Update CHANGELOG.md
  sdk/support/arm-support/CHANGELOG.md
Labels: Mgmt

#22460 refresh vmwarecloudsimple package
  common/config/rush/pnpm-lock.yaml
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/CHANGELOG.md
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/README.md
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/_meta.json
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/package.json
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/recordings/node/my_test/recording_sample_test.js
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/recordings/node/my_test/recording_sample_test.json
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/review/arm-vmwarecloudsimple.api.md
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/src/models/index.ts
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/src/vMwareCloudSimple.ts
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/test/sampleTest.ts
Labels: Mgmt

#22442 refresh avs package
  common/config/rush/pnpm-lock.yaml
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/README.md
  sdk/avs/arm-avs/_meta.json
  sdk/avs/arm-avs/api-extractor.json
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/recordings/node/my_test/recording_sample_test.js
  sdk/avs/arm-avs/recordings/node/my_test/recording_sample_test.json
  sdk/avs/arm-avs/review/arm-avs.api.md
  sdk/avs/arm-avs/rollup.config.js
  sdk/avs/arm-avs/sample.env
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
  sdk/avs/arm-avs/src/models/index.ts
  sdk/avs/arm-avs/src/operations/addons.ts
  sdk/avs/arm-avs/src/operations/authorizations.ts
  sdk/avs/arm-avs/src/operations/cloudLinks.ts
  sdk/avs/arm-avs/src/operations/clusters.ts
  sdk/avs/arm-avs/src/operations/datastores.ts
  sdk/avs/arm-avs/src/operations/globalReachConnections.ts
  sdk/avs/arm-avs/src/operations/placementPolicies.ts
  sdk/avs/arm-avs/src/operations/privateClouds.ts
  sdk/avs/arm-avs/src/operations/scriptExecutions.ts
  sdk/avs/arm-avs/src/operations/virtualMachines.ts
  sdk/avs/arm-avs/src/operations/workloadNetworks.ts
  sdk/avs/arm-avs/test/sampleTest.ts
  sdk/avs/arm-avs/tsconfig.json
  sdk/avs/ci.mgmt.yml
Labels: Mgmt

#22461 Post release automated changes for support releases
  sdk/support/arm-support/CHANGELOG.md
  sdk/support/arm-support/package.json
  sdk/support/arm-support/src/microsoftSupport.ts
Labels: Mgmt, auto-merge

#22462 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
Labels: Mgmt, auto-merge

#22463 Post release automated changes for vmwarecloudsimple releases
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/CHANGELOG.md
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/package.json
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/src/vMwareCloudSimple.ts
Labels: Mgmt, auto-merge

#22464 modify links in sdk repo
  sdk/compute/arm-compute/samples-dev/dedicatedHostsRestartSample.ts
  sdk/compute/arm-compute/samples/v19/javascript/README.md
  sdk/compute/arm-compute/samples/v19/javascript/dedicatedHostsRestartSample.js
  sdk/compute/arm-compute/samples/v19/typescript/README.md
  sdk/compute/arm-compute/samples/v19/typescript/src/dedicatedHostsRestartSample.ts
  sdk/compute/arm-compute/src/operations/dedicatedHosts.ts
  sdk/compute/arm-compute/src/operationsInterfaces/dedicatedHosts.ts
  sdk/databricks/arm-databricks/samples-dev/outboundNetworkDependenciesEndpointsListSample.ts
  sdk/databricks/arm-databricks/samples/v3-beta/javascript/README.md
  sdk/databricks/arm-databricks/samples/v3-beta/javascript/outboundNetworkDependenciesEndpointsListSample.js
  sdk/databricks/arm-databricks/samples/v3-beta/typescript/README.md
  sdk/databricks/arm-databricks/samples/v3-beta/typescript/src/outboundNetworkDependenciesEndpointsListSample.ts
  sdk/databricks/arm-databricks/src/operations/outboundNetworkDependenciesEndpoints.ts
  sdk/databricks/arm-databricks/src/operationsInterfaces/outboundNetworkDependenciesEndpoints.ts
  sdk/deploymentmanager/arm-deploymentmanager/README.md
Labels: Mgmt

#22465 update web package with new command
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/_meta.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_create_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_delete_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_get_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_appserviceplans_list_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_create_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_delete_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_get_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_list_test.json
  sdk/appservice/arm-appservice/recordings/node/web_test/recording_webapps_update_test.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt

#22435 release confidentialledger package
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/_meta.json
  sdk/confidentialledger/arm-confidentialledger/package.json
  sdk/confidentialledger/arm-confidentialledger/review/arm-confidentialledger.api.md
  sdk/confidentialledger/arm-confidentialledger/src/confidentialLedgerClient.ts
  sdk/confidentialledger/arm-confidentialledger/src/models/index.ts
Labels: Confidential Ledger

#22467 Post release automated changes for education releases
  sdk/education/arm-education/CHANGELOG.md
  sdk/education/arm-education/package.json
  sdk/education/arm-education/src/educationManagementClient.ts
Labels: auto-merge

#22470 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt, auto-merge

#22471 Post release automated changes for confidentialledger releases
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/package.json
  sdk/confidentialledger/arm-confidentialledger/src/confidentialLedgerClient.ts
Labels: auto-merge, Confidential Ledger

#22473 [Azure Monitor Exporter] Build samples to reflect latest changes in dev
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/httpSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/httpSample.js
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/src/httpSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/src/metricsSample.ts
Labels: Monitor

#22479 Sync eng/common directory with azure-sdk-tools for PR 3568
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys, Central-EngSys

#22477 [@azure/search-documents] Update Dependency of `@azure/core-tracing` package
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/tracing.ts
Labels: Search

#22478 Add an `createRule` overload that doesn't take `ruleAction`
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/serviceBusRuleManager.ts
  sdk/servicebus/service-bus/test/public/ruleManager.spec.ts
Labels: Service Bus

#22475 Sync eng/common directory with azure-sdk-tools for PR 3500
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22483 [KeyVault] Prepare July preview releases of `keyvault-keys`, `keyvault-certificates` and `keyvault-secrets`
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#22485 Sync eng/common directory with azure-sdk-tools for PR 3480
  eng/common/pipelines/templates/steps/validate-filename.yml
Labels: EngSys, Central-EngSys

#22480 [Azure Monitor Exporter] Update changelog for 1.0.0-beta.8 release
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor

#22495 Sync eng/common directory with azure-sdk-tools for PR 3546
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#22490 [KeyVault] Fix integration test path for keyvault-keys
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/public/utils/common.ts
Labels: KeyVault

#22498 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#22497 Sync eng/common directory with azure-sdk-tools for PR 3590
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: EngSys, Central-EngSys

#22434 Prepare for STG83 release.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/samples/v12/javascript/package.json
  sdk/storage/storage-queue/samples/v12/typescript/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#21929 Apply API field renames
  sdk/communication/communication-short-codes/CHANGELOG.md
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_get_update_list_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_us_program_brief_using_upsert/recording_can_create_get_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__updates_us_program_brief_using_upsert/recording_can_create_and_update_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_get_update_list_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_us_program_brief_using_upsert/recording_can_create_get_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__updates_us_program_brief_using_upsert/recording_can_create_and_update_a_us_program_brief.json
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/communication/communication-short-codes/samples-dev/createAndDeleteProgramBrief.ts
  sdk/communication/communication-short-codes/src/generated/src/models/index.ts
  sdk/communication/communication-short-codes/src/generated/src/models/mappers.ts
  sdk/communication/communication-short-codes/src/generated/src/models/parameters.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/shortCodesOperations.ts
  sdk/communication/communication-short-codes/src/generated/src/operationsInterfaces/shortCodesOperations.ts
  sdk/communication/communication-short-codes/src/generated/src/shortCodesClientContext.ts
  sdk/communication/communication-short-codes/src/models.ts
  sdk/communication/communication-short-codes/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/src/utils/constants.ts
  sdk/communication/communication-short-codes/swagger/README.md
  sdk/communication/communication-short-codes/swagger/shortcodes.json
  sdk/communication/communication-short-codes/test/public/manageProgramBriefAttachment.spec.ts
  sdk/communication/communication-short-codes/test/public/manageUSProgramBriefs.spec.ts
  sdk/communication/communication-short-codes/test/public/utils/testProgramBriefAttachment.ts
  sdk/communication/communication-short-codes/test/public/utils/testUSProgramBrief.ts
Labels: Communication

#22469 refresh marketplaceordering package
  common/config/rush/pnpm-lock.yaml
  sdk/marketplaceordering/arm-marketplaceordering/CHANGELOG.md
  sdk/marketplaceordering/arm-marketplaceordering/README.md
  sdk/marketplaceordering/arm-marketplaceordering/_meta.json
  sdk/marketplaceordering/arm-marketplaceordering/package.json
  sdk/marketplaceordering/arm-marketplaceordering/recordings/node/my_test/recording_sample_test.js
  sdk/marketplaceordering/arm-marketplaceordering/recordings/node/my_test/recording_sample_test.json
  sdk/marketplaceordering/arm-marketplaceordering/review/arm-marketplaceordering.api.md
  sdk/marketplaceordering/arm-marketplaceordering/samples-dev/getMarketplaceTerms.ts
  sdk/marketplaceordering/arm-marketplaceordering/samples-dev/setMarketplaceTerms.ts
  sdk/marketplaceordering/arm-marketplaceordering/samples/v3/javascript/README.md
  sdk/marketplaceordering/arm-marketplaceordering/samples/v3/javascript/getMarketplaceTerms.js
  sdk/marketplaceordering/arm-marketplaceordering/samples/v3/javascript/setMarketplaceTerms.js
  sdk/marketplaceordering/arm-marketplaceordering/samples/v3/typescript/README.md
  sdk/marketplaceordering/arm-marketplaceordering/samples/v3/typescript/src/getMarketplaceTerms.ts
  sdk/marketplaceordering/arm-marketplaceordering/samples/v3/typescript/src/setMarketplaceTerms.ts
  sdk/marketplaceordering/arm-marketplaceordering/src/marketplaceOrderingAgreements.ts
  sdk/marketplaceordering/arm-marketplaceordering/src/models/index.ts
  sdk/marketplaceordering/arm-marketplaceordering/test/sampleTest.ts
Labels: Mgmt

#22505 refresh relay package
  common/config/rush/pnpm-lock.yaml
  sdk/relay/arm-relay/CHANGELOG.md
  sdk/relay/arm-relay/README.md
  sdk/relay/arm-relay/_meta.json
  sdk/relay/arm-relay/package.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_create_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_create_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_delete_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_delete_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_get_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_get_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_list_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_list_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_update_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_namespaces_update_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_create_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_create_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_createorupdateauthorizationrule_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_createorupdateauthorizationrule_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_delete_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_delete_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_deleteauthorizationrule_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_deleteauthorizationrule_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_get_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_get_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_getauthorizationrule_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_getauthorizationrule_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_list_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_list_test.json
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_listauthorizationrules_test.js
  sdk/relay/arm-relay/recordings/node/relay_test/recording_wcfrelays_listauthorizationrules_test.json
  sdk/relay/arm-relay/review/arm-relay.api.md
  sdk/relay/arm-relay/src/models/index.ts
  sdk/relay/arm-relay/src/relayAPI.ts
  sdk/relay/arm-relay/test/relay_examples.ts
Labels: Mgmt

#22324 Fix the CAE bug in js core lib
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-client/src/authorizeRequestOnClaimChallenge.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/src/util/tokenCycler.ts
  sdk/core/core-rest-pipeline/test/node/bearerTokenAuthenticationPolicyChallenge.spec.ts
Labels: Azure.Core

#22421 [Identity] Fix default cred message
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
Labels: Azure.Identity

#22476 update signaling package
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication

#22526 Post release automated changes for orbital releases
  sdk/orbital/arm-orbital/CHANGELOG.md
  sdk/orbital/arm-orbital/package.json
  sdk/orbital/arm-orbital/src/azureOrbital.ts
Labels: auto-merge

#22525 release containerinstance
  common/config/rush/pnpm-lock.yaml
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/_meta.json
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_create_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_create_test.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_delete_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_delete_test.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_get_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_get_test.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_list_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_list_test.json
  sdk/containerinstance/arm-containerinstance/review/arm-containerinstance.api.md
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerinstance/arm-containerinstance/src/models/index.ts
  sdk/containerinstance/arm-containerinstance/src/models/mappers.ts
  sdk/containerinstance/arm-containerinstance/test/containerinstance_examples.ts
Labels: Mgmt

#22535 [EventGrid] Prepare EventGrid 4.10.0 release
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#22539 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid, auto-merge

#22542 Post release automated changes for portal releases
  sdk/portal/arm-portal/CHANGELOG.md
  sdk/portal/arm-portal/package.json
  sdk/portal/arm-portal/src/portal.ts
Labels: auto-merge

#22545 Post release automated changes for containerinstance releases
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
Labels: Mgmt, auto-merge

#22393 Adding unit test coverage for "id" encoding
  sdk/cosmosdb/cosmos/test/public/functional/itemIdEncoding.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#22549 api management scaffolder CHANGELOG.md updated
  sdk/apimanagement/api-management-custom-widgets-scaffolder/CHANGELOG.md
Labels: auto-merge

#22514 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
Labels: KeyVault, auto-merge

#22537 Sync eng/common directory with azure-sdk-tools for PR 3584
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#22517 [ServiceBus] migrate to `@azure/core-tracing` v1.0.0
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/src/serviceBusRuleManager.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/internal/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSpan.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/tracing.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/utils.spec.ts
Labels: Service Bus

#22518 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity, auto-merge

#22553 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClientContext.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: auto-merge, Communication

#22556 Sync eng/common directory with azure-sdk-tools for PR 3578
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#22482 [Form Recognizer] API consistency and naming
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeBusinessCard.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeDocumentByModelId.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeIdentityDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeInvoice.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeReceipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeReceiptByModelId.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeW2TaxForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/extractGeneralDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/extractLayout.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/getInfo.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/readDocument.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/training.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/GeneralDocumentResult.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/LayoutResult.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/ReadResult.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/BeginCopyModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/BuildModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/GetResourceInfoOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/index.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/FormRecognizer.json
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/private/tracing.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/analysis.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
Labels: Cognitive - Form Recognizer

#22554 [core] bump core-auth version to 1.4.0
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
Labels: Client, Azure.Core

#22557 [KeyVault] Fix post-release changes for keyvault corev2 releases
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#22548 Fixes "id" encoding issues
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/utils/headers.ts
  sdk/cosmosdb/cosmos/test/public/functional/itemIdEncoding.spec.ts
Labels: Cosmos

#22572 @azure/cosmos release 3.16.3
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#22571 Sync eng/common directory with azure-sdk-tools for PR 3642
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Labels: EngSys, Central-EngSys

#22574 [Confidential Ledger] Regeneration after Arch Board Review
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/sample.env
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/isUnexpected.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/paginateHelper.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/historicalRangeQuery.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/postTransaction.spec.ts
Labels: auto-merge, Confidential Ledger

#22589 [ai-form-recognizer] Rename TrainingPollOperationState.
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentAnalysisClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/administration.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analysis.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/GeneralDocumentResult.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/LayoutResult.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/ReadResult.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/AnalyzeDocumentsOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/BeginCopyModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/BuildModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/test/private/getChildren.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/fieldValidator.ts
Labels: Client, Cognitive - Form Recognizer

#22573 [ServiceBus] Add `identifier` property to `ServiceBusClient`
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/retries.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSender.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusReceiverUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/unittestUtils.ts
Labels: Service Bus

#22581 refresh resourcehealth package
  common/config/rush/pnpm-lock.yaml
  sdk/resourcehealth/arm-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/arm-resourcehealth/README.md
  sdk/resourcehealth/arm-resourcehealth/_meta.json
  sdk/resourcehealth/arm-resourcehealth/package.json
  sdk/resourcehealth/arm-resourcehealth/recordings/node/my_test/recording_sample_test.js
  sdk/resourcehealth/arm-resourcehealth/recordings/node/my_test/recording_sample_test.json
  sdk/resourcehealth/arm-resourcehealth/review/arm-resourcehealth.api.md
  sdk/resourcehealth/arm-resourcehealth/src/microsoftResourceHealth.ts
  sdk/resourcehealth/arm-resourcehealth/src/models/index.ts
  sdk/resourcehealth/arm-resourcehealth/test/sampleTest.ts
Labels: Mgmt

#22598 Post release automated changes for resourcehealth releases
  sdk/resourcehealth/arm-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/arm-resourcehealth/package.json
  sdk/resourcehealth/arm-resourcehealth/src/microsoftResourceHealth.ts
Labels: Mgmt, auto-merge

#22423 Do not append customized api-version if url already has one e.g LRO/p…
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/src/apiVersionPolicy.ts
  sdk/core/core-client-rest/test/getClient.spec.ts
Labels: Azure.Core

#22606 [Text Analytics] Update test expectations
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_actions_custom/recording_entity_recognition.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_general_behavior/recording_all_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_general_behavior/recording_invalid_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_general_behavior/recording_some_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_actions_custom/recording_entity_recognition.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_general_behavior/recording_all_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_general_behavior/recording_invalid_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_general_behavior/recording_some_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_actions_custom/recording_entity_recognition.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_general_behavior/recording_all_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_general_behavior/recording_invalid_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_general_behavior/recording_some_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_actions_custom/recording_entity_recognition.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_general_behavior/recording_all_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_general_behavior/recording_invalid_language_hint.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_general_behavior/recording_some_documents_with_errors_and_multiple_actions.json
  sdk/textanalytics/ai-text-analytics/test/public/expectations.ts
Labels: Cognitive - Text Analytics

#22576 [core-client] bump dependency `core-auth` version to `^1.4.0`
  sdk/core/core-client/package.json
Labels: Azure.Core

#22612 Sync eng/common directory with azure-sdk-tools for PR 3656
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#22610 [engsys] Update @types/estree to ~1.0.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#22506 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage, auto-merge

#22618 Post release automated changes for storagecache releases
  sdk/storagecache/arm-storagecache/CHANGELOG.md
  sdk/storagecache/arm-storagecache/package.json
  sdk/storagecache/arm-storagecache/src/storageCacheManagementClient.ts
Labels: Mgmt, auto-merge

#22538 [Identity] fix the certificate env var for internal live test
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
Labels: Azure.Identity

#22625 [engsys] Update eslint-plugin-markdown to ~3.0.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#22609 [Confidential Ledger] package version update
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/swagger/README.md
Labels: auto-merge, Confidential Ledger

#22635 [Microsoft.DigitalTwins] Revert fixing typo after SDK review
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/review/digital-twins-core.api.md
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
Labels: Digital Twins

#22637 [Monitor Ingestion] update changelog for b1 release
  sdk/monitor/monitor-ingestion/CHANGELOG.md
Labels: Monitor

#22570 Sync eng/common directory with azure-sdk-tools for PR 3628
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22644 Downgrade core-http version
  sdk/digitaltwins/digital-twins-core/package.json
Labels: Digital Twins

#22646 Sync eng/common directory with azure-sdk-tools for PR 3700
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#22648 Sync eng/common directory with azure-sdk-tools for PR 3702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#22616 [core-lro] Clean-up logging
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/lroEngine/impl.ts
  sdk/core/core-lro/src/lroEngine/models.ts
  sdk/core/core-lro/src/lroEngine/operation.ts
  sdk/core/core-lro/test/engine.spec.ts
Labels: Azure.Core

#22642 [core] Update @azure/core-xml version
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core

#22652 @azure/communication-common - remove a local copy of isNode
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/src/credential/communicationAccessKeyCredentialPolicy.ts
  sdk/communication/communication-common/src/credential/isNode.browser.ts
  sdk/communication/communication-common/src/credential/isNode.ts
  sdk/communication/communication-common/test/communicationKeyCredentialPolicy.spec.ts
  sdk/communication/communication-common/test/communicationTokenCredential.spec.ts
Labels: Communication

#22650 Azure Communication Services support Teams identities GA release
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
Labels: Communication

#22629 [communication-common] Handle unknown additional properties when deserializing identifier REST model
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/test/identifierModelSerializer.spec.ts
Labels: Communication

#22658 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/src/batchManagementClient.ts
Labels: Mgmt, Batch, auto-merge

#22523 Find the right discriminator index
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/test/serializer.spec.ts
  sdk/core/core-client/test/testMappers1.ts
Labels: Azure.Core

#22665 [ServiceBus] Fix bug in converting ServiceBusMessage to RheaMessage
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/samples-dev/sendMessages.ts
  sdk/servicebus/service-bus/samples/v7/javascript/sendMessages.js
  sdk/servicebus/service-bus/samples/v7/typescript/src/sendMessages.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/unit/amqpUnitTests.spec.ts
Labels: Service Bus

#22667 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt, auto-merge

#22678 [monitor opentelemery exporter] update dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
Labels: Monitor

#22682 [core-client] Increment core-rest-pipeline version to `^1.9.1`
  sdk/core/core-client/package.json
Labels: Client, Azure.Core

#22627 [KeyVault] Add disclaimers regarding CBC and CBCPAD operations
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
Labels: KeyVault

#22662 Increment package version after @azure/communication-identity release
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/src/constants.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClientContext.ts
  sdk/communication/communication-identity/swagger/README.md
Labels: Communication

#22614 Feature/communication alpha ids/package setup
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/communication/ci.yml
  sdk/communication/communication-alpha-ids/.gitignore
  sdk/communication/communication-alpha-ids/CHANGELOG.md
  sdk/communication/communication-alpha-ids/README.md
  sdk/communication/communication-alpha-ids/api-extractor.json
  sdk/communication/communication-alpha-ids/karma.conf.js
  sdk/communication/communication-alpha-ids/package.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/review/communication-alpha-ids.api.md
  sdk/communication/communication-alpha-ids/sample.env
  sdk/communication/communication-alpha-ids/samples-dev/getConfiguration.ts
  sdk/communication/communication-alpha-ids/src/alphaIdsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/alphaIDsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/alphaIDsClientContext.ts
  sdk/communication/communication-alpha-ids/src/generated/src/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/mappers.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/parameters.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operations/alphaIds.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operations/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operationsInterfaces/alphaIds.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-alpha-ids/src/index.ts
  sdk/communication/communication-alpha-ids/src/models.ts
  sdk/communication/communication-alpha-ids/src/utils/constants.ts
  sdk/communication/communication-alpha-ids/src/utils/index.ts
  sdk/communication/communication-alpha-ids/src/utils/logger.ts
  sdk/communication/communication-alpha-ids/src/utils/tracing.ts
  sdk/communication/communication-alpha-ids/swagger/README.md
  sdk/communication/communication-alpha-ids/swagger/alphaids.json
  sdk/communication/communication-alpha-ids/test/README.md
  sdk/communication/communication-alpha-ids/test/internal/headers.spec.ts
  sdk/communication/communication-alpha-ids/test/public/ctor.spec.ts
  sdk/communication/communication-alpha-ids/test/public/manageAlphaIdConfiguration.spec.ts
  sdk/communication/communication-alpha-ids/test/public/utils/alphaIdClientTestUtils.ts
  sdk/communication/communication-alpha-ids/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-alpha-ids/test/public/utils/recordedClient.ts
  sdk/communication/communication-alpha-ids/tests.yml
  sdk/communication/communication-alpha-ids/tsconfig.json
Labels: Communication

#22632 Post release automated changes for confidentialledger releases
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/swagger/README.md
Labels: auto-merge, Confidential Ledger

#22562 [Table] Add option to transaction.updateEntity() command
  sdk/tables/data-tables/recordings/browsers/batch_operations/recording_should_send_a_set_of_update_batch_operations_with_options.json
  sdk/tables/data-tables/recordings/node/batch_operations/recording_should_send_a_set_of_update_batch_operations_with_options.json
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/src/models.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
Labels: customer-reported, Tables

#22703 Added test fix for nightly build run
  sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts
Labels: Digital Twins

#22702 [ServiceBus] fix existence checking of `PeekMessagesOptions.fromSequenceNumber`
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/public/invalidParameters.spec.ts
Labels: Service Bus

#22684 Sync eng/common directory with azure-sdk-tools for PR 3661
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#22683 Sync eng/common directory with azure-sdk-tools for PR 3735
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#22714 Sync eng/common directory with azure-sdk-tools for PR 3754
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#22717 [engsys] fix broken links in `LROEngine.md`
  sdk/core/core-lro/docs/LROEngine.md
Labels: Azure.Core

#22688 [Language Text] Add performance tests
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/cognitivelanguage/perf-tests/ai-language-text/README.md
  sdk/cognitivelanguage/perf-tests/ai-language-text/package.json
  sdk/cognitivelanguage/perf-tests/ai-language-text/sample.env
  sdk/cognitivelanguage/perf-tests/ai-language-text/test/index.spec.ts
  sdk/cognitivelanguage/perf-tests/ai-language-text/test/languageDetection.spec.ts
  sdk/cognitivelanguage/perf-tests/ai-language-text/tsconfig.json
  sdk/textanalytics/perf-tests/ai-text-analytics/README.md
  sdk/textanalytics/perf-tests/ai-text-analytics/package.json
  sdk/textanalytics/perf-tests/ai-text-analytics/sample.env
  sdk/textanalytics/perf-tests/ai-text-analytics/test/detectLanguage.spec.ts
  sdk/textanalytics/perf-tests/ai-text-analytics/test/index.spec.ts
  sdk/textanalytics/perf-tests/ai-text-analytics/tsconfig.json
Labels: Cognitive - Text Analytics

#22577 Add TokenCredential implementation as a prereq
  sdk/monitor/monitor-query/README.md
Labels: Monitor

#22704 [engsys] upgrade eslint dependencies
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#22729 Sync eng/common directory with azure-sdk-tools for PR 3753
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#22720 add-changelog-for-core-client-1.6.1-release
  sdk/core/core-client/CHANGELOG.md
Labels: Azure.Core

#22685 [engsys] upgrade dev dep `rollup-plugin-visualizer` version to `^5.5.2`
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-network-traversal/package.json
Labels: Communication

#22715 [core] Address Trusted Types compliance issue
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/core-xml/src/xml.browser.ts
Labels: Azure.Core

#21912 Post release automated changes for changes releases
  sdk/changes/arm-changes/CHANGELOG.md
  sdk/changes/arm-changes/package.json
  sdk/changes/arm-changes/src/changesClient.ts
Labels: auto-merge

#21919 Post release automated changes for servicelinker releases
  sdk/servicelinker/arm-servicelinker/CHANGELOG.md
  sdk/servicelinker/arm-servicelinker/package.json
  sdk/servicelinker/arm-servicelinker/src/serviceLinkerManagementClient.ts
Labels: auto-merge

#22397 Post release automated changes for analysisservices releases
  sdk/analysisservices/arm-analysisservices/CHANGELOG.md
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
Labels: Mgmt, auto-merge

#22337 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#22336 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
Labels: Mgmt, Event Grid, auto-merge

#22335 Post release automated changes for digitaltwins releases
  sdk/digitaltwins/arm-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/arm-digitaltwins/package.json
  sdk/digitaltwins/arm-digitaltwins/src/azureDigitalTwinsManagementClient.ts
Labels: Mgmt, Digital Twins, auto-merge

#22225 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice-rest/CHANGELOG.md
  sdk/appservice/arm-appservice-rest/package.json
  sdk/appservice/arm-appservice-rest/swagger/README.md
Labels: Mgmt, auto-merge

#22038 Post release automated changes for deviceprovisioningservices releases
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/package.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/iotDpsClient.ts
Labels: Mgmt, auto-merge

#22085 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: auto-merge

#22746 Post release automated changes for monitor releases
  sdk/monitor/arm-monitor/CHANGELOG.md
  sdk/monitor/arm-monitor/package.json
  sdk/monitor/arm-monitor/src/monitorClient.ts
Labels: Mgmt, Monitor, auto-merge

#22693 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#22671 Post release automated changes for extendedlocation releases
  sdk/extendedlocation/arm-extendedlocation/CHANGELOG.md
  sdk/extendedlocation/arm-extendedlocation/package.json
  sdk/extendedlocation/arm-extendedlocation/src/customLocationsManagementClient.ts
Labels: auto-merge

#22686 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, Cosmos, auto-merge

#22673 Post release automated changes for fluidrelay releases
  sdk/fluidrelay/arm-fluidrelay/CHANGELOG.md
  sdk/fluidrelay/arm-fluidrelay/package.json
  sdk/fluidrelay/arm-fluidrelay/src/fluidRelayManagementClient.ts
Labels: auto-merge

#22647 Post release automated changes for digitaltwins releases
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/src/constants.ts
  sdk/digitaltwins/digital-twins-core/src/generated/azureDigitalTwinsAPIContext.ts
  sdk/digitaltwins/digital-twins-core/swagger/README.md
Labels: Digital Twins, auto-merge

#22403 Post release automated changes for resourceconnector releases
  sdk/resourceconnector/arm-resourceconnector/CHANGELOG.md
  sdk/resourceconnector/arm-resourceconnector/package.json
  sdk/resourceconnector/arm-resourceconnector/src/resourceConnectorManagementClient.ts
Labels: auto-merge

#22503 Post release automated changes for deviceupdate releases
  sdk/deviceupdate/iot-device-update-rest/CHANGELOG.md
  sdk/deviceupdate/iot-device-update-rest/package.json
  sdk/deviceupdate/iot-device-update-rest/swagger/README.md
Labels: auto-merge

#22507 Post release automated changes for marketplaceordering releases
  sdk/marketplaceordering/arm-marketplaceordering/CHANGELOG.md
  sdk/marketplaceordering/arm-marketplaceordering/package.json
  sdk/marketplaceordering/arm-marketplaceordering/src/marketplaceOrderingAgreements.ts
Labels: Mgmt, auto-merge

#22524 Post release automated changes for securityinsight releases
  sdk/securityinsight/arm-securityinsight/CHANGELOG.md
  sdk/securityinsight/arm-securityinsight/package.json
  sdk/securityinsight/arm-securityinsight/src/securityInsights.ts
Labels: auto-merge

#22546 Post release automated changes for dynatrace releases
  sdk/dynatrace/arm-dynatrace/CHANGELOG.md
  sdk/dynatrace/arm-dynatrace/package.json
  sdk/dynatrace/arm-dynatrace/src/dynatraceObservability.ts
Labels: auto-merge

#22508 Post release automated changes for powerbidedicated releases
  sdk/powerbidedicated/arm-powerbidedicated/CHANGELOG.md
  sdk/powerbidedicated/arm-powerbidedicated/package.json
  sdk/powerbidedicated/arm-powerbidedicated/src/powerBIDedicated.ts
Labels: Mgmt, auto-merge

#22583 Post release automated changes for machinelearning releases
  sdk/machinelearning/arm-machinelearning/CHANGELOG.md
  sdk/machinelearning/arm-machinelearning/package.json
  sdk/machinelearning/arm-machinelearning/src/azureMachineLearningWorkspaces.ts
Labels: auto-merge

#22584 Post release automated changes for deviceupdate releases
  sdk/deviceupdate/arm-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/arm-deviceupdate/package.json
  sdk/deviceupdate/arm-deviceupdate/src/deviceUpdate.ts
Labels: auto-merge

#22586 Post release automated changes for scvmm releases
  sdk/scvmm/arm-scvmm/CHANGELOG.md
  sdk/scvmm/arm-scvmm/package.json
  sdk/scvmm/arm-scvmm/src/scvmm.ts
Labels: auto-merge

#22592 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos, auto-merge

#22604 Post release automated changes for servicefabric releases
  sdk/servicefabric/arm-servicefabric-rest/CHANGELOG.md
  sdk/servicefabric/arm-servicefabric-rest/package.json
  sdk/servicefabric/arm-servicefabric-rest/swagger/README.md
Labels: Mgmt, auto-merge

#22605 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice-rest/CHANGELOG.md
  sdk/containerservice/arm-containerservice-rest/package.json
  sdk/containerservice/arm-containerservice-rest/swagger/README.md
Labels: Mgmt, auto-merge

#22634 Post release automated changes for workloads releases
  sdk/workloads/arm-workloads/CHANGELOG.md
  sdk/workloads/arm-workloads/package.json
  sdk/workloads/arm-workloads/src/workloadsClient.ts
Labels: auto-merge

#22639 Post release automated changes for monitor releases
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/src/constants.ts
  sdk/monitor/monitor-ingestion/src/generated/generatedMonitorIngestionClientContext.ts
  sdk/monitor/monitor-ingestion/swagger/README.md
Labels: Monitor, auto-merge

#22594 Post release automated changes for networkfunction releases
  sdk/networkfunction/arm-networkfunction/CHANGELOG.md
  sdk/networkfunction/arm-networkfunction/package.json
  sdk/networkfunction/arm-networkfunction/src/azureTrafficCollectorClient.ts
Labels: auto-merge

#22333 Post release automated changes for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Labels: Cognitive - Form Recognizer, auto-merge

#22756 Sync eng/common directory with azure-sdk-tools for PR 3787
  eng/common/TestResources/setup-environments.yml
Labels: EngSys, Central-EngSys
