Repository Azure/azure-sdk-for-js, pull requests merged in 2022-09, with the labels that each got.

#23068 Sync eng/common directory with azure-sdk-tools for PR 4041
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#23060 [core] prepare for 2022 Sep releases
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-sms/package.json
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/digitaltwins/dtdl-parser/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/iot/iot-modelsrepository/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/servicebus/service-bus/package.json
  sdk/synapse/synapse-access-control-rest/package.json
  sdk/test-utils/perf/package.json
  sdk/test-utils/testing-recorder-new/package.json
Labels: Azure.Core

#22836 [dev-tool] ensure test file `**` glob pattern option is quoted
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTSInput.ts
Labels: Search

#23072 Sync eng/common directory with azure-sdk-tools for PR 4042
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#23083 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core, auto-merge

#23079 [ServiceBus][Test] remove tests ensuring no unexpected sample changes committed
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/internal/node/samples.spec.ts
Labels: Service Bus

#23077 Add github actions based check enforcer
  .github/workflows/event.yml
Labels: Central-EngSys

#23094 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/src/redisManagementClient.ts
Labels: Mgmt, auto-merge

#23093 fix consumption bug
  common/config/rush/pnpm-lock.yaml
  sdk/consumption/arm-consumption/CHANGELOG.md
  sdk/consumption/arm-consumption/_meta.json
  sdk/consumption/arm-consumption/package.json
  sdk/consumption/arm-consumption/recordings/node/consumption_test/recording_budgets_create_test.js
  sdk/consumption/arm-consumption/recordings/node/consumption_test/recording_budgets_create_test.json
  sdk/consumption/arm-consumption/recordings/node/consumption_test/recording_budgets_delete_test.js
  sdk/consumption/arm-consumption/recordings/node/consumption_test/recording_budgets_delete_test.json
  sdk/consumption/arm-consumption/recordings/node/consumption_test/recording_budgets_get_test.js
  sdk/consumption/arm-consumption/recordings/node/consumption_test/recording_budgets_get_test.json
  sdk/consumption/arm-consumption/recordings/node/my_test/recording_budgets_create_test.js
  sdk/consumption/arm-consumption/recordings/node/my_test/recording_budgets_delete_test.js
  sdk/consumption/arm-consumption/recordings/node/my_test/recording_budgets_get_test.js
  sdk/consumption/arm-consumption/review/arm-consumption.api.md
  sdk/consumption/arm-consumption/samples-dev/reservationTransactionsListByBillingProfileSample.ts
  sdk/consumption/arm-consumption/samples-dev/reservationTransactionsListSample.ts
  sdk/consumption/arm-consumption/samples/v9/javascript/reservationTransactionsListByBillingProfileSample.js
  sdk/consumption/arm-consumption/samples/v9/javascript/reservationTransactionsListSample.js
  sdk/consumption/arm-consumption/samples/v9/typescript/package.json
  sdk/consumption/arm-consumption/samples/v9/typescript/src/reservationTransactionsListByBillingProfileSample.ts
  sdk/consumption/arm-consumption/samples/v9/typescript/src/reservationTransactionsListSample.ts
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
  sdk/consumption/arm-consumption/src/models/index.ts
  sdk/consumption/arm-consumption/src/models/mappers.ts
  sdk/consumption/arm-consumption/test/consumption_examples.ts
Labels: Mgmt

#23099 Post release automated changes for consumption releases
  sdk/consumption/arm-consumption/CHANGELOG.md
  sdk/consumption/arm-consumption/package.json
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
Labels: Mgmt, auto-merge

#23100 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, Cosmos, auto-merge

#23110 Post release automated changes for mediaservices releases
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
Labels: Mgmt, auto-merge

#22922 [@azure/search-documents] Code Changes for Search Release 11.3.0
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchAudience.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/src/synonymMapHelper.browser.ts
  sdk/search/search-documents/src/synonymMapHelper.ts
  sdk/search/search-documents/test/internal/browser/synonymMap.browser.spec.ts
  sdk/search/search-documents/test/internal/node/synonymMap.node.spec.ts
  sdk/search/search-documents/test/internal/serialization.spec.ts
  sdk/search/search-documents/test/internal/synonymMap.txt
Labels: Search

#23069 [Form Recognizer] Consistency changes
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/BuildModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/DeleteModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/index.ts
  sdk/formrecognizer/ai-form-recognizer/test/private/tracing.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/analysis.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
Labels: Cognitive - Form Recognizer

#23111 [@azure/search-documents] Update Date in Changelog
  sdk/search/search-documents/CHANGELOG.md
Labels: Search

#23058 [Tables] Fix query filter encoding for Date objects
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/recordings/browsers/tableclient_listentities/recording_should_filter_dates_correctly.json
  sdk/tables/data-tables/recordings/node/tableclient_listentities/recording_should_filter_dates_correctly.json
  sdk/tables/data-tables/src/odata.ts
  sdk/tables/data-tables/test/internal/odata.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
Labels: Tables

#23115 [opentelemetry exporter] Update OpenTelemetry dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/metricsSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/metric.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#23119 Prepare Tables for September Release
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#23133 [ServiceBus] prepare for 2022 September release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#23132 Add overloads to `TableTransaction.updateEntity`
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/review/data-tables.api.md
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/test/internal/tableTransaction.spec.ts
Labels: Tables, auto-merge

#23131 [engsys] upgrade `downlevel-dts` version to ^0.10.0
  common/config/rush/pnpm-lock.yaml
  sdk/attestation/attestation/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-query/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
Labels: EngSys, Service Bus, Event Hubs, Storage, Cosmos, Azure.Core, Monitor, Tables, Attestation

#23135 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#23066 [Confidential Ledger] Update post ledger entry example
  sdk/confidentialledger/confidential-ledger-rest/README.md
Labels: auto-merge, Confidential Ledger

#23141 [ai-form-recognizer] Rename `DateTime` suffix to `On`
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/getModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/listModels.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-businessCard.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-document.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-healthInsuranceCard.us.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-idDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-invoice.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-layout.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-read.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-receipt.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-tax.us.w2.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-vaccinationCard.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/administration.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analysis.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-businessCard.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-document.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-healthInsuranceCard.us.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-idDocument.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-invoice.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-layout.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-read.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-receipt.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-tax.us.w2.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-vaccinationCard.ts
Labels: Cognitive - Form Recognizer

#23143 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#23144 [arm-network] Re-record tests
  sdk/network/arm-network/recordings/node/my_test/recording_ipgroups_begindeleteandwait_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_ipgroups_create_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_ipgroups_get_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_ipgroups_list_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_subnets_begindeleteandwait_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_subnets_create_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_subnets_get_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_subnets_list_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_virtualnetworks_begindeleteandwait_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_virtualnetworks_create_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_virtualnetworks_get_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_virtualnetworks_list_test.json
  sdk/network/arm-network/recordings/node/my_test/recording_virtualnetworks_updatetags_test.json
Labels: Mgmt

#23151 [Bot Rules] Update Personalizer contacts
  .github/fabricbot.json
Labels: EngSys, Client

#23154 [arm-compute] update recording for new core-lro behavior
  sdk/compute/arm-compute/recordings/node/compute_test/recording_virtualmachines_create_test.json
Labels: Mgmt

#23155 [ai-form-recognizer] Prepare to release 4.0.0
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/MIGRATION-v3_v4.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-vaccinationCard.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/BuildModelOptions.ts
  sdk/formrecognizer/ai-form-recognizer/test/private/tracing.spec.ts
Labels: Client, Cognitive - Form Recognizer

#23148 [core-lro] Support resourceLocation in response body
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/src/poller/models.ts
  sdk/core/core-lro/src/poller/operation.ts
  sdk/core/core-lro/src/poller/poller.ts
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#23159 [ai-language-conversations] Prepare to release 1.0.0-beta.1
  sdk/cognitivelanguage/ai-language-conversations/CHANGELOG.md
Labels: customer-reported

#23019 [core-util] Update "delay" method in core-util with abort options
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/coreHttp.ts
  sdk/core/core-http/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-http/src/policies/exponentialRetryPolicy.ts
  sdk/core/core-http/src/policies/rpRegistrationPolicy.ts
  sdk/core/core-http/src/policies/systemErrorRetryPolicy.ts
  sdk/core/core-http/src/policies/throttlingRetryPolicy.ts
  sdk/core/core-http/src/util/delay.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/delay.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/test/public/delay.spec.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
Labels: Azure.Core, auto-merge

#23163 [core-lro] Prepare release for a bug fix
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#23164 [ai-language-conversations] Release Preparation
  sdk/cognitivelanguage/ai-language-conversations/README.md
  sdk/cognitivelanguage/ai-language-conversations/package.json
  sdk/cognitivelanguage/ai-language-conversations/sample.env
  sdk/cognitivelanguage/ai-language-conversations/samples-dev/sample_analyze_orchestration_app_conv_response.ts
  sdk/cognitivelanguage/ai-language-conversations/samples-dev/sample_analyze_orchestration_app_qna_response.ts
  sdk/cognitivelanguage/ai-language-conversations/samples-dev/sample_analyze_orchestration_direct_target.ts
  sdk/cognitivelanguage/ai-language-conversations/samples-dev/sample_authentication.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/README.md
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/package.json
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/sample.env
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_analyze_conversation_app.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_analyze_orchestration_app_conv_response.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_analyze_orchestration_app_luis_response.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_analyze_orchestration_app_qna_response.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_analyze_orchestration_direct_target.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_authentication.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_conv_pii_transcript_input.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/javascript/src/sample_conv_summarization.js
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/README.md
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/package.json
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/sample.env
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_analyze_conversation_app.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_analyze_orchestration_app_conv_response.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_analyze_orchestration_app_luis_response.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_analyze_orchestration_app_qna_response.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_analyze_orchestration_direct_target.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_authentication.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_conv_pii_transcript_input.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/src/sample_conv_summarization.ts
  sdk/cognitivelanguage/ai-language-conversations/samples/v1/typescript/tsconfig.json
Labels: customer-reported

#23170 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core, auto-merge

#23175 [engsys] update dep core-util version to `^1.1.1`
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, Azure.Core

#23078 [Communication][Email] Adding test.yml file for live test pipeline
  sdk/communication/communication-email/karma.conf.js
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_retrieves_the_email_status_with_the_returned_message_id.json
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_sends_an_email_to_a_single_recipient.json
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_sends_an_email_to_multiple_types_of_recipients.json
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_sends_an_email_with_an_attachment.json
  sdk/communication/communication-email/test.env
  sdk/communication/communication-email/test/public/utils/recordedClient.ts
  sdk/communication/communication-email/tests.yml
Labels: Communication

#22986 Update package json azure identity
  sdk/cosmosdb/cosmos/src/request/request.ts
Labels: Cosmos

#23185 [cosmos] update changelog for release
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#23082 Use SkipCheckoutNone parameter name for sparse checkout
  eng/pipelines/docindex.yml
Labels: Central-EngSys

#23126 release datafactory
  common/config/rush/pnpm-lock.yaml
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_create_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_delete_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_get_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_list_test.json
  sdk/datafactory/arm-datafactory/recordings/node/my_test/recording_sample_test.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/samples/v10/typescript/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/test/datafactory_examples.spec.ts
  sdk/datafactory/arm-datafactory/test/sampleTest.ts
Labels: Mgmt

#23195 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#23184 [Doc][EventHubs,ServiceBus] Add information about bundling using Rollup
  sdk/eventhub/event-hubs/README.md
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, Event Hubs

#23146 [Perf] Update storage perf dependency versions
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
Labels: Storage

#23130 [Confidential Ledger] set up pipeline to run tests nightly
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/colder_endpoints/recording_should_obtain_constitution_from_ledger.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/colder_endpoints/recording_should_retrieve_a_list_of_consortium_members.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/colder_endpoints/recording_should_retrieve_a_list_of_enclave_quotes.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/get_collections/recording_should_list_all_available_document_formats.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/get_ledger_history/recording_should_obtain_ledger_entries_from_ledger.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/get_user/recording_should_obtain_user_data.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/list_enclaves/recording_should_list_all_available_document_formats.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/post_transaction/recording_should_post_to_collection.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/post_transaction/recording_should_post_to_default_ledger.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/range_query_should_be_successful/recording_should_audit_2000_entries.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/range_query_should_be_successful/recording_should_post_2000_entries.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/test_user_authentications/recording_should_authenticate_using_a_certificate.js
  sdk/confidentialledger/confidential-ledger-rest/sample.env
  sdk/confidentialledger/confidential-ledger-rest/test/public/getCollections.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/historicalRangeQuery.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/ledgerHistory.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/postTransaction.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/usersEndpoint.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/utils/recordedClient.ts
  sdk/confidentialledger/test-resources.bicep
  sdk/confidentialledger/tests.yml
Labels: auto-merge, Confidential Ledger

#23035 [identity] [keyvault] Fix long timeout in KeyVault with MSI
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/util/logging.ts
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
Labels: Client, KeyVault, Azure.Identity

#23216 Sync eng/common directory with azure-sdk-tools for PR 4128
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#23053 [Service Bus] Stress Tests Project - Fix failures
  sdk/servicebus/service-bus/test/stress/.gitignore
  sdk/servicebus/service-bus/test/stress/Chart.lock
  sdk/servicebus/service-bus/test/stress/Chart.yaml
  sdk/servicebus/service-bus/test/stress/app/package.json
  sdk/servicebus/service-bus/test/stress/app/src/serviceBusStressTester.ts
  sdk/servicebus/service-bus/test/stress/templates/testjob.yaml
Labels: Service Bus

#22298 [Text Analytics] Split swagger transforms into general vs JS-specific
  sdk/cognitivelanguage/ai-language-text/src/generated/generatedClient.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/index.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/mappers.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/operations/analyzeText.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/operationsInterfaces/analyzeText.ts
  sdk/cognitivelanguage/ai-language-text/src/lro.ts
  sdk/cognitivelanguage/ai-language-text/swagger/README.md
Labels: Cognitive - Text Analytics

#23217 Sync eng/common directory with azure-sdk-tools for PR 4098
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#23220 Post release automated changes for chaos releases
  sdk/chaos/arm-chaos/CHANGELOG.md
  sdk/chaos/arm-chaos/package.json
  sdk/chaos/arm-chaos/src/chaosManagementClient.ts
Labels: auto-merge

#23210 [ServiceBus] Pass timeout to server when accepting next session
  sdk/servicebus/service-bus/src/core/shared.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus

#23230 remove strict mode to unblock scheduled pipeline runs
  eng/scripts/Create-ApiReview.ps1
Labels: Central-EngSys

#23182 [keyvault] Verify challenge response matches request domain
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/internal/aesCryptography.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.hsm.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
  sdk/keyvault/keyvault-keys/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/keyvault-secrets/test/internal/challengeAuthenticationCallbacks.spec.ts
Labels: KeyVault

#23240 Post release automated changes for notificationhubs releases
  sdk/notificationhubs/notification-hubs/CHANGELOG.md
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/src/utils/constants.ts
Labels: auto-merge

#23229 Fix js live test template variables
  sdk/template/template/tests.yml
Labels: EngSys, Central-EngSys

#23231 [engsys][abort-controller] upgrade `@microsoft/api-extractor` dev dependency to `^7.31.1`
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/package.json
Labels: Azure.Core

#23241 Updating python 3.6 to 3.9
  eng/pipelines/templates/steps/common.yml
Labels: Central-EngSys

#23096 Allow customer to specify logging details
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/index.ts
Labels: auto-merge, WebPubSub

#23253 appplatform link update
  sdk/appplatform/arm-appplatform/README.md
  sdk/appplatform/arm-appplatform/samples/v2-beta/javascript/README.md
  sdk/appplatform/arm-appplatform/samples/v2-beta/typescript/README.md
Labels: Mgmt

#23257 Post release automated changes for kusto releases
  sdk/kusto/arm-kusto/CHANGELOG.md
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/src/kustoManagementClient.ts
Labels: Mgmt, auto-merge

#23254 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#23232 [identity] Rework expires_on logic for managed identity credentials
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/test/httpRequests.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Client, Azure.Identity, Managed Identity

#23268 [keyvault] Add remediation steps to challenge verification error message
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/test/internal/challengeAuthenticationCallbacks.spec.ts
Labels: KeyVault

#23271 [keyvault] Challenge verification - Fix broken links for release pipeline
  sdk/keyvault/arm-keyvault-profile-2019-03-01-hybrid/README.md
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/README.md
  sdk/keyvault/arm-keyvault/README.md
  sdk/keyvault/arm-keyvault/samples/v2-beta/javascript/README.md
  sdk/keyvault/arm-keyvault/samples/v2-beta/typescript/README.md
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-admin/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-admin/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-keys/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/README.md
Labels: Mgmt, KeyVault

#23270 [doc] fix nodejs lts broken link
  documentation/test-quickstart.md
  sdk/communication/communication-job-router/README.md
  sdk/eventhub/eventhubs-checkpointstore-table/README.md
Labels: Event Hubs, Communication

#23244 [dev-tool] upgrade dev dependency `typescript` to `~4.8.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/util/samples/processor.ts
  common/tools/dev-tool/test/samples/files/expectations/cjs-forms/typescript/package.json
  common/tools/dev-tool/test/samples/files/expectations/output-customization/typescript/package.json
  common/tools/dev-tool/test/samples/files/expectations/simple/typescript/package.json
  common/tools/dev-tool/test/samples/files/expectations/simple@1.0.0-beta.1/typescript/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-use-interface-parameters.ts
Labels: dev-tool

#23266 Update check enforcer yaml permissions and name
  .github/workflows/event.yml
Labels: Central-EngSys

#23281 Post release automated changes for dynatrace releases
  sdk/dynatrace/arm-dynatrace/CHANGELOG.md
  sdk/dynatrace/arm-dynatrace/package.json
  sdk/dynatrace/arm-dynatrace/src/dynatraceObservability.ts
Labels: auto-merge

#23282 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault, auto-merge

#23283 [keyvault] Verify challenge response matches request domain
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/internal/aesCryptography.spec.ts
  sdk/keyvault/keyvault-keys/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.hsm.spec.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
  sdk/keyvault/keyvault-keys/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/keyvault-secrets/test/internal/challengeAuthenticationCallbacks.spec.ts
Labels: KeyVault

#23272 Sync eng/common directory with azure-sdk-tools for PR 4141
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#23275 [Event Hubs] Refactor load-balancing
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/balancedStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/greedyStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/loadBalancingStrategy.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/unbalancedStrategy.ts
  sdk/eventhub/event-hubs/test/internal/loadBalancingStrategy.spec.ts
Labels: Event Hubs

#23209 [monitor-ingestion] Renames from consistency review + architecture feedback
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/review/monitor-ingestion.api.md
  sdk/monitor/monitor-ingestion/samples-dev/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/samples-dev/uploadCustomLogs.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/logsIngestionClient.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/uploadCustomLogs.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/uploadCustomLogs.ts
  sdk/monitor/monitor-ingestion/src/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/src/models.ts
  sdk/monitor/monitor-ingestion/test/public/logsIngestionClient.spec.ts
Labels: Monitor

#23251 refresh-synapse-artifact-for-data-plane
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/tracing.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#23288 Post release automated changes for reservations releases
  sdk/reservations/arm-reservations/CHANGELOG.md
  sdk/reservations/arm-reservations/package.json
  sdk/reservations/arm-reservations/src/azureReservationAPI.ts
Labels: Mgmt, auto-merge

#23289 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#23273 Sync eng/common directory with azure-sdk-tools for PR 4169
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23248 Post release automated changes for dnsresolver releases
  sdk/dnsresolver/arm-dnsresolver/CHANGELOG.md
  sdk/dnsresolver/arm-dnsresolver/package.json
  sdk/dnsresolver/arm-dnsresolver/src/dnsResolverManagementClient.ts
Labels: auto-merge

#23063 Post release automated changes for containerinstance releases
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
Labels: Mgmt, auto-merge

#23027 Post release automated changes for labservices releases
  sdk/labservices/arm-labservices/CHANGELOG.md
  sdk/labservices/arm-labservices/package.json
  sdk/labservices/arm-labservices/src/labServicesClient.ts
Labels: Mgmt, auto-merge

#22993 Post release automated changes for communication releases
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
Labels: Mgmt, auto-merge, Communication

#23301 Post release automated changes for security releases
  sdk/security/arm-security/CHANGELOG.md
  sdk/security/arm-security/package.json
  sdk/security/arm-security/src/securityCenter.ts
Labels: Mgmt, auto-merge

#23300 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt, auto-merge

#23297 Prepare Alpha Ids package to Beta 1
  sdk/communication/communication-alpha-ids/CHANGELOG.md
  sdk/communication/communication-alpha-ids/package.json
  sdk/communication/communication-alpha-ids/src/generated/src/alphaIDsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/tracing.ts
  sdk/communication/communication-alpha-ids/src/utils/constants.ts
  sdk/communication/communication-alpha-ids/swagger/README.md
Labels: Communication

#23304 [engsys][credscan] review and improve suppression list
  documentation/next-generation-quickstart.md
  eng/CredScanSuppression.json
  sdk/batch/arm-batch/test/batch_examples.ts
  sdk/batch/arm-batch/test/fakeTestSecrets.ts
  sdk/batch/batch/test/batchClient.spec.ts
  sdk/batch/batch/test/fakeTestSecrets.ts
  sdk/core/core-http/package.json
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/logFilterTests.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.browser.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-http/test/proxyAgent.node.ts
  sdk/identity/identity/test/public/browser/usernamePasswordCredential.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/sql/arm-sql/recordings/node/sql_test/recording_servers_create_test.js
  sdk/sql/arm-sql/test/sql_examples.ts
  sdk/tables/data-tables/test/internal/fakeTestSecrets.ts
  sdk/tables/data-tables/test/internal/node/generateSas.spec.ts
  sdk/test-utils/test-utils/src/fakeTestSecrets.ts
  sdk/test-utils/test-utils/src/index.ts
Labels: Mgmt, Azure.Identity, Azure.Core, Batch, Tables, Cognitive - Metrics Advisor

#23305 [engsys] increase search live test pipeline timeout to 90 minutes
  sdk/search/search-documents/tests.yml
Labels: Search

#23296 [core-lro] Increase accuracy of termination detection and handle bad status field
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/src/legacy/lroEngine/operation.ts
  sdk/core/core-lro/src/poller/models.ts
  sdk/core/core-lro/src/poller/operation.ts
  sdk/core/core-lro/test/lro.spec.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/utils.ts
Labels: Azure.Core

#23306 Sync eng/common directory with azure-sdk-tools for PR 4212
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23290 Refresh logic pr to fix GitHub issue
  common/config/rush/pnpm-lock.yaml
  sdk/logic/arm-logic/CHANGELOG.md
  sdk/logic/arm-logic/LICENSE
  sdk/logic/arm-logic/README.md
  sdk/logic/arm-logic/_meta.json
  sdk/logic/arm-logic/api-extractor.json
  sdk/logic/arm-logic/package.json
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_create_test.js
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_create_test.json
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_delete_test.js
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_delete_test.json
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_get_test.js
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_get_test.json
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_listbyresourcegroup_test.js
  sdk/logic/arm-logic/recordings/node/logic_test/recording_workflows_listbyresourcegroup_test.json
  sdk/logic/arm-logic/review/arm-logic.api.md
  sdk/logic/arm-logic/rollup.config.js
  sdk/logic/arm-logic/sample.env
  sdk/logic/arm-logic/src/logicManagementClient.ts
  sdk/logic/arm-logic/src/models/index.ts
  sdk/logic/arm-logic/src/models/mappers.ts
  sdk/logic/arm-logic/src/operations/integrationAccountMaps.ts
  sdk/logic/arm-logic/src/operations/integrationServiceEnvironmentManagedApis.ts
  sdk/logic/arm-logic/src/operations/integrationServiceEnvironments.ts
  sdk/logic/arm-logic/src/operations/workflows.ts
  sdk/logic/arm-logic/src/operationsInterfaces/integrationAccountMaps.ts
  sdk/logic/arm-logic/test/logic_examples.ts
  sdk/logic/arm-logic/tsconfig.json
  sdk/logic/ci.mgmt.yml
Labels: Mgmt

#23309 [engsys] upgrade `@typescript-eslint/*` dependencies to `~5.38.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#23303 Post release automated changes for communication releases
  sdk/communication/communication-alpha-ids/CHANGELOG.md
  sdk/communication/communication-alpha-ids/package.json
  sdk/communication/communication-alpha-ids/src/generated/src/alphaIDsClient.ts
  sdk/communication/communication-alpha-ids/src/utils/constants.ts
  sdk/communication/communication-alpha-ids/swagger/README.md
Labels: auto-merge, Communication

#23316 [core-rest-pipeline] Fix bug in Pipeline.clone()
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/pipeline.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
Labels: Client, Azure.Core

#23315 Post release automated changes for sqlvirtualmachine releases
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/CHANGELOG.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClient.ts
Labels: Mgmt, auto-merge

#23312 Post release automated changes for logic releases
  sdk/logic/arm-logic/CHANGELOG.md
  sdk/logic/arm-logic/package.json
  sdk/logic/arm-logic/src/logicManagementClient.ts
Labels: Mgmt, auto-merge

#23246 [Schema Registry] Simplify getSchemaByVersion
  sdk/schemaregistry/schema-registry-avro/test/public/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/README.md
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/samples-dev/getSchemaByVersion.ts
  sdk/schemaregistry/schema-registry/src/models.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/utils.ts
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
Labels: Schema Registry

#23320 [monitor-ingestion] Re-record tests to fix CI
  sdk/monitor/monitor-ingestion/recordings/browsers/logsingestionclient_live_tests/recording_partial_fail_test__when_dcr_id_is_incorrect_for_alternate_requests.json
  sdk/monitor/monitor-ingestion/recordings/browsers/logsingestionclient_live_tests/recording_sends_basic_data.json
  sdk/monitor/monitor-ingestion/recordings/browsers/logsingestionclient_live_tests/recording_success_test__divides_huge_data_into_chunks.json
  sdk/monitor/monitor-ingestion/recordings/browsers/logsingestionclient_live_tests/recording_throws_error_when_all_logs_fail.json
  sdk/monitor/monitor-ingestion/recordings/node/logsingestionclient_live_tests/recording_partial_fail_test__when_dcr_id_is_incorrect_for_alternate_requests.json
  sdk/monitor/monitor-ingestion/recordings/node/logsingestionclient_live_tests/recording_sends_basic_data.json
  sdk/monitor/monitor-ingestion/recordings/node/logsingestionclient_live_tests/recording_success_test__divides_huge_data_into_chunks.json
  sdk/monitor/monitor-ingestion/recordings/node/logsingestionclient_live_tests/recording_throws_error_when_all_logs_fail.json
  sdk/monitor/monitor-ingestion/test/public/logsIngestionClient.spec.ts
Labels: Monitor

#23286 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse, auto-merge

#23091 Post release automated changes for agrifood releases
  sdk/agrifood/arm-agrifood/CHANGELOG.md
  sdk/agrifood/arm-agrifood/package.json
  sdk/agrifood/arm-agrifood/src/agriFoodMgmtClient.ts
Labels: auto-merge, AgriFood

#23307 [monitor] Updating @opentelemetry packages and removing deprecated @opentelemetry/sdk-metrics-base
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/README.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/metricsSample.js
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/src/metricsSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-query/package.json
  sdk/test-utils/test-utils/package.json
Labels: Azure.Core, Monitor

#23250 release-for-synapse-access-control-rlc
  sdk/synapse/synapse-access-control-rest/review/synapse-access-control.api.md
  sdk/synapse/synapse-access-control-rest/samples-dev/createRoleAssignment.ts
  sdk/synapse/synapse-access-control-rest/samples-dev/listRoleAssignments.ts
  sdk/synapse/synapse-access-control-rest/samples/v1-beta/javascript/createRoleAssignment.js
  sdk/synapse/synapse-access-control-rest/samples/v1-beta/javascript/listRoleAssignments.js
  sdk/synapse/synapse-access-control-rest/samples/v1-beta/typescript/package.json
  sdk/synapse/synapse-access-control-rest/samples/v1-beta/typescript/src/createRoleAssignment.ts
  sdk/synapse/synapse-access-control-rest/samples/v1-beta/typescript/src/listRoleAssignments.ts
  sdk/synapse/synapse-access-control-rest/src/accessControlRestClient.ts
  sdk/synapse/synapse-access-control-rest/src/clientDefinitions.ts
  sdk/synapse/synapse-access-control-rest/src/index.ts
  sdk/synapse/synapse-access-control-rest/src/isUnexpected.ts
  sdk/synapse/synapse-access-control-rest/src/models.ts
  sdk/synapse/synapse-access-control-rest/src/outputModels.ts
  sdk/synapse/synapse-access-control-rest/src/paginateHelper.ts
  sdk/synapse/synapse-access-control-rest/src/parameters.ts
  sdk/synapse/synapse-access-control-rest/src/responses.ts
  sdk/synapse/synapse-access-control-rest/swagger/README.md
  sdk/synapse/synapse-access-control-rest/test/public/test.spec.ts
Labels: Synapse

#23302 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#23337 Post release automated changes for compute releases
  sdk/compute/arm-compute-rest/CHANGELOG.md
  sdk/compute/arm-compute-rest/package.json
  sdk/compute/arm-compute-rest/swagger/README.md
Labels: Mgmt, auto-merge

#23338 Post release automated changes for securityinsight releases
  sdk/securityinsight/arm-securityinsight/CHANGELOG.md
  sdk/securityinsight/arm-securityinsight/package.json
  sdk/securityinsight/arm-securityinsight/src/securityInsights.ts
Labels: auto-merge

#23335 Sync eng/common directory with azure-sdk-tools for PR 4240
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23322 [doc][ServiceBus] add troubleshooting guide
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/TROUBLESHOOTING.md
Labels: Service Bus

#23347 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#23345 Post release automated changes for network releases
  sdk/network/arm-network-rest/CHANGELOG.md
  sdk/network/arm-network-rest/package.json
  sdk/network/arm-network-rest/swagger/README.md
Labels: Mgmt, auto-merge

#23311 [core-lro] add a flag to control whether to throw when the operation is unsuccessful
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/src/legacy/lroEngine/lroEngine.ts
  sdk/core/core-lro/src/legacy/lroEngine/models.ts
  sdk/core/core-lro/src/legacy/lroEngine/operation.ts
  sdk/core/core-lro/src/legacy/poller.ts
  sdk/core/core-lro/src/poller/models.ts
  sdk/core/core-lro/src/poller/operation.ts
  sdk/core/core-lro/src/poller/poller.ts
  sdk/core/core-lro/test/lro.spec.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/utils.ts
Labels: Azure.Core

#23352 [core-lro] Prepare release
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#23353 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core, auto-merge

#23357 delete credential scopes for mgmt plane sdks a
  sdk/advisor/arm-advisor/CHANGELOG.md
  sdk/advisor/arm-advisor/src/advisorManagementClient.ts
  sdk/agrifood/arm-agrifood/CHANGELOG.md
  sdk/agrifood/arm-agrifood/src/agriFoodMgmtClient.ts
  sdk/analysisservices/arm-analysisservices/CHANGELOG.md
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
  sdk/app/arm-app/CHANGELOG.md
  sdk/app/arm-app/package.json
  sdk/app/arm-app/src/containerAppsAPIClient.ts
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
  sdk/attestation/arm-attestation/CHANGELOG.md
  sdk/attestation/arm-attestation/src/attestationManagementClient.ts
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/src/authorizationManagementClientContext.ts
  sdk/automanage/arm-automanage/CHANGELOG.md
  sdk/automanage/arm-automanage/src/automanageClient.ts
  sdk/automation/arm-automation/CHANGELOG.md
  sdk/automation/arm-automation/src/automationClient.ts
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
  sdk/azureadexternalidentities/arm-azureadexternalidentities/CHANGELOG.md
  sdk/azureadexternalidentities/arm-azureadexternalidentities/package.json
  sdk/azureadexternalidentities/arm-azureadexternalidentities/src/externalIdentitiesConfigurationClient.ts
  sdk/azurestack/arm-azurestack/CHANGELOG.md
  sdk/azurestack/arm-azurestack/src/azureStackManagementClient.ts
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
Labels: Mgmt, AgriFood

#23358 delete credential scopes for mgmt plane sdks b-c
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/src/batchManagementClient.ts
  sdk/billing/arm-billing/CHANGELOG.md
  sdk/billing/arm-billing/src/billingManagementClient.ts
  sdk/botservice/arm-botservice/CHANGELOG.md
  sdk/botservice/arm-botservice/src/azureBotService.ts
  sdk/cdn/arm-cdn/CHANGELOG.md
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/src/cdnManagementClient.ts
  sdk/changeanalysis/arm-changeanalysis/CHANGELOG.md
  sdk/changeanalysis/arm-changeanalysis/src/azureChangeAnalysisManagementClient.ts
  sdk/changes/arm-changes/CHANGELOG.md
  sdk/changes/arm-changes/src/changesClient.ts
  sdk/chaos/arm-chaos/CHANGELOG.md
  sdk/chaos/arm-chaos/src/chaosManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/commerce/arm-commerce/CHANGELOG.md
  sdk/commerce/arm-commerce/src/usageManagementClient.ts
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/src/confidentialLedgerClient.ts
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/src/confluentManagementClient.ts
  sdk/connectedvmware/arm-connectedvmware/CHANGELOG.md
  sdk/connectedvmware/arm-connectedvmware/src/azureArcVMwareManagementServiceAPI.ts
  sdk/consumption/arm-consumption/CHANGELOG.md
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
  sdk/customer-insights/arm-customerinsights/CHANGELOG.md
  sdk/customer-insights/arm-customerinsights/src/customerInsightsManagementClient.ts
Labels: Mgmt, Cosmos, Batch, Container Registry, Communication, Confidential Ledger

#23360 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt, auto-merge

#23363 Post release automated changes for advisor releases
  sdk/advisor/arm-advisor/CHANGELOG.md
  sdk/advisor/arm-advisor/package.json
  sdk/advisor/arm-advisor/src/advisorManagementClient.ts
Labels: Mgmt, auto-merge

#23366 Post release automated changes for analysisservices releases
  sdk/analysisservices/arm-analysisservices/CHANGELOG.md
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
Labels: Mgmt, auto-merge

#23367 Post release automated changes for apimanagement releases
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
Labels: Mgmt, auto-merge

#23369 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration, auto-merge

#23371 Post release automated changes for applicationinsights releases
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
Labels: Mgmt, auto-merge

#23373 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt, auto-merge

#23372 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#23374 Post release automated changes for attestation releases
  sdk/attestation/arm-attestation/CHANGELOG.md
  sdk/attestation/arm-attestation/package.json
  sdk/attestation/arm-attestation/src/attestationManagementClient.ts
Labels: Mgmt, Attestation, auto-merge

#23375 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/package.json
Labels: Mgmt, auto-merge

#23378 Post release automated changes for automation releases
  sdk/automation/arm-automation/CHANGELOG.md
  sdk/automation/arm-automation/package.json
  sdk/automation/arm-automation/src/automationClient.ts
Labels: Mgmt, auto-merge

#23381 Post release automated changes for azurestackhci releases
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/package.json
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
Labels: Mgmt, auto-merge

#23380 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
Labels: Mgmt, auto-merge

#23379 Post release automated changes for azurestack releases
  sdk/azurestack/arm-azurestack/CHANGELOG.md
  sdk/azurestack/arm-azurestack/package.json
  sdk/azurestack/arm-azurestack/src/azureStackManagementClient.ts
Labels: Mgmt, auto-merge

#23377 Post release automated changes for azureadexternalidentities releases
  sdk/azureadexternalidentities/arm-azureadexternalidentities/CHANGELOG.md
  sdk/azureadexternalidentities/arm-azureadexternalidentities/package.json
  sdk/azureadexternalidentities/arm-azureadexternalidentities/src/externalIdentitiesConfigurationClient.ts
Labels: auto-merge

#23376 Post release automated changes for automanage releases
  sdk/automanage/arm-automanage/CHANGELOG.md
  sdk/automanage/arm-automanage/package.json
  sdk/automanage/arm-automanage/src/automanageClient.ts
Labels: auto-merge

#23370 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: auto-merge

#23368 Post release automated changes for app releases
  sdk/app/arm-app/CHANGELOG.md
  sdk/app/arm-app/package.json
  sdk/app/arm-app/src/containerAppsAPIClient.ts
Labels: auto-merge
