Repository Azure/azure-sdk-for-js, pull requests merged in 2022-08, with the labels that each got.

#22764 Post release automated changes for mobilenetwork releases
  sdk/mobilenetwork/arm-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/arm-mobilenetwork/package.json
  sdk/mobilenetwork/arm-mobilenetwork/src/mobileNetworkManagementClient.ts
Labels: auto-merge

#22758 Remove api management ci from running on eng/common changes
  sdk/apimanagement/ci.yml
Labels: Central-EngSys

#22760 [core] prepare for 2022 Aug release
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
Labels: Azure.Core

#22778 Prepare @azure/communication-common 2.1.0 release
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication

#22780 Updated broken link
  sdk/communication/communication-common/README.md
Labels: Communication

#22536 @azure/api-management-custom-widgets-tools
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/apimanagement/api-management-custom-widgets-tools/.eslintrc.json
  sdk/apimanagement/api-management-custom-widgets-tools/CHANGELOG.md
  sdk/apimanagement/api-management-custom-widgets-tools/CODE_OF_CONDUCT.md
  sdk/apimanagement/api-management-custom-widgets-tools/LICENSE
  sdk/apimanagement/api-management-custom-widgets-tools/README.md
  sdk/apimanagement/api-management-custom-widgets-tools/api-extractor.json
  sdk/apimanagement/api-management-custom-widgets-tools/favicon.svg
  sdk/apimanagement/api-management-custom-widgets-tools/karma.conf.js
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
  sdk/apimanagement/api-management-custom-widgets-tools/review/api-management-custom-widgets-tools.api.md
  sdk/apimanagement/api-management-custom-widgets-tools/src/index.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/node/CustomWidgetBlobService.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/node/deploy.browser.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/node/deploy.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/node/getStorageSasUrl.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/node/readdir.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/paths.ts
  sdk/apimanagement/api-management-custom-widgets-tools/src/utils.ts
  sdk/apimanagement/api-management-custom-widgets-tools/test/index.spec.ts
  sdk/apimanagement/api-management-custom-widgets-tools/tsconfig.json
Labels: auto-merge

#22769 [core-amqp][test] fix test issue comparing two timestamps
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/test/tokenProvider.spec.ts
Labels: Azure.Core

#22757 Sync eng/common directory with azure-sdk-tools for PR 3765
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#22740 [ServiceBus] add `identifer` property to more types and options
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusReceiverUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
Labels: Service Bus

#22728 [ServiceBus] prepare for 2022 Aug release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#22782 [identity] Use environment variable for password for PEM
  sdk/identity/identity/.gitignore
  sdk/identity/identity/assets/fake-cert-password.pem
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_certificate_and_password_on_the_environment_variables.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
Labels: Azure.Identity

#22776 generate samples in analysisservices
  common/config/rush/pnpm-lock.yaml
  sdk/analysisservices/arm-analysisservices/_meta.json
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/samples-dev/serversCheckNameAvailabilitySample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversCreateSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversDeleteSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversDissociateGatewaySample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversGetDetailsSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListByResourceGroupSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListGatewayStatusSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListOperationResultsSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListOperationStatusesSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListSkusForExistingSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversListSkusForNewSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversResumeSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversSuspendSample.ts
  sdk/analysisservices/arm-analysisservices/samples-dev/serversUpdateSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/README.md
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/package.json
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/sample.env
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversCheckNameAvailabilitySample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversCreateSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversDeleteSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversDissociateGatewaySample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversGetDetailsSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListByResourceGroupSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListGatewayStatusSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListOperationResultsSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListOperationStatusesSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListSkusForExistingSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversListSkusForNewSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversResumeSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversSuspendSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/javascript/serversUpdateSample.js
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/README.md
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/package.json
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/sample.env
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversCheckNameAvailabilitySample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversCreateSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversDeleteSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversDissociateGatewaySample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversGetDetailsSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListByResourceGroupSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListGatewayStatusSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListOperationResultsSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListOperationStatusesSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListSkusForExistingSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversListSkusForNewSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversResumeSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversSuspendSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/src/serversUpdateSample.ts
  sdk/analysisservices/arm-analysisservices/samples/v4/typescript/tsconfig.json
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
  sdk/analysisservices/arm-analysisservices/tsconfig.json
Labels: Mgmt

#22755 Fixing issues for containers and databases with ids with white spaces or special characters
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
Labels: Cosmos

#22796 Sync eng/common directory with azure-sdk-tools for PR 3826
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22799 Post release automated changes for apimanagement releases
  sdk/apimanagement/api-management-custom-widgets-scaffolder/CHANGELOG.md
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-tools/CHANGELOG.md
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
Labels: auto-merge

#22164 Feature beta 3 branch - Redis samples
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/samples/AzureCacheForRedis/ioredis.md
  sdk/identity/identity/samples/AzureCacheForRedis/node-redis.md
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#22793 Public feedback and new api version
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-job-router/CHANGELOG.md
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicyCrud.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicyCrud.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicyCrud.ts
  sdk/communication/communication-job-router/samples-dev/JobQueueCrud.ts
  sdk/communication/communication-job-router/samples-dev/QuickStart.ts
  sdk/communication/communication-job-router/samples-dev/RouterJobCrud.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorkerCrud.ts
  sdk/communication/communication-job-router/samples/v1-beta/javascript/ClassificationPolicyCrud.js
  sdk/communication/communication-job-router/samples/v1-beta/javascript/DistributionPolicyCrud.js
  sdk/communication/communication-job-router/samples/v1-beta/javascript/ExceptionPolicyCrud.js
  sdk/communication/communication-job-router/samples/v1-beta/javascript/JobQueueCrud.js
  sdk/communication/communication-job-router/samples/v1-beta/javascript/QuickStart.js
  sdk/communication/communication-job-router/samples/v1-beta/javascript/RouterJobCrud.js
  sdk/communication/communication-job-router/samples/v1-beta/javascript/RouterWorkerCrud.js
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/ClassificationPolicyCrud.ts
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/DistributionPolicyCrud.ts
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/ExceptionPolicyCrud.ts
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/JobQueueCrud.ts
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/QuickStart.ts
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/RouterJobCrud.ts
  sdk/communication/communication-job-router/samples/v1-beta/typescript/src/RouterWorkerCrud.ts
  sdk/communication/communication-job-router/src/constants.ts
  sdk/communication/communication-job-router/src/generated/src/jobRouterApiClient.ts
  sdk/communication/communication-job-router/src/generated/src/jobRouterApiClientContext.ts
  sdk/communication/communication-job-router/src/generated/src/models/index.ts
  sdk/communication/communication-job-router/src/generated/src/models/mappers.ts
  sdk/communication/communication-job-router/src/generated/src/models/parameters.ts
  sdk/communication/communication-job-router/src/generated/src/operations/index.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouterAdministration.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouterAdministration.ts
  sdk/communication/communication-job-router/src/index.ts
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/src/models/requests.ts
  sdk/communication/communication-job-router/src/models/responses.ts
  sdk/communication/communication-job-router/src/routerAdministrationClient.ts
  sdk/communication/communication-job-router/src/routerClient.ts
  sdk/communication/communication-job-router/swagger/README.md
  sdk/communication/communication-job-router/swagger/swagger.json
  sdk/communication/communication-job-router/test/internal/utils/mockClient.ts
  sdk/communication/communication-job-router/test/public/exceptionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/utils/testData.ts
Labels: Communication

#22792 [notification hubs] Prepping Beta 1
  .vscode/cspell.json
  sdk/notificationhubs/ci.yml
  sdk/notificationhubs/notification-hubs/CHANGELOG.md
  sdk/notificationhubs/notification-hubs/README.md
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/review/notification-hubs.api.md
  sdk/notificationhubs/notification-hubs/src/models/notificationBuilder.ts
  sdk/notificationhubs/notification-hubs/test/internal/unit/notificationBuilder.spec.ts
  sdk/notificationhubs/notification-hubs/test/internal/unit/utils.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/createOrUpdateInstallation.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/createOrUpdateRegistration.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/getRegistration.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/listRegistrations.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/listRegistrationsByTag.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/sendBroadcastNotification.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/sendDirectNotification.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/sendNotification.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/unit/installation.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/unit/notification.spec.ts
  sdk/notificationhubs/notification-hubs/test/public/unit/notificationBuilder.spec.ts
Labels: Notification Hub

#22808 [identity] Partially revert #19356
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/package.json
Labels: Azure.Identity

#22810 Post release automated changes for core releases
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core, auto-merge

#22484 GA for @azure-rest/core-client
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/agrifood/agrifood-farming-rest/test/public/farmHeirarchy.spec.ts
  sdk/appservice/arm-appservice-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/certificateCredential.ts
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/src/helpers/getBinaryBody.ts
  sdk/core/core-client-rest/src/index.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/getBinaryBody.spec.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
  sdk/deviceupdate/iot-device-update-rest/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/purview/purview-administration-rest/package.json
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/synapse/synapse-access-control-rest/package.json
Labels: Azure.Core

#22817 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#22818 Fixing id encoding issues when using special characters for custome already on ComputeGateway
  eng/pipelines/templates/steps/cosmos-integration-public.yml
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/common/uriFactory.ts
  sdk/cosmosdb/cosmos/src/utils/headers.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/itemIdEncoding.spec.ts
Labels: Cosmos

#22829 Fixing typo in cosmos-integration-public.yml
  eng/pipelines/templates/steps/cosmos-integration-public.yml
Labels: Cosmos

#22830 Addressing ESLint violation
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/test/public/functional/itemIdEncoding.spec.ts
Labels: Cosmos

#22822 Post release automated changes for automanage releases
  sdk/automanage/arm-automanage/CHANGELOG.md
  sdk/automanage/arm-automanage/package.json
  sdk/automanage/arm-automanage/src/automanageClient.ts
Labels: auto-merge

#22838 Sync eng/common directory with azure-sdk-tools for PR 3860
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22844 [core-lro] Remove support for cancellation in LroEngine
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/lroEngine/lroEngine.ts
  sdk/core/core-lro/src/lroEngine/models.ts
  sdk/core/core-lro/src/lroEngine/operation.ts
  sdk/core/core-lro/src/poller.ts
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/utils/router.ts
Labels: Azure.Core

#22801 [Form Recognizer] Regenerate with the latest swagger
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/bin/defaultFields.ts
  sdk/formrecognizer/ai-form-recognizer/bin/writeModelCode.ts
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_analysis_node_healthinsurancecard__us/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_analysis_node_tax__us__w2/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_analysis_node_vaccinationcard/recording_jpg_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/getInfo.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/mappers.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/administration.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/GetResourceDetailsOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/index.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/FormRecognizer.json
  sdk/formrecognizer/ai-form-recognizer/test/private/tracing.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/analysis.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/utils/schemas/prebuilt-vaccinationCard.ts
Labels: Cognitive - Form Recognizer

#22847 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core, auto-merge

#22839 [OpenTelemetry Exporter] Export Metrics Min/Max values
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/README.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#22626 [Form Recognizer] Changelog for 4.0.0-beta.6
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#22835 [KeyVault] Prepare for August release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_base64_secret_value.json
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_non_base64_secret_value.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_get_a_certificates_secret_in_pem_format.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_base64_secret_value.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__merge_and_import_certificates/recording_can_import_a_certificate_from_a_certificates_non_base64_secret_value.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#22851 [identity] Remove VSCode credential from Default Azure Credential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Labels: Azure.Identity

#22856 [ai-form-recognizer] Prepare 4.0.0 beta.6 release
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/prebuilt/prebuilt-vaccinationCard.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analysis.ts
Labels: Client, Cognitive - Form Recognizer

#22871 Update version number in swagger
  sdk/communication/communication-rooms/CHANGELOG.md
  sdk/communication/communication-rooms/src/generated/src/roomsApiClient.ts
  sdk/communication/communication-rooms/src/generated/src/roomsApiClientContext.ts
  sdk/communication/communication-rooms/swagger/README.md
Labels: auto-merge, Communication

#22773 Storage stg84 features
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient/recording_create_with_encryption_scope.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient/recording_create_with_encryption_scope__preventencryptionscopeoverride__false.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient/recording_listpaths__encryption_scope.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient/recording_listpaths__pagedasynciterableiterator_with_encryption_scope.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_append_with_flush_should_work.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient__encryption_scope/recording_datalakedirectoryclient__getproperties_should_return_encryption_scope.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient__encryption_scope/recording_datalakefileclient__getproperties_should_return_encryption_scope.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_listfilesystems__pagedasynciterableiterator_returns_file_system_encryption_scope_info.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakeserviceclient/recording_listfilesystems__returns_file_system_encryption_scope_info.json
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient/recording_create_with_encryption_scope.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient/recording_create_with_encryption_scope__preventencryptionscopeoverride__false.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient/recording_listpaths__encryption_scope.js
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient/recording_listpaths__pagedasynciterableiterator_with_encryption_scope.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_append_with_flush_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient__encryption_scope/recording_datalakedirectoryclient__getproperties_should_return_encryption_scope.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient__encryption_scope/recording_datalakefileclient__getproperties_should_return_encryption_scope.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_listfilesystems__pagedasynciterableiterator_returns_file_system_encryption_scope_info.js
  sdk/storage/storage-file-datalake/recordings/node/datalakeserviceclient/recording_listfilesystems__returns_file_system_encryption_scope_info.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakedirectoryclientgeneratesasurl_with_encryptionscope_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakefileclientgeneratesasurl_with_encryptionscope_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakefilesystemclientgeneratesasurl_with_encryptionscope_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_datalakeserviceclientgenerateaccountsasurl_with_encryptionscope_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generateaccountsasqueryparameters_with_encryptionscope_should_work.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generatedatalakesasqueryparameters_with_encryptionscope_should_work_for_file.js
  sdk/storage/storage-file-datalake/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_generatedatalakesasqueryparameters_with_encryptionscope_should_work_for_filesystem.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/path.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/SASQueryParameters.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test.env
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.browser.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
Labels: Storage

#22872 Move common type guards into core-util
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/typeguards.ts
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/src/auth/tokenProvider.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/log.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/util/typeGuards.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-auth/package.json
  sdk/core/core-auth/src/azureNamedKeyCredential.ts
  sdk/core/core-auth/src/azureSASCredential.ts
  sdk/core/core-auth/src/typeguards.ts
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/delay.ts
  sdk/core/core-http/src/util/typeguards.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/src/typeGuards.ts
  sdk/core/core-util/test/public/typeGuards.spec.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/batchingPartitionChannel.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/impl/partitionAssigner.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/src/util/retries.ts
  sdk/eventhub/event-hubs/src/util/typeGuards.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/src/util/typeGuards.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/test-utils/perf/package.json
  sdk/test-utils/perf/src/eventPerfTest.ts
  sdk/test-utils/perf/src/options.ts
  sdk/test-utils/testing-recorder-new/karma.conf.js
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core, App Configuration, eslint plugin, dev-tool, Communication, AgriFood, Remote Rendering

#22885 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault, auto-merge

#22888 [core-http] Add support for headers having original casing during deserialization.
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/src/policies/deserializationPolicy.ts
  sdk/core/core-http/test/policies/deserializationPolicyTests.ts
Labels: Client, Azure.Core

#22887 [@azure/search-documents] Enable national cloud support for Azure Search SDK
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchAudience.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/serviceUtils.ts
Labels: Search

#22898 [KeyVault] Fix `listPropertiesOfSecretVersions` pagination in keyvault-secrets
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__list_secrets_in_various_ways/recording_can_list_deleted_secrets_by_page.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__list_secrets_in_various_ways/recording_can_list_secret_versions_by_page_non_existing.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__list_secrets_in_various_ways/recording_can_list_secrets_by_page.json
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__list_secrets_in_various_ways/recording_can_retrieve_all_versions_of_a_secret_by_page.json
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__list_secrets_in_various_ways/recording_can_list_deleted_secrets_by_page.js
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__list_secrets_in_various_ways/recording_can_list_secret_versions_by_page_non_existing.js
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__list_secrets_in_various_ways/recording_can_list_secrets_by_page.js
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__list_secrets_in_various_ways/recording_can_retrieve_all_versions_of_a_secret_by_page.js
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/public/list.spec.ts
Labels: KeyVault

#22882 [KeyVault] Fix minmax tests for keyvault-certificates
  sdk/keyvault/keyvault-certificates/package.json
Labels: KeyVault

#22900 Sync eng/common directory with azure-sdk-tools for PR 3945
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22902 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault, auto-merge

#22894 Fix a hang issue in downloading when there's transient network issue
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/src/utils/utils.node.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/src/utils/utils.node.ts
Labels: Storage

#22712 Fix failures in passing or converting permissions
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient_nodejs_only/recording_setpermissions.js
  sdk/storage/storage-file-datalake/src/transforms.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/transforms.spec.ts
Labels: Storage

#22895 [storage]Fix issue of not be able to parse URL with account name in Path correctly
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Labels: Storage

#22798 [core-http-compat] Policy factory compat
  dataplane.code-workspace
  sdk/core/core-http-compat/review/core-http-compat.api.md
  sdk/core/core-http-compat/src/extendedClient.ts
  sdk/core/core-http-compat/src/index.ts
  sdk/core/core-http-compat/src/policies/disableKeepAlivePolicy.ts
  sdk/core/core-http-compat/src/policies/requestPolicyFactoryPolicy.ts
  sdk/core/core-http-compat/src/response.ts
  sdk/core/core-http-compat/src/util.ts
  sdk/core/core-http-compat/test/extendedClient.spec.ts
  sdk/core/core-http-compat/test/requestPolicyFactoryPolicy.spec.ts
  sdk/core/core-http-compat/test/testPolicies.ts
Labels: Client, Azure.Core

#22906 Use API GA version and reuse unreleased beta 4
  sdk/communication/communication-short-codes/CHANGELOG.md
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_get_update_list_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_us_program_brief_using_upsert/recording_can_create_get_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__updates_us_program_brief_using_upsert/recording_can_create_and_update_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_get_update_list_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_us_program_brief_using_upsert/recording_can_create_get_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__updates_us_program_brief_using_upsert/recording_can_create_and_update_a_us_program_brief.json
  sdk/communication/communication-short-codes/src/generated/src/models/parameters.ts
  sdk/communication/communication-short-codes/src/generated/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/src/generated/src/tracing.ts
  sdk/communication/communication-short-codes/src/utils/constants.ts
  sdk/communication/communication-short-codes/swagger/README.md
  sdk/communication/communication-short-codes/swagger/shortcodes.json
  sdk/communication/communication-short-codes/test/public/utils/recordedClient.ts
  sdk/communication/communication-short-codes/test/public/utils/testProgramBriefAttachment.ts
  sdk/communication/communication-short-codes/test/public/utils/testUSProgramBrief.ts
Labels: Communication

#22915 Temporarily remove the wrong input test. A real fix will be added soon.
  sdk/remoterendering/mixed-reality-remote-rendering/test/public/remoteRenderingClient.spec.ts
Labels: Remote Rendering

#22924 [core-rest-pipeline] Fix issue with afterPhase policies getting run later than expected
  sdk/core/core-rest-pipeline/src/pipeline.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
Labels: Azure.Core

#22923 [Event Hubs, Service Bus] Remove unnecessary dependency on `@types/long`
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/test/public/sendAndSchedule.spec.ts
Labels: Service Bus, Event Hubs

#22865 max integrated cache staleness in Ms zero check fix
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
Labels: Cosmos

#22934 Post release automated changes for devcenter releases
  sdk/devcenter/arm-devcenter/CHANGELOG.md
  sdk/devcenter/arm-devcenter/package.json
  sdk/devcenter/arm-devcenter/src/devCenterClient.ts
Labels: auto-merge

#22938 Prepare release of the Short Codes SDK for beta 4
  sdk/communication/communication-short-codes/CHANGELOG.md
Labels: Communication

#22886 [Azure Monitor Exporter] Export Metric attributes
  .github/CODEOWNERS
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/src/export/metric.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#22869 cosmos release 3.17.0
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#22933 release iothub package
  common/config/rush/pnpm-lock.yaml
  sdk/iothub/arm-iothub/CHANGELOG.md
  sdk/iothub/arm-iothub/_meta.json
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_create_test.js
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_create_test.json
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_delete_test.js
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_delete_test.json
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_get_test.js
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_get_test.json
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_list_test.js
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_list_test.json
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_update_test.js
  sdk/iothub/arm-iothub/recordings/node/iothub_test/recording_iothubresource_update_test.json
  sdk/iothub/arm-iothub/review/arm-iothub.api.md
  sdk/iothub/arm-iothub/samples/v6/typescript/package.json
  sdk/iothub/arm-iothub/src/iotHubClient.ts
  sdk/iothub/arm-iothub/src/models/index.ts
Labels: Mgmt

#22965 [Monitor Ingestion] Test resources for live tests
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/test/public/logsIngestionClient.spec.ts
  sdk/monitor/test-resources.json
Labels: Monitor

#22910 Anujissar/fix rooms pipeline
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/test/public/roomsClient.spec.ts
Labels: Communication

#22947 Post release automated changes for connectedvmware releases
  sdk/connectedvmware/arm-connectedvmware/CHANGELOG.md
  sdk/connectedvmware/arm-connectedvmware/package.json
  sdk/connectedvmware/arm-connectedvmware/src/azureArcVMwareManagementServiceAPI.ts
Labels: auto-merge

#22930 Move defaultLogPolicy to after Sign phase
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/test/defaultLogPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/retryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/util.ts
Labels: Azure.Core

#22970 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: auto-merge

#22971 Post release automated changes for machinelearning releases
  sdk/machinelearning/arm-machinelearning/CHANGELOG.md
  sdk/machinelearning/arm-machinelearning/package.json
  sdk/machinelearning/arm-machinelearning/src/azureMachineLearningWorkspaces.ts
Labels: auto-merge

#22969 Post release automated changes for deviceupdate releases
  sdk/deviceupdate/arm-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/arm-deviceupdate/package.json
  sdk/deviceupdate/arm-deviceupdate/src/deviceUpdate.ts
Labels: auto-merge

#22966 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos, auto-merge

#22967 Post release automated changes for iothub releases
  sdk/iothub/arm-iothub/CHANGELOG.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/src/iotHubClient.ts
Labels: Mgmt, auto-merge

#22960 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#22931 Post release automated changes for automation releases
  sdk/automation/arm-automation/CHANGELOG.md
  sdk/automation/arm-automation/package.json
  sdk/automation/arm-automation/src/automationClient.ts
Labels: Mgmt, auto-merge

#22866 Post release automated changes for communication releases
  sdk/communication/communication-rooms/CHANGELOG.md
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/src/generated/src/roomsApiClientContext.ts
  sdk/communication/communication-rooms/swagger/README.md
Labels: auto-merge, Communication

#22948 Post release automated changes for storage releases
  sdk/storage/arm-storage/CHANGELOG.md
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/storageManagementClient.ts
Labels: Mgmt, Storage, auto-merge

#22823 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt, auto-merge

#22820 Post release automated changes for mediaservices releases
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
Labels: Mgmt, auto-merge

#22868 [Mixed Reality] Update mixed reality to core-tracing 1.0
  sdk/mixedreality/mixed-reality-authentication/package.json
  sdk/mixedreality/mixed-reality-authentication/src/generated/index.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/mixedRealityStsRestClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/tracing.ts
  sdk/mixedreality/mixed-reality-authentication/src/mixedRealityStsClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/tracing.ts
  sdk/mixedreality/mixed-reality-authentication/swagger/README.md
Labels: Mixed Reality

#22988 [Monitor ingestion] Reduce test upload size
  sdk/monitor/monitor-ingestion/recordings/browsers/logsingestionclient_live_tests/recording_partial_fail_test__when_dcr_id_is_incorrect_for_alternate_requests.json
  sdk/monitor/monitor-ingestion/recordings/browsers/logsingestionclient_live_tests/recording_throws_error_when_all_logs_fail.json
  sdk/monitor/monitor-ingestion/recordings/node/logsingestionclient_live_tests/recording_partial_fail_test__when_dcr_id_is_incorrect_for_alternate_requests.json
  sdk/monitor/monitor-ingestion/recordings/node/logsingestionclient_live_tests/recording_throws_error_when_all_logs_fail.json
  sdk/monitor/monitor-ingestion/test/public/logsIngestionClient.spec.ts
Labels: Monitor

#22994 Post release automated changes for nginx releases
  sdk/nginx/arm-nginx/CHANGELOG.md
  sdk/nginx/arm-nginx/package.json
  sdk/nginx/arm-nginx/src/nginxManagementClient.ts
Labels: auto-merge

#22730 Don't skip checkout exclusion in release config
  eng/pipelines/templates/stages/archetype-js-release.yml
Labels: Central-EngSys

#23002 Prepare STG84 release.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
Labels: Storage

#23001 [Identity] update changelog for identity v3 beta-1 release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#23005 Sync eng/common directory with azure-sdk-tools for PR 3874
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#23012 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Labels: Storage, auto-merge

#22974 Apim/custom widgets scaffolder beta2 - templates updated
  sdk/apimanagement/api-management-custom-widgets-scaffolder/CHANGELOG.md
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/_shared/src/styles/app.scss
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/react/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/react/src/app/index.tsx
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/react/vite.config.ts.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/typescript/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/typescript/src/index.html.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/typescript/tsconfig.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/vue/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/vue/src/components/app/index.vue
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/_shared/src/styles/app.scss
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/react/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/react/src/app/index.tsx
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/react/vite.config.ts.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/typescript/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/typescript/src/index.html.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/typescript/tsconfig.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/vue/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/templates/vue/src/components/app/index.vue
Labels: auto-merge

#23010 Post release automated changes for notificationhubs releases
  sdk/notificationhubs/notification-hubs/CHANGELOG.md
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/src/utils/constants.ts
Labels: auto-merge

#23021 Apim/custom widgets packages beta2 CLI improvement
  sdk/apimanagement/api-management-custom-widgets-scaffolder/CHANGELOG.md
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/execute.js
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/bin/execute-configs.ts
Labels: auto-merge

#23022 Post release automated changes for apimanagement releases
  sdk/apimanagement/api-management-custom-widgets-scaffolder/CHANGELOG.md
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
Labels: auto-merge

#22785 [engsys][identity] enable code coverage result generation
  sdk/identity/identity/.nycrc
Labels: Azure.Identity

#23014 [Service Bus] Enable sending large messages
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/test/internal/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testutils2.ts
Labels: Service Bus

#22926 [ACR] Troubleshooting guide
  sdk/containerregistry/container-registry/README.md
  sdk/containerregistry/container-registry/TROUBLESHOOTING.md
Labels: Container Registry

#23043 release containerinstance sdk
  common/config/rush/pnpm-lock.yaml
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/_meta.json
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_create_test.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_delete_test.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_get_test.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_list_test.json
  sdk/containerinstance/arm-containerinstance/review/arm-containerinstance.api.md
  sdk/containerinstance/arm-containerinstance/samples-dev/containerGroupsCreateOrUpdateSample.ts
  sdk/containerinstance/arm-containerinstance/samples-dev/subnetServiceAssociationLinkDeleteSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/README.md
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsCreateOrUpdateSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsDeleteSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsGetSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsListByResourceGroupSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsListSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsRestartSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsStartSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsStopSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containerGroupsUpdateSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containersAttachSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containersExecuteCommandSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/containersListLogsSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/locationListCachedImagesSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/locationListCapabilitiesSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/locationListUsageSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/operationsListSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/package.json
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/sample.env
  sdk/containerinstance/arm-containerinstance/samples/v9/javascript/subnetServiceAssociationLinkDeleteSample.js
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/README.md
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/package.json
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/sample.env
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsCreateOrUpdateSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsDeleteSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsGetSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsListByResourceGroupSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsListSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsRestartSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsStartSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsStopSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containerGroupsUpdateSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containersAttachSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containersExecuteCommandSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/containersListLogsSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/locationListCachedImagesSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/locationListCapabilitiesSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/locationListUsageSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/operationsListSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/src/subnetServiceAssociationLinkDeleteSample.ts
  sdk/containerinstance/arm-containerinstance/samples/v9/typescript/tsconfig.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerinstance/arm-containerinstance/src/models/index.ts
  sdk/containerinstance/arm-containerinstance/src/models/mappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/parameters.ts
  sdk/containerinstance/arm-containerinstance/src/operations/index.ts
  sdk/containerinstance/arm-containerinstance/src/operations/subnetServiceAssociationLink.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/index.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/subnetServiceAssociationLink.ts
Labels: Mgmt

#23062 fix bugs in netapp by putting the parameters in the right position
  sdk/netapp/arm-netapp/samples-dev/netAppResourceCheckNameAvailabilitySample.ts
  sdk/netapp/arm-netapp/samples-dev/netAppResourceCheckQuotaAvailabilitySample.ts
  sdk/netapp/arm-netapp/samples/v16/javascript/netAppResourceCheckNameAvailabilitySample.js
  sdk/netapp/arm-netapp/samples/v16/javascript/netAppResourceCheckQuotaAvailabilitySample.js
  sdk/netapp/arm-netapp/samples/v16/typescript/package.json
  sdk/netapp/arm-netapp/samples/v16/typescript/src/netAppResourceCheckNameAvailabilitySample.ts
  sdk/netapp/arm-netapp/samples/v16/typescript/src/netAppResourceCheckQuotaAvailabilitySample.ts
Labels: Mgmt

#23055 [monitor-query] Update samples to use 10-minute server timeout
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryMultipleWorkspaces.ts
  sdk/monitor/monitor-query/samples/v1/javascript/logsQuery.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryBatch.js
  sdk/monitor/monitor-query/samples/v1/javascript/logsQueryMultipleWorkspaces.js
  sdk/monitor/monitor-query/samples/v1/javascript/metricsQuery.js
  sdk/monitor/monitor-query/samples/v1/typescript/package.json
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQuery.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/logsQueryMultipleWorkspaces.ts
  sdk/monitor/monitor-query/samples/v1/typescript/src/metricsQuery.ts
Labels: Monitor

#23059 [dev-tool] react to typing changes in rollup v2.78
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/config/rollup.base.config.ts
Labels: dev-tool

#22989 Post release automated changes for monitor releases
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/src/constants.ts
  sdk/monitor/monitor-ingestion/src/generated/generatedMonitorIngestionClientContext.ts
  sdk/monitor/monitor-ingestion/swagger/README.md
Labels: Monitor, auto-merge
