Repository Azure/azure-sdk-for-js, pull requests merged in 2022-03, with the labels that each got.

#20587 [mgmt] - Fix aggregate reports pipeline
  sdk/compute/arm-compute/samples-dev/restartDedicatedHost.ts
  sdk/compute/arm-compute/samples/v17/javascript/README.md
  sdk/compute/arm-compute/samples/v17/javascript/restartDedicatedHost.js
  sdk/compute/arm-compute/samples/v17/typescript/README.md
  sdk/compute/arm-compute/samples/v17/typescript/src/restartDedicatedHost.ts
  sdk/visualstudio/arm-visualstudio/README.md
Labels: Mgmt

#20499 [Web PubSub] Test env setup & live test pipeline
  sdk/web-pubsub/test-resources.json
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/test.env
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
  sdk/web-pubsub/web-pubsub/tests.yml
Labels: WebPubSub

#20593 [Synapse] Fix Synapse CI
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-access-control/test/public/utils/recordedClient.ts
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-managed-private-endpoints/test/public/utils/recordedClient.ts
  sdk/synapse/synapse-spark/package.json
  sdk/synapse/synapse-spark/test/public/utils/recordedClient.ts
Labels: Synapse

#20513 [Identity] Update the identity - beta 1 version
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
Labels: Azure.Identity

#20223 [Identity] Modified Troubleshooting guide for CSS
  sdk/identity/identity/Troubleshooting.md
Labels: Azure.Identity

#20591 [Farmbeats] Fix broken browser test
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/agrifood/agrifood-farming-rest/test/public/utils/recordedClient.ts
Labels: AgriFood

#20598 Sync eng/common directory with azure-sdk-tools for PR 2778
  eng/common/pipelines/templates/steps/credscan.yml
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys, Central-EngSys

#20074 Set correct content length in requests for uploading operations
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/policies/StorageSharedKeyCredentialPolicy.ts
Labels: Storage

#20614 sqlvirtualmachine-track2
  common/config/rush/pnpm-lock.yaml
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/CHANGELOG.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/LICENSE
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/README.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/_meta.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/api-extractor.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/review/arm-sqlvirtualmachine.api.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/rollup.config.js
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/index.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/mappers.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/models/parameters.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operations/availabilityGroupListeners.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operations/operations.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operations/sqlVirtualMachines.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operationsInterfaces/operations.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/operationsInterfaces/sqlVirtualMachines.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClient.ts
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/tsconfig.json
  sdk/sqlvirtualmachine/ci.mgmt.yml
Labels: Mgmt

#20624 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt, auto-merge

#20621 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#20602 [Keyvault] - Add TROUBLESHOOTING guides
  sdk/keyvault/TROUBLESHOOTING.md
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-admin/TROUBLESHOOTING.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-certificates/TROUBLESHOOTING.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-keys/TROUBLESHOOTING.md
  sdk/keyvault/keyvault-secrets/README.md
  sdk/keyvault/keyvault-secrets/TROUBLESHOOTING.md
Labels: KeyVault

#20599 Sync eng/common directory with azure-sdk-tools for PR 2833
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#20605 Sync eng/common directory with azure-sdk-tools for PR 2823
  common/tools/dev-tool/src/util/testProxyUtils.ts
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
  sdk/test-utils/recorder/test/sanitizers.spec.ts
Labels: EngSys, Central-EngSys

#20630 samples(@azure/dtdl-parser): correct sample JSON references
  sdk/digitaltwins/dtdl-parser/package.json
  sdk/digitaltwins/dtdl-parser/samples-dev/parser_demo.ts
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/javascript/ArrayV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/javascript/InterfaceContentsEmbeddedV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/javascript/InterfaceExtendsOnlyV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/javascript/RelationshipTargetDtmiV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/javascript/parser_demo.js
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/typescript/ArrayV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/typescript/InterfaceContentsEmbeddedV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/typescript/InterfaceExtendsOnlyV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/typescript/RelationshipTargetDtmiV2.json
  sdk/digitaltwins/dtdl-parser/samples/v1-beta/typescript/src/parser_demo.ts
Labels: Digital Twins

#19745 [Unified Recorder] Add support for addTransform
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/transform.ts
  sdk/test-utils/recorder/src/utils/paths.ts
  sdk/test-utils/recorder/test/testProxyTests.spec.ts
  sdk/test-utils/recorder/test/utils/utils.ts
Labels: test-utils-recorder

#20408 Enable a linter rule to prevent usage of "import" in README.md javascript code blocks
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/textanalytics/ai-text-analytics/README.md
  sdk/textanalytics/ai-text-analytics/package.json
Labels: customer-reported, eslint plugin, Cognitive - Text Analytics, Impact++

#20631 [Identity] Preparing release for beta-1 - update changelog
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#20597 Sync eng/common directory with azure-sdk-tools for PR 2830
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  eng/common/scripts/Cosmos-Emulator.ps1
Labels: EngSys, Central-EngSys

#20636 [ServiceBus] Prepare for 2022 March release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#20623 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#20625 Post release automated changes for sqlvirtualmachine releases
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/CHANGELOG.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClient.ts
Labels: Mgmt, auto-merge

#20637 [web-pubsub] Skip a live test waiting for service fix
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
Labels: auto-merge, WebPubSub

#20640 Enable trigger for es lint pipeline
  common/tools/eslint-plugin-azure-sdk/ci.yml
  eng/pipelines/templates/steps/run-eslint.yml
Labels: eslint plugin

#20595 Prepare release for core-rest-pipeline and core-client-rest
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core

#20649 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core, auto-merge

#20657 Post release automated changes for containerregistry releases
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
Labels: Mgmt, Container Registry, auto-merge

#20654 [storage]Revert change for x-ms-encryption-algorithm and update changelog.
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/CHANGELOG.md
Labels: Storage

#20546 [storage]Added ability to specify Disk Compute audience when initializing blob client instances.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/recordings/node/pageblobclient_nodejs_only/recording_fetch_a_blob_for_disk_with_bearer_token.js
  sdk/storage/storage-blob/recordings/node/pageblobclient_nodejs_only/recording_fetch_a_blob_for_disk_with_challenge_bearer_token.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/models.ts
  sdk/storage/storage-blob/src/policies/StorageBearerTokenChallengeAuthenticationPolicy.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/assert.ts
Labels: Storage

#20662 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage, auto-merge

#20652 [Identity] Fixing some links in our Markdown sample
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity

#20658 [@azure/search-documents] Commit Aliases Operations for Search Index Client
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/models/parameters.ts
  sdk/search/search-documents/src/generated/service/operations/aliases.ts
  sdk/search/search-documents/src/generated/service/operations/index.ts
  sdk/search/search-documents/src/generated/service/operationsInterfaces/aliases.ts
  sdk/search/search-documents/src/generated/service/operationsInterfaces/index.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#20677 [core-lro] update tests to support statefulness better
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/router/paramRoutes.ts
  sdk/core/core-lro/test/utils/router/utils.ts
Labels: Azure.Core

#20656 [core-lro] merge azureAsync and location strategies
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/src/lroEngine/azureAsyncPolling.ts
  sdk/core/core-lro/src/lroEngine/locationPolling.ts
  sdk/core/core-lro/src/lroEngine/models.ts
  sdk/core/core-lro/src/lroEngine/requestUtils.ts
  sdk/core/core-lro/src/lroEngine/stateMachine.ts
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/utils/router/paramRoutes.ts
  sdk/core/core-lro/test/utils/router/routesProcesses.ts
  sdk/core/core-lro/test/utils/router/routesTable.ts
  sdk/textanalytics/ai-text-analytics/src/analyzeLro.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalyticsClient.ts
Labels: Azure.Core

#20639 Update Synapse data plane SDK Mar. release
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/src/index.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/datasetOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/kqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/kqlScripts.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedServiceOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/metastore.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperationResult.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkConfigurationOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinitionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceOperations.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#20685 Fix Azure Core Tracing Readme Issues
  sdk/core/core-tracing/README.md
Labels: Azure.Core

#20695 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core, auto-merge

#20699 Sync eng/common directory with azure-sdk-tools for PR 2875
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#20704 Fix ci yml
  sdk/deviceupdate/ci.yml
  sdk/monitor/ci.yml
Labels: Monitor

#20711 Post release automated changes for resources releases
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/package.json
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/src/resourceManagementClient.ts
Labels: Mgmt, auto-merge

#20712 Post release automated changes for digitaltwins releases
  sdk/digitaltwins/arm-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/arm-digitaltwins/package.json
  sdk/digitaltwins/arm-digitaltwins/src/azureDigitalTwinsManagementClient.ts
Labels: Mgmt, Digital Twins, auto-merge

#20717 Post release automated changes for locks releases
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/package.json
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/src/managementLockClient.ts
Labels: Mgmt, auto-merge

#20328 [Event Hubs] Update the adapter to work when payload is parsed as JSON
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventDataAdapter.ts
  sdk/schemaregistry/schema-registry-avro/karma.conf.js
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/rollup.patched.config.js
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroEncoder.ts
  sdk/schemaregistry/schema-registry-avro/test/avroEncoder.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/mocked.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/models.ts
  sdk/schemaregistry/schema-registry-avro/test/messageAdapter.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/env.browser.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/env.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedEncoder.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedRegistryClient.ts
  sdk/schemaregistry/test-resources.json
Labels: Event Hubs, Schema Registry

#20693 [EventGrid] Update for March Release
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClient.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/generated/models/parameters.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#20422 Adding Azure Authentication support for Exporter
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/src/config.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/breezeUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/functional/trace.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/httpSender.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/trace.exporter.test.ts
Labels: Monitor

#20706 [Identity] Clarification about the VSCode authentication
  sdk/identity/identity/README.md
Labels: Azure.Identity

#20678 Update OpenTelemetry code snippets in Azure Monitor Exporter readme
  sdk/monitor/monitor-opentelemetry-exporter/README.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/httpSample.js
Labels: Monitor

#20702 [Identity] Rename Troubleshooting.md to TROUBLESHOOTING.md
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/migration-v1-v2.md
Labels: Azure.Identity

#20726 [EventGrid] Use `^1.5.0` for `@azure/core-client`
  sdk/eventgrid/eventgrid/package.json
Labels: Event Grid

#20731 [Schema Registry Avro] Rename Encoder to Serializer
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/samples-dev/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/index.ts
  sdk/schemaregistry/schema-registry-avro/src/models.ts
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/messageAdapter.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedSerializer.ts
Labels: Schema Registry

#20708 Synapse march release RP and fix the package.json issue
  sdk/synapse/synapse-artifacts/package.json
Labels: Synapse

#20727 [credscan] replace test private key value with placeholder
  eng/js.gdnbaselines
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_can_get_a_certificates_secret_in_pem_format.js
Labels: KeyVault

#20739 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid, auto-merge

#20703 update identity version to beta-2
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
Labels: Azure.Identity

#20738 Post release automated changes for policy releases
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/package.json
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/src/policyClient.ts
Labels: Mgmt, auto-merge

#20743 Post release automated changes for subscription releases
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/package.json
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/src/subscriptionClient.ts
Labels: Mgmt, auto-merge

#20745 Post release automated changes for storage releases
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/package.json
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/src/storageManagementClient.ts
Labels: Mgmt, Storage, auto-merge

#20733 [Schema Registry Avro] Log cache size
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/logger.ts
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
Labels: Schema Registry

#19587 [ServiceBus] Migrate REST-based client to core-rest-pipeline
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/serializers/namespaceResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/queueResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/subscriptionResourceSerializer.ts
  sdk/servicebus/service-bus/src/serializers/topicResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/compat/compatibility.ts
  sdk/servicebus/service-bus/src/util/compat/httpHeaders.ts
  sdk/servicebus/service-bus/src/util/compat/index.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/auth.spec.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/utils/envVarUtils.ts
Labels: Service Bus

#20527 Sync eng/common directory with azure-sdk-tools for PR 2810
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#20734 Sync eng/common directory with azure-sdk-tools for PR 2889
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#20751 Sync eng/common directory with azure-sdk-tools for PR 2892
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#20635 Sync eng/common directory with azure-sdk-tools for PR 2836
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#20752 Sync eng/common directory with azure-sdk-tools for PR 2899
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#20748 Post release automated changes for network releases
  sdk/network/arm-network-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/network/arm-network-profile-2020-09-01-hybrid/package.json
  sdk/network/arm-network-profile-2020-09-01-hybrid/src/networkManagementClient.ts
Labels: Mgmt, auto-merge

#20732 [storage]Fix issue of always send x-ms-encryption-algorithm header in request.
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/swagger/README.md
Labels: Storage

#20755 update-constructor-in-readme
  sdk/managementgroups/arm-managementgroups/README.md
  sdk/managementpartner/arm-managementpartner/README.md
  sdk/quota/arm-quota/README.md
  sdk/reservations/arm-reservations/README.md
  sdk/resourcegraph/arm-resourcegraph/README.md
  sdk/resources-subscriptions/arm-resources-subscriptions/README.md
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/README.md
  sdk/subscription/arm-subscriptions/README.md
Labels: Mgmt

#20761 update-version-for-commerce
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/package.json
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/src/usageManagementClient.ts
Labels: Mgmt

#20765 Post release automated changes for compute releases
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/package.json
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#20769 Post release automated changes for eventhub releases
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/package.json
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/src/eventHubManagementClient.ts
Labels: Mgmt, Event Hubs, auto-merge

#20770 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/package.json
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/src/authorizationManagementClient.ts
Labels: Mgmt, auto-merge

#20764 [storage]Update change log and version for STG81 GA release.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#20252 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault, auto-merge

#20771 [Identity] Fixed wrong name in the AuthorizationCodeFlow documentation
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
Labels: Azure.Identity

#20775 [Form Recognizer] Renames to few beta components
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/MIGRATION-v3_v4.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v3/typescript/src/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/copyModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
Labels: Cognitive - Form Recognizer

#20785 [Schema Registry Avro] Prepare release
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
Labels: Schema Registry

#20780 [Schema Registry Avro] Test with messaging clients
  sdk/schemaregistry/schema-registry-avro/test/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/mocked.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/models.ts
  sdk/schemaregistry/schema-registry-avro/test/messageAdapter.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#20800 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage, auto-merge

#20797 Post release automated changes for iothub releases
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/CHANGELOG.md
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/package.json
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/src/iotHubClient.ts
Labels: Mgmt, auto-merge

#20577 [ServiceBus] correct types for `propertiesToModify` options
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
Labels: Service Bus

#20784 Post release automated changes for communication releases
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClientContext.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: auto-merge

#20782 [engSys] - Upgrade puppeteer
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core, WebPubSub

#20781 [core-rest-pipeline] Bug Fix - Retry logic to honor abort signal
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipeline.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/decompressResponsePolicy.ts
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.browser.ts
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/logPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/ndJsonPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/proxyPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/redirectPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/retryPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/setClientRequestIdPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/userAgentPolicy.ts
  sdk/core/core-rest-pipeline/src/restError.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
  sdk/core/core-rest-pipeline/src/util/userAgent.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/browser/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/defaultRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/ndJsonPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/bearerTokenAuthenticationPolicyChallenge.spec.ts
  sdk/core/core-rest-pipeline/test/node/decompressResponsePolicy.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/proxyPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
  sdk/core/core-rest-pipeline/test/redirectPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/retryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/systemErrorRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/throttlingRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
Labels: Azure.Core

#20816 [Event Hubs] Prepare release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#20819 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#20823 Update release date for Synapse March Release
  sdk/synapse/synapse-artifacts/CHANGELOG.md
Labels: Synapse

#20830 [eventhubs-checkpointstore-table][test] run integration tests on .js files
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
Labels: Event Hubs

#20825 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse, auto-merge

#20829 Sync eng/common directory with azure-sdk-tools for PR 2910
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#20817 [core-rest-pipeline] Support "retry-after-ms" and "x-ms-retry-after-ms" headers with the throttling policy
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/retryPolicy.ts
  sdk/core/core-rest-pipeline/src/retryStrategies/throttlingRetryStrategy.ts
  sdk/core/core-rest-pipeline/src/util/helpers.ts
  sdk/core/core-rest-pipeline/test/throttlingRetryPolicy.spec.ts
Labels: Azure.Core

#20842 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration, auto-merge

#20846 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#20873 Add Azure Account extension version requirement to Identity README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#20836 [Form Recognizer] Fix integration-test:node command to run all tests in all OSes
  sdk/formrecognizer/ai-form-recognizer/package.json
Labels: Cognitive - Form Recognizer

#20874 Sync eng/common directory with azure-sdk-tools for PR 2913
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#20876 Sync eng/common directory with azure-sdk-tools for PR 2870
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: EngSys, Central-EngSys

#20875 Sync eng/common directory with azure-sdk-tools for PR 2866
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#20815 [Schema Registry Avro] drop MessageData postfix in method names
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/samples-dev/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/models.ts
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#20847 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/src/redisManagementClient.ts
Labels: Mgmt, auto-merge

#20881 Sync eng/common directory with azure-sdk-tools for PR 2901
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#20882 [Schema Registry Avro] Rename MessageWithMetadata
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventDataAdapter.ts
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/models.ts
  sdk/schemaregistry/schema-registry-avro/src/utility.ts
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/messageAdapter.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/messageContent.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/utils.ts
Labels: Event Hubs, Schema Registry

#20891 [engsys] update rush and pnpm versions
  rush.json
  sdk/core/core-http/package.json
Labels: Azure.Core

#20895 Sync eng/common directory with azure-sdk-tools for PR 2922
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#20902 [Schema Registry Avro] Add an error scenario
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/dummies.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#20915 upgrade existing libraries to core-tracing 1.0.0
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
  sdk/test-utils/test-utils/package.json
Labels: EngSys, Event Hubs, Tables, Cognitive - Form Recognizer

#20914 [Form Recognizer] Validators, tests and recordings
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_analysis_node_custom_forms/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_analysis_node_tax__us__w2/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_analysis_node_custom_forms/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_analysis_node_tax__us__w2/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/test/public/node/analysis.spec.ts
Labels: Cognitive - Form Recognizer

#20937 [keyvault] - Fix certificate samples
  sdk/keyvault/keyvault-certificates/samples-dev/backupAndRestore.ts
  sdk/keyvault/keyvault-certificates/samples-dev/deleteAndRecover.ts
  sdk/keyvault/keyvault-certificates/samples-dev/helloWorld.ts
  sdk/keyvault/keyvault-certificates/samples-dev/importCertificate.ts
  sdk/keyvault/keyvault-certificates/samples-dev/issuers.ts
  sdk/keyvault/keyvault-certificates/samples-dev/listCertificates.ts
  sdk/keyvault/keyvault-certificates/samples-dev/mergeCertificate.ts
  sdk/keyvault/keyvault-certificates/samples-dev/operations.ts
  sdk/keyvault/keyvault-certificates/samples-dev/purgeAllCertificates.ts
Labels: KeyVault

#20883 [core-rest-pipeline] Fixed bugs introduced on 1.4.0, and added tests
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/retryPolicy.ts
  sdk/core/core-rest-pipeline/src/retryStrategies/exponentialRetryStrategy.ts
  sdk/core/core-rest-pipeline/test/defaultRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/exponentialRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/retryPolicy.spec.ts
Labels: Azure.Core

#20516 [Identity] allowLoggingAccountIdentifiers support
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.js
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/tokenCredentialOptions.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#20916 [Tables] Fix issue handling empty nextRowKey
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/src/utils/continuationToken.ts
  sdk/tables/data-tables/test/internal/continuationToken.spec.ts
Labels: Tables

#20850 applicationinsight-release
  common/config/rush/pnpm-lock.yaml
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/README.md
  sdk/applicationinsights/arm-appinsights/_meta.json
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/review/arm-appinsights.api.md
  sdk/applicationinsights/arm-appinsights/rollup.config.js
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
  sdk/applicationinsights/arm-appinsights/src/models/index.ts
  sdk/applicationinsights/arm-appinsights/src/operations/workbooks.ts
  sdk/applicationinsights/arm-appinsights/src/operationsInterfaces/workbooks.ts
  sdk/applicationinsights/ci.mgmt.yml
Labels: Mgmt

#20947 Post release automated changes for storagecache releases
  sdk/storagecache/arm-storagecache/CHANGELOG.md
  sdk/storagecache/arm-storagecache/package.json
  sdk/storagecache/arm-storagecache/src/storageCacheManagementClient.ts
Labels: Mgmt, auto-merge

#20946 Post release automated changes for applicationinsights releases
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
Labels: Mgmt, auto-merge

#20941 [KeyVault] - Add release policy grammar links
  sdk/keyvault/keyvault-keys/src/keysModels.ts
Labels: KeyVault

#20951 Sync eng/common directory with azure-sdk-tools for PR 2847
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Import-AzModules.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#18859 [Perf] [Service Bus] [Event Hubs] Event Based SDKs Perf Framework - part 2
  sdk/eventhub/perf-tests/event-hubs/README.md
  sdk/eventhub/perf-tests/event-hubs/test/index.spec.ts
  sdk/eventhub/perf-tests/event-hubs/test/subscribe.spec.ts
  sdk/servicebus/perf-tests/service-bus/README.md
  sdk/servicebus/perf-tests/service-bus/test/index.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/receiveBatch.spec.ts
  sdk/servicebus/perf-tests/service-bus/test/subscribe.spec.ts
  sdk/test-utils/perf/src/batchPerfTest.ts
  sdk/test-utils/perf/src/eventPerfTest.ts
  sdk/test-utils/perf/src/index.ts
  sdk/test-utils/perf/src/perfTestBase.ts
  sdk/test-utils/perf/src/program.ts
  sdk/test-utils/perf/test/batch/mockReceiverTest.spec.ts
  sdk/test-utils/perf/test/declareTests.ts
  sdk/test-utils/perf/test/event/mockEventHubConsumerClient.ts
  sdk/test-utils/perf/test/event/mockEventHubConsumerClientTest.spec.ts
  sdk/test-utils/perf/test/event/mockEventReceiver.ts
  sdk/test-utils/perf/test/event/mockEventReceiverTest.spec.ts
Labels: Service Bus, Storage

#20921 [Identity] disableAuthorityValidation
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_authenticates_with_authorityhost_with_validation_disabled.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/flows.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/src/tokenCredentialOptions.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
Labels: Azure.Identity

#20952 [core-rest-pipeline] 1.7.0 release date
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#20889 Link to Azure Account extension GitHub issue
  sdk/identity/identity/README.md
Labels: Azure.Identity

#20789 [identity] add support for app service 2019
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#20897 Trigger template instead of core for eng/common
  sdk/core/ci.yml
  sdk/template/ci.yml
Labels: EngSys, Azure.Core

#20956 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core, auto-merge

#20943 [Identity] Min-max tests are failing
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.js
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.json
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
Labels: Azure.Identity

#20955 Sync eng/common directory with azure-sdk-tools for PR 2928
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#20976 Revert "[Identity] disableAuthorityValidation"
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_authenticates_with_authorityhost_with_validation_disabled.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/flows.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/src/tokenCredentialOptions.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
Labels: Azure.Identity

#20966 [Schema Registry Avro] Add cross-language testing
  sdk/schemaregistry/schema-registry-avro/test/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/mocked.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/models.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#20983 [keyvault] - KnownKeyUsageTypes should not be a const enum
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
Labels: KeyVault

#20812 [Identity] tried exclusive union for Identity types
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
Labels: Azure.Identity

#20924 msi-release
  common/config/rush/pnpm-lock.yaml
  sdk/msi/arm-msi/CHANGELOG.md
  sdk/msi/arm-msi/LICENSE
  sdk/msi/arm-msi/README.md
  sdk/msi/arm-msi/_meta.json
  sdk/msi/arm-msi/api-extractor.json
  sdk/msi/arm-msi/package.json
  sdk/msi/arm-msi/review/arm-msi.api.md
  sdk/msi/arm-msi/rollup.config.js
  sdk/msi/arm-msi/sample.env
  sdk/msi/arm-msi/samples-dev/operationsListSample.ts
  sdk/msi/arm-msi/samples-dev/systemAssignedIdentitiesGetByScopeSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesCreateOrUpdateSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesDeleteSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesGetSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesListAssociatedResourcesSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesListByResourceGroupSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesListBySubscriptionSample.ts
  sdk/msi/arm-msi/samples-dev/userAssignedIdentitiesUpdateSample.ts
  sdk/msi/arm-msi/samples/v2-beta/javascript/README.md
  sdk/msi/arm-msi/samples/v2-beta/javascript/operationsListSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/package.json
  sdk/msi/arm-msi/samples/v2-beta/javascript/sample.env
  sdk/msi/arm-msi/samples/v2-beta/javascript/systemAssignedIdentitiesGetByScopeSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesCreateOrUpdateSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesDeleteSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesGetSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesListAssociatedResourcesSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesListByResourceGroupSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesListBySubscriptionSample.js
  sdk/msi/arm-msi/samples/v2-beta/javascript/userAssignedIdentitiesUpdateSample.js
  sdk/msi/arm-msi/samples/v2-beta/typescript/README.md
  sdk/msi/arm-msi/samples/v2-beta/typescript/package.json
  sdk/msi/arm-msi/samples/v2-beta/typescript/sample.env
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/operationsListSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/systemAssignedIdentitiesGetByScopeSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesCreateOrUpdateSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesDeleteSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesGetSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesListAssociatedResourcesSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesListByResourceGroupSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesListBySubscriptionSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/src/userAssignedIdentitiesUpdateSample.ts
  sdk/msi/arm-msi/samples/v2-beta/typescript/tsconfig.json
  sdk/msi/arm-msi/src/managedServiceIdentityClient.ts
  sdk/msi/arm-msi/src/models/index.ts
  sdk/msi/arm-msi/src/models/mappers.ts
  sdk/msi/arm-msi/src/models/parameters.ts
  sdk/msi/arm-msi/src/operations/userAssignedIdentities.ts
  sdk/msi/arm-msi/src/operationsInterfaces/userAssignedIdentities.ts
  sdk/msi/arm-msi/tsconfig.json
  sdk/msi/ci.mgmt.yml
Labels: Mgmt

#20994 Post release automated changes for msi releases
  sdk/msi/arm-msi/CHANGELOG.md
  sdk/msi/arm-msi/package.json
  sdk/msi/arm-msi/src/managedServiceIdentityClient.ts
Labels: Mgmt, auto-merge

#20996 Post release automated changes for cdn releases
  sdk/cdn/arm-cdn/CHANGELOG.md
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/src/cdnManagementClient.ts
Labels: Mgmt, auto-merge

#20997 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#20993 Sync eng/common directory with azure-sdk-tools for PR 2939
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#21000 [engsys] Update lockfile for analyze-deps tool.
  eng/tools/analyze-deps/package-lock.json
Labels: EngSys

#21001 Sync eng/common directory with azure-sdk-tools for PR 2938
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#21006 [KeyVault] - Prepare for release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#20837 Sync eng/common directory with azure-sdk-tools for PR 2861
  eng/common/pipelines/templates/steps/credscan.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/get-changedfiles.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
  eng/common/scripts/git-diff-changes.ps1
Labels: EngSys, Central-EngSys

#21010 [Schema Registry Avro] Add comprehensive test suite for error scenarios
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/clients/mocked.ts
  sdk/schemaregistry/schema-registry-avro/test/errors.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/isLive.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#21020 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault, auto-merge

#21009 Replace `getRequiredEnvVar` function with `assertEnvironmentVariable` helper from new recorder
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
Labels: Monitor

#21018 Sync eng/common directory with azure-sdk-tools for PR 2972
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#21013 [core-rest-pipeline] support resettable stream request body
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/fetchHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/test-utils/test-utils/src/xhrHttpClient.ts
Labels: Azure.Core

#21026 [core-rest-pipeline] Remove authorization header on redirected requests
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/redirectPolicy.ts
  sdk/core/core-rest-pipeline/test/redirectPolicy.spec.ts
Labels: Azure.Core

#21024 [Schema Registry Avro] Add AvroSerializationError
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/README.md
  sdk/schemaregistry/schema-registry-avro/review/schema-registry-avro.api.md
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/models.ts
  sdk/schemaregistry/schema-registry-avro/test/errors.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/assertSerializationError.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#21047 [Schema Registry Avro] Fix live tests
  sdk/schemaregistry/schema-registry-avro/test/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/errors.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/assertSerializationError.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-avro/test/withMessagingClients.spec.ts
Labels: Schema Registry

#21049 [Tests] fix build failures by upgrading identity dev dependency version
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/perf-tests/container-registry/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/test/public/utils/testAuthentication.ts
  sdk/test-utils/test-credential/package.json
Labels: Client, KeyVault, Container Registry

#21044 [GitHub Automation] Communication Rules
  .github/fabricbot.json
Labels: EngSys, Client

#21048 [GitHub Automation] Communication Owners
  .github/CODEOWNERS
Labels: EngSys, Client

#21040 [KeyVault] - Publish samples post-release
  sdk/keyvault/keyvault-admin/samples/v4/javascript/accessControlHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupRestoreHelloWorld.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/backupSelectiveKeyRestore.js
  sdk/keyvault/keyvault-admin/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-admin/samples/v4/typescript/src/accessControlHelloWorld.ts
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/backupAndRestore.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/contacts.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/deleteAndRecover.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/helloWorld.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/importCertificate.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/issuers.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/listCertificates.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/mergeCertificate.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/operations.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/purgeAllCertificates.js
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/backupAndRestore.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/contacts.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/deleteAndRecover.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/helloWorld.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/importCertificate.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/issuers.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/listCertificates.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/mergeCertificate.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/operations.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/purgeAllCertificates.ts
  sdk/keyvault/keyvault-keys/samples/v4/javascript/README.md
  sdk/keyvault/keyvault-keys/samples/v4/javascript/cryptography.js
  sdk/keyvault/keyvault-keys/samples/v4/javascript/helloWorld.js
  sdk/keyvault/keyvault-keys/samples/v4/javascript/keyRotation.js
  sdk/keyvault/keyvault-keys/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-keys/samples/v4/typescript/README.md
  sdk/keyvault/keyvault-keys/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-keys/samples/v4/typescript/src/cryptography.ts
  sdk/keyvault/keyvault-keys/samples/v4/typescript/src/helloWorld.ts
  sdk/keyvault/keyvault-keys/samples/v4/typescript/src/keyRotation.ts
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/backupAndRestore.js
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/deleteAndRecover.js
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/helloWorld.js
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/listOperations.js
  sdk/keyvault/keyvault-secrets/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-secrets/samples/v4/typescript/src/helloWorld.ts
Labels: KeyVault

#21021 [Web-PubSub] Migrate web-pubsub to use new recorder
  sdk/web-pubsub/web-pubsub/karma.conf.js
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_broadcast_to_groups.js
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_broadcast_to_groups.json
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_manage_connections.js
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_manage_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_constructing_a_hubclient/recording_takes_a_connection_string_hub_name_and_options.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_constructing_a_hubclient/recording_takes_an_endpoint_an_api_key_a_hub_name_and_options.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_constructing_a_hubclient/recording_takes_an_endpoint_defaultazurecredential_a_hub_name_and_options.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_apim.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_apim.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_the_dac.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_the_dac.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_check_if_a_connection_exists.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_check_if_a_connection_exists.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_grant_permissions_to_connections.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_grant_permissions_to_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_revoke_permissions_from_connections.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_revoke_permissions_from_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_messages_to_a_connection.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_messages_to_a_connection.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_messages_to_a_user.js
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_messages_to_a_user.json
  sdk/web-pubsub/web-pubsub/test/groups.spec.ts
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
Labels: WebPubSub
