Repository Azure/azure-sdk-for-js, pull requests merged in 2022-10, with the labels that each got.

#23382 [Schema Registry] Update getSchema to use positional params
  sdk/schemaregistry/schema-registry/README.md
  sdk/schemaregistry/schema-registry/review/schema-registry.api.md
  sdk/schemaregistry/schema-registry/samples-dev/getSchemaByVersion.ts
  sdk/schemaregistry/schema-registry/src/models.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/src/utils.ts
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
Labels: Schema Registry

#23392 [Schema Registry] Update version
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/src/constants.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
Labels: Schema Registry

#23249 Update comment to refer to the right JS file
  sdk/servicebus/service-bus/samples-dev/browseMessages.ts
  sdk/servicebus/service-bus/samples-dev/exceedMaxDeliveryCount.ts
  sdk/servicebus/service-bus/samples-dev/receiveMessagesLoop.ts
  sdk/servicebus/service-bus/samples-dev/receiveMessagesStreaming.ts
  sdk/servicebus/service-bus/samples/v7/javascript/receiveMessagesLoop.js
Labels: customer-reported, Service Bus

#23393 [Azure Monitor Exporter] Adding new configuration options to all exporters
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/src/config.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/base.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/metric.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClientContext.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/models/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemHelpers.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/base.exporter.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/fileSystemPersist.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/httpSender.test.ts
Labels: Monitor

#23402 [core-util] Prepare for Oct. 2022 release
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Core

#23334 [ServiceBus] add tracing spans for more operations
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/TROUBLESHOOTING.md
  sdk/servicebus/service-bus/src/modelsToBeSharedWithEventHubs.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
Labels: Service Bus

#23403 [ServiceBus] Prepare for Oct. 2022 release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#23383 [monitor-query] Add version string to options endpoint
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/src/internal/logQueryOptionUtils.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/test/internal/unit/logQueryOptionUtils.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts
Labels: Monitor

#23410 need to declare results iterator in sample
  sdk/cognitivelanguage/ai-language-text/README.md
Labels: customer-reported

#23423 Sync eng/common directory with azure-sdk-tools for PR 4311
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#23398 [monitor-ingestion] Change default concurrency to 5
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/README.md
  sdk/monitor/monitor-ingestion/samples-dev/concurrency.ts
  sdk/monitor/monitor-ingestion/samples-dev/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/samples-dev/maxConcurrency.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/README.md
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/concurrency.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/logsIngestionClient.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/maxConcurrency.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/README.md
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/concurrency.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/maxConcurrency.ts
  sdk/monitor/monitor-ingestion/src/logsIngestionClient.ts
Labels: Monitor

#23125 update limitations
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#23430 Post release automated changes for core releases
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core, auto-merge

#23435 revert credential scops for mgmt plane sdks a
  sdk/advisor/arm-advisor/CHANGELOG.md
  sdk/advisor/arm-advisor/src/advisorManagementClient.ts
  sdk/agrifood/arm-agrifood/CHANGELOG.md
  sdk/agrifood/arm-agrifood/package.json
  sdk/agrifood/arm-agrifood/src/agriFoodMgmtClient.ts
  sdk/analysisservices/arm-analysisservices/CHANGELOG.md
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
  sdk/app/arm-app/CHANGELOG.md
  sdk/app/arm-app/src/containerAppsAPIClient.ts
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
  sdk/attestation/arm-attestation/CHANGELOG.md
  sdk/attestation/arm-attestation/src/attestationManagementClient.ts
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/src/authorizationManagementClientContext.ts
  sdk/automanage/arm-automanage/CHANGELOG.md
  sdk/automanage/arm-automanage/src/automanageClient.ts
  sdk/automation/arm-automation/CHANGELOG.md
  sdk/automation/arm-automation/review/arm-automation.api.md
  sdk/automation/arm-automation/src/automationClient.ts
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
  sdk/azureadexternalidentities/arm-azureadexternalidentities/CHANGELOG.md
  sdk/azureadexternalidentities/arm-azureadexternalidentities/src/externalIdentitiesConfigurationClient.ts
  sdk/azurestack/arm-azurestack/CHANGELOG.md
  sdk/azurestack/arm-azurestack/src/azureStackManagementClient.ts
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
Labels: Mgmt, App Configuration, Attestation, AgriFood

#23436 revert credential scops for mgmt plane sdks b-c
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/src/batchManagementClient.ts
  sdk/billing/arm-billing/CHANGELOG.md
  sdk/billing/arm-billing/src/billingManagementClient.ts
  sdk/botservice/arm-botservice/CHANGELOG.md
  sdk/botservice/arm-botservice/src/azureBotService.ts
  sdk/cdn/arm-cdn/CHANGELOG.md
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/src/cdnManagementClient.ts
  sdk/changeanalysis/arm-changeanalysis/CHANGELOG.md
  sdk/changeanalysis/arm-changeanalysis/src/azureChangeAnalysisManagementClient.ts
  sdk/changes/arm-changes/CHANGELOG.md
  sdk/changes/arm-changes/src/changesClient.ts
  sdk/chaos/arm-chaos/CHANGELOG.md
  sdk/chaos/arm-chaos/src/chaosManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/commerce/arm-commerce/CHANGELOG.md
  sdk/commerce/arm-commerce/src/usageManagementClient.ts
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/src/confidentialLedgerClient.ts
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/src/confluentManagementClient.ts
  sdk/connectedvmware/arm-connectedvmware/CHANGELOG.md
  sdk/connectedvmware/arm-connectedvmware/src/azureArcVMwareManagementServiceAPI.ts
  sdk/consumption/arm-consumption/CHANGELOG.md
  sdk/consumption/arm-consumption/src/consumptionManagementClient.ts
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
  sdk/customer-insights/arm-customerinsights/CHANGELOG.md
  sdk/customer-insights/arm-customerinsights/src/customerInsightsManagementClient.ts
Labels: Mgmt, Cosmos, Batch, Container Registry, Communication, Confidential Ledger

#23437 Post release automated changes for advisor releases
  sdk/advisor/arm-advisor/CHANGELOG.md
  sdk/advisor/arm-advisor/package.json
  sdk/advisor/arm-advisor/src/advisorManagementClient.ts
Labels: Mgmt, auto-merge

#23439 Post release automated changes for analysisservices releases
  sdk/analysisservices/arm-analysisservices/CHANGELOG.md
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
Labels: Mgmt, auto-merge

#23440 Post release automated changes for apimanagement releases
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
Labels: Mgmt, auto-merge

#23441 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration, auto-merge

#23444 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt, auto-merge

#23445 Post release automated changes for applicationinsights releases
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
Labels: Mgmt, auto-merge

#23446 Post release automated changes for attestation releases
  sdk/attestation/arm-attestation/CHANGELOG.md
  sdk/attestation/arm-attestation/package.json
  sdk/attestation/arm-attestation/src/attestationManagementClient.ts
Labels: Mgmt, Attestation, auto-merge

#23447 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#23448 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/package.json
Labels: Mgmt, auto-merge

#23450 Post release automated changes for automation releases
  sdk/automation/arm-automation/CHANGELOG.md
  sdk/automation/arm-automation/package.json
  sdk/automation/arm-automation/src/automationClient.ts
Labels: Mgmt, auto-merge

#23451 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
Labels: Mgmt, auto-merge

#23452 Post release automated changes for azurestackhci releases
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/package.json
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
Labels: Mgmt, auto-merge

#23453 Post release automated changes for azureadexternalidentities releases
  sdk/azureadexternalidentities/arm-azureadexternalidentities/CHANGELOG.md
  sdk/azureadexternalidentities/arm-azureadexternalidentities/package.json
  sdk/azureadexternalidentities/arm-azureadexternalidentities/src/externalIdentitiesConfigurationClient.ts
Labels: auto-merge

#23449 Post release automated changes for automanage releases
  sdk/automanage/arm-automanage/CHANGELOG.md
  sdk/automanage/arm-automanage/package.json
  sdk/automanage/arm-automanage/src/automanageClient.ts
Labels: auto-merge

#23443 Post release automated changes for app releases
  sdk/app/arm-app/CHANGELOG.md
  sdk/app/arm-app/package.json
  sdk/app/arm-app/src/containerAppsAPIClient.ts
Labels: auto-merge

#23442 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: auto-merge

#23438 Post release automated changes for agrifood releases
  sdk/agrifood/arm-agrifood/CHANGELOG.md
  sdk/agrifood/arm-agrifood/package.json
  sdk/agrifood/arm-agrifood/src/agriFoodMgmtClient.ts
Labels: auto-merge, AgriFood

#23454 Post release automated changes for azurestack releases
  sdk/azurestack/arm-azurestack/CHANGELOG.md
  sdk/azurestack/arm-azurestack/package.json
  sdk/azurestack/arm-azurestack/src/azureStackManagementClient.ts
Labels: Mgmt, auto-merge

#23466 Add default .assets directory to .gitignore
  .gitignore
Labels: Central-EngSys

#22862 [Identity] Add Managed Identity token caching support
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/test/internal/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#23404 [core-paging] add to-elements method
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-paging/review/core-paging.api.md
  sdk/core/core-paging/src/getPagedAsyncIterator.ts
  sdk/core/core-paging/src/models.ts
  sdk/core/core-paging/test/getPagedAsyncIterator.spec.ts
Labels: Azure.Core, auto-merge

#23432 Sync eng/common directory with azure-sdk-tools for PR 4341
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23478 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/src/constants.ts
  sdk/schemaregistry/schema-registry/src/generated/generatedSchemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/swagger/README.md
Labels: Schema Registry, auto-merge

#23480 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#23490 [JS] Custom token expiration feature GA release updates
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/README.md
Labels: Communication

#23481 [monitor-ingestion] Add "Retrieve logs" section to README
  sdk/monitor/monitor-ingestion/README.md
Labels: Monitor

#23487 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: auto-merge

#23434 [ServiceBus] use `core-paging` primitive for RuleManager `listRules()`
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/review/core-paging.api.md
  sdk/core/core-paging/src/getPagedAsyncIterator.ts
  sdk/core/core-paging/src/models.ts
  sdk/core/core-paging/test/getPagedAsyncIterator.spec.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/serviceBusRuleManager.ts
  sdk/servicebus/service-bus/test/public/ruleManager.spec.ts
Labels: Service Bus, Azure.Core

#23494 Sync eng/common directory with azure-sdk-tools for PR 4372
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#23500 Post release automated changes for devcenter releases
  sdk/devcenter/arm-devcenter/CHANGELOG.md
  sdk/devcenter/arm-devcenter/package.json
  sdk/devcenter/arm-devcenter/src/devCenterClient.ts
Labels: auto-merge

#23498 Update the Signaling Package to Use the Latest PNH Template
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication

#23505 [Identity] release identity 3.1.0-beta.1
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#23493 [Azure Monitor Exporter] Suppress tracing while exporting metrics
  sdk/monitor/monitor-opentelemetry-exporter/src/export/metric.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
Labels: Monitor

#23499 Post release automated changes for notificationhubs releases
  sdk/notificationhubs/notification-hubs/CHANGELOG.md
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/src/utils/constants.ts
Labels: auto-merge

#23502 Post release automated changes for securitydevops releases
  sdk/securitydevops/arm-securitydevops/CHANGELOG.md
  sdk/securitydevops/arm-securitydevops/package.json
  sdk/securitydevops/arm-securitydevops/src/microsoftSecurityDevOps.ts
Labels: auto-merge

#23506 [Ingestion] release ingestion
  sdk/monitor/monitor-ingestion/CHANGELOG.md
Labels: Monitor

#23479 [app-config] migrate to the new core-paging method
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/secretReference.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/package.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/throttlingRetryPolicy.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
  sdk/appconfiguration/app-configuration/test/public/throwOrNotThrow.spec.ts
  sdk/appconfiguration/app-configuration/test/public/tracing.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration

#23477 [ai-form-recognizer] Replace w2 example with preferred in tests.
  sdk/formrecognizer/ai-form-recognizer/assets/w2/gold_simple_w2.png
  sdk/formrecognizer/ai-form-recognizer/recordings/node/aad_analysis_node_tax__us__w2/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/recordings/node/api_key_analysis_node_tax__us__w2/recording_png_file_stream.json
  sdk/formrecognizer/ai-form-recognizer/test/public/node/analysis.spec.ts
Labels: Client, Cognitive - Form Recognizer

#23459 [Storage]Update version to prepare fot STG84 GA release.
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_bypage.js
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_next_fetch_all_events.js
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_next_with_start_and_end_time.js
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_tracing.js
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/samples/v12/javascript/package.json
  sdk/storage/storage-queue/samples/v12/typescript/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#23514 Post release automated changes for maps releases
  sdk/maps/maps-common/CHANGELOG.md
  sdk/maps/maps-common/package.json
  sdk/maps/maps-search/CHANGELOG.md
  sdk/maps/maps-search/package.json
  sdk/maps/maps-search/src/constants.ts
  sdk/maps/maps-search/src/generated/generatedClientContext.ts
  sdk/maps/maps-search/swagger/README.md
Labels: auto-merge

#23524 [core-amqp,service-bus] add react-native mappings
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/src/util/runtimeInfo.native.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/runtimeInfo.native.ts
Labels: Service Bus, Azure.Core

#23513 datafactory release
  common/config/rush/pnpm-lock.yaml
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_create_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_delete_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_get_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_list_test.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/samples-dev/dataFlowsCreateOrUpdateSample.ts
  sdk/datafactory/arm-datafactory/samples/v10/javascript/dataFlowsCreateOrUpdateSample.js
  sdk/datafactory/arm-datafactory/samples/v10/typescript/package.json
  sdk/datafactory/arm-datafactory/samples/v10/typescript/src/dataFlowsCreateOrUpdateSample.ts
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
  sdk/datafactory/arm-datafactory/test/datafactory_examples.spec.ts
Labels: Mgmt

#23527 [Event Hubs] Update iothub sample
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionString.ts
Labels: Event Hubs

#22985 [mixed reality] update to core-tracing 1.0
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/src/authentication/mixedRealityAccountKeyCredential.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/authentication/mixedRealityTokenCredential.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/authentication/staticAccessTokenCredential.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/generated/index.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/generated/models/parameters.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/generated/operations/remoteRendering.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/generated/remoteRenderingRestClient.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/generated/tracing.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/internal/assetConversion.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/internal/commonQueries.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/internal/renderingSession.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/lro/assetConversionPoller.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/remoteRenderingClient.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/tracing.ts
  sdk/remoterendering/mixed-reality-remote-rendering/swagger/README.md
  sdk/remoterendering/mixed-reality-remote-rendering/test/public/remoteRenderingClient.spec.ts
  sdk/remoterendering/mixed-reality-remote-rendering/test/utils/recordedClient.ts
Labels: Remote Rendering

#23545 Post release automated changes for devhub releases
  sdk/devhub/arm-devhub/CHANGELOG.md
  sdk/devhub/arm-devhub/package.json
  sdk/devhub/arm-devhub/src/developerHubServiceClient.ts
Labels: auto-merge

#23532 [ai-metrics-advisor] Update to core-tracing 1.0 GA
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorAdministrationClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/metricsAdvisorClient.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/models.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/tracing.ts
  sdk/metricsadvisor/ai-metrics-advisor/src/transforms.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/internal/transforms.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/dataSourceCred.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
Labels: Cognitive - Metrics Advisor

#23546 [communication job router] Upgrade to core-tracing GA 1.0
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-job-router/src/generated/src/jobRouterApiClient.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouterAdministration.ts
  sdk/communication/communication-job-router/src/generated/src/tracing.ts
  sdk/communication/communication-job-router/swagger/README.md
Labels: Communication

#23355 [keyvault] Prepare to publish keyvault-common
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/ci.yml
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/tsconfig.json
  sdk/keyvault/keyvault-certificates/src/identifier.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-certificates/tsconfig.json
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/LICENSE
  sdk/keyvault/keyvault-common/README.md
  sdk/keyvault/keyvault-common/api-extractor.json
  sdk/keyvault/keyvault-common/index.ts
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-common/review/keyvault-common.api.md
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-common/src/index.ts
  sdk/keyvault/keyvault-common/src/parseKeyVaultIdentifier.ts
  sdk/keyvault/keyvault-common/src/parseWWWAuthenticate.ts
  sdk/keyvault/keyvault-common/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-common/tsconfig.json
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-keys/tsconfig.json
  sdk/keyvault/keyvault-secrets/src/identifier.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-secrets/tsconfig.json
Labels: KeyVault

#23551 [Text Analytics] Skip failing test
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#23528 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#23534 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage, auto-merge

#23561 [ServiceBus] correct core-paging dependency version
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#23549 [engsys] turn off `sort-imports` linter rule
  common/tools/eslint-plugin-azure-sdk/.eslintrc.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/core/abort-controller/.eslintrc.json
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-auth/.eslintrc.json
  sdk/core/core-client/.eslintrc.json
  sdk/core/core-http/.eslintrc.json
  sdk/core/core-lro/.eslintrc.json
  sdk/core/core-paging/.eslintrc.json
  sdk/core/core-tracing/.eslintrc.json
  sdk/core/core-util/.eslintrc.json
  sdk/core/core-xml/.eslintrc.json
  sdk/core/logger/.eslintrc.json
  sdk/eventhub/eventhubs-checkpointstore-table/.eslintrc.json
  sdk/eventhub/mock-hub/.eslintrc.json
  sdk/identity/identity-cache-persistence/.eslintrc.json
  sdk/identity/identity-vscode/.eslintrc.json
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/keyvault/keyvault-admin/.eslintrc.json
  sdk/keyvault/keyvault-common/.eslintrc.json
  sdk/mixedreality/mixed-reality-authentication/.eslintrc.json
  sdk/tables/data-tables/.eslintrc.json
Labels: Event Hubs, KeyVault, Azure.Identity, Azure.Core, Tables, eslint plugin, Mixed Reality

#23525 [language-text] Add dynamic classification tests
  sdk/cognitivelanguage/ai-language-text/README.md
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_client_accepts_string_and_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_client_accepts_string_with_no_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_client_throws_on_empty_list.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_service_errors_on_invalid_classification_type.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_service_errors_on_invalid_number_of_categories.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_service_errors_on_unsupported_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_client_accepts_string_and_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_client_accepts_string_with_no_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_client_throws_on_empty_list.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_service_errors_on_invalid_classification_type.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_service_errors_on_invalid_number_of_categories.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_service_errors_on_unsupported_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_client_accepts_string_and_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_client_accepts_string_with_no_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_client_throws_on_empty_list.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_service_errors_on_invalid_classification_type.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_service_errors_on_invalid_number_of_categories.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_multi/recording_service_errors_on_unsupported_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_client_accepts_string_and_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_client_accepts_string_with_no_language.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_client_throws_on_empty_list.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_service_errors_on_invalid_classification_type.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_service_errors_on_invalid_number_of_categories.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_dynamic_classification_single/recording_service_errors_on_unsupported_language.json
  sdk/cognitivelanguage/ai-language-text/test/public/analyze.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
Labels: Cognitive - Language

#23056 [monitor-ingestion] Add perf tests
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/monitor/perf-tests/monitor-ingestion/README.md
  sdk/monitor/perf-tests/monitor-ingestion/package.json
  sdk/monitor/perf-tests/monitor-ingestion/sample.env
  sdk/monitor/perf-tests/monitor-ingestion/test/index.spec.ts
  sdk/monitor/perf-tests/monitor-ingestion/test/monitorIngestionPerfTest.spec.ts
  sdk/monitor/perf-tests/monitor-ingestion/test/uploadLogs.spec.ts
  sdk/monitor/perf-tests/monitor-ingestion/tsconfig.json
Labels: Monitor

#23399 [Form Recognizer] update readme and troubleshooting
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/TROUBLESHOOTING.md
Labels: Cognitive - Form Recognizer

#23559 [Azure Monitor Exporter] Adding ApplicationInsightsSampler
  sdk/monitor/monitor-opentelemetry-exporter/README.md
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/src/basicTracerNode.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/base.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/sampling.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/sampling.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#23560 [Azure Monitor Exporter] Update changelog for 1.0.0-beta.9 release
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
Labels: Monitor

#23492 [identity] bump dependency `@azure/msal-node` version to ^1.14.2
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-cache-persistence/recordings/node/clientsecretcredential_internal/recording_accepts_tokencachepersistenceoptions.json
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_authenticates.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_supports_tracing.json
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_authenticates_with_tenantid_on_gettoken.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_certificate_and_password_on_the_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_certificate_on_the_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_secret_on_the_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_supports_tracing_with_environment_client_certificate.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_supports_tracing_with_environment_client_secret.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_supports_tracing_with_environment_usernamepassword.json
Labels: Azure.Identity

#23568 Post release automated changes for chaos releases
  sdk/chaos/arm-chaos/CHANGELOG.md
  sdk/chaos/arm-chaos/package.json
  sdk/chaos/arm-chaos/src/chaosManagementClient.ts
Labels: auto-merge

#23188 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos, auto-merge

#23411 Post release automated changes for monitor releases
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/monitorManagementClientContext.ts
Labels: Monitor, auto-merge

#23507 Post release automated changes for monitor releases
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/src/constants.ts
  sdk/monitor/monitor-ingestion/src/generated/generatedMonitorIngestionClientContext.ts
  sdk/monitor/monitor-ingestion/swagger/README.md
Labels: Monitor, auto-merge

#23508 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity, auto-merge

#23571 [core-rest-client] update unreleased version to 1.0.1
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
Labels: Azure.Core

#23563 Sync eng/common directory with azure-sdk-tools for PR 3790
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#23491 Fixing missing pipeline integration for CosmosClient in patch api
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/consumer-test.js
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/internal/unit/client.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#23548 [Identity] Update docs for consistency
  sdk/identity/identity/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/samples/v2/javascript/README.md
  sdk/identity/identity/samples/v2/typescript/README.md
Labels: Azure.Identity

#23577 [engsys] update dev dependency @microsoft/api-extractor to ^7.31.1
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-sdktype.ts
  sdk/compute/arm-compute-rest/package.json
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/entra/functions-authentication-events/package.json
  sdk/loadtestservice/load-testing-rest/package.json
  sdk/maps/maps-common/package.json
  sdk/maps/maps-search/package.json
Labels: Mgmt, eslint plugin

#23590 Sync eng/common directory with azure-sdk-tools for PR 4486
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: EngSys, Central-EngSys

#23594 Sync eng/common directory with azure-sdk-tools for PR 4480
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#23591 [Azure Monitor Exporter] Add support for Application Insights Standard Metrics
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/persist/fileSystemPersist.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/common.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/resourceUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#23599 Updating CODEOWNERS for communication identity and common
  .github/CODEOWNERS
Labels: Communication, Communication - Identity

#23128 add move operation
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/v3/javascript/ItemManagement.js
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/patch.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
Labels: Cosmos

#23608 [Bot Rules] Update Cosmos contacts
  .github/fabricbot.json
Labels: EngSys, Client

#23611 Sync eng/common directory with azure-sdk-tools for PR 4504
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#23620 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/src/redisManagementClient.ts
Labels: Mgmt, auto-merge

#23622 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
Labels: Mgmt, auto-merge

#23621 Post release automated changes for nginx releases
  sdk/nginx/arm-nginx/CHANGELOG.md
  sdk/nginx/arm-nginx/package.json
  sdk/nginx/arm-nginx/src/nginxManagementClient.ts
Labels: auto-merge

#23615 Sync eng/common directory with azure-sdk-tools for PR 4527
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23629 [identity] upgrade @azure/msal-node-extensions
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
Labels: Azure.Identity

#23632 Sync eng/common directory with azure-sdk-tools for PR 4543
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#23634 add test for avs
  sdk/avs/arm-avs/recordings/node/avs_test/recording_privateclouds_get_test.json
  sdk/avs/arm-avs/recordings/node/avs_test/recording_privateclouds_list_test.json
  sdk/avs/arm-avs/test/avs_examples.spec.ts
Labels: Mgmt

#23631 [core-http] support `x-ms-text` via the new mapper `xmlIsMsText` flag
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-http/test/serializationTests.ts
Labels: Azure.Core

#23425 [Azure Monitor Exporter] Add network Statsbeat Metrics
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/review/monitor-opentelemetry-exporter.api.md
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/metricsSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/base.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/metric.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/statsbeat.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/statsbeat/statsbeatMetrics.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/statsbeat/types.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/index.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/breezeUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/base.exporter.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/statsbeat.test.ts
Labels: Monitor

#23630 [Identity] Documentation improvements
  sdk/identity/identity/README.md
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
Labels: Azure.Identity

#23626 Sync eng/common directory with azure-sdk-tools for PR 4532
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23495 [Search] Enable OcrSkill and ImageAnalysisSkill
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_modify_and_updates_the_index_object.json
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_modify_and_updates_the_synonymmap_object.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/models/parameters.ts
  sdk/search/search-documents/src/generated/service/operations/aliases.ts
  sdk/search/search-documents/src/generated/service/operations/dataSources.ts
  sdk/search/search-documents/src/generated/service/operations/indexers.ts
  sdk/search/search-documents/src/generated/service/operations/indexes.ts
  sdk/search/search-documents/src/generated/service/operations/skillsets.ts
  sdk/search/search-documents/src/generated/service/operations/synonymMaps.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/odataMetadataPolicy.ts
  sdk/search/search-documents/src/searchApiKeyCredentialPolicy.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/internal/base64.spec.ts
  sdk/search/search-documents/test/internal/serialization.spec.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search
