Repository Azure/azure-sdk-for-js, pull requests merged in 2022-06, with the labels that each got.

#22058 Update docker registry using args
  sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile
  sdk/servicebus/service-bus/test/stress/Dockerfile
Labels: Service Bus, Azure.Identity

#22062 applicationinsights-track2
  common/config/rush/pnpm-lock.yaml
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/_meta.json
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/recordings/node/my_test/recording_sample_test.json
  sdk/applicationinsights/arm-appinsights/recordings/recording_sample_test.json
  sdk/applicationinsights/arm-appinsights/review/arm-appinsights.api.md
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
  sdk/applicationinsights/arm-appinsights/src/models/index.ts
  sdk/applicationinsights/arm-appinsights/src/models/parameters.ts
  sdk/applicationinsights/arm-appinsights/src/operations/workbooks.ts
  sdk/applicationinsights/arm-appinsights/src/operationsInterfaces/workbooks.ts
  sdk/applicationinsights/arm-appinsights/test/sampleTest.ts
Labels: Mgmt

#22082 Post release automated changes for applicationinsights releases
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
Labels: Mgmt, auto-merge

#21968 [Azure Monitor Exporter] Export Span events
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/trace.exporter.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#22071 Move storage-blob resource location to canadacentral
  sdk/storage/storage-blob/tests.yml
Labels: Storage

#22014 Sync eng/common directory with azure-sdk-tools for PR 3381
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#22069 Fix dockerfile copy ref
  sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile
Labels: Central-EngSys

#22097 [Key Vault] Fix tests that rely on now-removed constraint validation
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete/recording_cannot_create_a_certificate_with_an_empty_name.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete/recording_cannot_create_a_certificate_with_an_empty_name.js
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations/recording_cannot_create_a_key_with_an_empty_name.json
  sdk/keyvault/keyvault-keys/recordings/browsers/keys_client__create_read_update_and_delete_operations_for_managed_hsm_getrandombytes/recording_returns_an_error_when_bytes_is_out_of_range.json
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations/recording_cannot_create_a_key_with_an_empty_name.js
  sdk/keyvault/keyvault-keys/recordings/node/keys_client__create_read_update_and_delete_operations_for_managed_hsm_getrandombytes/recording_returns_an_error_when_bytes_is_out_of_range.js
  sdk/keyvault/keyvault-keys/test/public/keyClient.spec.ts
  sdk/keyvault/keyvault-secrets/recordings/browsers/secret_client__create_read_update_and_delete_operations/recording_cannot_create_a_secret_with_an_empty_name.json
  sdk/keyvault/keyvault-secrets/recordings/node/secret_client__create_read_update_and_delete_operations/recording_cannot_create_a_secret_with_an_empty_name.js
  sdk/keyvault/keyvault-secrets/test/public/CRUD.spec.ts
Labels: KeyVault

#22093 [KeyVault] Add error logging for when downloading HSM security domain fails
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault

#22105 [ai-form-recognizer] Remove `DocumentImage` from public API surface.
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analyze.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/documentElements.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/test/internal/convenienceModelAssignability.ts
Labels: Client, Cognitive - Form Recognizer

#22107 [Form Recognizer] Changelog
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#22090 Post release automated changes for orbital releases
  sdk/orbital/arm-orbital/CHANGELOG.md
  sdk/orbital/arm-orbital/package.json
  sdk/orbital/arm-orbital/src/azureOrbital.ts
Labels: auto-merge

#22106 Prepare June releases
  common/config/rush/pnpm-lock.yaml
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/tables/data-tables/CHANGELOG.md
Labels: Azure.Core, Tables

#22096 [@azure/communication-job-router] rev 1 for internal review
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/rollup.base.config.js
  sdk/communication/communication-job-router/rollup.config.js
  sdk/communication/communication-job-router/rollup.test.config.js
  sdk/communication/communication-job-router/src/constants.ts
  sdk/communication/communication-job-router/src/index.ts
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/src/models/responses.ts
  sdk/communication/communication-job-router/src/routerClient.ts
Labels: Communication

#22120 [Schema Registry Avro] Fix warning
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry

#22119 [core-amqp][test] fix build error in rush update --full
  sdk/core/core-amqp/test/requestResponse.spec.ts
Labels: Client, Azure.Core

#22065 Fix Azure Form Recognizer Readme Issues
  sdk/formrecognizer/ai-form-recognizer/README.md
Labels: Cognitive - Form Recognizer

#22064 Fix Azure Communication Chat Readme Issue
  sdk/communication/communication-chat/README.md
Labels: Communication

#22110 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core, auto-merge

#22024 [core-lro] Update tests
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/router/paramRoutes.ts
  sdk/core/core-lro/test/utils/router/routesProcesses.ts
  sdk/core/core-lro/test/utils/router/routesTable.ts
  sdk/core/core-lro/test/utils/router/utils.ts
  sdk/core/core-lro/test/utils/utils.ts
Labels: Azure.Core

#22122 [engsys] upgrade dev dependency `nyc` version to ^15.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/deviceupdate/iot-device-update-rest/package.json
  sdk/digitaltwins/dtdl-parser/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
Labels: Digital Twins

#22018 [ServiceBus] add subscription-level rule manager.
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/index.ts
  sdk/servicebus/service-bus/src/log.ts
  sdk/servicebus/service-bus/src/serializers/ruleResourceSerializer.ts
  sdk/servicebus/service-bus/src/serviceBusClient.ts
  sdk/servicebus/service-bus/src/serviceBusRuleManager.ts
  sdk/servicebus/service-bus/test/public/ruleManager.spec.ts
  sdk/servicebus/service-bus/test/public/utils/managementUtils.ts
Labels: Service Bus

#22125 [Text Analytics] Simplifying error handling
  sdk/textanalytics/ai-text-analytics/src/lro.ts
  sdk/textanalytics/ai-text-analytics/src/textAnalysisClient.ts
  sdk/textanalytics/ai-text-analytics/src/transforms.ts
Labels: Cognitive - Text Analytics

#22132 Post release automated changes for imagebuilder releases
  sdk/imagebuilder/arm-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/arm-imagebuilder/package.json
  sdk/imagebuilder/arm-imagebuilder/src/imageBuilderClient.ts
Labels: auto-merge

#22123 [engsys][eslint-plugin] upgrade dependency `@typescript-eslint/*` to ~5.27.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#22124 [Monitor query] Adding documentation for statistics and visualization
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
Labels: Monitor

#22137 [servicebus][test] assert on expected properties
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
Labels: Service Bus

#22138 [servicebus][test] Ensure test clean up
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Labels: Service Bus

#22140 [ai-form-recognizer] Prepare release 4.0.0-beta.4
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/MIGRATION-v3_v4.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeIdentityDocument.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentAnalysisClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/documentElements.ts
  sdk/formrecognizer/ai-form-recognizer/src/prebuilt/models.ts
  sdk/formrecognizer/ai-form-recognizer/src/transforms/polygon.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/node/analysis.spec.ts
  sdk/formrecognizer/ci.yml
Labels: Cognitive - Form Recognizer

#22142 [ServiceBus] workaround a service issue by using page size of 100
  sdk/servicebus/service-bus/src/serviceBusRuleManager.ts
  sdk/servicebus/service-bus/test/public/ruleManager.spec.ts
Labels: Service Bus

#22139 [ServiceBus] prepare for June 2022 release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#22147 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#22148 [ai-form-recognizer] Publish new beta samples
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/samples-dev/analyzeW2TaxForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/extractLayout.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/readDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/analyzeIdentityDocument.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/analyzeW2TaxForm.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/assets/identityDocument/license.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/assets/identityDocument/license.png
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/assets/w2/w2-single.png
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/buildModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/composeModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/copyModel.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/extractGeneralDocument.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/extractLayout.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/javascript/readDocument.js
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/assets/identityDocument/license.jpg
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/assets/identityDocument/license.png
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/assets/w2/w2-single.png
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/analyzeIdentityDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/analyzeW2TaxForm.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/composeModel.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/extractGeneralDocument.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/extractLayout.ts
  sdk/formrecognizer/ai-form-recognizer/samples/v4-beta/typescript/src/readDocument.ts
Labels: Client, Cognitive - Form Recognizer

#21812 [Service Bus] topic filter sample in ``.ts``
  sdk/servicebus/service-bus/samples-dev/topicSubscriptionWithRuleOperationsSample.ts
  sdk/servicebus/service-bus/samples/v7-beta/javascript/README.md
  sdk/servicebus/service-bus/samples/v7-beta/javascript/topicSubscriptionWithRuleOperationsSample.js
  sdk/servicebus/service-bus/samples/v7-beta/typescript/README.md
  sdk/servicebus/service-bus/samples/v7-beta/typescript/src/topicSubscriptionWithRuleOperationsSample.ts
Labels: customer-reported, Service Bus, Impact++

#22136 [web-pubsub-express] fix Event Handler erroneous behavior due to ce-hub header not preserving case
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
Labels: customer-reported, Client, WebPubSub

#22145 [Recorder] TEST_PROXY_{HTTP|HTTPS}_PORT
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/dev-tool/src/util/testUtils.ts
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/testing-recorder-new/karma.conf.js
Labels: dev-tool

#22149 Post release automated changes for formrecognizer releases
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
Labels: Cognitive - Form Recognizer, auto-merge

#21260 [Monitor Query] move to tracing 1.0.0
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/metricsQueryClient.ts
  sdk/monitor/monitor-query/src/models/publicMetricsModels.ts
  sdk/monitor/monitor-query/src/tracing.ts
  sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/metricsQueryClient.unittest.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/modelConverters.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
Labels: Monitor

#22166 update arm communication recordings
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_create_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_create_test.json
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_delete_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_delete_test.json
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_get_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_get_test.json
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_list_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_list_test.json
Labels: Mgmt, Communication

#22157 Post release automated changes for communication releases
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
Labels: Mgmt, auto-merge, Communication

#22153 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#22154 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#22162 Add OBO credential type to Azure Identity README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#22159 [ServiceBus] don't yield empty page when listing rules in RuleManager
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusRuleManager.ts
  sdk/servicebus/service-bus/test/public/ruleManager.spec.ts
Labels: Service Bus

#22161 [ServiceBus][Test] resetTracer at the end of tracing test
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
Labels: Service Bus

#22177 Post release automated changes for monitor releases
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/monitorManagementClientContext.ts
Labels: Monitor, auto-merge

#22121 [core-lro] Simplify cancellation
  sdk/core/core-lro/src/lroEngine/operation.ts
  sdk/core/core-lro/src/lroEngine/requestUtils.ts
  sdk/core/core-lro/src/poller.ts
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/testClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/analyzeBatch.spec.ts
Labels: Azure.Core

#22171 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#22184 cognitiveservices track2
  common/config/rush/pnpm-lock.yaml
  sdk/cognitiveservices/arm-cognitiveservices/CHANGELOG.md
  sdk/cognitiveservices/arm-cognitiveservices/_meta.json
  sdk/cognitiveservices/arm-cognitiveservices/package.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_create_test.js
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_create_test.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_delete_test.js
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_delete_test.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_get_test.js
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_get_test.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_list_test.js
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_list_test.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_regeneratekey_test.js
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_regeneratekey_test.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_update_test.js
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_test/recording_accounts_update_test.json
  sdk/cognitiveservices/arm-cognitiveservices/review/arm-cognitiveservices.api.md
  sdk/cognitiveservices/arm-cognitiveservices/src/cognitiveServicesManagementClient.ts
  sdk/cognitiveservices/arm-cognitiveservices/src/models/index.ts
  sdk/cognitiveservices/arm-cognitiveservices/test/cognitiveservices_examples.ts
Labels: Mgmt

#22158 [ServiceBus] Add a sample for RuleManager
  sdk/servicebus/service-bus/samples-dev/advanced/ruleManager.ts
  sdk/servicebus/service-bus/samples/v7-beta/javascript/README.md
  sdk/servicebus/service-bus/samples/v7-beta/javascript/advanced/ruleManager.js
  sdk/servicebus/service-bus/samples/v7-beta/javascript/package.json
  sdk/servicebus/service-bus/samples/v7-beta/typescript/README.md
  sdk/servicebus/service-bus/samples/v7-beta/typescript/package.json
  sdk/servicebus/service-bus/samples/v7-beta/typescript/src/advanced/deferral.ts
  sdk/servicebus/service-bus/samples/v7-beta/typescript/src/advanced/ruleManager.ts
  sdk/servicebus/service-bus/samples/v7-beta/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/v7-beta/typescript/src/session.ts
Labels: Service Bus

#22214 [Identity] Fixes to spawn a new instance on macOS
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
Labels: Azure.Identity

#22196 Fix the serialization of the Type param from the Program Brief Attachment model
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/communication/communication-short-codes/src/generated/src/models/index.ts
  sdk/communication/communication-short-codes/src/generated/src/models/mappers.ts
  sdk/communication/communication-short-codes/src/generated/src/models/parameters.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/shortCodesOperations.ts
  sdk/communication/communication-short-codes/swagger/README.md
  sdk/communication/communication-short-codes/swagger/shortcodes.json
  sdk/communication/communication-short-codes/test/public/utils/testProgramBriefAttachment.ts
Labels: Communication

#22222 [dev-tool] also check for rollup warning match using "/"
  common/tools/dev-tool/src/config/rollup.base.config.ts
Labels: dev-tool

#22235 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
Labels: Azure.Identity, auto-merge

#22152 Added two new features for change feed package.
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/review/storage-blob-changefeed.api.md
  sdk/storage/storage-blob-changefeed/src/BlobChangeFeedClient.ts
  sdk/storage/storage-blob-changefeed/src/ChangeFeedFactory.ts
  sdk/storage/storage-blob-changefeed/src/ChunkFactory.ts
  sdk/storage/storage-blob-changefeed/test/changefeed.spec.ts
Labels: Storage

#22226 netapp track2
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/_meta.json
  sdk/netapp/arm-netapp/review/arm-netapp.api.md
  sdk/netapp/arm-netapp/samples-dev/volumesListReplicationsSample.ts
  sdk/netapp/arm-netapp/samples/v16/javascript/volumesListReplicationsSample.js
  sdk/netapp/arm-netapp/samples/v16/typescript/src/volumesListReplicationsSample.ts
  sdk/netapp/arm-netapp/src/operations/volumes.ts
  sdk/netapp/arm-netapp/src/operationsInterfaces/volumes.ts
Labels: Mgmt

#22168 Release web-pubsub-express 1.0.3
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
Labels: auto-merge, WebPubSub

#21917 Sync eng/common directory with azure-sdk-tools for PR 3267
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#22232 [engsys] upgrade dependency `http-proxy-agent` to ^5.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/package.json
Labels: Azure.Core

#22244 Sync eng/common directory with azure-sdk-tools for PR 3386
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
Labels: EngSys, Central-EngSys

#22109 [KeyVault] keyvault-admin - Don't hard code request scope
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/challengeAuthenticationCallbacks.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/test/internal/challengeAuthenticationCallbacks.spec.ts
Labels: KeyVault

#22236 [Identity] Merge changes from Hotfix/identity 2.0.5 branch into main
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/migration-v1-v2.md
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
Labels: Azure.Identity

#22239 Sync eng/common directory with azure-sdk-tools for PR 3402
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#22246 [KeyVault] Fix HSM security domain download logging
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault

#22249 [Monitor-opentelemetry] revert execa dependency version upgrade
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
Labels: Monitor

#22253 Post release automated changes for iothub releases
  sdk/iothub/arm-iothub/CHANGELOG.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/src/iotHubClient.ts
Labels: Mgmt, auto-merge

#22251 Post release automated changes for purview releases
  sdk/purview/purview-catalog-rest/CHANGELOG.md
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-catalog-rest/swagger/README.md
Labels: auto-merge, Purview

#22252 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt, auto-merge

#22257 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: auto-merge, WebPubSub

#18596 Add support for partition dns in datalake package.
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Labels: Storage

#21293 Post release automated changes for communication releases
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClientContext.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: auto-merge, Communication

#22267 Fix doc warnings in various README files
  sdk/core/core-amqp/README.md
  sdk/identity/identity-cache-persistence/README.md
  sdk/identity/identity-vscode/README.md
  sdk/identity/identity/README.md
  sdk/iot/iot-modelsrepository/README.md
  sdk/keyvault/README.md
  sdk/storage/arm-storage-profile-2019-03-01-hybrid/README.md
  sdk/storage/storage-datalake/README.md
Labels: Mgmt, Storage, KeyVault, Azure.Identity, Azure.Core, IoT

#22144 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#22270 Post release automated changes for storage releases
  sdk/storage/arm-storage/CHANGELOG.md
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/storageManagementClient.ts
Labels: Mgmt, Storage, auto-merge

#22260 Post release automated changes for sqlvirtualmachine releases
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/CHANGELOG.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClient.ts
Labels: Mgmt, auto-merge

#22258 Post release automated changes for monitor releases
  sdk/monitor/arm-monitor/CHANGELOG.md
  sdk/monitor/arm-monitor/package.json
  sdk/monitor/arm-monitor/src/monitorClient.ts
Labels: Mgmt, Monitor, auto-merge

#22256 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt, App Configuration, auto-merge

#22277 Post release automated changes for servicefabricmesh releases
  sdk/servicefabricmesh/arm-servicefabricmesh/CHANGELOG.md
  sdk/servicefabricmesh/arm-servicefabricmesh/package.json
  sdk/servicefabricmesh/arm-servicefabricmesh/src/serviceFabricMeshManagementClient.ts
Labels: Mgmt, auto-merge

#22280 Update version and change log for STG83 preview.
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
Labels: Storage

#22283 Exclude test recording files.
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
Labels: Central-EngSys

#22269 [Text Analytics] Intersections converted to interfaces
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
Labels: Cognitive - Text Analytics

#22285 Sync eng/common directory with azure-sdk-tools for PR 3457
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#22276 update kusto package
  common/config/rush/pnpm-lock.yaml
  sdk/kusto/arm-kusto/_meta.json
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_create_clusters.js
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_create_clusters.json
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_delete_clusters.js
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_delete_clusters.json
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_get_cluster.js
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_get_cluster.json
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_list_cluster_filtered_by_resource_group.js
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_list_cluster_filtered_by_resource_group.json
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_update_tags_in_cluster.js
  sdk/kusto/arm-kusto/recordings/node/kustomanagementclient/recording_could_update_tags_in_cluster.json
  sdk/kusto/arm-kusto/recordings/node/my_test/recording_sample_test.json
  sdk/kusto/arm-kusto/review/arm-kusto.api.md
  sdk/kusto/arm-kusto/samples-dev/clustersCreateOrUpdateSample.ts
  sdk/kusto/arm-kusto/samples/v7/javascript/clustersCreateOrUpdateSample.js
  sdk/kusto/arm-kusto/samples/v7/typescript/src/clustersCreateOrUpdateSample.ts
  sdk/kusto/arm-kusto/src/kustoManagementClient.ts
  sdk/kusto/arm-kusto/src/models/index.ts
  sdk/kusto/arm-kusto/test/kusto-client-test.ts
Labels: Mgmt

#22294 bump version in arm -kusto
  sdk/kusto/arm-kusto/CHANGELOG.md
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/src/kustoManagementClient.ts
Labels: Mgmt

#22278 [Text Analytics] Add docstrings for enum members
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
Labels: Cognitive - Text Analytics

#22297 [Azure Monitot Exporter] Update dependencies and fix tests
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/test-opentelemetry-versions.mjs
Labels: Monitor

#22296 [Text Analytics] Update tests
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_actions_prebuilt/recording_healthcare_with_fhir.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_actions_prebuilt/recording_sentiment_analysis_with_opinion_mining.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalysisclient_analyzebatch_general_behavior/recording_rehydrated_polling.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_actions_prebuilt/recording_healthcare_with_fhir.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_actions_prebuilt/recording_sentiment_analysis_with_opinion_mining.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalysisclient_analyzebatch_general_behavior/recording_rehydrated_polling.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_actions_prebuilt/recording_healthcare_with_fhir.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_actions_prebuilt/recording_sentiment_analysis_with_opinion_mining.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalysisclient_analyzebatch_general_behavior/recording_rehydrated_polling.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_actions_prebuilt/recording_healthcare_with_fhir.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_actions_prebuilt/recording_sentiment_analysis_with_opinion_mining.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalysisclient_analyzebatch_general_behavior/recording_rehydrated_polling.json
  sdk/textanalytics/ai-text-analytics/test/public/expectations.ts
Labels: Cognitive - Text Analytics

#22295 Post release automated changes for kusto releases
  sdk/kusto/arm-kusto/CHANGELOG.md
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/src/kustoManagementClient.ts
Labels: Mgmt, auto-merge

#22245 address required/options params feedback
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-job-router/src/generated/src/jobRouterApiClient.ts
  sdk/communication/communication-job-router/src/generated/src/models/index.ts
  sdk/communication/communication-job-router/src/generated/src/models/mappers.ts
  sdk/communication/communication-job-router/src/generated/src/models/parameters.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouter.ts
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/src/models/requests.ts
  sdk/communication/communication-job-router/src/routerClient.ts
  sdk/communication/communication-job-router/swagger/swagger.json
  sdk/communication/communication-job-router/test/internal/utils/mockClient.ts
  sdk/communication/communication-job-router/test/public/exceptionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/routerClient.spec.ts
  sdk/communication/communication-job-router/test/public/utils/testData.ts
Labels: Communication

#22308 Sync eng/common directory with azure-sdk-tools for PR 3453
  eng/common/scripts/Verify-Resource-Ref.ps1
Labels: EngSys, Central-EngSys

#22309 Sync eng/common directory with azure-sdk-tools for PR 3434
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#22311 [Text Analytics] Rename lastModifiedOn to modifiedOn
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples-dev/healthcare.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/mappers.ts
  sdk/textanalytics/ai-text-analytics/src/lro.ts
  sdk/textanalytics/ai-text-analytics/src/models.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/public/analyzeBatch.spec.ts
Labels: Cognitive - Text Analytics

#22319 [engsys] Namespace internal package names for eng tooling
  eng/tools/analyze-deps/package-lock.json
  eng/tools/analyze-deps/package.json
  eng/tools/dependency-testing/package.json
  eng/tools/eng-package-utils/package.json
  eng/tools/versioning/package.json
Labels: EngSys, Central-EngSys

#22327 update machinelearningexperimentation package
  common/config/rush/pnpm-lock.yaml
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/CHANGELOG.md
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/_meta.json
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/package.json
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/recordings/node/my_test/recording_sample_test.json
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountCreate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountGet.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountUpdate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountsDeleteSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountsListByResourceGroupSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/accountsListSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/createProject.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/getProject.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/listWorkspacesByAccounts.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/projectListByWorkspaces.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/projectsDeleteSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/updateProject.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/workspaceCreate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/workspaceDelete.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/workspaceGet.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples-dev/workspaceUpdate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/README.md
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountCreate.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountGet.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountUpdate.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountsDeleteSample.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountsListByResourceGroupSample.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/accountsListSample.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/createProject.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/getProject.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/listWorkspacesByAccounts.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/projectListByWorkspaces.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/projectsDeleteSample.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/updateProject.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/workspaceCreate.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/workspaceDelete.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/workspaceGet.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/javascript/workspaceUpdate.js
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/README.md
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/accountCreate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/accountGet.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/accountUpdate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/accountsDeleteSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/accountsListByResourceGroupSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/accountsListSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/createProject.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/getProject.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/listWorkspacesByAccounts.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/projectListByWorkspaces.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/projectsDeleteSample.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/updateProject.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/workspaceCreate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/workspaceDelete.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/workspaceGet.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/samples/v2-beta/typescript/src/workspaceUpdate.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/src/mLTeamAccountManagementClient.ts
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/test/sampleTest.ts
Labels: Mgmt

#22237 [engsys] Remove typedoc dependency
  sdk/appservice/arm-appservice-rest/package.json
Labels: Mgmt

#22331 expose models
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/src/models/models.ts
Labels: Communication

#22332 [ai-form-recognizer] Update generated code backend
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/MIGRATION-v3_v4.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
Labels: Cognitive - Form Recognizer

#22330 release datafactory package
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
Labels: Mgmt

#22343 [Service Bus] Improves documentation for `maxAutoLockRenewalDurationInMs`
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/models.ts
Labels: Service Bus

#22355 Post release automated changes for operationalinsights releases
  sdk/operationalinsights/arm-operationalinsights/CHANGELOG.md
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/operationalinsights/arm-operationalinsights/src/operationalInsightsManagementClient.ts
Labels: Mgmt, auto-merge

#22344 Sync eng/common directory with azure-sdk-tools for PR 3481
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22345 Adds support to run queries with group by over a column with null values
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByEndpointComponent.ts
  sdk/cosmosdb/cosmos/test/public/integration/query.spec.ts
Labels: Cosmos

#22357 Update changelog for release of azure/cosmos 3.16.2
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#22358 [monitor-query] Update tracing.ts comment
  sdk/monitor/monitor-query/src/tracing.ts
Labels: Client, Monitor, Monitor - Query

#22360 [engsys][eslint-plugin] Upgrade `@typescript-eslint/*` to ~5.29.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#22350 [core-lro] Support GET LRO
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/src/lroEngine/requestUtils.ts
  sdk/core/core-lro/test/engine.spec.ts
Labels: Azure.Core

#22291 [perf] Add pipeline template and storage pipelines
  eng/pipelines/templates/jobs/perf.yml
  sdk/storage/storage-blob/perf-resources.bicep
  sdk/storage/storage-blob/perf.yml
  sdk/storage/storage-file-datalake/perf-resources.bicep
  sdk/storage/storage-file-datalake/perf.yml
  sdk/storage/storage-file-share/perf-resources.bicep
  sdk/storage/storage-file-share/perf.yml
Labels: Storage

#22363 Fixing test issue with core-http dependency
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/recordings/browsers/digitaltwins_models__create_read_list_delete_operations/recording_create_models_empty.json
  sdk/digitaltwins/digital-twins-core/recordings/node/digitaltwins_models__create_read_list_delete_operations/recording_create_models_empty.js
  sdk/digitaltwins/digital-twins-core/test-resources.json
  sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts
Labels: Digital Twins

#22381 Post release automated changes for msi releases
  sdk/msi/arm-msi/CHANGELOG.md
  sdk/msi/arm-msi/package.json
  sdk/msi/arm-msi/src/managedServiceIdentityClient.ts
Labels: Mgmt, auto-merge

#22370 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#22369 Post release automated changes for mediaservices releases
  sdk/mediaservices/arm-mediaservices/CHANGELOG.md
  sdk/mediaservices/arm-mediaservices/package.json
  sdk/mediaservices/arm-mediaservices/src/azureMediaServices.ts
Labels: Mgmt, auto-merge

#22377 [core-lro] Update tests to be less verbose
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/utils.ts
Labels: Azure.Core

#22390 Sync eng/common directory with azure-sdk-tools for PR 3509
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Labels: EngSys, Central-EngSys

#22392 Sync eng/common directory with azure-sdk-tools for PR 3510
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Labels: EngSys, Central-EngSys

#22378 [Identity] Remove the workaround for configure client options to fix the live tests
  sdk/identity/identity/test/msalTestUtils.ts
Labels: Azure.Identity

#22284 upgrade cosmos with azure core tracing
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/utils/tracing.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#22395 refresh analysissercices package
  common/config/rush/pnpm-lock.yaml
  sdk/analysisservices/arm-analysisservices/CHANGELOG.md
  sdk/analysisservices/arm-analysisservices/LICENSE
  sdk/analysisservices/arm-analysisservices/README.md
  sdk/analysisservices/arm-analysisservices/_meta.json
  sdk/analysisservices/arm-analysisservices/api-extractor.json
  sdk/analysisservices/arm-analysisservices/package.json
  sdk/analysisservices/arm-analysisservices/recordings/node/my_test/recording_sample_test.js
  sdk/analysisservices/arm-analysisservices/recordings/node/my_test/recording_sample_test.json
  sdk/analysisservices/arm-analysisservices/review/arm-analysisservices.api.md
  sdk/analysisservices/arm-analysisservices/rollup.config.js
  sdk/analysisservices/arm-analysisservices/sample.env
  sdk/analysisservices/arm-analysisservices/src/azureAnalysisServices.ts
  sdk/analysisservices/arm-analysisservices/src/models/index.ts
  sdk/analysisservices/arm-analysisservices/src/operations/servers.ts
  sdk/analysisservices/arm-analysisservices/test/sampleTest.ts
  sdk/analysisservices/arm-analysisservices/tsconfig.json
  sdk/analysisservices/ci.mgmt.yml
Labels: Mgmt

#22399 Sync eng/common directory with azure-sdk-tools for PR 3491
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22391 [core] Update core-xml to support CDATA
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/core-xml/review/core-xml.api.md
  sdk/core/core-xml/src/xml.browser.ts
  sdk/core/core-xml/src/xml.common.ts
  sdk/core/core-xml/src/xml.ts
  sdk/core/core-xml/test/xml.spec.ts
  sdk/notificationhubs/notification-hubs/review/notification-hubs.api.md
Labels: Azure.Core

#22379 [core-lro] Simplify engine logic
  sdk/core/core-lro/src/lroEngine/bodyPolling.ts
  sdk/core/core-lro/src/lroEngine/impl.ts
  sdk/core/core-lro/src/lroEngine/locationPolling.ts
  sdk/core/core-lro/src/lroEngine/models.ts
  sdk/core/core-lro/src/lroEngine/operation.ts
  sdk/core/core-lro/src/lroEngine/passthrough.ts
  sdk/core/core-lro/src/lroEngine/requestUtils.ts
  sdk/core/core-lro/src/lroEngine/stateMachine.ts
  sdk/core/core-lro/test/engine.spec.ts
  sdk/core/core-lro/test/utils/coreRestPipelineLro.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/testOperation.ts
Labels: Azure.Core
