Repository Azure/azure-sdk-for-js, pull requests merged in 2022-05, with the labels that each got.

#21573 New Program Brief Attachments APIs
  sdk/communication/communication-short-codes/CHANGELOG.md
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__manage_attachments/recording_can_manage_attachments.js
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/communication/communication-short-codes/src/generated/src/models/index.ts
  sdk/communication/communication-short-codes/src/generated/src/models/mappers.ts
  sdk/communication/communication-short-codes/src/generated/src/models/parameters.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/shortCodesOperations.ts
  sdk/communication/communication-short-codes/src/generated/src/operationsInterfaces/shortCodesOperations.ts
  sdk/communication/communication-short-codes/src/models.ts
  sdk/communication/communication-short-codes/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/swagger/README.md
  sdk/communication/communication-short-codes/swagger/shortcodes.json
  sdk/communication/communication-short-codes/test/public/manageProgramBriefAttachment.spec.ts
  sdk/communication/communication-short-codes/test/public/utils/testProgramBriefAttachment.ts
Labels: Communication

#21678 [Tables] Enable cross-tenant authentication
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/authorizeRequestOnTenantChallenge.ts
  sdk/core/core-client/src/index.ts
  sdk/core/core-client/test/authorizeRequestOnTenantChallenge.spec.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/util/tokenCycler.ts
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/generated/generatedClient.ts
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/generated/index.ts
  sdk/tables/data-tables/src/generated/operations/service.ts
  sdk/tables/data-tables/src/generated/operations/table.ts
  sdk/tables/data-tables/src/utils/apiVersionPolicy.ts
  sdk/tables/data-tables/src/utils/challengeAuthenticationUtils.ts
  sdk/tables/data-tables/swagger/README.md
  sdk/tables/data-tables/test/internal/apiVersionPolicy.spec.ts
  sdk/tables/data-tables/test/public/utils/env.browser.ts
  sdk/tables/data-tables/test/public/utils/env.ts
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
Labels: Azure.Core, Tables

#21711 Sync eng/common directory with azure-sdk-tools for PR 3261
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#21699 [communication-common] Communication identifier to raw id translation
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/samples/v1/javascript/package.json
  sdk/communication/communication-chat/samples/v1/typescript/package.json
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/credential/communicationTokenCredentialPolicy.ts
  sdk/communication/communication-chat/src/models/events.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/test/internal/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/chatClient.spec.ts
  sdk/communication/communication-chat/test/public/chatThreadClient.spec.ts
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/identifierModelSerializer.spec.ts
  sdk/communication/communication-common/test/identifierModels.spec.ts
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples/v1/javascript/package.json
  sdk/communication/communication-sms/samples/v1/typescript/package.json
Labels: Communication

#21712 [ACR] Disable flaky/broken manifest upload test to fix build
  sdk/containerregistry/container-registry/test/public/containerRegistryBlobClient.spec.ts
Labels: Container Registry

#21715 [appconf] use SHA-256 helpers from core-util instead
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/internal/cryptoHelpers.browser.ts
  sdk/appconfiguration/app-configuration/src/internal/cryptoHelpers.ts
  sdk/core/core-util/src/sha256.browser.ts
Labels: Azure.Core, App Configuration

#21720 [core-tracing] - Narrow Options type in OptionsWithTracingContext
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/src/tracingClient.ts
Labels: Azure.Core

#21719 [core] prepare for May 2022 release
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
Labels: Azure.Core

#21730 [Event Hubs] Rename idempotent retries flag
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/test/internal/eventHubProducerClient.idem.spec.ts
  sdk/eventhub/event-hubs/test/internal/transformEventsForSend.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubBufferedProducerClient.spec.ts
Labels: Event Hubs

#21731 Post release automated changes for core releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core, auto-merge

#21732 Sync eng/common directory with azure-sdk-tools for PR 3280
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#21735 [App Config] 1.4.0-beta.1 release
  sdk/appconfiguration/app-configuration/CHANGELOG.md
Labels: App Configuration

#21740 [Event Hubs] Buffered Producer error handler to be sync
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/batchingPartitionChannel.ts
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
Labels: Event Hubs

#21742 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#21749 Post release automated changes for relay releases
  sdk/relay/arm-relay/CHANGELOG.md
  sdk/relay/arm-relay/package.json
  sdk/relay/arm-relay/src/relayAPI.ts
Labels: Mgmt, auto-merge

#21751 Post release automated changes for resourcehealth releases
  sdk/resourcehealth/arm-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/arm-resourcehealth/package.json
  sdk/resourcehealth/arm-resourcehealth/src/microsoftResourceHealth.ts
Labels: Mgmt, auto-merge

#21754 Post release automated changes for search releases
  sdk/search/arm-search/CHANGELOG.md
  sdk/search/arm-search/package.json
  sdk/search/arm-search/src/searchManagementClient.ts
Labels: Mgmt, Search, auto-merge

#21767 [monitor-ot-exporter][test] remove 15 minutes timeout limit
  sdk/monitor/monitor-opentelemetry-exporter/tests.yml
Labels: Monitor

#21704 [Storage-Queue][Samples] add a scenario of receiving more than one messages with `receiveMessages()`
  sdk/storage/storage-queue/samples-dev/queueClient.ts
  sdk/storage/storage-queue/samples/v12/javascript/package.json
  sdk/storage/storage-queue/samples/v12/javascript/queueClient.js
  sdk/storage/storage-queue/samples/v12/typescript/package.json
  sdk/storage/storage-queue/samples/v12/typescript/src/customPipeline.ts
  sdk/storage/storage-queue/samples/v12/typescript/src/queueClient.ts
Labels: customer-reported, Storage, Impact++

#21698 [ServiceBus] add custom endpoint support
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/constructorHelpers.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/internal/unit/client.spec.ts
Labels: Client, Service Bus

#21739 [identity] upgrade dependency @azure/msal-common to ^v6.3.0
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/recordings/node/usernamepasswordcredential_internal/recording_accepts_tokencachepersistenceoptions.json
  sdk/identity/identity-cache-persistence/recordings/node/usernamepasswordcredential_internal/recording_authenticates_silently_with_tokencachepersistenceoptions.json
  sdk/identity/identity/package.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_authenticates.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_supports_tracing.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal/recording_authenticates_with_tenantid_on_gettoken.json
Labels: Azure.Identity

#21755 Post release automated changes for servicebus releases
  sdk/servicebus/arm-servicebus/CHANGELOG.md
  sdk/servicebus/arm-servicebus/package.json
  sdk/servicebus/arm-servicebus/src/serviceBusManagementClient.ts
Labels: Mgmt, Service Bus, auto-merge

#21756 Post release automated changes for serialconsole releases
  sdk/serialconsole/arm-serialconsole/CHANGELOG.md
  sdk/serialconsole/arm-serialconsole/package.json
  sdk/serialconsole/arm-serialconsole/src/microsoftSerialConsoleClient.ts
Labels: Mgmt, auto-merge

#21757 Post release automated changes for servicefabric releases
  sdk/servicefabric/arm-servicefabric/CHANGELOG.md
  sdk/servicefabric/arm-servicefabric/package.json
  sdk/servicefabric/arm-servicefabric/src/serviceFabricManagementClient.ts
Labels: Mgmt, auto-merge

#21758 Post release automated changes for servicefabricmesh releases
  sdk/servicefabricmesh/arm-servicefabricmesh/CHANGELOG.md
  sdk/servicefabricmesh/arm-servicefabricmesh/package.json
  sdk/servicefabricmesh/arm-servicefabricmesh/src/serviceFabricMeshManagementClient.ts
Labels: Mgmt, auto-merge

#21760 Post release automated changes for sqlvirtualmachine releases
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/CHANGELOG.md
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/package.json
  sdk/sqlvirtualmachine/arm-sqlvirtualmachine/src/sqlVirtualMachineManagementClient.ts
Labels: Mgmt, auto-merge

#21761 Post release automated changes for storageimportexport releases
  sdk/storageimportexport/arm-storageimportexport/CHANGELOG.md
  sdk/storageimportexport/arm-storageimportexport/package.json
  sdk/storageimportexport/arm-storageimportexport/src/storageImportExport.ts
Labels: Mgmt, auto-merge

#21762 Post release automated changes for storagesync releases
  sdk/storagesync/arm-storagesync/CHANGELOG.md
  sdk/storagesync/arm-storagesync/package.json
  sdk/storagesync/arm-storagesync/src/microsoftStorageSync.ts
Labels: Mgmt, auto-merge

#21615 Fix issue to expose blob properties in raw response.
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsbyhierarchy_to_list_uncommitted_blobs.json
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_listblobsflat_to_list_uncommitted_blobs.json
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsbyhierarchy_to_list_uncommitted_blobs.js
  sdk/storage/storage-blob/recordings/node/containerclient/recording_listblobsflat_to_list_uncommitted_blobs.js
  sdk/storage/storage-blob/samples-dev/advancedRequestOptions.ts
  sdk/storage/storage-blob/samples-dev/errorsAndResponses.ts
  sdk/storage/storage-blob/samples/v12/javascript/advancedRequestOptions.js
  sdk/storage/storage-blob/samples/v12/javascript/errorsAndResponses.js
  sdk/storage/storage-blob/samples/v12/typescript/src/advancedRequestOptions.ts
  sdk/storage/storage-blob/samples/v12/typescript/src/errorsAndResponses.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-datalake/samples/v12/javascript/dataLakeServiceClient.js
  sdk/storage/storage-file-datalake/samples/v12/typescript/src/dataLakeServiceClient.ts
Labels: Storage

#21770 Post release automated changes for trafficmanager releases
  sdk/trafficmanager/arm-trafficmanager/CHANGELOG.md
  sdk/trafficmanager/arm-trafficmanager/package.json
  sdk/trafficmanager/arm-trafficmanager/src/trafficManagerManagementClient.ts
Labels: Mgmt, auto-merge

#21771 Post release automated changes for subscription releases
  sdk/subscription/arm-subscriptions/CHANGELOG.md
  sdk/subscription/arm-subscriptions/package.json
  sdk/subscription/arm-subscriptions/src/subscriptionClient.ts
Labels: Mgmt, auto-merge

#21773 Post release automated changes for timeseriesinsights releases
  sdk/timeseriesinsights/arm-timeseriesinsights/CHANGELOG.md
  sdk/timeseriesinsights/arm-timeseriesinsights/package.json
  sdk/timeseriesinsights/arm-timeseriesinsights/src/timeSeriesInsightsClient.ts
Labels: Mgmt, auto-merge

#21774 Post release automated changes for support releases
  sdk/support/arm-support/CHANGELOG.md
  sdk/support/arm-support/package.json
  sdk/support/arm-support/src/microsoftSupport.ts
Labels: Mgmt, auto-merge

#21772 Post release automated changes for streamanalytics releases
  sdk/streamanalytics/arm-streamanalytics/CHANGELOG.md
  sdk/streamanalytics/arm-streamanalytics/package.json
  sdk/streamanalytics/arm-streamanalytics/src/streamAnalyticsManagementClient.ts
Labels: Mgmt, auto-merge

#21775 Post release automated changes for storsimple1200series releases
  sdk/storsimple1200series/arm-storsimple1200series/CHANGELOG.md
  sdk/storsimple1200series/arm-storsimple1200series/package.json
  sdk/storsimple1200series/arm-storsimple1200series/src/storSimpleManagementClient.ts
Labels: Mgmt, auto-merge

#21776 Post release automated changes for storsimple8000series releases
  sdk/storsimple8000series/arm-storsimple8000series/CHANGELOG.md
  sdk/storsimple8000series/arm-storsimple8000series/package.json
  sdk/storsimple8000series/arm-storsimple8000series/src/storSimple8000SeriesManagementClient.ts
Labels: Mgmt, auto-merge

#21476 Post release automated changes for storage releases
  sdk/storage/storage-blob-changefeed/CHANGELOG.md
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/src/utils/constants.ts
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage, auto-merge

#20095 [storage]Refined user-agent value
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/TelemetryPolicyFactory.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/src/TelemetryPolicyFactory.ts
Labels: Storage

#21764 Remove unused test-utils docker file
  sdk/test-utils/perf/Dockerfile
Labels: Central-EngSys

#21788 [core] remove core-crypto package
  common/config/rush/pnpm-lock.yaml
  dataplane.code-workspace
  rush.json
  sdk/core/ci.yml
  sdk/core/core-crypto/.eslintrc.json
  sdk/core/core-crypto/CHANGELOG.md
  sdk/core/core-crypto/LICENSE
  sdk/core/core-crypto/README.md
  sdk/core/core-crypto/api-extractor.json
  sdk/core/core-crypto/karma.conf.js
  sdk/core/core-crypto/package.json
  sdk/core/core-crypto/review/core-crypto.api.md
  sdk/core/core-crypto/rollup.test.config.js
  sdk/core/core-crypto/rollup.webworker.config.js
  sdk/core/core-crypto/src/index.ts
  sdk/core/core-crypto/src/sha256.browser.ts
  sdk/core/core-crypto/src/sha256.ts
  sdk/core/core-crypto/src/utils/base64.browser.ts
  sdk/core/core-crypto/src/utils/hex.ts
  sdk/core/core-crypto/src/utils/utf8.browser.ts
  sdk/core/core-crypto/test/internal/browser/base64.spec.ts
  sdk/core/core-crypto/test/internal/browser/utf8.spec.ts
  sdk/core/core-crypto/test/internal/hex.spec.ts
  sdk/core/core-crypto/test/public/browser/webworker-runner.spec.ts
  sdk/core/core-crypto/test/public/browser/webworker.ts
  sdk/core/core-crypto/test/public/sha256.spec.ts
  sdk/core/core-crypto/tsconfig.json
  sdk/core/core-crypto/tsdoc.json
Labels: Azure.Core

#21789 [@azure/search-documents] Troubleshooing Guide for Search Documents
  sdk/search/search-documents/src/TROUBLESHOOTING.md
  sdk/search/search-documents/src/serviceModels.ts
Labels: Search

#21803 [Schema Registry] Prepare for May release
  sdk/schemaregistry/schema-registry/CHANGELOG.md
Labels: Schema Registry

#21806 [Event Hubs] Prepare for May release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#21794 [core-paging] provide default continuation token support
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-paging/src/getPagedAsyncIterator.ts
Labels: Azure.Core

#21804 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#21805 [core-logger] remove unused dev dependency `delay`
  sdk/core/logger/package.json
Labels: Azure.Core

#21809 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#21811 [Event Hubs] Publish samples
  sdk/eventhub/event-hubs/samples/v5/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/sendBufferedEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/sendEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/useWithIotHub.js
  sdk/eventhub/event-hubs/samples/v5/javascript/usingAadAuth.js
  sdk/eventhub/event-hubs/samples/v5/javascript/websockets.js
  sdk/eventhub/event-hubs/samples/v5/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/sendBufferedEvents.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/websockets.ts
Labels: Event Hubs

#21824 recovervicesbackup-track2-release
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/_meta.json
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/package.json
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/review/arm-recoveryservicesbackup.api.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/index.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/models/mappers.ts
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/recoveryServicesBackupClient.ts
Labels: Mgmt

#21813 [EventGrid] Fix recorded tests
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_error_cases_cloudevent_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_error_cases_custom_event_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/browsers/eventgridpublisherclient_send_error_cases_eventgrid_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_error_cases_cloudevent_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_error_cases_custom_event_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/recordings/node/eventgridpublisherclient_send_error_cases_eventgrid_schema/recording_does_not_append_apievents.json
  sdk/eventgrid/eventgrid/test/public/utils/recordedClient.ts
Labels: Event Grid

#21826 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
Labels: App Configuration, auto-merge

#21817 [appconfig] remove unused rollup dev dependencies
  sdk/appconfiguration/app-configuration/package.json
Labels: App Configuration

#21838 Sync eng/common directory with azure-sdk-tools for PR 3320
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#21002 [Service Bus] add an option to omit message body when peeking messages
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
Labels: Service Bus

#21240 Support DedicatedGatewayRequestOptions and MaxIntegratedCacheStaleness
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ItemManagement.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/request/DedicatedGatewayRequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/index.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#21830 Bump version for storage packages.
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#21837 [engsys] upgrade `puppeteer` dev dependency to ^14.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-http/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/logger/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core, WebPubSub

#21832 Sync eng/common directory with azure-sdk-tools for PR 3323
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#21849 [eventgrid] Correctly Format Datetime to 12 hour Format
  sdk/eventgrid/eventgrid/src/util.ts
  sdk/eventgrid/eventgrid/test/internal/util.spec.ts
Labels: customer-reported, Event Grid

#21549 [ACR] upgrade to core-tracing 1.0.0
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/blob/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/constants.ts
  sdk/containerregistry/container-registry/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/src/containerRepository.ts
  sdk/containerregistry/container-registry/src/registryArtifact.ts
  sdk/containerregistry/container-registry/src/tracing.ts
Labels: Container Registry

#21859 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClientContext.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage, auto-merge

#21851 [EventHubs] Fix rollup circular dependency warnings
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
Labels: Event Hubs, dev-tool

#21384 [digital-twins] - Upgrade to core-tracing 1.0
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/src/constants.ts
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/tracing.ts
  sdk/digitaltwins/digital-twins-core/test/internal/digitalTwinsClient.spec.ts
  sdk/iot/iot-modelsrepository/CHANGELOG.md
  sdk/iot/iot-modelsrepository/package.json
Labels: IoT, Digital Twins

#21793 [core-lro] lroEngine to support cancellation
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/lroEngine/lroEngine.ts
  sdk/core/core-lro/src/lroEngine/models.ts
  sdk/core/core-lro/src/lroEngine/operation.ts
Labels: Azure.Core

#21866 [core-amqp] handle possible `undefined` receiver in timeout handler
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/requestResponseLink.ts
Labels: Azure.Core

#21864 [EH-checkpoint-store-blob] guard against undefined blob metadata
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts
Labels: Event Hubs

#21869 [agrifood-farming-rest] downgrade dep @azure/core-paging to ^1.2.0
  sdk/agrifood/agrifood-farming-rest/package.json
Labels: AgriFood

#21868 Sync eng/common directory with azure-sdk-tools for PR 3341
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#21875 [Text Analytics] Update link in README
  sdk/textanalytics/ai-text-analytics/README.md
Labels: Cognitive - Text Analytics

#21780 datafactory-track2-release
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
Labels: Mgmt

#21882 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#21871 [web-pubsub] Fix recorded tests
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_apim.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_grant_permissions_to_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_trace_through_the_various_options.json
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
Labels: WebPubSub

#21850 [event hubs] Fix test timeout failure on China cloud
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
Labels: Event Hubs

#21892 [core-amqp][test] add explicit type for clearTimeout parameter
  sdk/core/core-amqp/test/requestResponse.spec.ts
Labels: Azure.Core

#21894 [core] Fix link in README
  sdk/core/README.md
Labels: Azure.Core

#21706 Upgrade version in aggregate reports pipeline
  eng/pipelines/aggregate-reports.yml
Labels: Central-EngSys

#21905 [engsys] upgrade dependency `glob` to ^8.0.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/core/core-http/package.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, Azure.Core, eslint plugin

#21901 [Text Analytics] Bump core-lro dep version
  sdk/textanalytics/ai-text-analytics/package.json
Labels: Cognitive - Text Analytics

#21733 [engsys][eslint-plugin] upgrade eslint dependencies
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-doc-internal-private-member.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-doc-internal-private-member.ts
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/internal/typeguards.ts
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/src/util/typeGuards.ts
  sdk/core/core-auth/package.json
  sdk/core/core-auth/src/typeguards.ts
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/src/typeGuards.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/typeGuards.ts
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/src/timespanConversion.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/typeGuards.ts
Labels: Service Bus, Event Hubs, Azure.Core, Monitor, App Configuration, eslint plugin

#21911 [Text Analytics] Adding missing files
  sdk/textanalytics/ai-text-analytics/.nycrc
  sdk/textanalytics/ai-text-analytics/LICENSE
  sdk/textanalytics/ai-text-analytics/tests.yml
  sdk/textanalytics/ai-text-analytics/tsdoc.json
Labels: Cognitive - Text Analytics

#21915 [core-paging] Prepare release
  sdk/core/core-paging/CHANGELOG.md
Labels: Azure.Core

#21878 eventgrid-track2-release
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/_meta.json
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/review/arm-eventgrid.api.md
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
  sdk/eventgrid/arm-eventgrid/src/models/index.ts
  sdk/eventgrid/arm-eventgrid/src/operations/domainEventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operations/domainTopicEventSubscriptions.ts
  sdk/eventgrid/arm-eventgrid/src/operations/topicEventSubscriptions.ts
Labels: Mgmt, Event Grid

#21872 [ServiceBus] enable beta-trimmed api-extractor dts rollup
  sdk/servicebus/service-bus/api-extractor.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#21930 [service-bus] prepares an out-of-band beta release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#21931 [ServiceBus] Fix `types` for beta release
  sdk/servicebus/service-bus/.eslintrc.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#21933 [KeyVault] Add test case to verify port numbers preserved in vault URL
  sdk/keyvault/keyvault-keys/test/public/identifier.spec.ts
Labels: KeyVault

#21935 [Text Analytics] Add migration guide
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/MIGRATION_v5_v6.md
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/review/ai-text-analytics.api.md
  sdk/textanalytics/ai-text-analytics/samples-dev/modelVersion.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/piiEntityRecognition.ts
  sdk/textanalytics/ai-text-analytics/src/generated/models/index.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/swagger/README.md
  sdk/textanalytics/ai-text-analytics/test/public/analyze.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/analyzeBatch.spec.ts
Labels: Cognitive - Text Analytics

#21936 [Text Analytics] update link
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
Labels: Cognitive - Text Analytics

#21937 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#21923 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#21926 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt, auto-merge

#21924 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
Labels: Mgmt, Event Grid, auto-merge

#21940 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#21962 Sync eng/common directory with azure-sdk-tools for PR 3368
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#21934 Update the current API version to 2020-07-15
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#21961 Sync eng/common directory with azure-sdk-tools for PR 3342
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#21967 [monitor-query] Remove obsolete npm packages
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-query/package.json
Labels: Monitor

#20885 Update README.md
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#21908 use local config in retry<T>
  sdk/core/core-amqp/src/retry.ts
Labels: customer-reported, Azure.Core, Impact++

#21987 redis-test-update
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_patchschedules_create_for_redis_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_patchschedules_delete_for_redis_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_patchschedules_listbyredisresource_for_redis_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_create_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_delete_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_get_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_listbyresourcegroup_test.js
  sdk/redis/arm-rediscache/recordings/node/redis_test/recording_redis_update_test.js
  sdk/redis/arm-rediscache/test/redis_examples.ts
Labels: Mgmt

#21996 Post release automated changes for recoveryservicesbackup releases
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/package.json
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/recoveryServicesBackupClient.ts
Labels: Mgmt, auto-merge

#21997 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#22004 Sync eng/common directory with azure-sdk-tools for PR 3362
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#22006 Sync eng/common directory with azure-sdk-tools for PR 3378
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#22001 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos, auto-merge

#22005 Update CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys

#21916 Post release automated changes for core releases
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
Labels: Azure.Core, auto-merge

#21949 Enable tls policy
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/samples-dev/getEnclaveQuotesCert.ts
  sdk/confidentialledger/confidential-ledger-rest/src/certificatePolicy.browser.ts
  sdk/confidentialledger/confidential-ledger-rest/src/certificatePolicy.ts
  sdk/confidentialledger/confidential-ledger-rest/src/confidentialLedger.ts
  sdk/core/core-client-rest/src/clientHelpers.ts
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/policies/tlsPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/exponentialRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/pipeline.spec.ts
Labels: Azure.Core, Confidential Ledger

#21989 [Event Hubs] Add troubleshooting guide
  sdk/eventhub/event-hubs/TROUBLESHOOTING.md
  sdk/eventhub/event-hubs/samples-dev/sendEventsToSpecificPartition.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5/javascript/sendEventsToSpecificPartition.js
  sdk/eventhub/event-hubs/samples/v5/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5/typescript/src/sendEventsToSpecificPartition.ts
Labels: Event Hubs

#22009 Post release automated changes for containerregistry releases
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
Labels: Mgmt, Container Registry, auto-merge

#22007 Post release automated changes for azurestackhci releases
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/package.json
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
Labels: Mgmt, auto-merge

#22022 Post release automated changes for education releases
  sdk/education/arm-education/CHANGELOG.md
  sdk/education/arm-education/package.json
  sdk/education/arm-education/src/educationManagementClient.ts
Labels: auto-merge

#22030 Fix links in template README
  sdk/template/template/README-EXAMPLE.md
Labels: EngSys

#22015 removing beta annotation
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/request/DedicatedGatewayRequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/request/index.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#22031 Bump minor version for release
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#22019 deviceprovisioningservices-track2
  common/config/rush/pnpm-lock.yaml
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/_meta.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/package.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/recordings/node/my_test/recording_sample_test.js
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/recordings/node/my_test/recording_sample_test.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/iotDpsClient.ts
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/test/sampleTest.ts
Labels: Mgmt

#22040 Post release automated changes for deviceupdate releases
  sdk/deviceupdate/arm-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/arm-deviceupdate/package.json
  sdk/deviceupdate/arm-deviceupdate/src/deviceUpdate.ts
Labels: auto-merge

#22042 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#22043 Post release automated changes for confidentialledger releases
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/package.json
  sdk/confidentialledger/arm-confidentialledger/src/confidentialLedgerClient.ts
Labels: auto-merge, Confidential Ledger

#22049 Add back missing @beta tag
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
Labels: Cosmos

#22052 [appconfig][samples] add back v1 published samples
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/getSettingOnlyIfChanged.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/helloworld.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/helloworldWithLabels.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listConfigurationSettings.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listRevisions.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/optimisticConcurrencyViaEtag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/setReadOnlySample.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/sample.env
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/getSettingOnlyIfChanged.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/helloworld.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/helloworldWithLabels.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listConfigurationSettings.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listRevisions.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/optimisticConcurrencyViaEtag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/setReadOnlySample.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
Labels: App Configuration

#22029 [@azure/core-http]/[@azure/core-client] - Remove Constraints Check
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/review/core-http.api.md
  sdk/core/core-http/src/serializer.ts
  sdk/core/core-http/src/util/xml.ts
Labels: Azure.Core
