Repository Azure/azure-sdk-for-js, pull requests merged in 2022-01, with the labels that each got.

#19529 Update prettier dev-dependency to v2.5.1 in rest packages
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-account-rest/package.json
  sdk/purview/purview-account-rest/src/parameters.ts
  sdk/purview/purview-administration-rest/package.json
  sdk/purview/purview-administration-rest/src/account/parameters.ts
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-catalog-rest/src/parameters.ts
  sdk/purview/purview-scanning-rest/package.json
  sdk/purview/purview-scanning-rest/src/parameters.ts
  sdk/synapse/synapse-access-control-rest/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-spark/package.json
Labels: Synapse, Purview

#19579 Update prettier dev-dependency to v2.5.1 in Tables
  common/config/rush/pnpm-lock.yaml
  sdk/tables/data-tables/karma.conf.js
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/samples-dev/authenticationMethods.ts
  sdk/tables/data-tables/samples-dev/createAndDeleteEntities.ts
  sdk/tables/data-tables/samples-dev/generateTableSAS.ts
  sdk/tables/data-tables/samples-dev/queryEntities.ts
  sdk/tables/data-tables/samples-dev/queryTables.ts
  sdk/tables/data-tables/samples-dev/transactionOperations.ts
  sdk/tables/data-tables/samples-dev/transactionWithHelper.ts
  sdk/tables/data-tables/samples-dev/updateAndUpsertEntities.ts
  sdk/tables/data-tables/samples-dev/workingWithInt64.ts
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TablePolicies.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/TableTransaction.ts
  sdk/tables/data-tables/src/cosmosPathPolicy.ts
  sdk/tables/data-tables/src/generatedModels.ts
  sdk/tables/data-tables/src/sas/accountSasSignatureValues.ts
  sdk/tables/data-tables/src/sas/generateAccountSas.ts
  sdk/tables/data-tables/src/sas/generateTableSas.ts
  sdk/tables/data-tables/src/sas/sasQueryParameters.ts
  sdk/tables/data-tables/src/sas/tableSasSignatureValues.ts
  sdk/tables/data-tables/src/serialization.ts
  sdk/tables/data-tables/src/tablesNamedCredentialPolicy.ts
  sdk/tables/data-tables/src/tablesSASTokenPolicy.ts
  sdk/tables/data-tables/src/utils/accountConnectionString.ts
  sdk/tables/data-tables/src/utils/baseTransactionHeaders.ts
  sdk/tables/data-tables/src/utils/computeHMACSHA256.ts
  sdk/tables/data-tables/src/utils/connectionString.ts
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/src/utils/continuationToken.ts
  sdk/tables/data-tables/src/utils/internalModels.ts
  sdk/tables/data-tables/src/utils/isCredential.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/src/utils/transactionHeaders.ts
  sdk/tables/data-tables/src/utils/transactionHelpers.ts
  sdk/tables/data-tables/test/internal/browser/generateSas.browser.spec.ts
  sdk/tables/data-tables/test/internal/node/generateSas.spec.ts
  sdk/tables/data-tables/test/internal/serialization.spec.ts
  sdk/tables/data-tables/test/internal/sharedKeyCredential.spec.ts
  sdk/tables/data-tables/test/internal/tableTransaction.spec.ts
  sdk/tables/data-tables/test/internal/utils.spec.ts
  sdk/tables/data-tables/test/public/accessPolicy.spec.ts
  sdk/tables/data-tables/test/public/createTable.spec.ts
  sdk/tables/data-tables/test/public/specialCharacters.spec.ts
  sdk/tables/data-tables/test/public/tableclient.spec.ts
  sdk/tables/data-tables/test/public/tableserviceclient.spec.ts
  sdk/tables/data-tables/test/public/transaction.spec.ts
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
  sdk/tables/perf-tests/data-tables/package.json
  sdk/tables/perf-tests/data-tables/test/createComplexEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/createSimpleEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/index.spec.ts
  sdk/tables/perf-tests/data-tables/test/listComplexEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/listSimpleEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/utils/createBaseEntity.ts
Labels: Tables

#19611 Sync eng/common directory with azure-sdk-tools for PR 2464
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#19614 [storage,tables] Update `signedExpiry` to computed value
  sdk/storage/test-resources.json
  sdk/tables/test-resources.json
Labels: Client, Storage, Tables

#19479 [core-lro] use the correct unit for Retry-After value
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/lroEngine/stateMachine.ts
Labels: Azure.Core

#19535 Update prettier dev-dependency to v2.5.1 in Template
  common/config/rush/pnpm-lock.yaml
  sdk/template/perf-tests/template/package.json
  sdk/template/perf-tests/template/test/getConfigurationSetting.spec.ts
  sdk/template/template/karma.conf.js
  sdk/template/template/package.json
  sdk/template/template/src/configurationClient.ts
  sdk/template/template/src/tracing.ts
  sdk/template/template/test/internal/basic.spec.ts
  sdk/template/template/test/public/configurationClient.spec.ts
Labels: EngSys

#19539 Update prettier dev-dependency to v2.5.1 in IoT
  common/config/rush/pnpm-lock.yaml
  sdk/iot/iot-modelsrepository/karma.conf.js
  sdk/iot/iot-modelsrepository/package.json
  sdk/iot/iot-modelsrepository/src/dtmiConventions.ts
  sdk/iot/iot-modelsrepository/src/fetcherFilesystem.ts
  sdk/iot/iot-modelsrepository/src/fetcherHTTP.ts
  sdk/iot/iot-modelsrepository/src/modelsRepositoryClient.ts
  sdk/iot/iot-modelsrepository/src/modelsRepositoryServiceClient.ts
  sdk/iot/iot-modelsrepository/test/browser/browserTest.spec.ts
  sdk/iot/iot-modelsrepository/test/node/integration/index.spec.ts
  sdk/iot/iot-modelsrepository/test/node/unit/constants.spec.ts
  sdk/iot/iot-modelsrepository/test/node/unit/dtmiConventions.spec.ts
Labels: IoT

#19558 Update prettier dev-dependency to v2.5.1 in Mixed Reality
  common/config/rush/pnpm-lock.yaml
  sdk/mixedreality/mixed-reality-authentication/karma.conf.js
  sdk/mixedreality/mixed-reality-authentication/package.json
  sdk/mixedreality/mixed-reality-authentication/src/mixedRealityStsClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/auth.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/mappers.ts
  sdk/mixedreality/mixed-reality-authentication/src/tracing.ts
  sdk/mixedreality/mixed-reality-authentication/test/mixedRealityStsClient.spec.ts
  sdk/mixedreality/mixed-reality-authentication/test/utils/recordedClient.ts
Labels: Mixed Reality

#19563 Update prettier dev-dependency to v2.5.1 in Remote Rendering, Schema Registry and Web-PubSub
  common/config/rush/pnpm-lock.yaml
  sdk/remoterendering/mixed-reality-remote-rendering/karma.conf.js
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/samples-dev/listSessions.ts
  sdk/remoterendering/mixed-reality-remote-rendering/samples-dev/moreComplexConversion.ts
  sdk/remoterendering/mixed-reality-remote-rendering/samples-dev/session.ts
  sdk/remoterendering/mixed-reality-remote-rendering/samples-dev/simpleConversion.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/authentication/mixedRealityAccountKeyCredential.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/authentication/mixedRealityTokenCredential.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/internal/assetConversion.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/internal/commonQueries.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/internal/renderingSession.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/lro/assetConversionPoller.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/lro/renderingSessionPoller.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/remoteRenderingClient.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/tracing.ts
  sdk/remoterendering/mixed-reality-remote-rendering/test/public/remoteRenderingClient.spec.ts
  sdk/remoterendering/mixed-reality-remote-rendering/test/utils/recordedClient.ts
  sdk/schemaregistry/schema-registry-avro/karma.conf.js
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/rollup.patched.config.js
  sdk/schemaregistry/schema-registry-avro/samples-dev/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/src/index.ts
  sdk/schemaregistry/schema-registry-avro/src/schemaRegistryAvroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/schemaRegistryAvroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/dummies.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-avro/test/utils/mockedSerializer.ts
  sdk/schemaregistry/schema-registry/karma.conf.js
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/samples-dev/schemaRegistrySample.ts
  sdk/schemaregistry/schema-registry/src/conversions.ts
  sdk/schemaregistry/schema-registry/src/schemaRegistryClient.ts
  sdk/schemaregistry/schema-registry/test/public/schemaRegistry.spec.ts
  sdk/schemaregistry/schema-registry/test/public/utils/recordedClient.ts
  sdk/web-pubsub/web-pubsub-express/karma.conf.js
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub-express/samples-dev/server.ts
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/src/utils.ts
  sdk/web-pubsub/web-pubsub-express/test/connect.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/connected.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/ctor.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/disconnected.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/user.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/validate.spec.ts
  sdk/web-pubsub/web-pubsub/karma.conf.js
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/src/groupClient.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/index.ts
  sdk/web-pubsub/web-pubsub/src/reverseProxyPolicy.ts
  sdk/web-pubsub/web-pubsub/src/tracing.ts
  sdk/web-pubsub/web-pubsub/src/webPubSubCredentialPolicy.ts
  sdk/web-pubsub/web-pubsub/test/conn.spec.ts
  sdk/web-pubsub/web-pubsub/test/groups.spec.ts
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
Labels: Schema Registry, WebPubSub, Remote Rendering

#19618 Post release automated changes for billing releases
  sdk/billing/arm-billing/CHANGELOG.md
  sdk/billing/arm-billing/package.json
Labels: Mgmt, auto-merge

#19620 containerinstance-track2
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/LICENSE
  sdk/containerinstance/arm-containerinstance/README.md
  sdk/containerinstance/arm-containerinstance/_meta.json
  sdk/containerinstance/arm-containerinstance/api-extractor.json
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_create_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_delete_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_get_test.js
  sdk/containerinstance/arm-containerinstance/recordings/node/containerinstance_test/recording_containergroups_list_test.js
  sdk/containerinstance/arm-containerinstance/review/arm-containerinstance.api.md
  sdk/containerinstance/arm-containerinstance/rollup.config.js
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClientContext.ts
  sdk/containerinstance/arm-containerinstance/src/index.ts
  sdk/containerinstance/arm-containerinstance/src/lroImpl.ts
  sdk/containerinstance/arm-containerinstance/src/models/containerGroupsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/index.ts
  sdk/containerinstance/arm-containerinstance/src/models/mappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/operationsMappers.ts
  sdk/containerinstance/arm-containerinstance/src/models/parameters.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containerGroups.ts
  sdk/containerinstance/arm-containerinstance/src/operations/containers.ts
  sdk/containerinstance/arm-containerinstance/src/operations/index.ts
  sdk/containerinstance/arm-containerinstance/src/operations/location.ts
  sdk/containerinstance/arm-containerinstance/src/operations/operations.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/containerGroups.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/containers.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/index.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/location.ts
  sdk/containerinstance/arm-containerinstance/src/operationsInterfaces/operations.ts
  sdk/containerinstance/arm-containerinstance/test/containerinstance_examples.ts
  sdk/containerinstance/arm-containerinstance/tsconfig.json
  sdk/containerinstance/ci.yml
Labels: Mgmt

#19612 [core-rest-pipeline] Fix build error after upgrading @types/node
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
Labels: Azure.Core

#19623 Release recorder 1.0.2
  sdk/test-utils/recorder/CHANGELOG.md
Labels: customer-reported

#19528 Update prettier dev-dependency to v2.5.1 in Digital Twins
  common/config/rush/pnpm-lock.yaml
  sdk/digitaltwins/digital-twins-core/karma.conf.js
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/samples-dev/dt_component_lifecycle.ts
  sdk/digitaltwins/digital-twins-core/samples-dev/dt_digitaltwins_lifecycle.ts
  sdk/digitaltwins/digital-twins-core/samples-dev/dt_models_lifecycle.ts
  sdk/digitaltwins/digital-twins-core/src/digitalTwinsClient.ts
  sdk/digitaltwins/digital-twins-core/src/index.ts
  sdk/digitaltwins/digital-twins-core/src/tracing.ts
  sdk/digitaltwins/digital-twins-core/test/internal/digitalTwinsClient.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testComponents.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testDigitalTwins.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testEventRoutes.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testRelationships.spec.ts
  sdk/digitaltwins/digital-twins-core/test/utils/recorderUtils.ts
  sdk/digitaltwins/digital-twins-core/test/utils/testAuthentication.ts
Labels: Digital Twins

#19562 Update prettier dev-dependency to v2.5.1 in Monitor
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/basicTracerNode.ts
  sdk/monitor/monitor-opentelemetry-exporter/samples-dev/httpSample.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/Declarations/Constants.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/config.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/export/trace.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/constants.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/httpSender.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/eventhub.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test-opentelemetry-versions.js
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/connectionStringParser.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/eventhub.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/fileSystemPersist.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/httpSender.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/trace.exporter.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/assert.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/breezeTestUtils.ts
  sdk/monitor/monitor-query/karma.conf.js
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/samples-dev/logsQuery.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryBatch.ts
  sdk/monitor/monitor-query/samples-dev/logsQueryMultipleWorkspaces.ts
  sdk/monitor/monitor-query/samples-dev/metricsQuery.ts
  sdk/monitor/monitor-query/src/index.ts
  sdk/monitor/monitor-query/src/internal/modelConverters.ts
  sdk/monitor/monitor-query/src/internal/util.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/metricsQueryClient.ts
  sdk/monitor/monitor-query/src/models/constants.ts
  sdk/monitor/monitor-query/src/models/publicLogsModels.ts
  sdk/monitor/monitor-query/src/models/publicMetricsModels.ts
  sdk/monitor/monitor-query/src/tracing.ts
  sdk/monitor/monitor-query/test/internal/unit/logsQueryClient.unittest.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/modelConverters.unittest.spec.ts
  sdk/monitor/monitor-query/test/internal/unit/utils.unittest.spec.ts
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
  sdk/monitor/perf-tests/monitor-query/package.json
  sdk/monitor/perf-tests/monitor-query/test/logQuery.spec.ts
  sdk/monitor/perf-tests/monitor-query/test/logQueryBatch.spec.ts
  sdk/monitor/perf-tests/monitor-query/test/metricQuery.spec.ts
Labels: Monitor

#19588 [core-amqp] move to shared rollup config
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/rollup.base.config.js
  sdk/core/core-amqp/rollup.config.js
  sdk/core/core-amqp/rollup.test.config.js
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/util/constants.ts
  sdk/core/core-amqp/src/util/lock.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/retry.spec.ts
Labels: Azure.Core

#19473 Stop the test proxy container explicitly when tests finish
  common/tools/dev-tool/src/commands/test-proxy/index.ts
  common/tools/dev-tool/src/commands/test-proxy/stop.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/dev-tool/src/util/testUtils.ts
Labels: test-utils-recorder, dev-tool

#19067 [sort-imports] update ```identity-cache-persistence``` with respect to ```sort-imports``` rule
  sdk/identity/identity-cache-persistence/src/index.ts
  sdk/identity/identity-cache-persistence/src/platforms.ts
  sdk/identity/identity-cache-persistence/src/provider.ts
  sdk/identity/identity-cache-persistence/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/usernamePasswordCredential.spec.ts
Labels: customer-reported, Azure.Identity, Impact++

#19626 [tracing] - Address some of the feedback for tracing changes
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/instrumenter.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/src/tracingClient.ts
  sdk/core/core-tracing/src/tracingContext.ts
  sdk/core/core-tracing/test/instrumenter.spec.ts
  sdk/core/core-tracing/test/interfaces.spec.ts
  sdk/core/core-tracing/test/tracingClient.spec.ts
  sdk/core/core-tracing/test/tracingContext.spec.ts
  sdk/instrumentation/instrumentation-opentelemetry/karma.conf.js
  sdk/instrumentation/instrumentation-opentelemetry/package.json
  sdk/instrumentation/instrumentation-opentelemetry/src/instrumentation.browser.ts
  sdk/instrumentation/instrumentation-opentelemetry/src/instrumentation.ts
  sdk/instrumentation/instrumentation-opentelemetry/src/instrumenter.ts
  sdk/instrumentation/instrumentation-opentelemetry/src/transformations.ts
  sdk/instrumentation/instrumentation-opentelemetry/test/public/instrumenter.spec.ts
  sdk/instrumentation/instrumentation-opentelemetry/test/public/util/testSpan.ts
  sdk/instrumentation/instrumentation-opentelemetry/test/public/util/testTracer.ts
  sdk/test-utils/test-utils/src/tracing/mockInstrumenter.ts
Labels: Azure.Core

#19507 [core-paging] Use a TS v3.4-friendly iterator protocol
  sdk/core/core-paging/package.json
  sdk/core/core-paging/review/core-paging.api.md
  sdk/core/core-paging/sample.env
  sdk/core/core-paging/samples-dev/getPagedAsyncIteratorSample.ts
  sdk/core/core-paging/samples/v1/javascript/README.md
  sdk/core/core-paging/samples/v1/javascript/getPagedAsyncIteratorSample.js
  sdk/core/core-paging/samples/v1/javascript/package.json
  sdk/core/core-paging/samples/v1/javascript/sample.env
  sdk/core/core-paging/samples/v1/typescript/README.md
  sdk/core/core-paging/samples/v1/typescript/package.json
  sdk/core/core-paging/samples/v1/typescript/sample.env
  sdk/core/core-paging/samples/v1/typescript/src/getPagedAsyncIteratorSample.ts
  sdk/core/core-paging/samples/v1/typescript/tsconfig.json
  sdk/core/core-paging/src/models.ts
  sdk/core/core-paging/test/getPagedAsyncIterator.spec.ts
  sdk/core/core-paging/tsconfig.json
Labels: Azure.Core

#19566 Update prettier dev-dependency to v2.5.1 in Search
  common/config/rush/pnpm-lock.yaml
  sdk/search/perf-tests/search-documents/package.json
  sdk/search/perf-tests/search-documents/test/autoCompleteTest.spec.ts
  sdk/search/perf-tests/search-documents/test/core/documentsGenerator.ts
  sdk/search/perf-tests/search-documents/test/core/searchDocumentsBase.spec.ts
  sdk/search/perf-tests/search-documents/test/indexDocumentsTest.spec.ts
  sdk/search/perf-tests/search-documents/test/searchDocumentsTest.spec.ts
  sdk/search/perf-tests/search-documents/test/suggestTest.spec.ts
  sdk/search/search-documents/karma.conf.js
  sdk/search/search-documents/package.json
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples-dev/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples-dev/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples-dev/indexOperations.ts
  sdk/search/search-documents/samples-dev/indexerOperations.ts
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples-dev/skillSetOperations.ts
  sdk/search/search-documents/samples-dev/synonymMapOperations.ts
  sdk/search/search-documents/src/geographyPoint.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexDocumentsBatch.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/odataMetadataPolicy.ts
  sdk/search/search-documents/src/searchApiKeyCredentialPolicy.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/src/synonymMapHelper.ts
  sdk/search/search-documents/src/tracing.ts
  sdk/search/search-documents/test/internal/browser/synonymMap.browser.spec.ts
  sdk/search/search-documents/test/internal/geographyPoint.spec.ts
  sdk/search/search-documents/test/internal/node/synonymMap.node.spec.ts
  sdk/search/search-documents/test/internal/serialization.spec.ts
  sdk/search/search-documents/test/internal/serviceUtils.spec.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#19619 [storage]Add a summary migrationguide for storage sdks.
  sdk/storage/MigrationGuide.md
Labels: Storage

#19629 [instrumentation] - Rename @azure/instrumentation-opentelemetry to @azure/opentelemetry-instrumentation-azure-sdk
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/instrumenter.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/test/instrumenter.spec.ts
  sdk/instrumentation/ci.yml
  sdk/instrumentation/instrumentation-opentelemetry/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/.nycrc
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/.vscode/settings.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/LICENSE
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/README.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/api-extractor.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/karma.conf.js
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/review/opentelemetry-instrumentation-azure-sdk.api.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/rollup.config.js
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/constants.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/index.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.browser.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumenter.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/logger.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/spanWrapper.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/transformations.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/instrumenter.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/spanWrapper.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/testSpan.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/testTracer.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/testTracerProvider.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/traceState.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/tests.yml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/tsconfig.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/tsdoc.json
  sdk/test-utils/test-utils/src/tracing/chaiAzureTrace.ts
  sdk/test-utils/test-utils/src/tracing/mockInstrumenter.ts
  sdk/test-utils/test-utils/src/tracing/mockTracingSpan.ts
Labels: Azure.Core

#19625 [eventgrid] fix distributed tracing enricher
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
Labels: Client, Event Grid

#19601 [Storage-Blob] Move to shared rollup config
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/rollup.base.config.js
  sdk/storage/storage-blob/rollup.config.js
  sdk/storage/storage-blob/rollup.test.config.js
  sdk/storage/storage-blob/test/aborter.spec.ts
  sdk/storage/storage-blob/test/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/blobbatch.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobclientpollers.spec.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/blobversioning.spec.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/leaseclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/node/emulator-tests.spec.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-blob/test/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/retrypolicy.spec.ts
  sdk/storage/storage-blob/test/specialnaming.spec.ts
  sdk/storage/storage-blob/test/utils.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
Labels: Client, Storage

#19615 [Storage-File-Datalake] move to shared rollup config
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/rollup.base.config.js
  sdk/storage/storage-file-datalake/rollup.config.js
  sdk/storage/storage-file-datalake/rollup.test.config.js
  sdk/storage/storage-file-datalake/test/aborter.spec.ts
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/leaseclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/retrypolicy.spec.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/specialnaming.spec.ts
  sdk/storage/storage-file-datalake/test/utils.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
Labels: Client, Storage

#19613 [Storage-File-Share] Move to use shared rollup config from dev-tool
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/rollup.base.config.js
  sdk/storage/storage-file-share/rollup.config.js
  sdk/storage/storage-file-share/rollup.test.config.js
  sdk/storage/storage-file-share/test/aborter.spec.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
  sdk/storage/storage-file-share/test/node/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/node/utils.spec.ts
  sdk/storage/storage-file-share/test/retrypolicy.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-file-share/test/specialnaming.spec.ts
  sdk/storage/storage-file-share/test/utils.spec.ts
Labels: Client, Storage

#19616 [Storage-queue,changefeed,avro] Move to shared rollup config
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/rollup.base.config.js
  sdk/storage/storage-blob-changefeed/rollup.config.js
  sdk/storage/storage-blob-changefeed/rollup.test.config.js
  sdk/storage/storage-blob-changefeed/test/blobchangefeedclient.spec.ts
  sdk/storage/storage-blob-changefeed/test/utils/index.ts
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-internal-avro/rollup.base.config.js
  sdk/storage/storage-internal-avro/rollup.config.js
  sdk/storage/storage-internal-avro/rollup.test.config.js
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/rollup.base.config.js
  sdk/storage/storage-queue/rollup.config.js
  sdk/storage/storage-queue/rollup.test.config.js
  sdk/storage/storage-queue/test/aborter.spec.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/node/utils.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueclientmessages.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/retrypolicy.spec.ts
  sdk/storage/storage-queue/test/utils.spec.ts
Labels: Client, Storage

#19624 [core] update CHANGELOG for 2022 Jan releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core

#19537 Update prettier dev-dependency to v2.5.1 in EventGrid
  common/config/rush/pnpm-lock.yaml
  sdk/eventgrid/eventgrid/karma.conf.js
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/samples-dev/consumeEventsFromServiceBusQueue.ts
  sdk/eventgrid/eventgrid/samples-dev/sendCloudEvent.ts
  sdk/eventgrid/eventgrid/samples-dev/sendEventGridEvent.ts
  sdk/eventgrid/eventgrid/src/cloudEventDistrubtedTracingEnricherPolicy.ts
  sdk/eventgrid/eventgrid/src/consumer.ts
  sdk/eventgrid/eventgrid/src/cryptoHelpers.browser.ts
  sdk/eventgrid/eventgrid/src/cryptoHelpers.ts
  sdk/eventgrid/eventgrid/src/eventGridAuthenticationPolicy.ts
  sdk/eventgrid/eventgrid/src/eventGridClient.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/models.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/src/util.ts
  sdk/eventgrid/eventgrid/test/internal/cloudEventDistributedTracingEnricherPolicy.spec.ts
  sdk/eventgrid/eventgrid/test/internal/convertToWireModel.spec.ts
  sdk/eventgrid/eventgrid/test/internal/util.spec.ts
  sdk/eventgrid/eventgrid/test/public/consumer.spec.ts
  sdk/eventgrid/eventgrid/test/public/eventGridClient.spec.ts
  sdk/eventgrid/eventgrid/test/public/generateSharedAccessSignature.spec.ts
  sdk/eventgrid/eventgrid/test/public/utils/recordedClient.ts
  sdk/eventgrid/eventgrid/test/public/utils/testData.ts
  sdk/eventgrid/perf-tests/eventgrid/package.json
  sdk/eventgrid/perf-tests/eventgrid/test/sendCloudEvents.spec.ts
Labels: Event Grid

#19637 Update all uses of next to check done before consuming value
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/package.json
  sdk/metricsadvisor/ai-metrics-advisor/test/public/adminclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/dataSourceCred.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/datafeed.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/hookTests.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/matrix.ts
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/storage/storage-blob/samples/typescript/src/iterators-without-await.ts
  sdk/storage/storage-blob/test/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-datalake/src/transforms.ts
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/test-utils/test-utils/src/getYieldedValue.ts
  sdk/test-utils/test-utils/src/index.ts
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Storage, KeyVault, Azure.Core, Monitor, Cognitive - Text Analytics, Cognitive - Form Recognizer, Cognitive - Metrics Advisor

#19705 Sync eng/common directory with azure-sdk-tools for PR 2484
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#19711 [core-http] prepare CHANGELOG for 2020 Jan release
  sdk/core/core-http/CHANGELOG.md
Labels: Azure.Core

#19712 Post release automated changes for core releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core, auto-merge

#19702 [core-client] Handle calling onResponse when a PipelineRequest fails
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/review/core-client.api.md
  sdk/core/core-client/src/interfaces.ts
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
Labels: Client, Azure.Core

#19718 [Text Analytics] Remove includes of esnext
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/src/dom.d.ts
  sdk/textanalytics/ai-text-analytics/src/index.ts
  sdk/textanalytics/ai-text-analytics/test/public/utils/recordedClient.ts
Labels: Cognitive - Text Analytics

#19083 Sync eng/common directory with azure-sdk-tools for PR 2416
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19551 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
Labels: Mgmt, Batch, auto-merge

#19733 Fix Azure Core Client Readme Issue
  sdk/core/core-client/README.md
Labels: Azure.Core

#19742 Disable the feedback creation tests for AAD
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient_feedback/recording_creates_comment_feedback.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/browsers/api_key_metricsadvisorclient_feedback/recording_retrieves_comment_feedback.json
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient_feedback/recording_creates_comment_feedback.js
  sdk/metricsadvisor/ai-metrics-advisor/recordings/node/api_key_metricsadvisorclient_feedback/recording_retrieves_comment_feedback.js
  sdk/metricsadvisor/ai-metrics-advisor/test/public/advisorclient.spec.ts
  sdk/metricsadvisor/ai-metrics-advisor/test/public/util/recordedClients.ts
Labels: Cognitive - Metrics Advisor

#19746 Sync eng/common directory with azure-sdk-tools for PR 2500
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#19631 confluent-track2
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/LICENSE
  sdk/confluent/arm-confluent/README.md
  sdk/confluent/arm-confluent/_meta.json
  sdk/confluent/arm-confluent/api-extractor.json
  sdk/confluent/arm-confluent/package.json
  sdk/confluent/arm-confluent/recordings/node/my_test/recording_sample_test.js
  sdk/confluent/arm-confluent/review/arm-confluent.api.md
  sdk/confluent/arm-confluent/rollup.config.js
  sdk/confluent/arm-confluent/src/confluentManagementClient.ts
  sdk/confluent/arm-confluent/src/confluentManagementClientContext.ts
  sdk/confluent/arm-confluent/src/index.ts
  sdk/confluent/arm-confluent/src/lroImpl.ts
  sdk/confluent/arm-confluent/src/models/index.ts
  sdk/confluent/arm-confluent/src/models/mappers.ts
  sdk/confluent/arm-confluent/src/models/marketplaceAgreementsMappers.ts
  sdk/confluent/arm-confluent/src/models/organizationMappers.ts
  sdk/confluent/arm-confluent/src/models/parameters.ts
  sdk/confluent/arm-confluent/src/operations/index.ts
  sdk/confluent/arm-confluent/src/operations/marketplaceAgreements.ts
  sdk/confluent/arm-confluent/src/operations/organization.ts
  sdk/confluent/arm-confluent/src/operations/organizationOperations.ts
  sdk/confluent/arm-confluent/src/operations/validations.ts
  sdk/confluent/arm-confluent/src/operationsInterfaces/index.ts
  sdk/confluent/arm-confluent/src/operationsInterfaces/marketplaceAgreements.ts
  sdk/confluent/arm-confluent/src/operationsInterfaces/organization.ts
  sdk/confluent/arm-confluent/src/operationsInterfaces/organizationOperations.ts
  sdk/confluent/arm-confluent/src/operationsInterfaces/validations.ts
  sdk/confluent/arm-confluent/test/sampleTest.ts
  sdk/confluent/arm-confluent/tsconfig.json
  sdk/confluent/ci.yml
Labels: Mgmt

#19753 Post release automated changes for confluent releases
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/package.json
Labels: Mgmt, auto-merge

#19736 [Batch] Fix missing SharedKeyCredentials export
  sdk/batch/batch/package.json
  sdk/batch/batch/rollup.config.js
  sdk/batch/batch/src/batchServiceClientContext.ts
  sdk/batch/batch/test/batchClient.spec.ts
Labels: Batch

#19741 [EventGrid] Update System events and prepare for Jan release
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#19740 Search Document - test against multiple service versions
  sdk/search/search-documents/package.json
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_autocomplete_returns_the_correct_autocomplete_result.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_autocomplete_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_count_returns_the_correct_document_count.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_deletedocuments_delete_a_document_by_documents.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_deletedocuments_delete_a_document_by_keykeynames.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_getdocument_returns_the_correct_document_result.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_getdocument_throws_error_for_invalid_getdocument_value.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_indexdocuments_deletes_existing_documents.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_indexdocuments_merges_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_indexdocuments_mergeupload_documents.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_indexdocuments_upload_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_mergedocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_mergeoruploaddocuments_merge_a_new_document.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_mergeoruploaddocuments_modify__merge_an_existing_document.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_search_returns_the_correct_search_result.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_search_returns_zero_results_for_invalid_query.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_suggest_returns_the_correct_suggestions.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_suggest_returns_zero_suggestions_for_invalid_input.js
  sdk/search/search-documents/recordings/node/searchclient_tests/recording_uploaddocuments_upload_a_set_of_documents.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_creates_the_index_object_using_createorupdateindex.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_correct_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_gets_the_list_of_indexes_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_modify_and_updates_the_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_indexes/recording_throws_error_for_invalid_index_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_creates_the_synonymmap_object_using_createorupdatesynonymmap.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_correct_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_gets_the_list_of_synonymmaps_names.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_modify_and_updates_the_synonymmap_object.js
  sdk/search/search-documents/recordings/node/searchindexclient_synonymmaps/recording_throws_error_for_invalid_synonymmap_object.js
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
Labels: Search

#19761 update the ms-identity configuration instructions link for cloud shell
  sdk/identity/identity/Troubleshooting.md
Labels: Azure.Identity

#19768 communication-track2-ga
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/LICENSE
  sdk/communication/arm-communication/README.md
  sdk/communication/arm-communication/_meta.json
  sdk/communication/arm-communication/api-extractor.json
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_create_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_delete_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_get_test.js
  sdk/communication/arm-communication/recordings/node/communicationservice_test/recording_communicationservice_list_test.js
  sdk/communication/arm-communication/review/arm-communication.api.md
  sdk/communication/arm-communication/rollup.config.js
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
  sdk/communication/arm-communication/src/communicationServiceManagementClientContext.ts
  sdk/communication/arm-communication/src/index.ts
  sdk/communication/arm-communication/src/lroImpl.ts
  sdk/communication/arm-communication/src/models/communicationServiceMappers.ts
  sdk/communication/arm-communication/src/models/index.ts
  sdk/communication/arm-communication/src/models/mappers.ts
  sdk/communication/arm-communication/src/models/parameters.ts
  sdk/communication/arm-communication/src/operations/communicationService.ts
  sdk/communication/arm-communication/src/operations/index.ts
  sdk/communication/arm-communication/src/operations/operationStatuses.ts
  sdk/communication/arm-communication/src/operations/operations.ts
  sdk/communication/arm-communication/src/operationsInterfaces/communicationService.ts
  sdk/communication/arm-communication/src/operationsInterfaces/index.ts
  sdk/communication/arm-communication/src/operationsInterfaces/operations.ts
  sdk/communication/arm-communication/test/communication_examples.ts
  sdk/communication/arm-communication/tsconfig.json
  sdk/communication/ci.yml
Labels: Mgmt

#19726 [ContainerRegistry] Address consistency review feedback
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/README.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples-dev/deleteImages.ts
  sdk/containerregistry/container-registry/samples-dev/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples/v1/javascript/anonymousListTags.js
  sdk/containerregistry/container-registry/samples/v1/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/samples/v1/javascript/deleteImages.js
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1/javascript/repositoryAndArtifact.js
  sdk/containerregistry/container-registry/samples/v1/javascript/setImageProperties.js
  sdk/containerregistry/container-registry/samples/v1/typescript/package.json
  sdk/containerregistry/container-registry/samples/v1/typescript/src/anonymousListTags.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/deleteImages.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/setImageProperties.ts
  sdk/containerregistry/container-registry/src/containerRepository.ts
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/src/models.ts
  sdk/containerregistry/container-registry/src/registryArtifact.ts
  sdk/containerregistry/container-registry/src/transformations.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry

#19762 Upgrade downlevel-dts to latest
  common/config/rush/pnpm-lock.yaml
  sdk/attestation/attestation/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client/package.json
  sdk/core/core-crypto/package.json
  sdk/core/core-http/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/monitor/monitor-query/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/tables/data-tables/package.json
  sdk/template/template/package.json
Labels: EngSys, Service Bus, Event Hubs, Storage, Cosmos, Azure.Core, Monitor, Tables, Attestation

#19365 [ai-form-recognizer] Update tests.yml
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
  sdk/formrecognizer/ai-form-recognizer/tests.yml
Labels: Client, Cognitive - Form Recognizer

#19779 Ignore alternative code-workspace files.
  .gitignore
Labels: EngSys

#19765 update the sub-link on migration-guide
  sdk/identity/identity/migration-v1-v2.md
Labels: Azure.Identity

#19782 [Synapse] January release
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/datasetOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/index.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedServiceOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/metastore.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperationResult.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkConfigurationOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinitionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/index.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/metastore.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#19781 Update search-documents tests to handle sovereign cloud endpoints dynamically
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/test-resources.json
Labels: Search

#19463 handle-custom-baseurl-in-rest-core-client
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/urlHelpers.spec.ts
Labels: Azure.Core

#19792 Post release automated changes for communication releases
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/package.json
Labels: Mgmt, auto-merge

#19710 compute-track2
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/LICENSE
  sdk/compute/arm-compute/_meta.json
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/review/arm-compute.api.md
  sdk/compute/arm-compute/src/computeManagementClient.ts
  sdk/compute/arm-compute/src/models/index.ts
  sdk/compute/arm-compute/src/models/mappers.ts
  sdk/compute/arm-compute/src/models/parameters.ts
Labels: Mgmt

#19751 appservice-track2
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/LICENSE
  sdk/appservice/arm-appservice/_meta.json
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/review/arm-appservice.api.md
  sdk/appservice/arm-appservice/src/models/index.ts
  sdk/appservice/arm-appservice/src/models/mappers.ts
  sdk/appservice/arm-appservice/src/models/parameters.ts
  sdk/appservice/arm-appservice/src/operations/containerApps.ts
  sdk/appservice/arm-appservice/src/operations/containerAppsRevisions.ts
  sdk/appservice/arm-appservice/src/operations/domains.ts
  sdk/appservice/arm-appservice/src/operations/index.ts
  sdk/appservice/arm-appservice/src/operations/webApps.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/containerApps.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/containerAppsRevisions.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/domains.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/index.ts
  sdk/appservice/arm-appservice/src/operationsInterfaces/webApps.ts
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt

#19793 [Metrics Advisor] update the readme for more clarity
  sdk/metricsadvisor/ai-metrics-advisor/README.md
Labels: Cognitive - Metrics Advisor

#19750 datafactory-track2
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/LICENSE
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
Labels: Mgmt

#19722 [communication] move to shared rollup config from dev-tool
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/rollup.base.config.js
  sdk/communication/communication-chat/rollup.config.js
  sdk/communication/communication-chat/rollup.test.config.js
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/rollup.base.config.js
  sdk/communication/communication-common/rollup.config.js
  sdk/communication/communication-common/rollup.test.config.js
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/rollup.base.config.js
  sdk/communication/communication-identity/rollup.config.js
  sdk/communication/communication-identity/rollup.test.config.js
  sdk/communication/communication-network-traversal/package.json
  sdk/communication/communication-network-traversal/rollup.base.config.js
  sdk/communication/communication-network-traversal/rollup.config.js
  sdk/communication/communication-network-traversal/rollup.test.config.js
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/rollup.base.config.js
  sdk/communication/communication-phone-numbers/rollup.config.js
  sdk/communication/communication-phone-numbers/rollup.test.config.js
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-short-codes/rollup.base.config.js
  sdk/communication/communication-short-codes/rollup.config.js
  sdk/communication/communication-short-codes/rollup.test.config.js
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/rollup.base.config.js
  sdk/communication/communication-sms/rollup.config.js
  sdk/communication/communication-sms/rollup.test.config.js
Labels: EngSys, Client, Communication

#19713 [appconfig] move to shared rollup config from dev-tool
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/rollup.base.config.js
  sdk/appconfiguration/app-configuration/rollup.config.js
  sdk/appconfiguration/app-configuration/rollup.test.config.js
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/secretReference.ts
  sdk/appconfiguration/app-configuration/test/internal/node/package.spec.ts
Labels: App Configuration

#19783 [Tables] Prepare for January release
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables, Synapse

#19812 [Tables] Fix changelog
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#19803 Revert "arm-applatform-track2"
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/LICENSE
  sdk/appplatform/arm-appplatform/_meta.json
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_create_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_delete_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_get_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_apps_list_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_create_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_delete_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_get_test.js
  sdk/appplatform/arm-appplatform/recordings/node/appplatform_test/recording_services_list_test.js
  sdk/appplatform/arm-appplatform/review/arm-appplatform.api.md
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
  sdk/appplatform/arm-appplatform/src/models/index.ts
  sdk/appplatform/arm-appplatform/src/models/mappers.ts
  sdk/appplatform/arm-appplatform/src/models/parameters.ts
  sdk/appplatform/arm-appplatform/src/operations/apiPortalCustomDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/apiPortals.ts
  sdk/appplatform/arm-appplatform/src/operations/apps.ts
  sdk/appplatform/arm-appplatform/src/operations/buildServiceAgentPool.ts
  sdk/appplatform/arm-appplatform/src/operations/buildServiceBuilder.ts
  sdk/appplatform/arm-appplatform/src/operations/buildServiceOperations.ts
  sdk/appplatform/arm-appplatform/src/operations/buildpackBinding.ts
  sdk/appplatform/arm-appplatform/src/operations/configurationServices.ts
  sdk/appplatform/arm-appplatform/src/operations/deployments.ts
  sdk/appplatform/arm-appplatform/src/operations/gatewayCustomDomains.ts
  sdk/appplatform/arm-appplatform/src/operations/gatewayRouteConfigs.ts
  sdk/appplatform/arm-appplatform/src/operations/gateways.ts
  sdk/appplatform/arm-appplatform/src/operations/index.ts
  sdk/appplatform/arm-appplatform/src/operations/serviceRegistries.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/apiPortalCustomDomains.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/apiPortals.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/apps.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/buildServiceAgentPool.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/buildServiceBuilder.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/buildServiceOperations.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/buildpackBinding.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/configurationServices.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/gatewayCustomDomains.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/gatewayRouteConfigs.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/gateways.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/index.ts
  sdk/appplatform/arm-appplatform/src/operationsInterfaces/serviceRegistries.ts
  sdk/appplatform/arm-appplatform/test/appplatform_examples.ts
Labels: Mgmt

#19818 Post release automated changes for databoxedge releases
  sdk/databoxedge/arm-databoxedge/CHANGELOG.md
  sdk/databoxedge/arm-databoxedge/package.json
Labels: Mgmt, auto-merge

#19821 Post release automated changes for deviceprovisioningservices releases
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/package.json
Labels: Mgmt, auto-merge

#19816 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
Labels: Mgmt, auto-merge

#19826 Post release automated changes for dns releases
  sdk/dns/arm-dns/CHANGELOG.md
  sdk/dns/arm-dns/package.json
Labels: Mgmt, auto-merge

#19828 Post release automated changes for devspaces releases
  sdk/devspaces/arm-devspaces/CHANGELOG.md
  sdk/devspaces/arm-devspaces/package.json
Labels: Mgmt, auto-merge

#19827 Post release automated changes for digitaltwins releases
  sdk/digitaltwins/arm-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/arm-digitaltwins/package.json
Labels: Mgmt, Digital Twins, auto-merge

#19830 Post release automated changes for healthbot releases
  sdk/healthbot/arm-healthbot/CHANGELOG.md
  sdk/healthbot/arm-healthbot/package.json
Labels: Mgmt, auto-merge

#19833 Post release automated changes for domainservices releases
  sdk/domainservices/arm-domainservices/CHANGELOG.md
  sdk/domainservices/arm-domainservices/package.json
Labels: Mgmt, auto-merge

#19836 [cosmos] Add src/ to browser path mappings.
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
Labels: Client, Cosmos

#19810 [Identity] Fixing certificate test inconsistencies, including min-max live tests.
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#19839 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry, auto-merge

#19838 [core] - Use correct span names for tracing policies
  sdk/core/core-http/src/policies/tracingPolicy.ts
  sdk/core/core-http/test/policies/tracingPolicyTests.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Azure.Core

#19815 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables, auto-merge

#19811 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClientContext.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse, auto-merge

#19530 [core-rest-pipeline] Add Fetch HttpClient
  sdk/core/core-client-lro-rest/test/longRunning.spec.ts
  sdk/core/core-client-paging-rest/test/paginate.spec.ts
  sdk/core/core-rest-pipeline/core-rest-pipeline.shims-3_1.d.ts
  sdk/core/core-rest-pipeline/core-rest-pipeline.shims.d.ts
  sdk/core/core-rest-pipeline/karma.conf.js
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/fetchHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/browser/mocks/encodedPng.ts
  sdk/core/core-rest-pipeline/test/browser/xhrHttpClient.spec.ts
  sdk/core/core-rest-pipeline/tsconfig.json
Labels: Azure.Core

#19844 Post release automated changes for customer-insights releases
  sdk/customer-insights/arm-customerinsights/CHANGELOG.md
  sdk/customer-insights/arm-customerinsights/package.json
Labels: Mgmt, auto-merge

#19729 Fix CloudEvent JSON body parser issue and fix JSON api definition
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/review/web-pubsub-express.api.md
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsProtocols.ts
  sdk/web-pubsub/web-pubsub-express/src/utils.ts
  sdk/web-pubsub/web-pubsub-express/test/user.spec.ts
Labels: auto-merge, WebPubSub

#19824 [Identity] Refactoring the HTTP request mocking to be easier to understand in context
  sdk/identity/identity/test/httpRequests.browser.ts
  sdk/identity/identity/test/httpRequests.ts
  sdk/identity/identity/test/httpRequestsCommon.ts
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/internal/node/onBehalfOfCredential.spec.ts
  sdk/identity/identity/test/public/browser/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/browser/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#19597 Post release automated changes for azurestack releases
  sdk/azurestack/arm-azurestack/CHANGELOG.md
  sdk/azurestack/arm-azurestack/package.json
Labels: Mgmt, auto-merge

#19599 Post release automated changes for changeanalysis releases
  sdk/changeanalysis/arm-changeanalysis/CHANGELOG.md
  sdk/changeanalysis/arm-changeanalysis/package.json
Labels: Mgmt, auto-merge

#19801 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
Labels: Mgmt, auto-merge

#19823 Post release automated changes for databox releases
  sdk/databox/arm-databox/CHANGELOG.md
  sdk/databox/arm-databox/package.json
Labels: Mgmt, auto-merge

#19845 Post release automated changes for synapse releases
  sdk/synapse/arm-synapse/CHANGELOG.md
  sdk/synapse/arm-synapse/package.json
Labels: Mgmt, Synapse, auto-merge

#19775 Post release automated changes for azurestackhci releases
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/package.json
Labels: Mgmt, auto-merge

#19774 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
Labels: Mgmt, App Configuration, auto-merge

#19771 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
Labels: Mgmt, auto-merge

#19630 Post release automated changes for containerinstance releases
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/package.json
Labels: Mgmt, auto-merge

#19837 Update Cosmos CHANGELOG.md
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#19805 Updates azure-communication-phone-numbers API's version to 2022-01-11-preview2
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_isnt_owned.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/browsers/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_isnt_owned.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_isnt_owned.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.js
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_isnt_owned.js
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClientContext.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: Communication

#19861 Sync eng/common directory with azure-sdk-tools for PR 2554
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#19864 [synapse-monitoring] Fix packaging issues
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-monitoring/rollup.config.js
  sdk/synapse/synapse-monitoring/tsconfig.json
Labels: Client, Synapse

#19870 Post release automated changes for deploymentmanager releases
  sdk/deploymentmanager/arm-deploymentmanager/CHANGELOG.md
  sdk/deploymentmanager/arm-deploymentmanager/package.json
Labels: Mgmt, auto-merge

#19869 Post release automated changes for hanaonazure releases
  sdk/hanaonazure/arm-hanaonazure/CHANGELOG.md
  sdk/hanaonazure/arm-hanaonazure/package.json
Labels: Mgmt, auto-merge

#19871 Post release automated changes for kubernetesconfiguration releases
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/CHANGELOG.md
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/package.json
Labels: Mgmt, auto-merge

#19873 keyvault-track2
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/arm-keyvault/CHANGELOG.md
  sdk/keyvault/arm-keyvault/LICENSE
  sdk/keyvault/arm-keyvault/README.md
  sdk/keyvault/arm-keyvault/_meta.json
  sdk/keyvault/arm-keyvault/api-extractor.json
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/recordings/node/keyvault_test/recording_vaults_create_test.js
  sdk/keyvault/arm-keyvault/recordings/node/keyvault_test/recording_vaults_delete_test.js
  sdk/keyvault/arm-keyvault/recordings/node/keyvault_test/recording_vaults_get_test.js
  sdk/keyvault/arm-keyvault/recordings/node/keyvault_test/recording_vaults_list_test.js
  sdk/keyvault/arm-keyvault/recordings/node/keyvault_test/recording_vaults_update_test.js
  sdk/keyvault/arm-keyvault/review/arm-keyvault.api.md
  sdk/keyvault/arm-keyvault/src/index.ts
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClientContext.ts
  sdk/keyvault/arm-keyvault/src/models/index.ts
  sdk/keyvault/arm-keyvault/src/models/mappers.ts
  sdk/keyvault/arm-keyvault/src/models/parameters.ts
  sdk/keyvault/arm-keyvault/src/operations/keys.ts
  sdk/keyvault/arm-keyvault/src/operations/managedHsms.ts
  sdk/keyvault/arm-keyvault/src/operations/mhsmPrivateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operations/mhsmPrivateLinkResources.ts
  sdk/keyvault/arm-keyvault/src/operations/operations.ts
  sdk/keyvault/arm-keyvault/src/operations/privateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operations/privateLinkResources.ts
  sdk/keyvault/arm-keyvault/src/operations/secrets.ts
  sdk/keyvault/arm-keyvault/src/operations/vaults.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/keys.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/managedHsms.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/mhsmPrivateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/operations.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/privateEndpointConnections.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/secrets.ts
  sdk/keyvault/arm-keyvault/src/operationsInterfaces/vaults.ts
  sdk/keyvault/arm-keyvault/test/keyvault_examples.ts
  sdk/keyvault/arm-keyvault/tsconfig.json
Labels: Mgmt, KeyVault

#19875 Post release automated changes for keyvault releases
  sdk/keyvault/arm-keyvault/CHANGELOG.md
  sdk/keyvault/arm-keyvault/package.json
Labels: Mgmt, KeyVault, auto-merge

#19874 Post release automated changes for subscription releases
  sdk/subscription/arm-subscriptions/CHANGELOG.md
  sdk/subscription/arm-subscriptions/package.json
Labels: Mgmt, auto-merge

#19865 Sync eng/common directory with azure-sdk-tools for PR 2545
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#19866 [dev-tool] Remove the `openTelemetryCommonJs()` export
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/communication/communication-chat/rollup.test.config.js
  sdk/communication/communication-network-traversal/rollup.test.config.js
Labels: dev-tool

#19867 [AppConfig][Test] Fix integration test failure
  sdk/appconfiguration/app-configuration/test/internal/node/package.spec.ts
Labels: App Configuration

#19881 Upgrade fs-extra and @types/fs-extra
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  eng/tools/generate-doc/package.json
  sdk/test-utils/testing-recorder-new/package.json
Labels: dev-tool

#19893 [eventgrid][servicebus] - Update tests to reflect tracingPolicy changes
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/eventgrid/eventgrid/test/public/eventGridClient.spec.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
Labels: Service Bus, Event Grid

#19210 Migration guide for Unified Recorder
  sdk/test-utils/recorder-new/MIGRATION.md
Labels: test-utils-recorder

#19862 [Identity] min-max tests failed because of inconsistent types loaded
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#19894 [cosmos] Update the changelog for cosmos release
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Client, Cosmos, auto-merge

#19909 [KeyVault] - Fix certificate poller test
  sdk/keyvault/keyvault-certificates/recordings/browsers/certificates_client__create_read_update_and_delete_can_get_a_deleted_certificate/recording_using_begindeletecertificates_poller.json
  sdk/keyvault/keyvault-certificates/recordings/node/certificates_client__create_read_update_and_delete_can_get_a_deleted_certificate/recording_using_begindeletecertificates_poller.js
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
Labels: KeyVault

#19770 Post release automated changes for imagebuilder releases
  sdk/imagebuilder/arm-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/arm-imagebuilder/package.json
Labels: auto-merge

#19819 Post release automated changes for datadog releases
  sdk/datadog/arm-datadog/CHANGELOG.md
  sdk/datadog/arm-datadog/package.json
Labels: auto-merge

#19013 Move the Mixed Reality Auth package to use core-rest-pipeline
  common/config/rush/pnpm-lock.yaml
  sdk/mixedreality/mixed-reality-authentication/CHANGELOG.md
  sdk/mixedreality/mixed-reality-authentication/package.json
  sdk/mixedreality/mixed-reality-authentication/review/mixed-reality-authentication.api.md
  sdk/mixedreality/mixed-reality-authentication/src/constants.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/mixedRealityStsRestClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/mixedRealityStsRestClientContext.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/models/index.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/models/mappers.ts
  sdk/mixedreality/mixed-reality-authentication/src/generated/models/parameters.ts
  sdk/mixedreality/mixed-reality-authentication/src/mixedRealityStsClient.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/auth.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/mappers.ts
  sdk/mixedreality/mixed-reality-authentication/src/models/options.ts
  sdk/mixedreality/mixed-reality-authentication/src/util/base64.ts
  sdk/mixedreality/mixed-reality-authentication/swagger/README.md
Labels: Mixed Reality

#19914 [monitor] - Update OTel dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-query/package.json
Labels: Monitor

#19911 [core] - Add tracing sample
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/sample.env
  sdk/core/core-tracing/samples-dev/basicTracing.ts
  sdk/core/core-tracing/samples/v1/javascript/README.md
  sdk/core/core-tracing/samples/v1/javascript/basicTracing.js
  sdk/core/core-tracing/samples/v1/javascript/package.json
  sdk/core/core-tracing/samples/v1/javascript/sample.env
  sdk/core/core-tracing/samples/v1/typescript/README.md
  sdk/core/core-tracing/samples/v1/typescript/package.json
  sdk/core/core-tracing/samples/v1/typescript/sample.env
  sdk/core/core-tracing/samples/v1/typescript/src/basicTracing.ts
  sdk/core/core-tracing/samples/v1/typescript/tsconfig.json
  sdk/core/core-tracing/tsconfig.json
Labels: Azure.Core

#19919 Update @azure/mixed-reality-authentication version dependency
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/src/constants.ts
  sdk/remoterendering/mixed-reality-remote-rendering/src/generated/remoteRenderingRestClientContext.ts
  sdk/remoterendering/mixed-reality-remote-rendering/swagger/README.md
Labels: Remote Rendering

#19929 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: auto-merge, WebPubSub

#19941 mixedreality-bump-version
  sdk/mixedreality/arm-mixedreality/CHANGELOG.md
  sdk/mixedreality/arm-mixedreality/package.json
  sdk/mixedreality/arm-mixedreality/src/mixedRealityClient.ts
Labels: Mgmt, Mixed Reality

#19923 [KeyVault] - Enable multi-version tests for KV certificates
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/platform-matrix.json
  sdk/keyvault/keyvault-certificates/test/internal/challengeBasedAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/list.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.create.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.operation.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-certificates/test/utils/testAuthentication.ts
  sdk/keyvault/keyvault-certificates/test/utils/utils.common.ts
  sdk/keyvault/keyvault-certificates/tests.yml
Labels: KeyVault

#19580 [storage-blob]Add implement for Filter blobs by tags on container.
  sdk/storage/storage-blob/recordings/browsers/containerclient/recording_find_blob_by_tags_should_work.json
  sdk/storage/storage-blob/recordings/node/containerclient/recording_find_blob_by_tags_should_work.js
  sdk/storage/storage-blob/recordings/node/shared_access_signature_sas_generation_nodejs_only/recording_containerclientgeneratesasurl_should_work_with_filtertag_permission.js
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/container.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/sas/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/src/sas/ContainerSASPermissions.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
Labels: Storage

#19990 [cosmos] Update CHANGELOG release date.
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos, auto-merge

#19965 [sort-imports] enforce ```sort-imports``` rule in ```eslint-plugin-azure-sdk```
  common/tools/eslint-plugin-azure-sdk/.eslintrc.json
Labels: customer-reported, eslint plugin, Impact++

#19991 Post release automated changes for anomalydetector releases
  sdk/anomalydetector/ai-anomaly-detector/CHANGELOG.md
  sdk/anomalydetector/ai-anomaly-detector/package.json
  sdk/anomalydetector/ai-anomaly-detector/src/constants.ts
  sdk/anomalydetector/ai-anomaly-detector/src/generated/anomalyDetectorContext.ts
Labels: auto-merge

#19957 [App Config] skip secret reference sample
  sdk/appconfiguration/app-configuration/package.json
Labels: App Configuration

#19961 Sync eng/common directory with azure-sdk-tools for PR 2592
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#19958 Sync eng/common directory with azure-sdk-tools for PR 2585
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
  sdk/core/ci.yml
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/test/testProxyClient.spec.ts
Labels: EngSys, Central-EngSys

#19997 Sync eng/common directory with azure-sdk-tools for PR 2596
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: EngSys, Central-EngSys

#19998 Sync eng/common directory with azure-sdk-tools for PR 2578
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#20007 [sort-imports] enforce ```sort-imports``` rule in ```core-util```
  sdk/core/core-util/.eslintrc.json
Labels: customer-reported, Azure.Core, Impact++

#20003 [sort-imports] enforce ```sort-imports``` rule in ```core-crypto```
  sdk/core/core-crypto/.eslintrc.json
Labels: customer-reported, Azure.Core, Impact++

#19968 [sort-imports] enforce ```sort-imports``` rule in ```core-amqp```
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
Labels: customer-reported, Azure.Core, Impact++

#20001 fix: :arrow_up: CVE-2022-0235
  sdk/core/core-http/package.json
Labels: customer-reported, Azure.Core

#19966 [sort-imports] enforce ```sort-imports``` rule in ```core-tracing```
  sdk/core/core-tracing/.eslintrc.json
  sdk/core/core-tracing/test/instrumenter.spec.ts
  sdk/core/core-tracing/test/interfaces.spec.ts
  sdk/core/core-tracing/test/tracingClient.spec.ts
  sdk/core/core-tracing/test/tracingContext.spec.ts
Labels: customer-reported, Azure.Core, Impact++

#20006 [sort-imports] enforce ```sort-imports``` rule in ```core-paging```
  sdk/core/core-paging/.eslintrc.json
Labels: customer-reported, Azure.Core, Impact++

#20005 [sort-imports] enforce ```sort-imports``` rule in ```core-lro```
  sdk/core/core-lro/.eslintrc.json
Labels: customer-reported, Azure.Core, Impact++

#19785 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#20036 Sync eng/common directory with azure-sdk-tools for PR 2581
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Labels: EngSys, Central-EngSys

#20033 Sync eng/common directory with azure-sdk-tools for PR 2599
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19963 [Monitor query] update the server timeout test to simply output the error object instead of throwing in case when it is not in desired shape
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
Labels: Monitor

#19956 [KeyVault] - Enable multi-version tests for KV admin
  sdk/keyvault/keyvault-admin/platform-matrix.json
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.aborts.spec.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
  sdk/keyvault/keyvault-admin/test/utils/authentication.ts
  sdk/keyvault/keyvault-admin/test/utils/common.ts
  sdk/keyvault/keyvault-admin/tests.yml
Labels: KeyVault

#20070 [Identity] Moving @types/stoppable to the devDependencies
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#20060 Sync eng/common directory with azure-sdk-tools for PR 2604
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#20019 appinsights-track2
  sdk/applicationinsights/arm-appinsights/CHANGELOG.md
  sdk/applicationinsights/arm-appinsights/_meta.json
  sdk/applicationinsights/arm-appinsights/api-extractor.json
  sdk/applicationinsights/arm-appinsights/package.json
  sdk/applicationinsights/arm-appinsights/review/arm-appinsights.api.md
  sdk/applicationinsights/arm-appinsights/src/applicationInsightsManagementClient.ts
  sdk/applicationinsights/arm-appinsights/src/models/index.ts
  sdk/applicationinsights/arm-appinsights/src/models/mappers.ts
  sdk/applicationinsights/arm-appinsights/src/models/parameters.ts
  sdk/applicationinsights/arm-appinsights/src/operations/components.ts
  sdk/applicationinsights/arm-appinsights/src/operations/index.ts
  sdk/applicationinsights/arm-appinsights/src/operations/liveToken.ts
  sdk/applicationinsights/arm-appinsights/src/operations/operations.ts
  sdk/applicationinsights/arm-appinsights/src/operationsInterfaces/index.ts
  sdk/applicationinsights/arm-appinsights/src/operationsInterfaces/operations.ts
  sdk/applicationinsights/arm-appinsights/tsconfig.json
Labels: Mgmt

#20080 readme.md-update-for-deploymentmanager
  sdk/deploymentmanager/arm-deploymentmanager/CHANGELOG.md
  sdk/deploymentmanager/arm-deploymentmanager/README.md
  sdk/deploymentmanager/arm-deploymentmanager/src/azureDeploymentManager.ts
Labels: Mgmt

#20058 [@azure/search-documents] Change EndPoint in TestResources Json
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/test-resources.json
Labels: Search

#19800 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
Labels: Mgmt, auto-merge

#20085 Sync eng/common directory with azure-sdk-tools for PR 2617
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#19995 [Perf] Decrease default perf test duration to 1 second
  sdk/test-utils/perf/runAllTests.ts
Labels: pillar-performance
