Repository Azure/azure-sdk-for-js, pull requests merged in 2023-09, with the labels that each got.

#27001 [mgmt] quantum sample issue fix
  sdk/quantum/arm-quantum/samples-dev/workspacesCreateOrUpdateSample.ts
  sdk/quantum/arm-quantum/samples/v1-beta/javascript/workspacesCreateOrUpdateSample.js
  sdk/quantum/arm-quantum/samples/v1-beta/typescript/src/workspacesCreateOrUpdateSample.ts
Labels: Mgmt

#26393 [Cosmos] Priority level request option
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/documents/PriorityLevel.ts
  sdk/cosmosdb/cosmos/src/documents/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
Labels: Cosmos

#26956 [App Configuration] Update exports in models.ts
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
Labels: App Configuration

#27020 [Open AI] Update changelog
  sdk/openai/openai/CHANGELOG.md
Labels: OpenAI

#27015 Post release automated changes for recoveryservices releases
  sdk/recoveryservices/arm-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/arm-recoveryservices/package.json
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClient.ts
Labels: Mgmt

#26994 [core] Introduce core-sse
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/ci.yml
  sdk/core/core-sse/.mocharc.json
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/README.md
  sdk/core/core-sse/api-extractor.json
  sdk/core/core-sse/karma.conf.cjs
  sdk/core/core-sse/package.json
  sdk/core/core-sse/review/core-sse.api.md
  sdk/core/core-sse/sample.env
  sdk/core/core-sse/samples-dev/toSSE.ts
  sdk/core/core-sse/samples/v1/javascript/README.md
  sdk/core/core-sse/samples/v1/javascript/package.json
  sdk/core/core-sse/samples/v1/javascript/sample.env
  sdk/core/core-sse/samples/v1/javascript/toSSE.js
  sdk/core/core-sse/samples/v1/typescript/README.md
  sdk/core/core-sse/samples/v1/typescript/package.json
  sdk/core/core-sse/samples/v1/typescript/sample.env
  sdk/core/core-sse/samples/v1/typescript/src/toSSE.ts
  sdk/core/core-sse/samples/v1/typescript/tsconfig.json
  sdk/core/core-sse/src/index.ts
  sdk/core/core-sse/src/sse.ts
  sdk/core/core-sse/test/browser/sse.spec.ts
  sdk/core/core-sse/test/browser/util.ts
  sdk/core/core-sse/test/node/sse.spec.ts
  sdk/core/core-sse/test/node/util.ts
  sdk/core/core-sse/test/sse.ts
  sdk/core/core-sse/test/util.ts
  sdk/core/core-sse/tsconfig.json
  sdk/openai/openai/package.json
  sdk/openai/openai/sources/customizations/api/getSSEs.browser.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.ts
  sdk/openai/openai/sources/customizations/api/sse.ts
  sdk/openai/openai/src/api/getSSEs.browser.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/test/internal/sse.ts
Labels: Azure.Core, OpenAI

#27029 Adding samples for Diagnostic and Hierarchical Partitioning.
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/Diagnostics.ts
  sdk/cosmosdb/cosmos/samples-dev/HierarchicalPartitioning.ts
  sdk/cosmosdb/cosmos/samples/v3/javascript/Diagnostics.js
  sdk/cosmosdb/cosmos/samples/v3/javascript/HierarchicalPartitioning.js
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/Diagnostics.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/HierarchicalPartitioning.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKey.ts
  sdk/cosmosdb/cosmos/src/index.ts
Labels: Cosmos

#26222 [openai] add speech to speech sample
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/README.md
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/index.html
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/package.json
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/speechToSpeechChat.html
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/src/azureSpeech.js
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/src/index.js
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/src/webSpeech.js
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/webpack.config.js
Labels: OpenAI

#27021 Update README.md
  sdk/communication/communication-job-router/README.md
Labels: Communication - Job Router

#27023 [Identity] Disable loading profiles in powershell
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
Labels: Azure.Identity

#27034 [ServiceBus] prepare for 2023 September release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#27041 Post release automated changes for hybridconnectivity releases
  sdk/hybridconnectivity/arm-hybridconnectivity/CHANGELOG.md
  sdk/hybridconnectivity/arm-hybridconnectivity/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/src/hybridConnectivityManagementAPI.ts
Labels: Mgmt

#27031 Adding Diagnostic for change feed
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedIteratorResponse.ts
  sdk/cosmosdb/cosmos/src/client/ClientUtils.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/diagnostics/index.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/routing/partitionKeyRangeCache.ts
  sdk/cosmosdb/cosmos/src/utils/diagnostics.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/extractPartitionKey.spec.ts
Labels: Cosmos

#27043 change FeedRange interface to abstract class
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/FeedRange.ts
Labels: Cosmos

#26626 Bugfix/enable index metrics
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ItemManagement.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/headerUtils.ts
  sdk/cosmosdb/cosmos/test/public/integration/query.spec.ts
Labels: Cosmos

#27033 Update README.md
  sdk/communication/communication-job-router/README.md
Labels: Communication - Job Router

#27017 [core] prepare for 2023 September release
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#26999 Post release automated changes for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: auto-merge

#27046 [core-sse] Prepare release
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/samples-dev/iterateSseStream.ts
  sdk/core/core-sse/samples/v1/javascript/README.md
  sdk/core/core-sse/samples/v1/javascript/iterateSseStream.js
  sdk/core/core-sse/samples/v1/typescript/README.md
  sdk/core/core-sse/samples/v1/typescript/src/iterateSseStream.ts
Labels: Azure.Core

#27048 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
Labels: Azure.Core

#27025 Sync eng/common directory with azure-sdk-tools for PR 6903
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#27056 Cross-region retry alignment across SDKs
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/retry/RetryContext.ts
  sdk/cosmosdb/cosmos/src/retry/index.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/src/retry/timeoutFailoverRetryPolicy.ts
  sdk/cosmosdb/cosmos/test/internal/unit/timeoutFailoverRetryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/globalEndpointManager.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/client.retry.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#27055 Fixing diagnostic level not setting during client initilization + making diagnostic level scope limited to Cosmos client instance
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/diagnostics/diagnosticLevelComparator.ts
  sdk/cosmosdb/cosmos/src/diagnostics/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/utils/diagnostics.ts
  sdk/cosmosdb/cosmos/test/internal/unit/diagnostics.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
Labels: Cosmos

#27052 [core-client] allow serializing browser ReadableStream
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/src/serializer.ts
  sdk/core/core-client/test/browser/serializer.spec.ts
Labels: Azure.Core

#27060 Update README.md - include mention of Web Speech API
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/README.md
Labels: OpenAI

#27061 [data-tables] Avoid mutating client options parameter
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
Labels: Client, Tables

#27073 Add changefeed in readme and update limitations
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#27091 fix changefeed diagnostics
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
Labels: Cosmos

#27082 [Azure Monitor] Update to latest Otel
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation

#27094 Added date to CHANGELOG.md
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#27101 Updating Changelog for @azure/cosmos v4.0.0
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#27104 Sync eng/common directory with azure-sdk-tools for PR 6895
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsPackageMonikers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#27112 [OpenAI] Add recordings for extra audio format
  sdk/openai/openai/assets.json
  sdk/openai/openai/assets/audio/countdown.mp4
  sdk/openai/openai/assets/audio/countdown.mpeg
  sdk/openai/openai/assets/audio/countdown.mpga
  sdk/openai/openai/assets/audio/countdown.oga
  sdk/openai/openai/assets/audio/countdown.webm
  sdk/openai/openai/test/public/node/whisper.spec.ts
Labels: OpenAI

#27049 Move identity variable setting into test-resources-pre.ps1
  sdk/identity/identity/test-resources-pre.ps1
  sdk/identity/identity/tests.yml
Labels: Azure.Identity, Central-EngSys

#27122 Post release automated changes for iothub releases
  sdk/iothub/arm-iothub/CHANGELOG.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/src/iotHubClient.ts
Labels: Mgmt

#26996 microsoft teams app identifier
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/public/identifierModels.spec.ts
Labels: Communication - Common

#27062 [repo] add new single-root workspace for the sdk
  .vscode/settings.json
Labels: EngSys

#26939 [@Azure/eventgrid] Adding new events for EG Version 4.14.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/README.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#27129 [test] disable code coverage temporarily
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  eng/tools/dependency-testing/templates/package.json
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/batch/batch/package.json
  sdk/communication/communication-common/package.json
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/iot/iot-modelsrepository/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-internal-avro/package.json
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Core, Batch, IoT, Communication - Common, Farmbeats, OpenTelemetryInstrumentation

#27024 [Open AI] Update content filter parse
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/listChatCompletionsWithContentFilter.ts
  sdk/openai/openai/sources/customizations/api/deserializers.ts
  sdk/openai/openai/sources/customizations/api/models.ts
  sdk/openai/openai/sources/generated/src/rest/outputModels.ts
  sdk/openai/openai/src/api/deserializers.ts
  sdk/openai/openai/src/api/models.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/models/index.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/src/rest/outputModels.ts
  sdk/openai/openai/test/internal/deserializer.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
Labels: OpenAI

#27019 [EngSys] upgrade dev dependency `mocha` to `^10.0.0` for some packages
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTSInput.ts
  common/tools/dev-tool/src/util/customization/classes.ts
  common/tools/dev-tool/test/customization/classes.spec.ts
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/esm-workaround.js
  eng/pipelines/templates/jobs/live.tests.yml
  eng/tools/dependency-testing/index.js
  eng/tools/dependency-testing/templates/package.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/communication/communication-email/package.json
  sdk/core/core-client-rest/test/node/streams.spec.ts
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/node/pipeline.spec.ts
  sdk/deviceupdate/iot-device-update-rest/package.json
  sdk/identity/identity/test/httpRequests.ts
  sdk/openai/openai/package.json
  sdk/storage/storage-internal-avro/package.json
Labels: Azure.Core, App Configuration, OpenAI

#27137 Sync eng/common directory with azure-sdk-tools for PR 6982
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#27071 [mgmt] hhybridconnectivity ga
  eng/ignore-links.txt
  sdk/hybridconnectivity/arm-hybridconnectivity/CHANGELOG.md
  sdk/hybridconnectivity/arm-hybridconnectivity/README.md
  sdk/hybridconnectivity/arm-hybridconnectivity/_meta.json
  sdk/hybridconnectivity/arm-hybridconnectivity/assets.json
  sdk/hybridconnectivity/arm-hybridconnectivity/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/README.md
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsCreateOrUpdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsDeleteSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsGetSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsListCredentialsSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsListIngressGatewayCredentialsSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsListManagedProxyDetailsSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsListSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/endpointsUpdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/operationsListSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/sample.env
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/serviceConfigurationsCreateOrupdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/serviceConfigurationsDeleteSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/serviceConfigurationsGetSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/serviceConfigurationsListByEndpointResourceSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/javascript/serviceConfigurationsUpdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/README.md
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/sample.env
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsCreateOrUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsDeleteSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsGetSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsListCredentialsSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsListIngressGatewayCredentialsSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsListManagedProxyDetailsSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsListSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/endpointsUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/operationsListSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/serviceConfigurationsCreateOrupdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/serviceConfigurationsDeleteSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/serviceConfigurationsGetSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/serviceConfigurationsListByEndpointResourceSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/src/serviceConfigurationsUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v1/typescript/tsconfig.json
  sdk/hybridconnectivity/arm-hybridconnectivity/src/hybridConnectivityManagementAPI.ts
Labels: Mgmt

#27139 Sync eng/common directory with azure-sdk-tools for PR 6985
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#27147 Update README main
  sdk/communication/communication-phone-numbers/README.md
Labels: Communication - Phone Numbers

#27156 Post release automated changes for hybridconnectivity releases
  sdk/hybridconnectivity/arm-hybridconnectivity/CHANGELOG.md
  sdk/hybridconnectivity/arm-hybridconnectivity/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/src/hybridConnectivityManagementAPI.ts
Labels: Mgmt

#27155 Post release automated changes for kubernetesconfiguration releases
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/CHANGELOG.md
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/package.json
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/sourceControlConfigurationClient.ts
Labels: Mgmt

#27154 Post release automated changes for signalr releases
  sdk/signalr/arm-signalr/CHANGELOG.md
  sdk/signalr/arm-signalr/package.json
  sdk/signalr/arm-signalr/src/signalRManagementClient.ts
Labels: Mgmt

#27153 Post release automated changes for iothub releases
  sdk/iothub/arm-iothub/CHANGELOG.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/src/iotHubClient.ts
Labels: Mgmt

#27157 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt

#27117 Fix Cognitive Search Readme And Sample Issues
  sdk/search/search-documents/README.md
  sdk/search/search-documents/samples-dev/skillSetOperations.ts
  sdk/search/search-documents/samples/v12-beta/javascript/skillSetOperations.js
  sdk/search/search-documents/samples/v12-beta/typescript/src/skillSetOperations.ts
Labels: Search

#27109 [OpenAI] Add Whisper
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/README.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/assets/audio/countdown.flac
  sdk/openai/openai/assets/audio/countdown.m4a
  sdk/openai/openai/assets/audio/countdown.mp3
  sdk/openai/openai/assets/audio/countdown.mp4
  sdk/openai/openai/assets/audio/countdown.mpeg
  sdk/openai/openai/assets/audio/countdown.mpga
  sdk/openai/openai/assets/audio/countdown.oga
  sdk/openai/openai/assets/audio/countdown.ogg
  sdk/openai/openai/assets/audio/countdown.wav
  sdk/openai/openai/assets/audio/countdown.webm
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples-dev/listChatCompletionsWithContentFilter.ts
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.browser.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.ts
  sdk/openai/openai/sources/customizations/api/index.ts
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/sources/customizations/api/policies/formDataPolicy.browser.ts
  sdk/openai/openai/sources/customizations/api/policies/formDataPolicy.ts
  sdk/openai/openai/sources/customizations/api/policies/nonAzure.ts
  sdk/openai/openai/sources/customizations/api/util.ts
  sdk/openai/openai/sources/customizations/index.ts
  sdk/openai/openai/sources/customizations/models/audio.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/getSSEs.browser.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/src/api/index.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/api/policies/formDataPolicy.browser.ts
  sdk/openai/openai/src/api/policies/formDataPolicy.ts
  sdk/openai/openai/src/api/policies/nonAzure.ts
  sdk/openai/openai/src/api/util.ts
  sdk/openai/openai/src/index.ts
  sdk/openai/openai/src/models/audio.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/openai.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/recordedClient.ts
  sdk/openai/openai/test/public/utils/utils.ts
Labels: OpenAI

#27164 [OpenAI] Update sample link
  sdk/openai/openai/README.md
Labels: OpenAI

#27158 bump minor version
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication - Common

#27138 [OpenAI] Deserialize Chat Message Request
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/openai.spec.ts
Labels: OpenAI

#27192 update changelog
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
Labels: Mgmt

#27144 [dev-tool] Create a symbolic link to recordings when running the proxy tool
  .gitignore
  common/tools/dev-tool/src/util/testProxyUtils.ts
Labels: test-utils-recorder, dev-tool

#27186 [OpenAI] Rename prompt_annotations to prompt_filter_results
  sdk/openai/openai/sources/customizations/api/deserializers.ts
  sdk/openai/openai/src/api/deserializers.ts
  sdk/openai/openai/test/internal/deserializer.spec.ts
Labels: OpenAI

#27200 [AppConfig] allow setting `updateIntervalInMs` in LRO options
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/index.ts
  sdk/test-utils/recorder/src/utils/utils.ts
Labels: App Configuration

#27204 [monitor] Update to latest OTEL
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
  sdk/monitor/perf-tests/monitor-opentelemetry/package.json
  sdk/test-utils/test-utils/package.json
Labels: OpenTelemetryInstrumentation

#27202 [OpenAI] Publish audio samples
  sdk/openai/openai/samples/v1-beta/javascript/README.md
  sdk/openai/openai/samples/v1-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v1-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v1-beta/javascript/listChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v1-beta/typescript/README.md
  sdk/openai/openai/samples/v1-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/listChatCompletionsWithContentFilter.ts
Labels: OpenAI

#27199 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#27207 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
  sdk/sql/arm-sql/src/sqlManagementClient.ts
Labels: Mgmt

#26748 [Event Hubs] Fix memory leak in EHBufferedProducerClient
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/aborterUtils.ts
  sdk/core/core-util/src/createAbortablePromise.ts
  sdk/core/core-util/src/delay.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/test/public/aborterUtils.spec.ts
  sdk/core/core-util/test/public/createAbortablePromise.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/batchingPartitionChannel.ts
  sdk/eventhub/event-hubs/src/impl/awaitableQueue.ts
Labels: Event Hubs

#26550 [app configuration] Add troubleshoot link to the error message
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
Labels: App Configuration

#27217 [test] fix recorder dependency version
  sdk/confidentialledger/confidential-ledger-rest/package.json
Labels: ConfidentialLedger

#27219 [Event Hubs] [core-util] Mark next week for release in changelog
  sdk/core/core-util/CHANGELOG.md
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs, Azure.Core

#27218 [test][core] update mocha version to ^10.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-http/package.json
  sdk/core/core-http/test/credentialTests.ts
  sdk/core/core-http/test/defaultHttpClientTests.browser.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/defaultHttpClientTests.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.browser.ts
  sdk/core/core-http/test/msRestUserAgentPolicyTests.node.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/test/policies/disableResponseDecompressionPolicy.node.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.browser.ts
  sdk/core/core-http/test/policies/proxyPolicyTests.node.ts
  sdk/core/core-http/test/proxyAgent.node.ts
  sdk/core/core-http/test/serializationTests.node.ts
  sdk/core/core-http/test/serializationTests.ts
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
Labels: Azure.Core

#27220 Sync eng/common directory with azure-sdk-tools for PR 7002
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#27185 [test] fix `rush integration-test`
  sdk/synapse/synapse-access-control-rest/package.json
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-spark/package.json
Labels: Client, Synapse

#27221 Update test recordings for arm libraries
  sdk/batch/arm-batch/assets.json
  sdk/chaos/arm-chaos/assets.json
  sdk/compute/arm-compute-rest/assets.json
  sdk/compute/arm-compute/assets.json
  sdk/eventhub/arm-eventhub/assets.json
  sdk/imagebuilder/arm-imagebuilder/assets.json
  sdk/mediaservices/arm-mediaservices/assets.json
  sdk/monitor/arm-monitor/assets.json
  sdk/redis/arm-rediscache/assets.json
Labels: Mgmt

#27080 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#27230 Sync eng/common directory with azure-sdk-tools for PR 6919
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/Get-BuildSourceDescription.ps1
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/Update-GeneratedSdks.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#27232 [Messaging] Bump core-amqp dependency to v4
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/src/withAuth.ts
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/public/auth.spec.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/serviceBusAtomManagementClient.ts
  sdk/servicebus/service-bus/src/util/sasServiceClientCredentials.ts
  sdk/servicebus/service-bus/test/internal/auth.spec.ts
Labels: Service Bus, Event Hubs

#27236 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#27235 Post release automated changes for core releases
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#27209 Fix the bug that commonjs doesn't work for @azure/web-pubsub-client-protobuf
  common/config/rush/pnpm-lock.yaml
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/rollup.config.js
Labels: WebPubSub

#27238 [Search] Hotfix Generated Client
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
Labels: Search

#27241 [web-pubsub-client] React native support
  sdk/web-pubsub/web-pubsub-client/package.json
Labels: WebPubSub

#27097 [Identity] update mapping for browser for azd
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#27239 Sync eng/common directory with azure-sdk-tools for PR 7013
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#27264 add release date
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication - Common

#27258 [OpenAI] Bundle using rollup v3
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/package.json
  sdk/openai/openai/rollup.config.js
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/sources/customizations/api/policies/formDataPolicy.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/api/policies/formDataPolicy.ts
Labels: OpenAI

#27224 Fix session spec file: issue in session.spec.ts causing compiler error in TypeScript 5.2
  sdk/cosmosdb/cosmos/test/internal/session.spec.ts
Labels: Cosmos

#27281 [OpenAI] Update README
  sdk/openai/openai/README.md
Labels: OpenAI

#27271 Post release automated changes for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#27288 Fix README sample for @azure/cosmos
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#27285 [dev-tool] Upgrade to rollup v3
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/ambient.d.ts
  common/tools/dev-tool/src/commands/run/bundle.ts
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/openai/openai/package.json
  sdk/openai/openai/rollup.config.js
  sdk/web-pubsub/web-pubsub-client/test/jsonProtocol.spec.ts
Labels: WebPubSub, OpenAI
