Repository Azure/azure-sdk-for-js, pull requests merged in 2023-07, with the labels that each got.

#26349 [Maps-Render] Deprecating DEM tiles
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/review/maps-render.api.md
  sdk/maps/maps-render-rest/src/generated/mapsRenderClient.ts
  sdk/maps/maps-render-rest/src/generated/parameters.ts
Labels: Maps

#26380 issue fix
  sdk/frontdoor/arm-frontdoor/samples-dev/policiesCreateOrUpdateSample.ts
  sdk/frontdoor/arm-frontdoor/samples/v5/javascript/policiesCreateOrUpdateSample.js
  sdk/frontdoor/arm-frontdoor/samples/v5/typescript/src/policiesCreateOrUpdateSample.ts
Labels: Mgmt

#26375 [Communication] Update ACS test-resources to fix executing samples in pipeline
  sdk/communication/test-resources/test-resources.json
Labels: ACS, Communication

#26396 [Maps] 2023 July Pre-Release
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/CHANGELOG.md
Labels: Maps

#26413 [@azure-rest/core-client] Correctly handle allowInsecureConnection override
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/test/getClient.spec.ts
Labels: Client, Azure.Core

#26412 [cognitive language] Update test expectation
  sdk/cognitivelanguage/ai-language-text/assets.json
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
Labels: Cognitive - Language

#26308 update change log with released features
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#26417 Sync eng/common directory with azure-sdk-tools for PR 6465
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26419 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
Labels: Azure.Core

#26442 Splitting function tests for item into smaller files. i.e. batch, bulk, item
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/batch.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/itemIdEncoding.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#26448 Sync eng/common directory with azure-sdk-tools for PR 6468
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#26454 Revert "update change log with released features"
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#26323 [WebPubSub] Adding new features for 20230701
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/generated/generatedClient.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/mappers.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/parameters.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/groupClient.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/swagger/README.md
  sdk/web-pubsub/web-pubsub/test/groups.spec.ts
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
Labels: customer-reported, WebPubSub, Community Contribution, auto-merge

#26378 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: WebPubSub

#26327 [Search] Fix `serializerOptions` and `onResponse` options for `SearchClient` methods
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/src/searchClient.ts
Labels: Search

#25999 [Search] Fix calculated types
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples-dev/interfaces.ts
  sdk/search/search-documents/samples-dev/searchClientOperations.ts
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/test/narrowedTypes.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: Search

#26458 [Search] Prepare 2023 July Beta Release
  sdk/search/search-documents/CHANGELOG.md
Labels: Search

#25583 [Search] Revert Beta changes
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/README.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/openai-patch.diff
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/sample.env
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples-dev/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples-dev/interfaces.ts
  sdk/search/search-documents/samples-dev/searchClientOperations.ts
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples-dev/vectorSearch.ts
  sdk/search/search-documents/samples-dev/vectors.ts
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/index.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/index.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/models/parameters.ts
  sdk/search/search-documents/src/generated/service/operations/aliases.ts
  sdk/search/search-documents/src/generated/service/operations/dataSources.ts
  sdk/search/search-documents/src/generated/service/operations/index.ts
  sdk/search/search-documents/src/generated/service/operations/indexers.ts
  sdk/search/search-documents/src/generated/service/operations/indexes.ts
  sdk/search/search-documents/src/generated/service/operations/skillsets.ts
  sdk/search/search-documents/src/generated/service/operations/synonymMaps.ts
  sdk/search/search-documents/src/generated/service/operationsInterfaces/aliases.ts
  sdk/search/search-documents/src/generated/service/operationsInterfaces/index.ts
  sdk/search/search-documents/src/generated/service/operationsInterfaces/indexers.ts
  sdk/search/search-documents/src/generated/service/operationsInterfaces/skillsets.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexDocumentsBatch.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/internal/serviceUtils.spec.ts
  sdk/search/search-documents/test/narrowedTypes.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/typeDefinitions.ts
  sdk/search/search-documents/test/public/utils/interfaces.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#26407 [Search] Hotfix for nested select and searchFields
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: Search

#26424 Support to customize the client request id header when creating pipelines
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/test/setClientRequestIdPolicy.spec.ts
Labels: Azure.Core

#26453 rlc migrate
  sdk/network/arm-network-rest/assets.json
  sdk/network/arm-network-rest/recordings/browsers/my_test/recording_sample_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_ipgroups_begindeleteandwait_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_ipgroups_create_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_ipgroups_get_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_ipgroups_list_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_subnets_begindeleteandwait_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_subnets_create_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_subnets_get_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_subnets_list_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_virtualnetworks_begindeleteandwait_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_virtualnetworks_create_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_virtualnetworks_get_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_virtualnetworks_list_test.json
  sdk/network/arm-network-rest/recordings/browsers/network_test/recording_virtualnetworks_updatetags_test.json
  sdk/network/arm-network-rest/recordings/node/my_test/recording_sample_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_ipgroups_begindeleteandwait_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_ipgroups_create_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_ipgroups_get_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_ipgroups_list_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_subnets_begindeleteandwait_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_subnets_create_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_subnets_get_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_subnets_list_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_virtualnetworks_begindeleteandwait_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_virtualnetworks_create_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_virtualnetworks_get_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_virtualnetworks_list_test.json
  sdk/network/arm-network-rest/recordings/node/network_test/recording_virtualnetworks_updatetags_test.json
  sdk/purview/purview-administration-rest/assets.json
  sdk/purview/purview-administration-rest/recordings/browsers/get_account_info/recording_should_get_the_account_info.json
  sdk/purview/purview-administration-rest/recordings/browsers/list_collections/recording_should_list_all_available_collections.json
  sdk/purview/purview-administration-rest/recordings/browsers/list_metadata/recording_should_list_all_available_metdatapolicies.json
  sdk/purview/purview-administration-rest/recordings/node/get_account_info/recording_should_get_the_account_info.json
  sdk/purview/purview-administration-rest/recordings/node/list_collections/recording_should_list_all_available_collections.json
  sdk/purview/purview-administration-rest/recordings/node/list_metadata/recording_should_list_all_available_metdatapolicies.json
  sdk/servicefabric/arm-servicefabric-rest/assets.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_applicationtypes_create_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_applicationtypes_delete_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_applicationtypes_get_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_applicationtypes_list_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_clusters_create_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_clusters_delete_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_clusters_get_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_clusters_list_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/browsers/service_fabric_rest_level_client_test/recording_clusters_update_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/my_test/recording_sample_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_applicationtypes_create_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_applicationtypes_delete_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_applicationtypes_get_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_applicationtypes_list_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_clusters_create_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_clusters_delete_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_clusters_get_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_clusters_list_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_clusters_update_test.json
  sdk/servicefabric/arm-servicefabric-rest/recordings/node/service_fabric_rest_level_client_test/recording_sample_test.json
Labels: Purview

#26478 Sync .github/workflows directory with azure-sdk-tools for PR 6507
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#26467 [OpenAI] add getImage alias
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/completionsRest.ts
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/models.ts
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/models.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/index.ts
Labels: OpenAI

#26476 [OpenAI] update recordings and fixup a few codegen issues
  sdk/openai/openai/assets.json
  sdk/openai/openai/src/logger.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/openai/openai/test/public/openai.spec.ts
Labels: Client, OpenAI

#26484 Post release automated changes for paloaltonetworksngfw releases
  sdk/paloaltonetworksngfw/arm-paloaltonetworksngfw/CHANGELOG.md
  sdk/paloaltonetworksngfw/arm-paloaltonetworksngfw/package.json
  sdk/paloaltonetworksngfw/arm-paloaltonetworksngfw/src/paloAltoNetworksCloudngfw.ts
Labels: Mgmt

#24535 [app-configuration] New snapshot feature
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/samples-dev/snapshot.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/lroImpl.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/mappers.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/http.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
  sdk/appconfiguration/perf-tests/app-configuration/package.json
Labels: App Configuration

#26499 Sync eng/common directory with azure-sdk-tools for PR 6521
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#26510 [search=documents] Publish samples for beta release
  sdk/search/search-documents/samples/v12-beta/javascript/README.md
  sdk/search/search-documents/samples/v12-beta/javascript/bufferedSenderAutoFlushSize.js
  sdk/search/search-documents/samples/v12-beta/javascript/bufferedSenderAutoFlushTimer.js
  sdk/search/search-documents/samples/v12-beta/javascript/bufferedSenderManualFlush.js
  sdk/search/search-documents/samples/v12-beta/javascript/dataSourceConnectionOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/indexOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/indexerOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/package.json
  sdk/search/search-documents/samples/v12-beta/javascript/sample.env
  sdk/search/search-documents/samples/v12-beta/javascript/searchClientOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/setup.js
  sdk/search/search-documents/samples/v12-beta/javascript/skillSetOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/synonymMapOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/vectorSearch.js
  sdk/search/search-documents/samples/v12-beta/javascript/vectors.js
  sdk/search/search-documents/samples/v12-beta/typescript/README.md
  sdk/search/search-documents/samples/v12-beta/typescript/package.json
  sdk/search/search-documents/samples/v12-beta/typescript/sample.env
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexerOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/interfaces.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/searchClientOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/setup.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/skillSetOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/synonymMapOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectorSearch.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectors.ts
  sdk/search/search-documents/samples/v12-beta/typescript/tsconfig.json
Labels: Search

#26479 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#26529 Update outdated deps for eng tools
  eng/tools/analyze-deps/package-lock.json
Labels: EngSys

#26530 Sync eng/common directory with azure-sdk-tools for PR 6530
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#26551 Sync eng/common directory with azure-sdk-tools for PR 6538
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#26554 Sync eng/common directory with azure-sdk-tools for PR 6544
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#26553 [Storage] Port encryption context support from storage/stable branch
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/pathOperations.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Storage

#26496 Readme File update for the JS SDK with Managed Identity
  sdk/communication/arm-communication/README.md
Labels: Mgmt

#26567 [Storage] add re-exports for conveniences
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/index.ts
Labels: Storage

#26563 [storage] port HNS permission support from storage/stable
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Storage

#26539 [storage] Port PR #26441 from storage/stable
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/utils/utils.common.ts
Labels: Storage

#26537 [storage] port bug fix PR #25516 from storage/stable
  sdk/storage/storage-blob/src/Clients.ts
Labels: Storage

#26544 Suggest proper resourceLocation for PATCH in OperationLocation mode
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#26318 [storage] port file OAuth and trailing dots support from storage/stable branch
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/StorageClient.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/operations/directory.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Labels: Storage

#26569 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/package.json
  sdk/authorization/arm-authorization/src/authorizationManagementClient.ts
Labels: Mgmt

#26570 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt

#26572 Post release automated changes for quantum releases
  sdk/quantum/arm-quantum/CHANGELOG.md
  sdk/quantum/arm-quantum/package.json
  sdk/quantum/arm-quantum/src/azureQuantumManagementClient.ts
Labels: Mgmt

#26573 Post release automated changes for kusto releases
  sdk/kusto/arm-kusto/CHANGELOG.md
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/src/kustoManagementClient.ts
Labels: Mgmt

#26566 [Identity] fix bug related to managed identity - set app token provider callback scopes
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
Labels: Azure.Identity

#26585 [keyvault] keyvault-keys: bump minimum version of core-rest-pipeline
  sdk/keyvault/keyvault-keys/package.json
Labels: KeyVault

#26556 [storage] port listHandles access rights support from storage/stable
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
Labels: Storage

#26589 Job Router SDK README update
  sdk/communication/communication-job-router/README.md
  sdk/communication/communication-job-router/src/index.ts
Labels: Communication - Job Router

#26471 Post release automated changes for maps releases
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-geolocation-rest/swagger/README.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/swagger/README.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/package.json
  sdk/maps/maps-route-rest/swagger/README.md
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/package.json
  sdk/maps/maps-search-rest/swagger/README.md
Labels: Maps

#26586 Sync eng/common directory with azure-sdk-tools for PR 6557
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#26597 Sync eng/common directory with azure-sdk-tools for PR 6543
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Labels: EngSys, Central-EngSys

#26596 [core-lro] Prepare release
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#26455 add msuseragent for alpha ids tests
  sdk/communication/communication-alpha-ids/CHANGELOG.md
  sdk/communication/communication-alpha-ids/karma.conf.js
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__manage_configuration/recording_can_list_all_dynamic_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__manage_configuration/recording_can_list_all_dynamic_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/src/alphaIdsClient.ts
  sdk/communication/communication-alpha-ids/src/utils/customPipelinePolicies.ts
  sdk/communication/communication-alpha-ids/test/public/dynamicAlphaId.spec.ts
  sdk/communication/communication-alpha-ids/test/public/preRegisteredAlphaId.spec.ts
  sdk/communication/communication-alpha-ids/test/public/utils/msUserAgentPolicy.ts
  sdk/communication/communication-alpha-ids/test/public/utils/recordedClient.ts
Labels: Communication - Alpha IDs

#26588 [Identity] Merging Hotfix/identity 3.2.4 to main
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#26559 eventgrid update test
  sdk/eventgrid/arm-eventgrid/assets.json
  sdk/eventgrid/arm-eventgrid/test/eventgrid_examples.ts
Labels: Mgmt, Azure.Core

#26582 [document-translator] fix broken links in README
  sdk/documenttranslator/ai-document-translator-rest/README.md
Labels: DocumentTranslator

#26612 [core] Fix TypeError when setting user agent string in React Native
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform.native.ts
Labels: Azure.Core

#26469 add msuseragent policy to short codes
  sdk/communication/communication-short-codes/karma.conf.js
  sdk/communication/communication-short-codes/recordings/browsers/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs_by_page.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_list_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes_by_page.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/node/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs.json
  sdk/communication/communication-short-codes/recordings/node/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs_by_page.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_list_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes_by_page.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/test/public/utils/msUserAgentPolicy.ts
  sdk/communication/communication-short-codes/test/public/utils/recordedClient.ts
Labels: Communication - Short Codes

#26613 [engsys][dev-tool] upgrade dependency `strip-json-comments` to `^5.0.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
Labels: dev-tool

#26625 Added entropy to database names created across bulk tests for @azure/cosmso
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
Labels: Cosmos

#26627 Increasing throughput for containers in bullk test
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
Labels: Cosmos

#26637 [OpenAI] Update cookbook and samples
  sdk/openai/openai/README.md
  sdk/openai/openai/samples/cookbook/embeddingLongInputs.js
  sdk/openai/openai/samples/cookbook/package.json
Labels: OpenAI

#26616 [ACS JobRouter] Execute pre release script
  sdk/communication/communication-job-router/CHANGELOG.md
Labels: Communication - Job Router

#26641 Post release automated changes for communication releases
  sdk/communication/communication-job-router/CHANGELOG.md
  sdk/communication/communication-job-router/package.json
Labels: Communication - Job Router

#26159 Do not rely on BlobEndpoint host to getAccountName if it is already s…
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/utils.spec.ts
Labels: customer-reported, Client, Storage, Community Contribution

#26659 fix: communication-sms: remove mocha arrow functions
  sdk/communication/communication-sms/test/internal/smsClient.internal.mocked.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
Labels: customer-reported, Community Contribution, Communication - SMS

#26532 Sync eng/common directory with azure-sdk-tools for PR 6518
  eng/common/testproxy/onboarding/README.me
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26662 Update readme file
  sdk/communication/communication-phone-numbers/README.md
Labels: Communication - Phone Numbers

#26603 fix upsert /id generation
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
Labels: Cosmos

#26630 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt

#26631 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/arm-webpubsub/CHANGELOG.md
  sdk/web-pubsub/arm-webpubsub/package.json
  sdk/web-pubsub/arm-webpubsub/src/webPubSubManagementClient.ts
Labels: WebPubSub

#26634 Post release automated changes for managednetworkfabric releases
  sdk/managednetworkfabric/arm-managednetworkfabric/CHANGELOG.md
  sdk/managednetworkfabric/arm-managednetworkfabric/package.json
  sdk/managednetworkfabric/arm-managednetworkfabric/src/azureNetworkFabricManagementServiceAPI.ts
Labels: Mgmt

#26584 [keyvault] keyvault-keys: fix listPropertiesOfKeysVersions pagination
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/assets.json
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/public/list.spec.ts
Labels: KeyVault

#26590 [Storage] update versions and CHANGELOG entries
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#26672 [storage] port accountName from SAS connect string support from storage/stable
  sdk/storage/storage-blob/src/utils/utils.common.ts
  sdk/storage/storage-blob/test/utils.spec.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-queue/src/utils/utils.common.ts
Labels: Storage
