Repository Azure/azure-sdk-for-js, pull requests merged in 2023-11, with the labels that each got.

#27559 Sync eng/common directory with azure-sdk-tools for PR 7193
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#27615 [Storage]Update release version
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#27591 [ai-content-safety] update readme.md
  sdk/contentsafety/ai-content-safety-rest/README.md
Labels: Cognitive - Content Safety

#27627 Enable file OAuth test cases
  sdk/storage/test-resources.json
Labels: Storage

#27622 [App Config] Update Response Output for Label for Configuration Setting
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
Labels: App Configuration

#27631 Adding the missing export for KeyCredential in ts http runtime lib
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/index.ts
Labels: Azure.Core

#27637 [identity] update docs, readme and TS guide for broker feature
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/README.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-broker/samples/v1-beta/typescript/src/index.ts
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/images/MSA1.png
  sdk/identity/identity/images/MSA2.png
  sdk/identity/identity/images/MSA3.png
  sdk/identity/identity/images/MSA4.png
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#27649 Correct the azd credential ordering in README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#27650 Add link to Workload ID code sample
  sdk/identity/identity/README.md
Labels: Azure.Identity

#27651 [Identity] update readme and sample folder for broker plugin references
  sdk/identity/identity-broker/README.md
  sdk/identity/identity-broker/samples/v1/javascript/README.md
  sdk/identity/identity-broker/samples/v1/javascript/index.html
  sdk/identity/identity-broker/samples/v1/javascript/index.js
  sdk/identity/identity-broker/samples/v1/javascript/package.json
  sdk/identity/identity-broker/samples/v1/javascript/preload.js
  sdk/identity/identity-broker/samples/v1/javascript/renderer.js
  sdk/identity/identity-broker/samples/v1/javascript/sample.env
  sdk/identity/identity-broker/samples/v1/typescript/.eslintrc
  sdk/identity/identity-broker/samples/v1/typescript/README.md
  sdk/identity/identity-broker/samples/v1/typescript/index.html
  sdk/identity/identity-broker/samples/v1/typescript/package.json
  sdk/identity/identity-broker/samples/v1/typescript/sample.env
  sdk/identity/identity-broker/samples/v1/typescript/src/index.ts
  sdk/identity/identity-broker/samples/v1/typescript/src/preload.ts
  sdk/identity/identity-broker/samples/v1/typescript/src/renderer.ts
  sdk/identity/identity-broker/samples/v1/typescript/tsconfig.json
  sdk/identity/identity/README.md
Labels: Azure.Identity

#27661 [Identity] based on customer feedback making brokerOptions field optional
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/brokerAuthOptions.ts
Labels: Azure.Identity

#27647 [Event Hubs] Improve prefetching
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
Labels: Event Hubs

#27665 [Event Hub] Prepare release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#27676 [Event Hubs] Add changelog entry for node v18 req
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#27623 [ServiceBus] Prepare for November 2023 release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#27678 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#27681 [core-amqp] prepare for Nov 2023 release
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core

#27677 Use regions with more MHSM availability
  sdk/keyvault/test-resources.json
Labels: KeyVault

#27683 [Identity] Prepare release for GA 4.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/browserCustomizationOptions.ts
Labels: Azure.Identity

#27636 [App config] Prepare for GA release
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/etags.spec.ts
Labels: App Configuration

#27685 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#27682 Sync eng/common directory with azure-sdk-tools for PR 7251
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#27706 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#27709 [App Config] Run Publish Samples Command
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/getSettingOnlyIfChanged.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/helloworld.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/helloworldWithLabels.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listConfigurationSettings.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listRevisions.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/optimisticConcurrencyViaEtag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/setReadOnlySample.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/snapshot.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/testData.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/updateSyncTokenSample.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/getSettingOnlyIfChanged.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/helloworld.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/helloworldWithLabels.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listConfigurationSettings.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listRevisions.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/optimisticConcurrencyViaEtag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/setReadOnlySample.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/snapshot.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/testData.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/updateSyncTokenSample.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/tsconfig.json
Labels: App Configuration

#27686 Sync eng/common directory with azure-sdk-tools for PR 7255
  eng/common/testproxy/onboarding/README.md
Labels: EngSys, Central-EngSys

#27705 [keyvault] Prepare release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/assets.json
  sdk/keyvault/keyvault-keys/test/public/utils/common.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#27487 [core] core-rest-pipeline multipartPolicy
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.browser.ts
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/multipartPolicy.ts
  sdk/core/core-rest-pipeline/src/util/file.ts
  sdk/core/core-rest-pipeline/src/util/stream.browser.ts
  sdk/core/core-rest-pipeline/src/util/stream.ts
  sdk/core/core-rest-pipeline/src/util/typeGuards.ts
  sdk/core/core-rest-pipeline/src/xhrHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/defaultLogPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/multipartPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/multipartPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/util.ts
  sdk/test-utils/recorder/src/recorder.ts
Labels: Azure.Core

#27710 Update OpenTelemetry dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation

#27715 [Storage] Allow public access in storage test account
  sdk/storage/test-resources.json
Labels: Storage

#27732 [keyvault] Update Swagger commit hash for 7.5-preview.1
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#27734 [communication] Update jwt-decore to 4.0
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/src/tokenParser.ts
Labels: Communication - Common

#27558 [OpenAI] Use core's formdata policy
  sdk/openai/openai/assets.json
  sdk/openai/openai/package.json
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/sources/customizations/api/policies/formDataPolicy.browser.ts
  sdk/openai/openai/sources/customizations/api/policies/formDataPolicy.ts
  sdk/openai/openai/sources/customizations/api/util.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/api/policies/formDataPolicy.browser.ts
  sdk/openai/openai/src/api/policies/formDataPolicy.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/utils/utils.ts
Labels: Azure.Core, OpenAI

#27735 Sync eng/common directory with azure-sdk-tools for PR 7266
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#27692 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#27688 Post release automated changes for identity releases
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#27222 Post release automated changes for contentsafety releases
  sdk/contentsafety/ai-content-safety-rest/CHANGELOG.md
  sdk/contentsafety/ai-content-safety-rest/package.json
  sdk/contentsafety/ai-content-safety-rest/src/contentSafetyClient.ts
Labels: Cognitive - Content Safety

#27265 Post release automated changes for communication releases
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication - Common

#27373 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#27616 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-client-protobuf/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: WebPubSub

#27662 Post release automated changes for communication releases
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
Labels: auto-merge

#27458 Add NodeJS version 21.x to test matrix
  eng/pipelines/templates/stages/platform-matrix.json
Labels: Central-EngSys

#27745 Sync eng/common directory with azure-sdk-tools for PR 7268
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#27716 [ServiceBus] await error handler in session receiver
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/messageReceiver.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
Labels: Service Bus

#27741 [core] trim leading and trailing whitespace from header values
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/httpHeaders.ts
  sdk/core/core-rest-pipeline/test/httpHeaders.spec.ts
  sdk/core/ts-http-runtime/src/httpHeaders.ts
  sdk/core/ts-http-runtime/test/httpHeaders.spec.ts
Labels: Azure.Core

#27679 [@Azure/eventgrid] Adding new events for EG Version 5.0.0
  sdk/appconfiguration/app-configuration/package.json
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
  sdk/eventgrid/perf-tests/eventgrid/package.json
Labels: Event Grid

#27757 Remove PPE and enable Int livetest runs with SMS specific configuration
  sdk/communication/communication-sms/tests.yml
Labels: Communication - SMS

#27778 Users/vikas/fix/pipelinefix nov2023
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/public/functional/conflict.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/databaseaccount.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/batch.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/proxy.spec.ts
Labels: Cosmos

#27782 Sync eng/common directory with azure-sdk-tools for PR 7262
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#27797 Sync eng/common directory with azure-sdk-tools for PR 7276
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#27767 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#27740 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#27798 [ts-http-runtime] Port multipartPolicy changes to unbranded Core
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/client/helpers/isReadableStream.browser.ts
  sdk/core/ts-http-runtime/src/client/helpers/isReadableStream.ts
  sdk/core/ts-http-runtime/src/client/sendRequest.ts
  sdk/core/ts-http-runtime/src/createPipelineFromOptions.ts
  sdk/core/ts-http-runtime/src/fetchHttpClient.ts
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/interfaces.ts
  sdk/core/ts-http-runtime/src/pipelineRequest.ts
  sdk/core/ts-http-runtime/src/policies/formDataPolicy.browser.ts
  sdk/core/ts-http-runtime/src/policies/formDataPolicy.ts
  sdk/core/ts-http-runtime/src/policies/multipartPolicy.ts
  sdk/core/ts-http-runtime/src/util/file.ts
  sdk/core/ts-http-runtime/src/util/stream.browser.ts
  sdk/core/ts-http-runtime/src/util/stream.ts
  sdk/core/ts-http-runtime/src/util/typeGuards.ts
  sdk/core/ts-http-runtime/src/xhrHttpClient.ts
  sdk/core/ts-http-runtime/test/browser/formDataPolicy.spec.ts
  sdk/core/ts-http-runtime/test/defaultLogPolicy.spec.ts
  sdk/core/ts-http-runtime/test/formDataPolicy.spec.ts
  sdk/core/ts-http-runtime/test/multipartPolicy.spec.ts
  sdk/core/ts-http-runtime/test/node/formDataPolicy.spec.ts
  sdk/core/ts-http-runtime/test/util.ts
Labels: Azure.Core

#27802 Sync .github/workflows directory with azure-sdk-tools for PR 7284
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#27815 [storage] allow insecure connections
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/StorageClient.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#27828 [core-client-rest] keep request body as bytes for `application/octet-stream`
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core

#27849 Sync eng/common directory with azure-sdk-tools for PR 7310
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#27851 Sync eng/common directory with azure-sdk-tools for PR 7324
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#27852 [ts-http-runtime] drop `form-data` dependency
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#27854 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
Labels: Azure.Core

#27834 [OpenAI] Update Customization Layer
  eng/emitter-package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/deserializers.ts
  sdk/openai/openai/sources/customizations/api/models.ts
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/sources/customizations/api/policies/nonAzure.ts
  sdk/openai/openai/sources/customizations/index.ts
  sdk/openai/openai/sources/customizations/models/audio.ts
  sdk/openai/openai/sources/customizations/models/options.ts
  sdk/openai/openai/sources/generated/src/OpenAIClient.ts
  sdk/openai/openai/sources/generated/src/api/OpenAIContext.ts
  sdk/openai/openai/sources/generated/src/api/index.ts
  sdk/openai/openai/sources/generated/src/api/operations.ts
  sdk/openai/openai/sources/generated/src/index.ts
  sdk/openai/openai/sources/generated/src/models/index.ts
  sdk/openai/openai/sources/generated/src/models/models.ts
  sdk/openai/openai/sources/generated/src/models/options.ts
  sdk/openai/openai/sources/generated/src/rest/clientDefinitions.ts
  sdk/openai/openai/sources/generated/src/rest/isUnexpected.ts
  sdk/openai/openai/sources/generated/src/rest/models.ts
  sdk/openai/openai/sources/generated/src/rest/openAIClient.ts
  sdk/openai/openai/sources/generated/src/rest/outputModels.ts
  sdk/openai/openai/sources/generated/src/rest/parameters.ts
  sdk/openai/openai/sources/generated/src/rest/pollingHelper.ts
  sdk/openai/openai/sources/generated/src/rest/responses.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/OpenAIKeyCredential.ts
  sdk/openai/openai/src/api/OpenAIContext.ts
  sdk/openai/openai/src/api/deserializers.ts
  sdk/openai/openai/src/api/getSSEs.browser.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/src/api/index.ts
  sdk/openai/openai/src/api/models.ts
  sdk/openai/openai/src/api/oaiSse.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/api/util.ts
  sdk/openai/openai/src/index.ts
  sdk/openai/openai/src/models/audio.ts
  sdk/openai/openai/src/models/index.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/src/models/options.ts
  sdk/openai/openai/src/rest/clientDefinitions.ts
  sdk/openai/openai/src/rest/isUnexpected.ts
  sdk/openai/openai/src/rest/models.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/openai/openai/src/rest/outputModels.ts
  sdk/openai/openai/src/rest/parameters.ts
  sdk/openai/openai/src/rest/pollingHelper.ts
  sdk/openai/openai/src/rest/responses.ts
  sdk/openai/openai/tsp-location.yaml
Labels: OpenAI

#27861 Sync eng/common directory with azure-sdk-tools for PR 7322
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#27866 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#27863 [core-llro] Update logic for fetching resourceLocation
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
Labels: Azure.Core

#27873 [core-lro] Fix resource location check
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#27875 [core-lro] Fix resource location check
  sdk/core/core-lro/src/http/operation.ts
Labels: Azure.Core

#27383 Chat SDK with Inline Image
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.browser.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
Labels: Communication - Chat

#27884 Post release automated changes for paloaltonetworksngfw releases
  sdk/paloaltonetworksngfw/arm-paloaltonetworksngfw/CHANGELOG.md
  sdk/paloaltonetworksngfw/arm-paloaltonetworksngfw/package.json
  sdk/paloaltonetworksngfw/arm-paloaltonetworksngfw/src/paloAltoNetworksCloudngfw.ts
Labels: Mgmt

#27887 Post release automated changes for hybridcompute releases
  sdk/hybridcompute/arm-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/arm-hybridcompute/package.json
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClient.ts
Labels: Mgmt

#27885 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt

#27886 Post release automated changes for chaos releases
  sdk/chaos/arm-chaos/CHANGELOG.md
  sdk/chaos/arm-chaos/package.json
  sdk/chaos/arm-chaos/src/chaosManagementClient.ts
Labels: Mgmt

#27888 Post release automated changes for dashboard releases
  sdk/dashboard/arm-dashboard/CHANGELOG.md
  sdk/dashboard/arm-dashboard/package.json
  sdk/dashboard/arm-dashboard/src/dashboardManagementClient.ts
Labels: Mgmt

#27889 Post release automated changes for databricks releases
  sdk/databricks/arm-databricks/CHANGELOG.md
  sdk/databricks/arm-databricks/package.json
  sdk/databricks/arm-databricks/src/azureDatabricksManagementClient.ts
Labels: Mgmt

#27892 Post release automated changes for recoveryservicesbackup releases
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/package.json
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/recoveryServicesBackupClient.ts
Labels: Mgmt

#27890 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt

#27891 Post release automated changes for hybridcontainerservice releases
  sdk/hybridcontainerservice/arm-hybridcontainerservice/CHANGELOG.md
  sdk/hybridcontainerservice/arm-hybridcontainerservice/package.json
  sdk/hybridcontainerservice/arm-hybridcontainerservice/src/hybridContainerServiceClient.ts
Labels: Mgmt

#27893 Post release automated changes for nginx releases
  sdk/nginx/arm-nginx/CHANGELOG.md
  sdk/nginx/arm-nginx/package.json
  sdk/nginx/arm-nginx/src/nginxManagementClient.ts
Labels: Mgmt

#27816 Add user agent header as "acs-test"
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification__verify_domain_ownership/recording_can_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification__verify_domain_ownership/recording_error_if_domain_has_invalid_format_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification__verify_domain_ownership/recording_error_if_domain_is_empty_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification__verify_domain_ownership_aad/recording_can_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification__verify_domain_ownership_aad/recording_error_if_domain_has_invalid_format_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification__verify_domain_ownership_aad/recording_error_if_domain_is_empty_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification_client__create_domain_ownership_challenge/recording_can_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification_client__create_domain_ownership_challenge/recording_error_if_domain_has_invalid_format_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification_client__create_domain_ownership_challenge/recording_error_if_domain_is_empty_on_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification_client__create_domain_ownership_challenge_aad/recording_can_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification_client__create_domain_ownership_challenge_aad/recording_error_if_domain_has_invalid_format_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/browsers/domain_verification_client__create_domain_ownership_challenge_aad/recording_error_if_domain_is_empty_on_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification__verify_domain_ownership/recording_can_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification__verify_domain_ownership/recording_error_if_domain_has_invalid_format_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification__verify_domain_ownership/recording_error_if_domain_is_empty_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification__verify_domain_ownership_aad/recording_can_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification__verify_domain_ownership_aad/recording_error_if_domain_has_invalid_format_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification__verify_domain_ownership_aad/recording_error_if_domain_is_empty_on_verify_domain_ownership.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification_client__create_domain_ownership_challenge/recording_can_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification_client__create_domain_ownership_challenge/recording_error_if_domain_has_invalid_format_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification_client__create_domain_ownership_challenge/recording_error_if_domain_is_empty_on_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification_client__create_domain_ownership_challenge_aad/recording_can_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification_client__create_domain_ownership_challenge_aad/recording_error_if_domain_has_invalid_format_create_challenge.json
  sdk/communication/communication-domain-verification/recordings/node/domain_verification_client__create_domain_ownership_challenge_aad/recording_error_if_domain_is_empty_on_create_challenge.json
  sdk/communication/communication-domain-verification/test/public/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/test/public/utils/msUserAgentPolicy.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
Labels: Communication - Phone Numbers

#27901 Post release automated changes for servicenetworking releases
  sdk/servicenetworking/arm-servicenetworking/CHANGELOG.md
  sdk/servicenetworking/arm-servicenetworking/package.json
  sdk/servicenetworking/arm-servicenetworking/src/serviceNetworkingManagementClient.ts
Labels: Mgmt

#27900 Post release automated changes for quota releases
  sdk/quota/arm-quota/CHANGELOG.md
  sdk/quota/arm-quota/package.json
  sdk/quota/arm-quota/src/azureQuotaExtensionAPI.ts
Labels: Mgmt

#27899 Post release automated changes for postgresql releases
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
Labels: Mgmt

#27894 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
Labels: Mgmt

#27898 Post release automated changes for baremetalinfrastructure releases
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/CHANGELOG.md
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/package.json
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/src/bareMetalInfrastructureClient.ts
Labels: Mgmt

#27896 Post release automated changes for confluent releases
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/package.json
  sdk/confluent/arm-confluent/src/confluentManagementClient.ts
Labels: Mgmt

#27895 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#27872 [communication-chat] Migrate test recordings to asset repo
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_retrieves_a_thread_client.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.json
Labels: Communication - Chat

#27908 fix: core-util version
  sdk/identity/identity/package.json
Labels: customer-reported, Azure.Identity, Community Contribution

#27912 Post release automated changes for mobilenetwork releases
  sdk/mobilenetwork/arm-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/arm-mobilenetwork/package.json
  sdk/mobilenetwork/arm-mobilenetwork/src/mobileNetworkManagementClient.ts
Labels: Mgmt

#27864 Bump @azure/msal-node-extension in @azure/identity-cache-persistence
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
Labels: customer-reported, Azure.Identity, Community Contribution

#27867 add-overload-for-create-rest-error
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/restError.ts
  sdk/core/core-client-rest/test/createRestError.spec.ts
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/client/restError.ts
  sdk/core/ts-http-runtime/test/client/createRestError.spec.ts
Labels: Azure.Core

#27915 Gfeitosa/sms prepare release
  sdk/communication/communication-sms/CHANGELOG.md
Labels: Communication - SMS

#27932 Prepare SMS SDK release v1.1.0
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/src/constants.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClient.ts
  sdk/communication/communication-sms/src/generated/src/tracing.ts
  sdk/communication/communication-sms/swagger/README.md
Labels: Communication - SMS

#27919 Sync eng/common directory with azure-sdk-tools for PR 7334
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#27921 [abort-controller] Remove polyfills for `AbortController` and `AbortSignal`
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/abort-controller/review/abort-controller.api.md
  sdk/core/abort-controller/src/AbortController.ts
  sdk/core/abort-controller/src/AbortError.ts
  sdk/core/abort-controller/src/AbortSignal.ts
  sdk/core/abort-controller/src/AbortSignalLike.ts
  sdk/core/abort-controller/src/index.ts
  sdk/core/abort-controller/test/aborter.spec.ts
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/test/cbs.spec.ts
  sdk/core/core-amqp/test/lock.spec.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
  sdk/core/core-amqp/test/retry.spec.ts
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-http/package.json
  sdk/core/core-http/src/nodeFetchHttpClient.ts
  sdk/core/core-http/test/defaultHttpClientTests.node.ts
  sdk/core/core-http/test/defaultHttpClientTests.ts
  sdk/core/core-http/test/policies/throttlingRetryPolicyTests.ts
  sdk/core/core-lro/package.json
  sdk/core/core-lro/src/poller/poller.ts
  sdk/core/core-lro/test/lro.spec.ts
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/core-rest-pipeline/test/retryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/throttlingRetryPolicy.spec.ts
  sdk/core/core-util/package.json
  sdk/core/core-util/src/aborterUtils.ts
  sdk/core/core-util/test/public/aborterUtils.spec.ts
  sdk/core/core-util/test/public/delay.spec.ts
  sdk/test-utils/perf/package.json
  sdk/test-utils/perf/src/batchPerfTest.ts
  sdk/test-utils/perf/src/eventPerfTest.ts
  sdk/test-utils/perf/src/perfTestBase.ts
  sdk/test-utils/perf/src/workerProgram.ts
  sdk/test-utils/test-utils/package.json
  sdk/test-utils/test-utils/test/browser/xhrHttpClient.spec.ts
Labels: Client, Azure.Core

#27946 [JS] Communication Identity | Granular Token feature GA release updates
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/src/constants.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClient.ts
  sdk/communication/communication-identity/src/generated/src/tracing.ts
  sdk/communication/communication-identity/swagger/README.md
Labels: Communication, Communication - Identity

#27943 [core-client-rest] prepare for 2023-11-30 release
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#27948 [core-client-rest] downgrade dependency `@azure/abort-controller` to v1
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client-rest/package.json
Labels: Azure.Core

#27949 Sync eng/common directory with azure-sdk-tools for PR 7369
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys
