Repository Azure/azure-sdk-for-js, pull requests merged in 2023-12, with the labels that each got.

#27944 Post release automated changes for networkanalytics releases
  sdk/networkanalytics/arm-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/arm-networkanalytics/package.json
  sdk/networkanalytics/arm-networkanalytics/src/microsoftNetworkAnalytics.ts
Labels: Mgmt

#27910 Sync eng/common directory with azure-sdk-tools for PR 7346
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#27951 Temporarily pin NodeTestVersion of v21 to 21.2.0
  eng/pipelines/templates/stages/platform-matrix.json
Labels: Azure.Identity

#27972 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#27977 [ChatSDK][GA]Update Changelog.md for 1.4.0 GA release
  sdk/communication/communication-chat/CHANGELOG.md
Labels: Communication - Chat

#27965 Azure AI Search rebranding and messaging
  sdk/search/arm-search/README.md
  sdk/search/search-documents/README.md
Labels: customer-reported, Mgmt, Search, Community Contribution

#27992 Replace mocha-junit-reporter with Mocha builtin xunit reporter
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTSInput.ts
  common/tools/mocha-multi-reporter.js
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#27824 [Customization] Fix import edge cases in template-dpg
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/check-api.ts
  common/tools/dev-tool/src/commands/run/testBrowser.ts
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTSInput.ts
  common/tools/dev-tool/src/commands/run/vendored.ts
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/dev-tool/src/framework/command.ts
  common/tools/dev-tool/src/framework/parseOptions.ts
  common/tools/dev-tool/src/migrations/onboard/test-proxy-asset-sync.ts
  common/tools/dev-tool/src/migrations/sample-config-to-metadata.ts
  common/tools/dev-tool/src/templates/sampleReadme.md.ts
  common/tools/dev-tool/src/util/customization/aliases.ts
  common/tools/dev-tool/src/util/customization/classes.ts
  common/tools/dev-tool/src/util/customization/customize.ts
  common/tools/dev-tool/src/util/customization/exports.ts
  common/tools/dev-tool/src/util/customization/helpers/annotations.ts
  common/tools/dev-tool/src/util/customization/helpers/preformat.ts
  common/tools/dev-tool/src/util/customization/imports.ts
  common/tools/dev-tool/src/util/customization/interfaces.ts
  common/tools/dev-tool/src/util/fileTree.ts
  common/tools/dev-tool/src/util/git.ts
  common/tools/dev-tool/src/util/migrations.ts
  common/tools/dev-tool/src/util/pathUtil.ts
  common/tools/dev-tool/src/util/prettier.ts
  common/tools/dev-tool/src/util/printer.ts
  common/tools/dev-tool/src/util/pwsh.ts
  common/tools/dev-tool/src/util/resolveProject.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/dev-tool/test/argParsing.spec.ts
  common/tools/dev-tool/test/customization/imports.spec.ts
  common/tools/dev-tool/test/framework.spec.ts
  common/tools/dev-tool/test/resolveProject.spec.ts
  sdk/template/template-dpg/package.json
  sdk/template/template-dpg/sources/customizations/src/api/WidgetServiceContext.ts
  sdk/template/template-dpg/src/WidgetServiceClient.ts
  sdk/template/template-dpg/src/api/WidgetServiceContext.ts
  sdk/template/template-dpg/src/api/foo.ts
  sdk/template/template-dpg/src/api/operations.ts
Labels: EngSys

#27961 Bump msal-node-extensions in @azure/identity-cache-persistence
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
Labels: customer-reported, Azure.Identity, Community Contribution

#28007 [ACS][Chat] Provide API version to Signaling Client
  sdk/communication/communication-chat/src/chatClient.ts
Labels: Communication - Chat

#28005 [EngSys][KeyVault] remove unused NPM script "build:minify"
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Labels: KeyVault

#28014 [test-utils] Remove UUID module
  sdk/template/perf-tests/template/package.json
  sdk/template/perf-tests/template/test/getConfigurationSetting.spec.ts
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/test/sanitizers.spec.ts
  sdk/test-utils/recorder/test/utils/server.browser.ts
  sdk/test-utils/recorder/test/utils/server.ts
  sdk/test-utils/recorder/test/utils/utils.ts
Labels: EngSys

#28015 [tables] Remove UUID module
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/samples-dev/createAndDeleteTable.ts
  sdk/tables/data-tables/src/utils/uuid.ts
  sdk/tables/perf-tests/data-tables/package.json
  sdk/tables/perf-tests/data-tables/test/createComplexEntity.spec.ts
  sdk/tables/perf-tests/data-tables/test/createComplexEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/createSimpleEntity.spec.ts
  sdk/tables/perf-tests/data-tables/test/createSimpleEntityBatchTest.spec.ts
  sdk/tables/perf-tests/data-tables/test/index.spec.ts
  sdk/tables/perf-tests/data-tables/test/listComplexEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/listSimpleEntities.spec.ts
  sdk/tables/perf-tests/data-tables/test/tables.spec.ts
  sdk/tables/perf-tests/data-tables/test/utils/createBaseEntity.ts
Labels: Tables

#28017 [core] Prepare release for core-rest-pipeline
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
Labels: Azure.Core

#28025 [OpenAI] Post-release changes
  sdk/core/core-rest-pipeline/package.json
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/samples/cookbook/bringYourOwnData/index.js
  sdk/openai/openai/samples/cookbook/bringYourOwnData/package.json
  sdk/openai/openai/samples/cookbook/simpleCompletionsPage/package.json
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/package.json
  sdk/openai/openai/samples/v1-beta/javascript/bringYourOwnData.js
  sdk/openai/openai/samples/v1-beta/javascript/chatCompletions.js
  sdk/openai/openai/samples/v1-beta/javascript/functions.js
  sdk/openai/openai/samples/v1-beta/javascript/getImages.js
  sdk/openai/openai/samples/v1-beta/javascript/listChatCompletions.js
  sdk/openai/openai/samples/v1-beta/javascript/listChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v1-beta/javascript/readableStream.js
  sdk/openai/openai/samples/v1-beta/typescript/src/bringYourOwnData.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/chatCompletions.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/functions.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/getImages.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/listChatCompletions.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/listChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/readableStream.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/search/search-documents/package.json
Labels: Azure.Core, Search, OpenAI

#27986 [@azure-rest/ai-content-safety] Update README and CHANGELOG
  sdk/contentsafety/ai-content-safety-rest/CHANGELOG.md
  sdk/contentsafety/ai-content-safety-rest/README.md
Labels: Cognitive - Content Safety

#28035 [OpenAI] Fix sub-path export for models
  sdk/openai/openai/package.json
Labels: OpenAI

#28026 [storage] Update to use randomUUID
  sdk/storage/perf-tests/storage-blob-track-1/package.json
  sdk/storage/perf-tests/storage-blob-track-1/test/download.spec.ts
  sdk/storage/perf-tests/storage-blob-track-1/test/listBlobs.spec.ts
  sdk/storage/perf-tests/storage-blob-track-1/test/storageTest.spec.ts
  sdk/storage/perf-tests/storage-blob-track-1/test/upload.spec.ts
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-blob/test/utils/utils.ts
  sdk/storage/perf-tests/storage-file-datalake/package.json
  sdk/storage/perf-tests/storage-file-datalake/test/append.spec.ts
  sdk/storage/perf-tests/storage-file-datalake/test/read.spec.ts
  sdk/storage/perf-tests/storage-file-datalake/test/storageTest.spec.ts
  sdk/storage/perf-tests/storage-file-datalake/test/upload.spec.ts
  sdk/storage/perf-tests/storage-file-datalake/test/uploadFromFile.spec.ts
  sdk/storage/perf-tests/storage-file-share-track-1/package.json
  sdk/storage/perf-tests/storage-file-share/package.json
  sdk/storage/perf-tests/storage-file-share/test/download.spec.ts
  sdk/storage/perf-tests/storage-file-share/test/downloadToFile.spec.ts
  sdk/storage/perf-tests/storage-file-share/test/storageTest.spec.ts
  sdk/storage/perf-tests/storage-file-share/test/upload.spec.ts
  sdk/storage/perf-tests/storage-file-share/test/uploadFromFile.spec.ts
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobLeaseClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-queue/package.json
  sdk/synapse/synapse-access-control-rest/package.json
  sdk/synapse/synapse-access-control-rest/samples-dev/createRoleAssignment.ts
Labels: Storage, Synapse

#28044 [appconfiguration] Remove UUID
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/test/internal/node/throttlingRetryPolicy.spec.ts
  sdk/appconfiguration/perf-tests/app-configuration/package.json
  sdk/appconfiguration/perf-tests/app-configuration/test/listSettings.spec.ts
Labels: App Configuration

#28045 [EngSys][Core] remove `audit` NPM script
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#27905 [Maps] SAS token support
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-geolocation-rest/README.md
  sdk/maps/maps-geolocation-rest/review/maps-geolocation.api.md
  sdk/maps/maps-geolocation-rest/src/MapsGeolocation.ts
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/README.md
  sdk/maps/maps-render-rest/review/maps-render.api.md
  sdk/maps/maps-render-rest/src/mapsRender.ts
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/README.md
  sdk/maps/maps-route-rest/review/maps-route.api.md
  sdk/maps/maps-route-rest/src/mapsRoute.ts
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/README.md
  sdk/maps/maps-search-rest/review/maps-search.api.md
  sdk/maps/maps-search-rest/src/MapsSearch.ts
Labels: Maps

#28049 [communicaiton] remove UUID module
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/test/callAutomationClient.spec.ts
  sdk/communication/communication-email/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/samples-dev/siprouting/manageSipRoutingConfiguration.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/utils/recordedClient.ts
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/src/models/uuid.ts
  sdk/communication/communication-rooms/src/roomsClient.ts
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/src/utils/uuid.ts
  sdk/communication/communication-toll-free-verification/package.json
  sdk/communication/communication-toll-free-verification/test/public/utils/testUSCampaignBrief.ts
Labels: Communication - Phone Numbers, Communication - SMS, Communication - Email, Communication - Rooms

#27119 Fix Maps Route Readme Issues
  sdk/maps/maps-route-rest/README.md
Labels: Maps

#28056 Added SMS specific variables to prod test pipeline configuration
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
  sdk/communication/communication-sms/tests.yml
Labels: Communication - SMS

#28058 [ServiceBus] add prefix to locks
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
Labels: Service Bus

#27773 Synapse SDK new release
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/tracing.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: customer-reported, Synapse, Community Contribution

#27770 Fix JS sdk pipeline post node version upgrade
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/consumer-test.js
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/test/public/functional/conflict.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/database.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/databaseaccount.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/batch.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/proxy.spec.ts
Labels: Cosmos

#27551 [core-util] Migrate from mocha & karma to vitest
  common/config/rush/pnpm-lock.yaml
  common/tools/vite-plugin-browser-test-map/package.json
  common/tools/vite-plugin-browser-test-map/src/index.ts
  common/tools/vite-plugin-browser-test-map/tsconfig.json
  rush.json
  sdk/core/core-util/.eslintrc.json
  sdk/core/core-util/api-extractor.json
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/aborterUtils.ts
  sdk/core/core-util/src/createAbortablePromise.ts
  sdk/core/core-util/src/delay.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/test/public/aborterUtils.spec.ts
  sdk/core/core-util/test/public/browser/checkEnvironment.spec.ts
  sdk/core/core-util/test/public/bytesEncoding.spec.ts
  sdk/core/core-util/test/public/delay.spec.ts
  sdk/core/core-util/test/public/node/checkEnvironment.spec.ts
  sdk/core/core-util/test/public/sha256.spec.ts
  sdk/core/core-util/test/public/typeGuards.spec.ts
  sdk/core/core-util/test/public/uuidUtils.spec.ts
  sdk/core/core-util/tsconfig.json
  sdk/core/core-util/vitest.browser.config.mts
  sdk/core/core-util/vitest.config.ts
Labels: Azure.Core

#28071 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt

#28072 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt

#28073 Post release automated changes for communication releases
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
Labels: Mgmt

#28074 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/src/batchManagementClient.ts
Labels: Mgmt

#28075 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
  sdk/sql/arm-sql/src/sqlManagementClient.ts
Labels: Mgmt

#28077 Post release automated changes for servicefabric releases
  sdk/servicefabric/arm-servicefabric/CHANGELOG.md
  sdk/servicefabric/arm-servicefabric/package.json
  sdk/servicefabric/arm-servicefabric/src/serviceFabricManagementClient.ts
Labels: Mgmt

#28076 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt

#28082 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#28003 [mgmt] postgresql flexible release
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/_meta.json
  sdk/postgresql/arm-postgresql-flexible/assets.json
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/review/arm-postgresql-flexible.api.md
  sdk/postgresql/arm-postgresql-flexible/samples-dev/serverThreatProtectionSettingsCreateOrUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/README.md
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/administratorsCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/administratorsDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/checkMigrationNameAvailabilitySample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/checkNameAvailabilityWithLocationExecuteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/configurationsPutSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/configurationsUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/databasesCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/databasesDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/firewallRulesCreateOrUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/firewallRulesDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/flexibleServerStartLtrBackupSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/flexibleServerTriggerLtrPreBackupSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsGetSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsListByTargetServerSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/privateEndpointConnectionDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/privateEndpointConnectionUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/privateEndpointConnectionsGetSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/privateEndpointConnectionsListByServerSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/serverThreatProtectionSettingsCreateOrUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/serverThreatProtectionSettingsGetSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/serverThreatProtectionSettingsListByServerSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/virtualEndpointsCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/virtualEndpointsDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/virtualEndpointsGetSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/virtualEndpointsUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/README.md
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/serverThreatProtectionSettingsCreateOrUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/src/models/index.ts
  sdk/postgresql/arm-postgresql-flexible/src/models/mappers.ts
Labels: Mgmt

#28088 [mgmt] update link
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/CHANGELOG.md
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/deviceupdate/arm-deviceupdate/CHANGELOG.md
  sdk/hybridcompute/arm-hybridcompute/CHANGELOG.md
  sdk/quota/arm-quota/CHANGELOG.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/CHANGELOG.md
  sdk/resourcehealth/arm-resourcehealth/CHANGELOG.md
Labels: Mgmt

#28089 Post release automated changes for imagebuilder releases
  sdk/imagebuilder/arm-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/arm-imagebuilder/package.json
  sdk/imagebuilder/arm-imagebuilder/src/imageBuilderClient.ts
Labels: Mgmt

#28090 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#28079 [OpenAI] Async iterables to disposable and iterable readable streams
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-sse/review/core-sse.api.md
  sdk/core/core-sse/samples-dev/createSseStream.ts
  sdk/core/core-sse/src/index.ts
  sdk/core/core-sse/src/models.ts
  sdk/core/core-sse/src/sse.ts
  sdk/core/core-sse/src/utils.ts
  sdk/core/core-sse/test/internal/createStream.spec.ts
  sdk/core/core-sse/test/public/browser/sse.spec.ts
  sdk/core/core-sse/test/public/browser/util.ts
  sdk/core/core-sse/test/public/node/sse.spec.ts
  sdk/core/core-sse/test/public/node/util.ts
  sdk/core/core-sse/test/public/sse.ts
  sdk/core/core-sse/test/public/util.ts
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/README.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/openai.shims.d.ts
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/bringYourOwnData.ts
  sdk/openai/openai/samples-dev/readableStream.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/streamCompletionsOnly.ts
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/client/openAIClient/index.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.browser.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.ts
  sdk/openai/openai/sources/customizations/api/index.ts
  sdk/openai/openai/sources/customizations/api/oaiSse.ts
  sdk/openai/openai/sources/customizations/api/readableStreamUtils.ts
  sdk/openai/openai/sources/customizations/models/models.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/client/openAIClient/index.ts
  sdk/openai/openai/src/api/getSSEs.browser.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/src/api/index.ts
  sdk/openai/openai/src/api/oaiSse.ts
  sdk/openai/openai/src/api/readableStreamUtils.ts
  sdk/openai/openai/src/index.ts
  sdk/openai/openai/src/models/index.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/test/internal/util.ts
  sdk/openai/openai/test/public/abortsignal.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/samples.spec.ts
Labels: Azure.Core, OpenAI

#28094 [OpenAI] Use await using in samples
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/package.json
  sdk/openai/openai/samples-dev/functions.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/streamCompletionsOnly.ts
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/client/openAIClient/deserializers.ts
  sdk/openai/openai/sources/customizations/api/client/openAIClient/index.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.browser.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.ts
  sdk/openai/openai/sources/customizations/api/oaiSse.ts
  sdk/openai/openai/sources/customizations/api/readableStreamUtils.ts
  sdk/openai/openai/sources/customizations/api/util.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/OpenAIContext.ts
  sdk/openai/openai/src/api/client/openAIClient/deserializers.ts
  sdk/openai/openai/src/api/client/openAIClient/index.ts
  sdk/openai/openai/src/api/getSSEs.browser.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/src/api/oaiSse.ts
  sdk/openai/openai/src/api/readableStreamUtils.ts
  sdk/openai/openai/src/api/util.ts
  sdk/openai/openai/src/classic/client/openAIClient/index.ts
  sdk/openai/openai/src/rest/clientDefinitions.ts
  sdk/openai/openai/src/rest/isUnexpected.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/openai/openai/test/internal/node/util.ts
  sdk/openai/openai/test/internal/oaiSse.ts
  sdk/openai/openai/test/internal/util.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/images.spec.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/samples.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/images.browser.ts
  sdk/openai/openai/test/public/utils/images.ts
  sdk/openai/openai/test/public/utils/recordedClient.ts
  sdk/openai/openai/test/public/utils/utils.ts
Labels: OpenAI

#28054 [core] Fix handling of binary data in core-client-rest
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/helpers/getBinaryBody.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/getBinaryBody.spec.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core

#28098 Post release automated changes for hybridnetwork releases
  sdk/hybridnetwork/arm-hybridnetwork/CHANGELOG.md
  sdk/hybridnetwork/arm-hybridnetwork/package.json
  sdk/hybridnetwork/arm-hybridnetwork/src/hybridNetworkManagementClient.ts
Labels: Mgmt

#28097 Post release automated changes for healthcareapis releases
  sdk/healthcareapis/arm-healthcareapis/CHANGELOG.md
  sdk/healthcareapis/arm-healthcareapis/package.json
  sdk/healthcareapis/arm-healthcareapis/src/healthcareApisManagementClient.ts
Labels: Mgmt

#28096 Post release automated changes for dataprotection releases
  sdk/dataprotection/arm-dataprotection/CHANGELOG.md
  sdk/dataprotection/arm-dataprotection/package.json
  sdk/dataprotection/arm-dataprotection/src/dataProtectionClient.ts
Labels: Mgmt

#28091 Post release automated changes for deviceupdate releases
  sdk/deviceupdate/arm-deviceupdate/CHANGELOG.md
  sdk/deviceupdate/arm-deviceupdate/package.json
  sdk/deviceupdate/arm-deviceupdate/src/deviceUpdate.ts
Labels: Mgmt

#28087 Post release automated changes for postgresql releases
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
Labels: Mgmt

#28086 Post release automated changes for selfhelp releases
  sdk/selfhelp/arm-selfhelp/CHANGELOG.md
  sdk/selfhelp/arm-selfhelp/package.json
  sdk/selfhelp/arm-selfhelp/src/helpRP.ts
Labels: Mgmt

#28031 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
Labels: Mgmt

#28067 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#27937 Post release automated changes for communication releases
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/src/constants.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClient.ts
  sdk/communication/communication-sms/src/generated/src/tracing.ts
  sdk/communication/communication-sms/swagger/README.md
Labels: Communication - SMS

#27981 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#28037 Post release automated changes for contentsafety releases
  sdk/contentsafety/ai-content-safety-rest/CHANGELOG.md
  sdk/contentsafety/ai-content-safety-rest/package.json
  sdk/contentsafety/ai-content-safety-rest/src/contentSafetyClient.ts
Labels: Cognitive - Content Safety

#27762 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#28119 [EngSys] upgrade dev dependency `dotenv` to version `^16.0.0`
  common/config/rush/pnpm-lock.yaml
  sdk/automanage/arm-automanage/package.json
  sdk/automation/arm-automation/package.json
  sdk/cognitivelanguage/ai-language-textauthoring/package.json
  sdk/dnsresolver/arm-dnsresolver/package.json
  sdk/education/arm-education/package.json
  sdk/labservices/arm-labservices/package.json
  sdk/loadtesting/arm-loadtesting/package.json
  sdk/logic/arm-logic/package.json
  sdk/machinelearningexperimentation/arm-machinelearningexperimentation/package.json
  sdk/managementpartner/arm-managementpartner/package.json
  sdk/marketplaceordering/arm-marketplaceordering/package.json
  sdk/migrate/arm-migrate/package.json
  sdk/msi/arm-msi/package.json
  sdk/openai/openai/samples/cookbook/bringYourOwnData/package.json
  sdk/operationalinsights/arm-operationalinsights/package.json
  sdk/policyinsights/arm-policyinsights/package.json
  sdk/portal/arm-portal/package.json
  sdk/powerbidedicated/arm-powerbidedicated/package.json
  sdk/relay/arm-relay/package.json
  sdk/scvmm/arm-scvmm/package.json
  sdk/securitydevops/arm-securitydevops/package.json
  sdk/securityinsight/arm-securityinsight/package.json
  sdk/servicebus/arm-servicebus/package.json
  sdk/servicefabricmesh/arm-servicefabricmesh/package.json
  sdk/storageimportexport/arm-storageimportexport/package.json
  sdk/synapse/arm-synapse/package.json
  sdk/vmwarecloudsimple/arm-vmwarecloudsimple/package.json
Labels: Mgmt, Cognitive - Language, OpenAI

#28120 [Engsys][cosmosdb] upgrade runtime dependency `priorityqueuejs` to v2
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#28116 [storage-blob] remove unused dev dependency `@types/node-fetch`
  sdk/storage/storage-blob/package.json
Labels: Client, Storage
