Repository Azure/azure-sdk-for-js, pull requests merged in 2023-04, with the labels that each got.

#25430 Update DefaultAzureCredential flow diagram
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#25288 [Search] Remove service version checks
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: Search

#25411 Update test cases for open ai management plane
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_openai_test/recording_should_create_an_openai_account_for_testing.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_openai_test/recording_should_delete_an_account.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_openai_test/recording_should_deploy_a_davinci_model_in_that_account.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_openai_test/recording_should_get_an_account_detail.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_openai_test/recording_should_list_all_accounts.json
  sdk/cognitiveservices/arm-cognitiveservices/recordings/node/cognitiveservices_openai_test/recording_should_list_deployments_and_delete_a_deployment.json
  sdk/cognitiveservices/arm-cognitiveservices/test/cognitiveservices_congitiveservice.spec.ts
  sdk/cognitiveservices/arm-cognitiveservices/test/cognitiveservices_openai.spec.ts
Labels: Mgmt

#25439 Feature/hierarchical partition2
  sdk/cosmosdb/ci.yml
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKeyInternal.ts
  sdk/cosmosdb/cosmos/src/extractPartitionKey.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
Labels: Cosmos

#25440 Updated version to 3.17.4-beta.1
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#25398 [Azure Monitor Exporter] Use Prefix/Distro version if available
  sdk/monitor/monitor-opentelemetry-exporter/src/platform/nodejs/context/context.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/context.test.ts
Labels: Monitor

#25443 [Tables] Prepare for release 13.2.2
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#25444 [Azure Monitor OpenTelemetry Exporter] 1.0.0-beta.12 release
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/monitor-query/package.json
Labels: Monitor

#25435 credscan fix
  sdk/apimanagement/arm-apimanagement/samples-dev/performConnectivityCheckAsyncSample.ts
  sdk/apimanagement/arm-apimanagement/samples/v9/javascript/performConnectivityCheckAsyncSample.js
  sdk/apimanagement/arm-apimanagement/samples/v9/typescript/src/performConnectivityCheckAsyncSample.ts
  sdk/automation/arm-automation/samples-dev/sourceControlCreateOrUpdateSample.ts
  sdk/automation/arm-automation/samples-dev/sourceControlUpdateSample.ts
  sdk/automation/arm-automation/samples/v11-beta/javascript/sourceControlCreateOrUpdateSample.js
  sdk/automation/arm-automation/samples/v11-beta/javascript/sourceControlUpdateSample.js
  sdk/automation/arm-automation/samples/v11-beta/typescript/src/sourceControlCreateOrUpdateSample.ts
  sdk/automation/arm-automation/samples/v11-beta/typescript/src/sourceControlUpdateSample.ts
  sdk/containerregistry/arm-containerregistry/samples-dev/webhooksCreateSample.ts
  sdk/containerregistry/arm-containerregistry/samples-dev/webhooksUpdateSample.ts
  sdk/containerregistry/arm-containerregistry/samples/v10/javascript/webhooksCreateSample.js
  sdk/containerregistry/arm-containerregistry/samples/v10/javascript/webhooksUpdateSample.js
  sdk/containerregistry/arm-containerregistry/samples/v10/typescript/src/webhooksCreateSample.ts
  sdk/containerregistry/arm-containerregistry/samples/v10/typescript/src/webhooksUpdateSample.ts
  sdk/security/arm-security/samples-dev/connectorsCreateOrUpdateSample.ts
  sdk/security/arm-security/samples/v6-beta/javascript/connectorsCreateOrUpdateSample.js
  sdk/security/arm-security/samples/v6-beta/typescript/src/connectorsCreateOrUpdateSample.ts
Labels: Mgmt, Container Registry

#25449 [Azure Monitor OpenTelemetry Exporter]Remove mapped Span attributes and remaining as properties
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/spanUtils.test.ts
Labels: Monitor

#25417 [ACR] More changes for consistency
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_deleteblob_should_succeed_when_trying_to_delete_a_nonexistent_blob.json
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/downloadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/src/content/containerRegistryContentClient.ts
  sdk/containerregistry/container-registry/src/content/index.ts
  sdk/containerregistry/container-registry/src/content/models.ts
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/src/generated/operations/containerRegistryBlob.ts
  sdk/containerregistry/container-registry/swagger/README.md
  sdk/containerregistry/container-registry/test/public/containerRegistryContentClient.spec.ts
Labels: Container Registry

#25456 [Communication][communication-alpha-ids] enable code coverage report in alpha sender ids tests
  sdk/communication/communication-alpha-ids/.nycrc
Labels: Communication

#25429 [engsys] prepare for TypeScript v5
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/util/samples/processor.ts
  common/tools/dev-tool/src/util/samples/transforms.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-doc-internal-private-member.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-use-interface-parameters.ts
  sdk/communication/communication-network-traversal/src/communicationRelayClient.ts
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/formrecognizer/ai-form-recognizer/test/public/training.spec.ts
  sdk/identity/identity/src/msal/utils.ts
Labels: Azure.Identity, Azure.Core, eslint plugin, Cognitive - Form Recognizer, dev-tool, Communication

#25467 Sync eng/common directory with azure-sdk-tools for PR 5918
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#25465 [ServiceBus] prepare for 2023 April beta release
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#25464 [core] Prepare for 2023 April release
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Core

#25468 Sync eng/common directory with azure-sdk-tools for PR 5924
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#24875 fix-url-encoding-in-api-version-policy
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/apiVersionPolicy.ts
  sdk/core/core-client-rest/test/getClient.spec.ts
Labels: Azure.Core

#25434 Fix the query property inconsistency with the protocol
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/review/web-pubsub-express.api.md
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsProtocols.ts
Labels: auto-merge, WebPubSub

#25461 review updates
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/contentDownloader.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/test/public/callRecordingClient.spec.ts
Labels: Communication

#25478 [rest/core-client] prepare for 2023 April release
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#25481 Juntuchen/live test infra
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-call-automation/README.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/recordings/node/call_automation_main_client_live_tests/recording_create_a_call_and_hangup.json
  sdk/communication/communication-call-automation/recordings/node/call_automation_main_client_live_tests/recording_reject_call.json
  sdk/communication/communication-call-automation/recordings/node/callconnection_live_tests/recording_add_a_participant_and_get_call_properties.json
  sdk/communication/communication-call-automation/recordings/node/callconnection_live_tests/recording_list_all_participants.json
  sdk/communication/communication-call-automation/recordings/node/callconnection_live_tests/recording_remove_a_participant.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/test/utils/recordedClient.ts
Labels: Communication

#25313 Juntuchen/live test infra
  sdk/communication/communication-call-automation/README.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_and_get_call_properties.txt
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_List_all_participants.txt
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Remove_a_participant.txt
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Create_a_call_and_hangup.txt
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Reject_call.txt
  sdk/communication/communication-call-automation/recordings/node/call_automation_main_client_live_tests/recording_create_a_call_and_hangup.json
  sdk/communication/communication-call-automation/recordings/node/call_automation_main_client_live_tests/recording_reject_call.json
  sdk/communication/communication-call-automation/recordings/node/callconnection_live_tests/recording_add_a_participant_and_get_call_properties.json
  sdk/communication/communication-call-automation/recordings/node/callconnection_live_tests/recording_list_all_participants.json
  sdk/communication/communication-call-automation/recordings/node/callconnection_live_tests/recording_remove_a_participant.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/callConnection.spec.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
  sdk/communication/communication-call-automation/test/callRecordingClient.spec.ts
  sdk/communication/communication-call-automation/test/public/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/public/utils/recordedClient.ts
  sdk/communication/communication-call-automation/test/utils/connectionUtils.ts
  sdk/communication/communication-call-automation/test/utils/recordedClient.ts
Labels: Communication

#25324 [docs] add links to React Native samples for some tested packages
  samples/frameworks/react-native/appconfigBasic/README.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/eventhub/event-hubs/README.md
  sdk/notificationhubs/notification-hubs/README.md
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, Event Hubs, App Configuration

#25483 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core, auto-merge

#25381 [storage-blob] Fix paths in client instead of using a pipeline policy
  sdk/storage/storage-blob/src/BlobBatch.ts
  sdk/storage/storage-blob/src/BlobBatchClient.ts
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/StorageClient.ts
  sdk/storage/storage-blob/src/StorageContextClient.ts
  sdk/storage/storage-blob/src/policies/PathParameterWorkaroundPolicy.ts
Labels: Client, Storage

#25503 [WebPubSubClient] Prepare release for beta.3
  sdk/web-pubsub/web-pubsub-client/CHANGELOG.md
Labels: auto-merge, WebPubSub

#25502 bump xml2js version to resolve CVE-2023-0842 for @azure/core-http
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/package.json
Labels: Azure.Core

#25493 [credscan][file,queue] Fix warnings
  sdk/storage/storage-file-share/recordings/node/shareclient_nodejs_only/recording_setaccesspolicy.js
  sdk/storage/storage-file-share/recordings/node/shareclient_nodejs_only/recording_setaccesspolicy_and_getaccesspolicy_with_empty_signedidentifier.js
  sdk/storage/storage-file-share/test/node/shareclient.spec.ts
  sdk/storage/storage-queue/recordings/browsers/queueclient/recording_setaccesspolicy_negative.json
  sdk/storage/storage-queue/recordings/node/queueclient/recording_setaccesspolicy_negative.js
  sdk/storage/storage-queue/recordings/node/queueclient_nodejs_only/recording_setaccesspolicy.js
  sdk/storage/storage-queue/recordings/node/queueclient_nodejs_only/recording_setaccesspolicy_should_work_when_permissions_expiry_and_start_undefined.js
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Storage

#25278 [ACR] Optimistic download
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_deleteblob_should_succeed_when_trying_to_delete_a_nonexistent_blob.json
  sdk/containerregistry/container-registry/src/content/containerRegistryContentClient.ts
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/operations/containerRegistryBlob.ts
  sdk/containerregistry/container-registry/src/utils/retriableReadableStream.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry

#25513 Prepare Tables for April Release
  sdk/tables/data-tables/CHANGELOG.md
Labels: Tables

#25295 [Communication][Chat] Chat SDK 1.3.2-beta.1 release
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.browser.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
Labels: Communication

#25421 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage, auto-merge

#25517 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: auto-merge, Communication

#25507 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-client/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-client/package.json
Labels: auto-merge, WebPubSub

#25486 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: auto-merge, WebPubSub

#25518 Port from main: bump xml2js version to resolve CVE-2023-0842 for @azure/core-http (#25502)
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
Labels: Azure.Core

#25531 Post release automated changes for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: auto-merge

#25500 [core-lro] Include errors
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/src/poller/models.ts
  sdk/core/core-lro/src/poller/operation.ts
  sdk/core/core-lro/src/poller/poller.ts
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#25519 Sync eng/common directory with azure-sdk-tools for PR 5951
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#25533 [ACR] Deprecate support for Azure Germany
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/src/models.ts
Labels: Container Registry

#25516 [Storage] Fixed an issue of: StoragePipelineOptions is not passed constructor correctly
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
Labels: Storage

#25537 [ACR] Prepare beta release
  sdk/containerregistry/container-registry/CHANGELOG.md
Labels: Container Registry

#25549 [identity] Merging Hotfix/identity 3.1.4 into main
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/samples/v2/javascript/deviceCode.js
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
Labels: EngSys, Service Bus, Storage, Azure.Identity, Cognitive - Language

#25555 [core] Fix UUID if not present in Node.js
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/src/uuidUtils.ts
Labels: Azure.Core

#25535 [Identity] Remove proactive refresh in for Managed Identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/test/internal/node/utils.spec.ts
Labels: Azure.Identity

#25559 [Identity] update changelog and prepare release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#25557 [core] Update to release @azure/core-util
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Core

#25103 Added Diagnostic type definitions for @azure/cosmos
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnosticsContext.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#25564 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry, auto-merge

#25562 Post release automated changes for core releases
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core, auto-merge

#25470 [perf-test][form recognizer] testing latest version ^4.0.0
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
Labels: Cognitive - Form Recognizer

#25571 Post release automated changes for core releases
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/util/constants.ts
Labels: auto-merge

#25570 [eventhubs-checkpointstore-table] upgrade dependency `@azure/data-tables` to `^13.2.2`
  sdk/eventhub/eventhubs-checkpointstore-table/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
Labels: Event Hubs

#25576 Sync eng/common directory with azure-sdk-tools for PR 5991
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#25569 [Language Text Authoring] Add a sample and skip executing it
  common/config/rush/pnpm-lock.yaml
  sdk/cognitivelanguage/ai-language-textauthoring/package.json
  sdk/cognitivelanguage/ai-language-textauthoring/sample.env
  sdk/cognitivelanguage/ai-language-textauthoring/samples-dev/import.ts
  sdk/cognitivelanguage/ai-language-textauthoring/tsconfig.json
Labels: Cognitive - Language

#25492 [service bus] Updating to latest OTEL for Messaging
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/core/streamingReceiver.ts
  sdk/servicebus/service-bus/src/diagnostics/instrumentServiceBusMessage.ts
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/receiverCommon.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/serviceBusMessageBatch.ts
  sdk/servicebus/service-bus/test/internal/unit/tracing.spec.ts
Labels: Service Bus

#25578 Sync eng/common directory with azure-sdk-tools for PR 5995
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#25575 [communication][communication-short-codes] support pagination in short codes
  sdk/communication/communication-short-codes/CHANGELOG.md
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/communication/communication-short-codes/src/models.ts
  sdk/communication/communication-short-codes/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/src/utils/customPipelinePolicies.ts
Labels: Communication - Short Codes

#25594 [language text] Skip healthcare tasks
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
Labels: Cognitive - Language

#25598 Sync eng/common directory with azure-sdk-tools for PR 6004
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#25597 [event hubs] Update OTEL to latest spec
  sdk/eventhub/event-hubs/src/diagnostics/instrumentEventData.ts
  sdk/eventhub/event-hubs/src/diagnostics/tracing.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/test/internal/diagnostics/tracing.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/partitionPump.spec.ts
  sdk/servicebus/service-bus/src/diagnostics/tracing.ts
Labels: Service Bus, Event Hubs

#25605 Sync eng/common directory with azure-sdk-tools for PR 5911
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25595 [language text authoring] Create public test folder
  common/config/rush/pnpm-lock.yaml
  sdk/cognitivelanguage/ai-language-textauthoring/package.json
  sdk/cognitivelanguage/ai-language-textauthoring/test/public/helloWorld.spec.ts
Labels: Cognitive - Language

#25534 [Identity] Add stubs for MSAL token getters in node `WorkloadIdentityCredential` tests
  sdk/identity/identity-cache-persistence/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity-vscode/test/public/node/visualStudioCodeCredential.spec.ts
  sdk/identity/identity/assets/fake-federated-token-file.txt
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/internal/node/workloadIdentityCredential.spec.ts
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
  sdk/identity/identity/test/public/node/authorityValidation.spec.ts
  sdk/identity/identity/test/public/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/public/node/caeARM.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/public/node/workloadIdentityCredential.spec.ts
Labels: Azure.Identity

#25585 confidentialledger release
  common/config/rush/pnpm-lock.yaml
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/_meta.json
  sdk/confidentialledger/arm-confidentialledger/package.json
  sdk/confidentialledger/arm-confidentialledger/review/arm-confidentialledger.api.md
  sdk/confidentialledger/arm-confidentialledger/src/models/index.ts
  sdk/confidentialledger/arm-confidentialledger/src/models/mappers.ts
Labels: ConfidentialLedger

#25606 [perf-tests][metrics-advisor] upgrade to depend on `ai-metrics-advisor` GA version
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/package.json
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/listAnomalies.spec.ts
  sdk/metricsadvisor/perf-tests/ai-metrics-advisor/test/listIncidents.spec.ts
Labels: Cognitive - Metrics Advisor

#25607 [Web Pubsub] Migrate recordings to the assets repo
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_broadcast_to_group_with_filter.json
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_broadcast_to_groups.json
  sdk/web-pubsub/web-pubsub/recordings/node/group_client_working_with_a_group/recording_can_manage_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_apim.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_using_the_dac.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_broadcast_with_filter.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_check_if_a_connection_exists.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_generate_client_tokens.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_grant_permissions_to_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_manage_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_manage_users.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_revoke_permissions_from_connections.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_messages_to_a_connection.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_messages_to_a_user.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_send_to_a_user_with_filter.json
  sdk/web-pubsub/web-pubsub/recordings/node/hubclient_working_with_a_hub/recording_can_trace_through_the_various_options.json
Labels: WebPubSub

#25498 [identity] update TS guide
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/samples-dev/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples-dev/clientSecretCredential.ts
  sdk/identity/identity/samples-dev/defaultAzureCredential.ts
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/v3-beta/javascript/README.md
  sdk/identity/identity/samples/v3-beta/javascript/azureDeveloperCliCredential.js
  sdk/identity/identity/samples/v3-beta/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/v3-beta/javascript/defaultAzureCredential.js
  sdk/identity/identity/samples/v3-beta/typescript/README.md
  sdk/identity/identity/samples/v3-beta/typescript/src/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/src/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/workloadIdentityCredential.ts
  sdk/identity/identity/test/internal/node/azureDeveloperCliCredential.spec.ts
Labels: Azure.Identity

#25628 Post release automated changes for postgresql releases
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
Labels: Mgmt, auto-merge

#25632 authorization test
  sdk/authorization/arm-authorization/recordings/node/authorization_test/recording_roledefinitions_create_test.json
  sdk/authorization/arm-authorization/recordings/node/authorization_test/recording_roledefinitions_delete_test.json
  sdk/authorization/arm-authorization/recordings/node/authorization_test/recording_roledefinitions_get_test.json
  sdk/authorization/arm-authorization/recordings/node/authorization_test/recording_roledefinitions_list_test.json
  sdk/authorization/arm-authorization/test/authorization_operations_test.spec.ts
  sdk/authorization/arm-authorization/test/sampleTest.ts
Labels: Mgmt

#25636 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/package.json
  sdk/authorization/arm-authorization/src/authorizationManagementClient.ts
Labels: Mgmt, auto-merge

#25633 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#25624 [App Config] 1.4.1 release
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/appconfiguration/perf-tests/app-configuration/package.json
  sdk/appconfiguration/perf-tests/app-configuration/tsconfig.json
Labels: App Configuration

#25609 Engsys/prepare for types node v16
  sdk/anomalydetector/ai-anomaly-detector-rest/samples-dev/sample_multivariate_detection.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
Labels: Azure.Core

#25432 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt, auto-merge

#25617 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, auto-merge

#25635 Post release automated changes for containerinstance releases
  sdk/containerinstance/arm-containerinstance/CHANGELOG.md
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerinstance/arm-containerinstance/src/containerInstanceManagementClient.ts
Labels: Mgmt, auto-merge

#25630 Post release automated changes for eventhub releases
  sdk/eventhub/arm-eventhub/CHANGELOG.md
  sdk/eventhub/arm-eventhub/package.json
  sdk/eventhub/arm-eventhub/src/eventHubManagementClient.ts
Labels: Mgmt, auto-merge

#25452 Post release automated changes for communication releases
  sdk/communication/arm-communication/CHANGELOG.md
  sdk/communication/arm-communication/package.json
  sdk/communication/arm-communication/src/communicationServiceManagementClient.ts
Labels: Mgmt, auto-merge, Communication

#25612 [Identity] Archboard review identity
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/authorityValidationOptions.ts
  sdk/identity/identity/src/credentials/azureCliCredentialOptions.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredentialOptions.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredentialOptions.ts
  sdk/identity/identity/src/credentials/clientAssertionCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredentialOptions.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/tokenExchangeMsi.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredentialOptions.ts
  sdk/identity/identity/src/credentials/workloadIdentityCredential.ts
  sdk/identity/identity/src/credentials/workloadIdentityCredentialOptions.ts
  sdk/identity/identity/test/internal/node/workloadIdentityCredential.spec.ts
  sdk/identity/identity/test/public/node/workloadIdentityCredential.spec.ts
Labels: Azure.Identity

#25622 [identity] token caching doc
  sdk/identity/identity/README.md
  sdk/identity/identity/TOKEN_CACHING.md
Labels: Azure.Identity

#25659 Sync eng/common directory with azure-sdk-tools for PR 6045
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
Labels: EngSys, Central-EngSys

#25662 [opentelemetry instrumentation] Release for 1.0-beta3
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
Labels: OpenTelemetryInstrumentation

#25663 Post release automated changes for instrumentation releases
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/configuration.ts
Labels: auto-merge, OpenTelemetryInstrumentation

#25536 [communication][communication-alpha-ids] inlcude internal tests in alphaids
  sdk/communication/communication-alpha-ids/package.json
  sdk/communication/communication-alpha-ids/test/internal/generated_client.spec.ts
Labels: Communication - Alpha IDs

#25685 Add task to verify json files contain required members after ToC generation
  eng/pipelines/docindex.yml
Labels: Docs

#25621 Add @azure/monitor-opentelemetry project
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/monitor/ci.yml
  sdk/monitor/monitor-opentelemetry/.eslintignore
  sdk/monitor/monitor-opentelemetry/.eslintrc.json
  sdk/monitor/monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry/README.md
  sdk/monitor/monitor-opentelemetry/api-extractor.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-opentelemetry/review/monitor-opentelemetry.api.md
  sdk/monitor/monitor-opentelemetry/sample.env
  sdk/monitor/monitor-opentelemetry/samples-dev/customMetric.ts
  sdk/monitor/monitor-opentelemetry/samples-dev/customTrace.ts
  sdk/monitor/monitor-opentelemetry/src/client.ts
  sdk/monitor/monitor-opentelemetry/src/index.ts
  sdk/monitor/monitor-opentelemetry/src/metrics/handler.ts
  sdk/monitor/monitor-opentelemetry/src/metrics/index.ts
  sdk/monitor/monitor-opentelemetry/src/metrics/nativeMetrics.ts
  sdk/monitor/monitor-opentelemetry/src/metrics/performanceCounters.ts
  sdk/monitor/monitor-opentelemetry/src/metrics/standardMetrics.ts
  sdk/monitor/monitor-opentelemetry/src/metrics/types.ts
  sdk/monitor/monitor-opentelemetry/src/shared/config.ts
  sdk/monitor/monitor-opentelemetry/src/shared/index.ts
  sdk/monitor/monitor-opentelemetry/src/shared/jsonConfig.ts
  sdk/monitor/monitor-opentelemetry/src/shared/logging/index.ts
  sdk/monitor/monitor-opentelemetry/src/shared/logging/internal.ts
  sdk/monitor/monitor-opentelemetry/src/shared/logging/logger.ts
  sdk/monitor/monitor-opentelemetry/src/shared/types.ts
  sdk/monitor/monitor-opentelemetry/src/traces/handler.ts
  sdk/monitor/monitor-opentelemetry/src/traces/index.ts
  sdk/monitor/monitor-opentelemetry/src/traces/spanProcessor.ts
  sdk/monitor/monitor-opentelemetry/src/utils/common.ts
  sdk/monitor/monitor-opentelemetry/src/utils/fileSystem.ts
  sdk/monitor/monitor-opentelemetry/src/utils/index.ts
  sdk/monitor/monitor-opentelemetry/test/internal/unit/client.test.ts
  sdk/monitor/monitor-opentelemetry/tests.yml
  sdk/monitor/monitor-opentelemetry/tsconfig.json
Labels: Monitor
