Repository Azure/azure-sdk-for-js, pull requests merged in 2023-03, with the labels that each got.

#25031 Sync eng/common directory with azure-sdk-tools for PR 5581
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#25037 Sync eng/common directory with azure-sdk-tools for PR 5540
  eng/common/scripts/Cadl-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#25040 [Event Hubs] Minor edits
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/util/retries.ts
Labels: Event Hubs

#25042 Fix Azure Key Vault Keys Readme Issues
  sdk/keyvault/keyvault-keys/README.md
Labels: KeyVault

#25049 [Agrifood] Cleaning up old secrets from sample.env
  sdk/agrifood/agrifood-farming-rest/samples/v1-beta/javascript/sample.env
  sdk/agrifood/agrifood-farming-rest/samples/v1-beta/typescript/sample.env
  sdk/agrifood/agrifood-farming-rest/samples/v1/javascript/sample.env
  sdk/agrifood/agrifood-farming-rest/samples/v1/typescript/sample.env
Labels: AgriFood

#25055 [ServiceBus] Prepare for 2023 March release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#25054 [core] Prepare for 2023 March release
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/logger/CHANGELOG.md
Labels: Azure.Core

#25050 Add Media methods and models
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
Labels: Communication

#25056 Updating EmailMessage model to accept the correct content model
  sdk/communication/communication-email/review/communication-email.api.md
  sdk/communication/communication-email/src/models.ts
Labels: Communication

#25066 [storage-blob-changefeed] Migrate test recordings out of repo
  sdk/storage/storage-blob-changefeed/assets.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_bypage.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_could_abort.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_next_fetch_all_events.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_next_with_start_and_end_time.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_tracing.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient/recording_user_agent_set_correctly.json
  sdk/storage/storage-blob-changefeed/recordings/node/blobchangefeedclient_change_feed_not_configured/recording_should_throw_when_fetching_changes.json
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v1_test.json
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v3_test.json
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v4_test.json
  sdk/storage/storage-blob-changefeed/recordings/node/change_feed_event_schema_test/recording_event_schema_v5_test.json
Labels: Client, Storage

#25011 Logging for api request body for better diagnosability
  sdk/template/template/package.json
Labels: EngSys, Central-EngSys

#25067 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core, auto-merge

#25069 Sync eng/common directory with azure-sdk-tools for PR 5603
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#25064 Sync eng/common directory with azure-sdk-tools for PR 5595
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#25083 Guoqing/phone numbers update
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists/recording_can_list_all_geographic_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists/recording_can_list_all_toll_free_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists_aad/recording_can_list_all_geographic_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists_aad/recording_can_list_all_toll_free_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__countries_lists/recording_can_list_all_available_countries.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__countries_lists_aad/recording_can_list_all_available_countries.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists/recording_can_list_available_localities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists/recording_can_list_available_localities_with_administrative_division.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists_aad/recording_can_list_available_localities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists_aad/recording_can_list_available_localities_with_administrative_division.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__offerings_lists/recording_can_list_available_offerings.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__offerings_lists_aad/recording_can_list_available_offerings.json
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/generated/src/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/lroImpl.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/mappers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/pagingHelper.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/mockHttpClients.ts
Labels: Communication

#25048 [storage-file-datalake] Migrate to core-tracing GA
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeLeaseClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/utils/tracing.ts
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Client, Storage

#25051 Unit Test Setup
  sdk/communication/communication-call-automation/.eslintrc.json
  sdk/communication/communication-call-automation/test/public/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/public/utils/connectionUtils.ts
Labels: Communication

#25110 [core-http-compat] Fix issue with disable keep alive policy being added multiple times
  sdk/core/core-http-compat/src/extendedClient.ts
  sdk/core/core-http-compat/src/policies/disableKeepAlivePolicy.ts
  sdk/core/core-http-compat/test/extendedClient.spec.ts
Labels: Client, Azure.Core

#25072 [storage-file-datalake] [Bug Fix] Fix the date property(createdOn, expiresOn) in some of the returned responses
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
Labels: Client, Storage

#25114 [Event Hubs] Prepare March release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#25116 Guoqing/phone numbers update
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists/recording_can_list_all_geographic_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists/recording_can_list_all_toll_free_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists_aad/recording_can_list_all_geographic_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__area_codes_lists_aad/recording_can_list_all_toll_free_area_codes.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__countries_lists/recording_can_list_all_available_countries.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__countries_lists_aad/recording_can_list_all_available_countries.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_can_get_a_purchased_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__get_phone_number_aad/recording_errors_if_phone_number_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lists_aad/recording_can_list_all_purchased_phone_numbers.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists/recording_can_list_available_localities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists/recording_can_list_available_localities_with_administrative_division.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists_aad/recording_can_list_available_localities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__localities_lists_aad/recording_can_list_available_localities_with_administrative_division.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__purchase_and_release_aad/recording_can_purchase_and_release_a_phone_number.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_can_search_for_1_available_phone_number_by_default.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__search_aad/recording_throws_on_invalid_search_request.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_is_invalid.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update/recording_update_throws_when_phone_number_is_unauthorized.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_can_update_a_phone_numbers_capabilities.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_is_invalid.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__lro__update_aad/recording_update_throws_when_phone_number_is_unauthorized.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__offerings_lists/recording_can_list_available_offerings.json
  sdk/communication/communication-phone-numbers/recordings/node/phonenumbersclient__offerings_lists_aad/recording_can_list_available_offerings.json
Labels: Communication

#25038 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity, auto-merge

#23627 [Search] Allow nested field names to be specified in `select` and `searchField` options
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/test/narrowedTypes.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
Labels: Search

#25119 [identity] fix workload identity bug
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/workloadIdentityCredential.ts
Labels: Azure.Identity

#25120 Changing core lro dependency to 2.5.1
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-email/package.json
Labels: Communication

#25095 Update log level to verbose when unrecognized status
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/http/operation.ts
Labels: Azure.Core

#25141 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#25093 bugbash changes
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/src/models/responses.ts
Labels: Communication

#25145 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, auto-merge

#25118 [Monitor OpenTelemetry Exporter] Remove standard metrics custom handling
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/metricUtils.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/utils/basic.ts
Labels: Monitor

#25143 Sync eng/common directory with azure-sdk-tools for PR 5627
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#25099 [Event Hubs] Cleanup
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/receiveHandler.ts
Labels: Event Hubs

#25070 [core-amqp,event-hubs,service-bus] upgrade `rhea-promise` dependency version to `^3.0.0`
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/test/context.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus, Event Hubs, Azure.Core

#25170 [engsys] upgrade dependency `glob` version to `^9.0.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-doc-internal.ts
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/execute.js
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/src/getTemplates.ts
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
Labels: eslint plugin

#25155 [identity] Re-export WorkloadIdentityCredential options
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/workloadIdentityCredentialOptions.ts
  sdk/identity/identity/src/index.ts
Labels: Azure.Identity

#24977 [Service Bus] [Stress Tests] Fix build failure - chart.yaml
  sdk/servicebus/service-bus/test/stress/Chart.lock
  sdk/servicebus/service-bus/test/stress/Chart.yaml
  sdk/servicebus/service-bus/test/stress/scenarios-matrix.yaml
  sdk/servicebus/service-bus/test/stress/templates/testjob.yaml
  sdk/servicebus/service-bus/test/stress/values.yaml
Labels: Service Bus

#25174 update to match dotnet sdk more closely
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
Labels: Communication

#24879 [webpubsub] Init pr for client protobuf protocol
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/web-pubsub/web-pubsub-client-protobuf/.eslintrc.json
  sdk/web-pubsub/web-pubsub-client-protobuf/.vscode/launch.json
  sdk/web-pubsub/web-pubsub-client-protobuf/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-client-protobuf/README.md
  sdk/web-pubsub/web-pubsub-client-protobuf/api-extractor.json
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/review/web-pubsub-client-protobuf.api.md
  sdk/web-pubsub/web-pubsub-client-protobuf/sample.env
  sdk/web-pubsub/web-pubsub-client-protobuf/samples-dev/basicusage.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/samples-dev/tsconfig.json
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/javascript/README.md
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/javascript/basicusage.js
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/javascript/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/javascript/sample.env
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/typescript/README.md
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/typescript/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/typescript/sample.env
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/typescript/src/basicusage.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/samples/v1-beta/typescript/tsconfig.json
  sdk/web-pubsub/web-pubsub-client-protobuf/src/generated/clientProto.d.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/generated/clientProto.js
  sdk/web-pubsub/web-pubsub-client-protobuf/src/index.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/logger.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/protos/client.proto
  sdk/web-pubsub/web-pubsub-client-protobuf/src/webPubSubProtobufProtocol.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/webPubSubProtobufProtocolBase.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/webPubSubProtobufReliableProtocol.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/test/client.spec.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/tsconfig.json
Labels: auto-merge, WebPubSub

#25123 [keyvault] Add support for 7.4 API version
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/assets.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/samples/v4/typescript/tsconfig.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/public/settingsClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/utils/common.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/assets.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/common.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/assets.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/public/utils/common.ts
  sdk/keyvault/keyvault-keys/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/assets.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/keyvault-secrets/test/public/utils/common.ts
Labels: KeyVault

#25175 Add missing environments to communication- packages
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-email/tests.yml
  sdk/communication/communication-phone-numbers/tests.yml
  sdk/communication/communication-rooms/tests.yml
  sdk/communication/communication-sms/tests.yml
  sdk/communication/communication-toll-free-verification/tests.yml
Labels: Communication

#25150 [ACR] Samples updates to address feedback
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/downloadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/downloadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/src/blob/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/blob/models.ts
  sdk/containerregistry/container-registry/test/public/containerRegistryBlobClient.spec.ts
Labels: Container Registry

#25176 [Event Hubs] Simplify LinkEntity
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
Labels: Event Hubs

#25205 [digital twins] Update README snippets
  sdk/digitaltwins/digital-twins-core/README.md
Labels: Digital Twins

#25193 [keyvault] Prepare release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#25190 updated the sdk according to code review feedback
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/index.ts
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/src/utli/converters.ts
Labels: Communication

#25203 purview-sharing-rest: Update changelog for package release
  sdk/purview/purview-sharing-rest/CHANGELOG.md
Labels: Purview

#25191 [core-amqp] upgrade dependency `rhea` to `^3.0.0`
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
Labels: Event Hubs, Azure.Core

#24661 Setup cross language cadl compile
  .gitignore
  eng/emitter-package.json
  eng/scripts/Language-Settings.ps1
Labels: auto-merge

#25219 Post release automated changes for dataprotection releases
  sdk/dataprotection/arm-dataprotection/CHANGELOG.md
  sdk/dataprotection/arm-dataprotection/package.json
  sdk/dataprotection/arm-dataprotection/src/dataProtectionClient.ts
Labels: auto-merge

#25185 [ServiceBus] when batch-receiving add credit when needed
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
Labels: Service Bus

#25192 [acr] Make audience optional
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/anonymousListTags.ts
  sdk/containerregistry/container-registry/samples-dev/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples-dev/deleteImages.ts
  sdk/containerregistry/container-registry/samples-dev/downloadImage.ts
  sdk/containerregistry/container-registry/samples-dev/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples-dev/setImageProperties.ts
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/anonymousListTags.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/deleteImages.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/downloadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/repositoryAndArtifact.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/setImageProperties.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/anonymousListTags.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteImages.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/setImageProperties.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/src/blob/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/blob/models.ts
  sdk/containerregistry/container-registry/src/containerRegistryClient.ts
Labels: Container Registry

#25148 fix: confidential-ledger-rest: remove mocha arrow functions
  sdk/confidentialledger/confidential-ledger-rest/test/public/colderEndpoints.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/getCollections.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/historicalRangeQuery.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/ledgerHistory.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/listEnclaveQuotes.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/postTransaction.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/testUserAuth.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/usersEndpoint.spec.ts
Labels: customer-reported, Confidential Ledger

#25211 Sync eng/common directory with azure-sdk-tools for PR 5613
  eng/common/testproxy/override-proxy-version.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#25194 [Communication] PhoneNumbers - Simplify status code assertions.
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/statusCodeHelpers.ts
Labels: Communication

#25189 [ACR] uploadBlob updates
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/src/blob/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/blob/models.ts
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/swagger/README.md
  sdk/containerregistry/container-registry/test/public/containerRegistryBlobClient.spec.ts
Labels: Container Registry

#25183 [web-pubsub-client-protobuf] Add more tests
  sdk/web-pubsub/web-pubsub-client-protobuf/src/generated/clientProto.d.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/generated/clientProto.js
  sdk/web-pubsub/web-pubsub-client-protobuf/src/protos/client.proto
  sdk/web-pubsub/web-pubsub-client-protobuf/src/webPubSubProtobufProtocolBase.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/test/client.spec.ts
Labels: auto-merge, WebPubSub

#25238 [ACR] Samples for deleteBlob, deleteManifest, and custom manifest upload/download
  sdk/containerregistry/container-registry/samples-dev/deleteBlob.ts
  sdk/containerregistry/container-registry/samples-dev/deleteManifest.ts
  sdk/containerregistry/container-registry/samples-dev/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples-dev/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/deleteBlob.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/deleteManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/downloadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteBlob.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadCustomManifest.ts
Labels: Container Registry

#25251 [amqp messaging] bump dependency @azure/core-amqp version to ^3.3.0
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, Event Hubs

#25250 [storage][test] remove IE11/Edge workaround
  sdk/storage/storage-blob/test/utils/index.browser.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-queue/test/utils/index.browser.ts
Labels: Storage

#25060 datafactory release
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_create_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_delete_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_get_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_datafactory_list_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_dataflowdebugsession_create_test.json
  sdk/datafactory/arm-datafactory/recordings/node/datafactory_test/recording_dataflowdebugsession_delete_test.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
Labels: Mgmt

#25260 Sync eng/common directory with azure-sdk-tools for PR 5702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#25179 [ACS] Call Automation Initial Commit of Javascript SDK
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/communication/ci.yml
  sdk/communication/communication-call-automation/.eslintrc.json
  sdk/communication/communication-call-automation/.gitignore
  sdk/communication/communication-call-automation/.nycrc
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/LICENSE
  sdk/communication/communication-call-automation/README.md
  sdk/communication/communication-call-automation/api-extractor.json
  sdk/communication/communication-call-automation/karma.conf.js
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/sample.env
  sdk/communication/communication-call-automation/samples-dev/createCallOperations.ts
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/generated/src/callAutomationApiClient.ts
  sdk/communication/communication-call-automation/src/generated/src/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/generated/src/models/parameters.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callConnection.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callMedia.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callRecording.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/index.ts
  sdk/communication/communication-call-automation/src/generated/src/operationsInterfaces/callConnection.ts
  sdk/communication/communication-call-automation/src/generated/src/operationsInterfaces/callMedia.ts
  sdk/communication/communication-call-automation/src/generated/src/operationsInterfaces/callRecording.ts
  sdk/communication/communication-call-automation/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-call-automation/src/index.ts
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/logger.ts
  sdk/communication/communication-call-automation/src/models/mapper.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/src/models/responses.ts
  sdk/communication/communication-call-automation/src/utli/converters.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test.env
  sdk/communication/communication-call-automation/test/public/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/public/utils/connectionUtils.ts
  sdk/communication/communication-call-automation/test/public/utils/recordedClient.ts
  sdk/communication/communication-call-automation/tests.yml
  sdk/communication/communication-call-automation/tsconfig.json
Labels: Communication

#25263 [ACR] Update samples with recent changes
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/src/blob/models.ts
Labels: Container Registry

#25257 Sync eng/common directory with azure-sdk-tools for PR 5691
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#25125 [Communication][Email] Separating Email test resources + Adding PPE live tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/communication/CONTRIBUTING.md
  sdk/communication/communication-alpha-ids/tests.yml
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-common/tests.yml
  sdk/communication/communication-email/test-resources.json
  sdk/communication/communication-email/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-network-traversal/tests.yml
  sdk/communication/communication-phone-numbers/tests.yml
  sdk/communication/communication-recipient-verification/tests.yml
  sdk/communication/communication-rooms/tests.yml
  sdk/communication/communication-short-codes/tests.yml
  sdk/communication/communication-sms/tests.yml
  sdk/communication/communication-toll-free-verification/tests.yml
  sdk/communication/test-resources/test-resources.json
Labels: Communication

#25246 Update event hubs to enable live testing in sovereign clouds for multiple services
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
  sdk/eventhub/event-hubs/tests.yml
Labels: Event Hubs

#25287 [language-text] Fix test for grapheme offset in PII Entity
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/aad_textanalysisclient_analyze_string_encoding_textelementsv8/recording_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/aad_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/aad_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_string_encoding_textelementsv8/recording_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji.json
  sdk/cognitivelanguage/ai-language-text/recordings/browsers/apikey_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/aad_textanalysisclient_analyze_string_encoding_textelementsv8/recording_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/aad_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/aad_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_string_encoding_textelementsv8/recording_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji.json
  sdk/cognitivelanguage/ai-language-text/recordings/node/apikey_textanalysisclient_analyze_string_encoding_textelementsv8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/cognitivelanguage/ai-language-text/test/public/analyze.spec.ts
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalyticsclient_fast_tests_string_encoding_textelement_v8/recording_family_emoji_with_skin_tone_modifier.json
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#21039 @azure/app-configuration: Fix docs for app config labelFilter
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/karma.conf.js
  sdk/appconfiguration/app-configuration/recordings/browsers/appconfigurationclient_listconfigsettings/recording_matches_any_key_without_label__backslash0.json
  sdk/appconfiguration/app-configuration/recordings/node/appconfigurationclient_listconfigsettings/recording_matches_any_key_without_label__backslash0.json
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/perf-tests/app-configuration/test/listSettings.spec.ts
Labels: customer-reported, App Configuration

#24955 Enable index metrics feature
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/indexMetrics/CompositeIndexUtilizationEntity.ts
  sdk/cosmosdb/cosmos/src/indexMetrics/Constants.ts
  sdk/cosmosdb/cosmos/src/indexMetrics/IndexMetricWriter.ts
  sdk/cosmosdb/cosmos/src/indexMetrics/IndexUtilizationInfo.ts
  sdk/cosmosdb/cosmos/src/indexMetrics/SingleIndexUtilizationEntity.ts
  sdk/cosmosdb/cosmos/src/indexMetrics/index.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/FeedResponse.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/public/indexMetrics.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/query.spec.ts
Labels: Cosmos

#25297 Post release automated changes for monitor releases
  sdk/monitor/arm-monitor/CHANGELOG.md
  sdk/monitor/arm-monitor/package.json
  sdk/monitor/arm-monitor/src/monitorClient.ts
Labels: Mgmt, Monitor, auto-merge

#25292 Update tests for Media functions (Play, Recognize, Cancel)
  sdk/communication/communication-call-automation/test/public/callMediaClient.spec.ts
Labels: Communication

#25305 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt, auto-merge

#25302 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#25300 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt, auto-merge

#25299 Post release automated changes for digitaltwins releases
  sdk/digitaltwins/arm-digitaltwins/CHANGELOG.md
  sdk/digitaltwins/arm-digitaltwins/package.json
  sdk/digitaltwins/arm-digitaltwins/src/azureDigitalTwinsManagementClient.ts
Labels: Mgmt, Digital Twins, auto-merge

#25262 Post release automated changes for notificationhubs releases
  sdk/notificationhubs/notification-hubs/CHANGELOG.md
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/src/utils/constants.ts
Labels: auto-merge

#25247 Post release automated changes for purview releases
  sdk/purview/purview-sharing-rest/CHANGELOG.md
  sdk/purview/purview-sharing-rest/package.json
  sdk/purview/purview-sharing-rest/src/purviewSharing.ts
  sdk/purview/purview-sharing-rest/swagger/README.md
Labels: auto-merge, Purview

#25218 Post release automated changes for resources releases
  sdk/resources/arm-resources/CHANGELOG.md
  sdk/resources/arm-resources/package.json
  sdk/resources/arm-resources/src/resourceManagementClient.ts
Labels: Mgmt, auto-merge

#25212 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/package.json
Labels: KeyVault, auto-merge

#25158 Post release automated changes for voiceservices releases
  sdk/voiceservices/arm-voiceservices/CHANGELOG.md
  sdk/voiceservices/arm-voiceservices/package.json
  sdk/voiceservices/arm-voiceservices/src/microsoftVoiceServices.ts
Labels: auto-merge

#25129 Post release automated changes for storagemover releases
  sdk/storagemover/arm-storagemover/CHANGELOG.md
  sdk/storagemover/arm-storagemover/package.json
  sdk/storagemover/arm-storagemover/src/storageMoverClient.ts
Labels: auto-merge

#25045 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos, auto-merge

#25039 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: auto-merge, Communication

#25184 Post release automated changes for purview releases
  sdk/purview/purview-workflow-rest/CHANGELOG.md
  sdk/purview/purview-workflow-rest/package.json
  sdk/purview/purview-workflow-rest/src/purviewWorkflow.ts
  sdk/purview/purview-workflow-rest/swagger/README.md
Labels: auto-merge, Purview

#25079 Post release automated changes for workloads releases
  sdk/workloads/arm-workloads/CHANGELOG.md
  sdk/workloads/arm-workloads/package.json
  sdk/workloads/arm-workloads/src/workloadsClient.ts
Labels: auto-merge

#24978 Post release automated changes for agrifood releases
  sdk/agrifood/agrifood-farming-rest/CHANGELOG.md
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/agrifood/agrifood-farming-rest/swagger/README.md
Labels: auto-merge, AgriFood

#24917 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, Cosmos, auto-merge

#24906 Post release automated changes for monitor releases
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/src/constants.ts
  sdk/monitor/monitor-ingestion/src/generated/generatedMonitorIngestionClientContext.ts
  sdk/monitor/monitor-ingestion/swagger/README.md
Labels: Monitor, auto-merge

#24805 Post release automated changes for authorization releases
  sdk/authorization/arm-authorization/CHANGELOG.md
  sdk/authorization/arm-authorization/package.json
  sdk/authorization/arm-authorization/src/authorizationManagementClient.ts
Labels: Mgmt, auto-merge

#25321 Post release automated changes for graphservices releases
  sdk/graphservices/arm-graphservices/CHANGELOG.md
  sdk/graphservices/arm-graphservices/package.json
  sdk/graphservices/arm-graphservices/src/graphServices.ts
Labels: auto-merge

#25274 [Communication][Email] Preparing SDK for GA release
  sdk/communication/communication-email/CHANGELOG.md
  sdk/communication/communication-email/README.md
  sdk/communication/communication-email/package.json
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_sends_an_email_to_a_single_recipient.json
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_sends_an_email_to_multiple_types_of_recipients.json
  sdk/communication/communication-email/recordings/browsers/emailclient_playbacklive/recording_successfully_sends_an_email_with_an_attachment.json
  sdk/communication/communication-email/recordings/node/emailclient_playbacklive/recording_successfully_sends_an_email_to_a_single_recipient.json
  sdk/communication/communication-email/recordings/node/emailclient_playbacklive/recording_successfully_sends_an_email_to_multiple_types_of_recipients.json
  sdk/communication/communication-email/recordings/node/emailclient_playbacklive/recording_successfully_sends_an_email_with_an_attachment.json
  sdk/communication/communication-email/review/communication-email.api.md
  sdk/communication/communication-email/src/generated/src/emailRestApiClient.ts
  sdk/communication/communication-email/src/generated/src/models/index.ts
  sdk/communication/communication-email/src/generated/src/models/mappers.ts
  sdk/communication/communication-email/src/generated/src/models/parameters.ts
  sdk/communication/communication-email/src/models.ts
  sdk/communication/communication-email/swagger/README.md
  sdk/communication/communication-email/test/public/utils/recordedClient.ts
Labels: Communication

#25325 Sync eng/common directory with azure-sdk-tools for PR 5742
  eng/common/scripts/trust-proxy-certificate.ps1
Labels: EngSys, Central-EngSys

#25329 [Communication][Email] Adding parameter for only running the PPE stage
  sdk/communication/communication-email/tests.yml
Labels: Communication

#25331 [Email][Communication] Fixing error with the Clouds parameter in the live tests
  sdk/communication/communication-email/tests.yml
Labels: Communication

#25334 Post release automated changes for desktopvirtualization releases
  sdk/desktopvirtualization/arm-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/arm-desktopvirtualization/package.json
  sdk/desktopvirtualization/arm-desktopvirtualization/src/desktopVirtualizationAPIClient.ts
Labels: auto-merge

#25339 Post release automated changes for security releases
  sdk/security/arm-security/CHANGELOG.md
  sdk/security/arm-security/package.json
  sdk/security/arm-security/src/securityCenter.ts
Labels: Mgmt, auto-merge

#25349 [ServiceBus] Fix issue sending message body of `Uint8Array`
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/test/internal/unit/dataTransformer.spec.ts
Labels: Service Bus

#25342 Post release automated changes for orbital releases
  sdk/orbital/arm-orbital/CHANGELOG.md
  sdk/orbital/arm-orbital/package.json
  sdk/orbital/arm-orbital/src/azureOrbital.ts
Labels: auto-merge

#25340 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, Cosmos, auto-merge

#25344 Post release automated changes for containerregistry releases
  sdk/containerregistry/arm-containerregistry/CHANGELOG.md
  sdk/containerregistry/arm-containerregistry/package.json
  sdk/containerregistry/arm-containerregistry/src/containerRegistryManagementClient.ts
Labels: Mgmt, Container Registry, auto-merge

#25341 Post release automated changes for storagecache releases
  sdk/storagecache/arm-storagecache/CHANGELOG.md
  sdk/storagecache/arm-storagecache/package.json
  sdk/storagecache/arm-storagecache/src/storageCacheManagementClient.ts
Labels: Mgmt, auto-merge

#25343 Post release automated changes for reservations releases
  sdk/reservations/arm-reservations/CHANGELOG.md
  sdk/reservations/arm-reservations/package.json
  sdk/reservations/arm-reservations/src/azureReservationAPI.ts
Labels: Mgmt, auto-merge

#25346 Post release automated changes for appservice releases
  sdk/appservice/arm-appservice/CHANGELOG.md
  sdk/appservice/arm-appservice/package.json
  sdk/appservice/arm-appservice/src/webSiteManagementClient.ts
Labels: Mgmt, auto-merge

#25213 [identity] Enabling proactive token refreshing in Managed Identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/test/internal/node/utils.spec.ts
Labels: Azure.Identity

#25328 [ACR] Validate digest on downloadManifest
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/downloadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/src/blob/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/blob/models.ts
Labels: Container Registry

#25356 Sync eng/common directory with azure-sdk-tools for PR 5794
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#25239 [web-pubsub-client] Fix isDuplicated always returned as true
  sdk/web-pubsub/web-pubsub-client/src/webPubSubClient.ts
Labels: auto-merge, WebPubSub

#25347 [communication-common] Fix for query being detected while it is empty
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/src/credential/communicationAccessKeyCredentialPolicy.ts
  sdk/communication/communication-common/test/public/communicationKeyCredentialPolicy.spec.ts
Labels: Communication

#24569 Added support for MicrosoftBotIdentifier
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/public/identifierModels.spec.ts
Labels: Communication, Communication - Common, Communication - Identity

#25377 communication-common release 3.0.0-beta.1
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication, Communication - Common, Communication - Identity

#25214 [Event Hubs] Abstract auth loop
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/linkEntity.ts
  sdk/eventhub/event-hubs/src/log.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/util/timerLoop.ts
  sdk/eventhub/event-hubs/src/util/utils.ts
  sdk/eventhub/event-hubs/src/withAuth.ts
  sdk/eventhub/event-hubs/test/internal/cbsSession.spec.ts
  sdk/eventhub/event-hubs/test/internal/createTimerLoop.spec.ts
Labels: Event Hubs

#25366 [engsys] upgrade protobufjs dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: WebPubSub

#25382 [Communication] - Phone Numbers - Prepare for GA 1.2.0 release
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: Communication

#25369 [ServiceBus] add drainCredit timeout when suspending receiver
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/receiverHelper.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverHelper.spec.ts
Labels: Service Bus

#25383 [engsys][monitor-ot-exporter] Pin opentelemetry versions
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
Labels: Monitor

#25385 [ACR] Remove securityDefinitions property from Swagger
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry

#25376 Prepare for beta.1 release
  sdk/web-pubsub/ci.yml
  sdk/web-pubsub/web-pubsub-client-protobuf/CHANGELOG.md
Labels: auto-merge, WebPubSub

#24909 Corrected code typo in the code examples
  sdk/storage/storage-queue/src/QueueServiceClient.ts
Labels: customer-reported, Client, Storage

#25094 [Storage]Add support for encryption context
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/recordings/browsers/datalakefilesystemclient/recording_listpaths__encryption_context.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_datalakedirectoryclient_create_with__encryption_context.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_datalakefileclient_create_with_all_parameters.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_datalakefileclient_createifnotexist_with_encryption_context.json
  sdk/storage/storage-file-datalake/recordings/browsers/datalakepathclient/recording_read_a_file_with_encryption_context_set.json
  sdk/storage/storage-file-datalake/recordings/node/datalakefilesystemclient/recording_listpaths__encryption_context.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_datalakedirectoryclient_create_with__encryption_context.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_datalakefileclient_create_with_all_parameters.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_datalakefileclient_createifnotexist_with_encryption_context.js
  sdk/storage/storage-file-datalake/recordings/node/datalakepathclient/recording_read_a_file_with_encryption_context_set.js
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/path.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Storage

#25380 Sync eng/common directory with azure-sdk-tools for PR 5726
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25368 [ACR] Arch board feedback, round 1
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_a_big_blob_with_size_a_multiple_of_4mb.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_a_big_blob_with_size_not_a_multiple_of_4mb.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_a_small_blob.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_blob_from_resettable_stream.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_oci_manifest_from_resettable_stream.json
  sdk/containerregistry/container-registry/recordings/node/containerregistryblobclient/recording_can_upload_oci_manifest_stream_with_tag.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_download_docker_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_a_big_blob_with_size_a_multiple_of_4mb.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_a_big_blob_with_size_not_a_multiple_of_4mb.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_blob.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_blob_from_a_buffer.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_docker_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_from_buffer.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_from_stream.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_with_tag.json
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/deleteBlob.ts
  sdk/containerregistry/container-registry/samples-dev/deleteManifest.ts
  sdk/containerregistry/container-registry/samples-dev/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples-dev/downloadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteBlob.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/src/content/containerRegistryBlobClient.ts
  sdk/containerregistry/container-registry/src/content/index.ts
  sdk/containerregistry/container-registry/src/content/models.ts
  sdk/containerregistry/container-registry/src/index.ts
  sdk/containerregistry/container-registry/test/public/containerRegistryContentClient.spec.ts
  sdk/containerregistry/container-registry/test/utils/utils.ts
Labels: Container Registry

#25350 [Recorder] [Test Proxy] [Asset Sync] Updates to the docs
  CONTRIBUTING.md
  common/tools/dev-tool/README.md
  common/tools/dev-tool/src/commands/test-proxy/init.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  sdk/test-utils/recorder/ASSET_SYNC_MIGRATION.md
  sdk/test-utils/recorder/MIGRATION.md
  sdk/test-utils/recorder/README.md
Labels: dev-tool

#25404 Storage/stg87 preview
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Core

#25407 Post release automated changes for communication releases
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: auto-merge, Communication

#25360 Updating CODEOWNERS for communication identity and common
  .github/CODEOWNERS
Labels: Communication, Communication - Common, Communication - Identity

#25400 [core-rest-pipeline] Remove UUID module
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/util/uuidUtils.browser.ts
  sdk/core/core-rest-pipeline/src/util/uuidUtils.native.ts
  sdk/core/core-rest-pipeline/src/util/uuidUtils.ts
  sdk/core/core-rest-pipeline/test/uuidUtils.spec.ts
Labels: Azure.Core

#25408 [core-util] Add UUID methods to core-util
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/src/uuidUtils.browser.ts
  sdk/core/core-util/src/uuidUtils.native.ts
  sdk/core/core-util/src/uuidUtils.ts
  sdk/core/core-util/test/public/createAbortablePromise.spec.ts
  sdk/core/core-util/test/public/uuidUtils.spec.ts
Labels: Azure.Core

#25413 [core-rest-pipeline] Migrate to core-util UUID
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/src/util/uuidUtils.browser.ts
  sdk/core/core-rest-pipeline/src/util/uuidUtils.native.ts
  sdk/core/core-rest-pipeline/src/util/uuidUtils.ts
  sdk/core/core-rest-pipeline/test/uuidUtils.spec.ts
Labels: Azure.Core

#25390 [Event Hubs] Convert EventHubReceiver class to a function
  sdk/eventhub/event-hubs/src/batchingPartitionChannel.ts
  sdk/eventhub/event-hubs/src/connectionContext.ts
  sdk/eventhub/event-hubs/src/dataTransformer.ts
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubReceiver.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/event-hubs/src/loadBalancerStrategies/loadBalancingStrategy.ts
  sdk/eventhub/event-hubs/src/logger.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
  sdk/eventhub/event-hubs/src/pumpManager.ts
  sdk/eventhub/event-hubs/src/util/error.ts
  sdk/eventhub/event-hubs/src/withAuth.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/internal/checkOnInterval.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/waitForEvents.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
Labels: Event Hubs

#25409 Made changes in optional fields of Result & Events
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/responses.ts
Labels: Communication

#25355 [ServiceBus] add timeout around receiver drain when receiving messages
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
  sdk/servicebus/service-bus/src/util/constants.ts
  sdk/servicebus/service-bus/test/internal/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
Labels: Service Bus

#25415 [Event Hubs] Use randomUUID() from core-util
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/util/utils.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
Labels: Event Hubs

#25418 [monitor-opentelemetry-exporter] Update to latest OTEL packages
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
Labels: Monitor

#25401 [Identity] Configuring process timeout for developer credentials
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredentialOptions.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredentialOptions.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredentialOptions.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredentialOptions.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
Labels: Azure.Identity

#25133 Sync eng/common directory with azure-sdk-tools for PR 5608
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#25420 [Event Hubs] Remove uuid dep
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/inMemoryCheckpointStore.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/public/amqpAnnotatedMessage.spec.ts
  sdk/eventhub/event-hubs/test/public/eventData.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/testInMemoryCheckpointStore.ts
Labels: Event Hubs

#25427 [engsys] upgrade @typescript-eslint/* dependencies to ~5.57.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin
