Repository Azure/azure-sdk-for-js, pull requests merged in 2023-08, with the labels that each got.

#26666 update aug core release for core-rest-pipeline
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#26676 [storage-file-share] Fix empty continuation token with list methods
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
Labels: Client, Storage

#26671 Sync eng/common directory with azure-sdk-tools for PR 6611
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/onboarding/README.me
Labels: EngSys, Central-EngSys

#26646 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/src/batchManagementClient.ts
Labels: Mgmt

#26654 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
  sdk/sql/arm-sql/src/sqlManagementClient.ts
Labels: Mgmt

#26668 Post release automated changes for sphere releases
  sdk/sphere/arm-sphere/CHANGELOG.md
  sdk/sphere/arm-sphere/package.json
  sdk/sphere/arm-sphere/src/azureSphereManagementClient.ts
Labels: Mgmt

#26640 [storage-file-share] Fix DirectoryClient `exists` test
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
Labels: Client, Storage

#26685 [app config] Update readme code snippets
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration

#26592 Add encoding utils in core utils
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/bytesEncoding.browser.ts
  sdk/core/core-util/src/bytesEncoding.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/test/public/browser/bytesEncoding.spec.ts
  sdk/core/core-util/test/public/node/bytesEncoding.spec.ts
Labels: Azure.Core

#26680 [core-rest-pipeline] minor version bump to 1.12.0
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#26681 [OpenAI] Update README based on feedback
  sdk/openai/openai/README.md
Labels: OpenAI

#26689 [storage-file-share] update core-util version to ^1.4.0
  sdk/storage/storage-file-share/package.json
Labels: Storage

#26696 [open ai] Rename deploymentOrModelName to deploymentName
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/src/OpenAIClient.ts
Labels: OpenAI

#26459 Post release automated changes for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#26516 Post release automated changes for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#26698 Sync eng/common directory with azure-sdk-tools for PR 6670
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26521 [keyvault] Update migration and troubleshooting guides
  sdk/keyvault/TROUBLESHOOTING.md
  sdk/keyvault/keyvault-certificates/migration-guide.md
  sdk/keyvault/keyvault-keys/migration-guide.md
  sdk/keyvault/keyvault-secrets/migration-guide.md
Labels: KeyVault

#26507 [keyvault-secrets] Change incorrectly named `expires` property to `expiresOn` in README
  sdk/keyvault/keyvault-secrets/README.md
Labels: KeyVault

#26699 [core] update core-auth changes for CAE Identity
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/tokenCredential.ts
Labels: Azure.Core

#26700 Post release automated changes for core releases
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#26678 rename shortCodesCosts to costs in communication-short-codes
  sdk/communication/communication-short-codes/CHANGELOG.md
  sdk/communication/communication-short-codes/recordings/browsers/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs_by_page.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_list_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes_by_page.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/node/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs.json
  sdk/communication/communication-short-codes/recordings/node/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs_by_page.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_list_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__lists_short_codes/recording_can_list_all_acquired_short_codes_by_page.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/communication/communication-short-codes/src/generated/src/models/index.ts
  sdk/communication/communication-short-codes/src/generated/src/models/mappers.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/shortCodes.ts
  sdk/communication/communication-short-codes/swagger/shortcodes.json
Labels: Communication - Short Codes

#26713 [App Configuration] Update samples in Readme
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration

#26684 [Identity] For dev-time credentials the only error thrown in DAC should be CredentialUnavailableError
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/util/scopeUtils.ts
Labels: Azure.Identity

#26716 Added missing test scenarios
  sdk/communication/communication-rooms/recordings/browsers/participants_operations/recording_successfully_adds_participants_to_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/participants_operations/recording_successfully_adds_participants_to_the_room_with_null_role.json
  sdk/communication/communication-rooms/recordings/browsers/participants_operations/recording_successfully_removes_participant_not_in_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/participants_operations/recording_successfully_removes_participants_in_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/participants_operations/recording_successfully_updates_a_participant_with_role_not_specified.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_all_optional_attributes.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_an_expired_validuntil.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_an_invalid_mri_attribute.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_no_attributes.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_only_participants_attributes.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_only_valid_time_range_attributes.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_validuntil_greater_than_180_days_from_current_date.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_deletes_a_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_gets_a_valid_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_gets_an_invalid_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_list_rooms.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_update_room_with_a_valid_time_range.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_update_room_with_an_invalid_room_id.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_room_with_an_empty_option.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_room_with_an_expired_validuntil.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_room_with_validuntil_greater_than_180_days_from_current_date.json
  sdk/communication/communication-rooms/recordings/node/participants_operations/recording_successfully_adds_participants_to_the_room.json
  sdk/communication/communication-rooms/recordings/node/participants_operations/recording_successfully_adds_participants_to_the_room_with_null_role.json
  sdk/communication/communication-rooms/recordings/node/participants_operations/recording_successfully_removes_participant_not_in_the_room.json
  sdk/communication/communication-rooms/recordings/node/participants_operations/recording_successfully_removes_participants_in_the_room.json
  sdk/communication/communication-rooms/recordings/node/participants_operations/recording_successfully_updates_a_participant_with_role_not_specified.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_all_optional_attributes.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_an_expired_validuntil.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_an_invalid_mri_attribute.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_no_attributes.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_only_participants_attributes.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_only_valid_time_range_attributes.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_validuntil_greater_than_180_days_from_current_date.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_deletes_a_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_gets_a_valid_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_gets_an_invalid_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_list_rooms.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_update_room_with_a_valid_time_range.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_update_room_with_an_invalid_room_id.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_room_with_an_empty_option.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_room_with_an_expired_validuntil.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_room_with_validuntil_greater_than_180_days_from_current_date.json
  sdk/communication/communication-rooms/test/public/roomsClient.spec.ts
Labels: Communication - Rooms

#26692 [keyvault] Remove timeout tests
  sdk/keyvault/keyvault-certificates/assets.json
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/list.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-keys/assets.json
  sdk/keyvault/keyvault-keys/test/internal/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-keys/test/public/keyClient.spec.ts
  sdk/keyvault/keyvault-keys/test/public/list.spec.ts
  sdk/keyvault/keyvault-keys/test/public/lro.recoverDelete.spec.ts
  sdk/keyvault/keyvault-keys/test/public/utils/common.ts
  sdk/keyvault/keyvault-secrets/assets.json
  sdk/keyvault/keyvault-secrets/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/list.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/recoverBackupRestore.spec.ts
Labels: KeyVault

#26717 [engsys] upgrade dependency `concurrently` version to `^8.2.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/util/samples/convert.ts
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/test-utils/recorder/package.json
Labels: Azure.Core

#26711 [ai-form-recognizer] 5.0.0 changes
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/samples-dev/buildClassifier.ts
  sdk/formrecognizer/ai-form-recognizer/samples-dev/buildModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentAnalysisClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModel.ts
  sdk/formrecognizer/ai-form-recognizer/src/documentModelAdministrationClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/lro/analysis.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/contentSource.ts
  sdk/formrecognizer/ai-form-recognizer/src/models/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/AnalyzeDocumentOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/FormRecognizerClientOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/util.ts
  sdk/formrecognizer/ai-form-recognizer/swagger/README.md
  sdk/formrecognizer/ai-form-recognizer/test/public/node/classifiers.spec.ts
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
Labels: Cognitive - Form Recognizer

#26704 [OpenAI] Re-implement SSEs
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.browser.ts
  sdk/openai/openai/sources/customizations/api/getSSEs.ts
  sdk/openai/openai/sources/customizations/api/getStream.browser.ts
  sdk/openai/openai/sources/customizations/api/getStream.ts
  sdk/openai/openai/sources/customizations/api/oaiSse.ts
  sdk/openai/openai/sources/customizations/api/sse.ts
  sdk/openai/openai/sources/customizations/api/util.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/getSSEs.browser.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/src/api/getStream.ts
  sdk/openai/openai/src/api/oaiSse.ts
  sdk/openai/openai/src/api/sse.ts
  sdk/openai/openai/src/api/util.ts
  sdk/openai/openai/test/internal/browser/oaiSse.spec.ts
  sdk/openai/openai/test/internal/browser/sse.spec.ts
  sdk/openai/openai/test/internal/browser/util.ts
  sdk/openai/openai/test/internal/node/oaiSse.spec.ts
  sdk/openai/openai/test/internal/node/sse.spec.ts
  sdk/openai/openai/test/internal/node/util.ts
  sdk/openai/openai/test/internal/oaiSse.ts
  sdk/openai/openai/test/internal/sse.ts
  sdk/openai/openai/test/internal/util.ts
  sdk/openai/openai/test/public/openai.spec.ts
  sdk/openai/openai/test/public/samples.spec.ts
  sdk/openai/openai/tsconfig.json
Labels: OpenAI

#26673 [schema registry json] Initialize schema registry json library
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/schemaregistry/README.md
  sdk/schemaregistry/schema-registry-json/.nycrc
  sdk/schemaregistry/schema-registry-json/CHANGELOG.md
  sdk/schemaregistry/schema-registry-json/LICENSE
  sdk/schemaregistry/schema-registry-json/README.md
  sdk/schemaregistry/schema-registry-json/api-extractor.json
  sdk/schemaregistry/schema-registry-json/karma.conf.js
  sdk/schemaregistry/schema-registry-json/package.json
  sdk/schemaregistry/schema-registry-json/review/schema-registry-json.api.md
  sdk/schemaregistry/schema-registry-json/rollup.patched.config.js
  sdk/schemaregistry/schema-registry-json/rollup.test.config.js
  sdk/schemaregistry/schema-registry-json/sample.env
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/README.md
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/package.json
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/sample.env
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/schemaRegistryJsonSample.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/schemaRegistryJsonWithValidation.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/withEventHubsBufferedProducerClient.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/withEventHubsConsumerClient.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/withEventHubsProducerClient.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/README.md
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/package.json
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/sample.env
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/tsconfig.json
  sdk/schemaregistry/schema-registry-json/src/errors.ts
  sdk/schemaregistry/schema-registry-json/src/index.ts
  sdk/schemaregistry/schema-registry-json/src/jsonSerializer.ts
  sdk/schemaregistry/schema-registry-json/src/logger.ts
  sdk/schemaregistry/schema-registry-json/src/models.ts
  sdk/schemaregistry/schema-registry-json/src/utility.ts
  sdk/schemaregistry/schema-registry-json/test/public/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-json/test/public/clients/mocked.ts
  sdk/schemaregistry/schema-registry-json/test/public/clients/models.ts
  sdk/schemaregistry/schema-registry-json/test/public/errors.spec.ts
  sdk/schemaregistry/schema-registry-json/test/public/jsonSerializer.spec.ts
  sdk/schemaregistry/schema-registry-json/test/public/utils/assertError.ts
  sdk/schemaregistry/schema-registry-json/test/public/utils/dummies.ts
  sdk/schemaregistry/schema-registry-json/test/public/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-json/test/public/utils/mockedSerializer.ts
  sdk/schemaregistry/schema-registry-json/test/public/validation.spec.ts
  sdk/schemaregistry/schema-registry-json/test/public/withMessagingClients.spec.ts
  sdk/schemaregistry/schema-registry-json/tests.yml
  sdk/schemaregistry/schema-registry-json/tsconfig.json
Labels: Schema Registry

#26738 [schema-registry-json] Update links in Readme
  sdk/schemaregistry/schema-registry-json/README.md
Labels: Schema Registry

#26727 [engsys] upgrade dev dependency `@sinonjs/fake-timers` to `^11.0.0`
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#26740 [schema-registry-json] Update samples ID
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/schemaRegistryJsonSample.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/schemaRegistryJsonWithValidation.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/test/public/errors.spec.ts
Labels: Schema Registry

#26742 [engsys] upgrade rush to 5.101.0 and pnpm to 8.6.12
  common/scripts/install-run.js
  rush.json
  sdk/purview/purview-sharing-rest/package.json
Labels: Purview

#26674 [Perf Tests] [AMQP] Test naming consistency update
  sdk/eventhub/event-hubs/perf-tests.yml
  sdk/eventhub/event-hubs/perf.yml
  sdk/servicebus/service-bus/perf-tests.yml
  sdk/servicebus/service-bus/perf.yml
Labels: Service Bus, Event Hubs

#26746 [Schema Registry] Add Json package in ci.yml file
  sdk/schemaregistry/ci.yml
  sdk/schemaregistry/schema-registry-json/test/public/errors.spec.ts
Labels: Schema Registry

#26762 Sync eng/common directory with azure-sdk-tools for PR 6739
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#26764 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#26694 Fix Azure OpenTelemetry instrumentation Readme Issue
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/README.md
Labels: OpenTelemetryInstrumentation

#26760 [monitor] Update to latest OTEL
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/spanWrapper.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/transformations.ts
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation

#26765 [Search] Add multi-vector search support
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples-dev/interfaces.ts
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples-dev/vectorSearch.ts
  sdk/search/search-documents/samples-dev/vectors.ts
  sdk/search/search-documents/scripts/generateSampleEmbeddings.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/narrowedTypes.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: Search

#26772 [Search] Prepare 2023 August Release
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/samples/v12-beta/javascript/setup.js
  sdk/search/search-documents/samples/v12-beta/javascript/vectorSearch.js
  sdk/search/search-documents/samples/v12-beta/javascript/vectors.js
  sdk/search/search-documents/samples/v12-beta/typescript/src/interfaces.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/setup.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectorSearch.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectors.ts
Labels: Search

#26774 [schema-registry-json] Update validation sample
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/javascript/schemaRegistryJsonWithValidation.js
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/src/schemaRegistryJsonWithValidation.ts
Labels: Schema Registry

#26773 Add skipPublishDocMs to false error reports in docs heuristics
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/scripts/validate-docs-package.ps1
  sdk/core/ci.yml
  sdk/identity/ci.yml
Labels: Azure.Identity, Azure.Core

#26776 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry-json/CHANGELOG.md
  sdk/schemaregistry/schema-registry-json/package.json
Labels: Schema Registry

#26777 [Search] Add Swagger transform for `SearchRequest.vector`
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
Labels: Search

#26775 [keyvault] keyvault-keys: prepare release
  sdk/keyvault/keyvault-keys/CHANGELOG.md
Labels: KeyVault

#26783 [engsys] workaround for `vscode-eslint` extension in workspace
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  dataplane.code-workspace
  rush.json
  sdk/core/abort-controller/test/aborter.spec.ts
Labels: Azure.Core

#26779 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault

#26791 [doc] fix broken link in form-recognizer CHANGELOG
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
Labels: Cognitive - Form Recognizer

#26784 Post release automated changes for search releases
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#26787 [identity] Doc updates for GA
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/TOKEN_CACHING.md
  sdk/identity/identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#26814 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#26790 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClientContext.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClientContext.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Labels: auto-merge

#26854 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#26859 release 1.4.0-beta.1 version
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_metadata.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_metadata.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#26866 fix missing headers issue in alpha ids
  sdk/communication/communication-alpha-ids/test/public/utils/recordedClient.ts
Labels: Communication - Alpha IDs

#26864 Update version in package json to 20230820
  sdk/communication/communication-phone-numbers/package.json
Labels: Communication - Phone Numbers

#26874 Sync eng/common directory with azure-sdk-tools for PR 6817
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26890 [core-rest-pipeline] set init.duplex to "half" when streaming body via fetch
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/fetchHttpClient.spec.ts
Labels: Azure.Core

#26897 [core] Defer Error construction
  sdk/core/core-http/src/policies/disableResponseDecompressionPolicy.browser.ts
  sdk/core/core-http/src/policies/proxyPolicy.browser.ts
  sdk/core/core-rest-pipeline/src/policies/decompressResponsePolicy.browser.ts
  sdk/core/core-rest-pipeline/src/policies/proxyPolicy.browser.ts
Labels: Client, Azure.Core

#26743 [engsys] fix typo in communication-job-routers `clean` NPM script
  sdk/communication/communication-job-router/package.json
Labels: Communication - Job Router

#26911 Post release automated changes for maps releases
  sdk/maps/arm-maps/CHANGELOG.md
  sdk/maps/arm-maps/package.json
  sdk/maps/arm-maps/src/azureMapsManagementClient.ts
Labels: Mgmt

#26899 [storage] port pagenate deletion support from storage/stable branch
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/operations/pathOperations.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
Labels: Storage

#26914 Post release automated changes for chaos releases
  sdk/chaos/arm-chaos/CHANGELOG.md
  sdk/chaos/arm-chaos/package.json
  sdk/chaos/arm-chaos/src/chaosManagementClient.ts
Labels: Mgmt

#26915 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: Mgmt

#26913 Post release automated changes for storage releases
  sdk/storage/arm-storage/CHANGELOG.md
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/storageManagementClient.ts
Labels: Mgmt

#26865 Sync eng/common directory with azure-sdk-tools for PR 6782
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#26916 Sync eng/common directory with azure-sdk-tools for PR 6632
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#26905 Sync eng/common directory with azure-sdk-tools for PR 6823
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#26917 [Communication] ACS Chat 1.3.2 Release
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication - Chat

#26907 [OpenAI] update to 2023-08-01-preview with chat extensions support
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/README.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/karma.conf.cjs
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/bringYourOwnData.ts
  sdk/openai/openai/samples-dev/listChatCompletions.ts
  sdk/openai/openai/samples-dev/listCompletions.ts
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/deserializers.ts
  sdk/openai/openai/sources/customizations/api/index.ts
  sdk/openai/openai/sources/customizations/api/models.ts
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/sources/customizations/index.ts
  sdk/openai/openai/sources/customizations/models/models.ts
  sdk/openai/openai/sources/customizations/models/options.ts
  sdk/openai/openai/sources/generated/src/OpenAIClient.ts
  sdk/openai/openai/sources/generated/src/api/index.ts
  sdk/openai/openai/sources/generated/src/api/operations.ts
  sdk/openai/openai/sources/generated/src/index.ts
  sdk/openai/openai/sources/generated/src/models/index.ts
  sdk/openai/openai/sources/generated/src/models/models.ts
  sdk/openai/openai/sources/generated/src/models/options.ts
  sdk/openai/openai/sources/generated/src/rest/clientDefinitions.ts
  sdk/openai/openai/sources/generated/src/rest/isUnexpected.ts
  sdk/openai/openai/sources/generated/src/rest/models.ts
  sdk/openai/openai/sources/generated/src/rest/openAIClient.ts
  sdk/openai/openai/sources/generated/src/rest/outputModels.ts
  sdk/openai/openai/sources/generated/src/rest/parameters.ts
  sdk/openai/openai/sources/generated/src/rest/pollingHelper.ts
  sdk/openai/openai/sources/generated/src/rest/responses.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/deserializers.ts
  sdk/openai/openai/src/api/index.ts
  sdk/openai/openai/src/api/models.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/api/util.ts
  sdk/openai/openai/src/index.ts
  sdk/openai/openai/src/models/index.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/src/models/options.ts
  sdk/openai/openai/src/rest/clientDefinitions.ts
  sdk/openai/openai/src/rest/isUnexpected.ts
  sdk/openai/openai/src/rest/models.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/openai/openai/src/rest/outputModels.ts
  sdk/openai/openai/src/rest/parameters.ts
  sdk/openai/openai/src/rest/responses.ts
  sdk/openai/openai/test/internal/deserializer.spec.ts
  sdk/openai/openai/test/public/openai.spec.ts
  sdk/openai/openai/test/public/samples.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/recordedClient.ts
  sdk/openai/openai/test/public/utils/utils.ts
  sdk/openai/openai/test/test.env
  sdk/openai/openai/tsp-location.yaml
Labels: OpenAI

#26930 [OpenAI] Update Dall-E Generate Images Implementation
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/README.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/getImages.ts
  sdk/openai/openai/sources/customizations/OpenAIClient.ts
  sdk/openai/openai/sources/customizations/api/operations.ts
  sdk/openai/openai/sources/customizations/models/models.ts
  sdk/openai/openai/sources/customizations/models/options.ts
  sdk/openai/openai/sources/generated/src/api/operations.ts
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/index.ts
  sdk/openai/openai/src/api/models.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/models/index.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/src/models/options.ts
  sdk/openai/openai/test/public/openai.spec.ts
  sdk/openai/openai/test/public/samples.spec.ts
  sdk/openai/openai/test/public/utils/getImageDimensions.browser.ts
  sdk/openai/openai/test/public/utils/getImageDimensions.ts
Labels: OpenAI

#26246 Fixing undefined status and substatus code in response of client.getDataBaseAccount() call
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/test/public/functional/databaseaccount.spec.ts
Labels: Cosmos, no-recent-activity

#26940 Sync eng/common directory with azure-sdk-tools for PR 6853
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#26943 [keyvault] Make Managed HSM tests only weekly
  sdk/keyvault/keyvault-admin/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
Labels: KeyVault

#26950 [openai] Record request to fetch generated image when checking dimensions
  sdk/openai/openai/assets.json
  sdk/openai/openai/test/public/openai.spec.ts
  sdk/openai/openai/test/public/utils/recordedClient.ts
Labels: OpenAI

#26948 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#26944 Plumb EnvVars to subscription config builder to find duplicates
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#26927 [ServiceBus] wait and throw error if sender link is not sendable
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/src/util/utils.ts
Labels: Service Bus

#26962 Sync eng/common directory with azure-sdk-tools for PR 6867
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
Labels: EngSys, Central-EngSys

#26958 [Open AI] Update recording policy the model name test
  sdk/openai/openai/assets.json
  sdk/openai/openai/test/public/openai.spec.ts
  sdk/openai/openai/test/public/utils/utils.ts
Labels: OpenAI

#26955 [App Config] Unskip browser tests for snapshot feature
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
Labels: App Configuration

#26425 Changefeed Pull Model Implementation
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ChangeFeedIterator/ChangeFeedHierarchicalPartitionKey.ts
  sdk/cosmosdb/cosmos/samples-dev/ChangeFeedIterator/ChangeFeedIteratorEntireContainer.ts
  sdk/cosmosdb/cosmos/samples-dev/ChangeFeedIterator/ChangeFeedIteratorEpkRange.ts
  sdk/cosmosdb/cosmos/samples-dev/ChangeFeedIterator/ChangeFeedPartitionKey.ts
  sdk/cosmosdb/cosmos/samples/v3/javascript/ChangeFeedIterator/ChangeFeedHierarchicalPartitionKey.js
  sdk/cosmosdb/cosmos/samples/v3/javascript/ChangeFeedIterator/ChangeFeedIteratorEntireContainer.js
  sdk/cosmosdb/cosmos/samples/v3/javascript/ChangeFeedIterator/ChangeFeedIteratorEpkRange.js
  sdk/cosmosdb/cosmos/samples/v3/javascript/ChangeFeedIterator/ChangeFeedPartitionKey.js
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ChangeFeedIterator/ChangeFeedHierarchicalPartitionKey.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ChangeFeedIterator/ChangeFeedIteratorEntireContainer.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ChangeFeedIterator/ChangeFeedIteratorEpkRange.ts
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/ChangeFeedIterator/ChangeFeedPartitionKey.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedEnums.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedIteratorOptions.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedIteratorResponse.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedPullModelIterator.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedStartFrom.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedStartFromBeginning.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedStartFromContinuation.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedStartFromNow.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedStartFromTime.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/CompositeContinuationToken.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ContinuationTokenForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/FeedRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/FeedRangeQueue.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/InternalChangeFeedOptions.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/changeFeedIteratorBuilder.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/changeFeedUtils.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/index.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/statusCodes.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/routing/partitionKeyRangeCache.ts
  sdk/cosmosdb/cosmos/src/utils/typeChecks.ts
  sdk/cosmosdb/cosmos/test/internal/unit/changeFeed/changeFeedUtils.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/changeFeed/feedRangeQueue.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#26963 excluded manageSipRoutingConfiguration sample from samples run.
  sdk/communication/communication-phone-numbers/package.json
Labels: Communication - Phone Numbers

#26974 Remove duplicate identity test variables
  sdk/identity/identity/test-resources.bicep
  sdk/identity/identity/tests.yml
Labels: Azure.Identity, Central-EngSys

#26957 [engsys] remove some deprecated dev dependencies
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/test/public/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/public/node/getTokenForTeamsUser.node.spec.ts
  sdk/communication/communication-identity/test/public/node/tokenCustomExpiration.node.spec.ts
  sdk/schemaregistry/schema-registry-json/package.json
  sdk/schemaregistry/schema-registry-json/samples/v1-beta/typescript/package.json
Labels: Schema Registry, Communication - Identity

#26986 [OpenAI] Add a ReadableStream sample
  sdk/openai/openai/samples-dev/readableStream.ts
  sdk/openai/openai/samples/v1-beta/javascript/README.md
  sdk/openai/openai/samples/v1-beta/javascript/completionsRest.js
  sdk/openai/openai/samples/v1-beta/javascript/package.json
  sdk/openai/openai/samples/v1-beta/javascript/readableStream.js
  sdk/openai/openai/samples/v1-beta/typescript/README.md
  sdk/openai/openai/samples/v1-beta/typescript/package.json
  sdk/openai/openai/samples/v1-beta/typescript/src/completionsRest.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/readableStream.ts
Labels: OpenAI

#26989 [OpenAI] Update OpenAI Readme Sample Import
  sdk/openai/openai/README.md
Labels: OpenAI

#26990 [Schema Registry JSON] Update Json Serializer Readme
  sdk/schemaregistry/schema-registry-json/README.md
Labels: Schema Registry

#26993 [Open AI] Parse usage for get completions method
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/sources/customizations/api/deserializers.ts
  sdk/openai/openai/src/api/deserializers.ts
Labels: OpenAI
