Repository Azure/azure-sdk-for-js, pull requests merged in 2023-10, with the labels that each got.

#27266 [keyvault] Fix keyvault-keys build warnings
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.browser.ts
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.browser.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.ts
Labels: KeyVault

#27299 [keyvault] Use node/ folder for node-only Keys tests
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/public/crypto.spec.browser.ts
  sdk/keyvault/keyvault-keys/test/public/localCryptography.spec.browser.ts
  sdk/keyvault/keyvault-keys/test/public/node/crypto.spec.ts
  sdk/keyvault/keyvault-keys/test/public/node/localCryptography.spec.ts
Labels: KeyVault

#27301 [keyvault] Add --browser-test=false to keyvault-admin bundle options
  sdk/keyvault/keyvault-admin/package.json
Labels: KeyVault

#27300 Sync eng/common directory with azure-sdk-tools for PR 7040
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#27311 Update samples and readme
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/samples/v3/javascript/ChangeFeedIterator/ChangeFeedIteratorEpkRange.js
Labels: Cosmos

#27308 [ServiceBus] throw error earlier when timing out
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusError.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus

#27047 [App Config] Rename Snapshot Properties and Add Overload
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/samples-dev/snapshot.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/mappers.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration

#27315 Add livetests to PPE
  sdk/communication/communication-phone-numbers/tests.yml
Labels: Communication - Phone Numbers

#27326 [App Configuration] Prepare Release Script
  sdk/appconfiguration/app-configuration/CHANGELOG.md
Labels: App Configuration

#27332 Sync .github/workflows directory with azure-sdk-tools for PR 7071
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#27334 Sync eng/common directory with azure-sdk-tools for PR 7072
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#27116 Fix Resource Management - Network Sample Issue
  sdk/network/arm-network/samples-dev/vpnSitesCreateOrUpdateSample.ts
  sdk/network/arm-network/samples/v32/javascript/vpnSitesCreateOrUpdateSample.js
  sdk/network/arm-network/samples/v32/typescript/src/vpnSitesCreateOrUpdateSample.ts
Labels: Mgmt

#27356 [core][doc] retro fix broken links in CHANGELOG
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#27305 [Event Hubs] Use dev-tool's bundle
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/bundle.ts
  common/tools/dev-tool/src/config/rollup.base.config.ts
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/rollup.test.config.js
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
  sdk/eventhub/event-hubs/test/public/utils/testUtils.ts
  sdk/eventhub/event-hubs/test/public/utils/testWithServiceTypes.ts
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/rollup.patched.config.js
  sdk/schemaregistry/schema-registry-avro/rollup.test.config.js
  sdk/schemaregistry/schema-registry-json/package.json
  sdk/schemaregistry/schema-registry-json/rollup.patched.config.js
  sdk/schemaregistry/schema-registry-json/rollup.test.config.js
  sdk/schemaregistry/schema-registry/package.json
  sdk/test-utils/recorder/src/index.ts
Labels: Event Hubs

#27363 [Service Bus] Upgrade rollup to v3
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/rollup.test.config.js
  sdk/servicebus/service-bus/test/internal/atomE2ETests.spec.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/internal/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/utils/envVarUtils.ts
  sdk/servicebus/service-bus/test/public/utils/testUtils.ts
  sdk/servicebus/service-bus/test/public/utils/testutils2.ts
Labels: Service Bus

#27367 [ServiceBus] Prepare for Oct. 2023 release
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#26973 [keyvault] Support for API version 7.5-preview.1
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/assets.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
  sdk/keyvault/keyvault-admin/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/poller.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/public/utils/authentication.ts
  sdk/keyvault/keyvault-admin/test/public/utils/common.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/assets.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/public/utils/common.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/assets.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/generated/models/mappers.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/src/transformations.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/internal/transformations.spec.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/assets.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/keyvault-secrets/test/public/utils/common.ts
Labels: KeyVault

#27331 [ACS][Chat] Updated Dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication - Chat

#27370 [core-amqp] Prepare for Oct 2023 release
  sdk/core/core-amqp/CHANGELOG.md
Labels: Azure.Core

#27369 Removed non-existing type in ACS Rooms readme
  sdk/communication/communication-rooms/README.md
Labels: Communication - Rooms

#27345 [web-pubsub-client] ParseMessages can return array of messages
  sdk/web-pubsub/web-pubsub-client/review/web-pubsub-client.api.md
  sdk/web-pubsub/web-pubsub-client/src/protocols/index.ts
  sdk/web-pubsub/web-pubsub-client/src/webPubSubClient.ts
  sdk/web-pubsub/web-pubsub-client/test/client.lifetime.spec.ts
  sdk/web-pubsub/web-pubsub-client/test/jsonProtocol.spec.ts
Labels: WebPubSub

#27375 Sync .github/workflows directory with azure-sdk-tools for PR 7098
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#27374 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#27372 [Synapse monitoring] Upgrade rollup to v3
  common/config/rush/pnpm-lock.yaml
  sdk/synapse/synapse-monitoring/api-extractor.json
  sdk/synapse/synapse-monitoring/assets.json
  sdk/synapse/synapse-monitoring/karma.conf.js
  sdk/synapse/synapse-monitoring/package.json
  sdk/synapse/synapse-monitoring/recordings/node/access_control_smoke/recording_should_list_roles.js
  sdk/synapse/synapse-monitoring/rollup.config.js
  sdk/synapse/synapse-monitoring/test/public/test.spec.ts
  sdk/synapse/synapse-monitoring/test/public/utils/env.browser.ts
  sdk/synapse/synapse-monitoring/test/public/utils/env.ts
  sdk/synapse/synapse-monitoring/test/public/utils/recordedClient.ts
  sdk/synapse/synapse-monitoring/tsconfig.json
Labels: Synapse

#27378 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#27205 [core-rest-pipeline] Update abortListener for browser
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
  sdk/core/core-rest-pipeline/test/browser/fetchHttpClient.spec.ts
  sdk/openai/openai/package.json
  sdk/openai/openai/test/public/abortsignal.spec.ts
Labels: Azure.Core, OpenAI

#27377 Upgrade to rollup v3
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/commands/run/bundle.ts
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/execute.js
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/rollup.config.bin.mjs
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/rollup.patched.config.js
  sdk/communication/communication-identity/rollup.test.config.js
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/rollup.test.config.js
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/rollup.config.bin.mjs
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/rollup.test.config.cjs
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/rollup.config.js
  sdk/web-pubsub/web-pubsub-client-protobuf/rollup.config.mjs
Labels: Azure.Core, Cognitive - Form Recognizer, WebPubSub, Communication - Identity

#27335 Sync eng/common directory with azure-sdk-tools for PR 7067
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#27376 [App Config] Publish Samples
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/samples/v1-beta/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1-beta/javascript/snapshot.js
  sdk/appconfiguration/app-configuration/samples/v1-beta/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1-beta/typescript/src/snapshot.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#27338 [Search] Add text query vectorizer
  .vscode/cspell.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples-dev/vectorSearch.ts
  sdk/search/search-documents/samples/v12-beta/javascript/setup.js
  sdk/search/search-documents/samples/v12-beta/javascript/vectorSearch.js
  sdk/search/search-documents/samples/v12-beta/typescript/src/setup.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectorSearch.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/narrowedTypes.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/typeDefinitions.ts
  sdk/search/search-documents/test/public/utils/setup.ts
  sdk/search/search-documents/tests.yml
Labels: Search

#27120 Fix Maps Search Readme Issue
  sdk/maps/maps-search-rest/README.md
Labels: Maps

#27298 [OpenAI] Sample for Bring your own data, end to end
  sdk/openai/openai/samples/cookbook/bringYourOwnData/README.md
  sdk/openai/openai/samples/cookbook/bringYourOwnData/hotels.json
  sdk/openai/openai/samples/cookbook/bringYourOwnData/hotels_quickstart_index.json
  sdk/openai/openai/samples/cookbook/bringYourOwnData/index.js
  sdk/openai/openai/samples/cookbook/bringYourOwnData/package.json
  sdk/openai/openai/samples/cookbook/bringYourOwnData/sample.env
Labels: OpenAI

#27384 [@Azure/eventgrid] Adding new events for EG Version 4.15.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#27401 Fix Core Lro Sample Issue
  sdk/core/core-lro/samples/typescript/samplesClient.ts
Labels: Azure.Core

#27396 [ServiceBus] throw error for invalid `scheduledEnqueueTimeUtc`
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/sender.ts
  sdk/servicebus/service-bus/src/util/errors.ts
  sdk/servicebus/service-bus/test/internal/unit/sender.spec.ts
Labels: Service Bus

#27394 [identity] Merge release for 3.3.1 to upstream
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azureDeveloperCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
  sdk/identity/identity/test/internal/tenantIdUtils.spec.ts
  sdk/identity/identity/test/manual-integration/DevToolsTest/README.md
  sdk/identity/identity/test/manual-integration/DevToolsTest/package.json
  sdk/identity/identity/test/manual-integration/DevToolsTest/src/developerCredentials.ts
  sdk/identity/identity/test/manual-integration/DevToolsTest/test.env
  sdk/identity/identity/test/manual-integration/DevToolsTest/tsconfig.json
Labels: Azure.Identity

#27351 Sync eng/common directory with azure-sdk-tools for PR 7075
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#27423 [core] Add cloudflare support
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
Labels: Azure.Core

#27421 [ServiceBus] revert to old order of checking parameters for scheduleMessages
  sdk/servicebus/service-bus/src/sender.ts
Labels: Service Bus

#27406 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#27391 Sync eng/common directory with azure-sdk-tools for PR 7113
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#27425 Update OpenTelemetry dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/logUtils.test.ts
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/statsbeat.test.ts
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-opentelemetry/test/internal/unit/metrics/metricHandler.test.ts
  sdk/monitor/monitor-opentelemetry/test/internal/unit/metrics/standardMetrics.test.ts
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation

#27050 [Identity] update the error message being thrown for docker container 403
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
Labels: Azure.Identity

#27432 [Identity] Validation checks updated and renamed internal functions
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/credentials/clientAssertionCredential.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.browser.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.browser.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/errors.ts
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/util/scopeUtils.ts
  sdk/identity/identity/src/util/tenantIdUtils.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azureDeveloperCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
  sdk/identity/identity/test/internal/tenantIdUtils.spec.ts
Labels: Azure.Identity

#27440 [Identity] Merge Hotfix/identity 3.3.2 to upstream
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#27454 [OpenAI] Bump min node version
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/.eslintrc.json
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
Labels: OpenAI

#27437 [core-rest-pipeline] Add ENOTFOUND Code to Retry Policy
  sdk/core/core-rest-pipeline/src/retryStrategies/exponentialRetryStrategy.ts
  sdk/core/core-rest-pipeline/test/defaultRetryPolicy.spec.ts
Labels: Azure.Core

#27379 Prepare for beta.2 release
  sdk/web-pubsub/web-pubsub-client-protobuf/CHANGELOG.md
Labels: WebPubSub

#27459 [core-util] Fix issue with Deno showing up as isNode at runtime.
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/src/checkEnvironment.ts
Labels: Client, Azure.Core

#27409 [EngSys] Enable Rush build cache for for common packages
  common/config/rush-project.json
  common/config/rush/build-cache.json
  common/tools/eslint-plugin-azure-sdk/config/rush-project.json
  sdk/core/abort-controller/config/rush-project.json
  sdk/core/core-amqp/config/rush-project.json
  sdk/core/core-auth/config/rush-project.json
  sdk/core/core-client-rest/config/rush-project.json
  sdk/core/core-client/config/rush-project.json
  sdk/core/core-http-compat/config/rush-project.json
  sdk/core/core-lro/config/rush-project.json
  sdk/core/core-paging/config/rush-project.json
  sdk/core/core-rest-pipeline/config/rush-project.json
  sdk/core/core-sse/config/rush-project.json
  sdk/core/core-tracing/config/rush-project.json
  sdk/core/core-util/config/rush-project.json
  sdk/core/core-xml/config/rush-project.json
  sdk/core/logger/config/rush-project.json
  sdk/identity/identity/config/rush-project.json
  sdk/purview/purview-administration-rest/.eslintrc.json
  sdk/test-utils/perf/config/rush-project.json
  sdk/test-utils/recorder/config/rush-project.json
  sdk/test-utils/test-credential/config/rush-project.json
  sdk/test-utils/test-utils/config/rush-project.json
Labels: Central-EngSys

#27461 [test] use friendlier name in identity unit test titles
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azureDeveloperCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#27478 Sync eng/common directory with azure-sdk-tools for PR 7171
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#27441 [core-util] Add support for hex strings to `uint8ArrayToString`
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/base64.browser.ts
  sdk/core/core-util/src/bytesEncoding.browser.ts
  sdk/core/core-util/src/bytesEncoding.ts
  sdk/core/core-util/src/hex.ts
  sdk/core/core-util/src/sha256.browser.ts
  sdk/core/core-util/src/utf8.browser.ts
  sdk/core/core-util/test/internal/browser/base64.spec.ts
  sdk/core/core-util/test/internal/browser/utf8.spec.ts
  sdk/core/core-util/test/internal/hex.spec.ts
  sdk/core/core-util/test/public/bytesEncoding.spec.ts
  sdk/core/core-util/test/public/node/bytesEncoding.spec.ts
Labels: Azure.Core

#27479 [core-rest-pipeline] Run release script
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#27488 [core-util] Run Prepare Release Script
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Core

#27498 Post release automated changes for support releases
  sdk/support/arm-support/CHANGELOG.md
  sdk/support/arm-support/package.json
  sdk/support/arm-support/src/microsoftSupport.ts
Labels: Mgmt

#27499 Post release automated changes for kusto releases
  sdk/kusto/arm-kusto/CHANGELOG.md
  sdk/kusto/arm-kusto/package.json
  sdk/kusto/arm-kusto/src/kustoManagementClient.ts
Labels: Mgmt

#27500 Post release automated changes for keyvault releases
  sdk/keyvault/arm-keyvault/CHANGELOG.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
Labels: Mgmt

#27503 Post release automated changes for resourcehealth releases
  sdk/resourcehealth/arm-resourcehealth/CHANGELOG.md
  sdk/resourcehealth/arm-resourcehealth/package.json
  sdk/resourcehealth/arm-resourcehealth/src/microsoftResourceHealth.ts
Labels: Mgmt

#27502 Post release automated changes for recoveryservicesdatareplication releases
  sdk/recoveryservicesdatareplication/arm-recoveryservicesdatareplication/CHANGELOG.md
  sdk/recoveryservicesdatareplication/arm-recoveryservicesdatareplication/package.json
  sdk/recoveryservicesdatareplication/arm-recoveryservicesdatareplication/src/azureSiteRecoveryManagementServiceAPI.ts
Labels: Mgmt

#27496 Post release automated changes for elasticsans releases
  sdk/elasticsans/arm-elasticsan/CHANGELOG.md
  sdk/elasticsans/arm-elasticsan/package.json
  sdk/elasticsans/arm-elasticsan/src/elasticSanManagement.ts
Labels: Mgmt

#27497 Post release automated changes for desktopvirtualization releases
  sdk/desktopvirtualization/arm-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/arm-desktopvirtualization/package.json
  sdk/desktopvirtualization/arm-desktopvirtualization/src/desktopVirtualizationAPIClient.ts
Labels: Mgmt

#27414 [mgmt] postgresql-flexible release
  common/config/rush/pnpm-lock.yaml
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/_meta.json
  sdk/postgresql/arm-postgresql-flexible/assets.json
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/review/arm-postgresql-flexible.api.md
  sdk/postgresql/arm-postgresql-flexible/samples-dev/checkMigrationNameAvailabilitySample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/getPrivateDnsZoneSuffixExecuteSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsCreateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsDeleteSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsGetSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsListByTargetServerSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/serversCreateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/serversUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/checkMigrationNameAvailabilitySample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/getPrivateDnsZoneSuffixExecuteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsDeleteSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsGetSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsListByTargetServerSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/package.json
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/serversCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/serversUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/package.json
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/checkMigrationNameAvailabilitySample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/getPrivateDnsZoneSuffixExecuteSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsCreateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsDeleteSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsGetSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsListByTargetServerSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/serversCreateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/serversUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/src/models/index.ts
  sdk/postgresql/arm-postgresql-flexible/src/models/mappers.ts
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
  sdk/postgresql/arm-postgresql-flexible/test/postgresql_flexible_operations_test.spec.ts
  sdk/postgresql/arm-postgresql-flexible/test/sampleTest.ts
Labels: Mgmt

#27504 Post release automated changes for postgresql releases
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
Labels: Mgmt

#27505 Post release automated changes for storagemover releases
  sdk/storagemover/arm-storagemover/CHANGELOG.md
  sdk/storagemover/arm-storagemover/package.json
  sdk/storagemover/arm-storagemover/src/storageMoverClient.ts
Labels: Mgmt

#27444 [identity] Enable browser customization for web view
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/browserCustomizationOptions.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
Labels: Azure.Identity

#27512 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#27515 [core-util] Fix base64 decode in stringToUint8Array to support data containing UTF-16 continuation bytes
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/src/bytesEncoding.browser.ts
  sdk/core/core-util/test/public/bytesEncoding.spec.ts
Labels: Azure.Core

#27517 Post release automated changes for core releases
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#27492 [Language Text] Update tests
  sdk/cognitivelanguage/ai-language-text/assets.json
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
Labels: Cognitive - Language

#27527 [OpenAI] Bump dependency for core-rest-pipeline
  sdk/openai/openai/package.json
Labels: OpenAI

#27525 [keyvault] Add `x509ThumbprintString` property to `CertificateProperties`
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/transformations.ts
  sdk/keyvault/keyvault-certificates/test/internal/transformations.spec.ts
Labels: KeyVault

#27529 Sync eng/common directory with azure-sdk-tools for PR 7185
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#27530 Add EnvironmentCredential to token cache table
  sdk/identity/identity/TOKEN_CACHING.md
Labels: Azure.Identity

#27526 Set min tls version for storage live tests
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/test-resources.json
Labels: Central-EngSys

#27518 [mgmt] update package.json to remove rollup dependency
  sdk/cognitiveservices/arm-cognitiveservices/rollup.config.js
  sdk/devcenter/arm-devcenter/package.json
  sdk/devcenter/arm-devcenter/rollup.config.js
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/rollup.config.js
  sdk/recoveryservicesdatareplication/arm-recoveryservicesdatareplication/package.json
  sdk/recoveryservicesdatareplication/arm-recoveryservicesdatareplication/rollup.config.js
  sdk/resourcehealth/arm-resourcehealth/package.json
  sdk/resourcehealth/arm-resourcehealth/rollup.config.js
  sdk/support/arm-support/package.json
Labels: Mgmt

#27533 [OpenAI] Edit Whisper deployment name in samples and tests
  sdk/openai/openai/README.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples/v1-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v1-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v1-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
Labels: OpenAI

#27537 [Doc] fix broken links to Node.js releases
  sdk/cognitivelanguage/ai-language-conversations/samples/v1-beta/javascript/README.md
  sdk/cognitivelanguage/ai-language-conversations/samples/v1-beta/typescript/README.md
  sdk/maps/maps-geolocation-rest/README.md
  sdk/maps/maps-render-rest/README.md
  sdk/maps/maps-route-rest/README.md
  sdk/maps/maps-search-rest/README.md
  sdk/web-pubsub/web-pubsub-client-protobuf/README.md
  sdk/web-pubsub/web-pubsub-client/README.md
Labels: Cognitive - Language, WebPubSub, Maps

#27549 [OpenAI] Prepare release
  sdk/openai/openai/CHANGELOG.md
Labels: OpenAI

#27550 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry-avro/CHANGELOG.md
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry

#27554 [ts-http-runtime] Port core-util fixes
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/util/base64.browser.ts
  sdk/core/ts-http-runtime/src/util/bytesEncoding.browser.ts
  sdk/core/ts-http-runtime/src/util/bytesEncoding.ts
  sdk/core/ts-http-runtime/src/util/hex.ts
  sdk/core/ts-http-runtime/src/util/sha256.browser.ts
  sdk/core/ts-http-runtime/src/util/utf8.browser.ts
  sdk/core/ts-http-runtime/test/browser/base64.spec.ts
  sdk/core/ts-http-runtime/test/browser/utf8.spec.ts
  sdk/core/ts-http-runtime/test/bytesEncoding.spec.ts
  sdk/core/ts-http-runtime/test/node/bytesEncoding.spec.ts
  sdk/core/ts-http-runtime/test/util/hex.spec.ts
Labels: Client, Azure.Core

#27532 [OpenAI] Upgrade formdata-node and form-data-encoder
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/package.json
  sdk/openai/openai/sources/customizations/api/policies/formDataPolicy.ts
  sdk/openai/openai/src/api/policies/formDataPolicy.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
Labels: OpenAI

#27553 [engsys] Update CI to use node 18 as a minimum runtime version
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/communication/communication-phone-numbers/phone-numbers-livetest-matrix.json
  sdk/keyvault/keyvault-admin/platform-matrix.json
  sdk/keyvault/keyvault-certificates/platform-matrix.json
  sdk/keyvault/keyvault-secrets/platform-matrix.json
Labels: KeyVault, Communication - Phone Numbers

#27127 Rerecord storage cases
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/blobclientpollers.spec.ts
  sdk/storage/storage-blob/test/encrytion.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/retrypolicy.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-share/assets.json
Labels: Storage

#27489 [@azure/eventgrid] Fixing the Readme issue
  sdk/eventgrid/eventgrid/README.md
Labels: Event Grid

#27557 [ServiceBus] Throw a retryable error when sending message and link is detached
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/errors.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/messageSender.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSender.spec.ts
Labels: Service Bus, Azure.Core

#27513 [storage] update code coverage config files
  sdk/storage/storage-file-datalake/.nycrc
  sdk/storage/storage-file-share/.nycrc
  sdk/storage/storage-queue/.nycrc
Labels: Client, Storage

#27569 [OpenAI] Fix samples
  sdk/openai/openai/samples-dev/listChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/cookbook/simpleCompletionsPage/webpack.config.js
  sdk/openai/openai/samples/v1-beta/javascript/listChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v1-beta/typescript/src/listChatCompletionsWithContentFilter.ts
Labels: OpenAI

#27555 [OpenAI] Post release
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/search/search-documents/package.json
Labels: Search, OpenAI

#27572 [identity] update release date
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#27547 Sync eng/common directory with azure-sdk-tools for PR 7181
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#27583 Sync eng/common directory with azure-sdk-tools for PR 7191
  eng/common/scripts/copy-from-blobstorage.ps1
Labels: EngSys, Central-EngSys

#27574 Post release automated changes for identity releases
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
Labels: Azure.Identity

#27595 [Identity] Post-release version updates
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#27584 Sync eng/common directory with azure-sdk-tools for PR 7200
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#27536 Post release automated changes for communication releases
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
Labels: auto-merge

#27096 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#27600 Update README
  sdk/communication/communication-job-router/README.md
Labels: Communication - Job Router

#27603 Upgrade storage packages versions
  common/config/rush/pnpm-lock.yaml
  sdk/cognitivelanguage/ai-language-text/package.json
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/storage-blob-changefeed/assets.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage, Cognitive - Language

#27602 [EngSys] Fix format checking error
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/dev-tool/src/util/customization/customize.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/eslint-plugin-azure-sdk/config/rush-project.json
  sdk/appconfiguration/perf-tests/app-configuration/tsconfig.json
  sdk/core/ts-http-runtime/package.json
  sdk/devcenter/developer-devcenter-rest/test/public/devBoxesTest.spec.ts
  sdk/devcenter/developer-devcenter-rest/test/public/environmentsTest.spec.ts
  sdk/eventhub/perf-tests/event-hubs/test/subscribe.spec.ts
  sdk/formrecognizer/ai-form-recognizer/test/public/browser/analysis.spec.ts
  sdk/keyvault/perf-tests/keyvault-secrets/test/secretTest.ts
  sdk/monitor/monitor-query/samples-dev/logsResourceCentricQuery.ts
  sdk/monitor/perf-tests/monitor-opentelemetry/test/monitorOpenTelemetry.spec.ts
  sdk/monitor/perf-tests/monitor-opentelemetry/test/spanExport.spec.ts
  sdk/servicebus/service-bus/src/core/autoLockRenewer.ts
Labels: Service Bus, Event Hubs, KeyVault, Azure.Core, Cognitive - Form Recognizer

#27609 Sync eng/common directory with azure-sdk-tools for PR 5947
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#27610 [dev-tool][customization] fix duplicate file header
  common/tools/dev-tool/src/util/customization/helpers/addFileHeaders.ts
  sdk/template/template-dpg/src/WidgetServiceClient.ts
  sdk/template/template-dpg/src/api/WidgetServiceContext.ts
  sdk/template/template-dpg/src/api/foo.ts
  sdk/template/template-dpg/src/api/index.ts
  sdk/template/template-dpg/src/api/models.ts
  sdk/template/template-dpg/src/api/operations.ts
  sdk/template/template-dpg/src/common/interfaces.ts
  sdk/template/template-dpg/src/index.ts
  sdk/template/template-dpg/src/logger.ts
  sdk/template/template-dpg/src/rest/clientDefinitions.ts
  sdk/template/template-dpg/src/rest/index.ts
  sdk/template/template-dpg/src/rest/isUnexpected.ts
  sdk/template/template-dpg/src/rest/models.ts
  sdk/template/template-dpg/src/rest/outputModels.ts
  sdk/template/template-dpg/src/rest/parameters.ts
  sdk/template/template-dpg/src/rest/responses.ts
  sdk/template/template-dpg/src/rest/widgetServiceClient.ts
Labels: EngSys
