Repository Azure/azure-sdk-for-js, pull requests merged in 2023-06, with the labels that each got.

#26067 [language-text] Prepare Release Script
  sdk/cognitivelanguage/ai-language-text/CHANGELOG.md
  sdk/cognitivelanguage/ai-language-text/package.json
  sdk/cognitivelanguage/ai-language-text/src/constants.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/generatedClient.ts
  sdk/cognitivelanguage/ai-language-text/swagger/README.md
  sdk/cognitivelanguage/perf-tests/ai-language-text/package.json
Labels: Cognitive - Language

#26075 Sync eng/common directory with azure-sdk-tools for PR 6273
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#26077 [Event Hubs] Update sample
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/tsconfig.json
Labels: Event Hubs

#25800 [Language Text] Regenerate from the new Swagger
  sdk/cognitivelanguage/ai-language-text/CHANGELOG.md
  sdk/cognitivelanguage/ai-language-text/README.md
  sdk/cognitivelanguage/ai-language-text/Samples.md
  sdk/cognitivelanguage/ai-language-text/assets.json
  sdk/cognitivelanguage/ai-language-text/package.json
  sdk/cognitivelanguage/ai-language-text/review/ai-language-text.api.md
  sdk/cognitivelanguage/ai-language-text/samples-dev/languageDetection.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/generatedClient.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/index.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/mappers.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/parameters.ts
  sdk/cognitivelanguage/ai-language-text/src/index.ts
  sdk/cognitivelanguage/ai-language-text/swagger/README.md
  sdk/cognitivelanguage/ai-language-text/test/node/customTest.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyze.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
  sdk/cognitivelanguage/ai-language-text/test/public/inputs.ts
Labels: Cognitive - Language

#26078 Post release automated changes for core releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core, auto-merge

#26090 Sync .github/workflows directory with azure-sdk-tools for PR 6280
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#26018 [core-util] Add environment checks
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/checkEnvironment.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/src/isNode.browser.ts
  sdk/core/core-util/src/isNode.ts
  sdk/core/core-util/test/public/browser/checkEnvironment.spec.ts
  sdk/core/core-util/test/public/browser/isNode.spec.ts
  sdk/core/core-util/test/public/node/checkEnvironment.spec.ts
  sdk/core/core-util/test/public/node/isNode.spec.ts
Labels: Azure.Core

#26092 [EventHubs] fix browser sample
  sdk/eventhub/event-hubs/samples/v5/browser/package.json
  sdk/eventhub/event-hubs/samples/v5/browser/webpack.config.js
Labels: Event Hubs

#26079 Release 1.0.0-beta13
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/generated/applicationInsightsClient.ts
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/constants/applicationinsights.ts
  sdk/monitor/monitor-opentelemetry-exporter/swagger/README.md
  sdk/monitor/monitor-query/package.json
Labels: Monitor - Exporter

#26101 [Docs][EH,SB] update README to not install buffer and process for browsers
  sdk/eventhub/event-hubs/README.md
  sdk/servicebus/service-bus/README.md
Labels: Service Bus, Event Hubs

#25903 Add support for Node 20
  eng/pipelines/templates/stages/platform-matrix.json
Labels: Central-EngSys

#26098 Sync eng/common directory with azure-sdk-tools for PR 6272
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#26065 [Event Hubs] Prefetch events
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubConsumerClientModels.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
Labels: Event Hubs

#26127 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#26133 [cognitive language] Remove fixme in the tests
  sdk/cognitivelanguage/ai-language-text/assets.json
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
Labels: Cognitive - Language

#26117 Updated ACS Rooms JS SDK To GA Version
  sdk/communication/communication-rooms/CHANGELOG.md
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room_with_null_role.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_cleans_up.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_creates_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_removes_a_participant_from_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_updates_a_participant.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_empty_request.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_payload.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_deletes_a_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_gets_a_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_list_rooms.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_default_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_room_with_participants.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room_with_null_role.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_cleans_up.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_creates_the_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_removes_a_participant_from_the_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_updates_a_participant.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_empty_request.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_payload.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_deletes_a_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_gets_a_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_list_rooms.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_default_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_room_with_participants.json
  sdk/communication/communication-rooms/samples/v1/javascript/README.md
  sdk/communication/communication-rooms/samples/v1/javascript/package.json
  sdk/communication/communication-rooms/samples/v1/javascript/participantOperations.js
  sdk/communication/communication-rooms/samples/v1/javascript/roomOperations.js
  sdk/communication/communication-rooms/samples/v1/javascript/sample.env
  sdk/communication/communication-rooms/samples/v1/typescript/README.md
  sdk/communication/communication-rooms/samples/v1/typescript/package.json
  sdk/communication/communication-rooms/samples/v1/typescript/sample.env
  sdk/communication/communication-rooms/samples/v1/typescript/src/participantOperations.ts
  sdk/communication/communication-rooms/samples/v1/typescript/src/roomOperations.ts
  sdk/communication/communication-rooms/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-rooms/src/generated/src/models/index.ts
  sdk/communication/communication-rooms/src/generated/src/models/mappers.ts
  sdk/communication/communication-rooms/src/generated/src/models/parameters.ts
  sdk/communication/communication-rooms/src/generated/src/roomsRestClient.ts
  sdk/communication/communication-rooms/src/generated/src/tracing.ts
  sdk/communication/communication-rooms/swagger/README.md
  sdk/communication/communication-rooms/test/internal/utils/mockedClient.ts
Labels: Communication - Rooms

#26108 [Event Hubs] Support user-provided client identifier
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubConsumerClient.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventProcessor.ts
  sdk/eventhub/event-hubs/src/logger.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/models/private.ts
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/partitionPump.ts
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubBufferedProducerClient.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubConsumerClient.spec.ts
Labels: Event Hubs

#26020 [@azure/eventgrid] Adding new events for EG Version 4.13.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#26132 Fix fast-xml-parser ReDoS vulnerability
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-xml/package.json
Labels: customer-reported, Azure.Core, Community Contribution

#26135 [storage-file-share] Migrate to core-tracing GA
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/src/utils/tracing.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Client, Storage

#26128 Sync eng/common directory with azure-sdk-tools for PR 6293
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#26137 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
Labels: KeyVault

#26136 Sync eng/common directory with azure-sdk-tools for PR 6304
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#26147 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#26148 [EngSys][EventGrid] enable generation of api doc model
  sdk/eventgrid/eventgrid/api-extractor.json
Labels: Event Grid

#26152 Sync eng/common directory with azure-sdk-tools for PR 6305
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#25956 @azure/batch: API version 2023-05-01 release
  sdk/batch/batch/CHANGELOG.md
  sdk/batch/batch/LICENSE.txt
  sdk/batch/batch/package.json
  sdk/batch/batch/src/batchServiceClientContext.ts
  sdk/batch/batch/src/models/index.ts
  sdk/batch/batch/src/models/jobMappers.ts
  sdk/batch/batch/src/models/mappers.ts
  sdk/batch/batch/src/models/parameters.ts
  sdk/batch/batch/src/models/poolMappers.ts
  sdk/batch/batch/src/operations/account.ts
  sdk/batch/batch/src/operations/certificateOperations.ts
  sdk/batch/batch/src/operations/computeNodeExtension.ts
  sdk/batch/batch/src/operations/computeNodeOperations.ts
  sdk/batch/batch/src/operations/file.ts
  sdk/batch/batch/src/operations/index.ts
  sdk/batch/batch/src/operations/job.ts
  sdk/batch/batch/src/operations/jobSchedule.ts
  sdk/batch/batch/src/operations/pool.ts
  sdk/batch/batch/src/operations/task.ts
  sdk/batch/batch/test/batchClient.spec.ts
Labels: Batch

#26163 [EngSys] Add missing `ts-node` dev dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/containerregistry/perf-tests/container-registry/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-xml/package.json
  sdk/identity/identity/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/openai/openai/package.json
  sdk/template/template-dpg/package.json
  sdk/test-utils/perf/package.json
Labels: EngSys, Azure.Identity, Azure.Core, Container Registry, OpenAI

#26095 [Event Hubs] Update stress and perf tests post "prefetch feature" testing
  sdk/eventhub/event-hubs/test/stress/app/src/scenarioCheckpointStore.ts
  sdk/eventhub/event-hubs/test/stress/app/src/scenarioGetRuntimeProps.ts
  sdk/eventhub/event-hubs/test/stress/app/src/scenarioNoActivity.ts
  sdk/eventhub/event-hubs/test/stress/generatedValues.yaml
  sdk/eventhub/perf-tests/event-hubs/test/subscribe.spec.ts
Labels: Event Hubs

#26176 [Cognitive Language] Update Changes in Readme
  sdk/cognitivelanguage/ai-language-text/CHANGELOG.md
  sdk/cognitivelanguage/ai-language-text/README.md
  sdk/cognitivelanguage/ai-language-text/Samples.md
Labels: Cognitive - Language

#26190 Sync eng/common directory with azure-sdk-tools for PR 6333
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#26131 Re merging Hierarchical Partition feature to main branch
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ChangeFeedIterator.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKey.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKeyDefinition.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKeyDefinitionVersion.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKeyInternal.ts
  sdk/cosmosdb/cosmos/src/documents/PartitionKeyKind.ts
  sdk/cosmosdb/cosmos/src/documents/index.ts
  sdk/cosmosdb/cosmos/src/extractPartitionKey.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/FeedResponse.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/hash.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/multiHash.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v1.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v2.ts
  sdk/cosmosdb/cosmos/src/utils/typeChecks.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hashing/v1.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hashing/v2.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/batch.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/globalEndpointManager.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/sproc.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeed.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/crossPartition.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#26026 Match number to routes pre
  sdk/communication/CONTRIBUTING.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/recordings/browsers/siproutingclient__match_number_to_routes/recording_return_empty_array_when_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/siproutingclient__match_number_to_routes/recording_should_match_number_to_routes.json
  sdk/communication/communication-phone-numbers/recordings/browsers/siproutingclient__match_number_to_routes_aad/recording_return_empty_array_when_not_found.json
  sdk/communication/communication-phone-numbers/recordings/browsers/siproutingclient__match_number_to_routes_aad/recording_should_match_number_to_routes.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes/recording_return_empty_array_when_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes/recording_return_empty_array_when_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes/recording_should_match_number_to_routes.js
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes/recording_should_match_number_to_routes.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes_aad/recording_return_empty_array_when_not_found.js
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes_aad/recording_return_empty_array_when_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes_aad/recording_should_match_number_to_routes.js
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes_aad/recording_should_match_number_to_routes.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__set_domains/recording_can_set_an_existing_domain.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__set_domains_aad/recording_can_set_an_existing_domain.json
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/models/index.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/sipRoutingClient.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/matchNumberToRoutes.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/utils/recordedClient.ts
Labels: Mgmt, Cosmos, Azure.Identity, Azure.Core, Event Grid, Communication - Phone Numbers, Communication - Short Codes, Communication - Alpha IDs, Communication - Job Router, Communication - Rooms

#26202 Azure Remote Rendering: Fix test setup
  sdk/remoterendering/test-resources.json
Labels: Remote Rendering

#25879 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity, auto-merge

#26208 [instrumentation] update changelog
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
Labels: OpenTelemetryInstrumentation

#26215 [cognitive language] Update release date
  sdk/cognitivelanguage/ai-language-text/CHANGELOG.md
  sdk/cognitivelanguage/ai-language-textauthoring/README.md
Labels: Cognitive - Language

#26205 [engsys] Address issue with prettier extension
  .vscode/settings.json
Labels: EngSys

#26234 [ACS][Common] Post-release changes
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication - Common

#26223 [storage-queue] Migrate to core-tracing GA
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/utils/tracing.ts
  sdk/storage/storage-queue/test/queueclient.spec.ts
Labels: Client, Storage

#26189 Fix Autorest Generation for communication-phone-numbers
  sdk/communication/communication-phone-numbers/src/generated/src/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/lroImpl.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/pagingHelper.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: Communication - Phone Numbers

#26239 Sync eng/common directory with azure-sdk-tools for PR 6300
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#26121 Add SDK for Tiering
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/communication/communication-tiering/.nycrc
  sdk/communication/communication-tiering/CHANGELOG.md
  sdk/communication/communication-tiering/README.md
  sdk/communication/communication-tiering/api-extractor.json
  sdk/communication/communication-tiering/karma.conf.js
  sdk/communication/communication-tiering/package.json
  sdk/communication/communication-tiering/recordings/browsers/tieringclient__get_acquired_number_limits/recording_get_acquired_number_limits.json
  sdk/communication/communication-tiering/recordings/browsers/tieringclient__get_tier_info/recording_get_tier_info.json
  sdk/communication/communication-tiering/recordings/node/tieringclient__get_acquired_number_limits/recording_get_acquired_number_limits.json
  sdk/communication/communication-tiering/recordings/node/tieringclient__get_tier_info/recording_get_tier_info.json
  sdk/communication/communication-tiering/review/communication-tiering.api.md
  sdk/communication/communication-tiering/sample.env
  sdk/communication/communication-tiering/samples-dev/getAcquiredNumberLimits.ts
  sdk/communication/communication-tiering/samples-dev/getTierInfo.ts
  sdk/communication/communication-tiering/samples/v1-beta/javascript/README.md
  sdk/communication/communication-tiering/samples/v1-beta/javascript/getAcquiredNumberLimits.js
  sdk/communication/communication-tiering/samples/v1-beta/javascript/getTierInfo.js
  sdk/communication/communication-tiering/samples/v1-beta/javascript/package.json
  sdk/communication/communication-tiering/samples/v1-beta/javascript/sample.env
  sdk/communication/communication-tiering/samples/v1-beta/typescript/README.md
  sdk/communication/communication-tiering/samples/v1-beta/typescript/package.json
  sdk/communication/communication-tiering/samples/v1-beta/typescript/sample.env
  sdk/communication/communication-tiering/samples/v1-beta/typescript/src/getAcquiredNumberLimits.ts
  sdk/communication/communication-tiering/samples/v1-beta/typescript/src/getTierInfo.ts
  sdk/communication/communication-tiering/samples/v1-beta/typescript/tsconfig.json
  sdk/communication/communication-tiering/src/generated/src/index.ts
  sdk/communication/communication-tiering/src/generated/src/models/index.ts
  sdk/communication/communication-tiering/src/generated/src/models/mappers.ts
  sdk/communication/communication-tiering/src/generated/src/models/parameters.ts
  sdk/communication/communication-tiering/src/generated/src/operations/index.ts
  sdk/communication/communication-tiering/src/generated/src/operations/numberAllotment.ts
  sdk/communication/communication-tiering/src/generated/src/operations/tiering.ts
  sdk/communication/communication-tiering/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-tiering/src/generated/src/operationsInterfaces/numberAllotment.ts
  sdk/communication/communication-tiering/src/generated/src/operationsInterfaces/tiering.ts
  sdk/communication/communication-tiering/src/generated/src/tieringClient.ts
  sdk/communication/communication-tiering/src/generated/src/tracing.ts
  sdk/communication/communication-tiering/src/index.ts
  sdk/communication/communication-tiering/src/models.ts
  sdk/communication/communication-tiering/src/tieringClient.ts
  sdk/communication/communication-tiering/src/utils/constants.ts
  sdk/communication/communication-tiering/src/utils/index.ts
  sdk/communication/communication-tiering/src/utils/logger.ts
  sdk/communication/communication-tiering/swagger/README.md
  sdk/communication/communication-tiering/swagger/swagger.json
  sdk/communication/communication-tiering/test/public/ctor.spec.ts
  sdk/communication/communication-tiering/test/public/getAcquiredNumberLimit.spec.ts
  sdk/communication/communication-tiering/test/public/getTierInfo.spec.ts
  sdk/communication/communication-tiering/test/public/utils/recordedClient.ts
  sdk/communication/communication-tiering/tests.yml
  sdk/communication/communication-tiering/tsconfig.json
Labels: customer-reported, Community Contribution

#26103 Purview Share - New API Version (GET Share Resources)
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-sharing-rest/CHANGELOG.md
  sdk/purview/purview-sharing-rest/assets.json
  sdk/purview/purview-sharing-rest/package.json
  sdk/purview/purview-sharing-rest/recordings/browsers/received_shares_operations/recording_attach_received_share.json
  sdk/purview/purview-sharing-rest/recordings/browsers/received_shares_operations/recording_delete_a_received_share.json
  sdk/purview/purview-sharing-rest/recordings/browsers/received_shares_operations/recording_list_all_attached_received_shares.json
  sdk/purview/purview-sharing-rest/recordings/browsers/received_shares_operations/recording_list_all_detached_received_shares.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_create_a_new_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_create_a_new_service_invitation.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_create_a_new_user_invitation.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_delete_a_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_delete_a_sent_share_invitation.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_get_a_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_get_a_sent_share_invitation.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_list_all_sent_share_invitations.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_list_all_sent_shares.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_notify_an_invited_user.json
  sdk/purview/purview-sharing-rest/recordings/browsers/sent_shares_operations/recording_update_an_existing_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/node/received_shares_operations/recording_attach_received_share.json
  sdk/purview/purview-sharing-rest/recordings/node/received_shares_operations/recording_delete_a_received_share.json
  sdk/purview/purview-sharing-rest/recordings/node/received_shares_operations/recording_list_all_attached_received_shares.json
  sdk/purview/purview-sharing-rest/recordings/node/received_shares_operations/recording_list_all_detached_received_shares.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_create_a_new_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_create_a_new_service_invitation.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_create_a_new_user_invitation.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_delete_a_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_delete_a_sent_share_invitation.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_get_a_sent_share.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_get_a_sent_share_invitation.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_list_all_sent_share_invitations.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_list_all_sent_shares.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_notify_an_invited_user.json
  sdk/purview/purview-sharing-rest/recordings/node/sent_shares_operations/recording_update_an_existing_sent_share.json
  sdk/purview/purview-sharing-rest/review/purview-sharing.api.md
  sdk/purview/purview-sharing-rest/samples-dev/manageSharesSample.ts
  sdk/purview/purview-sharing-rest/samples-dev/receiverOperationsSample.ts
  sdk/purview/purview-sharing-rest/samples/v1-beta/javascript/manageSharesSample.js
  sdk/purview/purview-sharing-rest/samples/v1-beta/javascript/receiverOperationsSample.js
  sdk/purview/purview-sharing-rest/samples/v1-beta/typescript/src/manageSharesSample.ts
  sdk/purview/purview-sharing-rest/samples/v1-beta/typescript/src/receiverOperationsSample.ts
  sdk/purview/purview-sharing-rest/src/clientDefinitions.ts
  sdk/purview/purview-sharing-rest/src/isUnexpected.ts
  sdk/purview/purview-sharing-rest/src/models.ts
  sdk/purview/purview-sharing-rest/src/outputModels.ts
  sdk/purview/purview-sharing-rest/src/parameters.ts
  sdk/purview/purview-sharing-rest/src/purviewSharing.ts
  sdk/purview/purview-sharing-rest/src/responses.ts
  sdk/purview/purview-sharing-rest/swagger/README.md
  sdk/purview/purview-sharing-rest/test/public/receivedSharesTest.spec.ts
  sdk/purview/purview-sharing-rest/test/public/sentSharesTest.spec.ts
  sdk/purview/purview-sharing-rest/test/public/shareResourcesTest.spec.ts
Labels: customer-reported, Purview, Community Contribution

#26194 [storage] Port PR #24759 from storage/stable
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Labels: Client, Storage

#26007 [Identity] update redis samples for public preview scope
  sdk/identity/identity/samples/AzureCacheForRedis/ioredis.md
  sdk/identity/identity/samples/AzureCacheForRedis/node-redis.md
Labels: Azure.Identity

#26178 [Monitor Ingestion] update ts guide
  sdk/monitor/monitor-ingestion/README.md
  sdk/monitor/monitor-ingestion/TROUBLESHOOTING.md
  sdk/monitor/monitor-query/TROUBLESHOOTING.md
Labels: Monitor

#26257 [Identity] Default Azure Credential chain ordering and msal hotfix
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#26256 [Storage] port PR #24934 from storage/stable branch
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobDownloadResponse.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/models.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
Labels: Client, Storage

#26276 Remove core-http from perf tests
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/core/perf-tests/core-rest-pipeline/test/core-http.spec.ts
  sdk/core/perf-tests/core-rest-pipeline/test/index.spec.ts
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-blob/test/core-http.spec.ts
  sdk/storage/perf-tests/storage-blob/test/dowloadWithSAS.spec.ts
  sdk/storage/perf-tests/storage-blob/test/download.spec.ts
  sdk/storage/perf-tests/storage-blob/test/index.spec.ts
  sdk/storage/perf-tests/storage-blob/test/listBlobs.spec.ts
  sdk/storage/perf-tests/storage-blob/test/storageTest.spec.ts
  sdk/storage/perf-tests/storage-blob/test/upload.spec.ts
  sdk/test-utils/perf/package.json
  sdk/test-utils/perf/src/batchPerfTest.ts
  sdk/test-utils/perf/src/index.ts
  sdk/test-utils/perf/src/policy.ts
  sdk/test-utils/perf/src/testProxyHttpClient.ts
  sdk/test-utils/perf/test/declareTests.ts
  sdk/test-utils/perf/test/event/mockEventHubConsumerClient.ts
  sdk/test-utils/perf/test/event/mockEventReceiver.ts
  sdk/test-utils/perf/test/log.spec.ts
  sdk/test-utils/perf/test/perfPolicy.spec.ts
  sdk/test-utils/perf/test/sleep.spec.ts
Labels: Storage, Azure.Core

#26277 [Identity] Default Azure Credential chain ordering and msal hotfix
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#26262 Post release automated changes for storagecache releases
  sdk/storagecache/arm-storagecache/CHANGELOG.md
  sdk/storagecache/arm-storagecache/package.json
  sdk/storagecache/arm-storagecache/src/storageCacheManagementClient.ts
Labels: Mgmt

#26259 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/src/redisManagementClient.ts
Labels: Mgmt

#26265 Post release automated changes for deviceprovisioningservices releases
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/CHANGELOG.md
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/package.json
  sdk/deviceprovisioningservices/arm-deviceprovisioningservices/src/iotDpsClient.ts
Labels: Mgmt

#26284 Post release automated changes for recoveryservices releases
  sdk/recoveryservices/arm-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/arm-recoveryservices/package.json
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClient.ts
Labels: Mgmt

#26294 Adding tiering SDK to CI
  sdk/communication/ci.yml
  sdk/communication/communication-tiering/CHANGELOG.md
  sdk/communication/communication-tiering/package.json
  sdk/communication/communication-tiering/test/public/utils/recordedClient.ts
Labels: customer-reported, Community Contribution

#26295 Remove Generated Code from Test Coverage Excluded
  sdk/communication/communication-chat/.nycrc
Labels: Communication - Chat

#26299 [core-amqp] Update TokenProvider to use native crypto
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/auth/tokenProvider.ts
  sdk/core/core-amqp/src/util/hmacSha256.browser.ts
  sdk/core/core-amqp/src/util/hmacSha256.ts
  sdk/core/core-amqp/test/tokenProvider.spec.ts
Labels: Azure.Core

#26282 [core-xml] increment version after release
  eng/tools/versioning/VersionUtils.js
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core

#26279 [Storage] port PR #24953 from storage/stable branch
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/specialnaming.spec.ts
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/test/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Client, Storage

#26303 [storage] update package version to 12.20.0
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
Labels: Storage

#26298 [Search] Fix all clients adding one or more duplicate user agents
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
Labels: Search

#26307 [@azure/eventgrid] Fix the Push Issue with the PublishCloudEvents API
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/karma.conf.js
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/recordings/browsers/event_grid_client_v2/recording_publishes_a_single_cloud_event.json
  sdk/eventgrid/eventgrid/recordings/browsers/event_grid_client_v2/recording_publishes_multiple_cloud_events.json
  sdk/eventgrid/eventgrid/recordings/browsers/event_grid_client_v2/recording_rejects_a_cloud_event.json
  sdk/eventgrid/eventgrid/recordings/browsers/event_grid_client_v2/recording_releases_a_cloud_event.json
  sdk/eventgrid/eventgrid/recordings/node/event_grid_client_v2/recording_publishes_a_single_cloud_event.json
  sdk/eventgrid/eventgrid/recordings/node/event_grid_client_v2/recording_publishes_multiple_cloud_events.json
  sdk/eventgrid/eventgrid/recordings/node/event_grid_client_v2/recording_rejects_a_cloud_event.json
  sdk/eventgrid/eventgrid/recordings/node/event_grid_client_v2/recording_releases_a_cloud_event.json
  sdk/eventgrid/eventgrid/src/eventGridClientV2.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
  sdk/eventgrid/eventgrid/test.env
  sdk/eventgrid/eventgrid/test/public/eventGridClientV2.spec.ts
  sdk/eventgrid/eventgrid/test/public/utils/recordedClient.ts
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#26297 [EventHub] Fix a regression in token renewal
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/withAuth.ts
Labels: Client, Event Hubs

#26305 [@azure/confidential-ledger-rest] Migrate to latest test recorder and externalize recordings
  sdk/confidentialledger/confidential-ledger-rest/assets.json
  sdk/confidentialledger/confidential-ledger-rest/karma.conf.js
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/colder_endpoints/recording_should_obtain_constitution_from_ledger.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/colder_endpoints/recording_should_retrieve_a_list_of_consortium_members.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/colder_endpoints/recording_should_retrieve_a_list_of_enclave_quotes.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/get_collections/recording_should_list_all_available_document_formats.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/get_ledger_history/recording_should_obtain_ledger_entries_from_ledger.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/get_user/recording_should_obtain_user_data.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/list_enclaves/recording_should_list_all_available_document_formats.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/post_transaction/recording_should_post_to_collection.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/post_transaction/recording_should_post_to_default_ledger.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/range_query_should_be_successful/recording_should_audit_2000_entries.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/range_query_should_be_successful/recording_should_post_2000_entries.js
  sdk/confidentialledger/confidential-ledger-rest/recordings/node/test_user_authentications/recording_should_authenticate_using_a_certificate.js
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/isUnexpected.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/logger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/models.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/swagger/README.md
  sdk/confidentialledger/confidential-ledger-rest/test/public/colderEndpoints.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/getCollections.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/historicalRangeQuery.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/ledgerHistory.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/listEnclaveQuotes.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/postTransaction.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/testUserAuth.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/usersEndpoint.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/utils/env.browser.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/utils/env.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/utils/recordedClient.ts
  sdk/confidentialledger/test-resources.bicep
  sdk/confidentialledger/tests.yml
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/options.ts
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/utils/utils.ts
Labels: Client, Confidential Ledger, RestLevelClient

#26314 Sync eng/common directory with azure-sdk-tools for PR 6392
  eng/common/pipelines/templates/steps/create-pull-request.yml
Labels: EngSys, Central-EngSys

#26312 [EventHubs] prepare for 5.11.1 patch release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#26319 Create .nycrc file for code coverage
  sdk/communication/communication-rooms/.nycrc
Labels: Communication - Rooms

#26251 Remove deprecated package @azure/storage-datalake
  sdk/storage/storage-datalake/LICENSE.txt
  sdk/storage/storage-datalake/README.md
  sdk/storage/storage-datalake/package.json
  sdk/storage/storage-datalake/rollup.config.js
  sdk/storage/storage-datalake/src/dataLakeStorageClient.ts
  sdk/storage/storage-datalake/src/dataLakeStorageClientContext.ts
  sdk/storage/storage-datalake/src/models/filesystemOperationsMappers.ts
  sdk/storage/storage-datalake/src/models/index.ts
  sdk/storage/storage-datalake/src/models/mappers.ts
  sdk/storage/storage-datalake/src/models/parameters.ts
  sdk/storage/storage-datalake/src/models/pathOperationsMappers.ts
  sdk/storage/storage-datalake/src/operations/filesystemOperations.ts
  sdk/storage/storage-datalake/src/operations/index.ts
  sdk/storage/storage-datalake/src/operations/pathOperations.ts
  sdk/storage/storage-datalake/tsconfig.json
  sdk/storage/storage-datalake/tsdoc.json
Labels: Client, Storage

#26316 [quantum-jobs] Migrate to test proxy and delete old recordings
  sdk/quantum/quantum-jobs/karma.conf.js
  sdk/quantum/quantum-jobs/package.json
  sdk/quantum/quantum-jobs/recordings/node/quantum_job_lifecycle/recording_test_get_providers_status.js
  sdk/quantum/quantum-jobs/recordings/node/quantum_job_lifecycle/recording_test_get_quotas.js
  sdk/quantum/quantum-jobs/recordings/node/quantum_job_lifecycle/recording_test_quantum_job_lifecycle.js
  sdk/quantum/quantum-jobs/test/public/quantumJobClient.spec.ts
  sdk/quantum/quantum-jobs/test/utils/recorderUtils.ts
  sdk/quantum/quantum-jobs/test/utils/testAuthentication.ts
  sdk/quantum/quantum-jobs/test/utils/testClient.ts
Labels: Client, Quantum

#26274 [Communication][communication-alpha-ids] Update swagger - Include pre-registered alpha ids
  sdk/communication/communication-alpha-ids/CHANGELOG.md
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__manage_configuration/recording_can_list_all_dynamic_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids_by_page.json
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__manage_configuration/recording_can_list_all_dynamic_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids_by_page.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__preregistered_alpha_ids_operations/recording_can_list_all_preregistered_alpha_ids_countries.json
  sdk/communication/communication-alpha-ids/review/communication-alpha-ids.api.md
  sdk/communication/communication-alpha-ids/samples-dev/getConfiguration.ts
  sdk/communication/communication-alpha-ids/src/alphaIdsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/alphaIDsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/mappers.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/parameters.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operations/alphaIds.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operationsInterfaces/alphaIds.ts
  sdk/communication/communication-alpha-ids/src/generated/src/pagingHelper.ts
  sdk/communication/communication-alpha-ids/src/models.ts
  sdk/communication/communication-alpha-ids/swagger/alphaids.json
  sdk/communication/communication-alpha-ids/test/internal/generated_client.spec.ts
  sdk/communication/communication-alpha-ids/test/internal/headers.spec.ts
  sdk/communication/communication-alpha-ids/test/public/dynamicAlphaId.spec.ts
  sdk/communication/communication-alpha-ids/test/public/manageAlphaIdConfiguration.spec.ts
  sdk/communication/communication-alpha-ids/test/public/preRegisteredAlphaId.spec.ts
  sdk/communication/communication-alpha-ids/test/public/utils/alphaIdClientTestUtils.ts
Labels: Communication - Alpha IDs

#26328 private release preview 2023-06-26
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes/recording_return_empty_array_when_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes/recording_should_match_number_to_routes.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes_aad/recording_return_empty_array_when_not_found.json
  sdk/communication/communication-phone-numbers/recordings/node/siproutingclient__match_number_to_routes_aad/recording_should_match_number_to_routes.json
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
Labels: Communication - Phone Numbers

#26192 Rename RouterClient to JobRouterClient
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_Create.ts
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_Delete.ts
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_Get.ts
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_List.ts
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_Update.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_Create.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_Delete.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_Get.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_List.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_Update.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_Create.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_Delete.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_Get.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_List.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_Update.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_Create.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_Delete.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_Get.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_GetStatistics.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_List.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_Update.ts
  sdk/communication/communication-job-router/samples-dev/QuickStart.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_Create.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_Delete.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_Get.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_List.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_Update.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_Create.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_Delete.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_Deregister.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_Get.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_List.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_Register.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_Update.ts
  sdk/communication/communication-job-router/src/index.ts
  sdk/communication/communication-job-router/src/jobRouterAdministrationClient.ts
  sdk/communication/communication-job-router/src/jobRouterClient.ts
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/src/models/responses.ts
  sdk/communication/communication-job-router/test/internal/jobRouterClient.mocked.spec.ts
  sdk/communication/communication-job-router/test/internal/utils/mockClient.ts
  sdk/communication/communication-job-router/test/public/methods/classificationPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/methods/distributionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/methods/exceptionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/methods/jobs.spec.ts
  sdk/communication/communication-job-router/test/public/methods/queues.spec.ts
  sdk/communication/communication-job-router/test/public/methods/workers.spec.ts
  sdk/communication/communication-job-router/test/public/scenarios/assignmentScenario.spec.ts
  sdk/communication/communication-job-router/test/public/scenarios/cancellationScenario.spec.ts
  sdk/communication/communication-job-router/test/public/scenarios/queueingScenario.spec.ts
  sdk/communication/communication-job-router/test/public/utils/polling.ts
Labels: Communication - Job Router

#26334 update rooms package
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-rooms/.nycrc
  sdk/communication/communication-rooms/samples/v1/javascript/README.md
  sdk/communication/communication-rooms/samples/v1/javascript/package.json
  sdk/communication/communication-rooms/samples/v1/javascript/participantOperations.js
  sdk/communication/communication-rooms/samples/v1/javascript/roomOperations.js
  sdk/communication/communication-rooms/samples/v1/javascript/sample.env
  sdk/communication/communication-rooms/samples/v1/typescript/README.md
  sdk/communication/communication-rooms/samples/v1/typescript/package.json
  sdk/communication/communication-rooms/samples/v1/typescript/sample.env
  sdk/communication/communication-rooms/samples/v1/typescript/src/participantOperations.ts
  sdk/communication/communication-rooms/samples/v1/typescript/src/roomOperations.ts
  sdk/communication/communication-rooms/samples/v1/typescript/tsconfig.json
Labels: Communication - Phone Numbers

#26350 ACS Chat Code Coverage Improvement
  sdk/communication/communication-chat/test/internal/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
Labels: Communication - Chat

#26356 [Keyvault Secrets] [Perf Tests] Fix build
  sdk/keyvault/perf-tests/keyvault-secrets/test/secretTest.ts
  sdk/test-utils/perf/GettingStarted.md
Labels: KeyVault

#26354 Sync eng/common directory with azure-sdk-tools for PR 6434
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#26333 Remove the abuse protection check since the service always validates …
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/test/validate.spec.ts
Labels: WebPubSub, auto-merge

#26363 Sync eng/common directory with azure-sdk-tools for PR 6440
  eng/common/scripts/get-codeowners.lib.ps1
Labels: EngSys, Central-EngSys

#26364 Sync .github/workflows directory with azure-sdk-tools for PR 6440
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#25631 Post release automated changes for confidentialledger releases
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/package.json
  sdk/confidentialledger/arm-confidentialledger/src/confidentialLedgerClient.ts
Labels: ConfidentialLedger

#25934 Post release automated changes for networkcloud releases
  sdk/networkcloud/arm-networkcloud/CHANGELOG.md
  sdk/networkcloud/arm-networkcloud/package.json
  sdk/networkcloud/arm-networkcloud/src/networkCloud.ts
Labels: auto-merge

#25936 Post release automated changes for newrelicobservability releases
  sdk/newrelicobservability/arm-newrelicobservability/CHANGELOG.md
  sdk/newrelicobservability/arm-newrelicobservability/package.json
  sdk/newrelicobservability/arm-newrelicobservability/src/newRelicObservability.ts
Labels: auto-merge

#25937 Post release automated changes for mysql releases
  sdk/mysql/arm-mysql-flexible/CHANGELOG.md
  sdk/mysql/arm-mysql-flexible/package.json
  sdk/mysql/arm-mysql-flexible/src/mySQLManagementFlexibleServerClient.ts
Labels: auto-merge

#25938 Post release automated changes for devcenter releases
  sdk/devcenter/arm-devcenter/CHANGELOG.md
  sdk/devcenter/arm-devcenter/package.json
  sdk/devcenter/arm-devcenter/src/devCenterClient.ts
Labels: auto-merge

#25952 Post release automated changes for servicenetworking releases
  sdk/servicenetworking/arm-servicenetworking/CHANGELOG.md
  sdk/servicenetworking/arm-servicenetworking/package.json
  sdk/servicenetworking/arm-servicenetworking/src/serviceNetworkingManagementClient.ts
Labels: auto-merge

#25957 Post release automated changes for cost-management releases
  sdk/cost-management/arm-costmanagement/CHANGELOG.md
  sdk/cost-management/arm-costmanagement/package.json
  sdk/cost-management/arm-costmanagement/src/costManagementClient.ts
Labels: auto-merge

#25961 Post release automated changes for elastic releases
  sdk/elastic/arm-elastic/CHANGELOG.md
  sdk/elastic/arm-elastic/package.json
  sdk/elastic/arm-elastic/src/microsoftElastic.ts
Labels: auto-merge

#25985 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: auto-merge

#25997 Post release automated changes for baremetalinfrastructure releases
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/CHANGELOG.md
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/package.json
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/src/bareMetalInfrastructureClient.ts
Labels: auto-merge

#26009 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: auto-merge

#26241 Post release automated changes for communication releases
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
Labels: auto-merge

#26056 Post release automated changes for liftrqumulo releases
  sdk/liftrqumulo/arm-qumulo/CHANGELOG.md
  sdk/liftrqumulo/arm-qumulo/package.json
  sdk/liftrqumulo/arm-qumulo/src/qumuloStorage.ts
Labels: auto-merge

#26032 Post release automated changes for devhub releases
  sdk/devhub/arm-devhub/CHANGELOG.md
  sdk/devhub/arm-devhub/package.json
  sdk/devhub/arm-devhub/src/developerHubServiceClient.ts
Labels: auto-merge

#25399 Post release automated changes for communication releases
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: Communication

#25428 Post release automated changes for communication releases
  sdk/communication/communication-email/CHANGELOG.md
  sdk/communication/communication-email/package.json
Labels: Communication

#25514 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables

#26213 Post release automated changes for instrumentation releases
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/configuration.ts
Labels: OpenTelemetry

#26143 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#26263 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#26317 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#25880 [engsys][cosmos] switch dev dependency `@sinonjs/fake-timers` to use caret version
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#26331 Add some other request options
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/index.ts
  sdk/core/core-client-rest/src/operationOptionHelpers.ts
  sdk/core/core-client-rest/src/sendRequest.ts
Labels: Azure.Core, OpenAI
