Repository Azure/azure-sdk-for-js, pull requests merged in 2023-05, with the labels that each got.

#25682 [EventHubs] workaround known memory leak in azure/AbortController
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
Labels: Event Hubs

#25707 Add MaxNumberOfJobs + Fix JS SDK
  .vscode/cspell.json
  sdk/communication/communication-job-router/README.md
  sdk/communication/communication-job-router/recordings/browsers/routerclient_exception_policy_operations/recording_should_successfully_list_exception_policies.json
  sdk/communication/communication-job-router/recordings/node/routerclient_exception_policy_operations/recording_should_successfully_list_exception_policies.json
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_Create.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_Create.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_Update.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_Create.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_Update.ts
  sdk/communication/communication-job-router/samples-dev/JobQueue_Create.ts
  sdk/communication/communication-job-router/samples-dev/QuickStart.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_Create.ts
  sdk/communication/communication-job-router/src/generated/src/index.ts
  sdk/communication/communication-job-router/src/generated/src/jobRouterApiClient.ts
  sdk/communication/communication-job-router/src/generated/src/models/index.ts
  sdk/communication/communication-job-router/src/generated/src/models/mappers.ts
  sdk/communication/communication-job-router/src/generated/src/models/parameters.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouterAdministration.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/pagingHelper.ts
  sdk/communication/communication-job-router/src/generated/src/tracing.ts
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/src/models/responses.ts
  sdk/communication/communication-job-router/src/routerAdministrationClient.ts
  sdk/communication/communication-job-router/src/routerClient.ts
  sdk/communication/communication-job-router/swagger/README.md
  sdk/communication/communication-job-router/test/README.md
  sdk/communication/communication-job-router/test/public/exceptionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/utils/testData.ts
Labels: Communication - Job Router

#25688 Sync eng/common directory with azure-sdk-tools for PR 6063
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#25680 [Form Recognizer] Update perf test to use latest FR
  common/config/rush/pnpm-lock.yaml
  sdk/formrecognizer/perf-tests/ai-form-recognizer/package.json
  sdk/formrecognizer/perf-tests/ai-form-recognizer/test/custom.spec.ts
  sdk/formrecognizer/perf-tests/ai-form-recognizer/tsconfig.json
Labels: Cognitive - Form Recognizer

#25592 [ACR] Different model for manifest download types
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_with_tag.json
  sdk/containerregistry/container-registry/review/container-registry.api.md
  sdk/containerregistry/container-registry/samples-dev/deleteBlob.ts
  sdk/containerregistry/container-registry/samples-dev/downloadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples-dev/uploadImage.ts
  sdk/containerregistry/container-registry/samples-dev/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/deleteBlob.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/deleteManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/downloadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/downloadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadImage.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/uploadManifest.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteBlob.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/src/content/containerRegistryContentClient.ts
  sdk/containerregistry/container-registry/src/content/models.ts
  sdk/containerregistry/container-registry/src/generated/generatedClient.ts
  sdk/containerregistry/container-registry/src/generated/models/index.ts
  sdk/containerregistry/container-registry/src/generated/models/mappers.ts
  sdk/containerregistry/container-registry/swagger/README.md
  sdk/containerregistry/container-registry/test/public/containerRegistryContentClient.spec.ts
Labels: Container Registry

#25719 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, auto-merge

#25720 [monitor/core] Update to latest OTEL
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-http/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
  sdk/test-utils/test-utils/package.json
Labels: Azure.Core, OpenTelemetryInstrumentation

#25721 [EngSys][communication-rooms] small tweaks on dev dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-rooms/package.json
Labels: Communication - Rooms

#25648 update to azd auth login readme
  sdk/identity/identity/README.md
Labels: customer-reported, Azure.Identity, Community Contribution

#25725 [core-lro] Prepare release
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#25482 [monitor-query] resource centric api generated from swagger
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/karma.conf.js
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/recordings/browsers/logsqueryclient_live_tests/recording_query_resource_centric_logs.json
  sdk/monitor/monitor-query/recordings/browsers/logsqueryclient_live_tests/recording_queryresource_bad_query_with_invalid_table.json
  sdk/monitor/monitor-query/recordings/node/logsqueryclient_live_tests/recording_query_resource_centric_logs.json
  sdk/monitor/monitor-query/recordings/node/logsqueryclient_live_tests/recording_queryresource_bad_query_with_invalid_table.json
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/azureLogAnalyticsContext.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/models/index.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/models/parameters.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/operations/query.ts
  sdk/monitor/monitor-query/src/generated/logquery/src/operationsInterfaces/query.ts
  sdk/monitor/monitor-query/src/generated/metrics/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsdefinitions/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/generated/metricsnamespaces/src/monitorManagementClientContext.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/swagger/logquery.md
  sdk/monitor/monitor-query/test/public/logsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/metricsQueryClient.spec.ts
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
  sdk/monitor/test-resources.json
Labels: Monitor

#25229 [dev-tool] Migration framework
  common/smoke-test/README.md
  common/smoke-test/run.js
  common/tools/dev-tool/src/commands/about.ts
  common/tools/dev-tool/src/commands/admin/create-migration.ts
  common/tools/dev-tool/src/commands/admin/index.ts
  common/tools/dev-tool/src/commands/index.ts
  common/tools/dev-tool/src/commands/migrate.ts
  common/tools/dev-tool/src/commands/test-proxy/init.ts
  common/tools/dev-tool/src/commands/test-proxy/migrate.ts
  common/tools/dev-tool/src/index.ts
  common/tools/dev-tool/src/migrations/README.md
  common/tools/dev-tool/src/migrations/onboard/test-proxy-asset-sync.ts
  common/tools/dev-tool/src/migrations/sample-config-to-metadata.ts
  common/tools/dev-tool/src/templates/migration.ts
  common/tools/dev-tool/src/util/assert.ts
  common/tools/dev-tool/src/util/git.ts
  common/tools/dev-tool/src/util/migrations.ts
  common/tools/dev-tool/src/util/pwsh.ts
  common/tools/dev-tool/src/util/resolveProject.ts
  common/tools/dev-tool/src/util/samples/configuration.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
  common/tools/dev-tool/test/samples/files.spec.ts
  common/tools/dev-tool/test/samples/files/README.md
  sdk/template/template/package.json
Labels: EngSys, dev-tool

#25044 [design/dev-tool] automated migration framework
  design/dev-tool-migrations.md
Labels: dev-tool

#25733 Sync eng/common directory with azure-sdk-tools for PR 6086
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#25690 migrate quota
  sdk/quota/arm-quota/assets.json
  sdk/quota/arm-quota/recordings/node/my_test/recording_sample_test.json
  sdk/quota/arm-quota/test/quota_operations_test.spec.ts
  sdk/quota/arm-quota/test/sampleTest.ts
Labels: Mgmt

#25656 migrate confidentialledger
  sdk/confidentialledger/arm-confidentialledger/assets.json
  sdk/confidentialledger/arm-confidentialledger/recordings/node/my_test/recording_sample_test.json
  sdk/confidentialledger/arm-confidentialledger/test/confidentialledger_operations_test.spec.ts
  sdk/confidentialledger/arm-confidentialledger/test/sampleTest.ts
Labels: ConfidentialLedger

#25676 add-logging-options-in-client-options
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
Labels: Azure.Core

#25739 [core][core-client-rest] prepare for 2023 May release
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#25749 Sync eng/common directory with azure-sdk-tools for PR 6061
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#25748 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core, auto-merge

#25764 Sync .github/workflows directory with azure-sdk-tools for PR 6101
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#25687 [Search] Rename `Model` to `TModel`
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/searchClient.ts
Labels: Search

#25686 [Search] Mark deprecated skills
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/generated/data/models/documentsMappers.ts
  sdk/search/search-documents/src/generated/data/searchClientContext.ts
  sdk/search/search-documents/src/generated/service/models/dataSourcesMappers.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/indexersMappers.ts
  sdk/search/search-documents/src/generated/service/models/indexesMappers.ts
  sdk/search/search-documents/src/generated/service/models/skillsetsMappers.ts
  sdk/search/search-documents/src/generated/service/models/synonymMapsMappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClientContext.ts
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#25746 [ACR] Improvements to README, TSG and samples
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/README.md
  sdk/containerregistry/container-registry/TROUBLESHOOTING.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/anonymousListTags.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/deleteImages.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/repositoryAndArtifact.js
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/sample.env
  sdk/containerregistry/container-registry/samples/v1-beta/javascript/setImageProperties.js
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/README.md
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/package.json
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/sample.env
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/anonymousListTags.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/deleteImages.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/src/setImageProperties.ts
  sdk/containerregistry/container-registry/samples/v1-beta/typescript/tsconfig.json
  sdk/containerregistry/container-registry/samples/v1/javascript/README.md
  sdk/containerregistry/container-registry/samples/v1/javascript/anonymousListTags.js
  sdk/containerregistry/container-registry/samples/v1/javascript/containerRegistryClient.js
  sdk/containerregistry/container-registry/samples/v1/javascript/deleteBlob.js
  sdk/containerregistry/container-registry/samples/v1/javascript/deleteImages.js
  sdk/containerregistry/container-registry/samples/v1/javascript/deleteManifest.js
  sdk/containerregistry/container-registry/samples/v1/javascript/downloadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1/javascript/downloadImage.js
  sdk/containerregistry/container-registry/samples/v1/javascript/package.json
  sdk/containerregistry/container-registry/samples/v1/javascript/repositoryAndArtifact.js
  sdk/containerregistry/container-registry/samples/v1/javascript/sample.env
  sdk/containerregistry/container-registry/samples/v1/javascript/setImageProperties.js
  sdk/containerregistry/container-registry/samples/v1/javascript/uploadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1/javascript/uploadImage.js
  sdk/containerregistry/container-registry/samples/v1/javascript/uploadManifest.js
  sdk/containerregistry/container-registry/samples/v1/typescript/README.md
  sdk/containerregistry/container-registry/samples/v1/typescript/package.json
  sdk/containerregistry/container-registry/samples/v1/typescript/sample.env
  sdk/containerregistry/container-registry/samples/v1/typescript/src/anonymousListTags.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/containerRegistryClient.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/deleteBlob.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/deleteImages.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/deleteManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/setImageProperties.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/tsconfig.json
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry

#25603 Added Cosmos Diagnostics to client objects.
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnosticsContext.ts
  sdk/cosmosdb/cosmos/src/client/Conflict/Conflict.ts
  sdk/cosmosdb/cosmos/src/client/Conflict/ConflictResponse.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Container/ContainerResponse.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Database/DatabaseResponse.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/ItemResponse.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/client/Offer/Offer.ts
  sdk/cosmosdb/cosmos/src/client/Offer/OfferResponse.ts
  sdk/cosmosdb/cosmos/src/client/Permission/Permission.ts
  sdk/cosmosdb/cosmos/src/client/Permission/PermissionResponse.ts
  sdk/cosmosdb/cosmos/src/client/Permission/Permissions.ts
  sdk/cosmosdb/cosmos/src/client/StoredProcedure/StoredProcedure.ts
  sdk/cosmosdb/cosmos/src/client/StoredProcedure/StoredProcedureResponse.ts
  sdk/cosmosdb/cosmos/src/client/StoredProcedure/StoredProcedures.ts
  sdk/cosmosdb/cosmos/src/client/Trigger/Trigger.ts
  sdk/cosmosdb/cosmos/src/client/Trigger/TriggerResponse.ts
  sdk/cosmosdb/cosmos/src/client/Trigger/Triggers.ts
  sdk/cosmosdb/cosmos/src/client/User/User.ts
  sdk/cosmosdb/cosmos/src/client/User/UserResponse.ts
  sdk/cosmosdb/cosmos/src/client/User/Users.ts
  sdk/cosmosdb/cosmos/src/client/UserDefinedFunction/UserDefinedFunction.ts
  sdk/cosmosdb/cosmos/src/client/UserDefinedFunction/UserDefinedFunctionResponse.ts
  sdk/cosmosdb/cosmos/src/client/UserDefinedFunction/UserDefinedFunctions.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/RequestContext.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/ResourceResponse.ts
  sdk/cosmosdb/cosmos/src/request/Response.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/test/public/functional/plugin.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/failover.spec.ts
Labels: Cosmos

#25770 Post release automated changes for core releases
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core, auto-merge

#25765 [language text] Remove resolution feature from entity recognition
  sdk/cognitivelanguage/ai-language-text/README.md
  sdk/cognitivelanguage/ai-language-text/Samples.md
  sdk/cognitivelanguage/ai-language-text/review/ai-language-text.api.md
  sdk/cognitivelanguage/ai-language-text/samples-dev/entityResolutions.ts
  sdk/cognitivelanguage/ai-language-text/src/index.ts
  sdk/cognitivelanguage/ai-language-text/src/models.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
Labels: Cognitive - Language

#25793 [EngSys] upgrade dev dependency `eslint` to `^8.0.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/commands/admin/create-migration.ts
  common/tools/dev-tool/src/commands/migrate.ts
  common/tools/dev-tool/src/commands/test-proxy/init.ts
  common/tools/dev-tool/src/util/migrations.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-sdktype.ts
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
  sdk/appservice/arm-appservice-rest/package.json
  sdk/communication/communication-email/package.json
  sdk/communication/communication-job-router/package.json
  sdk/containerservice/arm-containerservice-rest/package.json
  sdk/core/perf-tests/core-rest-pipeline/package.json
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/maps/maps-route-rest/package.json
  sdk/monitor/monitor-ingestion/package.json
  sdk/personalizer/ai-personalizer-rest/package.json
  sdk/servicefabric/arm-servicefabric-rest/package.json
  sdk/template/template/package.json
Labels: Azure.Core, Monitor, Maps, Communication - Email, Communication - Job Router

#25751 [Language Text] Remove FHIR and Auto Language Detection Feature
  sdk/cognitivelanguage/ai-language-text/README.md
  sdk/cognitivelanguage/ai-language-text/Samples.md
  sdk/cognitivelanguage/ai-language-text/review/ai-language-text.api.md
  sdk/cognitivelanguage/ai-language-text/samples-dev/autoLanguageDetection.ts
  sdk/cognitivelanguage/ai-language-text/samples-dev/healthcare.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/index.ts
  sdk/cognitivelanguage/ai-language-text/src/generated/models/mappers.ts
  sdk/cognitivelanguage/ai-language-text/src/index.ts
  sdk/cognitivelanguage/ai-language-text/src/models.ts
  sdk/cognitivelanguage/ai-language-text/src/transforms.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
Labels: Cognitive - Language

#25798 Sync eng/common directory with azure-sdk-tools for PR 6118
  eng/common/testproxy/transition-scripts/README.md
Labels: EngSys, Central-EngSys

#25803 [Identity] Archboad review feedback naming updates
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/authorityValidationOptions.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredentialOptions.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/tokenExchangeMsi.ts
Labels: Azure.Identity

#25813 [core] add proper parameter type for TrustedTypePolicy `createHTML` callback
  common/config/rush/common-versions.json
  sdk/core/core-http/src/util/xml.browser.ts
  sdk/core/core-xml/src/xml.browser.ts
Labels: Azure.Core

#25801 [Search] Fix ISO8601 deserialization
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/src/serialization.ts
  sdk/search/search-documents/test/internal/serialization.spec.ts
Labels: Search

#25767 [Search] Prepare 2023 May Release
  sdk/search/search-documents/CHANGELOG.md
Labels: Search

#25779 include tests for generated client in short codes
  sdk/communication/communication-short-codes/.nycrc
  sdk/communication/communication-short-codes/test/internal/generated_client.spec.ts
Labels: Communication - Short Codes

#25829 [Identity] Fix undefined dereference
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/workloadIdentityCredential.ts
Labels: customer-reported, Azure.Identity, Community Contribution

#25816 Sync eng/common directory with azure-sdk-tools for PR 6103
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25841 [ACR] Fix flaky live tests
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_download_docker_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_blob.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_blob_from_a_buffer.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_docker_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_from_buffer.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_from_stream.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_can_upload_oci_manifest_with_tag.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_deleteblob_should_succeed_when_trying_to_delete_a_nonexistent_blob.json
  sdk/containerregistry/container-registry/recordings/node/containerregistrycontentclient/recording_must_specify_media_type_when_uploading_docker_manifest.json
  sdk/containerregistry/container-registry/test/data/docker/config.json
  sdk/containerregistry/container-registry/test/data/docker/ec0488e025553d34358768c43e24b1954e0056ec4700883252c74f3eec273016
  sdk/containerregistry/container-registry/test/data/docker/hello-world/manifest.json
  sdk/containerregistry/container-registry/test/data/docker/manifest.json
  sdk/containerregistry/container-registry/test/public/containerRegistryContentClient.spec.ts
  sdk/containerregistry/container-registry/test/utils/utils.ts
Labels: Container Registry

#25769 [ACR] Harden downloadBlob and getManifest validation
  sdk/containerregistry/container-registry/src/content/containerRegistryContentClient.ts
  sdk/containerregistry/container-registry/src/utils/helpers.ts
  sdk/containerregistry/container-registry/src/utils/retriableReadableStream.ts
Labels: Container Registry

#25842 [ACR] Update SDK_VERSION constant
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/constants.ts
Labels: Container Registry

#25843 [Search] Fix constant paths for version bumping
  sdk/search/search-documents/package.json
Labels: Search

#25845 Post release automated changes for containerregistry releases
  sdk/containerregistry/container-registry/CHANGELOG.md
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/src/constants.ts
  sdk/containerregistry/container-registry/src/generated/generatedClientContext.ts
  sdk/containerregistry/container-registry/swagger/README.md
Labels: Container Registry

#25861 Add ListRooms Test and Recorded Tests
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room_with_null_role.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_cleans_up.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_creates_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_removes_a_participant_from_the_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_participants_operations/recording_successfully_updates_a_participant.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_empty_request.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_creates_a_room_with_payload.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_deletes_a_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_gets_a_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_list_rooms.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_default_room.json
  sdk/communication/communication-rooms/recordings/browsers/roomsclient_room_operations/recording_successfully_updates_a_room_with_participants.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_adds_participants_to_the_room_with_null_role.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_cleans_up.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_creates_the_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_removes_a_participant_from_the_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_participants_operations/recording_successfully_updates_a_participant.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_empty_request.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_creates_a_room_with_payload.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_deletes_a_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_gets_a_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_list_rooms.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_default_room.json
  sdk/communication/communication-rooms/recordings/node/roomsclient_room_operations/recording_successfully_updates_a_room_with_participants.json
  sdk/communication/communication-rooms/samples-dev/roomOperations.ts
  sdk/communication/communication-rooms/test/internal/roomsClient.mocked.spec.ts
  sdk/communication/communication-rooms/test/internal/utils/mockedClient.ts
  sdk/communication/communication-rooms/test/public/roomsClient.spec.ts
Labels: Communication - Rooms

#25875 [Identity] Remove console logging for processMultitenantRequest
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/samples/v3/javascript/README.md
  sdk/identity/identity/samples/v3/javascript/azureDeveloperCliCredential.js
  sdk/identity/identity/samples/v3/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/v3/javascript/defaultAzureCredential.js
  sdk/identity/identity/samples/v3/javascript/environmentCredential.js
  sdk/identity/identity/samples/v3/javascript/package.json
  sdk/identity/identity/samples/v3/javascript/sample.env
  sdk/identity/identity/samples/v3/javascript/workloadIdentityCredential.js
  sdk/identity/identity/samples/v3/typescript/README.md
  sdk/identity/identity/samples/v3/typescript/package.json
  sdk/identity/identity/samples/v3/typescript/sample.env
  sdk/identity/identity/samples/v3/typescript/src/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples/v3/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/v3/typescript/src/defaultAzureCredential.ts
  sdk/identity/identity/samples/v3/typescript/src/environmentCredential.ts
  sdk/identity/identity/samples/v3/typescript/src/workloadIdentityCredential.ts
  sdk/identity/identity/samples/v3/typescript/tsconfig.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/util/processMultiTenantRequest.ts
Labels: Azure.Identity

#25878 [Search] Fix constant paths for version bumping
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#25891 [language text] Remove auto language detection tests & update healthcare expectations
  sdk/cognitivelanguage/ai-language-text/assets.json
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/expectations.ts
Labels: Cognitive - Language

#25894 [Text Analytics] Update healthcare test and recording
  sdk/textanalytics/ai-text-analytics/recordings/browsers/aad_textanalyticsclient_lros_health/recording_entity_assertions.json
  sdk/textanalytics/ai-text-analytics/recordings/browsers/apikey_textanalyticsclient_lros_health/recording_entity_assertions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/aad_textanalyticsclient_lros_health/recording_entity_assertions.json
  sdk/textanalytics/ai-text-analytics/recordings/node/apikey_textanalyticsclient_lros_health/recording_entity_assertions.json
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
Labels: Cognitive - Text Analytics

#25821 Add release date for Rooms Public Preview Release JS
  sdk/communication/communication-rooms/CHANGELOG.md
Labels: Communication - Rooms

#25897 [@azure/eventgrid] Update EG Minor Version
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#25907 [communication][communication-alpha-ids] enable PPE cloud for alpha ids live tests
  sdk/communication/communication-alpha-ids/recordings/browsers/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/recordings/node/alphaidsclient__manage_configuration/recording_can_manage_configuration.json
  sdk/communication/communication-alpha-ids/test/public/manageAlphaIdConfiguration.spec.ts
  sdk/communication/communication-alpha-ids/test/public/utils/alphaIdClientTestUtils.ts
  sdk/communication/communication-alpha-ids/tests.yml
Labels: Communication - Alpha IDs

#25896 [Core] remove URL validations on credential scopes
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/src/serviceClient.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-http/CHANGELOG.md
  sdk/core/core-http/package.json
  sdk/core/core-http/src/serviceClient.ts
  sdk/core/core-http/src/util/constants.ts
  sdk/core/core-http/test/serviceClientTests.ts
Labels: Azure.Core

#25910 Updates notification-hubs deleteRegistration so that it actually HTTP DELETEs.
  sdk/notificationhubs/notification-hubs/src/api/deleteRegistration.ts
Labels: customer-reported, Community Contribution

#25830 update readme
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#25930 Sync eng/common directory with azure-sdk-tools for PR 6208
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#25931 Update Azure Identity lib README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#25906 [@azure/eventgrid] - Azure EventGrid Beta Release V4.13.0-beta.1
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  sdk/eventgrid/eventgrid/.eslintrc.json
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/cadl-generated/EventGridClient.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/api/EventGridContext.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/api/index.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/api/models.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/api/operations.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/common/interfaces.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/index.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/logger.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/clientDefinitions.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/eventGridClient.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/index.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/isUnexpected.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/models.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/outputModels.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/parameters.ts
  sdk/eventgrid/eventgrid/src/cadl-generated/rest/responses.ts
  sdk/eventgrid/eventgrid/src/eventGridClientV2.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/models.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#25944 Sync eng/common directory with azure-sdk-tools for PR 6197
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#25942 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: auto-merge

#25949 Update Links
  sdk/eventgrid/arm-eventgrid/samples/v14/javascript/README.md
  sdk/eventgrid/arm-eventgrid/samples/v14/typescript/README.md
Labels: Mgmt

#25963 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt, auto-merge

#25962 Post release automated changes for kubernetesconfiguration releases
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/CHANGELOG.md
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/package.json
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/src/sourceControlConfigurationClient.ts
Labels: Mgmt, auto-merge

#25959 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt, auto-merge

#25960 Post release automated changes for databox releases
  sdk/databox/arm-databox/CHANGELOG.md
  sdk/databox/arm-databox/package.json
  sdk/databox/arm-databox/src/dataBoxManagementClient.ts
Labels: Mgmt, auto-merge

#25964 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt, auto-merge

#25967 Migrate flexible and hybrid
  common/config/rush/pnpm-lock.yaml
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/assets.json
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/assets.json
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/assets.json
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/assets.json
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/databoxedge/arm-databoxedge-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/assets.json
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/dns/arm-dns-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/assets.json
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/eventhub/arm-eventhub-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/assets.json
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/iothub/arm-iothub-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/assets.json
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/keyvault/arm-keyvault-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/assets.json
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/locks/arm-locks-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/assets.json
  sdk/monitor/arm-monitor-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/network/arm-network-profile-2020-09-01-hybrid/assets.json
  sdk/network/arm-network-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/network/arm-network-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/assets.json
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/policy/arm-policy-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/assets.json
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/assets.json
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/assets.json
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.js
  sdk/subscription/arm-subscriptions-profile-2020-09-01-hybrid/recordings/node/my_test/recording_sample_test.json
Labels: Mgmt

#25987 Post release automated changes for policy releases
  sdk/policy/arm-policy/CHANGELOG.md
  sdk/policy/arm-policy/package.json
  sdk/policy/arm-policy/src/policyClient.ts
Labels: Mgmt, auto-merge

#25669 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/arm-appconfiguration/CHANGELOG.md
  sdk/appconfiguration/arm-appconfiguration/package.json
  sdk/appconfiguration/arm-appconfiguration/src/appConfigurationManagementClient.ts
Labels: Mgmt

#25923 Post release automated changes for eventgrid releases
  sdk/eventgrid/arm-eventgrid/CHANGELOG.md
  sdk/eventgrid/arm-eventgrid/package.json
  sdk/eventgrid/arm-eventgrid/src/eventGridManagementClient.ts
Labels: Mgmt, auto-merge

#25933 Post release automated changes for privatedns releases
  sdk/privatedns/arm-privatedns/CHANGELOG.md
  sdk/privatedns/arm-privatedns/package.json
  sdk/privatedns/arm-privatedns/src/privateDnsManagementClient.ts
Labels: Mgmt, auto-merge

#25935 Post release automated changes for frontdoor releases
  sdk/frontdoor/arm-frontdoor/CHANGELOG.md
  sdk/frontdoor/arm-frontdoor/package.json
  sdk/frontdoor/arm-frontdoor/src/frontDoorManagementClient.ts
Labels: Mgmt, auto-merge

#25965 Post release automated changes for postgresql releases
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
Labels: Mgmt, auto-merge

#25953 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt, auto-merge

#25983 [ACS JobRouter] Job scheduling changes
  sdk/communication/communication-job-router/recordings/browsers/routerclient_job_operations/recording_should_create_a_scheduled_job.json
  sdk/communication/communication-job-router/recordings/browsers/routerclient_job_operations/recording_should_list_scheduled_jobs.json
  sdk/communication/communication-job-router/recordings/node/routerclient_job_operations/recording_should_create_a_scheduled_job.json
  sdk/communication/communication-job-router/recordings/node/routerclient_job_operations/recording_should_list_scheduled_jobs.json
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/src/generated/src/models/index.ts
  sdk/communication/communication-job-router/src/generated/src/models/mappers.ts
  sdk/communication/communication-job-router/src/generated/src/models/parameters.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouter.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/swagger/README.md
  sdk/communication/communication-job-router/test/public/methods/jobs.spec.ts
Labels: Communication - Job Router

#25992 Sync eng/common directory with azure-sdk-tools for PR 6230
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#25993 Sync eng/common directory with azure-sdk-tools for PR 6235
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#25991 Sync eng/common directory with azure-sdk-tools for PR 6202
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#25718 [Communication][Chat] Added File Sharing Support
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/browsers/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_creates_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatclient_chat_operations/recording_successfully_deletes_a_thread.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_adds_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_deletes_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_gets_the_thread_properties.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_initializes_chatthreadclient.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_messages_one_by_one_and_by_page.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_participants.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_lists_read_receipts.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_remove_a_participant.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_retrieves_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_a_message.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_read_receipt.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_sends_typing_notification.json
  sdk/communication/communication-chat/recordings/node/chatthreadclient/recording_successfully_updates_the_thread_topic.json
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
Labels: Communication - Chat

#26011 Communication Resource | API Version Update
  sdk/communication/test-resources/test-resources.json
Labels: Communication

#26014 Sync eng/common directory with azure-sdk-tools for PR 6248
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys, Central-EngSys

#26019 Add reofferTimeUtc to Decline API
  .vscode/cspell.json
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/src/generated/src/models/index.ts
  sdk/communication/communication-job-router/src/generated/src/models/mappers.ts
  sdk/communication/communication-job-router/src/generated/src/models/parameters.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/models/options.ts
  sdk/communication/communication-job-router/src/routerAdministrationClient.ts
  sdk/communication/communication-job-router/src/routerClient.ts
  sdk/communication/communication-job-router/swagger/README.md
Labels: Communication - Job Router

#26031 [JobRouter] Minor fix to API
  sdk/communication/communication-job-router/review/communication-job-router.api.md
  sdk/communication/communication-job-router/src/models/models.ts
  sdk/communication/communication-job-router/src/routerClient.ts
Labels: Communication - Job Router

#26012 Regenerate postgresql
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/_meta.json
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/review/arm-postgresql-flexible.api.md
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsCreateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples-dev/migrationsUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/README.md
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsCreateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/javascript/migrationsUpdateSample.js
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/README.md
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsCreateSample.ts
  sdk/postgresql/arm-postgresql-flexible/samples/v8-beta/typescript/src/migrationsUpdateSample.ts
  sdk/postgresql/arm-postgresql-flexible/src/models/index.ts
  sdk/postgresql/arm-postgresql-flexible/src/models/mappers.ts
Labels: Mgmt

#26040 Post release automated changes for postgresql releases
  sdk/postgresql/arm-postgresql-flexible/CHANGELOG.md
  sdk/postgresql/arm-postgresql-flexible/package.json
  sdk/postgresql/arm-postgresql-flexible/src/postgreSQLManagementFlexibleServerClient.ts
Labels: Mgmt, auto-merge

#26023 [@azure/openai] fixed openAI credentials
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: customer-reported, Community Contribution

#25981 Added shortcode cost wrapper to the shortcode SDK
  sdk/communication/communication-short-codes/README.md
  sdk/communication/communication-short-codes/recordings/browsers/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs_by_page.json
  sdk/communication/communication-short-codes/recordings/node/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs.json
  sdk/communication/communication-short-codes/recordings/node/shortcodecostsclient__lists_short_code_costs/recording_can_list_all_short_code_costs_by_page.json
  sdk/communication/communication-short-codes/review/communication-short-codes.api.md
  sdk/communication/communication-short-codes/samples-dev/getAllShortCodeCosts.ts
  sdk/communication/communication-short-codes/samples/v1/javascript/getAllShortCodeCosts.js
  sdk/communication/communication-short-codes/samples/v1/typescript/src/getAllShortCodeCosts.ts
  sdk/communication/communication-short-codes/src/generated/src/models/index.ts
  sdk/communication/communication-short-codes/src/generated/src/models/mappers.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/shortCodesOperations.ts
  sdk/communication/communication-short-codes/src/generated/src/operationsInterfaces/shortCodesOperations.ts
  sdk/communication/communication-short-codes/src/models.ts
  sdk/communication/communication-short-codes/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/swagger/shortcodes.json
  sdk/communication/communication-short-codes/test/public/listShortCodeCosts.spec.ts
Labels: Communication - Short Codes

#26041 Sync eng/common directory with azure-sdk-tools for PR 6244
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#26045 [core] prepare for June 2023 releases
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core

#26050 Sync eng/common directory with azure-sdk-tools for PR 6222
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#25657 Post release automated changes for iothub releases
  sdk/iothub/arm-iothub/CHANGELOG.md
  sdk/iothub/arm-iothub/package.json
  sdk/iothub/arm-iothub/src/iotHubClient.ts
Labels: Mgmt

#25653 Post release automated changes for keyvault releases
  sdk/keyvault/arm-keyvault/CHANGELOG.md
  sdk/keyvault/arm-keyvault/package.json
  sdk/keyvault/arm-keyvault/src/keyVaultManagementClient.ts
Labels: Mgmt

#26016 [keyvault] CryptographyClient: fall back to remote operations if missing get permission
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/src/cryptographyClient.ts
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
  sdk/keyvault/keyvault-keys/test/internal/crypto.spec.ts
Labels: KeyVault

#26022 [monitor/core] Update to Latest OpenTelemetry
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation
