Repository Azure/azure-sdk-for-js, pull requests merged in 2024-06, with the labels that each got.

#29876 [Schema Registry] Update Dependencies in package.json
  sdk/schemaregistry/schema-registry-avro/test/public/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/test/public/utils/recordedClient.ts
Labels: Schema Registry

#29848 Add federated auth mode for live testing
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/template/template/tests.yml
Labels: EngSys, Central-EngSys

#29871 [@azure/monitor-query] Provide sovereign cloud support for monitor SDKs
  sdk/monitor/monitor-ingestion/CHANGELOG.md
  sdk/monitor/monitor-ingestion/README.md
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/review/monitor-ingestion.api.md
  sdk/monitor/monitor-ingestion/src/constants.ts
  sdk/monitor/monitor-ingestion/src/index.ts
  sdk/monitor/monitor-ingestion/src/logsIngestionClient.ts
  sdk/monitor/monitor-query/CHANGELOG.md
  sdk/monitor/monitor-query/README.md
  sdk/monitor/monitor-query/package.json
  sdk/monitor/monitor-query/review/monitor-query.api.md
  sdk/monitor/monitor-query/src/constants.ts
  sdk/monitor/monitor-query/src/index.ts
  sdk/monitor/monitor-query/src/logsQueryClient.ts
  sdk/monitor/monitor-query/src/metricsClient.ts
  sdk/monitor/monitor-query/src/metricsQueryClient.ts
  sdk/monitor/perf-tests/monitor-query/package.json
Labels: Monitor

#29862 [web pub sub] update express to ESM
  common/config/rush/pnpm-lock.yaml
  sdk/web-pubsub/web-pubsub-express/.eslintrc.json
  sdk/web-pubsub/web-pubsub-express/.tshy/build.json
  sdk/web-pubsub/web-pubsub-express/.tshy/commonjs.json
  sdk/web-pubsub/web-pubsub-express/.tshy/esm.json
  sdk/web-pubsub/web-pubsub-express/api-extractor.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub-express/samples-dev/server.ts
  sdk/web-pubsub/web-pubsub-express/samples-dev/tsconfig.json
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/src/index.ts
  sdk/web-pubsub/web-pubsub-express/src/utils.ts
  sdk/web-pubsub/web-pubsub-express/src/webPubSubEventHandler.ts
  sdk/web-pubsub/web-pubsub-express/test/connect.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/connected.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/ctor.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/disconnected.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/user.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/validate.spec.ts
  sdk/web-pubsub/web-pubsub-express/tsconfig.json
  sdk/web-pubsub/web-pubsub-express/vitest.config.ts
Labels: WebPubSub

#29853 [ServiceBus] Remove verification of abort error messages in tests
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/test/public/sessionsTests.spec.ts
Labels: Service Bus

#29874 [Storage]Update version for GA release.
  sdk/quantum/quantum-jobs/test/utils/testAuthentication.ts
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#29787 update compute-rest
  sdk/compute/arm-compute-rest/package.json
  sdk/compute/arm-compute-rest/test/public/compute-rest-sample.spec.ts
  sdk/compute/arm-compute-rest/test/public/utils/env.browser.ts
  sdk/compute/arm-compute-rest/test/public/utils/env.ts
  sdk/compute/arm-compute-rest/test/public/utils/recordedClient.ts
Labels: Mgmt

#29815 Fix Azure Communication Messages sample
  sdk/communication/communication-messages-rest/samples/v1/javascript/sample.env
  sdk/communication/communication-messages-rest/samples/v1/typescript/sample.env
Labels: Communication

#29892 [webpubsub] missing changes from build
  sdk/web-pubsub/web-pubsub-express/.eslintrc.json
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: Client, WebPubSub

#29899 Ported from #29897 - conn string sanitizer fix
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/sanitizer.ts
  sdk/test-utils/recorder/test/sanitizers.spec.ts
Labels: test-utils

#29889 [eslint-plugin] Fix broken global ignore pattern
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/markdown-customized.ts
  sdk/appconfiguration/app-configuration/README.md
  sdk/appconfiguration/app-configuration/eslint.config.mjs
  sdk/appconfiguration/app-configuration/package.json
  sdk/cosmosdb/cosmos/test/.eslintrc.json
  sdk/cosmosdb/cosmos/test/eslint.config.mjs
Labels: Cosmos, App Configuration

#29897 [Recorder] Fixes connectionStringSanitizer regression - incorrect bodies
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/sanitizer.ts
  sdk/test-utils/recorder/test/sanitizers.spec.ts
Labels: test-utils

#29901 Sync eng/common directory with azure-sdk-tools for PR 8370
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#29896 Sync eng/common directory with azure-sdk-tools for PR 8376
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#29924 Update Swagger spec commit for queue
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#29918 Fix playback for communication-chat SDK
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
Labels: Communication - Chat

#29930 [identity] Skip expired cert tests
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#29919 Post release automated changes for hybridcompute releases
  sdk/hybridcompute/arm-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/arm-hybridcompute/package.json
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClient.ts
Labels: Mgmt

#29902 Post release automated changes for test-utils releases
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
Labels: test-utils

#29700 [communication-chat] Data Loss Prevention and TextOnlyChat
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test.env
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
Labels: Communication - Chat

#29932 [Event Hubs] Support GeoDR
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/util/constants.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/managementClient.ts
  sdk/eventhub/event-hubs/src/partitionProcessor.ts
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/internal/eventPosition.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventdata.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
  sdk/eventhub/event-hubs/test/internal/partitionPump.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/utils/testUtils.ts
Labels: Event Hubs, Azure.Core

#29764 [@azure/eventgrid-namespaces] GA Release for V1.0.0
  sdk/eventgrid/eventgrid-namespaces/CHANGELOG.md
  sdk/eventgrid/eventgrid-namespaces/assets.json
  sdk/eventgrid/eventgrid-namespaces/package.json
  sdk/eventgrid/eventgrid-namespaces/review/eventgrid-namespaces.api.md
  sdk/eventgrid/eventgrid-namespaces/samples-dev/namespaceActivities.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/EventGridClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/api/EventGridContext.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/api/operations.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/index.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/models/index.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/models/models.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/models/options.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/rest/clientDefinitions.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/rest/eventGridClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/rest/isUnexpected.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/rest/models.ts
  sdk/eventgrid/eventgrid-namespaces/src/cadl-generated/rest/parameters.ts
  sdk/eventgrid/eventgrid-namespaces/src/cloudEventDistrubtedTracingEnricherPolicy.ts
  sdk/eventgrid/eventgrid-namespaces/src/consumer.ts
  sdk/eventgrid/eventgrid-namespaces/src/eventGridNamespacesClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/eventGridNamespacesPublishBinaryMode.ts
  sdk/eventgrid/eventgrid-namespaces/src/eventGridReceiverClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/eventGridSenderClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/index.ts
  sdk/eventgrid/eventgrid-namespaces/src/models.ts
  sdk/eventgrid/eventgrid-namespaces/src/util.ts
  sdk/eventgrid/eventgrid-namespaces/test/public/eventGridNamespacesClient.spec.ts
  sdk/eventgrid/eventgrid-namespaces/test/public/utils/recordedClient.ts
Labels: Event Grid

#29931 [Identity] Bump core-client Version For Min Test
  sdk/identity/identity/package.json
  sdk/test-utils/recorder/package.json
Labels: test-utils

#29912 [eslint-plugin] skip some package json linting for packages using tshy
  common/tools/dev-tool/src/commands/admin/list/esm-migrations.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-apiextractor-json-types.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-files-required.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-main-is-cjs.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-module.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-types.ts
  common/tools/eslint-plugin-azure-sdk/src/utils/index.ts
  common/tools/eslint-plugin-azure-sdk/src/utils/verifiers.ts
  sdk/.eslintrc.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/.eslintrc.json
  sdk/apimanagement/api-management-custom-widgets-tools/.eslintrc.json
  sdk/core/abort-controller/.eslintrc.json
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-paging/.eslintrc.json
  sdk/core/core-paging/package.json
  sdk/core/core-util/.eslintrc.json
  sdk/core/ts-http-runtime/.eslintrc.json
  sdk/devcenter/developer-devcenter-rest/.eslintrc.json
  sdk/face/ai-vision-face-rest/.eslintrc.json
  sdk/web-pubsub/web-pubsub-express/.eslintrc.json
Labels: Azure.Core, WebPubSub

#29906 Sync eng/common directory with azure-sdk-tools for PR 8377
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#29749 [test][container-registry] fix build error
  sdk/containerregistry/container-registry/test/utils/utils.ts
Labels: Container Registry

#29939 [EH Checkpoint Store Blob] Prepare release
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Labels: Event Hubs, Azure.Core

#29873 [mgmt] fix sample readme parse issue in dev tool
  common/tools/dev-tool/src/templates/sampleReadme.md.ts
  common/tools/dev-tool/test/samples/files/expectations/special-characters/javascript/README.md
  common/tools/dev-tool/test/samples/files/expectations/special-characters/javascript/getConfigurationSetting.js
  common/tools/dev-tool/test/samples/files/expectations/special-characters/javascript/package.json
  common/tools/dev-tool/test/samples/files/expectations/special-characters/javascript/sample.env
  common/tools/dev-tool/test/samples/files/expectations/special-characters/typescript/README.md
  common/tools/dev-tool/test/samples/files/expectations/special-characters/typescript/package.json
  common/tools/dev-tool/test/samples/files/expectations/special-characters/typescript/sample.env
  common/tools/dev-tool/test/samples/files/expectations/special-characters/typescript/src/getConfigurationSetting.ts
  common/tools/dev-tool/test/samples/files/expectations/special-characters/typescript/tsconfig.json
  common/tools/dev-tool/test/samples/files/inputs/special-characters/config.json
  common/tools/dev-tool/test/samples/files/inputs/special-characters/getConfigurationSetting.ts
  common/tools/dev-tool/test/samples/files/inputs/special-characters/sample.env
  sdk/quota/arm-quota/samples/v1-beta/javascript/README.md
  sdk/quota/arm-quota/samples/v1-beta/typescript/README.md
Labels: Mgmt

#29688 [@azure/eventgrid-system-events]Initial Commit V1.0.0-beta.1
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/eventgrid/eventgrid-system-events/.eslintrc.json
  sdk/eventgrid/eventgrid-system-events/.nycrc
  sdk/eventgrid/eventgrid-system-events/CHANGELOG.md
  sdk/eventgrid/eventgrid-system-events/LICENSE
  sdk/eventgrid/eventgrid-system-events/README.md
  sdk/eventgrid/eventgrid-system-events/api-extractor.json
  sdk/eventgrid/eventgrid-system-events/karma.conf.js
  sdk/eventgrid/eventgrid-system-events/package.json
  sdk/eventgrid/eventgrid-system-events/review/eventgrid-system-events.api.md
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/SystemEventsClient.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/api/SystemEventsContext.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/api/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/logger.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/models.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/options.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/clientDefinitions.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/parameters.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/responses.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/systemEventsClient.ts
  sdk/eventgrid/eventgrid-system-events/src/index.ts
  sdk/eventgrid/eventgrid-system-events/src/models.ts
  sdk/eventgrid/eventgrid-system-events/src/predicates.ts
  sdk/eventgrid/eventgrid-system-events/test/public/events.spec.ts
  sdk/eventgrid/eventgrid-system-events/tests.yml
  sdk/eventgrid/eventgrid-system-events/tsconfig.json
  sdk/eventgrid/eventgrid-system-events/tsdoc.json
Labels: Event Grid

#29831 [identity] Migrate AuthorizationCodeCredential to MSALClient
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#29937 Sync eng/common directory with azure-sdk-tools for PR 8373
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#29951 Sync eng/common directory with azure-sdk-tools for PR 8396
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#29958 [@azure/eventgrid-namespaces] [@azure/evengrid-system-events] Update Readme file and Cloud Event Model
  sdk/eventgrid/eventgrid-namespaces/README.md
  sdk/eventgrid/eventgrid-namespaces/package.json
  sdk/eventgrid/eventgrid-namespaces/samples/v1/javascript/README.md
  sdk/eventgrid/eventgrid-namespaces/samples/v1/javascript/namespaceActivities.js
  sdk/eventgrid/eventgrid-namespaces/samples/v1/javascript/package.json
  sdk/eventgrid/eventgrid-namespaces/samples/v1/javascript/sample.env
  sdk/eventgrid/eventgrid-namespaces/samples/v1/typescript/README.md
  sdk/eventgrid/eventgrid-namespaces/samples/v1/typescript/package.json
  sdk/eventgrid/eventgrid-namespaces/samples/v1/typescript/sample.env
  sdk/eventgrid/eventgrid-namespaces/samples/v1/typescript/src/namespaceActivities.ts
  sdk/eventgrid/eventgrid-namespaces/samples/v1/typescript/tsconfig.json
  sdk/eventgrid/eventgrid-system-events/README.md
  sdk/eventgrid/eventgrid-system-events/review/eventgrid-system-events.api.md
  sdk/eventgrid/eventgrid-system-events/src/models.ts
Labels: Event Grid

#29976 Sync .github/workflows directory with azure-sdk-tools for PR 8412
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#29977 [@azure/eventgrid-system-events][@azure/eventgrid-namespaces] Rename eventSubscriptionName to subscriptionName, Remove topicName subscriptionName as optional, Update CI YML
  sdk/eventgrid/ci.yml
  sdk/eventgrid/eventgrid-namespaces/README.md
  sdk/eventgrid/eventgrid-namespaces/review/eventgrid-namespaces.api.md
  sdk/eventgrid/eventgrid-namespaces/samples-dev/namespaceActivities.ts
  sdk/eventgrid/eventgrid-namespaces/samples/v1/javascript/namespaceActivities.js
  sdk/eventgrid/eventgrid-namespaces/samples/v1/typescript/src/namespaceActivities.ts
  sdk/eventgrid/eventgrid-namespaces/src/eventGridReceiverClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/eventGridSenderClient.ts
  sdk/eventgrid/eventgrid-namespaces/src/models.ts
  sdk/eventgrid/eventgrid-namespaces/test/public/eventGridNamespacesClient.spec.ts
  sdk/eventgrid/eventgrid-namespaces/test/public/utils/recordedClient.ts
Labels: Event Grid

#29981 [identity] Prep for release
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/arcMsi.spec.ts
  sdk/identity/identity/test/internal/node/workloadIdentityCredential.spec.ts
Labels: Azure.Identity

#29954 [ServiceBus] close link before throwing error in createRheaLink()
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/core/linkEntity.ts
  sdk/servicebus/service-bus/src/session/messageSession.ts
Labels: Service Bus

#29982 [identity] Identity bug fix
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/package.json
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/arcMsi.spec.ts
  sdk/identity/identity/test/internal/node/workloadIdentityCredential.spec.ts
Labels: Azure.Identity

#29990 Post release automated changes for identity releases
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#29984 [monitor] update to latest OTEL
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-opentelemetry/test/internal/unit/shared/config.test.ts
  sdk/monitor/monitor-query/package.json
  sdk/monitor/perf-tests/monitor-opentelemetry/package.json
  sdk/test-utils/test-utils/package.json
  sdk/test-utils/test-utils/src/tracing/testSpan.ts
  sdk/test-utils/test-utils/src/tracing/testTracerProvider.ts
Labels: test-utils, OpenTelemetryInstrumentation

#29999 [identity] Define MsalClientOptions
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#29860 Added beta4 audio streaming parser.
  sdk/communication/communication-call-automation/src/models/audio.ts
  sdk/communication/communication-call-automation/src/utli/streamingDataParser.ts
  sdk/communication/communication-call-automation/test/streamingDataParser.spec.ts
Labels: Communication

#29707 Fix the build issue in core-lro testing
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#30010 [communication] Use Identity 4.2.1
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-messages-rest/package.json
Labels: Communication

#29998 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt

#29909 Synapse new release Jun 2024
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/src/lroImpl.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/models/parameters.ts
  sdk/synapse/synapse-artifacts/src/operations/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operations/dataFlowOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/datasetOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operations/kqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/kqlScripts.ts
  sdk/synapse/synapse-artifacts/src/operations/library.ts
  sdk/synapse/synapse-artifacts/src/operations/linkConnectionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/linkedServiceOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/metastore.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperationResult.ts
  sdk/synapse/synapse-artifacts/src/operations/notebookOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/pipelineRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/runNotebook.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkConfigurationOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sparkJobDefinitionOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operations/sqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/triggerRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/operations/workspaceOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/bigDataPools.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/dataFlowDebugSession.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/dataFlowOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/datasetOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/integrationRuntimes.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/kqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/kqlScripts.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/library.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/linkConnectionOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/linkedServiceOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/metastore.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/notebookOperationResult.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/notebookOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/pipelineOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/pipelineRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/runNotebook.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/sparkConfigurationOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/sparkJobDefinitionOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/sqlPools.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/sqlScriptOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/triggerOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/triggerRunOperations.ts
  sdk/synapse/synapse-artifacts/src/operationsInterfaces/workspaceGitRepoManagement.ts
  sdk/synapse/synapse-artifacts/src/pagingHelper.ts
  sdk/synapse/synapse-artifacts/src/tracing.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#29855 STG94 blob
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/mappers.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/operations/container.ts
  sdk/storage/storage-blob/src/generated/src/operations/service.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageRetryPolicyV2.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/pageblobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
Labels: Storage

#29843 [storage] added support for snapshot management support via REST for NFS shares
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/policies/StorageSharedKeyCredentialPolicy.ts
  sdk/storage/storage-blob/src/policies/StorageSharedKeyCredentialPolicyV2.ts
  sdk/storage/storage-blob/src/utils/SharedKeyComparator.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/index.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicyV2.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/sas.spec.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-file-share/tsconfig.json
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/assets.json
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/index.ts
  sdk/storage/storage-queue/src/generated/src/models/mappers.ts
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
  sdk/storage/storage-queue/test/node/sas.spec.ts
  sdk/storage/storage-queue/test/utils/index.ts
Labels: Storage

#30011 [core] Fix platform specific data with tests
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform.ts
  sdk/core/core-rest-pipeline/test/browser/userAgentPlatform.spec.ts
  sdk/core/core-rest-pipeline/test/node/userAgentPlatform.spec.ts
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/src/util/userAgentPlatform.ts
  sdk/core/ts-http-runtime/test/browser/userAgentPlatform.spec.ts
  sdk/core/ts-http-runtime/test/node/userAgentPlatform.spec.ts
Labels: Azure.Core

#29942 Post release automated changes for eventhub releases
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Labels: Event Hubs

#30021 [@azure/arm-newrelicobservability] Fix the Test Case
  sdk/newrelicobservability/arm-newrelicobservability/test/newrelicobservability_operations_test.spec.ts.ts
Labels: Mgmt

#30028 Update the test recorder version and fix the recordings.
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/test.env
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
Labels: Communication - Chat

#30027 Sync eng/common directory with azure-sdk-tools for PR 8434
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#30031 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#30034 [storage] Fixed issue of not be able to update package version in release pipeline
  .github/CODEOWNERS
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/test/fileserviceclient.spec.ts
  sdk/storage/storage-queue/package.json
Labels: Storage

#30038 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#29953 Sync eng/common directory with azure-sdk-tools for PR 8388
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#30032 Update the Core Client Version and Test Recorder
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/test.env
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
Labels: Communication - Chat

#29956 [instrumentation] Export the instrumentation class directly
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/review/opentelemetry-instrumentation-azure-sdk.api.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/configuration.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.browser.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.ts
Labels: OpenTelemetryInstrumentation

#30023 [identity] Minor doc cleanup
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/migration-v1-v2.md
Labels: Azure.Identity

#30051 Sync eng/common directory with azure-sdk-tools for PR 8446
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#29854 [identity] Latest API updates for Azure pipelines credential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/samples-dev/azurePipelinesCredential/azurePipelinesCredential.ts
  sdk/identity/identity/samples-dev/azurePipelinesCredential/sampleFile.yml
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/exampleServiceConnectionUrl.png
  sdk/identity/identity/samples/v4/azurePipelinesCredentialConfig.yml
  sdk/identity/identity/samples/v4/javascript/README.md
  sdk/identity/identity/samples/v4/javascript/azurePipelinesCredential/azurePipelinesCredential.js
  sdk/identity/identity/samples/v4/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/v4/javascript/package.json
  sdk/identity/identity/samples/v4/javascript/tokenProvider.js
  sdk/identity/identity/samples/v4/typescript/README.md
  sdk/identity/identity/samples/v4/typescript/package.json
  sdk/identity/identity/samples/v4/typescript/src/azurePipelinesCredential/azurePipelinesCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/interactiveBrowserCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/tokenProvider.ts
  sdk/identity/identity/src/credentials/azurePipelinesCredential.ts
  sdk/identity/identity/test/public/node/azurePipelines.spec.ts
  sdk/identity/identity/test/public/node/azurePipelinesCredential.spec.ts
Labels: Azure.Identity

#30024 [dev-tool] fix samples typescript source to include sub directory
  common/tools/dev-tool/src/util/samples/info.ts
  common/tools/dev-tool/test/samples/files/expectations/cjs-forms/typescript/tsconfig.json
  common/tools/dev-tool/test/samples/files/expectations/output-customization/typescript/tsconfig.json
  common/tools/dev-tool/test/samples/files/expectations/simple/typescript/tsconfig.json
  common/tools/dev-tool/test/samples/files/expectations/simple@1.0.0-beta.1/typescript/tsconfig.json
  common/tools/dev-tool/test/samples/files/expectations/special-characters/typescript/tsconfig.json
  sdk/servicebus/service-bus/samples/v7/javascript/advanced/sessionRoundRobin.js
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/tsconfig.json
Labels: Service Bus, dev-tool

#30062 Sync eng/common directory with azure-sdk-tools for PR 8451
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#30064 [dev-tool] Add additional fixes for the migration tool
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#29955 [Test-Credential] Update DAC to ChainedTokenCredential
  common/tools/dev-tool/src/util/browserRelayServer.ts
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/src/index.ts
  vitest.browser.shared.config.ts
  vitest.shared.config.ts
Labels: test-utils

#30074 Sync eng/common directory with azure-sdk-tools for PR 8457
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#30071 Update macos image from 11 to latest
  eng/pipelines/templates/jobs/smoke.tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/variables/image.yml
  sdk/communication/communication-phone-numbers/phone-numbers-livetest-matrix.json
Labels: Communication - Phone Numbers

#30075 [doc][eventgrid] fix broken link
  sdk/eventgrid/eventgrid/CHANGELOG.md
Labels: Event Grid

#30073 [test-recorder] ignore `Accept-Encoding` header
  sdk/test-utils/recorder/src/recorder.ts
Labels: test-utils

#30079 Sync eng/common directory with azure-sdk-tools for PR 8452
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#30006 Sync eng/common directory with azure-sdk-tools for PR 8422
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#30043 [Test-Credential] Update to ChainedTokenCredential
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-credential/src/index.ts
Labels: test-utils

#30090 [eslint-plugin] set package version back to 3.0.0
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/cosmosdb/cosmos/package.json
  sdk/identity/identity-broker/package.json
Labels: Cosmos, Azure.Identity, eslint plugin

#30083 [core] Adding React-Native user agent platforms
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/src/policies/userAgentPolicy.ts
  sdk/core/core-rest-pipeline/src/util/userAgent.ts
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-browser.mts
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-react-native.mts
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform.ts
  sdk/core/core-rest-pipeline/test/browser/userAgentPlatform.spec.ts
  sdk/core/core-rest-pipeline/test/node/userAgentPlatform.spec.ts
  sdk/core/ts-http-runtime/src/policies/tracingPolicy.ts
  sdk/core/ts-http-runtime/src/policies/userAgentPolicy.ts
  sdk/core/ts-http-runtime/src/util/react-native.d.ts
  sdk/core/ts-http-runtime/src/util/userAgent.ts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-browser.mts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-react-native.mts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform.ts
  sdk/core/ts-http-runtime/test/browser/userAgentPlatform.spec.ts
  sdk/core/ts-http-runtime/test/node/userAgentPlatform.spec.ts
Labels: Azure.Core

#30094 [@azure/eventgrid-system-events] Fix typo in package.json
  sdk/eventgrid/eventgrid-system-events/package.json
Labels: Event Grid

#30096 [core] Adding Browser and Version to platform data
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-browser.mts
  sdk/core/core-rest-pipeline/test/browser/userAgentPlatform.spec.ts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-browser.mts
  sdk/core/ts-http-runtime/test/browser/userAgentPlatform.spec.ts
Labels: Azure.Core

#29762 [test][arm-newrelicobservability] reduce playback test time
  sdk/newrelicobservability/arm-newrelicobservability/test/newrelicobservability_operations_test.spec.ts.ts
Labels: Mgmt

#30092 Sync eng/common directory with azure-sdk-tools for PR 8467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#30097 Post release automated changes for test-utils releases
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
Labels: test-utils

#30098 [dev-tool] Update migration tool to include beforeEach fixes
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#30099 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#30091 Sync eng/common directory with azure-sdk-tools for PR 8463
  eng/common/scripts/ChangeLog-Operations.ps1
  sdk/template/template-dpg/CHANGELOG.md
  sdk/template/template/CHANGELOG.md
Labels: EngSys, Central-EngSys

#29983 [core] Provide `error` parameter to onResponse callback
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core

#30045 [identity] Move existing Managed Identity implementation to a legacy provider
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/legacyMsiProvider.ts
  sdk/identity/identity/test/internal/node/legacyMsiProvider.spec.ts
  sdk/identity/identity/test/internal/node/workloadIdentityCredential.spec.ts
Labels: Azure.Identity

#29890 [identity] Migrate OBO to msalClient
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/onBehalfOfCredential.spec.ts
Labels: Azure.Identity

#30110 [keyvault] fix ci in response to global sanitizers
  sdk/keyvault/keyvault-admin/test/public/utils/authentication.ts
  sdk/keyvault/keyvault-certificates/assets.json
  sdk/keyvault/keyvault-certificates/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/assets.json
  sdk/keyvault/keyvault-secrets/test/public/utils/testAuthentication.ts
Labels: KeyVault

#29925 Connect api live test.
  sdk/communication/communication-call-automation/test/callAutomationClient.spec.ts
Labels: Communication

#30109 [keyvault] doc updates
  documentation/Quickstart-on-how-to-write-tests.md
  sdk/keyvault/keyvault-certificates/migration-guide.md
  sdk/keyvault/keyvault-keys/migration-guide.md
  sdk/keyvault/keyvault-secrets/migration-guide.md
Labels: KeyVault

#30118 Post release automated changes for test-utils releases
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
Labels: test-utils

#30115 [dev-tool] Update migration tool for Sinon and Node Imports
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#30025 [Test][ServiceBus] update expected error message
  sdk/servicebus/service-bus/test/internal/managementClient.spec.ts
Labels: Service Bus

#30129 [engSys] Run rush build
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/face/ai-vision-face-rest/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: EngSys, WebPubSub, test-utils

#30128 [core] Adding additional browsers to detection list
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-browser.mts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-browser.mts
Labels: Azure.Core

#30139 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#30143 Post release automated changes for imagebuilder releases
  sdk/imagebuilder/arm-imagebuilder/CHANGELOG.md
  sdk/imagebuilder/arm-imagebuilder/package.json
  sdk/imagebuilder/arm-imagebuilder/src/imageBuilderClient.ts
Labels: Mgmt

#30142 Post release automated changes for mobilenetwork releases
  sdk/mobilenetwork/arm-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/arm-mobilenetwork/package.json
  sdk/mobilenetwork/arm-mobilenetwork/src/mobileNetworkManagementClient.ts
Labels: Mgmt

#30145 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt

#30117 Sync eng/common directory with azure-sdk-tools for PR 8475
  eng/common/testproxy/target_version.txt
  sdk/containerregistry/container-registry/assets.json
Labels: EngSys, Central-EngSys

#30134 Sync eng/common directory with azure-sdk-tools for PR 8484
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#30116 Add pool variable and user env variables to test resources environment
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#30154 [mgmt] update some code to trigger pipeline
  sdk/resourcesdeploymentstacks/arm-resourcesdeploymentstacks/CHANGELOG.md
  sdk/resourcesdeploymentstacks/arm-resourcesdeploymentstacks/assets.json
  sdk/resourcesdeploymentstacks/arm-resourcesdeploymentstacks/test/resourcesdeploymentstacks_operations_test.spec.ts
Labels: Mgmt

#30157 Post release automated changes for resourcesdeploymentstacks releases
  sdk/resourcesdeploymentstacks/arm-resourcesdeploymentstacks/CHANGELOG.md
  sdk/resourcesdeploymentstacks/arm-resourcesdeploymentstacks/package.json
  sdk/resourcesdeploymentstacks/arm-resourcesdeploymentstacks/src/deploymentStacksClient.ts
Labels: Mgmt

#30158 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
Labels: Mgmt

#30162 [dev-tool] Update ts-morph
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
Labels: dev-tool

#30130 [storage-queue] add back missing `abortSignal` option
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/QueueClient.ts
Labels: Client, Storage

#30149 [core] Add additional browsers for detection
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-browser.mts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-browser.mts
Labels: Azure.Core

#30165 [core-rest-pipeline] prepare for 2024-06-24 release
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#30167 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core

#29225 [doc] fixed typos and punctuation
  CONTRIBUTING.md
  README.md
  common/smoke-test/README.md
  design/modular-development.md
  design/multi-client-and-multi-endpoint-in-modular.md
  design/readme-snippets.md
  documentation/Bundling.md
  documentation/Changelog-for-next-generation.md
  documentation/DPG-quickstart.md
  documentation/MIGRATION-guide-for-next-generation-management-libraries.md
  documentation/Quickstart-on-how-to-write-tests.md
  documentation/RLC-Swagger-quickstart.md
  documentation/RLC-customization.md
  documentation/RLC-quickstart.md
  documentation/Troubleshoot-ci-failure.md
  documentation/how-to-use.md
  documentation/next-generation-quickstart.md
  documentation/rest-clients.md
  documentation/steps-after-generations.md
  documentation/using-azure-identity.md
Labels: customer-reported, Community Contribution

#30103 [mgmt] reduce playback test time
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/assets.json
  sdk/apimanagement/arm-apimanagement/test/apimanagement_examples.ts
  sdk/kusto/arm-kusto/assets.json
  sdk/kusto/arm-kusto/test/kusto-client-test.ts
  sdk/notificationhubs/arm-notificationhubs/test/notificationhubs_examples.ts
  sdk/quantum/arm-quantum/test/quantum_operations_test.spec.ts
  sdk/redis/arm-rediscache/assets.json
  sdk/redis/arm-rediscache/test/redis_examples.ts
Labels: Mgmt

#30180 [mgmt] update samples to fix credscan issue
  sdk/oracledatabase/arm-oracledatabase/samples-dev/autonomousDatabasesGenerateWalletSample.ts
  sdk/oracledatabase/arm-oracledatabase/samples/v1-beta/javascript/autonomousDatabasesGenerateWalletSample.js
  sdk/oracledatabase/arm-oracledatabase/samples/v1-beta/typescript/src/autonomousDatabasesGenerateWalletSample.ts
Labels: Mgmt

#30177 Add pool env variable to build-test-resource-config template
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#30188 [CODEOWNERS] Avoid bottleneck in CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys

#30181 [mgmt] selfhelp release
  common/config/rush/pnpm-lock.yaml
  sdk/selfhelp/arm-selfhelp/CHANGELOG.md
  sdk/selfhelp/arm-selfhelp/_meta.json
  sdk/selfhelp/arm-selfhelp/assets.json
  sdk/selfhelp/arm-selfhelp/package.json
  sdk/selfhelp/arm-selfhelp/review/arm-selfhelp.api.md
  sdk/selfhelp/arm-selfhelp/samples-dev/checkNameAvailabilityCheckAvailabilitySample.ts
  sdk/selfhelp/arm-selfhelp/samples-dev/discoverySolutionNlpDiscoverSolutionsBySubscriptionSample.ts
  sdk/selfhelp/arm-selfhelp/samples-dev/discoverySolutionNlpDiscoverSolutionsSample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/README.md
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/checkNameAvailabilityCheckAvailabilitySample.js
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/discoverySolutionNlpDiscoverSolutionsBySubscriptionSample.js
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/discoverySolutionNlpDiscoverSolutionsSample.js
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/package.json
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/README.md
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/package.json
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/src/checkNameAvailabilityCheckAvailabilitySample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/src/discoverySolutionNlpDiscoverSolutionsBySubscriptionSample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/src/discoverySolutionNlpDiscoverSolutionsSample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/tsconfig.json
  sdk/selfhelp/arm-selfhelp/src/helpRP.ts
  sdk/selfhelp/arm-selfhelp/src/models/index.ts
  sdk/selfhelp/arm-selfhelp/src/operations/checkNameAvailability.ts
  sdk/selfhelp/arm-selfhelp/src/operations/discoverySolutionNLP.ts
  sdk/selfhelp/arm-selfhelp/src/operations/discoverySolutionNLPSubscriptionScope.ts
  sdk/selfhelp/arm-selfhelp/src/operations/discoverySolutionNLPTenantScope.ts
  sdk/selfhelp/arm-selfhelp/src/operations/index.ts
  sdk/selfhelp/arm-selfhelp/src/operationsInterfaces/checkNameAvailability.ts
  sdk/selfhelp/arm-selfhelp/src/operationsInterfaces/discoverySolutionNLP.ts
  sdk/selfhelp/arm-selfhelp/src/operationsInterfaces/discoverySolutionNLPSubscriptionScope.ts
  sdk/selfhelp/arm-selfhelp/src/operationsInterfaces/discoverySolutionNLPTenantScope.ts
  sdk/selfhelp/arm-selfhelp/src/operationsInterfaces/index.ts
  sdk/selfhelp/arm-selfhelp/test/selfhelp_operations_test.spec.ts
Labels: Mgmt

#30195 Update the changelog date for core-lro v3
  sdk/core/core-lro/CHANGELOG.md
Labels: Azure.Core

#30197 Post release automated changes for selfhelp releases
  sdk/selfhelp/arm-selfhelp/CHANGELOG.md
  sdk/selfhelp/arm-selfhelp/package.json
  sdk/selfhelp/arm-selfhelp/src/helpRP.ts
Labels: Mgmt

#30196 Post release automated changes for appcomplianceautomation releases
  sdk/appcomplianceautomation/arm-appcomplianceautomation/CHANGELOG.md
  sdk/appcomplianceautomation/arm-appcomplianceautomation/package.json
  sdk/appcomplianceautomation/arm-appcomplianceautomation/src/appComplianceAutomationToolForMicrosoft365.ts
Labels: Mgmt

#30198 core-client-rest-june-release-for-mpg-preview
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#30207 [communication] Add header to changelog
  sdk/communication/communication-recipient-verification/CHANGELOG.md
  sdk/communication/communication-rooms/CHANGELOG.md
Labels: Communication - Rooms

#30191 [Event Hubs] Fix earliest definitiion
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/test/internal/eventPosition.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
Labels: Event Hubs

#29710 Move CallAutomation GA3 Changes to ALPHA3
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/generated/src/callAutomationApiClient.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/generated/src/models/parameters.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callMedia.ts
  sdk/communication/communication-call-automation/src/generated/src/operationsInterfaces/callMedia.ts
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/src/models/responses.ts
  sdk/communication/communication-call-automation/src/utli/converters.ts
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication

#30213 [Event Hubs] Update deps
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Labels: Event Hubs

#30216 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#30221 Post release automated changes for storage releases
  sdk/storage/arm-storage/CHANGELOG.md
  sdk/storage/arm-storage/package.json
  sdk/storage/arm-storage/src/storageManagementClient.ts
Labels: Mgmt

#30223 fix(eventhub): replace `polyfill.io` with Cloudflare equivalent
  sdk/eventhub/eventhubs-checkpointstore-table/karma.conf.js
Labels: customer-reported, Event Hubs, Community Contribution

#29711 [identity] update OBO client assertion
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientAssertionCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientAssertion.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOnBehalfOf.ts
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/onBehalfOfCredential.spec.ts
Labels: Azure.Identity

#30225 Fixed streamDataParser unit test.
  sdk/communication/communication-call-automation/src/utli/streamingDataParser.ts
  sdk/communication/communication-call-automation/test/callRecordingClient.spec.ts
  sdk/communication/communication-call-automation/test/streamingDataParser.spec.ts
Labels: Communication

#30194 [core-rest-pipeline] Update userAgentPlatform-browser.mts to fit undefined localNavigator
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-browser.mts
Labels: customer-reported, Azure.Core, Community Contribution
