Repository Azure/azure-sdk-for-js, pull requests merged in 2024-10, with the labels that each got.

#31277 [core-xml] prepare for 2024 October release
  sdk/core/core-xml/CHANGELOG.md
Labels: Azure.Core

#31072 Add support for MQTT event handler
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/README.md
  sdk/web-pubsub/web-pubsub-express/review/web-pubsub-express.api.md
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsProtocols.ts
  sdk/web-pubsub/web-pubsub-express/src/enum/MqttErrorCodes/mqttDisconnectReasonCode.ts
  sdk/web-pubsub/web-pubsub-express/src/enum/MqttErrorCodes/mqttV311ConnectReturnCode.ts
  sdk/web-pubsub/web-pubsub-express/src/enum/MqttErrorCodes/mqttV500ConnectReasonCode.ts
  sdk/web-pubsub/web-pubsub-express/src/index.ts
  sdk/web-pubsub/web-pubsub-express/test/connect.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/connected.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/ctor.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/disconnected.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/user.spec.ts
  sdk/web-pubsub/web-pubsub-express/test/validate.spec.ts
Labels: WebPubSub

#31274 [instrumentation] Prepare OTel instrumentation for October release
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
Labels: OpenTelemetryInstrumentation

#31282 Pin API view parser version
  eng/scripts/Generate-APIView-CodeFile.ps1
Labels: Central-EngSys

#31286 [instrumentation] Move to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/.nycrc
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/karma.conf.js
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/index.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation-browser.mts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumentation.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/instrumenter.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/internal/node/configuration.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/internal/node/instrumentation.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/instrumenter.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/spanWrapper.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/setup.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/testClient.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/testHelpers.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/util/tracerProvider-browser.mts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/tsconfig.browser.config.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/tsconfig.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/vitest.browser.config.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/vitest.config.ts
Labels: OpenTelemetryInstrumentation

#31289 [instrumentation] Fix test assertion
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/instrumenter.spec.ts
Labels: OpenTelemetryInstrumentation

#31284 [dev-tool] Use tsx
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/register.js
  common/tools/dev-tool/src/commands/samples/run.ts
  common/tools/dev-tool/src/util/resolveProject.ts
  sdk/template/template/package.json
Labels: dev-tool

#31267 Sync eng/common directory with azure-sdk-tools for PR 9074
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#31294 [dev-tool] newline fix
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#31295 [dev-tool] Update readme
  common/tools/dev-tool/README.md
Labels: dev-tool

#31297 [template] Skip flaky test in Mac OS
  sdk/template/template/test/public/configurationClient.spec.ts
Labels: EngSys

#31301 [core-client-rest] Update release date
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#31293 [playwright] Migrate creator to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/playwrighttesting/create-microsoft-playwright-testing/eslint.config.mjs
  sdk/playwrighttesting/create-microsoft-playwright-testing/package.json
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/bin/init.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/constants.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/index.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/initialize.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/packageManager.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/utils.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/test/initialize.spec.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/test/utils.spec.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/tsconfig.json
  sdk/playwrighttesting/create-microsoft-playwright-testing/vitest.config.ts
Labels: Microsoft Playwright Testing

#31305 Sync eng/common directory with azure-sdk-tools for PR 9092
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#31300 [template] Add supportsTracing back
  common/config/rush/pnpm-lock.yaml
  sdk/template/template/assets.json
  sdk/template/template/package.json
  sdk/template/template/test/internal/basic.spec.ts
  sdk/template/template/test/public/configurationClient.spec.ts
Labels: EngSys

#31303 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core

#31254 [keyvault-secrets] Migrate to ESM and tshy
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-secrets/.nycrc
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/api-extractor.json
  sdk/keyvault/keyvault-secrets/karma.conf.js
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/platform-matrix.json
  sdk/keyvault/keyvault-secrets/samples-dev/backupAndRestore.ts
  sdk/keyvault/keyvault-secrets/src/generated/index.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-secrets/src/lro/keyVaultSecretPoller.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-secrets/src/lro/recover/poller.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/src/tracing.ts
  sdk/keyvault/keyvault-secrets/src/transformations.ts
  sdk/keyvault/keyvault-secrets/test/internal/lroUnexpectedErrors.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/transformations.spec.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/list.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-secrets/test/public/utils/common.ts
  sdk/keyvault/keyvault-secrets/test/public/utils/lro/restore/operation.ts
  sdk/keyvault/keyvault-secrets/test/public/utils/lro/restore/poller.ts
  sdk/keyvault/keyvault-secrets/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-secrets/test/public/utils/testClient.ts
  sdk/keyvault/keyvault-secrets/tests.yml
  sdk/keyvault/keyvault-secrets/tsconfig.json
  sdk/keyvault/keyvault-secrets/vitest.config.ts
Labels: KeyVault, dev-tool

#31314 [template] Add retry/timeout to macOS tests
  sdk/template/template/test/public/configurationClient.spec.ts
Labels: EngSys

#31315 Sync eng/common directory with azure-sdk-tools for PR 9098
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#31322 [communication]-[sms]-Split tests for Public and INT environments
  sdk/communication/communication-sms/tests.int.yml
  sdk/communication/communication-sms/tests.yml
Labels: Communication - SMS

#31326 [dev-tool] Upgrade ts-morph to 24.x
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
Labels: dev-tool

#31209 [Identity] Azure pipelines credentials - added headers for troubleshooting and prevent redirection
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/azurePipelinesCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/public/node/azurePipelinesCredential.spec.ts
Labels: Azure.Identity

#31333 Post release automated changes for instrumentation releases
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/configuration.ts
Labels: OpenTelemetryInstrumentation

#31270 [core] fix isStreamComplete issue
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/test/node/nodeHttpClient.spec.ts
  sdk/core/ts-http-runtime/src/nodeHttpClient.ts
  sdk/core/ts-http-runtime/test/node/nodeHttpClient.spec.ts
Labels: Azure.Core

#31336 Sync eng/common directory with azure-sdk-tools for PR 9099
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#31328 [core-amqp] move geographic replication constant to Event Hubs
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/util/constants.ts
  sdk/eventhub/event-hubs/src/eventHubSender.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, Azure.Core

#31330 [Event Hubs] Add message structure validation to the producer
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
Labels: Event Hubs

#31342 Sync eng/common directory with azure-sdk-tools for PR 9113
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#31140 [keyvault] CAE support
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/settingsClient.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-common/review/keyvault-common.api.md
  sdk/keyvault/keyvault-common/src/index.ts
  sdk/keyvault/keyvault-common/src/keyVaultAuthenticationPolicy.ts
  sdk/keyvault/keyvault-common/src/logger.ts
  sdk/keyvault/keyvault-common/src/parseWWWAuthenticate.ts
  sdk/keyvault/keyvault-common/src/tokenCycler.ts
  sdk/keyvault/keyvault-common/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-common/test/internal/keyVaultAuthenticationPolicy.spec.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#31339 Sync eng/common directory with azure-sdk-tools for PR 9106
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#31120 fix(CosmosDB: http protocol endpoints no longer break CosmosClient
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/test/public/common/setup.ts
Labels: customer-reported, Cosmos, Community Contribution

#31346 [Event Hubs] Add message structure validation to the producer
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubProducerClient.ts
  sdk/eventhub/event-hubs/src/partitionReceiver.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/src/tableCheckpointStore.ts
Labels: Event Hubs

#31337 [identity] Add to guidelines when to use MSAL directly
  sdk/identity/identity/README.md
Labels: Azure.Identity

#31348 fix(playwrighttesting): optional fields in playwright config are compulsory in service reporter
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/testResult.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/reporterUtils.spec.ts
Labels: Microsoft Playwright Testing

#31352 [core-client-rest] Fix serialization of non-string path parameters
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/urlHelpers.spec.ts
Labels: Azure.Core

#31359 [core-client-rest] Prepare patch release
  sdk/core/core-client-rest/CHANGELOG.md
Labels: Azure.Core

#31131 [Schema Registry Avro] ESM Migrate
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry-avro/.nycrc
  sdk/schemaregistry/schema-registry-avro/api-extractor.json
  sdk/schemaregistry/schema-registry-avro/karma.conf.js
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/src/index.ts
  sdk/schemaregistry/schema-registry-avro/src/logicalTypes/dateType.ts
  sdk/schemaregistry/schema-registry-avro/src/utility.ts
  sdk/schemaregistry/schema-registry-avro/test.browser.config.json
  sdk/schemaregistry/schema-registry-avro/test/internal/messageAdapter.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-avro/test/public/clients/mocked.ts
  sdk/schemaregistry/schema-registry-avro/test/public/errors.spec.ts
  sdk/schemaregistry/schema-registry-avro/test/public/utils/assertError.ts
  sdk/schemaregistry/schema-registry-avro/test/public/utils/mockedRegistryClient.ts
  sdk/schemaregistry/schema-registry-avro/test/public/utils/mockedSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/public/withMessagingClients.spec.ts
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry-avro/tsconfig.browser.config.json
  sdk/schemaregistry/schema-registry-avro/tsconfig.json
  sdk/schemaregistry/schema-registry-avro/vitest.browser.config.ts
  sdk/schemaregistry/schema-registry-avro/vitest.config.ts
Labels: Schema Registry

#31362 Sync eng/common directory with azure-sdk-tools for PR 9102
  .vscode/cspell.json
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/scripts/Language-Settings.ps1
Labels: EngSys, Central-EngSys

#31369 [@azure/eventgrid] Update System events for EG Version 5.8.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#31231 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/src/batchManagementClient.ts
Labels: Mgmt

#31378 Post release automated changes for hybridcompute releases
  sdk/hybridcompute/arm-hybridcompute/CHANGELOG.md
  sdk/hybridcompute/arm-hybridcompute/package.json
  sdk/hybridcompute/arm-hybridcompute/src/hybridComputeManagementClient.ts
Labels: Mgmt

#31371 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#31366 [Event Hubs Checkpoint Tables] Update tests
  sdk/eventhub/eventhubs-checkpointstore-table/test/public/tables-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/util/testUtils.ts
Labels: Event Hubs

#31363 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
Labels: Azure.Core

#31324 [dev-tool] Migrate package codemods
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/README.md
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/addViHelper.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/fixSourceFile.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/fixTestingImports.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/index.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/replaceChaiAsPromised.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/replaceSinonStubs.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/replaceSupportsTracing.ts
  common/tools/dev-tool/src/util/admin/migrate-package/codemods/replaceTestUtils.ts
Labels: dev-tool

#31394 [test][ai-translation-document] skip broken test
  sdk/translation/ai-translation-document-rest/test/public/node/documentTranslationTest.spec.ts
Labels: Cognitive - Translator

#31396 [ServiceBus] re-enable min/max testing
  sdk/servicebus/service-bus/tests.yml
Labels: Service Bus

#31351 [Event Hubs] Re-enable min/max testing
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/event-hubs/vitest.config.ts
Labels: Event Hubs

#31397 [Event Hubs] Add hotfix changelog entry
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#31399 [SR Json and Avro] Samples Fix
  sdk/schemaregistry/schema-registry-avro/samples-dev/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples-dev/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/README.md
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/sample.env
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/schemaRegistryAvroSample.js
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/withEventHubsBufferedProducerClient.js
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/withEventHubsConsumerClient.js
  sdk/schemaregistry/schema-registry-avro/samples/v1/javascript/withEventHubsProducerClient.js
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/README.md
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/package.json
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/sample.env
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/src/schemaRegistryAvroSample.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/src/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/src/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/src/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-avro/samples/v1/typescript/tsconfig.json
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/withEventHubsProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/README.md
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/sample.env
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/schemaRegistryJsonSample.js
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/schemaRegistryJsonWithValidation.js
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/withEventHubsBufferedProducerClient.js
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/withEventHubsConsumerClient.js
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/withEventHubsProducerClient.js
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/README.md
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/sample.env
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/withEventHubsBufferedProducerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/withEventHubsProducerClient.ts
Labels: Schema Registry

#30066 [appconfiguration] Upgrade to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/.nycrc
  sdk/appconfiguration/app-configuration/api-extractor.json
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/karma.conf.js
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/samples-dev/updateSyncTokenSample.ts
  sdk/appconfiguration/app-configuration/src/appConfigCredential.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/index.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/internal/synctokenpolicy.ts
  sdk/appconfiguration/app-configuration/src/internal/tracing.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/src/secretReference.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/package.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/throttlingRetryPolicy.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/etags.spec.ts
  sdk/appconfiguration/app-configuration/test/public/featureFlag.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/secretReference.spec.ts
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
  sdk/appconfiguration/app-configuration/test/public/throwOrNotThrow.spec.ts
  sdk/appconfiguration/app-configuration/test/public/tracing.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
  sdk/appconfiguration/app-configuration/tsconfig.browser.config.json
  sdk/appconfiguration/app-configuration/tsconfig.json
  sdk/appconfiguration/app-configuration/vitest.browser.config.ts
  sdk/appconfiguration/app-configuration/vitest.config.ts
Labels: App Configuration, test-utils

#31329 Switch to TME test subscription
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/attestation/attestation/tests.yml
  sdk/communication/communication-alpha-ids/tests.yml
  sdk/communication/communication-call-automation/tests.yml
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-common/tests.yml
  sdk/communication/communication-email/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-messages-rest/tests.yml
  sdk/communication/communication-phone-numbers/tests.yml
  sdk/communication/communication-recipient-verification/tests.yml
  sdk/communication/communication-rooms/tests.yml
  sdk/communication/communication-short-codes/tests.yml
  sdk/communication/communication-sms/tests.int.yml
  sdk/communication/communication-sms/tests.yml
  sdk/communication/communication-tiering/tests.yml
  sdk/communication/communication-toll-free-verification/tests.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/eventhub/eventhubs-checkpointstore-blob/tests.yml
  sdk/eventhub/eventhubs-checkpointstore-table/tests.yml
  sdk/healthdataaiservices/azure-health-deidentification/tests.yml
  sdk/identity/identity/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/maps/maps-geolocation-rest/tests.yml
  sdk/maps/maps-render-rest/tests.yml
  sdk/maps/maps-route-rest/tests.yml
  sdk/maps/maps-search-rest/tests.yml
  sdk/search/search-documents/tests.yml
  sdk/servicebus/service-bus/tests.yml
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/tests.yml
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
  sdk/web-pubsub/web-pubsub/tests.yml
Labels: Service Bus, Event Hubs, KeyVault, Azure.Identity, Search, Communication, Communication - Chat, Communication - Common, Communication - Identity, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Communication - Email, Communication - Alpha IDs, Communication - Rooms, Communication - Toll Free Verification

#31381 STG96 File
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
Labels: Storage

#31385 STG96 blob and datalake
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-datalake/test/utils/index.ts
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
Labels: Storage

#31370 [mgmt] add useragentinfo
  sdk/mongocluster/arm-mongocluster/CHANGELOG.md
  sdk/mongocluster/arm-mongocluster/assets.json
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/mongocluster/arm-mongocluster/src/api/mongoClusterManagementContext.ts
  sdk/mongocluster/arm-mongocluster/vitest.browser.config.ts
  sdk/mongocluster/arm-mongocluster/vitest.config.ts
Labels: Mgmt

#31404 [Storage]Bump package version for STG96 features preview
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
Labels: Storage

#31410 [keyvault] Prepare release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#31414 Drive traffic to credential chains doc
  sdk/identity/identity/README.md
Labels: Azure.Identity

#31407 Update JS parser version
  eng/scripts/Generate-APIView-CodeFile.ps1
Labels: Central-EngSys

#31412 Sync .github/workflows directory with azure-sdk-tools for PR 9134
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#31409 [maps] Migrate @azure/maps-common to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/maps/maps-common/api-extractor.json
  sdk/maps/maps-common/package.json
  sdk/maps/maps-common/review/maps-common.api.md
  sdk/maps/maps-common/src/credential/createAzureMapsKeyCredentialPolicy.ts
  sdk/maps/maps-common/src/credential/createMapsClientIdPolicy.ts
  sdk/maps/maps-common/src/credential/index.ts
  sdk/maps/maps-common/src/index.ts
  sdk/maps/maps-common/src/models/index.ts
  sdk/maps/maps-common/src/models/lro.ts
  sdk/maps/maps-common/tsconfig.json
Labels: Maps

#31418 [keyvault] keyvault-common: use core-util@^1.10.0
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#31415 [OpenAI] Edit tests.yml
  sdk/openai/openai/tests.yml
Labels: OpenAI

#31421 Update API view parser to 2.0.2
  eng/scripts/Generate-APIView-CodeFile.ps1
Labels: Central-EngSys

#31380 [cosmos] Beta/fix non-partitioned container pk format
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/extractPartitionKey.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/test/public/functional/npcontainer.spec.ts
Labels: Cosmos

#31364 fix(playwrighttesting): multiple runId issue for scalable runs
  sdk/playwrighttesting/microsoft-playwright-testing/review/microsoft-playwright-testing.api.md
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/environmentVariables.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/playwrightServiceConfig.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/common/playwrightServiceConfig.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
Labels: Microsoft Playwright Testing

#31419 [communication] Move @azure/communication-common to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/.nycrc
  sdk/communication/communication-common/api-extractor.json
  sdk/communication/communication-common/karma.conf.js
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/rollup.base.config.js
  sdk/communication/communication-common/src/autoRefreshTokenCredential.ts
  sdk/communication/communication-common/src/azureCommunicationTokenCredential.ts
  sdk/communication/communication-common/src/communicationTokenCredential.ts
  sdk/communication/communication-common/src/credential/clientArguments.ts
  sdk/communication/communication-common/src/credential/communicationAccessKeyCredentialPolicy.ts
  sdk/communication/communication-common/src/credential/communicationAuthPolicy.ts
  sdk/communication/communication-common/src/credential/connectionString.ts
  sdk/communication/communication-common/src/credential/cryptoUtils-browser.mts
  sdk/communication/communication-common/src/credential/cryptoUtils.ts
  sdk/communication/communication-common/src/credential/encodeUtils.browser.ts
  sdk/communication/communication-common/src/credential/index.ts
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/src/staticTokenCredential.ts
  sdk/communication/communication-common/src/tokenParser.ts
  sdk/communication/communication-common/test/internal/cryptoUtils.spec.ts
  sdk/communication/communication-common/test/public/clientArguments.spec.ts
  sdk/communication/communication-common/test/public/communicationKeyCredentialPolicy.spec.ts
  sdk/communication/communication-common/test/public/communicationTokenCredential.spec.ts
  sdk/communication/communication-common/test/public/connectionString.spec.ts
  sdk/communication/communication-common/test/public/identifierModelSerializer.spec.ts
  sdk/communication/communication-common/test/public/identifierModels.spec.ts
  sdk/communication/communication-common/test/public/utils/credentialUtils.ts
  sdk/communication/communication-common/tsconfig.browser.config.json
  sdk/communication/communication-common/tsconfig.json
  sdk/communication/communication-common/vitest.browser.config.ts
  sdk/communication/communication-common/vitest.config.ts
Labels: Communication - Common

#31278 [OpenAI] Add a sample for global batch
  sdk/openai/openai/samples-dev/batch.ts
  sdk/openai/openai/samples/v2-beta/javascript/README.md
  sdk/openai/openai/samples/v2-beta/javascript/batch.js
  sdk/openai/openai/samples/v2-beta/typescript/README.md
  sdk/openai/openai/samples/v2-beta/typescript/src/batch.ts
Labels: OpenAI

#31434 [keyvault] keyvault-common: use released @azure/logger dependency
  sdk/keyvault/keyvault-common/package.json
Labels: KeyVault

#30961 [Identity] Add Pop token support
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/index.ts
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-client/src/authorizeRequestOnClaimChallenge.ts
  sdk/core/core-client/src/authorizeRequestOnTenantChallenge.ts
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/httpMethods.ts
  sdk/core/core-util/src/index.ts
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-broker/samples/v2/javascript/README.md
  sdk/identity/identity-broker/samples/v2/javascript/index.html
  sdk/identity/identity-broker/samples/v2/javascript/index.js
  sdk/identity/identity-broker/samples/v2/javascript/package.json
  sdk/identity/identity-broker/samples/v2/javascript/preload.js
  sdk/identity/identity-broker/samples/v2/javascript/renderer.js
  sdk/identity/identity-broker/samples/v2/javascript/sample.env
  sdk/identity/identity-broker/test/manual/node/authRequestPopTokenChallenge.ts
  sdk/identity/identity-broker/test/manual/node/popTokenAuthenticationPolicy.ts
  sdk/identity/identity-broker/test/manual/node/popTokenClient.ts
  sdk/identity/identity-broker/test/manual/node/popTokenCycler.ts
  sdk/identity/identity-broker/test/manual/node/popTokenSupport.spec.ts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/legacyMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/msalMsiProvider.spec.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
Labels: Azure.Identity, Azure.Core

#31440 Sync eng/common directory with azure-sdk-tools for PR 9147
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#31439 Sync eng/common directory with azure-sdk-tools for PR 9202
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#31438 Sync .github/workflows directory with azure-sdk-tools for PR 9199
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#31361 [ServiceBus] expose omitMessagesBody option under ./experimental subpath
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/review/service-bus-experimental.api.md
  sdk/servicebus/service-bus/review/service-bus.api.md
  sdk/servicebus/service-bus/src/experimental/index.ts
  sdk/servicebus/service-bus/src/models.ts
  sdk/servicebus/service-bus/src/receivers/receiver.ts
  sdk/servicebus/service-bus/src/receivers/sessionReceiver.ts
  sdk/servicebus/service-bus/test/public/peekMessagesOptions.spec.ts
Labels: Service Bus, dev-tool

#31437 Sync eng/common directory with azure-sdk-tools for PR 9179
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#31291 Communication/entra credential
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/.vscode/launch.json
  sdk/communication/communication-common/README.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/azureCommunicationTokenCredential.ts
  sdk/communication/communication-common/src/entraTokenCredential.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/test/public/node/entraCommunicationTokenCredential.spec.ts
Labels: Communication - Common

#31432 Sync eng/common directory with azure-sdk-tools for PR 9177
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#31379 feat(playwrighttesting): Added runName in service config
  sdk/playwrighttesting/microsoft-playwright-testing/review/microsoft-playwright-testing.api.md
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/environmentVariables.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/playwrightServiceConfig.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/types.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/common/playwrightServiceConfig.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/reporterUtils.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
Labels: Microsoft Playwright Testing

#31449 fix(playwrighttesting): removing duplicate runId from env
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/environmentVariables.ts
Labels: Microsoft Playwright Testing

#31441 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#31450 Prep for stable release.
  sdk/vision/ai-vision-image-analysis-rest/CHANGELOG.md
  sdk/vision/ai-vision-image-analysis-rest/README.md
  sdk/vision/ai-vision-image-analysis-rest/package.json
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
Labels: Image Analysis

#31452 Post release automated changes for identity releases
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#31455 Sync eng/common directory with azure-sdk-tools for PR 9181
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#31460 fix(playwrighttesting):escape config parameters
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/serviceClient.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
Labels: Microsoft Playwright Testing

#31457 Sync eng/common directory with azure-sdk-tools for PR 9212
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#31451 [Identity] Add subscription property for AzureCliCredentialOptions
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azureCliCredentialOptions.ts
  sdk/identity/identity/src/util/subscriptionUtils.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
Labels: Azure.Identity

#31466 [EngSys] upgrade dev dependency `@typescript-eslint/*` to `~8.10.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/logUtils.test.ts
Labels: eslint plugin

#31454 Improve API docs for DAC and ChainedTokenCredential
  sdk/identity/identity/src/credentials/chainedTokenCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#31427 Post release automated changes for redisenterprise releases
  sdk/redisenterprise/arm-redisenterprisecache/CHANGELOG.md
  sdk/redisenterprise/arm-redisenterprisecache/package.json
  sdk/redisenterprise/arm-redisenterprisecache/src/redisEnterpriseManagementClient.ts
Labels: Mgmt

#31477 docs(playwrighttesting): CHANGELOG for 1.0.0-beta.4 release for microsoft-playwright-testing
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#31479 Post release automated changes for playwrighttesting releases
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/package.json
Labels: Microsoft Playwright Testing

#31485 Sync eng/common directory with azure-sdk-tools for PR 9216
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzurePublicMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#31285 [ts-http-runtime] add azure diff check tool
  common/config/rush/pnpm-lock.yaml
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/scripts/azure-diff.ts
Labels: Azure.Core

#31490 Sync eng/common directory with azure-sdk-tools for PR 9229
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#31487 [ts-http-runtime] Update ts-http-runtime with recent Core changes
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/auth/tokenCredential.ts
  sdk/core/ts-http-runtime/src/client/common.ts
  sdk/core/ts-http-runtime/src/client/getClient.ts
  sdk/core/ts-http-runtime/src/client/sendRequest.ts
  sdk/core/ts-http-runtime/src/client/urlHelpers.ts
  sdk/core/ts-http-runtime/src/fetchHttpClient.ts
  sdk/core/ts-http-runtime/src/interfaces.ts
  sdk/core/ts-http-runtime/src/nodeHttpClient.ts
  sdk/core/ts-http-runtime/src/policies/formDataPolicy.ts
  sdk/core/ts-http-runtime/src/policies/multipartPolicy.ts
  sdk/core/ts-http-runtime/src/policies/proxyPolicy.ts
  sdk/core/ts-http-runtime/src/policies/tracingPolicy.ts
  sdk/core/ts-http-runtime/src/retryStrategies/throttlingRetryStrategy.ts
  sdk/core/ts-http-runtime/src/util/checkEnvironment.ts
  sdk/core/ts-http-runtime/src/util/sanitizer.ts
  sdk/core/ts-http-runtime/src/util/tokenCycler.ts
  sdk/core/ts-http-runtime/src/util/uuidUtils.common.ts
  sdk/core/ts-http-runtime/src/util/uuidUtils.ts
Labels: Azure.Core

#31433 [attestation] Migrate to ESM and tshy
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
  sdk/attestation/attestation/CHANGELOG.md
  sdk/attestation/attestation/api-extractor.json
  sdk/attestation/attestation/karma.conf.js
  sdk/attestation/attestation/package.json
  sdk/attestation/attestation/samples-dev/attestEnclaves.ts
  sdk/attestation/attestation/samples-dev/createAttestationClient.ts
  sdk/attestation/attestation/samples-dev/getAttestationPolicy.ts
  sdk/attestation/attestation/samples-dev/getPolicyManagementCertificates.ts
  sdk/attestation/attestation/samples-dev/modifyPolicyManagementCertificates.ts
  sdk/attestation/attestation/samples-dev/setAttestationPolicy.ts
  sdk/attestation/attestation/samples-dev/utils/cryptoUtils.ts
  sdk/attestation/attestation/src/attestationAdministrationClient.ts
  sdk/attestation/attestation/src/attestationClient.ts
  sdk/attestation/attestation/src/generated/generatedClient.ts
  sdk/attestation/attestation/src/generated/index.ts
  sdk/attestation/attestation/src/generated/models/parameters.ts
  sdk/attestation/attestation/src/generated/operations/attestation.ts
  sdk/attestation/attestation/src/generated/operations/index.ts
  sdk/attestation/attestation/src/generated/operations/metadataConfiguration.ts
  sdk/attestation/attestation/src/generated/operations/policy.ts
  sdk/attestation/attestation/src/generated/operations/policyCertificates.ts
  sdk/attestation/attestation/src/generated/operations/signingCertificates.ts
  sdk/attestation/attestation/src/generated/operationsInterfaces/attestation.ts
  sdk/attestation/attestation/src/generated/operationsInterfaces/index.ts
  sdk/attestation/attestation/src/generated/operationsInterfaces/metadataConfiguration.ts
  sdk/attestation/attestation/src/generated/operationsInterfaces/policy.ts
  sdk/attestation/attestation/src/generated/operationsInterfaces/policyCertificates.ts
  sdk/attestation/attestation/src/generated/operationsInterfaces/signingCertificates.ts
  sdk/attestation/attestation/src/index.ts
  sdk/attestation/attestation/src/models/attestationPolicyToken.ts
  sdk/attestation/attestation/src/models/attestationResponse.ts
  sdk/attestation/attestation/src/models/attestationResult.ts
  sdk/attestation/attestation/src/models/attestationSigner.ts
  sdk/attestation/attestation/src/models/attestationToken.ts
  sdk/attestation/attestation/src/models/index.ts
  sdk/attestation/attestation/src/models/policyResult.ts
  sdk/attestation/attestation/src/models/storedAttestationPolicy.ts
  sdk/attestation/attestation/src/utils/base64-browser.mts
  sdk/attestation/attestation/src/utils/buffer-browser.mts
  sdk/attestation/attestation/src/utils/helpers.ts
  sdk/attestation/attestation/src/utils/textEncoding-browser.mts
  sdk/attestation/attestation/test/browser/attestationTests.browser.spec.ts
  sdk/attestation/attestation/test/public/attestationTests.spec.ts
  sdk/attestation/attestation/test/public/attestationTokenTests.spec.ts
  sdk/attestation/attestation/test/public/policyGetSetTests.spec.ts
  sdk/attestation/attestation/test/public/policyManagementGetSetTests.spec.ts
  sdk/attestation/attestation/test/public/tokenCertTests.spec.ts
  sdk/attestation/attestation/test/utils/base64url-browser.mts
  sdk/attestation/attestation/test/utils/cryptoUtils.ts
  sdk/attestation/attestation/test/utils/env.browser.ts
  sdk/attestation/attestation/test/utils/env.ts
  sdk/attestation/attestation/test/utils/recordedClient.ts
  sdk/attestation/attestation/tsconfig.browser.config.json
  sdk/attestation/attestation/tsconfig.json
  sdk/attestation/attestation/vitest.browser.config.ts
  sdk/attestation/attestation/vitest.config.ts
Labels: Attestation, dev-tool

#31494 [core-client-rest] use helpers for isCredential
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
Labels: Azure.Core

#31492 Get real-time notification configuration from Chat Gateway 2
  common/config/rush/pnpm-lock.yaml
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/execute.cjs
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/execute.cjs.map
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/signaling/signalingClient.browser.ts
  sdk/communication/communication-chat/src/signaling/signalingClient.ts
Labels: Communication - Chat

#31495 Sync eng/common directory with azure-sdk-tools for PR 9234
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#31496 Sync eng/common directory with azure-sdk-tools for PR 9235
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#31503 Release Azure Communication Chat Version 1.5.3
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
Labels: Communication - Chat

#31516 Sync eng/common directory with azure-sdk-tools for PR 9236
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#31513 Update AzureCommunicationChat Version to 1.5.4
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#31518 Sync eng/common directory with azure-sdk-tools for PR 9249
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31527 Upgrade typescipt version
  common/config/rush/pnpm-lock.yaml
  sdk/computeschedule/arm-computeschedule/package.json
  sdk/containerinstance/arm-containerinstance/package.json
  sdk/containerservice/arm-containerservice/package.json
  sdk/fabric/arm-fabric/package.json
  sdk/hybridcompute/arm-hybridcompute/package.json
  sdk/mongocluster/arm-mongocluster/samples/v1/typescript/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/package.json
  sdk/servicenetworking/arm-servicenetworking/samples/v1-beta/typescript/package.json
  sdk/template/template/package.json
Labels: EngSys, Mgmt

#31532 Post release automated changes for dnsresolver releases
  sdk/dnsresolver/arm-dnsresolver/CHANGELOG.md
  sdk/dnsresolver/arm-dnsresolver/package.json
  sdk/dnsresolver/arm-dnsresolver/src/dnsResolverManagementClient.ts
Labels: Mgmt

#31533 Post release automated changes for dns releases
  sdk/dns/arm-dns/CHANGELOG.md
  sdk/dns/arm-dns/package.json
  sdk/dns/arm-dns/src/dnsManagementClient.ts
Labels: Mgmt

#31534 Post release automated changes for iotoperations releases
  sdk/iotoperations/arm-iotoperations/CHANGELOG.md
  sdk/iotoperations/arm-iotoperations/package.json
  sdk/iotoperations/arm-iotoperations/src/api/ioTOperationsContext.ts
Labels: Mgmt

#31536 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
  sdk/containerservice/arm-containerservicefleet/CHANGELOG.md
  sdk/containerservice/arm-containerservicefleet/package.json
  sdk/containerservice/arm-containerservicefleet/src/containerServiceFleetClient.ts
Labels: Mgmt

#31537 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#31538 Post release automated changes for fabric releases
  sdk/fabric/arm-fabric/CHANGELOG.md
  sdk/fabric/arm-fabric/package.json
  sdk/fabric/arm-fabric/src/api/fabricContext.ts
Labels: Mgmt

#31539 Update JS parser version to 2.0.3
  eng/scripts/Generate-APIView-CodeFile.ps1
Labels: Central-EngSys

#31422 [mgmt] databoundaries release
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/databoundaries/arm-databoundaries/CHANGELOG.md
  sdk/databoundaries/arm-databoundaries/LICENSE
  sdk/databoundaries/arm-databoundaries/README.md
  sdk/databoundaries/arm-databoundaries/_meta.json
  sdk/databoundaries/arm-databoundaries/api-extractor.json
  sdk/databoundaries/arm-databoundaries/assets.json
  sdk/databoundaries/arm-databoundaries/package.json
  sdk/databoundaries/arm-databoundaries/review/arm-databoundaries.api.md
  sdk/databoundaries/arm-databoundaries/sample.env
  sdk/databoundaries/arm-databoundaries/samples-dev/dataBoundariesGetScopeSample.ts
  sdk/databoundaries/arm-databoundaries/samples-dev/dataBoundariesGetTenantSample.ts
  sdk/databoundaries/arm-databoundaries/samples-dev/dataBoundariesPutSample.ts
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/javascript/README.md
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/javascript/dataBoundariesGetScopeSample.js
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/javascript/dataBoundariesGetTenantSample.js
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/javascript/dataBoundariesPutSample.js
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/javascript/package.json
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/javascript/sample.env
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/README.md
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/package.json
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/sample.env
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/src/dataBoundariesGetScopeSample.ts
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/src/dataBoundariesGetTenantSample.ts
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/src/dataBoundariesPutSample.ts
  sdk/databoundaries/arm-databoundaries/samples/v1-beta/typescript/tsconfig.json
  sdk/databoundaries/arm-databoundaries/src/databoundariesManegementClient.ts
  sdk/databoundaries/arm-databoundaries/src/index.ts
  sdk/databoundaries/arm-databoundaries/src/models/index.ts
  sdk/databoundaries/arm-databoundaries/src/models/mappers.ts
  sdk/databoundaries/arm-databoundaries/src/models/parameters.ts
  sdk/databoundaries/arm-databoundaries/src/operations/dataBoundaries.ts
  sdk/databoundaries/arm-databoundaries/src/operations/index.ts
  sdk/databoundaries/arm-databoundaries/src/operationsInterfaces/dataBoundaries.ts
  sdk/databoundaries/arm-databoundaries/src/operationsInterfaces/index.ts
  sdk/databoundaries/arm-databoundaries/test/databoundaries_operations_test.spec.ts
  sdk/databoundaries/arm-databoundaries/tsconfig.json
  sdk/databoundaries/ci.mgmt.yml
Labels: Mgmt

#31543 Post release automated changes for kubernetesruntime releases
  sdk/kubernetesruntime/arm-containerorchestratorruntime/CHANGELOG.md
  sdk/kubernetesruntime/arm-containerorchestratorruntime/package.json
  sdk/kubernetesruntime/arm-containerorchestratorruntime/src/api/kubernetesRuntimeContext.ts
Labels: Mgmt

#31544 Post release automated changes for databoundaries releases
  sdk/databoundaries/arm-databoundaries/CHANGELOG.md
  sdk/databoundaries/arm-databoundaries/package.json
  sdk/databoundaries/arm-databoundaries/src/databoundariesManegementClient.ts
Labels: Mgmt

#31528 Post release automated changes for servicefabricmanagedclusters releases
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/package.json
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/src/serviceFabricManagedClustersManagementClient.ts
Labels: Mgmt

#31564 [monitor] Upgrade to latest OTEL
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation

#31563 JS SDK code for agents files, threads, runs, messages
  sdk/ai/azure-ai-projects/src/agents/files.ts
  sdk/ai/azure-ai-projects/src/agents/index.ts
  sdk/ai/azure-ai-projects/src/agents/messages.ts
  sdk/ai/azure-ai-projects/src/agents/runs.ts
  sdk/ai/azure-ai-projects/src/agents/threads.ts
Labels: customer-reported, Community Contribution

#31565 [core-amqp] don't log request on `RequestResponseLink`
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/requestResponseLink.ts
Labels: Azure.Core

#31577 Sync eng/common directory with azure-sdk-tools for PR 9259
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#31576 [ts-http-runtime] Enforce azure diff check
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#31578 [Event Hubs] Fix sample
  sdk/eventhub/event-hubs/samples-express/package.json
  sdk/eventhub/event-hubs/samples-express/src/asyncBatchingProducer.ts
  sdk/eventhub/event-hubs/samples/v5/express/package.json
  sdk/eventhub/event-hubs/samples/v5/express/src/asyncBatchingProducer.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/javascript/sample.env
  sdk/eventhub/event-hubs/samples/v5/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/sample.env
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionStringWebsockets.ts
Labels: Event Hubs

#31424 Added CreateCallFailed event.
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/generated/src/callAutomationApiClient.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication

#31584 [EngSys] clean up the tshy leftover in build scripts
  sdk/computefleet/arm-computefleet/package.json
  sdk/computeschedule/arm-computeschedule/package.json
  sdk/fabric/arm-fabric/package.json
  sdk/iotoperations/arm-iotoperations/package.json
  sdk/kubernetesruntime/arm-containerorchestratorruntime/package.json
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/standbypool/arm-standbypool/package.json
  sdk/translation/ai-translation-document-rest/package.json
  sdk/trustedsigning/arm-trustedsigning/package.json
Labels: Mgmt

#31583 [EngSys] add VS Code vitest settings for core packages
  .gitignore
  .vscode/settings.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/vitest.browser.config.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/vitest.config.ts
  vitest.workspace.ts
Labels: Cognitive - Health Insights

#31589 Sync eng/common directory with azure-sdk-tools for PR 9281
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#31590 Sync eng/common directory with azure-sdk-tools for PR 9290
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#31601 Sync eng/common directory with azure-sdk-tools for PR 9292
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#31600 Sync eng/common directory with azure-sdk-tools for PR 9288
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#31602 Sync eng/common directory with azure-sdk-tools for PR 9294
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys
