Repository Azure/azure-sdk-for-js, pull requests merged in 2024-01, with the labels that each got.

#28111 [core] call onResponse in as*Stream methods
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/getClient.spec.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-sse/review/core-sse.api.md
  sdk/core/core-sse/src/sse.ts
  sdk/core/core-sse/src/utils.ts
  sdk/core/core-sse/test/public/node/util.ts
  sdk/openai/openai/assets.json
  sdk/openai/openai/sources/customizations/api/getSSEs.ts
  sdk/openai/openai/src/api/getSSEs.ts
  sdk/openai/openai/test/public/requestOptions.spec.ts
Labels: Azure.Core, OpenAI

#28138 [core] Prepare release
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-sse/CHANGELOG.md
  sdk/openai/openai/package.json
Labels: Azure.Core, OpenAI

#28141 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
Labels: Azure.Core

#28139 [OpenAI] Prepare release
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/streamCompletionsOnly.ts
  sdk/openai/openai/samples/v1-beta/javascript/README.md
  sdk/openai/openai/samples/v1-beta/javascript/bringYourOwnData.js
  sdk/openai/openai/samples/v1-beta/javascript/listCompletions.js
  sdk/openai/openai/samples/v1-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v1-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v1-beta/javascript/streamCompletions.js
  sdk/openai/openai/samples/v1-beta/typescript/README.md
  sdk/openai/openai/samples/v1-beta/typescript/src/bringYourOwnData.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/functions.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/readableStream.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v1-beta/typescript/src/streamCompletions.ts
Labels: Azure.Core, OpenAI

#28142 [OpenAI] Update sample link
  sdk/openai/openai/README.md
Labels: OpenAI

#28143 [OpenAI] Post-release activities
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/search/search-documents/package.json
Labels: Search, OpenAI

#28131 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub-client/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-client/package.json
Labels: WebPubSub

#28148 [OpenAI & Core] Fix whisper responseFormat behavior
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/sources/customizations/api/client/openAIClient/index.ts
  sdk/openai/openai/src/api/client/openAIClient/index.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
Labels: Azure.Core, OpenAI

#28149 [OpenAI] Post-release Changelog Update
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/search/search-documents/package.json
Labels: Search, OpenAI

#28150 Sync eng/common directory with azure-sdk-tools for PR 7468
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#28152 [engsys] remove `node-fetch` perf tests
  dataplane.code-workspace
  sdk/core/perf-tests/core-rest-pipeline/README.md
  sdk/storage/perf-tests/storage-blob/README.md
  sdk/storage/perf-tests/storage-blob/package.json
  sdk/storage/perf-tests/storage-blob/test/index.spec.ts
  sdk/storage/perf-tests/storage-blob/test/node-fetch.spec.ts
  sdk/storage/perf-tests/storage-file-share-track-1/test/download.spec.ts
  sdk/storage/perf-tests/storage-file-share-track-1/test/storageTest.ts
  sdk/storage/perf-tests/storage-file-share-track-1/test/upload.spec.ts
  sdk/test-utils/perf/package.json
  sdk/test-utils/perf/test/declareTests.ts
  sdk/test-utils/perf/test/nodeFetch.spec.ts
Labels: Storage, Azure.Core

#28168 Post release automated changes for core releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
Labels: Azure.Core

#28162 [Maps] 2024 Jan release
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/CHANGELOG.md
Labels: Maps

#28169 fix spelling error in AccountSASPermissions.yml
  sdk/storage/storage-blob/src/sas/AccountSASPermissions.ts
Labels: customer-reported, Storage, Community Contribution

#28187 [Identity] fix the build for failing identity pipeline
  sdk/identity/identity-broker/test/internal/node/interactiveBrowserCredential.spec.ts
Labels: Azure.Identity

#28193 [core-tracing] Remove unnecessary ESLint rule overrides
  sdk/core/core-tracing/.eslintrc.json
Labels: Azure.Core

#28179 [EngSys] upgrade @azure/identity to ^3.3.0
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-job-router-rest/package.json
  sdk/playwrighttesting/arm-playwrighttesting/package.json
Labels: Client, Mgmt

#28176 [@azure/eventgrid] Adding new events for EG Version 5.1.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#28103 [core] Use FormData-based formDataPolicy in browser
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.browser.ts
  sdk/core/core-rest-pipeline/test/browser/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
Labels: Azure.Core

#28197 Sync eng/common directory with azure-sdk-tools for PR 7498
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#28180 [EngSys][comm-identity] upgrade dependency `@azure/msal-node` to ^2.5.1
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/samples/v1/javascript/package.json
  sdk/communication/communication-identity/samples/v1/typescript/package.json
Labels: Communication - Identity

#28199 [core] Default to `application/octet-stream` content type for multipart blobs
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
Labels: Azure.Core

#28206 Revert "[EngSys][comm-identity] upgrade dependency `@azure/msal-node` to ^2.5.1 (#28180)"
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/samples/v1/javascript/package.json
  sdk/communication/communication-identity/samples/v1/typescript/package.json
Labels: Communication - Identity

#28151 [perf-tests] upgrade dependency `undici` version to ^6.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/perf-tests/core-rest-pipeline/package.json
Labels: Azure.Core

#28208 Sync eng/common directory with azure-sdk-tools for PR 7445
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#28224 [core] Enforce ordering of formData and multipart policies
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.ts
  sdk/core/ts-http-runtime/src/createPipelineFromOptions.ts
  sdk/core/ts-http-runtime/src/policies/formDataPolicy.ts
Labels: Azure.Core

#28223 [engsys] Update default TypeScript compilerOptions for data plane packages
  tsconfig.json
Labels: Client, Azure.Core

#28178 [core-amqp, service-bus] Correct timeToLive calculation to use absolute expiry time
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/amqpAnnotatedMessage.ts
  sdk/core/core-amqp/src/util/constants.ts
  sdk/core/core-amqp/test/message.spec.ts
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testutils2.ts
Labels: Service Bus, Azure.Core

#28212 [Identity] potentially fix min-max tests
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/test/authTestUtils.ts
Labels: Azure.Identity

#28234 Sync eng/common directory with azure-sdk-tools for PR 7451
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#28239 Sync eng/common directory with azure-sdk-tools for PR 7528
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#28244 Update Render API URL in README
  sdk/maps/maps-render-rest/README.md
Labels: Maps

#28245 [Azure Maps]Update Maps Search V2 links
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/README.md
Labels: Maps

#28248 [Azure Maps] Update @azure/logger version
  sdk/maps/maps-search-rest/package.json
Labels: Maps

#28228 [EngSys] fix "rush lint:fix"
  common/config/rush/command-line.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/vite-plugin-browser-test-map/package.json
  sdk/eventhub/mock-hub/package.json
Labels: EngSys, Client, Event Hubs

#28250 [CODEOWNERS] Remove automation section
  .github/CODEOWNERS
Labels: EngSys, Client

#28258 [ServiceBus] bump runtime dependency core-amqp version to ^4.1.1
  sdk/servicebus/service-bus/package.json
Labels: Service Bus

#28260 [OpenAI] Update Recordings for Whisper
  sdk/openai/openai/assets.json
Labels: OpenAI

#28263 Sync eng/common directory with azure-sdk-tools for PR 7536
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#28257 [engsys] remove unused dev dependency `mocha-junit-reporter`
  sdk/batch/batch/package.json
  sdk/vision/ai-vision-image-analysis-rest/package.json
Labels: Batch

#28220 Sync eng/common directory with azure-sdk-tools for PR 7512
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#28269 Post release automated changes for maps releases
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/package.json
  sdk/maps/maps-search-rest/swagger/README.md
Labels: Maps

#28246 Post release automated changes for maps releases
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-geolocation-rest/swagger/README.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/swagger/README.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/package.json
  sdk/maps/maps-route-rest/swagger/README.md
Labels: Maps

#28262 [OpenAI] Add a sample for getEmbeddings method
  sdk/openai/openai/README.md
  sdk/openai/openai/samples-dev-module/completionsRest.ts
  sdk/openai/openai/samples-dev-module/streamCompletionsOnly.ts
  sdk/openai/openai/samples-dev/getEmbeddings.ts
  sdk/openai/openai/samples/v1-beta/javascript/README.md
  sdk/openai/openai/samples/v1-beta/javascript/getEmbeddings.js
  sdk/openai/openai/samples/v1-beta/typescript/README.md
  sdk/openai/openai/samples/v1-beta/typescript/src/getEmbeddings.ts
Labels: OpenAI

#28252 [docs] fix broken links to opentelemetry docs
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/README.md
  sdk/monitor/monitor-opentelemetry-exporter/README.md
Labels: OpenTelemetryInstrumentation

#28276 [core-rest-pipeline] add back dev dependency of `@types/node`
  sdk/core/core-rest-pipeline/package.json
Labels: Azure.Core

#28277 Sync eng/common directory with azure-sdk-tools for PR 7537
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#28280 [identity] Update changelog for 3.4.x
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#28278 [EngSys][Attestation] upgrade dependency `jsrsasign` version to ^11.0.0
  common/config/rush/pnpm-lock.yaml
  sdk/attestation/attestation/package.json
Labels: Attestation

#28285 Feature/ru based capping for fetch requests
  sdk/cosmosdb/ci.yml
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Labels: Cosmos

#28287 [core] Upgrade vitest to 1.2.1
  common/config/rush/command-line.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-util/package.json
Labels: Azure.Core

#28281 Sync eng/common directory with azure-sdk-tools for PR 7543
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#28292 [Identity] Initialize public client application before API calls for msal-browser - IBC
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
Labels: Azure.Identity

#28297 Sync eng/common directory with azure-sdk-tools for PR 7548
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#28305 Sync eng/common directory with azure-sdk-tools for PR 7270
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#28315 Sync eng/common directory with azure-sdk-tools for PR 7556
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#28309 Update swagger input links to azure-rest-api-specs main branch
  sdk/attestation/attestation/swagger/README.md
  sdk/digitaltwins/digital-twins-core/swagger/README.md
  sdk/purview/purview-scanning-rest/swagger/README.md
  sdk/quantum/quantum-jobs/swagger/readme.md
Labels: Attestation, Digital Twins, Purview

#28326 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#28331 Reverting previous changes of version 5.1.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#28329 [dev-tool] ensure browsers are installed for playwright browser tests
  common/tools/dev-tool/src/commands/run/testVitest.ts
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-util/package.json
Labels: Azure.Core

#28337 [OpenAI] Fix toolChoice
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/sources/customizations/models/models.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/src/rest/models.ts
  sdk/openai/openai/test/public/completions.spec.ts
Labels: OpenAI

#28335 Updated Rooms Live Test SDK to use PPE
  sdk/communication/communication-rooms/tests.yml
Labels: Communication - Rooms

#28283 [identity] Remove MsalBaseUtils class
  .vscode/cspell.json
  sdk/identity/identity/src/msal/browserFlows/msalAuthCode.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalAuthorizationCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientAssertion.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientSecret.ts
  sdk/identity/identity/src/msal/nodeFlows/msalDeviceCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOnBehalfOf.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/msalUsernamePassword.ts
  sdk/identity/identity/src/msal/utils.browser.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
Labels: Azure.Identity

#28352 [OpenAI] Check undefined choices in chat completions method response
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/sources/customizations/api/client/openAIClient/deserializers.ts
  sdk/openai/openai/src/api/client/openAIClient/deserializers.ts
  sdk/openai/openai/test/internal/deserializer.spec.ts
Labels: OpenAI

#28310 [OpenAI] Update Embedding Test for Wrong Type Prompt
  sdk/openai/openai/assets.json
  sdk/openai/openai/test/public/embeddings.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
Labels: OpenAI

#28327 Post release automated changes for vision releases
  sdk/vision/ai-vision-image-analysis-rest/CHANGELOG.md
  sdk/vision/ai-vision-image-analysis-rest/package.json
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
Labels: Image Analysis

#28351 [OpenAI] Fix streaming
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/sources/customizations/api/oaiSse.ts
  sdk/openai/openai/sources/customizations/api/readableStreamUtils.ts
  sdk/openai/openai/sources/customizations/models/models.ts
  sdk/openai/openai/src/api/oaiSse.ts
  sdk/openai/openai/src/api/readableStreamUtils.ts
  sdk/openai/openai/src/models/models.ts
Labels: OpenAI

#28333 [identity] Use expires_on if az cli credential provides it
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
Labels: Azure.Identity

#28363 Sync eng/common directory with azure-sdk-tools for PR 7580
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: EngSys, Central-EngSys

#28365 [OpenAI] Prepare for Release
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#28236 Deprecate baseurl and use endpoint instead
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/clientHelpers.ts
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/src/urlHelpers.ts
Labels: Azure.Core

#28341 Sync eng/common directory with azure-sdk-tools for PR 7569
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#28268 [core] Add support for multiple file upload in core-client-rest
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core

#28372 [OpenAI] Post release Update Version
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
  sdk/search/search-documents/package.json
Labels: Search, OpenAI

#28375 Sync eng/common directory with azure-sdk-tools for PR 7584
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#28374 [identity] Disable broken IBC test
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
Labels: Azure.Identity

#28354 Update to latest TypeSpec
  sdk/vision/ai-vision-image-analysis-rest/CHANGELOG.md
  sdk/vision/ai-vision-image-analysis-rest/review/ai-vision-image-analysis.api.md
  sdk/vision/ai-vision-image-analysis-rest/src/clientDefinitions.ts
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
  sdk/vision/ai-vision-image-analysis-rest/src/isUnexpected.ts
  sdk/vision/ai-vision-image-analysis-rest/src/logger.ts
  sdk/vision/ai-vision-image-analysis-rest/src/parameters.ts
  sdk/vision/ai-vision-image-analysis-rest/src/responses.ts
  sdk/vision/ai-vision-image-analysis-rest/tsp-location.yaml
Labels: Image Analysis

#28302 [mgmt] elasticsan release
  common/config/rush/pnpm-lock.yaml
  sdk/elasticsans/arm-elasticsan/CHANGELOG.md
  sdk/elasticsans/arm-elasticsan/LICENSE
  sdk/elasticsans/arm-elasticsan/_meta.json
  sdk/elasticsans/arm-elasticsan/assets.json
  sdk/elasticsans/arm-elasticsan/package.json
  sdk/elasticsans/arm-elasticsan/review/arm-elasticsan.api.md
  sdk/elasticsans/arm-elasticsan/samples-dev/elasticSansCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/elasticSansUpdateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/privateEndpointConnectionsCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/volumeGroupsCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/volumeGroupsUpdateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/volumeSnapshotsCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/volumesCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples-dev/volumesUpdateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/elasticSansCreateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/elasticSansUpdateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/package.json
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/privateEndpointConnectionsCreateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/privateEndpointConnectionsDeleteSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/privateEndpointConnectionsGetSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/privateEndpointConnectionsListSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/privateLinkResourcesListByElasticSanSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeGroupsCreateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeGroupsDeleteSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeGroupsUpdateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeSnapshotsCreateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeSnapshotsDeleteSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeSnapshotsGetSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumeSnapshotsListByVolumeGroupSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumesCreateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumesDeleteSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumesGetSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumesListByVolumeGroupSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/javascript/volumesUpdateSample.js
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/package.json
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/elasticSansCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/elasticSansUpdateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/privateEndpointConnectionsCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/volumeGroupsCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/volumeGroupsUpdateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/volumeSnapshotsCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/volumesCreateSample.ts
  sdk/elasticsans/arm-elasticsan/samples/v1/typescript/src/volumesUpdateSample.ts
  sdk/elasticsans/arm-elasticsan/src/elasticSanManagement.ts
  sdk/elasticsans/arm-elasticsan/src/models/index.ts
  sdk/elasticsans/arm-elasticsan/src/models/mappers.ts
  sdk/elasticsans/arm-elasticsan/test/elasticsan_examples.spec.ts
Labels: Mgmt

#28366 [mgmt]networkanalytics release
  sdk/networkanalytics/arm-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/arm-networkanalytics/LICENSE
  sdk/networkanalytics/arm-networkanalytics/_meta.json
  sdk/networkanalytics/arm-networkanalytics/assets.json
  sdk/networkanalytics/arm-networkanalytics/package.json
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/README.md
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsAddUserRoleSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsCatalogsGetSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsCatalogsListByResourceGroupSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsCatalogsListBySubscriptionSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsCreateSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsDeleteSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsGenerateStorageAccountSasTokenSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsGetSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsListByResourceGroupSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsListBySubscriptionSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsListRolesAssignmentsSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsRemoveUserRoleSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsRotateKeySample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataProductsUpdateSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesCreateSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesDeleteDataSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesDeleteSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesGenerateStorageContainerSasTokenSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesGetSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesListByDataProductSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/dataTypesUpdateSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/operationsListSample.js
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/package.json
  sdk/networkanalytics/arm-networkanalytics/samples/v1/javascript/sample.env
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/README.md
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/package.json
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/sample.env
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsAddUserRoleSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsCatalogsGetSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsCatalogsListByResourceGroupSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsCatalogsListBySubscriptionSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsCreateSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsDeleteSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsGenerateStorageAccountSasTokenSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsGetSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsListByResourceGroupSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsListBySubscriptionSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsListRolesAssignmentsSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsRemoveUserRoleSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsRotateKeySample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataProductsUpdateSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesCreateSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesDeleteDataSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesDeleteSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesGenerateStorageContainerSasTokenSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesGetSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesListByDataProductSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/dataTypesUpdateSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/src/operationsListSample.ts
  sdk/networkanalytics/arm-networkanalytics/samples/v1/typescript/tsconfig.json
  sdk/networkanalytics/arm-networkanalytics/src/microsoftNetworkAnalytics.ts
  sdk/networkanalytics/arm-networkanalytics/test/networkanalytics_operations_test.spec.ts
Labels: Mgmt

#28361 [identity] replace SNI tests with unit tests
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal_parsecertificate/recording_includes_the_x5c_value_when_sendcertificatechain_is_true.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal_parsecertificate/recording_omits_the_x5c_value_when_sendcertificatechain_is_false.json
  sdk/identity/identity/test-resources-pre.ps1
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#28391 [identity] Migrate recordings out of this repo
  sdk/identity/identity/assets.json
  sdk/identity/identity/recordings/node/authorityvalidation/recording_disabled_and_authenticates.json
  sdk/identity/identity/recordings/node/clientassertioncredential_internal/recording_sends_the_expected_parameters.js
  sdk/identity/identity/recordings/node/clientassertioncredential_internal/recording_sends_the_expected_parameters.json
  sdk/identity/identity/recordings/node/clientassertioncredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.js
  sdk/identity/identity/recordings/node/clientassertioncredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.json
  sdk/identity/identity/recordings/node/clientcertificatecredential/recording_allows_cancelling_the_authentication.json
  sdk/identity/identity/recordings/node/clientcertificatecredential/recording_authenticates.json
  sdk/identity/identity/recordings/node/clientcertificatecredential/recording_authenticates_with_a_pem_certificate_string_directly.json
  sdk/identity/identity/recordings/node/clientcertificatecredential/recording_authenticates_with_sendcertificatechain.json
  sdk/identity/identity/recordings/node/clientcertificatecredential/recording_supports_tracing.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal/recording_throws_when_given_a_certificate_that_isnt_pemformatted.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal/recording_throws_when_given_a_file_that_doesnt_contain_a_pemformatted_certificate.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_allows_cancelling_the_authentication.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_authenticates.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_authenticates_when_cae_enabled.json
  sdk/identity/identity/recordings/node/clientsecretcredential/recording_supports_tracing.json
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.json
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_authenticates_with_tenantid_on_gettoken.json
  sdk/identity/identity/recordings/node/clientsecretcredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_cancelling_the_authentication.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_allows_setting_disableautomaticauthentication.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_and_allows_the_customization_of_the_prompt_callback.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_default_values.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_provided_values.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_authenticates_with_specific_permissions.json
  sdk/identity/identity/recordings/node/devicecodecredential/recording_supports_tracing.json
  sdk/identity/identity/recordings/node/devicecodecredential_internal/recording_authenticates_silently_after_the_initial_request.json
  sdk/identity/identity/recordings/node/devicecodecredential_internal/recording_authenticates_with_tenantid_on_gettoken.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_certificate_and_password_on_the_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_certificate_on_the_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_authenticates_with_a_client_secret_on_the_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_finds_and_uses_client_usernamepassword_environment_variables.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_supports_tracing_with_environment_client_certificate.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_supports_tracing_with_environment_client_secret.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_supports_tracing_with_environment_usernamepassword.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_throws_an_authenticationerror_when_gettoken_is_called_and_environmentcredential_authentication_failed.json
  sdk/identity/identity/recordings/node/environmentcredential/recording_throws_an_credentialunavailable_when_gettoken_is_called_and_no_credential_was_configured.json
  sdk/identity/identity/recordings/node/interactivebrowsercredential_internal/recording_throws_an_expected_error_if_no_browser_is_available.json
  sdk/identity/identity/recordings/node/interactivebrowsercredential_internal/recording_throws_an_expected_error_if_port_1337_is_not_available.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_allows_cancelling_the_authentication.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_authenticates.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential/recording_supports_tracing.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal/recording_authenticates_with_allowloggingaccountidentifiers_set_to_true.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal/recording_authenticates_with_tenantid_on_gettoken.json
  sdk/identity/identity/recordings/node/usernamepasswordcredential_internal/recording_should_throw_if_the_parameteres_are_not_correctly_specified.json
  sdk/identity/identity/recordings/node/workloadidentitycredential/recording_authenticates_with_defaultazure_credential.json
  sdk/identity/identity/recordings/node/workloadidentitycredential/recording_authenticates_with_defaultazure_credential_and_client_id.json
  sdk/identity/identity/recordings/node/workloadidentitycredential/recording_authenticates_with_managedidentity_credential.json
  sdk/identity/identity/recordings/node/workloadidentitycredential/recording_authenticates_with_workloadidentity_credential.json
Labels: Azure.Identity

#28393 [identity] Clean up remaining recordings
  sdk/identity/identity/assets.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal_parsecertificate/recording_includes_the_x5c_value_when_sendcertificatechain_is_true.json
  sdk/identity/identity/recordings/node/clientcertificatecredential_internal_parsecertificate/recording_omits_the_x5c_value_when_sendcertificatechain_is_false.json
Labels: Azure.Identity

#28380 Post release automated changes for elasticsans releases
  sdk/elasticsans/arm-elasticsan/CHANGELOG.md
  sdk/elasticsans/arm-elasticsan/package.json
  sdk/elasticsans/arm-elasticsan/src/elasticSanManagement.ts
Labels: Mgmt

#28381 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt

#28382 Post release automated changes for networkanalytics releases
  sdk/networkanalytics/arm-networkanalytics/CHANGELOG.md
  sdk/networkanalytics/arm-networkanalytics/package.json
  sdk/networkanalytics/arm-networkanalytics/src/microsoftNetworkAnalytics.ts
Labels: Mgmt

#28383 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt

#28384 Post release automated changes for recoveryservicesbackup releases
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/package.json
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/recoveryServicesBackupClient.ts
Labels: Mgmt

#28385 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#28387 Post release automated changes for hybridcontainerservice releases
  sdk/hybridcontainerservice/arm-hybridcontainerservice/CHANGELOG.md
  sdk/hybridcontainerservice/arm-hybridcontainerservice/package.json
  sdk/hybridcontainerservice/arm-hybridcontainerservice/src/hybridContainerServiceClient.ts
Labels: Mgmt

#28388 Post release automated changes for appplatform releases
  sdk/appplatform/arm-appplatform/CHANGELOG.md
  sdk/appplatform/arm-appplatform/package.json
  sdk/appplatform/arm-appplatform/src/appPlatformManagementClient.ts
Labels: Mgmt

#28389 Post release automated changes for hardwaresecuritymodules releases
  sdk/hardwaresecuritymodules/arm-hardwaresecuritymodules/CHANGELOG.md
  sdk/hardwaresecuritymodules/arm-hardwaresecuritymodules/package.json
  sdk/hardwaresecuritymodules/arm-hardwaresecuritymodules/src/azureHSMResourceProvider.ts
Labels: Mgmt

#28294 [core] Avoid use of web streams in multipart/form-data
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/policies/multipartPolicy.ts
  sdk/core/core-rest-pipeline/src/util/concat.browser.ts
  sdk/core/core-rest-pipeline/src/util/concat.ts
  sdk/core/core-rest-pipeline/src/util/file.ts
  sdk/core/core-rest-pipeline/src/util/stream.browser.ts
  sdk/core/core-rest-pipeline/src/util/stream.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/util.ts
Labels: Azure.Core

#28407 [core] Prepare for Feb 2024 releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#28412 [identity] Update CHANGELOG for February release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#28022 Feature/2692245: Add Corelated activity id using "x-ms-cosmos-correlated-activityid" header
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/defaultQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/orderByQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/internal/unit/defaultQueryExecutionContext.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/queryIterator.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#28420 Sync eng/common directory with azure-sdk-tools for PR 7585
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#28422 add @type/mocha in package.json
  common/config/rush/pnpm-lock.yaml
  sdk/links/arm-links/package.json
  sdk/resources/arm-resources-profile-2020-09-01-hybrid/package.json
  sdk/resources/arm-resources/package.json
Labels: Mgmt

#28417 [identity] Fix tests for msal-node 2.6.2
  sdk/identity/identity/test/internal/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/onBehalfOfCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#28426 [identity] prepare for core's ESM migration
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
Labels: Azure.Identity
