Repository Azure/azure-sdk-for-js, pull requests merged in 2024-02, with the labels that each got.

#28438 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#28452 [core] Update bun and deno checks
  sdk/core/core-util/src/checkEnvironment.ts
  sdk/core/ts-http-runtime/src/util/checkEnvironment.ts
Labels: Azure.Core

#28450 Sync eng/common directory with azure-sdk-tools for PR 7615
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#28454 Sync eng/common directory with azure-sdk-tools for PR 7623
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#28451 [OpenAI] [Assistants] Fix for ThreadRun->RequiredAction->RequiredFunctionToolCall
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/review/openai-assistants.api.md
  sdk/openai/openai-assistants/sources/generated/src/models/models.ts
  sdk/openai/openai-assistants/sources/generated/src/rest/outputModels.ts
  sdk/openai/openai-assistants/src/models/models.ts
  sdk/openai/openai-assistants/src/rest/outputModels.ts
Labels: OpenAI

#28463 [mgmt] issue fix
  sdk/sql/arm-sql/assets.json
  sdk/sql/arm-sql/samples-dev/databaseSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples-dev/managedDatabaseSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples-dev/managedServerSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples-dev/serverSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples/v10-beta/javascript/databaseSecurityAlertPoliciesCreateOrUpdateSample.js
  sdk/sql/arm-sql/samples/v10-beta/javascript/managedDatabaseSecurityAlertPoliciesCreateOrUpdateSample.js
  sdk/sql/arm-sql/samples/v10-beta/javascript/managedServerSecurityAlertPoliciesCreateOrUpdateSample.js
  sdk/sql/arm-sql/samples/v10-beta/javascript/serverSecurityAlertPoliciesCreateOrUpdateSample.js
  sdk/sql/arm-sql/samples/v10-beta/typescript/src/databaseSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples/v10-beta/typescript/src/managedDatabaseSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples/v10-beta/typescript/src/managedServerSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/samples/v10-beta/typescript/src/serverSecurityAlertPoliciesCreateOrUpdateSample.ts
  sdk/sql/arm-sql/test/sql_examples.ts
Labels: Mgmt

#28453 [doc][abort-controller] update README for v2.0
  sdk/core/abort-controller/README.md
Labels: Azure.Core

#28457 [core-rest-pipeline] Re-enable multipartPolicy-based formDataPolicy in browser
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/policies/formDataPolicy.browser.ts
  sdk/core/core-rest-pipeline/test/browser/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/formDataPolicy.spec.ts
Labels: Azure.Core

#28458 Sync eng/common directory with azure-sdk-tools for PR 7629
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#28481 [OpenAI Assistants] Prepare release
  sdk/openai/openai-assistants/CHANGELOG.md
Labels: OpenAI

#28470 Sync eng/common directory with azure-sdk-tools for PR 7634
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#28483 Update sample code for getting map tiles in browser and Node.js
  sdk/maps/maps-render-rest/samples-dev/getMapTileInBrowser.ts
  sdk/maps/maps-render-rest/samples-dev/getMapTileInNode.ts
  sdk/maps/maps-render-rest/samples/v1-beta/javascript/README.md
  sdk/maps/maps-render-rest/samples/v1-beta/javascript/getMapTileInBrowser.js
  sdk/maps/maps-render-rest/samples/v1-beta/javascript/getMapTileInNode.js
  sdk/maps/maps-render-rest/samples/v1-beta/typescript/README.md
  sdk/maps/maps-render-rest/samples/v1-beta/typescript/src/getMapTileInBrowser.ts
  sdk/maps/maps-render-rest/samples/v1-beta/typescript/src/getMapTileInNode.ts
  sdk/maps/maps-render-rest/samples/v1-beta/typescript/tsconfig.json
Labels: Maps

#28484 Post release automated changes for openai releases
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/package.json
  sdk/openai/openai-assistants/src/rest/assistantsClient.ts
Labels: OpenAI

#28480 Sync eng/common directory with azure-sdk-tools for PR 7630
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#27343 [core-client-rest] allow customized content type
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
Labels: Azure.Core

#28409 [ServiceBus] prepare for February 2024
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#28200 [EngSys] upgrade dev dependency `puppeteer` to `^22.0.0`
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-xml/test/xml.spec.ts
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/test/public/keyClient.spec.ts
  sdk/keyvault/keyvault-secrets/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/openai/openai/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template-dpg/package.json
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/test/testProxyClient.spec.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
  sdk/web-pubsub/web-pubsub-client/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: EngSys, Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core, WebPubSub, OpenAI

#28496 Post release automated changes for servicebus releases
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#28495 [EngSys] remove leftover dev dependency `mocha-junit-reporter`
  sdk/openai/openai-assistants/package.json
Labels: OpenAI

#28508 [JS] Communication Common | Renaming field name in Microsoft Teams App Identifier Serializer
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
Labels: Communication - Common

#28498 [identity] Merge utils and utils.browser in msal directory
  sdk/identity/identity/package.json
  sdk/identity/identity/src/msal/msal.browser.ts
  sdk/identity/identity/src/msal/msal.ts
  sdk/identity/identity/src/msal/utils.browser.ts
  sdk/identity/identity/src/msal/utils.ts
Labels: Azure.Identity

#28512 [identity] Remove ! operators from accessToken handlers
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/types.ts
  sdk/identity/identity/src/msal/utils.ts
Labels: Azure.Identity

#28396 [mgmt][test] add testPollingOptions for arm-networkanalytics delete test
  sdk/containerservice/arm-containerservice/test/containerservice_examples.ts
  sdk/networkanalytics/arm-networkanalytics/test/networkanalytics_operations_test.spec.ts
Labels: Mgmt

#28469 Make the open telemetry shutdownAzureMonitor() async like the open telemetry implementation
  sdk/monitor/monitor-opentelemetry/review/monitor-opentelemetry.api.md
  sdk/monitor/monitor-opentelemetry/samples-dev/customMetric.ts
  sdk/monitor/monitor-opentelemetry/samples-dev/customTrace.ts
  sdk/monitor/monitor-opentelemetry/src/index.ts
  sdk/monitor/monitor-opentelemetry/test/internal/unit/browserSdkLoader/browserSdkLoader.test.ts
  sdk/monitor/monitor-opentelemetry/test/internal/unit/main.test.ts
Labels: customer-reported, Community Contribution

#28516 Fix Search Documents Sample Issue
  sdk/search/search-documents/README.md
Labels: Search, Community Contribution

#28513 Adding new events for EG Version 5.2.0
  .vscode/cspell.json
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#28525 Sync .github/workflows directory with azure-sdk-tools for PR 7656
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#28535 Update package.json
  sdk/openai/openai-assistants/package.json
Labels: OpenAI

#28536 [OpenAI] [Assistants] Update CHANGELOG.md
  sdk/openai/openai-assistants/CHANGELOG.md
Labels: OpenAI

#28540 Post release automated changes for openai releases
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/package.json
  sdk/openai/openai-assistants/src/rest/assistantsClient.ts
Labels: OpenAI

#28544 Sync eng/common directory with azure-sdk-tools for PR 7664
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#28543 [OpenAI] [Assistants] add types/src
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/package.json
Labels: OpenAI

#28546 [OpenAI] Update embedding test
  sdk/openai/openai/assets.json
  sdk/openai/openai/test/public/embeddings.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
Labels: OpenAI

#28528 [OpenAI] Introduce generated RLC
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/openai/ci.yml
  sdk/openai/openai-rest/.eslintrc.json
  sdk/openai/openai-rest/CHANGELOG.md
  sdk/openai/openai-rest/README.md
  sdk/openai/openai-rest/api-extractor.json
  sdk/openai/openai-rest/generated/clientDefinitions.ts
  sdk/openai/openai-rest/generated/index.ts
  sdk/openai/openai-rest/generated/isUnexpected.ts
  sdk/openai/openai-rest/generated/logger.ts
  sdk/openai/openai-rest/generated/models.ts
  sdk/openai/openai-rest/generated/openAIClient.ts
  sdk/openai/openai-rest/generated/outputModels.ts
  sdk/openai/openai-rest/generated/parameters.ts
  sdk/openai/openai-rest/generated/pollingHelper.ts
  sdk/openai/openai-rest/generated/responses.ts
  sdk/openai/openai-rest/package.json
  sdk/openai/openai-rest/review/openai.api.md
  sdk/openai/openai-rest/sample.env
  sdk/openai/openai-rest/src/clientDefinitions.ts
  sdk/openai/openai-rest/src/index.ts
  sdk/openai/openai-rest/src/isUnexpected.ts
  sdk/openai/openai-rest/src/logger.ts
  sdk/openai/openai-rest/src/models.ts
  sdk/openai/openai-rest/src/openAIClient.ts
  sdk/openai/openai-rest/src/outputModels.ts
  sdk/openai/openai-rest/src/parameters.ts
  sdk/openai/openai-rest/src/pollingHelper.ts
  sdk/openai/openai-rest/src/responses.ts
  sdk/openai/openai-rest/tsconfig.json
  sdk/openai/openai-rest/tsp-location.yaml
Labels: OpenAI

#28563 [core] Upgrade http(s)-proxy-agent
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/policies/proxyPolicy.ts
  sdk/core/core-rest-pipeline/test/node/proxyPolicy.spec.ts
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/src/policies/proxyPolicy.ts
  sdk/core/ts-http-runtime/test/node/proxyPolicy.spec.ts
Labels: Azure.Core

#28564 [messaging] Update https-proxy-agent
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/samples-dev/websockets.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5/javascript/websockets.js
  sdk/eventhub/event-hubs/samples/v5/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5/typescript/src/websockets.ts
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/v7-beta/javascript/package.json
  sdk/servicebus/service-bus/samples/v7-beta/typescript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
Labels: Service Bus, Event Hubs

#28567 Sync eng/common directory with azure-sdk-tools for PR 7665
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#28571 Change sample URL & Test image
  sdk/vision/ai-vision-image-analysis-rest/README.md
  sdk/vision/ai-vision-image-analysis-rest/assets.json
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/analyzeImageFromUrl.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/caption.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/denseCaptions.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/objects.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/peopleResult.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/read.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/smartCropsResult.js
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/tags.js
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/analyzeImageFromUrl.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/caption.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/denseCaptions.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/objects.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/peopleResult.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/read.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/smartCropsResult.ts
  sdk/vision/ai-vision-image-analysis-rest/samples/typescript/tags.ts
  sdk/vision/ai-vision-image-analysis-rest/test/image-analysis-sample.jpg
  sdk/vision/ai-vision-image-analysis-rest/test/public/AnalysisTests.spec.ts
Labels: Image Analysis

#28556 [EngSys] add a workaround to load ESM tests for Mocha
  common/tools/esm4mocha.mjs
  eng/tools/dependency-testing/index.js
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/internal/node/packageInfo.spec.ts
  sdk/servicebus/service-bus/tsconfig.json
Labels: Service Bus

#28562 [@azure/openai-assistants] Properly convert OpenAI unix timestamps to Date
  sdk/openai/openai-assistants/sources/customizations/api/operations.ts
  sdk/openai/openai-assistants/sources/customizations/api/util.ts
Labels: customer-reported, Client, Community Contribution, OpenAI

#28579 Sync eng/common directory with azure-sdk-tools for PR 7655
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#28416 [keyvault] Prepare for 7.5 GA release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/assets.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/review/keyvault-admin.api.md
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/models/index.ts
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-admin/test/public/utils/common.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/assets.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/review/keyvault-certificates.api.md
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/index.ts
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-certificates/test/public/utils/common.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/assets.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-keys/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-keys/src/generated/models/index.ts
  sdk/keyvault/keyvault-keys/src/keysModels.ts
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-keys/test/public/keyClient.spec.ts
  sdk/keyvault/keyvault-keys/test/public/utils/common.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/assets.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/review/keyvault-secrets.api.md
  sdk/keyvault/keyvault-secrets/src/constants.ts
  sdk/keyvault/keyvault-secrets/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-secrets/src/generated/models/index.ts
  sdk/keyvault/keyvault-secrets/src/secretsModels.ts
  sdk/keyvault/keyvault-secrets/swagger/README.md
  sdk/keyvault/keyvault-secrets/test/public/utils/common.ts
Labels: KeyVault

#28584 [doc][openai-rest] fix broken link
  sdk/openai/openai-rest/README.md
Labels: OpenAI

#28580 [identity] Use esm4mocha, re-enable IBC test, remove unnecessary stub
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/esm4mocha.mjs
  sdk/identity/identity/package.json
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
  sdk/identity/identity/test/public/node/utils/utils.ts
Labels: Azure.Identity, Communication - Identity

#28598 Sync .github/workflows directory with azure-sdk-tools for PR 7703
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28600 Sync eng/common directory with azure-sdk-tools for PR 7704
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#28596 [OpenAI] [Assistants] correct README code snippet for createRun usage
  sdk/openai/openai-assistants/README.md
Labels: OpenAI

#28589 [EngSys] switch to use `esm4mocha` loader by default for *.js tests
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/esm4mocha.mjs
  sdk/appconfiguration/app-configuration/package.json
  sdk/batch/batch/package.json
  sdk/cognitivelanguage/ai-language-text/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/loadtesting/load-testing-rest/tsconfig.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/test/public/utils/dummies.ts
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/node/utils.spec.ts
  sdk/storage/storage-common/src/PooledBuffer.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Batch, App Configuration, WebPubSub

#28609 [JS] Communication Common | Microsoft Teams App Identifier feature Patch release updates
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication, Communication - Common

#28604 [ServiceBus] wait up to max wait time for draining credit when receiving messages
  sdk/servicebus/service-bus/src/core/batchingReceiver.ts
Labels: Service Bus

#28625 Post release automated changes for communication releases
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication - Common

#28621 [doc][core-client] fix broken link
  sdk/core/core-client/README.md
Labels: Azure.Core

#28623 Data Retention API Change
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/internal/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/chatClient.spec.ts
  sdk/communication/communication-chat/test/public/chatThreadClient.spec.ts
  sdk/template/template-dpg/tsconfig.json
Labels: Communication - Chat

#28639 [EngSys] Bump puppeteer to 22.2.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/openai/openai/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template-dpg/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
  sdk/web-pubsub/web-pubsub-client/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: EngSys, Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core, WebPubSub, OpenAI

#28631 [core-tracing] support sharing state between CJS and ESM
  sdk/core/core-tracing/.tshy/browser.json
  sdk/core/core-tracing/.tshy/commonjs.json
  sdk/core/core-tracing/.tshy/esm.json
  sdk/core/core-tracing/.tshy/react-native.json
  sdk/core/core-tracing/src/instrumenter.ts
  sdk/core/core-tracing/src/state-browser.mts
  sdk/core/core-tracing/src/state-cjs.cts
  sdk/core/core-tracing/src/state.ts
  sdk/core/core-tracing/vitest.config.ts
Labels: Azure.Core

#28626 [identity] Add Multi-tenant test
  sdk/identity/identity/assets.json
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
  sdk/identity/identity/test/public/node/multiTenantAuthentication.spec.ts
Labels: Azure.Identity

#28646 [mgmt] update changelog
  sdk/largeinstance/arm-largeinstance/CHANGELOG.md
Labels: Mgmt

#28505 [mgmt] astro release
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/astro/arm-astro/CHANGELOG.md
  sdk/astro/arm-astro/LICENSE
  sdk/astro/arm-astro/README.md
  sdk/astro/arm-astro/_meta.json
  sdk/astro/arm-astro/api-extractor.json
  sdk/astro/arm-astro/assets.json
  sdk/astro/arm-astro/package.json
  sdk/astro/arm-astro/review/arm-astro.api.md
  sdk/astro/arm-astro/sample.env
  sdk/astro/arm-astro/samples-dev/operationsListSample.ts
  sdk/astro/arm-astro/samples-dev/organizationsCreateOrUpdateSample.ts
  sdk/astro/arm-astro/samples-dev/organizationsDeleteSample.ts
  sdk/astro/arm-astro/samples-dev/organizationsGetSample.ts
  sdk/astro/arm-astro/samples-dev/organizationsListByResourceGroupSample.ts
  sdk/astro/arm-astro/samples-dev/organizationsListBySubscriptionSample.ts
  sdk/astro/arm-astro/samples-dev/organizationsUpdateSample.ts
  sdk/astro/arm-astro/samples/v1-beta/javascript/README.md
  sdk/astro/arm-astro/samples/v1-beta/javascript/operationsListSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/organizationsCreateOrUpdateSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/organizationsDeleteSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/organizationsGetSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/organizationsListByResourceGroupSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/organizationsListBySubscriptionSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/organizationsUpdateSample.js
  sdk/astro/arm-astro/samples/v1-beta/javascript/package.json
  sdk/astro/arm-astro/samples/v1-beta/javascript/sample.env
  sdk/astro/arm-astro/samples/v1-beta/typescript/README.md
  sdk/astro/arm-astro/samples/v1-beta/typescript/package.json
  sdk/astro/arm-astro/samples/v1-beta/typescript/sample.env
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/operationsListSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/organizationsCreateOrUpdateSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/organizationsDeleteSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/organizationsGetSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/organizationsListByResourceGroupSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/organizationsListBySubscriptionSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/src/organizationsUpdateSample.ts
  sdk/astro/arm-astro/samples/v1-beta/typescript/tsconfig.json
  sdk/astro/arm-astro/src/astroManagementClient.ts
  sdk/astro/arm-astro/src/index.ts
  sdk/astro/arm-astro/src/lroImpl.ts
  sdk/astro/arm-astro/src/models/index.ts
  sdk/astro/arm-astro/src/models/mappers.ts
  sdk/astro/arm-astro/src/models/parameters.ts
  sdk/astro/arm-astro/src/operations/index.ts
  sdk/astro/arm-astro/src/operations/operations.ts
  sdk/astro/arm-astro/src/operations/organizations.ts
  sdk/astro/arm-astro/src/operationsInterfaces/index.ts
  sdk/astro/arm-astro/src/operationsInterfaces/operations.ts
  sdk/astro/arm-astro/src/operationsInterfaces/organizations.ts
  sdk/astro/arm-astro/src/pagingHelper.ts
  sdk/astro/arm-astro/test/astro_operations_test.spec.ts
  sdk/astro/arm-astro/tsconfig.json
  sdk/astro/ci.mgmt.yml
Labels: Mgmt

#28425 [mgmt] playwrighttesting release
  common/config/rush/pnpm-lock.yaml
  sdk/playwrighttesting/arm-playwrighttesting/CHANGELOG.md
  sdk/playwrighttesting/arm-playwrighttesting/LICENSE
  sdk/playwrighttesting/arm-playwrighttesting/_meta.json
  sdk/playwrighttesting/arm-playwrighttesting/assets.json
  sdk/playwrighttesting/arm-playwrighttesting/package.json
  sdk/playwrighttesting/arm-playwrighttesting/review/arm-playwrighttesting.api.md
  sdk/playwrighttesting/arm-playwrighttesting/samples-dev/accountsCreateOrUpdateSample.ts
  sdk/playwrighttesting/arm-playwrighttesting/samples-dev/accountsUpdateSample.ts
  sdk/playwrighttesting/arm-playwrighttesting/samples/v1-beta/javascript/accountsCreateOrUpdateSample.js
  sdk/playwrighttesting/arm-playwrighttesting/samples/v1-beta/javascript/accountsUpdateSample.js
  sdk/playwrighttesting/arm-playwrighttesting/samples/v1-beta/typescript/src/accountsCreateOrUpdateSample.ts
  sdk/playwrighttesting/arm-playwrighttesting/samples/v1-beta/typescript/src/accountsUpdateSample.ts
  sdk/playwrighttesting/arm-playwrighttesting/src/models/index.ts
  sdk/playwrighttesting/arm-playwrighttesting/src/models/mappers.ts
  sdk/playwrighttesting/arm-playwrighttesting/src/playwrightTestingClient.ts
Labels: Mgmt

#28652 Sync .github/workflows directory with azure-sdk-tools for PR 7742
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28632 [core] disable tshy selfLink
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#28605 [EngSys][cosmos] add reporter-option to integration test command
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#28213 New LRO support in core under branch `feature/core-lro/v3`
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/src/index.ts
  sdk/core/core-lro/src/legacy/lroEngine/index.ts
  sdk/core/core-lro/src/legacy/lroEngine/lroEngine.ts
  sdk/core/core-lro/src/legacy/lroEngine/models.ts
  sdk/core/core-lro/src/legacy/lroEngine/operation.ts
  sdk/core/core-lro/src/legacy/models.ts
  sdk/core/core-lro/src/legacy/pollOperation.ts
  sdk/core/core-lro/src/legacy/poller.ts
  sdk/core/core-lro/src/poller/models.ts
  sdk/core/core-lro/src/poller/operation.ts
  sdk/core/core-lro/src/poller/poller.ts
  sdk/core/core-lro/test/lro.spec.ts
  sdk/core/core-lro/test/utils/coreRestPipelineLro.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/utils.ts
Labels: Azure.Core

#28657 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#28659 [identity] Prepare cache persistence plugin for release
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/package.json
Labels: Azure.Identity

#28618 [ts-http-runtime] Port recent Core changes
  sdk/core/ts-http-runtime/.tshy/commonjs.json
  sdk/core/ts-http-runtime/.tshy/esm.json
  sdk/core/ts-http-runtime/.tshy/react-native.json
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/auth/keyCredential.ts
  sdk/core/ts-http-runtime/src/client/clientHelpers.ts
  sdk/core/ts-http-runtime/src/client/getClient.ts
  sdk/core/ts-http-runtime/src/client/helpers/getBinaryBody.ts
  sdk/core/ts-http-runtime/src/client/sendRequest.ts
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/nodeHttpClient.ts
  sdk/core/ts-http-runtime/src/policies/formDataPolicy.ts
  sdk/core/ts-http-runtime/src/policies/multipartPolicy.ts
  sdk/core/ts-http-runtime/src/util/concat-browser.mts
  sdk/core/ts-http-runtime/src/util/concat.ts
  sdk/core/ts-http-runtime/src/util/file.ts
  sdk/core/ts-http-runtime/src/util/stream-browser.mts
  sdk/core/ts-http-runtime/src/util/stream.ts
  sdk/core/ts-http-runtime/test/auth/keyCredential.spec.ts
  sdk/core/ts-http-runtime/test/client/getBinaryBody.spec.ts
  sdk/core/ts-http-runtime/test/client/getClient.spec.ts
  sdk/core/ts-http-runtime/test/client/sendRequest.spec.ts
  sdk/core/ts-http-runtime/test/formDataPolicy.spec.ts
  sdk/core/ts-http-runtime/test/node/formDataPolicy.spec.ts
  sdk/core/ts-http-runtime/test/util.ts
Labels: Azure.Core

#28681 Sync .github/workflows directory with azure-sdk-tools for PR 7765
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28684 Sync eng/common directory with azure-sdk-tools for PR 7767
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#28682 Update CHANGELOG.md
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/package.json
  sdk/openai/openai-assistants/src/rest/assistantsClient.ts
Labels: OpenAI

#28630 [core] Enable lint and format for `.mts` files and others
  common/tools/dev-tool/src/commands/run/build-test.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/core/abort-controller/package.json
  sdk/core/abort-controller/tsconfig.json
  sdk/core/core-auth/package.json
  sdk/core/core-auth/tsconfig.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/tsconfig.json
  sdk/core/core-client/package.json
  sdk/core/core-client/tsconfig.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-http-compat/tsconfig.json
  sdk/core/core-lro/package.json
  sdk/core/core-lro/tsconfig.json
  sdk/core/core-paging/package.json
  sdk/core/core-paging/tsconfig.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/util/react-native.d.ts
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-react-native.mts
  sdk/core/core-rest-pipeline/tsconfig.json
  sdk/core/core-sse/package.json
  sdk/core/core-sse/tsconfig.json
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/tsconfig.json
  sdk/core/core-util/package.json
  sdk/core/core-util/tsconfig.json
  sdk/core/core-xml/package.json
  sdk/core/core-xml/tsconfig.json
  sdk/core/logger/package.json
  sdk/core/logger/tsconfig.json
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/src/util/concat-browser.mts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-react-native.mts
  sdk/core/ts-http-runtime/tsconfig.json
Labels: Azure.Core

#28493 [identity] MSAL client skeleton
  sdk/identity/identity/src/credentials/clientAssertionCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
  sdk/identity/identity/test/internal/node/msalPlugins.spec.ts
Labels: Azure.Identity

#28664 Sync eng/common directory with azure-sdk-tools for PR 7729
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#28668 [Identity] update redis samples with scopes and TSG guide
  sdk/identity/identity/samples/AzureCacheForRedis/ioredis.md
  sdk/identity/identity/samples/AzureCacheForRedis/node-redis.md
Labels: Azure.Identity

#28688 Post release automated changes for openai releases
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/package.json
  sdk/openai/openai-assistants/src/rest/assistantsClient.ts
Labels: OpenAI

#28591 [search] Enable CI and live test pipelines on search/stable branch
  sdk/search/ci.yml
Labels: Search

#28690 [OpenAI] Fix Function Schemas Transformed into Snake Case
  sdk/openai/openai/assets.json
  sdk/openai/openai/src/api/client/openAIClient/index.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
Labels: OpenAI

#28701 push communication-network-traversal recordings
  sdk/communication/communication-network-traversal/assets.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_providing_rotetype_any.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_providing_rotetype_nearest.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_providing_ttl.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_with_all_options.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_with_user_identity.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_without_providing_a_user_identity.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_providing_rotetype_any.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_providing_rotetype_nearest.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_providing_ttl.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_all_options.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_user_identity.json
  sdk/communication/communication-network-traversal/recordings/browsers/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_without_providing_a_user_identity.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_providing_rotetype_any.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_providing_rotetype_nearest.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_providing_ttl.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_with_all_options.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_with_user_identity.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive/recording_successfully_gets_a_turn_credential_without_providing_a_user_identity.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_providing_rotetype_any.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_providing_rotetype_nearest.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_providing_ttl.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_all_options.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_with_user_identity.json
  sdk/communication/communication-network-traversal/recordings/node/communicationnetworkingclient_playbacklive_aad/recording_successfully_gets_a_turn_credential_without_providing_a_user_identity.json
Labels: Communication - Network Traversal

#28710 push communication-sms recordings
  sdk/communication/communication-sms/assets.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/browsers/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_aad_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_live_test_send_method/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_aad_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_to_multiple_recipients.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_can_send_an_sms_message_with_options_passed_in.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_sends_a_new_message_each_time_send_is_called.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_a_number_you_dont_own.json
  sdk/communication/communication-sms/recordings/node/smsclient_playbackrecord_when_sending_sms/recording_throws_an_exception_when_sending_from_an_invalid_number.json
Labels: Communication - SMS

#28526 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#28378 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#28395 Post release automated changes for communication releases
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
Labels: Communication - Phone Numbers

#28610 Post release automated changes for springappdiscovery releases
  sdk/springappdiscovery/arm-springappdiscovery/CHANGELOG.md
  sdk/springappdiscovery/arm-springappdiscovery/package.json
  sdk/springappdiscovery/arm-springappdiscovery/src/springAppDiscoveryManagementClient.ts
Labels: Mgmt

#28727 Updated the commit in tsp-location.yaml
  sdk/communication/communication-messages-rest/tsp-location.yaml
Labels: Communication

#28666 Sync eng/common directory with azure-sdk-tools for PR 7682
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#28729 Preparing release for @azure/notification-hubs v1.1.0
  sdk/notificationhubs/notification-hubs/CHANGELOG.md
  sdk/notificationhubs/notification-hubs/src/utils/constants.ts
Labels: customer-reported, Community Contribution

#28734 Sync .github/workflows directory with azure-sdk-tools for PR 7796
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys
