Repository Azure/azure-sdk-for-js, pull requests merged in 2024-03, with the labels that each got.

#28706 [identity] Add recorded test for MSAL Client
  sdk/identity/identity/assets.json
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#28724 [mgmt] update changelogs
  sdk/apicenter/arm-apicenter/CHANGELOG.md
  sdk/largeinstance/arm-largeinstance/CHANGELOG.md
  sdk/networkanalytics/arm-networkanalytics/CHANGELOG.md
  sdk/recoveryservicessiterecovery/arm-recoveryservices-siterecovery/CHANGELOG.md
Labels: Mgmt

#28581 Sync eng/common directory with azure-sdk-tools for PR 7686
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#28749 [OpenAI] [Assistants] correct date issue in src
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/sources/customizations/api/operations.ts
  sdk/openai/openai-assistants/sources/customizations/api/util.ts
  sdk/openai/openai-assistants/src/api/operations.ts
  sdk/openai/openai-assistants/src/api/util.ts
Labels: OpenAI

#28754 [identity] Fix integration tests
  sdk/identity/identity/package.json
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#28758 Post release automated changes for openai releases
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/package.json
  sdk/openai/openai-assistants/src/rest/assistantsClient.ts
Labels: OpenAI

#28520 Sdk auto/26702/@azure rest purview datamap
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/purview/ci.yml
  sdk/purview/purview-datamap-rest/.eslintrc.json
  sdk/purview/purview-datamap-rest/CHANGELOG.md
  sdk/purview/purview-datamap-rest/README.md
  sdk/purview/purview-datamap-rest/api-extractor.json
  sdk/purview/purview-datamap-rest/assets.json
  sdk/purview/purview-datamap-rest/karma.conf.js
  sdk/purview/purview-datamap-rest/package.json
  sdk/purview/purview-datamap-rest/review/purview-datamap.api.md
  sdk/purview/purview-datamap-rest/samples-dev/typedefs.ts
  sdk/purview/purview-datamap-rest/samples/v1-beta/javascript/README.md
  sdk/purview/purview-datamap-rest/samples/v1-beta/javascript/package.json
  sdk/purview/purview-datamap-rest/samples/v1-beta/javascript/sample.env
  sdk/purview/purview-datamap-rest/samples/v1-beta/javascript/typedefs.js
  sdk/purview/purview-datamap-rest/samples/v1-beta/typescript/README.md
  sdk/purview/purview-datamap-rest/samples/v1-beta/typescript/package.json
  sdk/purview/purview-datamap-rest/samples/v1-beta/typescript/sample.env
  sdk/purview/purview-datamap-rest/samples/v1-beta/typescript/src/typedefs.ts
  sdk/purview/purview-datamap-rest/samples/v1-beta/typescript/tsconfig.json
  sdk/purview/purview-datamap-rest/src/clientDefinitions.ts
  sdk/purview/purview-datamap-rest/src/index.ts
  sdk/purview/purview-datamap-rest/src/isUnexpected.ts
  sdk/purview/purview-datamap-rest/src/logger.ts
  sdk/purview/purview-datamap-rest/src/models.ts
  sdk/purview/purview-datamap-rest/src/outputModels.ts
  sdk/purview/purview-datamap-rest/src/parameters.ts
  sdk/purview/purview-datamap-rest/src/purviewDataMapClient.ts
  sdk/purview/purview-datamap-rest/src/responses.ts
  sdk/purview/purview-datamap-rest/src/serializeHelper.ts
  sdk/purview/purview-datamap-rest/test/public/entityTest.spec.ts
  sdk/purview/purview-datamap-rest/test/public/glossary.spec.ts
  sdk/purview/purview-datamap-rest/test/public/typedefs.spec.ts
  sdk/purview/purview-datamap-rest/test/public/utils/env.browser.ts
  sdk/purview/purview-datamap-rest/test/public/utils/env.ts
  sdk/purview/purview-datamap-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-datamap-rest/tsconfig.json
  sdk/purview/purview-datamap-rest/tsp-location.yaml
Labels: Purview

#28761 WIP: CosmosDB Client-side Encryption
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Container/ContainerDefinition.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/encryption/AeadAes256CbcHmacSha256Algorithm/AeadAes256CbcHmacSha256Algorithm.browser.ts
  sdk/cosmosdb/cosmos/src/encryption/AeadAes256CbcHmacSha256Algorithm/AeadAes256CbcHmacSha256Algorithm.ts
  sdk/cosmosdb/cosmos/src/encryption/AeadAes256CbcHmacSha256Algorithm/index.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ClientEncryptionKeyPropertiesCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/EncryptionSettingsCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/index.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionIncludedPath.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyDefinition.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyProperties.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyRequest.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyResponse.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/index.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionPolicy.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/DataEncryptionKey.browser.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/DataEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/ProtectedDataEncryptionKey.browser.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/ProtectedDataEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/index.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/AzureKeyVaultEncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/EncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/index.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyWrapMetadata.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionProcessor.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettingForProperty.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettings.ts
  sdk/cosmosdb/cosmos/src/encryption/KeyEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/EncryptionAlgorithm.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/EncryptionKeyResolverName.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/EncryptionType.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/KeyEncryptionKeyAlgorithm.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/index.ts
  sdk/cosmosdb/cosmos/src/encryption/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#28764 Sync .github/workflows directory with azure-sdk-tools for PR 7808
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28765 Sofiar/update tendlc release
  sdk/communication/communication-ten-dlc/CHANGELOG.md
Labels: Communication

#28767 Sync eng/common directory with azure-sdk-tools for PR 7758
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#28751 [core-amqp] Update error from retry
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/test/retry.spec.ts
  sdk/eventhub/event-hubs/test/internal/cancellation.spec.ts
  sdk/eventhub/event-hubs/test/public/cancellation.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSender.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
Labels: Azure.Core

#28555 [App Config] Listing by etags
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/samples-dev/listConfigurationSettingsWithEtags.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listConfigurationSettingsWithEtags.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/optimisticConcurrencyViaEtag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/snapshot.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listConfigurationSettingsWithEtags.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/optimisticConcurrencyViaEtag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/snapshot.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/lroImpl.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/mappers.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/test/internal/helpers.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
Labels: App Configuration

#28783 [identity] increment package version for cache-persistence
  sdk/identity/identity-cache-persistence/CHANGELOG.md
  sdk/identity/identity-cache-persistence/package.json
Labels: Azure.Identity

#28785 [core-amqp] Post-release activities
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#28781 [identity] Refactor plugin definitions
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
  sdk/identity/identity/src/plugins/consumer.ts
  sdk/identity/identity/test/internal/node/msalPlugins.spec.ts
Labels: Azure.Identity

#28789 [App Config] Run Prepare Release Script
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#28790 Sync eng/common directory with azure-sdk-tools for PR 7810
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: EngSys, Central-EngSys

#28784 Fixed release pipeline to publish doc for communication messages
  eng/ignore-links.txt
  sdk/communication/ci.yml
  sdk/communication/communication-messages-rest/package.json
Labels: Communication

#28796 Post release automated changes for healthinsights releases
  sdk/healthinsights/health-insights-radiologyinsights-rest/CHANGELOG.md
  sdk/healthinsights/health-insights-radiologyinsights-rest/package.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/azureHealthInsightsClient.ts
Labels: Cognitive - Health Insights

#28802 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#28792 communication-messages package version update
  sdk/communication/communication-messages-rest/CHANGELOG.md
  sdk/communication/communication-messages-rest/package.json
Labels: Communication

#28804 Sync eng/common directory with azure-sdk-tools for PR 7823
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#28787 [identity] MSALClient CAE support for confidentialClientApplication
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
  sdk/identity/identity/test/internal/node/msalPlugins.spec.ts
Labels: Azure.Identity

#28808 [identity] Use tsx for tests
  sdk/identity/identity/package.json
Labels: Azure.Identity

#28839 Sync eng/common directory with azure-sdk-tools for PR 7842
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#28841 Sync eng/common directory with azure-sdk-tools for PR 7835
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#28842 Sync .github/workflows directory with azure-sdk-tools for PR 7845
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#28843 [identity] Fix nightly tests
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
  sdk/identity/identity/test/internal/node/msalPlugins.spec.ts
Labels: Azure.Identity

#28822 [core-client] Share state between ESM and CJS
  .vscode/cspell.json
  sdk/core/core-client/.tshy/browser.json
  sdk/core/core-client/.tshy/commonjs.json
  sdk/core/core-client/.tshy/esm.json
  sdk/core/core-client/.tshy/react-native.json
  sdk/core/core-client/package.json
  sdk/core/core-client/src/operationHelpers.ts
  sdk/core/core-client/src/state-browser.mts
  sdk/core/core-client/src/state-cjs.cts
  sdk/core/core-client/src/state.ts
  sdk/core/core-client/vitest.config.ts
Labels: Azure.Core

#28864 Sync .github/workflows directory with azure-sdk-tools for PR 7848
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28863 [keyvault] Fix rimraf globs for keyvault
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
Labels: KeyVault

#28847 Adding the createFailed and AnswerFailed events on the call automation SDK
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_and_get_call_properties.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_cancels_add_participant_request.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_List_all_participants.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Mute_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Remove_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallRecording_Live_Tests_Creates_a_call,_start_recording,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Create_a_call_and_hangup.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Reject_call.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Cancel_all_media_operations.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_all_participants.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_target_participant.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Trigger_DTMF_actions.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/eventprocessor/eventResponses.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/generated/src/models/parameters.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callConnection.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callMedia.ts
  sdk/communication/communication-call-automation/src/generated/src/operationsInterfaces/callMedia.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
Labels: Communication

#28867 Sync .github/workflows directory with azure-sdk-tools for PR 7853
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#28811 [instrumentation] Uprade to the latest OTEL
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/instrumenter.spec.ts
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-opentelemetry/test/internal/unit/shared/config.test.ts
  sdk/monitor/monitor-query/package.json
Labels: OpenTelemetryInstrumentation

#28848 1ES Template Conversion
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/ci.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build.yml
  eng/pipelines/templates/steps/test.yml
  eng/pipelines/templates/variables/globals.yml
  eng/pipelines/templates/variables/image.yml
  sdk/communication/communication-phone-numbers/phone-numbers-livetest-matrix.json
  sdk/keyvault/keyvault-admin/platform-matrix.json
  sdk/keyvault/keyvault-certificates/platform-matrix.json
  sdk/keyvault/keyvault-keys/platform-matrix.json
  sdk/keyvault/keyvault-secrets/platform-matrix.json
  sdk/template/template/tests.yml
Labels: EngSys, KeyVault, Communication - Phone Numbers

#28871 Sync eng/common directory with azure-sdk-tools for PR 7854
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#28826 remove use-esm-workaround
  common/tools/dev-tool/src/commands/run/index.ts
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTsxJS.ts
  sdk/appconfiguration/app-configuration/package.json
  sdk/cognitivelanguage/ai-language-text/package.json
  sdk/eventgrid/eventgrid/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: Event Hubs, KeyVault, Schema Registry, Cognitive - Language, WebPubSub

#28850 Deprecate baseurl and use endpoint instead for ts-http-runtime
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/client/clientHelpers.ts
  sdk/core/ts-http-runtime/src/client/common.ts
  sdk/core/ts-http-runtime/src/client/getClient.ts
  sdk/core/ts-http-runtime/src/client/urlHelpers.ts
Labels: Azure.Core

#28897 [core] Prepare release of all Core packages that have been migrated to ESM
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#28891 [@azure/eventgrid] Adding new events for EG Version 5.3.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#26875 [keyvault] Migrate remaining Key Vault packages to keyvault-common
  sdk/keyvault/keyvault-keys/api-extractor.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/cryptography/remoteCryptographyProvider.ts
  sdk/keyvault/keyvault-keys/src/identifier.ts
  sdk/keyvault/keyvault-keys/src/index.ts
  sdk/keyvault/keyvault-keys/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-keys/tsconfig.json
  sdk/keyvault/keyvault-secrets/api-extractor.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/identifier.ts
  sdk/keyvault/keyvault-secrets/src/index.ts
  sdk/keyvault/keyvault-secrets/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-secrets/tsconfig.json
Labels: KeyVault

#28905 Sync eng/common directory with azure-sdk-tools for PR 7821
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#28906 [monitor] Fix pipeline issue from missing dependency
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
Labels: Client, Monitor

#28909 [core-lro] Restore `files` section to package.json
  sdk/core/core-lro/package.json
Labels: Azure.Core

#28554 [Identity] Managed Identity test automation: Azure Functions and Webapps
  .gitignore
  eng/.docsettings.yml
  sdk/identity/identity/.gitignore
  sdk/identity/identity/integration/AzureFunctions/RunTest/function.json
  sdk/identity/identity/integration/AzureFunctions/RunTest/host.json
  sdk/identity/identity/integration/AzureFunctions/RunTest/local.settings.json
  sdk/identity/identity/integration/AzureFunctions/RunTest/package.json
  sdk/identity/identity/integration/AzureFunctions/RunTest/src/functions/authenticateToStorageFunction.ts
  sdk/identity/identity/integration/AzureFunctions/RunTest/tsconfig.json
  sdk/identity/identity/integration/AzureKubernetes/Dockerfile
  sdk/identity/identity/integration/AzureKubernetes/package.json
  sdk/identity/identity/integration/AzureKubernetes/src/index.ts
  sdk/identity/identity/integration/AzureKubernetes/tsconfig.json
  sdk/identity/identity/integration/AzureWebApps/package.json
  sdk/identity/identity/integration/AzureWebApps/src/index.ts
  sdk/identity/identity/integration/AzureWebApps/tsconfig.json
  sdk/identity/identity/package.json
  sdk/identity/identity/test-resources.bicep
  sdk/identity/identity/test/integration/azureFunctionsTest.spec.ts
  sdk/identity/identity/test/integration/azureWebAppsTest.spec.ts
  sdk/identity/identity/tsconfig.json
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#28908 Post release automated changes for core releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#28925 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#28928 Sync eng/common directory with azure-sdk-tools for PR 7877
  eng/common/testproxy/test-proxy-tool-shutdown.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#28917 [Recorder] Release recorder 3.1.0
  sdk/test-utils/recorder/CHANGELOG.md
Labels: test-utils

#28910 [OpenAI]add index property
  sdk/openai/openai/assets.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/sources/customizations/models/models.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
Labels: OpenAI

#28849 [mgmt] datafactory release
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/_meta.json
  sdk/datafactory/arm-datafactory/assets.json
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/review/arm-datafactory.api.md
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
  sdk/datafactory/arm-datafactory/src/models/index.ts
  sdk/datafactory/arm-datafactory/src/models/mappers.ts
Labels: Mgmt

#28913 Create test account with allowing public access (#27723)
  sdk/storage/test-resources.json
Labels: Storage

#28944 Sync eng/common directory with azure-sdk-tools for PR 7892
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/check-for-git-changes.ps1
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#28948 Sync eng/common directory with azure-sdk-tools for PR 7841
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#28960 Sync eng/common directory with azure-sdk-tools for PR 7896
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#28946 Sync eng/common directory with azure-sdk-tools for PR 7895
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#28974 [core-rest-pipeline] Address issue with proxy port setting being ignored
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/policies/proxyPolicy.ts
  sdk/core/core-rest-pipeline/test/node/proxyPolicy.spec.ts
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/policies/proxyPolicy.ts
  sdk/core/ts-http-runtime/test/node/proxyPolicy.spec.ts
Labels: Azure.Core

#28961 [core] Reinstate "browser" package.json field
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/vitest.browser.config.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-util/vitest.browser.config.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/vitest.browser.config.ts
Labels: Azure.Core

#28970 [Event Hubs] Remove minimum timeout value
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/models/public.ts
  sdk/eventhub/event-hubs/src/util/retries.ts
Labels: Event Hubs

#28987 [core] Update changelog dates for Core patch release
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/logger/CHANGELOG.md
Labels: Azure.Core

#28989 [Event Hubs] Prepare release
  sdk/eventhub/event-hubs/CHANGELOG.md
Labels: Event Hubs

#28979 [identity] Add support for useDefaultBrokerAccount
  sdk/identity/identity-broker/README.md
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/brokerOptions.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
Labels: Azure.Identity

#28990 Post release automated changes for core releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#28981 [Perf] Unmark "private"
  sdk/test-utils/perf/CHANGELOG.md
  sdk/test-utils/perf/package.json
Labels: test-utils

#28995 [test-credential] Publish current version to npm
  sdk/test-utils/test-credential/CHANGELOG.md
Labels: test-utils

#28994 Post release automated changes for test-utils releases
  sdk/test-utils/perf/CHANGELOG.md
  sdk/test-utils/perf/package.json
Labels: test-utils

#28778 Beta 3 hold unhold sdk changes.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
Labels: Communication

#29015 [identity-broker] remove unnecessary dev dependency
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-broker/test/internal/node/interactiveBrowserCredential.spec.ts
Labels: Client, Azure.Identity

#28939 [identity] AKS live tests
  .gitignore
  sdk/identity/identity/.gitignore
  sdk/identity/identity/integration/AzureFunctions/RunTest/src/functions/authenticateToStorageFunction.ts
  sdk/identity/identity/integration/AzureKubernetes/Dockerfile
  sdk/identity/identity/integration/AzureKubernetes/index.js
  sdk/identity/identity/integration/AzureKubernetes/package.json
  sdk/identity/identity/integration/AzureKubernetes/src/index.ts
  sdk/identity/identity/integration/AzureKubernetes/tsconfig.json
  sdk/identity/identity/integration/AzureWebApps/package.json
  sdk/identity/identity/integration/AzureWebApps/src/index.ts
  sdk/identity/identity/package.json
  sdk/identity/identity/test/integration/node/azureKubernetesTest.spec.ts
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#29018 [test-credential] Publish types for `@azure/test-credential`
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
Labels: test-utils

#29039 [identity] Fix default cache name
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
Labels: Azure.Identity

#28984 Added SourceCallerIdNumber from answer to transfer api
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication

#29054 [JS] Communication Identity | Release updates with latest Common version
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
Labels: Communication, Communication - Identity

#29061 Post release automated changes for communication releases
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/src/constants.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClient.ts
  sdk/communication/communication-identity/src/generated/src/tracing.ts
  sdk/communication/communication-identity/swagger/README.md
Labels: Communication - Identity

#29064 [cosmos] Remove UUID and universal-user-agent
  sdk/cosmosdb/cosmos/.editorConfig
  sdk/cosmosdb/cosmos/.travis.yml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/platform.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/src/utils/diagnostics.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
Labels: Cosmos

#29073 Sync eng/common directory with azure-sdk-tools for PR 7951
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#29075 Update Get-javascript-DocsMsDevLanguageSpecificPackageInfo in Language-Settings.ps1
  eng/scripts/Language-Settings.ps1
Labels: Docs, Central-EngSys

#28945 [identity] Revising bicep files for identity MI integration tests and VM IMDS test
  sdk/identity/identity/managed-identity-matrix.json
  sdk/identity/identity/package.json
  sdk/identity/identity/test-resources-pre.ps1
  sdk/identity/identity/test/integration/azureVMUserAssignedTest.spec.ts
  sdk/identity/identity/tests.yml
  sdk/identity/test-resources-msi.bicep
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#28932 Fix beta package publishing
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/package.json
Labels: Communication - Phone Numbers

#29069 Update Azure AD Learn links in Identity
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/samples/v1/javascript/README.md
  sdk/identity/identity-broker/samples/v1/typescript/README.md
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/interactive-browser-credential.md
  sdk/identity/identity/migration-v1-v2.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/samples/v2/javascript/README.md
  sdk/identity/identity/samples/v2/typescript/README.md
  sdk/identity/identity/samples/v3-beta/javascript/README.md
  sdk/identity/identity/samples/v3-beta/typescript/README.md
  sdk/identity/identity/samples/v3/javascript/README.md
  sdk/identity/identity/samples/v3/typescript/README.md
  sdk/identity/identity/samples/v4/javascript/README.md
  sdk/identity/identity/samples/v4/typescript/README.md
  sdk/identity/identity/src/credentials/authorizationCodeCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.browser.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/test/manual/authorization-code-credential/authorizationCodeSample.ts
  sdk/identity/perf-tests/identity/README.md
Labels: Azure.Identity

#28985 Sync eng/common directory with azure-sdk-tools for PR 7855
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#29031 [cosmos] jsbi major version upgrade
  common/config/rush/pnpm-lock.yaml
  sdk/cosmosdb/cosmos/package.json
Labels: Cosmos

#29101 [identity] Move regional authority logic to function
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/regionalAuthority.ts
  sdk/identity/identity/test/internal/node/regionalAuthority.spec.ts
Labels: Azure.Identity

#29102 [schema registry] Update LRU cache
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry-avro/package.json
  sdk/schemaregistry/schema-registry-avro/src/avroSerializer.ts
  sdk/schemaregistry/schema-registry-avro/test/public/avroSerializer.spec.ts
  sdk/schemaregistry/schema-registry-json/package.json
  sdk/schemaregistry/schema-registry-json/src/jsonSerializer.ts
  sdk/schemaregistry/schema-registry-json/test/public/jsonSerializer.spec.ts
Labels: Schema Registry

#28818 Karolgel/azure sdk for js
  sdk/healthinsights/health-insights-radiologyinsights-rest/README.md
  sdk/healthinsights/health-insights-radiologyinsights-rest/api-extractor.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/package.json
Labels: customer-reported, Community Contribution, Cognitive - Health Insights

#29111 [core] Upgrade `tshy` to ^1.13.0
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/.tshy/build.json
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/abort-controller/package.json
  sdk/core/core-auth/.tshy/build.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/.tshy/build.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/.tshy/build.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/.tshy/build.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/.tshy/build.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-paging/.tshy/build.json
  sdk/core/core-paging/CHANGELOG.md
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/.tshy/build.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/.tshy/build.json
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/.tshy/build.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/.tshy/build.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/.tshy/build.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/.tshy/build.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/.tshy/build.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#29114 Post release automated changes for monitor releases
  sdk/monitor/arm-monitor/CHANGELOG.md
  sdk/monitor/arm-monitor/package.json
  sdk/monitor/arm-monitor/src/monitorClient.ts
Labels: Mgmt

#29042 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#29060 Post release automated changes for sphere releases
  sdk/sphere/arm-sphere/CHANGELOG.md
  sdk/sphere/arm-sphere/package.json
  sdk/sphere/arm-sphere/src/azureSphereManagementClient.ts
Labels: Mgmt

#29034 Post release automated changes for test-utils releases
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
Labels: test-utils

#29030 Post release automated changes for mobilenetwork releases
  sdk/mobilenetwork/arm-mobilenetwork/CHANGELOG.md
  sdk/mobilenetwork/arm-mobilenetwork/package.json
  sdk/mobilenetwork/arm-mobilenetwork/src/mobileNetworkManagementClient.ts
Labels: Mgmt

#29029 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#29028 Post release automated changes for storageactions releases
  sdk/storageactions/arm-storageactions/CHANGELOG.md
  sdk/storageactions/arm-storageactions/package.json
  sdk/storageactions/arm-storageactions/src/storageActionsManagementClient.ts
Labels: Mgmt

#29027 Post release automated changes for batch releases
  sdk/batch/arm-batch/CHANGELOG.md
  sdk/batch/arm-batch/package.json
  sdk/batch/arm-batch/src/batchManagementClient.ts
Labels: Mgmt

#29025 Post release automated changes for support releases
  sdk/support/arm-support/CHANGELOG.md
  sdk/support/arm-support/package.json
  sdk/support/arm-support/src/microsoftSupport.ts
Labels: Mgmt

#29024 Post release automated changes for workloads releases
  sdk/workloads/arm-workloadssapvirtualinstance/CHANGELOG.md
  sdk/workloads/arm-workloadssapvirtualinstance/package.json
  sdk/workloads/arm-workloadssapvirtualinstance/src/workloadsClient.ts
Labels: Mgmt

#29021 Post release automated changes for quantum releases
  sdk/quantum/arm-quantum/CHANGELOG.md
  sdk/quantum/arm-quantum/package.json
  sdk/quantum/arm-quantum/src/azureQuantumManagementClient.ts
Labels: Mgmt

#29023 Post release automated changes for notificationhubs releases
  sdk/notificationhubs/arm-notificationhubs/CHANGELOG.md
  sdk/notificationhubs/arm-notificationhubs/package.json
  sdk/notificationhubs/arm-notificationhubs/src/notificationHubsManagementClient.ts
Labels: Mgmt

#29007 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt

#29005 Post release automated changes for nginx releases
  sdk/nginx/arm-nginx/CHANGELOG.md
  sdk/nginx/arm-nginx/package.json
  sdk/nginx/arm-nginx/src/nginxManagementClient.ts
Labels: Mgmt

#29004 Post release automated changes for confluent releases
  sdk/confluent/arm-confluent/CHANGELOG.md
  sdk/confluent/arm-confluent/package.json
  sdk/confluent/arm-confluent/src/confluentManagementClient.ts
Labels: Mgmt

#29003 Post release automated changes for datafactory releases
  sdk/datafactory/arm-datafactory/CHANGELOG.md
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/src/dataFactoryManagementClient.ts
Labels: Mgmt

#29012 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#29002 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt

#29115 Sync eng/common directory with azure-sdk-tools for PR 7977
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#29036 [aggregate-reports] Workaround for upload dependency report
  eng/pipelines/aggregate-reports.yml
Labels: Central-EngSys

#28991 [OpenAI] Update to 2024-03-01-preview API
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/assets.json
  sdk/openai/openai/generated/OpenAIClient.ts
  sdk/openai/openai/generated/api/index.ts
  sdk/openai/openai/generated/api/operations.ts
  sdk/openai/openai/generated/index.ts
  sdk/openai/openai/generated/models/index.ts
  sdk/openai/openai/generated/models/models.ts
  sdk/openai/openai/generated/models/options.ts
  sdk/openai/openai/generated/rest/clientDefinitions.ts
  sdk/openai/openai/generated/rest/isUnexpected.ts
  sdk/openai/openai/generated/rest/models.ts
  sdk/openai/openai/generated/rest/openAIClient.ts
  sdk/openai/openai/generated/rest/outputModels.ts
  sdk/openai/openai/generated/rest/parameters.ts
  sdk/openai/openai/generated/rest/responses.ts
  sdk/openai/openai/generated/utils/serializeUtil.ts
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/samples-dev/bringYourOwnData.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/openai/openai/src/index.ts
  sdk/openai/openai/src/models/index.ts
  sdk/openai/openai/src/models/models.ts
  sdk/openai/openai/src/models/options.ts
  sdk/openai/openai/src/rest/clientDefinitions.ts
  sdk/openai/openai/src/rest/isUnexpected.ts
  sdk/openai/openai/src/rest/models.ts
  sdk/openai/openai/src/rest/openAIClient.ts
  sdk/openai/openai/src/rest/outputModels.ts
  sdk/openai/openai/src/rest/parameters.ts
  sdk/openai/openai/src/rest/responses.ts
  sdk/openai/openai/src/utils/serializeUtil.ts
  sdk/openai/openai/test/internal/deserializer.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/embeddings.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/utils.ts
  sdk/openai/openai/tsp-location.yaml
  sdk/search/search-documents/assets.json
Labels: OpenAI

#29118 Use 1es-redirect and support 1es template validation
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/template/ci.yml
Labels: Central-EngSys
