Repository Azure/azure-sdk-for-js, pull requests merged in 2024-11, with the labels that each got.

#31574 Add SocketIO support for client access url
  .vscode/cspell.json
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
Labels: WebPubSub

#31596 [OpenAI] Add support for MongoDB
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/MIGRATION.md
  sdk/openai/openai/README.md
  sdk/openai/openai/review/openai-types.api.md
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples-dev/chatCompletions.ts
  sdk/openai/openai/samples-dev/completions.ts
  sdk/openai/openai/samples-dev/embeddings.ts
  sdk/openai/openai/samples-dev/images.ts
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/textToSpeech.ts
  sdk/openai/openai/samples-dev/toolCall.ts
  sdk/openai/openai/samples/cookbook/embeddingLongInputs.js
  sdk/openai/openai/samples/cookbook/onYourData/index.js
  sdk/openai/openai/samples/cookbook/simpleCompletionsPage/app.js
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/app.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/completions.js
  sdk/openai/openai/samples/v2-beta/javascript/embeddings.js
  sdk/openai/openai/samples/v2-beta/javascript/images.js
  sdk/openai/openai/samples/v2-beta/javascript/onYourData.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v2-beta/javascript/streamCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/javascript/toolCall.js
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/completions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/embeddings.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/images.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/onYourData.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/textToSpeech.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/toolCall.ts
  sdk/openai/openai/src/types/index.ts
  sdk/openai/openai/src/types/models.ts
  sdk/openai/openai/src/types/outputModels.ts
Labels: OpenAI

#31607 [EngSys] fix `schema-registry-avro` build failure on Windows
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry

#31618 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
Labels: Cosmos

#31608 [abort-controller] Add 2.0 migration guide
  sdk/core/abort-controller/MIGRATION.md
Labels: Client, Azure.Core

#31626 [eslint-plugin] turn off `n/no-process-exit` rule for samples-dev/
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
Labels: eslint plugin

#31625 [identity] Cleanup legacy MSI code
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2017.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/appServiceMsi2019.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/arcMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/cloudShellMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/constants.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/fabricMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.browser.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/legacyMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/models.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/tokenExchangeMsi.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/test/internal/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/internal/node/legacyMsiProvider.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/arcMsi.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/msalMsiProvider.spec.ts
Labels: Azure.Identity

#31613 Sync eng/common directory with azure-sdk-tools for PR 9300
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31631 Sync eng/common directory with azure-sdk-tools for PR 9308
  eng/common/scripts/Package-Properties.ps1
  eng/pipelines/templates/jobs/ci.yml
Labels: EngSys, Central-EngSys

#31612 Sync eng/common directory with azure-sdk-tools for PR 9277
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31640 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
Labels: Cosmos

#31642 [OpenAI] Remove outdated definitions
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/review/openai-types.api.md
  sdk/openai/openai/src/types/index.ts
  sdk/openai/openai/src/types/models.ts
  sdk/openai/openai/src/types/outputModels.ts
  sdk/openai/openai/test/public/utils/asserts.ts
Labels: OpenAI

#31643 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
Labels: OpenAI

#31644 Sync eng/common directory with azure-sdk-tools for PR 9330
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#31615 [monitor] Uprade @azure/monitor-ingestion to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/monitor/monitor-ingestion/.nycrc
  sdk/monitor/monitor-ingestion/api-extractor.json
  sdk/monitor/monitor-ingestion/karma.conf.js
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/samples-dev/defaultConcurrency.ts
  sdk/monitor/monitor-ingestion/samples-dev/earlyAborting.ts
  sdk/monitor/monitor-ingestion/samples-dev/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/samples-dev/uploadCustomLogs.ts
  sdk/monitor/monitor-ingestion/samples-dev/userDefinedConcurrency.ts
  sdk/monitor/monitor-ingestion/samples-dev/userErrorHandling.ts
  sdk/monitor/monitor-ingestion/src/gZippingPolicy-browser.mts
  sdk/monitor/monitor-ingestion/src/gZippingPolicy.ts
  sdk/monitor/monitor-ingestion/src/generated/generatedMonitorIngestionClient.ts
  sdk/monitor/monitor-ingestion/src/generated/generatedMonitorIngestionClientContext.ts
  sdk/monitor/monitor-ingestion/src/generated/index.ts
  sdk/monitor/monitor-ingestion/src/index.ts
  sdk/monitor/monitor-ingestion/src/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/src/utils/concurrentPoolHelper.ts
  sdk/monitor/monitor-ingestion/src/utils/getBinarySize-browser.mts
  sdk/monitor/monitor-ingestion/src/utils/splitDataToChunksHelper.ts
  sdk/monitor/monitor-ingestion/test/internal/splitDataToChunks.spec.ts
  sdk/monitor/monitor-ingestion/test/public/logsIngestionClient.spec.ts
  sdk/monitor/monitor-ingestion/test/public/shared/testShared.ts
  sdk/monitor/monitor-ingestion/tsconfig.browser.config.json
  sdk/monitor/monitor-ingestion/tsconfig.json
  sdk/monitor/monitor-ingestion/vitest.browser.config.ts
  sdk/monitor/monitor-ingestion/vitest.config.ts
Labels: Monitor

#31622 [mgmt] add userAgentInfo for all mgmt modular package
  sdk/computeschedule/arm-computeschedule/CHANGELOG.md
  sdk/computeschedule/arm-computeschedule/assets.json
  sdk/computeschedule/arm-computeschedule/package.json
  sdk/computeschedule/arm-computeschedule/src/api/computeScheduleContext.ts
  sdk/computeschedule/arm-computeschedule/test/public/computeschedule_operations_test.spec.ts
  sdk/standbypool/arm-standbypool/CHANGELOG.md
  sdk/standbypool/arm-standbypool/assets.json
  sdk/standbypool/arm-standbypool/package.json
  sdk/standbypool/arm-standbypool/src/api/standbyPoolManagementContext.ts
  sdk/trustedsigning/arm-trustedsigning/CHANGELOG.md
  sdk/trustedsigning/arm-trustedsigning/assets.json
  sdk/trustedsigning/arm-trustedsigning/package.json
  sdk/trustedsigning/arm-trustedsigning/src/api/codeSigningContext.ts
Labels: Mgmt, Health Deidentification

#31659 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/fullTextSearch.spec.ts
Labels: Cosmos

#30934 Post release automated changes for hdinsight releases
  sdk/hdinsight/arm-hdinsight/CHANGELOG.md
  sdk/hdinsight/arm-hdinsight/package.json
  sdk/hdinsight/arm-hdinsight/src/hDInsightManagementClient.ts
Labels: Mgmt, no-recent-activity

#31572 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#31655 Post release automated changes for trustedsigning releases
  sdk/trustedsigning/arm-trustedsigning/CHANGELOG.md
  sdk/trustedsigning/arm-trustedsigning/package.json
  sdk/trustedsigning/arm-trustedsigning/src/api/codeSigningContext.ts
Labels: Mgmt

#31570 Post release automated changes for appcontainers releases
  sdk/appcontainers/arm-appcontainers/CHANGELOG.md
  sdk/appcontainers/arm-appcontainers/package.json
  sdk/appcontainers/arm-appcontainers/src/containerAppsAPIClient.ts
Labels: Mgmt

#31654 Post release automated changes for standbypool releases
  sdk/standbypool/arm-standbypool/CHANGELOG.md
  sdk/standbypool/arm-standbypool/package.json
  sdk/standbypool/arm-standbypool/src/api/standbyPoolManagementContext.ts
Labels: Mgmt

#31517 Post release automated changes for communication releases
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#31510 Post release automated changes for communication releases
  sdk/communication/communication-messages-rest/CHANGELOG.md
  sdk/communication/communication-messages-rest/package.json
Labels: Communication

#31445 Post release automated changes for mongocluster releases
  sdk/mongocluster/arm-mongocluster/CHANGELOG.md
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/mongocluster/arm-mongocluster/src/api/mongoClusterManagementContext.ts
Labels: Mgmt

#31443 Post release automated changes for core releases
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#31395 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#31264 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/arm-webpubsub/CHANGELOG.md
  sdk/web-pubsub/arm-webpubsub/package.json
  sdk/web-pubsub/arm-webpubsub/src/webPubSubManagementClient.ts
Labels: Mgmt

#31219 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
  sdk/sql/arm-sql/src/sqlManagementClient.ts
Labels: Mgmt

#31224 Post release automated changes for privatedns releases
  sdk/privatedns/arm-privatedns/CHANGELOG.md
  sdk/privatedns/arm-privatedns/package.json
  sdk/privatedns/arm-privatedns/src/privateDnsManagementClient.ts
Labels: Mgmt

#31217 Post release automated changes for communication releases
  sdk/communication/communication-email/CHANGELOG.md
  sdk/communication/communication-email/package.json
Labels: Communication - Email

#31648 [App Config] Add ApiVersion in the Options Bag
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#31664 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#31501 [Core] Add CAE Support
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/identity/identity/test/public/node/tokenProvider.spec.ts
Labels: Azure.Core

#31207 Enable publishing for packages previously excluded from Docs MS
  sdk/core/ci.yml
  sdk/identity/ci.yml
Labels: Azure.Identity, Azure.Core

#31645 Exclude pnpm lock files in policheck
  eng/guardian-tools/policheck/PolicheckExclusions.xml
Labels: Central-EngSys

#31661 [communication] Update @azure/communication-alpha-ids to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-alpha-ids/.nycrc
  sdk/communication/communication-alpha-ids/api-extractor.json
  sdk/communication/communication-alpha-ids/karma.conf.js
  sdk/communication/communication-alpha-ids/package.json
  sdk/communication/communication-alpha-ids/src/alphaIdsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/alphaIDsClient.ts
  sdk/communication/communication-alpha-ids/src/generated/src/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/models/parameters.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operations/alphaIds.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operations/index.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operationsInterfaces/alphaIds.ts
  sdk/communication/communication-alpha-ids/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-alpha-ids/src/index.ts
  sdk/communication/communication-alpha-ids/src/models.ts
  sdk/communication/communication-alpha-ids/src/utils/index.ts
  sdk/communication/communication-alpha-ids/test/internal/generated_client.spec.ts
  sdk/communication/communication-alpha-ids/test/internal/headers.spec.ts
  sdk/communication/communication-alpha-ids/test/public/ctor.spec.ts
  sdk/communication/communication-alpha-ids/test/public/dynamicAlphaId.spec.ts
  sdk/communication/communication-alpha-ids/test/public/preRegisteredAlphaId.spec.ts
  sdk/communication/communication-alpha-ids/test/public/utils/recordedClient.ts
  sdk/communication/communication-alpha-ids/tsconfig.browser.config.json
  sdk/communication/communication-alpha-ids/tsconfig.json
  sdk/communication/communication-alpha-ids/vitest.browser.config.ts
  sdk/communication/communication-alpha-ids/vitest.config.ts
Labels: Communication - Alpha IDs

#31666 Sync eng/common directory with azure-sdk-tools for PR 9333
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#31673 Sync eng/common directory with azure-sdk-tools for PR 9331
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#31681 Sync eng/common directory with azure-sdk-tools for PR 9354
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Labels: EngSys, Central-EngSys

#31682 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/fullTextSearch.spec.ts
Labels: Cosmos

#31687 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryIterator.ts
Labels: Cosmos

#31691 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/nonStreamingOrderBy/nonStreamingOrderBy.spec.ts
Labels: Cosmos

#31698 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#31703 Feature/full text functionality
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/GlobalStatisticsAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/request/hybridSearchQueryResult.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/fullTextSearch.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/text-3properties-1536dimensions-100documents.ts
Labels: Cosmos

#31711 fix(playwrighttesting): await upload buffer method
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
Labels: Microsoft Playwright Testing

#31292 ESRP safety net
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/partner-release.yml
  eng/pipelines/templates/steps/npm-release-task.yml
  eng/scripts/verify-npm-tags.ps1
Labels: Central-EngSys

#31716 Feature/full text functionality
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/documents/FullTextPolicy.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/GlobalStatisticsAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/globalStatistics.ts
Labels: Cosmos

#31678 [Core] Update Release Date and version
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
Labels: Azure.Core

#31707 Sync eng/common directory with azure-sdk-tools for PR 9358
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#31717 [communication] Migrate @azure-tools/communication-toll-free-verification to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-toll-free-verification/api-extractor.json
  sdk/communication/communication-toll-free-verification/karma.conf.js
  sdk/communication/communication-toll-free-verification/package.json
  sdk/communication/communication-toll-free-verification/src/generated/src/index.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/models/parameters.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/operations/index.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/operations/tollFreeVerification.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/operationsInterfaces/tollFreeVerification.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/tollFreeVerificationClient.ts
  sdk/communication/communication-toll-free-verification/src/index.ts
  sdk/communication/communication-toll-free-verification/src/mappers.ts
  sdk/communication/communication-toll-free-verification/src/models.ts
  sdk/communication/communication-toll-free-verification/src/tollFreeVerificationClient.ts
  sdk/communication/communication-toll-free-verification/src/utils/index.ts
  sdk/communication/communication-toll-free-verification/test/internal/headers.spec.ts
  sdk/communication/communication-toll-free-verification/test/public/ctor.spec.ts
  sdk/communication/communication-toll-free-verification/test/public/listCampaignBriefs.spec.ts
  sdk/communication/communication-toll-free-verification/test/public/manageUSCampaignBriefs.spec.ts
  sdk/communication/communication-toll-free-verification/test/public/utils/recordedClient.ts
  sdk/communication/communication-toll-free-verification/test/public/utils/testUSCampaignBrief.ts
  sdk/communication/communication-toll-free-verification/tsconfig.browser.config.json
  sdk/communication/communication-toll-free-verification/tsconfig.json
  sdk/communication/communication-toll-free-verification/vitest.browser.config.ts
  sdk/communication/communication-toll-free-verification/vitest.config.ts
Labels: Communication - Toll Free Verification

#31587 Update Search SDK for metadata accuracy, v2 alignment, and latest TypeScript SDK compatibility
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/generated/clientDefinitions.ts
  sdk/maps/maps-search-rest/generated/index.ts
  sdk/maps/maps-search-rest/generated/isUnexpected.ts
  sdk/maps/maps-search-rest/generated/logger.ts
  sdk/maps/maps-search-rest/generated/mapsSearchClient.ts
  sdk/maps/maps-search-rest/generated/models.ts
  sdk/maps/maps-search-rest/generated/outputModels.ts
  sdk/maps/maps-search-rest/generated/parameters.ts
  sdk/maps/maps-search-rest/generated/responses.ts
  sdk/maps/maps-search-rest/review/maps-search.api.md
  sdk/maps/maps-search-rest/src/MapsSearch.ts
  sdk/maps/maps-search-rest/src/generated/mapsSearchClient.ts
  sdk/maps/maps-search-rest/src/generated/pollingHelper.ts
  sdk/maps/maps-search-rest/src/index.ts
  sdk/maps/maps-search-rest/swagger/README.md
Labels: Maps

#31560 Update Geolocation SDK for metadata accuracy, v2 alignment, and latest TypeScript SDK compatibility
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-geolocation-rest/generated/clientDefinitions.ts
  sdk/maps/maps-geolocation-rest/generated/index.ts
  sdk/maps/maps-geolocation-rest/generated/isUnexpected.ts
  sdk/maps/maps-geolocation-rest/generated/logger.ts
  sdk/maps/maps-geolocation-rest/generated/mapsGeolocationClient.ts
  sdk/maps/maps-geolocation-rest/generated/outputModels.ts
  sdk/maps/maps-geolocation-rest/generated/parameters.ts
  sdk/maps/maps-geolocation-rest/generated/responses.ts
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-geolocation-rest/review/maps-geolocation.api.md
  sdk/maps/maps-geolocation-rest/src/MapsGeolocation.ts
  sdk/maps/maps-geolocation-rest/src/generated/isUnexpected.ts
  sdk/maps/maps-geolocation-rest/src/generated/mapsGeolocationClient.ts
  sdk/maps/maps-geolocation-rest/src/generated/responses.ts
  sdk/maps/maps-geolocation-rest/src/index.ts
  sdk/maps/maps-geolocation-rest/swagger/README.md
Labels: Maps

#31725 [communication] Migrate @azure-tools/communication-short-codes to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-short-codes/.nycrc
  sdk/communication/communication-short-codes/api-extractor.json
  sdk/communication/communication-short-codes/karma.conf.js
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-short-codes/src/generated/src/index.ts
  sdk/communication/communication-short-codes/src/generated/src/models/parameters.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/index.ts
  sdk/communication/communication-short-codes/src/generated/src/operations/shortCodes.ts
  sdk/communication/communication-short-codes/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-short-codes/src/generated/src/operationsInterfaces/shortCodes.ts
  sdk/communication/communication-short-codes/src/generated/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/src/index.ts
  sdk/communication/communication-short-codes/src/mappers.ts
  sdk/communication/communication-short-codes/src/models.ts
  sdk/communication/communication-short-codes/src/shortCodesClient.ts
  sdk/communication/communication-short-codes/src/utils/index.ts
  sdk/communication/communication-short-codes/test/internal/generated_client.spec.ts
  sdk/communication/communication-short-codes/test/internal/headers.spec.ts
  sdk/communication/communication-short-codes/test/public/ctor.spec.ts
  sdk/communication/communication-short-codes/test/public/listShortCodeCosts.spec.ts
  sdk/communication/communication-short-codes/test/public/listShortCodes.spec.ts
  sdk/communication/communication-short-codes/test/public/manageProgramBriefAttachment.spec.ts
  sdk/communication/communication-short-codes/test/public/manageUSProgramBriefs.spec.ts
  sdk/communication/communication-short-codes/test/public/utils/recordedClient.ts
  sdk/communication/communication-short-codes/test/public/utils/testProgramBriefAttachment.ts
  sdk/communication/communication-short-codes/test/public/utils/testUSProgramBrief.ts
  sdk/communication/communication-short-codes/tsconfig.browser.config.json
  sdk/communication/communication-short-codes/tsconfig.json
  sdk/communication/communication-short-codes/vitest.browser.config.ts
  sdk/communication/communication-short-codes/vitest.config.ts
Labels: Communication - Short Codes

#31728 [Core] Remove entry in changelog
  sdk/core/core-rest-pipeline/CHANGELOG.md
Labels: Azure.Core

#31727 [communication] Move @azure-tools/communication-recipient-verification to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-recipient-verification/.nycrc
  sdk/communication/communication-recipient-verification/api-extractor.json
  sdk/communication/communication-recipient-verification/karma.conf.js
  sdk/communication/communication-recipient-verification/package.json
  sdk/communication/communication-recipient-verification/src/generated/src/index.ts
  sdk/communication/communication-recipient-verification/src/generated/src/models/parameters.ts
  sdk/communication/communication-recipient-verification/src/generated/src/operations/acsVerificationOperations.ts
  sdk/communication/communication-recipient-verification/src/generated/src/operations/index.ts
  sdk/communication/communication-recipient-verification/src/generated/src/operationsInterfaces/acsVerificationOperations.ts
  sdk/communication/communication-recipient-verification/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-recipient-verification/src/generated/src/recipientVerificationClient.ts
  sdk/communication/communication-recipient-verification/src/index.ts
  sdk/communication/communication-recipient-verification/src/mappers.ts
  sdk/communication/communication-recipient-verification/src/models.ts
  sdk/communication/communication-recipient-verification/src/recipientVerificationClient.ts
  sdk/communication/communication-recipient-verification/src/utils/index.ts
  sdk/communication/communication-recipient-verification/test/public/ctor.spec.ts
  sdk/communication/communication-recipient-verification/test/public/getVerificationConstants.spec.ts
  sdk/communication/communication-recipient-verification/test/public/listVerifications.spec.ts
  sdk/communication/communication-recipient-verification/test/public/utils/recordedClient.ts
  sdk/communication/communication-recipient-verification/tsconfig.browser.config.json
  sdk/communication/communication-recipient-verification/tsconfig.json
  sdk/communication/communication-recipient-verification/vitest.browser.config.ts
  sdk/communication/communication-recipient-verification/vitest.config.ts
Labels: Communication

#31635 Sync eng/common directory with azure-sdk-tools for PR 9328
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#31588 Update Render SDK for metadata accuracy, v2 alignment, and latest TypeScript SDK compatibility
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/generated/clientDefinitions.ts
  sdk/maps/maps-render-rest/generated/index.ts
  sdk/maps/maps-render-rest/generated/isUnexpected.ts
  sdk/maps/maps-render-rest/generated/logger.ts
  sdk/maps/maps-render-rest/generated/mapsRenderClient.ts
  sdk/maps/maps-render-rest/generated/outputModels.ts
  sdk/maps/maps-render-rest/generated/parameters.ts
  sdk/maps/maps-render-rest/generated/responses.ts
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/review/maps-render.api.md
  sdk/maps/maps-render-rest/samples-dev/getCopyrightCaption.ts
  sdk/maps/maps-render-rest/samples-dev/getCopyrightForTile.ts
  sdk/maps/maps-render-rest/samples-dev/getCopyrightForWorld.ts
  sdk/maps/maps-render-rest/samples-dev/getCopyrightFromBoundingBox.ts
  sdk/maps/maps-render-rest/samples-dev/getMapAttribution.ts
  sdk/maps/maps-render-rest/samples-dev/getMapTileset.ts
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightCaption.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightForTile.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightForWorld.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightFromBoundingBox.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapAttribution.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapTileset.js
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightCaption.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightForTile.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightForWorld.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightFromBoundingBox.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapAttribution.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapTileset.ts
  sdk/maps/maps-render-rest/src/generated/mapsRenderClient.ts
  sdk/maps/maps-render-rest/src/index.ts
  sdk/maps/maps-render-rest/src/mapsRender.ts
  sdk/maps/maps-render-rest/swagger/README.md
Labels: Maps

#31733 GA release prep
  sdk/translation/ai-translation-document-rest/CHANGELOG.md
  sdk/translation/ai-translation-document-rest/package.json
Labels: Cognitive - Translator

#31734 [communication] Migrate @azure/communication-phone-numbers to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-phone-numbers/.nycrc
  sdk/communication/communication-phone-numbers/api-extractor.json
  sdk/communication/communication-phone-numbers/karma.conf.js
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/src/generated/src/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/operations/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/operations/sipRouting.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/operationsInterfaces/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/operationsInterfaces/sipRouting.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/index.ts
  sdk/communication/communication-phone-numbers/src/mappers.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/sipRoutingClient.ts
  sdk/communication/communication-phone-numbers/src/utils/index.ts
  sdk/communication/communication-phone-numbers/test/internal/customPipelinePolicies.spec.ts
  sdk/communication/communication-phone-numbers/test/internal/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/internal/phoneNumbersClientPolicies.spec.ts
  sdk/communication/communication-phone-numbers/test/internal/siprouting/headers.spec.ts
  sdk/communication/communication-phone-numbers/test/public/areaCodes.spec.ts
  sdk/communication/communication-phone-numbers/test/public/countries.spec.ts
  sdk/communication/communication-phone-numbers/test/public/ctor.spec.ts
  sdk/communication/communication-phone-numbers/test/public/get.spec.ts
  sdk/communication/communication-phone-numbers/test/public/list.spec.ts
  sdk/communication/communication-phone-numbers/test/public/localities.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.purchaseAndRelease.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.search.spec.ts
  sdk/communication/communication-phone-numbers/test/public/lro.update.spec.ts
  sdk/communication/communication-phone-numbers/test/public/numberLookup.spec.ts
  sdk/communication/communication-phone-numbers/test/public/offerings.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/ctor.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/deleteTrunk.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/getRoutes.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/getTrunks.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/setRoutes.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/setTrunks.spec.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/utils/mockHttpClients.ts
  sdk/communication/communication-phone-numbers/test/public/siprouting/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/test/public/utils/testPhoneNumber.ts
  sdk/communication/communication-phone-numbers/tsconfig.browser.config.json
  sdk/communication/communication-phone-numbers/tsconfig.json
  sdk/communication/communication-phone-numbers/vitest.browser.config.ts
  sdk/communication/communication-phone-numbers/vitest.config.ts
Labels: Communication - Phone Numbers

#31720 [dev-tool] stop rolling up types for ESM
  common/tools/dev-tool/src/commands/run/extract-api.ts
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/test-utils/recorder/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: dev-tool

#31748 [communication] Migrate @azure/communication-job-router to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-job-router/.nycrc
  sdk/communication/communication-job-router/api-extractor.json
  sdk/communication/communication-job-router/karma.conf.js
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-job-router/samples-dev/ClassificationPolicy_List.ts
  sdk/communication/communication-job-router/samples-dev/DistributionPolicy_List.ts
  sdk/communication/communication-job-router/samples-dev/ExceptionPolicy_List.ts
  sdk/communication/communication-job-router/samples-dev/RouterJob_List.ts
  sdk/communication/communication-job-router/samples-dev/RouterQueue_List.ts
  sdk/communication/communication-job-router/samples-dev/RouterWorker_List.ts
  sdk/communication/communication-job-router/src/generated/src/index.ts
  sdk/communication/communication-job-router/src/generated/src/jobRouterApiClient.ts
  sdk/communication/communication-job-router/src/generated/src/models/parameters.ts
  sdk/communication/communication-job-router/src/generated/src/operations/index.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operations/jobRouterAdministration.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouter.ts
  sdk/communication/communication-job-router/src/generated/src/operationsInterfaces/jobRouterAdministration.ts
  sdk/communication/communication-job-router/src/index.ts
  sdk/communication/communication-job-router/src/jobRouterAdministrationClient.ts
  sdk/communication/communication-job-router/src/jobRouterClient.ts
  sdk/communication/communication-job-router/src/models.ts
  sdk/communication/communication-job-router/src/options.ts
  sdk/communication/communication-job-router/src/responses.ts
  sdk/communication/communication-job-router/test/internal/jobRouterClient.mocked.spec.ts
  sdk/communication/communication-job-router/test/internal/utils/mockClient.ts
  sdk/communication/communication-job-router/test/internal/utils/recordedClient.ts
  sdk/communication/communication-job-router/test/public/methods/classificationPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/methods/distributionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/methods/exceptionPolicies.spec.ts
  sdk/communication/communication-job-router/test/public/methods/jobs.spec.ts
  sdk/communication/communication-job-router/test/public/methods/queues.spec.ts
  sdk/communication/communication-job-router/test/public/methods/workers.spec.ts
  sdk/communication/communication-job-router/test/public/scenarios/assignmentScenario.spec.ts
  sdk/communication/communication-job-router/test/public/scenarios/cancellationScenario.spec.ts
  sdk/communication/communication-job-router/test/public/scenarios/queueingScenario.spec.ts
  sdk/communication/communication-job-router/test/public/utils/connection.ts
  sdk/communication/communication-job-router/test/public/utils/constants.ts
  sdk/communication/communication-job-router/test/public/utils/polling.ts
  sdk/communication/communication-job-router/test/public/utils/testData.ts
  sdk/communication/communication-job-router/tsconfig.browser.config.json
  sdk/communication/communication-job-router/tsconfig.json
  sdk/communication/communication-job-router/vitest.browser.config.ts
  sdk/communication/communication-job-router/vitest.config.ts
Labels: Communication - Job Router

#31743 Sync eng/common directory with azure-sdk-tools for PR 9373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#31737 Update Sinon Library Version for Chat JS SDK
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/package.json
Labels: Communication - Chat

#31724 Sync eng/common directory with azure-sdk-tools for PR 9364
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31731 Allow dashes in path parameter templates
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/urlHelpers.spec.ts
  sdk/core/ts-http-runtime/src/client/urlHelpers.ts
  sdk/core/ts-http-runtime/test/client/urlHelpers.spec.ts
Labels: Azure.Core

#31758 fix(playwrightTesting):Limiting progressBar update.
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
Labels: Microsoft Playwright Testing

#31745 fix(playwrighttesting): Add X-MS-Package-Version header to connect session API
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
Labels: Microsoft Playwright Testing

#31762 fix(playwrighttesting): Removed runName support from the wsEndpoint
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
Labels: Microsoft Playwright Testing

#31769 [communication] Migrate @azure/communication-identity to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/.nycrc
  sdk/communication/communication-identity/api-extractor.json
  sdk/communication/communication-identity/karma.conf.js
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/samples-dev/createUserAndToken.ts
  sdk/communication/communication-identity/samples-dev/issueToken.ts
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClient.ts
  sdk/communication/communication-identity/src/generated/src/index.ts
  sdk/communication/communication-identity/src/generated/src/models/parameters.ts
  sdk/communication/communication-identity/src/generated/src/operations/communicationIdentityOperations.ts
  sdk/communication/communication-identity/src/generated/src/operations/index.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/communicationIdentityOperations.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-identity/src/index.ts
  sdk/communication/communication-identity/test/public/communicationIdentityClient.mocked.spec.ts
  sdk/communication/communication-identity/test/public/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/public/node/getTokenForTeamsUser.node.spec.ts
  sdk/communication/communication-identity/test/public/node/tokenCustomExpiration.node.spec.ts
  sdk/communication/communication-identity/test/public/utils/matrix.ts
  sdk/communication/communication-identity/test/public/utils/mockHttpClients.ts
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/communication-identity/test/public/utils/testCommunicationIdentityClient.ts
  sdk/communication/communication-identity/tsconfig.browser.config.json
  sdk/communication/communication-identity/tsconfig.json
  sdk/communication/communication-identity/vitest.browser.config.ts
  sdk/communication/communication-identity/vitest.config.ts
Labels: Communication - Identity

#31770 [communication] Migrate @azure/communication-email to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-email/api-extractor.json
  sdk/communication/communication-email/karma.conf.js
  sdk/communication/communication-email/package.json
  sdk/communication/communication-email/src/emailClient.ts
  sdk/communication/communication-email/src/generated/src/emailRestApiClient.ts
  sdk/communication/communication-email/src/generated/src/index.ts
  sdk/communication/communication-email/src/generated/src/models/parameters.ts
  sdk/communication/communication-email/src/generated/src/operations/email.ts
  sdk/communication/communication-email/src/generated/src/operations/index.ts
  sdk/communication/communication-email/src/generated/src/operationsInterfaces/email.ts
  sdk/communication/communication-email/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-email/src/index.ts
  sdk/communication/communication-email/src/models.ts
  sdk/communication/communication-email/test/public/emailClient.spec.ts
  sdk/communication/communication-email/test/public/utils/recordedClient.ts
  sdk/communication/communication-email/tsconfig.browser.config.json
  sdk/communication/communication-email/tsconfig.json
  sdk/communication/communication-email/vitest.browser.config.ts
  sdk/communication/communication-email/vitest.config.ts
Labels: Communication - Email

#31764 [identity] Various test fixes
  sdk/identity/identity/package.json
  sdk/identity/identity/test/integration/node/azureKubernetesTest.spec.ts
  sdk/identity/identity/test/public/node/multiTenantAuthentication.spec.ts
  sdk/identity/identity/vitest.managed-identity.config.ts
Labels: Azure.Identity

#31773 [communication] Migrate @azure-rest/communication-messages to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-messages-rest/api-extractor.json
  sdk/communication/communication-messages-rest/karma.conf.js
  sdk/communication/communication-messages-rest/package.json
  sdk/communication/communication-messages-rest/samples-dev/DownloadMedia.ts
  sdk/communication/communication-messages-rest/src/generated/src/clientDefinitions.ts
  sdk/communication/communication-messages-rest/src/generated/src/index.ts
  sdk/communication/communication-messages-rest/src/generated/src/isUnexpected.ts
  sdk/communication/communication-messages-rest/src/generated/src/messagesServiceClient.ts
  sdk/communication/communication-messages-rest/src/generated/src/parameters.ts
  sdk/communication/communication-messages-rest/src/generated/src/responses.ts
  sdk/communication/communication-messages-rest/src/index.ts
  sdk/communication/communication-messages-rest/src/messagesServiceClient.ts
  sdk/communication/communication-messages-rest/test/public/messageTest.spec.ts
  sdk/communication/communication-messages-rest/test/public/utils/env-browser.mts
  sdk/communication/communication-messages-rest/test/public/utils/recordedClient.ts
  sdk/communication/communication-messages-rest/tsconfig.browser.config.json
  sdk/communication/communication-messages-rest/tsconfig.json
  sdk/communication/communication-messages-rest/vitest.browser.config.ts
  sdk/communication/communication-messages-rest/vitest.config.ts
Labels: Communication

#31774 [communication] Migrate @azure-rest/communication-job-router to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-job-router-rest/api-extractor.json
  sdk/communication/communication-job-router-rest/karma.conf.js
  sdk/communication/communication-job-router-rest/package.json
  sdk/communication/communication-job-router-rest/src/azureCommunicationRoutingServiceClient.ts
  sdk/communication/communication-job-router-rest/src/clientDefinitions.ts
  sdk/communication/communication-job-router-rest/src/index.ts
  sdk/communication/communication-job-router-rest/src/isUnexpected.ts
  sdk/communication/communication-job-router-rest/src/parameters.ts
  sdk/communication/communication-job-router-rest/src/responses.ts
  sdk/communication/communication-job-router-rest/test/internal/utils/mockClient.ts
  sdk/communication/communication-job-router-rest/test/public/methods/classificationPolicies.spec.ts
  sdk/communication/communication-job-router-rest/test/public/methods/distributionPolicies.spec.ts
  sdk/communication/communication-job-router-rest/test/public/methods/exceptionPolicies.spec.ts
  sdk/communication/communication-job-router-rest/test/public/methods/jobs.spec.ts
  sdk/communication/communication-job-router-rest/test/public/methods/queues.spec.ts
  sdk/communication/communication-job-router-rest/test/public/methods/workers.spec.ts
  sdk/communication/communication-job-router-rest/test/public/sampleTest.spec.ts
  sdk/communication/communication-job-router-rest/test/public/utils/connection.ts
  sdk/communication/communication-job-router-rest/test/public/utils/env-browser.mts
  sdk/communication/communication-job-router-rest/test/public/utils/polling.ts
  sdk/communication/communication-job-router-rest/test/public/utils/recordedClient.ts
  sdk/communication/communication-job-router-rest/test/public/utils/testData.ts
  sdk/communication/communication-job-router-rest/tsconfig.browser.config.json
  sdk/communication/communication-job-router-rest/tsconfig.json
  sdk/communication/communication-job-router-rest/vitest.browser.config.ts
  sdk/communication/communication-job-router-rest/vitest.config.ts
Labels: Communication

#31723 [communication] Migrate @azure/communication-sms to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-sms/.nycrc
  sdk/communication/communication-sms/api-extractor.json
  sdk/communication/communication-sms/karma.conf.js
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-sms/samples-dev/sendSmsWithOptions.ts
  sdk/communication/communication-sms/src/generated/src/index.ts
  sdk/communication/communication-sms/src/generated/src/models/parameters.ts
  sdk/communication/communication-sms/src/generated/src/operations/index.ts
  sdk/communication/communication-sms/src/generated/src/operations/sms.ts
  sdk/communication/communication-sms/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-sms/src/generated/src/operationsInterfaces/sms.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClient.ts
  sdk/communication/communication-sms/src/index.ts
  sdk/communication/communication-sms/src/smsClient.ts
  sdk/communication/communication-sms/src/utils/smsUtils.ts
  sdk/communication/communication-sms/test/internal/smsClient.internal.mocked.spec.ts
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.mocked.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/suites/smsClient.send.ts
  sdk/communication/communication-sms/test/public/utils/assertHelpers.ts
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
  sdk/communication/communication-sms/tsconfig.browser.config.json
  sdk/communication/communication-sms/tsconfig.json
  sdk/communication/communication-sms/vitest.browser.config.ts
  sdk/communication/communication-sms/vitest.config.ts
Labels: Communication - SMS

#31779 Update release dates for Geolocation, Render, and Search
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/CHANGELOG.md
Labels: Maps

#31788 Workaround to enable OpenAI documentation on learn.microsoft.com
  eng/scripts/docs/Docs-ToC.ps1
  sdk/openai/ci.yml
Labels: OpenAI

#31791 Sync eng/common directory with azure-sdk-tools for PR 9389
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#31741 docs(playwrighttesting): Changelog for 1.0.0-beta.5 (microsoft-playwright-testing) and 1.0.0-beta.2 (create-microsoft-playwright-testing)
  sdk/playwrighttesting/create-microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#31755 [Storage] Bump version for STG96 GA release
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#31795 docs(playwrighttesting): date change in changelog 1.0.0-beta.5 and 1.0.0-beta.2
  sdk/playwrighttesting/create-microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#31802 Post release automated changes for playwrighttesting releases
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/package.json
Labels: Microsoft Playwright Testing

#31801 Typo
  sdk/healthinsights/health-insights-radiologyinsights-rest/package.json
Labels: Cognitive - Health Insights

#31651 [communication] Move @azure/communication-chat to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/.nycrc
  sdk/communication/communication-chat/api-extractor.json
  sdk/communication/communication-chat/karma.conf.js
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/index.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/operations/chat.ts
  sdk/communication/communication-chat/src/generated/src/operations/chatThread.ts
  sdk/communication/communication-chat/src/generated/src/operations/index.ts
  sdk/communication/communication-chat/src/generated/src/operationsInterfaces/chat.ts
  sdk/communication/communication-chat/src/generated/src/operationsInterfaces/chatThread.ts
  sdk/communication/communication-chat/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-chat/src/index.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/src/models/requests.ts
  sdk/communication/communication-chat/src/models/uuid.ts
  sdk/communication/communication-chat/src/signaling/signalingClient-browser.mts
  sdk/communication/communication-chat/src/signaling/signalingClient-react-native.mts
  sdk/communication/communication-chat/src/signaling/signalingClient.ts
  sdk/communication/communication-chat/src/signaling/signalingClientOptions.ts
  sdk/communication/communication-chat/test/internal/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/chatClient.spec.ts
  sdk/communication/communication-chat/test/public/chatThreadClient.spec.ts
  sdk/communication/communication-chat/test/public/utils/connectionUtils.ts
  sdk/communication/communication-chat/test/public/utils/getToken-browser.mts
  sdk/communication/communication-chat/test/public/utils/getToken.ts
  sdk/communication/communication-chat/test/public/utils/recordedClient.ts
  sdk/communication/communication-chat/tsconfig.browser.config.json
  sdk/communication/communication-chat/tsconfig.json
  sdk/communication/communication-chat/vitest.browser.config.ts
  sdk/communication/communication-chat/vitest.config.ts
Labels: Communication - Chat

#31690 Full text and Hybrid search
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/Container/ContainerDefinition.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/documents/FullTextPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/IndexingPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/GlobalStatisticsAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/NonStreamingOrderByDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/NonStreamingOrderByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OrderByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/globalStatistics.ts
  sdk/cosmosdb/cosmos/src/request/hybridSearchQueryResult.ts
  sdk/cosmosdb/cosmos/src/request/index.ts
  sdk/cosmosdb/cosmos/src/utils/envUtils.browser.ts
  sdk/cosmosdb/cosmos/src/utils/envUtils.ts
  sdk/cosmosdb/cosmos/src/utils/supportedQueryFeaturesBuilder.ts
  sdk/cosmosdb/cosmos/test/internal/unit/globalStatisticsAggregator.spec.ts
  sdk/cosmosdb/cosmos/test/mocha.env.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregates/groupBy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/fullTextSearch.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/nonStreamingOrderBy/nonStreamingOrderBy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/text-3properties-1536dimensions-100documents.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#31806 [OpenAI] Fix samples links
  sdk/openai/openai/samples/v2-beta/javascript/README.md
  sdk/openai/openai/samples/v2-beta/typescript/README.md
  sdk/openai/openai/samples/v2/javascript/README.md
  sdk/openai/openai/samples/v2/typescript/README.md
Labels: OpenAI

#31815 Sync eng/common directory with azure-sdk-tools for PR 9393
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#31814 [data-tables] Update changelog for release
  sdk/tables/data-tables/CHANGELOG.md
Labels: Client, Tables

#31816 Sync eng/common directory with azure-sdk-tools for PR 9381
  eng/common/scripts/Verify-ChangeLogs.ps1
  sdk/template/template/CHANGELOG.md
Labels: EngSys, Central-EngSys

#31562 Update Route SDK for metadata accuracy, v2 alignment, and latest TypeScript SDK compatibility
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/generated/clientDefinitions.ts
  sdk/maps/maps-route-rest/generated/index.ts
  sdk/maps/maps-route-rest/generated/isUnexpected.ts
  sdk/maps/maps-route-rest/generated/logger.ts
  sdk/maps/maps-route-rest/generated/mapsRouteClient.ts
  sdk/maps/maps-route-rest/generated/models.ts
  sdk/maps/maps-route-rest/generated/outputModels.ts
  sdk/maps/maps-route-rest/generated/parameters.ts
  sdk/maps/maps-route-rest/generated/pollingHelper.ts
  sdk/maps/maps-route-rest/generated/responses.ts
  sdk/maps/maps-route-rest/generated/serializeHelper.ts
  sdk/maps/maps-route-rest/package.json
  sdk/maps/maps-route-rest/review/maps-route.api.md
  sdk/maps/maps-route-rest/samples-dev/lro.ts
  sdk/maps/maps-route-rest/samples-dev/resumeLro.ts
  sdk/maps/maps-route-rest/samples/v1-beta/typescript/src/lro.ts
  sdk/maps/maps-route-rest/samples/v1-beta/typescript/src/matrix.ts
  sdk/maps/maps-route-rest/samples/v1-beta/typescript/src/range.ts
  sdk/maps/maps-route-rest/samples/v1-beta/typescript/src/resumeLro.ts
  sdk/maps/maps-route-rest/src/generated/mapsRouteClient.ts
  sdk/maps/maps-route-rest/src/generated/pollingHelper.ts
  sdk/maps/maps-route-rest/src/helpers.ts
  sdk/maps/maps-route-rest/src/index.ts
  sdk/maps/maps-route-rest/src/mapsRoute.ts
  sdk/maps/maps-route-rest/swagger/README.md
  sdk/maps/maps-route-rest/test/public/mapsRouteClient.spec.ts
  sdk/maps/maps-route-rest/test/public/utils/recordedClient.ts
Labels: Maps

#31830 Post release automated changes for playwrighttesting releases
  sdk/playwrighttesting/create-microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/create-microsoft-playwright-testing/package.json
Labels: Microsoft Playwright Testing

#31829 Samples for fts
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples-dev/ContainerManagement.ts
  sdk/cosmosdb/cosmos/samples-dev/Query/FullTextSearch.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ContainerManagement.js
  sdk/cosmosdb/cosmos/samples/v4/javascript/Query/FullTextSearch.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ContainerManagement.ts
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/Query/FullTextSearch.ts
Labels: Cosmos

#31824 Post release automated changes for tables releases
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
Labels: Tables

#31835 [@azure/cosmos] Update CHANGELOG.md
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#31812 [monitor] Upgrade all OTEL packages for 11/2024
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-opentelemetry/test/internal/unit/shared/config.test.ts
  sdk/monitor/monitor-query/package.json
  sdk/monitor/perf-tests/monitor-opentelemetry/package.json
Labels: OpenTelemetryInstrumentation

#31839 [Cosmos] JS SDK support for partitioned DiskANN
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ContainerManagement.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ContainerManagement.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ContainerManagement.ts
  sdk/cosmosdb/cosmos/src/documents/IndexingPolicy.ts
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
Labels: Cosmos

#31840 [communication] Migrate @azure/communication-rooms to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-rooms/.nycrc
  sdk/communication/communication-rooms/api-extractor.json
  sdk/communication/communication-rooms/karma.conf.js
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/src/generated/src/index.ts
  sdk/communication/communication-rooms/src/generated/src/models/parameters.ts
  sdk/communication/communication-rooms/src/generated/src/operations/index.ts
  sdk/communication/communication-rooms/src/generated/src/operations/participants.ts
  sdk/communication/communication-rooms/src/generated/src/operations/rooms.ts
  sdk/communication/communication-rooms/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-rooms/src/generated/src/operationsInterfaces/participants.ts
  sdk/communication/communication-rooms/src/generated/src/operationsInterfaces/rooms.ts
  sdk/communication/communication-rooms/src/generated/src/roomsRestClient.ts
  sdk/communication/communication-rooms/src/index.ts
  sdk/communication/communication-rooms/src/models/mappers.ts
  sdk/communication/communication-rooms/src/models/options.ts
  sdk/communication/communication-rooms/src/roomsClient.ts
  sdk/communication/communication-rooms/test/internal/roomsClient.mocked.spec.ts
  sdk/communication/communication-rooms/test/internal/utils/mockedClient.ts
  sdk/communication/communication-rooms/test/public/roomsClient.spec.ts
  sdk/communication/communication-rooms/test/public/utils/connectionUtils.ts
  sdk/communication/communication-rooms/test/public/utils/recordedClient.ts
  sdk/communication/communication-rooms/tsconfig.browser.config.json
  sdk/communication/communication-rooms/tsconfig.json
  sdk/communication/communication-rooms/vitest.browser.config.ts
  sdk/communication/communication-rooms/vitest.config.ts
Labels: Communication - Rooms

#31841 [identity] Bump vitest hook/test timeout
  sdk/identity/identity/vitest.browser.config.ts
  sdk/identity/identity/vitest.config.ts
  sdk/identity/identity/vitest.managed-identity.config.ts
Labels: Azure.Identity

#31821 [OpenAI] Update version
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/MIGRATION.md
  sdk/openai/openai/package.json
Labels: OpenAI

#31837 [template] Upgrade @azure/template-dpg to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/template/perf-tests/template/package.json
  sdk/template/perf-tests/template/test/getConfigurationSetting.spec.ts
  sdk/template/perf-tests/template/test/index.spec.ts
  sdk/template/perf-tests/template/test/templateBase.spec.ts
  sdk/template/perf-tests/template/tsconfig.json
  sdk/template/template-dpg/.mocharc.json
  sdk/template/template-dpg/CHANGELOG.md
  sdk/template/template-dpg/api-extractor.json
  sdk/template/template-dpg/karma.conf.cjs
  sdk/template/template-dpg/package.json
  sdk/template/template-dpg/scripts/renameOutput.mjs
  sdk/template/template-dpg/test/public/widgetService.spec.ts
  sdk/template/template-dpg/tsconfig.browser.config.json
  sdk/template/template-dpg/tsconfig.json
  sdk/template/template-dpg/vitest.browser.config.ts
  sdk/template/template-dpg/vitest.config.ts
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
  sdk/template/template/src/constants.ts
  sdk/template/template/src/generated/generatedClientContext.ts
  sdk/template/template/swagger/README.md
Labels: EngSys

#31794 [mgmt] terraform release
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/terraform/arm-terraform/CHANGELOG.md
  sdk/terraform/arm-terraform/LICENSE
  sdk/terraform/arm-terraform/README.md
  sdk/terraform/arm-terraform/api-extractor.json
  sdk/terraform/arm-terraform/assets.json
  sdk/terraform/arm-terraform/eslint.config.mjs
  sdk/terraform/arm-terraform/package.json
  sdk/terraform/arm-terraform/review/arm-terraform-models.api.md
  sdk/terraform/arm-terraform/review/arm-terraform.api.md
  sdk/terraform/arm-terraform/sample.env
  sdk/terraform/arm-terraform/samples-dev/operationsListSample.ts
  sdk/terraform/arm-terraform/samples-dev/terraformExportTerraformSample.ts
  sdk/terraform/arm-terraform/samples/v1-beta/javascript/README.md
  sdk/terraform/arm-terraform/samples/v1-beta/javascript/operationsListSample.js
  sdk/terraform/arm-terraform/samples/v1-beta/javascript/package.json
  sdk/terraform/arm-terraform/samples/v1-beta/javascript/sample.env
  sdk/terraform/arm-terraform/samples/v1-beta/javascript/terraformExportTerraformSample.js
  sdk/terraform/arm-terraform/samples/v1-beta/typescript/README.md
  sdk/terraform/arm-terraform/samples/v1-beta/typescript/package.json
  sdk/terraform/arm-terraform/samples/v1-beta/typescript/sample.env
  sdk/terraform/arm-terraform/samples/v1-beta/typescript/src/operationsListSample.ts
  sdk/terraform/arm-terraform/samples/v1-beta/typescript/src/terraformExportTerraformSample.ts
  sdk/terraform/arm-terraform/samples/v1-beta/typescript/tsconfig.json
  sdk/terraform/arm-terraform/src/api/azureTerraformContext.ts
  sdk/terraform/arm-terraform/src/api/index.ts
  sdk/terraform/arm-terraform/src/api/operations/index.ts
  sdk/terraform/arm-terraform/src/api/options.ts
  sdk/terraform/arm-terraform/src/api/terraform/index.ts
  sdk/terraform/arm-terraform/src/azureTerraformClient.ts
  sdk/terraform/arm-terraform/src/classic/index.ts
  sdk/terraform/arm-terraform/src/classic/operations/index.ts
  sdk/terraform/arm-terraform/src/classic/terraform/index.ts
  sdk/terraform/arm-terraform/src/helpers/serializerHelpers.ts
  sdk/terraform/arm-terraform/src/index.ts
  sdk/terraform/arm-terraform/src/logger.ts
  sdk/terraform/arm-terraform/src/models/index.ts
  sdk/terraform/arm-terraform/src/models/models.ts
  sdk/terraform/arm-terraform/src/restorePollerHelpers.ts
  sdk/terraform/arm-terraform/src/static-helpers/pagingHelpers.ts
  sdk/terraform/arm-terraform/src/static-helpers/pollingHelpers.ts
  sdk/terraform/arm-terraform/test/public/terraform_operations_test.spec.ts
  sdk/terraform/arm-terraform/test/public/utils/recordedClient.ts
  sdk/terraform/arm-terraform/tsconfig.browser.config.json
  sdk/terraform/arm-terraform/tsconfig.json
  sdk/terraform/arm-terraform/tsp-location.yaml
  sdk/terraform/arm-terraform/vitest.browser.config.ts
  sdk/terraform/arm-terraform/vitest.config.ts
  sdk/terraform/ci.mgmt.yml
Labels: Mgmt

#31617 Fix client type issues and improve tests
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/test.env
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
  sdk/web-pubsub/web-pubsub/test/testUtils.ts
Labels: WebPubSub

#31851 Update blob swagger spec to a commit on main branch
  sdk/storage/storage-blob/swagger/README.md
Labels: Storage

#31844 [web pubsub] Move @azure/web-pubsub to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/web-pubsub/web-pubsub/api-extractor.json
  sdk/web-pubsub/web-pubsub/karma.conf.js
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/src/generated/generatedClient.ts
  sdk/web-pubsub/web-pubsub/src/generated/generatedClientContext.ts
  sdk/web-pubsub/web-pubsub/src/generated/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/parameters.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/healthApi.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/healthApi.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/groupClient.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/index.ts
  sdk/web-pubsub/web-pubsub/test/conn.spec.ts
  sdk/web-pubsub/web-pubsub/test/groups.spec.ts
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
  sdk/web-pubsub/web-pubsub/test/odata.spec.ts
  sdk/web-pubsub/web-pubsub/tsconfig.json
  sdk/web-pubsub/web-pubsub/vitest.config.ts
Labels: WebPubSub

#31854 [OpenAI] Lint test
  sdk/openai/openai/test/public/abortsignal.spec.ts
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/embeddings.spec.ts
  sdk/openai/openai/test/public/images.spec.ts
  sdk/openai/openai/test/public/node/assistantsFile.spec.ts
  sdk/openai/openai/test/public/node/batches.spec.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/tts.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/audioTypes.ts
  sdk/openai/openai/test/public/utils/createClient.ts
  sdk/openai/openai/test/public/utils/images-browser.mts
  sdk/openai/openai/test/public/utils/images.ts
  sdk/openai/openai/test/public/utils/logging.ts
  sdk/openai/openai/test/public/utils/setup.ts
  sdk/openai/openai/test/public/utils/utils.ts
  sdk/openai/openai/test/public/vision.spec.ts
Labels: OpenAI

#31766 Sync eng/common directory with azure-sdk-tools for PR 9326
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
  eng/common/scripts/Update-DocsMsToc.ps1
  eng/common/scripts/Verify-Resource-Ref.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#31836 Sync eng/common directory with azure-sdk-tools for PR 9390
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#31786 [OpenAI] Precise Typechecking
  sdk/openai/openai/README.md
  sdk/openai/openai/api-extractor.json
  sdk/openai/openai/eslint.config.mjs
  sdk/openai/openai/package.json
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/utils.ts
  sdk/openai/openai/tsconfig.browser.config.json
  sdk/openai/openai/tsconfig.json
  sdk/openai/openai/tsconfig.samples.json
  sdk/openai/openai/tsconfig.src.json
  sdk/openai/openai/tsconfig.tests.json
  sdk/openai/openai/vitest.config.ts
Labels: OpenAI

#31736 [ServiceBus] fix issue of accepting session with empty string name
  sdk/servicebus/service-bus/src/session/messageSession.ts
  sdk/servicebus/service-bus/test/public/sessionsTests.spec.ts
Labels: Service Bus

#31863 [synapse] Move @azure/synapse-spark to ESM/vitest
  sdk/synapse/synapse-spark/eslint.config.mjs
  sdk/synapse/synapse-spark/package.json
  sdk/synapse/synapse-spark/src/index.ts
  sdk/synapse/synapse-spark/src/models/index.ts
  sdk/synapse/synapse-spark/src/models/mappers.ts
  sdk/synapse/synapse-spark/src/models/parameters.ts
  sdk/synapse/synapse-spark/src/operations/index.ts
  sdk/synapse/synapse-spark/src/operations/sparkBatch.ts
  sdk/synapse/synapse-spark/src/operations/sparkSessionOperations.ts
  sdk/synapse/synapse-spark/src/operationsInterfaces/index.ts
  sdk/synapse/synapse-spark/src/operationsInterfaces/sparkBatch.ts
  sdk/synapse/synapse-spark/src/operationsInterfaces/sparkSessionOperations.ts
  sdk/synapse/synapse-spark/src/sparkClient.ts
  sdk/synapse/synapse-spark/src/tracing.ts
  sdk/synapse/synapse-spark/vitest.browser.config.ts
  sdk/synapse/synapse-spark/vitest.config.ts
Labels: Synapse

#31792 [Search] Regenerate with 2024-11-01-preview spec
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples/v12-beta/javascript/setup.js
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexerOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/interfaces.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/searchClientOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/setup.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/skillSetOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/stickySession.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/synonymMapOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectorSearch.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/typeDefinitions.ts
Labels: Search

#31877 [synapse] Migrate @azure/synapse-managed-private-endpoints to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/synapse/synapse-managed-private-endpoints/README.md
  sdk/synapse/synapse-managed-private-endpoints/api-extractor.json
  sdk/synapse/synapse-managed-private-endpoints/eslint.config.mjs
  sdk/synapse/synapse-managed-private-endpoints/karma.conf.js
  sdk/synapse/synapse-managed-private-endpoints/package.json
  sdk/synapse/synapse-managed-private-endpoints/review/synapse-managed-private-endpoints.api.md
  sdk/synapse/synapse-managed-private-endpoints/src/index.ts
  sdk/synapse/synapse-managed-private-endpoints/src/managedPrivateEndpointsClient.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/index.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/mappers.ts
  sdk/synapse/synapse-managed-private-endpoints/src/models/parameters.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operations/index.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operations/managedPrivateEndpoints.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operationsInterfaces/index.ts
  sdk/synapse/synapse-managed-private-endpoints/src/operationsInterfaces/managedPrivateEndpoints.ts
  sdk/synapse/synapse-managed-private-endpoints/src/tracing.ts
  sdk/synapse/synapse-managed-private-endpoints/test/public/test.spec.ts
  sdk/synapse/synapse-managed-private-endpoints/test/public/utils/env-browser.mts
  sdk/synapse/synapse-managed-private-endpoints/test/public/utils/recordedClient.ts
  sdk/synapse/synapse-managed-private-endpoints/tsconfig.browser.config.json
  sdk/synapse/synapse-managed-private-endpoints/tsconfig.json
  sdk/synapse/synapse-managed-private-endpoints/vitest.browser.config.ts
  sdk/synapse/synapse-managed-private-endpoints/vitest.config.ts
Labels: Synapse

#31880 [synapse] Migrate @azure/synapse-access-control to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/synapse/synapse-access-control/README.md
  sdk/synapse/synapse-access-control/api-extractor.json
  sdk/synapse/synapse-access-control/eslint.config.mjs
  sdk/synapse/synapse-access-control/karma.conf.js
  sdk/synapse/synapse-access-control/package.json
  sdk/synapse/synapse-access-control/review/synapse-access-control.api.md
  sdk/synapse/synapse-access-control/src/accessControlClient.ts
  sdk/synapse/synapse-access-control/src/index.ts
  sdk/synapse/synapse-access-control/src/models/index.ts
  sdk/synapse/synapse-access-control/src/models/mappers.ts
  sdk/synapse/synapse-access-control/src/models/parameters.ts
  sdk/synapse/synapse-access-control/src/operations/index.ts
  sdk/synapse/synapse-access-control/src/operations/roleAssignments.ts
  sdk/synapse/synapse-access-control/src/operations/roleDefinitions.ts
  sdk/synapse/synapse-access-control/src/operationsInterfaces/index.ts
  sdk/synapse/synapse-access-control/src/operationsInterfaces/roleAssignments.ts
  sdk/synapse/synapse-access-control/src/operationsInterfaces/roleDefinitions.ts
  sdk/synapse/synapse-access-control/src/tracing.ts
  sdk/synapse/synapse-access-control/test/public/test.spec.ts
  sdk/synapse/synapse-access-control/test/public/utils/env-browser.mts
  sdk/synapse/synapse-access-control/test/public/utils/recordedClient.ts
  sdk/synapse/synapse-access-control/tsconfig.browser.config.json
  sdk/synapse/synapse-access-control/tsconfig.json
  sdk/synapse/synapse-access-control/vitest.browser.config.ts
  sdk/synapse/synapse-access-control/vitest.config.ts
Labels: Synapse

#31860 Sync eng/common directory with azure-sdk-tools for PR 9392
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#31881 [synapse] Migrate @azure-rest/synapse-access-control to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/synapse/synapse-access-control-rest/README.md
  sdk/synapse/synapse-access-control-rest/api-extractor.json
  sdk/synapse/synapse-access-control-rest/karma.conf.js
  sdk/synapse/synapse-access-control-rest/package.json
  sdk/synapse/synapse-access-control-rest/review/synapse-access-control.api.md
  sdk/synapse/synapse-access-control-rest/src/accessControlRestClient.ts
  sdk/synapse/synapse-access-control-rest/src/clientDefinitions.ts
  sdk/synapse/synapse-access-control-rest/src/index.ts
  sdk/synapse/synapse-access-control-rest/src/isUnexpected.ts
  sdk/synapse/synapse-access-control-rest/src/paginateHelper.ts
  sdk/synapse/synapse-access-control-rest/src/parameters.ts
  sdk/synapse/synapse-access-control-rest/src/responses.ts
  sdk/synapse/synapse-access-control-rest/test/public/test.spec.ts
  sdk/synapse/synapse-access-control-rest/test/public/utils/env-browser.mts
  sdk/synapse/synapse-access-control-rest/test/public/utils/env.ts
  sdk/synapse/synapse-access-control-rest/test/public/utils/recordedClient.ts
  sdk/synapse/synapse-access-control-rest/tsconfig.browser.config.json
  sdk/synapse/synapse-access-control-rest/tsconfig.json
  sdk/synapse/synapse-access-control-rest/vitest.browser.config.ts
  sdk/synapse/synapse-access-control-rest/vitest.config.ts
Labels: Synapse

#31751 [Identity] Fix the resource deployment step for MI tests
  sdk/identity/identity/tests.yml
  sdk/identity/test-resources-pre.ps1
Labels: Azure.Identity

#31890 Update streaming data.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/index.ts
  sdk/communication/communication-call-automation/src/models/audio.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/streaming.ts
  sdk/communication/communication-call-automation/src/models/transcription.ts
  sdk/communication/communication-call-automation/src/streamingData.ts
  sdk/communication/communication-call-automation/src/streamingDataParser.ts
  sdk/communication/communication-call-automation/test/streamingData.spec.ts
Labels: Communication

#31886 [Search] Bump package version
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
Labels: Search

#31898 [purview] Migrate @azure-rest/purview-scanning to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-scanning-rest/README.md
  sdk/purview/purview-scanning-rest/api-extractor.json
  sdk/purview/purview-scanning-rest/karma.conf.js
  sdk/purview/purview-scanning-rest/package.json
  sdk/purview/purview-scanning-rest/samples-dev/listDatasources.ts
  sdk/purview/purview-scanning-rest/src/index.ts
  sdk/purview/purview-scanning-rest/src/parameters.ts
  sdk/purview/purview-scanning-rest/src/purviewScanning.ts
  sdk/purview/purview-scanning-rest/src/responses.ts
  sdk/purview/purview-scanning-rest/test/public/dataSources.spec.ts
  sdk/purview/purview-scanning-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-scanning-rest/tsconfig.browser.config.json
  sdk/purview/purview-scanning-rest/tsconfig.json
  sdk/purview/purview-scanning-rest/vitest.browser.config.ts
  sdk/purview/purview-scanning-rest/vitest.config.ts
Labels: Purview

#31896 [purview] Migrate @azure-rest/purview-catalog to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-catalog-rest/README.md
  sdk/purview/purview-catalog-rest/api-extractor.json
  sdk/purview/purview-catalog-rest/karma.conf.js
  sdk/purview/purview-catalog-rest/package.json
  sdk/purview/purview-catalog-rest/samples-dev/typedefs.ts
  sdk/purview/purview-catalog-rest/src/clientDefinitions.ts
  sdk/purview/purview-catalog-rest/src/index.ts
  sdk/purview/purview-catalog-rest/src/parameters.ts
  sdk/purview/purview-catalog-rest/src/purviewCatalog.ts
  sdk/purview/purview-catalog-rest/src/responses.ts
  sdk/purview/purview-catalog-rest/test/public/glossary.spec.ts
  sdk/purview/purview-catalog-rest/test/public/typedefs.spec.ts
  sdk/purview/purview-catalog-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-catalog-rest/tsconfig.browser.config.json
  sdk/purview/purview-catalog-rest/tsconfig.json
  sdk/purview/purview-catalog-rest/vitest.browser.config.ts
  sdk/purview/purview-catalog-rest/vitest.config.ts
Labels: Purview

#31897 [purview] Migrate @azure-rest/purview-datamap to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-datamap-rest/README.md
  sdk/purview/purview-datamap-rest/api-extractor.json
  sdk/purview/purview-datamap-rest/karma.conf.js
  sdk/purview/purview-datamap-rest/package.json
  sdk/purview/purview-datamap-rest/samples-dev/typedefs.ts
  sdk/purview/purview-datamap-rest/src/clientDefinitions.ts
  sdk/purview/purview-datamap-rest/src/index.ts
  sdk/purview/purview-datamap-rest/src/isUnexpected.ts
  sdk/purview/purview-datamap-rest/src/parameters.ts
  sdk/purview/purview-datamap-rest/src/purviewDataMapClient.ts
  sdk/purview/purview-datamap-rest/src/responses.ts
  sdk/purview/purview-datamap-rest/test/public/entityTest.spec.ts
  sdk/purview/purview-datamap-rest/test/public/glossary.spec.ts
  sdk/purview/purview-datamap-rest/test/public/typedefs.spec.ts
  sdk/purview/purview-datamap-rest/test/public/utils/env-browser.mts
  sdk/purview/purview-datamap-rest/test/public/utils/env.ts
  sdk/purview/purview-datamap-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-datamap-rest/tsconfig.browser.config.json
  sdk/purview/purview-datamap-rest/tsconfig.json
  sdk/purview/purview-datamap-rest/vitest.browser.config.ts
  sdk/purview/purview-datamap-rest/vitest.config.ts
Labels: Purview

#31900 [purview] Migrate @azure-rest/purview-workflow to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-workflow-rest/api-extractor.json
  sdk/purview/purview-workflow-rest/karma.conf.js
  sdk/purview/purview-workflow-rest/package.json
  sdk/purview/purview-workflow-rest/samples-dev/submitUserRequestsSample.ts
  sdk/purview/purview-workflow-rest/samples-dev/workflowRunSample.ts
  sdk/purview/purview-workflow-rest/samples-dev/workflowTasksSample.ts
  sdk/purview/purview-workflow-rest/samples-dev/workflowsSample.ts
  sdk/purview/purview-workflow-rest/src/clientDefinitions.ts
  sdk/purview/purview-workflow-rest/src/index.ts
  sdk/purview/purview-workflow-rest/src/isUnexpected.ts
  sdk/purview/purview-workflow-rest/src/parameters.ts
  sdk/purview/purview-workflow-rest/src/purviewWorkflow.ts
  sdk/purview/purview-workflow-rest/src/responses.ts
  sdk/purview/purview-workflow-rest/test/public/userrequest.spec.ts
  sdk/purview/purview-workflow-rest/test/public/utils/env-browser.mts
  sdk/purview/purview-workflow-rest/test/public/utils/env.ts
  sdk/purview/purview-workflow-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-workflow-rest/test/public/workflow.spec.ts
  sdk/purview/purview-workflow-rest/test/public/workflowtasks.spec.ts
  sdk/purview/purview-workflow-rest/tsconfig.browser.config.json
  sdk/purview/purview-workflow-rest/tsconfig.json
  sdk/purview/purview-workflow-rest/vitest.browser.config.ts
  sdk/purview/purview-workflow-rest/vitest.config.ts
Labels: Purview

#31895 [purview] Migrate @azure-rest/purview-administration to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-administration-rest/README.md
  sdk/purview/purview-administration-rest/api-extractor.json
  sdk/purview/purview-administration-rest/karma.conf.js
  sdk/purview/purview-administration-rest/package.json
  sdk/purview/purview-administration-rest/samples-dev/accountCollections.ts
  sdk/purview/purview-administration-rest/samples-dev/metadataPolicies.ts
  sdk/purview/purview-administration-rest/src/account/clientDefinitions.ts
  sdk/purview/purview-administration-rest/src/account/index.ts
  sdk/purview/purview-administration-rest/src/account/parameters.ts
  sdk/purview/purview-administration-rest/src/account/purviewAccount.ts
  sdk/purview/purview-administration-rest/src/account/responses.ts
  sdk/purview/purview-administration-rest/src/index.ts
  sdk/purview/purview-administration-rest/src/metadataPolicies/clientDefinitions.ts
  sdk/purview/purview-administration-rest/src/metadataPolicies/index.ts
  sdk/purview/purview-administration-rest/src/metadataPolicies/paginateHelper.ts
  sdk/purview/purview-administration-rest/src/metadataPolicies/parameters.ts
  sdk/purview/purview-administration-rest/src/metadataPolicies/purviewMetadataPolicies.ts
  sdk/purview/purview-administration-rest/src/metadataPolicies/responses.ts
  sdk/purview/purview-administration-rest/test/public/account.spec.ts
  sdk/purview/purview-administration-rest/test/public/collections.spec.ts
  sdk/purview/purview-administration-rest/test/public/metadataPolicies.spec.ts
  sdk/purview/purview-administration-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-administration-rest/tsconfig.browser.config.json
  sdk/purview/purview-administration-rest/tsconfig.json
  sdk/purview/purview-administration-rest/vitest.browser.config.ts
  sdk/purview/purview-administration-rest/vitest.config.ts
Labels: Purview

#31899 [purview] Migrate @azure-rest/purview-sharing to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/purview/purview-sharing-rest/README.md
  sdk/purview/purview-sharing-rest/api-extractor.json
  sdk/purview/purview-sharing-rest/karma.conf.js
  sdk/purview/purview-sharing-rest/package.json
  sdk/purview/purview-sharing-rest/samples-dev/manageSharesSample.ts
  sdk/purview/purview-sharing-rest/samples-dev/receiverOperationsSample.ts
  sdk/purview/purview-sharing-rest/samples-dev/senderOperationsSample.ts
  sdk/purview/purview-sharing-rest/src/clientDefinitions.ts
  sdk/purview/purview-sharing-rest/src/index.ts
  sdk/purview/purview-sharing-rest/src/isUnexpected.ts
  sdk/purview/purview-sharing-rest/src/parameters.ts
  sdk/purview/purview-sharing-rest/src/purviewSharing.ts
  sdk/purview/purview-sharing-rest/src/responses.ts
  sdk/purview/purview-sharing-rest/test/public/receivedSharesTest.spec.ts
  sdk/purview/purview-sharing-rest/test/public/sentSharesTest.spec.ts
  sdk/purview/purview-sharing-rest/test/public/shareResourcesTest.spec.ts
  sdk/purview/purview-sharing-rest/test/public/utils/env-browser.mts
  sdk/purview/purview-sharing-rest/test/public/utils/env.ts
  sdk/purview/purview-sharing-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-sharing-rest/tsconfig.browser.config.json
  sdk/purview/purview-sharing-rest/tsconfig.json
  sdk/purview/purview-sharing-rest/vitest.browser.config.ts
  sdk/purview/purview-sharing-rest/vitest.config.ts
Labels: Purview

#31904 [documenttranslator] Migrate @azure-rest/ai-document-translator to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/documenttranslator/ai-document-translator-rest/README.md
  sdk/documenttranslator/ai-document-translator-rest/api-extractor.json
  sdk/documenttranslator/ai-document-translator-rest/karma.conf.js
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/documenttranslator/ai-document-translator-rest/samples-dev/listFormats.ts
  sdk/documenttranslator/ai-document-translator-rest/samples-dev/translateFromBlob.ts
  sdk/documenttranslator/ai-document-translator-rest/src/documentTranslator.ts
  sdk/documenttranslator/ai-document-translator-rest/src/index.ts
  sdk/documenttranslator/ai-document-translator-rest/src/parameters.ts
  sdk/documenttranslator/ai-document-translator-rest/src/responses.ts
  sdk/documenttranslator/ai-document-translator-rest/test/public/listFormats.spec.ts
  sdk/documenttranslator/ai-document-translator-rest/test/public/utils/recordedClient.ts
  sdk/documenttranslator/ai-document-translator-rest/tsconfig.browser.config.json
  sdk/documenttranslator/ai-document-translator-rest/tsconfig.json
  sdk/documenttranslator/ai-document-translator-rest/vitest.browser.config.ts
  sdk/documenttranslator/ai-document-translator-rest/vitest.config.ts
Labels: DocumentTranslator

#31580 [dev-tool] Initial version of `dev-tool check` command
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/README.md
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/checks/packageJson.ts
  common/tools/dev-tool/src/checks/release.ts
  common/tools/dev-tool/src/checks/scripts.ts
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
  common/tools/dev-tool/src/commands/check.ts
  common/tools/dev-tool/src/commands/customization/apply-v2.ts
  common/tools/dev-tool/src/commands/index.ts
  common/tools/dev-tool/src/commands/run/typecheck.ts
  common/tools/dev-tool/src/framework/check.ts
  common/tools/dev-tool/src/util/resolveProject.ts
  common/tools/dev-tool/src/util/run.ts
Labels: dev-tool

#31905 [contentsafety] Migrate @azure-rest/ai-content-safety to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/contentsafety/ai-content-safety-rest/README.md
  sdk/contentsafety/ai-content-safety-rest/api-extractor.json
  sdk/contentsafety/ai-content-safety-rest/karma.conf.js
  sdk/contentsafety/ai-content-safety-rest/package.json
  sdk/contentsafety/ai-content-safety-rest/samples-dev/sampleAnalyzeImage.ts
  sdk/contentsafety/ai-content-safety-rest/samples-dev/sampleAnalyzeText.ts
  sdk/contentsafety/ai-content-safety-rest/samples-dev/sampleManageBlocklist.ts
  sdk/contentsafety/ai-content-safety-rest/src/clientDefinitions.ts
  sdk/contentsafety/ai-content-safety-rest/src/contentSafetyClient.ts
  sdk/contentsafety/ai-content-safety-rest/src/index.ts
  sdk/contentsafety/ai-content-safety-rest/src/isUnexpected.ts
  sdk/contentsafety/ai-content-safety-rest/src/parameters.ts
  sdk/contentsafety/ai-content-safety-rest/src/responses.ts
  sdk/contentsafety/ai-content-safety-rest/test/public/contentSafety.spec.ts
  sdk/contentsafety/ai-content-safety-rest/test/public/contentSafety_AADAuth.spec.ts
  sdk/contentsafety/ai-content-safety-rest/test/public/utils/env-browser.mts
  sdk/contentsafety/ai-content-safety-rest/test/public/utils/env.ts
  sdk/contentsafety/ai-content-safety-rest/test/public/utils/recordedAADClient.ts
  sdk/contentsafety/ai-content-safety-rest/test/public/utils/recordedClient.ts
  sdk/contentsafety/ai-content-safety-rest/tsconfig.browser.config.json
  sdk/contentsafety/ai-content-safety-rest/tsconfig.json
  sdk/contentsafety/ai-content-safety-rest/vitest.browser.config.ts
  sdk/contentsafety/ai-content-safety-rest/vitest.config.ts
Labels: dev-tool

#31849 [test] update perf-template test dependency `template` version
  common/config/rush/pnpm-lock.yaml
  sdk/template/perf-tests/template/package.json
  sdk/template/template/CHANGELOG.md
  sdk/template/template/package.json
  sdk/template/template/src/constants.ts
  sdk/template/template/src/generated/generatedClientContext.ts
  sdk/template/template/swagger/README.md
Labels: EngSys

#31871 [OpenAI] Fix browser tests
  sdk/openai/openai/tsconfig.browser.config.json
  sdk/openai/openai/tsconfig.samples.json
  sdk/openai/openai/vitest.browser.config.ts
Labels: OpenAI

#31667 [mgmt] refresh edgezones
  common/config/rush/pnpm-lock.yaml
  sdk/edgezones/arm-edgezones/CHANGELOG.md
  sdk/edgezones/arm-edgezones/assets.json
  sdk/edgezones/arm-edgezones/package.json
  sdk/edgezones/arm-edgezones/review/arm-edgezones-api.api.md
  sdk/edgezones/arm-edgezones/review/arm-edgezones-models.api.md
  sdk/edgezones/arm-edgezones/src/api/edgeZonesContext.ts
  sdk/edgezones/arm-edgezones/src/api/extendedZones/index.ts
  sdk/edgezones/arm-edgezones/src/api/index.ts
  sdk/edgezones/arm-edgezones/src/api/operations/index.ts
  sdk/edgezones/arm-edgezones/src/api/options.ts
  sdk/edgezones/arm-edgezones/src/classic/extendedZones/index.ts
  sdk/edgezones/arm-edgezones/src/classic/operations/index.ts
  sdk/edgezones/arm-edgezones/src/edgeZonesClient.ts
  sdk/edgezones/arm-edgezones/src/index.ts
  sdk/edgezones/arm-edgezones/src/models/index.ts
  sdk/edgezones/arm-edgezones/src/models/models.ts
  sdk/edgezones/arm-edgezones/src/models/pagingTypes.ts
  sdk/edgezones/arm-edgezones/src/rest/clientDefinitions.ts
  sdk/edgezones/arm-edgezones/src/rest/edgeZonesClient.ts
  sdk/edgezones/arm-edgezones/src/rest/index.ts
  sdk/edgezones/arm-edgezones/src/rest/isUnexpected.ts
  sdk/edgezones/arm-edgezones/src/rest/outputModels.ts
  sdk/edgezones/arm-edgezones/src/rest/paginateHelper.ts
  sdk/edgezones/arm-edgezones/src/rest/parameters.ts
  sdk/edgezones/arm-edgezones/src/rest/responses.ts
  sdk/edgezones/arm-edgezones/src/static-helpers/pagingHelpers.ts
  sdk/edgezones/arm-edgezones/test/public/edgezones_operations_test.spec.ts
  sdk/edgezones/arm-edgezones/vitest.browser.config.ts
  sdk/edgezones/arm-edgezones/vitest.config.ts
Labels: Mgmt

#31846 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#31913 [mgmt] apimanagement
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/assets.json
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
  sdk/apimanagement/arm-apimanagement/src/operations/apiPolicy.ts
Labels: Mgmt

#31919 [vision] Migrate @azure-rest/ai-vision-image-analysis to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/vision/ai-vision-image-analysis-rest/api-extractor.json
  sdk/vision/ai-vision-image-analysis-rest/karma.conf.cjs
  sdk/vision/ai-vision-image-analysis-rest/karma.conf.js
  sdk/vision/ai-vision-image-analysis-rest/package.json
  sdk/vision/ai-vision-image-analysis-rest/src/clientDefinitions.ts
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
  sdk/vision/ai-vision-image-analysis-rest/src/index.ts
  sdk/vision/ai-vision-image-analysis-rest/src/isUnexpected.ts
  sdk/vision/ai-vision-image-analysis-rest/src/responses.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/AnalysisTests.spec.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/clientMethods.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/env-browser.mts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/recordedClient.ts
  sdk/vision/ai-vision-image-analysis-rest/tsconfig.browser.config.json
  sdk/vision/ai-vision-image-analysis-rest/tsconfig.json
  sdk/vision/ai-vision-image-analysis-rest/vitest.browser.config.ts
  sdk/vision/ai-vision-image-analysis-rest/vitest.config.ts
Labels: Image Analysis

#31920 [confidentialledger] Migrate @azure-rest/confidential-ledger to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/confidentialledger/confidential-ledger-rest/api-extractor.json
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/index.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/isUnexpected.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/src/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/src/index.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/colderEndpoints.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/getCollections.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/historicalRangeQuery.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/ledgerHistory.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/listEnclaveQuotes.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/postTransaction.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/usersEndpoint.spec.ts
  sdk/confidentialledger/confidential-ledger-rest/test/public/utils/recordedClient.ts
  sdk/confidentialledger/confidential-ledger-rest/tsconfig.json
  sdk/confidentialledger/confidential-ledger-rest/vitest.config.ts
Labels: ConfidentialLedger

#31925 [healthinsights] Migrate @azure-rest/health-insights-clinicalmatching to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/healthinsights/health-insights-clinicalmatching-rest/api-extractor.json
  sdk/healthinsights/health-insights-clinicalmatching-rest/karma.conf.js
  sdk/healthinsights/health-insights-clinicalmatching-rest/package.json
  sdk/healthinsights/health-insights-clinicalmatching-rest/samples-dev/sample_match_trials_fhir.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/samples-dev/sample_match_trials_structured_coded_elements.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/samples-dev/sample_match_trials_unstructured_clinical_note.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/clientDefinitions.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/clinicalMatchingRest.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/index.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/isUnexpected.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/parameters.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/pollingHelper.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/src/responses.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/test/public/clinicalmatching.spec.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/test/public/utils/env-browser.mts
  sdk/healthinsights/health-insights-clinicalmatching-rest/test/public/utils/recordedClient.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/tsconfig.browser.config.json
  sdk/healthinsights/health-insights-clinicalmatching-rest/tsconfig.json
  sdk/healthinsights/health-insights-clinicalmatching-rest/vitest.browser.config.ts
  sdk/healthinsights/health-insights-clinicalmatching-rest/vitest.config.ts
Labels: Cognitive - Health Insights

#31926 [healthinsights] Migrate @azure-rest/health-insights-radiologyinsights to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/healthinsights/health-insights-radiologyinsights-rest/api-extractor.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/karma.conf.js
  sdk/healthinsights/health-insights-radiologyinsights-rest/package.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_age_mismatch_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_complete_order_discrepancy_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_critical_result_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_critical_result_managed_identity.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_finding_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_follow_up_communication_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_follow_up_recommendation_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_laterality_discrepancy_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_limited_order_discrepancy_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_radiology_procedure_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/samples-dev/sample_sex_mismatch_inference_async.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/azureHealthInsightsClient.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/clientDefinitions.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/index.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/isUnexpected.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/parameters.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/pollingHelper.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/src/responses.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleAgeMismatchInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleCompleteOrderDiscrepancyInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleCriticalResultInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleFindingInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleFollowUpCommunicationAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleFollowUpRecommendationAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleLateralityDiscrepancyInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleLimitedOrderDiscrepancyInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleRadiologyProcedureInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/SampleSexMismatchInferenceAsync.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/Test_RadiologyInsights_async.spec.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/utils/env-browser.mts
  sdk/healthinsights/health-insights-radiologyinsights-rest/test/public/utils/recordedClient.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/tsconfig.browser.config.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/tsconfig.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/vitest.browser.config.ts
  sdk/healthinsights/health-insights-radiologyinsights-rest/vitest.config.ts
Labels: Cognitive - Health Insights

#31930 [maps] Upgrade @azure-rest/maps-route to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/maps/maps-route-rest/api-extractor.json
  sdk/maps/maps-route-rest/generated/index.ts
  sdk/maps/maps-route-rest/karma.conf.js
  sdk/maps/maps-route-rest/package.json
  sdk/maps/maps-route-rest/samples-dev/directions.ts
  sdk/maps/maps-route-rest/samples-dev/lro.ts
  sdk/maps/maps-route-rest/samples-dev/matrix.ts
  sdk/maps/maps-route-rest/samples-dev/range.ts
  sdk/maps/maps-route-rest/samples-dev/resumeLro.ts
  sdk/maps/maps-route-rest/src/generated/clientDefinitions.ts
  sdk/maps/maps-route-rest/src/generated/index.ts
  sdk/maps/maps-route-rest/src/generated/isUnexpected.ts
  sdk/maps/maps-route-rest/src/generated/logger.ts
  sdk/maps/maps-route-rest/src/generated/mapsRouteClient.ts
  sdk/maps/maps-route-rest/src/generated/models.ts
  sdk/maps/maps-route-rest/src/generated/outputModels.ts
  sdk/maps/maps-route-rest/src/generated/parameters.ts
  sdk/maps/maps-route-rest/src/generated/pollingHelper.ts
  sdk/maps/maps-route-rest/src/generated/responses.ts
  sdk/maps/maps-route-rest/src/generated/serializeHelper.ts
  sdk/maps/maps-route-rest/src/helpers.ts
  sdk/maps/maps-route-rest/src/index.ts
  sdk/maps/maps-route-rest/src/mapsRoute.ts
  sdk/maps/maps-route-rest/swagger/README.md
  sdk/maps/maps-route-rest/test/public/helper.spec.ts
  sdk/maps/maps-route-rest/test/public/mapsRouteClient.spec.ts
  sdk/maps/maps-route-rest/test/public/utils/env-browser.mts
  sdk/maps/maps-route-rest/test/public/utils/recordedClient.ts
  sdk/maps/maps-route-rest/tsconfig.browser.config.json
  sdk/maps/maps-route-rest/tsconfig.json
  sdk/maps/maps-route-rest/vitest.browser.config.ts
  sdk/maps/maps-route-rest/vitest.config.ts
Labels: Maps

#31927 [maps] Upgrade @azure-rest/maps-geolocation to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/maps/maps-geolocation-rest/api-extractor.json
  sdk/maps/maps-geolocation-rest/generated/index.ts
  sdk/maps/maps-geolocation-rest/karma.conf.js
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-geolocation-rest/samples-dev/getCountryCodeFromIP.ts
  sdk/maps/maps-geolocation-rest/src/MapsGeolocation.ts
  sdk/maps/maps-geolocation-rest/src/generated/clientDefinitions.ts
  sdk/maps/maps-geolocation-rest/src/generated/index.ts
  sdk/maps/maps-geolocation-rest/src/generated/isUnexpected.ts
  sdk/maps/maps-geolocation-rest/src/generated/logger.ts
  sdk/maps/maps-geolocation-rest/src/generated/mapsGeolocationClient.ts
  sdk/maps/maps-geolocation-rest/src/generated/outputModels.ts
  sdk/maps/maps-geolocation-rest/src/generated/parameters.ts
  sdk/maps/maps-geolocation-rest/src/generated/responses.ts
  sdk/maps/maps-geolocation-rest/src/index.ts
  sdk/maps/maps-geolocation-rest/swagger/README.md
  sdk/maps/maps-geolocation-rest/test/public/MapsGeolocation.spec.ts
  sdk/maps/maps-geolocation-rest/test/public/utils/env-browser.mts
  sdk/maps/maps-geolocation-rest/test/public/utils/recordedClient.ts
  sdk/maps/maps-geolocation-rest/tsconfig.browser.config.json
  sdk/maps/maps-geolocation-rest/tsconfig.json
  sdk/maps/maps-geolocation-rest/vitest.browser.config.ts
  sdk/maps/maps-geolocation-rest/vitest.config.ts
Labels: Maps

#31929 [maps] Migrate @azure-rest/maps-render to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/maps/maps-render-rest/api-extractor.json
  sdk/maps/maps-render-rest/generated/index.ts
  sdk/maps/maps-render-rest/karma.conf.js
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/samples-dev/getMapStaticImage.ts
  sdk/maps/maps-render-rest/samples-dev/getMapTileInNode.ts
  sdk/maps/maps-render-rest/src/createPathQuery.ts
  sdk/maps/maps-render-rest/src/createPinsQuery.ts
  sdk/maps/maps-render-rest/src/generated/clientDefinitions.ts
  sdk/maps/maps-render-rest/src/generated/index.ts
  sdk/maps/maps-render-rest/src/generated/isUnexpected.ts
  sdk/maps/maps-render-rest/src/generated/logger.ts
  sdk/maps/maps-render-rest/src/generated/mapsRenderClient.ts
  sdk/maps/maps-render-rest/src/generated/outputModels.ts
  sdk/maps/maps-render-rest/src/generated/parameters.ts
  sdk/maps/maps-render-rest/src/generated/responses.ts
  sdk/maps/maps-render-rest/src/index.ts
  sdk/maps/maps-render-rest/src/mapsRender.ts
  sdk/maps/maps-render-rest/swagger/README.md
  sdk/maps/maps-render-rest/test/internal/createMultiCollection.spec.ts
  sdk/maps/maps-render-rest/test/public/createPathQuery.spec.ts
  sdk/maps/maps-render-rest/test/public/createPinsQuery.spec.ts
  sdk/maps/maps-render-rest/test/public/mapsRender.spec.ts
  sdk/maps/maps-render-rest/test/public/pointToTileXY.spec.ts
  sdk/maps/maps-render-rest/test/public/utils/env-browser.mts
  sdk/maps/maps-render-rest/test/public/utils/recordedClient.ts
  sdk/maps/maps-render-rest/tsconfig.browser.config.json
  sdk/maps/maps-render-rest/tsconfig.json
  sdk/maps/maps-render-rest/vitest.browser.config.ts
  sdk/maps/maps-render-rest/vitest.config.ts
Labels: Maps

#31931 [maps] Upgrade @azure-rest/maps-search to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/maps/maps-search-rest/api-extractor.json
  sdk/maps/maps-search-rest/generated/index.ts
  sdk/maps/maps-search-rest/karma.conf.js
  sdk/maps/maps-search-rest/package.json
  sdk/maps/maps-search-rest/samples-dev/geocoding.ts
  sdk/maps/maps-search-rest/samples-dev/geocodingBatch.ts
  sdk/maps/maps-search-rest/samples-dev/reverseGeocoding.ts
  sdk/maps/maps-search-rest/samples-dev/reverseGeocodingBatch.ts
  sdk/maps/maps-search-rest/samples-dev/searchPolygons.ts
  sdk/maps/maps-search-rest/src/MapsSearch.ts
  sdk/maps/maps-search-rest/src/generated/clientDefinitions.ts
  sdk/maps/maps-search-rest/src/generated/index.ts
  sdk/maps/maps-search-rest/src/generated/isUnexpected.ts
  sdk/maps/maps-search-rest/src/generated/logger.ts
  sdk/maps/maps-search-rest/src/generated/mapsSearchClient.ts
  sdk/maps/maps-search-rest/src/generated/models.ts
  sdk/maps/maps-search-rest/src/generated/outputModels.ts
  sdk/maps/maps-search-rest/src/generated/parameters.ts
  sdk/maps/maps-search-rest/src/generated/responses.ts
  sdk/maps/maps-search-rest/src/index.ts
  sdk/maps/maps-search-rest/swagger/README.md
  sdk/maps/maps-search-rest/test/public/MapsSearch.spec.ts
  sdk/maps/maps-search-rest/test/public/utils/env-browser.mts
  sdk/maps/maps-search-rest/test/public/utils/recordedClient.ts
  sdk/maps/maps-search-rest/tsconfig.browser.config.json
  sdk/maps/maps-search-rest/tsconfig.json
  sdk/maps/maps-search-rest/vitest.browser.config.ts
  sdk/maps/maps-search-rest/vitest.config.ts
Labels: Maps

#31759 [dev-tool] Enable test-proxy Debug log-level
  common/tools/dev-tool/src/commands/run/testBrowser.ts
  common/tools/dev-tool/src/commands/run/testNodeJSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTSInput.ts
  common/tools/dev-tool/src/commands/run/testNodeTsxTS.ts
  common/tools/dev-tool/src/commands/run/testVitest.ts
  common/tools/dev-tool/src/util/testProxyUtils.ts
Labels: dev-tool

#31903 Update the docIndex default for manual runs
  eng/pipelines/docindex.yml
Labels: Docs

#31924 [App Config] Test timeout increase for browser LRO test
  sdk/appconfiguration/app-configuration/vitest.browser.config.ts
Labels: App Configuration

#31233 [Cosmos] Adding check for setting ParallelizeCrossPartitionQuery header
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/internal/unit/getHeader.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/split.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#31878 [bug fix] esrp safety net for initial packages
  eng/pipelines/templates/steps/npm-release-task.yml
  eng/scripts/verify-npm-tags.ps1
Labels: Central-EngSys

#31730 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core

#31932 fix(playwrighttesting): Add support for multiple global files
  sdk/playwrighttesting/microsoft-playwright-testing/review/microsoft-playwright-testing.api.md
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/customerConfig.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/messages.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/types.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/global/playwright-service-global-setup.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/global/playwright-service-global-teardown.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
Labels: Microsoft Playwright Testing

#31957 Post release automated changes for networkcloud releases
  sdk/networkcloud/arm-networkcloud/CHANGELOG.md
  sdk/networkcloud/arm-networkcloud/package.json
  sdk/networkcloud/arm-networkcloud/src/networkCloud.ts
Labels: Mgmt

#31958 Post release automated changes for apimanagement releases
  sdk/apimanagement/arm-apimanagement/CHANGELOG.md
  sdk/apimanagement/arm-apimanagement/package.json
  sdk/apimanagement/arm-apimanagement/src/apiManagementClient.ts
Labels: Mgmt

#31964 [dev-tool] check for tshy usage when extracting api
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool
