Repository Azure/azure-sdk-for-js, pull requests merged in 2024-09, with the labels that each got.

#30956 Adding worker calculation from runner
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
Labels: customer-reported, Community Contribution, Microsoft Playwright Testing

#30959 Marking interrupted tests as skipped
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
Labels: customer-reported, Community Contribution, Microsoft Playwright Testing

#30977 [test-credential] Porting #30633 to test-credential v1
  common/config/rush/pnpm-lock.yaml
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/api-extractor.json
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-credential/src/index.ts
  sdk/test-utils/test-credential/tsconfig.json
Labels: test-utils

#30955 [identity] Throw if user-assigned IDs are used for CloudShell MSI
  sdk/identity/identity/BREAKING_CHANGES.md
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/msalMsiProvider.spec.ts
Labels: Azure.Identity

#30981 [OpenAI] Update Assistants sample
  sdk/openai/openai/samples-dev/codeInterpreter.ts
  sdk/openai/openai/samples/v2-beta/javascript/codeInterpreter.js
  sdk/openai/openai/samples/v2-beta/typescript/src/codeInterpreter.ts
Labels: OpenAI

#30940 Using the latest typespec commit ID and re-generating the SDK
  sdk/translation/ai-translation-document-rest/package.json
  sdk/translation/ai-translation-document-rest/review/ai-translation-document.api.md
  sdk/translation/ai-translation-document-rest/src/clientDefinitions.ts
  sdk/translation/ai-translation-document-rest/src/documentTranslationClient.ts
  sdk/translation/ai-translation-document-rest/src/index.ts
  sdk/translation/ai-translation-document-rest/src/isUnexpected.ts
  sdk/translation/ai-translation-document-rest/src/logger.ts
  sdk/translation/ai-translation-document-rest/src/models.ts
  sdk/translation/ai-translation-document-rest/src/outputModels.ts
  sdk/translation/ai-translation-document-rest/src/paginateHelper.ts
  sdk/translation/ai-translation-document-rest/src/parameters.ts
  sdk/translation/ai-translation-document-rest/src/pollingHelper.ts
  sdk/translation/ai-translation-document-rest/src/responses.ts
  sdk/translation/ai-translation-document-rest/tsp-location.yaml
Labels: Cognitive - Translator

#30985 Sync eng/common directory with azure-sdk-tools for PR 8912
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#30986 Sync eng/common directory with azure-sdk-tools for PR 8887
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#30983 [cure-util] Update CHANGELOG for release
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Identity, Azure.Core

#30980 [monitor] Update OTel Dependencies
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/CHANGELOG.md
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-opentelemetry/test/internal/unit/shared/config.test.ts
  sdk/monitor/monitor-query/package.json
  sdk/monitor/perf-tests/monitor-opentelemetry/package.json
Labels: OpenTelemetryInstrumentation

#30995 Sync eng/common directory with azure-sdk-tools for PR 8928
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#30953 Support operation-location final-state-via for LRO
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#30966 microsoft-playwright-testing: Adding new API version changes
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/httpService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/shard.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/storageUri.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/testResult.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/testRun.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/cIInfoProvider.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/serviceClient.ts
Labels: customer-reported, Community Contribution, Microsoft Playwright Testing

#31005 Post release automated changes for billing releases
  sdk/billing/arm-billing/CHANGELOG.md
  sdk/billing/arm-billing/package.json
  sdk/billing/arm-billing/src/billingManagementClient.ts
Labels: Mgmt

#31009 updated api error message
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
Labels: Microsoft Playwright Testing

#31017 chore(playwrighttesting): remove fallback authentication logic
  sdk/playwrighttesting/microsoft-playwright-testing/review/microsoft-playwright-testing.api.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/set-default-authentication-mechanism/playwright.service.config.js
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/set-default-authentication-mechanism/playwright.service.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/entraIdAccessToken.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/types.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightServiceEntra.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/common/entraIdAccessToken.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightServiceEntra.spec.ts
Labels: Microsoft Playwright Testing

#31016 docs(playwrighttesting): CHANGELOG 1.0.0-beta.1 release date changed to 9th Sep
  sdk/playwrighttesting/create-microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#31015 refactor(playwrighttesting): informational and error message changes
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/initialize.ts
  sdk/playwrighttesting/create-microsoft-playwright-testing/test/initialize.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/messages.ts
Labels: Microsoft Playwright Testing

#31024 docs(playwrighttesting): add new line to end of file - CHANGELOG
  sdk/playwrighttesting/create-microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#30739 Feat/cosmosdb client encryption
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/changeFeedUtils.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/diagnostics/CosmosDiagnosticsContext.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ClientEncryptionKeyPropertiesCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/EncryptionSettingsCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ProtectedDataEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionPolicy.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionManager.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionProcessor.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettings.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionTimeToLive.ts
  sdk/cosmosdb/cosmos/src/encryption/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/AeadAes256CbcHmacSha256Algorithm.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/ClientEncryptionKeyPropertiesCache.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/EncryptionSettingsCache.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/KeyEncryptionKeyCache.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/ProtectedDataEncryptionKeyCache.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/encryptionTestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/dotnetcse.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#31028 refactor(playwrighttesting): jsdocs example fixes and doc markdown changes
  sdk/playwrighttesting/microsoft-playwright-testing/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/manually-connecting-to-browsers/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/manually-connecting-to-browsers/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/types.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
Labels: Microsoft Playwright Testing

#31032 docs(playwrighttesting): unsupported markdown format in url
  sdk/playwrighttesting/microsoft-playwright-testing/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/manually-connecting-to-browsers/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/manually-connecting-to-browsers/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/set-default-authentication-mechanism/README.md
Labels: Microsoft Playwright Testing

#31036 Sync .github/workflows directory with azure-sdk-tools for PR 8942
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#31039 [test-credential] Include the correct types in package
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
Labels: test-utils

#31040 [OpenAI] Fix import
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
Labels: OpenAI

#31022 Sync eng/common directory with azure-sdk-tools for PR 8929
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#31019 [core] Create spans using automatic span propagation
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/ts-http-runtime/src/policies/tracingPolicy.ts
  sdk/core/ts-http-runtime/test/tracingPolicy.spec.ts
Labels: Azure.Core

#31041 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
Labels: OpenAI

#30725 Post release automated changes for test-utils releases
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
Labels: test-utils

#31048 [Storage] Fix broken browser tests
  sdk/storage/storage-blob/karma.conf.js
  sdk/storage/storage-file-datalake/karma.conf.js
  sdk/storage/storage-file-share/karma.conf.js
  sdk/storage/storage-queue/karma.conf.js
Labels: Storage

#30988 [web-pubsub-client's sample] Update package.json dependency from 'next' to 'latest' for azure/web-pubsub-client
  sdk/web-pubsub/web-pubsub-client/samples/v1/javascript/README.md
  sdk/web-pubsub/web-pubsub-client/samples/v1/javascript/helloworld.js
  sdk/web-pubsub/web-pubsub-client/samples/v1/javascript/package.json
  sdk/web-pubsub/web-pubsub-client/samples/v1/javascript/sample.env
  sdk/web-pubsub/web-pubsub-client/samples/v1/typescript/README.md
  sdk/web-pubsub/web-pubsub-client/samples/v1/typescript/package.json
  sdk/web-pubsub/web-pubsub-client/samples/v1/typescript/sample.env
  sdk/web-pubsub/web-pubsub-client/samples/v1/typescript/src/helloworld.ts
  sdk/web-pubsub/web-pubsub-client/samples/v1/typescript/tsconfig.json
Labels: customer-reported, WebPubSub, Community Contribution

#31035 Post release automated changes for playwrighttesting releases
  sdk/playwrighttesting/create-microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/create-microsoft-playwright-testing/package.json
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/package.json
Labels: Microsoft Playwright Testing

#31053 chore(playwrighttesting): rest-core client retries and timeout tuning
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/httpService.ts
Labels: Microsoft Playwright Testing

#31056 fix(playwrighttesting): scalable error message regex parsing
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
Labels: Microsoft Playwright Testing

#31059 [Translation] Fix min/max testing
  sdk/translation/ai-translation-document-rest/test/public/utils/recordedClient.ts
  sdk/translation/ai-translation-document-rest/test/public/utils/testHelper.ts
Labels: Cognitive - Translator

#30987 [ai-translation-document-rest] Preparing for GA release
  sdk/translation/ai-translation-document-rest/CHANGELOG.md
  sdk/translation/ai-translation-document-rest/README.md
  sdk/translation/ai-translation-document-rest/package.json
  sdk/translation/ai-translation-document-rest/test/public/node/cancelTranslationTest.spec.ts
  sdk/translation/ai-translation-document-rest/test/public/node/documentFilterTest.spec.ts
  sdk/translation/ai-translation-document-rest/test/public/node/documentTranslationTest.spec.ts
  sdk/translation/ai-translation-document-rest/test/public/node/translationFilterTest.spec.ts
  sdk/translation/ai-translation-document-rest/tsconfig.json
  sdk/translation/test-resources.bicep
Labels: Cognitive - Translator

#31046 [OpenAI] V1 deprecation
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai-assistants/CHANGELOG.md
  sdk/openai/openai-assistants/README.md
  sdk/openai/openai-assistants/review/openai-assistants.api.md
  sdk/openai/openai-assistants/src/assistantsClient.ts
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/README.md
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai.api.md
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/rest/openAIClient.ts
Labels: OpenAI

#30913 [Test] downgrade test-credential to v1 for Service Bus tests
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/karma.conf.js
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Labels: Service Bus

#31014 Sync eng/common directory with azure-sdk-tools for PR 8902
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#31064 [core] Prepare packages for release
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#31066 fix(playwrighttesting): fetch access token value from environment variables
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/environmentVariables.ts
Labels: Microsoft Playwright Testing

#31065 docs(playwrighttesting): enhance authentication section in README
  sdk/playwrighttesting/microsoft-playwright-testing/README.md
Labels: Microsoft Playwright Testing

#31075 docs(playwrighttesting): CHANGELOG for 1.0.0-beta.2 release for microsoft-playwright-testing
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#31077 [core] Remove excess listeners for streams
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
Labels: Azure.Core

#31021 [core-xml] fix stringifyXML missing XML namespace issue on Firefox
  sdk/core/core-client/package.json
  sdk/core/core-client/test/browser/serializationPolicyXML.spec.ts
  sdk/core/core-client/test/node/serializationPolicyXML.spec.ts
  sdk/core/core-client/test/serializationPolicy.spec.ts
  sdk/core/core-client/test/serviceClient.spec.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/src/xml-browser.mts
  sdk/core/core-xml/test/xml.spec.ts
Labels: Azure.Core

#31050 [eslint-plugin] exclude *.config.*ts from linting
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
Labels: eslint plugin

#31076 [core] Prepare release for core-lro in Sep
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#31085 batch test put test secret in fakeTestSecret.ts
  sdk/batch/batch/test/batchClient.spec.ts
Labels: Batch

#31089 Post release automated changes for playwrighttesting releases
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/package.json
Labels: Microsoft Playwright Testing

#31090 fix(playwrighttesting): Updated error handling for reporting
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/serviceClient.ts
Labels: Microsoft Playwright Testing

#31084 [keyvault-certificates] fix minmax failure
  sdk/keyvault/keyvault-certificates/test/public/lro.create.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
Labels: KeyVault

#31098 Add auto-baseline main pipeline config for core
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: Central-EngSys

#31103 [identity] update changelog for a previous release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#31104 Sync eng/common directory with azure-sdk-tools for PR 8958
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#31110 improved SAS expriy check logic
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
Labels: Microsoft Playwright Testing

#31106 Sync eng/common directory with azure-sdk-tools for PR 8959
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#31097 Post release automated changes for core releases
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#31116 Sync eng/common directory with azure-sdk-tools for PR 8963
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#31043 [test-utils] Port CHANGELOG from 1.x branch
  sdk/test-utils/test-credential/CHANGELOG.md
Labels: test-utils

#31117 [core] Use core-util's helper for exponential retry delay
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/retryStrategies/exponentialRetryStrategy.ts
  sdk/core/ts-http-runtime/src/retryStrategies/exponentialRetryStrategy.ts
Labels: Azure.Core

#31115 [identity] Use helper from core-util
  sdk/identity/identity/package.json
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsRetryPolicy.ts
Labels: Azure.Identity

#31112 fix(playwrighttesting): suppress POST test result API failures to prevent node process from being terminated
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/serviceClient.ts
Labels: Microsoft Playwright Testing

#31093 docs(playwrighttesting): CHANGELOG for 1.0.0-beta.3 release for microsoft-playwright-testing
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
Labels: Microsoft Playwright Testing

#31125 Post release automated changes for playwrighttesting releases
  sdk/playwrighttesting/microsoft-playwright-testing/CHANGELOG.md
  sdk/playwrighttesting/microsoft-playwright-testing/package.json
Labels: Microsoft Playwright Testing

#30301 [sample][image-analysis] update the dependency package version in package.json
  sdk/vision/ai-vision-image-analysis-rest/samples/javascript/package.json
Labels: Image Analysis

#31129 [Identity] Client assertion add token cache persistence
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/clientAssertionCredentialOptions.ts
Labels: Azure.Identity

#31132 Sync eng/common directory with azure-sdk-tools for PR 8974
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#31052 Client Side Encryption: Add documentations and improve implementation
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ClientSideEncryption.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ProtectedDataEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionIncludedPath.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyDefinition.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyProperties.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyRequest.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyResponse.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionPolicy.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/ProtectedDataEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/AzureKeyVaultEncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/EncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyWrapMetadata.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionManager.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionQueryBuilder.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettings.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionTimeToLive.ts
  sdk/cosmosdb/cosmos/src/encryption/KeyEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/EncryptionAlgorithm.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/EncryptionKeyResolverName.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/EncryptionType.ts
  sdk/cosmosdb/cosmos/src/encryption/enums/KeyEncryptionKeyAlgorithm.ts
  sdk/cosmosdb/cosmos/src/encryption/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
Labels: Cosmos

#31134 [identity] Support AZURE_AUTHORITY_HOST in cross cloud requests
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/utils.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#31138 [Schema Registry] Post release update for Schema Registry
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/schemaregistry/schema-registry/package.json
  sdk/schemaregistry/schema-registry/src/constants.ts
Labels: Schema Registry

#31136 Post release automated changes for schemaregistry releases
  sdk/schemaregistry/schema-registry-json/CHANGELOG.md
  sdk/schemaregistry/schema-registry-json/package.json
Labels: Schema Registry

#31079 [App Config] Fix App Config Tests
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/samples-dev/listLabels.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listLabels.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listLabels.ts
  sdk/appconfiguration/app-configuration/test/internal/node/http.spec.ts
  sdk/appconfiguration/app-configuration/test/internal/node/throttlingRetryPolicy.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration

#31141 Sync eng/common directory with azure-sdk-tools for PR 8994
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#31144 [Identity] update changelog for beta release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#31091 [Storage]Bump dependency version on @azure/core-xml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
Labels: Storage

#31150 Sync .github/workflows directory with azure-sdk-tools for PR 8995
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#31151 Sync eng/common directory with azure-sdk-tools for PR 9000
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#31155 Sync eng/common directory with azure-sdk-tools for PR 9004
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#31152 Sync eng/common directory with azure-sdk-tools for PR 8998
  eng/common/pipelines/templates/steps/verify-readmes.yml
Labels: EngSys, Central-EngSys

#31163 Sync eng/common directory with azure-sdk-tools for PR 9008
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#31154 [data-tables] Add support for Entra ID on Cosmos
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/package.json
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/src/TableServiceClient.ts
  sdk/tables/data-tables/src/generated/generatedClientContext.ts
  sdk/tables/data-tables/src/utils/constants.ts
  sdk/tables/data-tables/src/utils/tracing.ts
  sdk/tables/data-tables/swagger/README.md
  sdk/tables/data-tables/test/public/endpoint.spec.ts
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
Labels: Client, Tables

#31165 Sync eng/common directory with azure-sdk-tools for PR 9016
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#31159 [Storage] Add CPK support in uploadStream function
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
Labels: Storage

#31162 [tracing] Add support for addEvent
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/review/core-tracing.api.md
  sdk/core/core-tracing/src/index.ts
  sdk/core/core-tracing/src/instrumenter.ts
  sdk/core/core-tracing/src/interfaces.ts
  sdk/core/core-tracing/test/instrumenter.spec.ts
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/tracing/instrumenter.ts
  sdk/core/ts-http-runtime/src/tracing/interfaces.ts
  sdk/core/ts-http-runtime/test/tracing/instrumenter.spec.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/spanWrapper.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/transformations.ts
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/public/spanWrapper.spec.ts
Labels: Azure.Core, OpenTelemetryInstrumentation

#30905 Update JS SDK for Inline Attachments
  sdk/communication/communication-email/CHANGELOG.md
  sdk/communication/communication-email/assets.json
  sdk/communication/communication-email/package.json
  sdk/communication/communication-email/review/communication-email.api.md
  sdk/communication/communication-email/samples-dev/sendEmailWithInlineAttachments.ts
  sdk/communication/communication-email/samples/v1-beta/javascript/README.md
  sdk/communication/communication-email/samples/v1-beta/javascript/sendEmailWithInlineAttachments.js
  sdk/communication/communication-email/samples/v1-beta/typescript/README.md
  sdk/communication/communication-email/samples/v1-beta/typescript/src/sendEmailWithInlineAttachments.ts
  sdk/communication/communication-email/src/generated/src/emailRestApiClient.ts
  sdk/communication/communication-email/src/generated/src/models/index.ts
  sdk/communication/communication-email/src/generated/src/models/mappers.ts
  sdk/communication/communication-email/src/generated/src/models/parameters.ts
  sdk/communication/communication-email/swagger/README.md
  sdk/communication/communication-email/test/public/emailClient.spec.ts
  sdk/communication/communication-email/test/public/utils/recordedClient.ts
Labels: Communication - Email

#31180 [eslint-plugin] ignore *.api.md files from linting
  common/tools/eslint-plugin-azure-sdk/src/configs/markdown-customized.ts
Labels: eslint plugin

#31181 [EngSys] fix formatting
  sdk/apimanagement/api-management-custom-widgets-scaffolder/tsconfig.json
  sdk/formrecognizer/ai-form-recognizer/src/documentAnalysisClient.ts
  sdk/search/search-documents/tsconfig.json
Labels: Cognitive - Form Recognizer

#31182 [doc][mix-reality-auth] fix broken API ref link
  sdk/mixedreality/mixed-reality-authentication/README.md
Labels: Mixed Reality

#31178 fix(playwrighttesting): SDK Default Job Config as Empty Strings
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/cIInfoProvider.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/clInfoProvider.spec.ts
Labels: Microsoft Playwright Testing

#31171 [Storage]Bump SDK versions for STG95 GA
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#31189 Updating CODEOWNERS for 1espt config
  .github/CODEOWNERS
Labels: Central-EngSys

#31186 [@azure/eventgrid] Update System events for EG Version 5.7.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#31188 [@azure/eventgrid-system-events] Update System events for Version 1.0.0-beta.4
  sdk/eventgrid/eventgrid-system-events/CHANGELOG.md
  sdk/eventgrid/eventgrid-system-events/package.json
  sdk/eventgrid/eventgrid-system-events/review/eventgrid-system-events.api.md
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/models.ts
Labels: Event Grid

#31164 [dev-tool] generate merged api.json from subpath exports
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool

#31126 BUG FIXED: mismatch of workspace and error message printing twice.
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/entraIdAccessToken.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/executor.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/messages.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/types.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
Labels: Microsoft Playwright Testing

#31167 Sync eng/common directory with azure-sdk-tools for PR 9013
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#31205 [eslint-plugin] turning off some rules for test/snippets.spec.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
  sdk/notificationhubs/notification-hubs/eslint.config.mjs
  sdk/template/template/eslint.config.mjs
Labels: EngSys, eslint plugin

#31200 [OpenAI] Fix browser tests
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/tsconfig.browser.config.json
  sdk/openai/openai/vitest.browser.config.ts
Labels: OpenAI

#31199 [batch] upgrade dependency versions to address security alerts
  sdk/batch/batch/package.json
  sdk/batch/batch/rollup.config.mjs
Labels: Batch

#31133 [Search] Regenerate with 2024-09-01-preview spec
  common/config/rush/pnpm-lock.yaml
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/package.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples/v12-beta/javascript/package.json
  sdk/search/search-documents/samples/v12-beta/javascript/setup.js
  sdk/search/search-documents/samples/v12-beta/typescript/package.json
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/searchClientOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/setup.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generatedStringLiteralUnions.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/internal/serviceUtils.spec.ts
  sdk/search/search-documents/test/public/generated/typeDefinitions.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/typeDefinitions.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#31210 [Storage]Update file swagger spec to a commit on main
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage

#31203 [eslint-plugin] remove legacy configs
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
Labels: eslint plugin

#31197 [dev-tool] Add build-package command
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/build-package.ts
  common/tools/dev-tool/src/commands/run/index.ts
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core, dev-tool

#31212 Sync eng/common directory with azure-sdk-tools for PR 9035
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#31213 [dev-tool] only process api.json files if they are generated
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool

#30886 [OpenAI] Update Test Suite
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/node/batches.spec.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/tts.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/images-browser.mts
  sdk/openai/openai/test/public/utils/images.ts
  sdk/openai/openai/test/public/utils/logging.ts
  sdk/openai/openai/test/public/utils/models.ts
  sdk/openai/openai/test/public/utils/utils.ts
  sdk/openai/openai/tests.yml
  sdk/openai/openai/vitest.browser.config.ts
  sdk/openai/openai/vitest.config.ts
Labels: OpenAI

#31228 update tsp-location
  sdk/standbypool/arm-standbypool/tsp-location.yaml
Labels: Mgmt

#30767 Implement Render V2
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/README.md
  sdk/maps/maps-render-rest/assets.json
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/review/maps-render.api.md
  sdk/maps/maps-render-rest/samples-dev/getMapStaticImage.ts
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/README.md
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightCaption.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightForTile.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightForWorld.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getCopyrightFromBoundingBox.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapAttribution.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapStaticImage.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapTileInBrowser.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapTileInNode.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/getMapTileset.js
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/package.json
  sdk/maps/maps-render-rest/samples/v2-beta/javascript/sample.env
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/README.md
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/package.json
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/sample.env
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightCaption.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightForTile.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightForWorld.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getCopyrightFromBoundingBox.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapAttribution.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapStaticImage.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapTileInBrowser.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapTileInNode.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/src/getMapTileset.ts
  sdk/maps/maps-render-rest/samples/v2-beta/typescript/tsconfig.json
  sdk/maps/maps-render-rest/src/generated/clientDefinitions.ts
  sdk/maps/maps-render-rest/src/generated/isUnexpected.ts
  sdk/maps/maps-render-rest/src/generated/mapsRenderClient.ts
  sdk/maps/maps-render-rest/src/generated/parameters.ts
  sdk/maps/maps-render-rest/src/generated/responses.ts
  sdk/maps/maps-render-rest/swagger/README.md
  sdk/maps/maps-render-rest/test/public/createPathQuery.spec.ts
  sdk/maps/maps-render-rest/test/public/createPinsQuery.spec.ts
  sdk/maps/maps-render-rest/test/public/mapsRender.spec.ts
Labels: Maps

#31216 [identity] document various user-assigned managed identities
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity

#31238 Sync eng/common directory with azure-sdk-tools for PR 9059
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#31239 [OpenAI] Set up logging for browser
  sdk/openai/openai/test/public/utils/setup.ts
Labels: OpenAI

#31237 Sync eng/common directory with azure-sdk-tools for PR 9057
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#31240 [template] skip samples execution temporarily
  sdk/template/template/package.json
Labels: EngSys

#31243 [ServiceBus] integrate changelog from 7.9.5
  sdk/servicebus/service-bus/CHANGELOG.md
Labels: Service Bus

#31248 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt

#31249 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#31250 Post release automated changes for avs releases
  sdk/avs/arm-avs/CHANGELOG.md
  sdk/avs/arm-avs/package.json
  sdk/avs/arm-avs/src/azureVMwareSolutionAPI.ts
Labels: Mgmt

#31251 Post release automated changes for desktopvirtualization releases
  sdk/desktopvirtualization/arm-desktopvirtualization/CHANGELOG.md
  sdk/desktopvirtualization/arm-desktopvirtualization/package.json
  sdk/desktopvirtualization/arm-desktopvirtualization/src/desktopVirtualizationAPIClient.ts
Labels: Mgmt

#31252 [dev-tool] Generate detailed report for ESM migrations
  common/tools/dev-tool/src/commands/admin/list/esm-migrations.ts
Labels: dev-tool

#31221 Post release automated changes for storage releases
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
Labels: Storage

#31194 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#31259 Post release automated changes for servicenetworking releases
  sdk/servicenetworking/arm-servicenetworking/CHANGELOG.md
  sdk/servicenetworking/arm-servicenetworking/package.json
  sdk/servicenetworking/arm-servicenetworking/src/serviceNetworkingManagementClient.ts
Labels: Mgmt

#31269 [dev-tool] migrate-package command improvements
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#31272 [core] Prepare core-tracing for release
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
Labels: Azure.Core
