Repository Azure/azure-sdk-for-js, pull requests merged in 2024-05, with the labels that each got.

#29539 [Test] skip template browser tests to unblock `js - core - ci` pipeline
  sdk/template/template/package.json
Labels: EngSys, Client

#29547 Feature/ru capping+vector search
  sdk/cosmosdb/ci.yml
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ContainerManagement.ts
  sdk/cosmosdb/cosmos/src/client/Container/ContainerDefinition.ts
  sdk/cosmosdb/cosmos/src/common/RUConsumedManager.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/index.ts
  sdk/cosmosdb/cosmos/src/documents/IndexingPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/VectorEmbeddingPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/GroupByValueEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OffsetLimitEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OrderByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/OrderedDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/UnorderedDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/ExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/defaultQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/OperationOptions.ts
  sdk/cosmosdb/cosmos/src/request/RUCapPerOperationExceededError.ts
  sdk/cosmosdb/cosmos/src/request/index.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/vectorEmbeddingPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/query.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#29463 npm additional tag whitespace check
  eng/pipelines/templates/steps/npm-release-task.yml
  eng/tools/publish-to-npm.ps1
Labels: Central-EngSys

#29533 Update service connection ID docs
  sdk/identity/identity/src/credentials/azurePipelinesServiceConnectionCredential.ts
Labels: Azure.Identity

#29531 Update URL on short codes recordings
  .github/CODEOWNERS
  sdk/communication/communication-messages-rest/CHANGELOG.md
  sdk/communication/communication-messages-rest/assets.json
  sdk/communication/communication-messages-rest/package.json
  sdk/communication/communication-messages-rest/src/generated/src/messagesServiceClient.ts
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_list_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/browsers/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_delete_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__creates_gets_updates_lists_and_deletes_us_program_brief/recording_can_create_and_list_a_us_program_brief.json
  sdk/communication/communication-short-codes/recordings/node/shortcodesclient__manage_attachments/recording_can_manage_attachments.json
Labels: Communication - Short Codes

#29549 [test-utils] Update to release package
  sdk/test-utils/test-utils/CHANGELOG.md
  sdk/test-utils/test-utils/package.json
Labels: test-utils

#29548 [core] regen tracing samples
  sdk/core/core-tracing/samples/v1/javascript/basicTracing.js
  sdk/core/core-tracing/samples/v1/javascript/package.json
  sdk/core/core-tracing/samples/v1/typescript/package.json
  sdk/core/core-tracing/samples/v1/typescript/src/basicTracing.ts
  sdk/core/core-tracing/samples/v1/typescript/tsconfig.json
Labels: Azure.Core

#29550 [template] Fix loupe issue
  common/config/rush/pnpm-lock.yaml
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
Labels: EngSys, test-utils

#29476 Post release automated changes for guestconfiguration releases
  sdk/guestconfiguration/arm-guestconfiguration/CHANGELOG.md
  sdk/guestconfiguration/arm-guestconfiguration/package.json
  sdk/guestconfiguration/arm-guestconfiguration/src/guestConfigurationClient.ts
Labels: Mgmt

#29475 Post release automated changes for selfhelp releases
  sdk/selfhelp/arm-selfhelp/CHANGELOG.md
  sdk/selfhelp/arm-selfhelp/package.json
  sdk/selfhelp/arm-selfhelp/src/helpRP.ts
Labels: Mgmt

#29446 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
Labels: Mgmt

#29526 [Communication] - sms - Added release date of version 1.2.0-beta.1
  sdk/communication/communication-sms/CHANGELOG.md
Labels: Communication - SMS

#29542 [EngSys] upgrade typescript-eslint version to ~7.8.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/admin/list/packages.ts
  common/tools/dev-tool/src/commands/run/extract-api.ts
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/vite-plugin-browser-test-map/src/index.ts
  sdk/.eslintrc.internal.json
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-client-rest/test/sendRequest.spec.ts
  sdk/core/ts-http-runtime/src/client/getClient.ts
  sdk/core/ts-http-runtime/test/client/sendRequest.spec.ts
  sdk/cosmosdb/cosmos/.eslintrc.json
  sdk/cosmosdb/cosmos/src/utils/SasToken.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/partitionInfo.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/runtimeInfo.ts
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
  sdk/test-utils/perf/src/eventPerfTest.ts
  sdk/test-utils/perf/src/multicore.ts
  sdk/test-utils/perf/test/exception.spec.ts
  sdk/test-utils/recorder/src/options.ts
  sdk/test-utils/recorder/test/errors.spec.ts
  sdk/test-utils/recorder/test/recorder.spec.ts
  sdk/test-utils/recorder/test/testProxyClient.spec.ts
  sdk/test-utils/test-utils/src/global.browser.ts
  sdk/test-utils/test-utils/src/global.ts
  sdk/test-utils/test-utils/src/matrix.ts
  sdk/test-utils/test-utils/src/multiVersion.ts
  sdk/test-utils/test-utils/src/tracing/chaiAzureTrace.ts
  sdk/test-utils/test-utils/src/xhrHttpClient.ts
  sdk/test-utils/test-utils/test/browser/xhrHttpClient.spec.ts
  sdk/test-utils/test-utils/test/tracing/mockInstrumenter.spec.ts
Labels: Event Hubs, Cosmos, Azure.Core, test-utils

#29541 Post release automated changes for communication releases
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
Labels: Communication

#29563 [ACS][CallAutomation] Update common version and TeamsAppIdentifier
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/utli/converters.ts
Labels: Communication

#29566 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
Labels: Azure.Core

#29411 [Test][core] inline build:test commands into browser test scripts
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
  sdk/template/template-dpg/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/test-utils/test-utils/package.json
Labels: Azure.Core

#29524 [Recorder] Batch Sanitizers
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/sanitizer.ts
  sdk/test-utils/recorder/src/utils/paths.ts
Labels: test-utils

#29303 [core-amqp] Move to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/.eslintrc.json
  sdk/core/core-amqp/.tshy/build.json
  sdk/core/core-amqp/.tshy/commonjs.json
  sdk/core/core-amqp/.tshy/esm.json
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/api-extractor.json
  sdk/core/core-amqp/karma.conf.js
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/amqpAnnotatedMessage.ts
  sdk/core/core-amqp/src/auth/tokenProvider.ts
  sdk/core/core-amqp/src/cbs.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/internals.ts
  sdk/core/core-amqp/src/messageHeader.ts
  sdk/core/core-amqp/src/messageProperties.ts
  sdk/core/core-amqp/src/requestResponseLink.ts
  sdk/core/core-amqp/src/retry.ts
  sdk/core/core-amqp/src/util/checkNetworkConnection-browser.mts
  sdk/core/core-amqp/src/util/checkNetworkConnection.ts
  sdk/core/core-amqp/src/util/hmacSha256-browser.mts
  sdk/core/core-amqp/src/util/hmacSha256.ts
  sdk/core/core-amqp/src/util/lock.ts
  sdk/core/core-amqp/src/util/react-native.d.ts
  sdk/core/core-amqp/src/util/runtimeInfo-browser.mts
  sdk/core/core-amqp/src/util/runtimeInfo-react-native.mts
  sdk/core/core-amqp/src/util/runtimeInfo.native.ts
  sdk/core/core-amqp/src/util/typeGuards.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/browser/websockets.spec.ts
  sdk/core/core-amqp/test/cbs.spec.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/core/core-amqp/test/errors.spec.ts
  sdk/core/core-amqp/test/lock.spec.ts
  sdk/core/core-amqp/test/message.spec.ts
  sdk/core/core-amqp/test/node/websockets.spec.ts
  sdk/core/core-amqp/test/requestResponse.spec.ts
  sdk/core/core-amqp/test/retry.spec.ts
  sdk/core/core-amqp/test/tokenProvider.spec.ts
  sdk/core/core-amqp/test/utils/createConnectionStub.ts
  sdk/core/core-amqp/tsconfig.browser.config.json
  sdk/core/core-amqp/tsconfig.json
  sdk/core/core-amqp/vitest.browser.config.ts
  sdk/core/core-amqp/vitest.config.ts
Labels: Azure.Core

#29586 [mgmt] fix secret issue in samples
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/samples-dev/extensionsCreateSample.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/samples-dev/extensionsUpdateSample.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/samples/v6/javascript/extensionsCreateSample.js
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/samples/v6/javascript/extensionsUpdateSample.js
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/samples/v6/typescript/src/extensionsCreateSample.ts
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration/samples/v6/typescript/src/extensionsUpdateSample.ts
Labels: Mgmt

#29582 [Service Bus] Fix build failure `typeof chai.assert`
  sdk/servicebus/service-bus/test/internal/auth.spec.ts
  sdk/servicebus/service-bus/test/internal/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/renewLock.spec.ts
  sdk/servicebus/service-bus/test/internal/sendBatch.spec.ts
  sdk/servicebus/service-bus/test/internal/smoketest.spec.ts
  sdk/servicebus/service-bus/test/internal/streamingReceiverSessions.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/abortSignal.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/amqpUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/atomXml.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/autoLockRenewer.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/connectionString.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/errors.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/messageSession.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverCommon.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/receiverHelper.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/sender.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusMessage.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusReceiverUnitTests.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/streamingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/utils.spec.ts
  sdk/servicebus/service-bus/test/public/amqpAnnotatedMessage.spec.ts
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
  sdk/servicebus/service-bus/test/public/ruleManager.spec.ts
  sdk/servicebus/service-bus/test/public/utils/testUtils.ts
Labels: Service Bus

#29577 [test-credential] DAC update
  common/config/rush/pnpm-lock.yaml
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-credential/review/test-credential.api.md
  sdk/test-utils/test-credential/src/index.ts
Labels: test-utils

#29515 revert script in compute-rest
  sdk/compute/arm-compute-rest/assets.json
  sdk/compute/arm-compute-rest/test/public/compute-rest-sample.spec.ts
Labels: Mgmt

#29474 [webpubsubclient] Fix a bug that 0 sequenceId won't be sent to service
  sdk/web-pubsub/web-pubsub-client/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-client/package.json
  sdk/web-pubsub/web-pubsub-client/src/webPubSubClient.ts
  sdk/web-pubsub/web-pubsub-client/test/client.lifetime.spec.ts
Labels: WebPubSub

#29611 [Test] fix build errors due to changes in latest @types/chai
  sdk/digitaltwins/digital-twins-core/test/public/testComponents.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testDigitalTwins.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testEventRoutes.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testModels.spec.ts
  sdk/digitaltwins/digital-twins-core/test/public/testRelationships.spec.ts
  sdk/eventhub/event-hubs/test/connectionStringUtils.spec.ts
  sdk/eventhub/event-hubs/test/internal/amqp.spec.ts
  sdk/eventhub/event-hubs/test/internal/bufferedProducerUnitTests.spec.ts
  sdk/eventhub/event-hubs/test/public/amqpAnnotatedMessage.spec.ts
  sdk/eventhub/event-hubs/test/public/eventHubBufferedProducerClient.spec.ts
Labels: Event Hubs, Digital Twins

#29598 [Search] Fix documentation for preview client
  sdk/search/search-documents/README.md
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexerOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/searchClientOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/skillSetOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/stickySession.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectorSearch.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
Labels: Search

#29580 [Identity] Update naming to AzurePipelinesCredential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
  sdk/identity/identity/src/credentials/azurePipelinesCredential.browser.ts
  sdk/identity/identity/src/credentials/azurePipelinesCredential.ts
  sdk/identity/identity/src/credentials/azurePipelinesCredentialOptions.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/test/public/node/azurePipelines.spec.ts
Labels: Azure.Identity

#29627 esrp release fix
  eng/pipelines/templates/steps/npm-release-task.yml
Labels: Central-EngSys

#29628 [core-amqp] disable tshy selfLink
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#29606 [core] Sanitize URLs in tracing policy
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/createPipelineFromOptions.ts
  sdk/core/core-rest-pipeline/src/policies/tracingPolicy.ts
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/createPipelineFromOptions.ts
  sdk/core/ts-http-runtime/src/policies/tracingPolicy.ts
  sdk/core/ts-http-runtime/src/util/sanitizer.ts
  sdk/core/ts-http-runtime/test/tracingPolicy.spec.ts
Labels: Azure.Core

#29405 [identity] DeviceCodeCredential uses MSALClient
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/assets.json
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#29195 [Event Hubs] Support Development Emulator
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/src/util/constants.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/core/core-amqp/test/context.spec.ts
  sdk/core/core-amqp/test/isLoopbackAddress.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/review/event-hubs.api.md
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs, Azure.Core

#29639 [identity] Release beta for AzurePipelinesCredential
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/azurePipelinesCredential.ts
Labels: Azure.Identity

#29616 [test-credential] Credential relay for browser tests
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/index.ts
  common/tools/dev-tool/src/commands/run/startBrowserRelay.ts
  common/tools/dev-tool/src/commands/run/testBrowser.ts
  common/tools/dev-tool/src/commands/run/testVitest.ts
  common/tools/dev-tool/src/util/browserRelayServer.ts
  eng/pipelines/templates/jobs/live.tests.yml
  rush.json
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-credential/review/test-credential.api.md
  sdk/test-utils/test-credential/src/browserRelayCredential.ts
  sdk/test-utils/test-credential/src/index.ts
Labels: test-utils

#29641 [test-credential] DAC and browser relay changes cherry-pick to v1 test-credential
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/commands/run/index.ts
  common/tools/dev-tool/src/commands/run/startBrowserRelay.ts
  common/tools/dev-tool/src/commands/run/testBrowser.ts
  common/tools/dev-tool/src/commands/run/testVitest.ts
  common/tools/dev-tool/src/util/browserRelayServer.ts
  eng/pipelines/templates/jobs/live.tests.yml
  rush.json
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-credential/review/test-credential.api.md
  sdk/test-utils/test-credential/src/browserRelayCredential.ts
  sdk/test-utils/test-credential/src/index.ts
Labels: test-utils

#29643 [test-credential] rush update --full
  common/config/rush/pnpm-lock.yaml
  sdk/template/template/package.json
  sdk/test-utils/test-credential/package.json
Labels: EngSys, test-utils

#29636 [EngSys] enable build cache for more packages in core - ci pipelines
  sdk/resources/arm-resources/config/rush-project.json
  sdk/servicebus/service-bus/config/rush-project.json
  sdk/template/template/config/rush-project.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
Labels: EngSys, Mgmt, Service Bus, test-utils

#29600 [Search] Miscellaneous small fixups
  common/config/rush/pnpm-lock.yaml
  sdk/search/search-documents/api-extractor.json
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/karma.conf.js
  sdk/search/search-documents/package.json
  sdk/search/search-documents/sample.env
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples-dev/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples-dev/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples-dev/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples-dev/indexOperations.ts
  sdk/search/search-documents/samples-dev/indexerOperations.ts
  sdk/search/search-documents/samples-dev/searchClientOperations.ts
  sdk/search/search-documents/samples-dev/setup.ts
  sdk/search/search-documents/samples-dev/skillSetOperations.ts
  sdk/search/search-documents/samples-dev/stickySession.ts
  sdk/search/search-documents/samples-dev/synonymMapOperations.ts
  sdk/search/search-documents/samples-dev/vectorSearch.ts
  sdk/search/search-documents/samples/v12-beta/javascript/README.md
  sdk/search/search-documents/samples/v12-beta/javascript/bufferedSenderAutoFlushSize.js
  sdk/search/search-documents/samples/v12-beta/javascript/bufferedSenderAutoFlushTimer.js
  sdk/search/search-documents/samples/v12-beta/javascript/bufferedSenderManualFlush.js
  sdk/search/search-documents/samples/v12-beta/javascript/dataSourceConnectionOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/indexOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/indexerOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/package.json
  sdk/search/search-documents/samples/v12-beta/javascript/sample.env
  sdk/search/search-documents/samples/v12-beta/javascript/searchClientOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/skillSetOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/stickySession.js
  sdk/search/search-documents/samples/v12-beta/javascript/synonymMapOperations.js
  sdk/search/search-documents/samples/v12-beta/javascript/vectorSearch.js
  sdk/search/search-documents/samples/v12-beta/typescript/README.md
  sdk/search/search-documents/samples/v12-beta/typescript/package.json
  sdk/search/search-documents/samples/v12-beta/typescript/sample.env
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushSize.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderAutoFlushTimer.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/bufferedSenderManualFlush.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/dataSourceConnectionOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/indexerOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/searchClientOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/setup.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/skillSetOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/stickySession.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/synonymMapOperations.ts
  sdk/search/search-documents/samples/v12-beta/typescript/src/vectorSearch.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#29662 [Recorder] RemoveSanitizers API to 3.4.0 hotfix
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/sanitizer.ts
  sdk/test-utils/recorder/src/utils/fallbackSanitizers.ts
  sdk/test-utils/recorder/src/utils/paths.ts
Labels: test-utils

#29596 [Search] Enable vector compression tests
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/test/compressionDisabled.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#29668 [Test][core-amqp] fix deprecated dependency warnings
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/vitest.browser.config.ts
Labels: Azure.Core

#29633 [test][CI] move test building into test:browser scripts
  sdk/identity/identity/package.json
  sdk/servicebus/service-bus/package.json
  sdk/synapse/synapse-access-control/package.json
Labels: Service Bus, Azure.Identity, Synapse

#29660 [mgmt] selfhelp release
  common/config/rush/pnpm-lock.yaml
  sdk/selfhelp/arm-selfhelp/CHANGELOG.md
  sdk/selfhelp/arm-selfhelp/README.md
  sdk/selfhelp/arm-selfhelp/_meta.json
  sdk/selfhelp/arm-selfhelp/assets.json
  sdk/selfhelp/arm-selfhelp/package.json
  sdk/selfhelp/arm-selfhelp/review/arm-selfhelp.api.md
  sdk/selfhelp/arm-selfhelp/samples-dev/discoverySolutionNlpSubscriptionScopePostSample.ts
  sdk/selfhelp/arm-selfhelp/samples-dev/discoverySolutionNlpTenantScopePostSample.ts
  sdk/selfhelp/arm-selfhelp/samples-dev/operationsListSample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/discoverySolutionNlpSubscriptionScopePostSample.js
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/discoverySolutionNlpTenantScopePostSample.js
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/javascript/operationsListSample.js
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/src/discoverySolutionNlpSubscriptionScopePostSample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/src/discoverySolutionNlpTenantScopePostSample.ts
  sdk/selfhelp/arm-selfhelp/samples/v2-beta/typescript/src/operationsListSample.ts
  sdk/selfhelp/arm-selfhelp/src/helpRP.ts
  sdk/selfhelp/arm-selfhelp/src/models/index.ts
  sdk/selfhelp/arm-selfhelp/src/models/parameters.ts
  sdk/selfhelp/arm-selfhelp/src/operations/discoverySolutionNLPSubscriptionScope.ts
  sdk/selfhelp/arm-selfhelp/src/operationsInterfaces/discoverySolutionNLPSubscriptionScope.ts
  sdk/selfhelp/arm-selfhelp/test/selfhelp_operations_test.spec.ts
Labels: Mgmt

#29675 Post release automated changes for selfhelp releases
  sdk/selfhelp/arm-selfhelp/CHANGELOG.md
  sdk/selfhelp/arm-selfhelp/package.json
  sdk/selfhelp/arm-selfhelp/src/helpRP.ts
Labels: Mgmt

#29656 [identity] Migrate UsernamePasswordCredential to MSALClient
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/assets.json
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#29638 [core-rest-pipeline] Improve robustness of tokenCycler
  sdk/core/core-rest-pipeline/src/util/tokenCycler.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/src/util/tokenCycler.ts
  sdk/core/ts-http-runtime/test/bearerTokenAuthenticationPolicy.spec.ts
Labels: Client, Azure.Core

#29702 Sync eng/common directory with azure-sdk-tools for PR 8268
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Labels: EngSys, Central-EngSys

#29665 [Test] add environment variables that is needed by samples
  sdk/cognitivelanguage/ai-language-conversations/tests.yml
Labels: Cognitive - Language

#29673 Sync eng/common directory with azure-sdk-tools for PR 8249
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#29697 [engsys] upgrade dev dependency eslint-plugin-markdown to ^5.0.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  sdk/communication/communication-recipient-verification/README.md
  sdk/communication/communication-short-codes/README.md
  sdk/communication/communication-tiering/README.md
  sdk/identity/identity-broker/README.md
  sdk/remoterendering/mixed-reality-remote-rendering/README.md
Labels: Azure.Identity, Communication, Remote Rendering, Communication - Short Codes

#29726 version upgrade msal-node-extensions
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-cache-persistence/package.json
Labels: Mgmt, Cosmos, Azure.Identity

#29717 [Event Hubs] Fix typos in JSDoc
  sdk/eventhub/event-hubs/src/eventData.ts
  sdk/eventhub/event-hubs/src/eventDataBatch.ts
  sdk/eventhub/event-hubs/src/eventHubBufferedProducerClient.ts
  sdk/eventhub/event-hubs/src/eventhubConnectionConfig.ts
  sdk/eventhub/event-hubs/src/models/public.ts
Labels: customer-reported, Event Hubs, Community Contribution

#29708 Sync eng/common directory with azure-sdk-tools for PR 8216
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#29725 Link to AzurePipelinesCredential API ref page
  sdk/identity/identity/README.md
Labels: Azure.Identity

#29721 Added beta4 interruptCallMediaOperation to playToAll.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
Labels: Communication

#29724 Sync eng/common directory with azure-sdk-tools for PR 8267
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#29652 Added beta4 audio streaming apis and events.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
Labels: Communication

#29678 Added Beta4 PlayStarted Event.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/models/events.ts
Labels: Communication

#29719 Beta4 HoldOptions update operationCallbackUri to operationCallbackUrl
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
Labels: Communication

#29728 Sync eng/common directory with azure-sdk-tools for PR 8270
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#29716 Post release automated changes for security releases
  sdk/security/arm-security/CHANGELOG.md
  sdk/security/arm-security/package.json
  sdk/security/arm-security/src/securityCenter.ts
Labels: Mgmt

#29718 Post release automated changes for core releases
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#29734 Sync eng/common directory with azure-sdk-tools for PR 8277
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#29450 GA core-lro v3
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/docs/MIGRATION.md
  sdk/core/core-lro/package.json
Labels: Azure.Core

#29747 Sync eng/common directory with azure-sdk-tools for PR 8288
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#29746 Sync eng/common directory with azure-sdk-tools for PR 8283
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#29421 Sync eng/common directory with azure-sdk-tools for PR 8157
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#29752 [web pub sub] upgrade protobufjs
  common/config/rush/pnpm-lock.yaml
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: WebPubSub

#29745 Added Beta4 Recognize Prompt List.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/test/callMediaClient.spec.ts
Labels: Communication

#29754 Sync eng/common directory with azure-sdk-tools for PR 8295
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#29595 [Search] Refactor tests
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/searchIndexingBufferedSender.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#29761 [Event Hubs] Prepare release
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/review/core-amqp.api.md
  sdk/core/core-amqp/src/connectionConfig/connectionConfig.ts
  sdk/core/core-amqp/src/index.ts
  sdk/core/core-amqp/test/config.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/src/util/connectionStringUtils.ts
Labels: Event Hubs, Azure.Core

#29594 [Search] Regenerate with 2024-05-01-preview spec
  .vscode/cspell.json
  sdk/search/search-documents/CHANGELOG.md
  sdk/search/search-documents/assets.json
  sdk/search/search-documents/review/search-documents.api.md
  sdk/search/search-documents/src/constants.ts
  sdk/search/search-documents/src/generated/data/models/index.ts
  sdk/search/search-documents/src/generated/data/models/mappers.ts
  sdk/search/search-documents/src/generated/data/models/parameters.ts
  sdk/search/search-documents/src/generated/data/operations/documents.ts
  sdk/search/search-documents/src/generated/data/searchClient.ts
  sdk/search/search-documents/src/generated/service/models/index.ts
  sdk/search/search-documents/src/generated/service/models/mappers.ts
  sdk/search/search-documents/src/generated/service/searchServiceClient.ts
  sdk/search/search-documents/src/generatedStringLiteralUnions.ts
  sdk/search/search-documents/src/index.ts
  sdk/search/search-documents/src/indexModels.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/serviceModels.ts
  sdk/search/search-documents/src/serviceUtils.ts
  sdk/search/search-documents/swagger/Data.md
  sdk/search/search-documents/swagger/Service.md
  sdk/search/search-documents/test/public/generated/typeDefinitions.ts
  sdk/search/search-documents/test/public/node/searchClient.spec.ts
  sdk/search/search-documents/test/public/node/searchIndexClient.spec.ts
  sdk/search/search-documents/test/public/utils/recordedClient.ts
  sdk/search/search-documents/test/public/utils/setup.ts
Labels: Search

#29767 Post release automated changes for eventhub releases
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
Labels: Event Hubs

#29763 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#29751 [eslint-plugin] support Flat Config
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/.eslintrc.json
  common/tools/eslint-plugin-azure-sdk/eslint.config.mjs
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/eslint-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/markdown-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/index.ts
  common/tools/eslint-plugin-azure-sdk/src/typings/eslint-plugin-markdown.d.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  common/tools/eslint-plugin-azure-sdk/tsconfig.build.json
  sdk/core/core-rest-pipeline/config/rush-project.json
  sdk/cosmosdb/cosmos/.eslintignore
  sdk/cosmosdb/cosmos/.eslintrc.json
  sdk/cosmosdb/cosmos/eslint.config.mjs
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/utils/globalCrypto.native.ts
  sdk/identity/identity-broker/.eslintrc.json
  sdk/identity/identity-broker/eslint.config.mjs
  sdk/identity/identity-broker/package.json
Labels: Cosmos, Azure.Identity, Azure.Core

#29778 [identity] Re-enable tests
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/assets.json
  sdk/identity/identity/package.json
  sdk/identity/identity/test/node/msalNodeTestSetup.ts
  sdk/identity/identity/test/public/node/tokenProvider.spec.ts
  sdk/identity/test-resources-pre.ps1
Labels: Azure.Identity

#29753 Sync eng/common directory with azure-sdk-tools for PR 8294
  eng/common/testproxy/target_version.txt
  eng/target_proxy_version.txt
Labels: EngSys, Central-EngSys

#29765 Client side encryption
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/common/statusCodes.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ClientEncryptionKeyPropertiesCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/EncryptionSettingsCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/KeyEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ProtectedDataEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/buildEncryptionCache.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/index.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKey/ProtectedDataEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionProcessor.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionQueryBuilder.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettingForProperty.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettings.ts
  sdk/cosmosdb/cosmos/src/encryption/KeyEncryptionKey.ts
  sdk/cosmosdb/cosmos/src/encryption/Serializers/BooleanSerializer.ts
  sdk/cosmosdb/cosmos/src/encryption/Serializers/FloatSerializer.ts
  sdk/cosmosdb/cosmos/src/encryption/Serializers/NumberSerializer.ts
  sdk/cosmosdb/cosmos/src/encryption/Serializers/StringSerializer.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/SqlQuerySpec.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/dotnetcse.spec.ts
Labels: Cosmos

#29775 [test-util] Move core-tracing to peerDependencies
  common/tools/dev-tool/src/commands/run/bundle.ts
  common/tools/dev-tool/src/util/resolveProject.ts
  sdk/test-utils/test-utils/package.json
Labels: test-utils

#29790 Sync eng/common directory with azure-sdk-tools for PR 8278
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#29682 Fix cosmos db ci pipeline tests
  eng/pipelines/templates/stages/cosmos-sdk-client.yml
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/number.ts
  sdk/cosmosdb/cosmos/test/public/functional/client.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
Labels: Cosmos

#29794 Post release automated changes for maintenance releases
  sdk/maintenance/arm-maintenance/CHANGELOG.md
  sdk/maintenance/arm-maintenance/package.json
  sdk/maintenance/arm-maintenance/src/maintenanceManagementClient.ts
Labels: Mgmt

#29796 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservicefleet/CHANGELOG.md
  sdk/containerservice/arm-containerservicefleet/package.json
  sdk/containerservice/arm-containerservicefleet/src/containerServiceFleetClient.ts
Labels: Mgmt

#29795 Post release automated changes for storagecache releases
  sdk/storagecache/arm-storagecache/CHANGELOG.md
  sdk/storagecache/arm-storagecache/package.json
  sdk/storagecache/arm-storagecache/src/storageCacheManagementClient.ts
Labels: Mgmt

#29797 Post release automated changes for recoveryservices releases
  sdk/recoveryservices/arm-recoveryservices/CHANGELOG.md
  sdk/recoveryservices/arm-recoveryservices/package.json
  sdk/recoveryservices/arm-recoveryservices/src/recoveryServicesClient.ts
Labels: Mgmt

#29799 Post release automated changes for recoveryservicesbackup releases
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/CHANGELOG.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/package.json
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/src/recoveryServicesBackupClient.ts
Labels: Mgmt

#29800 Post release automated changes for sql releases
  sdk/sql/arm-sql/CHANGELOG.md
  sdk/sql/arm-sql/package.json
  sdk/sql/arm-sql/src/sqlManagementClient.ts
Labels: Mgmt

#29807 [ServiceBus] upgrade dependency @azure/abort-controller to ^2.1.2
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples-dev/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/samples/v7-beta/javascript/package.json
  sdk/servicebus/service-bus/samples/v7-beta/typescript/package.json
  sdk/servicebus/service-bus/samples/v7/javascript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/package.json
  sdk/servicebus/service-bus/samples/v7/typescript/src/advanced/sessionRoundRobin.ts
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/test/internal/batchReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/connectionManagement.spec.ts
  sdk/servicebus/service-bus/test/internal/operationOptionsForATOM.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/batchingReceiver.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/linkentity.unittest.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/serviceBusClient.spec.ts
  sdk/servicebus/service-bus/test/internal/unit/utils.spec.ts
  sdk/servicebus/service-bus/test/public/sendAndSchedule.spec.ts
  sdk/servicebus/service-bus/test/public/sessionsTests.spec.ts
  sdk/servicebus/service-bus/test/stress/app/src/scenarioLongRunning.ts
Labels: Service Bus

#29829 [test-util] Update package version
  common/config/rush/pnpm-lock.yaml
  sdk/test-utils/test-utils/CHANGELOG.md
  sdk/test-utils/test-utils/package.json
Labels: test-utils

#29784 Sync eng/common directory with azure-sdk-tools for PR 8319
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#29836 Sync eng/common directory with azure-sdk-tools for PR 8340
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#29835 Revert "[test-util] Move core-tracing to peerDependencies (#29775)"
  common/tools/dev-tool/src/commands/run/bundle.ts
  common/tools/dev-tool/src/util/resolveProject.ts
  sdk/test-utils/test-utils/package.json
Labels: test-utils

#29830 Post release automated changes for test-utils releases
  sdk/test-utils/test-utils/CHANGELOG.md
  sdk/test-utils/test-utils/package.json
Labels: test-utils

#29825 [Storage]Remove secondary host from retry policy, file share does not support secondary
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-file-share/src/StorageRetryPolicyFactory.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicy.ts
  sdk/storage/storage-file-share/src/policies/StorageRetryPolicyV2.ts
  sdk/storage/storage-file-share/test/retrypolicy.spec.ts
  sdk/storage/storage-file-share/test/utils/InjectorPolicy.ts
  sdk/storage/storage-file-share/test/utils/index.browser.ts
  sdk/storage/storage-file-share/test/utils/index.ts
Labels: Storage

#29814 Fix Azure Content Safety sample issue
  sdk/contentsafety/ai-content-safety-rest/package.json
  sdk/contentsafety/ai-content-safety-rest/samples-dev/sampleAnalyzeImage.ts
  sdk/contentsafety/ai-content-safety-rest/samples/v1/javascript/example-data/image.png
  sdk/contentsafety/ai-content-safety-rest/samples/v1/javascript/sampleAnalyzeImage.js
  sdk/contentsafety/ai-content-safety-rest/samples/v1/javascript/sampleAnalyzeText.js
  sdk/contentsafety/ai-content-safety-rest/samples/v1/javascript/sampleManageBlocklist.js
  sdk/contentsafety/ai-content-safety-rest/samples/v1/typescript/src/example-data/image.png
  sdk/contentsafety/ai-content-safety-rest/samples/v1/typescript/src/sampleAnalyzeImage.ts
Labels: Cognitive - Content Safety

#29816 Fix Azure Image Analysis Readme
  sdk/vision/ai-vision-image-analysis-rest/README.md
Labels: Image Analysis

#29833 [App Config] Migrate to using DAC authentication
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples-dev/getSettingOnlyIfChanged.ts
  sdk/appconfiguration/app-configuration/samples-dev/helloworld.ts
  sdk/appconfiguration/app-configuration/samples-dev/helloworldWithLabels.ts
  sdk/appconfiguration/app-configuration/samples-dev/listConfigurationSettings.ts
  sdk/appconfiguration/app-configuration/samples-dev/listRevisions.ts
  sdk/appconfiguration/app-configuration/samples-dev/optimisticConcurrencyViaEtag.ts
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples-dev/setReadOnlySample.ts
  sdk/appconfiguration/app-configuration/samples-dev/snapshot.ts
  sdk/appconfiguration/app-configuration/samples-dev/updateSyncTokenSample.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/getSettingOnlyIfChanged.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/helloworld.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/helloworldWithLabels.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listConfigurationSettings.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listRevisions.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/optimisticConcurrencyViaEtag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/setReadOnlySample.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/snapshot.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/updateSyncTokenSample.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/getSettingOnlyIfChanged.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/helloworld.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/helloworldWithLabels.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listConfigurationSettings.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listRevisions.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/optimisticConcurrencyViaEtag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/setReadOnlySample.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/snapshot.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/updateSyncTokenSample.ts
  sdk/appconfiguration/app-configuration/test/internal/node/http.spec.ts
  sdk/appconfiguration/app-configuration/test/public/auth.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
  sdk/appconfiguration/test-resources.json
Labels: App Configuration

#29839 Sync eng/common directory with azure-sdk-tools for PR 8324
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#29869 Post release automated changes for devopsinfrastructure releases
  sdk/devopsinfrastructure/arm-devopsinfrastructure/CHANGELOG.md
  sdk/devopsinfrastructure/arm-devopsinfrastructure/package.json
  sdk/devopsinfrastructure/arm-devopsinfrastructure/src/managedDevOpsInfrastructure.ts
Labels: Mgmt

#29842 Client-Side-Encryption - add test cases, and fix errors
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ProtectedDataEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionPolicy.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionManager.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionProcessor.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionSettingForProperty.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/public/functional/dotnetcse.spec.ts
Labels: Cosmos

#29870 Use the service connection instead of PAT to kick off docs CI runs
  eng/pipelines/docindex.yml
Labels: Docs
