Repository Azure/azure-sdk-for-js, pull requests merged in 2024-07, with the labels that each got.

#29878 Sync eng/common directory with azure-sdk-tools for PR 8371
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#30252 [CODEOWNERS] add an entry for ai/ai-inference-rest
  .github/CODEOWNERS
Labels: AI Model Inference

#30259 [Identity] extract username from access token for redis samples
  sdk/identity/identity/samples/AzureCacheForRedis/ioredis.md
  sdk/identity/identity/samples/AzureCacheForRedis/node-redis.md
Labels: Azure.Identity

#30257 [schemaregistry-avro] upgrade dev dependency `stream` to ^0.0.3
  common/config/rush/pnpm-lock.yaml
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry

#30185 [Storage]Remove service principal secret from storage testing
  sdk/storage/storage-blob/sample.env
  sdk/storage/storage-blob/test.env
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/test.env
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
  sdk/storage/storage-file-datalake/tests.yml
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/test/node/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils/testutils.common.ts
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/test.env
  sdk/storage/storage-queue/test/utils/testutils.common.ts
  sdk/storage/storage-queue/tests.yml
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
Labels: Storage

#30266 [identity] Fix support for cross-tenant federation
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#30131 [Schema Registry JSON] Update API View
  sdk/schemaregistry/schema-registry-json/review/schema-registry-json.api.md
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples-dev/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/javascript/package.json
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/package.json
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/schemaRegistryJsonSample.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/schemaRegistryJsonWithValidation.ts
  sdk/schemaregistry/schema-registry-json/samples/v1/typescript/src/withEventHubsConsumerClient.ts
  sdk/schemaregistry/schema-registry-json/src/jsonSchemaSerializer.ts
Labels: Schema Registry

#29934 [Schema Registry] Migrate Test Suite Authentication
  sdk/schemaregistry/schema-registry-avro/karma.conf.js
  sdk/schemaregistry/schema-registry-avro/sample.env
  sdk/schemaregistry/schema-registry-avro/test/public/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-avro/test/public/withMessagingClients.spec.ts
  sdk/schemaregistry/schema-registry-avro/tests.yml
  sdk/schemaregistry/schema-registry-json/karma.conf.js
  sdk/schemaregistry/schema-registry-json/sample.env
  sdk/schemaregistry/schema-registry-json/test/public/clients/eventHubs.ts
  sdk/schemaregistry/schema-registry-json/test/public/withMessagingClients.spec.ts
  sdk/schemaregistry/schema-registry-json/tests.yml
  sdk/schemaregistry/schema-registry/README.md
  sdk/schemaregistry/schema-registry/sample.env
  sdk/schemaregistry/schema-registry/tests.yml
  sdk/schemaregistry/test-resources.json
Labels: Schema Registry

#30220 [dev-tool] fix linting error
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#30268 [Event Hubs Checkpoint Store] Edit samples
  sdk/eventhub/event-hubs/samples-dev/receiveEvents.ts
  sdk/eventhub/event-hubs/samples-dev/sendBufferedEvents.ts
  sdk/eventhub/event-hubs/samples-dev/sendEvents.ts
  sdk/eventhub/event-hubs/samples-dev/sendEventsToSpecificPartition.ts
  sdk/eventhub/event-hubs/samples-dev/websockets.ts
  sdk/eventhub/event-hubs/samples-express/src/index.ts
  sdk/eventhub/event-hubs/samples/v5-beta/express/src/index.ts
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/sendBufferedEvents.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/sendEvents.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/sendEventsToSpecificPartition.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/websockets.js
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/sendBufferedEvents.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/sendEvents.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/sendEventsToSpecificPartition.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/websockets.ts
  sdk/eventhub/event-hubs/samples/v5/express/src/index.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/sendBufferedEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/sendEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/sendEventsToSpecificPartition.js
  sdk/eventhub/event-hubs/samples/v5/javascript/websockets.js
  sdk/eventhub/event-hubs/samples/v5/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/sendBufferedEvents.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/sendEvents.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/sendEventsToSpecificPartition.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/websockets.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/javascript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/typescript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/typescript/src/receiveEventsWithApiSpecificStorage.ts
Labels: Event Hubs

#30258 Sync eng/common directory with azure-sdk-tools for PR 8528
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#30287 [eslint-plugin] update to check whether package is ESM
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-apiextractor-json-types.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-files-required.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-main-is-cjs.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-module.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-types.ts
  common/tools/eslint-plugin-azure-sdk/src/utils/index.ts
  common/tools/eslint-plugin-azure-sdk/src/utils/verifiers.ts
Labels: eslint plugin

#30237 Sync eng/common directory with azure-sdk-tools for PR 8516
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#30281 Sync eng/common directory with azure-sdk-tools for PR 8549
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
  eng/pipelines/templates/steps/test.yml
Labels: EngSys, Central-EngSys

#30302 Post release automated changes for oracledatabase releases
  sdk/oracledatabase/arm-oracledatabase/CHANGELOG.md
  sdk/oracledatabase/arm-oracledatabase/package.json
  sdk/oracledatabase/arm-oracledatabase/src/oracleDatabaseManagementClient.ts
Labels: Mgmt

#30307 Post release automated changes for mongocluster releases
  sdk/mongocluster/arm-mongocluster/CHANGELOG.md
  sdk/mongocluster/arm-mongocluster/package.json
Labels: Mgmt

#30290 Sync eng/common directory with azure-sdk-tools for PR 8543
  eng/common/InterdependencyGraph.html
Labels: EngSys, Central-EngSys

#30210 [keyvault] Migrate to federated credentials
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
  sdk/keyvault/keyvault-admin/tests.yml
  sdk/keyvault/keyvault-certificates/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/keyvault-secrets/tests.yml
  sdk/keyvault/test-resources-post.ps1
  sdk/keyvault/test-resources.json
Labels: KeyVault

#30299 [Doc][core-client] remove outdated `@param credential`
  sdk/core/core-client/src/serviceClient.ts
Labels: Azure.Core

#30326 [EngSys] upgrade @typescript-eslint/* dev dependencies to ~7.15.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#30289 [eventgrid-namespaces] move core-client to direct dependencies list
  sdk/eventgrid/eventgrid-namespaces/package.json
Labels: Event Grid

#30328 Sync .github/workflows directory with azure-sdk-tools for PR 8566
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#30151 [core] fix ERR_INVALID_URL in sanitizer
  sdk/core/core-rest-pipeline/src/util/sanitizer.ts
  sdk/core/core-rest-pipeline/test/sanitizer.spec.ts
  sdk/core/ts-http-runtime/src/util/sanitizer.ts
  sdk/core/ts-http-runtime/test/sanitizer.spec.ts
Labels: Azure.Core

#30239 [core] add EdgeRuntime telemetry info
  sdk/core/core-rest-pipeline/src/util/userAgentPlatform-browser.mts
  sdk/core/ts-http-runtime/src/util/userAgentPlatform-browser.mts
Labels: Azure.Core

#30293 Sync eng/common directory with azure-sdk-tools for PR 8558
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/remove-test-resources.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#30331 [Monitor OpenTelemetry Exporter] Fix OTel Version and Resolve Async Issues with Logs Test
  sdk/monitor/monitor-opentelemetry-exporter/test/internal/functional/log.test.ts
  sdk/monitor/monitor-opentelemetry/test/internal/unit/shared/config.test.ts
Labels: Monitor - Exporter

#30334 [Storage] fix broken unit-test after typescript 5.5.3 upgrade
  sdk/storage/storage-common/src/index.ts
Labels: Client, Storage

#30336 [core] prepare for 2024 July release
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
Labels: Azure.Core

#30209 [@azure/monitor-query][@azure/monitor-ingestion] Migrate Monitor Packages away from Local Authentication
  sdk/monitor/monitor-ingestion/test/public/shared/testShared.ts
  sdk/monitor/monitor-ingestion/tests.yml
  sdk/monitor/monitor-query/test/public/shared/testShared.ts
  sdk/monitor/monitor-query/tests.yml
  sdk/monitor/test-resources.json
Labels: Mgmt, Monitor

#30329 [samples][identity] remove v3-beta samples directory
  sdk/identity/identity/samples/v3-beta/javascript/README.md
  sdk/identity/identity/samples/v3-beta/javascript/azureDeveloperCliCredential.js
  sdk/identity/identity/samples/v3-beta/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/v3-beta/javascript/defaultAzureCredential.js
  sdk/identity/identity/samples/v3-beta/javascript/environmentCredential.js
  sdk/identity/identity/samples/v3-beta/javascript/package.json
  sdk/identity/identity/samples/v3-beta/javascript/sample.env
  sdk/identity/identity/samples/v3-beta/javascript/workloadIdentityCredential.js
  sdk/identity/identity/samples/v3-beta/typescript/README.md
  sdk/identity/identity/samples/v3-beta/typescript/package.json
  sdk/identity/identity/samples/v3-beta/typescript/sample.env
  sdk/identity/identity/samples/v3-beta/typescript/src/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/src/defaultAzureCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/src/environmentCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/src/workloadIdentityCredential.ts
  sdk/identity/identity/samples/v3-beta/typescript/tsconfig.json
Labels: Azure.Identity

#30346 Update Samples link in Azure Identity README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#30351 [core-logger] Prepare for 2024 July release
  sdk/core/logger/CHANGELOG.md
Labels: Azure.Core

#30355 Update tests.yml for Azure Pipelines
  sdk/eventgrid/eventgrid-system-events/tests.yml
Labels: Event Grid

#30353 Update tests.yml for Azure Pipelines
  sdk/eventgrid/eventgrid-namespaces/tests.yml
Labels: Event Grid

#30186 [Storage] Correct content-length header with request body length
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/Pipeline.ts
  sdk/storage/storage-blob/src/policies/StorageCorrectContentLengthPolicy.browser.ts
  sdk/storage/storage-blob/src/policies/StorageCorrectContentLengthPolicy.ts
  sdk/storage/storage-blob/test/blockblobclient.spec.ts
  sdk/storage/storage-blob/test/node/blockblobclient.spec.ts
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/Pipeline.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/Pipeline.ts
Labels: Storage

#30173 [test][ACR] move to use federated auth
  sdk/containerregistry/container-registry/assets.json
  sdk/containerregistry/container-registry/karma.conf.js
  sdk/containerregistry/container-registry/package.json
  sdk/containerregistry/container-registry/sample.env
  sdk/containerregistry/container-registry/samples/v1/javascript/deleteBlob.js
  sdk/containerregistry/container-registry/samples/v1/javascript/deleteManifest.js
  sdk/containerregistry/container-registry/samples/v1/javascript/downloadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1/javascript/downloadImage.js
  sdk/containerregistry/container-registry/samples/v1/javascript/sample.env
  sdk/containerregistry/container-registry/samples/v1/javascript/uploadCustomManifest.js
  sdk/containerregistry/container-registry/samples/v1/javascript/uploadImage.js
  sdk/containerregistry/container-registry/samples/v1/javascript/uploadManifest.js
  sdk/containerregistry/container-registry/samples/v1/typescript/sample.env
  sdk/containerregistry/container-registry/samples/v1/typescript/src/deleteBlob.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/deleteManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/downloadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/downloadImage.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/repositoryAndArtifact.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/uploadCustomManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/uploadImage.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/src/uploadManifest.ts
  sdk/containerregistry/container-registry/samples/v1/typescript/tsconfig.json
  sdk/containerregistry/container-registry/test/utils/utils.ts
  sdk/containerregistry/container-registry/tests.yml
Labels: Container Registry

#30309 [@azure/eventgrid-namespaces][@azure/eventgrid]Migrate EventGrid Packages away from Local Authentication
  common/config/rush/pnpm-lock.yaml
  sdk/eventgrid/eventgrid-namespaces/karma.conf.js
  sdk/eventgrid/eventgrid-namespaces/package.json
  sdk/eventgrid/eventgrid-namespaces/test/public/eventGridNamespacesClient.spec.ts
  sdk/eventgrid/eventgrid-namespaces/test/public/utils/recordedClient.ts
  sdk/eventgrid/eventgrid-namespaces/tests.yml
  sdk/eventgrid/eventgrid-system-events/package.json
  sdk/eventgrid/eventgrid-system-events/tests.yml
  sdk/eventgrid/eventgrid/assets.json
  sdk/eventgrid/eventgrid/karma.conf.js
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/test/public/eventGridClient.spec.ts
  sdk/eventgrid/eventgrid/test/public/utils/recordedClient.ts
  sdk/eventgrid/eventgrid/tests.yml
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#30366 Sync eng/common directory with azure-sdk-tools for PR 8597
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
Labels: EngSys, Central-EngSys

#30365 [eslint-plugin] upgrade typescript-eslint dependencies to ~7.16.0
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#30368 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#30364 Sync eng/common directory with azure-sdk-tools for PR 8588
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#30339 [core-client-rest] Update Serialization Check Logic
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/src/sendRequest.ts
Labels: Azure.Core

#30389 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
Labels: Azure.Core

#30360 [monitor] update to latest OTEL
  common/config/rush/pnpm-lock.yaml
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/javascript/package.json
  sdk/monitor/monitor-opentelemetry-exporter/samples/v1/typescript/package.json
  sdk/monitor/monitor-opentelemetry/package.json
  sdk/monitor/monitor-query/package.json
  sdk/monitor/perf-tests/monitor-opentelemetry/package.json
Labels: OpenTelemetryInstrumentation

#30363 Sync eng/common directory with azure-sdk-tools for PR 8598
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#30286 [identity] Prepare identity for July release
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#28725 [Cosmos] Split/Merge support for Bulk API
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/authorization.spec.ts
Labels: Cosmos

#30384 [App Config] Update Etag parsing for list configuration setting
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
Labels: App Configuration

#30415 [identity] Fix build failures
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#30413 [identity] Update documentation to call out lack of ExcludeXXXCredential support
  sdk/identity/identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#30424 Post release automated changes for identity releases
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#30416 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#30399 [@azure/eventgrid] Fix Timestamp deserialization
  sdk/eventgrid/eventgrid-system-events/CHANGELOG.md
  sdk/eventgrid/eventgrid-system-events/review/eventgrid-system-events.api.md
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/models.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/systemEventsClient.ts
  sdk/eventgrid/eventgrid-system-events/src/index.ts
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#30425 [Event Hubs] Revert GeoDR earliestPosition change
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/eventPosition.ts
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/event-hubs/test/internal/eventPosition.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Labels: Event Hubs

#30396 [Digital Twin Core] Migrate Test Suite
  sdk/digitaltwins/digital-twins-core/package.json
  sdk/digitaltwins/digital-twins-core/test-resources.json
  sdk/digitaltwins/digital-twins-core/test/public/testComponents.spec.ts
  sdk/digitaltwins/digital-twins-core/test/utils/testAuthentication.ts
  sdk/digitaltwins/digital-twins-core/tests.yml
Labels: Digital Twins

#30429 [EngSys] upgrade dev dependency `prettier` to 3.3.3
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/utils/verifiers.ts
  common/tools/vite-plugin-browser-test-map/package.json
  eng/tools/dependency-testing/package.json
  samples/frameworks/react-native/appconfigBasic/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/react/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/typescript/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/bin/templates/vue/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/templates/react/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/templates/typescript/package.json.mustache
  sdk/apimanagement/api-management-custom-widgets-scaffolder/templates/vue/package.json.mustache
  sdk/communication/communication-call-automation/test/utils/recordedClient.ts
  sdk/core/core-client-rest/src/restError.ts
  sdk/core/ts-http-runtime/src/client/restError.ts
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/face/ai-vision-face-rest/package.json
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/src/documentModel.ts
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/openai/openai/src/OpenAIClient.ts
  sdk/openai/openai/src/api/operations.ts
  sdk/translation/ai-translation-document-rest/package.json
Labels: EngSys, Mgmt, Azure.Core, eslint plugin, Cognitive - Form Recognizer, Cognitive - Translator, dev-tool, Communication, OpenAI

#30172 [identity] Use MSAL for Managed Identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/imdsRetryPolicy.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/legacyMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/tokenExchangeMsi.ts
  sdk/identity/identity/test/internal/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/imdsRetryPolicy.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/msalMsiProvider.spec.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
Labels: Azure.Identity

#30306 [Storage]Added to pack referenced files under storage-blob folder.
  sdk/storage/storage-file-datalake/package.json
Labels: Storage

#30443 [identity] Prepare identity for July beta release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#30446 pin npm to 22.4.x
  eng/pipelines/templates/stages/platform-matrix.json
Labels: Central-EngSys

#30176 updating the version number
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication

#30448 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#30442 [identity] Use MCR for as docker registry
  sdk/identity/identity/integration/AzureKubernetes/Dockerfile
  sdk/identity/test-resources-post.ps1
Labels: Azure.Identity

#29946 [Cosmos] Vector Search feature
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ContainerManagement.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/Container/ContainerDefinition.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/documents/IndexingPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/VectorEmbeddingPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/NonStreamingOrderByDistinctEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/EndpointComponent/NonStreamingOrderByEndpointComponent.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/nonStreamingOrderByResponse.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/nonStreamingOrderByResult.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/orderByComparator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/utils/fixedSizePriorityQueue.ts
  sdk/cosmosdb/cosmos/src/utils/nonStreamingOrderByMap.ts
  sdk/cosmosdb/cosmos/src/utils/supportedQueryFeaturesBuilder.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/nonStreamingOrderByMap.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/nonStreamingOrderByPriorityQueue.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/supportedQueryFeaturesBuilder.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/endpointComponent/NonStreamingOrderByDistinctEndpointComponent.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/endpointComponent/NonStreamingOrderByEndpointComponent.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/vectorEmbeddingPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/nonStreamingOrderBy/nonStreamingDistinctOrderBy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/nonStreamingOrderBy/nonStreamingOrderBy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/split.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#30397 [Attestation, Confidential Ledger, Language, Mixed Reality] Test Suite Migration
  sdk/attestation/attestation/test/utils/recordedClient.ts
  sdk/attestation/attestation/tests.yml
  sdk/attestation/test-resources.json
  sdk/cognitivelanguage/ai-language-text/karma.conf.js
  sdk/cognitivelanguage/ai-language-text/test/internal/warn_text.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/node/customTest.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyze.spec.ts
  sdk/cognitivelanguage/ai-language-text/test/public/analyzeBatch.spec.ts
  sdk/cognitivelanguage/ai-language-text/tests.yml
  sdk/cognitivelanguage/test-resources.json
  sdk/confidentialledger/confidential-ledger-rest/test/public/utils/recordedClient.ts
  sdk/confidentialledger/tests.yml
  sdk/remoterendering/mixed-reality-remote-rendering/tests.yml
  sdk/textanalytics/ai-text-analytics/karma.conf.js
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/tests.yml
Labels: Attestation, ConfidentialLedger

#29687 [OpenAI] Update to v2
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/.eslintrc.json
  sdk/openai/openai/MIGRATION.md
  sdk/openai/openai/api-extractor.json
  sdk/openai/openai/openai.shims.d.ts
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai-models.api.md
  sdk/openai/openai/review/openai-types.api.md
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/src/index.ts
  sdk/openai/openai/src/types/index.ts
  sdk/openai/openai/src/types/models.ts
  sdk/openai/openai/src/types/outputModels.ts
  sdk/openai/openai/tsconfig.json
Labels: OpenAI

#30451 Add EntraID support to ImageAnalysis RLC
  sdk/vision/ai-vision-image-analysis-rest/CHANGELOG.md
  sdk/vision/ai-vision-image-analysis-rest/README.md
  sdk/vision/ai-vision-image-analysis-rest/assets.json
  sdk/vision/ai-vision-image-analysis-rest/review/ai-vision-image-analysis.api.md
  sdk/vision/ai-vision-image-analysis-rest/src/clientDefinitions.ts
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
  sdk/vision/ai-vision-image-analysis-rest/src/isUnexpected.ts
  sdk/vision/ai-vision-image-analysis-rest/src/models.ts
  sdk/vision/ai-vision-image-analysis-rest/src/outputModels.ts
  sdk/vision/ai-vision-image-analysis-rest/src/parameters.ts
  sdk/vision/ai-vision-image-analysis-rest/src/responses.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/AnalysisTests.spec.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/clientMethods.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/recordedClient.ts
Labels: Image Analysis

#30419 Sync eng/common directory with azure-sdk-tools for PR 8602
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#30460 Prep for ImageAnalysis Beta3
  sdk/vision/ai-vision-image-analysis-rest/CHANGELOG.md
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
Labels: Image Analysis

#30461 [identity] Clean up samples
  sdk/identity/identity/samples-dev/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples-dev/interactiveBrowserCredential.ts
  sdk/identity/identity/samples-dev/workloadIdentityCredential.ts
  sdk/identity/identity/samples/v4/javascript/azureDeveloperCliCredential.js
  sdk/identity/identity/samples/v4/javascript/interactiveBrowserCredential.js
  sdk/identity/identity/samples/v4/javascript/workloadIdentityCredential.js
  sdk/identity/identity/samples/v4/typescript/src/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/azurePipelinesCredential/azurePipelinesCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/interactiveBrowserCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/workloadIdentityCredential.ts
Labels: Azure.Identity

#30344 Use federated auth for ACS SDKs
  sdk/communication/arm-communication/sample.env
  sdk/communication/communication-alpha-ids/tests.yml
  sdk/communication/communication-call-automation/tests.yml
  sdk/communication/communication-chat/tests.yml
  sdk/communication/communication-common/tests.yml
  sdk/communication/communication-identity/tests.yml
  sdk/communication/communication-rooms/tests.yml
  sdk/communication/communication-short-codes/tests.yml
  sdk/communication/communication-tiering/tests.yml
  sdk/communication/test-resources/test-resources.json
Labels: Mgmt, Communication, Communication - Common, Communication - Identity, Communication - Short Codes, Communication - Alpha IDs, Communication - Rooms

#30465 Reformat DefaultAzureCredential flow chart
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#30464 Update tests with environmental changes
  sdk/vision/ai-vision-image-analysis-rest/src/clientDefinitions.ts
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
  sdk/vision/ai-vision-image-analysis-rest/src/isUnexpected.ts
  sdk/vision/ai-vision-image-analysis-rest/src/parameters.ts
  sdk/vision/ai-vision-image-analysis-rest/src/responses.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/AnalysisTests.spec.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/clientMethods.ts
  sdk/vision/ai-vision-image-analysis-rest/test/public/utils/recordedClient.ts
Labels: Image Analysis

#30482 Sync eng/common directory with azure-sdk-tools for PR 8669
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#30444 Sync eng/common directory with azure-sdk-tools for PR 8650
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#30106 [cosmos]update Changelog for 4.1.0
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#29782 updated non-streamable query in README
  sdk/cosmosdb/cosmos/README.md
Labels: Cosmos

#30437 [Storage]Bump package version, upgrade @azure/core-tracing dependency
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
  sdk/storage/test-resources.json
Labels: Storage

#30466 [OpenAI] Update Readme for v2
  sdk/openai/openai/.eslintrc.json
  sdk/openai/openai/README.md
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples-dev/chatCompletions.ts
  sdk/openai/openai/samples-dev/completions.ts
  sdk/openai/openai/samples-dev/embeddings.ts
  sdk/openai/openai/samples-dev/images.ts
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/toolCall.ts
  sdk/openai/openai/samples/v2-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/completions.js
  sdk/openai/openai/samples/v2-beta/javascript/embeddings.js
  sdk/openai/openai/samples/v2-beta/javascript/images.js
  sdk/openai/openai/samples/v2-beta/javascript/onYourData.js
  sdk/openai/openai/samples/v2-beta/javascript/package.json
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v2-beta/javascript/streamCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/toolCall.js
  sdk/openai/openai/samples/v2-beta/typescript/package.json
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/completions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/embeddings.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/images.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/onYourData.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/toolCall.ts
  sdk/openai/openai/samples/v2-beta/typescript/tsconfig.json
Labels: OpenAI

#30359 Add CorrelatedActivityId to response headers and diagnostics
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/headerUtils.ts
  sdk/cosmosdb/cosmos/src/request/FeedResponse.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/test/public/functional/queryIterator.spec.ts
Labels: Cosmos

#30496 [OpenAI] Edit links
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/README.md
Labels: OpenAI

#30497 Post release automated changes for openai releases
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/package.json
Labels: OpenAI

#30499 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#30471 Migrate secret auth WebPubSub
  sdk/web-pubsub/arm-webpubsub/test/webpubsub_examples.spec.ts
  sdk/web-pubsub/test-resources.json
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/samples/v1/javascript/broadcasting.js
  sdk/web-pubsub/web-pubsub/samples/v1/javascript/directMessage.js
  sdk/web-pubsub/web-pubsub/samples/v1/javascript/managingGroups.js
  sdk/web-pubsub/web-pubsub/samples/v1/javascript/sample.env
  sdk/web-pubsub/web-pubsub/samples/v1/typescript/package.json
  sdk/web-pubsub/web-pubsub/samples/v1/typescript/sample.env
  sdk/web-pubsub/web-pubsub/samples/v1/typescript/tsconfig.json
  sdk/web-pubsub/web-pubsub/test/integration.spec.ts
  sdk/web-pubsub/web-pubsub/test/testEnv.ts
  sdk/web-pubsub/web-pubsub/tests.yml
Labels: Mgmt, WebPubSub

#30507 [OpenAI] Add sample for tts
  sdk/openai/openai/samples-dev/textToSpeech.ts
  sdk/openai/openai/samples/v2-beta/javascript/README.md
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/typescript/README.md
  sdk/openai/openai/samples/v2-beta/typescript/src/textToSpeech.ts
Labels: OpenAI

#30513 Fixed streamDataParser audio data mapping
  sdk/communication/communication-call-automation/src/models/audio.ts
  sdk/communication/communication-call-automation/src/utli/streamingDataParser.ts
Labels: Communication

#30517 [identity] fix nightly builds
  sdk/identity/identity/tests.yml
Labels: Azure.Identity

#30512 [OpenAI] Edit migration guide
  sdk/openai/openai/MIGRATION.md
  sdk/openai/openai/package.json
Labels: OpenAI

#30519 Sync eng/common directory with azure-sdk-tools for PR 8680
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
Labels: EngSys, Central-EngSys

#30477 [identity] Delete msalNodeCommon based flows
  sdk/identity/identity-cache-persistence/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity-cache-persistence/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.browser.ts
  sdk/identity/identity/src/msal/browserFlows/flows.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalAuthorizationCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientAssertion.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientCertificate.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClientSecret.ts
  sdk/identity/identity/src/msal/nodeFlows/msalDeviceCode.ts
  sdk/identity/identity/src/msal/nodeFlows/msalNodeCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOnBehalfOf.ts
  sdk/identity/identity/src/msal/nodeFlows/msalOpenBrowser.ts
  sdk/identity/identity/src/msal/nodeFlows/msalUsernamePassword.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
Labels: Azure.Identity

#30493 [core-xml] Adding RN support at top level
  sdk/core/core-xml/package.json
Labels: Azure.Core

#30521 [core] Add react-native support at top level
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#30511 [mgmt] add sanitized for bot service test cases
  sdk/botservice/arm-botservice/assets.json
  sdk/botservice/arm-botservice/test/botservice_examples.ts
Labels: Mgmt

#30529 [identity] Add ServiceConnection to tests.yml
  sdk/identity/identity/tests.yml
Labels: Azure.Identity

#30530 Default to sub config file paths/svc connection for public + sovereign live tests
  sdk/attestation/attestation/tests.yml
  sdk/communication/communication-common/tests.yml
  sdk/eventhub/event-hubs/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/search/search-documents/tests.yml
  sdk/storage/storage-blob/tests.yml
  sdk/storage/storage-file-datalake/tests.yml
  sdk/storage/storage-file-share/tests.yml
  sdk/storage/storage-queue/tests.yml
Labels: Central-EngSys

#30534 Renaming client because autorest in js isn't respecting the @client tag
  sdk/healthdataaiservices/azure-health-deidentification/LICENSE
  sdk/healthdataaiservices/azure-health-deidentification/review/health-deidentification.api.md
  sdk/healthdataaiservices/azure-health-deidentification/src/clientDefinitions.ts
  sdk/healthdataaiservices/azure-health-deidentification/src/deidentificationClient.ts
  sdk/healthdataaiservices/azure-health-deidentification/src/index.ts
  sdk/healthdataaiservices/azure-health-deidentification/src/models.ts
  sdk/healthdataaiservices/azure-health-deidentification/src/outputModels.ts
  sdk/healthdataaiservices/azure-health-deidentification/test/public/jobOperationsTest.spec.ts
  sdk/healthdataaiservices/azure-health-deidentification/test/public/realtimeOperationsTest.spec.ts
  sdk/healthdataaiservices/azure-health-deidentification/test/public/utils/recordedClient.ts
Labels: Health Deidentification

#30508 [Identity] Fix PowershellCredential token parsing logic
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#30548 Post release automated changes for redhatopenshift releases
  sdk/redhatopenshift/arm-redhatopenshift/CHANGELOG.md
  sdk/redhatopenshift/arm-redhatopenshift/package.json
  sdk/redhatopenshift/arm-redhatopenshift/src/azureRedHatOpenShiftClient.ts
Labels: Mgmt

#30546 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#30549 Post release automated changes for servicefabricmanagedclusters releases
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/CHANGELOG.md
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/package.json
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/src/serviceFabricManagedClustersManagementClient.ts
Labels: Mgmt

#30550 Sync eng/common directory with azure-sdk-tools for PR 8677
  eng/common/pipelines/templates/steps/set-daily-docs-branch-name.yml
Labels: EngSys, Central-EngSys

#28080 [cosmos] allow custom `HttpClient`
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/request/RequestContext.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
Labels: Client, Cosmos

#30551 Sync eng/common directory with azure-sdk-tools for PR 8711
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#29808 [storage] upgrade dependency @azure/abort-controller to ^2.1.2
  sdk/storage/arm-storage-profile-2020-09-01-hybrid/package.json
  sdk/storage/arm-storage/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/test/blobchangefeedclient.spec.ts
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/samples-dev/advancedRequestOptions.ts
  sdk/storage/storage-blob/samples/v12/javascript/advancedRequestOptions.js
  sdk/storage/storage-blob/samples/v12/javascript/package.json
  sdk/storage/storage-blob/samples/v12/typescript/package.json
  sdk/storage/storage-blob/samples/v12/typescript/src/advancedRequestOptions.ts
  sdk/storage/storage-blob/test/aborter.spec.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/highlevel.node.spec.ts
  sdk/storage/storage-blob/test/retrypolicy.spec.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/test/aborter.spec.ts
  sdk/storage/storage-file-datalake/test/browser/highlevel.browser.spec.ts
  sdk/storage/storage-file-datalake/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts
  sdk/storage/storage-file-datalake/test/pathclient.spec.ts
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/samples-dev/advancedRequestOptions.ts
  sdk/storage/storage-file-share/samples/v12/javascript/advancedRequestOptions.js
  sdk/storage/storage-file-share/samples/v12/javascript/package.json
  sdk/storage/storage-file-share/samples/v12/typescript/package.json
  sdk/storage/storage-file-share/samples/v12/typescript/src/advancedRequestOptions.ts
  sdk/storage/storage-file-share/test/aborter.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/node/highlevel.node.spec.ts
  sdk/storage/storage-file-share/test/retrypolicy.spec.ts
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-internal-avro/test/node/avroreadable.spec.ts
  sdk/storage/storage-internal-avro/test/node/avroreader.spec.ts
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/test/aborter.spec.ts
Labels: Client, Mgmt, Storage

#30552 Post release automated changes for network releases
  sdk/network/arm-network/CHANGELOG.md
  sdk/network/arm-network/package.json
  sdk/network/arm-network/src/networkManagementClient.ts
Labels: Mgmt

#30543 Post release automated changes for search releases
  sdk/search/arm-search/CHANGELOG.md
  sdk/search/arm-search/package.json
  sdk/search/arm-search/src/searchManagementClient.ts
Labels: Mgmt

#30542 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt

#30541 Post release automated changes for redis releases
  sdk/redis/arm-rediscache/CHANGELOG.md
  sdk/redis/arm-rediscache/package.json
  sdk/redis/arm-rediscache/src/redisManagementClient.ts
Labels: Mgmt

#30540 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt

#30536 Post release automated changes for dataprotection releases
  sdk/dataprotection/arm-dataprotection/CHANGELOG.md
  sdk/dataprotection/arm-dataprotection/package.json
  sdk/dataprotection/arm-dataprotection/src/dataProtectionClient.ts
Labels: Mgmt

#30498 Post release automated changes for edgezones releases
  sdk/edgezones/arm-edgezones/CHANGELOG.md
  sdk/edgezones/arm-edgezones/package.json
Labels: Mgmt

#30479 Post release automated changes for vision releases
  sdk/vision/ai-vision-image-analysis-rest/CHANGELOG.md
  sdk/vision/ai-vision-image-analysis-rest/package.json
  sdk/vision/ai-vision-image-analysis-rest/src/imageAnalysisClient.ts
Labels: Image Analysis

#30179 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/arm-cosmosdb/CHANGELOG.md
  sdk/cosmosdb/arm-cosmosdb/package.json
  sdk/cosmosdb/arm-cosmosdb/src/cosmosDBManagementClient.ts
Labels: Mgmt

#30169 Post release automated changes for storagemover releases
  sdk/storagemover/arm-storagemover/CHANGELOG.md
  sdk/storagemover/arm-storagemover/package.json
  sdk/storagemover/arm-storagemover/src/storageMoverClient.ts
Labels: Mgmt

#30037 Post release automated changes for synapse releases
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/src/artifactsClient.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#29802 Post release automated changes for machinelearning releases
  sdk/machinelearning/arm-machinelearning/CHANGELOG.md
  sdk/machinelearning/arm-machinelearning/package.json
  sdk/machinelearning/arm-machinelearning/src/azureMachineLearningWorkspaces.ts
Labels: no-recent-activity

#30431 Post release automated changes for eventgrid releases
  sdk/eventgrid/eventgrid-system-events/CHANGELOG.md
  sdk/eventgrid/eventgrid-system-events/package.json
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#30523 [app-configuration] only pack dist-esm/src
  sdk/appconfiguration/app-configuration/package.json
Labels: App Configuration

#30387 [Identity] Update error messages for AzurePipelinesCredential
  sdk/identity/identity/src/credentials/azurePipelinesCredential.ts
  sdk/identity/identity/test/internal/node/azurePipelinesCredential.spec.ts
Labels: Azure.Identity

#30568 [@azure-rest/core-client] Fix typo in common.ts
  sdk/core/core-client-rest/src/common.ts
Labels: customer-reported, Azure.Core, Community Contribution

#30564 Fix dependency versions after testing package
  common/config/rush/pnpm-lock.yaml
  sdk/healthdataaiservices/azure-health-deidentification/package.json
Labels: Health Deidentification

#30574 Sync eng/common directory with azure-sdk-tools for PR 8721
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#30570 [identity] add support for AZURE_CLIENT_SEND_CERTIFICATE_CHAIN env var
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/environmentCredential.ts
  sdk/identity/identity/test/internal/node/environmentCredential.spec.ts
Labels: Azure.Identity

#30562 [identity] Various documentation improvements
  sdk/identity/identity/README.md
  sdk/identity/identity/TOKEN_CACHING.md
  sdk/identity/identity/src/credentials/deviceCodeCredential.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredential.ts
Labels: Azure.Identity

#30586 Fixed streamingDataParser import issue.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/index.ts
  sdk/communication/communication-call-automation/src/streamingDataParser.ts
  sdk/communication/communication-call-automation/test/streamingDataParser.spec.ts
Labels: Communication

#30374 [mgmt] refresh mongocluster
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/mongocluster/arm-mongocluster/.tshy/browser.json
  sdk/mongocluster/arm-mongocluster/.tshy/build.json
  sdk/mongocluster/arm-mongocluster/.tshy/commonjs.json
  sdk/mongocluster/arm-mongocluster/.tshy/esm.json
  sdk/mongocluster/arm-mongocluster/.tshy/react-native.json
  sdk/mongocluster/arm-mongocluster/CHANGELOG.md
  sdk/mongocluster/arm-mongocluster/LICENSE
  sdk/mongocluster/arm-mongocluster/README.md
  sdk/mongocluster/arm-mongocluster/assets.json
  sdk/mongocluster/arm-mongocluster/karma.conf.js
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/mongocluster/arm-mongocluster/review/arm-mongocluster-models.api.md
  sdk/mongocluster/arm-mongocluster/review/arm-mongocluster.api.md
  sdk/mongocluster/arm-mongocluster/src/api/firewallRules/index.ts
  sdk/mongocluster/arm-mongocluster/src/api/mongoClusterManagementContext.ts
  sdk/mongocluster/arm-mongocluster/src/api/mongoClusters/index.ts
  sdk/mongocluster/arm-mongocluster/src/api/operations/index.ts
  sdk/mongocluster/arm-mongocluster/src/api/pagingHelpers.ts
  sdk/mongocluster/arm-mongocluster/src/api/pollingHelpers.ts
  sdk/mongocluster/arm-mongocluster/src/api/privateEndpointConnections/index.ts
  sdk/mongocluster/arm-mongocluster/src/api/privateLinks/index.ts
  sdk/mongocluster/arm-mongocluster/src/classic/firewallRules/index.ts
  sdk/mongocluster/arm-mongocluster/src/classic/mongoClusters/index.ts
  sdk/mongocluster/arm-mongocluster/src/classic/operations/index.ts
  sdk/mongocluster/arm-mongocluster/src/classic/privateEndpointConnections/index.ts
  sdk/mongocluster/arm-mongocluster/src/classic/privateLinks/index.ts
  sdk/mongocluster/arm-mongocluster/src/helpers/serializerHelpers.ts
  sdk/mongocluster/arm-mongocluster/src/models/index.ts
  sdk/mongocluster/arm-mongocluster/src/models/models.ts
  sdk/mongocluster/arm-mongocluster/src/models/options.ts
  sdk/mongocluster/arm-mongocluster/src/models/pagingTypes.ts
  sdk/mongocluster/arm-mongocluster/src/mongoClusterManagementClient.ts
  sdk/mongocluster/arm-mongocluster/src/rest/clientDefinitions.ts
  sdk/mongocluster/arm-mongocluster/src/rest/documentDBClient.ts
  sdk/mongocluster/arm-mongocluster/src/rest/isUnexpected.ts
  sdk/mongocluster/arm-mongocluster/src/rest/models.ts
  sdk/mongocluster/arm-mongocluster/src/rest/outputModels.ts
  sdk/mongocluster/arm-mongocluster/src/rest/paginateHelper.ts
  sdk/mongocluster/arm-mongocluster/src/rest/parameters.ts
  sdk/mongocluster/arm-mongocluster/src/rest/pollingHelper.ts
  sdk/mongocluster/arm-mongocluster/src/rest/responses.ts
  sdk/mongocluster/arm-mongocluster/src/restorePollerHelpers.ts
  sdk/mongocluster/arm-mongocluster/test/public/mongoclusterOperations.spec.ts
  sdk/mongocluster/arm-mongocluster/test/public/node/privateEndpointConnections.spec.ts
  sdk/mongocluster/arm-mongocluster/test/public/utils/recordedClient.ts
  sdk/mongocluster/arm-mongocluster/tsconfig.json
  sdk/mongocluster/arm-mongocluster/tsp-location.yaml
  sdk/mongocluster/arm-mongocluster/vitest.browser.config.ts
  sdk/mongocluster/arm-mongocluster/vitest.config.ts
Labels: Mgmt

#30583 [Test][ServiceBus] work around Managed Identity credential issue
  sdk/servicebus/service-bus/test/public/atomManagement.spec.ts
Labels: Service Bus

#30582 [Event Hubs] Update sample
  sdk/eventhub/event-hubs/samples-express/package.json
  sdk/eventhub/event-hubs/samples-express/src/asyncBatchingProducer.ts
Labels: Event Hubs

#30581 [vitest] Use verbose reporter
  sdk/eventhub/event-hubs/vitest.browser.config.ts
  sdk/eventhub/event-hubs/vitest.config.ts
  vitest.browser.shared.config.ts
  vitest.shared.config.ts
Labels: Event Hubs

#30590 [Docs][ServiceBus] remove broken links to usingAadAuth sample
  sdk/servicebus/service-bus/TROUBLESHOOTING.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/samples/v7-beta/javascript/README.md
  sdk/servicebus/service-bus/samples/v7-beta/typescript/README.md
Labels: Service Bus

#30565 [dev-tool] switch to ESLint flat config
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/eslint.config.mjs
  common/tools/dev-tool/package.json
Labels: dev-tool

#30591 [core] prepare for 2024 August release
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/logger/CHANGELOG.md
Labels: Azure.Core
