Repository Azure/azure-sdk-for-js, pull requests merged in 2024-08, with the labels that each got.

#30598 [Identity] update changelog for hotfix release 4.4.1
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#30592 [Event Hubs] Fix browser bundling
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/test/internal/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/diagnostics/tracing.spec.ts
  sdk/eventhub/event-hubs/test/internal/misc.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/client.spec.ts
  sdk/eventhub/event-hubs/test/internal/sender.spec.ts
  sdk/eventhub/event-hubs/test/internal/tracing.spec.ts
  sdk/eventhub/event-hubs/test/public/hubruntime.spec.ts
  sdk/eventhub/event-hubs/test/utils/chai.ts
  sdk/eventhub/event-hubs/test/utils/testUtils.ts
  sdk/eventhub/event-hubs/test/utils/tracing.ts
  sdk/eventhub/event-hubs/vitest.browser.config.ts
Labels: Event Hubs

#30137 Add client type field in GenerateClientTokenOptions interface
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/generated/generatedClient.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/mappers.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/parameters.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/healthApi.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/healthApi.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/index.ts
  sdk/web-pubsub/web-pubsub/swagger/README.md
  sdk/web-pubsub/web-pubsub/test/hubs.spec.ts
Labels: customer-reported, WebPubSub, Community Contribution

#30295 [Cosmos] Add support for MakeList and MakeSet aggregate
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/Aggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/MakeListAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/MakeSetAggregator.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/Aggregators/index.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/utils/supportedQueryFeaturesBuilder.ts
  sdk/cosmosdb/cosmos/test/mocha.env.ts
  sdk/cosmosdb/cosmos/test/public/functional/query.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregates/groupBy.snapshot.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregates/groupBy.spec.ts
Labels: Cosmos

#30503 [@azure/cosmos] Add check for TOP/LIMIT in nonStreamingOrderBy queries
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/documents/VectorEmbeddingPolicy.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/pipelinedQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/test/public/functional/vectorEmbeddingPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/nonStreamingOrderBy/nonStreamingDistinctOrderBy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/nonStreamingOrderBy/nonStreamingOrderBy.spec.ts
Labels: Cosmos

#30597 [identity] upgrade depedency `@azure/abort-controller` to v2
  sdk/identity/identity/package.json
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#30600 [appconf, etc.] upgrade dependency `@azure/abort-controller` version to v2
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/test/internal/node/throttlingRetryPolicy.spec.ts
  sdk/cognitivelanguage/ai-language-conversations/package.json
  sdk/containerregistry/container-registry/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/test/blob-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
Labels: Event Hubs, Container Registry, App Configuration, Cognitive - Language

#30532 [identity] Errors can include a cause field
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/src/errors.ts
Labels: Azure.Identity

#30615 [Service Bus] Deleting perf libs folder
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/test/perf-js-libs/azure-sb-package/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/azure-sb-package/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/rhea-promise/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/rhea-promise/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/package.json
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/receiveBatch.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v1/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/package.json
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/receive.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/receiveBatch.ts
  sdk/servicebus/service-bus/test/perf-js-libs/service-bus-v7/send.ts
  sdk/servicebus/service-bus/test/perf-js-libs/tsconfig.json
Labels: Service Bus

#30616 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
Labels: Azure.Core

#30596 [KeyVault] upgrade dependency `@azure/abort-controller` to v2
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/test/public/CRUD.spec.ts
Labels: KeyVault

#30613 [multiple packages] upgrade dependency @azure/abort-controller to v2
  sdk/maps/maps-common/package.json
  sdk/monitor/monitor-ingestion/package.json
  sdk/monitor/monitor-ingestion/test/public/logsIngestionClient.spec.ts
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/synapse/synapse-artifacts/package.json
Labels: Monitor, Synapse, Remote Rendering, Maps

#30588 [mgmt] revert skipped test cases
  .github/CODEOWNERS
  sdk/cdn/arm-cdn/CHANGELOG.md
  sdk/cdn/arm-cdn/assets.json
  sdk/cdn/arm-cdn/package.json
  sdk/cdn/arm-cdn/test/cdn_examples.spec.ts
  sdk/confidentialledger/arm-confidentialledger/CHANGELOG.md
  sdk/confidentialledger/arm-confidentialledger/assets.json
  sdk/confidentialledger/arm-confidentialledger/package.json
  sdk/confidentialledger/arm-confidentialledger/test/confidentialledger_operations_test.spec.ts
  sdk/devcenter/arm-devcenter/CHANGELOG.md
  sdk/devcenter/arm-devcenter/assets.json
  sdk/devcenter/arm-devcenter/package.json
  sdk/devcenter/arm-devcenter/test/devcenter_examples.spec.ts
  sdk/deviceregistry/arm-deviceregistry/assets.json
  sdk/deviceregistry/arm-deviceregistry/package.json
  sdk/deviceregistry/arm-deviceregistry/test/deviceregistry_operations_test.spec.ts
  sdk/frontdoor/arm-frontdoor/assets.json
  sdk/frontdoor/arm-frontdoor/package.json
  sdk/frontdoor/arm-frontdoor/test/frontdoor_operations_test.spec.ts
  sdk/hdinsight/arm-hdinsight/CHANGELOG.md
  sdk/hdinsight/arm-hdinsight/test/hdinsights_operations_test.spec.ts
  sdk/hdinsight/arm-hdinsightcontainers/CHANGELOG.md
  sdk/hdinsight/arm-hdinsightcontainers/assets.json
  sdk/hdinsight/arm-hdinsightcontainers/package.json
  sdk/hdinsight/arm-hdinsightcontainers/test/hdinsightcontainers_operations_test.spec.ts
  sdk/healthcareapis/arm-healthcareapis/CHANGELOG.md
  sdk/healthcareapis/arm-healthcareapis/assets.json
  sdk/healthcareapis/arm-healthcareapis/package.json
  sdk/healthcareapis/arm-healthcareapis/test/healthcareapis_operations_test.spec.ts
  sdk/quota/arm-quota/CHANGELOG.md
  sdk/quota/arm-quota/assets.json
  sdk/quota/arm-quota/package.json
  sdk/quota/arm-quota/test/quota_operations_test.spec.ts
  sdk/standbypool/arm-standbypool/CHANGELOG.md
  sdk/standbypool/arm-standbypool/assets.json
  sdk/standbypool/arm-standbypool/package.json
  sdk/standbypool/arm-standbypool/test/standbypool_operations_test.spec.ts
  sdk/support/arm-support/assets.json
  sdk/support/arm-support/package.json
  sdk/support/arm-support/test/support_operations_test.spec.ts
Labels: Mgmt, ConfidentialLedger

#30608 [cosmos] Feature/2692245: fix mapping of correlated activity id
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/documentProducer.ts
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/queryIterator.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
Labels: Cosmos

#30602 [communication] upgrade dependency `@azure/abort-controller` to v2
  sdk/communication/communication-alpha-ids/package.json
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/src/eventprocessor/callAutomationEventProcessor.ts
  sdk/communication/communication-call-automation/test/callAutomationEventProcessor.spec.ts
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/test/public/communicationTokenCredential.spec.ts
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-job-router/package.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-recipient-verification/package.json
  sdk/communication/communication-short-codes/package.json
  sdk/communication/communication-sms/package.json
  sdk/communication/communication-tiering/package.json
  sdk/communication/communication-toll-free-verification/package.json
Labels: Communication, Communication - Chat, Communication - Common, Communication - Identity, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Communication - Alpha IDs, Communication - Job Router

#30620 [Event Hubs Checkpoint Store] Migrate to TSHY and vitest
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/tsconfig.json
  sdk/eventhub/eventhubs-checkpointstore-blob/api-extractor.json
  sdk/eventhub/eventhubs-checkpointstore-blob/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/blobCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/index.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/src/util/error.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/README.md
  sdk/eventhub/eventhubs-checkpointstore-blob/test/activate-browser-logging.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/public/blob-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/snippets.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/util/chai.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/util/clients.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/util/constants.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/util/testUtils.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/utils/testUtils.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/tests.yml
  sdk/eventhub/eventhubs-checkpointstore-blob/tsconfig.browser.config.json
  sdk/eventhub/eventhubs-checkpointstore-blob/tsconfig.json
  sdk/eventhub/eventhubs-checkpointstore-blob/vitest.browser.config.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/vitest.config.ts
  sdk/eventhub/eventhubs-checkpointstore-table/src/tableCheckpointStore.ts
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#29806 [load-testing] upgrade dependency @azure/abort-controller to ^2.1.2
  sdk/loadtesting/arm-loadtesting/package.json
  sdk/loadtesting/arm-loadtesting/test/loadtesting_quota_operations.spec.ts
  sdk/loadtesting/arm-loadtesting/test/loadtesting_resource_operations.spec.ts
  sdk/loadtesting/load-testing-rest/README.md
  sdk/loadtesting/load-testing-rest/package.json
  sdk/loadtesting/load-testing-rest/samples-dev/sample.ts
  sdk/loadtesting/load-testing-rest/samples/v1-beta/javascript/package.json
  sdk/loadtesting/load-testing-rest/samples/v1-beta/javascript/sample.js
  sdk/loadtesting/load-testing-rest/samples/v1-beta/typescript/package.json
  sdk/loadtesting/load-testing-rest/samples/v1-beta/typescript/src/sample.ts
  sdk/loadtesting/load-testing-rest/src/getFileValidationPoller.ts
  sdk/loadtesting/load-testing-rest/src/getTestRunCompletionPoller.ts
  sdk/loadtesting/load-testing-rest/test/public/testAdministration.spec.ts
  sdk/loadtesting/load-testing-rest/test/public/testRun.spec.ts
  sdk/loadtesting/load-testing-rest/test/public/utils/recordedClient.ts
Labels: Mgmt

#30631 [eventhub] cleanup
  sdk/eventhub/CODE_OF_CONDUCT.md
  sdk/eventhub/LICENSE-CODE
  sdk/eventhub/License
  sdk/eventhub/ci.yml
  sdk/eventhub/contribute.md
  sdk/eventhub/sample.env
  sdk/eventhub/thirdpartynotice.txt
Labels: Event Hubs

#30603 Sync eng/common directory with azure-sdk-tools for PR 8746
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30619 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
Labels: Azure.Core

#30617 Update signaling version and Changelog
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#30634 [mockhub] Migrate to TSHY and vitest
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/src/index.ts
  sdk/eventhub/mock-hub/.eslintrc.json
  sdk/eventhub/mock-hub/api-extractor.json
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/review/mock-hub.api.md
  sdk/eventhub/mock-hub/sample.env
  sdk/eventhub/mock-hub/samples-dev/start.ts
  sdk/eventhub/mock-hub/samples/INSTRUCTIONS.md
  sdk/eventhub/mock-hub/samples/javascript/package.json
  sdk/eventhub/mock-hub/samples/javascript/readme.md
  sdk/eventhub/mock-hub/samples/javascript/sample.env
  sdk/eventhub/mock-hub/samples/tsconfig.json
  sdk/eventhub/mock-hub/samples/typescript/package.json
  sdk/eventhub/mock-hub/samples/typescript/sample.env
  sdk/eventhub/mock-hub/samples/v1/javascript/README.md
  sdk/eventhub/mock-hub/samples/v1/javascript/package.json
  sdk/eventhub/mock-hub/samples/v1/javascript/sample.env
  sdk/eventhub/mock-hub/samples/v1/javascript/start.js
  sdk/eventhub/mock-hub/samples/v1/typescript/README.md
  sdk/eventhub/mock-hub/samples/v1/typescript/package.json
  sdk/eventhub/mock-hub/samples/v1/typescript/sample.env
  sdk/eventhub/mock-hub/samples/v1/typescript/src/start.ts
  sdk/eventhub/mock-hub/samples/v1/typescript/tsconfig.json
  sdk/eventhub/mock-hub/src/index.ts
  sdk/eventhub/mock-hub/src/messages/cbs/cbsAccepted.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/partitionInfo.ts
  sdk/eventhub/mock-hub/src/messages/event-hubs/runtimeInfo.ts
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
  sdk/eventhub/mock-hub/src/server/mockServer.ts
  sdk/eventhub/mock-hub/src/services/eventHubs.ts
  sdk/eventhub/mock-hub/src/storage/messageStore.ts
  sdk/eventhub/mock-hub/src/utils/convertBufferToMessage.ts
  sdk/eventhub/mock-hub/test/tests.spec.ts
  sdk/eventhub/mock-hub/tsconfig.json
  sdk/eventhub/mock-hub/vitest.config.ts
Labels: Event Hubs

#30639 [Event Hubs Checkpoint Store Tables] Migrate to TSHY and vitest
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/eventhubs-checkpointstore-table/api-extractor.json
  sdk/eventhub/eventhubs-checkpointstore-table/karma.conf.js
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/sample.env
  sdk/eventhub/eventhubs-checkpointstore-table/src/index.ts
  sdk/eventhub/eventhubs-checkpointstore-table/src/tableCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-table/src/util/error.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/activate-browser-logging.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/public/tables-checkpointstore.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/util/chai.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/util/clients.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/util/constants.ts
  sdk/eventhub/eventhubs-checkpointstore-table/test/util/testUtils.ts
  sdk/eventhub/eventhubs-checkpointstore-table/tests.yml
  sdk/eventhub/eventhubs-checkpointstore-table/tsconfig.browser.config.json
  sdk/eventhub/eventhubs-checkpointstore-table/tsconfig.json
  sdk/eventhub/eventhubs-checkpointstore-table/vitest.browser.config.ts
  sdk/eventhub/eventhubs-checkpointstore-table/vitest.config.ts
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#30641 [Event Hubs] Cleanup IoT Hub samples
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/sample.env
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5-beta/express/package.json
  sdk/eventhub/event-hubs/samples/v5-beta/express/src/asyncBatchingProducer.ts
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/README.md
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/sample.env
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/README.md
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/sample.env
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/iothubConnectionStringWebsockets.ts
  sdk/eventhub/mock-hub/src/sender/streamingPartitionSender.ts
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#30621 Fix Azure Purview Catalog Rest Sample Issue #22749
  sdk/purview/purview-catalog-rest/samples/v1/javascript/README.md
  sdk/purview/purview-catalog-rest/samples/v1/javascript/package.json
  sdk/purview/purview-catalog-rest/samples/v1/javascript/sample.env
  sdk/purview/purview-catalog-rest/samples/v1/javascript/typedefs.js
  sdk/purview/purview-catalog-rest/samples/v1/typescript/README.md
  sdk/purview/purview-catalog-rest/samples/v1/typescript/package.json
  sdk/purview/purview-catalog-rest/samples/v1/typescript/sample.env
  sdk/purview/purview-catalog-rest/samples/v1/typescript/src/typedefs.ts
  sdk/purview/purview-catalog-rest/samples/v1/typescript/tsconfig.json
  sdk/purview/purview-catalog-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-sharing-rest/test/public/utils/recordedClient.ts
  sdk/purview/purview-workflow-rest/test/public/utils/recordedClient.ts
Labels: Purview

#30648 Fix Bulk split error substatus
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
Labels: Cosmos

#30640 [eslint-plugin] add `eslint-plugin-n`
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-base.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
  sdk/cosmosdb/cosmos/eslint.config.mjs
  sdk/monitor/monitor-opentelemetry-exporter/.eslintrc.json
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry/.eslintrc.json
  sdk/monitor/monitor-opentelemetry/package.json
Labels: Cosmos, eslint plugin

#30652 [docs][mock-hub] fix broken link after the samples refactoring
  sdk/eventhub/mock-hub/README.md
Labels: Event Hubs

#30629 [identity] Only set error.cause if it exists
  sdk/identity/identity/src/errors.ts
Labels: Azure.Identity

#30649 [cosmos] Computed Property V4sample
  sdk/cosmosdb/cosmos/samples-dev/ContainerManagement.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ContainerManagement.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ContainerManagement.ts
Labels: Cosmos

#30656 [Identity] update docs for IDC and device code credentials
  sdk/identity/identity/src/credentials/deviceCodeCredentialOptions.ts
  sdk/identity/identity/src/credentials/interactiveBrowserCredentialOptions.ts
Labels: Azure.Identity

#30653 [Event Hubs] Standardize consumer group name env var
  sdk/eventhub/event-hubs/sample.env
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples-dev/receiveEvents.ts
  sdk/eventhub/event-hubs/samples-dev/useWithIotHub.ts
  sdk/eventhub/event-hubs/samples-dev/websockets.ts
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/sample.env
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/useWithIotHub.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/websockets.js
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/sample.env
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/useWithIotHub.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/websockets.ts
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5/javascript/receiveEvents.js
  sdk/eventhub/event-hubs/samples/v5/javascript/sample.env
  sdk/eventhub/event-hubs/samples/v5/javascript/useWithIotHub.js
  sdk/eventhub/event-hubs/samples/v5/javascript/websockets.js
  sdk/eventhub/event-hubs/samples/v5/typescript/sample.env
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/receiveEvents.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/useWithIotHub.ts
  sdk/eventhub/event-hubs/samples/v5/typescript/src/websockets.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/javascript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1-beta/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/javascript/receiveEventsUsingCheckpointStore.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/javascript/receiveEventsWithApiSpecificStorage.js
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/javascript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/typescript/sample.env
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/typescript/src/receiveEventsUsingCheckpointStore.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples/v1/typescript/src/receiveEventsWithApiSpecificStorage.ts
  sdk/eventhub/perf-tests/event-hubs-track-1/README.md
  sdk/eventhub/perf-tests/event-hubs-track-1/sample.env
  sdk/eventhub/perf-tests/event-hubs-track-1/test/receive.spec.ts
  sdk/eventhub/perf-tests/event-hubs/README.md
  sdk/eventhub/perf-tests/event-hubs/sample.env
  sdk/eventhub/perf-tests/event-hubs/test/receive.spec.ts
  sdk/eventhub/perf-tests/event-hubs/test/subscribe.spec.ts
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#30663 Fix post split overlapping query range
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
Labels: Cosmos

#30665 Update vector search changelog
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#30667 add release date in changelog
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#30662 fix typo in README
  sdk/monitor/monitor-opentelemetry/README.md
Labels: customer-reported, Community Contribution

#30670 Sync eng/common directory with azure-sdk-tools for PR 8792
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30632 [webpubsub,fr,ta] upgrade dependency @azure/abort-controller to v2
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/test/private/poller.spec.ts
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.aborts.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/monitor/monitor-query/package.json
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/web-pubsub/web-pubsub-client/package.json
  sdk/web-pubsub/web-pubsub-client/src/webPubSubClient.ts
  sdk/web-pubsub/web-pubsub-client/test/client.lifetime.spec.ts
Labels: Cognitive - Text Analytics, Cognitive - Form Recognizer, WebPubSub

#30682 [Maps] Update changelog for fixing `scopes` in bearer token
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/CHANGELOG.md
Labels: Maps

#30612 [DataLake] Update storage-blob includes in package.json
  sdk/storage/storage-file-datalake/package.json
Labels: customer-reported, Client, Storage, Community Contribution

#30676 [eslint-plugin] exports ./prettier.json
  common/tools/eslint-plugin-azure-sdk/package.json
Labels: eslint plugin

#30675 [core-rest-pipeline] enable publishing docs
  sdk/core/ci.yml
Labels: Azure.Core

#30677 Sync eng/common directory with azure-sdk-tools for PR 8754
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/pipelines/templates/steps/verify-changelogs.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#30683 Added ability to retrieve SAS string to sign for debugging purposes
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/BlobServiceClient.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/ContainerClient.ts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-blob/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-blob/src/sas/BlobSASSignatureValues.ts
  sdk/storage/storage-file-datalake/review/storage-file-datalake.api.md
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/DataLakeServiceClient.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-datalake/src/index.ts
  sdk/storage/storage-file-datalake/src/sas/AccountSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/AccountSASSignatureValues.ts
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/FileSASSignatureValues.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/index.ts
  sdk/storage/storage-queue/review/storage-queue.api.md
  sdk/storage/storage-queue/src/AccountSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueClient.ts
  sdk/storage/storage-queue/src/QueueSASSignatureValues.ts
  sdk/storage/storage-queue/src/QueueServiceClient.ts
  sdk/storage/storage-queue/src/index.ts
Labels: Storage

#30681 Storage/stg95
  .vscode/cspell.json
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/ShareServiceClient.ts
  sdk/storage/storage-file-share/src/generated/src/models/index.ts
  sdk/storage/storage-file-share/src/generated/src/models/mappers.ts
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/operations/directory.ts
  sdk/storage/storage-file-share/src/generated/src/operations/file.ts
  sdk/storage/storage-file-share/src/generated/src/operations/service.ts
  sdk/storage/storage-file-share/src/generated/src/operations/share.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/src/utils/utils.common.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/leaseclient.spec.ts
  sdk/storage/storage-file-share/test/node/fileserviceclient.spec.ts
  sdk/storage/storage-file-share/test/node/leaseClient.spec.ts
  sdk/storage/storage-file-share/test/node/shareclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-file-share/test/utils/index.ts
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#30161 [App Config] Add tags filter & list by label methods for 2023-11-01 API version
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/review/app-configuration.api.md
  sdk/appconfiguration/app-configuration/samples-dev/listConfigurationSettings.ts
  sdk/appconfiguration/app-configuration/samples-dev/listLabels.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listConfigurationSettings.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/listLabels.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/README.md
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listConfigurationSettings.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/listLabels.ts
  sdk/appconfiguration/app-configuration/src/appConfigurationClient.ts
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/index.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/mappers.ts
  sdk/appconfiguration/app-configuration/src/generated/src/models/parameters.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/src/internal/helpers.ts
  sdk/appconfiguration/app-configuration/src/models.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration

#30661 fix: default for AZURE_LOG_LEVEL
  sdk/monitor/monitor-opentelemetry/src/shared/logging/logger.ts
Labels: customer-reported, Community Contribution

#30572 [core] Added calculateRetryDelay helper
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/review/core-util.api.md
  sdk/core/core-util/src/delay.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/test/public/delay.spec.ts
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/util/delay.ts
  sdk/core/ts-http-runtime/test/util/delay.spec.ts
Labels: Azure.Core

#30701 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#30664 [mgmt] healthdataaiservices release
  .github/CODEOWNERS
  common/config/rush/pnpm-lock.yaml
  eng/ignore-links.txt
  rush.json
  sdk/healthdataaiservices/arm-healthdataaiservices/.eslintrc.json
  sdk/healthdataaiservices/arm-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/arm-healthdataaiservices/LICENSE
  sdk/healthdataaiservices/arm-healthdataaiservices/README.md
  sdk/healthdataaiservices/arm-healthdataaiservices/api-extractor.json
  sdk/healthdataaiservices/arm-healthdataaiservices/assets.json
  sdk/healthdataaiservices/arm-healthdataaiservices/package.json
  sdk/healthdataaiservices/arm-healthdataaiservices/review/arm-healthdataaiservices-api.api.md
  sdk/healthdataaiservices/arm-healthdataaiservices/review/arm-healthdataaiservices-models.api.md
  sdk/healthdataaiservices/arm-healthdataaiservices/review/arm-healthdataaiservices.api.md
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/deidServices/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/healthDataAIServicesContext.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/operations/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/pagingHelpers.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/pollingHelpers.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/privateEndpointConnections/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/api/privateLinks/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/classic/deidServices/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/classic/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/classic/operations/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/classic/privateEndpointConnections/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/classic/privateLinks/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/healthDataAIServicesClient.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/helpers/serializerHelpers.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/logger.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/models/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/models/models.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/models/options.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/models/pagingTypes.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/clientDefinitions.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/healthDataAIServicesClient.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/index.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/isUnexpected.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/models.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/outputModels.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/paginateHelper.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/parameters.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/pollingHelper.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/responses.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/src/restorePollerHelpers.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/test/public/healthdataaiservices_operations_test.spec.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/test/public/utils/recordedClient.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/tsconfig.browser.config.json
  sdk/healthdataaiservices/arm-healthdataaiservices/tsconfig.json
  sdk/healthdataaiservices/arm-healthdataaiservices/tsp-location.yaml
  sdk/healthdataaiservices/arm-healthdataaiservices/vitest.browser.config.ts
  sdk/healthdataaiservices/arm-healthdataaiservices/vitest.config.ts
  sdk/healthdataaiservices/ci.mgmt.yml
Labels: Mgmt, Health Deidentification

#30706 Fixing links to be JS links, not Java
  sdk/keyvault/keyvault-admin/README.md
  sdk/keyvault/keyvault-certificates/README.md
  sdk/keyvault/keyvault-keys/README.md
  sdk/keyvault/keyvault-secrets/README.md
Labels: customer-reported, KeyVault, Community Contribution

#30687 [Event Hubs] Abstract event receiver and processor in tests
  sdk/eventhub/event-hubs/scripts/mockService.mts
  sdk/eventhub/event-hubs/test/internal/eventProcessor.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/disconnect.spec.ts
  sdk/eventhub/event-hubs/test/internal/receiveBatch.spec.ts
  sdk/eventhub/event-hubs/test/utils/clients.ts
  sdk/eventhub/event-hubs/test/utils/constants.ts
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#30707 [core-sse] Fix NodeJS socket behavior
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-sse/src/utils.ts
  sdk/core/core-sse/test/internal/createStream.spec.ts
  sdk/core/core-sse/test/public/node/connection.spec.ts
  sdk/core/core-sse/test/server/config.mts
  sdk/core/core-sse/test/server/logger.mts
  sdk/core/core-sse/test/server/responses.mts
  sdk/core/core-sse/test/server/start.mts
  sdk/core/core-sse/vitest.config.ts
Labels: Azure.Core

#30708 [core-amqp] Remove polyfills
  common/config/rush/pnpm-lock.yaml
  common/tools/vite-plugin-browser-test-map/src/index.ts
  sdk/core/core-amqp/package.json
  sdk/core/core-amqp/vitest.browser.config.ts
Labels: Azure.Core

#30703 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#30695 Release Azure WebPubsub
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/src/generated/generatedClientContext.ts
Labels: WebPubSub

#30711 Post release automated changes for web-pubsub releases
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/src/generated/generatedClientContext.ts
  sdk/web-pubsub/web-pubsub/swagger/README.md
Labels: WebPubSub

#30715 Post release automated changes for healthdataaiservices releases
  sdk/healthdataaiservices/arm-healthdataaiservices/CHANGELOG.md
  sdk/healthdataaiservices/arm-healthdataaiservices/package.json
  sdk/healthdataaiservices/arm-healthdataaiservices/src/rest/healthDataAIServicesClient.ts
Labels: Health Deidentification

#30633 [Test-Credential] Update to Azure Pipeline Credential
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/util/browserRelayServer.ts
  sdk/test-utils/test-credential/CHANGELOG.md
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-credential/src/index.ts
Labels: test-utils

#30709 Adding the audio streaming support for the group call
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication

#30710 [core-sse] Update sample to use a real world example
  sdk/core/core-sse/samples-dev/createSseStream.ts
  sdk/core/core-sse/samples/v2/javascript/createSseStream.js
  sdk/core/core-sse/samples/v2/javascript/package.json
  sdk/core/core-sse/samples/v2/typescript/package.json
  sdk/core/core-sse/samples/v2/typescript/src/createSseStream.ts
Labels: Azure.Core

#30722 [core-xml] Updating to latest fast-xml-parser
  sdk/core/core-xml/package.json
Labels: Azure.Core

#30720 [identity] Add support for AsSecureString in PowerShellCredential
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#30610 [identity] Update parameter validation errors
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/azurePipelinesCredential.ts
  sdk/identity/identity/src/credentials/clientAssertionCredential.ts
  sdk/identity/identity/src/credentials/clientSecretCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/workloadIdentityCredential.ts
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
Labels: Azure.Identity

#30729 [Event Hubs] Unpin deps
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
Labels: Event Hubs

#30738 [core-sse] Prepare August release
  sdk/core/core-sse/CHANGELOG.md
Labels: Azure.Core

#30728 [core] Upgrade to vitest v2
  common/config/rush/pnpm-lock.yaml
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-client/test/authorizeRequestOnTenantChallenge.spec.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/test/auxiliaryAuthenticationHeaderPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/defaultRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/exponentialRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/formDataPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/multipartPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/ndJsonPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/decompressResponsePolicy.spec.ts
  sdk/core/core-rest-pipeline/test/node/proxyPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/redirectPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/retryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/setClientRequestIdPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/systemErrorRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/throttlingRetryPolicy.spec.ts
  sdk/core/core-rest-pipeline/test/tracingPolicy.spec.ts
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/logger/test/debug.spec.ts
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/defaultRetryPolicy.spec.ts
  sdk/core/ts-http-runtime/test/exponentialRetryPolicy.spec.ts
  sdk/core/ts-http-runtime/test/formDataPolicy.spec.ts
  sdk/core/ts-http-runtime/test/multipartPolicy.spec.ts
  sdk/core/ts-http-runtime/test/node/decompressResponsePolicy.ts
  sdk/core/ts-http-runtime/test/node/proxyPolicy.spec.ts
  sdk/core/ts-http-runtime/test/redirectPolicy.spec.ts
  sdk/core/ts-http-runtime/test/retryPolicy.spec.ts
  sdk/core/ts-http-runtime/test/systemErrorRetryPolicy.spec.ts
  sdk/core/ts-http-runtime/test/throttlingRetryPolicy.spec.ts
  sdk/core/ts-http-runtime/test/tracingPolicy.spec.ts
Labels: Azure.Core

#30727 [EngSys] upgrade dev dependency `puppeteer` to ^23.0.2
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/package.json
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-secrets/package.json
  sdk/servicebus/service-bus/package.json
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-internal-avro/package.json
  sdk/storage/storage-queue/package.json
  sdk/template/template-dpg/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
  sdk/web-pubsub/web-pubsub-client/package.json
  sdk/web-pubsub/web-pubsub/package.json
Labels: EngSys, Service Bus, Storage, KeyVault, Azure.Identity, WebPubSub

#30744 Post release automated changes for core releases
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
Labels: Azure.Core

#30730 [clients] Upgrade vitest to v2
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  sdk/ai/ai-inference-rest/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
  sdk/computefleet/arm-computefleet/package.json
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/edgezones/arm-edgezones/package.json
  sdk/face/ai-vision-face-rest/package.json
  sdk/healthdataaiservices/arm-healthdataaiservices/package.json
  sdk/healthdataaiservices/azure-health-deidentification/package.json
  sdk/healthdataaiservices/azure-health-deidentification/test/public/jobOperationsTest.spec.ts
  sdk/healthdataaiservices/azure-health-deidentification/test/public/realtimeOperationsTest.spec.ts
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/notificationhubs/notification-hubs/test/internal/unit/sasTokenCredential.spec.ts
  sdk/test-utils/recorder/package.json
  sdk/test-utils/recorder/src/recorder.ts
  sdk/test-utils/recorder/src/testInfo.ts
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: Mgmt, eslint plugin, dev-tool, WebPubSub, test-utils, Health Deidentification

#30748 [identity] 4.5.0-beta.2 release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#30747 Upgrade tshy to v2
  common/config/rush/pnpm-lock.yaml
  sdk/ai/ai-inference-rest/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-tools/package.json
  sdk/batch/batch-rest/package.json
  sdk/computefleet/arm-computefleet/package.json
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/edgezones/arm-edgezones/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
  sdk/eventhub/mock-hub/package.json
  sdk/face/ai-vision-face-rest/package.json
  sdk/healthdataaiservices/arm-healthdataaiservices/package.json
  sdk/healthdataaiservices/azure-health-deidentification/package.json
  sdk/mongocluster/arm-mongocluster/package.json
  sdk/notificationhubs/notification-hubs/package.json
  sdk/openai/openai/package.json
  sdk/template/template/package.json
  sdk/test-utils/recorder/package.json
  sdk/translation/ai-translation-document-rest/package.json
  sdk/web-pubsub/web-pubsub-express/package.json
Labels: EngSys, Mgmt, Event Hubs, Azure.Core, Batch, Cognitive - Translator, WebPubSub, test-utils, OpenAI, Health Deidentification

#30749 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#30740 [test-utils] Adding @azure-tools/test-utils-vitest
  common/config/rush/pnpm-lock.yaml
  eng/CredScanSuppression.json
  rush.json
  sdk/test-utils/test-utils-vitest/CHANGELOG.md
  sdk/test-utils/test-utils-vitest/README.md
  sdk/test-utils/test-utils-vitest/package.json
  sdk/test-utils/test-utils-vitest/src/azureAssert.ts
  sdk/test-utils/test-utils-vitest/src/azureMatchers.ts
  sdk/test-utils/test-utils-vitest/src/fakeTestSecrets.ts
  sdk/test-utils/test-utils-vitest/src/getYieldedValue.ts
  sdk/test-utils/test-utils-vitest/src/index.ts
  sdk/test-utils/test-utils-vitest/src/matrix.ts
  sdk/test-utils/test-utils-vitest/src/tracing/azureTraceAssert.ts
  sdk/test-utils/test-utils-vitest/src/tracing/azureTraceMatcher.ts
  sdk/test-utils/test-utils-vitest/src/tracing/mockContext.ts
  sdk/test-utils/test-utils-vitest/src/tracing/mockInstrumenter.ts
  sdk/test-utils/test-utils-vitest/src/tracing/mockTracingSpan.ts
  sdk/test-utils/test-utils-vitest/src/tracing/spanGraphModel.ts
  sdk/test-utils/test-utils-vitest/src/tracing/testSpan.ts
  sdk/test-utils/test-utils-vitest/src/tracing/testTracer.ts
  sdk/test-utils/test-utils-vitest/src/tracing/testTracerProvider.ts
  sdk/test-utils/test-utils-vitest/src/tracing/tracingUtils.ts
  sdk/test-utils/test-utils-vitest/test/getYieldedValue.spec.ts
  sdk/test-utils/test-utils-vitest/test/matrix.spec.ts
  sdk/test-utils/test-utils-vitest/test/tracing/mockInstrumenterAssert.spec.ts
  sdk/test-utils/test-utils-vitest/test/tracing/mockInstrumenterExpect.spec.ts
  sdk/test-utils/test-utils-vitest/test/tracing/mockTracingSpan.spec.ts
  sdk/test-utils/test-utils-vitest/tsconfig.browser.config.json
  sdk/test-utils/test-utils-vitest/tsconfig.json
  sdk/test-utils/test-utils-vitest/vitest.browser.config.ts
  sdk/test-utils/test-utils-vitest/vitest.config.ts
Labels: test-utils

#30745 [EngSys] fix some inconsistent dependency versions in our tools
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  sdk/test-utils/perf/package.json
  sdk/test-utils/recorder/package.json
Labels: dev-tool, test-utils

#30742 [engsys] use caret version for api-extractor
  sdk/vision/ai-vision-image-analysis-rest/package.json
Labels: Image Analysis

#30762 Sync eng/common directory with azure-sdk-tools for PR 8831
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#30761 [lint] remove usage of passing internal eslintrc via command line
  CONTRIBUTING.md
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/vite-plugin-browser-test-map/eslint.config.mjs
  common/tools/vite-plugin-browser-test-map/package.json
  sdk/test-utils/perf/eslint.config.mjs
  sdk/test-utils/perf/package.json
  sdk/test-utils/recorder/eslint.config.mjs
  sdk/test-utils/recorder/package.json
  sdk/test-utils/test-credential/eslint.config.mjs
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-utils-vitest/eslint.config.mjs
  sdk/test-utils/test-utils-vitest/package.json
  sdk/test-utils/test-utils/eslint.config.mjs
  sdk/test-utils/test-utils/package.json
Labels: EngSys, eslint plugin, test-utils

#30760 [Event Hubs] Re-enable tracing tests
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/test/internal/tracing.spec.ts
  sdk/eventhub/event-hubs/test/utils/chai.ts
  sdk/eventhub/event-hubs/test/utils/tracing.ts
  sdk/eventhub/event-hubs/vitest.browser.config.ts
Labels: Event Hubs

#30759 Update CHANGELOG.md
  sdk/healthinsights/health-insights-radiologyinsights-rest/CHANGELOG.md
Labels: Cognitive - Health Insights

#30768 [instrumentation] Update changelog for opentelemetry-instrumentation-azure-sdk
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/README.md
Labels: OpenTelemetryInstrumentation

#30769 Sync eng/common directory with azure-sdk-tools for PR 8830
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#30770 Post release automated changes for instrumentation releases
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/configuration.ts
Labels: OpenTelemetryInstrumentation

#30758 Sync eng/common directory with azure-sdk-tools for PR 8842
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#30743 [keyvault-admin] Migrate to ESM and tshy
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-admin/.nycrc
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/api-extractor.json
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/platform-matrix.json
  sdk/keyvault/keyvault-admin/src/accessControlClient.ts
  sdk/keyvault/keyvault-admin/src/accessControlModels.ts
  sdk/keyvault/keyvault-admin/src/backupClient.ts
  sdk/keyvault/keyvault-admin/src/backupClientModels.ts
  sdk/keyvault/keyvault-admin/src/generated/index.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-admin/src/generated/keyVaultClientContext.ts
  sdk/keyvault/keyvault-admin/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/index.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/roleAssignments.ts
  sdk/keyvault/keyvault-admin/src/generated/operations/roleDefinitions.ts
  sdk/keyvault/keyvault-admin/src/generated/operationsInterfaces/index.ts
  sdk/keyvault/keyvault-admin/src/generated/operationsInterfaces/roleAssignments.ts
  sdk/keyvault/keyvault-admin/src/generated/operationsInterfaces/roleDefinitions.ts
  sdk/keyvault/keyvault-admin/src/index.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/backup/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/keyVaultAdminPoller.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/restore/poller.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/operation.ts
  sdk/keyvault/keyvault-admin/src/lro/selectiveKeyRestore/poller.ts
  sdk/keyvault/keyvault-admin/src/mappings.ts
  sdk/keyvault/keyvault-admin/src/settingsClient.ts
  sdk/keyvault/keyvault-admin/src/settingsClientModels.ts
  sdk/keyvault/keyvault-admin/src/tracing.ts
  sdk/keyvault/keyvault-admin/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-admin/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.aborts.spec.ts
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/settingsClient.spec.ts
  sdk/keyvault/keyvault-admin/test/public/utils/authentication.ts
  sdk/keyvault/keyvault-admin/test/public/utils/common.ts
  sdk/keyvault/keyvault-admin/test/public/utils/recorder.ts
  sdk/keyvault/keyvault-admin/tsconfig.json
  sdk/keyvault/keyvault-admin/vitest.config.ts
Labels: KeyVault, test-utils

#30774 [eslint-plugin] enable eslint-plugin-promise for our flat config
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/typings/eslint-plugin-promise.d.ts
Labels: eslint plugin

#30775 [eslint-plugin] upgrade `eslint-plugin-no-only-tests` to `^3.3.0`
  common/config/rush/pnpm-lock.yaml
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
Labels: eslint plugin

#30777 [OpenAI] Update API version
  sdk/openai/openai/MIGRATION.md
  sdk/openai/openai/README.md
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples-dev/chatCompletions.ts
  sdk/openai/openai/samples-dev/completions.ts
  sdk/openai/openai/samples-dev/embeddings.ts
  sdk/openai/openai/samples-dev/images.ts
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/textToSpeech.ts
  sdk/openai/openai/samples-dev/toolCall.ts
  sdk/openai/openai/samples/cookbook/embeddingLongInputs.js
  sdk/openai/openai/samples/cookbook/onYourData/index.js
  sdk/openai/openai/samples/cookbook/simpleCompletionsPage/app.js
  sdk/openai/openai/samples/cookbook/speechToSpeechChat/app.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/completions.js
  sdk/openai/openai/samples/v2-beta/javascript/embeddings.js
  sdk/openai/openai/samples/v2-beta/javascript/images.js
  sdk/openai/openai/samples/v2-beta/javascript/onYourData.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v2-beta/javascript/streamCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/javascript/toolCall.js
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/completions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/embeddings.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/images.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/onYourData.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/textToSpeech.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/toolCall.ts
Labels: OpenAI

#30778 [Event Hubs] Migrate from ARM to bicep
  sdk/eventhub/test-resources.bicep
  sdk/eventhub/test-resources.json
Labels: Event Hubs

#30790 Sync eng/common directory with azure-sdk-tools for PR 8849
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#30792 [linting] move monitor-opentelemetry-exporter to use flat config
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/samples-dev/receiveEventsWithApiSpecificStorage.ts
  sdk/monitor/monitor-opentelemetry-exporter/.eslintignore
  sdk/monitor/monitor-opentelemetry-exporter/.eslintrc.json
  sdk/monitor/monitor-opentelemetry-exporter/eslint.config.mjs
  sdk/monitor/monitor-opentelemetry-exporter/package.json
  sdk/monitor/monitor-opentelemetry-exporter/src/utils/spanUtils.ts
Labels: Event Hubs, eslint plugin

#30806 [eslint] move keyvault-{certificates,secrets} to flat config
  sdk/keyvault/keyvault-certificates/.eslintrc.json
  sdk/keyvault/keyvault-certificates/eslint.config.mjs
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/test/public/utils/lro/restore/operation.ts
  sdk/keyvault/keyvault-secrets/.eslintrc.json
  sdk/keyvault/keyvault-secrets/eslint.config.mjs
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/test/public/utils/lro/restore/operation.ts
Labels: KeyVault

#30807 [eslint] move eventhub and servicebus to flat config
  sdk/eventhub/event-hubs/.eslintrc.json
  sdk/eventhub/event-hubs/README.md
  sdk/eventhub/event-hubs/eslint.config.mjs
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/.eslintrc.json
  sdk/servicebus/service-bus/README.md
  sdk/servicebus/service-bus/eslint.config.mjs
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/core/managementClient.ts
  sdk/servicebus/service-bus/src/dataTransformer.ts
  sdk/servicebus/service-bus/src/serviceBusMessage.ts
  sdk/servicebus/service-bus/src/util/atomXmlHelper.ts
  sdk/servicebus/service-bus/src/util/crypto.ts
  sdk/servicebus/service-bus/src/util/parseUrl.ts
  sdk/servicebus/service-bus/src/util/utils.ts
  sdk/servicebus/service-bus/test/internal/unit/dataTransformer.spec.ts
Labels: Service Bus, Event Hubs

#30506 [OpenAI] Add Live Test Pipeline
  common/config/rush/pnpm-lock.yaml
  sdk/openai/ci.yml
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/api-extractor.json
  sdk/openai/openai/assets/audio/countdown.flac
  sdk/openai/openai/assets/audio/countdown.m4a
  sdk/openai/openai/assets/audio/countdown.mpeg
  sdk/openai/openai/assets/audio/countdown.mpga
  sdk/openai/openai/assets/audio/countdown.oga
  sdk/openai/openai/assets/audio/countdown.ogg
  sdk/openai/openai/assets/audio/countdown.wav
  sdk/openai/openai/assets/audio/countdown.webm
  sdk/openai/openai/package.json
  sdk/openai/openai/review/openai-types.api.md
  sdk/openai/openai/src/types/index.ts
  sdk/openai/openai/src/types/outputModels.ts
  sdk/openai/openai/test/public/abortsignal.spec.ts
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/public/embeddings.spec.ts
  sdk/openai/openai/test/public/images.spec.ts
  sdk/openai/openai/test/public/node/assistantsFile.spec.ts
  sdk/openai/openai/test/public/node/whisper.spec.ts
  sdk/openai/openai/test/public/utils/asserts.ts
  sdk/openai/openai/test/public/utils/audioTypes.ts
  sdk/openai/openai/test/public/utils/createClient.ts
  sdk/openai/openai/test/public/utils/envVars.ts
  sdk/openai/openai/test/public/utils/images-browser.mts
  sdk/openai/openai/test/public/utils/images.ts
  sdk/openai/openai/test/public/utils/models.ts
  sdk/openai/openai/test/public/utils/utils.ts
  sdk/openai/openai/test/public/vision.spec.ts
  sdk/openai/openai/tests.yml
  sdk/openai/openai/tsconfig.json
  sdk/openai/openai/vitest.browser.config.ts
  sdk/openai/openai/vitest.config.ts
Labels: OpenAI

#30772 [keyvault-common] Migrate to ESM and tshy
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-common/CHANGELOG.md
  sdk/keyvault/keyvault-common/api-extractor.json
  sdk/keyvault/keyvault-common/package.json
  sdk/keyvault/keyvault-common/src/challengeBasedAuthenticationPolicy.ts
  sdk/keyvault/keyvault-common/src/index.ts
  sdk/keyvault/keyvault-common/test.browser.config.json
  sdk/keyvault/keyvault-common/test/internal/challengeAuthenticationCallbacks.spec.ts
  sdk/keyvault/keyvault-common/tsconfig.json
  sdk/keyvault/keyvault-common/vitest.browser.config.ts
  sdk/keyvault/keyvault-common/vitest.config.ts
Labels: KeyVault

#30627 [@azure/eventgrid-system-events] Update System events for Version 1.0.0-beta.3
  sdk/eventgrid/eventgrid-system-events/CHANGELOG.md
  sdk/eventgrid/eventgrid-system-events/review/eventgrid-system-events.api.md
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/SystemEventsClient.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/api/SystemEventsContext.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/api/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/api/systemEventsContext.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/helpers/serializerHelpers.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/index.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/models/models.ts
  sdk/eventgrid/eventgrid-system-events/src/cadl-generated/rest/systemEventsClient.ts
  sdk/eventgrid/eventgrid-system-events/src/index.ts
  sdk/eventgrid/eventgrid-system-events/src/models.ts
Labels: Event Grid

#30811 [@azure/eventgrid] Update System events for EG Version 5.6.0
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#30825 [eslint] move web-pubsub-client to flat config
  sdk/web-pubsub/web-pubsub-client-protobuf/README.md
  sdk/web-pubsub/web-pubsub-client/.eslintrc.json
  sdk/web-pubsub/web-pubsub-client/README.md
  sdk/web-pubsub/web-pubsub-client/eslint.config.mjs
  sdk/web-pubsub/web-pubsub-client/package.json
  sdk/web-pubsub/web-pubsub-client/src/protocols/jsonProtocolBase.ts
  sdk/web-pubsub/web-pubsub-client/src/websocket/websocketClient.ts
  sdk/web-pubsub/web-pubsub-express/README.md
Labels: WebPubSub

#30795 [eslint-plugin] turn off `eslint-plugin-n` rules for browsers
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
Labels: eslint plugin

#30834 [core-lro] Add test case for PUT ignoring final-state-via
  sdk/core/core-lro/test/lro.spec.ts
Labels: Azure.Core

#30786 [Event Hubs] Stash connection strings in KV
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/sample.env
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples-dev/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/iothubConnectionString.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/iothubConnectionStringWebsockets.js
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/package.json
  sdk/eventhub/event-hubs/samples/v5-beta/javascript/sample.env
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/package.json
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/sample.env
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/iothubConnectionString.ts
  sdk/eventhub/event-hubs/samples/v5-beta/typescript/src/iothubConnectionStringWebsockets.ts
  sdk/eventhub/event-hubs/scripts/mockService.mts
  sdk/eventhub/event-hubs/test/internal/auth.spec.ts
  sdk/eventhub/event-hubs/test/internal/eventHubProducerClient.idem.spec.ts
  sdk/eventhub/event-hubs/test/internal/node/partitionKeyHashMap.spec.ts
  sdk/eventhub/event-hubs/test/public/auth.spec.ts
  sdk/eventhub/event-hubs/test/public/node/disconnects.spec.ts
  sdk/eventhub/event-hubs/test/utils/clients.ts
  sdk/eventhub/event-hubs/test/utils/constants.ts
  sdk/eventhub/event-hubs/test/utils/logging.ts
  sdk/eventhub/event-hubs/test/utils/sas.ts
  sdk/eventhub/event-hubs/test/utils/setup.ts
  sdk/eventhub/event-hubs/test/utils/vars.ts
  sdk/eventhub/event-hubs/tsconfig.browser.config.json
  sdk/eventhub/event-hubs/vitest.browser.config.ts
  sdk/eventhub/event-hubs/vitest.config.ts
  sdk/eventhub/test-resources.bicep
Labels: Event Hubs

#30817 [eslint] fix linting issues in communication README.md files
  sdk/communication/communication-alpha-ids/README.md
  sdk/communication/communication-email/README.md
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-messages-rest/README.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-recipient-verification/README.md
  sdk/communication/communication-rooms/README.md
  sdk/communication/communication-short-codes/README.md
  sdk/communication/communication-sms/README.md
  sdk/communication/communication-tiering/README.md
  sdk/communication/communication-toll-free-verification/README.md
Labels: Communication, Communication - Identity, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Communication - Email, Communication - Alpha IDs, Communication - Rooms

#30808 [eslint] move storage packages to use flat config
  sdk/storage/storage-blob/.eslintrc.json
  sdk/storage/storage-blob/README.md
  sdk/storage/storage-blob/eslint.config.mjs
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-file-datalake/.eslintrc.json
  sdk/storage/storage-file-datalake/README.md
  sdk/storage/storage-file-datalake/eslint.config.mjs
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/DataLakeFileSystemClient.ts
  sdk/storage/storage-file-datalake/src/utils/utils.common.ts
  sdk/storage/storage-file-share/.eslintrc.json
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/eslint.config.mjs
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/.eslintrc.json
  sdk/storage/storage-queue/README.md
  sdk/storage/storage-queue/eslint.config.mjs
  sdk/storage/storage-queue/package.json
Labels: Storage

#30844 [Event Hubs] Fix link
  sdk/eventhub/event-hubs/test/README.md
Labels: Event Hubs

#30826 [eslint] fix linting issues for several packages
  sdk/attestation/attestation/src/utils/utf8.ts
  sdk/containerregistry/container-registry/src/content/containerRegistryContentClient.ts
  sdk/containerregistry/container-registry/src/utils/digest.ts
  sdk/contentsafety/ai-content-safety-rest/.eslintrc.json
  sdk/contentsafety/ai-content-safety-rest/eslint.config.mjs
  sdk/contentsafety/ai-content-safety-rest/package.json
  sdk/keyvault/keyvault-keys/.eslintrc.json
  sdk/keyvault/keyvault-keys/eslint.config.mjs
  sdk/keyvault/keyvault-keys/package.json
  sdk/metricsadvisor/ai-metrics-advisor/README.md
  sdk/remoterendering/mixed-reality-remote-rendering/README.md
  sdk/search/search-documents/.eslintrc.json
  sdk/search/search-documents/README.md
  sdk/search/search-documents/eslint.config.mjs
  sdk/search/search-documents/package.json
  sdk/tables/data-tables/README.md
  sdk/textanalytics/ai-text-analytics/CHANGELOG.md
  sdk/textanalytics/ai-text-analytics/src/util.ts
  sdk/textanalytics/ai-text-analytics/src/utils/url.browser.ts
  sdk/textanalytics/ai-text-analytics/src/utils/url.ts
Labels: KeyVault, Container Registry, Search, Tables, Cognitive - Text Analytics, Attestation, Cognitive - Metrics Advisor, Remote Rendering, Cognitive - Content Safety

#30847 [Service Bus] Migrate to bicep
  sdk/servicebus/service-bus/test/README.md
  sdk/servicebus/test-resources.bicep
  sdk/servicebus/test-resources.json
Labels: Service Bus

#30849 [@azure/monitor-ingestion] Remove v1-beta samples in the Monitor Ingestion SDK
  sdk/monitor/monitor-ingestion/README.md
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/README.md
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/defaultConcurrency.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/earlyAborting.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/logsIngestionClient.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/package.json
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/sample.env
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/uploadCustomLogs.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/userDefinedConcurrency.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/javascript/userErrorHandling.js
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/README.md
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/package.json
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/sample.env
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/defaultConcurrency.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/earlyAborting.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/logsIngestionClient.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/uploadCustomLogs.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/userDefinedConcurrency.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/src/userErrorHandling.ts
  sdk/monitor/monitor-ingestion/samples/v1-beta/typescript/tsconfig.json
  sdk/monitor/monitor-ingestion/samples/v1/javascript/defaultConcurrency.js
  sdk/monitor/monitor-ingestion/samples/v1/javascript/earlyAborting.js
  sdk/monitor/monitor-ingestion/samples/v1/javascript/logsIngestionClient.js
  sdk/monitor/monitor-ingestion/samples/v1/javascript/package.json
  sdk/monitor/monitor-ingestion/samples/v1/javascript/uploadCustomLogs.js
  sdk/monitor/monitor-ingestion/samples/v1/javascript/userDefinedConcurrency.js
  sdk/monitor/monitor-ingestion/samples/v1/javascript/userErrorHandling.js
  sdk/monitor/monitor-ingestion/samples/v1/typescript/package.json
  sdk/monitor/monitor-ingestion/samples/v1/typescript/src/defaultConcurrency.ts
  sdk/monitor/monitor-ingestion/samples/v1/typescript/src/earlyAborting.ts
  sdk/monitor/monitor-ingestion/samples/v1/typescript/src/uploadCustomLogs.ts
  sdk/monitor/monitor-ingestion/samples/v1/typescript/src/userDefinedConcurrency.ts
  sdk/monitor/monitor-ingestion/samples/v1/typescript/src/userErrorHandling.ts
Labels: Monitor

#30855 [Search] Migrate to Bicep
  sdk/search/search-documents/test/README.md
  sdk/search/test-resources.bicep
  sdk/search/test-resources.json
Labels: Search

#30850 [Schema Registry] Migrate to Bicep
  sdk/schemaregistry/test-resources.bicep
  sdk/schemaregistry/test-resources.json
Labels: Schema Registry

#30862 [Event Grid] Migrate to Bicep
  sdk/eventgrid/test-resources.bicep
  sdk/eventgrid/test-resources.json
Labels: Event Grid

#30865 [Template] Migrate to Bicep
  sdk/template/test-resources.bicep
  sdk/template/test-resources.json
Labels: EngSys

#30857 [App Config] Migrate to Bicep
  sdk/appconfiguration/app-configuration/test/README.md
  sdk/appconfiguration/test-resources.bicep
  sdk/appconfiguration/test-resources.json
Labels: App Configuration

#30815 [identity] Use federated token in az cli
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/identity/identity/test/integration/node/azureKubernetesTest.spec.ts
  sdk/identity/identity/tests.yml
  sdk/identity/test-resources-post.ps1
Labels: Azure.Identity

#30771 [identity] Add support for Managed Identity ObjectID
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/managedIdentityCredential/index.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/src/index.ts
  sdk/identity/identity/test/integration/azureVMUserAssignedTest.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/msalMsiProvider.spec.ts
Labels: Azure.Identity

#30819 [keyvault-certificates] Migrate to ESM and tshy
  common/config/rush/pnpm-lock.yaml
  sdk/keyvault/keyvault-certificates/.nycrc
  sdk/keyvault/keyvault-certificates/api-extractor.json
  sdk/keyvault/keyvault-certificates/karma.conf.js
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/samples-dev/mergeCertificate.ts
  sdk/keyvault/keyvault-certificates/src/certificatesModels.ts
  sdk/keyvault/keyvault-certificates/src/generated/index.ts
  sdk/keyvault/keyvault-certificates/src/generated/keyVaultClient.ts
  sdk/keyvault/keyvault-certificates/src/generated/models/parameters.ts
  sdk/keyvault/keyvault-certificates/src/index.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/create/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/delete/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/keyVaultCertificatePoller.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/operation/poller.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/operation.ts
  sdk/keyvault/keyvault-certificates/src/lro/recover/poller.ts
  sdk/keyvault/keyvault-certificates/src/tracing.ts
  sdk/keyvault/keyvault-certificates/src/transformations.ts
  sdk/keyvault/keyvault-certificates/src/utils.ts
  sdk/keyvault/keyvault-certificates/test/internal/lroUnexpectedErrors.spec.ts
  sdk/keyvault/keyvault-certificates/test/internal/serviceVersionParameter.spec.ts
  sdk/keyvault/keyvault-certificates/test/internal/transformations.spec.ts
  sdk/keyvault/keyvault-certificates/test/internal/userAgent.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/CRUD.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/identifier.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/list.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.create.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.delete.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.operation.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/lro.recover.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/mergeAndImport.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/recoverBackupRestore.spec.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/common.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/lro/restore/operation.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/lro/restore/poller.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/testAuthentication.ts
  sdk/keyvault/keyvault-certificates/test/public/utils/testClient.ts
  sdk/keyvault/keyvault-certificates/tsconfig.json
  sdk/keyvault/keyvault-certificates/vitest.config.ts
Labels: KeyVault

#30848 [Test][data-tables] move to federated auth
  sdk/tables/data-tables/test/public/utils/recordedClient.ts
  sdk/tables/data-tables/tests.yml
  sdk/tables/test-resources.json
Labels: Tables

#30866 [Attestation] Migrate to Bicep
  sdk/attestation/test-resources-pre.ps1
  sdk/attestation/test-resources.bicep
  sdk/attestation/test-resources.json
Labels: Attestation

#30858 docs(): uncomment broken links for microsoft-playwright-testing
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/customising-service-parameters/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/manually-connecting-to-browsers/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/javascript/using-connect-options/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/customising-service-parameters/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/manually-connecting-to-browsers/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/set-default-authentication-mechanism/README.md
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/using-connect-options/README.md
Labels: Microsoft Playwright Testing

#30864 [Tables] Migrate to Bicep
  sdk/tables/test-resources-post.ps1
  sdk/tables/test-resources.bicep
  sdk/tables/test-resources.json
Labels: Tables

#30869 [Key Vault] Migrate to Bicep
  sdk/keyvault/keyvault-admin/test/README.md
  sdk/keyvault/keyvault-certificates/test/README.md
  sdk/keyvault/keyvault-keys/test/README.md
  sdk/keyvault/keyvault-secrets/test/README.md
  sdk/keyvault/test-resources.bicep
  sdk/keyvault/test-resources.json
Labels: KeyVault

#30854 [Web PubSub] Migrate to Bicep
  sdk/web-pubsub/test-resources.bicep
  sdk/web-pubsub/test-resources.json
Labels: WebPubSub

#30861 [Container Registry] Migrate to Bicep
  sdk/containerregistry/test-resources.bicep
  sdk/containerregistry/test-resources.json
Labels: Container Registry

#30872 [Synapse] Migrate to Bicep
  sdk/synapse/test-resources.bicep
  sdk/synapse/test-resources.json
Labels: Synapse

#30867 [Maps] Migrate to Bicep
  sdk/maps/maps-geolocation-rest/tests.yml
  sdk/maps/maps-render-rest/tests.yml
  sdk/maps/maps-route-rest/tests.yml
  sdk/maps/maps-search-rest/tests.yml
  sdk/maps/test-resources.bicep
  sdk/maps/test-resources.json
Labels: Maps

#30875 Post release automated changes for azurestackhci releases
  sdk/azurestackhci/arm-azurestackhci/CHANGELOG.md
  sdk/azurestackhci/arm-azurestackhci/package.json
  sdk/azurestackhci/arm-azurestackhci/src/azureStackHCIClient.ts
Labels: Mgmt

#30874 Post release automated changes for hdinsight releases
  sdk/hdinsight/arm-hdinsightcontainers/CHANGELOG.md
  sdk/hdinsight/arm-hdinsightcontainers/package.json
  sdk/hdinsight/arm-hdinsightcontainers/src/hDInsightContainersManagementClient.ts
Labels: Mgmt

#30878 Post release automated changes for netapp releases
  sdk/netapp/arm-netapp/CHANGELOG.md
  sdk/netapp/arm-netapp/package.json
  sdk/netapp/arm-netapp/src/netAppManagementClient.ts
Labels: Mgmt

#30879 Post release automated changes for compute releases
  sdk/compute/arm-compute/CHANGELOG.md
  sdk/compute/arm-compute/package.json
  sdk/compute/arm-compute/src/computeManagementClient.ts
Labels: Mgmt

#30880 Post release automated changes for containerservice releases
  sdk/containerservice/arm-containerservice/CHANGELOG.md
  sdk/containerservice/arm-containerservice/package.json
  sdk/containerservice/arm-containerservice/src/containerServiceClient.ts
Labels: Mgmt

#30828 Update swagger with optindescription attachment type
  sdk/communication/communication-toll-free-verification/review/communication-toll-free-verification.api.md
  sdk/communication/communication-toll-free-verification/src/generated/src/models/index.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/models/mappers.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/models/parameters.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/operations/tollFreeVerification.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/operationsInterfaces/tollFreeVerification.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/pagingHelper.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/tollFreeVerificationClient.ts
  sdk/communication/communication-toll-free-verification/src/generated/src/tracing.ts
  sdk/communication/communication-toll-free-verification/swagger/swagger.json
Labels: Communication

#30870 [Remote Rendering] Migrate to Bicep
  sdk/remoterendering/test-resources-post.ps1
  sdk/remoterendering/test-resources.bicep
  sdk/remoterendering/test-resources.json
Labels: Remote Rendering

#30888 [Remote Rendering] Fix test
  sdk/remoterendering/mixed-reality-remote-rendering/test/public/remoteRenderingClient.spec.ts
Labels: Remote Rendering

#30853 [Cognitive Language] Migrate to Bicep
  sdk/cognitivelanguage/test-resources.bicep
  sdk/cognitivelanguage/test-resources.json
  sdk/textanalytics/ai-text-analytics/test/README.md
  sdk/textanalytics/test-resources.bicep
  sdk/textanalytics/test-resources.json
Labels: Cognitive - Language

#30868 [Digital Twins] Migrate to Bicep
  sdk/digitaltwins/digital-twins-core/test-resources.json
  sdk/digitaltwins/digital-twins-core/tests.yml
  sdk/digitaltwins/test-resources.bicep
Labels: Digital Twins

#30889 [eslint-plugin] fix tests after upgrading typescript-eslint
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  common/tools/eslint-plugin-azure-sdk/tests/ruleTester.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-modules-only-named.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-keywords.ts
Labels: eslint plugin

#30891 [Metrics Advisor] Migrate to Bicep
  sdk/metricsadvisor/test-resources.bicep
  sdk/metricsadvisor/test-resources.json
Labels: Cognitive - Metrics Advisor

#30893 Sync eng/common directory with azure-sdk-tools for PR 8879
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#30852 [Storage] Migrate to Bicep
  sdk/storage/storage-blob/test/README.md
  sdk/storage/storage-file-datalake/test/README.md
  sdk/storage/storage-file-share/test/README.md
  sdk/storage/storage-queue/test/README.md
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.bicep
  sdk/storage/test-resources.json
Labels: Client, Storage

#30843 Sync eng/common directory with azure-sdk-tools for PR 8865
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#30892 [Mixed Reality] Migrate to Bicep
  sdk/mixedreality/test-resources.bicep
  sdk/mixedreality/test-resources.json
  sdk/remoterendering/mixed-reality-remote-rendering/karma.conf.js
  sdk/remoterendering/mixed-reality-remote-rendering/test/public/remoteRenderingClient.spec.ts
  sdk/remoterendering/mixed-reality-remote-rendering/test/utils/recordedClient.ts
  sdk/remoterendering/test-resources.bicep
Labels: Mixed Reality

#30894 [Event Hubs] [Bicep] Factor out KV definition
  sdk/eventhub/kv.bicep
  sdk/eventhub/test-resources.bicep
Labels: Event Hubs

#30859 [Communication] Migrate to Bicep
  sdk/communication/CONTRIBUTING.md
  sdk/communication/arm-communication/README.md
  sdk/communication/communication-alpha-ids/test/README.md
  sdk/communication/communication-call-automation/README.md
  sdk/communication/communication-chat/test/README.md
  sdk/communication/communication-email/swagger/README.md
  sdk/communication/communication-email/test-resources.bicep
  sdk/communication/communication-email/test-resources.json
  sdk/communication/communication-identity/test/README.md
  sdk/communication/communication-job-router/test/README.md
  sdk/communication/communication-messages-rest/README.md
  sdk/communication/communication-phone-numbers/test/README.md
  sdk/communication/communication-short-codes/test/README.md
  sdk/communication/communication-sms/test/README.md
  sdk/communication/communication-toll-free-verification/test/README.md
  sdk/communication/test-resources/test-resources-post.ps1
  sdk/communication/test-resources/test-resources.bicep
  sdk/communication/test-resources/test-resources.json
Labels: Communication, Communication - Chat, Communication - Identity, Communication - Phone Numbers, Communication - Short Codes, Communication - SMS, Communication - Alpha IDs, Communication - Job Router

#30402 [Identity] [Core] Add support for refresh_on parameter
  sdk/core/core-auth/review/core-auth.api.md
  sdk/core/core-auth/src/tokenCredential.ts
  sdk/core/core-rest-pipeline/src/util/tokenCycler.ts
  sdk/core/core-rest-pipeline/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/identity/identity/src/client/identityClient.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/legacyMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/msalMsiProvider.ts
  sdk/identity/identity/src/credentials/managedIdentityCredential/utils.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/types.ts
Labels: Azure.Identity, Azure.Core

#30901 [EngSys] upgrade dev dependency `@eslint/js` to ^9.9.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk-helper/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/vite-plugin-browser-test-map/package.json
  rush.json
Labels: EngSys, eslint plugin, dev-tool

#30902 [eslint-plugin] add an override to turn off tsdoc/syntax for samples-dev
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
Labels: eslint plugin

#30810 [dev-tool] add command to type check files not being built by tshy
  common/tools/dev-tool/src/commands/run/index.ts
  common/tools/dev-tool/src/commands/run/typecheck.ts
Labels: dev-tool

#30903 [kevault-certificates] Update timeout for nightly builds
  eng/tools/dependency-testing/index.js
  sdk/keyvault/keyvault-certificates/package.json
Labels: KeyVault

#30915 Sync eng/common directory with azure-sdk-tools for PR 8875
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#30916 bump core versions
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity, Azure.Core

#30918 [cosmos] Fix usage of process
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/diagnostics/index.ts
  sdk/cosmosdb/cosmos/src/utils/envUtils.browser.ts
  sdk/cosmosdb/cosmos/src/utils/envUtils.ts
  sdk/cosmosdb/cosmos/src/utils/supportedQueryFeaturesBuilder.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregateQuery.spec.ts
Labels: Cosmos
