Repository Azure/azure-sdk-for-js, pull requests merged in 2025-05, with the labels that each got.

#34153 [data-tables] add partitionKey and rowKey validation
  sdk/tables/data-tables/CHANGELOG.md
  sdk/tables/data-tables/src/TableClient.ts
  sdk/tables/data-tables/test/internal/errorHandling.spec.ts
Labels: Tables

#34156 [core] Prepare for May release
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/CHANGELOG.md
Labels: Azure.Core

#34160 [core] fix stack overflow when passing a Blob for multipart part body in Node
  sdk/core/ts-http-runtime/src/util/concat.ts
  sdk/core/ts-http-runtime/test/multipartPolicy.spec.ts
Labels: Azure.Core

#34150 [openai] Fix assistants tests. Remove steps assertion and fix cleanup
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/node/assistantsFile.spec.ts
  sdk/openai/openai/test/public/node/batches.spec.ts
Labels: OpenAI

#34179 [dev-tool] Update error message with better logic
  common/tools/dev-tool/src/index.ts
Labels: dev-tool

#34181 [search] Fix search-documents test TS Config
  sdk/search/search-documents/tsconfig.test.json
Labels: Search

#34159 Updating ClientDefinition.ts with missing endpoints from previous release
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/src/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/models.ts
  sdk/confidentialledger/confidential-ledger-rest/src/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/src/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/responses.ts
Labels: ConfidentialLedger

#34177 [Identity] Live test fix
  sdk/identity/identity/test/internal/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/public/node/azurePipelinesCredential.spec.ts
  sdk/identity/identity/tests.yml
Labels: Azure.Identity

#34183 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/CHANGELOG.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/src/constants.ts
Labels: Azure.Core

#34184 Add retry to vitest config
  sdk/openai/openai/vitest.config.ts
Labels: OpenAI

#33194 [eslint-plugin] stop linting JS/TS code blocks in Markdown files
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/eslint-plugin-azure-sdk/src/configs/index.ts
  common/tools/eslint-plugin-azure-sdk/src/configs/markdown-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/index.ts
Labels: eslint plugin

#34193 Sync eng/common directory with azure-sdk-tools for PR 10523
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#34203 docs: fix typo in Bundling.md - brower → browser
  documentation/Bundling.md
Labels: customer-reported, Community Contribution

#34197 [Identity] update subscription error msg in AzureCLI section
  sdk/identity/identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#34226 Sync eng/common directory with azure-sdk-tools for PR 10542
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#34232 Added play bargin for media.
  sdk/communication/communication-call-automation/src/callMedia.ts
Labels: Communication - Call Automation

#34227 Sync eng/common directory with azure-sdk-tools for PR 10534
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#34155 [Identity] Update existing samples
  sdk/identity/identity-broker/samples/v1/javascript/README.md
  sdk/identity/identity-broker/samples/v1/typescript/README.md
  sdk/identity/identity-broker/samples/v2/javascript/README.md
  sdk/identity/identity/samples-dev/azurePipelinesCredential/azurePipelinesCredential.ts
  sdk/identity/identity/samples-dev/clientSecretCredential.ts
  sdk/identity/identity/samples-dev/defaultAzureCredential.ts
  sdk/identity/identity/samples-dev/environmentCredential.ts
  sdk/identity/identity/samples-dev/tokenProvider.ts
  sdk/identity/identity/samples/v2/javascript/README.md
  sdk/identity/identity/samples/v2/typescript/README.md
  sdk/identity/identity/samples/v3/javascript/README.md
  sdk/identity/identity/samples/v3/typescript/README.md
  sdk/identity/identity/samples/v4/azurePipelinesCredentialConfig.yml
  sdk/identity/identity/samples/v4/javascript/README.md
  sdk/identity/identity/samples/v4/javascript/azurePipelinesCredential/azurePipelinesCredential.js
  sdk/identity/identity/samples/v4/javascript/clientSecretCredential.js
  sdk/identity/identity/samples/v4/javascript/defaultAzureCredential.js
  sdk/identity/identity/samples/v4/javascript/environmentCredential.js
  sdk/identity/identity/samples/v4/javascript/package.json
  sdk/identity/identity/samples/v4/typescript/README.md
  sdk/identity/identity/samples/v4/typescript/package.json
  sdk/identity/identity/samples/v4/typescript/src/azureDeveloperCliCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/azurePipelinesCredential/azurePipelinesCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/clientSecretCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/defaultAzureCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/environmentCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/interactiveBrowserCredential.ts
  sdk/identity/identity/samples/v4/typescript/src/workloadIdentityCredential.ts
  sdk/identity/identity/samples/v4/typescript/tsconfig.json
Labels: Azure.Identity

#34188 Sync eng/common directory with azure-sdk-tools for PR 10518
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#33209 Add changes for durable byoi
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/README.md
  sdk/communication/communication-identity/assets.json
  sdk/communication/communication-identity/review/communication-identity.api.md
  sdk/communication/communication-identity/samples-dev/createUserAndToken.ts
  sdk/communication/communication-identity/samples/v1/javascript/createUserAndToken.js
  sdk/communication/communication-identity/samples/v1/typescript/src/createUserAndToken.ts
  sdk/communication/communication-identity/src/communicationIdentityClient.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClient.ts
  sdk/communication/communication-identity/src/generated/src/index.ts
  sdk/communication/communication-identity/src/generated/src/models/index.ts
  sdk/communication/communication-identity/src/generated/src/models/mappers.ts
  sdk/communication/communication-identity/src/generated/src/models/parameters.ts
  sdk/communication/communication-identity/src/generated/src/operations/communicationIdentityOperations.ts
  sdk/communication/communication-identity/src/generated/src/operations/entraIdAssignment.ts
  sdk/communication/communication-identity/src/generated/src/operations/entraIdAssignments.ts
  sdk/communication/communication-identity/src/generated/src/operations/entraIdToken.ts
  sdk/communication/communication-identity/src/generated/src/operations/index.ts
  sdk/communication/communication-identity/src/generated/src/operations/teamsExtensionAssignment.ts
  sdk/communication/communication-identity/src/generated/src/operations/teamsExtensionToken.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/communicationIdentityOperations.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/entraIdAssignment.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/entraIdAssignments.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/entraIdToken.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/index.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/teamsExtensionAssignment.ts
  sdk/communication/communication-identity/src/generated/src/operationsInterfaces/teamsExtensionToken.ts
  sdk/communication/communication-identity/src/generated/src/pagingHelper.ts
  sdk/communication/communication-identity/src/generated/src/tracing.ts
  sdk/communication/communication-identity/src/models.ts
  sdk/communication/communication-identity/swagger/README.md
  sdk/communication/communication-identity/test/public/communicationIdentityClient.spec.ts
  sdk/communication/communication-identity/test/public/utils/recordedClient.ts
  sdk/communication/communication-rooms/assets.json
Labels: Communication - Identity

#34245 [Eng] Update Dependency Test & Docs
  .vscode/launch.json
  CONTRIBUTING.md
  common/config/rush/command-line.json
  common/tools/dev-tool/src/commands/admin/list/packages.ts
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
  eng/tools/dependency-testing/README.md
  eng/tools/dependency-testing/index.js
  eng/tools/dependency-testing/templates/package.json
  sdk/test-utils/recorder/ASSET_SYNC_WORKFLOW.md
Labels: dev-tool, test-utils

#34236 [Identity] Cleanups
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/src/credentials/azureApplicationCredential-browser.mts
  sdk/identity/identity/src/credentials/azureApplicationCredential.ts
  sdk/identity/identity/src/credentials/azureApplicationCredentialOptions.ts
  sdk/identity/identity/test/internal/node/azureApplicationCredential.spec.ts
  sdk/identity/identity/test/manual-integration/AzureFunctions/INSTRUCTIONS.md
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/.funcignore
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/.gitignore
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/.vscode/extensions.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/KeyvaultAuthentication/function.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/KeyvaultAuthentication/index.ts
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/host.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/package.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/IdentityTest/tsconfig.json
  sdk/identity/identity/test/manual-integration/AzureFunctions/arm-template.json
  sdk/identity/identity/test/manual-integration/AzureVM/INSTRUCTIONS.md
  sdk/identity/identity/test/manual-integration/AzureVM/index.ts
  sdk/identity/identity/test/manual-integration/AzureVM/index_user.ts
  sdk/identity/identity/test/manual-integration/AzureVM/package.json
  sdk/identity/identity/test/manual-integration/AzureVM/tsconfig.json
  sdk/identity/identity/test/manual-integration/Kubernetes/.gitignore
  sdk/identity/identity/test/manual-integration/Kubernetes/Dockerfile
  sdk/identity/identity/test/manual-integration/Kubernetes/INSTRUCTIONS.md
  sdk/identity/identity/test/manual-integration/Kubernetes/index.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/package.json
  sdk/identity/identity/test/manual-integration/Kubernetes/run_test.ts
  sdk/identity/identity/test/manual-integration/Kubernetes/test-pod-identity/.helmignore
  sdk/identity/identity/test/manual-integration/Kubernetes/test-pod-identity/Chart.yaml
  sdk/identity/identity/test/manual-integration/Kubernetes/test-pod-identity/charts/aad-pod-identity-1.5.5.tgz
  sdk/identity/identity/test/manual-integration/Kubernetes/test-pod-identity/templates/job.yaml
  sdk/identity/identity/test/manual-integration/Kubernetes/test-pod-identity/values.yaml
  sdk/identity/identity/test/manual-integration/Kubernetes/tsconfig.json
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/AzureTestJob.cmd
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/index.ts
  sdk/identity/identity/test/manual-integration/webjobs/App_Data/jobs/triggered/AzureTestJob/package.json
  sdk/identity/identity/test/manual-integration/webjobs/INSTRUCTIONS.md
  sdk/identity/identity/test/manual/authorization-code-credential/authorizationCodeSample.ts
  sdk/identity/identity/test/public/node/azureApplicationCredential.spec.ts
Labels: Azure.Identity

#34079 [Document Intelligence] [Form Recognizer] Add audience option for Azure Gov cloud support
  sdk/documentintelligence/ai-document-intelligence-rest/CHANGELOG.md
  sdk/documentintelligence/ai-document-intelligence-rest/README.md
  sdk/documentintelligence/ai-document-intelligence-rest/package.json
  sdk/documentintelligence/ai-document-intelligence-rest/review/ai-document-intelligence.api.md
  sdk/documentintelligence/ai-document-intelligence-rest/src/audience.ts
  sdk/documentintelligence/ai-document-intelligence-rest/src/documentIntelligence.ts
  sdk/documentintelligence/ai-document-intelligence-rest/src/index.ts
  sdk/documentintelligence/ai-document-intelligence-rest/test/public/node/analysis.spec.ts
  sdk/formrecognizer/ai-form-recognizer/CHANGELOG.md
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/package.json
  sdk/formrecognizer/ai-form-recognizer/review/ai-form-recognizer.api.md
  sdk/formrecognizer/ai-form-recognizer/src/constants.ts
  sdk/formrecognizer/ai-form-recognizer/src/generated/generatedClient.ts
  sdk/formrecognizer/ai-form-recognizer/src/index.ts
  sdk/formrecognizer/ai-form-recognizer/src/options/FormRecognizerClientOptions.ts
  sdk/formrecognizer/ai-form-recognizer/src/util.ts
Labels: Cognitive - Form Recognizer

#33695 Added and fixed snippets for migration
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedPullModelIterator.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Offer/Offers.ts
  sdk/cosmosdb/cosmos/src/client/Permission/Permissions.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/snippets.spec.ts
Labels: Cosmos

#34222 Add support for Weighted RRF + Hybrid Search Query plan optimization
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/FeedOptions.ts
  sdk/cosmosdb/cosmos/src/request/hybridSearchQueryResult.ts
  sdk/cosmosdb/cosmos/src/utils/supportedQueryFeaturesBuilder.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hybridExecutionContext.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/supportedQueryFeaturesBuilder.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/fullTextSearch.spec.ts
Labels: Cosmos

#33906 Feat/bulk enhancement
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ExecuteBulkOperations.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ExecuteBulkOperations.js
  sdk/cosmosdb/cosmos/samples/v4/javascript/README.md
  sdk/cosmosdb/cosmos/samples/v4/typescript/README.md
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ExecuteBulkOperations.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/bulk/Batcher.ts
  sdk/cosmosdb/cosmos/src/bulk/BulkHelper.ts
  sdk/cosmosdb/cosmos/src/bulk/BulkResponse.ts
  sdk/cosmosdb/cosmos/src/bulk/CongestionAlgorithm.ts
  sdk/cosmosdb/cosmos/src/bulk/HelperPerPartition.ts
  sdk/cosmosdb/cosmos/src/bulk/ItemOperation.ts
  sdk/cosmosdb/cosmos/src/bulk/ItemOperationContext.ts
  sdk/cosmosdb/cosmos/src/bulk/Limiter.ts
  sdk/cosmosdb/cosmos/src/bulk/PartitionMetric.ts
  sdk/cosmosdb/cosmos/src/bulk/index.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/statusCodes.ts
  sdk/cosmosdb/cosmos/src/diagnostics/CosmosDiagnosticsContext.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/defaultQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/request/RequestHandler.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/src/retry/bulkExecutionRetryPolicy.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/src/utils/batch.ts
  sdk/cosmosdb/cosmos/src/utils/diagnostics.ts
  sdk/cosmosdb/cosmos/test/internal/unit/bulk/bulkExecutionRetryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/bulk/congestionAlgorithm.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/bulk/limiterQueue.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/diagnostics.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/encryptionTestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/bulk.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/executeBulkOperations.item.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/client.spec.ts
  sdk/cosmosdb/cosmos/test/snippets.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#34260 IncomingCall Event
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication - Call Automation

#34248 [Identity] Update test type
  sdk/identity/identity/managed-identity-matrix.json
  sdk/identity/identity/vitest.browser.config.ts
Labels: Azure.Identity

#34187 Alpha SDK Version Upgrade
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
Labels: Communication - Call Automation

#34259 Bug Fix: ae-forgotten-export beta6 branch
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/responses.ts
Labels: Communication - Call Automation

#34262 Sync eng/common directory with azure-sdk-tools for PR 10579
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#33869 [@azure/cosmos] fix: changefeed merge
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/test/internal/unit/changeFeed/ChangeFeedForEpkRange.spec.ts
Labels: Cosmos

#34244 convert to uint8array to add support for browser
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/number.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/encoding/string.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/murmurHash.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v1.ts
  sdk/cosmosdb/cosmos/src/utils/hashing/v2.ts
  sdk/cosmosdb/cosmos/src/utils/uint8.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hashing/v1.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hashing/v2.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/utils/uint8.spec.ts
Labels: Cosmos

#34268 Sync eng/common directory with azure-sdk-tools for PR 10593
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#34300 Sync eng/common directory with azure-sdk-tools for PR 10611
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#34294 [cosmos] Fix bulk error response
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/bulk/BulkResponse.ts
  sdk/cosmosdb/cosmos/src/bulk/Limiter.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/request/ErrorResponse.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
Labels: Cosmos

#34313 Cosmosdb/update sdk
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/samples-dev/Query/FullTextSearch.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/Query/FullTextSearch.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/Query/FullTextSearch.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#34312 change feed merge fix
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
Labels: Cosmos

#34314 [cosmos] fix bulk split timeout
  sdk/cosmosdb/cosmos/src/bulk/Limiter.ts
Labels: Cosmos

#33757 [storage] add storage-common to the artifact list
  sdk/storage/ci.yml
  sdk/storage/storage-common/CHANGELOG.md
Labels: Client, Storage

#34310 [Storage] Create/get symbolic link
  common/config/rush/pnpm-lock.yaml
  rush.json
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/review/storage-blob.api.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/src/generated/src/models/index.ts
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/operations/appendBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/blob.ts
  sdk/storage/storage-blob/src/generated/src/operations/blockBlob.ts
  sdk/storage/storage-blob/src/generated/src/operations/pageBlob.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/generatedModels.ts
  sdk/storage/storage-blob/src/sas/BlobSASSignatureValues.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-blob/test/node/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/blobserviceclient.spec.ts
  sdk/storage/storage-blob/test/node/containerclient.spec.ts
  sdk/storage/storage-blob/test/node/sas.spec.ts
  sdk/storage/storage-blob/test/utils/index.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-datalake/assets.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/sas/DataLakeSASSignatureValues.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-datalake/test/node/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/node/sas.spec.ts
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-queue/assets.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/test/node/queueclient.spec.ts
Labels: Storage

#34338 fix split/merge handling
  sdk/cosmosdb/cosmos/src/bulk/Limiter.ts
Labels: Cosmos

#34339 Sync eng/common directory with azure-sdk-tools for PR 10616
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#34343 Update CHANGELOG.md
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#34345 Sync eng/common directory with azure-sdk-tools for PR 10532
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#34301 [Identity] update the DAC chain based on env var AZURE_TOKEN_CREDENTIALS
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/test/internal/node/defaultAzureCredential.spec.ts
Labels: Azure.Identity

#34342 Post release automated changes for cosmosdb releases
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#34353 [Identity] May release update
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#34348 Sync eng/common directory with azure-sdk-tools for PR 10550
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#34346 [cosmos] Fix require statements v2
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/src/request/defaultAgent.ts
Labels: Cosmos

#34367 Update CHANGELOG
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#33917 [EventGrid] regen on for May 2025 release
  sdk/eventgrid/eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/eventgrid-systemevents/review/eventgrid-systemevents.api.md
  sdk/eventgrid/eventgrid-systemevents/src/generated/api/index.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/api/options.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/api/systemEventsContext.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/index.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/models/index.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/models/models.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/systemEventsClient.ts
  sdk/eventgrid/eventgrid-systemevents/src/index.ts
  sdk/eventgrid/eventgrid-systemevents/src/predicates.ts
  sdk/eventgrid/eventgrid-systemevents/tsp-location.yaml
  sdk/eventgrid/eventgrid/CHANGELOG.md
  sdk/eventgrid/eventgrid/package.json
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/scripts/setPathToEmpty.js
  sdk/eventgrid/eventgrid/src/generated/generatedClient.ts
  sdk/eventgrid/eventgrid/src/generated/generatedClientContext.ts
  sdk/eventgrid/eventgrid/src/generated/models/index.ts
  sdk/eventgrid/eventgrid/src/generated/models/mappers.ts
  sdk/eventgrid/eventgrid/src/index.ts
  sdk/eventgrid/eventgrid/src/predicates.ts
  sdk/eventgrid/eventgrid/src/tracing.ts
  sdk/eventgrid/eventgrid/swagger/README.md
Labels: Event Grid

#34202 Bug Fix: ae-forgotten-export
  .vscode/cspell.json
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/models.ts
Labels: Communication - Call Automation

#34302 Beta6 Live/Recorded Testing
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_and_get_call_properties.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_cancels_add_participant_request.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_List_all_participants.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Mute_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Remove_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallRecording_Live_Tests_Creates_a_call,_start_recording,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/CallRecording_Live_Tests_Creates_a_call,_start_recording_with_call_connection_id,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Create_a_call_and_hangup.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Reject_call.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_answer_call_with_custom_context_and_hangup.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Answers_a_call,_start_media_streaming,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Answers_a_call,_start_transcription,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Cancel_all_media_operations.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Creates_a_call,_start_media_streaming,_and_hangs_up..json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Hold_Unhold_participant_in_a_call.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_all_participants.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_target_participant.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_combined_text_and_file_sources_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_combined_text_and_file_sources_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_file_sources_with_play_and_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_text_sources_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_text_sources_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_wrong_source_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_wrong_source_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Trigger_DTMF_actions.json
  sdk/communication/communication-call-automation/test/node/callAutomationClient.live.spec.ts
  sdk/communication/communication-call-automation/test/node/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/node/callConnection.spec.ts
  sdk/communication/communication-call-automation/test/node/callMediaClient.spec.ts
  sdk/communication/communication-call-automation/test/utils/mockClient.ts
Labels: Communication - Call Automation

#34371 Sync eng/common directory with azure-sdk-tools for PR 10664
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#34375 Sync eng/common directory with azure-sdk-tools for PR 10665
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#34335 [Storage]Update package version for STG98 features
  common/config/rush/pnpm-lock.yaml
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-common/CHANGELOG.md
  sdk/storage/storage-common/package.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#34376 changelog update
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test/utils/mockClient.ts
Labels: Communication - Call Automation

#34386 [Storage] update test-resources.bicep
  sdk/storage/test-resources.bicep
Labels: Client, Storage

#34404 Sync eng/common directory with azure-sdk-tools for PR 10657
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#34410 Users/v dharmarajv/removing custom policy
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/callRecording.ts
Labels: Communication - Call Automation

#34411 [credscan] move storage-file-datalake test acl id into fakeTestSecrets
  eng/CredScanSuppression.json
  sdk/storage/storage-file-datalake/test/node/filesystemclient.spec.ts
  sdk/storage/storage-file-datalake/test/utils/fakeTestSecrets.ts
Labels: Storage

#34441 [cosmosdb] skip update-snippets for CHANGELOG.md
  sdk/cosmosdb/cosmos/CHANGELOG.md
Labels: Cosmos

#34421 Update package for storage-common
  sdk/storage/storage-common/package.json
Labels: Storage

#33915 [Storage] keep a copy of storage-internal-avro in blob
  sdk/storage/storage-blob/src/internal-avro/AvroConstants.ts
  sdk/storage/storage-blob/src/internal-avro/AvroParser.ts
  sdk/storage/storage-blob/src/internal-avro/AvroReadable.ts
  sdk/storage/storage-blob/src/internal-avro/AvroReadableFromBlob.ts
  sdk/storage/storage-blob/src/internal-avro/AvroReadableFromStream.ts
  sdk/storage/storage-blob/src/internal-avro/AvroReader.ts
  sdk/storage/storage-blob/src/internal-avro/index-browser.mts
  sdk/storage/storage-blob/src/internal-avro/index.ts
  sdk/storage/storage-blob/src/internal-avro/utils/utils.common.ts
  sdk/storage/storage-blob/src/utils/BlobQuickQueryStream.ts
  sdk/storage/storage-blob/test/browser/avroreadable.spec.ts
  sdk/storage/storage-blob/test/node/avroreadable.spec.ts
  sdk/storage/storage-blob/test/node/avroreader.spec.ts
  sdk/storage/storage-blob/test/resources/test_null_0.avro
  sdk/storage/storage-blob/test/resources/test_null_1.avro
  sdk/storage/storage-blob/test/resources/test_null_10.avro
  sdk/storage/storage-blob/test/resources/test_null_11.avro
  sdk/storage/storage-blob/test/resources/test_null_12.avro
  sdk/storage/storage-blob/test/resources/test_null_13.avro
  sdk/storage/storage-blob/test/resources/test_null_14.avro
  sdk/storage/storage-blob/test/resources/test_null_2.avro
  sdk/storage/storage-blob/test/resources/test_null_3.avro
  sdk/storage/storage-blob/test/resources/test_null_4.avro
  sdk/storage/storage-blob/test/resources/test_null_5.avro
  sdk/storage/storage-blob/test/resources/test_null_6.avro
  sdk/storage/storage-blob/test/resources/test_null_7.avro
  sdk/storage/storage-blob/test/resources/test_null_8.avro
  sdk/storage/storage-blob/test/resources/test_null_9.avro
Labels: Client, Storage

#34460 Bump storage-common version
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-common/CHANGELOG.md
  sdk/storage/storage-common/package.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
Labels: Storage

#34466 Bump storage-blob version
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-queue/package.json
Labels: Storage

#34468 [keyvault] Update AbortError expections in tests
  sdk/keyvault/keyvault-admin/test/public/accessControlClient.aborts.spec.ts
  sdk/keyvault/keyvault-admin/test/public/backupClient.abort.spec.ts
Labels: KeyVault

#34471 [dev-tool] ignore CHANGELOG.md from update-snippets
  common/tools/dev-tool/src/commands/run/update-snippets.ts
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/core/abort-controller/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/documentintelligence/ai-document-intelligence-rest/CHANGELOG.md
  sdk/documentintelligence/ai-document-intelligence-rest/README.md
  sdk/documentintelligence/ai-document-intelligence-rest/test/snippets.spec.ts
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/identity/identity/CHANGELOG.md
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/openai/openai/CHANGELOG.md
  sdk/quantum/quantum-jobs/CHANGELOG.md
  sdk/schemaregistry/schema-registry/CHANGELOG.md
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-common/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/tables/data-tables/CHANGELOG.md
  sdk/web-pubsub/web-pubsub-express/CHANGELOG.md
Labels: Service Bus, Event Hubs, Storage, KeyVault, Azure.Identity, Azure.Core, Tables, App Configuration, Digital Twins, Schema Registry, dev-tool, WebPubSub, OpenAI

#34443 Fix Package Version Number for digital-twins-core SDK Version for Release
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
  sdk/digitaltwins/digital-twins-core/assets.json
  sdk/digitaltwins/digital-twins-core/src/generated/azureDigitalTwinsAPI.ts
  sdk/digitaltwins/digital-twins-core/swagger/README.md
Labels: Digital Twins

#34016 Sofiar/cherrypicker
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/assets.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/samples/v1/javascript/browseAndReservePhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/browseAndReservePhoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/lroImpl.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/mappers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/lroModels.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-phone-numbers/test/public/reservation-purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/public/reservations.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/test/public/utils/testPhoneNumber.ts
Labels: Communication - Phone Numbers, Communication - Call Automation

#34505 Sync eng/common directory with azure-sdk-tools for PR 10286
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#34524 Sync eng/common directory with azure-sdk-tools for PR 10718
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#34502 [dev-tool] fix path comparison on windows for update-snippets
  common/tools/dev-tool/src/commands/run/update-snippets.ts
Labels: dev-tool

#34549 Sync eng/common directory with azure-sdk-tools for PR 10736
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#34400 Updating Communication Common SDK to version supporting Teams Phone Extensibility GA version
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/README.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/src/entraTokenCredential.ts
  sdk/communication/communication-common/test/public/node/entraCommunicationTokenCredential.spec.ts
  sdk/communication/communication-common/test/snippets.spec.ts
Labels: Communication - Common

#34574 [mgmt] Update sitemanager README.md
  sdk/sitemanager/arm-sitemanager/README.md
Labels: Mgmt

#34588 [dev-tool] update sample package generation to support catalogs
  common/tools/dev-tool/package.json
  common/tools/dev-tool/src/util/pnpm.ts
  common/tools/dev-tool/src/util/samples/generation.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/monitor/monitor-query/samples/v1/javascript/package.json
  sdk/monitor/monitor-query/samples/v1/typescript/package.json
Labels: dev-tool

#34586 [digital-twins-core] Add Release Date for SDK Package
  sdk/digitaltwins/digital-twins-core/CHANGELOG.md
Labels: Digital Twins

#34589 REST<->SDK Model Translation for IncomingCall Event
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/models/events.ts
Labels: Communication - Call Automation

#34585 Sync eng/common directory with azure-sdk-tools for PR 10735
  eng/common/pipelines/templates/jobs/npm-publish.yml
Labels: EngSys, Central-EngSys

#34584 [dev-tool] remove unused dependencies
  common/tools/dev-tool/package.json
Labels: dev-tool

#34593 Sync .github/workflows directory with azure-sdk-tools for PR 10752
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#34597 [confidential-ledger-rest] regenerate for 2024-12-09 preview
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/assets.json
  sdk/confidentialledger/confidential-ledger-rest/generated/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/index.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/isUnexpected.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/logger.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/models.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/paginateHelper.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/generated/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/samples-dev/getEnclaveQuotesAAD.ts
  sdk/confidentialledger/confidential-ledger-rest/samples-dev/getEnclaveQuotesCert.ts
  sdk/confidentialledger/confidential-ledger-rest/samples/v1-beta/typescript/src/getEnclaveQuotesAAD.ts
  sdk/confidentialledger/confidential-ledger-rest/samples/v1-beta/typescript/src/getEnclaveQuotesCert.ts
  sdk/confidentialledger/confidential-ledger-rest/src/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/index.ts
  sdk/confidentialledger/confidential-ledger-rest/src/isUnexpected.ts
  sdk/confidentialledger/confidential-ledger-rest/src/models.ts
  sdk/confidentialledger/confidential-ledger-rest/src/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/src/paginateHelper.ts
  sdk/confidentialledger/confidential-ledger-rest/src/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/swagger/README.md
  sdk/confidentialledger/confidential-ledger-rest/vitest.config.ts
Labels: ConfidentialLedger

#34321 [Identity] Fix multiple accounts in IBC
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
Labels: Azure.Identity

#34615 Live/Recorded Tests for GA5
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_and_get_call_properties.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_cancels_add_participant_request.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_List_all_participants.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Mute_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Remove_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallRecording_Live_Tests_Creates_a_call,_start_recording,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Create_a_call_and_hangup.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Reject_call.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Answers_a_call,_start_media_streaming,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Answers_a_call,_start_transcription,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Cancel_all_media_operations.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Creates_a_call,_start_media_streaming,_and_hangs_up..json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Hold_Unhold_participant_in_a_call.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_all_participants.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_target_participant.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_combined_text_and_file_sources_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_combined_text_and_file_sources_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_file_sources_with_play_and_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_text_sources_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_text_sources_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_wrong_source_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_wrong_source_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Trigger_DTMF_actions.json
  sdk/communication/communication-call-automation/test/callAutomationEventProcessor.spec.ts
  sdk/communication/communication-call-automation/test/node/callAutomationClient.live.spec.ts
  sdk/communication/communication-call-automation/test/node/callAutomationClient.spec.ts
  sdk/communication/communication-call-automation/test/node/callMediaClient.spec.ts
  sdk/communication/communication-call-automation/test/node/callRecordingClient.spec.ts
  sdk/communication/communication-call-automation/test/utils/mockClient.ts
Labels: Communication - Call Automation
