Repository Azure/azure-sdk-for-js, pull requests merged in 2025-06, with the labels that each got.

#34656 [EngSys] upgrade dev dependency ts-morph to v26
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
Labels: dev-tool

#34660 [keyvault] Refresh samples for kv-certs and remove fake certs
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/samples-dev/importCertificate.ts
  sdk/keyvault/keyvault-certificates/samples-dev/mergeCertificate.ts
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/backupAndRestore.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/contacts.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/deleteAndRecover.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/helloWorld.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/importCertificate.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/issuers.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/listCertificates.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/mergeCertificate.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/operations.js
  sdk/keyvault/keyvault-certificates/samples/v4/javascript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/package.json
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/backupAndRestore.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/contacts.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/deleteAndRecover.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/helloWorld.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/importCertificate.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/issuers.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/listCertificates.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/mergeCertificate.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/src/operations.ts
  sdk/keyvault/keyvault-certificates/samples/v4/typescript/tsconfig.json
Labels: KeyVault

#34492 Sync eng/common directory with azure-sdk-tools for PR 10681
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#34636 Creating stable release communication-common version 2.4.0
  sdk/communication/communication-common/CHANGELOG.md
Labels: Communication - Common

#34700 Post release automated changes for communication releases
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication - Common

#34703 [keyvault] Update changelog for June release
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#34715 Pull from release branch
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/assets.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers.api.md
  sdk/communication/communication-phone-numbers/samples/v1/javascript/browseAndReservePhoneNumbers.js
  sdk/communication/communication-phone-numbers/samples/v1/typescript/src/browseAndReservePhoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/lroImpl.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/mappers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/lroModels.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-phone-numbers/test/public/reservation-purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/public/reservations.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/test/public/utils/testPhoneNumber.ts
  sdk/communication/communication-phone-numbers/test/snippets.spec.ts
Labels: Communication - Phone Numbers, Communication - Call Automation

#34506 [EngSys] fix/suppress update-snippets checking failures
  sdk/formrecognizer/ai-form-recognizer/README.md
  sdk/formrecognizer/ai-form-recognizer/test/snippets.spec.ts
  sdk/test-utils/perf/GettingStarted.md
  sdk/test-utils/perf/src/perfTestBase.ts
  sdk/test-utils/perf/src/program.ts
  sdk/test-utils/recorder/README.md
  sdk/test-utils/recorder/src/utils/relativePathCalculator.ts
  sdk/test-utils/test-credential/README.md
  sdk/test-utils/test-utils-vitest/README.md
  sdk/test-utils/test-utils-vitest/src/azureAssert.ts
  sdk/test-utils/test-utils-vitest/src/matrix.ts
Labels: Cognitive - Form Recognizer, test-utils

#34682 [dev-tool] log tshy build errors
  common/tools/dev-tool/src/commands/run/build-package.ts
Labels: Mgmt, dev-tool

#34748 Post release automated changes for instrumentation releases
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/CHANGELOG.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/package.json
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/src/configuration.ts
Labels: OpenTelemetryInstrumentation

#34717 [Core] Run June prepare release script
  sdk/core/core-client-rest/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-util/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/CHANGELOG.md
Labels: Azure.Core

#34720 [Event Hubs] Clean up cert generation
  common/config/rush/pnpm-lock.yaml
  sdk/eventhub/event-hubs/generateCerts.mjs
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/scripts/certGenerator.mts
  sdk/eventhub/event-hubs/scripts/generateCerts.mts
  sdk/eventhub/event-hubs/vitest.config.ts
Labels: Event Hubs

#34752 Fix path from snipets tests
  sdk/communication/communication-phone-numbers/test/snippets.spec.ts
Labels: Communication - Phone Numbers

#34758 Post release automated changes for core releases
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/ts-http-runtime/CHANGELOG.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/src/constants.ts
Labels: Azure.Core

#34706 Ignore various eng files en masse with cspell
  .vscode/cspell.json
Labels: Central-EngSys

#34760 Sync eng/common directory with azure-sdk-tools for PR 10835
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#34768 [keyvault] Add missing key wrap algos
  sdk/keyvault/keyvault-keys/review/keyvault-keys.api.md
  sdk/keyvault/keyvault-keys/src/cryptographyClientModels.ts
Labels: KeyVault

#34745 Release peraparation for communication.identity package
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-identity/CHANGELOG.md
  sdk/communication/communication-identity/package.json
  sdk/communication/communication-identity/src/constants.ts
  sdk/communication/communication-identity/src/generated/src/identityRestClient.ts
  sdk/communication/communication-identity/src/generated/src/tracing.ts
  sdk/communication/communication-identity/swagger/README.md
Labels: Communication - Identity

#34719 [ServiceBus] reduce max count of messages to delete
  sdk/servicebus/service-bus/src/receivers/receiver.ts
Labels: Service Bus

#34116 [EngSys] upgrade typescript-eslint* dev dependencies to ~8.34.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/vite-plugin-browser-test-map/package.json
  samples/frameworks/react/ts/package.json
Labels: EngSys, eslint plugin, dev-tool

#34759 [eventgrid-systemevents] re-generate June 2025
  sdk/eventgrid/eventgrid-systemevents/review/eventgrid-systemevents.api.md
  sdk/eventgrid/eventgrid-systemevents/src/generated/index.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/metadata.json
  sdk/eventgrid/eventgrid-systemevents/src/generated/models/index.ts
  sdk/eventgrid/eventgrid-systemevents/src/generated/models/models.ts
  sdk/eventgrid/eventgrid-systemevents/src/index.ts
  sdk/eventgrid/eventgrid-systemevents/tsp-location.yaml
Labels: Event Grid

#34753 [core-client-rest] Delete dom.d.ts
  sdk/core/core-client-rest/src/dom.d.ts
Labels: Azure.Core

#34776 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
Labels: KeyVault

#34679 [Communication] - SMS - Messaging Connect
  sdk/communication/communication-sms/CHANGELOG.md
  sdk/communication/communication-sms/assets.json
  sdk/communication/communication-sms/review/communication-sms.api.md
  sdk/communication/communication-sms/samples-dev/sendSmsWithMessagingConnect.ts
  sdk/communication/communication-sms/samples/v1-beta/javascript/README.md
  sdk/communication/communication-sms/samples/v1-beta/javascript/package.json
  sdk/communication/communication-sms/samples/v1-beta/javascript/sample.env
  sdk/communication/communication-sms/samples/v1-beta/javascript/sendSms.js
  sdk/communication/communication-sms/samples/v1-beta/javascript/sendSmsWithMessagingConnect.js
  sdk/communication/communication-sms/samples/v1-beta/javascript/sendSmsWithOptions.js
  sdk/communication/communication-sms/samples/v1-beta/javascript/usingAadAuth.js
  sdk/communication/communication-sms/samples/v1-beta/typescript/README.md
  sdk/communication/communication-sms/samples/v1-beta/typescript/package.json
  sdk/communication/communication-sms/samples/v1-beta/typescript/sample.env
  sdk/communication/communication-sms/samples/v1-beta/typescript/src/sendSms.ts
  sdk/communication/communication-sms/samples/v1-beta/typescript/src/sendSmsWithMessagingConnect.ts
  sdk/communication/communication-sms/samples/v1-beta/typescript/src/sendSmsWithOptions.ts
  sdk/communication/communication-sms/samples/v1-beta/typescript/src/usingAadAuth.ts
  sdk/communication/communication-sms/samples/v1-beta/typescript/tsconfig.json
  sdk/communication/communication-sms/src/generated/src/models/index.ts
  sdk/communication/communication-sms/src/generated/src/models/mappers.ts
  sdk/communication/communication-sms/src/generated/src/models/parameters.ts
  sdk/communication/communication-sms/src/generated/src/smsApiClient.ts
  sdk/communication/communication-sms/src/smsClient.ts
  sdk/communication/communication-sms/src/utils/smsUtils.ts
  sdk/communication/communication-sms/swagger/README.md
  sdk/communication/communication-sms/test/internal/smsClient.internal.spec.ts
  sdk/communication/communication-sms/test/public/smsClient.spec.ts
  sdk/communication/communication-sms/test/public/utils/recordedClient.ts
Labels: Communication - SMS

#34785 [keyvault] Add attributes to recording
  sdk/keyvault/keyvault-admin/assets.json
  sdk/keyvault/keyvault-admin/test/public/backupClient.spec.ts
Labels: KeyVault

#34786 [identity] Fix return type for workload identity
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/workloadIdentityCredential.ts
Labels: Azure.Identity

#34794 Sync eng/common directory with azure-sdk-tools for PR 10857
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#34797 [Identity] Update release date
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#34809 Sync eng/common directory with azure-sdk-tools for PR 10878
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#34826 Set release date for Messaging Connect release
  sdk/communication/communication-sms/CHANGELOG.md
Labels: Communication - SMS

#34805 [api extractor] Create base config
  api-extractor-base.json
  sdk/core/core-rest-pipeline/api-extractor.json
Labels: Azure.Core

#34827 Fix artifact name in sdk/onlineexperimentation/ci.yml.
  sdk/onlineexperimentation/ci.yml
Labels: Online Experimentation

#34830 Sync eng/common directory with azure-sdk-tools for PR 10892
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#34838 [Storage] check snapshotnotfound error on deleteifexists
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-common/CHANGELOG.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/assets.json
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
  sdk/storage/storage-queue/CHANGELOG.md
Labels: Storage

#34840 [storage-blob-changefeed] fix test typecheck failure (#34732)
  sdk/storage/storage-blob-changefeed/test/chunk.spec.ts
Labels: Storage

#34841 [Storage]Prettier
  sdk/storage/storage-blob/assets.json
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/test/shareclient.spec.ts
Labels: Storage

#34842 Update release date for Messaging Connect release
  sdk/communication/communication-sms/CHANGELOG.md
Labels: Communication - SMS

#34755 First cut at a test recording agent
  .github/prompts/test-recording.prompt.md
  sdk/test-utils/recorder/README.md
Labels: test-utils

#34873 refactor(loadtesting): install @azure/identity and create config with DefaultAzureCredentials
  sdk/loadtesting/create-playwright/src/initialize.ts
  sdk/loadtesting/create-playwright/test/initialize.spec.ts
Labels: Azure Load Testing

#34875 Fix recordings
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-rooms/assets.json
Labels: Communication - Chat, Communication - Rooms, Communication - Call Automation

#34898 Sync eng/common directory with azure-sdk-tools for PR 10949
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#34912 Sync eng/common directory with azure-sdk-tools for PR 10953
  eng/common/pipelines/codeowners-linter.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#34620 V2025 GA
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-chat/CHANGELOG.md
  sdk/communication/communication-chat/assets.json
  sdk/communication/communication-chat/package.json
  sdk/communication/communication-chat/review/communication-chat.api.md
  sdk/communication/communication-chat/src/chatClient.ts
  sdk/communication/communication-chat/src/chatThreadClient.ts
  sdk/communication/communication-chat/src/generated/src/chatApiClient.ts
  sdk/communication/communication-chat/src/generated/src/models/index.ts
  sdk/communication/communication-chat/src/generated/src/models/mappers.ts
  sdk/communication/communication-chat/src/generated/src/models/parameters.ts
  sdk/communication/communication-chat/src/generated/src/tracing.ts
  sdk/communication/communication-chat/src/models/mappers.ts
  sdk/communication/communication-chat/src/models/models.ts
  sdk/communication/communication-chat/src/models/options.ts
  sdk/communication/communication-chat/swagger/README.md
  sdk/communication/communication-chat/test/internal/chatClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/chatThreadClient.mocked.spec.ts
  sdk/communication/communication-chat/test/internal/utils/mockClient.ts
  sdk/communication/communication-chat/test/public/chatClient.spec.ts
  sdk/communication/communication-chat/test/public/chatThreadClient.spec.ts
Labels: Communication - Chat

#34938 [Identity] Revert AKS to node 18 image
  sdk/identity/identity/integration/AzureKubernetes/Dockerfile
Labels: Azure.Identity

#34960 fix(playwrighttesting): use sha256 hash for id generation
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
Labels: Microsoft Playwright Testing

#34952 update spec
  sdk/communication/communication-chat/swagger/README.md
Labels: Communication - Chat

#34942 Sync eng/common directory with azure-sdk-tools for PR 10969
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#34969 Sync eng/common directory with azure-sdk-tools for PR 10987
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#35001 [eventgrid-systemevents] update tsp-location to use a SHA from main branch of specs repo
  sdk/eventgrid/eventgrid-systemevents/tsp-location.yaml
Labels: Event Grid

#35023 [eventgrid-systemevents] prepare for 1.0.1 release
  sdk/eventgrid/eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/eventgrid-systemevents/package.json
  sdk/eventgrid/eventgrid-systemevents/review/eventgrid-systemevents.api.md
  sdk/eventgrid/eventgrid-systemevents/src/generated/models/models.ts
  sdk/eventgrid/eventgrid-systemevents/tsp-location.yaml
Labels: Event Grid

#35033 docs(loadtesting): 1.0.0-beta.1 release changes for both packages
  sdk/loadtesting/create-playwright/CHANGELOG.md
  sdk/loadtesting/playwright/CHANGELOG.md
  sdk/loadtesting/playwright/samples/v1/javascript/README.md
  sdk/loadtesting/playwright/samples/v1/javascript/customising-service-parameters/README.md
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/README.md
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/README.md
  sdk/loadtesting/playwright/samples/v1/javascript/using-connect-options/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/customising-service-parameters/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/manually-connecting-to-browsers/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/set-default-authentication-mechanism/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/using-connect-options/README.md
Labels: Azure Load Testing

#34902 [Identity] Update AzPowershellCred for Breaking Changes
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#35040 Sync eng/common directory with azure-sdk-tools for PR 11039
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#34777 [EventGrid] add a migration guide
  sdk/eventgrid/eventgrid-namespaces/MigrationGuide.md
  sdk/eventgrid/eventgrid-systemevents/test/public/events.spec.ts
Labels: Event Grid

#34742 Add moveParticipants functionality
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/eventprocessor/eventResponses.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/src/models/responses.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test/node/callConnection.spec.ts
Labels: Communication - Call Automation
