Repository Azure/azure-sdk-for-js, pull requests merged in 2025-10, with the labels that each got.

#36089 [perf] fix paths in perf tests configurations and documentation
  eng/.docsettings.yml
  sdk/eventgrid/eventgrid-perf-tests/src/sendCloudEvents.spec.ts
  sdk/eventhub/event-hubs-perf-tests/README.md
  sdk/eventhub/event-hubs/perf-tests.yml
  sdk/keyvault/keyvault-secrets/perf-tests.yml
  sdk/monitor/monitor-opentelemetry/perf-tests.yml
  sdk/servicebus/service-bus-perf-tests/README.md
  sdk/servicebus/service-bus/perf-tests.yml
  sdk/storage/storage-blob/perf-tests.yml
  sdk/storage/storage-file-datalake/perf-tests.yml
  sdk/storage/storage-file-share/perf-tests.yml
  sdk/template/template-perf-tests/README.md
  sdk/test-utils/perf/src/options.ts
Labels: EngSys, Service Bus, Event Hubs, Storage, KeyVault, Event Grid, test-utils

#36080 Minor Change @4.6.0 release
  sdk/cosmosdb/cosmos/review/cosmos-node.api.md
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/documents/DatabaseAccount.ts
Labels: Cosmos

#36093 Remove Azure AD reference from Identity README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#36082 Sync eng/common directory with azure-sdk-tools for PR 12267
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#36109 Sync eng/common directory with azure-sdk-tools for PR 12325
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#35164 [load-testing-rest] pass PolledOperationOptions to getLongRunningPoller
  sdk/loadtesting/load-testing-rest/review/load-testing-node.api.md
  sdk/loadtesting/load-testing-rest/src/pollingHelper.ts
  sdk/loadtesting/load-testing-rest/test/public/node/testAdministration.spec.ts
  sdk/loadtesting/load-testing-rest/test/public/node/testRun.spec.ts
Labels: Azure Load Testing

#36124 [EngSys] add `tshy` to default catalog and to core packages' dev deps
  common/tools/dev-tool/src/commands/run/build-package.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-paging/package.json
  sdk/core/core-rest-pipeline-perf-tests/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/package.json
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core, dev-tool
