Repository Azure/azure-sdk-for-js, pull requests merged in 2025-09, with the labels that each got.

#35817 Cosmosdb/fix global endpoint manager
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/test/public/functional/globalEndpointManager.spec.ts
Labels: Cosmos

#35826 [Core] bump `@azure/*` dependency versions to latest published
  pnpm-lock.yaml
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline-perf-tests/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
Labels: Azure.Core

#35839 [Core] Improve RestError logging by including only essential agent information in the request
  sdk/core/ts-http-runtime/src/restError.ts
  sdk/core/ts-http-runtime/test/node/restError.spec.ts
Labels: Azure.Core

#35856 [core-xml] fix TypeScript compilation error for browser
  sdk/core/core-xml/tsconfig.browser.config.json
Labels: Azure.Core

#35862 Update changelog release date
  sdk/resources/arm-resourcesbicep/CHANGELOG.md
Labels: Mgmt

#35868 [core] prepare for 2025 September release
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-util/CHANGELOG.md
  sdk/core/ts-http-runtime/CHANGELOG.md
Labels: Azure.Core

#35883 [mgmt] update ci.mgmt.yml
  sdk/resources/ci.mgmt.yml
Labels: Mgmt

#35927 Fix(playwright): fix ESM/CommonJS mismatch causing "exports/require i…
  sdk/loadtesting/playwright/samples/v1/javascript/customising-service-parameters/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/customising-service-parameters/playwright.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/customising-service-parameters/playwright.service.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/customising-service-parameters/tests/sample.spec.js
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/playwright.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/playwright.service.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/tests/sample.spec.js
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/playwright.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/playwright.service.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/tests/sample.spec.js
  sdk/loadtesting/playwright/samples/v1/javascript/using-connect-options/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/using-connect-options/playwright.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/using-connect-options/playwright.service.config.js
  sdk/loadtesting/playwright/samples/v1/javascript/using-connect-options/tests/sample.spec.js
  sdk/loadtesting/playwright/samples/v1/typescript/customising-service-parameters/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/manually-connecting-to-browsers/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/manually-connecting-to-browsers/playwright.config.ts
  sdk/loadtesting/playwright/samples/v1/typescript/set-default-authentication-mechanism/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/using-connect-options/global-setup.ts
  sdk/loadtesting/playwright/samples/v1/typescript/using-connect-options/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/using-connect-options/playwright.config.ts
Labels: Azure Load Testing

#35411 Add excluded locations on request levels
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos-node.api.md
  sdk/cosmosdb/cosmos/samples-dev/ExcludedLocations.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ExcludedLocations.js
  sdk/cosmosdb/cosmos/samples/v4/javascript/README.md
  sdk/cosmosdb/cosmos/samples/v4/typescript/README.md
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ExcludedLocations.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedIteratorOptions.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/InternalChangeFeedOptions.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/changeFeedUtils.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/diagnostics/DiagnosticNodeInternal.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/test/public/functional/excludedLocationsRequest.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/excludedLocationsRequestPPAF.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/excludedLocationsRequestPPCB.spec.ts
  sdk/cosmosdb/cosmos/test/snippets.spec.ts
Labels: Cosmos

#35740 Azure App Configuration - Update sample to use configuration provider to consume feature flag and secret reference
  pnpm-lock.yaml
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/samples-dev/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples-dev/secretReference.ts
  sdk/appconfiguration/app-configuration/samples/v1/javascript/featureFlag.js
  sdk/appconfiguration/app-configuration/samples/v1/javascript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/javascript/secretReference.js
  sdk/appconfiguration/app-configuration/samples/v1/typescript/package.json
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/featureFlag.ts
  sdk/appconfiguration/app-configuration/samples/v1/typescript/src/secretReference.ts
Labels: App Configuration

#35972 Sync eng/common directory with azure-sdk-tools for PR 12124
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#35952 [App Configuration] - Make list label test deterministic
  sdk/appconfiguration/app-configuration/assets.json
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
Labels: App Configuration

#35981 [eslint-plugin] relax the `no-param-reassign` rule for property modifications
  common/tools/eslint-plugin-azure-sdk/src/configs/eslint-customized.ts
  sdk/communication/communication-phone-numbers/test/public/utils/operationLocationFixPolicy.ts
  sdk/core/core-rest-pipeline/src/defaultHttpClient.ts
  sdk/core/core-rest-pipeline/src/policies/wrapAbortSignalLikePolicy.ts
  sdk/monitor/monitor-query-metrics/src/api/metricsContext.ts
  sdk/onlineexperimentation/onlineexperimentation-rest/src/onlineExperimentationClient.ts
Labels: Azure.Core, eslint plugin, Communication - Phone Numbers, Online Experimentation

#35983 Sync eng/common directory with azure-sdk-tools for PR 12060
  eng/common/tsp-client/README.md
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Labels: EngSys, Central-EngSys

#36005 Fix BrokerCredential reference in DAC docs
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#36011 [dev-tool] Address feedback from #35993
  common/tools/dev-tool/src/commands/customization/apply-v2.ts
  common/tools/dev-tool/src/util/run.ts
Labels: dev-tool

#36034 Update tsp-location.yaml
  sdk/quota/arm-quota/tsp-location.yaml
Labels: Mgmt

#36028 [App Configuration] - Fix the racing problem when deleting a lock in the testcases
  sdk/appconfiguration/app-configuration/test/public/utils/testHelpers.ts
Labels: App Configuration

#35880 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#36042 Sync eng/common directory with azure-sdk-tools for PR 12222
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#36041 Sync eng/common directory with azure-sdk-tools for PR 12235
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#36053 Sync eng/common directory with azure-sdk-tools for PR 12217
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Labels: EngSys, Central-EngSys

#35968 Minor Fix for @azure/cosmos4.6.0
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos-node.api.md
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/GlobalEndpointManagerOptions.ts
  sdk/cosmosdb/cosmos/src/documents/ConnectionPolicy.ts
  sdk/cosmosdb/cosmos/src/documents/DatabaseAccount.ts
  sdk/cosmosdb/cosmos/src/globalEndpointManager.ts
  sdk/cosmosdb/cosmos/src/retry/retryUtility.ts
  sdk/cosmosdb/cosmos/test/public/functional/databaseaccount.spec.ts
Labels: Cosmos

#36073 Sync eng/common directory with azure-sdk-tools for PR 12246
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys
