Repository Azure/azure-sdk-for-js, pull requests merged in 2025-04, with the labels that each got.

#33601 Update some missing apiView and change log configuration RLC packages
  sdk/agrifood/agrifood-farming-rest/package.json
  sdk/ai/ai-inference-rest/package.json
  sdk/anomalydetector/ai-anomaly-detector-rest/package.json
  sdk/communication/communication-job-router-rest/package.json
  sdk/communication/communication-messages-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/containerservice/arm-containerservice-rest/package.json
  sdk/contentsafety/ai-content-safety-rest/package.json
  sdk/devcenter/developer-devcenter-rest/package.json
  sdk/deviceupdate/iot-device-update-rest/package.json
  sdk/documentintelligence/ai-document-intelligence-rest/package.json
  sdk/documenttranslator/ai-document-translator-rest/package.json
  sdk/easm/defender-easm-rest/package.json
  sdk/face/ai-vision-face-rest/package.json
  sdk/healthinsights/health-insights-cancerprofiling-rest/package.json
  sdk/healthinsights/health-insights-clinicalmatching-rest/package.json
  sdk/healthinsights/health-insights-radiologyinsights-rest/package.json
  sdk/loadtesting/load-testing-rest/package.json
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-route-rest/package.json
  sdk/maps/maps-search-rest/package.json
  sdk/maps/maps-timezone-rest/package.json
  sdk/purview/purview-administration-rest/package.json
  sdk/purview/purview-datamap-rest/package.json
  sdk/purview/purview-scanning-rest/package.json
  sdk/purview/purview-sharing-rest/package.json
  sdk/purview/purview-workflow-rest/package.json
  sdk/synapse/synapse-access-control-rest/package.json
  sdk/translation/ai-translation-document-rest/package.json
  sdk/translation/ai-translation-text-rest/package.json
  sdk/vision/ai-vision-image-analysis-rest/package.json
Labels: Mgmt, Synapse, Cognitive - Translator, Purview, Maps, Communication - Job Router, Cognitive - Health Insights, Farmbeats, DocumentTranslator, ConfidentialLedger, Image Analysis, Communication - Messages, Azure Load Testing

#33145 [cosmos] Migrate @azure/cosmos to use snippets extraction
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedPullModelIterator.ts
  sdk/cosmosdb/cosmos/src/client/Conflict/Conflict.ts
  sdk/cosmosdb/cosmos/src/client/Conflict/ConflictResolutionPolicy.ts
  sdk/cosmosdb/cosmos/src/client/Conflict/Conflicts.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/client/Offer/Offer.ts
  sdk/cosmosdb/cosmos/src/client/Offer/Offers.ts
  sdk/cosmosdb/cosmos/src/client/Permission/Permission.ts
  sdk/cosmosdb/cosmos/src/client/Permission/Permissions.ts
  sdk/cosmosdb/cosmos/src/client/StoredProcedure/StoredProcedure.ts
  sdk/cosmosdb/cosmos/src/client/StoredProcedure/StoredProcedures.ts
  sdk/cosmosdb/cosmos/src/client/Trigger/Trigger.ts
  sdk/cosmosdb/cosmos/src/client/Trigger/Triggers.ts
  sdk/cosmosdb/cosmos/src/client/User/User.ts
  sdk/cosmosdb/cosmos/src/client/User/Users.ts
  sdk/cosmosdb/cosmos/src/client/UserDefinedFunction/UserDefinedFunction.ts
  sdk/cosmosdb/cosmos/src/client/UserDefinedFunction/UserDefinedFunctions.ts
  sdk/cosmosdb/cosmos/src/encryption/CosmosEncryptedNumber.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/SqlQuerySpec.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/test/snippets.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#33625 [core-lro] Relaxed status transformation
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/test/public/lro.spec.ts
Labels: Azure.Core

#33626 Sync eng/common directory with azure-sdk-tools for PR 10181
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#33632 Add user_security_context optional Azure param in openai
  sdk/openai/openai/CHANGELOG.md
  sdk/openai/openai/src/types/index.ts
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#33631 Sync eng/common directory with azure-sdk-tools for PR 10176
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#33624 more rush replacement
  eng/pipelines/run-for-all-packages.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build.yml
  eng/pipelines/templates/steps/cosmos-additional-steps.yml
  eng/pipelines/templates/steps/monitor-additional-steps.yml
  eng/pipelines/templates/steps/test-eslint.yml
  eng/tools/ci-runner/package.json
  eng/tools/ci-runner/src/helpers.js
  eng/tools/ci-runner/test/actions.spec.js
  eng/tools/eng-package-utils/getPackagePath.js
  eng/tools/eng-package-utils/package.json
  package.json
  pnpm-lock.yaml
  sdk/core/ts-http-runtime/scripts/azure-diff.ts
  sdk/test-utils/recorder/src/utils/relativePathCalculator.ts
Labels: Azure.Core

#33644 Update changelog to prepare for release
  sdk/openai/openai/CHANGELOG.md
Labels: OpenAI

#33647 Sync eng/common directory with azure-sdk-tools for PR 10191
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#33643 [eslint] Fix sdk-type to include perf-test
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-package-json-sdktype.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-sdktype.ts
  common/tools/eslint-plugin-azure-sdk/vitest.config.ts
Labels: eslint plugin

#33645 Sync eng/common directory with azure-sdk-tools for PR 10184
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#33652 Sync eng/common directory with azure-sdk-tools for PR 10190
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#33666 Sync eng/common directory with azure-sdk-tools for PR 10206
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#33623 [core-client-rest] Graceful error processing
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/src/restError.ts
  sdk/core/core-client-rest/test/createRestError.spec.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/src/client/restError.ts
  sdk/core/ts-http-runtime/test/client/createRestError.spec.ts
Labels: Azure.Core

#33635 [OpenAI] Samples for Responses Stream
  sdk/openai/openai/samples-dev/responsesStream.ts
  sdk/openai/openai/samples-dev/responsesStreamingTools.ts
  sdk/openai/openai/samples/v2-beta/javascript/README.md
  sdk/openai/openai/samples/v2-beta/javascript/responsesStream.js
  sdk/openai/openai/samples/v2-beta/javascript/responsesStreamingTools.js
  sdk/openai/openai/samples/v2-beta/typescript/README.md
  sdk/openai/openai/samples/v2-beta/typescript/src/responsesStream.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/responsesStreamingTools.ts
Labels: OpenAI

#33662 [mock-hub] update to use `@azure-tools` scope in package name
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-package-json-sdktype.ts
  rush.json
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/test/utils/setup.ts
  sdk/eventhub/mock-hub/package.json
  sdk/eventhub/mock-hub/review/mock-hub.api.md
  sdk/eventhub/mock-hub/samples-dev/start.ts
  sdk/eventhub/mock-hub/samples/v1/javascript/package.json
  sdk/eventhub/mock-hub/samples/v1/javascript/start.js
  sdk/eventhub/mock-hub/samples/v1/typescript/package.json
  sdk/eventhub/mock-hub/samples/v1/typescript/src/start.ts
  sdk/eventhub/mock-hub/tsconfig.samples.json
Labels: Event Hubs, eslint plugin

#33668 [template] Use safe secrets
  sdk/template/template/README-EXAMPLE.md
  sdk/template/test-resources.bicep
Labels: EngSys

#33669 [maps] Use safe secrets
  sdk/maps/maps-common/sample.env
  sdk/maps/test-resources.bicep
Labels: Maps

#33667 [eventgrid] Use safe secrets
  sdk/eventgrid/eventgrid/README.md
  sdk/eventgrid/eventgrid/sample.env
  sdk/eventgrid/eventgrid/samples-dev/consumeEventsFromServiceBusQueue.ts
  sdk/eventgrid/eventgrid/samples-dev/sendCloudEvent.ts
  sdk/eventgrid/eventgrid/samples-dev/sendEventGridEvent.ts
  sdk/eventgrid/eventgrid/samples/v4/typescript/tsconfig.json
  sdk/eventgrid/eventgrid/samples/v5/javascript/README.md
  sdk/eventgrid/eventgrid/samples/v5/javascript/consumeEventsFromServiceBusQueue.js
  sdk/eventgrid/eventgrid/samples/v5/javascript/package.json
  sdk/eventgrid/eventgrid/samples/v5/javascript/sample.env
  sdk/eventgrid/eventgrid/samples/v5/javascript/sendCloudEvent.js
  sdk/eventgrid/eventgrid/samples/v5/javascript/sendEventGridEvent.js
  sdk/eventgrid/eventgrid/samples/v5/typescript/README.md
  sdk/eventgrid/eventgrid/samples/v5/typescript/package.json
  sdk/eventgrid/eventgrid/samples/v5/typescript/sample.env
  sdk/eventgrid/eventgrid/samples/v5/typescript/src/consumeEventsFromServiceBusQueue.ts
  sdk/eventgrid/eventgrid/samples/v5/typescript/src/sendCloudEvent.ts
  sdk/eventgrid/eventgrid/samples/v5/typescript/src/sendEventGridEvent.ts
  sdk/eventgrid/eventgrid/samples/v5/typescript/tsconfig.json
  sdk/eventgrid/eventgrid/test/snippets.spec.ts
  sdk/eventgrid/test-resources.bicep
Labels: Event Grid

#33712 Sync eng/common directory with azure-sdk-tools for PR 10182
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#33713 [tables][doc] update samples link in migration guide
  sdk/tables/data-tables/MigrationGuide.md
Labels: Tables

#33723 Post release automated changes for core releases
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
Labels: Azure.Core

#33728 Entra Auth Creds for JS SDK
  sdk/cosmosdb/cosmos/samples-dev/EntraAuth.ts
  sdk/cosmosdb/cosmos/samples/v3/javascript/EntraAuth.js
  sdk/cosmosdb/cosmos/samples/v3/typescript/src/EntraAuth.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/EntraAuth.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/EntraAuth.ts
Labels: Cosmos

#33732 Sync eng/common directory with azure-sdk-tools for PR 10238
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#33735 [eventhub] Update artifact names for mock-hub
  sdk/eventhub/ci.yml
Labels: Event Hubs

#33736 [Event Hubs] Fix link
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/TROUBLESHOOTING.md
Labels: Event Hubs

#33734 [AppConfig] Prepare release for v1.9
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#33738 [eventhub checkpoint store blob] Add changelog section
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
Labels: Event Hubs, OpenAI

#33739 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#33731 [identity] Remove unused dependencies
  sdk/identity/identity/package.json
Labels: Azure.Identity

#33742 Sync eng/common directory with azure-sdk-tools for PR 10241
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#33745 Post release automated changes for eventhub releases
  sdk/eventhub/eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
Labels: Event Hubs

#33747 Sync eng/common directory with azure-sdk-tools for PR 10246
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#32736 Made changes for Incoming Call Event in event parser.
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test/node/callConnection.spec.ts
Labels: Communication - Call Automation

#33771 add util polyfill to rhea-based libs
  common/config/rush/pnpm-lock.yaml
  sdk/core/core-amqp/package.json
  sdk/eventhub/event-hubs/package.json
  sdk/servicebus/service-bus/package.json
Labels: Service Bus, Event Hubs, Azure.Core

#33746 [Event Hubs] Post-release activities
  sdk/eventhub/event-hubs/CHANGELOG.md
  sdk/eventhub/event-hubs/package.json
  sdk/eventhub/event-hubs/src/util/constants.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/package.json
  sdk/eventhub/eventhubs-checkpointstore-table/package.json
Labels: Event Hubs

#33766 [EngSys] Add build cache to common tools
  common/tools/turborepo-remote-cache/CHANGELOG.md
  common/tools/turborepo-remote-cache/Dockerfile
  common/tools/turborepo-remote-cache/LICENSE
  common/tools/turborepo-remote-cache/README.md
  common/tools/turborepo-remote-cache/cache.bicep
  common/tools/turborepo-remote-cache/eslint.config.mjs
  common/tools/turborepo-remote-cache/package.json
  common/tools/turborepo-remote-cache/sample.env
  common/tools/turborepo-remote-cache/src/auth.ts
  common/tools/turborepo-remote-cache/src/index.ts
  common/tools/turborepo-remote-cache/src/storage.ts
  common/tools/turborepo-remote-cache/src/util/debug.ts
  common/tools/turborepo-remote-cache/src/util/log.ts
  common/tools/turborepo-remote-cache/src/util/logger.ts
  common/tools/turborepo-remote-cache/test/auth.spec.ts
  common/tools/turborepo-remote-cache/test/debug.spec.ts
  common/tools/turborepo-remote-cache/test/logger.spec.ts
  common/tools/turborepo-remote-cache/test/storage.spec.ts
  common/tools/turborepo-remote-cache/tsconfig.json
  common/tools/turborepo-remote-cache/turbo.openapi3.json
  common/tools/turborepo-remote-cache/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: EngSys

#33691 [communication email] Use safe secrets
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-email/assets.json
  sdk/communication/communication-email/package.json
  sdk/communication/communication-email/sample.env
  sdk/communication/communication-email/samples-dev/sendEmailMultipleRecipients.ts
  sdk/communication/communication-email/samples-dev/sendEmailSingleRecipient.ts
  sdk/communication/communication-email/samples-dev/sendEmailWithAttachments.ts
  sdk/communication/communication-email/samples-dev/sendEmailWithInlineAttachments.ts
  sdk/communication/communication-email/samples/v1-beta/javascript/README.md
  sdk/communication/communication-email/samples/v1-beta/javascript/package.json
  sdk/communication/communication-email/samples/v1-beta/javascript/sample.env
  sdk/communication/communication-email/samples/v1-beta/javascript/sendEmailMultipleRecipients.js
  sdk/communication/communication-email/samples/v1-beta/javascript/sendEmailSingleRecipient.js
  sdk/communication/communication-email/samples/v1-beta/javascript/sendEmailWithAttachments.js
  sdk/communication/communication-email/samples/v1-beta/javascript/sendEmailWithInlineAttachments.js
  sdk/communication/communication-email/samples/v1-beta/typescript/README.md
  sdk/communication/communication-email/samples/v1-beta/typescript/package.json
  sdk/communication/communication-email/samples/v1-beta/typescript/sample.env
  sdk/communication/communication-email/samples/v1-beta/typescript/src/sendEmailMultipleRecipients.ts
  sdk/communication/communication-email/samples/v1-beta/typescript/src/sendEmailSingleRecipient.ts
  sdk/communication/communication-email/samples/v1-beta/typescript/src/sendEmailWithAttachments.ts
  sdk/communication/communication-email/samples/v1-beta/typescript/src/sendEmailWithInlineAttachments.ts
  sdk/communication/communication-email/samples/v1-beta/typescript/tsconfig.json
  sdk/communication/communication-email/test-resources.bicep
  sdk/communication/communication-email/test/public/emailClient.spec.ts
  sdk/communication/communication-email/test/public/utils/recordedClient.ts
  sdk/communication/communication-email/test/sample.env
  sdk/communication/communication-email/test/utils/constants.ts
  sdk/communication/communication-email/test/utils/injectables.ts
  sdk/communication/communication-email/test/utils/setup.ts
  sdk/communication/communication-email/tests.yml
  sdk/communication/communication-email/vitest.browser.config.ts
  sdk/communication/communication-email/vitest.config.ts
  sdk/communication/communication-email/vitest.esm.config.ts
Labels: Communication - Email

#33795 renaming in sample readmd
  sdk/cosmosdb/cosmos/samples/v3/javascript/README.md
  sdk/cosmosdb/cosmos/samples/v3/typescript/README.md
Labels: Cosmos

#33792 [Identity] Bump msal-node version & fix recordings
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/assets.json
  sdk/identity/identity/package.json
Labels: Azure.Identity

#33521 Address 1es warning with release jobs
  eng/pipelines/templates/jobs/npm-release-task.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/partner-release.yml
  eng/pipelines/templates/steps/npm-release-task.yml
Labels: Central-EngSys

#33721 [core] core-util: depend on ts-http-runtime
  sdk/core/core-util/package.json
  sdk/core/core-util/src/bytesEncoding-browser.mts
  sdk/core/core-util/src/bytesEncoding-react-native.mts
  sdk/core/core-util/src/bytesEncoding.common.ts
  sdk/core/core-util/src/bytesEncoding.ts
  sdk/core/core-util/src/checkEnvironment.ts
  sdk/core/core-util/src/delay.ts
  sdk/core/core-util/src/error.ts
  sdk/core/core-util/src/httpMethods.ts
  sdk/core/core-util/src/index.ts
  sdk/core/core-util/src/object.ts
  sdk/core/core-util/src/random.ts
  sdk/core/core-util/src/sha256-browser.mts
  sdk/core/core-util/src/sha256-react-native.mts
  sdk/core/core-util/src/sha256.common.ts
  sdk/core/core-util/src/sha256.ts
  sdk/core/core-util/src/uuidUtils-browser.mts
  sdk/core/core-util/src/uuidUtils-react-native.mts
  sdk/core/core-util/src/uuidUtils.common.ts
  sdk/core/core-util/src/uuidUtils.ts
  sdk/core/core-util/test/public/browser/checkEnvironment.spec.ts
  sdk/core/core-util/test/public/bytesEncoding.spec.ts
  sdk/core/core-util/test/public/delay.spec.ts
  sdk/core/core-util/test/public/node/checkEnvironment.spec.ts
  sdk/core/core-util/test/public/uuidUtils.spec.ts
  sdk/core/ts-http-runtime/README.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime-internal-util.api.md
  sdk/core/ts-http-runtime/src/util/aborterUtils.ts
  sdk/core/ts-http-runtime/src/util/checkEnvironment.ts
  sdk/core/ts-http-runtime/src/util/createAbortablePromise.ts
  sdk/core/ts-http-runtime/src/util/delay.ts
  sdk/core/ts-http-runtime/src/util/error.ts
  sdk/core/ts-http-runtime/src/util/internal.ts
  sdk/core/ts-http-runtime/src/util/typeGuards.ts
  sdk/core/ts-http-runtime/test/browser/checkEnvironment.spec.ts
  sdk/core/ts-http-runtime/test/node/checkEnvironment.spec.ts
  sdk/core/ts-http-runtime/test/node/nodeHttpClient.spec.ts
  sdk/core/ts-http-runtime/test/util/aborterUtils.spec.ts
  sdk/core/ts-http-runtime/test/util/delay.spec.ts
  sdk/core/ts-http-runtime/test/util/typeGuards.spec.ts
Labels: Azure.Core

#33733 [Identity] VSCode Library Prepare Release
  sdk/identity/identity-vscode/CHANGELOG.md
Labels: Azure.Identity

#33767 Add Unified Messaging for private preview
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-messages-rest/CHANGELOG.md
  sdk/communication/communication-messages-rest/assets.json
  sdk/communication/communication-messages-rest/package.json
  sdk/communication/communication-messages-rest/review/communication-messages.api.md
  sdk/communication/communication-messages-rest/src/conversationEventListener.ts
  sdk/communication/communication-messages-rest/src/generated/src/clientDefinitions.ts
  sdk/communication/communication-messages-rest/src/generated/src/isUnexpected.ts
  sdk/communication/communication-messages-rest/src/generated/src/messagesServiceClient.ts
  sdk/communication/communication-messages-rest/src/generated/src/models.ts
  sdk/communication/communication-messages-rest/src/generated/src/outputModels.ts
  sdk/communication/communication-messages-rest/src/generated/src/parameters.ts
  sdk/communication/communication-messages-rest/src/generated/src/responses.ts
  sdk/communication/communication-messages-rest/src/index.ts
  sdk/communication/communication-messages-rest/src/messagesServiceClient.ts
  sdk/communication/communication-messages-rest/src/signaling/events.ts
  sdk/communication/communication-messages-rest/src/signaling/signalingClient-browser.mts
  sdk/communication/communication-messages-rest/src/signaling/signalingClient-react-native.mts
  sdk/communication/communication-messages-rest/src/signaling/signalingClient.ts
  sdk/communication/communication-messages-rest/src/signaling/signalingClientOptions.ts
  sdk/communication/communication-messages-rest/test/public/messageTest.spec.ts
  sdk/communication/communication-messages-rest/tsp-location.yaml
Labels: Communication - Messages

#32422 [Identity] bundling for cloudflare environment
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
Labels: Azure.Identity

#33620 Generating javascript SDk for API version 2024-12-09preview
  sdk/confidentialledger/confidential-ledger-rest/assets.json
  sdk/confidentialledger/confidential-ledger-rest/review/confidential-ledger.api.md
  sdk/confidentialledger/confidential-ledger-rest/sample.env
  sdk/confidentialledger/confidential-ledger-rest/src/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/clientDefinitions.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/isUnexpected.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/models.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/paginateHelper.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/src/getLedgerIdentity.ts
  sdk/confidentialledger/confidential-ledger-rest/src/outputModels.ts
  sdk/confidentialledger/confidential-ledger-rest/src/parameters.ts
  sdk/confidentialledger/confidential-ledger-rest/src/responses.ts
  sdk/confidentialledger/confidential-ledger-rest/swagger/README.md
  sdk/confidentialledger/confidential-ledger-rest/test/public/userDefinedFunction.spec.ts
Labels: ConfidentialLedger

#33873 [Identity] Prepare release April
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#33867 [Eng Sys] remove publish to prod environment for integration
  eng/pipelines/templates/jobs/npm-release-task.yml
  eng/pipelines/templates/stages/archetype-js-release.yml
  eng/pipelines/templates/stages/partner-release.yml
Labels: Central-EngSys

#33876 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#33875 Rewrite assistants tests to use TWD
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/utils/createClients.ts
  sdk/openai/openai/test/utils/setup.ts
  sdk/openai/openai/test/utils/types.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#33883 Sync eng/common directory with azure-sdk-tools for PR 10345
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#33886 [communication] Fix snippets extraction for communication projects
  sdk/communication/communication-common/README.md
  sdk/communication/communication-common/test/snippets.spec.ts
  sdk/communication/communication-messages-rest/README.md
  sdk/communication/communication-messages-rest/test/snippets.spec.ts
Labels: Communication - Common, Communication - Messages

#33885 [appconfiguration] Fix snippets generation
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration

#33902 test(openai): refactor Chat Completions tests to use testWithDeployments
  sdk/openai/openai/.gitignore
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/utils/models.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#33888 [EngSys] add a special CI pipeline for dev-tool
  common/tools/dev-tool/ci.yml
  common/tools/dev-tool/package.json
Labels: dev-tool

#33903 [dev-tool] Clean out obsolete items like rollup and ts-node
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/README.md
  common/tools/dev-tool/package.json
  common/tools/dev-tool/shared-config/rollup.js
  common/tools/dev-tool/src/commands/admin/list/packages.ts
  common/tools/dev-tool/src/commands/run/extract-api.ts
  common/tools/dev-tool/src/commands/run/index.ts
  common/tools/dev-tool/src/commands/run/startBrowserRelay.ts
  common/tools/dev-tool/src/commands/run/testBrowser.ts
  common/tools/dev-tool/src/config/rollup.base.config.ts
  common/tools/dev-tool/src/framework/check.ts
Labels: dev-tool

#33890 [keyvault] Update snippets to ignore CHANGELOGs for keyvault
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#33891 [instrumentation] Fix snippets imports for named imports
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/README.md
  sdk/instrumentation/opentelemetry-instrumentation-azure-sdk/test/snippets.spec.ts
Labels: OpenTelemetryInstrumentation

#33752 [core] logger: depend on ts-http-runtime
  sdk/core/logger/package.json
  sdk/core/logger/review/logger.api.md
  sdk/core/logger/src/debug.ts
  sdk/core/logger/src/index.ts
  sdk/core/logger/src/log-browser.mts
  sdk/core/logger/src/log-react-native.mts
  sdk/core/logger/src/log.common.ts
  sdk/core/logger/src/log.ts
  sdk/core/logger/test/debug.spec.ts
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime-internal-logger.api.md
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/scripts/azure-diff.ts
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/logger/internal.ts
  sdk/core/ts-http-runtime/src/logger/logger.ts
Labels: Azure.Core

#33905 [EngSys] rush update-snippets
  sdk/advisor/arm-advisor/README.md
  sdk/agricultureplatform/arm-agricultureplatform/README.md
  sdk/communication/communication-sms/README.md
  sdk/compute/arm-compute-rest/README.md
  sdk/compute/arm-compute/README.md
  sdk/connectedvmware/arm-connectedvmware/README.md
  sdk/containerservice/arm-containerservice/README.md
  sdk/containerservice/arm-containerservicefleet/README.md
  sdk/databasewatcher/arm-databasewatcher/README.md
  sdk/databox/arm-databox/README.md
  sdk/durabletask/arm-durabletask/README.md
  sdk/eventgrid/arm-eventgrid/README.md
  sdk/face/ai-vision-face-rest/README.md
  sdk/hybridconnectivity/arm-hybridconnectivity/README.md
  sdk/hybridkubernetes/arm-hybridkubernetes/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/impactreporting/arm-impactreporting/README.md
  sdk/keyvault/arm-keyvault/README.md
  sdk/liftrarize/arm-arizeaiobservabilityeval/README.md
  sdk/liftrweightsandbiases/arm-weightsandbiases/README.md
  sdk/locks/arm-locks/README.md
  sdk/pineconevectordb/arm-pineconevectordb/README.md
  sdk/policy/arm-policy/README.md
  sdk/search/arm-search/README.md
  sdk/selfhelp/arm-selfhelp/README.md
  sdk/servicenetworking/arm-servicenetworking/README.md
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-file-datalake/src/clients.ts
  sdk/storage/storage-file-share/README.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/synapse/synapse-artifacts/README.md
Labels: Mgmt, Storage, Azure.Identity, Synapse, Communication - SMS

#33790 Sip-X header support
  sdk/communication/communication-call-automation/review/communication-call-automation.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/test/node/callConnection.spec.ts
  sdk/communication/communication-call-automation/test/utils/connectionUtils.ts
Labels: Communication - Call Automation

#33914 [Identity] Update workered exports order
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/msal/browserFlows/msalBrowserCommon.ts
Labels: Azure.Identity

#33918 [Identity] Patch release
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#33943 Sync eng/common directory with azure-sdk-tools for PR 10287
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#33944 [Identity] Update IBC test
  sdk/identity/identity/test/manual/interactive-browser-credential/package.json
  sdk/identity/identity/test/manual/interactive-browser-credential/webpack.config.js
Labels: Azure.Identity

#33945 switch to official node image
  common/tools/turborepo-remote-cache/Dockerfile
Labels: EngSys

#33724 [core] simplify request configuration with `requestOverrides`
  sdk/core/core-http-compat/CHANGELOG.md
  sdk/core/core-http-compat/package.json
  sdk/core/core-http-compat/review/core-http-compat.api.md
  sdk/core/core-http-compat/src/util.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-rest-pipeline/src/fetchHttpClient.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-rest-pipeline/src/pipelineRequest.ts
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
  sdk/core/ts-http-runtime/CHANGELOG.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/constants.ts
  sdk/core/ts-http-runtime/src/fetchHttpClient.ts
  sdk/core/ts-http-runtime/src/interfaces.ts
  sdk/core/ts-http-runtime/src/nodeHttpClient.ts
  sdk/core/ts-http-runtime/src/pipelineRequest.ts
  sdk/core/ts-http-runtime/test/pipeline.spec.ts
Labels: Azure.Core

#33947 [SchemaRegistry][doc] update link to schema-registry-json
  sdk/schemaregistry/README.md
Labels: Schema Registry

#33976 [schema-registry-avro][test] fix browser integration tests
  sdk/schemaregistry/schema-registry-avro/package.json
Labels: Schema Registry

#33978 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#33642 Tidy up completions.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
Labels: OpenAI

#33988 Sync eng/common directory with azure-sdk-tools for PR 10400
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#33916 refactor: update abortsignal and completions tests to use testWithDeployments
  sdk/openai/openai/test/public/abortsignal.spec.ts
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
Labels: OpenAI

#33920 Refactor tests: Use testWithDeployments for websocket tests
  sdk/openai/openai/test/public/browser/webSocketRealtime.spec.ts
Labels: OpenAI

#33983 [EngSys] update outdated test:node-ts-input usage
  sdk/identity/identity-broker/package.json
  sdk/monitor/monitor-opentelemetry/package.json
Labels: Azure.Identity

#33994 [core] bump dependency ts-http-runtime version
  sdk/core/core-util/package.json
  sdk/core/logger/package.json
Labels: Azure.Core

#33992 Sync eng/common directory with azure-sdk-tools for PR 10377
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#33925 [mgmt] storageactions release
  sdk/storageactions/arm-storageactions/CHANGELOG.md
  sdk/storageactions/arm-storageactions/LICENSE
  sdk/storageactions/arm-storageactions/README.md
  sdk/storageactions/arm-storageactions/_meta.json
  sdk/storageactions/arm-storageactions/assets.json
  sdk/storageactions/arm-storageactions/package.json
  sdk/storageactions/arm-storageactions/review/arm-storageactions.api.md
  sdk/storageactions/arm-storageactions/sample.env
  sdk/storageactions/arm-storageactions/samples-dev/operationsListSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTaskAssignmentListSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksCreateSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksDeleteSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksGetSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksListByResourceGroupSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksListBySubscriptionSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksPreviewActionsSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksReportListSample.ts
  sdk/storageactions/arm-storageactions/samples-dev/storageTasksUpdateSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/README.md
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/operationsListSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/package.json
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/sample.env
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTaskAssignmentListSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksCreateSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksDeleteSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksGetSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksListByResourceGroupSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksListBySubscriptionSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksPreviewActionsSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksReportListSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/javascript/storageTasksUpdateSample.js
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/README.md
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/package.json
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/sample.env
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/operationsListSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTaskAssignmentListSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksCreateSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksDeleteSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksGetSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksListByResourceGroupSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksListBySubscriptionSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksPreviewActionsSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksReportListSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/src/storageTasksUpdateSample.ts
  sdk/storageactions/arm-storageactions/samples/v1-beta/typescript/tsconfig.json
  sdk/storageactions/arm-storageactions/src/lroImpl.ts
  sdk/storageactions/arm-storageactions/src/models/index.ts
  sdk/storageactions/arm-storageactions/src/models/mappers.ts
  sdk/storageactions/arm-storageactions/src/models/parameters.ts
  sdk/storageactions/arm-storageactions/src/operations/storageTaskAssignmentOperations.ts
  sdk/storageactions/arm-storageactions/src/operationsInterfaces/storageTaskAssignmentOperations.ts
  sdk/storageactions/arm-storageactions/test/snippets.spec.ts
  sdk/storageactions/arm-storageactions/test/storageactions_operations_test.spec.ts
  sdk/storageactions/arm-storageactions/tsconfig.json
Labels: Mgmt

#33995 refactor: use testWithDeployments in embeddings.spec.ts
  sdk/openai/openai/test/public/embeddings.spec.ts
Labels: OpenAI

#34001 Rewrite test versioning enum. Use tts.spec.ts as example of skipping a version
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/browser/webSocketRealtime.spec.ts
  sdk/openai/openai/test/public/node/assistantsFile.spec.ts
  sdk/openai/openai/test/public/node/batches.spec.ts
  sdk/openai/openai/test/public/node/wsRealtime.spec.ts
  sdk/openai/openai/test/public/tts.spec.ts
  sdk/openai/openai/test/utils/createClients.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#34017 [core] core-rest-pipeline: fix ts-http-runtime dependency version
  sdk/core/core-rest-pipeline/package.json
Labels: Azure.Core

#34018 Regenrating JS SDK to apply fix for breaking change on API Spec
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/assets.json
  sdk/confidentialledger/confidential-ledger-rest/src/generated/confidentialLedger.ts
Labels: ConfidentialLedger

#34021 Updating release version in changelog
  sdk/confidentialledger/confidential-ledger-rest/CHANGELOG.md
  sdk/confidentialledger/confidential-ledger-rest/package.json
  sdk/confidentialledger/confidential-ledger-rest/src/confidentialLedger.ts
  sdk/confidentialledger/confidential-ledger-rest/src/generated/confidentialLedger.ts
Labels: ConfidentialLedger

#34020 Sync eng/common directory with azure-sdk-tools for PR 10432
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#34024 Sync eng/common directory with azure-sdk-tools for PR 10411
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#34046 [EngSys] Migrate to fastify for cache
  common/tools/turborepo-remote-cache/package.json
  common/tools/turborepo-remote-cache/src/auth.ts
  common/tools/turborepo-remote-cache/src/index.ts
  common/tools/turborepo-remote-cache/src/storage.ts
  common/tools/turborepo-remote-cache/src/util/debug.ts
  common/tools/turborepo-remote-cache/src/util/log.ts
  common/tools/turborepo-remote-cache/src/util/logger.ts
  common/tools/turborepo-remote-cache/test/auth.spec.ts
  common/tools/turborepo-remote-cache/test/debug.spec.ts
  common/tools/turborepo-remote-cache/test/logger.spec.ts
  common/tools/turborepo-remote-cache/test/storage.spec.ts
  pnpm-lock.yaml
  sdk/appcontainers/arm-appcontainers/README.md
  sdk/appcontainers/arm-appcontainers/package.json
Labels: EngSys, Mgmt

#34050 Fix api version and remove o3 from most tests
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/public/tts.spec.ts
  sdk/openai/openai/test/utils/createClients.ts
  sdk/openai/openai/test/utils/models.ts
  sdk/openai/openai/test/utils/utils.ts
  sdk/openai/openai/vitest.config.ts
Labels: OpenAI

#34041 [mgmt] redisenterprise regen
  common/config/rush/pnpm-lock.yaml
  sdk/redisenterprise/arm-redisenterprisecache/CHANGELOG.md
  sdk/redisenterprise/arm-redisenterprisecache/README.md
  sdk/redisenterprise/arm-redisenterprisecache/_meta.json
  sdk/redisenterprise/arm-redisenterprisecache/package.json
  sdk/redisenterprise/arm-redisenterprisecache/review/arm-redisenterprisecache.api.md
  sdk/redisenterprise/arm-redisenterprisecache/src/models/index.ts
  sdk/redisenterprise/arm-redisenterprisecache/src/models/mappers.ts
Labels: Mgmt

#34037 [mgmt] Update datafactory samples
  sdk/datafactory/arm-datafactory/package.json
  sdk/datafactory/arm-datafactory/samples-dev/changeDataCaptureCreateOrUpdateSample.ts
  sdk/datafactory/arm-datafactory/samples-dev/credentialOperationsCreateOrUpdateSample.ts
  sdk/datafactory/arm-datafactory/samples/v19/javascript/changeDataCaptureCreateOrUpdateSample.js
  sdk/datafactory/arm-datafactory/samples/v19/javascript/credentialOperationsCreateOrUpdateSample.js
  sdk/datafactory/arm-datafactory/samples/v19/typescript/src/changeDataCaptureCreateOrUpdateSample.ts
  sdk/datafactory/arm-datafactory/samples/v19/typescript/src/credentialOperationsCreateOrUpdateSample.ts
Labels: Mgmt

#34062 Update tsp-location.yaml
  sdk/neonpostgres/arm-neonpostgres/tsp-location.yaml
Labels: Mgmt

#34063 Update tsp-location.yaml
  sdk/workloads/arm-workloadssapvirtualinstance/tsp-location.yaml
Labels: Mgmt

#34055 Disable Assistant o1-mini, and old API tts and vision tests
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/tts.spec.ts
  sdk/openai/openai/test/public/vision.spec.ts
Labels: OpenAI

#34056 Sync eng/common directory with azure-sdk-tools for PR 10461
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#34107 [test-utils] Update to add snippets extraction
  sdk/eventhub/mock-hub/package.json
  sdk/test-utils/perf/package.json
  sdk/test-utils/recorder/package.json
  sdk/test-utils/test-credential/package.json
  sdk/test-utils/test-utils-vitest/package.json
Labels: Event Hubs, test-utils

#34108 [search] Migrate search-documents to use snippets extraction
  sdk/search/search-documents/README.md
  sdk/search/search-documents/package.json
  sdk/search/search-documents/src/odata.ts
  sdk/search/search-documents/src/searchClient.ts
  sdk/search/search-documents/src/searchIndexClient.ts
  sdk/search/search-documents/src/searchIndexerClient.ts
  sdk/search/search-documents/test/snippets.spec.ts
Labels: Search

#33982 [core] core-client-rest: depend on @typespec/ts-http-runtime
  sdk/core/core-client-rest/package.json
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/getClient.ts
  sdk/core/core-client-rest/src/helpers/isBinaryBody.ts
  sdk/core/core-client-rest/src/helpers/isReadableStream-browser.mts
  sdk/core/core-client-rest/src/helpers/isReadableStream.ts
  sdk/core/core-client-rest/src/multipart.ts
  sdk/core/core-client-rest/src/operationOptionHelpers.ts
  sdk/core/core-client-rest/src/restError.ts
  sdk/core/core-client-rest/src/sendRequest.ts
  sdk/core/core-client-rest/src/urlHelpers.ts
  sdk/core/core-client-rest/test/getClient.spec.ts
  sdk/core/core-client-rest/test/multipart.spec.ts
  sdk/core/core-client-rest/test/sendRequest.spec.ts
  sdk/core/core-client-rest/test/urlHelpers.spec.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/client/common.ts
  sdk/core/ts-http-runtime/src/client/getClient.ts
  sdk/core/ts-http-runtime/test/client/getClient.spec.ts
Labels: Azure.Core

#34111 Sync eng/common directory with azure-sdk-tools for PR 10481
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#34000 Update live test job display names
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#34114 [EngSys] Update snippets files
  sdk/apimanagement/arm-apimanagement/README.md
  sdk/carbonoptimization/arm-carbonoptimization/README.md
  sdk/containerregistry/arm-containerregistry/README.md
  sdk/containerservice/arm-containerservice/README.md
  sdk/datafactory/arm-datafactory/README.md
  sdk/dependencymap/arm-dependencymap/README.md
  sdk/elasticsans/arm-elasticsan/README.md
  sdk/iotfirmwaredefense/arm-iotfirmwaredefense/README.md
  sdk/lambdatesthyperexecute/arm-lambdatesthyperexecute/README.md
  sdk/neonpostgres/arm-neonpostgres/README.md
  sdk/netapp/arm-netapp/README.md
  sdk/networkcloud/arm-networkcloud/README.md
  sdk/onlineexperimentation/arm-onlineexperimentation/README.md
  sdk/portalservices/arm-portalservicescopilot/README.md
  sdk/programmableconnectivity/arm-programmableconnectivity/README.md
  sdk/recoveryservicesbackup/arm-recoveryservicesbackup/README.md
  sdk/recoveryservicessiterecovery/arm-recoveryservices-siterecovery/README.md
  sdk/redisenterprise/arm-redisenterprisecache/README.md
  sdk/standbypool/arm-standbypool/README.md
  sdk/storage/arm-storage/README.md
  sdk/storageactions/arm-storageactions/README.md
  sdk/workloads/arm-workloadssapvirtualinstance/README.md
Labels: Mgmt

#34048 [Identity] Fix Managed Identity Test Config
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/identity/identity/integration/AzureFunctions/RunTest/package.json
  sdk/identity/identity/test/integration/azureWebAppsTest.spec.ts
  sdk/identity/identity/test/integration/node/azureKubernetesTest.spec.ts
  sdk/identity/identity/vitest.managed-identity.config.ts
  sdk/identity/test-resources-managed-identity.bicep
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#34025 Convert vision.spec to new testWithDeployments function and more
  sdk/openai/openai/package.json
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/browser/webSocketRealtime.spec.ts
  sdk/openai/openai/test/public/images.spec.ts
  sdk/openai/openai/test/public/tts.spec.ts
  sdk/openai/openai/test/public/vision.spec.ts
  sdk/openai/openai/test/utils/asserts.ts
  sdk/openai/openai/test/utils/models.ts
Labels: OpenAI

#34054 [identity] deprecation warning of user name password usage in env cred
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/environmentCredential.ts
Labels: Azure.Identity

#34117 Sync eng/common directory with azure-sdk-tools for PR 10491
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#34119 Sync eng/common directory with azure-sdk-tools for PR 10500
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#34115 Sync eng/common directory with azure-sdk-tools for PR 10467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#33157 [Identity] Replace thumpbrint algorithm
  sdk/identity/identity/assets.json
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/msal/types.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
Labels: Azure.Identity

#34126 [core] ts-http-runtime: remove unbranded diff report
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/scripts/azure-diff.ts
Labels: Azure.Core

#34128 Sync eng/common directory with azure-sdk-tools for PR 10482
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#34109 turbo-cache-server update
  common/tools/turborepo-remote-cache/Dockerfile
  common/tools/turborepo-remote-cache/src/index.ts
  pnpm-lock.yaml
Labels: EngSys

#34076 Initialize containers publish pipeline
  eng/containers/ci.yml
Labels: Central-EngSys

#34130 Sync eng/common directory with azure-sdk-tools for PR 10470
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#34127 Sync .github/workflows directory with azure-sdk-tools for PR 10483
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#34134 [Identity] Add Thumbprint Property Back
  sdk/identity/identity/src/credentials/clientCertificateCredential.ts
  sdk/identity/identity/src/credentials/onBehalfOfCredential.ts
  sdk/identity/identity/src/msal/types.ts
Labels: Azure.Identity

#34131 [Identity] Update Kubernetes test
  sdk/identity/identity/test/integration/node/azureKubernetesTest.spec.ts
Labels: Azure.Identity

#34006 Update to version 1.2.0 with new API for listing group connections
  sdk/web-pubsub/web-pubsub/CHANGELOG.md
  sdk/web-pubsub/web-pubsub/assets.json
  sdk/web-pubsub/web-pubsub/package.json
  sdk/web-pubsub/web-pubsub/review/web-pubsub.api.md
  sdk/web-pubsub/web-pubsub/src/generated/generatedClient.ts
  sdk/web-pubsub/web-pubsub/src/generated/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/index.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/mappers.ts
  sdk/web-pubsub/web-pubsub/src/generated/models/parameters.ts
  sdk/web-pubsub/web-pubsub/src/generated/operations/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/generated/operationsInterfaces/webPubSub.ts
  sdk/web-pubsub/web-pubsub/src/generated/pagingHelper.ts
  sdk/web-pubsub/web-pubsub/src/groupClient.ts
  sdk/web-pubsub/web-pubsub/src/hubClient.ts
  sdk/web-pubsub/web-pubsub/src/index.ts
  sdk/web-pubsub/web-pubsub/swagger/README.md
  sdk/web-pubsub/web-pubsub/test/public/groups.spec.ts
Labels: WebPubSub

#34135 [openai] Fix websocket tests
  sdk/openai/openai/test/public/browser/webSocketRealtime.spec.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#34151 [core] bump dependency @azure/core-rest-pipeline version to ^1.20.0
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
Labels: Azure.Core
