Repository Azure/azure-sdk-for-js, pull requests merged in 2025-07, with the labels that each got.

#35045 Sync eng/common directory with azure-sdk-tools for PR 11056
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#35021 [Test][core-util] disable file Paralleism
  sdk/core/core-util/vitest.config.ts
Labels: Azure.Core

#34672 [Recorder] Add FAQ
  sdk/test-utils/recorder/README.md
Labels: test-utils

#35061 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#35072 [Identity] Prepare Release for July Patch
  sdk/identity/identity/CHANGELOG.md
Labels: Azure.Identity

#35073 [eventgrid] remove the extraneous space in event name
  sdk/eventgrid/eventgrid-systemevents/review/eventgrid-systemevents.api.md
  sdk/eventgrid/eventgrid-systemevents/src/predicates.ts
  sdk/eventgrid/eventgrid/review/eventgrid.api.md
  sdk/eventgrid/eventgrid/src/predicates.ts
Labels: Event Grid

#35069 [dev-tool] bring back --force option for samples publish command
  common/tools/dev-tool/src/commands/samples/publish.ts
  common/tools/dev-tool/src/util/fileTree.ts
  common/tools/dev-tool/src/util/samples/generation.ts
Labels: dev-tool

#35076 [Identity] Update vitest setup file for broker
  sdk/identity/identity-broker/test/utils/globalSetup.ts
  sdk/identity/identity-broker/vitest.config.ts
Labels: Azure.Identity

#35119 [ServiceBus] prepare for 7.10.0-beta.2 release
  common/config/rush/pnpm-lock.yaml
  sdk/servicebus/service-bus/CHANGELOG.md
  sdk/servicebus/service-bus/package.json
  sdk/servicebus/service-bus/src/util/constants.ts
Labels: Service Bus

#34934 [@azure/cosmos]: Fix Hybrid Search Parameterized queries
  sdk/cosmosdb/cosmos/src/queryExecutionContext/hybridQueryExecutionContext.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/test/internal/unit/hybridExecutionContext.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/fullTextSearch.spec.ts
Labels: Cosmos

#35078 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#35146 [EngSys] upgrade dev dependency tshy to ^3.0.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/healthdataaiservices/arm-healthdataaiservices/package.json
Labels: Mgmt, eslint plugin, dev-tool

#34765 [Cosmos] Enhance partition key extraction logic and update tests for system key
  sdk/cosmosdb/cosmos/src/extractPartitionKey.ts
  sdk/cosmosdb/cosmos/test/public/integration/extractPartitionKey.spec.ts
Labels: Cosmos

#35082 skip tests for signoff pipeline
  sdk/cosmosdb/cosmos/test/public/common/TestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/common/_testConfig.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/container.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/itemIdEncoding.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/sslVerification.spec.ts
Labels: Cosmos

#35176 [core] Update CHANGELOG for releases
  sdk/core/abort-controller/CHANGELOG.md
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/CHANGELOG.md
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/package.json
  sdk/core/core-tracing/CHANGELOG.md
  sdk/core/core-tracing/package.json
  sdk/core/core-util/CHANGELOG.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/logger/CHANGELOG.md
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/CHANGELOG.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/src/constants.ts
Labels: Azure.Core

#35179 [core-xml] Update CHANGELOG for release
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
Labels: Azure.Core

#35162 [Identity] AKS test update
  sdk/identity/identity/integration/AzureKubernetes/Dockerfile
  sdk/identity/identity/integration/AzureKubernetes/package.json
  sdk/identity/identity/integration/AzureKubernetes/src/index.ts
  sdk/identity/identity/integration/AzureKubernetes/tsconfig.json
  sdk/identity/identity/test/integration/azureKubernetesTest.spec.ts
  sdk/identity/identity/test/integration/node/azureKubernetesTest.spec.ts
  sdk/identity/test-resources-managed-identity.bicep
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#35201 [eventgrid-systemevents] add types that are missing from public surface
  sdk/eventgrid/eventgrid-systemevents/CHANGELOG.md
  sdk/eventgrid/eventgrid-systemevents/package.json
  sdk/eventgrid/eventgrid-systemevents/review/eventgrid-systemevents.api.md
  sdk/eventgrid/eventgrid-systemevents/src/index.ts
Labels: Event Grid

#35207 [engsys] bump node version to 20 for leftover occurrence of v18
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-sms/samples/v1-beta/javascript/package.json
  sdk/communication/communication-sms/samples/v1-beta/typescript/package.json
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/javascript/package.json
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/package.json
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration-privatelinkscopes/samples/v1-beta/javascript/package.json
  sdk/kubernetesconfiguration/arm-kubernetesconfiguration-privatelinkscopes/samples/v1-beta/typescript/package.json
  sdk/playwright/arm-playwright/package.json
Labels: Mgmt, Communication - SMS, Health Deidentification

#35196 Fixing Deid tests
  sdk/healthdataaiservices/health-deidentification-rest/README.md
  sdk/healthdataaiservices/health-deidentification-rest/package.json
  sdk/healthdataaiservices/health-deidentification-rest/samples-dev/createJob.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples-dev/helloWorld.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples-dev/listCompletedFiles.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples-dev/listJobs.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/README.md
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/createJob.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/helloWorld.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/listCompletedFiles.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/listJobs.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/package.json
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/javascript/sample.env
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/README.md
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/package.json
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/sample.env
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/src/createJob.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/src/helloWorld.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/src/listCompletedFiles.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/src/listJobs.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1-beta/typescript/tsconfig.json
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/javascript/README.md
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/javascript/createJob.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/javascript/helloWorld.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/javascript/listCompletedFiles.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/javascript/listJobs.js
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/README.md
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/package.json
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/src/createJob.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/src/helloWorld.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/src/listCompletedFiles.ts
  sdk/healthdataaiservices/health-deidentification-rest/samples/v1/typescript/src/listJobs.ts
  sdk/healthdataaiservices/health-deidentification-rest/test-resources-post.ps1
  sdk/healthdataaiservices/health-deidentification-rest/test-resources.bicep
  sdk/healthdataaiservices/health-deidentification-rest/test/public/jobOperationsTest.spec.ts
  sdk/healthdataaiservices/health-deidentification-rest/test/public/realtimeOperationsTest.spec.ts
  sdk/healthdataaiservices/health-deidentification-rest/test/public/utils/recordedClient.ts
  sdk/healthdataaiservices/health-deidentification-rest/test/snippets.spec.ts
Labels: Health Deidentification

#35019 feat(): add activity log for test runs
  sdk/loadtesting/playwright/package.json
  sdk/loadtesting/playwright/src/common/constants.ts
  sdk/loadtesting/playwright/src/common/httpService.ts
  sdk/loadtesting/playwright/src/common/messages.ts
  sdk/loadtesting/playwright/src/common/playwrightServiceConfig.ts
  sdk/loadtesting/playwright/src/common/state.ts
  sdk/loadtesting/playwright/src/common/types.ts
  sdk/loadtesting/playwright/src/core/global/playwright-service-global-setup.ts
  sdk/loadtesting/playwright/src/core/initializePlaywrightServiceTestRun.ts
  sdk/loadtesting/playwright/src/core/playwrightService.ts
  sdk/loadtesting/playwright/src/utils/cIInfoProvider.ts
  sdk/loadtesting/playwright/src/utils/playwrightServiceApicall.ts
  sdk/loadtesting/playwright/src/utils/utils.ts
  sdk/loadtesting/playwright/test/core/global/playwrightServiceGlobalSetup.spec.ts
  sdk/loadtesting/playwright/test/core/initializePlaywrightServiceTestRun.spec.ts
  sdk/loadtesting/playwright/test/core/playwrightService.spec.ts
  sdk/loadtesting/playwright/test/utils/clInfoProvider.spec.ts
  sdk/loadtesting/playwright/test/utils/playwrightServiceApicall.spec.ts
  sdk/loadtesting/playwright/test/utils/utils.spec.ts
Labels: Azure Load Testing

#35238 [openai] Bump API version
  sdk/openai/openai/README.md
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples-dev/batch.ts
  sdk/openai/openai/samples-dev/chatCompletions.ts
  sdk/openai/openai/samples-dev/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples-dev/codeInterpreter.ts
  sdk/openai/openai/samples-dev/completions.ts
  sdk/openai/openai/samples-dev/embeddings.ts
  sdk/openai/openai/samples-dev/images.ts
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/responsesStream.ts
  sdk/openai/openai/samples-dev/responsesStreamingTools.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/textToSpeech.ts
  sdk/openai/openai/samples-dev/toolCall.ts
  sdk/openai/openai/samples/v2-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v2-beta/javascript/batch.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletionsWithStructuredOutput.js
  sdk/openai/openai/samples/v2-beta/javascript/codeInterpreter.js
  sdk/openai/openai/samples/v2-beta/javascript/completions.js
  sdk/openai/openai/samples/v2-beta/javascript/embeddings.js
  sdk/openai/openai/samples/v2-beta/javascript/images.js
  sdk/openai/openai/samples/v2-beta/javascript/onYourData.js
  sdk/openai/openai/samples/v2-beta/javascript/responsesStream.js
  sdk/openai/openai/samples/v2-beta/javascript/responsesStreamingTools.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v2-beta/javascript/streamCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/javascript/toolCall.js
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/batch.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/codeInterpreter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/completions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/embeddings.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/images.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/onYourData.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/responsesStream.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/responsesStreamingTools.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/textToSpeech.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/toolCall.ts
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/node/assistantsFile.spec.ts
  sdk/openai/openai/test/public/node/batches.spec.ts
  sdk/openai/openai/test/snippets.spec.ts
  sdk/openai/openai/test/utils/createClients.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#35213 [Identity] Add broker flow to DAC chain
  sdk/identity/identity-broker/README.md
  sdk/identity/identity-broker/test/snippets.spec.ts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity-browser.api.diff.md
  sdk/identity/identity/src/credentials/brokerCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
  sdk/identity/identity/test/internal/node/brokerCredential.spec.ts
  tsconfig.src.build.json
Labels: Azure.Identity

#35239 Fix short code readme snippet
  sdk/communication/communication-short-codes/README.md
  sdk/communication/communication-short-codes/test/snippets.spec.ts
Labels: Communication - Short Codes

#35150 [Identity] VSCode SSO Support
  common/config/rush/pnpm-lock.yaml
  sdk/identity/identity-vscode/CHANGELOG.md
  sdk/identity/identity-vscode/README.md
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity-vscode/src/index.ts
  sdk/identity/identity-vscode/test/snippets.spec.ts
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/package.json
  sdk/identity/identity/review/identity-browser.api.diff.md
  sdk/identity/identity/review/identity-node.api.md
  sdk/identity/identity/src/constants.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredentialOptions.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredentialPlugin.ts
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
  sdk/identity/identity/src/msal/nodeFlows/msalPlugins.ts
  sdk/identity/identity/src/plugins/consumer.ts
  sdk/identity/identity/src/plugins/provider.ts
  sdk/identity/identity/test/internal/node/msalPlugins.spec.ts
  sdk/identity/identity/test/internal/node/visualStudioCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/extensions.spec.ts
  sdk/identity/identity/test/snippets.spec.ts
Labels: Azure.Identity

#33526 [@azure/batch-rest] Update version to 1.0.0-beta.3
  sdk/batch/batch-rest/CHANGELOG.md
  sdk/batch/batch-rest/eslint.config.mjs
  sdk/batch/batch-rest/generated/batchClient.ts
  sdk/batch/batch-rest/generated/clientDefinitions.ts
  sdk/batch/batch-rest/generated/isUnexpected.ts
  sdk/batch/batch-rest/generated/models.ts
  sdk/batch/batch-rest/generated/outputModels.ts
  sdk/batch/batch-rest/generated/paginateHelper.ts
  sdk/batch/batch-rest/generated/parameters.ts
  sdk/batch/batch-rest/generated/responses.ts
  sdk/batch/batch-rest/metadata.json
  sdk/batch/batch-rest/package.json
  sdk/batch/batch-rest/review/batch-node.api.md
  sdk/batch/batch-rest/src/batchClient.ts
  sdk/batch/batch-rest/src/clientDefinitions.ts
  sdk/batch/batch-rest/src/isUnexpected.ts
  sdk/batch/batch-rest/src/models.ts
  sdk/batch/batch-rest/src/outputModels.ts
  sdk/batch/batch-rest/src/paginateHelper.ts
  sdk/batch/batch-rest/src/parameters.ts
  sdk/batch/batch-rest/src/replacePoolPropertiesPolicy.ts
  sdk/batch/batch-rest/src/responses.ts
  sdk/batch/batch-rest/test/computeNodes.spec.ts
  sdk/batch/batch-rest/test/jobs.spec.ts
  sdk/batch/batch-rest/test/pools.spec.ts
  sdk/batch/batch-rest/test/snippets.spec.ts
  sdk/batch/batch-rest/tsp-location.yaml
Labels: Batch

#34966 [Identity] update dac with additional supported values for AZURE_TOKEN_CREDENTIALS
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredentialFunctions.ts
  sdk/identity/identity/test/internal/node/defaultAzureCredential.spec.ts
Labels: Azure.Identity

#35244 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#35243 [Identity-vscode] release update
  sdk/identity/identity-vscode/CHANGELOG.md
  sdk/identity/identity-vscode/package.json
Labels: Azure.Identity

#35204 PPAF bug fix
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ProtectedDataEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/globalPartitionEndpointManager.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/src/retry/timeoutFailoverRetryPolicy.ts
  sdk/cosmosdb/cosmos/src/utils/time.ts
Labels: Cosmos

#35261 fix(loadtesting): updated correct interface for CIInfo
  sdk/loadtesting/playwright/src/utils/cIInfoProvider.ts
  sdk/loadtesting/playwright/src/utils/utils.ts
  sdk/loadtesting/playwright/test/utils/clInfoProvider.spec.ts
  sdk/loadtesting/playwright/test/utils/utils.spec.ts
Labels: Azure Load Testing

#35240 [engsys] [devtool] tweak api-extractor and runtime diff report to always use unix newlines
  api-extractor-base.json
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool

#34881 Sofiar/beta mobile
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/assets.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers-node.api.md
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-phone-numbers/test/public/areaCodes.spec.ts
  sdk/communication/communication-phone-numbers/test/public/localities.spec.ts
  sdk/communication/communication-phone-numbers/test/public/reservations.spec.ts
  sdk/communication/communication-phone-numbers/test/snippets.spec.ts
Labels: Communication - Phone Numbers

#35245 [openai] Upgrade openai dep
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/package.json
  sdk/openai/openai/samples-dev/batch.ts
  sdk/openai/openai/samples-dev/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples-dev/images.ts
  sdk/openai/openai/samples-dev/textToSpeech.ts
  sdk/openai/openai/samples/v2-beta/javascript/batch.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletionsWithStructuredOutput.js
  sdk/openai/openai/samples/v2-beta/javascript/images.js
  sdk/openai/openai/samples/v2-beta/javascript/package.json
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/typescript/package.json
  sdk/openai/openai/samples/v2-beta/typescript/src/batch.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/images.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/textToSpeech.ts
  sdk/openai/openai/test/public/abortsignal.spec.ts
  sdk/openai/openai/test/public/assistants.spec.ts
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/public/node/assistantsFile.spec.ts
  sdk/openai/openai/test/public/node/batches.spec.ts
  sdk/openai/openai/test/utils/asserts.ts
  sdk/openai/openai/test/utils/types.ts
Labels: OpenAI

#35280 use tsconfig.src.build.json in select libs
  sdk/agricultureplatform/arm-agricultureplatform/package.json
  sdk/agricultureplatform/arm-agricultureplatform/src/static-helpers/urlTemplate.ts
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/tsconfig.src.build.json
  sdk/core/core-amqp/package.json
  sdk/core/core-sse/package.json
  sdk/core/core-sse/review/core-sse-node.api.md
  sdk/core/core-sse/src/models.ts
  tsconfig.src.build.json
Labels: Mgmt, Azure.Core

#35267 [api extractor] Use runtime-specific tsconfig
  api-extractor-base.json
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool

#35248 [storage]Correct interface
  sdk/storage/storage-blob/review/storage-blob-browser.api.diff.md
  sdk/storage/storage-blob/review/storage-blob-node.api.md
  sdk/storage/storage-blob/src/index-browser.mts
  sdk/storage/storage-blob/src/index.ts
  sdk/storage/storage-file-datalake/src/Pipeline.ts
  sdk/storage/storage-file-share/review/storage-file-share-browser.api.diff.md
  sdk/storage/storage-file-share/review/storage-file-share-node.api.md
  sdk/storage/storage-file-share/src/Clients.ts
Labels: Storage

#35290 [Storage]Bump version for STG98 GA
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-common/CHANGELOG.md
  sdk/storage/storage-common/package.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#35301 Update release date
  sdk/communication/communication-phone-numbers/CHANGELOG.md
Labels: Communication - Phone Numbers

#35287 Fix serialization issue
  sdk/communication/communication-phone-numbers/assets.json
  sdk/communication/communication-phone-numbers/test/public/reservations.spec.ts
  sdk/communication/communication-phone-numbers/test/public/utils/operationLocationFixPolicy.ts
  sdk/communication/communication-phone-numbers/test/public/utils/recordedClient.ts
  sdk/communication/communication-phone-numbers/test/public/utils/testPhoneNumber.ts
Labels: Communication - Phone Numbers

#35190 [mgmt] carbonoptimization release
  sdk/carbonoptimization/arm-carbonoptimization/CHANGELOG.md
  sdk/carbonoptimization/arm-carbonoptimization/README.md
  sdk/carbonoptimization/arm-carbonoptimization/api-extractor.json
  sdk/carbonoptimization/arm-carbonoptimization/assets.json
  sdk/carbonoptimization/arm-carbonoptimization/metadata.json
  sdk/carbonoptimization/arm-carbonoptimization/package.json
  sdk/carbonoptimization/arm-carbonoptimization/review/arm-carbonoptimization-models-node.api.md
  sdk/carbonoptimization/arm-carbonoptimization/review/arm-carbonoptimization-node.api.md
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/javascript/README.md
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/javascript/carbonServiceQueryCarbonEmissionDataAvailableDateRangeSample.js
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/javascript/carbonServiceQueryCarbonEmissionReportsSample.js
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/javascript/operationsListSample.js
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/javascript/package.json
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/javascript/sample.env
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/README.md
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/package.json
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/sample.env
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/src/carbonServiceQueryCarbonEmissionDataAvailableDateRangeSample.ts
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/src/carbonServiceQueryCarbonEmissionReportsSample.ts
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/src/operationsListSample.ts
  sdk/carbonoptimization/arm-carbonoptimization/samples/v1/typescript/tsconfig.json
  sdk/carbonoptimization/arm-carbonoptimization/src/api/carbonOptimizationManagementContext.ts
  sdk/carbonoptimization/arm-carbonoptimization/src/models/models.ts
  sdk/carbonoptimization/arm-carbonoptimization/tsp-location.yaml
  sdk/carbonoptimization/arm-carbonoptimization/vitest.browser.config.ts
  sdk/carbonoptimization/arm-carbonoptimization/vitest.config.ts
  sdk/carbonoptimization/arm-carbonoptimization/vitest.esm.config.ts
Labels: Mgmt

#35331 Post release automated changes for storage releases
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-common/CHANGELOG.md
  sdk/storage/storage-common/package.json
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#35348 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#35371 Install azsdk mcp server in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Labels: Central-EngSys

#35297 chore(playwrighttesting): by default reporting is false
  sdk/playwrighttesting/create-microsoft-playwright-testing/src/initialize.ts
Labels: Microsoft Playwright Testing

#35380 fix(loadtesting): GUID validation for RunID
  sdk/loadtesting/playwright/src/common/messages.ts
  sdk/loadtesting/playwright/src/common/playwrightServiceConfig.ts
  sdk/loadtesting/playwright/src/utils/utils.ts
  sdk/loadtesting/playwright/test/common/playwrightServiceConfig.spec.ts
  sdk/loadtesting/playwright/test/utils/utils.spec.ts
Labels: Azure Load Testing

#35384 Sync eng/common directory with azure-sdk-tools for PR 11365
  eng/common/pipelines/templates/jobs/npm-publish.yml
Labels: EngSys, Central-EngSys

#34882 Update read me files for create ledger entry with tags
  sdk/confidentialledger/confidential-ledger-rest/README.md
  sdk/confidentialledger/confidential-ledger-rest/test/snippets.spec.ts
Labels: ConfidentialLedger

#35391 fix(loadtesting): Invalid param handling with service config
  sdk/loadtesting/playwright/review/playwright-node.api.md
  sdk/loadtesting/playwright/src/common/constants.ts
  sdk/loadtesting/playwright/src/common/messages.ts
  sdk/loadtesting/playwright/src/common/playwrightServiceConfig.ts
  sdk/loadtesting/playwright/src/core/playwrightService.ts
  sdk/loadtesting/playwright/test/core/playwrightService.spec.ts
Labels: Azure Load Testing

#35406 [identity] Avoid waiting for app to close
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/msal/nodeFlows/msalClient.ts
Labels: Azure.Identity

#35407 [identity] Skip IBC sample execution
  sdk/identity/identity/package.json
Labels: Azure.Identity

#34754 GA6 Changes
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/README.md
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_and_get_call_properties.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Add_a_participant_cancels_add_participant_request.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_List_all_participants.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Mute_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallConnection_Live_Tests_Remove_a_participant.json
  sdk/communication/communication-call-automation/recordings/CallRecording_Live_Tests_Creates_a_call,_start_recording,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/CallRecording_Live_Tests_Creates_a_call,_start_recording_with_call_connection_id,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Create_a_call_and_hangup.json
  sdk/communication/communication-call-automation/recordings/Call_Automation_Main_Client_Live_Tests_Reject_call.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Answers_a_call,_start_media_streaming,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Answers_a_call,_start_transcription,_and_hangs_up.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Cancel_all_media_operations.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Creates_a_call,_start_media_streaming,_and_hangs_up..json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Hold_Unhold_participant_in_a_call.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_all_participants.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_audio_to_target_participant.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_combined_text_and_file_sources_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_combined_text_and_file_sources_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_file_sources_with_play_and_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_text_sources_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_multiple_text_sources_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_wrong_source_with_play.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Play_wrong_source_with_playall.json
  sdk/communication/communication-call-automation/recordings/Call_Media_Client_Live_Tests_Trigger_DTMF_actions.json
  sdk/communication/communication-call-automation/review/communication-call-automation-node.api.md
  sdk/communication/communication-call-automation/src/callAutomationClient.ts
  sdk/communication/communication-call-automation/src/callAutomationEventParser.ts
  sdk/communication/communication-call-automation/src/callConnection.ts
  sdk/communication/communication-call-automation/src/callMedia.ts
  sdk/communication/communication-call-automation/src/callRecording.ts
  sdk/communication/communication-call-automation/src/generated/src/callAutomationApiClient.ts
  sdk/communication/communication-call-automation/src/generated/src/models/index.ts
  sdk/communication/communication-call-automation/src/generated/src/models/mappers.ts
  sdk/communication/communication-call-automation/src/generated/src/models/parameters.ts
  sdk/communication/communication-call-automation/src/generated/src/operations/callRecording.ts
  sdk/communication/communication-call-automation/src/models/constants.ts
  sdk/communication/communication-call-automation/src/models/events.ts
  sdk/communication/communication-call-automation/src/models/models.ts
  sdk/communication/communication-call-automation/src/models/options.ts
  sdk/communication/communication-call-automation/src/utli/converters.ts
  sdk/communication/communication-call-automation/swagger/README.md
  sdk/communication/communication-call-automation/test/node/callConnection.spec.ts
  sdk/communication/communication-call-automation/test/node/callRecordingClient.spec.ts
Labels: Communication - Call Automation

#35349 [identity] Improve the testing framework
  common/tools/dev-tool/src/commands/admin/migrate-tests.ts
  common/tools/dev-tool/src/commands/run/build-test.ts
  eng/pipelines/run-for-all-packages.yml
  sdk/identity/identity/package.json
  sdk/identity/identity/test/authTestUtils.ts
  sdk/identity/identity/test/httpRequestsCommon.ts
  sdk/identity/identity/test/internal/logger.spec.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azureDeveloperCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePipelinesCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
  sdk/identity/identity/test/internal/node/brokerCredential.spec.ts
  sdk/identity/identity/test/internal/node/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientAssertionCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/internal/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/internal/node/defaultAzureCredential.spec.ts
  sdk/identity/identity/test/internal/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/environmentCredential.spec.ts
  sdk/identity/identity/test/internal/node/httpRequests.ts
  sdk/identity/identity/test/internal/node/identityClient.spec.ts
  sdk/identity/identity/test/internal/node/interactiveBrowserCredential.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/imdsRetryPolicy.spec.ts
  sdk/identity/identity/test/internal/node/managedIdentityCredential/msalMsiProvider.spec.ts
  sdk/identity/identity/test/internal/node/msalClient.spec.ts
  sdk/identity/identity/test/internal/node/msalPlugins.spec.ts
  sdk/identity/identity/test/internal/node/onBehalfOfCredential.spec.ts
  sdk/identity/identity/test/internal/node/regionalAuthority.spec.ts
  sdk/identity/identity/test/internal/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/internal/node/utils.spec.ts
  sdk/identity/identity/test/internal/node/visualStudioCodeCredential.spec.ts
  sdk/identity/identity/test/internal/node/workloadIdentityCredential.spec.ts
  sdk/identity/identity/test/internal/tenantIdUtils.spec.ts
  sdk/identity/identity/test/internal/utils.spec.ts
  sdk/identity/identity/test/msalTestUtils.ts
  sdk/identity/identity/test/public/browser/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/browser/httpRequests.ts
  sdk/identity/identity/test/public/browser/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/public/chainedTokenCredential.spec.ts
  sdk/identity/identity/test/public/errors.spec.ts
  sdk/identity/identity/test/public/node/authorityValidation.spec.ts
  sdk/identity/identity/test/public/node/azurePipelinesCredential.spec.ts
  sdk/identity/identity/test/public/node/caeARM.spec.ts
  sdk/identity/identity/test/public/node/clientCertificateCredential.spec.ts
  sdk/identity/identity/test/public/node/clientSecretCredential.spec.ts
  sdk/identity/identity/test/public/node/deviceCodeCredential.spec.ts
  sdk/identity/identity/test/public/node/environmentCredential.spec.ts
  sdk/identity/identity/test/public/node/extensions.spec.ts
  sdk/identity/identity/test/public/node/multiTenantAuthentication.spec.ts
  sdk/identity/identity/test/public/node/tokenProvider.spec.ts
  sdk/identity/identity/test/public/node/usernamePasswordCredential.spec.ts
  sdk/identity/identity/test/public/node/workloadIdentityCredential.spec.ts
  sdk/identity/identity/tsconfig.browser.config.json
  sdk/identity/identity/tsconfig.test.json
  sdk/identity/identity/tsconfig.test.node.json
  sdk/identity/identity/vitest.browser.config.ts
  sdk/identity/identity/vitest.config.ts
  sdk/identity/identity/vitest.esm.config.ts
  vitest.shared.config.ts
Labels: Azure.Identity, dev-tool
