Repository Azure/azure-sdk-for-js, pull requests merged in 2025-08, with the labels that each got.

#35432 [EngSys] pin typescript version to v5.8 temporarily
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  sdk/agricultureplatform/arm-agricultureplatform/package.json
  sdk/databasewatcher/arm-databasewatcher/package.json
  sdk/deviceregistry/arm-deviceregistry/package.json
  sdk/eventhub/arm-eventhub/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/package.json
  sdk/hybridkubernetes/arm-hybridkubernetes/package.json
  sdk/impactreporting/arm-impactreporting/package.json
  sdk/kusto/arm-kusto/package.json
  sdk/nginx/arm-nginx/package.json
  sdk/pineconevectordb/arm-pineconevectordb/package.json
  sdk/policy/arm-policy/package.json
  sdk/policyinsights/arm-policyinsights/package.json
  sdk/quota/arm-quota/package.json
  sdk/redis/arm-rediscache/package.json
  sdk/storage/storage-common/package.json
Labels: Mgmt, Storage

#35427 fix(loadtesting): updated error handling for runID guid validation
  sdk/loadtesting/playwright/src/utils/utils.ts
  sdk/loadtesting/playwright/test/core/playwrightService.spec.ts
  sdk/loadtesting/playwright/test/utils/utils.spec.ts
Labels: Azure Load Testing

#35438 docs(loadtesting): updated link
  sdk/loadtesting/create-playwright/README.md
  sdk/loadtesting/playwright/README.md
Labels: Azure Load Testing

#35444 [Identity] August release
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#35445 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#35430 [dev-tool] Support listed dependencies in the API view
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool

#35422 [mgmt] refresh hybridconnectivity
  sdk/hybridconnectivity/arm-hybridconnectivity/CHANGELOG.md
  sdk/hybridconnectivity/arm-hybridconnectivity/README.md
  sdk/hybridconnectivity/arm-hybridconnectivity/api-extractor.json
  sdk/hybridconnectivity/arm-hybridconnectivity/assets.json
  sdk/hybridconnectivity/arm-hybridconnectivity/metadata.json
  sdk/hybridconnectivity/arm-hybridconnectivity/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/review/arm-hybridconnectivity-api-generateAwsTemplate-node.api.md
  sdk/hybridconnectivity/arm-hybridconnectivity/review/arm-hybridconnectivity-api-node.api.md
  sdk/hybridconnectivity/arm-hybridconnectivity/review/arm-hybridconnectivity-models-node.api.md
  sdk/hybridconnectivity/arm-hybridconnectivity/review/arm-hybridconnectivity-node.api.md
  sdk/hybridconnectivity/arm-hybridconnectivity/samples-dev/endpointsCreateOrUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples-dev/endpointsListManagedProxyDetailsSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples-dev/endpointsUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples-dev/serviceConfigurationsCreateOrupdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples-dev/serviceConfigurationsUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/javascript/endpointsCreateOrUpdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/javascript/endpointsListManagedProxyDetailsSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/javascript/endpointsUpdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/javascript/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/javascript/serviceConfigurationsCreateOrupdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/javascript/serviceConfigurationsUpdateSample.js
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/package.json
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/src/endpointsCreateOrUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/src/endpointsListCredentialsSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/src/endpointsListManagedProxyDetailsSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/src/endpointsUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/src/serviceConfigurationsCreateOrupdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/samples/v2-beta/typescript/src/serviceConfigurationsUpdateSample.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/endpoints/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/generateAwsTemplate/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/hybridConnectivityManagementAPIContext.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/inventory/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/operations/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/publicCloudConnectors/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/serviceConfigurations/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/solutionConfigurations/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/api/solutionTypes/operations.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/endpoints/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/generateAwsTemplate/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/inventory/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/operations/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/publicCloudConnectors/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/serviceConfigurations/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/solutionConfigurations/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/classic/solutionTypes/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/hybridConnectivityManagementAPI.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/models/index.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/models/models.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/restorePollerHelpers.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/static-helpers/cloudSettingHelpers.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/static-helpers/serialization/serialize-record.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/static-helpers/urlTemplate.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/test/public/hybridconnectivity_operations_test.spec.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/test/snippets.spec.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/tsp-location.yaml
  sdk/hybridconnectivity/arm-hybridconnectivity/vitest.browser.config.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/vitest.config.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/vitest.esm.config.ts
Labels: Mgmt

#35449 Post release automated changes for identity releases
  sdk/identity/identity-vscode/CHANGELOG.md
  sdk/identity/identity-vscode/package.json
Labels: Azure.Identity

#35469 [Identity] Hot fix change
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/util/processUtils.ts
Labels: Azure.Identity

#35471 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#35470 Sync eng/common directory with azure-sdk-tools for PR 10749
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#35225 docs(loadtesting): 1.0.0-beta..2 release changes for @azure/playwrigh…
  sdk/loadtesting/create-playwright/CHANGELOG.md
  sdk/loadtesting/playwright/CHANGELOG.md
Labels: Azure Load Testing

#35473 Sync eng/common directory with azure-sdk-tools for PR 11531
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#35433 [dev-tool] Add TypeSpec migration report
  common/tools/dev-tool/src/commands/admin/list/index.ts
  common/tools/dev-tool/src/commands/admin/list/typespec-migrations.ts
Labels: dev-tool

#35488 Sync eng/common directory with azure-sdk-tools for PR 11547
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#35489 [eslint] No imports from src in tests
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-no-invalid-test-imports.md
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-no-invalid-test-imports.ts
  common/tools/eslint-plugin-azure-sdk/tests/fixture/src/client.ts
  common/tools/eslint-plugin-azure-sdk/tests/fixture/tsconfig.json
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  common/tools/eslint-plugin-azure-sdk/tests/rules/ts-no-invalid-test-imports.ts
  sdk/identity/identity/eslint.config.mjs
  sdk/identity/identity/test/integration/azureVMUserAssignedTest.spec.ts
Labels: Azure.Identity, eslint plugin

#35504 [EngSys] fix formatting for some management packages
  sdk/agricultureplatform/arm-agricultureplatform/src/static-helpers/urlTemplate.ts
  sdk/ai/ai-agents/src/static-helpers/urlTemplate.ts
  sdk/ai/ai-projects/src/static-helpers/urlTemplate.ts
  sdk/avs/arm-avs/src/static-helpers/urlTemplate.ts
  sdk/carbonoptimization/arm-carbonoptimization/src/static-helpers/urlTemplate.ts
  sdk/chaos/arm-chaos/src/static-helpers/urlTemplate.ts
  sdk/cloudhealth/arm-cloudhealth/src/static-helpers/urlTemplate.ts
  sdk/computeschedule/arm-computeschedule/src/static-helpers/urlTemplate.ts
  sdk/containerservice/arm-containerservicefleet/src/static-helpers/urlTemplate.ts
  sdk/dashboard/arm-dashboard/src/static-helpers/urlTemplate.ts
  sdk/dell/arm-dell-storage/src/static-helpers/urlTemplate.ts
  sdk/dependencymap/arm-dependencymap/src/static-helpers/urlTemplate.ts
  sdk/durabletask/arm-durabletask/src/static-helpers/urlTemplate.ts
  sdk/hardwaresecuritymodules/arm-hardwaresecuritymodules/src/static-helpers/urlTemplate.ts
  sdk/hybridconnectivity/arm-hybridconnectivity/src/static-helpers/urlTemplate.ts
  sdk/iotfirmwaredefense/arm-iotfirmwaredefense/src/static-helpers/urlTemplate.ts
  sdk/liftrarize/arm-arizeaiobservabilityeval/src/static-helpers/urlTemplate.ts
  sdk/liftrweightsandbiases/arm-weightsandbiases/src/static-helpers/urlTemplate.ts
  sdk/mongocluster/arm-mongocluster/src/static-helpers/urlTemplate.ts
  sdk/mongodbatlas/arm-mongodbatlas/src/static-helpers/urlTemplate.ts
  sdk/neonpostgres/arm-neonpostgres/src/static-helpers/urlTemplate.ts
  sdk/onlineexperimentation/arm-onlineexperimentation/src/static-helpers/urlTemplate.ts
  sdk/oracledatabase/arm-oracledatabase/src/static-helpers/urlTemplate.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/static-helpers/urlTemplate.ts
  sdk/planetarycomputer/arm-planetarycomputer/src/static-helpers/urlTemplate.ts
  sdk/playwright/arm-playwright/src/static-helpers/urlTemplate.ts
  sdk/portalservices/arm-portalservicescopilot/src/static-helpers/urlTemplate.ts
  sdk/programmableconnectivity/arm-programmableconnectivity/src/static-helpers/urlTemplate.ts
  sdk/purestorageblock/arm-purestorageblock/src/static-helpers/urlTemplate.ts
  sdk/recoveryservicesdatareplication/arm-recoveryservicesdatareplication/src/static-helpers/urlTemplate.ts
  sdk/resources/arm-resourcesbicep/src/static-helpers/urlTemplate.ts
  sdk/servicefabricmanagedclusters/arm-servicefabricmanagedclusters/src/static-helpers/urlTemplate.ts
  sdk/servicenetworking/arm-servicenetworking/src/static-helpers/urlTemplate.ts
  sdk/sitemanager/arm-sitemanager/src/static-helpers/urlTemplate.ts
  sdk/standbypool/arm-standbypool/src/static-helpers/urlTemplate.ts
  sdk/storageactions/arm-storageactions/src/static-helpers/urlTemplate.ts
  sdk/storagediscovery/arm-storagediscovery/src/static-helpers/urlTemplate.ts
  sdk/workloads/arm-workloadssapvirtualinstance/src/static-helpers/urlTemplate.ts
Labels: Mgmt

#35517 Delete unused mermaidjs assets
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/identity/images/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#35518 Update DAC docs
  sdk/identity/identity/src/credentials/brokerCredential.ts
  sdk/identity/identity/src/credentials/defaultAzureCredential.ts
Labels: Azure.Identity

#35443 Sync eng/common directory with azure-sdk-tools for PR 11330
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
Labels: EngSys, Central-EngSys

#35527 [ts-http-runtime] Simplify type
  sdk/core/ts-http-runtime/src/util/concat.common.ts
Labels: Azure.Core

#35553 [playwright][lint] Ensure __dirname is used correctly
  common/tools/eslint-plugin-azure-sdk/README.md
  common/tools/eslint-plugin-azure-sdk/docs/rules/ts-use-cjs-polyfill.md
  common/tools/eslint-plugin-azure-sdk/src/configs/azure-sdk-customized.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/index.ts
  common/tools/eslint-plugin-azure-sdk/src/rules/ts-use-cjs-polyfill.ts
  common/tools/eslint-plugin-azure-sdk/tests/plugin.ts
  sdk/loadtesting/playwright/CHANGELOG.md
  sdk/loadtesting/playwright/src/core/playwrightService.ts
  sdk/loadtesting/playwright/src/core/playwrightServiceUtils-cjs.cts
  sdk/loadtesting/playwright/src/core/playwrightServiceUtils.ts
  sdk/loadtesting/playwright/src/utils/getPackageVersion-cjs.cts
  sdk/loadtesting/playwright/src/utils/getPackageVersion.ts
  sdk/loadtesting/playwright/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/eslint.config.mjs
Labels: eslint plugin, Azure Load Testing

#35570 Update leftover tsconfig.browser.config.json files
  sdk/analysisservices/arm-analysisservices/tsconfig.browser.config.json
  sdk/appcomplianceautomation/arm-appcomplianceautomation/tsconfig.browser.config.json
  sdk/appservice/arm-appservice-profile-2020-09-01-hybrid/tsconfig.browser.config.json
  sdk/astro/arm-astro/tsconfig.browser.config.json
  sdk/attestation/arm-attestation/tsconfig.browser.config.json
  sdk/authorization/arm-authorization-profile-2020-09-01-hybrid/tsconfig.browser.config.json
  sdk/authorization/arm-authorization/tsconfig.browser.config.json
  sdk/automanage/arm-automanage/tsconfig.browser.config.json
  sdk/automation/arm-automation/tsconfig.browser.config.json
  sdk/azureadexternalidentities/arm-azureadexternalidentities/tsconfig.browser.config.json
  sdk/azurestack/arm-azurestack/tsconfig.browser.config.json
  sdk/azurestackhci/arm-azurestackhci/tsconfig.browser.config.json
  sdk/baremetalinfrastructure/arm-baremetalinfrastructure/tsconfig.browser.config.json
  sdk/batch/arm-batch/tsconfig.browser.config.json
  sdk/billing/arm-billing/tsconfig.browser.config.json
  sdk/billingbenefits/arm-billingbenefits/tsconfig.browser.config.json
  sdk/botservice/arm-botservice/tsconfig.browser.config.json
  sdk/cdn/arm-cdn/tsconfig.browser.config.json
  sdk/changeanalysis/arm-changeanalysis/tsconfig.browser.config.json
  sdk/changes/arm-changes/tsconfig.browser.config.json
  sdk/commerce/arm-commerce-profile-2020-09-01-hybrid/tsconfig.browser.config.json
  sdk/commerce/arm-commerce/tsconfig.browser.config.json
  sdk/communication/arm-communication/tsconfig.browser.config.json
  sdk/compute/arm-compute-profile-2020-09-01-hybrid/tsconfig.browser.config.json
  sdk/confluent/arm-confluent/tsconfig.browser.config.json
  sdk/consumption/arm-consumption/tsconfig.browser.config.json
Labels: Mgmt

#35612 Standardize leftover tsconfig.browser.config.json
  sdk/appservice/arm-appservice-rest/tsconfig.browser.config.json
  sdk/connectedvmware/arm-connectedvmware/tsconfig.browser.config.json
  sdk/search/search-documents/tsconfig.browser.config.json
Labels: Mgmt, Search

#35613 Sync eng/common directory with azure-sdk-tools for PR 11726
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Labels: EngSys, Central-EngSys

#35595 [EngSys] move some vendored tool to global dev dependencies
  package.json
  pnpm-lock.yaml
  sdk/core/abort-controller/package.json
  sdk/core/core-amqp/package.json
  sdk/core/core-auth/package.json
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/package.json
  sdk/core/core-http-compat/package.json
  sdk/core/core-lro/package.json
  sdk/core/core-lro/samples/v3/javascript/README.md
  sdk/core/core-lro/samples/v3/typescript/README.md
  sdk/core/core-paging/package.json
  sdk/core/core-paging/samples/v1/javascript/README.md
  sdk/core/core-paging/samples/v1/typescript/README.md
  sdk/core/core-rest-pipeline-perf-tests/package.json
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/samples/v1/javascript/README.md
  sdk/core/core-rest-pipeline/samples/v1/typescript/README.md
  sdk/core/core-sse/package.json
  sdk/core/core-sse/samples/v1/javascript/README.md
  sdk/core/core-sse/samples/v1/typescript/README.md
  sdk/core/core-sse/samples/v2/javascript/README.md
  sdk/core/core-sse/samples/v2/typescript/README.md
  sdk/core/core-tracing/package.json
  sdk/core/core-tracing/samples/v1/javascript/README.md
  sdk/core/core-tracing/samples/v1/typescript/README.md
  sdk/core/core-util/package.json
  sdk/core/core-xml/package.json
  sdk/core/logger/package.json
  sdk/core/ts-http-runtime/package.json
Labels: Azure.Core

#35621 Remove redundant "prebuild" scripts
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/containerregistry/container-registry-perf-tests/package.json
Labels: Container Registry, eslint plugin

#35643 Sync eng/common directory with azure-sdk-tools for PR 11745
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#35442 [health-deid] remove unused and unnecessary dev dependency "loupe"
  sdk/healthdataaiservices/health-deidentification-rest/package.json
Labels: Health Deidentification

#35534 fix(loadtesting): Ensure getconnect honors serviceAuthType
  sdk/loadtesting/playwright/src/common/messages.ts
  sdk/loadtesting/playwright/src/common/playwrightServiceConfig.ts
  sdk/loadtesting/playwright/src/core/playwrightService.ts
  sdk/loadtesting/playwright/src/utils/utils.ts
  sdk/loadtesting/playwright/test/core/playwrightService.spec.ts
  sdk/loadtesting/playwright/test/utils/utils.spec.ts
Labels: Azure Load Testing

#35663 [node tests] Fix precise type errors
  pnpm-lock.yaml
  sdk/apimanagement/api-management-custom-widgets-tools/src/utils.ts
  sdk/communication/communication-call-automation/test/streamingData.spec.ts
  sdk/containerregistry/container-registry/test/utils/utils.ts
  sdk/core/core-amqp/src/ConnectionContextBase.ts
  sdk/core/core-amqp/src/errors.ts
  sdk/core/core-amqp/src/util/hmacSha256.common.ts
  sdk/core/core-amqp/src/util/utils.ts
  sdk/cosmosdb/cosmos/test/internal/unit/timeoutFailoverRetryPolicy.spec.ts
  sdk/eventhub/eventhubs-checkpointstore-blob/test/util/chai.ts
  sdk/notificationhubs/notification-hubs/src/auth/hmacSha256.common.ts
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/servicebus/service-bus/test/public/utils/chai.ts
  sdk/storage/storage-blob-changefeed/package.json
  sdk/storage/storage-blob-changefeed/test/utils/testutils.common.ts
  sdk/storage/storage-blob/src/Clients.ts
  sdk/storage/storage-blob/test/blobclient.spec.ts
  sdk/storage/storage-blob/test/node/appendblobclient.spec.ts
  sdk/storage/storage-blob/test/utils/testutils.common.ts
  sdk/storage/storage-file-datalake/test/serviceclient.spec.ts
  sdk/storage/storage-file-datalake/test/utils/testutils.common.ts
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-queue/test/messageidclient.spec.ts
  sdk/storage/storage-queue/test/queueserviceclient.spec.ts
  sdk/storage/storage-queue/test/utils/testutils.common.ts
  sdk/test-utils/test-utils-vitest/CHANGELOG.md
  sdk/test-utils/test-utils-vitest/README.md
  sdk/test-utils/test-utils-vitest/package.json
  sdk/test-utils/test-utils-vitest/src/index.ts
  sdk/test-utils/test-utils-vitest/src/xhrHttpClient.ts
  sdk/web-pubsub/web-pubsub-client-protobuf/src/webPubSubProtobufProtocolBase.ts
  sdk/web-pubsub/web-pubsub-express/src/cloudEventsDispatcher.ts
  sdk/web-pubsub/web-pubsub-express/test/user.spec.ts
Labels: Service Bus, Event Hubs, Storage, Cosmos, Azure.Core, Container Registry, WebPubSub, test-utils, OpenAI, Communication - Call Automation

#35673 Sync eng/common directory with azure-sdk-tools for PR 11801
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#35675 Sync eng/common directory with azure-sdk-tools for PR 11807
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Labels: EngSys, Central-EngSys

#35683 [identity] Mac OS Broker support
  pnpm-lock.yaml
  sdk/identity/identity-broker/CHANGELOG.md
  sdk/identity/identity-broker/package.json
  sdk/identity/identity-cache-persistence/package.json
  sdk/identity/identity-vscode/CHANGELOG.md
  sdk/identity/identity-vscode/package.json
  sdk/identity/identity/TROUBLESHOOTING.md
Labels: Azure.Identity

#35493 [Identity] Add ARM claims challenge error message
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/src/credentials/azureCliCredential.ts
  sdk/identity/identity/src/credentials/azureDeveloperCliCredential.ts
  sdk/identity/identity/src/credentials/azurePowerShellCredential.ts
  sdk/identity/identity/test/internal/node/azureCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azureDeveloperCliCredential.spec.ts
  sdk/identity/identity/test/internal/node/azurePowerShellCredential.spec.ts
Labels: Azure.Identity

#35685 Updating the release date for the ga6
  sdk/communication/communication-call-automation/CHANGELOG.md
  sdk/communication/communication-call-automation/package.json
  sdk/communication/communication-call-automation/src/generated/src/callAutomationApiClient.ts
  sdk/communication/communication-call-automation/swagger/README.md
Labels: Communication - Call Automation

#34247 [ts-http-runtime] Avoid regex for matching log level
  sdk/core/ts-http-runtime/src/logger/debug.ts
  sdk/core/ts-http-runtime/test/logger/debug.spec.ts
Labels: Client, Azure.Core

#35588 Release/azure communication phone numbers 1.5.0
  sdk/communication/communication-call-automation/assets.json
  sdk/communication/communication-phone-numbers/CHANGELOG.md
  sdk/communication/communication-phone-numbers/README.md
  sdk/communication/communication-phone-numbers/assets.json
  sdk/communication/communication-phone-numbers/package.json
  sdk/communication/communication-phone-numbers/review/communication-phone-numbers-node.api.md
  sdk/communication/communication-phone-numbers/src/generated/src/models/index.ts
  sdk/communication/communication-phone-numbers/src/generated/src/models/parameters.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operations/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/operationsInterfaces/phoneNumbers.ts
  sdk/communication/communication-phone-numbers/src/generated/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/generated/src/siprouting/sipRoutingClientContext.ts
  sdk/communication/communication-phone-numbers/src/generated/src/tracing.ts
  sdk/communication/communication-phone-numbers/src/models.ts
  sdk/communication/communication-phone-numbers/src/phoneNumbersClient.ts
  sdk/communication/communication-phone-numbers/src/utils/constants.ts
  sdk/communication/communication-phone-numbers/swagger/README-SipRouting.md
  sdk/communication/communication-phone-numbers/swagger/README.md
  sdk/communication/communication-phone-numbers/test/public/areaCodes.spec.ts
  sdk/communication/communication-phone-numbers/test/public/localities.spec.ts
  sdk/communication/communication-phone-numbers/test/public/reservation-purchase.spec.ts
  sdk/communication/communication-phone-numbers/test/public/reservations.spec.ts
  sdk/communication/communication-phone-numbers/test/snippets.spec.ts
Labels: Communication - Phone Numbers

#35765 Sync eng/common directory with azure-sdk-tools for PR 11840
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Labels: EngSys, Central-EngSys

#35786 Add VS Code credential to README table
  sdk/identity/identity/README.md
Labels: Azure.Identity

#35773 [EngSys] upgrade several dev dependencies
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/vite-plugin-browser-test-map/package.json
  package.json
  pnpm-lock.yaml
  samples/cors/ts/package.json
  sdk/apimanagement/api-management-custom-widgets-scaffolder/package.json
  sdk/core/core-rest-pipeline-perf-tests/package.json
  sdk/test-utils/recorder/package.json
  sdk/web-pubsub/web-pubsub-client-protobuf/package.json
Labels: EngSys, Azure.Core, eslint plugin, dev-tool, WebPubSub, test-utils

#35795 docs(loadtesting): date change in changelog
  sdk/loadtesting/create-playwright/CHANGELOG.md
  sdk/loadtesting/playwright/CHANGELOG.md
Labels: Azure Load Testing

#35796 fix(loadtesting): updated version in samples
  sdk/loadtesting/playwright/samples/v1/javascript/customising-service-parameters/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/package.json
  sdk/loadtesting/playwright/samples/v1/javascript/using-connect-options/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/customising-service-parameters/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/manually-connecting-to-browsers/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/set-default-authentication-mechanism/package.json
  sdk/loadtesting/playwright/samples/v1/typescript/using-connect-options/package.json
Labels: Azure Load Testing

#35793 Sofiar/mark in release 1.5.0
  sdk/communication/communication-phone-numbers/CHANGELOG.md
Labels: Communication - Phone Numbers

#35806 fix(loadtesting): updated command
  sdk/loadtesting/create-playwright/README.md
  sdk/loadtesting/playwright/README.md
  sdk/loadtesting/playwright/samples/v1/javascript/manually-connecting-to-browsers/README.md
  sdk/loadtesting/playwright/samples/v1/javascript/set-default-authentication-mechanism/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/manually-connecting-to-browsers/README.md
  sdk/loadtesting/playwright/samples/v1/typescript/set-default-authentication-mechanism/README.md
Labels: Azure Load Testing

#35803 [CODEOWNERS] Messaging ownership transfer
  .github/CODEOWNERS
Labels: EngSys, Client

#35811 Sync eng/common directory with azure-sdk-tools for PR 11896
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys
