Repository Azure/azure-sdk-for-js, pull requests merged in 2025-03, with the labels that each got.

#33253 Sync eng/common directory with azure-sdk-tools for PR 9950
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#33236 [core-sse] Make sample isomorphic
  sdk/core/core-sse/package.json
  sdk/core/core-sse/samples-dev/createSseStream.ts
  sdk/core/core-sse/samples/v2/javascript/README.md
  sdk/core/core-sse/samples/v2/javascript/createSseStream.js
  sdk/core/core-sse/samples/v2/javascript/package.json
  sdk/core/core-sse/samples/v2/typescript/README.md
  sdk/core/core-sse/samples/v2/typescript/package.json
  sdk/core/core-sse/samples/v2/typescript/src/createSseStream.ts
  sdk/core/core-sse/samples/v2/typescript/tsconfig.json
  sdk/core/core-sse/tsconfig.samples.json
Labels: Azure.Core

#33255 [mgmt] update chagnelog date to trigger pipeline
  sdk/databasewatcher/arm-databasewatcher/CHANGELOG.md
Labels: customer-reported, Mgmt, Community Contribution

#33257 Update ci.mgmt.yml
  sdk/databasewatcher/ci.mgmt.yml
Labels: Mgmt

#33250 [dev-tool] Work around two minor issues
  common/tools/dev-tool/jsconfig.json
  common/tools/dev-tool/register.js
Labels: dev-tool

#33248 [remoterendering] Migrate remoterendering projects to use snippets extraction
  sdk/remoterendering/mixed-reality-remote-rendering/README.md
  sdk/remoterendering/mixed-reality-remote-rendering/package.json
  sdk/remoterendering/mixed-reality-remote-rendering/test/snippets.spec.ts
  sdk/remoterendering/mixed-reality-remote-rendering/tsconfig.json
  sdk/remoterendering/mixed-reality-remote-rendering/vitest.browser.config.ts
  sdk/remoterendering/mixed-reality-remote-rendering/vitest.config.ts
  sdk/remoterendering/mixed-reality-remote-rendering/vitest.esm.config.ts
Labels: Remote Rendering

#33269 Sync eng/common directory with azure-sdk-tools for PR 9955
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#33270 Sync eng/common directory with azure-sdk-tools for PR 9945
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#33268 [eslint-plugin-azure-sdk] Upgrade @typescript-eslint/* to 8.26.0
  common/config/rush/pnpm-lock.yaml
  common/tools/dev-tool/package.json
  common/tools/eslint-plugin-azure-sdk/package.json
  common/tools/vite-plugin-browser-test-map/package.json
Labels: EngSys, eslint plugin, dev-tool

#33275 Sync eng/common directory with azure-sdk-tools for PR 9963
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#33151 [core-client] Check response body for error details even without default body mapper
  sdk/core/core-client/src/deserializationPolicy.ts
  sdk/core/core-client/test/deserializationPolicy.spec.ts
Labels: Azure.Core

#33283 Sync eng/common directory with azure-sdk-tools for PR 9982
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#33285 [core] prepare for March 2025 releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-xml/CHANGELOG.md
Labels: Azure.Core

#33277 Sync eng/common directory with azure-sdk-tools for PR 9918
  eng/common/scripts/job-matrix/pullrequest-faq.md
Labels: EngSys, Central-EngSys

#33280 [ai-translation-document] Update test and recording
  sdk/translation/ai-translation-document-rest/assets.json
  sdk/translation/ai-translation-document-rest/test/public/getSupportedFormatsTest.spec.ts
  sdk/translation/ai-translation-document-rest/test/public/node/documentTranslationTest.spec.ts
Labels: Cognitive - Translator

#33246 Sync eng/common directory with azure-sdk-tools for PR 9943
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#33125 [Communication][Rooms] Add Collaborator role to room participant roles
  sdk/communication/communication-rooms/CHANGELOG.md
  sdk/communication/communication-rooms/README.md
  sdk/communication/communication-rooms/assets.json
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/review/communication-rooms.api.md
  sdk/communication/communication-rooms/samples/v1/javascript/package.json
  sdk/communication/communication-rooms/samples/v1/javascript/participantOperations.js
  sdk/communication/communication-rooms/samples/v1/javascript/roomOperations.js
  sdk/communication/communication-rooms/samples/v1/typescript/package.json
  sdk/communication/communication-rooms/samples/v1/typescript/src/participantOperations.ts
  sdk/communication/communication-rooms/samples/v1/typescript/src/roomOperations.ts
  sdk/communication/communication-rooms/samples/v1/typescript/tsconfig.json
  sdk/communication/communication-rooms/src/generated/src/models/index.ts
  sdk/communication/communication-rooms/src/generated/src/models/mappers.ts
  sdk/communication/communication-rooms/src/generated/src/models/parameters.ts
  sdk/communication/communication-rooms/src/generated/src/roomsRestClient.ts
  sdk/communication/communication-rooms/src/generated/src/tracing.ts
  sdk/communication/communication-rooms/src/models/models.ts
  sdk/communication/communication-rooms/swagger/README.md
  sdk/communication/communication-rooms/test/public/roomsClient.spec.ts
  sdk/communication/communication-rooms/test/public/utils/recordedClient.ts
Labels: Communication - Rooms

#33295 Remove UsernamePasswordCredential references
  sdk/identity/identity/README.md
  sdk/identity/identity/samples/AzureIdentityExamples.md
Labels: Azure.Identity

#33306 Remove username and password env vars from README
  sdk/identity/identity/README.md
Labels: Azure.Identity

#33142 Fix/client side encryption and query-pipeline
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ClientSideEncryption.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForEpkRange.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/ChangeFeedForPartitionKey.ts
  sdk/cosmosdb/cosmos/src/client/ChangeFeed/changeFeedUtils.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionOptions.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionItemQueryIterator.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/AzureKeyVaultEncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/EncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionManager.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionPolicy.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionProcessor.ts
  sdk/cosmosdb/cosmos/src/encryption/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/queryExecutionContext/parallelQueryExecutionContextBase.ts
  sdk/cosmosdb/cosmos/src/queryIterator.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/ProtectedDataEncryptionKeyCache.spec.ts
  sdk/cosmosdb/cosmos/test/public/common/encryptionTestHelpers.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/changeFeedIterator.spec.ts
Labels: Cosmos

#32778 Added more test case for merge
  sdk/cosmosdb/cosmos/test/internal/unit/partitionMerge.spec.ts
Labels: Cosmos

#33299 Post release automated changes for core releases
  sdk/core/core-amqp/CHANGELOG.md
  sdk/core/core-amqp/package.json
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/package.json
  sdk/core/core-client/CHANGELOG.md
  sdk/core/core-client/package.json
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/package.json
  sdk/core/core-rest-pipeline/src/constants.ts
  sdk/core/core-xml/CHANGELOG.md
  sdk/core/core-xml/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
Labels: Azure.Core

#33309 [keyvault] Prepare for March releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#33098 Unskipped tests cases enhancing pipeline
  sdk/cosmosdb/cosmos/test/public/functional/NonStreamingQueryPolicy.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregateQuery.spec.ts
  sdk/cosmosdb/cosmos/test/public/integration/aggregates/groupBy.spec.ts
Labels: Cosmos

#33307 [ServiceBus] fix management client for browser
  sdk/servicebus/service-bus/src/core/managementClient.ts
Labels: Service Bus

#33282 [Cosmos] Throughput bucketing support
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosClientOptions.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/request/SharedOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/public/functional/throughput.spec.ts
  sdk/cosmosdb/cosmos/tsconfig.strict.json
Labels: Cosmos

#33287 [core] address warning with typescript 5.8
  sdk/core/core-rest-pipeline/src/util/inspect.common.ts
  sdk/core/ts-http-runtime/src/util/inspect.common.ts
Labels: Azure.Core

#33318 Sync eng/common directory with azure-sdk-tools for PR 10013
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#33317 [@azure/cosmos] 4.3.0 Update CHANGELOG, README, SDKVersion
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/README.md
  sdk/cosmosdb/cosmos/package.json
  sdk/cosmosdb/cosmos/src/common/constants.ts
Labels: Cosmos

#33319 [ServiceBus][Test] fix browser test
  sdk/servicebus/service-bus/vitest.browser.config.ts
Labels: Service Bus

#33312 [identity] Username password credential deprecation tags to class level
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/usernamePasswordCredential-browser.mts
  sdk/identity/identity/src/credentials/usernamePasswordCredential.ts
  sdk/identity/identity/src/credentials/usernamePasswordCredentialOptions.ts
Labels: Azure.Identity

#33327 [Identity] Run prepare release script for March
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#33313 [App Config] Skip flaky tests in live mode
  sdk/appconfiguration/app-configuration/test/public/index.readonlytests.spec.ts
  sdk/appconfiguration/app-configuration/test/public/index.spec.ts
  sdk/appconfiguration/app-configuration/test/public/snapshot.spec.ts
Labels: App Configuration

#33323 [keyvault] Remove swagger files
  sdk/keyvault/generate.js
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/swagger/README.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/swagger/README.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/swagger/README.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/swagger/README.md
Labels: KeyVault

#33314 [Language Authoring] Update Readme and package.json
  sdk/cognitivelanguage/ai-language-textauthoring/README.md
  sdk/cognitivelanguage/ai-language-textauthoring/package.json
Labels: Cognitive - Language

#33320 [engSys] Use common OIDC token env vars for live tests
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests-isolated.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/identity/identity/tests.yml
  sdk/identity/test-resources-post.ps1
  sdk/keyvault/keyvault-admin/tests.yml
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/test-resources-post.ps1
Labels: Azure.Identity

#33337 Cosmosdb/4.3.0 fix
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyDefinition.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyRequest.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyResponse.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
Labels: Cosmos

#33338 Sync eng/common directory with azure-sdk-tools for PR 9993
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#33343 [App Config] Prepare release script
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#33345 Post release automated changes for identity releases
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/package.json
  sdk/identity/identity/src/constants.ts
Labels: Azure.Identity

#33351 Sync eng/common directory with azure-sdk-tools for PR 10030
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#33364 Sync eng/common directory with azure-sdk-tools for PR 10028
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#33341 [core] Support NodeJS stream cancellation
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/review/core-sse.api.md
  sdk/core/core-sse/src/index.ts
  sdk/core/core-sse/src/models.ts
  sdk/core/core-sse/src/sse.ts
  sdk/core/core-sse/src/utils.ts
  sdk/core/core-sse/test/public/node/connection.spec.ts
  sdk/core/core-sse/test/public/node/util.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/client/common.ts
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/interfaces.ts
  sdk/core/ts-http-runtime/src/nodeHttpClient.ts
Labels: Azure.Core

#33377 Revert "[core] Support NodeJS stream cancellation (#33341)"
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-rest-pipeline/CHANGELOG.md
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/index.ts
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/core-rest-pipeline/src/nodeHttpClient.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/review/core-sse.api.md
  sdk/core/core-sse/src/index.ts
  sdk/core/core-sse/src/models.ts
  sdk/core/core-sse/src/sse.ts
  sdk/core/core-sse/src/utils.ts
  sdk/core/core-sse/test/public/node/connection.spec.ts
  sdk/core/core-sse/test/public/node/util.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/client/common.ts
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/interfaces.ts
  sdk/core/ts-http-runtime/src/nodeHttpClient.ts
Labels: Azure.Core

#33344 Sync eng/common directory with azure-sdk-tools for PR 10027
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#33369 [Recorder] Exclude Origin header
  eng/tools/rush-runner/src/helpers.js
  sdk/test-utils/recorder/CHANGELOG.md
  sdk/test-utils/recorder/src/recorder.ts
Labels: test-utils

#33291 [copilot] Improve GH copilot for JS
  .github/copilot-instructions.md
Labels: KeyVault, Azure.Core

#33371 Sync eng/common directory with azure-sdk-tools for PR 10039
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#33382 Sync eng/common directory with azure-sdk-tools for PR 10041
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#33331 Update file share API according to review comments
  sdk/storage/storage-file-share/review/storage-file-share.api.md
  sdk/storage/storage-file-share/src/Clients.ts
  sdk/storage/storage-file-share/src/FileDownloadResponse.ts
  sdk/storage/storage-file-share/src/generatedModels.ts
  sdk/storage/storage-file-share/src/models.ts
  sdk/storage/storage-file-share/test/directoryclient.spec.ts
  sdk/storage/storage-file-share/test/fileclient.spec.ts
Labels: Storage

#33387 Update changelog for 2025 mar release
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-geolocation-rest/swagger/README.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/swagger/README.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/package.json
  sdk/maps/maps-search-rest/swagger/README.md
Labels: Maps

#33358 Added new communication identifier for OPS
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/identifierModelSerializer.ts
  sdk/communication/communication-common/src/identifierModels.ts
  sdk/communication/communication-common/test/public/identifierModelSerializer.spec.ts
  sdk/communication/communication-common/test/public/identifierModels.spec.ts
Labels: Communication - Common

#33368 [core] Clarify ProxySettings ref doc to require protocol in host address
  sdk/core/core-rest-pipeline/src/interfaces.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/src/interfaces.ts
Labels: Azure.Core

#33392 Sync eng/common directory with azure-sdk-tools for PR 10046
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#33384 Sync eng/common directory with azure-sdk-tools for PR 10045
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#33394 [openai] Update samples
  sdk/openai/openai/package.json
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples/v2-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletionsWithStructuredOutput.js
  sdk/openai/openai/samples/v2-beta/javascript/codeInterpreter.js
  sdk/openai/openai/samples/v2-beta/javascript/onYourData.js
  sdk/openai/openai/samples/v2-beta/javascript/package.json
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/typescript/package.json
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/codeInterpreter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/onYourData.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/scripts/fixSamples.mjs
  sdk/openai/openai/scripts/fixSnippets.mjs
Labels: OpenAI

#33363 [core-lro] Support path rewriting
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/package.json
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/src/http/utils.ts
  sdk/core/core-lro/test/internal/rewriteUrl.spec.ts
  sdk/core/core-lro/test/public/lro.spec.ts
  sdk/core/core-lro/test/utils/router.ts
  sdk/core/core-lro/test/utils/utils.ts
Labels: Azure.Core

#33397 Sync .github/workflows directory with azure-sdk-tools for PR 10054
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#33152 Azure App Configuration - Advertise @azure/configuration-provider in README
  sdk/appconfiguration/app-configuration/README.md
Labels: App Configuration

#32948 Remove Matrix and 400 error ignoring from chatCompletions
  sdk/openai/openai/.gitignore
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/snippets.spec.ts
  sdk/openai/openai/test/utils/asserts.ts
  sdk/openai/openai/test/utils/setup.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#33389 Post release automated changes for maps releases
  sdk/maps/maps-geolocation-rest/CHANGELOG.md
  sdk/maps/maps-geolocation-rest/package.json
  sdk/maps/maps-geolocation-rest/swagger/README.md
  sdk/maps/maps-render-rest/CHANGELOG.md
  sdk/maps/maps-render-rest/package.json
  sdk/maps/maps-render-rest/swagger/README.md
  sdk/maps/maps-route-rest/CHANGELOG.md
  sdk/maps/maps-route-rest/package.json
  sdk/maps/maps-route-rest/swagger/README.md
  sdk/maps/maps-search-rest/CHANGELOG.md
  sdk/maps/maps-search-rest/package.json
  sdk/maps/maps-search-rest/swagger/README.md
Labels: Maps

#33355 Cosmosdb/4.3.0-fixes
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ClientSideEncryption.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/src/ClientContext.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/CosmosDiagnostics.ts
  sdk/cosmosdb/cosmos/src/client/Container/Container.ts
  sdk/cosmosdb/cosmos/src/client/Container/Containers.ts
  sdk/cosmosdb/cosmos/src/client/Database/Database.ts
  sdk/cosmosdb/cosmos/src/client/Database/Databases.ts
  sdk/cosmosdb/cosmos/src/client/Item/Item.ts
  sdk/cosmosdb/cosmos/src/client/Item/Items.ts
  sdk/cosmosdb/cosmos/src/common/constants.ts
  sdk/cosmosdb/cosmos/src/common/helper.ts
  sdk/cosmosdb/cosmos/src/encryption/Cache/ProtectedDataEncryptionKeyCache.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionIncludedPath.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionKey/ClientEncryptionKeyProperties.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionOptions.ts
  sdk/cosmosdb/cosmos/src/encryption/ClientEncryptionPolicy.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/AzureKeyVaultEncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyResolver/EncryptionKeyResolver.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyStoreProvider.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionKeyWrapMetadata.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionManager.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionProcessor.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionTimeToLive.ts
  sdk/cosmosdb/cosmos/src/encryption/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/src/request/RequestOptions.ts
  sdk/cosmosdb/cosmos/src/request/request.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/ClientEncryptionKeyPropertiesCache.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/EncryptionSettingsCache.spec.ts
  sdk/cosmosdb/cosmos/test/internal/unit/getHeader.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/item/item.spec.ts
Labels: Cosmos

#33409 Revert queryIterator constructor marked as internal
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/src/queryIterator.ts
Labels: Cosmos

#33361 Post release automated changes for appconfiguration releases
  sdk/appconfiguration/app-configuration/CHANGELOG.md
  sdk/appconfiguration/app-configuration/package.json
  sdk/appconfiguration/app-configuration/src/generated/src/appConfiguration.ts
  sdk/appconfiguration/app-configuration/src/internal/constants.ts
  sdk/appconfiguration/app-configuration/swagger/swagger.md
Labels: App Configuration

#33404 [openai] Automatic resource discovery in tests
  common/config/rush/pnpm-lock.yaml
  sdk/openai/openai/.gitignore
  sdk/openai/openai/package.json
  sdk/openai/openai/test/public/chatCompletions.spec.ts
  sdk/openai/openai/test/public/completions.spec.ts
  sdk/openai/openai/test/sample.env
  sdk/openai/openai/test/utils/asserts.ts
  sdk/openai/openai/test/utils/createClients.ts
  sdk/openai/openai/test/utils/envVars.ts
  sdk/openai/openai/test/utils/injectables.ts
  sdk/openai/openai/test/utils/models.ts
  sdk/openai/openai/test/utils/setup.ts
  sdk/openai/openai/test/utils/types.ts
  sdk/openai/openai/test/utils/utils.ts
  sdk/openai/openai/tests.yml
Labels: OpenAI

#33393 [core-rest-pipeline] remove `[custom]` from RestError members
  sdk/core/core-rest-pipeline/review/core-rest-pipeline.api.md
  sdk/core/core-rest-pipeline/src/restError.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/restError.ts
Labels: Azure.Core

#33416 [Communication][Rooms] Update commit id for API spec for collaborator feature
  sdk/communication/communication-rooms/assets.json
  sdk/communication/communication-rooms/swagger/README.md
Labels: Communication - Rooms

#33414 [dev-tool] fix `migrate-package` to not format empty test directory
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#33422 Bump API version and package version for STG97 features
  sdk/storage/storage-blob/CHANGELOG.md
  sdk/storage/storage-blob/package.json
  sdk/storage/storage-blob/src/generated/src/models/parameters.ts
  sdk/storage/storage-blob/src/generated/src/storageClient.ts
  sdk/storage/storage-blob/src/utils/constants.ts
  sdk/storage/storage-blob/swagger/README.md
  sdk/storage/storage-file-datalake/CHANGELOG.md
  sdk/storage/storage-file-datalake/package.json
  sdk/storage/storage-file-datalake/src/generated/src/models/parameters.ts
  sdk/storage/storage-file-datalake/src/generated/src/storageClient.ts
  sdk/storage/storage-file-datalake/src/utils/constants.ts
  sdk/storage/storage-file-datalake/swagger/README.md
  sdk/storage/storage-file-share/CHANGELOG.md
  sdk/storage/storage-file-share/package.json
  sdk/storage/storage-file-share/src/generated/src/storageClient.ts
  sdk/storage/storage-file-share/src/utils/constants.ts
  sdk/storage/storage-file-share/swagger/README.md
  sdk/storage/storage-queue/CHANGELOG.md
  sdk/storage/storage-queue/package.json
  sdk/storage/storage-queue/src/generated/src/models/parameters.ts
  sdk/storage/storage-queue/src/generated/src/storageClient.ts
  sdk/storage/storage-queue/src/utils/constants.ts
  sdk/storage/storage-queue/swagger/README.md
Labels: Storage

#33426 [@azure/cosmos] Change EncryptionQueryBuilder signature
  sdk/cosmosdb/cosmos/CHANGELOG.md
  sdk/cosmosdb/cosmos/review/cosmos.api.md
  sdk/cosmosdb/cosmos/samples-dev/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/samples/v4/javascript/ClientSideEncryption.js
  sdk/cosmosdb/cosmos/samples/v4/typescript/src/ClientSideEncryption.ts
  sdk/cosmosdb/cosmos/src/CosmosClient.ts
  sdk/cosmosdb/cosmos/src/encryption/CosmosEncryptedNumber.ts
  sdk/cosmosdb/cosmos/src/encryption/EncryptionQueryBuilder.ts
  sdk/cosmosdb/cosmos/src/encryption/index.ts
  sdk/cosmosdb/cosmos/src/index.ts
  sdk/cosmosdb/cosmos/test/internal/unit/encryption/EncryptionQueryBuilder.spec.ts
  sdk/cosmosdb/cosmos/test/public/functional/clientSideEncryption.spec.ts
Labels: Cosmos

#33245 [doc] fix broken link to purview catalog
  documentation/Quickstart-on-how-to-write-tests.md
  sdk/purview/purview-administration-rest/README.md
Labels: Purview

#33421 [EngSys] clean up some dev dependencies
  common/tools/eslint-plugin-azure-sdk/package.json
  sdk/databasewatcher/arm-databasewatcher/package.json
  sdk/deviceregistry/arm-deviceregistry/package.json
  sdk/impactreporting/arm-impactreporting/package.json
Labels: Mgmt, eslint plugin

#33256 Add platform id to feedback template
  .github/ISSUE_TEMPLATE/z-learn-feedback.yml
Labels: Docs

#33402 [core-rest-pipeline] add a test for pipeline response shape
  sdk/core/core-rest-pipeline/test/pipeline.spec.ts
Labels: Azure.Core

#33432 [Communication][Rooms] Downgrade communication-common to latest released version
  sdk/communication/communication-rooms/assets.json
  sdk/communication/communication-rooms/package.json
Labels: Communication - Rooms

#33385 [core] Support NodeJS Stream cancellation - v2
  sdk/core/core-client-rest/CHANGELOG.md
  sdk/core/core-client-rest/review/core-client.api.md
  sdk/core/core-client-rest/src/common.ts
  sdk/core/core-sse/CHANGELOG.md
  sdk/core/core-sse/review/core-sse.api.md
  sdk/core/core-sse/src/index.ts
  sdk/core/core-sse/src/models.ts
  sdk/core/core-sse/src/sse.ts
  sdk/core/core-sse/src/utils.ts
  sdk/core/core-sse/test/public/node/connection.spec.ts
  sdk/core/core-sse/test/public/node/util.ts
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
Labels: Azure.Core

#33433 [eslint-plugin] enable the eslint `no-param-reassign` rule with warn level
  common/tools/eslint-plugin-azure-sdk/src/configs/eslint-customized.ts
Labels: eslint plugin

#33419 [playwrighttesting] Migrate playwrighttesting projects to ESM/vitest
  common/config/rush/pnpm-lock.yaml
  sdk/playwrighttesting/microsoft-playwright-testing/api-extractor.json
  sdk/playwrighttesting/microsoft-playwright-testing/package.json
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/customising-service-parameters/playwright.service.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/manually-connecting-to-browsers/global-setup.ts
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/manually-connecting-to-browsers/global-teardown.ts
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/manually-connecting-to-browsers/playwright.service.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/set-default-authentication-mechanism/playwright.service.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/using-connect-options/global-teardown.ts
  sdk/playwrighttesting/microsoft-playwright-testing/samples/v1/typescript/using-connect-options/playwright.service.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/constants.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/entraIdAccessToken.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/environmentVariables.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/executor.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/httpService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/playwrightServiceConfig.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/common/types.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/global/playwright-service-global-setup.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/global/playwright-service-global-teardown.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightService.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightServiceEntra.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightServiceUtils-cjs.cts
  sdk/playwrighttesting/microsoft-playwright-testing/src/core/playwrightServiceUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/index.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/testResult.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/model/testRun.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/index.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/reporter/mptReporter.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/getPlaywrightVersion.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/packageManager.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/parseJwt.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/reporterUtils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/serviceClient.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/storageClient.ts
  sdk/playwrighttesting/microsoft-playwright-testing/src/utils/utils.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/common/entraIdAccessToken.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/common/playwrightServiceConfig.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightService.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/core/playwrightServiceEntra.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/snippets.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/clInfoProvider.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/packageManager.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/reporterUtils.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/test/utils/utils.spec.ts
  sdk/playwrighttesting/microsoft-playwright-testing/tsconfig.browser.config.json
  sdk/playwrighttesting/microsoft-playwright-testing/tsconfig.json
  sdk/playwrighttesting/microsoft-playwright-testing/tsconfig.samples.json
  sdk/playwrighttesting/microsoft-playwright-testing/tsconfig.src.json
  sdk/playwrighttesting/microsoft-playwright-testing/tsconfig.test.json
  sdk/playwrighttesting/microsoft-playwright-testing/vitest.browser.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/vitest.config.ts
  sdk/playwrighttesting/microsoft-playwright-testing/vitest.esm.config.ts
Labels: Microsoft Playwright Testing

#33435 Sync eng/common directory with azure-sdk-tools for PR 10081
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#33453 Post release automated changes for keyvault releases
  sdk/keyvault/keyvault-admin/CHANGELOG.md
  sdk/keyvault/keyvault-admin/package.json
  sdk/keyvault/keyvault-admin/src/constants.ts
  sdk/keyvault/keyvault-certificates/CHANGELOG.md
  sdk/keyvault/keyvault-certificates/package.json
  sdk/keyvault/keyvault-certificates/src/constants.ts
  sdk/keyvault/keyvault-keys/CHANGELOG.md
  sdk/keyvault/keyvault-keys/package.json
  sdk/keyvault/keyvault-keys/src/constants.ts
  sdk/keyvault/keyvault-secrets/CHANGELOG.md
  sdk/keyvault/keyvault-secrets/package.json
  sdk/keyvault/keyvault-secrets/src/constants.ts
Labels: KeyVault

#33452 [template] Update template perf tests to top level
  rush.json
  sdk/template/perf-tests/template/package.json
  sdk/template/perf-tests/template/tsconfig.json
  sdk/template/template-perf-tests/README.md
  sdk/template/template-perf-tests/package.json
  sdk/template/template-perf-tests/sample.env
  sdk/template/template-perf-tests/src/getConfigurationSetting.spec.ts
  sdk/template/template-perf-tests/src/index.ts
  sdk/template/template-perf-tests/src/templateBase.spec.ts
  sdk/template/template-perf-tests/tsconfig.json
  sdk/template/template-perf-tests/tsconfig.src.json
Labels: EngSys

#33403 [Migration tool] Do not remove subpath exports for modular package.json generation
  common/tools/dev-tool/src/commands/admin/migrate-package.ts
Labels: dev-tool

#33273 Synapse artifact new release 2025 March
  sdk/synapse/synapse-artifacts/CHANGELOG.md
  sdk/synapse/synapse-artifacts/README.md
  sdk/synapse/synapse-artifacts/package.json
  sdk/synapse/synapse-artifacts/review/synapse-artifacts.api.md
  sdk/synapse/synapse-artifacts/src/index.ts
  sdk/synapse/synapse-artifacts/src/models/index.ts
  sdk/synapse/synapse-artifacts/src/models/mappers.ts
  sdk/synapse/synapse-artifacts/src/tracing.ts
  sdk/synapse/synapse-artifacts/swagger/README.md
Labels: Synapse

#33478 Add Get-PackageInfoNameOverride function to Language-Settings
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#33484 Sync eng/common directory with azure-sdk-tools for PR 10096
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#33466 [doc] update perf tests GettingStarted guide
  sdk/test-utils/perf/GettingStarted.md
Labels: test-utils

#33485 Sync eng/common directory with azure-sdk-tools for PR 10100
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#33395 Update Triggering Paths
  eng/scripts/Language-Settings.ps1
  sdk/core/ci.yml
  sdk/eventgrid/ci.mgmt.yml
  sdk/identity/ci.yml
  sdk/resources/ci.mgmt.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
  sdk/textanalytics/ci.yml
Labels: EngSys, Mgmt, Service Bus, Storage, Azure.Identity, Azure.Core, Cognitive - Text Analytics

#33356 [ACS][Common][Alpha] Added a new auth credential for Teams Phone Extentions
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/.vscode/launch.json
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/README.md
  sdk/communication/communication-common/package.json
  sdk/communication/communication-common/review/communication-common.api.md
  sdk/communication/communication-common/src/azureCommunicationTokenCredential.ts
  sdk/communication/communication-common/src/entraTokenCredential.ts
  sdk/communication/communication-common/src/index.ts
  sdk/communication/communication-common/test/public/node/entraCommunicationTokenCredential.spec.ts
Labels: Communication - Common

#33443 [Communication][Rooms] Increment version manually and update codeowners
  .github/CODEOWNERS
  sdk/communication/communication-rooms/CHANGELOG.md
  sdk/communication/communication-rooms/package.json
  sdk/communication/communication-rooms/src/generated/src/roomsRestClient.ts
  sdk/communication/communication-rooms/src/generated/src/tracing.ts
  sdk/communication/communication-rooms/swagger/README.md
Labels: Communication - Rooms

#33513 [OpenAI] Update API version
  sdk/openai/openai/README.md
  sdk/openai/openai/samples-dev/audioTranscription.ts
  sdk/openai/openai/samples-dev/audioTranslation.ts
  sdk/openai/openai/samples-dev/batch.ts
  sdk/openai/openai/samples-dev/chatCompletions.ts
  sdk/openai/openai/samples-dev/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples-dev/codeInterpreter.ts
  sdk/openai/openai/samples-dev/completions.ts
  sdk/openai/openai/samples-dev/embeddings.ts
  sdk/openai/openai/samples-dev/images.ts
  sdk/openai/openai/samples-dev/onYourData.ts
  sdk/openai/openai/samples-dev/streamChatCompletions.ts
  sdk/openai/openai/samples-dev/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples-dev/streamCompletions.ts
  sdk/openai/openai/samples-dev/textToSpeech.ts
  sdk/openai/openai/samples-dev/toolCall.ts
  sdk/openai/openai/samples/v2-beta/javascript/audioTranscription.js
  sdk/openai/openai/samples/v2-beta/javascript/audioTranslation.js
  sdk/openai/openai/samples/v2-beta/javascript/batch.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/chatCompletionsWithStructuredOutput.js
  sdk/openai/openai/samples/v2-beta/javascript/codeInterpreter.js
  sdk/openai/openai/samples/v2-beta/javascript/completions.js
  sdk/openai/openai/samples/v2-beta/javascript/embeddings.js
  sdk/openai/openai/samples/v2-beta/javascript/images.js
  sdk/openai/openai/samples/v2-beta/javascript/onYourData.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/streamChatCompletionsWithContentFilter.js
  sdk/openai/openai/samples/v2-beta/javascript/streamCompletions.js
  sdk/openai/openai/samples/v2-beta/javascript/textToSpeech.js
  sdk/openai/openai/samples/v2-beta/javascript/toolCall.js
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranscription.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/audioTranslation.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/batch.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/chatCompletionsWithStructuredOutput.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/codeInterpreter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/completions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/embeddings.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/images.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/onYourData.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamChatCompletionsWithContentFilter.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/streamCompletions.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/textToSpeech.ts
  sdk/openai/openai/samples/v2-beta/typescript/src/toolCall.ts
  sdk/openai/openai/test/snippets.spec.ts
  sdk/openai/openai/test/utils/utils.ts
Labels: OpenAI

#33379 [ts-http-runtime] Add authentication schemes support
  sdk/core/ts-http-runtime/CHANGELOG.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/review/ts-http-runtime.api.md
  sdk/core/ts-http-runtime/src/abort-controller/AbortSignalLike.ts
  sdk/core/ts-http-runtime/src/accessTokenCache.ts
  sdk/core/ts-http-runtime/src/auth/credentials.ts
  sdk/core/ts-http-runtime/src/auth/keyCredential.ts
  sdk/core/ts-http-runtime/src/auth/oauth2Flows.ts
  sdk/core/ts-http-runtime/src/auth/schemes.ts
  sdk/core/ts-http-runtime/src/auth/tokenCredential.ts
  sdk/core/ts-http-runtime/src/client/clientHelpers.ts
  sdk/core/ts-http-runtime/src/client/common.ts
  sdk/core/ts-http-runtime/src/client/getClient.ts
  sdk/core/ts-http-runtime/src/client/keyCredentialAuthenticationPolicy.ts
  sdk/core/ts-http-runtime/src/constants.ts
  sdk/core/ts-http-runtime/src/index.ts
  sdk/core/ts-http-runtime/src/interfaces.ts
  sdk/core/ts-http-runtime/src/pipelineRequest.ts
  sdk/core/ts-http-runtime/src/policies/auth/apiKeyAuthenticationPolicy.ts
  sdk/core/ts-http-runtime/src/policies/auth/basicAuthenticationPolicy.ts
  sdk/core/ts-http-runtime/src/policies/auth/bearerAuthenticationPolicy.ts
  sdk/core/ts-http-runtime/src/policies/auth/checkInsecureConnection.ts
  sdk/core/ts-http-runtime/src/policies/auth/oauth2AuthenticationPolicy.ts
  sdk/core/ts-http-runtime/src/policies/bearerTokenAuthenticationPolicy.ts
  sdk/core/ts-http-runtime/src/util/aborterUtils.ts
  sdk/core/ts-http-runtime/src/util/helpers.ts
  sdk/core/ts-http-runtime/src/util/tokenCycler.ts
  sdk/core/ts-http-runtime/test/auth/credential.spec.ts
  sdk/core/ts-http-runtime/test/auth/keyCredential.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/apiKeyAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/basicAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/bearerAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/insecureConnection.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/oauth2AuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/bearerTokenAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/browser/fetchHttpClient.spec.ts
  sdk/core/ts-http-runtime/test/client/clientHelpers.spec.ts
  sdk/core/ts-http-runtime/test/node/bearerTokenAuthenticationPolicyChallenge.spec.ts
  sdk/core/ts-http-runtime/test/node/nodeHttpClient.spec.ts
  sdk/core/ts-http-runtime/test/util/aborterUtils.spec.ts
Labels: Azure.Core

#33286 [core-lro] Add support for `skipFinalGet`
  sdk/core/core-lro/CHANGELOG.md
  sdk/core/core-lro/review/core-lro.api.md
  sdk/core/core-lro/src/http/models.ts
  sdk/core/core-lro/src/http/operation.ts
  sdk/core/core-lro/src/http/poller.ts
  sdk/core/core-lro/test/public/lro.spec.ts
  sdk/core/core-lro/test/utils/router.ts
Labels: KeyVault, Azure.Core

#33525 Sync eng/common directory with azure-sdk-tools for PR 10129
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#33477 Sync eng/common directory with azure-sdk-tools for PR 10099
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#33531 [Text Analytics] Use safe secrets
  sdk/textanalytics/ai-text-analytics/package.json
  sdk/textanalytics/ai-text-analytics/samples-dev/alternativeDocumentInput.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/analyzeSentimentWithOpinionMining.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/authenticationMethods.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/beginAnalyzeActions.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-text-analytics/samples-dev/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/alternativeDocumentInput.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/analyzeSentiment.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/analyzeSentimentWithOpinionMining.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/authenticationMethods.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeActions.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/beginAnalyzeHealthcareEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/detectLanguage.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/extractKeyPhrases.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizeEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizeLinkedEntities.js
  sdk/textanalytics/ai-text-analytics/samples/v5/javascript/recognizePii.js
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/README.md
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/package.json
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/alternativeDocumentInput.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/analyzeSentiment.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/analyzeSentimentWithOpinionMining.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/authenticationMethods.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/beginAnalyzeActions.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/beginAnalyzeHealthcareEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/detectLanguage.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/extractKeyPhrases.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizeEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizeLinkedEntities.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/src/recognizePii.ts
  sdk/textanalytics/ai-text-analytics/samples/v5/typescript/tsconfig.json
  sdk/textanalytics/ai-text-analytics/test/README.md
  sdk/textanalytics/ai-text-analytics/test/public/textAnalyticsClient.spec.ts
  sdk/textanalytics/ai-text-analytics/test/public/utils/recordedClient.ts
  sdk/textanalytics/ai-text-analytics/test/sample.env
  sdk/textanalytics/ai-text-analytics/test/snippets.spec.ts
  sdk/textanalytics/ai-text-analytics/test/utils/constants.ts
  sdk/textanalytics/ai-text-analytics/test/utils/injectables.ts
  sdk/textanalytics/ai-text-analytics/test/utils/setup.ts
  sdk/textanalytics/ai-text-analytics/vitest.browser.config.ts
  sdk/textanalytics/ai-text-analytics/vitest.config.ts
  sdk/textanalytics/test-resources.bicep
Labels: Cognitive - Text Analytics

#33529 Verify npm tag handling
  eng/pipelines/templates/steps/npm-release-task.yml
  eng/scripts/verify-npm-tags.ps1
Labels: Central-EngSys

#33415 [keyvault] Fix live tests
  sdk/keyvault/keyvault-admin/vitest.esm.config.ts
  sdk/keyvault/keyvault-certificates/samples-dev/importCertificate.ts
  sdk/keyvault/keyvault-keys/samples-dev/cryptography.ts
  sdk/keyvault/keyvault-keys/tests.yml
  sdk/keyvault/test-resources-post.ps1
Labels: KeyVault

#33540 [ts-http-runtime] Insecure connection fix
  sdk/core/ts-http-runtime/CHANGELOG.md
  sdk/core/ts-http-runtime/package.json
  sdk/core/ts-http-runtime/review/azure-core-comparison.diff
  sdk/core/ts-http-runtime/src/client/clientHelpers.ts
  sdk/core/ts-http-runtime/src/constants.ts
  sdk/core/ts-http-runtime/src/policies/auth/checkInsecureConnection.ts
  sdk/core/ts-http-runtime/test/authPolicy/apiKeyAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/basicAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/bearerAuthenticationPolicy.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/insecureConnection.spec.ts
  sdk/core/ts-http-runtime/test/authPolicy/oauth2AuthenticationPolicy.spec.ts
Labels: Azure.Core

#33530 [test] use custom vitest reporter
  common/tools/dev-tool/vitest.config.mts
  common/tools/eslint-plugin-azure-sdk/vitest.config.ts
  eng/tools/rush-runner/vitest.config.mjs
  sdk/apimanagement/api-management-custom-widgets-tools/vitest.browser.config.ts
  sdk/eventhub/event-hubs/vitest.browser.config.ts
  sdk/test-utils/recorder/vitest.browser.config.ts
  sdk/test-utils/test-utils-vitest/vitest.browser.config.ts
  vitest.browser.base.config.ts
  vitest.browser.shared.config.ts
  vitest.shared.config.ts
Labels: Event Hubs, eslint plugin, dev-tool, test-utils

#33542 Sync eng/common directory with azure-sdk-tools for PR 10135
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#33541 In AzureCommunicationTokenCredential, use correct route and API version when calling ACS Auth token exchange API
  sdk/communication/communication-common/src/entraTokenCredential.ts
  sdk/communication/communication-common/test/public/node/entraCommunicationTokenCredential.spec.ts
Labels: Communication - Common

#31663 [dev-tool] add an option for extract-api command to include subpaths export APIs
  common/tools/dev-tool/src/commands/run/extract-api.ts
Labels: dev-tool

#33561 Sync eng/common directory with azure-sdk-tools for PR 10004
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#33558 Sync eng/common directory with azure-sdk-tools for PR 10145
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#33427 [mgmt] pineconevectordb release
  common/config/rush/pnpm-lock.yaml
  sdk/pineconevectordb/arm-pineconevectordb/CHANGELOG.md
  sdk/pineconevectordb/arm-pineconevectordb/LICENSE
  sdk/pineconevectordb/arm-pineconevectordb/README.md
  sdk/pineconevectordb/arm-pineconevectordb/eslint.config.mjs
  sdk/pineconevectordb/arm-pineconevectordb/package.json
  sdk/pineconevectordb/arm-pineconevectordb/review/arm-pineconevectordb-api-operations.api.md
  sdk/pineconevectordb/arm-pineconevectordb/review/arm-pineconevectordb-api-organizations.api.md
  sdk/pineconevectordb/arm-pineconevectordb/review/arm-pineconevectordb-api.api.md
  sdk/pineconevectordb/arm-pineconevectordb/review/arm-pineconevectordb-models.api.md
  sdk/pineconevectordb/arm-pineconevectordb/review/arm-pineconevectordb.api.md
  sdk/pineconevectordb/arm-pineconevectordb/samples-dev/operationsListSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples-dev/organizationsListByResourceGroupSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples-dev/organizationsListBySubscriptionSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/operationsListSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/organizationsCreateOrUpdateSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/organizationsDeleteSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/organizationsGetSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/organizationsListByResourceGroupSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/organizationsListBySubscriptionSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/organizationsUpdateSample.js
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/javascript/package.json
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/package.json
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/operationsListSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/organizationsCreateOrUpdateSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/organizationsDeleteSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/organizationsGetSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/organizationsListByResourceGroupSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/organizationsListBySubscriptionSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/src/organizationsUpdateSample.ts
  sdk/pineconevectordb/arm-pineconevectordb/samples/v1-beta/typescript/tsconfig.json
  sdk/pineconevectordb/arm-pineconevectordb/src/api/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/api/operations/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/api/operations/operations.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/api/operations/options.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/api/organizations/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/api/organizations/operations.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/api/organizations/options.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/classic/operations/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/classic/organizations/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/helpers/serializerHelpers.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/models/index.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/models/models.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/restorePollerHelpers.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/static-helpers/urlTemplate.ts
  sdk/pineconevectordb/arm-pineconevectordb/src/vectorDbClient.ts
  sdk/pineconevectordb/arm-pineconevectordb/tsp-location.yaml
  sdk/pineconevectordb/ci.mgmt.yml
Labels: Mgmt

#33578 [mgmt] update for hybridconnectivity
  sdk/hybridconnectivity/arm-hybridconnectivity/CHANGELOG.md
  sdk/hybridconnectivity/arm-hybridconnectivity/tsp-location.yaml
Labels: Mgmt

#33553 Creating 2.3.2-beta.1 version release
  common/config/rush/pnpm-lock.yaml
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication - Common

#33592 Post release automated changes for communication releases
  sdk/communication/communication-common/CHANGELOG.md
  sdk/communication/communication-common/package.json
Labels: Communication - Common

#33413 [Identity] Deprecate VSCodeCredential
  sdk/identity/identity-vscode/README.md
  sdk/identity/identity/CHANGELOG.md
  sdk/identity/identity/README.md
  sdk/identity/identity/TROUBLESHOOTING.md
  sdk/identity/identity/review/identity.api.md
  sdk/identity/identity/src/credentials/visualStudioCodeCredential-browser.mts
  sdk/identity/identity/src/credentials/visualStudioCodeCredential.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredentialOptions.ts
  sdk/identity/identity/src/credentials/visualStudioCodeCredentialPlugin.ts
Labels: Azure.Identity

#33560 Sync eng/common directory with azure-sdk-tools for PR 10134
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Labels: EngSys, Central-EngSys
